﻿@model SEMP.Model.DTO.CBAcaoDTO

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm("Create", "CapacLinha", FormMethod.Post, new { @class = "form-inline", @role = "form", @name = "frmOrigem", id = "frmOrigem" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(model => model.Descricao)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Descricao)
        @Html.ValidationMessageFor(model => model.Descricao)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Tipo)
    </div>
    <div class="editor-field">
        @*@Html.TextBoxFor(model => model.Tipo)*@
        <select name="Tipo" id="Tipo" style="width: 130px;">
            @foreach (var item in (List<string>)@ViewBag.ListaTipo)
            {
                <option value="@item">@item</option>
            }
        </select>

        @Html.ValidationMessageFor(model => model.Tipo)
    </div>
    
    <div class="editor-label">
        @Html.LabelFor(model => model.FlgAtivo)
    @*</div>
    <div class="editor-field">*@
        @Html.CheckBoxFor(model => model.FlgAtivo.Value)
        @Html.ValidationMessageFor(model => model.FlgAtivo)
    </div>
    
    <div class="row" style="text-align:center; margin-top:5%;">
        <div class="form-group">
		    <div style="margin-top: 10px; margin-right: 10px; display: inline-block;">
			    @Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
		    </div>
		    <div style="display: inline-block;">
			    <input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
		    </div>
	    </div>     
    </div>
}

<script>

    function gravar() {
        $.ajax({
            type: "POST",
            url: "/Acao/Create/",
            data: $("#frmOrigem").serialize(),
            dataType: "json",
            success: function (json) {
                if (json.retorno == true) {
                    alert("Ação inserida com sucesso.");
                } else {
                    alert(json.message);
                }
            },
            error: function (xhr) {
                alert("Não foi possível adicionar: " + xhr);
            }
        });
    }

</script>
