﻿@model SEMP.Model.DTO.CBAcaoDTO

@{
    ViewBag.Title = "Delete";
}

<h4>Tem certeza de que deseja remover esse registro?</h4>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CodAcao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CodAcao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tipo)
    </div>
    @using (Html.BeginForm())
    {

        @Html.HiddenFor(model => model.CodAcao)
        @Html.HiddenFor(model => model.Descricao)
        @Html.HiddenFor(model => model.Tipo)
         
		@Html.AntiForgeryToken()

		<div class="form-actions no-color" style="margin-top: 10px;">
			<div style="margin-top: 10px; display: inline-block;">
				@Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
			</div>
			<div style="display: inline-block;">
				<input type="submit" value="Apagar" class="bttn bttn-sm bttn-red" />
			</div>
		</div>
     }
