﻿@model IEnumerable<SEMP.Model.DTO.CBAcaoDTO>

@{
	ViewBag.Title = "Listagem de Ação";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Cadastro de Ação";

	var mesAtual = DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).ToString("MM/yyyy");

}

@Scripts.Render("~/bundles/excelexport")

<h3>@ViewBag.Title</h3>

<div id="dialog-edit" style="display: none; top: 10px;"></div>

<form name="frmRelatorio" action="/Coleta/Acao/" method="POST" style="padding-left: 15px;">
	<div>
		<div class="col-xs-6" style="width: 16.5%;">
			<label>Descrição</label>
			<input type="text" name="codLinha" id="codLinha"/>
		</div>
		<div class="col-xs-6">
			<label>Tipo</label>
			<input type="text" name="codModelo" id="codModelo"/>
		</div>

        <div class="col-xs-9">
            <input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
			<input type="button" name="btnNovo" id="btnNovo" value="Novo" class="bttn bttn-sm bttn-red" />
			<input type="submit" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red"/>
        </div>
	</div>

</form>

<table class="table-semp" id="tblDados">
	<thead>
		<tr>
			<th style="width: 100px;"></th>
			<th style="">@Html.DisplayNameFor(model => model.CodAcao)</th>
			<th style="">@Html.DisplayNameFor(model => model.Descricao)</th>
			<th>@Html.DisplayNameFor(model => model.Tipo)</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.ActionLink("Alterar", "Edit", new { id = item.CodAcao }, new { @class = "lnkEdit" }) |
				@Html.ActionLink("Apagar", "Delete", new { id = item.CodAcao }, new { @class = "lnkDelete" })
			</td>
			<td>@Html.DisplayFor(modelItem => item.CodAcao)</td>
			<td>@Html.DisplayFor(modelItem => item.Descricao)</td>
			<td>@Html.DisplayFor(modelItem => item.Tipo)</td>
		</tr>
	}
	</tbody>
</table>
<br /><br/>

<script>

    $(document).ready(function () {

        $("#btnExportar").click(function () {

            $("#tblDados").btechco_excelexport({
                containerid: "tblDados",
                datatype: $datatype.MVC
            });
        });

        var url = "";

        $("#dialog-edit").dialog({
            title: 'Editar Ação',
            autoOpen: false,
            resizable: false,
            width: 600,
            height: 300,
            top: 0,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            draggable: true,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                $(this).html("");
                $(this).load(url);
            }
        });

        $(".lnkEdit").on("click", function (e) {
            // e.preventDefault(); use this or return false
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Editar Ação");
            $("#dialog-edit").dialog('open');
            $("#dialog-edit").css("height", 300);

            return false;
        });

        $(".lnkDelete").on("click", function (e) {
            url = $(this).attr('href');
            $(".ui-dialog-title").html("Deletar Ação");
            $("#dialog-edit").dialog('open');
            $("#dialog-edit").css("height", 180);

            return false;
        });

        $("#btnNovo").on("click", function (e) {
            // e.preventDefault(); use this or return false
            url = "/Coleta/Acao/Create/";
            $(".ui-dialog-title").html("Nova Ação");
            $("#dialog-edit").dialog('open');

            return false;
        });

        $("#btnclose").on("click", function (e) {
            $("#dialog-edit").dialog("close");
            return false;
        });

    });

</script>