﻿@model SEMP.Model.DTO.CBRetrabalhoDTO

@{
	ViewBag.Title = "Novo Retrabalho";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Retrabalho";
}
@Scripts.Render("~/bundles/datatable")
@Styles.Render("~/Content/datatable")

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>

</html>

<body>
@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<div class="editor-label">
		<h4>
			Código do Retrabalho
		</h4>		
	</div>

	<div class="editor-field">
		<h4>
			@ViewBag.CodRetrabalho
		</h4>
	</div>

	<div class="editor-label">
		<h4>
			Descrição / Justificativa do Retrabalho
		</h4>		
	</div>

	<div class="editor-multiline-field">
		@Html.TextAreaFor(model => model.Justificativa, new { htmlAttributes = new { style = "width: 400px;" } })
		@Html.ValidationMessageFor(model => model.Justificativa)
	</div>     
	
}

<div>
	<h4>
		@Html.ActionLink("Back to List", "Index")
	</h4>	
</div>
</body>