﻿@model IEnumerable<SEMP.Model.DTO.CBRetrabalhoDTO>

@{
	ViewBag.Title = "Retrabalhos";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Retrabalho";

    var DatInicio = Request["DatInicio"];
    var DatFim = Request["DatFim"];

    if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
    if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
    
}
@Scripts.Render("~/bundles/datatable")
@Styles.Render("~/Content/datatable")

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>
<body>

	<h3>@ViewBag.Title</h3>

	<div id="dialog-div" style="display: none; top: 10px;"></div>

	<div style="margin-top:10px">
		<input type="button" name="btnNovoRetrabalho" id="btnNovoRetrabalho" value="Novo Retrabalho" class="bttn bttn-sm bttn-red"/>
	</div>

	<table class="table-semp smallrow" id="tblDados" style="margin-top:20px">
		<thead>
			<tr>				
				<th style="width: 50px;"></th>		
				<th style="width: 50px;">Código de Retrabalho</th>
				<th style="width: 100px;">Descrição</th>
				<th style="width: 100px;">Data</th>
				<th style="width: 100px;">Situação</th>
				<th style="width: 100px;">Quantidade</th>
				
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>					
					<td style="text-align: center; width: 50px;">@Html.ActionLink("Editar", "EditarRetrabalho", new {  id=item.CodRetrabalho  })</td>
					<td style="text-align: center; width: 50px;">@Html.DisplayFor(modelItem => item.CodRetrabalho)</td>
					<td style="text-align: center; width: 100px;">@Html.DisplayFor(modelItem => item.Justificativa)</td>
					<td style="text-align: center; width: 100px;">@Html.DisplayFor(modelItem => item.DatEvento)</td>
					@{
						string situacao = "";
						switch(item.Status)
						{
							case 0:
								situacao = "Em Aberto";
								break;

							case 1:
								situacao = "Em Andamento";
								break;

							case 2:
								situacao = "Finalizado";
								break;							
								
						}
					}					
					<td style="text-align: center; width: 100px;">@situacao</td>                    
					<td style="text-align: center; width: 100px;">@Html.DisplayFor(modelItem => item.Quantidade)</td>
					                   
				</tr>
			}
		</tbody>
	</table>

	<br />
	<br />

	<script>
		$(document).ready(function () {

			var url = "";

			$("#dialog-div").dialog({
				title: 'Novo Retrabalho',
				autoOpen: false,
				resizable: false,
				width: 600,
				height: 384,
				top: 0,
				show: { effect: 'drop', direction: "up" },
				modal: true,
				draggable: true,
				open: function (event, ui) {
					$(".ui-dialog-titlebar-close").hide();
					$(this).html("");
					$(this).load(url);
				}
			});

			$("#btnNovoRetrabalho").on("click", function (e) {
				// e.preventDefault(); use this or return false
				url = "/Coleta/Retrabalho/Create/";
				$(".ui-dialog-title").html("Novo Retrabalho");
				$("#dialog-div").dialog('open');

				return false;
			});

			$("#btnclose").on("click", function (e) {
				$("#dialog-div").dialog("close");
				return false;
			});

		});
	</script>
</body>
</html>