﻿@model IEnumerable<SEMP.Model.DTO.SIMRelatorioRetrabalhoDTO>

@{
    ViewBag.Title = "RelatorioRetrabalhoExterno";
}

	

	<h4>
		<div id="quantidade" style="margin-top: 10px">Total Retrabalhado: @Model.Count()</div>
	</h4>
	
	<table class="table-semp smallrow" id="tblDados" style="margin-top:20px">
		<thead>
			<tr>								
				<th style="width: 50px;">Número de Série</th>
				<th style="width: 100px;">Descrição item</th>
                <th style="width: 100px;">Código</th>
				<th style="width: 100px;">Data Leitura</th>	
				
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>										
					<td style="text-align: center; width: 50px; font-size: 15px">@Html.DisplayFor(modelItem => item.NS)</td>
					<td style="text-align: center; width: 100px;font-size: 15px">@Html.DisplayFor(modelItem => item.DesItem)</td>
                    <td style="text-align: center; width: 100px;font-size: 15px">@Html.DisplayFor(modelItem => item.CodItem)</td>	
					<td style="text-align: center; width: 100px;font-size: 15px">@Html.DisplayFor(modelItem => item.DatLeitura)</td>	
					                   
				</tr>
			}
		</tbody>
	</table>
