﻿@model IEnumerable<SEMP.Model.DTO.CBRelatorioRetrabalhoDTO>
@{
    ViewBag.Title = "RelatorioRetrabalho";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var DatInicio = Request["DatInicio"];
    var DatFim = Request["DatFim"];
    var Modelo = Request["codModelo"];

    ViewBag.Sistema = "Rastreabilidade";
    ViewBag.Rotina = "Relatório do Retrabalho";

    if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
    if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
    
    
}

<span style="float: left; margin-right: 10px;">
	<button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="Voltar();">
		<img src="~/images/voltar.gif" style="width: 16px; height: 16px;" /></button></span>


<form name="frmRelatorio" id="frmRelatorio" action="Linha" method="post" style="padding: 15px;">

        <div class="row">
        <div class="col-xs-6 col-top-4" style="width: 18% !important;">
            <label>Data inicial&#58;</label>
            <input type="text" name="DatInicio" id="DatInicio" value="@DatInicio" class="calendar" />
        </div>

        <div class="col-xs-6 col-top-4">
            <label>Data final&#58;</label>
            <input type="text" name="DatFim" id="DatFim" value="@DatFim" class="calendar"/>
        </div>

        <div class="col-xs-6 col-top-4">
            <input name="btnRelAnalítico" value=" CONSULTAR " class="bttn bttn-sm bttn-red" onclick="btnAnalitico();" type="button">
        </div>

    </div>

    <label>Código do Modelo&#58;</label>
    <div class="input-group">
        <input type="text" name="codModelo" id="Modelo" value="@Modelo" class="form-control" style="width: 70px;"  />
        <input type="text" name="Descricao" id="Descricao" value="" class="input-group-addon" style="width: 200px;" disabled="disabled" />

    </div>

    <div class="row">
        <div class="row row-centered">
            <div class="col-xs-6 col-centered">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <input type="radio" name="flgGrafico" value="A" checked="checked" />
                    </span>
                    <input type="text" class="form-control" value="Relatório Analítico" style="border: none;" />
                </div>
            </div>
            <div class="col-xs-6 col-centered">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <input type="radio" name="flgGrafico" value="S" />
                    </span>
                    <input type="text" class="form-control" value="Relatório Sintético" style="border: none;" />
                </div>
            </div>
        </div>
    </div>
         
    <div id="dvGrid"  >
    <table class="table-semp smallrow" id="tblDados" >
		<thead>
			<tr>
				<th style="width: 50px;">Número de Série</th>
				<th style="width: 100px;">Modelo</th>
				<th style="width: 100px;">Linha</th>
				<th style="width: 100px;">Data Evento</th>
            </tr>
		</thead>
		<tbody>

            	@foreach (var item in Model)
   {
				<tr>
					<td style="text-align: center; width: 50px;">@Html.DisplayFor(modelItem => item.NumECB)</td>
					<td style="text-align: center; width: 50px;">@Html.DisplayFor(modelItem => item.Modelo)</td>
					<td style="text-align: center; width: 50px;">@Html.DisplayFor(modelItem => item.Linha)</td>
					<td style="text-align: center; width: 100px;">@Html.DisplayFor(modelItem => item.DatEvento)</td>

				</tr>
   }


		</tbody>
	</table>
    </div>
</form>

<script type="text/javascript">


    $(function () {
        $("#DatFim").datepicker({
            showButtonPanel: true,
            numberOfMonths: 2,
            onClose: function (selectedDate) {
                $("#DatInicio").datepicker("option", "maxDate", selectedDate);
            }
        });
        $("#DatInicio").datepicker({
            showButtonPanel: true,
            numberOfMonths: 2,
            onClose: function (selectedDate) {
                $("#DatFim").datepicker("option", "minDate", selectedDate);
            }
        });
    });

    function btnAnalitico() {
        
        if ($("input[name='flgGrafico']:checked").val() == "A") {
            $("form").get(0).setAttribute('action', '/Coleta/Retrabalho/RelatorioRetrabalhoTabela');
        }
        else if ($("input[name='flgGrafico']:checked").val() == "S") {
            $("form").get(0).setAttribute('action', '/Coleta/Retrabalho/RelatorioRetrabalhoSintetico');
        }

        $.ajax({
            type: "POST",
            url: $("#frmRelatorio").attr("action"),
            data: $("form").serialize(),
            success: function (data) {
                $("#dvGrid").html(data);
            }
        });
    }
    
    $("#Modelo").blur(function () {
        $.ajax({
            type: "GET",
            url: "/Util/ObterDescricaoItem/",
            data: { CodItem: $("#Modelo").val() },
            success: function (data) {
                $("#Descricao").val(data);
            }
        });
    });

    $(document).ready(function () {
        $("#btnExportar").click(function () {
            $("#tblDados").btechco_excelexport({
                containerid: "tblDados",
                datatype: $datatype.MVC
            });

        });
    });

    function Voltar() {
        history.back();
    }



</script>

