﻿@model IEnumerable<SEMP.Model.DTO.CBRelatorioRetrabalhoDTO>

@Scripts.Render("~/bundles/excelexport")

<h3 style="margin-top:20px" >
    Detalhes Relatório Analítico
</h3>

<div>
		<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
</div>

    <table class="table-semp smallrow" id="tblDados" style="margin-top:20px" >
		<thead>
			<tr>
				<th style="width: 50px;">Número de Série</th>
				<th style="width: 100px;">Modelo</th>
				<th style="width: 100px;">Linha</th>
				<th style="width: 100px;">Data Evento</th>
            </tr>
		</thead>
		<tbody>

            	@foreach (var item in Model)
   {
				<tr>
					<td style="text-align: center; width: 50px;">@Html.DisplayFor(modelItem => item.NumECB)</td>
					<td style="text-align: center; width: 50px;">@Html.DisplayFor(modelItem => item.Modelo)</td>
					<td style="text-align: center; width: 50px;">@Html.DisplayFor(modelItem => item.Linha)</td>
					<td style="text-align: center; width: 100px;">@Html.DisplayFor(modelItem => item.DatEvento)</td>

				</tr>
   }


		</tbody>
	</table>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnExportar").click(function () {


            $("#tblDados").btechco_excelexport({
                containerid: "tblDados",
                datatype: $datatype.MVC
            });

        });
    });



</script>