﻿@model IEnumerable<SEMP.Model.DTO.CBRelatorioRetrabalhoDTO>
@{
	ViewBag.Title = "RelatorioRetrabalhoAnalitico";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Relatório do Retrabalho Analítico";
}

@Scripts.Render("~/bundles/excelexport")

<span style="float: left; margin-right: 10px;">
<button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="Voltar();">
<img src="~/images/voltar.gif" style="width: 16px; height: 16px;" /></button></span>

<h4>
	@{
        
		int contador = 0;
		String adicional = "";


		if (String.IsNullOrEmpty(ViewBag.CodModelo))
		{

			contador = Model.Count();
			adicional = contador.ToString() + " Aparelhos";

		}
		else
		{

			if (Model.Count() > 0)
			{

				contador = @Model.Count(x => x.NumECB.Substring(0, 6) == ViewBag.codModelo);
				adicional = contador.ToString() + " Aparelhos no período pesquisado " + "do Modelo " + ViewBag.codModelo + " " + " Modelo " + Model.FirstOrDefault().Modelo;

			}

		}
        
	}

	<div id="quantidade" style="margin-top: 10px">Total Retrabalhado: @adicional</div>
</h4>

<form name="frmRelatorio" id="frmRelatorio" action="Linha" method="post" style="padding: 15px;">

	<table class="table-semp smallrow" id="tblDados" style="margin-top: 20px">
		<thead>
			<tr>
				<th style="width: 50px;">Número de Série</th>
				<th style="width: 100px;">Modelo</th>
				<th style="width: 100px;">Linha</th>
				<th style="width: 100px;">Data Evento</th>
           </tr>
		</thead>
		
        <tbody>
			@foreach (var item in Model)
   {
				<tr>
					<td style="text-align: center; width: 50px;">@Html.DisplayFor(modelItem => item.NumECB)</td>
					<td style="text-align: center; width: 50px;">@Html.DisplayFor(modelItem => item.Modelo)</td>
					<td style="text-align: center; width: 50px;">@Html.DisplayFor(modelItem => item.Linha)</td>
					<td style="text-align: center; width: 100px;">@Html.DisplayFor(modelItem => item.DatEvento)</td>
               </tr>
   }
		</tbody>
	</table>



</form>

<script type="text/javascript">


	$(document).ready(function () {
		$("#btnExportar").click(function () {


			$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});

		});
	});

	function Voltar() {
		history.back();
	}
</script>

