﻿@model IEnumerable<SEMP.Model.DTO.CBRelatorioRetrabalhoDTO>

 @{
    int total = 0;
    
    String codModelo = ViewBag.codModelo;
    
  }

<h3 style="margin-top:20px">
    Detalhes Relatório Sintético
</h3>

<form name="frmRelatorio" id="frmRelatorio" action="Linha" method="post" >

	<table class="table-semp smallrow" id="tblDados"  >
		<thead>
			<tr>
				<th style="width: 50px;  font-size: 15px">Data</th>
				<th style="width: 100px; font-size: 15px">Modelo Descrição</th>
                <th style="width: 100px; font-size: 15px">Cód. Modelo</th>
				<th style="width: 100px; font-size: 15px">Quantidade</th>
           </tr>
		</thead>
		
        <tbody>
            
            	@foreach (var group in Model.GroupBy(g => new { Modelo = g.Modelo }).Select(s => new { Modelo = s.Key.Modelo, Total = s.Sum(a=>a.Total) }))
             {

                 foreach (var item in Model.Where(a => a.Modelo == group.Modelo).ToList())
                 {
                     total += item.Total;
                    <tr>
					    <td style="text-align: center; width: 50px; font-size: 15px">@Html.DisplayFor(modelItem => item.DatEvento)</td>
					    <td style="text-align: center; width: 50px; font-size: 15px">@Html.DisplayFor(modelItem => item.Modelo)</td>
                        <td style="text-align: center; width: 50px; font-size: 15px">@Html.DisplayFor(modelItem => item.CodModelo)</td>
					    <td style="text-align: center; width: 100px;font-size: 15px">@Html.DisplayFor(modelItem => item.Total)</td>
                  
				    </tr>
                 }
                <tr>
                    <td style="font-size:15px">Total do Período:</td><td></td><td></td>
                    <td style="text-align: center; width: 100px; font-size: 20px;">

                           @group.Total

                    </td>
                </tr>
             }

            <tr>
                <td style="font-size:20px" >Total do Geral: </td><td></td><td></td>
                <td style="text-align: center; width: 100px; font-size: 20px;">

                      @total
                  
                </td>
            </tr>
		</tbody>
	</table>



</form>







