﻿@model IEnumerable<SEMP.Model.DTO.SIMRelatorioRetrabalhoDTO>
@{
    ViewBag.Title = "Retrabalho Externo";
    Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Relatório";
	ViewBag.Rotina = "Retrabalho Externo";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

    var DatInicio = Request["DatInicio"];
    var DatFim = Request["DatFim"];

    if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
    if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
    
}
@Scripts.Render("~/bundles/excelexport")

<form name="frmRelatorio" id="frmRelatorio" action="Linha" method="post" style="padding: 15px;">

<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>

	<h3>@ViewBag.Title</h3>	



        <div class="col-xs-6 col-top-4" style="width: 18% !important;">
            <label>Data inicial&#58;</label>
            <input type="text" name="DatInicio" id="DatInicio" value="@DatInicio" class="calendar" />
        </div>

        <div class="col-xs-6 col-top-4">
            <label>Data final&#58;</label>
            <input type="text" name="DatFim" id="DatFim" value="@DatFim" class="calendar"/>
        </div>
         
        <div class="col-xs-6 col-top-4">
            <input name="btnRelAnalítico" value=" CONSULTAR " class="bttn bttn-sm bttn-red" onclick="btnAnalitico();" type="button">
        </div>
    </form>

<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<div id="dvGrid" >



</div>


<script type="text/javascript">	


    $(function () {
        $("#DatFim").datepicker({
            showButtonPanel: true,
            numberOfMonths: 2,
            onClose: function (selectedDate) {
                $("#DatInicio").datepicker("option", "maxDate", selectedDate);
            }
        });
        $("#DatInicio").datepicker({
            showButtonPanel: true,
            numberOfMonths: 2,
            onClose: function (selectedDate) {
                $("#DatFim").datepicker("option", "minDate", selectedDate);
            }
        });
    });


	$(document).ready(function () {
		$("#btnExportar").click(function () {
							

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});

		});
	});

	function btnAnalitico() {
		
	    $("form").get(0).setAttribute('action', '/Coleta/Retrabalho/RelatorioRetrabalhoExterno');
	    
	    $.ajax({
	        type: "POST",
	        url: $("#frmRelatorio").attr("action"),
	        data: $("#frmRelatorio").serialize(),
			datatype: "html",
	        success: function (data) {
	            $("#dvGrid").html(data);
	        }
	    });
	}

</script>



