﻿@model IEnumerable<SEMP.Model.DTO.HistoricoReimpressaoDTO>
@{
    ViewBag.Title = "Retrabalho Informática";
    Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Retrabalho";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var DatInicio = Request["DatInicio"];
	var DatFim = Request["DatFim"];
}
@Scripts.Render("~/bundles/excelexport")

<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
</head>

	<h3>@ViewBag.Title</h3>	


	<td style="width: 10%; text-align: right;"><input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" /></td>		

	<h4>
		<div id="quantidade" style="margin-top: 10px">Total Retrabalhado: @Model.Count()</div>
	</h4>
	
	<table class="table-semp smallrow" id="tblDados" style="margin-top:20px">
		<thead>
			<tr>								
				<th style="width: 50px;">Número de Série</th>
				<th style="width: 100px;">Data/Hora</th>
				<th style="width: 100px;">Código do Modelo</th>	
				<th style="width: 100px;">Descrição do Modelo</th>					
				
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>										
					<td style="text-align: center; width: 50px;">@Html.DisplayFor(modelItem => item.DesSerie)</td>
					<td style="text-align: center; width: 100px;">@Html.DisplayFor(modelItem => item.DatImpressao)</td>	
					<td style="text-align: center; width: 100px;">@Html.DisplayFor(modelItem => item.CodModelo)</td>	
					<td style="text-align: center; width: 100px;">@Html.DisplayFor(modelItem => item.DesModelo)</td>	
					                   
				</tr>
			}
		</tbody>
	</table>

	<br />
	<br />
	


<script type="text/javascript">	


	$(document).ready(function () {
		$("#btnExportar").click(function () {
							

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});

		});
	});
</script>