﻿@using System.Web.Configuration
@{
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];

	var nomeUsuario = "";
	var depto = "";
	var cargo = "";
	var usuariocracha = false;

	if (retornologin != null)
	{
		nomeUsuario = retornologin.NomFuncionario;
		depto = retornologin.Depto;
		cargo = retornologin.Cargo;
		usuariocracha = retornologin.UsuarioCracha;
	}
	else if (!Request.Url.PathAndQuery.ToUpper().Contains("/OUTROS/PRODUCAODIARIA"))
	{
		Response.Redirect("/?returnUrl=" + Request.Url.PathAndQuery.ToString());
	}
	else
	{
		nomeUsuario = "USUÁRIO NÃO IDENTIFICADO";
	}

	var modo = SEMP.Helpers.Extensions.IsReleaseBuild() ? "Ambiente de Produção" : "Ambiente de Testes";
	var stringconexao = Session["Conexao"].ToString();

}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	 @Styles.Render("~/Content/jqueryui")
	 @Styles.Render("~/Content/csssite")
	 @Styles.Render("~/Content/bootstrap")
	 
	<link type="text/css" media="print" href="/Content/print.css" rel="stylesheet" />
	 
</head>
<body>
	<header>
		<div class="header">
		@Html.Partial("~/Views/Shared/Cabecalho.cshtml")
		</div>
		<div id="HeaderPosto">
			<span>@ViewBag.Sistema</span>
			<span> | </span>
			<span id="DesPosto">@ViewBag.Rotina</span>
			<span> | </span>
			<span id="DadosPosto"><a href="#" title="@depto - @cargo - @usuariocracha" style="text-decoration: none; color: black;">@nomeUsuario</a></span>
		</div>
	</header>
	<div class="espacador"></div>
	<div class="content-wrapper">
	@RenderBody()  
	</div>

	<footer>
		<div style="float: right">@SEMP.BO.Util.GetDate()</div>
		<a href="http://semptcl.mao" title="@modo - @stringconexao" target="_blank">Copyright 2016 SEMP</a><br />
		
	</footer>
	
	<img src="/Images/carregando.gif" style="display: none;" />


	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/scripts")

	@RenderSection("scripts", required: false)

<script>
@{
	var area = ViewContext.RouteData.Values["controller"];

	if (area.Equals("Setup") || area.Equals("Home")) {
		if (User.Identity.IsAuthenticated) {
			if (usuariocracha) {
				WriteLiteral("$(document).ready(function () {" +
								"setInterval('VerificaLogin();', 30000);" +
								"});");
			} else {
				Response.Redirect("/");
			}
		} else {
			Response.Redirect("/");
		}
	}
}

			$(document).ready(function () {
				// Evento de clique do elemento: ul#menu li.parent > a
				$('ul#menu li.parent > a').click(function () {
					// Expande ou retrai o elemento ul.sub-menu dentro do elemento pai (ul#menu li.parent)
					$('ul.sub-menu', $(this).parent()).slideToggle('fast', function () {
						// Depois de expandir ou retrair, troca a classe 'aberto' do <a> clicado
						$(this).toggleClass('aberto');
					});
					return false;
				});

				setInterval('VerificaLogado();', 360000);
			});

			@if (!String.IsNullOrEmpty(ViewBag.Erro))
{
	Response.Write("alert('Erro ao consultar: " + ViewBag.Erro + "');");

}

			@if (!String.IsNullOrEmpty(ViewBag.Aviso))
{
	Response.Write("alert('" + ViewBag.Aviso + "');");

}

</script>

</body>
</html>
