﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/bootstrap")

	@Styles.Render("~/Content/jqueryui")
	@Styles.Render("~/Content/csssite")
	@Styles.Render("~/Content/bootstrap")
	<style>
		.ui-dialog-titlebar-close { display: none; }
		.content-wrapper { padding: 0 !important;}
	</style>
</head>
<body>
	<div id="janela">
		@RenderBody()
	</div>
	<script>
		@{
			if (ViewBag.altura != null)
			{
				Write("var altura = " + ViewBag.altura + ";");
			}
			else
			{
				Write("var altura = 400;");
			}
			if (ViewBag.largura != null)
			{
				Write("var largura = " + ViewBag.largura + ";");
			}
			else
			{
				Write("var largura = 300;");
			}
		}
		

		$("#janela").dialog({
			title: "@ViewBag.Title",
			resizable: true,
			width: largura,
			height: altura
		});

		$(document).keyup(function(e) {

			if (e.keyCode == 27) {
				window.close();
			} // escape key maps to keycode `27`
		});
	</script>
</body>
</html>
