﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
@Scripts.Render("~/bundles/site")
@Styles.Render("~/Content/csssite")
@Styles.Render("~/Content/bootstrap2")
</head>
<body id="pagina">
	<header>
		<div class="header">
		@Html.Partial("~/Views/Shared/Cabecalho_Simple.cshtml")
		</div>
	</header>
	<div class="content-wrapper" style="margin-top: 50px;">
		@RenderBody()  
	</div>
	<footer>
		<div id="datahora" style="margin-right: 10px;">
			<span id="data" data-bind="text: data">@SEMP.BO.Util.GetDate().ToShortDateString()</span>&nbsp;
			<span id="hora" data-bind="text: hora">@SEMP.BO.Util.GetDate().ToShortTimeString():00</span>&nbsp;
		</div>
		<div id="mensagem" data-bind="text: Mensagem"></div>
	</footer>
</body>
</html>
