﻿@{ 
	var empresa = "TCL";
	if (SEMP.Model.Constantes.IsOldFab){
			empresa = "AMAZONAS";
	}
}
<div style="position: absolute; width: 100%; z-index: 999;">
	<div class="left">
		<button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="toggleMenu();"><img src="~/images/ico-menu.png" alt="" />&nbsp;&nbsp;MENU</button>
	</div>
	<div class="right"><button class="bttn bttn-menu bttn-red" type="button" name="btnLogout" onclick="document.location.href = '/login/logout/';"><img src="~/images/ico-logout.png" alt="Desconectar" /></button></div>
	<h1 class="logo">
		<a href="/Menu">
			SEMP <b>@empresa</b>
			<img src="~/Images/festas/fogos1.gif" style="display: none; position: relative; width: 48px; height: 48px; margin-top: 0; margin-left: -10px;-ms-transform: rotate(30deg); -webkit-transform: rotate(30deg); transform: rotate(30deg);" />
		</a>
	</h1>
</div>
@{
	if (Session["entrada"] == null || Session["entrada"].ToString() == "")
	{
		Session["entrada"] = true;
<div style="position: absolute; top: 0; left: 0; width: 300px; height: 150px; background-color: rgba(0,0,0,0.50); border-radius: 10px;" id="balaoMensagem">
	<div style="width: 90px; height: 45px; border: solid 1px #000; background-color: white; border-radius: 10px; float: left;">&nbsp;</div>
	<div style="color: white; font-family: Arial; font-size: 14px; font-weight: bold; margin: 18px; padding-left: 10px;">&nbsp;&nbsp;BEM VINDO AO SISAP!</div><br/>
	<div style="color: white; font-family: Arial; font-size: 14px; font-weight: bold; margin: 18px; padding-left: 10px;">Acesse todas as opções através do menu!</div>
</div>
	}
}
@Html.Partial("~/Views/Shared/Menu.cshtml")