﻿<div>
	<div class="left">
		<button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="toggleMenu();">
			<img src="~/images/ico-menu.png" /></button></div>
	<div class="right" style="right: 45px;">
		<button class="bttn bttn-menu bttn-red" type="button" name="btnFullScreen" id="btnFullScreen" onclick="FullScreen();">
			<img src="~/images/ico_fullscreen.png" /></button></div>

	<div class="right">
		<button class="bttn bttn-menu bttn-red" type="button" name="btnLogout" onclick="document.location.href = '/login/logout/';">
			<img src="~/images/ico-logout.png" /></button></div>
	<h1 class="logo">
		<a href="/Menu">
			SEMP @{if (SEMP.Model.Constantes.IsOldFab)
			{<b>AMAZONAS</b>}
			else
			{<b>TCL</b>}}
			<img src="~/Images/festas/fogos1.gif" style="display:none; position: relative; width: 48px; height: 48px; margin-top: 0; margin-left: -20px;-ms-transform: rotate(30deg); -webkit-transform: rotate(30deg); transform: rotate(30deg);" />
		</a>

	</h1>
</div>
@Html.Partial("~/Views/Shared/Menu.cshtml")

