﻿@{
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin { CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = "" };

	var depto = retornologin.Depto ?? "";
	var nomusuario = retornologin.NomUsuario ?? "";

	var acessoDesenv = (nomusuario.ToUpper().Equals("ANDREN") || nomusuario.ToUpper().Equals("THIAGORR") || nomusuario.Equals("devLogin"));

	var acessoCPD = (retornologin.Depto != null && (depto.Trim() == "CPD" || depto.Trim().StartsWith("DTI") || acessoDesenv));
	var acessoDM = acessoCPD || (retornologin.Depto == "D-IND STA");

	var acessoGeral = true;

	var acessoCad = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuCadastros", retornologin); //(depto.Contains("ENG") || depto.Contains("DENG") || acessoCPD || nomusuario.ToUpper() == "WALTERT");
	var acessoConfig = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuConfig", retornologin);
	var acessoLinhas = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuLinhas", retornologin);
	var acessoParametros = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuParametros", retornologin);
	var acessoParamSISAP = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuParamSISAP", retornologin);
	var acessoCadastros = acessoCPD || SEMP.Helpers.Extensions.Permissao("AcessoCad", retornologin); /* (acessoCPD ||((depto.Contains("ENG") || depto.Contains("DENGE"))&& (nomusuario.ToUpper() == "VALDEMARS" || nomusuario.ToUpper() == "FABIOFE"|| nomusuario.ToUpper() == "JHIGINO" || nomusuario.ToUpper() == "CLAUDIOL" ||nomusuario.ToUpper() == "ISAIAS") || nomusuario.ToUpper() == "WALTERT"));*/
	var acessoScrap = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuScrap", retornologin); //((( depto.Contains("DPCP") || depto.Contains("PROD") )	&&(nomusuario.ToUpper() == "INGRIDS" || nomusuario.ToUpper() == "HELANAT" || nomusuario.ToUpper() == "MICHAELP" || nomusuario.ToUpper() == "MARCELOO")));
	var acessoCapac = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuCapac", retornologin); //((depto.Contains("ENG") || depto.Contains("DENGE") )||((nomusuario.ToUpper() == "FELIPE") || (nomusuario.ToUpper() == "RHALCIC") || (nomusuario.ToUpper() == "PEDROA") || (nomusuario.ToUpper() == "ROBSONT")));
	var acessoCadLinhas = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuCadLinhas", retornologin);
	var acessoTempoPadrao = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuTempoPadrao", retornologin); ;
	var acessoCadParada = acessoCPD || SEMP.Helpers.Extensions.Permissao("CadParada", retornologin);//(	((depto.Contains("PROD") || depto.Contains("DPROD"))|| (retornologin.Cargo == "079") || (nomusuario.ToUpper() == "MARCOSJ") || (nomusuario.ToUpper() == "INGRIDS") || (nomusuario.ToUpper() == "JAIRH")));
	var acessoCadMotivo = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuCadMotivo", retornologin); //(((depto.Contains("PROD") || depto.Contains("DPROD"))|| (nomusuario.ToUpper() == "RAFFAELYD" || nomusuario.ToUpper() == "PEDROA" || nomusuario.ToUpper() == "ROBSONT")));
	var acessoAmplitude = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuCadAmplitude", retornologin); //(((depto.Contains("PROD") || depto.Contains("DPROD"))|| (nomusuario.ToUpper() == "RAFFAELYD" || nomusuario.ToUpper() == "PEDROA" || nomusuario.ToUpper() == "ROBSONT")));
	var acessoMensagem = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuMensagem", retornologin);
	var acessoProgReal = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuProgRealizado", retornologin);
	var acessoConfiabilidade = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuConfiabilidade", retornologin);
	var acessoEntradaIAC = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuEntradaIAC", retornologin);
}
<div class="main-menu">
	<span class="hide-menu" onclick="toggleMenu();"></span>
	<div class="inner-menu menu-gray-liso">
		<div id="cssmenu">
			<ul>
			@if (retornologin.UsuarioCracha) {
				<li class='active has-sub open'><a href="#" title="">Rastreabilidade</a>
					<ul>
						<li class="active has-sub"><a href="#">Rastreabilidade</a>
												   <ul>
												   	<li><a href="/Coleta/Home/">Coleta</a></li>
												   	<li><a href="/Coleta/Setup/">Setup</a></li>
												   	<li><a href="/Coleta/Setup/Contingencia">Contingência</a></li>
												   </ul>
						</li>
					</ul>
				</li>
			}
				@if (!retornologin.UsuarioCracha || acessoDesenv) {<li class='active has-sub open'><a href="#" title="">Rastreabilidade</a>
					<ul>
					@if (acessoCad){
						<li class='active has-sub'><a href="#" title="">Cadastros</a>
							<ul>
							@if(acessoConfig){
								<li class='active has-sub'><a href="#">Configuração</a>
									<ul>
										@if(acessoLinhas) {<li><a href="/Coleta/Configuracao/Linha/">Configurar Linha de Produção</a></li>}
										@if(acessoConfig) {<li><a href="/Coleta/Configuracao/Mascara/">Configurar Máscara</a></li>}
										@if(acessoConfig) {<li><a href="/Coleta/TipoAmarra/">Cadastrar Tipo Amarração</a></li>}
										@if(acessoDesenv) {<li><a href="/Coleta/Configuracao/Maquina">Configurar Máquina</a></li>}
										@if(acessoConfig) {<li><a href="/Coleta/GerirSisap/">Gestão de Linhas / Modelos</a></li>}
										@if(acessoConfig) {<li><a href="/Coleta/CadModelo/">Gestão de Modelos</a></li>}
									</ul>
							</li>}
									@if(acessoParamSISAP) {<li><a href="/Coleta/Configuracao/Parametros/">Parâmetros Gerais</a></li>}
									@if(acessoLinhas) {<li><a href="/Coleta/Configuracao/Linha/">Linhas de Produção</a></li>}
									@if(acessoParametros){<li><a href="/Coleta/BarrasLinha/">Parâmetros linha</a></li>}
									@if(acessoCadastros){<li><a href="/Coleta/Defeitos/">Cadastro de Defeitos</a></li>}
									@if(acessoCadastros){<li><a href="/Coleta/CadSubDefeito/">Cadastro de Defeito Específico</a></li>}
									@if(acessoCad){<li><a href="/Coleta/PostoDefeito/">Listagem de Defeitos por Posto</a></li>}
									@if(acessoCadastros){<li><a href="/Coleta/Causa/">Listagem de Causa</a></li>}
									@if(acessoCadastros){<li><a href="/Coleta/Origem/">Listagem de Origem</a></li>}
									@if(acessoCadastros){<li><a href="/Coleta/Acao/">Listagem de Ação</a></li>}
									@if(acessoCadastros){<li><a href="/Coleta/CadOperador/">Operador por posto</a></li>}
									@if(acessoDesenv){<li><a href="/Coleta/Retrabalho/">Cadastro de Retrabalho</a></li>}
									@if(acessoCad){<li><a href="/Coleta/CadPerfilModelo/">Cadastro de Perfil de Modelos</a></li>}
									@if(acessoCad){<li><a href="/Coleta/Configuracao/Etiquetas">Cadastro de Etiquetas</a></li>}
								</ul>
							</li>
						}
						<li class='active has-sub'><a href="#" title="">Relatórios</a>
							<ul>
								@if(acessoGeral){<li><a href="/Coleta/AuditorSerie/">Auditor de série</a></li>}
								@if(acessoGeral){<li><a href="/Coleta/RelatorioProducao/">Relatório de Produção</a></li>}
								@if(acessoDesenv){<li><a href="/Outros/MonitorOperador/">Monitor Operador</a></li>}
								@if(acessoDM) {<li><a href="/Coleta/Indicadores/">Indicadores</a></li>}
								@if(acessoGeral){<li><a href="/Coleta/ResumoProducao/">Resumo de Produção</a></li>}
								@if(acessoGeral){<li><a href="/Coleta/Acompanhamento/">Acompanhamento de Leitura</a></li>}
								@if(acessoGeral){<li><a href="/Coleta/ProducaoHora/">Produção Hora</a></li>}
								@if(acessoGeral){<li><a href="/Outros/ProducaoHoraPosto/">Produção Hora Posto</a></li>}
								@if(acessoGeral){<li><a href="/Coleta/RelatorioTecnico/">Relatório Técnico</a></li>}
								@if(acessoGeral){<li class='active has-sub'><a href="#">Painéis de Produção</a>
									<ul>
										@if(acessoGeral){<li><a href="/Coleta/PainelProducao/">Painel ONLINE</a></li>}
										@if(acessoGeral){<li><a href="/Coleta/PainelProducao/IMC">Painel ONLINE IMC</a></li>}
										@if(acessoGeral){<li><a href="/Coleta/PainelProducao/IAC">Painel ONLINE IAC</a></li>}
										@if(acessoGeral){<li><a href="/Coleta/PainelProducao/Painel/">Painel Linha</a></li>}
										@if(acessoDesenv){<li><a href="/Coleta/PainelProducao/PainelGestao">Painel de Gestão</a></li>}
									</ul>
								</li>}
								@if(acessoGeral){<li class='active has-sub'><a href="#">Painéis Mobilidade</a>
									<ul>
										@if(acessoGeral){<li><a href="/Coleta/PainelMOB/">Painel ONLINE</a></li>}
										@if(acessoGeral){<li><a href="/Coleta/PainelMOB/HoraAHora">Hora a Hora</a></li>}
										@if(acessoGeral){<li><a href="/Coleta/PainelMOB/Painel/">Painel Linha</a></li>}
										@if(acessoDesenv){<li><a href="/Coleta/PainelMOB/PainelGestao">DashBoard</a></li>}
									</ul>
								</li>}
								@if (acessoGeral){<li><a href="/Coleta/Rastreia/RastrearItem">Rastreia Produto Acabado</a></li>}
                                @if(acessoGeral){<li><a href="/Coleta/Rastreia/">Rastreia PCI</a></li>}								
								@if(acessoGeral){<li><a href="/Coleta/IndiceDefeitos/">Índice de Defeitos</a></li>}
								@if(acessoGeral){<li><a href="/Coleta/LeituraPostos/">Leitura Postos</a></li>}
								@if(acessoGeral){<li class='active has-sub'><a href="#">Retrabalho</a>
									<ul>
									@if (acessoGeral){<li><a href="/Coleta/Retrabalho/RetrabalhoInfo/">Retrabalho Informática</a></li>}
									@if(acessoGeral){<li><a href="/Coleta/Retrabalho/RetrabalhoInfoNovo/">Retrabalho Externo</a></li>}
									@if(acessoGeral){<li><a href="/Coleta/Retrabalho/RelatorioRetrabalho/">Relatório Retrabalho</a></li>}
									</ul>
								</li>}
								@if(acessoGeral){<li><a href="/Coleta/RelatorioInspecaoIAC/">Relatório de Inspeção IAC</a></li>}
								@if(acessoGeral){<li><a href="/Coleta/Tempoatravessamento/">Tempo de Atravessamento</a></li>}
								@if(acessoGeral){<li><a href="/Coleta/Series/">Séries</a></li>}
								@if(acessoGeral){<li><a href="/Coleta/LeituraPostos/ResumoContingencia/">Contingência</a></li>}
							</ul>
						</li>
					</ul>
				</li>
				<li class="active has-sub"><a href="#">Outros</a>
					<ul>
						<li class="active has-sub"><a href="#">Qualidade</a>
							<ul>
								@if(acessoGeral){<li><a href="/Outros/CustoRetrabalho/">Custo mensal do retrabalho</a></li>}
								@if(acessoGeral){<li><a href="/Outros/PrincipaisDefeitos/">Principais Defeitos</a></li>}
								<li class="active has-sub"><a href="#">Gráfico Qualidade</a>
									<ul>
										@if(acessoGeral){<li><a href="/Outros/Qualidade/">Geral</a></li>}
										@if(acessoGeral){<li><a href="/Outros/Qualidade/Fases">Geral por fases</a></li>}
										@if(acessoGeral){<li><a href="/Outros/Qualidade/DefeitosOrigemIAC">Defeitos de Origem IAC</a></li>}
										@if(acessoGeral){<li><a href="/Outros/Qualidade/MaioresDefeitos">Maiores Defeitos</a></li>}
										@if(acessoGeral){<li><a href="/Outros/Qualidade/IAC">IAC</a></li>}
										@if(acessoGeral){<li><a href="/Outros/Qualidade/IMC">IMC</a></li>}
										@if(acessoGeral){<li><a href="/Outros/Qualidade/MF">MF</a></li>}
									</ul>
								</li>
								@if (acessoGeral) {<li><a href="/Outros/PostoOBA/">Posto OBA</a></li>}
								<li class="active has-sub">
									<a href="#">Confiabilidade</a>
									<ul>
										@if (acessoConfiabilidade){<li><a href="/Outros/PostoQueima/">Posto Confiabilidade</a></li>}
										@if (acessoGeral){<li><a href="/Outros/PostoQueima/Relatorio">Relatório</a></li>}
									</ul>
								</li>
								
							</ul>
						</li>

						<li class="active has-sub"><a href="#">Produção</a>
							<ul>
								@if(acessoGeral){<li><a href="/Outros/SaldoPlaca/">Saldo de Placas</a></li>}
								@if(acessoGeral){<li><a href="/Outros/ArvoreModelo/">Placas por produto</a></li>}
								@if(acessoGeral){<li><a href="/Outros/WIP/">Work in Process</a></li>}
								@if(acessoScrap){<li><a href="/Outros/MapaScrap/">Scrap IAC/IDW</a></li>}
								@if(acessoGeral){<li><a href="/Outros/AnaliseLinha/">Gráfico Análise de Linha</a></li>}
								@if(acessoDesenv){<li class="has-sub"><a href="#">Causa e Efeito</a>
													  <ul>
														  <li><a href="/Outros/PlanoAcao/">Causa e Efeito</a></li>
														  <li><a href="/Outros/TipoCausa/">Cadastro de Causas</a></li>
													  </ul>
												  </li>}
								@if (acessoMensagem){<li><a href="/Outros/MensagemPainel/">Mensagens Painel</a></li>}
								@if (acessoGeral) {<li><a href="/Outros/ConsultaLotes/">Consulta de Lotes</a></li>}
								@if (acessoGeral) { <li><a href="/Outros/TemposModelo/">Tempos de Produção</a></li>}
								@if (acessoGeral) { <li><a href="/Outros/RelatorioProdutos/">Relatórios Produção</a></li>}
							</ul>
						</li>

						<li class="active has-sub"><a href="#">PM</a>
							<ul>
								@if(acessoGeral){<li><a href="/Outros/ProgramaDia/">Programa Diário</a></li>}
								@if(acessoGeral){<li><a href="/Outros/ProducaoDiaria/">Produção Diária x Programa</a></li>}
								@if(acessoProgReal){<li><a href="/Outros/DiferencaProgramaDia/">Programa x Realizado</a></li>}
								@if(acessoCapac){<li><a href="/Outros/CapacLinha/">Cadastro de Capacidade</a></li>}
								@if(acessoCadLinhas){<li><a href="/Outros/Linha/">Cadastro de Linhas</a></li>}
								@if(acessoTempoPadrao){<li><a href="/Outros/TempoPadrao/">Cadastro de Tempo Padrão</a></li>}
								<li class="active has-sub"><a href="#">Parada de Linha</a>
									<ul>
										@if(acessoGeral){<li><a href="/Outros/Parada/">Cadastro de Parada</a></li>}
										@if(acessoGeral){<li><a href="/Outros/Relatorio">Relatório de Paradas - Diário</a></li>}
										@if(acessoGeral){<li><a href="/Outros/Relatorio/RelatorioOrigemPlano">Resumo Mensal</a></li>}
										@if(acessoGeral){<li><a href="/Outros/Relatorio/ResumoHorasParadas">Resumo Sumarizado</a></li>}
										@if(acessoCadMotivo){<li><a href="/Outros/MotivoParada/">Cadastro de Motivos</a></li>}
										@if(acessoAmplitude){<li><a href="/Outros/Amplitude/">Cadastro de Amplitude</a></li>}
									</ul>
								</li>
							</ul>
						</li>

						<li class="active has-sub"><a href="#">SAP</a>
							<ul>
								@if(acessoGeral){<li><a href="/Outros/SAP/AuditorIntegra">Auditor de integração</a></li>}
							</ul>
						</li>




					</ul>
				</li>
				<li class="active has-sub"><a href="#">Materiais</a>
					<ul>
						<li class="active has-sub"><a href="#">Controle</a>
							<ul>
								@if(acessoGeral){<li><a href="/Materiais/Reposicao/">Relatório de Reposição</a></li>}
								@if(acessoGeral){<li><a href="/Materiais/Reposicao/Painel">Painel de Reposição</a></li>}
								@if(acessoGeral){<li><a href="/Materiais/Reposicao/Gestao">Painel de Responsabilidades</a></li>}
								@if(acessoGeral){<li><a href="/Materiais/Reposicao/GestaoIMC">Painel de Responsabilidades IMC</a></li>}
								@if(acessoGeral){<li><a href="/Materiais/Reposicao/ConsultaRomaneio">Consultar Romaneio</a></li>}
								@if(acessoGeral){<li><a href="/Materiais/PainelMateriais/">Painel de Pedido de Materiais</a></li>}
							</ul>
						</li>

						<li class="active has-sub">
							<a href="#">Estoque</a>
							<ul>
								@if (acessoGeral) {<li><a href="/Materiais/Estoque/">Sistema Estoque</a></li>}
								@if (acessoGeral) {<li><a href="/Materiais/Estoque/LSAAP/">Ordens de Produção (AP)</a></li>}
								@if (acessoGeral) {<li><a href="/Materiais/Estoque/SAP_OP/">SAP - Ordens de Produção</a></li>}
								@if (acessoGeral) {<li><a href="/Materiais/Estoque/OrdemAlimenta/">Ordens de Alimentação</a></li>}
								@if (acessoEntradaIAC) {<li><a href="/Materiais/EntradaIAC/">Entrada de Materiais IAC</a></li>}
							</ul>
						</li>
					</ul>
				</li>
			}
			</ul>
</div>
</div>
</div>
