﻿@using SEMP.Model.VO
@using SEMP.Model.VO.Materiais
@{
	ViewBag.Title = "Consultar Romaneio";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ConsultaRomaneio romaneio = ViewBag.romaneio;
}

<h2>@ViewBag.Title</h2>

<br/>
<h4>Digite o número do romaneio que deseja consultar:</h4>
<input type="text" id="inputRomaneio" name="inputRomaneio" onkeypress="return isNumberKey(event)" placeholder="Número do Romaneio" style="text-align: center; width: 20%; font-size: medium;" maxlength="5" autofocus="autofocus"/>


<table class="table-semp orange smallrow" id="tblRomaneio">
	<caption>Romaneio</caption>
	<thead>
	<tr>
		<th>Nº Romaneio</th>
		<th>Origem</th>
		<th>Tipo</th>
		<th>Responsável</th>
		<th>Data de Geração</th>
	</tr>
	</thead>

	<tbody id="tbodyRomaneio">

	</tbody>

</table>

<br/>

<table class="table-semp orange smallrow" id="tblItem">
	<caption>Item</caption>
	<thead>
	<tr>
		<th>Item</th>
		<th>Modelo</th>
		<th>Quantidade</th>
		<th>Causa</th>
		<th>Defeito</th>
		<th>Descrição do Defeito</th>
		<th>Devolvido</th>
		<th>Descrição Devolução</th>
		<th>Crítico</th>
		<th>Reposição</th>
	</tr>
	</thead>

	<tbody id="tbodyItem">

	</tbody>

</table>

<br/>

<table class="table-semp orange smallrow" id="tblAprovacao">
	<caption>Aprovação</caption>
	<thead>
	<tr>
		<th>Aprovador</th>
		<th>Data da Aprovação</th>
	</tr>
	</thead>

	<tbody id="tbodyAprov">

	</tbody>

</table>

<br/>

<table class="table-semp orange smallrow" id="tblRecebimento">
	<caption>Recebimento</caption>
	<thead>
	<tr>
		<th>Responsável</th>
		<th>Data</th>
		<th>Item</th>
		<th>Modelo</th>
		<th>Qtd. Recebida</th>
		<th>Qtd. Laudo</th>
		<th>Qtd. Paga</th>
	</tr>
	</thead>

	<tbody id="tbodyRec">

	</tbody>

</table>


<script>
	
	function isNumberKey(evt) {
		var charCode = (evt.which) ? evt.which : event.keyCode;
		if (charCode > 31 && (charCode < 48 || charCode > 57))
			return false;
		return true;
	}

	$('#inputRomaneio').keypress(function (evt) {
				

		if (evt.keyCode == 13) {

			var valor = this.value;

			if (valor.length > 0) {
				fn_obterRomaneio(valor);
				document.getElementById('inputRomaneio').select();
			}
		}
	});

	function fn_obterRomaneio(valor) {
		var url = '/Reposicao/ObterRomaneio/';

		var parametros = { NumRomaneio: valor};

		$.ajax({
			type: "GET",
			url: url,
			dataType: "json",
			data: parametros,
			cache: false,
			async: true,
			success: function (data) {				

				var dadosRomaneio = "";
				var dadosItem = "";
				var dadosAprov = "";
				var dadosRec = "";

				dadosRomaneio += "<tr>";
				dadosItem += "<tr>";
				dadosAprov += "<tr>";
				dadosRec += "<tr>";

				dadosRomaneio += "<tr>" +
						"<td>" + data.NumRomaneio + "</td>" +
						"<td>" + data.CodOrigem + "</td>" +
						"<td>" + data.CodTipo + "</td>" +
						"<td>" + data.NomResp + "</td>" +
						"<td>" + data.DatGeracString + "</td>" +
						"</tr>";

				dadosItem += "<tr>" +
					"<td>" + data.CodItem + "</td>" +
					"<td>" + data.CodModelo + "</td>" +
					"<td>" + data.QtdItem + "</td>" +
					"<td>" + data.CodCausa + "</td>" +
					"<td>" + data.CodDefeito + "</td>" +
					"<td>" + data.DetalheDefeito + "</td>" +
					"<td>" + data.flgDevolvido + "</td>" +
					"<td>" + data.DesDevMotivo + "</td>" +
					"<td>" + data.FlgCritico + "</td>" +
					"<td>" + data.FlgNecReposicao + "</td>" +
					"</tr>";

				dadosAprov += "<tr>" +
					"<td>" + data.UsuAprov + "</td>" +
					"<td>" + data.DatAprovString + "</td>" +
					"</tr>";

				dadosRec += "<tr>" +
					"<td>" + data.NomUsuarioRec + "</td>" +
					"<td>" + data.DatRecebString + "</td>" +
					"<td>" + data.CodItemRec + "</td>" +
					"<td>" + data.CodModeloRec + "</td>" +
					"<td>" + data.QtdRec + "</td>" +
					"<td>" + data.QtdLaudo + "</td>" +
					"<td>" + data.QtdPaga + "</td>" +
					"</tr>";

				$('#tbodyRomaneio').html(dadosRomaneio);
				$('#tbodyItem').html(dadosItem);
				$('#tbodyAprov').html(dadosAprov);
				$('#tbodyRec').html(dadosRec);

			}
		});
	}


</script>