﻿@model List<SEMP.Model.VO.Materiais.Pendencias>
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/bootstrap")

	@Styles.Render("~/Content/jqueryui")
	@Styles.Render("~/Content/csssite")
	@Styles.Render("~/Content/bootstrap")
	<style>
		.ui-dialog-titlebar-close {
			display: none;
		}

		.content-wrapper {
			padding: 0 !important;
		}
	</style>
</head>
	<body>
		
		<table class="table-semp orange smallrow hover">
			<caption>Reposição de Material (@Model.Count() registros)</caption>
			<thead>
				<tr>
					<th>Romaneio</th>
					<th>Item</th>
					<th>Modelo</th>
					<th>Qtde.</th>
                    <th>Estoque</th>
					<th>Status</th>
					<th>Data Geração</th>
					<th>Data Aprovação</th>
					<th>Tempo Aprov.</th>
					<th>Data Recebimento</th>
					<th>Tempo Receb.</th>
					<th>Data Pagamento</th>
					<th>Tempo Pag.</th>
					<th>AP para Pagamento</th>
					<th>Tempo Atraso(h)</th>					
				</tr>
			</thead>

			<tbody>
				@foreach (var item in Model)
				{
					var critico = "";
					if (item.FlgCritico == "S")
					{
						critico = "color: red; font-weight: bold";
					}

					<tr style="@critico">
						<td>@item.NumRomaneio</td>
						<td>@item.CodItem - @item.DesItem</td>
						<td>@item.CodModelo - @item.DesModelo</td>
						<td>@item.QtdItem</td>
                        <td>@item.QtdEstoque</td>
						<td>@item.Status</td>
						<td>@item.DatGeracao</td>
						<td>@item.DatAprovacao</td>
						<td>@item.DifAprov</td>
						<td>@item.DatRecebimento</td>
						<td>@item.DifReceb</td>
						<td>@item.DatPagamento</td>
						<td>@item.DifPagamento</td>
						<td>@{
								if (item.DatPagamento == null && (item.DatGeracao.Year == DateTime.Now.Year && item.DatGeracao.Month == DateTime.Now.Month))
							    {
								    <a href="#" onclick=" consultar(@item.CodItem.Substring(0, 6)); return false;">Consultar</a>									
							    }
						    }
						</td>
						<td style="background-color: burlywood; color: red; font-weight: bold; text-align: center;">@item.DifAtraso</td>
					</tr>
				}
			</tbody>
		</table>

	<div id="carregando" style="display: none;">
		<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
			<img id="imgCarregando" src="/Images/carregando.gif"/>
		</div>
	</div>

	@*<div id="modal"></div>*@

	<!-- Modal -->
<div class="modal fade" id="modal" role="dialog" style="margin-top: 3%">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="" style="padding: 10px 10px; background: crimson; color: floralwhite">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 style="color: white !important; text-align: center; font-size: 20px;"><span class="glyphicon glyphicon-search"></span>   Consulta AP Pagamento</h4>
			</div>
			<div class="modal-body" style="padding: 40px 50px;">
				<div class="row">
					<div class="col-md-12" id="conteudo_modal"></div>

				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
				</div>
			</div>

		</div>

	</div>
</div>

	</body>
</html>

<script>
	$("#dialog-edit").dialog({
		//title: 'Consultar AP para Pagamento',
		autoOpen: false,
		resizable: false,
		width: 500,
		height: 360,
		top: 0,
		show: { effect: 'drop', direction: "up" },
		modal: true,
		draggable: true,
		open: function (event, ui) {
			$(".ui-dialog-titlebar-close").hide();
			$(this).html("");
			$(this).load(url);
		}
	});

	$("#btnclose").on("click", function (e) {
		$("#dialog-edit").dialog("close");
		return false;
	});

	function consultar(id) {		

		//$("#modal").html($('#carregando').html());

		var url = "/Materiais/Reposicao/ConsultaAPPagamento";		
		//$("#modal").dialog();

		$.ajax({
			type: "GET",
			url: url,
			dataType: "html",
			data: { id: id },
			cache: false,
			async: true,
			success: function (data) {
				$("#modal").modal();
				$("#conteudo_modal").html(data);
			}
		});

		

		//$("#modal").dialog(
		//{
		//	title: 'Consultar AP para Pagamento',			
		//	resizable: false,
		//	width: 600,
		//	height: 200,			
		//	show: { effect: 'drop', direction: "up" },
		//	modal: true,
		//	draggable: true,
		//	open: function (event, ui) {
		//		$(".ui-dialog-titlebar-close").html("X");
		//	}
		//}
		//);

		return false;
	}
</script>
