﻿@using SEMP.Model.VO.Materiais
@{
    ViewBag.Title = "Consulta";

	ConsultaApPagamento AP = ViewBag.AP;	
}



	<table class="table-semp orange smallrow" id="tblDados">
		@*<caption>AP para Reposição</caption>*@
		<thead>
			<tr>
				<th><a title="AP para Reposição">AP</a></th>
				<th>Cód. Fábrica</th>
				<th>Modelo</th>
				<th>Item</th>
				<th>Qtd. Necessária</th>
				<th>Qtd. Produzida</th>
				<th>Qtd. Paga</th>						
			</tr>
		</thead>

		<tbody>
		@{
			if (AP != null)
			{				
				<tr>
					<td><b>@AP.NumAP</b></td>
					<td>@AP.CodFab</td>
					<td>@AP.CodModelo - @AP.DesModelo</td>
					<td>@AP.CodItem - @AP.DesItem</td>
					<td>@AP.QtdNecessaria</td>
					<td>@AP.QtdProduzida</td>
					<td>@AP.QtdPaga</td>
				</tr>
			}
				
		}		
		</tbody>

	</table>