﻿@using SEMP.Model.DTO
@{
    ViewBag.Title = "ConsultaPendencia";
    Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Materiais";
	ViewBag.Rotina = "Consuta Pendência";

	List<RelReposicaoDTO> reposicoes = ViewBag.Reposicoes;
}

<div class="boxResumo">
	<table style="width: 100%; font-size: 14px;" id="tblResumo">
		<tr>
			<td style="vertical-align: top;" colspan ="7">
				<table style="">
					<tr>
						
						<td style="width: 0%"><b>Qtd. Total Pendente:</b></td>
						<td style="width: 0%">@reposicoes.Count()</td>

					</tr>					
				</table>
			</td>
		</tr>
	</table>
</div>

<div>

	<table class="table-semp orange smallrow" id="tblDados">
		<caption>Reposição de Material</caption>
		<thead>
		<tr>
			<th><a title="Data de Geração do Romaneio">Data Romaneio</a></th>
			<th>Nº Romaneio</th>
			<th>Item</th>
			<th>Modelo</th>
			<th>Qtd. Itens</th>
			<th>Qtd. Estoque</th>
			<th>Status</th>
			<th>Data Aprovação</th>
			<th>Data Recebimento</th>
			<th>Data Pagamento</th>
			<th>AP para Pagamento</th>

		</tr>
		</thead>

		<tbody>
		@{
			if (reposicoes != null && reposicoes.Count() > 0)
			{
				foreach (var item in reposicoes)
				{
					<tr>
						<td>@item.Dia</td>
						<td>@item.Romaneio</td>
						<td>@item.Item</td>
						<td>@item.Modelo</td>
						<td>@item.QtdItens</td>
						<td>@item.QtdEstoque</td>
						<td>@item.Status</td>
						<td>@item.DatAprovacao</td>
						<td>@item.DatRecebimento</td>
						<td>@item.DatPagamento</td>
						<td>@{
							    if (item.DatPagamento == null && (item.Dia.Year == DateTime.Now.Year && item.Dia.Month == DateTime.Now.Month))
							    {
								    <a href="#" onclick=" consultar(@item.Item.Substring(0, 6)); return false;">Consultar</a>
									//@item.NumAP
							    }
						    }
						</td>
					</tr>
				}
			}
		}
		</tbody>

	</table>
</div>

<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<div style="margin-top: 10px">

</div>

<div id="modal"></div>
<script>
	$("#dialog-edit").dialog({
		title: 'Consultar AP para Pagamento',
		autoOpen: false,
		resizable: false,
		width: 500,
		height: 360,
		top: 0,
		show: { effect: 'drop', direction: "up" },
		modal: true,
		draggable: true,
		open: function (event, ui) {
			$(".ui-dialog-titlebar-close").hide();
			$(this).html("");
			$(this).load(url);
		}
	});

	$("#btnclose").on("click", function (e) {
		$("#dialog-edit").dialog("close");
		return false;
	});

	function consultar(id) {		

		$("#modal").html($('#carregando').html());

		var url = "/Materiais/Reposicao/ConsultaAPPagamento";		
		//$("#modal").dialog();

		$.ajax({
			type: "GET",
			url: url,
			dataType: "html",
			data: { id: id },
			cache: false,
			async: true,
			success: function (data) {
				
				$("#modal").html(data);
			}
		});

		$("#modal").dialog(
		{
			title: 'Consultar AP para Pagamento',			
			resizable: false,
			width: 600,
			height: 200,			
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("X");
			}
		}
		);

		return false;
	}
</script>
