﻿@using SEMP.Model
@{
	ViewBag.Title = "Gestão de Responsabilidades";
	Layout = "~/Views/Shared/_Layout_Simple.cshtml";

	ViewBag.Sistema = "Materiais";
	ViewBag.Rotina = "Painel de Gestão de Responsabilidades";

}

@Scripts.Render("~/bundles/freewall")
@Styles.Render("~/Content/freewall")

<style>
	.padding {
		background-color: lightgray;
		height: 100%;
	}

	h1 {
		font-size: 50px;
		display: block;
		text-align: center;
		width: 100%;
		margin-bottom: 30px;
		margin-top: 30px;
	}
	h2 {
		font-size: 30px;
		padding: 10px;
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.6);
		color: rgb(255, 255, 255);
		width: 100%;
		text-align: center;
	}
	h3 {
		font-size: 30px;
	}

	.titulo1 {
		font-size: 22px;
		text-align: center;
	}
	.titulo2 {
		font-size: 20px;
	}
	.titulo3 {
		font-size: 15px;
	}
</style>


<div class="layout" style="display: none; overflow-y: scroll;">
	<h2>Painel de Reposição de Material MF</h2>
	<div id="freewall" class="free-wall">
		<div class="item size22 level1">
			<div class="padding" id="producao1" onclick="url_RelPendencia('prod');" style="cursor: pointer;">
				<h2>Produção</h2>
				<div class="col-md-12">
					<h4 class="titulo1">Romaneios para Aprovação</h4>
					<h1 id="qtdProducao1">&nbsp;</h1>
					<h4 class="titulo2">Romaneio mais Antigo</h4>
					<h4 class="titulo2" id="datProducao1"></h4>
					<h4 class="titulo3">Qtd. Itens Críticos: <span id="critico1">&nbsp;</span></h4>
				</div>
			</div>
		</div>

		<div class="item size22 level1">
			<div class="padding" id="supm1" onclick=" url_RelPendencia('sup'); " style="cursor: pointer;">
				<h2>Suprimentos</h2>
				<div class="col-md-12">
					<h4 class="titulo1">Itens para Pagamento</h4>
					<h1 id="qtdSupm1">&nbsp;</h1>
					<h4 class="titulo2">Item mais Antigo</h4>
					<h4 class="titulo2" id="datSupm1"></h4>
					<h4 class="titulo3">Qtd. Itens Críticos: <span id="critico2">&nbsp;</span></h4>
				</div>
			</div>
		</div>

		<div class="item size22 level1">
			<div class="padding" id="supm2" onclick="url_RelPendencia('supm2');" style="cursor: pointer;">
				<h2>Suprimentos</h2>
				<div class="col-md-12">
					<h4 class="titulo1">Itens para Recebimento na Produção</h4>
					<h1 id="qtdSupm2">&nbsp;</h1>
					<h4 class="titulo2">Item mais Antigo</h4>
					<h4 class="titulo2" id="datSupm2"></h4>
					<h4 class="titulo3">Qtd. Itens Críticos: <span id="critico5">&nbsp;</span></h4>
				</div>
			</div>
		</div>

		<div class="item size22 level1">
			<div class="padding" id="qualidade2" onclick="url_RelPendencia('qual1');" style="cursor: pointer;">
				<h2>Qualidade</h2>
				<div class="col-md-12">
					<h4 class="titulo1">Itens para Recebimento</h4>
					<h1 id="qtdQualidade2">&nbsp;</h1>
					<h4 class="titulo2">Item mais Antigo</h4>
					<h4 class="titulo2" id="datQualidade2"></h4>
					<h4 class="titulo3">Qtd. Itens Críticos: <span id="critico3">&nbsp;</span></h4>
				</div>
			</div>
		</div>

		<div class="item size22 level1">
			<div class="padding" id="qualidade1" onclick=" url_RelPendencia('qual2'); " style="cursor: pointer;">
				<h2>Qualidade</h2>
				<div class="col-md-12">
					<h4 class="titulo1">Itens aguardando Laudo</h4>
					<h1 id="qtdQualidade1">&nbsp;</h1>
					<h4 class="titulo2">Item mais Antigo</h4>
					<h4 class="titulo2" id="datQualidade1"></h4>
					<h4 class="titulo3">Qtd. Itens Críticos: <span id="critico4">&nbsp;</span></h4>
				</div>
			</div>
		</div>


	</div>

	<div class="boxFiltros"  style="border-style: solid; border-color: #808080">
		<label id="resumo" style="font-size: 18pt;"><b>Resumo do mês</b></label>
		<table style="width: 100%; font-size: 14px;" id="tblResumo">
			<tr>
				<td style="vertical-align: top;" colspan ="7">
					<table style="width: 100%">
						<tr>
						
							<td style="width: 13%; font-size: 12pt;"><b>Qtd. Total de Romaneios:</b></td>
							<td style="width: 8%; font-size: 12pt;"><h4 style="font-size: 20px;" id="qtdRomaneio"></h4></td>						
						
							<td style="width: 10%; font-size: 12pt;"><b>Qtd. Total de Itens:</b></td>
							<td style="width: 8%; font-size: 12pt;"> <h4 style="font-size: 20px;" id="qtdItens"></h4></td>

							<td style="width: 7%; font-size: 12pt;"><b>Qtd. de Itens Aprovados:</b></td>
							<td style="width: 8%; font-size: 12pt;"> <h4 style="font-size: 20px;" id="qtdAprovada"></h4></td>

							<td style="width: 7%; font-size: 12pt;"><b>Qtd. de Itens Recebidos:</b></td>
							<td style="width: 8%; font-size: 12pt;"> <h4 style="font-size: 20px;" id="qtdRecebida"></h4></td>

							<td style="width: 7%; font-size: 12pt;"><b>Qtd. de Itens Pagos:</b></td>
							<td style="width: 8%; font-size: 12pt;"> <h4 style="font-size: 20px;" id="qtdPaga"></h4></td>						
						
						</tr>					
					</table>
				</td>
			</tr>
		</table>

	</div>

	<div class="boxFiltros" style="width: 30%; border-style: solid; border-color: #808080">
		<label id="titulo" style="font-size: 16pt;"><b>Legenda </b></label>
		<div style="margin-top: 10px;">
			<svg width="40" height="20">
				<rect width="40" height="20" style="fill: rgb(0, 128, 0); stroke-width: 3; stroke: rgb(0, 128, 0)"/>
			</svg>
			<label id="prazo" style="font-size: 12pt;"><b>Dentro do Prazo</b></label>
			<svg width="40" height="20" style="margin-left: 40px;">
				<rect width="40" height="20" style="fill: rgb(255, 0, 0); stroke-width: 3; stroke: rgb(255, 0, 0)"/>
			</svg>
				<label id="excedido" style="font-size: 12pt;"><b>Tempo Excedido</b></label>
		</div>
	</div>

</div>



<script>

	$(function () {

		var wall = new freewall("#freewall");
		wall.reset({
			selector: '.level1',
			draggable: true,
			cellW: 320,
			cellH: 'auto',
			fixSize: 0,
			gutterX: 20,
			gutterY: 10,
			onResize: function () {
				wall.fitWidth();
			}
		});

		wall.fitWidth();

		$(window).trigger("resize");

		$(".layout").css("display", "block");

		setInterval("ObterDados()", 60000);
		ObterDados();
	});


	function ObterDados() {

		// qualidade 1
		$.ajax({
			type: "GET",
			url: "/Materiais/Reposicao/ObterDadosGestao/",
			data: { fase: @Constantes.FASE_MF },
			dataType: "json",
			success: function(data) {

				$("#datQualidade1").html(data.qualidade1.DatUltimoRegistro);
				$("#qtdQualidade1").html(data.qualidade1.Quantidade);
				$("#critico3").html(data.qualidade1.QtdCritico);
				$("#qualidade1").css({
					backgroundColor: data.qualidade1.Cor
				});

				$("#datQualidade2").html(data.qualidade2.DatUltimoRegistro);
				$("#qtdQualidade2").html(data.qualidade2.Quantidade);
				$("#critico4").html(data.qualidade2.QtdCritico);
				$("#qualidade2").css({
					backgroundColor: data.qualidade2.Cor
				});

				$("#datSupm1").html(data.supm.DatUltimoRegistro);
				$("#qtdSupm1").html(data.supm.Quantidade);
				$("#critico2").html(data.supm.QtdCritico);
				$("#supm1").css({
					backgroundColor: data.supm.Cor
				});

				$("#datSupm2").html(data.supm2.DatUltimoRegistro);
				$("#qtdSupm2").html(data.supm2.Quantidade);
				$("#critico5").html(data.supm2.QtdCritico);
				$("#supm2").css({
					backgroundColor: data.supm2.Cor
				});

				$("#datProducao1").html(data.producao.DatUltimoRegistro);
				$("#qtdProducao1").html(data.producao.Quantidade);
				$("#critico1").html(data.producao.QtdCritico);
				$("#producao1").css({
					backgroundColor: data.producao.Cor
				});

				$("#qtdRomaneio").html(data.qtdRomaneio);
				$("#qtdItens").html(data.qtdItens);
				$("#qtdAprovada").html(data.qtdAprovada);
				$("#qtdRecebida").html(data.qtdRecebida);
				$("#qtdPaga").html(data.qtdPaga);
			}			
	});		
	}

	function url_RelPendencia(id) {
//		return;
		var url = "ConsultaPendencia2?id=" + id + "&fase=" + @Constantes.FASE_MF;
		var width = 1000;
		var height = 500;
		var left = 99;
		var top = 99;
		window.open(url, 'janela', 'width=' + width + ', height=' + height + ', top=' + top + ', left=' + left + ', scrollbars=yes, status=no, toolbar=no, location=no, directories=no, menubar=no, resizable=no, fullscreen=no');
	}
</script>
