﻿@{
	ViewBag.Title = "Relatório de Reposição de Material - Montagem Final";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Materiais";
	ViewBag.Rotina = "Controle de Reposição de Material - Montagem Final";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var DatInicio = Request["DatInicio"];
	var DatFim = Request["DatFim"];
	var consulta = Request["Consultar"];

	if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
}

<h2>@ViewBag.Title</h2>

<div class="boxFiltros">

	<form name="frmRelatorio" id="frmRelatorio" action="Linha" method="post" style="padding: 15px;">
		<div class="row">
			<div class="col-xs-25 col-v">
				<div class="col-xs-6 col-top-4" style="width:18% !important;">
					<label>Data inicial&#58;</label>
					<input type="text" name="DatInicio" id="DatInicio" value="@DatInicio" class="calendar"/>
				</div>
				
				<div class="col-xs-6 col-top-4">
					<label>Data final&#58;</label>
					<input type="text" name="DatFim" id="DatFim" value="@DatFim" class="calendar"/>
				</div>

				<div class="col-xs-15 col-top-4" style="float: left;">
					<label>Status:</label>
					<select name="status" id="status" class="status">
						<option value="">SELECIONE O STATUS</option>
						<option value="GERADO">GERADO</option>
						<option value="APROVADO">APROVADO</option>
						<option value="RECEBIDO">RECEBIDO</option>
						<option value="PAGO">PAGO</option>
						<option value="*APROVACAO">PENDENTE APROVAÇÃO</option>
						<option value="*PAGAMENTO">PENDENTE PAGAMENTO</option>
						<option value="*RECEBIMENTO">PENDENTE RECEBIMENTO</option>
						@*<option value="*LAUDO">PENDENTE LAUDO</option>*@
						<option value="CANCELADO">CANCELADO</option>
					</select>
				</div>

				<div class="col-xs-6" >
					@{ if (String.IsNullOrEmpty(consulta))
						{
					
						<input type="button" name="btnEnviar" value=" Consultar " class="bttn bttn-sm bttn-red"
							onclick="btnConsultar_Click();" />
						}
					}
					</div>
			</div>
			
		</div>
	</form>

</div>

<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<div id="dvGrid">



</div>

<script>

	$(function () {
		$("#DatFim").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatInicio").datepicker("option", "maxDate", selectedDate);
			}
		});
		$("#DatInicio").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatFim").datepicker("option", "minDate", selectedDate);
			}
		});
		
	});

	function btnConsultar_Click() {

		$("#dvGrid").html($('#carregando').html());
		
		$("form").get(0).setAttribute('action', '/Materiais/Reposicao/RelatorioReposicao');				

		$.ajax({
			type: "POST",
			url: $("#frmRelatorio").attr("action"),
			data: $("form").serialize(),
			success: function (data) {
				$("#dvGrid").html(data);
			}
		});
	}

</script>