﻿@model List<SEMP.Model.VO.Materiais.PainelReposicao>
@{
	ViewBag.Title = "Painel de controle de Reposição";
	Layout = "~/Views/Shared/_Layout_Simple.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Materiais";
	ViewBag.Rotina = "Painel de Reposição";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

}

@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/floatThead")

<style>
	table.table-painel {
		margin: 0px;
		padding: 0px;
		width: 100%;
		border: 5px solid #fff;
		border-width: 0px 1px 1px 1px;
		-moz-border-radius-bottomleft: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-ms-border-bottom-left-radius: 0px;
		border-bottom-left-radius: 0px;
		-moz-border-radius-bottomright: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-ms-border-bottom-right-radius: 0px;
		border-bottom-right-radius: 0px;
		-moz-border-radius-topright: 0px;
		-webkit-border-top-right-radius: 0px;
		-ms-border-top-right-radius: 0px;
		border-top-right-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-webkit-border-top-left-radius: 0px;
		-ms-border-top-left-radius: 0px;
		border-top-left-radius: 0px;
		border-collapse: collapse;
		border-spacing: 0;
		border-color: #DDDDDD;
	}

	table.table-painel caption
		{
			width: 100%;
			font-size: 16pt;
			font-weight: bolder;
			color: #DB0703;
			font-family: Arial;
			margin-bottom: 5px !important;
		}

		table.table-painel tbody tr td:last-child
		{
			border-right: 0px;
		}

		table.table-painel tbody tr td
		{
			vertical-align: middle;
			border-width: 0px 1px 1px 0px;
			border-right: 1px #bbb solid;
			text-align: right;
			padding: 4px;
			font-size: 18px;
			font-family: Helvetica;
			font-weight: normal;
			color: #000000;
		}

		table.table-painel tbody tr:nth-child(odd)
		{
			background-color: #ffffff;
		}

		table.table-painel tbody tr:nth-child(even)
		{
			background-color: #ededed;
		}

		table.table-painel thead tr:first-child th
		{
			background: #6b6b6b !important; /* Old browsers */
			text-align: center;
			font-size: 18px;
			font-family: Helvetica;
			font-weight: bold;
			color: #ffffff;
			border-right: 1px solid #ddd;
			border-left: 1px solid #ddd;
		}

		table.table-painel tr.hover:hover td
		{
			background-color: rgb(255, 255, 203);
			color: black;
		}

		table.table-painel tr.selected td
		{
			background-color: rgb(128, 128, 255); /*rgb(203, 200, 157);*/
			color: white;
			font-weight: bold;
		}

		table.table-painel thead tr:first-child th a
		{
			color: #ffffff;
			text-decoration: none;
			width: 100%;
		}

		table.table-painel.small, table.table-painel.small td
		{
			font-size: 9px !important;
			font-family: Arial;
		}

		table.table-painel tbody tr td.negativo
		{
			color: red;
		}

		table.table-painel tbody tr td.positivo
		{
			color: green;
		}

		table.table-painel tfoot
		{
			padding: 3px;
		}

			table.table-painel tfoot tr td
			{
				font-weight: bold;
				border: solid 1px #ddd !important;
			}

				table.table-painel tfoot tr td span
				{
					display: inline-table;
					border: solid 1px black;
				}

	footer
	{
		height: 30px;
	}

	#datahora
	{
		float: right;
		font-family: Arial;
		font-size: 20px;
		font-weight: bolder;
		color: red;
		z-index: 100;
	}

	table.interna
	{
		width: 100%;
		border-collapse: collapse;
	}

		table.interna tr td
		{
			font-size: 9pt !important;
			text-align: center !important;
			padding: 1px !important;
			background: rgb(255, 255, 203) !important;
			border-collapse: collapse;
		}

	#mensagem
	{
		font-size: 20px;
	}

	tr.subtotal th {
		background-color: #bbbbbb;
		border: 1px solid white;
		font-size: 18px;
		padding: 4px;
		font-family: Helvetica;
	}

	a.critico {
		background-color: red;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		-ms-border-radius: 20px;
		border-radius: 20px;
		width: 25px;
		text-align: center;
		display: block;
		border: solid 1px transparent;
		color: black;
		text-decoration: none;
	}
	a.critico:hover {
		color: white !important;
		background-color: lightcoral;
		border: solid 1px blue;
	}

	a.alerta {
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		-ms-border-radius: 20px;
		border-radius: 20px;
		width: 25px;
		text-align: center;
		display: block;
		background-color: darkred;
		border: solid 1px transparent;
		color: black;
		text-decoration: none;
	}
	a.alerta:hover {
		color: white !important;
		background-color: lightsalmon;
		border: solid 1px blue;
	}
</style>


<table class="table-painel">
	<caption>CONTROLE DE REPOSIÇÃO DE MATERIAIS (<span data-bind="text: painel().length"></span> romaneios)</caption>
	<thead>
		<tr>
			<th style="width: 100px;">Romaneio</th>
			<th style="width: 200px;">Data Solic.</th>
			<th>Status</th>
			<th style="width: 100px;">Itens</th>
			<th style="width: 100px;">Itens pagos</th>
			<th>Dias</th>
			<th style="width: 40px;"></th>
		</tr>
		<tr class="subtotal">
			<th></th>
			<th></th>
			<th style="text-align: right;">TOTAIS</th>
			<th style="text-align: right;" data-bind="text: subTotal().QtdItens"></th>
			<th style="text-align: right;" data-bind="text: subTotal().QtdPagos"></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody data-bind="foreach: painel">
		<tr>
			<td data-bind="text: NumRomaneio"></td>
			<td style="text-align: center;" data-bind="text: DatGeracao"></td>
			<td style="text-align: center;" data-bind="text: Status"></td>
			<td data-bind="text: QtdItens"></td>
			<td data-bind="text: QtdPagos"></td>
			<td data-bind="text: QtdDias"></td>
			<td>
				<a data-bind="visible: QtdDias" class="critico" title="Romaneio aberto há mais de 6 horas ou 1 dia!" href="#">!</a>
				<a data-bind="visible: QtdCritico" class="alerta" title="Há itens críticos nesse romaneio" href="#">!</a>
			</td>
		</tr>
	</tbody>
</table>
<br /><br/>
<script>
	function showtime() {
		var now = new Date();
		var hours = now.getHours();
		var minutes = now.getMinutes();
		var seconds = now.getSeconds();
		var timeValue = "" + (hours);
		timeValue += ((minutes < 10) ? ":0" : ":") + minutes
		timeValue += ((seconds < 10) ? ":0" : ":") + seconds

		return timeValue;
	}

	function showdate() {
		var now = new Date();
		var year = now.getFullYear();
		var month = now.getMonth() + 1;
		var day = now.getDate();
		var dateValue = "";
		dateValue += ((day < 10) ? "0" : "") + day;
		dateValue += ((month < 10) ? "/0" : "/") + month;
		dateValue += '/' + year;

		return dateValue;
	}

	function Relogio() {
		$('#hora').html(showtime());
		$('#data').html(showdate());
	}

	function ViewModel(painel) {
		var self = this;
		self.painel = ko.mapping.fromJS(painel);

		self.obterDados = function () {
			//ko.mapping.fromJS([], self.painel);

			$.ajax({
				type: "GET",
				url: "/Materiais/Reposicao/ObterDadosPainel/",
				success: function (data) {
					ko.mapping.fromJS(data, self.painel);
				}
			});
		};

		self.subTotal = ko.computed( function () {
			var total = {QtdItens: 0, QtdPagos: 0};
			$.each(self.painel(), function (key, val) { total.QtdItens += val.QtdItens(); total.QtdPagos += val.QtdPagos(); });
			return total;
		});
	};

	var viewModel = new ViewModel(@Html.Raw(Json.Encode(Model)));
	ko.applyBindings(viewModel);

	$('table.table-painel').floatThead({
		useAbsolutePositioning: false,
		scrollingTop: 50
	});

	setInterval("viewModel.obterDados();", 60000);
	setInterval("Relogio();", 1000);

	//$("a").tooltip();

</script>
