﻿@using Microsoft.Ajax.Utilities
@using SEMP.Model.DTO
@{
	List<RelReposicaoDTO> reposicoes = ViewBag.Reposicoes;
	TimeSpan? datDiff = new TimeSpan?();
}
@Scripts.Render("~/bundles/excelexport")

<style>
	tr:nth-child(odd) {
	background-color:#ffffff;
	}
	tr:nth-child(even) {
	background-color:#cccccc;
	}
</style>

<td style="width: 10%; text-align: right;"><input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" /></td>

<div class="boxResumo">
	<table style="width: 100%; font-size: 14px;" id="tblResumo">		
		<tr>
			<td style="vertical-align: top;" colspan="7">
				<table style="width: 100%">
					<tr>

						<td style="width: 13%"><b>Qtd. Total de Romaneios:</b></td>
						<td style="width: 8%">@reposicoes.DistinctBy(x => x.Romaneio).Count()</td>

						<td style="width: 11%"><b>Qtd. Total de Itens:</b></td>
						<td style="width: 8%"> @reposicoes.Count()</td>

						<td style="width: 9%"><b>Qtd. de Itens Aprovados:</b></td>
						<td style="width: 8%"> @reposicoes.Count(x => x.DatAprovacao != null)</td>

						<td style="width: 9%"><b>Qtd. de Itens Recebidos:</b></td>
						<td style="width: 8%"> @reposicoes.Count(x => x.DatRecebimento != null)</td>

						<td style="width: 9%"><b>Qtd. de Itens Pagos:</b></td>
						<td style="width: 8%"> @reposicoes.Count(x => x.DatPagamento != null)</td>
					</tr>
					<tr>

						<td style="width: 9%"><b>Tempo Médio de Reposição (h):</b></td>
						<td style="width: 8%">@{
							                      if (reposicoes.Count(x => x.DatPagamento != null) > 0)
							                      {
								                      @Math.Round(reposicoes.Where(x => x.TempoReposicao.HasValue).Average(x => x.TempoReposicao.Value.TotalHours), 2)
							                      }
						                      } </td>

						<td style="width: 9%"><b>Tempo Médio de Aprovação (min):</b></td>
						<td style="width: 8%">@{
							                      if (reposicoes.Count(x => x.DatAprovacao != null) > 0)
							                      {
								                      @Math.Round(reposicoes.Where(x => x.TempoAprovacao.HasValue).Average(x => x.TempoAprovacao.Value.TotalMinutes), 2)
							                      }
						                      } </td>

						<td style="width: 9%"><b>Tempo Médio de Recebimento (h):</b></td>
						<td style="width: 8%"> @{
							                       if (reposicoes.Count(x => x.DatRecebimento != null) > 0)
							                       {
								                       @Math.Round(reposicoes.Where(x => x.TempoRecebimento.HasValue).Average(x => x.TempoRecebimento.Value.TotalHours), 2)
							                       }
						                       }</td>

						<td style="width: 9%"><b>Itens Pendentes de Recebimento:</b></td>
						<td style="width: 8%"> @{ @(reposicoes.Count() - reposicoes.Count(x => x.DatRecebimento != null)) }</td>

						<td style="width: 9%"><b>Itens Pendentes de Pagamento:</b></td>
						<td style="width: 8%"> @{ @(reposicoes.Count() - reposicoes.Count(x => x.DatPagamento != null)) }</td>

					</tr>
					<tr>
						<td style="width: 9%"><b>Soma de horas:</b></td>
						<td style="width: 8%"> @{
							                       if (reposicoes.Count(x => x.TempoReposicao != null) > 0)
							                       {
								                       @Math.Round(reposicoes.Where(x => x.TempoReposicao.HasValue && x.TempoReposicao.Value.Hours > 6).Sum(x => x.TempoReposicao.Value.TotalHours), 2)
							                       }
						                       }

						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>

<div>

	<table class="table-semp orange smallrow" id="tblDados">
		<caption>Reposição de Material</caption>
		<thead>
		<tr>
			<th><a title="Data de Geração do Romaneio">Data Romaneio</a></th>
			<th>Nº Romaneio</th>
			<th>Item</th>
			<th>Modelo</th>
			<th>Qtd. Itens</th>
			<th>Qtd. Estoque</th>
			<th>Status</th>
			<th>Data Aprovação</th>
			<th>Tempo Aprovação</th>
			<th>Data Recebimento</th>
			<th>Tempo Recebimento</th>
			<th>Data Pagamento</th>
			<th>Tempo de Pagamento</th>
			<th>AP para Pagamento</th>
		</tr>
		</thead>

		<tbody>
		@{
			if (reposicoes != null && reposicoes.Count() > 0)
			{
				foreach (var grupo in reposicoes.GroupBy(x => new { x.Romaneio, x.Dia } ).Select(x => new { Romaneio = x.Key.Romaneio, TotalItens = x.Count(), Data = x.Key.Dia }).ToList())
				{
					<tr style="cursor: pointer;" id="@grupo.Romaneio" onclick="exibirTbody('@grupo.Romaneio');">

						<td>@grupo.Data.ToShortDateString()</td>
						<td >@grupo.Romaneio</td>
						<td colspan="6">@grupo.TotalItens</td>

					</tr>
					<tbody id="conteudo_@grupo.Romaneio" style="display: none">
						@foreach (var item in reposicoes.Where(x => x.Romaneio == grupo.Romaneio).ToList())
						{
							<tr>
								<td>@item.Dia</td>
								<td>@item.Romaneio</td>
								<td>@item.Item</td>
								<td>@item.Modelo</td>
								<td>@item.QtdItens</td>
								<td>@item.QtdEstoque</td>
								<td>@item.Status</td>
								<td>@item.DatAprovacao</td>
								<td>@{
									if (item.TempoAprovacao.HasValue)
									{
										@String.Format("{0}d {1}h:{2}m:{3}s", item.TempoAprovacao.Value.Days, item.TempoAprovacao.Value.Hours, item.TempoAprovacao.Value.Minutes, item.TempoAprovacao.Value.Seconds)
										//@item.TempoAprovacao.ToString(@"d\d\:h\h\:m\m\:s\s", System.Globalization.CultureInfo.InvariantCulture)

									}
								}
								</td>
								<td>@item.DatRecebimento</td>
								<td>@{
									if (item.DatRecebimento.HasValue)
									{
										@String.Format("{0}d {1}h:{2}m:{3}s", item.DatRecebimento.Value.Day, item.DatRecebimento.Value.Hour, item.DatRecebimento.Value.Minute, item.DatRecebimento.Value.Second)
									}
								}
								</td>
								<td>@item.DatPagamento</td>
								<td>@{
									if (item.TempoReposicao.HasValue)
									{
										    @String.Format("{0}d {1}h:{2}m:{3}s", item.TempoReposicao.Value.Days, item.TempoReposicao.Value.Hours, item.TempoReposicao.Value.Minutes, item.TempoReposicao.Value.Seconds)
											//@item.TempoReposicao											
									}
								    }
								</td>
								<td>@{
									    if (item.DatPagamento == null && (item.Dia.Year == DateTime.Now.Year && item.Dia.Month == DateTime.Now.Month))
									    {										    
										    <a href="#" onclick=" consultar(@item.Item.Substring(0, 6)); return false; ">Consultar</a>
											//@item.NumAP
									    }
								    }
								</td>
							</tr>	
						}		
					</tbody>
								
				}
			}
		}

		</tbody>

	</table>
</div>

<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<div id="modal" style="display: none">

</div>

<div id="novo" style="display:none">
	<table id="novaTable">

	</table>
</div>

<div style="margin-top: 10px">

</div>



<script>
	
	function exibirTbody(id) {
		
		if ($('#conteudo_' + id).css('display') == 'none') {
			$('#conteudo_' + id).fadeIn();
		} else {
			$('#conteudo_' + id).fadeOut();
		}
	}

	$("#dialog-edit").dialog({
		title: 'Consultar AP para Pagamento',
		autoOpen: false,
		resizable: false,
		width: 500,
		height: 360,
		top: 0,
		show: { effect: 'drop', direction: "up" },
		modal: true,
		draggable: true,
		open: function (event, ui) {
			$(".ui-dialog-titlebar-close").hide();
			$(this).html("");
			$(this).load(url);
		}
	});

	//$("#consultar").on("click", function (e) {
	//	// e.preventDefault(); use this or return false
	//	url = "/Coleta/Materiais/ConsultaAPPagamento";
	//	$(".ui-dialog-title").html("Connsulta AP para Pagamento");
	//	$("#dialog-edit").dialog('open');

	//	return false;
	//});

	$("#btnclose").on("click", function (e) {
		$("#dialog-edit").dialog("close");
		return false;
	});

	function consultar(id) {

		$("#modal").html($('#carregando').html());

		var url = "/Materiais/Reposicao/ConsultaAPPagamento";
		//$(".ui-dialog-title").html("Connsulta AP para Pagamento");


		$.ajax({
			type: "GET",
			url: url,
			dataType: "html",
			data: { id: id },
			cache: false,
			async: true,
			success: function (data) {
				$("#modal").html(data);
			}
		});

		$("#modal").dialog(
		{
			title: 'Consultar AP para Pagamento',
			//autoOpen: false,
			resizable: false,
			width: 600,
			height: 200,
			//top: 10,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("X");				
			}
		}
		);

		return false;
	}

	$(document).ready(function () {
		$("#btnExportar").click(function () {

			$("#novaTable").html($("#tblDados").html());
			$("#novaTable").append("<tr></tr>");
			$("#novaTable").append($("#tblResumo").html());

			$("#novaTable").btechco_excelexport({
				containerid: "novaTable",
				datatype: $datatype.MVC
			});

		});
	});

</script>