﻿
@{
	ViewBag.Title = "RELATÓRIO DE PRODUÇÃO DIÁRIA X PROGRAMA";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Produção Diária x Programa";

	var diaAtual = DateTime.Now.ToShortDateString();

	var parametro = Request["Data"];

	if (!String.IsNullOrEmpty(parametro))
	{
		diaAtual = DateTime.Parse(parametro).ToShortDateString();
	}

}
@Scripts.Render("~/bundles/excelexport")
@Scripts.Render("~/bundles/floatThead")

<style>
	.cabecalho_pp {
		display: none;
	}
	h3.tituloEscondido {
		display: none;
		font-size: 14px;
	}
</style>
<style type="text/css" media="print">
	.cabecalho_pp {
		/*display: block;*/
		margin-bottom: 10px;        
	}
	#filtro {
		display: none;
	}

	h3.titulo {
		text-align: center;
		display: none;
	}
	h3.tituloEscondido {
		display: block;
		margin: 0;
		font-size: 14px;
	}
</style>

<div class="cabecalho_pp">
	<span>SEMP TOSHIBA AM</span><br/>
	<span id="desFase">FECHAMENTO</span>
	<span style="float: right" id="Data">@diaAtual</span>
</div>
<h3 class="titulo">@ViewBag.Title</h3>

<div class="row" id="filtro">
	<div class="pull-left" style="width: 230px;">
		<label class="col-md-2" style="width: 50px; margin-top: 8px;">Data:</label>
		<div class="col-md-4" style="width: 170px;">
			<div class="input-group input-group-sm" style="width: 100px;">
				<div class="input-group-btn"><button class="btn btn-default btn-group-xs menos"><span class="glyphicon glyphicon-minus"></span></button></div>
				<input type="text" name="datInicio" id="datInicio" class="form-control input-sm calendar-group" style="width: 100px;" value="@diaAtual" />
				<div class="input-group-btn"><button class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></button></div>
			</div>
		</div>
	</div>

	<div class="pull-left" style="width: 230px;">
		<label class="col-md-2" style="margin-top: 8px;">Fase:</label>
		<div class="col-md-8">
			<select name="Fase" id="fase" class="form-control input-sm">
				<option value="F">MF</option>
				<option value="M">IMC</option>
				<option value="I">IAC</option>
			</select>
		</div>
	</div>
	<div class="pull-left">
		<div class="btn-group">
			<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="btn btn-sm btn-success" />
			<input type="button" name="btnEnviar" value="Consultar" class="btn btn-sm btn-danger" onclick="btnEnviar_Click();" />
		</div>
	</div>
</div>
<br />
<div id="conteudo"></div>

<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<script type="text/javascript">

	$(function () {
		$("#datInicio").datepicker();

		$('.mais').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			var date = $(campo).datepicker('getDate');
			date.setDate(date.getDate() + 1);
			$(campo).datepicker("setDate", date);
		});

		$('.menos').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			var date = $(campo).datepicker('getDate');
			date.setDate(date.getDate() - 1);
			$(campo).datepicker("setDate", date);
		});

		btnEnviar_Click();

	});

	$("#btnExportar").click(function () {

		$("#tblDados").btechco_excelexport({
			containerid: "tblDados",
			datatype: $datatype.MVC
		});
	});

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

		var datInicio = $("#datInicio").val();

		$.ajax({
			type: "GET",
			url: "/Outros/ProducaoDiaria/Lista/",
			data: {
				datInicio: datInicio,
				Fase: $("#fase").val()
			},
			success: function (data) {
				$("#conteudo").html(data);
				$("#Data").html(data);
				$('td').tooltip();

				$('table.table-telex').floatThead({
					useAbsolutePositioning: false,
					scrollingTop: 75
				});

				if ($("#fase").val() == "F") {
					$("#desFase").html("FECHAMENTO");
				} else if ($("#fase").val() == "M") {
					$("#desFase").html("IMC");
				} else if ($("#fase").val() == "I") {
					$("#desFase").html("IAC");
				}

				window.history.replaceState('Object', '@ViewBag.Title', '/Outros/ProducaoDiaria/?Data=' + datInicio);
			},
			error: function (data) {
				$("#conteudo").html(data.responseText);
			}
		});
	}

	@{
		if (!String.IsNullOrEmpty(ViewBag.mensagem))
		{
			WriteLiteral("alert('" + ViewBag.mensagem + "');");
		}
	}

</script>


