﻿@using SEMP.Model.VO.PM
@model IEnumerable<ProgramaDiario>

@{
	var data = Request["datInicio"];
	var fase = Request["fase"];

}

@helper SubTotal(List<ProgramaDiario> totais, string titulo)
	{
		decimal eficiencia = 0;
		decimal indice = 0;

		decimal qtdProg = totais.Sum(x => x.QtdProgDia) ?? 0;
		decimal qtdProd = totais.Sum(x => x.QtdProdDia) ?? 0;
		decimal defeitos = totais.Sum(x => x.QtdDefeitos) ?? 0;

		decimal qtdVPE = totais.Sum(x => x.QtdVPE) ?? 0;
		decimal qtdPP = totais.Sum(x => x.QtdPP) ?? 0;
		decimal qtdAcumulada = totais.Sum(x => x.QtdAcumulada) ?? 0;

		if (qtdProg > 0)
		{
			eficiencia = (qtdProd / qtdProg);
		}

		if (qtdProd > 0)
		{
			indice = (defeitos / qtdProd);
		}

		var umRegistro = totais.FirstOrDefault();
		bool mostrarDefeito = umRegistro != null && (umRegistro.NomFam.Equals("TV LCD") || umRegistro.NomFam.Equals("AUDIO") || umRegistro.NomFam.Equals("DVD") || umRegistro.NomFam.Equals("MOB"));

		<tr class="subtotal">
			<td class="colProdutos font12">@titulo (@totais.Count() modelos)</td>
			<td class="colPrograma font12">@qtdVPE.ToString("N0")</td>
			<td class="colPrograma font12">@qtdPP.ToString("N0")</td>
			<td class="colPrograma font12">@qtdProg.ToString("N0")</td>
			<td class="colPrograma font12">@qtdProd.ToString("N0")</td>
			<td class="colPrograma font12">@totais.Sum(x => x.QtdDifDia)</td>
			<td class="colPrograma font12">@eficiencia.ToString("P2")</td>
			<td class="colPrograma font12">@qtdAcumulada.ToString("N0")</td>
			<td class="colPrograma font12">@if (mostrarDefeito)
			{@defeitos}</td>
			<td class="colPrograma font12" style="border-right: solid 1px #000;">@if (mostrarDefeito)
			{@indice.ToString("P2")}</td>
			<td style="display: none; border-right: solid 1px #000;"></td>
		</tr>
}

<style>
	table.table-telex {
		margin: 0;
		padding: 0px;
		width: 800px;
		border: 2px solid #000;
		border-width: 0px 1px 1px 1px;
		-moz-border-radius-bottomleft: 0px;
		-webkit-border-bottom-left-radius: 0px;
		border-bottom-left-radius: 0px;
		-moz-border-radius-bottomright: 0px;
		-webkit-border-bottom-right-radius: 0px;
		border-bottom-right-radius: 0px;
		-moz-border-radius-topright: 0px;
		-webkit-border-top-right-radius: 0px;
		border-top-right-radius: 0px;
		-moz-border-radius-topleft: 0px;
		-webkit-border-top-left-radius: 0px;
		border-top-left-radius: 0px;
		border-collapse: collapse;
		border-spacing: 0;
		/*height: 100%;*/
	}

		table.table-telex caption {
			border: solid 1px #000;
			font-size: 12px;
			font-weight: bold;
			text-align: left;
			padding: 5px;
		}

		table.table-telex tbody tr {
			height: 18px;
		}

			table.table-telex tbody tr td {
				border-right: 1px #bbb solid;
			}

				table.table-telex tbody tr td:last-child {
					border-right: 0px;
				}

			table.table-telex tbody tr td {
				vertical-align: middle;
				border-width: 0px 1px 1px 0px;
				text-align: left;
				padding: 5px;
				font-size: 10px;
				font-family: Helvetica;
				font-weight: normal;
				color: #000000;
			}

			table.table-telex tbody tr:nth-child(odd) {
				background-color: #ffffff;
			}

			table.table-telex tbody tr:nth-child(even) {
				background-color: #ededed;
			}

		table.table-telex thead tr:first-child th {
			background: #c9c9c9; /* Old browsers */
			background: -moz-linear-gradient(top, #c9c9c9 0%, #6b6b6b 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9c9c9), color-stop(100%,#6b6b6b)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #c9c9c9 0%,#6b6b6b 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #c9c9c9 0%,#6b6b6b 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #c9c9c9 0%,#6b6b6b 100%); /* IE10+ */
			background: linear-gradient(to bottom, #c9c9c9 0%,#6b6b6b 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#6b6b6b',GradientType=0 ); /* IE6-9 */
			text-align: center;
			font-size: 12px;
			font-family: Helvetica;
			font-weight: bold;
			color: #ffffff;
			border-right: 1px solid #000000;
		}

		table.table-telex tr.hover:hover td {
			background-color: rgb(255, 255, 203);
			color: black;
		}

		table.table-telex tr.selected td {
			background-color: rgb(128, 128, 255); /*rgb(203, 200, 157);*/
			color: white;
			font-weight: bold;
		}

		table.table-telex thead tr:first-child th a {
			color: #ffffff;
			text-decoration: none;
			width: 100%;
		}

		table.table-telex tfoot tr {
			height: 18px;
		}

			table.table-telex tfoot tr td {
				border-right: 1px #bbb solid;
			}

				table.table-telex tfoot tr td:last-child {
					border-right: 0px;
				}

			table.table-telex tfoot tr td {
				vertical-align: middle;
				border-width: 0px 1px 1px 0px;
				text-align: left;
				padding: 7px;
				font-size: 10px;
				font-family: Helvetica;
				font-weight: normal;
				color: #000000;
				background-color: #fff;
				border-top: solid 1px #000;
			}


	.colProdutos {
		width: 300px !important;
	}

	.colPrograma {
		width: 50px !important;
		text-align: right !important;
	}

	.center {
		text-align: center !important;
	}

	.familia td {
		border-top: solid 1px #000000 !important;
		border-bottom: solid 1px #000000 !important;
		font-weight: bold !important;
		font-size: 14px !important;
		padding-left: 5px;
		background-color: #fff
	}

	.subtotal td {
		font-weight: bold !important;
	}

	.font12 {
		font-size: 12px !important;
	}
</style>

<h3 style="float: right" class="tituloEscondido">DATA RELATÓRIO: @data</h3>
<table class="table-telex" id="tblDados">
	<caption style="border-right: solid 1px #000;">
		<b>
			DE: PRODUÇÃO - DPROD - JOSÉ HIGINO<br />
			CPS: MAXIMILIANO, PAULO SANDRINI, ROBERTO SILVA, EDUARDO FREITAS, M. MARIALVA, NELSON BERTO, ANTONIO SILVA
		</b>
	</caption>
	<thead>
		<tr>
			<th class="colProdutos">PRODUTOS</th>
			<th class="colPrograma center">Prog. VPE</th>
			<th class="colPrograma center">Prog. PP</th>
			<th class="colPrograma center">Prog. Dia</th>
			<th class="colPrograma center">Prod. Dia</th>
			<th class="colPrograma center">Dif. Dia</th>
			<th class="colPrograma center">Efic. (%)</th>
			<th class="colPrograma center">Prod. Acum.</th>
			<th class="colPrograma center">Defeito Dia</th>
			<th class="colPrograma center" style="border-right: solid 1px #000;">Índice (%)</th>
			<th style="display: none; border-right: solid 1px #000;">Observação</th>
		</tr>
	</thead>
	<tbody>
		@{
			if (Model.Any())
			{
				var familia = "";

				foreach (var item in Model)
				{
					var qtdDefeitos = (item.NomFam == "TV LCD") || (item.NomFam == "LCD") || (item.NomFam == "AUDIO") || (item.NomFam == "DVD") || (item.CodFam == "MOB") ? item.QtdDefeitos.ToString() : "";
					var indDefeitos = (item.NomFam == "TV LCD") || (item.NomFam == "LCD") || (item.NomFam == "AUDIO") || (item.NomFam == "DVD") || (item.CodFam == "MOB") ? ((decimal)item.IndDefeitos).ToString("N2") : "";

					if (familia != item.NomFam)
					{
						if (!familia.Equals(String.Empty))
						{
							var totais = Model.Where(x => x.NomFam.Equals(familia)).ToList();
							@SubTotal(totais, "SubTotal")
						}

						familia = item.NomFam;

						<tr class="familia">
							<td colspan="12" style="border-right: solid 1px #000;">@item.NomFam</td>
						</tr>
					}

					<tr>
						<td class="colProdutos font12">@Html.DisplayFor(modelItem => item.CodModelo) @Html.DisplayFor(modelItem => item.DesModelo)</td>
						<td class="colPrograma font12">@Html.DisplayFor(modelItem => item.QtdVPE)</td>
						<td class="colPrograma font12">@Html.DisplayFor(modelItem => item.QtdPP)</td>
						<td class="colPrograma font12">@Html.DisplayFor(modelItem => item.QtdProgDia)</td>
						<td class="colPrograma font12">@Html.DisplayFor(modelItem => item.QtdProdDia)</td>
						<td class="colPrograma font12">@Html.DisplayFor(modelItem => item.QtdDifDia)</td>
						<td class="colPrograma font12">@Html.DisplayFor(modelItem => item.IndEficiencia)</td>
						<td class="colPrograma font12">@Html.DisplayFor(modelItem => item.QtdAcumulada)</td>
						<td class="colPrograma font12">@qtdDefeitos</td>
						<td class="colPrograma font12" style="border-right: solid 1px #000;">@indDefeitos</td>
						<td style="display:none; border-right: solid 1px #000; font-size: 8px;">@Html.DisplayFor(modelItem => item.Observacao)</td>
					</tr>
				}
				if (familia != null)
				{
					var totais2 = Model.Where(x => x.NomFam.Equals(familia)).ToList();

					@SubTotal(totais2, "SubTotal")
				}
			}
		}
	</tbody>
	<tfoot>
		<tr><td colspan="12" style="border-right: solid 1px #000;"></td></tr>
		@if (fase == "M")
		{
			@SubTotal(Model.ToList(), "Total Geral")
		}
		else
		{
			@SubTotal(Model.Where(x => x.CodFam != "DAT").ToList(), "Total Geral")
		}
	</tfoot>
</table>
<em>1. Total geral desconsidera quantidades do DAT. 2. Índice de defeitos = (Defeitos Dia) / (Prod. Dia) </em>
<br /><br />
@ViewBag.mensagem

<div style="float: right;">
	<b>Data Impressão: @DateTime.Now.ToString()</b>
</div>