﻿@model SEMP.Model.DTO.ProdAmplitudeDTO

@using (Html.BeginForm("Create", "Amplitude", FormMethod.Post, new { @id = "frmAmplitude" })) 
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		<div class="row">
			<div class="col-md-5">
				@Html.LabelFor(model => model.CodFab, new { @class = "control-label", style="float: left;" })
				<div class="input-group">
					@Html.TextBoxFor(model => model.CodFab, new { @style = "width: 30px;", @maxlength="2", @class="form-control"})
					@Html.TextBoxFor(model => model.DesFabrica, new { @disabled = "disabled", @style = "width: 100px;", @class="input-group-addon" })
				</div>
				@Html.ValidationMessageFor(model => model.CodFab)
			</div>
			<div class="col-md-7">
				@Html.LabelFor(model => model.CodDepto, new { @class = "control-label", style="float: left;" })
				<div class="input-group">
					@Html.TextBoxFor(model => model.CodDepto, new { @style = "width: 60px;", @maxlength="5", @class="form-control"})
					@Html.TextBoxFor(model => model.DesDepto, new { @disabled = "disabled", @style = "width: 130px;", @class="input-group-addon" })
				</div>
				@Html.ValidationMessageFor(model => model.CodDepto)
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				@Html.LabelFor(model => model.NomUsuario, new { @class = "control-label", @style="float: left;" })
				<div class="input-group">
					@Html.TextBoxFor(model => model.NomUsuario, new { @style = "width: 100px;", @class="form-control text-uppercase"})
					@Html.TextBoxFor(model => model.NomeUsuario, new { @style = "width: 260px;",  @disabled = "disabled", @class="input-group-addon"})
				</div>
				@Html.ValidationMessageFor(model => model.NomUsuario)
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				@Html.LabelFor(model => model.NomEmail, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.NomEmail, new { @style = "width: 300px;"})
				@Html.ValidationMessageFor(model => model.NomEmail)
			</div>
		</div>

		<div class="row">
			<div class="col-md-7">
				<div class="input-group input-group-sm">
					@Html.LabelFor(model => model.TipUsuario, new { @class = "form-control" })
					<div class="input-group-addon">
						<input type="radio" name="TipUsuario" id="TipUsuarioC" value="C"/> Chefia &nbsp;
						<input type="radio" name="TipUsuario" id="TipUsuarioN" value="N"/> Normal
					</div>
				</div>
				@Html.ValidationMessageFor(model => model.TipUsuario)
			</div>
		</div>

		<br/>
		<div class="row">
			<div style="margin-top: 10px; margin-right: 10px; display: inline-block;">
				<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
			</div>
		</div>
	</div>
}

<script>
	function gravar() {
		$.ajax({
			type: "POST",
			url: "/Amplitude/Create/",
			data: $("#frmAmplitude").serialize(),
			dataType: "json",
			success: function (json) {
				if (json.resultado == true) {
					alert("Registro inserido com sucesso.");
					$("#CodFab").val("");
					$("#DesFabrica").val("");
					$("#CodDepto").val("");
					$("#NomUsuario").val("");
					$("#NomeUsuario").val("");
					$("#NomEmail").val("");
				} else {
					alert("Erro ao cadastrar: " + json.mensagem);
				}
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr.responseText);
			}
		});
	}

	$(function() {
		$("#CodFab").blur(function () {
			if ($(this).val() == "") return;

			$(this).val(padLeft($(this).val(), 2));

			$("#DesFabrica").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoFabrica/",
				data: { CodFab: $("#CodFab").val() },
				success: function (data) {
					$("#DesFabrica").val(data);
				}
			});
		});

		$("#CodDepto").blur(function () {
			var valor = $(this).val();
			if (valor == "") {
				$("#DesDepto").val("");
				return;
			}

			if ($("#CodFab").val() == "") {
				alert("Informe a fábrica");
				$("#CodDepto").val("");
				$("#CodFab").focus();
				return;
			}

			valor = valor.toUpperCase();
			if (valor == "DCOM") valor = "SUPM";
			$(this).val(valor);

			$("#DesDepto").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDesDepto/",
				data: { CodDepto: valor, CodFab: $("#CodFab").val() },
				success: function (data) {
					$("#DesDepto").val(data);
				}
			});
		});

		$("#NomUsuario").blur(function () {

			var valor = $(this).val();

			if (valor == "") return;
			valor = valor.toUpperCase();

			if ($("#CodFab").val() == "") {
				alert("Informe a fábrica");
				$("#NomUsuario").val("");
				$("#CodFab").focus();
				return;
			}

			$(this).val(valor);
			$("#NomeUsuario").val("");

			$.ajax({
				type: "GET",
				url: "/Util/ObterUsuario/",
				data: { CodFab: $("#CodFab").val(), NomUsuario: valor },
				dataType: "json",
				async: false,
				success: function (json) {
					if (json.FullName != "") {
						$("#NomeUsuario").val(json.FullName);
						$("#NomEmail").val(json.Email);
					} else {
						alert("Usuário inválido");
						$("#NomeUsuario").val("");
						$("#NomUsuario").val("");
					}
				},
				error: function (erro) {
					$("#NomeUsuario").val("");
					$("#NomUsuario").val("");
					alert("Usuário inválido");
				}
			});
		});

	});
</script>