﻿@model SEMP.Model.DTO.ProdAmplitudeDTO

<h3>Confirma a exclusão desse registro?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.CodFab)</dt>
		<dd>@Html.DisplayFor(model => model.CodFab)</dd>
		<dt>@Html.DisplayNameFor(model => model.CodDepto)</dt>
		<dd>@Html.DisplayFor(model => model.CodDepto)</dd>
		<dt>@Html.DisplayNameFor(model => model.NomUsuario)</dt>
		<dd>@Html.DisplayFor(model => model.NomUsuario)</dd>
		<dt>@Html.DisplayNameFor(model => model.NomEmail)</dt>
		<dd>@Html.DisplayFor(model => model.NomEmail)</dd>
		<dt>@Html.DisplayNameFor(model => model.TipUsuario)</dt>
		<dd>@Html.DisplayFor(model => model.TipUsuario)</dd>

	</dl>

	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()

			<div class="form-actions no-color" style="margin-top: 10px;">
				<div style="margin-top: 10px; display: inline-block;">
					<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
				</div>
				<div style="display: inline-block;">
					<input type="submit" value="Apagar" class="bttn bttn-sm bttn-red" />
				</div>
			</div>
	}
</div>
