﻿@{
	ViewBag.Title = "Amplitude para Emails";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Amplitude para Emails";

}
@Scripts.Render("~/bundles/excelexport")

<h3>@ViewBag.Title</h3>

<div class="row">
	<div class="col-md-2" style="width: 200px;">
		<label style="margin-top: 5px;">Fáb.</label>
		<div class="input-group" style="float:right;">
			<input type="text" name="pCodFab" id="pCodFab" value="" style="width: 30px;" class="form-control" />
			<input type="text" name="pDesFab" id="pDesFab" value="" style="width: 100px;" class="input-group-addon" disabled="disabled" />
		</div>
	</div>
	<div class="col-md-3">
		<label style="margin-top: 5px;">Depto: </label>
		<div class="input-group" style="float:right;">
			<input type="text" name="pCodDepto" id="pCodDepto" class="form-control text-uppercase" style="width: 60px;" />
			<input type="text" name="pDesDepto" id="pDesDepto" class="input-group-addon text-uppercase" style="width: 200px;" disabled="disabled" />
		</div>
	</div>
	<div class="col-md-1">&nbsp;<!-- Placeholder --></div>
	<div class="col-md-6">
		<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
		<input type="button" name="btnNovo" id="btnNovo" value="Novo" class="bttn bttn-sm bttn-red" />
		<input type="button" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" onclick="btnEnviar_Click();"/>
	</div>
</div>
<br />

<div id="dialog-edit" style="display: none; top: 10px;"></div>
<div id="conteudo"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<script type="text/javascript">


	var url = "";
	$(function () {
		btnEnviar_Click();

		$("#dialog-edit").dialog({
			title: 'Editar',
			autoOpen: false,
			resizable: false,
			width: 500,
			height: 300,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		$(".linkEdit").on("click", function (e) {
			// e.preventDefault(); use this or return false
			url = $(this).attr('href');
			$(".ui-dialog-title").html("Editar");
			$("#dialog-edit").dialog('open');
			$("#dialog-edit").css("height", 450);

			return false;
		});

		$("#btnNovo").on("click", function (e) {
			// e.preventDefault(); use this or return false
			url = "/Outros/Amplitude/Create/";
			$(".ui-dialog-title").html("Novo registro");
			$("#dialog-edit").dialog('open');

			return false;
		});

		$("#btnExportar").click(function () {
			window.open("/Outros/Amplitude/Lista/");

			/*$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});*/
		});

		$("#pCodFab").blur(function () {
			if ($(this).val() == "") return;

			$(this).val(padLeft($(this).val(), 2));

			$("#pDesFab").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoFabrica/",
				data: { CodFab: $("#pCodFab").val() },
				success: function (data) {
					$("#pDesFab").val(data);
				}
			});
		});

		$("#pCodDepto").blur(function () {
			var valor = $(this).val();
			if (valor == "") {
				$("#pDesDepto").val("");
				return;
			}

			valor = valor.toUpperCase();
			if (valor == "DCOM") valor = "SUPM";
			$(this).val(valor);

			$("#pDesDepto").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDesDepto/",
				data: { CodDepto: valor, CodFab: $("#pCodFab").val() },
				success: function (data) {
					if (data != "") {
						$("#pDesDepto").val(data);
					} else {
						$("#pDesDepto").val("Grupo " + valor);
					}
				}
			});
		});

	});

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			data: { codDepto: $("#pCodDepto").val(), codFab: $("#pCodFab").val() },
			url: "/Outros/Amplitude/Lista/",
			success: function (data) {
				$("#conteudo").html(data);
				$(".linkEdit").on("click", function (e) {
					url = $(this).attr('href');
					$(".ui-dialog-title").html("Alterar");
					$("#dialog-edit").dialog('open');

					return false;
				});
				$('a').tooltip();
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	@{
		if (!String.IsNullOrEmpty(ViewBag.mensagem))
		{
			WriteLiteral("alert('" + ViewBag.mensagem + "');");
		}
	}

</script>
