﻿@model IEnumerable<SEMP.Model.DTO.ProdAmplitudeDTO>

<table class="table-semp smallrow" id="tblDados" style="width: 70%;">
	<thead>
		<tr>
			<th style="width: 45px; text-align: center;"></th>
			<th>@Html.DisplayNameFor(model => model.CodFab)</th>
			<th>@Html.DisplayNameFor(model => model.CodDepto)</th>
			<th>@Html.DisplayNameFor(model => model.NomUsuario)</th>
			<th>@Html.DisplayNameFor(model => model.NomeUsuario)</th>
			<th>@Html.DisplayNameFor(model => model.NomEmail)</th>
			<th>@Html.DisplayNameFor(model => model.TipUsuario)</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.ActionLink(" ", "Edit", new { codFab = item.CodFab, codDepto = item.CodDepto, nomUsuario = item.NomUsuario }, new { @class="linkEdit glyphicon glyphicon-edit", @title="Editar registro"}) |
				@Html.ActionLink(" ", "Delete", new { codFab = item.CodFab, codDepto = item.CodDepto, nomUsuario = item.NomUsuario }, new { @class="linkEdit glyphicon glyphicon-remove", @title="Remover"})
			</td>
			<td>@Html.DisplayFor(modelItem => item.CodFab) - @Html.DisplayFor(modelItem => item.DesFabrica)</td>
			<td>@Html.DisplayFor(modelItem => item.CodDepto)</td>
			<td>@Html.DisplayFor(modelItem => item.NomUsuario)</td>
			<td>@Html.DisplayFor(modelItem => item.NomeUsuario)</td>
			<td>@Html.DisplayFor(modelItem => item.NomEmail)</td>
			<td>@Html.DisplayFor(modelItem => item.TipUsuario)</td>
		</tr>
	}
	</tbody>
</table>
<br /><br/>