﻿@model SEMP.Model.DTO.CBPostoDTO

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Alterar</title>
</head>
<body>
	@using (Html.BeginForm("Alterar", "CadOperador", FormMethod.Post, new { @class = "form-inline", @role = "form" }))
 {
		@Html.AntiForgeryToken()
		
		<div class="form-horizontal" style="margin-left: 10px;">
			@Html.ValidationSummary(true)
			@Html.HiddenFor(model => model.CodLinha)
			@Html.HiddenFor(model => model.NumPosto)

			<div class="form-group">
				<b>Posto:</b> @Html.ValueFor(model => model.DesPosto)
			</div>
			<br />
			<br />
			<div class="form-group">
				<b>@Html.LabelFor(model => model.CodDRT)</b>
				@Html.EditorFor(model => model.CodDRT)
				@Html.ValidationMessageFor(model => model.CodDRT)
				@Html.EditorFor(model => model.NomFuncionario)
			</div>
			<br />
			<div class="form-group">
				<div style="margin-top: 10px; display: inline-block;">
					@Html.ActionLink("Retornar", "Index", new {codLinha = Model.CodLinha}, new { @class = "bttn bttn-sm bttn-red retornar", @style = "color: white; text-decoration: none;" })
				</div>
				<div style="display: inline-block;">
					<input type="submit" value="Gravar" class="bttn bttn-sm bttn-red" />
				</div>
			</div>
		</div>
 }

	<script>

		$("#CodDRT").blur(function () {
			$.ajax({
				type: "GET",
				url: "/Util/ObterNomFuncionario/",
				data: { codDRT: $("#CodDRT").val() },
				success: function (data) {
					$("#NomFuncionario").val(data);
				}
			});
		});
	</script>
</body>
</html>
