﻿@model IEnumerable<SEMP.Model.DTO.CBPostoDTO>

@{
	ViewBag.Title = "Cadastro de Operador por posto";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Auditor de série";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var CodLinha = Request["CodLinha"];
	var Fabrica = Request["fabrica"];


}

<h3>@ViewBag.Title</h3>

<div id="dialog-edit" style="display: none; top: 10px;"></div>

<form name="frmRelatorio" action="" method="post" style="padding-left: 15px;">
	<div class="row">
		<div class="col-xs-20 col-v">
			<div class="col-xs-8">
				<label>F&aacute;brica&#58;</label>
				<select id="cmbFabrica" name="fabrica" class="fabrica">
					<option value="IAC" @{if (Fabrica == "IAC") { WriteLiteral("selected"); }}>IAC</option>
					<option value="IMC" @{if (Fabrica == "IMC") { WriteLiteral("selected"); }}>IMC</option>
					<option value="FEC" @{if (Fabrica == "FEC") { WriteLiteral("selected"); }}>FEC</option>
				</select>
			</div>
			<div class="col-xs-10">
				<label>Linha&#58;</label>
				<select id="CodLinha" name="CodLinha" class="linha">
				</select>
			</div>
			<div class="col-xs-10 right">
				<input type="submit" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" />
			</div>
		</div>
	</div>
</form>


<table class="table-semp smallrow">
	<thead>
		<tr>
			<th style="width: 100px;"></th>
			<th style="width: 50px;">@Html.DisplayNameFor(model => model.NumPosto)</th>
			<th>@Html.DisplayNameFor(model => model.DesPosto)</th>
			<th style="width: 100px;">@Html.DisplayNameFor(model => model.CodDRT)</th>
			<th>@Html.DisplayNameFor(model => model.NomFuncionario)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
  {
	  <tr>
		  <td>@Html.ActionLink("Alterar operador", "Alterar", "CadOperador", new { CodLinha = item.CodLinha, NumPosto = item.NumPosto}, new { @class = "lnkEdit" })</td>
		  <td>@Html.DisplayFor(modelItem => item.NumPosto)</td>
		  <td>@Html.DisplayFor(modelItem => item.DesPosto)</td>
		  <td>@Html.DisplayFor(modelItem => item.CodDRT)</td>
		  <td>@Html.DisplayFor(modelItem => item.NomFuncionario)</td>
	  </tr>
  }
	</tbody>

</table>

<br/><br/>

<script type="text/javascript">
	var linha = "@CodLinha";
	var url = "";

	$(document).ready(function () {
		$("#cmbFabrica").change(CarregarLinhas);

		CarregarLinhas();

	});

	function CarregarLinhas() {
		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: $("#cmbFabrica").val() },
			dataType: "json",
			success: function (json) {
				var options = "";
				var selected = "";
				options += '<option value="" selected="selected"> SELECIONE A LINHA </option>';
				$.each(json, function (key, Linhas) {
					if (linha == Linhas.CodLinha) { selected = "selected"; } else { selected = ""; }
					options += '<option value="' + Linhas.CodLinha + '" ' + selected + '>' + Linhas.DesLinha + '</option>';
				});
				$("#CodLinha").html(options);
			}
		});
	}

	$("#dialog-edit").dialog({
		title: 'Cadastrar Operador',
		autoOpen: false,
		resizable: false,
		width: 500,
		height: 180,
		top: 0,
		show: { effect: 'drop', direction: "up" },
		modal: true,
		draggable: true,
		open: function (event, ui) {
			$(".ui-dialog-titlebar-close").hide();
			$(this).html("");
			$(this).load(url);
		}
	});

	$(".lnkEdit").on("click", function (e) {
		// e.preventDefault(); use this or return false
		url = $(this).attr('href');
		$(".ui-dialog-title").html("Cadastrar operador");
		$("#dialog-edit").dialog('open');

		return false;
	});
</script>
