﻿@model IEnumerable<SEMP.Model.DTO.CBLinhaDTO>

@{
	ViewBag.Title = "Gestão de Linhas de Produção";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Gestão de Linhas";
}

@Scripts.Render("~/bundles/freewall")
@Styles.Render("~/Content/freewall")
<style>
	.layout2
	{
		margin: 2em 15px;
		color: #333;
	}

	.level1
	{
		width: 100%;
		height: 80px;
	}

	.size_small
	{
		width: 80px;
		height: 80px;
		margin: 3px;
		padding: 10px;
		-ms-border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}

	.size_small .mais {
		display: none;
		padding: 4px;
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.6);
		color: rgb(255, 255, 255);
		font-size: 12px;
		width: 70px;
		height: 20px;
		bottom: -11px;
		position: absolute;
	}

	.size_small:hover .mais {
		display: block;
		cursor: pointer;
	}

	.size_small a {
		text-decoration: none !important;
		color: #FFF;
		font-size: 14px;
	}

	.size_small a:hover {
		color: yellow !important;
	}
	h2 a {
		text-decoration: none;
	}
	h2 a:visited{ color: blue;}
</style>

<div id="janela" style="display: none; top: 10px;"></div>

@{ var setores = Model.GroupBy(x => x.Setor).OrderBy(x => x.Key).Select(x => new { setor = x.Key, Qtde = x.Count() });}

@foreach (var setor in setores)
{
	<div class="layout2">
		<h2>
			<a href="/Coleta/GerirSisap/LinhasSetor/?setor=@setor.setor">@setor.setor</a>&nbsp;&nbsp;
			<a href="/Coleta/GerirSisap/LinhasSetor/?setor=@setor.setor&flgAtivo=S" title="Somente ativos"><span class="glyphicon glyphicon-check" style="color: green;"></span></a>
		</h2>
		<div class="free-wall">
			<div class="level1">
				@foreach (var item in Model.Where(x => x.Setor == setor.setor))
				{
				
					var statusAtivo = "";
					if (item.FlgAtivo == "0")
					{
						statusAtivo = "off";
					}

					<div class="item size_small">
						<div style="height: 12px; display: table; width: 100%; margin-bottom: 6px; font-size: 8px;">
							<a href="#" id="tglFlgAtivo" class="toggler @statusAtivo" style="font-size: 8px;">&nbsp;</a>
						</div>
						<a href="/Coleta/GerirSisap/Postos/@item.CodLinha"><div>@Html.DisplayFor(modelItem => item.CodLinha)-@Html.DisplayFor(modelItem => item.DesLinha)</div></a>
						<a href="/Coleta/Configuracao/EditLinhas/?id=@item.CodLinha&janela=true" class="linkEdit"><div class="mais">Editar</div></a>
					</div>
				}
			</div>
		</div>
		<!-- freewall -->
	</div> <!-- layout -->
}

<script type="text/javascript">
	var jan, url;
	var colour = [
		"rgb(142, 68, 173)",
		"rgb(243, 156, 18)",
		"rgb(211, 84, 0)",
		"rgb(0, 106, 63)",
		"rgb(41, 128, 185)",
		"rgb(192, 57, 43)",
		"rgb(135, 0, 0)",
		"rgb(39, 174, 96)"
	];

	$(".free-wall .item").each(function () {
		var backgroundColor = colour[colour.length * Math.random() << 0];
		$(this).css({
			backgroundColor: backgroundColor
		});
	});

	$(function () {
		/*$(".free-wall").each(function () {
			var wall = new freewall(this);
			wall.reset({
				selector: '.level1',
				draggable: false,
				cellW: 80,
				cellH: 80,
				fixSize: 0,
				gutterX: 20,
				gutterY: 10,
				onResize: function () {
					wall.fitWidth();
				}
			});
			wall.fitWidth();
		});
		$(window).trigger("resize");*/

		jan = $("#janela").dialog({
			title: 'Manutenção',
			autoOpen: false,
			resizable: true,
			width: 700,
			height: 430,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		$(".linkEdit").on("click", function (e) {
			url = $(this).attr('href');

			jan.dialog('open');

			return false;
		});
	});


</script>
