﻿@model IEnumerable<SEMP.Model.DTO.CBLinhaDTO>

@{
	ViewBag.Title = "Gestão de Linhas de Produção";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Gestão de Linhas";

	var postos = (List<SEMP.Model.DTO.CBPostoDTO>)ViewBag.postos ?? new List<SEMP.Model.DTO.CBPostoDTO>();

}

<h3>@ViewBag.Title</h3>

<style>
	.boxPosto {
		border: 1px solid lightgray;
		float: left;
		margin: 3px 5px 3px 3px;
		padding: 5px;
		height: 60px;
		width: 110px;
		border-radius: 5px;
		overflow: hidden;
	}

	.linha {
		height: 25px;
		width: 100%;
		background-color: beige;
		padding-top: 3px;
		padding-left: 40px;
		font-size: 14px;
		font-weight: bold;
	}

	.grupoLinha {
		width: 90%;
		box-shadow: 4px 4px 2px 1px rgba(0, 0, 0, 0.5);
		border-radius: 5px;
		margin-bottom: 10px;
		border-left: solid 1px lightgray;
		border-top: solid 1px lightgray;
	}

	.comSequencia {
		width: 100%;
		padding-left: 5px;
		display: table;
		border-bottom: solid 2px black;
	}
	.semSequencia {
		padding-left: 5px;
		width: 100%;
		display: table;
	}
</style>

@foreach (var item in Model)
{
	<div class="grupoLinha">
		@{
			var statusAtivo = "";
			if (item.FlgAtivo == "0")
			{
				statusAtivo = "off";
			}

		}
		<div class="pull-left" style="margin-top: 5px; margin-left: 5px;">
			<a href="#" id="tglFlgAtivo" class="toggler @statusAtivo">&nbsp;</a>
		</div>
		<div class="linha">
			<div class="pull-left">@Html.DisplayFor(modelItem => item.CodLinha) - @Html.DisplayFor(modelItem => item.DesLinha)</div>
			<div class="pull-left">&nbsp; - C.Custo: @Html.DisplayFor(modelItem => item.CodLinhaT1) </div>
			<div class="pull-left"> ( @Html.DisplayFor(modelItem => item.QtdPostos) postos)</div>
		</div>

		<div class="comSequencia">
			<div class="pull-left"><span class="glyphicon glyphicon-sort-by-attributes" title="Em sequência na linha"></span></div>
			@foreach (var posto in postos.Where(x => x.CodLinha == item.CodLinha && x.NumSeq > 0).OrderBy(x => x.NumSeq).ToList())
			{

			<div class="boxPosto @posto.DesCor" title="@posto.DesPosto">
				<div style="font-size: 10px; float: left;">@posto.CodTipoPosto</div>
				<div style="width: 100%; font-size: 10px; text-align: right;">@posto.NumSeq</div>
				@posto.NumPosto - @posto.DesPosto
			</div>
			}
		</div>
		<div class="semSequencia">
			<div class="pull-left"><span class="glyphicon glyphicon-ban-circle" title="Sem sequência na linha"></span></div>
			@foreach (var posto in postos.Where(x => x.CodLinha == item.CodLinha && x.NumSeq == 0).OrderBy(x => x.NumSeq).ToList())
			{
			<div class="boxPosto @posto.DesCor" title="@posto.DesPosto"><br />
				@posto.NumPosto - @posto.DesPosto
			</div>
			}

		</div>
	</div>
}
