﻿@model IEnumerable<SEMP.Model.DTO.CBPostoDTO>

@{
	ViewBag.Title = "Gestão de Linhas de Produção";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Gestão de Linhas";
}

@helper MontaPosto(string id, string cor, int seq, int numSeq, int codLinha, int numPosto, string desPosto, string flgAtivo)
{
	try
	{
		<li id="@id">
			<div class="size_small @cor">
				<div class="sequencia">
					<label for="spinner">Seq.:</label><input id="spinner_@seq" class="ui-spinner" name="value" value="@numSeq" style="width: 20px;" />
					<div class="pull-right" style="margin-top: 2px; margin-right: 2px;">
						@{if (flgAtivo == "S")
						{ <a href="#" id="C_@codLinha.ToString()_P_@numPosto" linha="@codLinha" posto="@numPosto" class="toggler" style="font-size: 12px;">&nbsp;</a> }
						else
						{ <a href="#" id="C_@codLinha.ToString()_P_@numPosto" linha="@codLinha" posto="@numPosto" class="toggler off" style="font-size: 12px;">&nbsp;</a> } }
					</div>
				</div>
				<a href="#">
					<div>@numPosto-@desPosto</div>
				</a>

				<a href="/Coleta/Configuracao/EditPosto/?CodLinha=@codLinha&NumPosto=@numPosto"><div class="mais">Editar</div></a>
			</div>
		</li>
	}
	catch (Exception)
	{
		<li class="invisible">
			<div class="size_small color_inexistente">
				<div class="sequencia">
					<label for="spinner">Seq.:</label><input id="spinner_" class="ui-spinner" name="value" value="@seq" style="width: 20px;" />
					<div class="pull-right" style="margin-top: 2px; margin-right: 2px;">
						<a href="#" id="C_P_" linha="" posto="" class="toggler" style="font-size: 12px;">&nbsp;</a>
					</div>
				</div>
				<a title="" href="#"><div>Sem posto</div></a>
				<a href="#"><div class="mais">Editar</div></a>
			</div>
		</li>
	}
}

<style>
	h2
	{
		font-size: 16px;
	}

	.layout
	{
		margin-bottom: 10px;
		margin-left: 10px;
	}

	.level1
	{
		width: 100%;
		height: 80px;
		margin-right: 5px;
	}

	.size_small
	{
		margin: 3px;
		padding: 10px;
		-ms-border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}

		.size_small .mais
		{
			display: none;
			padding: 4px;
			background: rgb(0, 0, 0);
			background: rgba(0, 0, 0, 0.6);
			color: rgb(255, 255, 255);
			font-size: 12px;
			width: 70px;
			height: 20px;
			position: absolute;
			margin-left: -10px;
			margin-top: 10px;
		}

		.size_small:hover .mais
		{
			display: block;
			cursor: pointer;
		}

		.size_small a
		{
			text-decoration: none !important;
			color: #FFF;
			font-size: 14px;
		}

			.size_small a:hover
			{
				color: yellow !important;
			}

	.color1
	{
		background-color: rgb(142, 68, 173);
	}

	.color2
	{
		background-color: rgb(243, 156, 18);
	}

	.color3
	{
		background-color: rgb(211, 84, 0);
	}

	.color4
	{
		background-color: rgb(0, 106, 63);
	}

	.color5
	{
		background-color: rgb(41, 128, 185);
	}

	.color6
	{
		background-color: rgb(192, 57, 43);
	}

	.color7
	{
		background-color: rgb(135, 0, 0);
	}

	.color_desativado
	{
		background-color: gainsboro;
	}

	.color_inexistente
	{
		background-color: transparent;
	}

	.sequencia
	{
		background-color: white;
		color: black;
		-webkit-box-shadow: gray 1px 1px inset;
		-ms-box-shadow: gray 1px 1px inset;
		-moz-box-shadow: gray 1px 1px inset;
		box-shadow: gray 1px 1px inset;
		margin-bottom: 3px;
	}

	.box_small
	{
		width: 16px;
		height: 16px;
		float: left;
		border: solid 1px black;
	}

	.legenda
	{
		width: 100%;
		border-top: solid 1px #000080;
		padding: 5px;
	}

	.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

	#feedback { font-size: 1.4em; }
	#sequencia .ui-selecting { background: #FECA40; }
	#sequencia .ui-selected { background: #F39814; color: white; }

	.grupo { border: dashed 1px black; min-height: 100px; min-width: 170px; }
	.grupo:hover { border: solid 1px black; }
</style>

<style>
	.ui-spinner{margin-top: 1px;}
</style>

<h1><b>Linha:</b> @ViewBag.Linha.DesLinha (@ViewBag.Linha.Setor)</h1>

<div class="layout">
	<h2>Sequência de Produção</h2>
	<br />

	<ul class="list-inline">
		@{
			var sequencia = 0;
			var max = Model.Count() > 0 ? Model.Max(x => x.NumSeq) : 0;
		}
		
		@for (var seq = 1; seq <= max; seq++)
		{
			<li id="seq_@seq" class="grupo">
				<span>@seq</span>
				@if (Model.Count(x => x.NumSeq == seq) > 0)
				{
					<ul id="sequencia" class="postos">
						@foreach (var item in Model.Where(x => x.NumSeq == seq))
						{
							sequencia++;
							var id = string.Format("posto{0}", item.NumPosto);

							var cor = "color4";
							if (item.FlgAtivo == "N")
							{
								cor = "color_desativado";
							}
							@MontaPosto(id, cor, seq, item.NumSeq, item.CodLinha, item.NumPosto, item.DesPosto, item.FlgAtivo);
						}
					</ul>
				}
				else
				{
				<ul id="sequencia_out" class="postos">
					<li class="invisible">
						<div class="size_small color_inexistente">
							<div class="sequencia"><label for="spinner">Seq.:</label><input id="spinner_" class="ui-spinner" name="value" value="@seq" style="width: 20px;" />
								<div class="pull-right" style="margin-top: 2px; margin-right: 2px;">
									<a href="#" id="C_P_" linha="" posto="" class="toggler">&nbsp;</a>
								</div>
							</div>
							<a title="" href="#"><div>Sem posto</div></a>
							<a href="#"><div class="mais">Editar</div></a>
						</div>
					</li>
				</ul>
				}
			</li>
		}
	</ul>

	<br />
	<h2>Postos sem sequência</h2>
	<br />

	<ul id="semsequencia" class="list-inline postos">
	@foreach (var item in Model.Where(x => x.NumSeq == 0))
	{
		var id = string.Format("posto{0}", item.NumPosto);

		var cor = "color4";
		if (item.FlgAtivo == "N")
		{
			cor = "color_desativado";
		}
		@MontaPosto(id, cor, 0, item.NumSeq, item.CodLinha, item.NumPosto, item.DesPosto, item.FlgAtivo);

	}
	</ul>

</div>
<!-- layout -->

<div class="legenda">
	<div>
		<div class="box_small color_desativado">&nbsp;</div>
		&nbsp; Desativado
	</div>
	<div id="console" style="color: black; border:solid 1px black;"> &nbsp;</div>

</div>
<script type="text/javascript">
	$(function () {
		$("#sequencia, #semsequencia, #sequencia_out").sortable({
			connectWith: ".postos",
			placeholder: "ui-state-highlight",
			update: function(event, ui) {
				var productOrder = $(this).sortable('toArray').toString();
				$("#console").text(productOrder);
				var oldIndex = ui.item.sortable.index;
				var newIndex = ui.item.index();
				$("#console").append(oldIndex+"<br>" + newIndex);
			},
			stop: function (event, ui) {
				//$("#console").append(ui.item[0].id);
				/*for(var propriedade in ui){
					$("#console").append(propriedade + ": " + ui[propriedade] + "<br/>\n");
					for (var prop2 in ui[propriedade]) {
						$("#console").append(prop2 + ": " + ui[propriedade][prop2] + "<br/>\n\n");
					}
				}*/
			},
		});

		var spinner = $(".ui-spinner").spinner();

		$('a.toggler').click(function () {

			var eu = $(this);
			var estado = eu.hasClass('off');
			var codLinha = eu.attr('linha')
			var numPosto = eu.attr('posto');

			var url = estado ? "/Coleta/GerirSisap/AtivarPosto/" : "/Coleta/GerirSisap/DesativarPosto/"
			
			var parametros = {codLinha: codLinha, numPosto: numPosto};

			$.ajax({
				type: "GET",
				url: url,
				data: parametros,
				dataType: "json",
				cache: false,
				async: true,
				success: function (data) {
		
					eu.parent().parent().parent().toggleClass("color4", estado);
					eu.parent().parent().parent().toggleClass("color_desativado", !estado);

					eu.toggleClass('off');
				},
				error: function (xhr, er) {
					if (xhr.status == 500 || xhr.status == 503) // service indisponivel
					{
						alert("Erro ao consultar: " + xhr.responseText);
						//document.location.href = "/";
					}
				}
			});
			
		});
	});
</script>
