﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.Relatorios.ProducaoDataHora>

@{
	var horas = Model.GroupBy(x => new {x.Hora, x.QtdMeta}).Select(x => new {hora = x.Key.Hora, meta = x.Key.QtdMeta}).ToList();
	var linha = Model.FirstOrDefault();
	var postos = Model.GroupBy(x => new {x.NumPosto, x.DesPosto, x.SeqPosto}).OrderBy(y => y.Key.SeqPosto).Select(x => new { x.Key.NumPosto, x.Key.DesPosto, x.Key.SeqPosto});
}
<a href="#" onclick="$('#tblDados').toggle();" id="btnTabela" class="bttn bttn-red" title="Visualizar Tabela" style="width: 26px; height: 26px; padding: 3px 0px 0px 0px;"><img src="/Images/spreadsheet2.png" style="width: 16px; height: 16px;" /></a>
<table class="table-ritmo table-striped" style="width: 1000px; display: none;" id="tblDados">
	<thead>
		<tr>
			<th style="width: 200px;">@linha.DesLinha</th>
			@foreach(var hora in horas){
				<th colspan="2">@String.Format("{0}:00", hora.hora)</th>
			}
			<th></th>
		</tr>
		<tr>
			<th></th>
			@foreach(var hora in horas){
				<th>Prod.</th>
				<th>Def.</th>
			}
			<th>Total</th>
		</tr>
		<tr>
			<th style="text-align: right;">Meta</th>
			@foreach(var hora in horas){
				if (hora.hora > 6)
				{
					<th colspan="2">@hora.meta</th>
				}
				else
				{
					<th colspan="2">0</th>
				}
			}
			<th>@horas.Where(y => y.hora > 6).Sum(x => x.meta)</th>
		</tr>
	</thead>
	<tbody>
		@{ var menorProd = Model.GroupBy(x => x.NumPosto).Select(y => new {y.Key, QtdProduzido = y.Sum(z => z.QtdProduzido)}).Min(k => k.QtdProduzido); }
		@foreach (var item in postos) {
			<tr class="hover">
				<td>@item.DesPosto</td>
				@foreach(var hora in horas)
				{
					var dado = Model.FirstOrDefault(x => x.Hora == hora.hora && x.NumPosto == item.NumPosto);
					var menor = Model.Where(x => x.Hora == hora.hora).Min(y => y.QtdProduzido);

					var cor = dado != null && menor == dado.QtdProduzido ? "red" : "";

					if (dado != null)
					{
						<td style="color: @cor; text-align: center;">@dado.QtdProduzido</td>
						<td style="text-align: center;">@dado.QtdDefeitos</td>
					}
					else
					{
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					}

				}
				@{
					var total = Model.Where(x => x.NumPosto == item.NumPosto).Sum(y => y.QtdProduzido);
					var corTotal = total == menorProd ? "red" : "";
				}
				<td style="color: @corTotal; text-align: center;">@total</td>
			</tr>
		}
	</tbody>
</table>

<div style="width: 100%; height: 350px;" id="grafico1">
	@ViewBag.grafico1
</div>
<br /><br/>
<div style="width: 100%; height: 350px; display: none;" id="grafico2">
	@ViewBag.grafico2
</div>


<br/><br/>
<script>
	$("a").tooltip();

	var dia = "@Request["datIni"]";
	var datahoje = "@DateTime.Now.ToShortDateString()";

	if (dia != datahoje) {
		$("#btnTabela").css("display", "none");
	}

</script>