﻿@{
	ViewBag.Title = "Gráfico Análise de Linhas";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Rotina = "Análise de Linhas";
	ViewBag.Sistema = "Produção";

	var datInicio = Request["DatInicio"];
	var datFim = Request["DatFim"];

	if (String.IsNullOrEmpty(datInicio)) { datInicio = DateTime.Now.AddDays(-DateTime.Now.Day + 1).ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(datFim)) { datFim = DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy"); }

}

@Scripts.Render("~/bundles/highcharts2")
@Scripts.Render("~/bundles/knockout")

<style>
	.container {
		width: 100%;
		height: 350px;
		/*border: solid 1px black;*/
		padding: 5px;
		margin-bottom: 5px;
	}

	.conteudo
	{
		width: 50%;
		border: solid 1px black;
		padding: 0px;
	}

	.tabela
	{
		width: 70%;
	}
</style>

<h3>@ViewBag.Title</h3>

<div class="form-inline">
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-4" style="width: 350px;">
			<label>Período de&#58;</label>
			<input type="text" name="DatInicio" id="DatInicio" value="@datInicio" class="form-control input-sm" style="width: 85px;" />
			<label>&nbsp;a&#58;</label>
			<input type="text" name="DatFim" id="DatFim" value="@datFim" class="form-control input-sm" style="width: 85px;" />
			<input class="btn btn-sm btn-danger" value="Hoje" id="btnHoje" style="width: 45px;" />
		</div>

		<div class="col-md-1" style="width: 140px;">
			<label style="float: left; margin-top: 5px;">Fase:</label>
			<select name="fase" id="fase" class="form-control input-sm" style="width: 70px;">
				<option value="IAC">IAC</option>
				<option value="IMC">IMC</option>
				<option value="FEC" selected>MF</option>
				<option value="PLACA">PLACAS</option>
			</select>
		</div>

		<div class="col-md-4">
			<input type="button" name="btnEnviar" value="Consultar" class="btn btn-sm btn-danger" data-bind="click: obterDados" />
		</div>
	</div>
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-4" style="width: 250px;">
			<label style="float: left; margin-top: 5px;">Linha: &nbsp;</label>
			<div class="input-group">
				<select name="linha" id="linha" class="form-control input-sm">
					<option value="">SELECIONE A LINHA</option>
				</select>
			</div>
		</div>

		<div class="col-md-4 disabled">
			<label style="float: left; margin-top: 5px;">Posto gargalo</label>
			<select name="postos" id="postos" class="form-control input-sm" style="width: 200px;" disabled="disabled">
				<option value="">AGUARDANDO A LINHA...</option>
			</select>
			<input type="hidden" name="posto" id="posto" value="" />
		</div>

		<div class="col-md-3">
			<input type="button" id="btnPlanoAcao" value="Causas" class="hidden bttn bttn-sm bttn-red" />
		</div>
	</div>
</div>

<div id="dialog-edit" style="display: none; top: 10px;"></div>
<div id="ishikawa" style="display: none; top: 10px; z-index: 999;"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<div class="conteudo">
	<table class="table-semp table-bordered">
		<thead>
			<tr>
				<td>Modelo</td>
				<td>Plano</td>
				<td>Produzido</td>
				<td></td>
			</tr>
		</thead>
		<tbody data-bind="foreach: programa">
			<tr>
				<td data-bind="text: name"></td>
				<td data-bind="text: drilldown"></td>
				<td data-bind="text: y"></td>
				<td style="width: 195px;">
					<input type="button" value=" Selecionar »  " data-bind="attr: { name: codmodelo, title: name }" class="bttn bttn-green" onclick="modelo.PreencherGraf1(this.name, this.title);" />
					<input type="button" value=" Tabela »  " onclick="$('#tabela').toggle(); document.location.href = '#teste';" class="bttn bttn-green" />
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="tabela">
	<div id="container" class="container"></div>

	<div id="container2" class="container hidden"></div>

	<div id="container3" class="container"></div>

	<div id="container4" class="container"></div>
	
	<a name="teste"></a>
	<div id="tabela" style="border: solid 1px black;"></div>
</div>
<br />
<script>
	var grafico, grafico2, grafico3, grafico4;
	var drilldowns;
	var modelo;

	Highcharts.setOptions({
		lang: {
			drillUpText: '<- Voltar'
		}
	});

	$(function () {
		// Create the chart
		grafico = new Highcharts.Chart({
			chart: {
				type: "column",
				renderTo: 'container',
				zoomType: 'xy'
			},
			title: {
				text: "Produção por Posto"
			},
			xAxis: {
				type: "category"
			},
			yAxis: {
				title: {
					text: 'Quantidade produzida'
				}
			},
			legend: {
				enabled: false
			},
			series: [],
			plotOptions: {
				series: {
					borderWidth: 0,
					dataLabels: {
						enabled: true
					},
					point: {
						events: {
							click: function (e) {
								if (e.point.drilldown != "")
									modelo.obterDrillDown(e.point.drilldown);
								$("#container2").removeClass("hidden");
							}
						}
					}
				}
			},

		});

		grafico2 = new Highcharts.Chart({
			chart: {
				type: "column",
				renderTo: 'container2',
				zoomType: 'xy'
			},
			title: {
				text: "Produção no Posto"
			},
			xAxis: {
				type: "category"
			},
			yAxis: {
				title: {
					text: 'Quantidade produzida'
				}
			},
			legend: {
				enabled: true
			},
			series: [],
			plotOptions: {
				series: {
					borderWidth: 0,
					dataLabels: {
						enabled: true
					}
				}
			},

		});

		grafico3 = new Highcharts.Chart({
			chart: {
				type: "column",
				renderTo: 'container3',
				zoomType: 'xy'
			},
			title: {
				text: "Produção x Capacidade"
			},
			xAxis: {
				type: "category"
			},
			yAxis: {
				title: {
					text: 'Quantidade produzida'
				},
				stackLabels: {
					enabled: true,
					style: {
						fontWeight: 'bold',
						color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
					}
				}
			},
			legend: {
				enabled: true
			},
			series: [],
			plotOptions: {
				column: {
					stacking: 'normal',
					dataLabels: {
						enabled: true,
						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'black',
						style: {
							textShadow: '0 0 3px white'
						},
						formatter: function() {
							if (this.y != 0) {
								return this.y;
							} else {
								return null;
							}
						}
					}
				}
			},

		});

		grafico4 = new Highcharts.Chart({
			chart: {
				type: "column",
				renderTo: 'container4',
				zoomType: 'xy'
			},
			title: {
				text: "Quantidade Total x Capacidade Total"
			},
			xAxis: {
				type: "category"
			},
			yAxis: {
				title: {
					text: 'Quantidade produzida'
				}
			},
			legend: {
				enabled: false
			},
			series: [],
			plotOptions: {
				series: {
					borderWidth: 0,
					dataLabels: {
						enabled: true,
						color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
						style: {
							textShadow: '0 0 3px black'
						}
					}
				}
			},

		});

		modelo = new ViewModel();
		ko.applyBindings(modelo);

		$('#tabela').toggle();
	});

	function VerificarPlanoDeAcao() {
		var linha = $("#linha").val();
		var posto = $("#posto").val();

		$("#btnPlanoAcao").removeClass("bttn-green");
		$("#btnPlanoAcao").addClass("bttn-red");

		$.ajax({
			type: "GET",
			url: "/Outros/Ishikawa/ObterPlanoDeAcaoLinha/",
			data: { codLinha: linha, datEvento: $("#DatInicio").val(), posto: posto },
			dataType: "json",
			success: function (json) {
				if (json != false) {
					$("#btnPlanoAcao").removeClass("bttn-red");
					$("#btnPlanoAcao").addClass("bttn-green");
				}
			}
		});
	}

	function LimpaGraficos() {

		while (grafico.series.length > 0) grafico.series[0].remove(true);
		grafico.redraw();

		while (grafico2.series.length > 0) grafico2.series[0].remove(true);
		grafico2.redraw();

		while (grafico3.series.length > 0) grafico3.series[0].remove(true);
		grafico3.redraw();

		while (grafico4.series.length > 0) grafico4.series[0].remove(true);
		grafico4.redraw();
	}

	var ViewModel = function () {

		var self = this;
		self.programa = ko.mapping.fromJS([]); 
		self.dados = [];

		self.obterDados = function () {
			var linha = $("#linha").val();

			if (linha == "") {
				alert("Selecione uma linha");
				return;
			}

			ko.mapping.fromJS([], self.programa);

			LimpaGraficos();

			$.ajax({
				type: "GET",
				url: "/Outros/AnaliseLinha/ObterProducao2/",
				data: {
					datIni: $("#DatInicio").val(),
					datFim: $("#DatFim").val(),
					codLinha: linha
				},
				success: function (data) {

					ko.mapping.fromJS(data.modelos, self.programa);
					self.dados = data;

					if (data.modelos.length == 1) {
						self.PreencherGraf1(data.modelos[0].codmodelo, data.modelos[0].name);
					}

					self.obterListagem();

				},
				error: function (data) {
					alert("ERRO AO CARREGAR DADOS!");
					grafico.hideLoading();
				}
			});

			VerificarPlanoDeAcao();

		};

		self.PreencherGraf1 = function (modelo, descricao) {
			var dados = self.dados;
			var categorias = [];
			var data = {
				dados: [],
				agregado: [],
				plano: [],
				menor: []
			};

			for (var i = 0; i < dados.dados.length; i++) {
				if (dados.dados[i].codmodelo == modelo) {
					data.dados.push(dados.dados[i]);
				}
			}
			for (var i = 0; i < dados.agregado.length; i++) {
				if (dados.agregado[i].codmodelo == modelo) {
					data.agregado.push(dados.agregado[i]);
				}
			}
			for (var m = 0; m < dados.menor.length; m++) {
				if (dados.menor[m].codmodelo == modelo) {
					data.menor.push(dados.menor[m]);
				}
			}

			for (var i = 0; i < dados.Categorias.length; i++) {
				if (dados.Categorias[i].CodModelo == modelo)
					categorias.push(dados.Categorias[i].DesPosto);
			}


			grafico3.setTitle(null, { text: "Modelo: " + descricao });
			grafico4.setTitle(null, { text: "Modelo: " + descricao });
			grafico.setTitle(null, { text: "Modelo: " + descricao });

			LimpaGraficos();

			grafico.showLoading('<b>Carregando ...</b>');
			grafico3.showLoading('<b>Carregando ...</b>');
			grafico4.showLoading('<b>Carregando ...</b>');

			//grafico3.yAxis[0].setExtremes(dados.limite.min, dados.limite.max);
			grafico3.xAxis[0].setCategories(categorias);

			grafico.addSeries({ name: "Quantidade produzida", data: data.dados, color: "Aquamarine", dataLabels: { y: 30 } }, true);

			grafico4.addSeries({ name: "Quantidade produzida", data: data.menor, dataLabels: { y: 30 } }, true);

			for (var j = 0; j < dados.agregado.length; j++) {
				if (dados.agregado[j].codmodelo == modelo) {
					grafico3.addSeries(dados.agregado[j], true);
				}
			}
				
			grafico.redraw();
			grafico.hideLoading();

			grafico3.redraw();
			grafico3.hideLoading();

			grafico4.redraw();
			grafico4.hideLoading();

		};

		self.obterDrillDown = function (posto) {
			var linha = $("#linha").val();

			while (grafico2.series.length > 0) grafico2.series[0].remove(true);
			grafico2.redraw();

			grafico2.showLoading('<b>Carregando ...</b>');

			$.ajax({
				type: "GET",
				url: "/Outros/AnaliseLinha/ObterDrillDown/",
				data: {
					datIni: $("#DatInicio").val(),
					datFim: $("#DatFim").val(),
					codLinha: linha,
					numPosto: posto
				},
				success: function (data) {

					grafico2.yAxis[0].setExtremes(data.limite.min, data.limite.max);

					if (grafico2.series.length == 0) {
						grafico2.addSeries({ name: "Quantidade produzida", data: data.dados, color: "Aquamarine" }, true);
						grafico2.addSeries({ type: "spline", name: "Capacidade", data: data.metas, color: "Green" }, true);
					}
					else {
						grafico2.series[0].setData(data.dados, true);
						grafico2.series[1].setData(data.metas, true);
					}

					grafico2.redraw();
					grafico2.hideLoading();

				},
				error: function (data) {
					alert("ERRO AO CARREGAR DADOS!");
					grafico.hideLoading();
				}
			});
		};

		self.obterListagem = function() {
			var linha = $("#linha").val();

			$("#tabela").html("<h4>Carregando...</h4>");

			$.ajax({
				type: "GET",
				url: "/Outros/AnaliseLinha/Lista/",
				data: {
					datIni: $("#DatInicio").val(),
					datFim: $("#DatFim").val(),
					codLinha: linha
				},
				success: function (data) {

					$("#tabela").html(data);

				},
				error: function (data) {
					alert("ERRO AO CARREGAR DADOS!");
					$("#tabela").html("");
				}
			});
		};

	};


	var url = "", ish;
	var dataHoje = "@DateTime.Now.ToShortDateString()";

	$(function () {
		$("#DatFim").datepicker({
			showButtonPanel: true,
			numberOfMonths: 1,
			onClose: function (selectedDate) {
				$("#DatInicio").datepicker("option", "maxDate", selectedDate);
			}
		});
		$("#DatInicio").datepicker({
			showButtonPanel: true,
			numberOfMonths: 1,
			onClose: function (selectedDate) {
				$("#DatFim").datepicker("option", "minDate", selectedDate);
			}
		});

		$("#dialog-edit").dialog({
			title: 'Editar',
			autoOpen: false,
			resizable: false,
			width: 615,
			height: 495,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		ish = $("#ishikawa").dialog({
			title: 'Ishikawa',
			autoOpen: false,
			resizable: false,
			width: 700,
			height: 500,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(this).html("");
				$(this).load(url);
			}
		});

		$("#fase").change(CarregarLinhas);


		$("#btnHoje").click(function () {
			$("#DatInicio").val(dataHoje);
			$("#DatFim").val(dataHoje);
		});

		$("#linha").blur(CarregarPostos);
		$("#linha").change(CarregarPostos);

		CarregarLinhas();
	});

	function CarregarLinhas() {

		var fase = $("#fase").val();
		if (fase == "PLACA") { fase = "FEC"; }

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: fase },
			dataType: "json",
			success: function (json) {
				var options = "";
				var selected = "";
				options += '<option value=""> SELECIONE A LINHA </option>';
				$.each(json, function (key, Linhas) {
					//if (linha == Linhas.CodLinha) { selected = "selected"; } else { selected = ""; }
					options += '<option value="' + Linhas.CodLinha + '" ' + selected + '>' + Linhas.DesLinha + '</option>';
				});
				$("#linha").html(options);
			}
		});
	}

	function CarregarPostos() {
		var linha = $("#linha").val();

		if (linha == "") return;

		$.ajax({
			type: "GET",
			url: "/posto/GetPostos/",
			data: { codLinha: linha },
			dataType: "json",
			success: function (json) {
				var options = "";
				var selected = "";

				$.each(json, function (key, dados) {
					if (dados.FlgGargalo == "S") selected = "selected"; else selected = "";
					options += '<option value="' + dados.NumPosto + '" ' + selected + '>' + dados.DesPosto + '</option>';
				});
				$("#postos").html(options);
			}
		});
	}

	function Consultar() {
		var linha = $("#linha").val();

		if (linha == "") {
			alert("Selecione uma linha");
			return;
		}

		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			url: "/Outros/AnaliseLinha/Lista/",
			data: {
				datIni: $("#DatInicio").val(),
				datFim: $("#DatFim").val(),
				codLinha: linha,
				horaIni: 0,
				horaFim: 0,
				postoGargalo: $("#postos").val()
			},
			success: function (data) {
				$("#conteudo").html(data);
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	$("#btnPlanoAcao").on("click", function (e) {
		var linha = $("#linha").val();
		var posto = $("#posto").val();

		if (linha == "") {
			alert("Selecione uma linha");
		}
		else {

			url = "/Outros/Ishikawa/Visualizar/?codLinha=" + linha + "&datEvento=" + $("#DatInicio").val() + "&posto=" + posto;

			ish.dialog('open');
		}

		return false;
	});

	@{
		if (!String.IsNullOrEmpty(ViewBag.mensagem))
		{
			WriteLiteral("alert('" + ViewBag.mensagem + "');");
		}
	}

</script>
