﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.Relatorios.ProducaoDataHora>

@{
	var colunas = Model.GroupBy(x => x.DesPosto).Select(x => x.Key).ToList();
	var linhas = Model.GroupBy(x => new {x.Data, x.Hora, x.DesModelo, x.CodModelo}).Select(x => new {x.Key.Data, x.Key.Hora, x.Key.DesModelo, x.Key.CodModelo})
						.OrderBy(x => x.Data).ThenBy(y => y.Hora).ThenBy(z => z.CodModelo).ToList();

}
<table class="table-semp table-bordered">
	<thead>
		<tr>
			<th>Data</th>
			<th>Hora</th>
			<th>Modelo</th>
			@foreach (var coluna in colunas)
			{
				<th colspan="2">@coluna</th>
			}
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			@foreach (var coluna in colunas)
			{
				<th>Prod.</th>
				<th>Capac.</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var linha in linhas)
  {
			<tr>
				<td>@linha.Data.ToShortDateString()</td>
				<td>@linha.Hora.ToString("00"):00</td>
				<td>@linha.DesModelo</td>
				@foreach (var data in colunas.Select(coluna => Model.FirstOrDefault(x => x.Data == linha.Data && x.Hora == linha.Hora && x.DesPosto == coluna && x.CodModelo == linha.CodModelo)))
	{
					<td class="text-center">@if (data != null){ @data.QtdProduzido }</td>
					<td class="text-center">@if (data != null){ @data.QtdMeta }</td>
	}
			</tr>
  }
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td>Total:</td>
			@foreach (var coluna in colunas)
			{
				var produzido = Model.Where(x => x.DesPosto == coluna).Sum(x => x.QtdProduzido);
				var capacidade = Model.Where(x => x.DesPosto == coluna).Sum(x => x.QtdMeta);
				

				<td>@produzido</td>
				<td>@capacidade</td>
			}
		</tr>
	</tfoot>
</table>

<script>

	$(function () {

	});


</script>

