﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.Relatorios.ProducaoDataHora>

@{
	//ViewBag.Title = "Gráfico Análise de Linhas";
	//Layout = "~/Views/Shared/_Layout.cshtml";
	var modelos = Model.Select(x => new {x.CodModelo, x.DesModelo}).Distinct();
	var colunas = Model.GroupBy(x => x.Hora).Select(x => x.Key).ToList();

	var linhas = Model
						.GroupBy(x => new { x.Data, x.DesPosto, x.CodModelo, x.AparelhosMinuto })
						.Select(x => new {x.Key.Data, x.Key.DesPosto, x.Key.CodModelo, AparelhosMinuto = x.Key.AparelhosMinuto*60})
						.OrderBy(x => x.CodModelo).ThenBy(y => y.Data).ToList();

	var colspan = (colunas.Count() * 2) + 4;
}
<table class="table-semp table-bordered table-condensed">
	<thead>
		<tr>
			<th>Data</th>
			<th>Posto</th>
			<th>Prod./Hora</th>
			@foreach (var coluna in colunas)
			{
				<th>@coluna:00</th>
			}
		</tr>
		<tr>
			<th></th>
			<th></th>
			<th></th>
			@foreach (var coluna in colunas)
			{
				<th>Prod.</th>
			}
		</tr>
	</thead>
	<tbody>
		@foreach (var modelo in modelos)
		{
			<tr>
	  			<td colspan="@colspan">@modelo.CodModelo - @modelo.DesModelo</td>
			</tr>

			foreach (var linha in linhas.Where(x => x.CodModelo == modelo.CodModelo))
			{
				var aparelhoMin = "";
				if (linha.AparelhosMinuto != null)
				{
					aparelhoMin = linha.AparelhosMinuto.Value.ToString("N2");
				}
				<tr>
					<td>@linha.Data.ToShortDateString()</td>
					<td>@linha.DesPosto</td>
					<td>@aparelhoMin</td>
					@foreach (var data in colunas.Select(coluna => 
						Model.FirstOrDefault(x => x.Data == linha.Data && x.Hora == coluna && x.DesPosto == linha.DesPosto && x.CodModelo == linha.CodModelo)))
					{
					<td class="align-center">@if (data != null){ @data.QtdProduzido }</td>
					}
				</tr>
			 }
		}
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td>Total:</td>
			<td>@linhas.Sum(x => x.AparelhosMinuto)</td>
			@foreach (var coluna in colunas)
			{
				var produzido = Model.Where(x => x.Hora == coluna).Sum(x => x.QtdProduzido);
				

				<td>@produzido</td>
			}
		</tr>
	</tfoot>
</table>

