﻿
@{
    ViewBag.Title = "Teste";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/highcharts2")

<h2>Teste</h2>

<style>
	.container {
		width: 100%;
		height: 350px;
		border: solid 1px black;
		padding: 5px;
	}

	.conteudo {
		width: 100%;
		height: 100%;
		border: solid 1px black;
		padding: 0px;
	}

	.tabela {
		width: 100%;
	}
</style>

<input type="button" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" onclick="obterDados();" />

<div id="container3" class="container"></div>

<script>
	var grafico3;

	$(function () {

		grafico3 = new Highcharts.Chart({
			chart: {
				type: "column",
				renderTo: 'container3',
				zoomType: 'xy'
			},
			title: {
				text: "Produção por Posto"
			},
			xAxis: {
				type: "category"
			},
			yAxis: {
				title: {
					text: 'Quantidade produzida'
				}
			},
			legend: {
				enabled: true
			},
			series: [],
			plotOptions: {
				series: {
					borderWidth: 0,
					dataLabels: {
						enabled: true
					}
				}
			},

		});

	});

	var resultado;
	var obterDados = function () {
			var linha = $("#linha").val();

			if (linha == "") {
				alert("Selecione uma linha");
				return;
			}
			
			while (grafico3.series.length > 0) grafico3.series[0].remove(true);
			grafico3.redraw();


			$.ajax({
				type: "GET",
				url: "/Outros/AnaliseLinha/ObterProducao2/",
				data: {
					datIni: "01/07/2015",
					datFim: "22/07/2015",
					codLinha: 35
				},
				success: function (data) {

					resultado = data;

					//if (data.modelos.length == 1) {
						PreencherGraf1(data.modelos[0].codmodelo);
					//}
					
				},
				error: function (data) {
					alert("ERRO AO CARREGAR DADOS!");
				}
			});

		};

		var PreencherGraf1 = function (modelo) {
			var dados = resultado;
			var categorias = [];
			var data = {
				dados: [],
				metas: [],
				plano: []

			};

			for (var i = 0; i < dados.dados.length; i++) {
				if (dados.dados[i].codmodelo == modelo) {
					data.dados.push(dados.dados[i]);
				}
			}
			for (var j = 0; j < dados.metas.length; j++) {
				if (dados.metas[j].codmodelo == modelo) {
					data.metas.push(dados.metas[j]);
				}
			}

			for (var k = 0; k < dados.Categorias.length; k++) {
				if (dados.Categorias[k].CodModelo == modelo)
					categorias.push(dados.Categorias[k].DesPosto);
			}

			grafico3.showLoading('<b>Carregando ...</b>');

			grafico3.xAxis[0].setCategories(categorias);

			if (grafico3.series.length == 0) {
				grafico3.addSeries(data.dados, true);
			}
			else {
				grafico3.series[0].setData(data.dados, true);
			}

			grafico3.redraw();
			grafico3.hideLoading();

		};

</script>