﻿@model List<SEMP.Model.DTO.CBTAItemDTO>
    @{
        ViewBag.Title = "Tempo de Atravessamento por Modelo";
        if (String.IsNullOrEmpty(Request["flgExcel"]))
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        ViewBag.Sistema = "Rastreabilidade";
        ViewBag.Rotina = "Tempo de Atravessamento";

        if (Model.Count() == 0)
        {
            var codModelo = Request["codModelo"];
            <script>alert('Dados incompletos para exibição - @codModelo'); document.location.href = "/Coleta/TempoAtravessamento/";</script>
            return;
        }

        var tempo = Model.FirstOrDefault();
        var desModelo = tempo != null ? RAST.BO.Rastreabilidade.Geral.ObterDescricaoItem(tempo.CodModelo) ?? "" : "";
        string datInicio = Request["datInicio"].ToString();
        string datFim = Request["datFim"].ToString();

        List<SEMP.Model.DTO.CBTAMetasDTO> metas = ViewBag.metas;

        var fasesProduto = Model.GroupBy(x => new { x.Fase, x.SubFase, x.Ordem }).Select(x => new { x.Key.Fase, x.Key.SubFase, x.Key.Ordem }).ToList();
        var maxOrdem = Model.Max(x => x.Ordem);
        var minOrdem = Model.Min(x => x.Ordem);

        var temposSeries = Model.GroupBy(x => new { x.CodModelo, x.NumSerieModelo, x.NumSeriePCI, x.FlgTempoMedio }).Select(x => new
        {
            CodModelo = x.Key.CodModelo,
            NumSerieModelo = x.Key.NumSerieModelo,
            NumSeriePCI = x.Key.NumSeriePCI,
            FlgTempoMedio = x.Key.FlgTempoMedio
        }).ToList();

        var tempos = Model.Where(x => x.FlgTempoMedio == true).GroupBy(x => new { x.CodModelo, x.NumSerieModelo }).Select(x => new
        {
            CodModelo = x.Key.CodModelo,
            TempoProducao = x.Where(z => !z.SubFase.StartsWith("WIP")).Sum(y => y.TempoAtravessa),
            TempoWIP = x.Where(z => z.SubFase.StartsWith("WIP")).Sum(y => y.TempoAtravessa),
            TempoTotal = x.Sum(y => y.TempoAtravessa),
            TempoCorrido = x.Sum(y => y.TempoCorrido),
            TempoIAC = x.Where(z => z.Fase == "IAC" && !z.SubFase.StartsWith("WIP")).Sum(y => y.TempoAtravessa),
            TempoIMC = x.Where(z => z.Fase == "IMC" && !z.SubFase.StartsWith("WIP")).Sum(y => y.TempoAtravessa),
            TempoFEC = x.Where(z => z.Fase == "FEC" && !z.SubFase.StartsWith("WIP")).Sum(y => y.TempoAtravessa),
        }).ToList();

        var media = tempos.GroupBy(x => x.CodModelo).Select(x => new
        {
            CodModelo = x.Key,
            TempoProducao = x.Average(z => z.TempoProducao),
            TempoWIP = x.Average(z => z.TempoWIP),
            TempoTotal = x.Average(z => z.TempoTotal),
            QtdAnalisado = x.Count(),
            MenorTempo = x.Min(z => z.TempoTotal),
            MaiorTempo = x.Max(z => z.TempoTotal),
            TempoCorrido = x.Average(z => z.TempoCorrido),
            TempoIAC = x.Average(z => z.TempoIAC) ?? 0,
            TempoIMC = x.Average(z => z.TempoIMC) ?? 0,
            TempoFEC = x.Average(z => z.TempoFEC) ?? 0
        }).FirstOrDefault();

        var flgExcel = false;
        if (!String.IsNullOrEmpty(Request["flgExcel"]))
        {
            flgExcel = true;
        }

    }
    @if (!flgExcel)
    {
        <style>
            #regua {
                display: flex; /* Flex layout so items have equal height  */
                flex-flow: row wrap; /* Allow items to wrap into multiple lines */
                width: 100%;
            }

            .quadro {
                display: flex; /* Lay out each item using flex layout */
                flex-flow: column; /* Lay out item’s contents vertically  */
            }

                .quadro > img {
                    order: -1; /* Shift image before other content (in visual order) */
                    align-self: center; /* Center the image cross-wise (horizontally)         */
                }

                .quadro > button {
                    margin-top: auto; /* Auto top margin pushes button to bottom */
                }

            .quadroRegua {
                padding-top: 2px;
            }

            .boxArea {
                border: solid 1px black;
                color: red;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                font-size: 14px;
                line-height: 55px;
                width: 100px;
                height: 55px;
            }

            .boxSeta {
                padding-left: 10px;
                padding-right: 5px;
                padding-top: 15px;
                padding-bottom: 15px;
                height: 55px;
                width: 50px;
            }

                .boxSeta img {
                    width: 100%;
                    height: 100%;
                }

            .boxWIP {
                min-width: 31px;
                height: 55px;
                background-image: url('/Images/Grid.png');
            }

            .reguaLinha {
                margin-top: 10px;
                width: 100%;
                border-top: blue solid 1px;
                text-align: center;
                font-size: 16px;
            }

            .container {
                height: 50px !important;
            }
        </style>

        <div id="dialog-edit" style="display: none; top: 10px;"></div>

        <span style="float: left; margin-right: 10px;"><button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="history.back();"><img src="~/images/voltar.gif" style="width: 16px; height: 16px;" /></button></span>
        <h3>@ViewBag.Title</h3>
        <h3 class="text-center" style="color: red; font-weight: bolder; text-shadow: 2px 2px 3px #333;">@tempo.CodModelo - @desModelo</h3>
        <h4 class="text-center" style="color: red; font-weight: bolder; text-shadow: 1px 1px 2px #333;">Período: @datInicio - @datFim</h4>

        <br />
        <section id="regua" class="">
            <!-- Meta -->
            <section class="quadro">
                <div class="quadroRegua" style="width: 80px;">
                    <div class="boxArea" style="visibility: hidden;">&nbsp;</div>

                    <div class="reguaLinha">Meta</div>
                    <div class="reguaLinha">Atual</div>
                </div>
            </section>

            @foreach (var item in fasesProduto.Where(x => !x.SubFase.StartsWith("WIP")).OrderByDescending(x => x.Ordem))
            {
                var dados = Model.Where(x => x.Fase == item.Fase && x.Ordem == item.Ordem)
                                    .GroupBy(x => x.Ordem)
                                    .Select(x => new
                                    {
                                        Ordem = x.Key,
                                        TempoProd = x.Where(y => !y.SubFase.StartsWith("WIP")).Average(z => z.TempoAtravessa / 60.0000) ?? 0.0000,
                                        TempoWIP = x.Where(y => y.SubFase.StartsWith("WIP")).Average(z => z.TempoAtravessa / 60.0000) ?? 0.0000
                                    }).FirstOrDefault();

                var meta = Math.Round((metas.Where(x => x.CodFase == item.Fase && x.SubFase == item.SubFase).Select(x => x.Meta).FirstOrDefault() / 60) ?? 0, 2);

                if (item.Ordem != maxOrdem)
                {
                    <!--Seta-->
                    <section class="quadro">
                        <div class="quadroRegua">
                            <div class="boxSeta"><img src="~/Images/seta_direita.png" /></div>

                            <div class="reguaLinha">|</div>
                            <div class="reguaLinha">|</div>
                        </div>
                    </section>
                }
                <!-- Tempo fase -->
                <section class="quadro">
                    <div class="quadroRegua">
                        <div class="boxArea">@item.SubFase</div>

                        <div class="reguaLinha">@(@meta)h</div>
                        <div class="reguaLinha">@(dados.TempoProd.ToString("N2"))h</div>
                    </div>
                </section>

                if (item.Ordem != minOrdem)
                {
                    <!-- Seta -->
                    <section class="quadro">
                        <div class="quadroRegua">
                            <div class="boxSeta"><img src="~/Images/seta_direita.png" /></div>

                            <div class="reguaLinha">|</div>
                            <div class="reguaLinha">|</div>
                        </div>
                    </section>

                    <!-- WIP -->
                    <section class="quadro">
                        <div class="quadroRegua">
                            <div class="boxWIP">&nbsp;</div>

                            <div class="reguaLinha">h</div>
                            <div class="reguaLinha">@(dados.TempoWIP.ToString("N2"))h</div>
                        </div>
                    </section>
                }
            }

        </section>
    }
    <br /><br />

    <table class="table-semp blue borderBlue table-bordered table-condensed" id="tblDados">
        <caption>Resumo Produto</caption>
        <thead>
            <tr>
                <th style="width: 22px;">&nbsp;</th>
                <th style="width: 70px;">Qtd. Produzido</th>
                <th style="width: 70px;">Qtd. Analisado</th>
                <th style="width: 80px;">Atrav. M&eacute;dio</th>
                <th style="width: 70px;">T. Prod. M&eacute;dio</th>
                <th style="width: 80px;">T. Esp. M&eacute;dio</th>
                <th style="width: 70px;">Menor Tempo</th>
                <th style="width: 70px;">Maior Tempo</th>
                <th style="width: 80px;">Tempo Corrido M&eacute;dio</th>
                <th style="width: 60px;">Tempo IAC M&eacute;dio</th>
                <th style="width: 60px;">Tempo IMC M&eacute;dio</th>
                <th style="width: 60px;">Tempo MF M&eacute;dio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="#" onclick="$('td.hidden').removeClass('hidden');"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                <td style="text-align: center;">@temposSeries.Where(x => x.NumSerieModelo == x.NumSeriePCI).Count()</td>
                <td style="text-align: center;">@media.QtdAnalisado</td>
                <td style="text-align: center;">@Extensions.FormatarTempo(media.TempoTotal ?? 0)</td>
                <td style="text-align: center;">@Extensions.FormatarTempo(media.TempoProducao ?? 0)</td>
                <td style="text-align: center;">@Extensions.FormatarTempo(media.TempoWIP ?? 0)</td>
                <td style="color: blue;text-align: center;">@Extensions.FormatarTempo(media.MenorTempo ?? 0)</td>
                <td style="color: red;text-align: center;">@Extensions.FormatarTempo(media.MaiorTempo ?? 0)</td>
                <td>@Extensions.FormatarTempo(media.TempoCorrido ?? 0)</td>

                <td style="text-align: center;">@Extensions.FormatarTempo(media.TempoIAC)</td>
                <td style="text-align: center;">@Extensions.FormatarTempo(media.TempoIMC)</td>
                <td style="text-align: center;">@Extensions.FormatarTempo(media.TempoFEC)</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th colspan="12">

                    <table class="table-semp table-bordered table-condensed smallrow">
                        <thead>
                            <tr>
                                <th style="width: 150px;">Série</th>
                                <th style="width: 130px;">PCI</th>
                                @foreach (var item in fasesProduto.OrderByDescending(x => x.Ordem).ThenBy(x => x.SubFase))
                                {
                                    if (item.SubFase.StartsWith("WIP"))
                                    {
                                        <th>Espera</th>
                                    }
                                    else
                                    {
                                        <th>@item.SubFase</th>
                                    }
                                    <td class="hidden">Entrada</td>
                                    <td class="hidden">Saída</td>
                                }
                                <th>Tempo Total</th>
                                <th>Tempo Corrido</th>
                                <th style="width: 50px;">Defeito</th>
                                <th style="width: 60px;">Considera p/ Média</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in temposSeries.Where(x => x.NumSerieModelo != x.NumSeriePCI))
                            {
                                <tr>
                                    <td>
                                    @if (!flgExcel)
                                    {
                                        @Html.ActionLink(item.NumSerieModelo, "Ficha", "Rastreia", new { Codigo = item.NumSerieModelo }, new { @class = "lnkEdit hidden-print" })
                                    }
                                        <span class="visible-print-block">'@item.NumSerieModelo</span>
                                    </td>
                                    <td>
                                        @if (!flgExcel)
                                        {
                                            @Html.ActionLink(item.NumSeriePCI, "Ficha", "Rastreia", new { Codigo = item.NumSeriePCI }, new { @class = "lnkEdit hidden-print" })
                                        }
                                        <span class="visible-print-block">'@item.NumSeriePCI</span>
                                    </td>
                                    @foreach (var produto in fasesProduto.OrderByDescending(x => x.Ordem).ThenBy(x => x.SubFase))
                                    {
                                        var registro = Model.Where(x => x.NumSerieModelo == item.NumSerieModelo && x.Fase == produto.Fase && x.SubFase == produto.SubFase).FirstOrDefault();
                                        if (registro != null)
                                        {
                                            if (String.IsNullOrEmpty(Request["flgExcel"]))
                                            {
                                                <td>@Extensions.FormatarTempo(registro.TempoAtravessa ?? 0)</td>
                                            }
                                            else
                                            {
                                                <td>@Extensions.FormatarHora(registro.TempoAtravessa ?? 0)</td>
                                            }
                                            <td class="hidden">@registro.DatEntrada</td>
                                            <td class="hidden">@registro.DatSaida</td>
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td class="hidden"></td>
                                            <td class="hidden"></td>
                                        }
                                    }
                                    <td>
                                        @if (String.IsNullOrEmpty(Request["flgExcel"]))
                                        {
                                            @Extensions.FormatarTempo((double)Model.Where(x => x.NumSerieModelo == item.NumSerieModelo).Sum(x => x.TempoAtravessa));
                                        }
                                        else
                                        {
                                            @Extensions.FormatarHora(Model.Where(x => x.NumSerieModelo == item.NumSerieModelo).Sum(x => x.TempoAtravessa) ?? 0);
                                        }
                                    </td>
                                    <td>
                                        @if (String.IsNullOrEmpty(Request["flgExcel"]))
                                        {
                                            @Extensions.FormatarTempo(Model.Where(x => x.NumSerieModelo == item.NumSerieModelo).Sum(x => x.TempoCorrido) ?? 0)
                                        }
                                        else
                                        {
                                            @Extensions.FormatarHora(Model.Where(x => x.NumSerieModelo == item.NumSerieModelo).Sum(x => x.TempoCorrido) ?? 0)
                                        }

                                    </td>
                                    <td class="align-center">
                                        @{
                                            var serie = Model.Where(x => x.NumSerieModelo == item.NumSerieModelo && x.QtdDefeito > 0).Count();
                                        }
                                        @if (serie == 0)
                                        {
                                            <span style="color: green;" class="glyphicon glyphicon glyphicon-ok-circle"></span>
                                            <i class="hidden">@serie</i>
                                        }
                                        else
                                        {
                                            <span style="color: red;" class="glyphicon glyphicon glyphicon-ban-circle"></span>
                                            <i class="hidden">@serie</i>
                                        }
                                    </td>
                                    <td class="align-center">
                                        @if (item.FlgTempoMedio ?? false == true)
                                        {
                                            <span style="color: green;" class="glyphicon glyphicon glyphicon-ok-circle"></span>
                                            <i class="hidden">Sim</i>
                                        }
                                        else
                                        {
                                            <span style="color: red;" class="glyphicon glyphicon glyphicon-ban-circle"></span>
                                            <i class="hidden">Não</i>
                                        }
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </th>
            </tr>
        </tfoot>
    </table>
    <br /><br />
    <script type="text/javascript">
        var url = "";

        function initDialog() {
            $(".lnkEdit").on("click", function (e) {
                url = $(this).attr('href');
                $("#dialog-edit").html($('#carregando').html());
                $("#dialog-edit").dialog('open');

                return false;
            });
            $("#btnclose").on("click", function (e) {
                $("#dialog-edit").dialog("close");
                return false;
            });
        }

        $(document).ready(function () {
            $("#dialog-edit").dialog({
                title: 'Detalhes produto',
                autoOpen: false,
                resizable: false,
                width: 630,
                height: 500,
                top: 10,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").html("X");
                    $(this).html("");
                    $(this).load(url);
                }
            });

            initDialog();

            function consultaSerie(serie) {
                $("#NumSerie").val(serie);
                $("form").get(0).submit();
            }

            $('.lnkStatus').on("click", function () {
                consultaSerie($(this).attr("alt"));
            });

        });


    </script>
