﻿@model List<SEMP.Model.DTO.CBTAModeloDTO>
@{

	var DatInicio = Request["DatIni"];
	var Modelo = Request["CodModelo"];
	var GrupoLinha = Request["Familia"];
	var Descricao = Request["Descricao"];
	var Fase = Request["Fase"];
	var CodLinha = Request["CodLinha"];

	if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(Modelo)) { Modelo = ""; }
	if (String.IsNullOrEmpty(GrupoLinha)) { GrupoLinha = ""; }
	if (String.IsNullOrEmpty(Fase)) { Fase = "FEC"; }

	var valores = String.Join(",", Model.Select(x => x.TempoAtravessa.ToString().Replace(".", "").Replace(",", ".")).ToList());
	var series = String.Join("', '", Model.Select(x => x.CodModelo).ToList());

}


<div id="container" class="panel"></div>

@if (Model != null)
{

	<script>
		var grafico = new Highcharts.Chart({
			chart: {
				type: "column",
				renderTo: 'container',
				zoomType: 'xy'
			},
			title: {
				text: "Tempo de Atravessamento (Realizado e Tempo de Espera)"
			},
			xAxis: {
				categories: ['@{WriteLiteral(series);}']
		},
		yAxis: {
			title: {
				text: 'Tempo (min)'
			}
		},
		legend: {
			enabled: true
		},
		series:  [
				{
					name: 'Modelos',
					data: [@valores],
					dataLabels: {
						enabled: true
					}
				}

			],
		plotOptions: {
			series: {
				borderWidth: 0,
				dataLabels: {
					enabled: true
				}
			}
		}

	});
	</script>
	}
