﻿@model List<SEMP.Model.VO.Rastreabilidade.TempoAtravessamentoModelo>
@{
	var codModelo = Request["codModelo"];
	var Smargem = Request["MargemDesvio"];
	var margem = 0.35;
	if (!String.IsNullOrEmpty(Smargem))
	{
		margem = Double.Parse(Smargem);
		margem = margem / 100;
	}

	var desModelo = RAST.BO.Rastreabilidade.Geral.ObterDescricaoItem(codModelo) ?? "";

	var Qseries = Model.OrderBy(z => z.TempoAtravessamento + z.TempoEspera).Select(x => x.NumSerieModelo.Substring(8)).Distinct().ToList();

	var series = String.Join("','", Qseries);
	var valores = String.Join(", ", Model.OrderBy(z => z.TempoAtravessamento + z.TempoEspera).Select(x => (x.TempoAtravessamento + x.TempoEspera ?? 0).ToString("N0").Replace(".", "")).ToList());

	var valMedia = Model.Average(x => x.TempoAtravessamento + x.TempoEspera);
	var medias = Qseries.Select(z => valMedia).ToList();

	var media = String.Join(",", medias.Select(x => (x ?? 0).ToString("N0").Replace(".", "")).ToList());

	var a = Model.Count(x => (x.TempoAtravessamento + x.TempoEspera) < valMedia - ((valMedia ?? 0) * margem));

	var c = Model.Count(x => (x.TempoAtravessamento + x.TempoEspera) > valMedia + ((valMedia ?? 0) * margem));
	var qtdC = c;
	var b = (Model.Count() - a - c) + a;
	var qtdB = b - a;

	c = c + b;

}

@Scripts.Render("~/bundles/highcharts")


<div id="grafico" style="border: solid 1px; width: 100%; height: 100%;"></div>

@if (Model != null)
{

	<script>
		Highcharts.setOptions({
			colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
		});

		var grafico = new Highcharts.Chart({
			chart: {
				type: "line",
				renderTo: 'grafico',
				zoomType: 'xy'
			},
			title: {
				text: "Tempo de Atravessamento Produto"
			},
			subtitle: {
				text: 'Modelo: @desModelo'
			},
			xAxis: {
				categories: ['@{WriteLiteral(series);} '],
				plotBands: [{
					from: 0,
					to: @a.ToString().Replace(",", "."),
					color: '#EFFFFF',
					label: {
						text: '<em>Abaixo da média: <br>(@a aparelhos)</em>',
						style: {
							color: '#999999'
						},
						y: 30
					},
					borderWidth: '3',
					borderColor: '#ffffff'
				}, {
					from: @a.ToString().Replace(",", "."),
					to: @b.ToString().Replace(",", "."),
					color: '#FCFFC5',
					label: {
						text: '<em>Dentro da média: <br>(@qtdB aparelhos)</em>',
						style: {
							color: '#999999'
						},
						y: 30
					},
					borderWidth: '3',
					borderColor: '#ffffff'
				}, {
					from: @b.ToString().Replace(",", "."),
					to: @c.ToString().Replace(",", "."),
					color: '#FFEFFF',
					label: {
						text: '<em>Acima da média: <br>(@qtdC aparelhos)</em><br>',
						style: {
							color: '#999999'
						},
						y: 30
					}
				}]
			},
			yAxis: {
				title: {
					text: 'Tempo (min)'
				}
			},
			legend: {
				enabled: true
			},
			series: [
				{
					type: 'line',
					name: 'Médio',
					data: [@media]
				}, {
					type: 'line',
					name: 'Realizado',
					data: [@valores]
				}]

		});

	</script>
	}
