﻿@model List<SEMP.Model.VO.Rastreabilidade.TempoAtravessamento>
@{

	var DatInicio = Request["DatInicio"];
	var DatFim = Request["DatFim"];
	var CodModelo = Request["CodModelo"];
	var QtdAparelhos = Model.Count().ToString();//Request["QtdAparelhos"];
	var QtdTotal = ViewBag.QtdTotal;


	if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToShortDateString(); }
	if (String.IsNullOrEmpty(DatFim)) { DatInicio = DateTime.Now.ToShortDateString(); }
	if (String.IsNullOrEmpty(CodModelo)) { CodModelo = ""; }
	//if (String.IsNullOrEmpty(QtdAparelhos) || QtdAparelhos == "0") { QtdAparelhos = Model.Count().ToString(); }


	var TA = String.Join(",", Model.Select(x => x.TempoAtravessa.ToString().Replace(".", "").Replace(",", ".")).ToList());
	var TP = String.Join(",", Model.Select(x => x.TempoProducao.ToString().Replace(".", "").Replace(",", ".")).ToList());
	var TE = String.Join(",", Model.Select(x => x.TempoEspera.ToString().Replace(".", "").Replace(",", ".")).ToList());
	var TI = String.Join(",", Model.Select(x => x.TempoIntervalo.ToString().Replace(".", "").Replace(",", ".")).ToList());
	//var TC = String.Join(",", Model.Select(x => x.TempoAtravessa.ToString().Replace(".", "").Replace(",", ".")).ToList());

	var series = String.Join("', '", Model.Select(x => x.CodModelo + '-' + x.DesItem).ToList());

}

<div id="container" class="panel" style="width: 100%; height: 100%;"></div>

@if (Model != null)
{

	<script>
		var grafico = new Highcharts.Chart({
			chart: {
				type: "bar",
				renderTo: 'container',
				zoomType: 'xy'
			},
			title: {
				text: "Tempo de Atravessamento"
			},
			subtitle: {
				text: "@DatInicio.Substring(3,7) - @QtdAparelhos aparelhos de @QtdTotal",
				style: { "font-size": 16 }
			},
			xAxis: {
				categories: ['@{WriteLiteral(series);}']
			},
			yAxis: {
				min: 0,
				title: {
					text: 'Tempo (min)'
				}
			},
			legend: {
				enabled: true
			},
			plotOptions: {
				series: {
					borderWidth: 0,
					dataLabels: {
						enabled: true,
						color: '#000000'
					},
					stacking: 'normal',
					cursor: 'pointer',
					point: {
						events: {
							click: function () {
								var categoria = this.category;
								var modelo = categoria.substring(0, categoria.indexOf('-'));
								
								//alert('Category: ' + this.category + ', menor: ' + menor + ', maior: ' + maior);
								VerGraficoHistograma(modelo);
							}
						}
					}
				}
			},
			series:  [
				{
					name: 'Tempo Atravessamento',
					color: '#7cb5ec',
					data: [@TA],
					dataLabels: {
						enabled: true
					},
					stack: 'TA'
				},
				{
					name: 'Tempo Produção',
					color: '#90ed7d',
					data: [@TP],
					dataLabels: {
						enabled: true
					}

				},
				{
					name: 'Tempo Espera',
					color: '#f7a35c',
					data: [@TE],
					dataLabels: {
						enabled: true
					}
				},
				{
					name: 'Tempo Descontos',
					color: '#8085e9',
					data: [@TI],
					dataLabels: {
						enabled: true
					},
					visible: false
				}

			]

		});
	</script>
}