﻿@model List<SEMP.Model.VO.Rastreabilidade.TempoAtravessamentoModelo>
@{
	var codModelo = Request["codModelo"];

	var desModelo = RAST.BO.Rastreabilidade.Geral.ObterDescricaoItem(codModelo) ?? "";

	var valMedia = Model.Average(x => x.TempoAtravessamento);
	var valTotal = Model.Sum(x => x.TempoAtravessamento + x.TempoEspera);

	var tabela = Model.Select(x => new { x.NumSerieModelo, TempoAtravessamento = x.TempoAtravessamento + x.TempoEspera, Media = valMedia, 
											Participacao = ((((x.TempoAtravessamento??0) + (x.TempoEspera??0)) / valTotal)*100).Value.ToString("N2") })
						.GroupBy(z => z.Participacao)
						.Select(y => new { Participacao = y.Key, Qtde = y.Count()}).ToList();
						//.OrderByDescending(x => x.Participacao)

	var valores = String.Join(",", tabela.Select(x => x.Participacao.Replace(".", "").Replace(",", ".")).ToList());
	var series = String.Join(", ", tabela.Select(x => x.Qtde.ToString()).ToList());

}

@Scripts.Render("~/bundles/highcharts")


<div id="grafico" style="border: solid 1px; width: 100%; height: 100%;"></div>

@if (Model != null)
{

	<script>

		var grafico = new Highcharts.Chart({
			chart: {
				type: "column",
				renderTo: 'grafico',
				zoomType: 'xy'
			},
			title: {
				text: "Qtde Registros x Participação(%)"
			},
			subtitle: {
				text: 'Modelo: @desModelo'
			},
			xAxis: {
				categories: [@{WriteLiteral(series);}]
			},
			yAxis: {
				title: {
					text: 'Participação em %'
				}
			},
			legend: {
				enabled: true
			},
			series: [
				{
					name: 'Qtde',
					data: [@valores],
					dataLabels: {
						enabled: true
					}
				}

			]

		});


	</script>
	}
