﻿@model List<SEMP.Model.VO.Rastreabilidade.GraficoHistograma>
@{
	var codModelo = Request["codModelo"];
	var desModelo = !String.IsNullOrEmpty(codModelo) ? RAST.BO.Rastreabilidade.Geral.ObterDescricaoItem(codModelo) ?? "" : "";

	var valores = String.Join(",", Model.Select(x => x.Valor.ToString().Replace(".", "").Replace(",", ".")).ToList());
	var series = String.Join("', '", Model.Select(x => x.DesClasse).ToList());

	var tipo = Request["flgTipoGrafico"];
	var titulo = "Tempo Total de Atravessamento";

	if (!String.IsNullOrEmpty(tipo) && tipo == "P") {
		titulo = "Tempo de Valor Agregado";
	}
	else if (!String.IsNullOrEmpty(tipo) && tipo == "W")
	{
		titulo = "Tempo de Espera";
	}

	var DatInicio = Request["DatInicio"];
	var DatFim = Request["DatFim"];
	if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToShortDateString(); }
	if (String.IsNullOrEmpty(DatFim)) { DatInicio = DateTime.Now.ToShortDateString(); }
}
<div id="grafico" style="border: solid 1px; width: 100%; height: 100%;"></div>
<address>* classes usadas para calcular o tempo médio de atravessamento</address>
@if (Model != null)
{

	<script>

		var grafico = new Highcharts.Chart({
			chart: {
				type: "column",
				renderTo: 'grafico',
				zoomType: 'xy'
			},
			title: {
				text: "Qtde Produtos x Classe de @titulo"
			},
			subtitle: {
				text: 'Modelo: @desModelo - Período: @DatInicio a @DatFim'
			},
			xAxis: {
				categories: ['@{WriteLiteral(series);}']
			},
			yAxis: {
				title: {
					text: 'Quantidade de Produtos'
				}
			},
			legend: {
				enabled: true
			},
			/*tooltip: {
				headerFormat: '<b>{series.name}</b><br/>',
				pointFormat: 'Qtd. produtos: {point.y}<br/>{p}'
			},*/
			tooltip: {
				formatter: function () {
					var s = '<b>Variação de Tempo</b>';
					var x = this.x;
					x = x.replace("*", "");
					var menor = x.substring(0, x.indexOf('-'));
					menor = (menor / (60 * 8.63)).toFixed(2);
					var maior = x.replace(x.substring(0, x.indexOf('-')) + '-', '');
					maior = (maior / (60 * 8.63)).toFixed(2);
					s += '<br/>De ' + menor + ' dias a ' + maior + ' dias';

					$.each(this.points, function () {
						s += '<br/>Qtd. Produtos: ' +
							this.y;
					});

					return s;
				},
				shared: true
			},
			plotOptions: {
				series: {
					cursor: 'pointer',
					point: {
						events: {
							click: function () {
								var categoria = this.category;
								categoria = categoria.replace("*", "");
								var menor = categoria.substring(0, categoria.indexOf('-'));
								var maior = categoria.replace(menor + '-', '');

								//alert('Category: ' + this.category + ', menor: ' + menor + ', maior: ' + maior + ', k: ' + k + ', posição: ' + posicao);
								VerClasse('@codModelo', menor, maior)
							}
						}
					}
				}
			},
			series: [
				{
					name: 'Variação de Tempo',
					data: [@valores],
					dataLabels: {
						enabled: true
					}
				}

			]

		});


	</script>
}
