﻿@model List<SEMP.Model.DTO.CBTAModeloDTO>
@{
	var codModelo = Request["codModelo"];

	var desModelo = RAST.BO.Rastreabilidade.Geral.ObterDescricaoItem(codModelo) ?? "";

	var Qseries = Model.OrderBy(z => z.Data).Select(x => x.Data.ToShortDateString()).Distinct().ToList();

	var series = String.Join("','", Qseries);
	var valores = String.Join(", ", Model.OrderBy(z => z.Data).Select(x => x.TempoAtravessa.Value.ToString("N0").Replace(".", "")).ToList());

	var valMin = Model.Min(x => x.TempoAtravessa).Value.ToString("N0").Replace(".", "");
	var valMax = Model.Max(x => x.TempoAtravessa).Value.ToString("N0").Replace(".", "");

	var valMedia = Model.Average(x => x.TempoAtravessa);
	var medias = Qseries.Select(z => valMedia).ToList();

	var media = String.Join(",", medias.Select(x => (x ?? 0).ToString("N0").Replace(".", "")).ToList());

}

@Scripts.Render("~/bundles/highcharts")


<div id="grafico" class="panel" style="border: solid 1px; width: 100%; height: 100%;"></div>

@if (Model != null)
{

	<script>
		var valores = [@valores];

		var grafico = new Highcharts.Chart({
			chart: {
				type: "line",
				renderTo: 'grafico',
				zoomType: 'xy'
			},
		title: {
			text: "Tempo de Atravessamento por Dia"
		},
		subtitle: {
			text: 'Modelo: @desModelo'
		},
		xAxis: {
			categories: ['@{WriteLiteral(series);} '],
		},
		yAxis: {
			title: {
				text: 'Tempo (min)'
			}
},
		legend: {
			enabled: true
		},
		tooltip: {
			valueSuffix: ' min'
		},
		series: [
			{
				name: 'Médio',
				data: [@media]
			}, {
				name: 'Realizado',
				data: valores
			}, {
				type: 'spline',
				name: 'Tendência',
				marker: { enabled: false },
				enableMouseTracking: false,
				/* function returns data for trend-line */
				data: (function() {
				  return fitData(valores).data;
				})()
			  }
		]

	});
	</script>
	}
