﻿@{
	ViewBag.Title = "Tempo de Atravessamento";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Tempo de Atravessamento";

	//var DatInicio = DateTime.Now.AddDays(-1).ToString("dd/MM/yyyy");
	//var DatFim = RAST.BO.Rastreabilidade.Geral.ObterUltimaDataProducao().ToString("dd/MM/yyyy");
	var DatInicio = String.Format("01/{0:00}/{1}", DateTime.Now.Month, DateTime.Now.Year);
	var DatFim = DateTime.Parse(DatInicio).AddMonths(1).AddDays(-1).ToShortDateString();

}
<link href="/Content/css/select2.min.css" rel="stylesheet" />

<h3>@ViewBag.Title
	<span class="btn-group hidden-print" role="group">
		<a id="btnOpcoes" class="btn btn-default btn-xs" onclick="$('#pnlFiltro').toggle();"><i class="glyphicon glyphicon-arrow-down"></i> Opções</a>
		<span class="btn-group btn-group-xs">
			<a href="#" name="btnGrafico" id="btnGrafico" class="btn btn-danger btn-xs" onclick="btnGrafico_Click();"><i class="glyphicon glyphicon-blackboard"></i> Gráfico</a>
			<button type="button" class="btn btn-danger dropdown-toggle" onclick="$('#conteudoGrafico').toggle(); $(this).parent().toggleClass('dropup', '');"><span class="caret"></span></button>
		</span>
		<span class="btn-group btn-group-xs">
			<a href="#" name="btnTabela" id="btnTabela" class="btn btn-warning btn-xs" onclick="CarregarResumo(); $('#btnExcel').removeClass('hidden'); $('.btn-warning').removeClass('hidden');"><i class="glyphicon glyphicon-list-alt"></i> Tabela</a>
			<button type="button" class="btn btn-warning dropdown-toggle hidden" onclick="$('#conteudoResumo').toggle(); $(this).parent().toggleClass('dropup', '');"><span class="caret"></span></button>
		</span>
			
		<a name="btnExcel" id="btnExcel" class="btn btn-success btn-xs hidden" onclick="ExportarExcel();"><i class="glyphicon glyphicon-export"></i> Excel</a>
		<a name="btnCalculo" id="btnCalclo" class="btn btn-default btn-xs" onclick="$('#pnlCalculo').toggle();"><i class="glyphicon glyphicon-dashboard"></i> Cálculo</a>
	</span>
</h3>

<blockquote id="pnlCalculo">
	<code>
		<b>Tempo Médio de Atravessamento</b> = Tempo de Produção + Tempo de Espera <br />
		<b>Tempo Corrido Médio</b> = Tempo de Atravessamento + Tempo Descontos<br />
		<b>Tempo de Produção</b> = SOMA.Fases(Data Fim de Produção - Data Início de Produção)<br />
		<b>Fases</b> = {IAC, ESP, IMC, ESP, MF}
	</code>
</blockquote>

<div id="dialog-edit" style="display: none;"></div>
<style>
	.margem {
		margin-right: 15px;
	}
</style>

<div class="row" id="pnlFiltro" style="margin-left: 0;">
	<div style="display: block; float: left; margin-right: 10px;">
		<div class="row hidden-print" style="margin-left: 0;">
			<div class="pull-left margem">
				<div class="pull-left margem">
					<label>Período:</label><br />
					<div class="input-group input-group-sm" style="width: 100px;">
						<div class="input-group-btn"><button class="btn btn-default menos"><span class="glyphicon glyphicon-minus"></span></button></div>
						<input type="text" name="DatIni" id="DatIni" class="form-control calendar-group" style="width: 100px;" value="@DatInicio" />
						<div class="input-group-btn"><button class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></button></div>
					</div>
				</div>
				<div class="pull-left margem">
					<label>&nbsp;</label><br />
					<div class="input-group input-group-sm" style="width: 100px;">
						<div class="input-group-btn"><button class="btn btn-default menos"><span class="glyphicon glyphicon-minus"></span></button></div>
						<input type="text" name="DatFim" id="DatFim" class="form-control calendar-group" style="width: 100px;" value="@DatFim" />
						<div class="input-group-btn"><button class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></button></div>
					</div>
				</div>
				<div class="pull-left margem">
					<label>Núm. Série&#58;</label><br />
					<input type="text" name="NumSerie" id="NumSerie" value="" class="form-control input-sm" style="width: 130px;" />
				</div>
				<div class="pull-left margem">
					<label>Modelo&#58;</label><br />
					<div class="">
						<input type="text" name="CodModelo" id="CodModelo" value="" class=" hidden form-control input-sm" />
						<select id="Descricao" name="Descricao" style="width:300px;"></select>
						<!--<input type="text" name="Descricao" id="Descricao" value="" class="input-group-addon input-sm text-grid" style="width: 200px;" />-->
					</div>
				</div>
			</div>

		</div>
		<div class="row hidden-print" style="margin-left: 0;">
			<div class="pull-left margem hidden">
				<label>AP:</label>
				<div class="input-group input-group-sm">
					<input type="text" class="form-control input-group-addon input-sm" name="CodFab" id="CodFab" value="" style="width: 45px;" placeholder="Fáb." maxlength="2" onblur="this.value = padLeft(this.value, 2);" />
					<input type="text" class="form-control input-sm" name="NumAP" id="NumAP" value="" style="width: 70px;" placeholder="AP" maxlength="6" onblur="this.value = padLeft(this.value, 6);" />
				</div>
			</div>

			<div class="pull-left margem hidden" style="padding-top: 18px;">
				<input type="button" name="btnEnviarAP" value="Consultar AP" class="btn btn-primary btn-sm" onclick="CarregarResumoAP();" />
			</div>

			<div class="pull-left margem hidden">
				<label>Fase para o gráfico</label>
				<select name="flgFase" id="flgFase" class="form-control">
					<option value="">Todas</option>
					<option value="IAC">IAC-PRODUÇÃO</option>
					<option value="WIP-2">IAC-ESPERA</option>
					<option value="IMC">IMC-PRODUÇÃO</option>
					<option value="WIP-1">IMC-ESPERA</option>
					<option value="FEC">FEC</option>
				</select>
			</div>

			<div class="pull-left margem">
				<label>Dados para o gráfico</label>
				<select name="flgTipoGrafico" id="flgTipoGrafico" class="form-control input-sm">
					<option value="">Tempo total</option>
					<option value="P">Tempo Produção</option>
					<option value="W">Tempo Espera</option>
				</select>
			</div>

			<div class="pull-left margem">
				<label>Qtd. Aparelho para Gráf.</label>
				<select name="QtdAparelhos" id="QtdAparelhos" class="form-control input-sm">
					<option value="5" selected>5</option>
					<option value="10">10</option>
					<option value="15">15</option>
					<option value="0">Todos</option>
				</select>
			</div>
		</div>
	</div>

</div>

<div id="Exportavel" class="row">
	<a name="Tabela"></a>
	<div id="conteudoResumo" style="border-top: solid 2px gray; padding-top: 2px;"></div>

	<a name="Grafico"></a>
	<div id="conteudoGrafico" style="width: 100%; height: 500px;"></div>

	<a name="GraficoOutros"></a>
	<div id="conteudoGraficoOutros" style="width: 100%; height: 500px;"></div>
</div>

<div id="conteudoAtravessa"></div>

<div id="carregando" class="hidden">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<br />
<br />

@Scripts.Render("~/bundles/highcharts")
@Scripts.Render("~/bundles/excelexport")
<script src="~/Scripts/select2.min.js"></script>

<script type="text/javascript">
	var url = "";
	var urlPesquisa = '/Util/ObterModelosPrograma/?datPrograma=' + $("#DatIni").val();

	var parametros = {}

	function CarregarParametros() {

		parametros = {
			DatInicio: $("#DatIni").val(),
			DatFim: $("#DatFim").val(),
			codModelo: $("#CodModelo").val(),
			flgOrdem: 0,
			CodFab: $("#CodFab").val(),
			NumAP: $("#NumAP").val(),
			flgTipoGrafico: $("#flgTipoGrafico").val(),
			flgFase: $("#flgFase").val(),
			numSerie: $("#NumSerie").val(),
			qtdAparelhos: $("#QtdAparelhos").val()
		}
	}

	function CarregarResumo() {

		$("#conteudoAtravessa").html("");
		//$("#conteudoGrafico").html("");
		$("#conteudoResumo").html($('#carregando').html());

		CarregarParametros();

		$.ajax({
			type: "GET",
			url: "/Coleta/TempoAtravessamento/Lista/",
			data: parametros,
			success: function (data) {
				$("#conteudoResumo").html(data);
			},
			error: function (data) {
				$("#conteudoResumo").html(data);
			}
		});
	}

	function btnGrafico_Click() {

		$("#conteudoGrafico").html($('#carregando').html());

		CarregarParametros();

		$.ajax({
			type: "GET",
			url: "/Coleta/TempoAtravessamento/Grafico/",
			data: parametros,
			success: function (data) {
				$("#conteudoGrafico").html(data);
			},
			error: function (data) {
				$("#conteudoGrafico").html(data);
			}
		});
	}

	function CarregarResumoAP() {

		$("#conteudoAtravessa").html("");
		$("#conteudoGrafico").html("");
		$("#conteudoResumo").html($('#carregando').html());

		CarregarParametros();

		$.ajax({
			type: "GET",
			url: "/Coleta/TempoAtravessamento/ListaResumoAP/",
			data: parametros,
			success: function (data) {
				$("#conteudoResumo").html(data);
			},
			error: function (data) {
				$("#conteudoResumo").html(data);
			}
		});
	}

	function VerModelo(codModelo) {

		$("#conteudoAtravessa").html($('#carregando').html());

		CarregarParametros();
		parametros.codModelo = codModelo;

		$.ajax({
			type: "GET",
			url: "/Coleta/TempoAtravessamento/ListaModelo/",
			data: parametros,
			success: function (data) {
				$("#conteudoAtravessa").html(data);
			},
			error: function (data) {
				$("#conteudoAtravessa").html(data);
			}
		});
	}

	function VerClasse(codModelo, menor, maior) {

		$("#conteudoAtravessa").html($('#carregando').html());

		CarregarParametros();
		parametros.codModelo = codModelo;
		parametros.menor = menor;
		parametros.maior = maior;

		$.ajax({
			type: "GET",
			url: "/Coleta/TempoAtravessamento/ListaClasse/",
			data: parametros,
			success: function (data) {
				$("#conteudoAtravessa").html(data);
			},
			error: function (data) {
				$("#conteudoAtravessa").html(data);
			}
		});
	}

	function VerModeloOrdem(codModelo, ordem) {

		$("#conteudoAtravessa").html($('#carregando').html());

		CarregarParametros();
		parametros.codModelo = codModelo;
		parametros.flgOrdem = ordem;

		$.ajax({
			type: "GET",
			url: "/Coleta/TempoAtravessamento/ListaModelo/",
			data: parametros,
			success: function (data) {
				$("#conteudoAtravessa").html(data);
			},
			error: function (data) {
				$("#conteudoAtravessa").html(data);
			}
		});
	}

	function GerarExcel(codModelo) {

		CarregarParametros();
		parametros.codModelo = codModelo;
		parametros.flgExcel = "S"

		$.redirectPost("/Coleta/TempoAtravessamento/AnaliseModelo/", parametros);

	}

	function VerGrafico(codModelo) {

		$("#conteudoGrafico").html($('#carregando').html());

		CarregarParametros();
		parametros.codModelo = codModelo;

		$.ajax({
			type: "GET",
			url: "/Coleta/TempoAtravessamento/GraficoModelo/",
			data: parametros,
			success: function (data) {
				$("#conteudoGrafico").html(data);
			},
			error: function (data) {
				$("#conteudoGrafico").html(data);
			}
		});
	}

	function VerGraficoMes(codModelo) {

		$("#conteudoGraficoOutros").html($('#carregando').html());

		CarregarParametros();
		parametros.codModelo = codModelo;

		$.ajax({
			type: "GET",
			url: "/Coleta/TempoAtravessamento/GraficoEvolucao/",
			data: parametros,
			success: function (data) {
				$("#conteudoGraficoOutros").html(data);
			},
			error: function (data) {
				$("#conteudoGraficoOutros").html(data);
			}
		});
	}

	function VerGraficoHistograma(codModelo) {

		$("#conteudoGraficoOutros").html($('#carregando').html());

		CarregarParametros();
		parametros.codModelo = codModelo;

		$.ajax({
			type: "GET",
			url: "/Coleta/TempoAtravessamento/GraficoHistograma/",
			data: parametros,
			success: function (data) {
				$("#conteudoGraficoOutros").html(data);
			},
			error: function (data) {
				$("#conteudoGraficoOutros").html(data);
			}
		});
	}

	function CarregarAnaliseModelo(codModelo) {

		try {
			$("#conteudoAtravessa").html("");
			$("#conteudoGrafico").html("");
			$("#conteudoResumo").html($('#carregando').html());
			setTimeout("$('#conteudoResumo').html('')", 5000);

			$("#CodModelo").val(codModelo);

			CarregarParametros();

			var param = Object.keys(parametros).map(function (key) {
				return encodeURIComponent(key) + '=' + encodeURIComponent(parametros[key]);
			}).join('&');

			document.location.href = "/Coleta/TempoAtravessamento/AnaliseModelo/?" + param;
		}
		catch (err) {
			$("#conteudoResumo").html("Erro ao carregar. <br>" + err.Message);
		}



	}

	function ExportarExcel () {
		//window.open('data:application/vnd.ms-excel,' + $('#conteudoResumo').html());
		$("#tblDados").btechco_excelexport({
			containerid: "conteudoResumo"
			, datatype: $datatype.MVC
		});
	}

	function initDialog() {
		$(".lnkEdit").on("click", function (e) {
			url = $(this).attr('href');
			$("#dialog-edit").html($('#carregando').html());
			$("#dialog-edit").dialog('open');

			return false;
		});
		$("#btnclose").on("click", function (e) {
			$("#dialog-edit").dialog("close");
			return false;
		});
	}

	$(document).ready(function () {
		$("#pnlFiltro").toggle();
		$("#pnlCalculo").toggle();

		$("#dialog-edit").dialog({
			title: 'Detalhes produto',
			autoOpen: false,
			resizable: false,
			width: 630,
			height: 500,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("X");
				$(this).html("");
				$(this).load(url);
			}
		});

		$("#DatIni").datepicker({
			showButtonPanel: true,
			numberOfMonths: 1
		});
		$("#DatFim").datepicker({
			showButtonPanel: true,
			numberOfMonths: 1
		});

		$("#Descricao").keyup(function () {
			if ($("#Descricao").val().length == 0) {
				$('#CodModelo').val("");
			}
		});

		$("#CodModelo").blur(function () {
			//$("#Descricao").val($("#CodModelo").val()).trigger("change");
			/*$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: $("#CodModelo").val() },
				success: function (data) {
					$("#Descricao").val(data);
				}
			});*/

		});

		$('.mais').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			if ($(campo).val()) {

				var date = $(campo).datepicker('getDate');
				date.setDate(date.getDate() + 1);
				$(campo).datepicker("setDate", date);
			}
			else {
				campo = $(this).parent().parent().find('.form-control');

				var dado = parseInt($(campo).val());
				dado = dado + 1;
				$(campo).val(dado);

			}
		});

		$('.menos').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			if ($(campo).val()) {

				var date = $(campo).datepicker('getDate');
				date.setDate(date.getDate() - 1);
				$(campo).datepicker("setDate", date);
			}
			else {
				campo = $(this).parent().parent().find('.form-control');

				var dado = parseInt($(campo).val());
				dado = dado - 1;
				if (dado >= 0)
					$(campo).val(dado);

			}
		});

		$('#Descricao').select2({
			ajax: {
				url: function (params) {
					return '/Coleta/Util/ObterModelosData/?datPrograma=' + $("#DatIni").val();
				},
				dataType: 'json'
			},
			placeholder: 'Pesquise o Produto',
			theme: "classic",
			allowClear: true
		});

		$('#Descricao').on("change", function (e) { $("#CodModelo").val($("#Descricao").val()); });

		initDialog();

		setTimeout("btnGrafico_Click();", 1000);

	});


</script>
