﻿@model List<SEMP.Model.VO.Rastreabilidade.TempoAtravessamentoResumoAP>

@{ 
	var margem = 0;


}

<style>
	#tblDados tbody tr td {
		font-size: 12px !important;
	}
</style>

<table class="table-semp blue borderBlue table-bordered table-condensed" id="tblDados">
	<caption>Resumo de Atravessamento</caption>
	<thead>
		<tr>
			<th>Modelo</th>
			<th style="width: 80px;">AP</th>
			<th style="width: 50px;">Produzido</th>
			<th style="width: 50px;">Lote AP</th>
			<th style="width: 50px;">Apontado</th>
			<th style="width: 80px;">Tempo AP</th>
			<th style="width: 80px; border-left: solid 1px black;">Tempo Atrav.</th>
			<th style="width: 70px;">Tempo de Prod.</th>
			<th style="width: 80px;">Tempo Espera</th>
			<th style="width: 70px;">Menor Tempo</th>
			<th style="width: 70px;">Maior Tempo</th>
			<th style="width: 80px;">Tempo Corrido</th>
			<th style="width: 60px;">Defeitos</th>
			<th style="width: 70px;">Tempo Técnico</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var registro in Model)
			{
				margem = 0;

				if (registro.Ordem > 1)
				{
					margem = margem + (registro.Ordem * 15);
				}

			<tr>
				<td style="text-align: left;">
					<button class="btn btn-default btn-xs" disabled="disabled" data-toggle="tooltip" title="Visualizar" onclick="VerModelo('@registro.CodModelo');"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
					<!--<button class="btn btn-info btn-xs" data-toggle="tooltip" title="Gráfico" onclick="VerGrafico('@registro.CodModelo');"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></button>
					<button class="btn btn-info btn-xs" data-toggle="tooltip" title="Gráfico Evolução" onclick="VerGraficoMes('@registro.CodModelo');"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></button>
					<button class="btn btn-info btn-xs" data-toggle="tooltip" title="Gráfico ABC" onclick="VerGraficoABC('@registro.CodModelo');"><span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span></button>-->
					<span style="padding-left: @(@margem)px;">
						&nbsp;
						@registro.CodModelo - @registro.DesModelo
					</span>
				</td>
				<td>@registro.CodFab / @registro.NumAP</td>
				<td>@registro.QtdProduzido</td>
				<td>@registro.QtdLoteAP</td>
				<td>@registro.QtdApontada</td>
				<td>@Extensions.FormatarTempo(registro.TempoAP ?? 0m)</td>
				<td>@Extensions.FormatarTempo(registro.TempoMedioAtravessa ?? 0)</td>
				<td>@Extensions.FormatarTempo(registro.TempoMedioProd ?? 0)</td>
				<td>@Extensions.FormatarTempo(registro.TempoMedioEsp ?? 0)</td>
				<td style="color: blue;">@Extensions.FormatarTempo(registro.MenorTempo ?? 0)</td>
				<td style="color: red;">@Extensions.FormatarTempo(registro.MaiorTempo ?? 0)</td>
				<td>@Extensions.FormatarTempo(registro.TempoMedioCorrido ?? 0)</td>
				<td>@registro.QtdDefeitos</td>
				<td style="text-align: right;">@Extensions.FormatarTempo(registro.TempoEsperaTecnico ?? 0)</td>

			</tr>
			}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="15"><b>Qtd. Registros:</b> @Model.Count()</td>
		</tr>

	</tfoot>
</table>

<script>
	$('[data-toggle="tooltip"]').tooltip();
</script>