﻿@model List<SEMP.Model.DTO.CBTAItemDTO>
@{
	if (Model.Count() == 0)
	{
		return;
	}

	var maior = Request["maior"];
	var menor = Request["menor"];

	var tempo = Model.FirstOrDefault();
	var desModelo = tempo != null ? RAST.BO.Rastreabilidade.Geral.ObterDescricaoItem(tempo.CodModelo) ?? "" : "";
	
	var fasesProduto = Model.GroupBy(x => new { x.Fase, x.SubFase, x.Ordem }).Select(x => new { x.Key.Fase, x.Key.SubFase, x.Key.Ordem }).ToList();
	var maxOrdem = Model.Max(x => x.Ordem);
	var minOrdem = Model.Min(x => x.Ordem);

	var temposSeries = Model.GroupBy(x => new { x.CodModelo, x.NumSerieModelo, x.NumSeriePCI }).Select(x => new
	{
		CodModelo = x.Key.CodModelo,
		NumSerieModelo = x.Key.NumSerieModelo,
		NumSeriePCI = x.Key.NumSeriePCI
	}).ToList();

	var tempos = Model.GroupBy(x => new { x.CodModelo, x.NumSerieModelo }).Select(x => new
	{
		CodModelo = x.Key.CodModelo,
		TempoProducao = x.Where(z => !z.SubFase.StartsWith("WIP")).Sum(y => y.TempoAtravessa),
		TempoWIP = x.Where(z => z.SubFase.StartsWith("WIP")).Sum(y => y.TempoAtravessa),
		TempoTotal = x.Sum(y => y.TempoAtravessa),
		TempoCorrido = x.Sum(y => y.TempoCorrido),
		TempoIAC = x.Where(z => z.Fase == "IAC" && !z.SubFase.StartsWith("WIP")).Sum(y => y.TempoAtravessa),
		TempoIMC = x.Where(z => z.Fase == "IMC" && !z.SubFase.StartsWith("WIP")).Sum(y => y.TempoAtravessa),
		TempoFEC = x.Where(z => z.Fase == "FEC" && !z.SubFase.StartsWith("WIP")).Sum(y => y.TempoAtravessa),
	}).ToList();

	var media = tempos.GroupBy(x => x.CodModelo).Select(x => new
	{
		CodModelo = x.Key,
		TempoProducao = x.Average(z => z.TempoProducao),
		TempoWIP = x.Average(z => z.TempoWIP),
		TempoTotal = x.Average(z => z.TempoTotal),
		QtdAnalisado = x.Count(),
		MenorTempo = x.Min(z => z.TempoTotal),
		MaiorTempo = x.Max(z => z.TempoTotal),
		TempoCorrido = x.Average(z => z.TempoCorrido),
		TempoIAC = x.Average(z => z.TempoIAC) ?? 0,
		TempoIMC = x.Average(z => z.TempoIMC) ?? 0,
		TempoFEC = x.Average(z => z.TempoFEC) ?? 0
	}).FirstOrDefault();


}
	<style>
		#regua {
			display: flex; /* Flex layout so items have equal height  */
			flex-flow: row wrap; /* Allow items to wrap into multiple lines */
			width: 100%;
		}

		.quadro {
			display: flex; /* Lay out each item using flex layout */
			flex-flow: column; /* Lay out item’s contents vertically  */
		}

			.quadro > img {
				order: -1; /* Shift image before other content (in visual order) */
				align-self: center; /* Center the image cross-wise (horizontally)         */
			}

			.quadro > button {
				margin-top: auto; /* Auto top margin pushes button to bottom */
			}

		.quadroRegua {
			/*width: 150px;*/
			/*height: 55px;*/
			padding-top: 2px;
		}

		.boxArea {
			border: solid 1px black;
			color: red;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			font-size: 14px;
			line-height: 55px;
			width: 100px;
			height: 55px;
		}

		.boxSeta {
			padding-left: 10px;
			padding-right: 5px;
			padding-top: 15px;
			padding-bottom: 15px;
			height: 55px;
			width: 50px;
		}

			.boxSeta img {
				width: 100%;
				height: 100%;
			}

		.boxWIP {
			min-width: 31px;
			height: 55px;
			background-image: url('/Images/Grid.png');
		}

		.reguaLinha {
			margin-top: 10px;
			width: 100%;
			border-top: blue solid 1px;
			text-align: center;
			font-size: 16px;
		}

		.container {
			height: 50px !important;
		}
		.titulo {
			color: red;
			font-weight: bolder;
			text-shadow: 2px 2px 3px #333;
			text-align: center;
		}
	</style>

	<div id="frmRastreio" style="display: none;"></div>

	<span style="float: left; margin-right: 10px;"><button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="history.back();"><img src="~/images/voltar.gif" style="width: 16px; height: 16px;" /></button></span>
	<h3 class="titulo">Séries do produto @tempo.CodModelo - @desModelo</h3>
	<h3 class="titulo">Tempos entre @menor e @maior minutos</h3>


<br /><br />
<table class="table-semp blue borderBlue table-bordered table-condensed" id="tblDados">
	<caption>Resumo Produto</caption>
	<thead>
		<tr>
			<th style="width: 70px;">Qtd. Analisado</th>
			<th style="width: 80px;">Atrav. Médio</th>
			<th style="width: 70px;">T. Prod. Médio</th>
			<th style="width: 80px;">T. Esp. Médio</th>
			<th style="width: 70px;">Menor Tempo</th>
			<th style="width: 70px;">Maior Tempo</th>
			<th style="width: 80px;">Tempo Corrido Médio</th>
			<th style="width: 60px;">Tempo IAC Médio</th>
			<th style="width: 60px;">Tempo IMC Médio</th>
			<th style="width: 60px;">Tempo MF Médio</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align: center;">@media.QtdAnalisado</td>
			<td style="text-align: center;">@Extensions.FormatarTempo(media.TempoTotal ?? 0)</td>
			<td style="text-align: center;">@Extensions.FormatarTempo(media.TempoProducao ?? 0)</td>
			<td style="text-align: center;">@Extensions.FormatarTempo(media.TempoWIP ?? 0)</td>
			<td style="color: blue;text-align: center;">@Extensions.FormatarTempo(media.MenorTempo ?? 0)</td>
			<td style="color: red;text-align: center;">@Extensions.FormatarTempo(media.MaiorTempo ?? 0)</td>
			<td>@Extensions.FormatarTempo(media.TempoCorrido ?? 0)</td>

			<td style="text-align: center;">@Extensions.FormatarTempo(media.TempoIAC)</td>
			<td style="text-align: center;">@Extensions.FormatarTempo(media.TempoIMC)</td>
			<td style="text-align: center;">@Extensions.FormatarTempo(media.TempoFEC)</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<th colspan="10">

				<table class="table-semp table-bordered table-condensed smallrow">
					<thead>
						<tr>
							<th style="width: 150px;">Série</th>
							<th style="width: 130px;">PCI</th>
							@foreach (var item in fasesProduto.OrderByDescending(x => x.Ordem).ThenBy(x => x.SubFase))
							{
								if (item.SubFase.StartsWith("WIP"))
								{
								<th>Espera</th>
								}
								else
								{
								<th>@item.SubFase</th>
								}
							}
							<th>Tempo Total</th>
							<th>Tempo Corrido</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in temposSeries.Where(x => x.NumSerieModelo != x.NumSeriePCI))
						{
						<tr>
							<td>@Html.ActionLink(item.NumSerieModelo, "Ficha", "Rastreia", new { Codigo = item.NumSerieModelo }, new { @class = "lnkEdit" })</td>
							<td>@Html.ActionLink(item.NumSeriePCI, "Ficha", "Rastreia", new { Codigo = item.NumSeriePCI }, new { @class = "lnkEdit" })</td>
							@foreach (var produto in fasesProduto.OrderByDescending(x => x.Ordem).ThenBy(x => x.SubFase))
							{
								var registro = Model.Where(x => x.NumSerieModelo == item.NumSerieModelo && x.Fase == produto.Fase && x.SubFase == produto.SubFase).FirstOrDefault();
								if (registro != null)
								{
								<td>@Extensions.FormatarTempo((double)(registro.TempoAtravessa ?? 0))</td>
								}
								else
								{
								<td></td>
								}
							}
							<td>@Extensions.FormatarTempo((double)Model.Where(x => x.NumSerieModelo == item.NumSerieModelo).Sum(x => x.TempoAtravessa))</td>
							<td>@Extensions.FormatarTempo((double)Model.Where(x => x.NumSerieModelo == item.NumSerieModelo).Sum(x => x.TempoCorrido))</td>
						</tr>
						}

					</tbody>
				</table>

			</th>
		</tr>
	</tfoot>
</table>
<br /><br />
<script type="text/javascript">
	var url = "";

	function initDialog() {
		$(".lnkEdit").on("click", function (e) {
			url = $(this).attr('href');
			$("#frmRastreio").html($('#carregando').html());
			$("#frmRastreio").dialog('open');

			return false;
		});
		$("#btnclose").on("click", function (e) {
			$("#frmRastreio").dialog("close");
			return false;
		});
	}

	$(document).ready(function () {
		$("#frmRastreio").dialog({
			title: 'Detalhes produto',
			autoOpen: false,
			resizable: false,
			width: 630,
			height: 490,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("X");
				$(this).html("");
				$(this).load(url);
			}
		});

		initDialog();

		function consultaSerie(serie) {
			$("#NumSerie").val(serie);
			$("form").get(0).submit();
		}

		$('.lnkStatus').on("click", function () {
			consultaSerie($(this).attr("alt"));
		});

	});


</script>