﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.TempoAtravessamento>
@if (Model.Any())
{
	<h4>Resumo</h4>

	<table class="table-semp table-bordered table-condensed">
		<thead>
			<tr>
				<th class="hidden-print" style="max-width: 80px;"></th>
				<th>Data Ref.</th>
				<th>Modelo</th>
				<th>Atrav. a 8.63h</th>
				<th>Atrav. a 24hs</th>
				<th>Atrav. em minutos</th>
				<th>Tempo<br /> Produção</th>
				<th>Tempo<br /> Espera</th>
				<th>Tempo<br /> Corrido</th>
				<th>Tempo<br /> Descontos</th>
				<th>Tempo<br /> Manutenção</th>
				<th style="width: 60px;">Qtd. Analisado</th>
				<th style="width: 60px;">Qtd. Produzida</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				var pAtravessa = ((item.TempoProducao??0) / item.TempoAtravessa).ToString("P2");
				if (pAtravessa == "NaN") { pAtravessa = ""; }
				var pEspera = ((item.TempoEspera ?? 0) / item.TempoAtravessa).ToString("P2");
				if (pEspera == "NaN") { pEspera = ""; }
				//var percAnalisados = ((registro.QtdAnalisados ?? 0) / Convert.ToDouble(registro.QtdProduzido)).ToString("P2");

			<tr>
				<td class="hidden-print">
					<div class="btn-group" role="group">
						<button class="btn btn-default btn-xs" onclick="CarregarAnaliseModelo('@item.CodModelo');"><i class="glyphicon glyphicon-zoom-in"></i></button>
						<a href="#GraficoOutros" class="btn btn-info btn-xs" data-toggle="tooltip" title="Histograma" onclick="VerGraficoHistograma('@item.CodModelo');"><span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span></a>
						<button class="btn btn-info btn-xs hidden" data-toggle="tooltip" title="Gráfico" onclick="VerGrafico('@item.CodModelo');"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></button>
						<a href="#GraficoOutros" class="btn btn-info btn-xs" data-toggle="tooltip" title="Gráfico Mês" onclick="VerGraficoMes('@item.CodModelo');"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></a>
						<button class="btn btn-success btn-xs" data-toggle="tooltip" title="Gerar Excel" onclick="GerarExcel('@item.CodModelo');"><span class="glyphicon glyphicon-export" aria-hidden="true"></span></button>
					</div>
				</td>
				<td>@item.DatReferencia.ToShortDateString()</td>
				<td>@item.CodModelo - @item.DesItem</td>
				<td>@item.TA2</td>
				<td>@item.TA4</td>
				<td>@item.TempoAtravessa.ToString("N0")</td>
				<td>@item.TempoProducao.Value.ToString("N0") (@pAtravessa)</td>
				<td>@item.TempoEspera.Value.ToString("N0") (@pEspera)</td>
				<td>@item.TempoCorrido.Value.ToString("N0")</td>
				<td>@item.TempoIntervalo.Value.ToString("N0")</td>
				<td>@item.TempoManutencao.Value.ToString("N0")</td>
				<td>@item.QtdAnalisados</td>
				<td>@item.QtdProduzido</td>
			</tr>
			}
		</tbody>
	</table>
<br />
}
else
{
	<h2>NÃO FORAM ENCONTRADOS DADOS PARA ESSE PRODUTO NESSA DATA</h2>

}