﻿@model List<SEMP.Model.DTO.CBTAItemDTO>
@{
	ViewBag.Title = "Tempo de Atravessamento por Modelo";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Tempo de Atravessamento";

	if (Model.Count() == 0)
	{
	<script>alert('Dados incompletos para exibição'); document.location.href = "/Coleta/TempoAtravessamento/";</script>
		//Response.Redirect("~/Coleta/TempoAtravessamento");
		return;
	}

	var tempo = Model.FirstOrDefault();
	var desModelo = tempo != null ? RAST.BO.Rastreabilidade.Geral.ObterDescricaoItem(tempo.CodModelo) ?? "" : "";

	List<SEMP.Model.DTO.CBTAMetasDTO> metas = ViewBag.metas;

	var fasesProduto = Model.GroupBy(x => new { x.Fase, x.SubFase, x.Ordem }).Select(x => new { x.Key.Fase, x.Key.SubFase, x.Key.Ordem }).ToList();
	var maxOrdem = Model.Max(x => x.Ordem);

	var temposSeries = Model.GroupBy(x => new { x.CodModelo, x.NumSerieModelo, x.NumSeriePCI }).Select(x => new
	{
		CodModelo = x.Key.CodModelo,
		NumSerieModelo = x.Key.NumSerieModelo,
		NumSeriePCI = x.Key.NumSeriePCI
	}).ToList();


}
<span style="float: left; margin-right: 10px;"><button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="history.back();"><img src="~/images/voltar.gif" style="width: 16px; height: 16px;" /></button></span>
<h3>@ViewBag.Title</h3>
<h3 class="text-center" style="color: red; font-weight: bolder; text-shadow: 2px 2px 3px #333;">@tempo.CodModelo - @desModelo</h3>


<br />

<br /><br />
<table class="table-semp blue borderBlue table-bordered table-condensed" id="tblDados">
	<caption>Detalhes Produto</caption>
	<thead>
		<tr>
			<th>Série</th>
			<th>PCI</th>
			@foreach (var item in fasesProduto.OrderByDescending(x => x.Ordem))
			{
				if (item.SubFase.StartsWith("WIP"))
				{
				<th>Espera</th>
				}
				else
				{
				<th>@item.SubFase</th>
				}
			}
			<th>Tempo Total</th>
			<th>Tempo Corrido</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in temposSeries.Where(x => x.NumSerieModelo != x.NumSeriePCI))
		{
		<tr>
			<td>@item.NumSerieModelo</td>
			<td>@item.NumSeriePCI</td>
			@foreach (var produto in fasesProduto.OrderByDescending(x => x.Ordem))
			{
				var registro = Model.Where(x => x.NumSerieModelo == item.NumSerieModelo && x.Fase == produto.Fase && x.SubFase == produto.SubFase).FirstOrDefault();
				<td>@Extensions.FormatarTempo((double)(registro.TempoAtravessa ?? 0))</td>
			}
			<td>@Extensions.FormatarTempo((double)Model.Where(x => x.NumSerieModelo == item.NumSerieModelo).Sum(x => x.TempoAtravessa))</td>
			<td>@Extensions.FormatarTempo((double)Model.Where(x => x.NumSerieModelo == item.NumSerieModelo).Sum(x => x.TempoCorrido))</td>
		</tr>
		}

	</tbody>
</table>

<br /><br />