﻿@model List<SEMP.Model.VO.Rastreabilidade.TempoAtravessamentoResumo>
<style>
	#tblDados table tbody tr td {font-size: 13px !important;}

</style>

<table class="table-semp blue borderBlue table-bordered table-condensed" id="tblDados">
	<caption>Resumo de Atravessamento</caption>
	<thead>
		<tr>
			<th class="hidden-print"></th>
			<th>Modelo</th>
			<th style="width: 70px;">Produzido</th>
			<th style="width: 70px;">Analisados</th>
			<th style="width: 80px;">Atrav. Médio</th>
			<th style="width: 70px;">Tempo Prod. Médio</th>
			<th style="width: 80px;">Tempo Esp. Médio</th>
			<th style="width: 70px;">Menor Tempo</th>
			<th style="width: 70px;">Maior Tempo</th>
			<th style="width: 80px;">Tempo Corrido Médio</th>
			
			<th style="width: 60px;">Tempo IAC Médio</th>
			<th style="width: 60px;">Tempo IMC Médio</th>
			<th style="width: 60px;">Tempo MF Médio</th>

			<th style="width: 60px;">Tempo Esp. MF</th>
			<th style="width: 60px;">Tempo Esp. IMC</th>
			<th style="width: 60px;">Tempo Esp. IAC</th>

			<th style="width: 60px;">Defeitos</th>
			<th style="width: 70px;">Tempo Técnico Médio</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var registro in Model)
		{
			var pAtravessa = ((registro.TempoProducao ?? 0) / Convert.ToDouble(registro.TempoAtravessa)).ToString("P2");
			if (pAtravessa == "NaN") { pAtravessa = "";  }
			var pEspera = ((registro.TempoWIP??0) / Convert.ToDouble(registro.TempoAtravessa)).ToString("P2");
			if (pEspera == "NaN") { pEspera = ""; }
			var percAnalisados = ((registro.QtdAnalisados??0) / Convert.ToDouble(registro.QtdProduzido)).ToString("P2");

				<tr>
					<td class="hidden-print" style="width: 130px; text-align: center;">
						<button class="btn btn-default btn-xs" data-toggle="tooltip" title="Visualizar" onclick="VerModelo('@registro.CodModelo');"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
						<button class="btn btn-info btn-xs" data-toggle="tooltip" title="Histograma" onclick="VerGraficoHistograma('@registro.CodModelo');"><span class="glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span></button>
						<button class="btn btn-info btn-xs hidden" data-toggle="tooltip" title="Gráfico" onclick="VerGrafico('@registro.CodModelo');"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></button>
						<button class="btn btn-info btn-xs" data-toggle="tooltip" title="Gráfico Mês" onclick="VerGraficoMes('@registro.CodModelo');"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></button>
						<button class="btn btn-success btn-xs" data-toggle="tooltip" title="Gerar Excel" onclick="GerarExcel('@registro.CodModelo');"><span class="glyphicon glyphicon-export" aria-hidden="true"></span></button>
					</td>
					<td><a href="#" onclick="CarregarAnaliseModelo('@registro.CodModelo');">@registro.CodModelo</a> - @registro.DesModelo</td>
					<td style="text-align: center;">@registro.QtdProduzido</td>
					<td style="text-align: center;">@registro.QtdAnalisados (@percAnalisados)</td>
					<td style="text-align: center;">@Extensions.FormatarTempo(registro.TempoAtravessa ?? 0)</td>
					<td style="text-align: center;">@Extensions.FormatarTempo(registro.TempoProducao ?? 0) (@pAtravessa)</td>
					<td style="text-align: center;">@Extensions.FormatarTempo(registro.TempoWIP ?? 0) (@pEspera)</td>
					<td style="color: blue;text-align: center;">@Extensions.FormatarTempo(registro.MenorTempo ?? 0)</td>
					<td style="color: red;text-align: center;">@Extensions.FormatarTempo(registro.MaiorTempo ?? 0)</td>
					<td>@Extensions.FormatarTempo(registro.TempoCorrido ?? 0)</td>

					<td style="text-align: center;">@Extensions.FormatarTempo(registro.TempoIAC ?? 0)</td>
					<td style="text-align: center;">@Extensions.FormatarTempo(registro.TempoIMC ?? 0)</td>
					<td style="text-align: center;">@Extensions.FormatarTempo(registro.TempoMF ?? 0)</td>

					<td style="text-align: center;">@Extensions.FormatarTempo(registro.WIP1?? 0)</td>
					<td style="text-align: center;">@Extensions.FormatarTempo(registro.WIP2 ?? 0)</td>
					<td style="text-align: center;">@Extensions.FormatarTempo(registro.WIP3 ?? 0)</td>

					<td style="text-align: center;">@registro.QtdDefeitos</td>
					<td style="text-align: right;">@Extensions.FormatarTempo(registro.TempoTecnico ?? 0)</td>
				</tr>
			}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="18"><b>Qtd. Registros:</b> @Model.Count()</td>
		</tr>
		<tr>
			<td colspan="18"><mark>Atraves. => Atravessamento <code>(T.Prod+T.Esp)</code></mark> | <mark>T.Prod. => Tempo de Produção</mark> | <mark>T. Esp. => Tempo de Espera</mark></td>
		</tr>
	</tfoot>
</table>

<script>
	$('[data-toggle="tooltip"]').tooltip();
</script>