﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.TempoAtravessamentoModelo>

@{

	if (!String.IsNullOrEmpty(ViewBag.Erro) ) {

		@ViewBag.Erro;

	}

	var codModelo = Request["codModelo"];

	var produto = RAST.BO.Rastreabilidade.Geral.ObterDescricaoItem(codModelo) ?? "Não encontrado";

}
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/csssite")

<table class="table-semp orange table-bordered table-condensed table-striped" id="tblDadosAtrav">
	<caption>Detalhes do produto @produto</caption>
	<thead>
		<tr>
			<th style="width: 300px;">Produto / PCI</th>
			<th><a href="#" onclick="VerModeloOrdem('@codModelo', '1');"><span class="glyphicon glyphicon-sort-by-alphabet-alt pull-right hidden-print"></span></a>Atraves.</th>
			<th><a href="#" onclick="VerModeloOrdem('@codModelo', '2');"><span class="glyphicon glyphicon-sort-by-alphabet-alt pull-right hidden-print"></span></a>Tempo Prod.</th>
			<th><a href="#" onclick="VerModeloOrdem('@codModelo', '3');"><span class="glyphicon glyphicon-sort-by-alphabet-alt pull-right hidden-print"></span></a>Tempo Espera</th>
			<th><a href="#" onclick="VerModeloOrdem('@codModelo', '4');"><span class="glyphicon glyphicon-sort-by-alphabet-alt pull-right hidden-print"></span></a>Tempo Corrido</th>
			<th class="hidden">Ent. IAC</th>
			<th class="hidden">Saída IAC</th>
			<th><a href="#" onclick="VerModeloOrdem('@codModelo', '5');"><span class="glyphicon glyphicon-sort-by-alphabet-alt pull-right hidden-print"></span></a>Tempo IAC</th>
			<th>Espera</th>
			<th class="hidden">Ent. IMC</th>
			<th class="hidden">Saída IMC</th>
			<th><a href="#" onclick="VerModeloOrdem('@codModelo', '6');"><span class="glyphicon glyphicon-sort-by-alphabet-alt pull-right hidden-print"></span></a>Tempo IMC</th>
			<th>Espera</th>
			<th class="hidden">Ent. MF</th>
			<th class="hidden">Saída MF</th>
			<th><a href="#" onclick="VerModeloOrdem('@codModelo', '7');"><span class="glyphicon glyphicon-sort-by-alphabet-alt pull-right hidden-print"></span></a>Tempo MF</th>
			<th>Téc. IAC</th>
			<th>Téc. IMC</th>
			<th>Téc. MF</th>
			<th>Tempo Técnico</th>
			<th>Qtd. Def. IAC</th>
			<th>Qtd. Def. IMC</th>
			<th>Qtd. Def. MF</th>
			<th>Qtd. Def. Total</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			var tempoTotal = (item.TempoAtravessamento + item.TempoEspera) ?? 0;
			//var repres = "";
			//if (valTotal > 0) { repres = ((tempoTotal / valTotal) * 100).Value.ToString("N2"); }
			//if (repres != "")
			//{

			//}

			<tr>
				<td>
					<span class="hidden-print">
						@Html.ActionLink(item.NumSerieModelo, "Ficha", "Rastreia", new { Codigo = item.NumSerieModelo }, new { @class = "lnkEdit" }) / @Html.ActionLink(item.NumSeriePCI, "Ficha", "Rastreia", new { Codigo = item.NumSeriePCI }, new { @class = "lnkEdit" })
					</span>
					<span class="visible-print">
						@item.NumSerieModelo / @item.NumSeriePCI
					</span>
				</td>
				<td>@Extensions.FormatarTempo(tempoTotal)</td>
				<td>@Extensions.FormatarTempo(item.TempoAtravessamento ?? 0)</td>
				<td>@Extensions.FormatarTempo(item.TempoEspera ?? 0m)</td>
				<td>@Extensions.FormatarTempo(item.TempoCorrido ?? 0m)</td>
				<td class="hidden">@Html.DisplayFor(modelItem => item.DatEntradaIAC)</td>
				<td class="hidden">@Html.DisplayFor(modelItem => item.DatSaidaIAC)</td>
				<td>@Extensions.FormatarTempo(item.TempoIAC ?? 0)</td>
				<td>@Extensions.FormatarTempo(item.TempoEsperaIMC ?? 0m)</td>
				<td class="hidden">@Html.DisplayFor(modelItem => item.DatEntradaIMC)</td>
				<td class="hidden">@Html.DisplayFor(modelItem => item.DatSaidaIMC)</td>
				<td>@Extensions.FormatarTempo(item.TempoIMC ?? 0)</td>
				<td>@Extensions.FormatarTempo(item.TempoEsperaMF ?? 0m)</td>
				<td class="hidden">@Html.DisplayFor(modelItem => item.DatEntradaMF)</td>
				<td class="hidden">@Html.DisplayFor(modelItem => item.DatSaidaMF)</td>
				<td>@Extensions.FormatarTempo(item.TempoMF ?? 0)</td>
				<td>@Extensions.FormatarTempo(item.TempoTecnicoIAC ?? 0)</td>
				<td>@Extensions.FormatarTempo(item.TempoTecnicoIMC ?? 0)</td>
				<td>@Extensions.FormatarTempo(item.TempoTecnicoFEC ?? 0)</td>
				<td>@Extensions.FormatarTempo(item.TempoTecnico ?? 0)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdDefeitosIAC)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdDefeitosIMC)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdDefeitosFEC)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdDefeitos)</td>
			</tr>
		}
	</tbody>
</table>

<script type="text/javascript">
	var url = "";

	$(document).ready(function () {

		initDialog();

		function consultaSerie(serie) {
			$("#NumSerie").val(serie);
			$("form").get(0).submit();
		}

		$('.lnkStatus').on("click", function () {
			consultaSerie($(this).attr("alt"));
		});

	});


</script>
