﻿@{ 
	
	var painel = (List<SEMP.Model.DTO.BarrasPainelDTO>)ViewBag.painel;
	Layout = "";
	var fase = Request["fase"];
}

<!-- painel de produção -->
<div>
	<table class="table table-striped table-condensed table-hover">
		<caption>
			<div style="float: right; font-family: Arial; padding: 3px; font-weight:normal; font-size: 14px;">Hora visualização: @DateTime.Now.ToShortDateString() @DateTime.Now.ToShortTimeString()</div>
		RESUMO DE PRODUÇÃO ONLINE
		</caption>
		<thead>
			<tr>
				<th>Linha</th>
				<th>Modelo</th>
				<th style="width: 60px;">Plano</th>
				<th style="width: 60px;">Emb.</th>
				<th style="width: 60px;">Dif.</th>
				<th style="width: 60px;">Apont.</th>
				<th style="width: 60px;">Dif.H.</th>
				<th style="width: 60px;">AP</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in painel)
			{
				var status = ""; var classDiferenca = "";
				if (String.IsNullOrEmpty(item.FlgValida))
				{
					if (item.StatusLinha != "N")
					{
						status = item.StatusLinha;
					}
				}
				else
				{
					status = item.FlgValida;
				}
				classDiferenca = item.Diferenca < 0 ? "negativo" : "positivo";

				var perc = item.Producao > 0 ? ((item.Embalados??0) / item.Producao??0) : 0;
				var corTexto = "white;";
				var progresso = "success";
				if (perc < 0.5m)
				{
					progresso = "danger";
					corTexto = "black";
				}
				else if (perc >= 0.5m && perc < 0.7m)
				{
					progresso = "warning";
				}
				else if (perc < 1)
				{
					progresso = "info";
				}

				<tr style="text-align: right;">
					<td style="text-align: left;">@Html.DisplayFor(modelItem => item.Linha)</td>
					<td style="text-align: left;">@Html.DisplayFor(modelItem => item.CodModelo) - @item.DesModelo</td>
					<td>@Html.DisplayFor(modelItem => item.Producao)</td>
					<td>@Html.DisplayFor(modelItem => item.Embalados)</td>
					<td>
						<div class="progress">
							<div class="progress-bar progress-bar-@progresso progress-bar-striped" role="progressbar" aria-valuenow="@perc" aria-valuemin="0" 
							aria-valuemax="100" style="color: @corTexto;  width: @perc.ToString("P2").Replace(",", ".")" title="@perc.ToString("P2")">
								@Html.DisplayFor(modelItem => item.DifModelo)
							</div>
						</div>
					</td>
					<td>@Html.DisplayFor(modelItem => item.QtdApontado)</td>
					<td class="@classDiferenca">@Html.DisplayFor(modelItem => item.Diferenca)</td>
					<td>@Html.DisplayFor(modelItem => item.NumAP)</td>
				</tr>
			}
		</tbody>
	</table>
</div>

<div id="grafProducao" style="width: 100%; height: 300px; display: none;"></div>

<!-- Gráfico -->
<div style="background-color: rgb(0, 106, 63); width: 100%; min-height: 300px; padding: 10px;">
	<div style="float: left; margin-right: 20px;" class="">
		@ViewBag.grafico2
	</div>
	<div style="float:left; margin-right: 20px;">
		@ViewBag.grafico
	</div>
	<div>
		@ViewBag.grafico3
	</div>
</div>

<div style="margin-top: 10px;">
@Html.Partial("ListaHora", new ViewDataDictionary() { { "fase", fase } })
</div>