﻿@{
	ViewBag.Title = "SISAP - Sistema de Apoio à Produção";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "SISAP";
	ViewBag.Rotina = "Página Inicial";

	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario + "(" + retornologin.Depto + ")";
	}
}
@Scripts.Render("~/bundles/freewall")

<style>
.size2-2 {
	width: 80px;
	height: 80px;
}

.size11 {
	height: 160px;
	width: 160px;
}

.size12 {
	width: 160px;
	height: 320px;
}

.size21 {
	width: 320px;
	height: 160px;
}

.size22 {
	height: 320px;
	width: 320px;
}

.size13 {
	width: 160px;
	height: 480px;
}

.size31 {
	width: 480px;
	height: 160px;
}

.size23 {
	width: 320px;
	height: 480px;
}

.size24 {
	width: 320px;
	height: 640px;
}

.size32 {
	width: 480px;
	height: 320px;
}

.size33 {
	width: 480px;
	height: 480px;
}

.size34 {
	width: 480px;
	height: 640px;
}

.size43 {
	width: 640px;
	height: 480px;
}

.size35 {
	width: 480px;
	height: 800px;
}

.size53 {
	width: 800px;
	height: 480px;
}

.size36 {
	width: 480px;
	height: 960px;
}
</style>

<style type="text/css">
	#container
	{
		width: 70%;
		margin: auto;
	}

	.item
	{
		display: block;
		color: white;
	}

	.item .itemInner a
	{
		font-family: cursive;
		display: block;
		text-decoration: none;
		color: white;
		width: 100%;
		height: 100%;
		font-size: 18px;
		text-align: center;
	}

	.itemInner
	{
		position: relative;
		min-height: 40px;
	}

	.item a:hover
	{
		color: rgb(245, 255, 0) !important;
	}

	.item a:visited, .item a:focus
	{
		color: white !important;
	}

	.green
	{
		background: rgb(135, 199, 135);
	}

	.red
	{
		background: rgb(255, 0, 0);
	}

	.blue
	{
		background: rgb(41, 128, 185);
	}

	.tituloTile {
		font-weight: bold;
		font-size: 1.6em;
		line-height: 1em;
		margin: 5px;
		-ms-text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
		text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
		font-family: Georgia, Helvetica, Tahoma;
	}

	.innerTile
	{
		padding: 5px;
	}
</style>

<div id="container">
	<div class="item size21 blue">
		<div class="tituloTile">Rastreabilidade</div>
		<div class="innerTile">
			<div style="font-weight: bold;">Número de série</div>
			<input type="text" id="NumSerie" class="serie" style="width: 140px;" />
			<a href="#" class="bttn bttn-red" onclick="document.location.href='/Coleta/Rastreia/?codigo=' + $('#NumSerie').val();" 
					style="width: 25px; height: 25px; padding: 3px;">
				<img src="/Images/image_preview.png" style="width: 75%; height: 75%;" alt="..."/>
			</a>
		</div>
	</div>

	<div class="item size11 red">
		<div class="itemInner">
			<a href="/Coleta/PainelProducao/" target="_blank">
				<span>Painel de Produção</span>
				<img src="~/Images/painelproducao.jpg"/>
			</a>
		</div>
	</div>
	<div class="item blue">
		<div class="itemInner" style="top: 15px;">
			<a href="/Coleta/ResumoProducao/">Resumo de Produção</a>
		</div>
	</div>

</div>

<script>
	var wall = new freewall("#container");

	$(function () {
		wall.fitWidth();
	});

	$(window).resize(function () {
		wall.fitWidth();
	});
</script>

@{
	if (retornologin != null && retornologin.CodDRT == null && 1 == 2)
	{
	<script>
		$.ajax({
			type: 'POST',
			url: '/login/LoginAjax',
			data: { username: '@retornologin.NomFuncionario', password: 'senha' },
			dataType: 'html',
			success: function (json) {
				$('#DadosPosto').html(json);
				//document.location.reload();
			}
		});
	</script>
	}
}