﻿@{
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Title = "SISAP - Sistema de Apoio à Produção";
	ViewBag.Sistema = "SISAP";
	ViewBag.Rotina = "Página Inicial";


	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin {CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = ""};
	var acessoMenu = (retornologin.NomUsuario.ToUpper().Equals("THIAGORR"));

	var esconder = "";

	if (!acessoMenu)
	{
		esconder = "hidden";
	}
	
}
@Styles.Render("~/Content/freewall")

<div class="layout" style="display: none;">
	<div id="freewall" class="free-wall">
		<!-- rastreamento de item -->
		<div class="item size21 level1">
			<div class="padding">
				<h2>Rastrear item</h2>
				<div class="col-md-12">
					<div style="margin-top: 20px;" class="input-group">
						<input type="text" id="NumSerie" class="form-control" style="height: 30px;" placeholder="Entre com o número de série" />
						<span class="input-group-addon">
							<a href="#" onclick="document.location.href='/Coleta/Rastreia/RastrearItem/?serie='+$('#NumSerie').val();">
								<img src="/Images/image_preview2.png" alt="..." style="width: 13px; height: 13px;" />
							</a>
						</span>
					</div>
				</div>
				<label id="DesProduto" style="color: white;"></label>
			</div>
		</div>

		<!-- Gráfico -->
		<div class="item size22 level1">
			<div style="text-align:center; padding-left: 11px; padding-top: 11px;">
				@ViewBag.grafico
			</div>
			<a href="#" style="color: black;">
				<div class="text-bottom2">Índice de defeitos por hora</div>
			</a>
		</div>
		
		<!-- Resumo de produção -->
		<div class="size21 level1" data-nested=".size11" data-cellw="150" data-cellh="150" data-gutterx="10">
			<div class="item size11">
				<h2>Índ. Def. MF</h2>
				<h1 id="indiceFEC"></h1>
				<br />
				<h2>Defeitos MF</h2>
				<h2 id="defeitosFEC"></h2>

				<a href="#"><div class="read-more">Rel. Técnico</div></a>
			</div>
			  
			<div class="item size11">
				<h2>Produção MF</h2>
				<h1 id="producaoFEC"></h1>
				<br />
				<h2>Plano MF</h2>
				<h1 id="planoFEC"></h1>

				<a href="#"><div class="read-more">Resumo de Produção</div></a>
			</div>
		</div>

		<div class="size21 level1" data-nested=".size11" data-cellw="150" data-cellh="150" data-gutterx="10">			
			<div class="item size11">
				<h2>Índice Defeito IMC</h2>
				<h1 id="indiceIMC"></h1>
				<br />
				<h2>Defeitos IMC</h2>
				<h2 id="defeitosIMC"></h2>

				<a href="#"><div class="read-more">Rel. Técnico</div></a>
			</div>

			<div class="item size11">
				<h2>Produção IMC</h2>
				<h1 id="producaoIMC"></h1>
				<br />
				<h2>Plano IMC</h2>
				<h1 id="planoIMC"></h1>

				<a href="#"><div class="read-more">Resumo de Produção</div></a>
			</div>
		</div>
		
		<div class="size21 level1 @esconder" data-nested=".size11" data-cellw="150" data-cellh="150" data-gutterx="10">
			<div class="item size11">
				<h2>Índice Defeito IAC</h2>
				<h1 id="indiceIAC"></h1>
				<br />
				<h2>Defeitos IAC</h2>
				<h2 id="defeitosIAC"></h2>				

				<a href="#"><div class="read-more">Rel. Técnico</div></a>
			</div>
			
			<div class="item size11">
				<h2>Produção IAC</h2>
				<h1 id="producaoIAC"></h1>
				<br />
				<h2>Plano IAC</h2>
				<h1 id="planoIAC"></h1>
				<a href="#"><div class="read-more">Resumo de Produção</div></a>
			</div>
		</div>		
		
		<!-- atalhos principais -->
		<div class="size22 level1 @esconder" data-fixsize="0" data-nested=".size11" data-cellw="150" data-cellh="150" data-gutterx="10">
			<div class="item size11"><a href="/Outros/Parada"><i class="img-small-parada"></i><div class="text-bottom-small"><h3>Parada de Linha</h3></div></a></div>
			<div class="item size11"><a href="/Outros/PrincipaisDefeitos"><i class="img-small-defeitos"></i><div class="text-bottom-small"><h3>Principais Defeitos</h3></div></a></div>
			<div class="item size11"><a href="/Outros/ProgramaDia"><i class="img-small-programadia"></i><div class="text-bottom-small"><h3>Programa Diário</h3></div></a></div>
			<div class="item size11"><a href="/Outros/ProducaoDiaria"><i class="img-small-producaodia"></i><div class="text-bottom-small"><h3>Prod. Diária x Progr.</h3></div></a></div>			
		</div>
		
		<div class="size21 level1 @esconder" data-nested=".size11" data-cellw="150" data-cellh="150" data-gutterx="10">
			<div class="item size11"><a href="/Coleta/PainelProducao"><i class="img-small-painel"></i><div class="text-bottom-small"><h3>Painel de Produção</h3></div></a></div>
			<div class="item size11"><a href="/Coleta/ResumoProducao"><i class="img-small-resumo"></i><div class="text-bottom-small"><h3>Resumo de Produção</h3></div></a></div>
		</div>
	</div>
	<!-- freewall -->
</div>
<!-- layout -->

<div style="display: none;">Icons made by <a href="http://www.flaticon.com/authors/anton-saputro" title="Anton Saputro">Anton Saputro</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

@section Scripts {

@Scripts.Render("~/bundles/highcharts")
@Scripts.Render("~/bundles/freewall")
<script type="text/javascript">

	var colour = [
		"rgb(142, 68, 173)",
		"rgb(243, 156, 18)",
		"rgb(211, 84, 0)",
		"rgb(0, 106, 63)",
		"rgb(41, 128, 185)",
		"rgb(192, 57, 43)",
		"rgb(135, 0, 0)",
		"rgb(39, 174, 96)"
	];

	$(".free-wall .item").each(function () {
		var backgroundColor = colour[colour.length * Math.random() << 0];
		$(this).css({
			backgroundColor: backgroundColor
		});
	});

	$(function () {
		//		$(".layout").css("height", window.innerHeight - 120);

		var wall = new freewall("#freewall");
		wall.reset({
			selector: '.level1',
			draggable: true,
			cellW: 320,
			cellH: 160,
			fixSize: 0,
			gutterX: 20,
			gutterY: 10,
			onResize: function () {
				//wall.fitZone();
				wall.fitHeight();
			}
		});
		//wall.fitZone();
		//wall.fitWidth();
		wall.fitHeight();
		$(".layout").css("height", window.innerHeight - 100);
		$(window).trigger("resize");

		$(".layout").css("display", "block");

		$("#NumSerie").blur(function () {
			$("#DesModelo").val("");

			var dado = $(this).val();

			if (dado == "") {
				return null;
			}
			dado = dado.substr(0, 6);

			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: dado },
				success: function (data) {
					$("#DesProduto").val(data);
				}
			});

			return null;
		});

		setInterval("ObterIndices()", 3600000);
		setTimeout("ObterIndices()", 30000);
		//ObterIndices();

	});

	function ObterIndices() {

		$.ajax({
			type: "GET",
			url: "/Menu/ObterIndice/",
			data: { fase: "IMC" },
			dataType: "json",
			success: function (data) {
				var ind = data.indice.toPrecision(4);
				$("#indiceIMC").html(ind + "%");
				$("#producaoIMC").html(data.produzido);
				$("#defeitosIMC").html(data.defeitos);
				$("#planoIMC").html(data.qtdPlano);
			}
		});

		$.ajax({
			type: "GET",
			url: "/Menu/ObterIndice/",
			data: { fase: "FEC" },
			dataType: "json",
			success: function (data) {
				var ind = data.indice.toPrecision(4);
				$("#indiceFEC").html(ind + "%");
				$("#producaoFEC").html(data.produzido);
				$("#defeitosFEC").html(data.defeitos);
				$("#planoFEC").html(data.qtdPlano);
			}
		});

		$.ajax({
			type: "GET",
			url: "/Menu/ObterIndice/",
			data: { fase: "IAC" },
			dataType: "json",
			success: function (data) {
				var ind = data.indice.toPrecision(4);
				$("#indiceIAC").html(ind + "%");
				$("#producaoIAC").html(data.produzido);
				$("#defeitosIAC").html(data.defeitos);
				$("#planoIAC").html(data.qtdPlano);
			}
		});

	}

</script>

}