﻿@{
	Layout = null;

	ViewBag.Title = "SISAP - Sistema de Apoio à Produção";
	ViewBag.Sistema = "SISAP";
	ViewBag.Rotina = "Página Inicial";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin { CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = "" };
	var acessoMenu = SEMP.Helpers.Extensions.Permissao("NovoInicio", retornologin);//(retornologin.NomUsuario.ToUpper().Equals("THIAGORR"));
	var acessoGraf = SEMP.Helpers.Extensions.Permissao("NovoInicioGraf", retornologin);//(retornologin.NomUsuario.ToUpper().Equals("THIAGORR"));

	List<SEMP.Model.VO.Rastreabilidade.ResumoModelo> resumo = ViewBag.resumo;

	var nomeUsuario = "";
	var depto = "";
	var cargo = "";
	var usuariocracha = false;

	if (retornologin != null)
	{
		nomeUsuario = retornologin.NomFuncionario;
		depto = retornologin.Depto;
		cargo = retornologin.Cargo;
		usuariocracha = retornologin.UsuarioCracha;
	}
	else if (!Request.Url.PathAndQuery.ToUpper().Contains("/OUTROS/PRODUCAODIARIA"))
	{
		Response.Redirect("/?returnUrl=" + Request.Url.OriginalString);
	}
	else
	{
		nomeUsuario = "USUÁRIO NÃO IDENTIFICADO";
	}

	var modo = SEMP.Helpers.Extensions.IsReleaseBuild() ? "Ambiente de Produção" : "Ambiente de Testes";
	var stringconexao = Session["Conexao"].ToString();
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/bootstrap2")
	<link href="/Content/paginaMenu.css" rel="stylesheet" />

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/scripts")
	@Scripts.Render("~/bundles/highcharts")
	<style>
		.highcharts-data-label-box {
			fill: #FFFFC5 !important;
			stroke: gray;
			stroke-width: 1px !important;
		}
	</style>
</head>
<body>
	<header>
		<div class="header">
			@Html.Partial("~/Views/Shared/Cabecalho.cshtml")
		</div>
		<div id="HeaderPosto">
			<span>@ViewBag.Sistema</span>
			<span> | </span>
			<span id="DesPosto">@ViewBag.Rotina</span>
			<span> | </span>
			<span id="DadosPosto"><a href="#" title="@depto - @cargo - @usuariocracha" style="text-decoration: none; color: black;">@nomeUsuario</a></span>
		</div>
	</header>
	<div class="espacador"></div>
	<div class="container" style="width: 100%; padding: 0; margin: 0;">
		<div class="panel-group pull-left margem" style="width: 18%; padding: 3px; ">

			<div class="panel panel-semp">
				<div class="panel-heading">Rastrear item</div>
				<div class="panel-body">
					<div style="margin-top: 10px; margin-bottom: 10px;" class="input-group">
						<input type="text" id="NumSerie" class="form-control" style="height: 30px;" placeholder="Entre com o número de série" />
						<span class="input-group-addon">
							<a href="#" onclick="document.location.href='/Coleta/Rastreia/RastrearItem/?serie='+$('#NumSerie').val();">
								<img src="/Images/image_preview2.png" alt="..." style="width: 13px; height: 13px;" />
							</a>
						</span>
					</div>
					<label id="DesProduto" style="color: black;"></label>
				</div>
			</div>

			<div class="panel panel-semp hidden @if (!acessoMenu) { Write("hidden"); } ">
				<div class="panel-heading">Resumo</div>
				<div class="panel-body">
					<div id="grafProducao2" style="width: 100%; height: 300px;"></div>
				</div>
			</div>
			<div class="panel panel-semp @if (!acessoMenu) { Write("hidden"); } ">
				<div class="panel-heading"><span class="pull-right"><a href="#pnlAcesso" data-toggle="collapse" class="caret"></a></span>Acesso Rápido</div>
				<div class="panel-body collapse" id="pnlAcesso">
					<div class="boxLink" style="background-color: rgb(39, 174, 96);">
						<a href="/Coleta/ResumoProducao"><img src="~/Images/report1.png" width="28" height="28" /> <span class="textoLinkAcesso">Resumo de Produção</span></a>
					</div>
					<div class="boxLink" style="background-color: rgb(135, 0, 0);">
						<a href="/Coleta/RelatorioTecnico"><img src="~/Images/business-presentation.png" width="28" height="28" /> <span class="textoLinkAcesso">Relatório Técnico</span></a>
					</div>
					<div class="boxLink" style="background-color: rgb(39, 174, 149);">
						<a href="/Outros/Parada"><img src="~/Images/palm1.png" width="28" height="28" /> <span class="textoLinkAcesso">Parada de Linha</span></a>
					</div>
					<div class="boxLink" style="background-color: rgb(192, 57, 43);">
						<a href="/Outros/PrincipaisDefeitos"><img src="~/Images/piechart2.png" width="28" height="28" /> <span class="textoLinkAcesso">Principais Defeitos</span></a>
					</div>
					<div class="boxLink" style="background-color: rgb(41, 128, 185);">
						<a href="/Outros/ProgramaDia"><img src="~/Images/calendar194.png" width="28" height="28" /> <span class="textoLinkAcesso">Programa Diário</span></a>
					</div>
					<div class="boxLink" style="background-color: rgb(211, 84, 0);">
						<a href="/Outros/ProducaoDiaria"><img src="~/Images/notepad19.png" width="28" height="28" /> <span class="textoLinkAcesso">Prod. Diária x Progr.</span></a>
					</div>
					<div class="boxLink" style="background-color: rgb(142, 68, 173);">
						<a href="/Coleta/PainelProducao"><img src="~/Images/target59.png" width="28" height="28" /> <span class="textoLinkAcesso">Painel de Produção</span></a>
					</div>
					<div class="boxLink" style="background-color: rgb(22, 70, 165);">
						<a href="/Coleta/ProducaoHora"><img src="~/Images/hourglass.png" width="28" height="28" /> <span class="textoLinkAcesso">Produção Hora</span></a>
					</div>
					<div class="boxLink" style="background-color: rgb(117, 93, 114);">
						<a href="/Outros/SaldoPlaca"><img src="~/Images/tasks-list.png" width="28" height="28" /> <span class="textoLinkAcesso">Saldo de Placas</span></a>
					</div>
					<div class="boxLink" style="background-color: rgb(112, 73, 114);">
						<a href="/Coleta/Acompanhamento"><img src="~/Images/eye-open.png" width="28" height="28" /> <span class="textoLinkAcesso">Acomp. Leitura</span></a>
					</div>

					<div class="boxLink" style="background-color: rgb(202, 171, 0);">
						<a href="/Coleta/TempoAtravessamento"><img src="~/Images/cronometro.png" width="28" height="28" /> <span class="textoLinkAcesso">Tempo de Atrav.</span></a>
					</div>

				</div>
			</div>

			<div class="panel panel-semp">
				<div class="panel-heading">Status Prod. Mensal</div>
				<table class="table table-condensed table-hover table-striped table-fixed">
					<thead>
						<tr>
							<th class="col-md-6">Modelo</th>
							<th class="col-md-2">Plano</th>
							<th class="col-md-4">% Prod.</th>
						</tr>
					</thead>
					<tbody>
						@if (resumo != null && resumo.Any())
						{
							foreach (var item in resumo)
							{

								var perc = item.Eficiencia * 100.00;
								var corTexto = "white;";
								var progresso = "success";
								if (perc < 50)
								{
									progresso = "danger";
									corTexto = "black";
								}
								else if (perc >= 50 && perc < 70)
								{
									progresso = "warning";
								}
								else if (perc < 99)
								{
									progresso = "info";
								}
								var desModelo = (item.DesModelo ?? "").Trim().Split().Last();

								<tr>
									<td class="col-md-6"><span title="@item.CodModelo">@desModelo</span></td>
									<td class="col-md-2" style="text-align: right;">@item.QtdPlanejado</td>
									<td class="col-md-4">
										<div class="progress">
											<div class="progress-bar progress-bar-@progresso" role="progressbar" aria-valuenow="@perc" aria-valuemin="0" aria-valuemax="100" style="color: @corTexto;  width: @item.Eficiencia.ToString("P2").Replace(",", ".")">
												@item.Eficiencia.ToString("P2")
											</div>
										</div>
									</td>
								</tr>
							}
						}
						else
						{
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<br /><br />
		</div>

		<div style="margin-left: 20%;">
			<div class="panel panel-primary">
				<div class="panel-heading">
					Situação Produção
					<div class="pull-right">
						<div class="btn-group btn-group-xs" data-toggle="buttons" role="group" aria-label="..." style="bottom: 5px;">
							<label class="btn btn-info ">
								<span class="glyphicon glyphicon-play"></span>
								<input type="radio" name="options" id="optPlay" autocomplete="off" />
							</label>
							<label class="btn btn-info active">
								<span class="glyphicon glyphicon-stop"></span>
								<input type="radio" name="options" id="optStop" autocomplete="off" checked />
							</label>
						</div>
					</div>
					<div class="pull-right">
						<!-- Tabs -->
						<ul class="nav panel-tabs" id="optFases">
							<li id="FEC" class="active"><a href="#tab1" onclick="AbrirCockpit('FEC');" data-toggle="tab">Montagem Final</a></li>
							<li id="IMC"><a href="#tab2" onclick="AbrirCockpit('IMC');" data-toggle="tab">IMC</a></li>
							<li id="IAC"><a href="#tab3" onclick="AbrirCockpit('IAC');" data-toggle="tab">IAC</a></li>
						</ul>
					</div>
				</div>
				<div class="panel-body" style="padding-bottom: 0 !important;">
					<div id="cockpit">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
	<div style="display: none;">Icons made by <a href="http://www.flaticon.com/authors/anton-saputro" title="Anton Saputro">Anton Saputro</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

	<footer>
		<div style="float: right">@SEMP.BO.Util.GetDate()</div>
		<a href="http://semptcl.mao" title="@modo - @stringconexao" target="_blank">Copyright @DateTime.Now.Year SEMP</a><br />

	</footer>


	<script type="text/javascript">
		var grafico, grafico2;
		function IniciaGrafico() {
			grafico = Highcharts.chart('grafProducao', {
				chart: {
					type: 'column'
				},
				title: {
					text: 'Resumo de Produção'
				},
				legend: {
					enabled: true
				},
				data: {
					csvURL: 'http://localhost:30117/Menu/ObterDadosProducaoCSV/',
					enablePolling: true,
					dataRefreshRate: 30
				},
				plotOptions: {
					column: {
						grouping: false,
						shadow: false,
						borderWidth: 0
					},
					series: {
						dataLabels: {
							enabled: true
						}
					}
				},
				tooltip: {
					valueDecimals: 1
				},
				xAxis: {
					type: 'category',
					labels: {
						style: {
							fontSize: '10px'
						}
					}
				},
				yAxis: [
					{
						min: 0,
						title: { text: 'Plano'}
					}, {
						title: { text: 'Produzido' },
						opposite: true
					}]
			});
			/*grafico2 = Highcharts.chart('grafProducao', {
				chart: {
					events: {
						load: CarregaDadosGrafico
					}
				},
				title: {
					text: 'Resumo de Produção'
				},
				xAxis: { type: "category", categories: [] },
				yAxis: [{
					title: {
						text: 'Quantidade'
					}
				}, {
					title: {
						text: 'Percentual'
					},
					labels: {
						formatter: function () {
							return this.value + "%";
						}
					},
					opposite: true
				}],
				plotOptions: {
					column: {
						dataLabels: {
							enabled: true,
							color: 'black',
							style: { textOutline: false }
						},
					},
					line: {
						dataLabels: {
							enabled: true,
							borderRadius: 5,
							borderWidth: 1,
							borderColor: '#AAA',
							y: -10,
							style: { textOutline: false }
						}
					}
				},
				series: []
			});*/
		}

		function CarregaDadosGrafico() {

			$.ajax({
				url: '/Menu/ObterDadosProducao/',
				success: function (dados) {
					while (grafico.series.length > 0) grafico.series[0].remove(true);
					grafico.redraw();

					var labels = dados[0];
					var dsPlano = dados[1];
					var dsEmbalados = dados[2];
					var dsPercentual = dados[3];

					grafico.xAxis[0].setCategories(labels);

					grafico.addSeries({ type: 'column', yAxis: 0, name: 'Plano', data: dsPlano, color: '#FF000080', borderColor: '#36A2EB' });
					grafico.addSeries({ type: 'column', yAxis: 0, name: 'Embalados', data: dsEmbalados, color: '#00FF0060', borderColor: '#36A2EB' });
					grafico.addSeries({ type: 'line', yAxis: 1, name: '% produzido', data: dsPercentual, color: '#66660080', dataLabels: { format: '{point.y:.1f} %' } });

					grafico.redraw();

					// call it again after one second
					setTimeout(CarregaDadosGrafico, 5000);
				},
				cache: false
			});
		}

		function AbrirCockpit(fase, obj) {
			$("#cockpit").html("<div class='loader'></div>");
			$("[data-toggle='tab']").removeClass("active");

			$.ajax({
				type: "GET",
				url: "/Menu/Cockpit/",
				data: { fase: fase },
				success: function (data) {
					$("#cockpit").html(data);
					$(fase).addClass("active");

					//IniciaGrafico();
				}
			});

		}

		$("#NumSerie").keypress(function () {
			$("#DesModelo").val("");

			if ($(this).val().length < 5) { return; }

			var dado = $(this).val();

			if (dado == "") {
				return null;
			}
			dado = dado.substr(0, 6);

			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: dado },
				success: function (data) {
					$("#DesProduto").html(data);
				}
			});

			return null;
		});

        function GiraTela() {
            var giratela = $("#optPlay").prop("checked");

            if (giratela) {

                var fase = $("ul#optFases li.active").attr("id");

                if (fase == "FEC") {
                    fase = "IMC";
                }
                else if (fase == "IMC") {
                    fase = "IAC";
                }
                else
                {
                    fase = "FEC";
                }

				$('.panel-tabs li').removeClass("active");
				$("#" + fase).addClass("active");

                AtualizaCockpit();
            }
        }

        function AtualizaCockpit() {
            var fase = "";
            fase = $("ul#optFases li.active").attr("id");

            AbrirCockpit(fase);

		}

        //AbrirCockpit('FEC');
        @if (acessoGraf) {
            //Write("setInterval('GiraTela();', 360000);");
            Write("setInterval('AtualizaCockpit();', 120000);");
        }

        setInterval('GiraTela();', 360000);
		setTimeout("AtualizaCockpit()", 2000);

	</script>

</body>
</html>