﻿@{
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Title = "SISAP - Sistema de Apoio à Produção";
	ViewBag.Sistema = "SISAP";
	ViewBag.Rotina = "Página Inicial";


	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin { CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = "" };
	var acessoMenu = (retornologin.NomUsuario.ToUpper().Equals("THIAGORR"));

}
<style>
	html, body, .content-wrapper {
		height: 100% !important;
	}

	a {
		text-decoration: none;
	}
</style>
<div class="container" style="height: 100%; width: 100%; padding: 0; margin: 0;">
	<div class="pull-left margem" style=" width: 20%; height: 85% !important; padding: 3px; ">
		<div class="panel panel-default">
			<div class="panel-heading"><h4>Rastrear item</h4></div>
			<div class="panel-body">
				<div style="margin-top: 10px; margin-bottom: 10px;" class="input-group">
					<input type="text" id="NumSerie" class="form-control" style="height: 30px;" placeholder="Entre com o número de série" />
					<span class="input-group-addon">
						<a href="#" onclick="document.location.href='/Coleta/Rastreia/RastrearItem/?serie='+$('#NumSerie').val();">
							<img src="/Images/image_preview2.png" alt="..." style="width: 13px; height: 13px;" />
						</a>
					</span>
				</div>
				<label id="DesProduto" style="color: black;"></label>
			</div>
		</div>

	</div>
	<div class="pull-left margem" style="width: 50%;">
		<!-- Gráfico -->
		<div style="background-color: rgb(0, 106, 63); width: 100%;">
			<div style="padding-left: 10px; padding-top: 10px; padding-bottom: 10px;">
				@ViewBag.grafico
			</div>
		</div>

		<br />

		<!-- painel de produção -->
		<div style="width: 100%; height: 350px; border: solid 1px black;">
			<iframe src="~/Coleta/PainelProducao/PainelProducaoEntrada" style="width: 100%; height: 100%; border: none;" title="Painel OnLine"></iframe>
		</div>
	</div>

	<div class="pull-left" style="height: 100% !important; padding: 5px; min-width: 250px; ">
		<div class="panel panel-info">
			<div class="panel-heading"><h4>Acesso Rápido</h4></div>
			<div class="panel-body">
				<div class="boxLink" style="background-color: rgb(39, 174, 96);">
					<a href="/Coleta/ResumoProducao"><img src="~/Images/report1.png" width="28" height="28" /> <span class="textoLinkAcesso">Resumo de Produção</span></a>
				</div>
				<div class="boxLink" style="background-color: rgb(135, 0, 0);">
					<a href="/Coleta/RelatorioTecnico"><img src="~/Images/business-presentation.png" width="28" height="28" /> <span class="textoLinkAcesso">Relatório Técnico</span></a>
				</div>
				<div class="boxLink" style="background-color: rgb(39, 174, 149);">
					<a href="/Outros/Parada"><img src="~/Images/palm1.png" width="28" height="28" /> <span class="textoLinkAcesso">Parada de Linha</span></a>
				</div>
				<div class="boxLink" style="background-color: rgb(192, 57, 43);">
					<a href="/Outros/PrincipaisDefeitos"><img src="~/Images/piechart2.png" width="28" height="28" /> <span class="textoLinkAcesso">Principais Defeitos</span></a>
				</div>
				<div class="boxLink" style="background-color: rgb(41, 128, 185);">
					<a href="/Outros/ProgramaDia"><img src="~/Images/calendar194.png" width="28" height="28" /> <span class="textoLinkAcesso">Programa Diário</span></a>
				</div>
				<div class="boxLink" style="background-color: rgb(211, 84, 0);">
					<a href="/Outros/ProducaoDiaria"><img src="~/Images/notepad19.png" width="28" height="28" /> <span class="textoLinkAcesso">Prod. Diária x Progr.</span></a>
				</div>
				<div class="boxLink" style="background-color: rgb(142, 68, 173);">
					<a href="/Coleta/PainelProducao"><img src="~/Images/target59.png" width="28" height="28" /> <span class="textoLinkAcesso">Painel de Produção</span></a>
				</div>
				<div class="boxLink" style="background-color: rgb(22, 70, 165);">
					<a href="/Coleta/ProducaoHora"><img src="~/Images/hourglass.png" width="28" height="28" /> <span class="textoLinkAcesso">Produção Hora</span></a>
				</div>
				<div class="boxLink" style="background-color: rgb(117, 93, 114);">
					<a href="/Outros/SaldoPlaca"><img src="~/Images/tasks-list.png" width="28" height="28" /> <span class="textoLinkAcesso">Saldo de Placas</span></a>
				</div>
				<div class="boxLink" style="background-color: rgb(112, 73, 114);">
					<a href="/Coleta/Acompanhamento"><img src="~/Images/eye-open.png" width="28" height="28" /> <span class="textoLinkAcesso">Acomp. Leitura</span></a>
				</div>

				<div class="boxLink" style="background-color: rgb(202, 171, 0);">
					<a href="/Coleta/TempoAtravessamento"><img src="~/Images/cronometro.png" width="28" height="28" /> <span class="textoLinkAcesso">Tempo de Atrav.</span></a>
				</div>

			</div>
		</div>
	</div>
</div>
<br /><br /><br />
<div style="display: none;">Icons made by <a href="http://www.flaticon.com/authors/anton-saputro" title="Anton Saputro">Anton Saputro</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

@section Scripts {

	@Scripts.Render("~/bundles/highcharts")
	<script type="text/javascript">

		var colour = [
			"rgb(142, 68, 173)",
			"rgb(243, 156, 18)",
			"rgb(211, 84, 0)",
			"rgb(0, 106, 63)",
			"rgb(41, 128, 185)",
			"rgb(192, 57, 43)",
			"rgb(135, 0, 0)",
			"rgb(39, 174, 96)"
		];

		$("#NumSerie").keypress(function () {
			$("#DesModelo").val("");

			if ($(this).val().length < 5) { return; }

			var dado = $(this).val();

			if (dado == "") {
				return null;
			}
			dado = dado.substr(0, 6);

			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: dado },
				success: function (data) {
					$("#DesProduto").html(data);
				}
			});

			return null;
		});

	</script>

}