﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.Relatorios.ProducaoLinhaMinuto>

@{
	var fase = Request["fase"];

	var data = DateTime.Parse(DateTime.Now.ToShortDateString());

	var producao = RAST.BO.ApontaProd.ProducaoHoraAHoraBO.ObterProducaoLinhaMinuto(data, fase);

	if (producao != null)
	{

		var linhas = producao.GroupBy(x => new { x.CodLinha, x.DesLinha, x.MetaMin, x.CodModelo }).Select(x => new { x.Key.CodLinha, x.Key.DesLinha, x.Key.MetaMin, x.Key.CodModelo }).OrderBy(x => x.CodLinha).ToList();

		var maiorHora = producao.OrderByDescending(x => x.Hora).Select(x => x.Hora).FirstOrDefault();
		var menorHora = producao.OrderBy(x => x.Hora).Select(x => x.Hora).FirstOrDefault();
		int minutos = 10;
		int divisoes = (60 / minutos);
		int taxa = minutos - 1;

<style>
	.linha {
		background-color: cornflowerblue;
		color: white !important;
		font-weight: bold !important;
		padding-left: 3px;
		padding-right: 3px;
	}

	.bloco {
		width: 20px;
		height: 20px;
	}

	.cheio {
		background-color: cadetblue;
		color: white !important;
		text-align: center;
	}

	.cheio2 {
		background-color: red;
		color: white !important;
		text-align: center;
	}

	.cheio3 {
		background-color: yellow;
		color: black !important;
		text-align: center;
	}
	.cheio4 {
		background-color: green;
		color:white !important;
		text-align: center;
	}
	.vazio {
		/*background-color: gray;*/
		border-left: solid 1px lightgray;
		border-bottom: solid 1px lightgray;
		text-align: center;
	}

	/* table-ritmo*/
	table.table-ritmo {
		margin: 0;
		padding: 0;
		border-collapse: separate;
		border-spacing: 1px;
		border: solid 1px black;
	}

		table.table-ritmo thead tr th {
			background: #c9c9c9; /* Old browsers */
			background: -moz-linear-gradient(top, #c9c9c9 0%, #6b6b6b 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9c9c9), color-stop(100%,#6b6b6b)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #c9c9c9 0%,#6b6b6b 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #c9c9c9 0%,#6b6b6b 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #c9c9c9 0%,#6b6b6b 100%); /* IE10+ */
			background: linear-gradient(to bottom, #c9c9c9 0%,#6b6b6b 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#6b6b6b',GradientType=0 ); /* IE6-9 */
			text-align: center;
			font-size: 12px;
			font-family: Helvetica;
			font-weight: bold;
			color: #ffffff;
		}

		table.table-ritmo tbody tr td:last-child {
			border-right: 0px;
		}

		table.table-ritmo tbody tr td {
			border-right: 1px #bbb solid;
			vertical-align: middle;
			border-width: 0px 1px 1px 0px;
			font-size: 10px;
			font-family: Helvetica;
			font-weight: normal;
			color: #000000;
		}

		table.table-ritmo tfoot tr td {
			vertical-align: middle;
			border-width: 0px 1px 1px 0px;
			text-align: left;
			padding: 7px;
			font-size: 10px;
			font-family: Helvetica;
			font-weight: bold;
			color: #000000;
			background-color: #c0c0c0;
		}

		table.table-ritmo tr.hover:hover td {
			background-color: rgb(255, 255, 203);
			color: black;
		}

		table.table-ritmo tr.selected td {
			background-color: rgb(128, 128, 255); /*rgb(203, 200, 157);*/
			color: white;
			font-weight: bold;
		}
	/* Fim table-ritmo*/

	a.ritmo {
		color: white;
		text-decoration: none;
	}

		a.ritmo:active {
			color: white;
			text-decoration: none;
		}

		a.ritmo:hover {
			color: yellow !important;
			text-decoration: none;
		}
</style>

<table class="table-ritmo" id="tblDados">
	<thead>
		<tr>
			<th rowspan="2"><div style="display: block; width: 165px;">Linhas</div></th>
			<th rowspan="2"><div style="display: block; width: 45px;">NE</div></th>
			<th rowspan="2">Meta</th>
			@for (int i = menorHora; i <= maiorHora; i++)
	{
		<th colspan="@divisoes">@i</th>
}
		</tr>
		<tr>
			@for (int i = menorHora; i <= maiorHora; i++)
			{
				for (int j = 0; j < 60; j += minutos)
				{

				<th class="bloco">@j</th>

				}
			}
		</tr>
	</thead>

	<tbody>

		@foreach (var item in linhas)
		{
			var meta = (int)Math.Ceiling(item.MetaMin * (taxa + 1));

		<tr>
			<td class="linha">
					<a href="/Coleta/Acompanhamento/?codLinha=@item.CodLinha" target="_blank" class="ritmo">@Html.DisplayFor(modelItem => item.CodLinha) - @Html.DisplayFor(modelItem => item.DesLinha)</a>
			</td>
			<td class="linha">@item.CodModelo</td>
			<td class="bloco vazio">@meta</td>
			@for (int i = menorHora; i <= maiorHora; i++)
	{

		for (int j = 0; j < 60; j += minutos)
		{

			var quantidade = producao.Where(x =>
					x.CodLinha == item.CodLinha &&
					x.CodModelo == item.CodModelo &&
					x.Hora == i &&
					x.Minuto >= j &&
					x.Minuto <= j + taxa).Sum(x => x.QtdLeitura);

			var metaClasse = meta;
			if (i == 6 && j == 40) { metaClasse = (int)Math.Ceiling((double)meta / 2); }
			var indice = (quantidade / (double)metaClasse);

			var classe = "vazio";
			var valor = "";

			if (quantidade > 0)
			{
				classe = "cheio";
				valor = quantidade.ToString();

				if (indice < 0.7)
				{
					classe = "cheio2";
				}
				else if (indice > 0.7 && indice < 0.99)
				{
					classe = "cheio3";
				}
				else if (indice == 1)
				{
					classe = "cheio4";
				}
			}

			<td class="bloco @classe"><div class="bloco" title="@indice.ToString("P2")">@valor</div></td>
}
}
		</tr>
		}
	</tbody>
</table>
	<div>
		<span style="width: 20px; height: 14px;" class="cheio2">&nbsp;&nbsp;&nbsp;</span> Abaixo de 70%
		<span style="width: 20px; height: 14px;" class="cheio3">&nbsp;&nbsp;&nbsp;</span> Entre 70% e 99%
		<span style="width: 20px; height: 14px;" class="cheio4">&nbsp;&nbsp;&nbsp;</span> 100%
		<span style="width: 20px; height: 14px;" class="cheio">&nbsp;&nbsp;&nbsp;</span> Acima de 100%
	</div>
		}

	}