footer {
	background-color: #FAFAFA;
}

.header {
	background: -webkit-linear-gradient(#FAFAFA 85%, #E0E0E0 75%, #ccc 65%, #aaa 62%, #DB0703); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FAFAFA 85%, #E0E0E0 75%, #ccc 65%, #aaa 62%, #DB0703); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FAFAFA 85%, #E0E0E0 75%, #ccc 65%, #aaa 62%, #DB0703); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FAFAFA 85%, #E0E0E0 75%, #ccc 65%, #aaa 62%, #DB0703); /* Standard syntax */
}

.logo a:hover,
.logo a:active,
.logo a:focus {
	text-shadow: 1px 1px 2px #999;
	color: #DB0703 !important;
	text-decoration: none !important;
	background: none !important;
}

a:hover,
a:active,
a:focus {
	color: #DB0703 !important;
	text-decoration: none !important;
}

@media (max-width: 768px) {
	.logo a {
	}
}

@media (max-width: 360px) {
	.logo a {
	}

	.ladoEsquerdo {
	}

	.ladoDireito {
	}
}


/* Menu vertical*/

.menu-red {
	background: -webkit-linear-gradient(to left, #F42D29 0%, #DB0703 30%, #A50401 93%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(to right, #F42D29 0%, #DB0703 30%, #A50401 93%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(to right, #F42D29 0%, #DB0703 30%, #A50401 93%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #F42D29 0%, #DB0703 30%, #A50401 93%); /* Standard syntax */
}

.menu-green {
	background: rgb(180,227,145); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(180,227,145,1) 0%, rgba(40,188,24,1) 40%, rgba(39,153,7,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(180,227,145,1)), color-stop(40%,rgba(40,188,24,1)), color-stop(100%,rgba(39,153,7,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(180,227,145,1) 0%,rgba(40,188,24,1) 40%,rgba(39,153,7,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(180,227,145,1) 0%,rgba(40,188,24,1) 40%,rgba(39,153,7,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(180,227,145,1) 0%,rgba(40,188,24,1) 40%,rgba(39,153,7,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(180,227,145,1) 0%,rgba(40,188,24,1) 40%,rgba(39,153,7,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#279907',GradientType=1 ); /* IE6-9 */
}

.menu-light-blue {
	background: rgb(202,249,243); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(202,249,243,1) 0%, rgba(0,198,198,1) 40%, rgba(0,146,163,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(202,249,243,1)), color-stop(40%,rgba(0,198,198,1)), color-stop(100%,rgba(0,146,163,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(202,249,243,1) 0%,rgba(0,198,198,1) 40%,rgba(0,146,163,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(202,249,243,1) 0%,rgba(0,198,198,1) 40%,rgba(0,146,163,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(202,249,243,1) 0%,rgba(0,198,198,1) 40%,rgba(0,146,163,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(202,249,243,1) 0%,rgba(0,198,198,1) 40%,rgba(0,146,163,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#caf9f3', endColorstr='#0092a3',GradientType=1 ); /* IE6-9 */
}

.menu-gray {
	background: rgb(224,224,224); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(196,196,196,1) 40%, rgba(148,148,148,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(224,224,224,1)), color-stop(40%,rgba(196,196,196,1)), color-stop(100%,rgba(148,148,148,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(224,224,224,1) 0%,rgba(196,196,196,1) 40%,rgba(148,148,148,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(224,224,224,1) 0%,rgba(196,196,196,1) 40%,rgba(148,148,148,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(224,224,224,1) 0%,rgba(196,196,196,1) 40%,rgba(148,148,148,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(224,224,224,1) 0%,rgba(196,196,196,1) 40%,rgba(148,148,148,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#949494',GradientType=1 ); /* IE6-9 */
}
.menu-gray-liso {
	background: #565E68;
}

span.hide-menu {
	position: absolute;
	top: 0;
	right: -1150px;
	display: block;
	width: 1150px;
	height: 100%;
	background-color: transparent;
	font: bold 20px/40px arial;
	text-align: center;
	cursor: pointer;
}
/* Fim menu vertical*/
.menu a {
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

ul.menu-red a,
ul.menu-green a,
ul.menu-light-blue a {
	color: white;
	border-bottom-color: #A6A6A6;
}

ul.menu-gray a {
	color: black;
	border-bottom-color: #A6A6A6;
}

ul.sub-menu a:hover,
ul.sub-menu a:active,
ul.sub-menu a:focus {
	text-shadow: 1px 1px 2px #999;
	color: #EFF5F7 !important;
	text-decoration: none !important;
	background: rgb(189,189,189) !important; /* Old browsers */
	background: -moz-linear-gradient(left, rgba(189,189,189,1) 0%, rgba(166,166,166,1) 40%, rgba(109,108,108,1) 100%) !important; /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(189,189,189,1)), color-stop(40%,rgba(166,166,166,1)), color-stop(100%,rgba(109,108,108,1))) !important; /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(189,189,189,1) 0%,rgba(166,166,166,1) 40%,rgba(109,108,108,1) 100%) !important; /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(189,189,189,1) 0%,rgba(166,166,166,1) 40%,rgba(109,108,108,1) 100%) !important; /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(189,189,189,1) 0%,rgba(166,166,166,1) 40%,rgba(109,108,108,1) 100%) !important; /* IE10+ */
	background: linear-gradient(to right, rgba(189,189,189,1) 0%,rgba(166,166,166,1) 40%,rgba(109,108,108,1) 100%) !important; /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdbdbd', endColorstr='#6d6c6c',GradientType=1 ) !important; /* IE6-9 */
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) !important;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) !important;
}

.menu-green li.parent a:hover,
.menu-green li.parent a:active,
.menu-green li.parent a:focus {
	text-shadow: none;
	color: #fff !important;
	text-decoration: none;
	background: rgb(0,163,0); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(0,163,0,1) 0%, rgba(0,87,0,1) 40%, rgba(0,58,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,163,0,1)), color-stop(40%,rgba(0,87,0,1)), color-stop(100%,rgba(0,58,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(0,163,0,1) 0%,rgba(0,87,0,1) 40%,rgba(0,58,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(0,163,0,1) 0%,rgba(0,87,0,1) 40%,rgba(0,58,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(0,163,0,1) 0%,rgba(0,87,0,1) 40%,rgba(0,58,0,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(0,163,0,1) 0%,rgba(0,87,0,1) 40%,rgba(0,58,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a300', endColorstr='#003a00',GradientType=1 ); /* IE6-9 */
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) !important;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) !important;
}

.menu-red li.parent a:hover,
.menu-red li.parent a:active,
.menu-red li.parent a:focus {
	text-shadow: none;
	color: #fff !important;
	text-decoration: none;
	background: -webkit-linear-gradient(to left, #E22B2B 0%, #AD2020 30%, #5B0E0E 93%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(to right, #E22B2B 0%, #AD2020 30%, #5B0E0E 93%); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(to right, #E22B2B 0%, #AD2020 30%, #5B0E0E 93%); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #E22B2B 0%, #AD2020 30%, #5B0E0E 93%); /* Standard syntax */
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) !important;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125) !important;
}

/* Sistema rastreabilidade */

.labelMensagem {
	color: #FFFFFF;
	background-color: #FF6600;
}

/* Relatórios */
.table-semp th {
	background-color: #FAFAFA;
}

/*Importado do bootstrap*/
.bttn {
	-moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
	-webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
	box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
	-o-transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-ms-transition: all .2s;
	color: white;
}

.btn {
	text-decoration: none !important;
}
.btn-primary:hover, .btn-danger:hover, .btn-success:hover, .btn-warning:hover {
	color: #fff !important;
}

.bttn-red {
	background-color: #BA1E1B;
	background: #DB0703;
	border: 1px solid #d71e24;
	color: #fff !important;
	text-shadow: 0 1px 2px rgba(0,0,0,.1);
}

	.bttn-red:hover,
	.bttn-red:focus {
		-moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
		-webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
		box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
		background-color: #AF0805;
		background-position: 0 -15px;
		color: #fff !important;
	}

	.bttn-red:active,
	.open > .dropdown-toggle.bttn-red {
		color: #fff;
		background-color: #A51C1A;
		background: #af0505;
		-moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
		-webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
		box-shadow: 0 5px 8px 0 rgba(0,0,0,.1) inset, 0 1px 4px 0 rgba(0,0,0,.1);
		border: 0px solid #ef4300;
	}


	.bttn-red.disabled,
	.bttn-red[disabled],
	fieldset[disabled] .bttn-red,
	.bttn-red.disabled:hover,
	.bttn-red[disabled]:hover,
	fieldset[disabled] .bttn-red:hover,
	.bttn-red.disabled:focus,
	.bttn-red[disabled]:focus,
	fieldset[disabled] .bttn-red:focus,
	.bttn-red.disabled:active,
	.bttn-red[disabled]:active,
	fieldset[disabled] .bttn-red:active,
	.bttn-red.disabled.active,
	.bttn-red[disabled].active,
	fieldset[disabled] .bttn-red.active {
		background-color: #d9534f;
		border-color: #d43f3a;
	}

.bttn-green {
	background-color: #1bba24;
	background: #10db03;
	border: 1px solid #25d71e;
	color: #fff !important;
	text-shadow: 0 1px 2px rgba(0,0,0,.1);
}

	.bttn-green:hover,
	.bttn-green:focus {
		-moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
		-webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
		box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
		background-color: #08af05;
		background-position: 0 -15px;
		color: #fff !important;
	}

	.bttn-green:active,
	.open > .dropdown-toggle.bttn-green {
		color: #fff;
		background-color: #1ca51a;
		background: #05af0a;
		-moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
		-webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
		box-shadow: 0 5px 8px 0 rgba(0,0,0,.1) inset, 0 1px 4px 0 rgba(0,0,0,.1);
		border: 0px solid #00ef07;
	}


	.bttn-green.disabled,
	.bttn-green[disabled],
	fieldset[disabled] .bttn-green,
	.bttn-green.disabled:hover,
	.bttn-green[disabled]:hover,
	fieldset[disabled] .bttn-green:hover,
	.bttn-green.disabled:focus,
	.bttn-green[disabled]:focus,
	fieldset[disabled] .bttn-green:focus,
	.bttn-green.disabled:active,
	.bttn-green[disabled]:active,
	fieldset[disabled] .bttn-green:active,
	.bttn-green.disabled.active,
	.bttn-green[disabled].active,
	fieldset[disabled] .bttn-green.active {
		background-color: #54d94f;
		border-color: #4bd43a;
	}


.bttn-blue {
	background-color: dodgerblue;
	background: dodgerblue;
	border: 1px solid cornflowerblue;
	color: #fff !important;
	text-shadow: 0 1px 2px rgba(0,0,0,.1);
}

	.bttn-blue:hover,
	.bttn-blue:focus {
		-moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
		-webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
		box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
		background-color: rgba(0,146,163,1);
		background-position: 0 -15px;
		color: #fff !important;
	}

	.bttn-blue:active,
	.open > .dropdown-toggle.bttn-blue {
		color: #fff;
		background-color: rgba(0,146,163,1);
		background: rgba(0,146,163,1);
		-moz-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
		-webkit-box-shadow: 0 15px 30px 0 rgba(255,255,255,.15) inset, 0 2px 7px 0 rgba(0,0,0,.2);
		box-shadow: 0 5px 8px 0 rgba(0,0,0,.1) inset, 0 1px 4px 0 rgba(0,0,0,.1);
		border: 0px solid dodgerblue;
	}


	.bttn-blue.disabled,
	.bttn-blue[disabled],
	fieldset[disabled] .bttn-blue,
	.bttn-blue.disabled:hover,
	.bttn-blue[disabled]:hover,
	fieldset[disabled] .bttn-blue:hover,
	.bttn-blue.disabled:focus,
	.bttn-blue[disabled]:focus,
	fieldset[disabled] .bttn-blue:focus,
	.bttn-blue.disabled:active,
	.bttn-blue[disabled]:active,
	fieldset[disabled] .bttn-blue:active,
	.bttn-blue.disabled.active,
	.bttn-blue[disabled].active,
	fieldset[disabled] .bttn-blue.active {
		background-color: dodgerblue;
		border-color: cornflowerblue;
	}

	/*

	*/

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}

	textarea.error:focus,
	input[type="text"].error:focus,
	input[type="password"].error:focus,
	input[type="datetime"].error:focus,
	input[type="datetime-local"].error:focus,
	input[type="date"].error:focus,
	input[type="month"].error:focus,
	input[type="time"].error:focus,
	input[type="week"].error:focus,
	input[type="number"].error:focus,
	input[type="email"].error:focus,
	input[type="url"].error:focus,
	input[type="search"].error:focus,
	input[type="tel"].error:focus,
	input[type="color"].error:focus,
	.uneditable-input.error:focus {
		background-color: #ffffff;
		border-color: rgba(234, 89, 82, 0.8);
		outline: 0;
		outline: thin dotted \9; /* IE6-9 */
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(234, 89, 82, 0.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(234, 89, 82, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(234, 89, 82, 0.6);
	}

	textarea:focus,
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="time"]:focus,
	input[type="week"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="search"]:focus,
	input[type="tel"]:focus,
	input[type="color"]:focus,
	.uneditable-input:focus {
		background-color: #ffffff;
		border-color: rgba(66, 139, 202, 0.8);
		outline: 0;
		outline: thin dotted \9; /* IE6-9 */
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(66, 139, 202, 0.6);
		-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(66, 139, 202, 0.6);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(66, 139, 202, 0.6);
	}

	input:-webkit-autofill,
	input[type="text"]:-webkit-autofill,
	textarea:-webkit-autofill,
	select:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 50px white inset, 0 0 8px rgba(66, 139, 202, 0.6);
		-moz-box-shadow: 0 0 0px 50px white inset, 0 0 8px rgba(66, 139, 202, 0.6);
		box-shadow: 0 0 0px 50px white inset, 0 0 8px rgba(66, 139, 202, 0.6);
		background-image: none !important;
		-webkit-text-fill-color: rgb(61, 61, 61) !important;
		-webkit-text-fill-color: #3d3d3d !important;
}


/* CSS das cores */

	.cornflowerblue {
		background-color: cornflowerblue;
		color: white;
	}

	.dodgerblue {
		background-color: dodgerblue;
		color: white;
	}

	.red {
		background-color: red;
		color: white;
	}

	.yellow {
		background-color: yellow;
	}

	.gray {
		background-color: gray;
		color: white;
	}

	.crimson {
		background-color: crimson;
		color: white;
	}

	.green {
		background-color: green;
		color: white;
	}

	.cadetblue {
		background-color: cadetblue;

	}

	.indianred {
		background-color: indianred;
		color: white;
	}

	.khaki {
		background-color: khaki;
	}

	.mediumaquamarine {
		background-color: mediumaquamarine;
	}