﻿.tbody {
	text-align: center;
}

.alinhamento {

	margin-left: 0%;

}
.Tabela {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
	
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
	
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
	
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}.Tabela table{
	border-collapse: collapse;
		border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.Tabela tr:last-child td:last-child {
	-moz-border-radius-bottomright:6px;
	-webkit-border-bottom-right-radius:6px;
	border-bottom-right-radius:6px;
}
.Tabela table tr:first-child td:first-child {
	-moz-border-radius-topleft:6px;
	-webkit-border-top-left-radius:6px;
	border-top-left-radius:6px;
}
.Tabela table tr:first-child td:last-child {
	-moz-border-radius-topright:6px;
	-webkit-border-top-right-radius:6px;
	border-top-right-radius:6px;
}.Tabela tr:last-child td:first-child{
	-moz-border-radius-bottomleft:6px;
	-webkit-border-bottom-left-radius:6px;
	border-bottom-left-radius:6px;
}.Tabela tr:hover td{
	
}
.Tabela tr:nth-child(odd){ background-color:#e5e5e5; }
.Tabela tr:nth-child(even)    { background-color:#ffffff; }.Tabela td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:2px;
	font-size:9px;
	font-family:Helvetica, "Segoe UI", Verdana, Sans-Serif;
	font-weight:normal;
	color:#000000;
}.Tabela tr:last-child td{
	border-width:0px 1px 0px 0px;
}.Tabela tr td:last-child{
	border-width:0px 0px 1px 0px;
}.Tabela tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.Tabela tr:first-child td{
		background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:11px;
	font-family:Helvetica, "Segoe UI", Verdana, Sans-Serif;
	font-weight:bold;
	color:#000000;
}
.Tabela tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");	background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
}
.Tabela tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.Tabela tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/*.Tabela {
	margin: 0px;
	padding: 0px;
	width: 20%;
	box-shadow: 10px 10px 5px #888888;
	border: 1px solid #000000;
	vertical-align: central;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-left-radius: 6px;
}

	.Tabela table {
		margin-right: auto;
		margin-left: auto;
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
	}

	.Tabela tr:last-child td:last-child {
		-moz-border-radius-bottomright: 6px;
		-webkit-border-bottom-right-radius: 6px;
		border-bottom-right-radius: 6px;
	}

	.Tabela table tr:first-child td:first-child {
		-moz-border-radius-topleft: 6px;
		-webkit-border-top-left-radius: 6px;
		border-top-left-radius: 6px;
	}

	.Tabela table tr:first-child td:last-child {
		-moz-border-radius-topright: 6px;
		-webkit-border-top-right-radius: 6px;
		border-top-right-radius: 6px;
	}

	.Tabela tr:last-child td:first-child {
		-moz-border-radius-bottomleft: 6px;
		-webkit-border-bottom-left-radius: 6px;
		border-bottom-left-radius: 6px;
	}

	.Tabela tr:hover td {
	}

	.Tabela tr:nth-child(odd) {
		background-color: #cecece;
	}

	.Tabela tr:nth-child(even) {
		background-color: #ffffff;
	}

	.Tabela td {
		vertical-align: middle;
		border: 1px solid #000000;
		border-width: 0px 1px 1px 0px;
		text-align: center;
		padding: 5px;
		font-size: 10px;
		font-family: Arial;
		font-weight: bold;
		color: #000000;
	}

	.Tabela tr:last-child td {
		border-width: 0px 1px 0px 0px;
	}

	.Tabela tr td:last-child {
		border-width: 0px 0px 1px 0px;
	}

	.Tabela tr:last-child td:last-child {
		border-width: 0px 0px 0px 0px;
	}

	.Tabela tr:first-child td {
		background: -o-linear-gradient(bottom, #dd1c43 5%, #dd1c43 100%);
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dd1c43), color-stop(1, #dd1c43) );
		background: -moz-linear-gradient( center top, #dd1c43 5%, #dd1c43 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dd1c43", endColorstr="#dd1c43");
		background: -o-linear-gradient(top,#dd1c43,dd1c43);
		background-color: #dd1c43;
		border: 0px solid #000000;
		text-align: center;
		border-width: 0px 0px 1px 1px;
		font-size: 14px;
		font-family: Arial;
		font-weight: bold;
		color: #ffffff;
	}

	.Tabela tr:first-child:hover td {
		background: -o-linear-gradient(bottom, #dd1c43 5%, #dd1c43 100%);
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dd1c43), color-stop(1, #dd1c43) );
		background: -moz-linear-gradient( center top, #dd1c43 5%, #dd1c43 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dd1c43", endColorstr="#dd1c43");
		background: -o-linear-gradient(top,#dd1c43,dd1c43);
		background-color: #dd1c43;
	}

	.Tabela tr:first-child td:first-child {
		border-width: 0px 0px 1px 0px;
	}

	.Tabela tr:first-child td:last-child {
		border-width: 0px 0px 1px 1px;
	}*/



.label-formulario {
	width: 70px;
}

.dropdown {
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 28px;
	width: 80px;
	background: #f2f2f2;
	border: 1px solid;
	border-color: white #f7f7f7 whitesmoke;
	border-radius: 2px;
	background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
	background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
	background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
	background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

	.dropdown:before, .dropdown:after {
		content: '';
		position: absolute;
		z-index: 3;
		top: 9px;
		right: 10px;
		width: 0;
		height: 0;
		border: 4px dashed;
		border-color: #888888 transparent;
		pointer-events: none;
	}

	.dropdown:before {
		border-bottom-style: solid;
		border-top: none;
	}

	.dropdown:after {
		margin-top: 7px;
		border-top-style: solid;
		border-bottom: none;
	}

.dropdown-select {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 6px 8px 6px 10px;
	height: 28px;
	line-height: 14px;
	font-size: 12px;
	color: #62717a;
	text-shadow: 0 1px white;
	background: #f2f2f2; /* Fallback for IE 8 */
	background: rgba(0, 0, 0, 0) !important; /* "transparent" doesn't work with Opera */
	border: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

	.dropdown-select:focus {
		z-index: 3;
		width: 100%;
		color: #394349;
		outline: 2px solid #49aff2;
		outline: 2px solid -webkit-focus-ring-color;
		outline-offset: -2px;
	}

	.dropdown-select > option {
		margin: 2px;
		padding: 5px 8px;
		text-shadow: none;
		background: #f2f2f2;
		border-radius: 3px;
		cursor: pointer;
	}

/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
	z-index: 1;
}

.lt-ie9 .dropdown-select {
	z-index: -1;
}

	.lt-ie9 .dropdown-select:focus {
		z-index: 3;
	}


