﻿footer, header {
	display: none;
}

div.conteudodatabela {
	width: 100%;
	overflow: visible;
}

table > tbody {
	overflow: visible;
}

td {
	height: 1em;
}
/*adds control for test purposes*/
thead td {
	/*font-size: 11pt;*/
}

tfoot td {
	/*text-align: center;*/
	/*font-size: 9pt;*/
	border-bottom: solid 1px slategray;
}

thead {
	display: table-header-group;
}

tfoot {
	display: table-footer-group;
}

thead th, thead td {
	position: static;
}

thead tr {
	position: static;
}
/*prevent problem if print after scrolling table*/
table tfoot tr {
	position: static;
}

.codebar {
	font-family: 'c39hrp36dlttnormal', 'c39hrp36dltt';
	font-size: 24px !important;
	font-weight: normal !important;
}

.logoST {
	font-size: 14px !important;
	margin: auto;
	font-family: square721_btbold, Arial;
}
