﻿.tituloModelo {
	font-size: 14px;
	width: 100%;
	background-color: #d9edf7;
	padding: 3px;
	text-align: left !important;
}

.verde {
	background-color: green !important;
	color: green !important;
}

.vermelho {
	background-color: red !important;
	color: red !important;
	font-style: italic;
}


.logoST {
	font-size: 25px;
	margin: auto;
	font-family: square721_btbold, Arial;
}

table {
	page-break-before: always;
}

.text-danger {
	color: red !important;
}

.codebar {
	font-family: 'c39hrp36dlttnormal', 'c39hrp36dltt';
	font-size: 28px;
	font-weight: normal;
}

/* Para fixar o Cabeçalho e Rodapé*/
div.conteudodatabela {
	width: 1000px; /* table width will be 99% of this*/
	height: auto; /* must be greater than tbody*/
	overflow: auto;
	margin: 0 auto;
}

table {
	width: 99%; /*100% of container produces horiz. scroll in Mozilla*/
	border: none;
}

	table > tbody { /* child selector syntax which IE6 and older do not support*/
		overflow: auto;
		height: 200px;
		overflow-x: hidden;
	}

thead tr {
	position: relative;
	top: expression(offsetParent.scrollTop); /*IE5+ only*/
}

thead td, thead th {
	/*text-align: center;*/
	font-size: 14px;
	color: steelblue;
	font-weight: bold;
	border-top: solid 1px #d8d8d8;
}

td {
	color: #000;
	padding-right: 2px;
	font-size: 12px;
	/*text-align: right;*/
	border-bottom: solid 1px #d8d8d8;
	border-left: solid 1px #d8d8d8;
}

table tfoot tr { /*idea of Renato Cherullo to help IE*/
	position: relative;
	overflow-x: hidden;
	top: expression(parentNode.parentNode.offsetHeight >= offsetParent.offsetHeight ? 0 - parentNode.parentNode.offsetHeight + offsetParent.offsetHeight + offsetParent.scrollTop : 0);
}


tfoot td {
	/*text-align: center;*/
	font-size: 11px;
	font-weight: bold;
	background-color: papayawhip;
	color: steelblue;
	border-top: solid 1px slategray;
}

td:last-child {
	padding-right: 20px;
}
/*prevent Mozilla scrollbar from hiding cell content*/
