﻿/*Incluindo temas*/
@import "header-theme.css";
@import "header-col.css";

@font-face {
	font-family: 'square721_btbold';
	src: url('font/sqr721b-webfont.eot');
	src: url('font/sqr721b-webfont.eot?#iefix') format('embedded-opentype'), url('font/sqr721b-webfont.woff') format('woff'), url('font/sqr721b-webfont.ttf') format('truetype'), url('font/sqr721b-webfont.svg#square721_btbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'c39hrp36dlttnormal';
	src: url('/fonts/c39hrp36dltt-webfont.eot');
	src: url('/fonts/c39hrp36dltt-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/c39hrp36dltt-webfont.woff2') format('woff2'), url('/fonts/c39hrp36dltt-webfont.woff') format('woff'), url('/fonts/c39hrp36dltt-webfont.ttf') format('truetype'), url('/fonts/c39hrp36dltt-webfont.svg#c39hrp36dlttnormal') format('svg');
	font-weight: normal;
	font-style: normal;
}

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	margin: 0;
	font-family: Helvetica, "Segoe UI", Verdana, Sans-Serif;
	padding: 0;
	display: block;
	font-size: 11px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

html, body, .content-wrapper {
	height: 100% !important;
}

a {
	text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, summary {
	display: block;
	width: 100%;
	position: fixed;
}

footer {
	clear: both;
	font-size: .8em;
	height: 20px;
	border-top: solid 1px #999;
	color: #333;
	margin-top: 10px;
	text-align: center;
	bottom: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

/*Cabeçalho*/
header {
	top: 0;
	z-index: 9999;
}

.header {
	min-height: 55px;
	padding-top: 5px;
}

header .container {
	position: relative;
}

header .right {
	position: absolute;
	right: 4px;
	opacity: 0.95;
}

header .left {
	position: absolute;
	left: 4px;
	opacity: 0.95;
}

#HeaderPosto {
	width: 100%;
	text-align: right;
	border-bottom: 1px dotted black;
	margin-bottom: 5px;
	padding: 3px;
	background-color: #fff;
	/*margin-top: 55px;*/
}

.logo {
	text-align: center;
	font-size: 25px;
	width: 50%;
	margin: auto;
	font-family: square721_btbold, Arial;
}

	.logo a {
		display: block;
		text-align: center;
		text-decoration: none;
		overflow: hidden;
		background-size: contain;
		color: #DB0703;
		font-family: square721_btbold, Arial;
		font-size: 1.25em;
		font-weight: bold;
	}

/* Menu vertical*/
.main-menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1002;
	height: 100%;
	-webkit-transform: translateX(-1375px);
	-moz-transform: translateX(-1375px);
	-o-transform: translateX(-1375px);
	-ms-transform: translateX(-1375px);
	transform: translateX(-1375px);
	transition: -webkit-transform .25s ease-in;
	transition: -moz-transform .25s ease-in;
	transition: -ms-transform .25s ease-in;
	transition: transform .25s ease-in;
	padding: 0;
	margin: 0;
}

.inner-menu {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	-moz-overflow-scrolling: touch;
	-ms-overflow-scrolling: touch;
	width: 220px;
	height: 100%;
	z-index: 1003;
	margin: 0px;
	padding: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(0, 0, 0, 0.9);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 20px rgba(0, 0, 0, 0.9);
}

.with-sidebar .main-menu {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

span.hide-menu {
	position: absolute;
	top: 0;
	right: -1150px;
	display: block;
	width: 1150px;
	height: 100%;
	background-color: transparent;
	font: bold 20px/40px arial;
	text-align: center;
	cursor: pointer;
}

.menu {
	margin: 0px;
	padding: 0px;
}

	.menu a {
		text-decoration: none;
		display: inline-block;
		height: 36px;
		width: 220px;
		text-align: left;
		padding: 5px;
		font-weight: bold;
	}

ul.menu-red a,
ul.menu-gray a,
ul.menu-green a,
ul.menu-light-blue a {
	border-bottom-style: solid;
	border-bottom-width: 2px;
	padding-left: 7px;
}

.menu li {
	list-style: none;
	vertical-align: middle;
}

	.menu li.parent {
	}

		.menu li.parent a {
			font-size: 1.3em;
		}


	.menu li ul.sub-menu {
		margin: 0px;
		padding: 0px;
		display: none;
		font-size: 0.8em;
	}

		.menu li ul.sub-menu a {
			padding: 10px 15px;
		}

		.menu li ul.sub-menu.aberto {
			display: block;
		}

.holder {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	right: 0;
}

	.holder::after,
	.holder::before {
		display: block;
		position: absolute;
		content: "";
		width: 6px;
		height: 6px;
		right: 20px;
		z-index: 10;
		-webkit-transform: rotate(-135deg);
		-moz-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		transform: rotate(-135deg);
	}

	.holder::after {
		top: 17px;
		border-top: 2px solid #ffffff;
		border-left: 2px solid #ffffff;
	}

	.holder::before {
		top: 18px;
		border-top: 2px solid;
		border-left: 2px solid;
		border-top-color: inherit;
		border-left-color: inherit;
	}


#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#cssmenu {
	color: #ffffff;
}

#cssmenu {
	margin: 0px;
	padding: 0px;
	vertical-align: baseline;
}

	#cssmenu nav {
		margin: 0px;
		padding: 0px;
	}
	#cssmenu ul ul {
		display: none;
	}

	#cssmenu > ul > li > a {
		padding: 12px 18px;
		border-left: 1px solid #A50401;
		border-right: 1px solid #A50401;
		cursor: pointer;
		z-index: 2;
		font-size: 14px;
		font-weight: bold;
		text-decoration: none;
		color: #ffffff;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
		background: -webkit-linear-gradient(to left, #F42D29 0%, #DB0703 30%, #A50401 93%); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(to right, #F42D29 0%, #DB0703 30%, #A50401 93%); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(to right, #F42D29 0%, #DB0703 30%, #A50401 93%); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, #F42D29 0%, #DB0703 30%, #A50401 93%); /* Standard syntax */
	}

		#cssmenu > ul > li > a:hover,
		#cssmenu > ul > li.active > a,
		#cssmenu > ul > li.open > a {
			color: #eee !important;
			background: -webkit-linear-gradient(to left, #DB0502 0%, #C40501 30%, #A50401 93%); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(to right, #DB0502 0%, #C40501 30%, #A50401 93%); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(to right, #DB0502 0%, #C40501 30%, #A50401 93%); /* For Firefox 3.6 to 15 */
			background: linear-gradient(to right, #DB0502 0%, #C40501 30%, #A50401 93%); /* Standard syntax */
		}

	#cssmenu > ul > li.open > a {
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.15);
		border-bottom: 1px solid #1682ba;
	}

	#cssmenu > ul > li:last-child > a,
	#cssmenu > ul > li.last > a {
		border-bottom: 1px solid #A50401;
	}


#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
	border-color: #eeeeee;
}


#cssmenu ul ul li a {
	cursor: pointer;
	border-bottom: 1px solid #32373e;
	border-left: 1px solid #32373e;
	border-right: 1px solid #32373e;
	padding: 10px 20px;
	z-index: 1;
	text-decoration: none;
	font-size: 13px;
	color: #eeeeee;
	background: #565E68;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
	background: #474D56;
	color: #cccccc !important;
}

#cssmenu ul ul li:first-child > a {
	box-shadow: none;
}

#cssmenu ul ul ul li:first-child > a {
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
}

#cssmenu ul ul ul li a {
	padding-left: 30px;
	font-size: 12px;
}

#cssmenu ul ul ul ul li a {
	padding-left: 40px;
	padding-top: 12px;
	font-size: 10px;
}

#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
}

#cssmenu > ul > li > ul > li.open:last-child > a,
#cssmenu > ul > li > ul > li.last.open > a {
	border-bottom: 1px solid #32373e;
}

#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
}

#cssmenu ul ul li.has-sub > a::after {
	display: block;
	position: absolute;
	content: "";
	width: 5px;
	height: 5px;
	right: 20px;
	z-index: 10;
	top: 11.5px;
	border-top: 2px solid #eeeeee;
	border-left: 2px solid #eeeeee;
	-webkit-transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
	color: #cccccc !important;
}

#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after,
#cssmenu ul ul li > a:active::after,
#cssmenu ul ul li > a:visited {
	color: #fff !important;
}

/*Ajuste de conteudos*/
.content-wrapper {
	width: 99%;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px;
}
.espacador {
	width: 100%;
	margin-top: 80px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0px;
}

/*Importado do bootstrap*/
.bttn {
	cursor: pointer;
	padding: 0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-position: 0 -15px;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-weight: 700;
	display: inline-block;
	margin-bottom: 0;
	line-height: 1.42857143;
	background-position: 0 -15px;
	box-sizing: border-box;
	align-items: flex-start;
	text-align: center;
	color: white;
}

	.bttn:focus,
	.bttn:active:focus,
	.bttn.active:focus {
		outline: thin dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
		color: white;
	}

	.bttn:hover,
	.bttn:focus {
		text-decoration: none;
		color: white;
	}

	.bttn:active,
	.bttn.active {
		background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
		color: white;
	}

	.bttn.disabled,
	.bttn[disabled],
	fieldset[disabled] .bttn {
		pointer-events: none;
		cursor: not-allowed;
		filter: alpha(opacity=65);
		-webkit-box-shadow: none;
		box-shadow: none;
		opacity: .65;
	}

.bttn-xs, .bttn-group-xs > .bttn {
	padding: 2px 7px 3px 6px;
	font-size: 10px;
	line-height: 1.5;
	border-radius: 5px;
}

.bttn-sm, .bttn-group-sm > .bttn {
	padding: 6px 11px 6px 10px;
	font-size: 12px;
	line-height: 1.5;
	height: 30px;
}

.bttn-lg, .bttn-group-lg > .bttn {
	padding: 10px 17px;
	font-size: 18px;
	line-height: 1.44;
}

.bttn-menu, .bttn-group-menu > .bttn {
	padding: 7px 10px 8px 9px;
	font-size: 12px;
	line-height: 1.5;
}

.bttn-block {
	display: block;
	width: 100%;
}


.panel-heading a {
	color: white !important;
}

.table-fixed thead {
	width: 97%;
}

.table-fixed tbody {
	height: 300px;
	overflow-y: auto;
	width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
	display: block;
}

	.table-fixed tbody td, .table-fixed thead > tr > th {
		float: left;
		border-bottom-width: 0;
	}

/*Panel tabs*/
.panel-tabs {
	position: relative;
	bottom: 12px;
	clear: both;
	border-bottom: 1px solid transparent;
}

	.panel-tabs > li {
		float: left;
		margin-bottom: -1px;
	}

		.panel-tabs > li > a {
			margin-right: 2px;
			margin-top: 4px;
			line-height: .85;
			border: 1px solid transparent;
			border-radius: 4px 4px 0 0;
			color: #ffffff;
		}

			.panel-tabs > li > a:hover {
				border-color: transparent;
				color: #ffffff;
				background-color: transparent;
			}

		.panel-tabs > li.active > a,
		.panel-tabs > li.active > a:hover,
		.panel-tabs > li.active > a:focus {
			color: #fff;
			cursor: default;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			background-color: rgba(255,255,255, .23);
			border-bottom-color: transparent;
		}

.panel-semp {
	border-color: #DB0502 !important;
}

	.panel-semp > .panel-heading {
		color: white;
		background-color: #d71e24;
		border-color: red;
		font-weight: bold;
	}

		.panel-semp > .panel-heading + .panel-collapse > .panel-body {
			border-top-color: red;
		}

		.panel-semp > .panel-heading .badge {
			color: white;
			background-color: #a94442;
		}

	.panel-semp > .panel-footer + .panel-collapse > .panel-body {
		border-bottom-color: red;
	}

.loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 120px;
	height: 120px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
	margin-left: 50%;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.boxLink {
	width: 100%;
	padding: 5px;
	margin-bottom: 1px;
}

	.boxLink a {
		width: 100%;
		height: 100%;
		display: block;
	}

	.boxLink:hover {
		opacity: 0.5;
		filter: alpha(opacity=50);
	}

.textoLink {
	position: relative;
	color: white;
	width: 100%;
	text-align: left;
	font-size: 20px;
	top: 4px;
}

.textoLinkAcesso {
	position: relative;
	color: white;
	width: 100%;
	text-align: left;
	font-size: 16px;
	top: 4px;
}

caption {
	padding-top: 0;
	padding-bottom: 0;
	text-align: left;
}

.table tbody tr td.negativo {
	font-weight: bold;
	color: red;
}

.table tbody tr td.positivo {
	font-weight: bold;
	color: green;
}

.table caption {
	width: 100%;
	font-size: 14pt;
	font-weight: bolder;
	color: #DB0703;
	font-family: Arial;
	margin-bottom: 2px !important;
}

.table thead tr:first-child th {
	background: #6b6b6b !important; /* Old browsers */
	text-align: center;
	font-size: 11px;
	font-family: Helvetica;
	font-weight: bold;
	color: #ffffff;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	padding: 3px;
}
