﻿/*  Painel Produção  */
table.table-painel {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border: 5px solid #fff;
	border-width: 0px 1px 1px 1px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	border-collapse: collapse;
	border-spacing: 0;
	border-color: #DDDDDD;
	margin: 0px;
	padding: 0px;
}

	table.table-painel caption, table.table-painel .caption {
		width: 100%;
		font-size: 16pt;
		font-weight: bolder;
		color: #DB0703;
		font-family: Arial;
		margin-bottom: 5px !important;
	}

	table.table-painel tbody tr td:last-child {
		border-right: 0px;
	}

	table.table-painel tbody tr td {
		vertical-align: middle;
		border-width: 0px 1px 1px 0px;
		border-right: 1px #bbb solid;
		text-align: right;
		padding: 4px;
		font-size: 18px;
		font-family: Helvetica;
		font-weight: normal;
		color: #000000;
	}

	table.table-painel tbody tr:nth-child(odd) {
		background-color: #ffffff;
	}

	table.table-painel tbody tr:nth-child(even) {
		background-color: #ededed;
	}

	table.table-painel thead tr:first-child th {
		background: #6b6b6b !important; /* Old browsers */
		text-align: center;
		font-size: 18px;
		font-family: Helvetica;
		font-weight: bold;
		color: #ffffff;
		border-right: 1px solid #ddd;
		border-left: 1px solid #ddd;
	}

	table.table-painel tr.hover:hover td {
		background-color: rgb(255, 255, 203);
		color: black;
	}

	table.table-painel tr.selected td {
		background-color: rgb(128, 128, 255); /*rgb(203, 200, 157);*/
		color: white;
		font-weight: bold;
	}

	table.table-painel thead tr:first-child th a {
		color: #ffffff;
		text-decoration: none;
		width: 100%;
	}

	table.table-painel.small, table.table-painel.small td {
		font-size: 9px !important;
		font-family: Arial;
	}

	table.table-painel tbody tr td.negativo {
		color: red;
	}

	table.table-painel tbody tr td.positivo {
		color: green;
	}

	table.table-painel tfoot {
		padding: 3px;
	}

		table.table-painel tfoot tr td {
			font-weight: bold;
			border: solid 1px #ddd !important;
		}

			table.table-painel tfoot tr td span {
				display: inline-table;
				border: solid 1px black;
			}

footer
	{
		height: 40px;
	}

	#datahora
	{
		float: right;
		font-family: Arial;
		font-size: 20px;
		font-weight: bolder;
		color: red;
		z-index: 100;
	}

table.interna {
	width: 100%;
	border-collapse: collapse;
}

	table.interna tr td {
		font-size: 9pt !important;
		text-align: center !important;
		padding: 1px !important;
		background: rgb(255, 255, 203) !important;
		border-collapse: collapse;
	}

#mensagem
	{
		font-size: 20px;
	}
