﻿BODY {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

/*  Painel ApontaProd  */
tr td.negativo {
	color: red !important;
}

tr td.positivo {
	color: green !important;
}

footer {
	background: red;
	clear: both;
	font-size: .8em;
	height: 50px !important;
	border-top: solid 1px #999;
	color: #333;
	margin-top: 10px;
	text-align: center;
	bottom: 0;
}

.DivPainel {
	background-color: white !important;
	font-size: 85px;
	font-weight: bold;
	margin-top: 1px;
	padding-top: 5px;
	text-align: center;
}

.TablePainel {
	width: 1000px;
}
.TablePainel.meta {
	width: 900px;
}

	.TablePainel tr td {
		background-Color: Yellow;
		font-size: 80px;
		font-weight: bold;
		width: 330px;
		text-align: center;
		border: solid 2px white;
		color: black;
	}

.TableResumo {
	/*width: 950px;*/
	margin-top: 10px;
}

	.TableResumo tr th {
		background-Color: Red !important;
		color: White;
		font-size: 25px;
		font-weight: bold;
		border: solid 1px white;
	}

	.TableResumo tr td {
		color: black;
		font-size: 25px;
		font-weight: bold;
		border: solid 1px white;
		text-align: center;
	}

.TableMeta {
	/*width: 950px;*/
	margin-top: 10px;
}
	.TableMeta tr:first-child td {
		color: black;
		font-size: 34px;
		font-weight: bold;
		border: solid 1px white;
		text-align: right;
	}
	.TableMeta tr td {
		color: black;
		font-size: 34px;
		font-weight: bold;
		border: solid 1px white;
		padding-left: 10px;
		text-align: right;
	}


.imagemTV {
	position: absolute;
	left: 25%;
	top: 20%;
}
.imagemTV.anima {
	transform: scale(0.5);
	transition: all 5s;
	left: 750px;
}

.HeaderWhite {
	background-color: white;
	font-size: 50px;
	color: black;
	font-weight: bold;
}

.FooterRed {
	background-color: Red;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
}

.Face {
	position: absolute;
	width: 98%;
	text-align: right;
}

.Face img {
	width: 200px;
	height: 200px;
}

.Header {
	background-color: Red;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 2px;
	font-size: 60px;
}

.Sign {
	position: relative;
	margin: 5px;
	width: 50px;
	height: 50px;
}

#mensagem {
	font-family: Arial;
	font-size: 36px !important;
	font-weight: bolder;
	color: white;
	z-index: 100;
}

#datahora {
	float: right;
	font-family: Arial;
	font-size: 36px !important;
	font-weight: bolder;
	color: white !important;
	z-index: 100;
}

/*  Painel da IAC  */
.controls.primary {
	margin-top: 0px;
}

.controls.secondary {
	margin-top: 210px;
}

.statusBranco {
	width: 25%;
	height: 200px;
	float: left;
}

.statusAzul {
	background-color: #729ea5;
	width: 25%;
	height: 190px;
	float: left;
}

.statusVermelho {
	background-color: red;
	width: 25%;
	height: 190px;
	float: left;
}

.parada {
	width: 50%;
	float: left;
}

.info {
	width: 100%;
	float: right;
}

.sinalVerde {
	background-color: green;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 25%;
	height: 190px;
	float: right;
}

.sinalAzul {
	background-color: #729ea5;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 25%;
	height: 190px;
	float: right;
}

.sinalAmarelo {
	background-color: yellow;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 25%;
	height: 190px;
	float: right;
}

.sinalVermelho {
	background-color: red;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 25%;
	height: 190px;
	float: right;
}

.sinalAzul {
	background-color: #729ea5;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 25%;
	height: 190px;
	float: right;
}

.negativo {
	color: red;
}

.positivo {
	color: green;
}

#center {
	text-align: center;
}

.tftable {
	color: black;
	width: 100%;
	margin-top: -4px;
	border-width: 1px;
	border-color: black;
	border-collapse: collapse;
}

	.tftable th {
		font-size: 20px;
		padding: 8px;
		text-align: left;
	}

	.tftable tr {
		background-color: #fff;
	}

	.tftable td {
		font-size: 28px;
		font-weight: bold;
		padding: 8px;
		border-width: 1px;
		border-style: solid;
		border-color: black;
	}

	.tftable tr:hover {
		background-color: #ffffff;
	}

/*  Painel Informática  */
.statusBrancoInf {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 50%;
	height: 500px;
	float: left;
}

.statusAzulInf {
	background-color: #729ea5;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 50%;
	height: 500px;
	float: left;
}

.sinalVermelhoInf {
	background-color: red;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 50%;
	height: 500px;
	float: right;
}

.sinalVerdeInf {
	background-color: green;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 50%;
	height: 500px;
	float: right;
}

.sinalAzulInf {
	background-color: #729ea5;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	width: 50%;
	height: 500px;
	float: right;
}

/*  Fontes  */
.h1 {
	font-family: Arial;
	font-weight: bold;
	font-size: 50px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	color: rgb(255, 255, 255);
	width: 100%;
	text-align: center;
}

/*  Fontes do Painel Informatica  */
.h2 {
	font-family: Arial;
	font-weight: bold;
	font-size: 50px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	color: rgb(255, 255, 255);
	text-align: center;
}

.h3 {
	margin-top: 50px;
	font-size: 20vw;
	display: block;
	text-align: center;
	vertical-align: central;
	width: 100%;
}

/*  Fontes do Painel IAC  */
.h4 {
	font-family: Arial;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

.h5 {
	color: black;
	font-size: 120px;
	display: block;
	text-align: center;
	width: 100%;
}

.h6 {
	font-family: arial;
	font-weight: bold;
	font-size: 30px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	color: rgb(255, 255, 255);
	text-align: center;
}

.h7 {
	margin-top: -20px;
	margin-right: 10px;
	font-size: 20px;
	text-align: right;
}

.h8 {
	color: black;
	margin-top: 20px;
	font-size: 40px;
	display: block;
	width: 100%;
}


@media(max-width:1000px) {
	.TablePainel {
		width: 100%;
	}
		.TablePainel.meta {
			width: 700px;
		}

		.TablePainel tr td {
			background-Color: Yellow;
			font-size: 50px;
			font-weight: bold;
			width: 250px;
			text-align: center;
			border: solid 2px white;
			color: black;
		}

	.Header {
		background-color: Red;
		color: #FFFFFF;
		font-weight: bold;
		margin-top: 2px;
		font-size: 40px;
	}
	.HeaderWhite {
		background-color: white;
		font-size: 30px;
		color: black;
		font-weight: bold;
	}

	.TableResumo tr th {
		font-size: 18px;
	}
	.TableResumo tr td {
		font-size: 18px;
	}
	.Face img {
		width: 150px;
		height: 150px;
	}
	.Sign{
		width: 35px;
		height: 35px;
	}

	.imagemTV.anima {
		transform: scale(0.42);
		transition: all 5s;
		left: 510px;
	}
}
