﻿body {
}



#tbListaItem tr.jqgrow td {
	white-space: normal !important;
	font-size: 13px !important;
}

.ui-jqgrid-view {
	font-size: 13px !important;
}

.grid-6-12 {
	width: 50%;
	float: left;
	border: solid 0px;
}

.grid-7-12 {
	width: 48%;
	float: right;
	border: solid 1px #808080;
}

#divMenu {
	height: 60px;
	width: 100%;
	padding-left: 10%;
	text-align: center;
	align-content: center;
	margin: 0 auto;
}


@media only screen and (max-width: 800px) {
	
	.grid-6-12{ 
		width: 100%;
	}

	.grid-7-12 {
		float: left;
		width: 100%;
	}

	#divMenu {
		left: 0;
		margin: 0;
		padding-left: 5%;
	}

	.principal {
	}

	.Testemodal-header, h4, .close {
		  background-color: #b22222;
		  color:white !important;
		  text-align: center;
		  font-size: 30px;
	}
	.Testemodal-footer {
		  background-color: #f9f9f9;
	}
 

}

.inputLeitura {
	padding: 3%;
	border-radius: 3px;
	background-color: lightgrey;
	font-size: 28px !important;
}

#botaoOpcoes {
	width: 70px;
	height: 30px;
	position: relative;
	margin: 0;
	vertical-align: central;
	padding: 5px 3px 3px 2px;
	/*top: 25px;*/
	background-color: #DA0A06;
	
	font-family: "PT Sans",Helvetica,Arial,sans-serif;
	text-align: center;
	font-size: 12px;
	color: #ffffff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	font-weight: bold;
	
	border-right: solid 2px darkgray;
	border-left: solid 2px darkgray;
	border-bottom: solid 2px darkgray;;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	
}

.botaoMenu {
	width: 33px;
	height: 33px;
	border-color: #7f7f7f;
	background: transparent;
	cursor: pointer;
	color: black;
	 

}


/*menu de opcoes*/

* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

#menuEmb {
	height: 62px;
	width: 410px;
	

}
 

	ul#menuEmb li.menuitem {
		margin: 0;
		padding: 0;
		font-family: "PT Sans",Helvetica,Arial,sans-serif;
		display: block;
		float: left;
		width: 100px;
		/*border: 1px solid #d71e24;*/
		
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
		/*border-radius: 6px;*/
		text-align: center;
		box-sizing: border-box;
		/*align-items: flex-start;*/
		/*background: blue;*/
	}

		ul#menuEmb li ul {
			visibility: hidden;
			position: absolute;
			z-index: 999;
			
			margin: 0;
			/*top: 25px;*/
			background: #ffffff;
			/*background: linear-gradient(top, #ffffff 0%,#d71e24 100%);*/
			text-align: center;
			/*border: solid 1.5px indianred;*/
			border-top: solid 1.5px indianred;
			border-bottom: solid 1.5px indianred;
			border-right: solid 1.5px indianred;
			border-left: solid 1.5px indianred;
			border-bottom-right-radius: 8px;
			border-bottom-left-radius: 8px;
		}

			ul#menuEmb li ul li a {
				display: block;
				padding: 0;
				padding-top: 5px;
				height: 28px;
				text-decoration: none;
				color: red !important;
				font: 13px/100% "MS Serif", "New York", serif;
				font-weight: bold;
				text-shadow: 0 1px 1px rgba(0,0,0,.3);
				width: 100px;
				text-align: center;
			}

				ul#menuEmb li ul li a:hover {
					background: indianred;
					/*border-radius: 4px;*/
					color: white !important;
					/*vertical-align: middle;*/
					-webkit-transition: 0.4s ease-out;
					-moz-transition: 0.4s ease-out;
					-o-transition: 0.4s ease-out;
					transition: 0.4s ease-out;
				}

		ul#menuEmb li:hover ul {
			visibility: visible;
		}

 .QtdColetiva
 {
	font-size: 24px;
 }