﻿*
{
	background: transparent !important;
	color: #000 !important;
	text-shadow: none !important;
	filter: none !important;
	-ms-filter: none !important;
}

body
{
	margin: 0 !important;
	padding: 0 !important;
	/*-webkit-transform: scale(0.8);
		-moz-transform: scale(0.8); 
		-o-transform: scale(0.8); 
		transform: scale(0.8);*/
}

#conteudo .ui-widget-header, .espacador, #HeaderPosto
{
	display: none !important;
}

.floatThead-floatContainer, .floatThead-container
{
	/*top: 10% !important;*/
	display: none;
}

.content-wrapper
{
	margin-top: 0px !important;
}