﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.Relatorios.LeiturasMF>
@{
	Layout = null;
	var integrador = (List<SEMP.Model.DTO.ZSPP_APONTAMENTO_PCI_DTO>)ViewBag.integrador;

	var sap = (List<SEMP.SAPConnector.VO.ZTPP_APONPCI>)ViewBag.sap;

	if (Model == null || Model.Count() == 0) { return; }

	var apsProd = Model.GroupBy(x => x.NumOP).Select(x => new
	{
		Ordem = x.Key,
		QtdApont = x.Count()
	}).OrderBy(x => x.Ordem).ToList();

	var apsSAP = sap?.GroupBy(x => x.AUFNR).Select(x => new {
		Ordem = x.Key,
		QtdApont = x.Sum(y => y.YIELD)
	}).ToList();

	var apsIntegrador = integrador.GroupBy(x => x.AUFNR).Select(x => new
	{
		Ordem = x.Key,
		QtdApont = x.Sum(y => y.YIELD)
	}).ToList();
}
<table class="table table-bordered table-condensed" style="width: 700px;">
	<thead>
		<tr>
			<th colspan="3">SISAP</th>
			<th colspan="3">Integrador</th>
			<th colspan="2">SAP</th>
		</tr>
		<tr>
			<th>AP</th>
			<th>Prod.</th>

			<th>Ordem</th>
			<th>Qtde</th>
			<th>Dif</th>

			<th>Ordem</th>
			<th>Qtde</th>
			<th>Dif</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in apsProd)
		{
			var regIntegra = apsIntegrador.FirstOrDefault(x => x.Ordem == item.Ordem);

			var regSAP = apsSAP?.FirstOrDefault(x => x.Ordem == item.Ordem);
			var difSAP = item.QtdApont - (regSAP != null ? regSAP.QtdApont : 0);

		<tr>
			<td>@item.Ordem</td>
			<td>@item.QtdApont</td>

			@if (regIntegra != null)
			{
				var dif = item.QtdApont - regIntegra.QtdApont;
				<td>@regIntegra.Ordem</td>
				<td>@regIntegra.QtdApont</td>
				<td class="@if (dif != 0 ) { Write("danger"); } ">@dif</td>
			}
			else
			{
				<td></td>
				<td></td>
				<td></td>
			}

			@if (regSAP != null)
			{
				var dif = item.QtdApont - regSAP.QtdApont;
				<td>@regSAP.Ordem</td>
				<td>@regSAP.QtdApont</td>
				<td class="@if (dif != 0 ) { Write("danger"); } ">@dif</td>
			}
			else
			{
				<td></td>
				<td></td>
				<td></td>
			}
		</tr>
		}

	</tbody>
</table>