﻿@{
	ViewBag.Title = "Auditor de Integração";
	Layout = "~/Views/Shared/_Layout.cshtml";

	DateTime dInicio = DateTime.Parse(DateTime.Now.ToShortDateString());
	dInicio = dInicio.AddDays(-dInicio.Day).AddDays(1);
	DateTime dFim = dInicio.AddMonths(1).AddDays(-1);
}

<h3>@ViewBag.Title</h3>

<div class="form-inline">
	<div class="input-group">
		<label class="input-group-addon">Período de</label>
		<input type="text" name="txtDatIni" id="txtDatIni" value="@dInicio.ToShortDateString()" class="form-control" style="width: 100px;" />
	</div>
	<div class="input-group">
		<label class="input-group-addon">até</label>
		<input type="text" name="txtDatFim" id="txtDatFim" value="@dFim.ToShortDateString()" class="form-control" style="width: 100px;" />
	</div>
	<div class="input-group">
		<label class="input-group-addon">Ord. de Prod.</label>
		<input type="text" class="form-control" name="NumOrdem" id="NumOrdem" value="" />
	</div>
	<div class="input-group">
		<label class="input-group-addon">Modelo</label>
		<input type="text" class="form-control" name="CodModelo" id="CodModelo" value="" />
	</div>
	<div class="input-group">
		<div class="input-group-btn">
			<button class="btn btn-default" type="button" title="Consultar" onclick="Consultar();"><i class="glyphicon glyphicon-search"></i></button>
			<button class="btn btn-default" type="button" title="Quantidades" onclick="ConsultarQtd();"><i class="glyphicon glyphicon-stats"></i></button>
		</div>
	</div>
</div>
<br />
<div id="dados"></div>

@section Scripts{
	<script>
		function Consultar() {
			var numOP = $("#NumOrdem").val();
			var codModelo = $("#CodModelo").val();
			var datIni = $("#txtDatIni").val();
			var datFim = $("#txtDatFim").val();

			$("#dados").html(carregando);

			$.ajax({
				type: "GET",
				url: "/Outros/SAP/AuditorIntegraLista/",
				data: { numOP: numOP, datInicio: datIni, datFim: datFim, codModelo: codModelo },
				success: function (data) {

					$("#dados").html(data);

				},
				error: function (data) {
					$("#dados").html(data.responseText);
				}
			});
		}

		function ConsultarQtd() {
			var numOP = $("#NumOrdem").val();
			var codModelo = $("#CodModelo").val();
			var datIni = $("#txtDatIni").val();
			var datFim = $("#txtDatFim").val();

			$("#dados").html(carregando);

			$.ajax({
				type: "GET",
				url: "/Outros/SAP/AuditorIntegraQtd/",
				data: { numOP: numOP, datInicio: datIni, datFim: datFim, codModelo: codModelo },
				success: function (data) {

					$("#dados").html(data);

				},
				error: function (data) {
					$("#dados").html(data.responseText);
				}
			});
		}

		$(document).ready(function () {
			$("#txtDatIni").datepicker();
			$("#txtDatFim").datepicker();

		});

	</script>

}