﻿@model IEnumerable<SEMP.SAPConnector.VO.ZTPP_APONPCI>
@{
	Layout = null;
	var integrador = (List<SEMP.Model.DTO.ZSPP_APONTAMENTO_PCI_DTO>)ViewBag.integrador;

	var producao = (List<SEMP.Model.VO.Rastreabilidade.Relatorios.LeiturasMF>)ViewBag.producao;

	var aps = Model.GroupBy(x => new { x.AUFNR, x.AUFART }).Select(x => new {
		Ordem = x.Key.AUFNR,
		Tipo = x.Key.AUFART.Substring(1,1),
		QtdApont = x.Sum(y => y.YIELD)
	}).ToList();

	var apsIntegrador = integrador.GroupBy(x => x.AUFNR).Select(x => new
	{
		Ordem = x.Key,
		QtdApont = x.Sum(y => y.YIELD)
	}).ToList();

	var apsProd = producao.GroupBy(x => x.NumAP).Select(x => new
	{
		Ordem = x.Key,
		QtdApont = x.Count()
	}).ToList();


}
<table class="table table-bordered table-condensed" style="width: 700px;">
	<thead>
		<tr>
			<th colspan="2">SAP</th>
			<th colspan="3">SISAP</th>
			<th colspan="3">Leituras</th>
		</tr>
		<tr>
			<th>Ordem</th>
			<th>Qtde</th>

			<th>Ordem</th>
			<th>Qtde</th>
			<th>Dif</th>

			<th>AP</th>
			<th>Prod.</th>
			<th>Dif</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in aps)
		{
			var reg = apsIntegrador.FirstOrDefault(x => x.Ordem == item.Ordem);
			var qtd = item.QtdApont - (double)(reg != null ? reg.QtdApont : 0);

			var prod = apsProd.FirstOrDefault(x => x.Ordem == $"{item.Tipo}{item.Ordem.Substring(7,5)}");
			var difProd = item.QtdApont - (prod != null ? prod.QtdApont : 0);

		<tr>
			<td>@item.Ordem</td>
			<td>@item.QtdApont</td>
			@if (reg != null)
			{
				<td>@reg.Ordem</td>
				<td>@reg.QtdApont</td>
			}
			else
			{
				<td></td>
				<td></td>
			}
			<td>@qtd</td>

			@if (prod != null)
			{
				<td>@prod.Ordem</td>
				<td>@prod.QtdApont</td>
			}
			else
			{
				<td></td>
				<td></td>
			}
			<td class="@if (difProd != 0 ) { Write("danger"); } ">@difProd</td>
 </tr>
		}

	</tbody>
</table>