﻿@model IEnumerable<SEMP.SAPConnector.VO.ZTPP_APONPCI>
@{
	Layout = null;
	var integrador = (List<SEMP.Model.DTO.ZSPP_APONTAMENTO_PCI_DTO>)ViewBag.integrador;

	var diferenca = (
		from i in integrador
		from m in Model.Where(x => x.PACKNO == i.PACKNO && x.AUFNR == i.AUFNR).DefaultIfEmpty()
		where m == null
		select i
	).ToList();

}
<h4>Auditor de pacotes</h4>
<hr />
@if (Model != null && Model.Count() > 0)
{
	<table class="table table-bordered table-condensed table-striped table-sm">
		<thead>
			<tr>
				<th colspan="5">SAP</th>
				<th colspan="4">SISAP</th>
			</tr>
			<tr>
				<th>PACKNO</th>
				<th>Ordem</th>
				<th>Material</th>
				<th>Qtd. Apont.</th>
				<th>Data Rec.</th>

				<th>PACKNO</th>
				<th>Ordem</th>
				<th>Qtd. Apont.</th>
				<th>Data Envio</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				var sisap = integrador.FirstOrDefault(x => x.PACKNO == item.PACKNO && x.AUFNR == item.AUFNR);

				<tr>
					<td>@item.PACKNO</td>
					<td>@item.AUFNR</td>
					<td>@item.MATNR</td>
					<td>@item.YIELD</td>
					<td>@item.DTRECEB.Value.ToShortDateString() @item.HRRECEB</td>

					@if (sisap != null)
					{
						<td>@sisap.PACKNO</td>
						<td>@sisap.AUFNR</td>
						<td>@sisap.YIELD</td>
						<td>@sisap.DatEnvio</td>
					}
					else
					{
						<td class="danger"></td>
						<td class="danger"></td>
						<td class="danger"></td>
						<td class="danger"></td>
					}
				</tr>
			}
			@{
				if (diferenca != null && diferenca.Count() > 0)
				{
					foreach (var item in diferenca)
					{
						<tr>
							<td class="danger"></td>
							<td class="danger"></td>
							<td class="danger"></td>
							<td class="danger"></td>
							<td class="danger"></td>


							<td>@item.PACKNO</td>
							<td>@item.AUFNR</td>
							<td>@item.YIELD</td>
							<td>@item.DatEnvio</td>
						</tr>
					}

				}

			}
		</tbody>
	</table>
}