﻿@model SEMP.Model.DTO.MAPScrapBaixaDTO

@{
	ViewBag.Title = "Editar";
	Layout = null;
}
@using (Html.BeginForm("Editar", "MapaScrap", FormMethod.Post, new { @class = "form-inline", @role = "form" }))
{
	@Html.AntiForgeryToken()
	
	<div>
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.IDScrap)

		<div class="row" style="margin-bottom: 10px;">
			<div class="col-md-6">
				<div class="input-group">
					@Html.LabelFor(model => model.CodModelo)
					<div>@Html.ValueFor(model => model.CodModelo) - @Html.ValueFor(model => model.DesModelo)</div>
				</div>
			</div>
			<div class="col-md-2 col-md-offset-2">
				<div class="input-group">
					@Html.LabelFor(model => model.CodFabBxa)
					<div>@Html.ValueFor(model => model.CodFabBxa)</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 10px;">
			<div class="col-md-4">
				<div class="input-group">
					@Html.LabelFor(model => model.DatReferencia)
					<div>
						@Html.ValueFor(model => model.DatReferencia)
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 10px;">
			<div class="col-md-12">
				@Html.LabelFor(model => model.CodItem)
				<div class="input-group input-group-sm">
					@Html.TextBoxFor(model => model.CodItem, new { @class = "form-control", style = "width: 70px;" })
					@Html.TextBoxFor(model => model.DesItem, new { @class = "input-group-addon", style = "width: 300px;" })
					@Html.ValidationMessageFor(model => model.CodItem)
				</div>
			</div>
		</div>

		<div class="row" style="margin-bottom: 10px;">

			<div class="col-md-4">
				@Html.LabelFor(model => model.QtdPerda)
				@Html.TextBoxFor(model => model.QtdPerda, new { @class = "form-control", @size = "5" })
				@Html.ValidationMessageFor(model => model.QtdPerda)
			</div>

			<div class="col-md-4 col-md-offset-1">
				@Html.LabelFor(model => model.QtdEstoque)
				@Html.ValueFor(model => model.QtdEstoque)
			</div>
		</div>

		<div class="row">
			<div class="col-md-4 col-md-offset-8">
				<div class="btn-group btn-group-sm">
					@Html.ActionLink("Retornar", "Index", null, new { @class = "btn btn-danger", @style = "color: white; text-decoration: none;" })
					<input type="submit" value="Gravar" class="btn btn-danger" />
				</div>
			</div>
		</div>
	</div>
}