﻿
@{
	ViewBag.Title = "Mapa Gera Scrap";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Scrap IDW";

	var DatInicio = Request["DatInicio"];
	var DatFim = Request["DatFim"];

	if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }



}
@Scripts.Render("~/bundles/excelexport")


<h3>@ViewBag.Title</h3>

<div id="dialog-edit" style="display: none; top: 10px;"></div>

<div class="form-inline">
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-2" style="width: 200px;">
			<label>Data inicial&#58;</label>
			<input type="text" name="DatInicio" id="DatInicio" value="@DatInicio" class="form-control" style="width: 100px;" />
		</div>
		<div class="col-md-2" style="width: 200px;">
			<label>Data final&#58;</label>
			<input type="text" name="DatFim" id="DatFim" value="@DatFim" class="form-control" style="width: 100px;" />
		</div>
		<div class="col-md-4" style="width: 340px;">
			<label class="labelFloat">Modelo&#58;</label>
			<div class="input-group input-group-sm">
				<input type="text" name="Modelo" id="Modelo" class="form-control" style="width: 60px;" />
				<input type="text" name="Descricao" id="Descricao" class="input-group-addon" style="width: 200px;" disabled="disabled" />
			</div>
		</div>
	</div>
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-3">
			<label for="Item">Item&#58;</label>
			<div class="input-group input-group-sm">
				<input type="text" name="Item" id="Item" class="form-control" style="width: 70px;" />
				<input type="text" name="DesItem" id="DesItem" class="input-group-addon" style="width: 170px;" disabled="disabled" />
			</div>
		</div>
		<div class="col-md-2">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Opções <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#"><label class="checkbox-inline"><input type="checkbox" name="Pendencia" id="Pendencia" />Pendencia</label></a></li>
					<li><a href="#"><label class="checkbox-inline"><input type="checkbox" name="Divergente" id="Divergente" /> Divergente</label></a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div class="btn-toolbar">
				<div class="btn-group">
					<input type="button" name="btnGerar" id="btnGerar" value="Gerar" class="btn btn-danger" />
					<input type="button" name="btnBaixar" id="btnBaixar" value="Baixar" class="btn btn-danger hidden" />
				</div>
				<div class="btn-group">
					<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="btn btn-success" />
					<input type="button" name="btnEnviar" value="Consultar" class="btn btn-danger" onclick="btnEnviar_Click();" />
				</div>
			</div>
		</div>
		</div>
</div>

<div id="conteudo">
	
</div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<div style="float:left;">Legenda:&nbsp;</div><div style="float:left;">PRETO [Normal],&nbsp;</div><div style="color:#000080;float:left;">AZUL [Sem estoque p/ baixa],&nbsp;</div><div style="color:#B22222;float:left;">VERMELHO [Item s/ entrada].</div>
<script>
	var url = "";

	$(function () {
		$("#DatFim").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatInicio").datepicker("option", "maxDate", selectedDate);
			}
		});
		$("#DatInicio").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatFim").datepicker("option", "minDate", selectedDate);
			}
		});
	});

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());
		var div = "";
		var pend = "";

		if ($("#Divergente").prop("checked")) div = "S";
		if ($("#Pendencia").prop("checked")) pend = "S";

		$.ajax({
			type: "GET",
			url: "/Outros/MapaScrap/Lista/",
			data: {
				DatInicio: $("#DatInicio").val(),
				DatFim: $("#DatFim").val(),
				Modelo: $("#Modelo").val(),
				Item: $("#Item").val(),
				Divergente: div,
				Pendencia: pend
			},
			success: function (data) {
				$("#conteudo").html(data);

				$(".lnkEdit").on("click", function (e) {
					// e.preventDefault(); use this or return false
					url = $(this).attr('href');
					$(".ui-dialog-title").html("Alterar");
					$("#dialog-edit").dialog('open');

					return false;
				});
			}
		});

	}

	$(document).ready(function () {

		$("#dialog-edit").dialog({
			title: 'Alterar dados',
			autoOpen: false,
			resizable: false,
			width: 500,
			height: 320,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		$(".lnkEdit").on("click", function (e) {
			// e.preventDefault(); use this or return false
			url = $(this).attr('href');
			$(".ui-dialog-title").html("Alterar");
			$("#dialog-edit").dialog('open');

			return false;
		});

		$("#btnExportar").click(function () {
			var datInicio = $("#DatInicio").val();
			var datFim = $("#DatFim").val();
			var modelo = $("#Modelo").val();
			var item = $("#Item").val();
			var div = "";
			var pend = "";

			if ($("#Divergente").prop("checked")) div = "S";
			if ($("#Pendencia").prop("checked")) pend = "S";

			window.open("/Outros/MapaScrap/Lista/?datInicio="+datInicio+"&datFim="+datFim+"&modelo="+modelo+"&item="+item+"&divergente="+div+"&pendencia="+pend);
			/*$("#tblDados").btechco_excelexport({
				containerid: "tblDados"
				, datatype: $datatype.MVC
			});*/
		});

		$("#btnGerar").click(function () {
			if ($("#DatInicio").val() != $("#DatFim").val()) {
				alert("As datas devem ser iguais para este procedimento");
				return;
			}

			$.ajax({
				type: "GET",
				url: "/Outros/MapaScrap/Operacoes/",
				data: {
					DatInicio: $("#DatInicio").val(),
					DatFim: $("#DatFim").val(),
					id: 1
				},
				success: function (data) {
					alert(data);
				}
			});
			//window.location.replace("/Coleta/MapaScrap/Operacoes/?id=1&DatInicio=" + $("#DatInicio").val() + "&DatFim=" + $("#DatFim").val() );
		});

		$("#btnBaixar").click(function () {
			if ($("#DatInicio").val() != $("#DatFim").val()) {
				alert("As datas devem ser iguais para este procedimento");
				return;
			}

			$.ajax({
				type: "GET",
				url: "/Outros/MapaScrap/Operacoes/",
				data: {
					DatInicio: $("#DatInicio").val(),
					DatFim: $("#DatFim").val(),
					id: 2
				},
				success: function (data) {
					alert(data);
				}
			});
			//window.location.replace("/Coleta/MapaScrap/Operacoes/?id=1&DatInicio=" + $("#DatInicio").val() + "&DatFim=" + $("#DatFim").val());
		});

	});

	$("#Modelo").blur(function () {
		$.ajax({
			type: "GET",
			url: "/Util/ObterDescricaoItem/",
			data: { CodItem: $("#Modelo").val() },
			success: function (data) {
				$("#Descricao").val(data);
			}
		});
	});

	$("#Item").blur(function () {
		$.ajax({
			type: "GET",
			url: "/Util/ObterDescricaoItem/",
			data: { CodItem: $("#Item").val() },
			success: function (data) {
				$("#DesItem").val(data);
			}
		});
	});

</script>

<br />
<br />
