﻿@model IEnumerable<SEMP.Model.DTO.MAPScrapBaixaDTO>

<table class="table-semp smallrow hover" id="tblDados">
	<thead>
		<tr>
			<th></th>
			<th>@Html.DisplayNameFor(model => model.DatReferencia)</th>
			<th>@Html.DisplayNameFor(model => model.CodModelo)</th>
			<th>@Html.DisplayNameFor(model => model.DesModelo)</th>
			<th>@Html.DisplayNameFor(model => model.CodItem)</th>
			<th>@Html.DisplayNameFor(model => model.DesItem)</th>
			<th>@Html.DisplayNameFor(model => model.QtdPerda)</th>
			<th>@Html.DisplayNameFor(model => model.ValTotal)</th>
			<th>@Html.DisplayNameFor(model => model.QtdBaixa)</th>
			<th>@Html.DisplayNameFor(model => model.CodFabBxa)</th>
			<th>@Html.DisplayNameFor(model => model.QtdEstoque)</th>
			<th>@Html.DisplayNameFor(model => model.DatBaixa)</th>
			<th>@Html.DisplayNameFor(model => model.DatGeracao)</th>
			<th>@Html.DisplayNameFor(model => model.NomUsuGerou)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			var cor = "black";
			if (!item.QtdEstoque.HasValue)
			{
				cor = "#B22222";
			}
			else if (item.QtdEstoque == 0)
			{
				cor = "#000080";
			}

			<tr>
				<td>@Html.ActionLink("Alterar", "Editar", new { idScrap = item.IDScrap }, new { @class = "lnkEdit" })</td>
				<td style="color: @cor;">@Html.DisplayFor(modelItem => item.DatReferencia)</td>
				<td style="color: @cor;">@Html.DisplayFor(modelItem => item.CodModelo)</td>
				<td style="color: @cor;">@Html.DisplayFor(modelItem => item.DesModelo)</td>
				<td style="color: @cor;">@Html.DisplayFor(modelItem => item.CodItem)</td>
				<td style="color: @cor;">@Html.DisplayFor(modelItem => item.DesItem)</td>
				<td style="color: @cor; text-align: right;">@Html.DisplayFor(modelItem => item.QtdPerda)</td>
				<td style="color: @cor; text-align: right;">@Html.DisplayFor(modelItem => item.ValTotal)</td>
				<td style="color: @cor; text-align: right;">@Html.DisplayFor(modelItem => item.QtdBaixa)</td>
				<td style="color: @cor;">@Html.DisplayFor(modelItem => item.CodFabBxa)</td>
				<td style="color: @cor; text-align: right;">@Html.DisplayFor(modelItem => item.QtdEstoque)</td>
				<td style="color: @cor;">@Html.DisplayFor(modelItem => item.DatBaixa)</td>
				<td style="color: @cor;">@Html.DisplayFor(modelItem => item.DatGeracao)</td>
				<td style="color: @cor;">@Html.DisplayFor(modelItem => item.NomUsuGerou)</td>
			</tr>
		}
	</tbody>
	@{
		var registros = Model.Count();
		var totPerda = Model.Sum(x => x.QtdPerda).Value.ToString("##.00");
		var totalValor = Model.Sum(x => x.ValTotal);
		var totValor = totalValor != null ? totalValor.Value.ToString("##.00") : "0";
	}
	<tfoot style="background-color: gray; color: white; font-weight: bold;">
		<tr>
			<td>Total</td>
			<td style="text-align: center;">@registros</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style="text-align: right;">@totPerda</td>
			<td style="text-align: right;">@totValor</td>
			<td style="text-align: right;"></td>
			<td></td>
			<td style="text-align: right;"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tfoot>
</table>
