	.layout
	{
		position: fixed;
		top: 45px;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 3em 1%;
	}

	.free-wall
	{
		height: 100%;
		margin: auto;
		overflow: hidden;
		overflow-x: auto;
		padding-bottom: 20px;
	}

body {
	background: rgb(255, 255, 255) ;
	font-family: "Segoe UI", arial, tahoma;
}

.text-bottom {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: white;
	width: 100%;
}

.text-bottom2 {
	position: absolute;
	bottom: 15px;
	left: 10px;
	color: white;
	width: 100%;
	font-size: 22px;
}

.text-bottom-small {
	position: absolute;
	bottom: 5px;
	left: 10px;
	color: white;
	width: 100%;
	text-align: left;
}

.icontest:before {
	font-family: "Segoe UI Symbol";
	content: "U+E2A4";
	display: inline-block;

}

.padding {
	padding: 10px;
}

.size11 {
	/*line-height: 184px;*/
	text-align: center;
}

.size2-2 {
	/*line-height: 85px;*/
}
/***********************img-demo***************************/

.wallpaper {
	height: 100%;
	background: url(../../Images/semp.png) no-repeat center;
	-ms-background-size: cover;
	background-size: cover;
}

.freewall {
	height: 95%;
}

.img-painelproducao {
	background: url(../../Images/painelproducao.jpg) no-repeat center !important;
	height: 100%;
	-ms-background-size: cover;
	background-size: cover;
}

.img-resumoproducao {
	background: url(../../Images/resumo_producao.jpg) no-repeat center !important;
	height: 100%;
	-ms-background-size: cover;
	background-size: cover;
}

.img-relatoriotecnico {
	background: url(../../Images/relatorio_tecnico.jpg) no-repeat top !important;
	background-size: 100% 100%;
	height: 100%;
	-ms-background-size: 100% 100%;
	background-size: cover;
}

.img-demo5 {
	background: url(../i/photo/5.jpg) no-repeat center;
}

.img-demo6 {
	background: url(../i/photo/6.jpg) no-repeat center;
}

.img-demo7 {
	background: url(../i/photo/21.jpg) no-repeat center;
}

.img-demo8 {
	background: url(../i/photo/22.jpg) no-repeat center;
}

.img-demo9 {
	background: url(../i/photo/37.jpg) no-repeat center;
}

.img-demo10 {
	background: url(../i/photo/38.jpg) no-repeat center;
}

.img-demo11 {
	background: url(../i/photo/30.jpg) no-repeat center;
}

.img-demo12 {
	background: url(../i/photo/32.jpg) no-repeat center;
}

[class^="img"] {
	-ms-background-size: cover;
	background-size: cover;
	width: 100%; height: 100%;
	display: block;
}

/**************************layout****************************/
[class^="img-small"] {
	-ms-background-size: 64px auto;
	background-size: 64px auto;
	width: 64px; height: 64px;
	display: block;
	margin: 35px auto;
}

.img-small-parada {
	background: url(../../Images/palm1.png) no-repeat center;
}

.img-small-programadia {
	background: url(../../Images/calendar194.png) no-repeat center;
}

.img-small-defeitos {
	background: url(../../Images/piechart2.png) no-repeat center;
}

.img-small-producaodia {
	background: url(../../Images/notepad19.png) no-repeat center;
}

.img-small-painel {
	background: url(../../Images/target59.png) no-repeat center;
}

.img-small-resumo {
	background: url(../../Images/report1.png) no-repeat center;
}


[class^="layout-demo"] {
	background: url(../../Images/layout.png) no-repeat;
	-ms-background-size: 70px auto;
	background-size: 70px auto;
	width: 70px; height: 70px;
	display: block;
	margin: 35px auto;
}

.layout-demo1 {
	background-position: top center;
}

.layout-demo2 {
	background-position: center -70px;
}

.layout-demo3 {
	background-position: center -140px;
}

.layout-demo4 {
	background-position: center -210px;
}

.layout-demo5 {
	background-position: center -280px;
}

.layout-demo6 {
	background-position: center -350px;
}

.layout-demo7 {
	background-position: center -420px;
}

.layout-demo8 {
	background-position: center -490px;
}