/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(/Content/font/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
/*
@import url(http://fonts.googleapis.com/css?family=Happy+Monkey);
*/
body {
	background: rgba(231, 231, 231, 0.43);
	line-height: 1.125em;
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
	font-family: 'Lato', Tahoma, Arial, Helvetica;
}

ol, ul {
	padding: 0 10px;
	margin: 0 10px;
	line-height: 1.5em;
}
h2, h3, h4, h5, h6 {
	-ms-text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
	text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
	font-family: 'Lato', Georgia, Helvetica, Tahoma;
	margin: 10px 0;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
	line-height: 1em;
}
h3 {
	font-size: 1.25em;
}
h4 {
	font-size: 1.125em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: 0.875em;
}

code, pre {
	font-family: Monaco, Menlo, Consolas;
	font-size: 1em;
	color: #FFFFDE;
	padding: 0 3px 2px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.free-wall {
	margin: auto;
}

.free-wall-logo {
	margin: auto;
	height: 420px;
}
.size2-2 {
	width: 80px;
	height: 80px;
}

.size11 {
	height: 160px;
	width: 160px;
}

.size12 {
	width: 160px;
	height: 320px;
}

.size21 {
	width: 320px;
	height: 160px;
}

.size22 {
	height: 320px;
	width: 320px;
}

.size13 {
	width: 160px;
	height: 480px;
}

.size31 {
	width: 480px;
	height: 160px;
}

.size23 {
	width: 320px;
	height: 480px;
}

.size24 {
	width: 320px;
	height: 640px;
}

.size32 {
	width: 480px;
	height: 320px;
}

.size33 {
	width: 480px;
	height: 480px;
}

.size34 {
	width: 480px;
	height: 640px;
}

.size43 {
	width: 640px;
	height: 480px;
}

.size35 {
	width: 480px;
	height: 800px;
}

.size53 {
	width: 800px;
	height: 480px;
}

.size36 {
	width: 480px;
	height: 960px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.rest-left {
	margin-left: 244px;
}

.desc h1,
.desc h2,
.desc h3,
.desc h4,
.desc h5,
.desc h6 {
	font-weight: bold;
}

.desc h2 {
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 50px;
}

.desc h2 span {
	float: left;
	display: block;
	line-height: 50px;
}

.item {
	-ms-text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	color: white;
	background-color: white;
	float: left;
	cursor: default;
	overflow: hidden;
	background-repeat: no-repeat;
	-ms-background-size: cover;
	background-size: cover;
	background-position: center;
	/*border: solid 2px white;*/
}

	.item:hover
	{
		/*border: solid 2px #000000;
	border: solid 2px rgba(0, 0, 0, 0.6);*/
		-webkit-box-shadow: 2px 2px 0 rgba(0,0,0,1);
		-ms-box-shadow: 2px 2px 0 rgba(0,0,0,1);
		-moz-box-shadow: 2px 2px 0 rgba(0,0,0,1);
		box-shadow: 2px 2px 0 rgba(0,0,0,1);
	}

.item .cover {
	overflow: hidden;
	margin: 20px;
}

.item .read-more {
	position: absolute;
	display: none;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 12px;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.6);
	color: rgb(255, 255, 255);
	font-size: 14px;
	width: 100%;
}

.item:hover .read-more {
	display: block;
	cursor: pointer;
}

.item .desc {
	display: none;
}

.full-width .float-left {
	display: none;
}

.full-width .desc {
	display: block;
}

.full-width.item
{
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	overflow: visible;
	border: none !important;
	background: none !important;
}

.full-width.item .cover { 
	margin: 0px 20px;
	color: #333;
}

.full-width.item .cover * {
	text-shadow: none;
}

.full-width.item .cover code {
	color: #666;
}

.open .float-left {
	display: none;
}

.open .desc {
	display: block;
}

.example {
	width: 0px;
	height: 0px;
	overflow: visible !important; /* for ie7 */
}

.example-draggable {
	cursor: move;
}

.example-draggable * {
	cursor: move;
}

.example-draggable a {
	cursor: pointer;
}

.cell {
	background-position: center center;
	background-repeat: no-repeat;
	-ms-background-size: cover;
	background-size: cover;
	position: absolute;
	background-color: #222;
}
