﻿@{ 
	var nomeUsuario = "";
	var depto = "";
	var cargo = "";
	var usuariocracha = false;

	var modo = SEMP.UIColeta.Helpers.Extensions.IsReleaseBuild() ? "Ambiente de Produção" : "Ambiente de Testes";
	var stringconexao = Session != null && Session["Conexao"] != null ? Session["Conexao"].ToString() : "";

	nomeUsuario = "Thiago";
	depto = "DTI";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#dc3545">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/knockout")
	@RenderSection("headscript", false)
</head>
<body id="corpo">
	@Html.Partial("~/Views/Shared/_Menu.cshtml")
    <div class="container-fluid body-content">
        @RenderBody()
    </div>

	<footer>
		<div style="float: right" data-bind="text: dataAtual">@SEMP.BO.Util.GetDate()</div>
		<a href="http://semptcl.mao" title="@modo - @stringconexao" target="_blank">Copyright @DateTime.Now.Year SEMP</a><br />
	</footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/site")
	<script>
		ko.bindingHandlers.stopBinding = {
			init: function () {
				return { controlsDescendantBindings: true };
			}
		};

		ko.virtualElements.allowedBindings.stopBinding = true;

		var modelo = new ViewModel("@nomeUsuario", "@depto");

		ko.applyBindings(modelo, document.getElementById("corpo"));

		modelo.AtualizaPagina("@ViewBag.Title");

		setInterval(function () { modelo.AtualizaData();}, 1000);

	</script>

    @RenderSection("scripts", required: false)

</body>
</html>
