﻿@{
	var empresa = (SEMP.Model.Constantes.IsOldFab) ? "AMAZONAS" : "TCL";

}
<div id="menuPrincipal">
	<nav class="navbar navbar-dark py-0 bg-danger navbar-expand-xl py-md-0 fixed-top">
		<a class="navbar-brand" href="/">
			<h1 class="logo">SEMP @empresa</h1>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">Home <span class="sr-only">(atual)</span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="mnuOpcoes" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Opções</a>
					<div class="dropdown-menu" aria-labelledby="mnuOpcoes">
						<a class="dropdown-item" href="/Home/Tasks/">Tarefas</a>
						<a class="dropdown-item" href="#">Setup</a>
						<a class="dropdown-item" href="#">Coleta</a>
						<a class="dropdown-item" href="#">Parâmetros</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/Login/Logout/">Logout</a>
					</div>
				</li>
			</ul>
		</div>
		<span class="navbar-text esconderPequeno" style="margin-right: 7px;">
			<span class="logo" style="color: white;">SISAP</span>
		</span>
		<span class="navbar-text sair esconderPequeno" style="margin-left: 5px;">
			<a href="/Login/Logout/"><span class="fa fa-sign-out"></span></a>
		</span>
	</nav>
	<ol class="breadcrumb" style="height: 25px; padding-top: 0;">
		<li class="breadcrumb-item">SISAP</li>
		<li class="breadcrumb-item"><span data-bind="text: dadosTela.pagina"></span></li>
		<li class="pull-right"><span class="small" data-bind="text: dadosTela.nomUsuario"></span> <<span class="small" data-bind="text: dadosTela.nomDepto"></span>></li>
	</ol>
</div>