﻿@model SEMP.Model.DTO.CapacLinhaDTO

@{
	ViewBag.Title = "Create";
}
@Scripts.Render("~/bundles/jqueryval")

<style>
	.ui-datepicker-calendar
	{
		display: none;
	}

	.ui-datepicker
	{
		width: 200px !important;
	}

	.field-validation-error
	{
		width: 90%;
		font-size: 8pt;
		display: block;
		position: relative;
		top: -65px;
		height: 0px;
		z-index: 999;
	}

		.field-validation-error span
		{
			border-radius: 4px;
			padding: 5px 5px 5px 5px;
			background-color: #FFE6BF;
			position: relative;
			border: 2px solid red;
		}

			.field-validation-error span:after
			{
				content: ' ';
				height: 0;
				position: absolute;
				width: 0;
				border: 10px solid transparent;
				border-top-color: #FFE6BF;
				top: 100%;
				left: 10px;
			}

			.field-validation-error span:before
			{
				content: ' ';
				height: 0;
				position: absolute;
				width: 0;
				border: 13px solid transparent;
				border-top-color: red;
				top: 100%;
				left: 7px;
			}
</style>
<script src="@Scripts.Url("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>

@using (Html.BeginForm("Create", "CapacLinha", FormMethod.Post, new { @class = "form-inline", @role = "form", @name = "frmCapacidade", id = "frmCapacidade" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<div class="row">
		<div class="col-md-6" style="width: 210px;">
			@Html.LabelFor(model => model.DatProducao)
			@Html.TextBoxFor(model => model.DatProducao, new { @class = "form-control input-sm", @style="width: 85px;", @Value = DateTime.Now.ToString("MM/yyyy") })

		</div>
		<div class="col-md-6" style="width: 250px;">
			@Html.LabelFor(model => model.CodLinha, new {@style="float: left; margin-top: 5px;"})
			<div class="input-group input-group-sm">
				@Html.TextBoxFor(model => model.CodLinha, new { @style = "width: 60px", @class="form-control" })
				@Html.TextBoxFor(model => model.DescricaoLinha, new { @disabled = "disabled", @class="input-group-addon", @style="width: 125px;" })
			</div>
			@Html.ValidationMessageFor(model => model.CodLinha)
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			@Html.LabelFor(model => model.CodModelo)
			<div class="input-group input-group-sm">
				@Html.TextBoxFor(model => model.CodModelo, new { @style = "width: 60px", @maxlength = "6", @class="form-control" })
				@Html.TextBoxFor(model => model.DescricaoModelo, new { @disabled = "disabled", @style = "width: 280px", @class="input-group-addon" })
			</div>
			@Html.ValidationMessageFor(model => model.CodModelo)
		</div>
	</div>

	<div class="row">
		<div class="col-md-4" style="width: 180px; padding-right: 1px;">
			@Html.LabelFor(model => model.QtdCapacLinha, new {@style = "float: left; margin-top: 5px; "})&nbsp;
			@Html.TextBoxFor(model => model.QtdCapacLinha, new { @style = "width: 40px" })
			@Html.ValidationMessageFor(model => model.QtdCapacLinha)
		</div>
		<div class="col-md-4" style="width: 160px; padding-left: 1px;">
			@Html.LabelFor(model => model.QtdCapacMaxima)
			@Html.TextBoxFor(model => model.QtdCapacMaxima, new { @style = "width: 40px" })
			@Html.ValidationMessageFor(model => model.QtdCapacMaxima)
		</div>
		<div class="col-md-4" style="width: 100px;">
			@Html.LabelFor(model => model.NumTurno)
			@Html.TextBoxFor(model => model.NumTurno, new { @style = "width: 30px" })
			@Html.ValidationMessageFor(model => model.NumTurno)
		</div>
	</div>

	<div class="row" style="margin-top: 15px;">
		<div class="form-group">
			<div style=" margin-right: 10px; display: inline-block;">
				<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
			</div>
		</div>
	</div>

}

<script>
	$(document).ready(function () {
		$("#DatProducao").datepicker(
		{
			changeMonth: true,
			changeYear: true,
			showButtonPanel: true,
			dateFormat: 'mm/yy',

			onClose: function () {
				var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
				var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
				$(this).datepicker('setDate', new Date(iYear, iMonth, 1));
			}

		});

		$("#DatProducao").mask("99/9999");

		$("#CodLinha").mask("999.99-9", { placeholder: " " });


		$("#CodLinha").blur(function () {
			$("#DescricaoLinha").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoLinha/",
				data: { CodLinha: $("#CodLinha").val() },
				success: function (data) {
					$("#DescricaoLinha").val(data);
				}
			});
		});

		$("#CodModelo").blur(function () {
			$("#DescricaoModelo").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: $("#CodModelo").val() },
				success: function (data) {
					$("#DescricaoModelo").val(data);
				}
			});
		});
	});

	function gravar() {
		$("#frmCapacidade").validate({
			onfocusout: true
		}).form();

		$("#DatProducao").val("01/" + $("#DatProducao").val());

		if ($("#frmCapacidade").valid()) {

			$.ajax({
				type: "POST",
				url: "/CapacLinha/Create/",
				data: $("#frmCapacidade").serialize(),
				dataType: "json",
				success: function (json) {
					if (json.retorno == true) {
						alert("Capacidade inserida com sucesso!");
						$("#frmCapacidade")[0].reset();
					} else {
						alert(json.message);
					}
				},
				error: function (xhr) {
					alert("Não foi possível adicionar: " + xhr);
				}
			});

		}
	}

</script>
