﻿@model SEMP.Model.DTO.CapacLinhaDTO

<div style="width: 400px;text-align: center;margin-left: auto;margin-right: auto;">
	<h4>Tem certeza de que deseja remover esse registro?</h4>

	<fieldset>

		<div class="display-label" style="font-weight:bold; margin-top:10px;">
			 @Html.DisplayNameFor(model => model.CodLinha)
		</div>
		<div class="display-field">
			@Html.DisplayFor(model => model.CodLinha)
		</div>

		<div class="display-label" style="font-weight:bold;">
			 @Html.DisplayNameFor(model => model.CodModelo)
		</div>
		<div class="display-field">
			@Html.DisplayFor(model => model.CodModelo)
		</div>
		@using (Html.BeginForm())
		{

			@Html.HiddenFor(model => model.DatProducao)
			@Html.HiddenFor(model => model.NumTurno)
		 
			@Html.AntiForgeryToken()

			<div class="form-actions no-color" style="margin-top: 10px;">
				<div style="margin-top: 10px; display: inline-block;">
					<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
				</div>
				<div style="display: inline-block;">
					<input type="submit" value="Apagar" class="bttn bttn-sm bttn-red" />
				</div>
			</div>
	 }
	</fieldset>
</div>
