﻿@model SEMP.Model.DTO.CapacLinhaDTO

@{
	ViewBag.Title = "Editar";

	var data = DateTime.Now.ToString("MM/yyyy");
	bool editar = false;


	if (Model != null)
	{
		data = Model.DatProducao.ToString("MM/yyyy");
		editar = true;
	}

	bool? postoEntrada = ViewBag.postoEntrada;
}

@Scripts.Render("~/bundles/jqueryval")

<style>
	.ui-datepicker-calendar {
		display: none;
	}

	.ui-datepicker {
		width: 200px !important;
	}

	.field-validation-error {
		width: 90%;
		font-size: 8pt;
		display: block;
		position: relative;
		top: -65px;
		height: 0px;
		z-index: 999;
	}

		.field-validation-error span {
			border-radius: 4px;
			padding: 5px 5px 5px 5px;
			background-color: #FFE6BF;
			position: relative;
			border: 2px solid red;
		}

			.field-validation-error span:after {
				content: ' ';
				height: 0;
				position: absolute;
				width: 0;
				border: 10px solid transparent;
				border-top-color: #FFE6BF;
				top: 100%;
				left: 10px;
			}

			.field-validation-error span:before {
				content: ' ';
				height: 0;
				position: absolute;
				width: 0;
				border: 13px solid transparent;
				border-top-color: red;
				top: 100%;
				left: 7px;
			}
</style>
<script src="@Scripts.Url("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>

@using (Html.BeginForm("Edit", "CapacLinha", FormMethod.Post, new { @class = "form-inline", @role = "form", @id = "frmOrigem", @name = "frmOrigem" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<div class="row" style="margin-bottom: 5px;">
		<div class="col-sm-4">
			<label for="DatProducao">Mês</label>
			@if (editar)
			{
			@Html.TextBoxFor(model => model.DatProducao, new { disabled = "disabled", @style = "width: 85px;", @class = "form-control input-sm", @Value = data })
			}
			else
			{
			@Html.TextBoxFor(model => model.DatProducao, new { @style = "width: 85px;", @class = "form-control input-sm", @Value = data })
			}
		</div>
		<div class="col-sm-8">
			@Html.LabelFor(model => model.CodLinha, new { @style = "float: left; margin-top: 5px;" })
			<div class="input-group input-group-sm">
				@if (editar)
				{
				@Html.TextBoxFor(model => model.CodLinha, new { @disabled = "disabled", @style = "width: 70px", @class = "form-control" })
				}
				else
				{
				@Html.TextBoxFor(model => model.CodLinha, new { @style = "width: 70px", @class = "form-control" })
				}
				@Html.TextBoxFor(model => model.DescricaoLinha, new { @disabled = "disabled", @class = "input-group-addon", @style = "width: 125px;" })
			</div>
			@Html.ValidationMessageFor(model => model.CodLinha)
		</div>
	</div>

	<div class="row" style="margin-bottom: 5px;">
		<div class="col-sm-12">
			@Html.LabelFor(model => model.CodModelo)
			<div class="input-group input-group-sm">
				@if (editar)
				{
				@Html.TextBoxFor(model => model.CodModelo, new { @disabled = "disabled", @style = "width: 60px", @class = "form-control" })
				}
				else
				{
				@Html.TextBoxFor(model => model.CodModelo, new { @style = "width: 60px", @class = "form-control" })
				}
				@Html.TextBoxFor(model => model.DescricaoModelo, new { @disabled = "disabled", @style = "width: 288px", @class = "input-group-addon" })
			</div>
			@Html.ValidationMessageFor(model => model.CodModelo)
		</div>
	</div>

	<div class="row" style="margin-bottom: 5px;">
		<div class="col-sm-6">
			@Html.LabelFor(model => model.QtdCapacLinha)
			@Html.TextBoxFor(model => model.QtdCapacLinha, new { @class="form-control input-sm text-right", @style = "width: 60px" })
			@Html.ValidationMessageFor(model => model.QtdCapacLinha)
		</div>
		<div class="col-sm-6">
			@Html.LabelFor(model => model.QtdCapacMaxima)
			@Html.TextBoxFor(model => model.QtdCapacMaxima, new { @class = "form-control input-sm text-right", @style = "width: 52px" })
			@Html.ValidationMessageFor(model => model.QtdCapacMaxima)
		</div>
	</div>
	<div class="row">
		<div class="col-sm-7">
			<label class="control-label" for="PostoEntrada">Posto de Entrada</label>
			<select name="PostoEntrada" id="PostoEntrada" class="form-control input-sm">
				<option value="" @if (postoEntrada == null) { Write("selected"); }>Não configurado</option>
				<option value="false" @if (postoEntrada == false) { Write("selected"); }>Primeiro Posto</option>
				<option value="true" @if (postoEntrada == true) { Write("selected"); }>Último Posto</option>
			</select>
		</div>
		<div class="col-sm-4">
			@Html.LabelFor(model => model.NumTurno)
			@Html.TextBoxFor(model => model.NumTurno, new { @class = "form-control input-sm text-right", @style = "width: 65px" })
			@Html.ValidationMessageFor(model => model.NumTurno)
		</div>

	</div>

	<div class="row" style="margin-top: 10px;">
		<div class="col-sm-6 col-sm-offset-6">
			<div class="btn-group">
				<input type="button" onclick="$('#dialog-edit').dialog('close');" class="btn btn-danger" value="Cancelar" />
				<input type="button" value="Gravar" class="btn btn-danger" onclick="gravar()" />
			</div>
		</div>
	</div>

}

<script>

	jQuery(function ($) {
		$("#CodLinha").mask("999.99-9", { placeholder: " " });
		$("#QtdCapacLinha").focus();
	});

	function gravar() {
		$("#DatProducao").removeAttr("disabled");
		$("#CodLinha").removeAttr("disabled");
		$("#CodModelo").removeAttr("disabled");
		$("#DescricaoLinha").removeAttr("disabled");
		$("#DescricaoModelo").removeAttr("disabled");

		$.ajax({
			type: "POST",
			url: "/CapacLinha/Edit/",
			data: $("#frmOrigem").serialize(),
			dataType: "json",
			success: function (json) {
				alert(json.message);
				btnEnviar_Click();
				$('#dialog-edit').dialog('close');
				/*if (json == true) {
					alert("Capacidade alterada com sucesso.");
					document.location.href = "/Outros/CapacLinha/";
				} else {
					alert("Não foi possível gravar.");
				}*/
			},
			error: function (xhr) {
				alert("Não foi possível alterar: " + xhr);
			}
		});
	}

</script>
