﻿@model IEnumerable<SEMP.Model.DTO.CapacLinhaDTO>

@{
	ViewBag.Title = "Listagem de Capacidade";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Cadastro de Capacidade";

	var mesAtual = DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).ToString("MM/yyyy");

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin { CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = "" };

	//var depto = retornologin.Depto ?? "";
	var acessoCapac = SEMP.Helpers.Extensions.Permissao("CadCapacidade", retornologin);
}

<style>
	.ui-datepicker-calendar
	{
		display: none;
	}
	.ui-datepicker
	{
		width: 200px !important;
	}
</style>
<script src="@Scripts.Url("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>

@Scripts.Render("~/bundles/excelexport")

<h3>@ViewBag.Title</h3>

<div id="dialog-edit" style="display: none; top: 10px;"></div>


<form name="frmRelatorio" action="/Outros/CapacLinha/" method="POST" class="form-inline">
	<div class="row">
		<div class="col-md-2">
			<label>Mês Ref:</label>
			<input type="text" name="dataProd" id="dataProd" value="@mesAtual" class="form-control" style="width:80px !important;"/>
		</div>
		<div class="col-md-2" style="width: 230px;">
			<label style="float: left; margin-top: 5px;">Linha: </label>
			<div class="input-group input-group-sm">
				<input type="text" name="pCodLinha" id="pCodLinha" class="form-control" style="width: 60px;"/>
				<input type="text" name="pDesLinha" id="pDesLinha" class="input-group-addon" style="width: 100px;" disabled="disabled" />
			</div>
		</div>
		<div class="col-md-3">
			<label style="float: left; margin-top: 5px; ">Modelo&nbsp;:</label>
			<div class="input-group input-group-sm">
				<input type="text" name="pCodModelo" id="pCodModelo" class="form-control" style="width: 60px;"/>
				<input type="text" name="pDesModelo" id="pDesModelo" class="input-group-addon" style="width: 150px;" disabled="disabled" />
			</div>
		</div>
		<div class="col-md-4">
			<div class="btn-group">
				<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="btn btn-sm btn-success" />
				@if (acessoCapac)
				{<input type="button" name="btnNovo" id="btnNovo" value="Novo" class="btn btn-sm btn-danger" />}
				<input type="button" name="btnEnviar" value="Consultar" class="btn btn-sm btn-danger" onclick="btnEnviar_Click();" />
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-md-2">
            <label>Mês Destino:</label>
            <input type="text" name="dataDest" id="dataDest" value="@mesAtual" class="form-control" style="width:80px !important;" />
        </div>
        <div class="col-md-2" style="margin-left: -60px;">
            @if (acessoCapac){<input type="button" name="btnClonar" id="btnClonar" value="Clonar" class="btn btn-sm btn-danger" />}
        </div>
        <div class="col-md-8">&nbsp;</div>
    </div>
</form>

<div id="conteudo"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>


<script>
	var url = "";

	$(document).ready(function() {

		$("#dataProd").datepicker(
		{
			changeMonth: true,
			changeYear: true,
			showButtonPanel: true,
			dateFormat: 'mm/yy',

			onClose: function() {
				var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
				var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
				$(this).datepicker('setDate', new Date(iYear, iMonth, 1));
			}

		});

		$("#dataDest").datepicker(
        {
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'mm/yy',

            onClose: function () {
                var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
            }

        });


		$("#btnExportar").click(function() {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});
		});

		$("#dialog-edit").dialog({
			title: 'Editar Capacidade',
			autoOpen: false,
			resizable: false,
			width: 500,
			height: 230,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function(event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		$("#btnNovo").on("click", function(e) {
			url = "/Outros/CapacLinha/Edit/";
			$(".ui-dialog-title").html("Nova Capacidade");
            $("#dialog-edit").dialog('open');
            $("#dialog-edit").css("height", 230);

			return false;
		});

		$("#btnClonar").on("click", function (e) {

		    var mes = $("#dataProd").val();
		    var mesDest = $("#dataDest").val();

			if (mesDest == mes) {
				alert("Não é possível clonar o próprio mês");
				return false;
			}

			var r = confirm("Confirma clonar esse mês?");

			if (r == true) {

				$.ajax({
					type: "GET",
					url: "/Outros/CapacLinha/ClonarMes/",
					data: { mesRef: mes, mesDest: mesDest},
					success: function (data) {
						alert("Mês clonado!");
					}
				});
			}

			return false;
		});

		$("#pCodLinha").mask("999.99-9");
		$("#pCodLinha").blur(function () {
			$("#pDesLinha").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoLinha/",
				data: { CodLinha: $("#pCodLinha").val() },
				success: function (data) {
					$("#pDesLinha").val(data);
				}
			});
		});

		$("#pCodModelo").blur(function () {
			$("#pDesModelo").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: $("#pCodModelo").val() },
				success: function (data) {
					$("#pDesModelo").val(data);
				}
			});
		});

		btnEnviar_Click();

	});

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			url: "/Outros/CapacLinha/Lista/",
			data: {
				dataProd: $("#dataProd").val(),
				codModelo: $("#pCodModelo").val(),
				codLinha: $("#pCodLinha").val(),
			},
			success: function (data) {
				$("#conteudo").html(data);
				$(".linkEdit").on("click", function (e) {
					// e.preventDefault(); use this or return false
					url = $(this).attr('href');
					$(".ui-dialog-title").html("Editar Capacidade");
					$("#dialog-edit").dialog('open');
					$("#dialog-edit").css("height", 230);

					return false;
				});

				$(".lnkDelete").on("click", function (e) {
					url = $(this).attr('href');
					$(".ui-dialog-title").html("Deletar Capacidade");
					$("#dialog-edit").dialog('open');
					$("#dialog-edit").css("height", 180);

					return false;
				});
				$('a').tooltip();
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

</script>