﻿@model IEnumerable<SEMP.Model.DTO.CapacLinhaDTO>
@{
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin { CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = "" };

	//var depto = retornologin.Depto ?? "";
	var acessoCapac = SEMP.Helpers.Extensions.Permissao("CadCapacidade", retornologin);

}
<table class="table-semp smallrow" id="tblDados" style="width: 700px; margin-top: 10px;">
	<thead>
		<tr>
			@if (acessoCapac){<th style="width: 45px;"></th>}
			<th style="">@Html.DisplayNameFor(model => model.CodLinha)</th>
			<th>@Html.DisplayNameFor(model => model.DescricaoModelo)</th>
			<th style="">@Html.DisplayNameFor(model => model.QtdCapacLinha)</th>
			<th style="">@Html.DisplayNameFor(model => model.QtdCapacMaxima)</th>
			<th style="">@Html.DisplayNameFor(model => model.NumTurno)</th>
			<th style="">Posto Entrada</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		var postoentrada = (item.PostoEntrada != null && item.PostoEntrada == false) ? "Primeiro" : (item.PostoEntrada == null) ? "Não Configurado" : "Último";

		<tr>
			@if (acessoCapac){<td>
				@Html.ActionLink(" ", "Edit", new { dataProd = item.DatProducao.ToShortDateString(), codLinha = item.CodLinha, codModelo =item.CodModelo }, new { @class = "linkEdit glyphicon glyphicon-edit", @title="Editar registro" }) |
				@Html.ActionLink(" ", "Delete", new { dataProd = item.DatProducao.ToShortDateString(), codLinha = item.CodLinha, codModelo =item.CodModelo }, new { @class = "lnkDelete linkEdit glyphicon glyphicon-remove", @title="Remover" })
			</td>}
			<td>@Html.DisplayFor(modelItem => item.DescricaoLinha)</td>
			<td>@Html.DisplayFor(modelItem => item.DescricaoModelo)</td>
			<td>@Html.DisplayFor(modelItem => item.QtdCapacLinha)</td>
			<td>@Html.DisplayFor(modelItem => item.QtdCapacMaxima)</td>
			<td>@Html.DisplayFor(modelItem => item.NumTurno)</td>
			<td>@postoentrada</td>
		</tr>
	}
	</tbody>
</table>
<br /><br/>
