﻿@model SEMP.Model.DTO.CBCadCausaDTO

@using (Html.BeginForm("Create", "Causa", FormMethod.Post, new { @class = "form-inline", @role = "form", @name = "frmCausa", id = "frmCausa" }))
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.CodCausa)

		<div class="row">
			<div class="form-group">
				<div class="input-group" style="margin-left: 15px; width: 350px;">
					@Html.LabelFor(model => model.DesCausa)
					@Html.TextBoxFor(model => model.DesCausa, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.DesCausa)
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				@Html.LabelFor(model => model.flgIMC, new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<input type="checkbox" name="flgIMC" id="flgIMC" value="1" />
					@Html.ValidationMessageFor(model => model.flgIMC)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.flgMONTAGEM, new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<input type="checkbox" name="flgMONTAGEM" id="flgMONTAGEM" value="1" />
					@Html.ValidationMessageFor(model => model.flgMONTAGEM)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.flgAtivo, new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<input type="checkbox" name="flgAtivo" id="flgAtivo" value="S" />
					@Html.ValidationMessageFor(model => model.flgAtivo)
				</div>
			</div>
		</div>
		<div style="margin-top: 10px; display: inline-block;">
			@Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
		</div>
		<div style="display: inline-block;">
			<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravarDefeito()" />
		</div>
	</div>
}
<script>
	function gravarDefeito() {
		$.ajax({
			type: "POST",
			url: "/Causa/Create/",
			data: $("#frmCausa").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Causa inserida com sucesso.");
					$("#DesCausa").val("");
					$("#flgIMC").attr("checked", false);
					$("#flgMONTAGEM").attr("checked", false);
					$("#flgAtivo").attr("checked", false);
				} else {
					alert("Não foi possível gravar.");
				}
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr);
			}
		});
	}

</script>

