﻿@model SEMP.Model.DTO.CBCadCausaDTO

<h3>Confirma apagar a causa?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.CodCausa)</dt>
		<dd>@Html.DisplayFor(model => model.CodCausa)</dd>
		<dt>@Html.DisplayNameFor(model => model.DesCausa)</dt>
		<dd>@Html.DisplayFor(model => model.DesCausa)</dd>
	</dl>
	@using (Html.BeginForm())
 {
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			@Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
			<input type="submit" value="Remover" class="bttn bttn-sm bttn-red" />
		</div>
 }
</div>
