﻿@model SEMP.Model.DTO.CBCadCausaDTO

@using (Html.BeginForm("Edit", "Causa", FormMethod.Post, new { @class = "form-inline", @role = "form", @name="frmCausa", @id="frmCausa" }))
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)

		<div class="row">
			<div class="form-group">
				<div class="input-group" style="margin-left: 15px; width: 60px; float: left;">
					@Html.LabelFor(model => model.CodCausa)
					@Html.TextBoxFor(model => model.CodCausa, new { @class = "form-control", @readonly="readonly" })
					@Html.ValidationMessageFor(model => model.CodCausa)
				</div>
				<div class="input-group" style="margin-left: 15px; width: 250px; float: right;">
					@Html.LabelFor(model => model.DesCausa)
					@Html.TextBoxFor(model => model.DesCausa, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.DesCausa)
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				@Html.LabelFor(model => model.flgIMC, new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<input type="checkbox" name="flgIMC" id="flgIMC" value="1"   @{if (Model.flgIMC == 1) { Write("checked"); }} />
					@Html.ValidationMessageFor(model => model.flgIMC)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.flgMONTAGEM, new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<input type="checkbox" name="flgMONTAGEM" id="flgMONTAGEM" value="1"  @{if (Model.flgMONTAGEM == 1) { Write("checked"); }} />
					@Html.ValidationMessageFor(model => model.flgMONTAGEM)
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.flgAtivo, new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					<input type="checkbox" name="flgAtivo" id="flgAtivo" value="S"  @{if (Model.flgAtivo != null && Model.flgAtivo.Equals("S")) { Write("checked"); }} />
					@Html.ValidationMessageFor(model => model.flgAtivo)
				</div>
			</div>
		</div>
		

		<div style="margin-top: 10px; display: inline-block;">
			@Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
		</div>
		<div style="display: inline-block;">
			<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravarDefeito()" />
		</div>
	</div>
}

<script>
	function gravarDefeito() {
		$.ajax({
			type: "POST",
			url: "/Causa/Edit/",
			data: $("#frmCausa").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Causa alterada com sucesso.");
					document.location.href = "/Coleta/Causa/";
				} else {
					alert("Não foi possível gravar.");
				}
			},
			error: function (xhr) {
				alert("Não foi possível alterar: " + xhr);
			}
		});
	}

</script>

