﻿@model IEnumerable<SEMP.Model.DTO.CBCadCausaDTO>

@{
	ViewBag.Title = "Listagem de Causas";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Causa";

	var flgAtivo = "";
	var flgInativo = "";
	var flgTodos = "";

	if (Request.QueryString.HasKeys() || Request.Form.HasKeys())
	{
		if (!String.IsNullOrEmpty(Request["FlgAtivo"]) && Request["FlgAtivo"].Equals("T"))
		{
			flgTodos = "checked";
		}
		else if (!String.IsNullOrEmpty(Request["FlgAtivo"]) && Request["FlgAtivo"].Equals("I"))
		{
			flgInativo = "checked";
		}
		else
		{
			flgAtivo = "checked";
		}
	}
	else
	{
		flgAtivo = "checked";
	}
}
@Scripts.Render("~/bundles/excelexport")

<h3>@ViewBag.Title</h3>

<div id="dialog-edit" style="display: none; top: 10px;"></div>

<form method="POST" name="frmRelatorio" action="/Coleta/Causa/"	>
	<div class="row" style="margin: 15px;">
		<div class="row">
			<div class="col-xs-25 col-v">
				<div class="col-xs-6">
					<div class="input-group input-group-sm">
						<span class="input-group-addon">
							<input type="radio" name="FlgAtivo" value="A" @flgAtivo /> Ativos
							<input type="radio" name="FlgAtivo" value="I" @flgInativo /> Inativos
							<input type="radio" name="FlgAtivo" value="T" @flgTodos /> Todos
						</span>
						<input type="text" class="form-control" value="Ativos" style="border: none;" />
					</div>
				</div>
				<div class="col-xs-15" style="float: right; text-align: right;">
					<input type="hidden" name="flag" value ="1" />
					<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
					<input type="button" name="btnNovo" id="btnNovo" value="Novo" class="bttn bttn-sm bttn-red" />
					<input type="button" name="btnImprimir" id="btnImprimir" value="Imprimir" class="bttn bttn-sm bttn-red" />
					<input type="submit" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" />
				</div>
			</div>
		</div>
	</div>
</form>
<table class="table-semp smallrow" id="tblDados">
	<thead>
		<tr>
			<th style="width: 100px;"></th>
			<th style="width: 50px;"><img src="~/Content/images/imprimir_white.png" width="12" height="12" /></th>
			<th style="width: 80px;">@Html.DisplayNameFor(model => model.CodCausa)</th>
			<th>@Html.DisplayNameFor(model => model.DesCausa)</th>
			<th style="width: 80px;">@Html.DisplayNameFor(model => model.flgIMC)</th>
			<th style="width: 80px;">@Html.DisplayNameFor(model => model.flgMONTAGEM)</th>
			<th style="width: 80px;">@Html.DisplayNameFor(model => model.flgAtivo)</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		<tr>
			<td>@Html.ActionLink("Alterar", "Edit", new { codCausa = item.CodCausa }, new { @class = "lnkEdit" }) |
				@Html.ActionLink("Apagar", "Delete", new { codCausa = item.CodCausa }, new { @class = "lnkEdit" })
			</td>
			<td style="text-align: center;"><input type="checkbox" name="chkCausa[]" value="@item.CodCausa" /></td>
			<td style="text-align: center;">@Html.DisplayFor(modelItem => item.CodCausa)</td>
			<td>@Html.DisplayFor(modelItem => item.DesCausa)</td>
			<td style="text-align: center;"><input type="checkbox" name="flgIMC" readonly="readonly" @{if (item.flgIMC == 1) { Write("checked"); }} /> </td>
			<td style="text-align: center;"><input type="checkbox" name="flgMontagem" readonly="readonly" @{if (item.flgMONTAGEM == 1 ) { Write("checked"); }} /></td>
			<td style="text-align: center;"><input type="checkbox" name="flgAtivo" readonly="readonly" @{if(!String.IsNullOrEmpty(item.flgAtivo) && item.flgAtivo.Equals("S")){Write("checked");}} /></td>
		</tr>
	}
	</tbody>
</table>
<br/><br/>

<script>
	$(document).ready(function () {
		$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});
		});

		var url = "";

		$("#dialog-edit").dialog({
			title: 'Editar Causa',
			autoOpen: false,
			resizable: false,
			width: 400,
			height: 200,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		$(".lnkEdit").on("click", function (e) {
			// e.preventDefault(); use this or return false
			url = $(this).attr('href');
			$(".ui-dialog-title").html("Editar causa");
			$("#dialog-edit").dialog('open');

			return false;
		});

		$("#btnNovo").on("click", function (e) {
			// e.preventDefault(); use this or return false
			url = "/Coleta/Causa/Create/";
			$(".ui-dialog-title").html("Nova causa");
			$("#dialog-edit").dialog('open');

			return false;
		});

		$("#btnclose").on("click", function (e) {
			$("#dialog-edit").dialog("close");
			return false;
		});

		$("#btnImprimir").on("click", function (e) {
			var checkbox = $('input:checkbox[name^=chkCausa]:checked');
			var causas = "";

			if (checkbox.length > 0) {
				var val = [];

				checkbox.each(function() {
					val.push($(this).val());
					causas += "|" + $(this).val();
				});

			}
			window.open("/Coleta/Causa/print/?causas=" + causas);
			return false;
		});

	});

</script>