﻿@model IEnumerable<SEMP.Model.DTO.CBCadCausaDTO>

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Listagem de Causa</title>
	@Styles.Render("~/Content/csssite")
	<style type="text/css">
		.barracod
		{
			font-family: 'c39hrp36dlttnormal', 'c39hrp36dltt';
			font-size: 28px;
			text-align: center;
		}

		.printHeader
		{
			width: 650px;
			height: 15px;
			font-weight: bold;
			font-size: 18px;
			text-align: center;
			margin: 5px;
		}

		div.wrapper
		{
			width: 650px;
		}

		.cancelar
		{
			bottom: 0;
			clear: both;
			height: 20px;
		}

		#container
		{
			margin: auto;
		}

		.item
		{
			width: 200px;
			height: 100px;
		}
	</style>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/freewall")
</head>
<body>

	<div class="printHeader">TABELA DE CAUSA DE DEFEITO </div>
	<br />
	<div class="wrapper" style="margin: 10px;">
		<div id="container">
			@foreach (var item in Model)
   {

				<div class="item">
					<div class="barracod">
						*@item.CodCausa.Trim()*
					</div>
					<div style="font-size: small; text-align: left;">
						@item.CodCausa - @item.DesCausa
					</div>
				</div>
   }
		</div>
		<hr />
		<div class="cancelar">
			<div class="barracod" style="text-align: right;">
				*CANCELAR*
			</div>
			<div id="imprimir" style="text-align: right; margin-top: 20px;">
				<a href="#" onclick="$('#imprimir').css('visibility', 'hidden'); window.print(); $('#imprimir').css('visibility', 'visible');">Imprimir</a> &nbsp;&nbsp;&nbsp;
						<a href="#" onclick="window.close();">Fechar</a>			</div>
		</div>
	</div>
</body>
</html>
<script>
	var wall = new freewall("#container");

	$(function () {
		wall.fitWidth();
	});

	$(window).resize(function () {
		wall.fitWidth();
	});
</script>
