﻿@model IEnumerable<SEMP.Model.DTO.CBRastreiaPCIDTO>

@{
	var layout = Request["layout"];
	if (layout != null && layout != "")
	{
		Layout = "~/Views/Shared/_Layout.cshtml";
	}

	var Codigo = Request["Codigo"];

	String Modelo = "";

	if (Model != null && Model.Any())
	{
		Modelo = Model.FirstOrDefault().DesModelo;
	}

	var datas = Model.GroupBy(y => new { y.Setor, y.Fase }).Select(x => new { Setor = x.Key.Setor, Fase = x.Key.Fase, Linha = x.Min(w => w.CodLinha), DatIni = x.Min(z => z.DatEvento), DatFim = x.Max(z => z.DatEvento) });

}

<br />
<div style="width: 550px; text-align: left;">
	<table class="table-semp blue smallrow" id="tblDados">
		<caption>Num. Série: @Codigo - @Modelo</caption>
		<thead>
			<tr>
				<th colspan="2">Linha</th>
				<th>Posto</th>
				<th>Data Leitura</th>
				<th>Operador</th>
				<th>Defeito</th>
			</tr>
		</thead>
		<tbody>
			@{
				var fases = Model.GroupBy(x => new { x.Setor, x.SetorOrdem }).Select(x => new { x.Key.Setor, x.Key.SetorOrdem }).Where(x => !String.IsNullOrEmpty(x.Setor)).OrderBy(x => x.SetorOrdem).ToList();
				var setores = Model.GroupBy(x => new { x.SetorOrdem, x.Fase }).Select(x => new { x.Key.SetorOrdem, x.Key.Fase }).Select(x => new { x.SetorOrdem, x.Fase }).ToList();
				var linhas = Model.GroupBy(x => x.CodLinha).Select(x => x.Key).ToList();

				foreach (var fase in fases)
				{
				<tr>
					<td colspan="6"><b>@fase.Setor</b></td>
				</tr>

					foreach (var setor in setores.Where(x => x.SetorOrdem == fase.SetorOrdem))
					{
						if (setor.Fase != fase.Setor)
						{
						<tr>
							<td style="width: 10px;"></td>
							<td colspan="5"><b>@setor.Fase</b></td>
						</tr>
						}
						foreach (var item in Model.Where(x => x.Setor == fase.Setor && x.Fase == setor.Fase))
						{
						<tr>
							<td>&nbsp;</td>
							<td>@Html.DisplayFor(modelItem => item.CodLinha) - @Html.DisplayFor(modelItem => item.DesLinha)</td>
							<td>@Html.DisplayFor(modelItem => item.NumPosto) - @Html.DisplayFor(modelItem => item.DesPosto)</td>
							<td>@Html.DisplayFor(modelItem => item.DatEvento)</td>
							<td>@Html.DisplayFor(modelItem => item.NomFuncionario)</td>
							<td><input type="checkbox" style="margin: 0;" title="@item.CodDefeito - @RAST.BO.Rastreabilidade.Defeito.ObterDesDefeito(item.CodDefeito)" name="Defeito" @if (!String.IsNullOrEmpty(item.CodDefeito)) { Write("checked"); } /></td>
						</tr>
						}

						var tempo2 = datas.Where(x => x.Setor == fase.Setor && x.Fase == setor.Fase).Select(x => RAST.BO.Rastreabilidade.TempoAtravessamentoBO.ObterDifHora(x.DatIni.Value, x.DatFim.Value, x.Linha.Value)).FirstOrDefault();

						<tr>
							<td></td>
							<td colspan="5" style="background-color: gray; color: white; font-weight: bold;">Tempo corrido total de produção: @tempo2 min</td>
						</tr>
					}
				}
			}
		</tbody>
	</table>
</div>

<br /><br />
