﻿@model IEnumerable<SEMP.Model.DTO.CBRastreiaPCIDTO>

@{
	ViewBag.Title = "Rastreamento de Série";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Rastreia";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var Codigo = Request["Codigo"];

	String Modelo = "";

	if (Model != null && Model.Any())
	{
		Modelo = Model.FirstOrDefault().DesModelo;
	}

}
@Scripts.Render("~/bundles/excelexport")

<h3>@ViewBag.Title</h3>

	<form name="frmRelatorio" id="frmRelatorio" action="/Coleta/Rastreia/" method="post" style="margin-bottom: 10px;" class="form-inline">
		<div class="row">
			<div class="col-md-6">
				<label>Cód. PCI / Mac ADDRESS / Num. Série:</label>
				<input type="text" name="Codigo" id="Codigo" value="@Codigo" class="form-control" size="20" />
			</div>
			<div class="col-md-4">
				<div class="btn-group">
					<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="btn btn-success" />
					<input type="submit" name="btnEnviar" value="Consultar" class="btn btn-danger" />
				</div>
			</div>
		</div>
	</form>

<br/>
<div style="width: 550px; text-align: left;">
	<table class="table-semp blue smallrow" id="tblDados">
		<caption>@Modelo</caption>
		<thead>
			<tr>
				<th>Linha</th>
				<th>Posto</th>
				<th>Data Leitura</th>
				<th>Operador</th>
				<th>Defeito</th>
			</tr>
		</thead>
		<tbody>
			@{
				var fases = Model.GroupBy(x => x.Setor).Select(x => x.Key).Where(x => !String.IsNullOrEmpty(x)).ToList();

				foreach (var fase in fases)
				{
					<tr>
						<td colspan="5"><b>@fase</b></td>
					</tr>

					foreach (var item in Model.Where(x => x.Setor == fase))
					{
						<tr>
							<td>@Html.DisplayFor(modelItem => item.CodLinha) - @Html.DisplayFor(modelItem => item.DesLinha)</td>
							<td>@Html.DisplayFor(modelItem => item.NumPosto) - @Html.DisplayFor(modelItem => item.DesPosto)</td>
							<td>@Html.DisplayFor(modelItem => item.DatEvento)</td>
							<td>@Html.DisplayFor(modelItem => item.NomFuncionario)</td>
							<td><input type="checkbox" style="margin: 0;" name="Defeito" @if (!String.IsNullOrEmpty(item.CodDefeito))
							                                                             {
								                                                             Write("checked");
							                                                             } /></td>
						</tr>
					}
				}
			}
		</tbody>
	</table>
</div>

<br/><br/>

<script>

	$("#btnExportar").click(function () {

		$("#tblDados").btechco_excelexport({
			containerid: "tblDados"
			, datatype: $datatype.MVC
		});
	});

</script>