﻿@{
	ViewBag.Title = "Rastreamento de Produto Acabado";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Rastreia Item";
	
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var serie = Request["serie"];

}

<script type="text/javascript">

    var serie = "@serie";

    $(document).ready(function () {

		$("#txtLeitura").focus();

		$('#txtLeitura').keypress(function (evt) {
			if (evt.keyCode == 13) {
				fn_rastrear();
			}
		});

		$('#btnEnviar').click(function () {
			fn_rastrear();
		});

        if (serie.length > 0) {
            fn_rastrear();
        }
	});

	function fn_rastrear() {

	    var leitura = $('#txtLeitura').val();

		fn_RastrearPassagem(leitura);

		fn_RastrearPassagemHist(leitura);

		fn_RastrearDefeito(leitura);

		fn_RastrearAmarracao(leitura);

		fn_RastrearAmarracaoHist(leitura);

		fn_RastrearEmbalagem(leitura);

		fn_RastrearDAT(leitura)
	}

	function fn_RastrearPassagem(leitura) {
		//Passagem
		$.ajax({
			type: "GET",
			url: "/Posto/RastrearPassagem?NumSerie=" + leitura,
			dataType: "json",
			cache: false,
			async: true,
			beforeSend: function () {
				$("#tbListaPassagem tbody").html("<tr><td>Carregando...</td></tr>");
			},
			success: function (data) {

				var html = "";

				$("#tbListaPassagem tbody").html(html);

				if (data.length > 0) {
					$.each(data, function (i, item) {
						html = "<tr>" +
									"<td>" + item.Linha + "</td>" +
									"<td>" + item.Posto + "</td>" +
									"<td>" + item.Data + "</td>" +
									"<td>" + item.NomeOperador + "</td>" +
							   "</tr>";

						$("#tbListaPassagem tbody").append(html);
					});
				}
				else {
					$("#tbListaPassagem tbody").html("<tr><td>Nenhum registro encontrado.</td></tr>");
				}
			}
		});
	}

	function fn_RastrearAmarracao(leitura) {
		//Amarracao
		$.ajax({
			type: "GET",
			url: "/Posto/RastrearAmarracao?NumSerie=" + leitura,
			dataType: "json",
			cache: false,
			async: true,
			beforeSend: function () {
				$("#tbListaAmarracao tbody").html("<tr><td>Carregando...</td></tr>");
			},
			success: function (data) {

				var html = "";

				$("#tbListaAmarracao tbody").html(html);

				if (data.length > 0) {

					$.each(data, function (i, item) {

						html = "<tr>" +
									"<td>" + item.NumSerie + "</td>" +
									"<td>" + item.Item + "</td>" +
									"<td>" + item.Tipo + "</td>" +
									"<td>" + item.Linha + "</td>" +
									"<td>" + item.Posto + "</td>" +
									"<td>" + item.Data + "</td>" +
							   "</tr>";

						$("#tbListaAmarracao tbody").append(html);
					});
				}
				else {
					$("#tbListaAmarracao tbody").html("<tr><td>Nenhum registro encontrado.</td></tr>");
				}
			}
		});
	}

	function fn_RastrearDefeito(leitura) {

		//Defeito
		$.ajax({
			type: "GET",
			url: "/Posto/RastrearDefeito?NumSerie=" + leitura,
			dataType: "json",
			cache: false,
			async: true,
			beforeSend: function () {
				$("#tbListaDefeito tbody").html("<tr><td>Carregando...</td></tr>");
			},
			success: function (data) {

				var html = "";

				$("#tbListaDefeito tbody").html(html);

				if (data.length > 0) {

					$.each(data, function (i, item) {
						html = "<tr>" +
									"<td>" + item.Linha + "</td>" +
									"<td>" + item.Posto + "</td>" +
									"<td>" + item.DataDefeito + "</td>" +
									"<td>" + item.CodDefeito + "</td>" +
									"<td>" + item.Status + "</td>" +
									"<td>" + item.Acao + "</td>" +
									"<td>" + item.DataReparo + "</td>" +
									"<td>" + item.OperadorApontouDefeito + "</td>" +
									"<td>" + item.OperadorTecnico + "</td>" +
                                    "<td>" + item.Posicao + "</td>" +
							   "</tr>";
						$("#tbListaDefeito tbody").append(html);
					});
				}
				else {
					$("#tbListaDefeito tbody").html("<tr><td>Nenhum registro encontrado.</td></tr>");
				}
			}
		});
	}

	function fn_RastrearPassagemHist(leitura) {
		//Passagem
		$.ajax({
			type: "GET",
			url: "/Posto/RastrearPassagemHist?NumSerie=" + leitura,
			dataType: "json",
			cache: false,
			async: true,
			beforeSend: function () {
				$("#tbListaPassagemHist tbody").html("<tr><td>Carregando...</td></tr>");
			},
			success: function (data) {

				var html = "";

				$("#tbListaPassagemHist tbody").html(html);

				if (data.length > 0) {
					$.each(data, function (i, item) {
						html = "<tr>" +
									"<td>" + item.Linha + "</td>" +
									"<td>" + item.Posto + "</td>" +
									"<td>" + item.Data + "</td>" +
									"<td>" + item.NomeOperador + "</td>" +
							   "</tr>";

						$("#tbListaPassagemHist tbody").append(html);
					});
				}
				else {
					$("#tbListaPassagemHist tbody").html("<tr><td>Nenhum registro encontrado.</td></tr>");
				}
			}
		});
	}

	function fn_RastrearAmarracaoHist(leitura) {
		//Passagem
		$.ajax({
			type: "GET",
			url: "/Posto/RastrearAmarracaoHist?NumSerie=" + leitura,
			dataType: "json",
			cache: false,
			async: true,
			beforeSend: function () {
				$("#tbListaAmarracaoHist tbody").html("<tr><td>Carregando...</td></tr>");
			},
			success: function (data) {

				var html = "";

				$("#tbListaAmarracaoHist tbody").html(html);

				if (data.length > 0) {
					$.each(data, function (i, item) {
						html = "<tr>" +
									"<td>" + item.NumSerie + "</td>" +
									"<td>" + item.Item + "</td>" +
									"<td>" + item.Tipo + "</td>" +
									"<td>" + item.Linha + "</td>" +
									"<td>" + item.Posto + "</td>" +
									"<td>" + item.Data + "</td>" +
							   "</tr>";

						$("#tbListaAmarracaoHist tbody").append(html);
					});
				}
				else {
					$("#tbListaAmarracaoHist tbody").html("<tr><td>Nenhum registro encontrado.</td></tr>");
				}
			}
		});
	}

	function fn_RastrearEmbalagem(leitura) {
		//Passagem
		$.ajax({
			type: "GET",
			url: "/Posto/RastrearEmbalagem?NumSerie=" + leitura,
			dataType: "json",
			cache: false,
			async: true,
			beforeSend: function () {
				$("#tbListaEmbalagem tbody").html("<tr><td>Carregando...</td></tr>");
			},
			success: function (data) {

				var html = "";

				$("#tbListaEmbalagem tbody").html(html);

				if (data.length > 0) {
					$.each(data, function (i, item) {
						html = "<tr>" +
									"<td>" + item.Linha + "</td>" +
									"<td>" + item.Posto + "</td>" +
									"<td>" + item.Data + "</td>" +
									"<td>" + item.Lote + "</td>" +
									"<td>" + item.Modelo + "</td>" +
									"<td>" + item.Fabrica + "</td>" +
									"<td>" + item.Operador + "</td>" +
							   "</tr>";

						$("#tbListaEmbalagem tbody").append(html);
					});
				}
				else {
					$("#tbListaEmbalagem tbody").html("<tr><td>Nenhum registro encontrado.</td></tr>");
				}
			}
		});
	}

	function fn_RastrearDAT(leitura) {
		//Passagem
		$.ajax({
			type: "GET",
			url: "/Rastreia/ObterDadosOS/?NumSerie=" + leitura,
			dataType: "json",
			cache: false,
			async: true,
			beforeSend: function () {
				$("#tbListaDAT tbody").html("<tr><td>Carregando...</td></tr>");
			},
			success: function (data) {

				var html = "";

				$("#tbListaDAT tbody").html(html);

				if (data.length > 0) {
					$.each(data, function (i, item) {
						html = "<tr>" +
									"<td>" + item.NumOS + "</td>" +
									"<td>" + item.DatOS + "</td>" +
									"<td>" + item.CodItem + "</td>" +
									"<td>" + item.DesItem + "</td>" +
									"<td>" + item.DesDefExec + "</td>" +
									"<td>" + item.DesDefPeca + "</td>" +
									"<td>" + item.Posicao + "</td>" +
									"<td>" + item.Quantidade + "</td>" +
									"<td>" + item.DefReclamado + "</td>" +
									"<td>" + item.DefConstatado + "</td>" +
									"<td>" + item.NomTecnico + "</td>" +
									"<td>" + item.NomStatus + "</td>" +
							   "</tr>";

						$("#tbListaDAT tbody").append(html);
					});
				}
				else {
					$("#tbListaDAT tbody").html("<tr><td>Nenhum registro encontrado.</td></tr>");
				}
			}
		});
	}


</script>

<style type="text/css">

.grid-passagem {
	/*width: 45%;
	float: left; */
	border: solid 0px;
}

.grid-amarracao {
	/*width: 50%; 
	float: right; */
	/*border: solid 1px #808080;*/
}

.grid-defeito {
	margin-top: 20px;
	width: 100%; 
	float: left; 
	/*border: solid 1px #808080;*/
}

@@media only screen and (max-width: 800px) {
	.grid-passagem 
	{
		width: 100%;
	}

	.grid-amarracao
	{
		margin-top: 20px;
		float: left; 
		width: 100%;
	}

	.grid-defeito 
	{
		width: 100%;
	}
}

</style>



<form name="frmRelatorio" id="frmRelatorio" action="/Coleta/Rastreia/" method="post" onsubmit="return false;" class="row" style="margin-left: 0;">
	<h3>Rastrear Produto Acabado</h3>
	<div class="col-md-6 col-xs-16 col-top-4" style="float: left;">
		<label class="pull-left">Item:</label>
		<input type="text" name="txtLeitura" id="txtLeitura" value="@serie" class="form-control pull-left" />
	</div>
	<div class="col-md-2 col-xs-10">
		<input type="button" name="btnEnviar" id="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" />
	</div>
</form>

<div style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-6">
            <div class="grid-passagem">
                <h4>Passagem</h4>
                <table id="tbListaPassagem" style="width: 100%;" class="table-semp">
                    <thead>
                        <tr>
                            <th>Linha</th>
                            <th>Posto</th>
                            <th>Data/Hora</th>
                            <th>Operador</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <br />
                <h4>Desassociação/Passagem</h4>
                <table id="tbListaPassagemHist" style="width: 100%;" class="table-semp">
                    <thead>
                        <tr>
                            <th>Linha</th>
                            <th>Posto</th>
                            <th>Data/Hora</th>
                            <th>Operador</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <div class="grid-amarracao">
                <h4>Amarração</h4>
                <table id="tbListaAmarracao" style="width: 100%;" class="table-semp">
                    <thead>
                        <tr>
                            <th>Número de Série</th>
                            <th>Item</th>
                            <th>Tipo</th>
                            <th>Linha</th>
                            <th>Posto</th>
                            <th>Data/Hora</th>
                            @*<th>Operador</th>*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <br />
                <h4>Desassociação/Amarração</h4>
                <table id="tbListaAmarracaoHist" style="width: 100%;" class="table-semp">
                    <thead>
                        <tr>
                            <th>Número de Série</th>
                            <th>Item</th>
                            <th>Tipo</th>
                            <th>Linha</th>
                            <th>Posto</th>
                            <th>Data/Hora</th>
                            @*<th>Operador</th>*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </div>


</div>

<div>
	<div class="grid-defeito">
		<h4>Defeito</h4>
		<table id="tbListaDefeito" style="width: 100%;" class="table-semp">
			<thead>
				<tr>
					<th>Linha</th>
					<th>Posto</th>
					<th>Data/Hora Defeito</th>
					<th>Código do Defeito</th>
					<th>Status</th>
					<th>Ação</th>
					<th>Data/Hora Reparo</th>
					<th>Operador Apontou Defeito</th>
					<th>Técnico</th>
                    <th>Posição</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>

	<div class="grid-defeito" style="">
		<h4>Embalagem</h4>
		<table id="tbListaEmbalagem" style="width: 100%;" class="table-semp">
			<thead>
				<tr>
					<th>Linha</th>
					<th>Posto</th>
					<th>Data Leitura</th>
					<th>Lote</th>
					<th>Modelo</th>
					<th>Fábrica</th>
					<th>Operador</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
</div>

<div>
	<div class="grid-defeito" style="margin-bottom: 70px;">
		<h4>Oficina de Reparo (DAT)</h4>
		<table id="tbListaDAT" style="width: 100%;" class="table-semp">
			<thead>
				<tr>
					<th>NumOS</th>
					<th>Data</th>
					<th>Item</th>
					<th>Descrição</th>
					<th>Mão de Obra</th>
					<th>Defeito Peça</th>
					<th>Posição</th>
					<th>Qtde</th>
					<th>Reclamado</th>
					<th>Constatado</th>
					<th>Técnico</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>

<script>

	$("#btnExportar").click(function () {

		$("#tblDados").btechco_excelexport({
			containerid: "tblDados"
			, datatype: $datatype.MVC
		});
	});

</script>
