﻿@model SEMP.Model.DTO.CBCadSubDefeitoDTO

@{
	Layout = null;
	List<String> CodDefeito = new List<string>();	
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Novo defeito específico</title>
</head>
<body>
	@using (Html.BeginForm("Create", "Defeitos", FormMethod.Post, new { @class = "form-inline", @role = "form", @name = "frmDefeito", id = "frmDefeito" }))
 {
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
	
		<fieldset>
			<legend>Novo defeito</legend>
			@Html.HiddenFor(model => model.CodDefeito, new { @class = "form-control" })

			<div class="row" style="margin-left: 15px; margin-bottom: 5px;">

				<span>Selecione o Defeito Principal</span><br />
					<select id="cmbDefeito" name="codLinha">
					</select>
				<br />

				<div class="form-group">
					<div class="input-group" style="width: 313px;">
						Descrição do Defeito
						@Html.TextBoxFor(model => model.DesDefeito, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.DesDefeito)
					</div>
				</div>
			</div>

			<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
				<div class="form-group">
					<div class="input-group" style="width: 370px;">
						Descrição da Verificação
						@Html.TextBoxFor(model => model.DesVerificacao, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.DesVerificacao)
					</div>
				</div>
			</div>
			<div class="row" style="margin-left: 15px; margin-bottom: 5px;">

				<div class="form-group">
					<div class="input-group">
						Ativo
						<input type="checkbox" name="flgAtivo" id="flgAtivo" value="1" />
						@Html.ValidationMessageFor(model => model.flgAtivo)
					</div>
				</div>
			</div>

			<div style="margin-top: 10px; display: inline-block;">
				@Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravarDefeito()" />
			</div>
		</fieldset>
 }

</body>
</html>

<script>
	function gravarDefeito() {
		$.ajax({
			type: "POST",
			url: "/CadSubDefeito/GravarSubDefeito/",
			data: { CodDefeito: $("#cmbDefeito").val(), DesDefeito: $("#DesDefeito").val(), DesVerificacao: $("#DesVerificacao").val(), flgAtivo: $("#flgAtivo").is(':checked') },
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Defeito " + $("#CodDefeito").val() + " gravado com sucesso.");
					//$("#cmbDefeito").val("");
					$("#DesDefeito").val("");
					$("#DesVerificacao").val("");					
					$("#flgAtivo").attr("checked", false);
				} else {
					alert("Não foi possível gravar. Verifique o código de defeito inserido.");
				}
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr);
			}
		});
	}

	$(document).ready(function () {
		$.ajax({
			type: "POST",
			url: "/CadSubDefeito/ObterDefeitos/",			
			dataType: "json",
			success: function (json) {
				var options = "";
				options += '<option> SELECIONE O DEFEITO </option>';
				$.each(json, function (key, Defeito) {
					options += '<option value="' + Defeito.CodDefeito + '">' + Defeito.CodDefeito + ' - ' + Defeito.DesDefeito + '</option>';
				});
				$("#cmbDefeito").html(options);
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr);
			}
		});
	});

</script>
