﻿@model IEnumerable<SEMP.Model.DTO.CBEmbaladaDTO>

@{
	ViewBag.Title = "Embalagem";
	Layout = null;

	List<SEMP.Model.VO.Rastreabilidade.EstruturaModelo> modelos = ViewBag.Estrutura;
	modelos = modelos.Where(x => x.Fantasma == false).OrderByDescending(x => x.Indice).ThenBy(x => x.CodFilho).ToList();
	var Series = Model.GroupBy(x => x.NumECB).Select(x => new { NumECB = x.Key, Qtd = x.Count() }).ToList();

	var exportar = Request["exportar"] ?? "N";

}
<div id="dialog-edit" style="display: none; top: 10px;"></div>

<table class="table table-bordered table-condensed table-hover" id="tblSeries" data-bind="sortTable: true">
	<caption>Qtd. Registros: @Series.Count()</caption>
	<thead>
		<tr>
			<th rowspan="2" style="width: 91px;">Série</th>
			<th rowspan="2" style="width: 50px;">Qtd. Leit.</th>
			@foreach (var modelo in modelos)
			{
			<th colspan="2">
				@modelo.CodModelo - @modelo.DesModelo
				<br />
                @if (modelo.CodModelo != modelo.CodFilho) {
				    @modelo.CodFilho <span>-</span> @modelo.DesFilho
                }
                else
                {
                    <span>Amarração</span>
                }
			</th>
			}
		</tr>
		<tr>
			@foreach (var modelo in modelos)
			{
				<th>Data</th>
				<th>AP</th>
			}
		</tr>
	</thead>
	<tbody>
		@if (Model != null && Model.Count() > 0)
		{

			foreach (var item in Series)
			{
				<tr>
					<td>
						@if (exportar == "S")
						{
							Write("'" + item.NumECB);
						}
						else
						{
							<a href="/Coleta/Rastreia/Ficha/?Codigo=@item.NumECB" class="lnkEdit hidden-print">@item.NumECB</a>
							<span class="visible-print">@item.NumECB</span>
						}
					</td>
					<td>@item.Qtd</td>
					@foreach (var modelo in modelos)
					{
						var texto = Model.FirstOrDefault(x => x.NumECB == item.NumECB && x.CodModelo == modelo.CodFilho);
						if (texto != null)
						{
							<td title="@modelo.CodFilho">@texto.DatLeitura</td>
							<td>@texto.NumAP</td>
						}
						else
						{
							<td title="@modelo.CodFilho"></td>
							<td></td>
						}
					}
				</tr>
			}
		}
	</tbody>
</table>

<script>
	var url = "";

	$("#tblSeries").addClass('tablesorter');
	$("#tblSeries").tablesorter();

	function initDialog() {
		$(".lnkEdit").on("click", function (e) {
			url = $(this).attr('href');
			$("#dialog-edit").html("<span>&nbsp;</span>");
			$("#dialog-edit").dialog('open');

			return false;
		});
		$("#btnclose").on("click", function (e) {
			$("#dialog-edit").dialog("close");
			return false;
		});
	}

	$(document).ready(function () {
		$("#dialog-edit").dialog({
			title: 'Detalhes produto',
			autoOpen: false,
			resizable: false,
			width: 630,
			height: 500,
			top: 10,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("X");
				$(this).html("");
				$(this).load(url);
			}
		});

		initDialog();
	});

</script>
