﻿
@{
    ViewBag.Title = "Fases";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Sistema = "Rastreabilidade";
    ViewBag.Rotina = "Relatório de Passagens entre Fases";

    var DatInicio = DateTime.Now.ToString("dd/MM/yyyy");
    var DatFim = DateTime.Now.ToString("dd/MM/yyyy");


}
<link href="/Content/css/select2.min.css" rel="stylesheet" />
<h2>Verificar passagem entre Fases</h2>

<div class="form-inline" style="margin-bottom: 10px;">
    <div class="form-group">
        <label class="pull-left" style="width: 60px;">Período:</label>
        <div class="pull-left">
            <div class="input-group input-group-sm" style="width: 168px;">
                <div class="input-group-btn hidden-print"><a class="btn btn-default btn-group-xs menos"><span class="glyphicon glyphicon-minus"></span></a></div>
                <input type="text" name="DatInicio" id="DatInicio" class="form-control input-sm calendar-group" value="@DatInicio" />
                <div class="input-group-btn hidden-print"><a class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></a></div>
            </div>
        </div>
        <div class="pull-left">
            <div class="input-group input-group-sm" style="width: 168px;">
                <div class="input-group-btn hidden-print"><a class="btn btn-default menos"><span class="glyphicon glyphicon-minus"></span></a></div>
                <input type="text" name="DatFim" id="DatFim" class="form-control calendar-group" value="@DatFim" />
                <div class="input-group-btn hidden-print"><a class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></a></div>
            </div>
        </div>
    </div>
    <div class="form-group hidden-print" style="width: 250px;">
        <select id="CodModelo" name="CodModelo" style="width:100%;"></select>
    </div>
    <div class="form-group" style="margin-left: 5px;">
        <label class="pull-left">AP: </label>
        <div class="input-group input-group-sm pull-left" style="margin-right: 15px;">
            <input type="text" class="form-control input-group-addon" name="CodFab" id="CodFab" value="" style="width: 45px;" placeholder="Fáb." maxlength="2"  />
            <input type="text" class="form-control" name="NumAP" id="NumAP" value="" style="width: 70px;" placeholder="AP" maxlength="6" />
        </div>
    </div>
    <div class="form-group hidden-print">
        <button id="btnConsultar" class="btn btn-success" onclick="Consultar();"><i class="glyphicon glyphicon-ok"></i> Consultar</button>
        <button id="btnConsultar" class="btn btn-info" onclick="ObterEstrutura();"><i class="glyphicon glyphicon-list-alt"></i> Ver estrutura</button>
    </div>
</div>
<div id="grdEstrutura" style="display: none;">
	<table id="tblDados" class="table table-condensed table-hover table-bordered" style="width: 550px;">
		<thead>
			<tr>
				<th>Modelo</th>
				<th>Item</th>
				<th>Fant.?</th>
				<th>Índice</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>&nbsp;</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="panel panel-info">
	<div class="panel-heading">
		<span class="pull-right"><a href="#" onclick="Exportar();" title="Exportar para o Excel"><span class="glyphicon glyphicon-export"></span> Exportar</a></span>
		<h4 style="margin: 0;">Passagens</h4>
	</div>
	<div id="grdDados" class="panel-body" style="width: 100%; border: solid 1px lightgray; padding: 3px;"></div>
</div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>
@section Scripts{
	<script src="~/Scripts/jquery.tablesorter.js"></script>
	<script src="~/Scripts/select2.min.js"></script>
	<script>

	function ObterEstrutura() {

		var codModelo = $("#CodModelo").val();

		if (codModelo == "") return;

		$("#tblDados tbody").html("<tr><td colspan=4></td></tr>");

		$.ajax({
			type: "GET",
			url: "/Coleta/Series/ObterEstrutura/",
			data: {codModelo: codModelo},
			success: function (data) {
				var resultado = "";
				var fantasma = "NÃO"

				$.each(data, function (chave, valor) {
					if (valor.Fantasma == true) {
						fantasma = "SIM";
						resultado += "<tr class='warning'>";
					}
					else
					{
						fantasma = "NÃO";
						resultado += "<tr>";
                    }

                    if (valor.CodModelo != valor.CodFilho) {
                        resultado += "	<td>" + valor.CodModelo + " - " + valor.DesModelo + "</td>";
                    }
                    else {
                        resultado += "	<td></td>";
                    }
                    resultado += "	<td>" + valor.CodFilho + " - " + valor.DesFilho + "</td>";
                    
					resultado += "	<td>" + fantasma + "</td>";
					resultado += "	<td>" + valor.Indice + "</td>";
					resultado += "</tr>";
				});
				$("#tblDados tbody").html(resultado);

				$("#grdEstrutura").css("display", "block");
			},
			error: function (data) {
				alert("Erro ao consultar a estrutura: " + data.responseText);
			}
		});

	}

	function Consultar() {

		var codModelo = $("#CodModelo").val();
		var datInicio = $("#DatInicio").val();
        var datFim = $("#DatFim").val();
        var codFab = $("#CodFab").val();
        var numAP = $("#NumAP").val();

		if (codModelo == "") return;

		$("#grdDados").html($("#carregando").html());

		$.ajax({
			type: "GET",
			url: "/Coleta/Series/Embalagem/",
            data: { codModelo: codModelo, datInicio: datInicio, datFim: datFim, codFab: codFab, numAP: numAP },
			success: function (data) {
				$("#grdDados").html(data);
			},
			error: function (data) {
				alert("Erro ao consultar: " + data.responseText);
			}
		});

	}

	function Exportar() {
		if ($("#CodModelo").val() == "") return;

		var parametros = { codModelo: $("#CodModelo").val(), datInicio: $("#DatInicio").val(), datFim: $("#DatFim").val() }

		if (parametros.codLinha == "") {
			return;
		}

		var janela = window.open("/Coleta/Series/Embalagem/?codModelo=" + parametros.codModelo + "&datInicio=" + parametros.datInicio + "&datFim=" + parametros.datFim + "&exportar=S")

	}

	$('#CodModelo').select2({
		ajax: {
			url: function (params) {
				return '/Coleta/Util/ObterModelosData/?datPrograma=' + $("#DatInicio").val();
			},
			dataType: 'json'
		},
		placeholder: '[ Pesquise o Produto ]  ',
		theme: "classic",
		allowClear: true
	});

	$("#DatFim").datepicker();
	$("#DatInicio").datepicker();


	$('.mais').on("click", function () {
		var campo = $(this).parent().parent().find('.calendar-group');

		var date = $(campo).datepicker('getDate');
		date.setDate(date.getDate() + 1);
		$(campo).datepicker("setDate", date);
	});

	$('.menos').on("click", function () {
		var campo = $(this).parent().parent().find('.calendar-group');

		var date = $(campo).datepicker('getDate');
		date.setDate(date.getDate() - 1);
		$(campo).datepicker("setDate", date);
	});


	</script>


}