﻿
@{
	ViewBag.Title = "Verificador de Séries";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Analisador de Séries";

	var data = DateTime.Now.ToShortDateString();
}
@Scripts.Render("~/bundles/knockout")

<style>
	a {
		text-decoration: none !important;
	}
	.escondido {
		z-index: 9999;
		position: absolute; 
		display:none;
	}
	#DatInicio {
		width: 100px;
	}
</style>

<h3>Séries <a href="/Coleta/Series/Fases/" class="btn btn-danger"><i class="glyphicon glyphicon-road"></i> Ver fases</a>
</h3>

<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-right botoes" style="z-index: 999999;">
					<a href="#" onclick="AlternaVisible('#divData');" title="Data"><img src="~/Images/ico-calendar3.png" style="width: 28px; height: 28px;" alt="Data" /></a>
					<div id="divData" class="escondido">
							<input type="text" class="form-control" name="DatInicio" id="DatInicio" data-bind="textInput: datConsulta, event:{ change: getLinhas() }" value="" />
					</div>
				</div>
				<h4 style="margin: 0;">Linhas</h4>
			</div>
			<div class="panel-body" id="pnlLinhas">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" data-bind="foreach: setores">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" data-bind="text: setor, attr: { href: '#painel' + setor }"></a>
							</h4>
						</div>

						<div class="panel-collapse collapse" role="tabpanel" data-bind="attr: { id: 'painel' + setor }">

							<div class="list-group" data-bind="foreach: Linhas">
								<a href="#" class="list-group-item" data-bind="text: DesLinha, click: $root.obterPassagem"></a>
							</div>

						</div>
					</div>
				</div>


			</div>
		</div>

	</div>

	<div class="col-md-9">
		<div class="panel panel-info">
			<div class="panel-heading">
				<span class="pull-right"><a href="#" onclick="Exportar();"><span class="glyphicon glyphicon-export"></span></a></span>
				<h4 style="margin: 0;">Passagens</h4>
			</div>
			<div class="panel-body" id="pnlPassagem"></div>
		</div>


	</div>
</div>

<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<script>
	var linhasVM = function (codLinha, desLinha, setor) {
		this.CodLinha = ko.observable(codLinha);
		this.DesLinha = ko.observable(desLinha);
		this.Setor = ko.observable(setor);
	}
	var Setor = function (setor, linhas) {
		this.setor = setor;
		this.Linhas = ko.observableArray(linhas);
	}

	var modelo;

	var ViewModel = function (datInicio) {
		self = this;

		self.codLinha = ko.observable("");

		self.datConsulta = ko.observable(datInicio);

		self.setores =  ko.observableArray([]);

		self.getLinhas = function () {
			var parametros = { datInicio: self.datConsulta() }

			self.setores ([]);

			$.ajax({
				type: "GET",
				url: "/Coleta/Series/ObterLinhas/",
				data: parametros,
				success: function (data) {
					$.each(data, function (chave, valor) {
						var linhas = valor.Linhas;

						var Linhas = [];

						$.each(linhas, function (chave, valor) {
							Linhas.push(new linhasVM(valor.CodLinha, valor.DesLinha, valor.Setor));
						});

						modelo.setores.push(new Setor(valor.Setor, Linhas));

					});
				},
				error: function (data) {
					alert("Erro ao consultar as linhas: " + data);
				}
			});
		}

		self.obterPassagem = function(linha){

			$("#pnlPassagem").html($('#carregando').html());

			self.codLinha(linha.CodLinha());

			var parametros = { codLinha: linha.CodLinha(), datInicio: self.datConsulta }

			$.ajax({
				type: "GET",
				url: "/Coleta/Series/Passagem/",
				data: parametros,
				success: function (data) {
					$("#pnlPassagem").html(data);
				},
				error: function (data) {
					$("#pnlPassagem").html(data);
				}
			});

		}

	}

	function AlternaVisible(objeto) {

		$(".escondido").slideUp();

		if ($(objeto).css("display") === "none" || $(objeto).css("display") === "") {
			$(objeto).slideDown("1000");
		}
		else {
			$(objeto).slideUp();
		}

	}

	function Exportar() {
		var parametros = { codLinha: modelo.codLinha(), datInicio: modelo.datConsulta() }

		if (parametros.codLinha == "") {
			return;
		}

		var janela = window.open("/Coleta/Series/Passagem/?codLinha=" + parametros.codLinha + "&datInicio=" + parametros.datInicio + "&exportar=S")

	}


	var data = '@data';

	$(document).ready(function () {
		$("#DatInicio").datepicker({
			showButtonPanel: true,
			numberOfMonths: 1
		});

		/*$("#DatInicio").blur(function () {
			modelo.getLinhas();
		});*/


		//CarregaLinhas();
		modelo = new ViewModel(data);

		ko.applyBindings(modelo);

		//modelo.getLinhas();
	});

	$(window).click(function (event) {
		if (!event.target.matches('IMG') && !event.target.matches('SELECT') && !event.target.matches('INPUT')) {
			$(".escondido").slideUp();
		}
	});



</script>