﻿@model List<SEMP.Model.DTO.CBLinhaDTO>
@{
	var data = DateTime.Now.ToShortDateString();

	var fabricas = Model.Select(x => x.Setor).Distinct().ToList();
}



<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
@{

	foreach (var fabrica in fabricas)
	{

	<div class="panel panel-default">
		<div class="panel-heading" role="tab" id="tab@{@fabrica}">
			<h4 class="panel-title">
				<a role="button" data-toggle="collapse" data-parent="#accordion" href="#painel@{@fabrica}" aria-expanded="true" aria-controls="painel@{@fabrica}">@fabrica</a>
			</h4>
		</div>
		<div class="panel-collapse collapse" id="painel@{@fabrica}" role="tabpanel" aria-labelledby="tab@{@fabrica}">

			<div class="list-group">
				@foreach (var linha in Model.Where(x => x.Setor == fabrica))
				{

				<a href="#" class="list-group-item" onclick="selLinha('@linha.CodLinha')">@linha.CodLinha - @linha.DesLinha</a>
				}
			</div>

		</div>
	</div>
	}
}
</div>

