﻿@model List<SEMP.Model.DTO.CBPassagemDTO>
@{
	var data = DateTime.Now.ToShortDateString();

	var postos = Model.Select(x => new { x.NumPosto, x.NumSeq, x.DescricaoPosto }).OrderBy(x=> x.NumSeq).Distinct().ToList();
	var series = Model.Select(x => x.NumECB).Distinct().ToList();

	var primeiroPosto = postos.Min(x => x.NumSeq);
	var ultimoPosto = postos.Max(x => x.NumSeq);

	<table class="table">
		<caption>Qtd. Registros: @Model.Count()</caption>
		<thead>
			<tr>
				<th>Séries</th>
				@foreach (var posto in postos)
				{
				<th>@posto.DescricaoPosto</th>
				}
				<th>Tempo total</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in series)
			{
				var priLeitura = Model.FirstOrDefault(x => x.NumECB == item && x.NumSeq == primeiroPosto);
				var ultLeitura = Model.FirstOrDefault(x => x.NumECB == item && x.NumSeq == ultimoPosto);
				var tempo = "";

				if (priLeitura != null && ultLeitura != null)
				{
					tempo = Extensions.FormatarTempo(ultLeitura.DatEvento.Subtract(priLeitura.DatEvento).TotalMinutes);
					
				}

				<tr>
					<td>@item</td>
					@foreach (var posto in postos)
				{
					var dado = Model.FirstOrDefault(x => x.NumECB == item && x.NumPosto == posto.NumPosto);
					if (dado != null)
					{
					<td>@dado.DatEvento</td>
					}
					else
					{
					<td></td>
					}
				}
					<td>@tempo</td>
				</tr>
			}
		</tbody>

	</table>
}

