﻿<div class="row">
	<div class="pull-left" style="min-width:400px;">
		<div class="card">
			<div class="card-header">Itens a amarrar</div>
			<table class="table table-sm table-bordered">
				<thead>
					<tr>
						<th>Tipo</th>
						<th>Descrição</th>
						<th>NE</th>
						<th>Série</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="pull-left">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Card title</h4>
				<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="card-link">Card link</a>
				<a href="#" class="card-link">Another link</a>
			</div>
		</div>
	</div>

</div>

<script src="~/Scripts/posto/amarracao.js"></script>
