﻿
@{
	ViewBag.Title = "POSTO DE LEITURA";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var linha = (SEMP.Model.DTO.CBLinhaDTO)ViewBag.linha;
	var posto = (SEMP.Model.DTO.CBPostoDTO)ViewBag.posto;

}
<div class="row" style="padding-left: 5px;">
	<h5 data-bind="text: posto.DesLinha">&nbsp;</h5> &nbsp;- &nbsp;
	<h5 data-bind="text: posto.DesPosto">&nbsp;</h5>
</div>
<div id="widgets">
	@Html.Partial("Passagem")

	@switch(posto.CodTipoPosto)
	{
		case SEMP.Model.Constantes.POSTO_ENTRADA:
			//implementar
			break;
		case SEMP.Model.Constantes.POSTO_AMARRACAO:
			@Html.Partial("_Amarracao")
			break;
	}

</div>

@section scripts{
<script>
	modelo.posto.DesPosto("@posto.DesPosto");
	modelo.posto.DesLinha("@linha.DesLinha");

	$(window).on("click", function () {
		$("#txtLeitura").focus();
	});

	modelo.Mensagem("LEIA ETIQUETA");
	modelo.Status("AGUARDANDO LEITURA...");

</script>

}
