﻿<div class="row" id="pnlPassagem">
	<div class="col">
		<input type="text" class="form-control textoLeitura" name="txtLeitura" id="txtLeitura" placeholder="LEIA CÓDIGO DE BARRAS" autofocus="autofocus" data-bind="value: Leitura" />
		<div class="divMensagem">
			<div class="labelTexto labelMensagem" id="lblMensagem" data-bind="text: Mensagem">&nbsp;</div>
			<div class="labelTexto labelStatus" id="lblStatus" data-bind="text: Status">&nbsp;</div>
		</div>
	</div>
</div>

<script src="~/Scripts/posto/passagem.js"></script>