﻿@model SEMP.Model.DTO.LinhaDTO

@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm("Create", "Linha", FormMethod.Post, new { @class = "form-inline", @role = "form", @name = "frmLinha", id = "frmLinha" }))
{
	@Html.AntiForgeryToken()
	
	<div class="form-inline">
		@Html.ValidationSummary(true)

		<div class="row" style="margin-bottom: 5px;">
			<div class="col-md-4">
				@Html.LabelFor(model => model.CodLinha, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.CodLinha, new { @style = "width: 70px;", @class="form-control input-sm" })
				@Html.ValidationMessageFor(model => model.CodLinha)
			</div>

			<div class="col-md-8">
				@Html.LabelFor(model => model.DesDep, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DesDep, new { @class = "form-control input-sm", @style="width: 140px;" })
				@Html.ValidationMessageFor(model => model.DesDep)
			</div>
		</div>

		<div class="row" style="margin-bottom: 5px;">
			<div class="col-md-12">
				@Html.LabelFor(model => model.DesLinha, new { @class = "control-label", @style="float: left;" }) &nbsp;
				@Html.TextBoxFor(model => model.DesLinha, new { @style = "width: 315px;", @class = "form-control input-sm" })
				@Html.ValidationMessageFor(model => model.DesLinha)
			</div>
		</div>

		<div class="row" style="margin-bottom: 5px;">
			<div class="col-md-5">
				@Html.LabelFor(model => model.FlgTipo, new { @class = "control-label", @style="float: left;" })
				&nbsp;
				<select name="FlgTipo" id="FlgTipo" style="width: 120px;" class="form-control input-sm">
					<option value="P">P - Produção</option>
					<option value="Q">Q - QMO</option>
				</select>
				@Html.ValidationMessageFor(model => model.FlgTipo)
			</div>

			<div class="col-md-7">
				<div class="input-group input-group-sm">
					@Html.LabelFor(model => model.FlgAtivo, new { @class = "form-control" })
					<div class="input-group-addon">
						<input type="radio" name="FlgAtivo" value="S" />Ativo
						<input type="radio" name="FlgAtivo" value="N" />Inativo
					</div>
				</div>
				@Html.ValidationMessageFor(model => model.FlgAtivo)
			</div>
		</div>

		@Html.HiddenFor(model => model.Usuario)
		@Html.HiddenFor(model => model.rowguid)
		@Html.HiddenFor(model => model.rowguid6)
		<br />
		<div class="row">
			<div class="col-sm-6 col-sm-offset-6">
				<div class="btn-group">
					<input type="button" onclick="$('#dialog-edit').dialog('close');" class="btn btn-danger" value="Cancelar" />
					<input type="button" value="Gravar" class="btn btn-danger" onclick="gravar()" />
				</div>
			</div>
		</div>
	</div>
}

<script>
	function gravar() {

		$("#frmLinha").validate({
			onfocusout: true
		}).form();

		$("#DesDep").val($("#DesDep").val().toUpperCase());
		$("#DesLinha").val($("#DesLinha").val().toUpperCase());
		$("#CodLinha").val($("#CodLinha").val().toUpperCase());

		if ($("#frmLinha").valid()) {
			$.ajax({
				type: "POST",
				url: "/Linha/Create/",
				data: $("#frmLinha").serialize(),
				dataType: "json",
				success: function (json) {
					if (json == true) {
						alert("Registro inserido com sucesso.");
						$("#CodLinha").val("");
						$("#DesLinha").val("");
						$("#DesDep").val("");
						$("#FlgTipo").val("");
						$("#FlgAtivo").val("");
					} else {
						alert("Erro ao gravar");
					}
				},
				error: function (xhr) {
					alert("Não foi possível adicionar: " + xhr);
				}
			});
		}
	}

</script>
