﻿@model SEMP.Model.DTO.LinhaDTO

<h3>Confirma excluir esse registro?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.CodLinha)</dt>

		<dd>@Html.DisplayFor(model => model.CodLinha)</dd>

		<dt>@Html.DisplayNameFor(model => model.DesDep)</dt>
		
		<dd>@Html.DisplayFor(model => model.DesDep)</dd>

		<dt>@Html.DisplayNameFor(model => model.DesLinha)</dt>

		<dd>@Html.DisplayFor(model => model.DesLinha)</dd>

	</dl>

	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()

			<div class="form-actions no-color" style="margin-top: 10px;">
				<div style="margin-top: 10px; display: inline-block;">
					@Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
				</div>
				<div style="display: inline-block;">
					<input type="submit" value="Apagar" class="bttn bttn-sm bttn-red" />
				</div>
			</div>
	}
</div>
