﻿@model SEMP.Model.DTO.LinhaDTO

@using (Html.BeginForm("Edit", "Linha", FormMethod.Post, new { @role = "form", @id = "frmLinha", @name = "frmLinha" }))
{
	@Html.AntiForgeryToken()
	
	<div class="form-inline">
		@Html.ValidationSummary(true)

		<div class="row" style="margin-bottom: 5px;">
			<div class="col-md-4">
				@Html.LabelFor(model => model.CodLinha, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.CodLinha, new { @style = "width: 70px;", @class = "form-control input-sm" })
				@Html.ValidationMessageFor(model => model.CodLinha)
			</div>
			
			<div class="col-md-8">
				@Html.LabelFor(model => model.DesDep, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DesDep, new { @class = "form-control input-sm", @style = "width: 140px;" })
				@Html.ValidationMessageFor(model => model.DesDep)
			</div>
		</div>

		<div class="row" style="margin-bottom: 5px;">
			<div class="col-md-10">
				@Html.LabelFor(model => model.DesLinha, new { @class = "control-label", @style="float: left;" }) &nbsp;
				@Html.TextBoxFor(model => model.DesLinha, new { @style = "width: 315px;", @class = "form-control input-sm" })
				@Html.ValidationMessageFor(model => model.DesLinha)
			</div>
		</div>

		<div class="row" style="margin-bottom: 5px;">
			<div class="col-md-5">
				@Html.LabelFor(model => model.FlgTipo, new { @class = "control-label", @style="float: left;" })
				<select name="FlgTipo" id="FlgTipo" style="width: 120px;" class="form-control input-sm">
					<option value="P" @if(Model.FlgTipo != null && Model.FlgTipo.Equals("P")){Write("selected");}>P - Produção</option>
					<option value="Q" @if (Model.FlgTipo != null && Model.FlgTipo.Equals("Q")) { Write("selected"); }>Q - QMO</option>
				</select>
				@Html.ValidationMessageFor(model => model.FlgTipo)
			</div>

			<div class="col-md-7">
				<div class="input-group input-group-sm">
					@Html.LabelFor(model => model.FlgAtivo, new { @class = "form-control" })
					<div class="input-group-addon">
						<input type="radio" name="FlgAtivo" value="S" @if(Model.FlgAtivo != null && Model.FlgAtivo.Equals("S")){Write("checked='checked'");} /> Ativo
						<input type="radio" name="FlgAtivo" value="N" @if(Model.FlgAtivo != null && Model.FlgAtivo.Equals("N")){Write("checked='checked'");} /> Inativo
					</div>
				</div>
				@Html.ValidationMessageFor(model => model.FlgAtivo)
			</div>
		</div>

		@Html.HiddenFor(model => model.Usuario)
		@Html.HiddenFor(model => model.rowguid)
		@Html.HiddenFor(model => model.rowguid6)

		<br/>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-6">
				<div class="btn-group">
					<input type="button" onclick="$('#dialog-edit').dialog('close');" class="btn btn-danger" value="Cancelar" />
					<input type="button" value="Gravar" class="btn btn-danger" onclick="gravar()" />
				</div>
			</div>
		</div>
	</div>
}

<script>
	function gravar() {
		$.ajax({
			type: "POST",
			url: "/Linha/Edit/",
			data: $("#frmLinha").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Linha alterada com sucesso.");
					document.location.href = "/Outros/Linha/";
				} else {
					alert("Não foi possível gravar.");
				}
			},
			error: function (xhr) {
				alert("Não foi possível alterar: " + xhr);
			}
		});
	}

</script>