﻿
@{
	ViewBag.Title = "Cadastro de Linhas";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Cadastro de Linhas";
}
@Scripts.Render("~/bundles/excelexport")

<h3>@ViewBag.Title</h3>
<form name="frmCLinha" id="frmCLinha" action="#">
<div>
	<div class="row">
		<div class="col-md-3">
			<div class="input-group input-group-sm">
				<label class="form-control">Status</label>
				<span class="input-group-addon">
					<input type="radio" name="FlgAtivo" value="S" /> Ativos
					<input type="radio" name="FlgAtivo" value="N" /> Inativos
					<input type="radio" name="FlgAtivo" value="" checked="checked" /> Todos
				</span>
			</div>
		</div>
		<div class="col-md-3">
			<div class="input-group input-group-sm">
				<label class="form-control">Tipo</label>
				<span class="input-group-addon">
					<input type="radio" name="FlgTipo" value="P" /> Produção
					<input type="radio" name="FlgTipo" value="Q" /> Mão-de-obra
					<input type="radio" name="FlgTipo" value="" checked="checked" /> Todos
				</span>
			</div>
		</div>
		<div class="col-md-6">
			<div class="btn-group btn-group-sm">
				<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="btn btn-success" />
				<input type="button" name="btnNovo" id="btnNovo" value="Novo" class="btn btn-danger" />
				<input type="button" name="btnEnviar" value="Consultar" class="btn btn-danger" onclick="btnEnviar_Click();" />
			</div>
		</div>
	</div>
</div>
</form>
<div id="dialog-edit" style="display: none; top: 10px;"></div>
<div id="conteudo"></div>

<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<script type="text/javascript">

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

		var frm = $("#frmCLinha").serialize();

		$.ajax({
			type: "GET",
			url: "/Outros/Linha/Lista/",
			data: frm,
			success: function (data) {
				$("#conteudo").html(data);
				$(".linkEdit").on("click", function (e) {
					url = $(this).attr('href');
					$(".ui-dialog-title").html("Alterar");
					$("#dialog-edit").dialog('open');

					return false;
				});
			},
			error: function (data) {
				$("#conteudo").html(data.responseText);
			}
		});
	}

	var url = "";
	$(document).ready(function () {

		$("#dialog-edit").dialog({
			title: 'Alterar dados',
			autoOpen: false,
			resizable: false,
			width: 500,
			height: 240,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});
		});

		$("#btnNovo").on("click", function (e) {
			url = "/Outros/Linha/Create/";
			$(".ui-dialog-title").html("Incluir dados");
			$("#dialog-edit").dialog('open');

			return false;
		});

		btnEnviar_Click();
	});

	@{
		if (!String.IsNullOrEmpty(ViewBag.mensagem))
		{
			WriteLiteral("alert('" + ViewBag.mensagem + "');");
		}
	}

</script>

