﻿@model IEnumerable<SEMP.Model.DTO.LinhaDTO>

<table class="table-semp smallrow" id="tblDados" style="width: 50%; margin-top: 10px;">
	<thead>
		<tr>
			<th style="width: 50px; text-align: center;"></th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.CodLinha)</th>
			<th>@Html.DisplayNameFor(model => model.DesDep)</th>
			<th>@Html.DisplayNameFor(model => model.DesLinha)</th>
			<th>@Html.DisplayNameFor(model => model.FlgTipo)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.FlgAtivo)</th>

		</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.ActionLink(" ", "Edit", new { codLinha = item.CodLinha }, new { @class="linkEdit glyphicon glyphicon-edit", @title="Editar registro"}) |
				@Html.ActionLink(" ", "Delete", new { codLinha = item.CodLinha }, new { @class="linkEdit glyphicon glyphicon-remove", @title="Remover"})
			</td>		
			<td>@Html.DisplayFor(modelItem => item.CodLinha)</td>
			<td>@Html.DisplayFor(modelItem => item.DesDep)</td>
			<td>@Html.DisplayFor(modelItem => item.DesLinha)</td>
			<td>@Html.DisplayFor(modelItem => item.FlgTipo) - @if (item.FlgTipo != null && item.FlgTipo.Equals("P")) { Write("Produção"); } else if (item.FlgTipo != null && item.FlgTipo.Equals("Q")) { Write("QMO"); }</td>
			<td style="text-align: center;"><input type="checkbox" readonly="readonly" name="FlgAtivo" id="FlgAtivo" @if(item.FlgAtivo != null && item.FlgAtivo.Equals("S")){Write("checked");}></td>

		</tr>
	}
	</tbody>
</table>

<br /><br/>