﻿@using System.Activities.Statements
@using System.Web.UI.WebControls
@using RAST.BO.Relatorios
@using System.Linq;
@model IEnumerable<SEMP.Model.VO.Rastreabilidade.Relatorios.ResumoProducao>

@{
	ViewBag.Title = "Resumo de produção";
	Layout = "~/Views/Shared/_Layout.cshtml";
	//Layout = null;
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Resumo de Produção";

	var DatInicio = Request["DatInicio"];
	var DatFim = Request["DatFim"];
	var Modelo = Request["Modelo"];
	var GrupoLinha = Request["Familia"];
	var Descricao = Request["Descricao"];
	var Fase = Request["Fase"];
	var FlgResumo = Request["FlgResumo"];
	var FlgDivergentes = Request["FlgDivergentes"];
	var DifMes = Request["DifMes"];
	var codLinha = Request["linha"];

	if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(Modelo)) { Modelo = ""; }
	if (String.IsNullOrEmpty(GrupoLinha)) { GrupoLinha = ""; }
	if (String.IsNullOrEmpty(Fase)) { Fase = "FEC"; }
	FlgResumo = String.IsNullOrEmpty(FlgResumo) ? "" : "checked";
	FlgDivergentes = String.IsNullOrEmpty(FlgDivergentes) ? "" : "checked";
	DifMes = String.IsNullOrEmpty(DifMes) ? "" : "checked";

	var exibeIDW = "hidden";

	if (Fase == "IAC")
	{
		exibeIDW = "";
	}

	var turnos = Model.GroupBy(x => x.Turno).Select(x => new { Turno = x.Key }).ToList();

	var alcatel = (List<SEMP.Model.VO.Mobilidade.ResumoProducaoAlcatel>)ViewBag.Alcatel ?? new List<SEMP.Model.VO.Mobilidade.ResumoProducaoAlcatel>();

	if ((turnos == null || turnos.Count() == 0) && alcatel != null)
	{
		turnos.Add(new { Turno = 1 });

	}

	var exibeApontado = false;
}
@section Styles {
	<link href="/Content/css/select2.min.css" rel="stylesheet" />
	<style>

		#tblDados tbody tr td, #tblDados tfoot tr td {
			font-size: 11px !important;
			padding: 3px 4px 2px 2px !important;
		}

		th, td {
			white-space: nowrap;
		}

		.selected {
			background-color: #b0bed9 !important;
		}
	</style>
}
<h3>@ViewBag.Title</h3>

<form name="frmRelatorio" id="frmRelatorio" action="/Coleta/ResumoProducao/" method="post" class="form-inline hidden-print" style="margin-bottom: 5px;">
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-sm-6 col-md-4" style="width: 440px;">
			<label class="pull-left" style="width: 60px;">Período:</label>
			<div class="pull-left">
				<div class="input-group input-group-sm" style="width: 168px;">
					<div class="input-group-btn"><a class="btn btn-default btn-group-xs menos"><span class="glyphicon glyphicon-minus"></span></a></div>
					<input type="text" name="DatInicio" id="DatInicio" class="form-control input-sm calendar-group" value="@DatInicio" />
					<div class="input-group-btn"><a class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></a></div>
				</div>
			</div>
			<div class="pull-left">
				<div class="input-group input-group-sm" style="width: 168px;">
					<div class="input-group-btn"><a class="btn btn-default menos"><span class="glyphicon glyphicon-minus"></span></a></div>
					<input type="text" name="DatFim" id="DatFim" class="form-control calendar-group" value="@DatFim" />
					<div class="input-group-btn"><a class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></a></div>
				</div>
			</div>
		</div>

		<!--Flags-->
		<div class="col-xs-2 col-md-1" style="width: 110px;">
			<div class="btn-group">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Opções <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#"><label class="checkbox-inline"><input type="checkbox" name="FlgResumo" @FlgResumo /> Resumo por modelo</label></a></li>
					<li><a href="#"><label class="checkbox-inline"><input type="checkbox" name="FlgDivergentes" @FlgDivergentes /> Apenas diferença</label></a></li>
					<li><a href="#"><label class="checkbox-inline"><input type="checkbox" name="DifMes" @DifMes /> Dif. Mês</label></a></li>
				</ul>
			</div>
		</div>

		<!--Modelo-->
		<div class="col-xs-4 col-md-4">
			<input type="text" name="Modelo" id="Modelo" value="@Modelo" class="form-control hidden" />
			<select id="Descricao" name="Descricao" style="width:100%;"></select>
		</div>
	</div>
	<div class="row">
		<!--Fase / Linha-->
		<div class="col-xs-9 col-md-6">
			<label class="labelFloat">Fase / Linha / Família&#58;</label>
			<div class="row">
				<div class="col-xs-2 col-md-2">
					<select name="Fase" id="fase" class="form-control input-sm">
						<option value="IAC" @{if (Fase == "IAC") { WriteLiteral("selected"); }}>IAC</option>
						<option value="IMC" @{if (Fase == "IMC") { WriteLiteral("selected"); }}>IMC</option>
						<option value="FEC" @{if (Fase == "FEC") { WriteLiteral("selected"); }}>MF</option>
						<option value="LCM" @{if (Fase == "LCM") { WriteLiteral("selected"); }}>LCM</option>
					</select>
				</div>
				<div class="col-xs-3 col-md-4">
					<select name="Linha" id="linha" class="form-control input-sm"><option>[LINHA]</option></select>
				</div>
				<div class="col-xs-3 col-md-3">
					<select name="Familia" id="Familia" class="form-control input-sm">
						<option value="" @{if (GrupoLinha == "") { WriteLiteral("selected"); }}>[ FAMÍLIA ]</option>
						<option value="TV LCD" @{if (GrupoLinha == "TV LCD") { WriteLiteral("selected"); }}>TV LCD</option>
						<option value="AUDIO" @{if (GrupoLinha == "AUDIO") { WriteLiteral("selected"); }}>AUDIO</option>
						<option value="DVD" @{if (GrupoLinha == "DVD") { WriteLiteral("selected"); }}>DVD</option>
						<option value="INFOR" @{if (GrupoLinha == "INFOR") { WriteLiteral("selected"); }}>INFOR</option>
						<option value="PCI STI" @{if (GrupoLinha == "PCI STI") { WriteLiteral("selected"); }}>PCI STI</option>
						<option value="TV CRT" @{if (GrupoLinha == "TV CRT") { WriteLiteral("selected"); }}>TV CRT</option>
						<option value="ALCATEL" @{if (GrupoLinha == "ALCATEL") { WriteLiteral("selected"); }}>MOBILIDADE</option>
					</select>
				</div>
			</div>
		</div>

		<!--Botões-->
		<div class="col-xs-3 col-md-4">
			<span class="btn-group hidden-print" role="group">
				<button type="button" id="btnExportar" name="btnExportar" class="btn btn-success"><i class="glyphicon glyphicon-export"></i> Exportar Excel</button>
				<button type="submit" name="btnEnviar" value="Consultar" class="btn btn-danger"><i class="glyphicon glyphicon-ok"></i> Consultar</button>
			</span>
		</div>
	</div>
</form>

<table id="tblDados" class="table table-striped table-bordered table-hover nowrap" style="width: 99%;">
	<!--class="display compact"-->
	<thead>
		<tr>
			<th style="width: 60px;">Data</th>
			<th style="width: 100px;">Linha</th>
			<th style="min-width: 150px;">Modelo</th>
			<th style="width: 40px;">Plano</th>
			<th style="width: 40px;">Prod.</th>
			<th style="width: 40px;" class="@exibeIDW">IDW</th>
			<th style="width: 50px;">Dif.</th>
			@if (exibeApontado)
			{
				<th style="width: 50px;">Apont.</th>
				<th style="width: 50px;">Dif.</th>}
			<th style="width: 40px;">Plano VPE</th>
			<th style="width: 40px;">PP Mês</th>
			<th style="width: 40px;">Prod. Mês</th>
			<th style="width: 40px;">Dif. Mês</th>
		</tr>
	</thead>
	@foreach (var desTurno in turnos)
	{
		<tbody>
			<tr>
				<td><strong>Turno: @desTurno.Turno</strong></td>
				<td>@{if (desTurno.Turno == 9) { Write("(Turno Indef. IDW)"); } }</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="@exibeIDW"></td>
				<td></td>
				@if (exibeApontado)
				{
					<td></td>
					<td></td>}
				<td></td>
				<td></td>
				<td></td>
			</tr>
			@foreach (var item in Model.Where(x => x.Turno == desTurno.Turno).OrderBy(x => x.Turno).ThenBy(x => x.DatProducao).ThenBy(x => x.CodLinha))
			{
				if (!String.IsNullOrEmpty(FlgDivergentes))
				{
					if (item.QtdDiferenca == 0)
					{
						continue;
					}
				}

				if (!String.IsNullOrEmpty(DifMes))
				{
					if (item.QtdDifMes == 0)
					{
						continue;
					}
				}
				var difProducao = item.QtdDifProducao < 0 ? "red" : "green";
				var difApont = item.QtdDiferenca < 0 ? "red" : "";
				var difMes = item.QtdDifMes < 0 ? "red" : "green";

				var dat = "";

				if (item.FlagTp == "D")
				{
					dat = "background-color: lightblue;";
				}
				else if (item.FlagTp.Trim() != "")
				{
					dat = " ";
				}

				<tr style="font-size: 11px; text-align: right; padding: 0; @dat" class="hover">
					<td style="text-align: center;">
						@{
							if (String.IsNullOrEmpty(FlgResumo) && Fase == "FEC")
							{
								Write(Html.ActionLink(item.DatProducao.ToString("dd/MM/yyyy"), "Index", "Acompanhamento", new
								{
									DatInicio = item.DatProducao.ToString("dd/MM/yyyy"),
									DatFim = item.DatProducao.ToString("dd/MM/yyyy"),
									CodLinha = item.CodLinha,
									Fase = Fase
								}, new { @class = "lnkEdit hidden-print", @title = "Acompanhamento de Leitura" }));
								<span class="visible-print">@item.DatProducao.ToShortDateString()</span>
							}
							else
							{
								Write(item.DatProducao.ToString("dd/MM/yyyy"));
							}
						}
					</td>
					<td style="text-align: left;">
						@{
							if (String.IsNullOrEmpty(FlgResumo))
							{
								Write(Html.ActionLink(String.Format("{0} - {1}", item.CodLinha, item.DesLinha), "Index", "RelatorioProducao", new
								{
									DatInicio = item.DatProducao.ToString("dd/MM/yyyy"),
									DatFim = item.DatProducao.ToString("dd/MM/yyyy"),
									CodLinha = item.CodLinha,
									Turno = item.Turno,
									Fase = item.CodLinha.StartsWith("DAT") ? "DAT" : Fase
								}, new { @class = "lnkEdit hidden-print", @title = "Relatório de Produção", @target = "_blank" }));
								<span class="visible-print">@item.CodLinha - @item.DesLinha</span>
							}
						}
					</td>
					<td style="text-align: left;">
						@Html.DisplayFor(modelItem => item.CodModelo) - @item.DesModelo
						@if (item.FlagTp.Trim() != "" && item.FlagTp != "D")
						{<b style="background-color: chartreuse; color: black;">[ @item.FlagTp ]</b>}
					</td>
					<td>@Html.DisplayFor(modelItem => item.QtdPlano)</td>
					<td>@Html.DisplayFor(modelItem => item.QtdRealizado)</td>
					<td class="@exibeIDW">@Html.DisplayFor(modelItem => item.QtdIDW)</td>
					<td style="font-weight: bold; color: @difProducao;">@Html.DisplayFor(modelItem => item.QtdDifProducao)</td>
					@if (exibeApontado)
					{
						<td>@Html.DisplayFor(modelItem => item.QtdApontado)</td>
						<td style="font-weight: bold; color: @difApont;">@Html.DisplayFor(modelItem => item.QtdDiferenca)</td>}
					<td>@Html.DisplayFor(modelItem => item.QtdPlanoVPE)</td>
					<td>@Html.DisplayFor(modelItem => item.QtdPlanoMes)</td>
					<td>@Html.DisplayFor(modelItem => item.QtdProduzidoMes)</td>
					<td style="font-weight: bold; color: @difMes;">@Html.DisplayFor(modelItem => item.QtdDifMes)</td>
				</tr>
			}
			@{
				var subtotais = new SEMP.Model.VO.Rastreabilidade.Relatorios.ResumoProducao()
				{
					QtdPlano = Model.Where(x => x.Turno == desTurno.Turno).Sum(x => x.QtdPlano),
					QtdRealizado = Model.Sum(x => x.QtdRealizado),
					QtdApontado = Model.Sum(x => x.QtdApontado),
					QtdIDW = Model.Sum(x => x.QtdIDW),
					QtdPlanoMes = Model.GroupBy(x => new { x.CodModelo, x.QtdPlanoMes }).Select(x => x.Key.QtdPlanoMes).Sum(x => x),
					QtdProduzidoMes = Model.GroupBy(x => new { x.CodModelo, x.QtdProduzidoMes }).Select(x => x.Key.QtdProduzidoMes).Sum(x => x),
					QtdPlanoVPE = Model.GroupBy(x => new { x.CodModelo, x.QtdPlanoVPE }).Select(x => x.Key.QtdPlanoVPE).Sum(x => x),
					QtdExped = Model.Sum(y => y.QtdExped),
					QtdOBA = Model.Sum(y => y.QtdOBA)
				};

				string subdifMes = subtotais.QtdDifMes < 0 ? "red" : "green",
				subdifApont = subtotais.QtdDiferenca < 0 ? "red" : "",
				subdifProducao = subtotais.QtdDifProducao < 0 ? "red" : "green";
				<tr style='font-size: 11px; height: 15px;'>
					<td></td>
					<td></td>
					<td style="text-align: right; font-weight: bold;">SubTotal</td>
					<td style="text-align: right;">@subtotais.QtdPlano</td>
					<td style="text-align: right;">@subtotais.QtdRealizado</td>
					<td style="text-align: right;" class="@exibeIDW">@subtotais.QtdIDW</td>
					<td style="text-align: right; font-weight: bold; color: @subdifProducao;">@subtotais.QtdDifProducao</td>
					@if (exibeApontado)
					{
						<td style="text-align: right;">@subtotais.QtdApontado</td>
						<td style="text-align: right; font-weight: bold; color: @subdifApont;">@subtotais.QtdDiferenca</td>}
					<td style="text-align: right;">@subtotais.QtdPlanoVPE</td>
					<td style="text-align: right;">@subtotais.QtdPlanoMes</td>
					<td style="text-align: right;">@subtotais.QtdProduzidoMes</td>
					<td style="text-align: right; font-weight: bold; color: @subdifMes;">@subtotais.QtdDifMes</td>
				</tr>

			}
		</tbody>
	}
	<tbody>
		<tr>
			<td><strong>Mobilidade</strong></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="@exibeIDW"></td>
			<td></td>
			@if (exibeApontado)
			{
				<td></td>
				<td></td>}
			<td></td>
			<td></td>
			<td></td>
		</tr>
		@if (alcatel != null && alcatel.Count() > 0)
		{
			foreach (var item in alcatel)
			{
				var qtdDifAlcatel = item.QTD_PROD - item.QTD_PLAN;
				var difProducao = qtdDifAlcatel < 0 ? "red" : "green";

				<tr style="font-size: 11px; text-align: right; padding: 0;" class="hover">
					<td style="text-align: center;">@item.DATA.ToShortDateString()</td>
					<td style="text-align: left; background-color: burlywood;">@item.DesLinha</td>
					<td style="text-align: left;">@item.COD_SKU - @item.SKU</td>
					<td>@item.QTD_PLAN</td>
					<td>@item.QTD_PROD</td>
					<td style="font-weight: bold; color: @difProducao;">@qtdDifAlcatel</td>
					@if (exibeApontado)
					{
						<td></td>
						<td></td>}
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			}
			var subtotaisMobilidade = new SEMP.Model.VO.Rastreabilidade.Relatorios.ResumoProducao()
			{
				QtdPlano = alcatel.Sum(x => x.QTD_PLAN) ?? 0,
				QtdRealizado = alcatel.Sum(x => x.QTD_PROD) ?? 0,
				QtdApontado = alcatel.Sum(x => x.QTD_PROD),
				QtdIDW = 0,
				QtdPlanoMes = 0,
				QtdProduzidoMes = 0,
				QtdPlanoVPE = 0,
				QtdExped = 0,
				QtdOBA = 0
			};

			string subdifMesM = subtotaisMobilidade.QtdDifMes < 0 ? "red" : "green",
			subdifApontM = subtotaisMobilidade.QtdDiferenca < 0 ? "red" : "",
			subdifProducaoM = subtotaisMobilidade.QtdDifProducao < 0 ? "red" : "green";
			<tr style='font-size: 11px; height: 15px;'>
				<td></td>
				<td></td>
				<td style="text-align: right; font-weight: bold;">SubTotal Mobilidade</td>
				<td style="text-align: right;">@subtotaisMobilidade.QtdPlano</td>
				<td style="text-align: right;">@subtotaisMobilidade.QtdRealizado</td>
				<td style="text-align: right;" class="@exibeIDW">@subtotaisMobilidade.QtdIDW</td>
				<td style="text-align: right; font-weight: bold; color: @subtotaisMobilidade;">@subtotaisMobilidade.QtdDifProducao</td>
				@if (exibeApontado)
				{
					<td style="text-align: right;">@subtotaisMobilidade.QtdApontado</td>
					<td style="text-align: right; font-weight: bold; color: @subdifApontM;">@subtotaisMobilidade.QtdDiferenca</td>}
				<td style="text-align: right;">@subtotaisMobilidade.QtdPlanoVPE</td>
				<td style="text-align: right;">@subtotaisMobilidade.QtdPlanoMes</td>
				<td style="text-align: right;">@subtotaisMobilidade.QtdProduzidoMes</td>
				<td style="text-align: right; font-weight: bold; color: @subdifMesM;">@subtotaisMobilidade.QtdDifMes</td>
			</tr>
		}
	</tbody>

	@{
		var totais = new SEMP.Model.VO.Rastreabilidade.Relatorios.ResumoProducao()
		{
			QtdPlano = Model.Sum(x => x.QtdPlano),
			QtdRealizado = Model.Sum(x => x.QtdRealizado),
			QtdApontado = Model.Sum(x => x.QtdApontado),
			QtdIDW = Model.Sum(x => x.QtdIDW),
			QtdPlanoMes = Model.GroupBy(x => new { x.CodModelo, x.QtdPlanoMes }).Select(x => x.Key.QtdPlanoMes).Sum(x => x),
			QtdProduzidoMes = Model.GroupBy(x => new { x.CodModelo, x.QtdProduzidoMes }).Select(x => x.Key.QtdProduzidoMes).Sum(x => x),
			QtdPlanoVPE = Model.GroupBy(x => new { x.CodModelo, x.QtdPlanoVPE }).Select(x => x.Key.QtdPlanoVPE).Sum(x => x),
			QtdExped = Model.Sum(y => y.QtdExped),
			QtdOBA = Model.Sum(y => y.QtdOBA)
		};

		if (alcatel != null && alcatel.Count() > 0)
		{
			var mobilidade = new SEMP.Model.VO.Rastreabilidade.Relatorios.ResumoProducao()
			{
				QtdPlano = alcatel.Sum(x => x.QTD_PLAN) ?? 0,
				QtdRealizado = alcatel.Sum(x => x.QTD_PROD) ?? 0,
				QtdApontado = alcatel.Sum(x => x.QTD_PROD)
			};

			totais.QtdPlano += mobilidade.QtdPlano;
			totais.QtdRealizado += mobilidade.QtdRealizado;
			totais.QtdApontado += mobilidade.QtdApontado;
		}

		string totdifMes = totais.QtdDifMes < 0 ? "red" : "green";
		string totdifApont = totais.QtdDiferenca < 0 ? "red" : "";
		string totdifProducao = totais.QtdDifProducao < 0 ? "red" : "green";

	}
	<tfoot>
		<tr>
			<td colspan="13">&nbsp;</td>
		</tr>
		<tr style='font-size: 11px; height: 15px;'>
			<td></td>
			<td></td>
			<td style="text-align: right; font-weight: bold;">Total</td>
			<td style="text-align: right;">@totais.QtdPlano</td>
			<td style="text-align: right;">@totais.QtdRealizado</td>
			<td style="text-align: right;" class="@exibeIDW">@totais.QtdIDW</td>
			<td style="text-align: right; font-weight: bold; color: @totdifProducao;">@totais.QtdDifProducao</td>
			@if (exibeApontado)
			{
				<td style="text-align: right;">@totais.QtdApontado</td>
				<td style="text-align: right; font-weight: bold; color: @totdifApont;">@totais.QtdDiferenca</td>}
			<td style="text-align: right;">@totais.QtdPlanoVPE</td>
			<td style="text-align: right;">@totais.QtdPlanoMes</td>
			<td style="text-align: right;">@totais.QtdProduzidoMes</td>
			<td style="text-align: right; font-weight: bold; color: @totdifMes;">@totais.QtdDifMes</td>
		</tr>
	</tfoot>
</table>

<div class="hidden">@Model.Count() registros encontrados</div>
<br />
<br />
@section Scripts{
	@Scripts.Render("~/bundles/excelexport")
	<script src="~/Scripts/select2.min.js"></script>
	<script>
	var linha = '@codLinha';
	var modelo = '@Modelo';

	$(document).ready(function () {
		$("#DatFim").datepicker();
		$("#DatInicio").datepicker();

		$("#fase").change(CarregarLinhas);

		$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados"
			   , datatype: $datatype.MVC
			});
		});

		$('.mais').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			var date = $(campo).datepicker('getDate');
			date.setDate(date.getDate() + 1);
			$(campo).datepicker("setDate", date);
		});

		$('.menos').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			var date = $(campo).datepicker('getDate');
			date.setDate(date.getDate() - 1);
			$(campo).datepicker("setDate", date);
		});

		$('#Descricao').select2({
			ajax: {
				url: function (params) {
					return '/Coleta/Util/ObterModelosData/?datPrograma=' + $("#DatInicio").val();
				},
				dataType: 'json'
			},
			placeholder: 'Pesquise o Produto',
			theme: "classic",
			allowClear: true
		});

		$('#Descricao').on("change", function (e) { $("#Modelo").val($("#Descricao").val()); });

		if (modelo != "") {
			var studentSelect = $('#Descricao');
			$.ajax({
				type: 'GET',
				url: '/Coleta/Util/ObterItem/?codItem=' + modelo
			}).then(function (data) {
				// create the option and append to Select2
				var option = new Option(data.DesItem, data.CodItem, true, true);
				studentSelect.append(option).trigger('change');

				// manually trigger the `select2:select` event
				studentSelect.trigger({
					type: 'select2:select',
					params: {
						data: data
					}
				});
			});
		}

		CarregarLinhas();

		$("tbody tr").click(function () {
			$(this).addClass("selected").siblings().removeClass("selected");
		});

		/*$('#tblDados').DataTable({
			paging: false,
			ordering: false,
			filter: false,
			info: false
		});*/

	});

	$("#Modelo").blur(function () {
		$.ajax({
			type: "GET",
			url: "/Util/ObterDescricaoItem/",
			data: { CodItem: $("#Modelo").val() },
			success: function (data) {
				$("#Descricao").val(data);
			}
		});
	});

	function CarregarLinhas() {

		$("#linha").html("<option>Carregando...</option>");

		var fase = $("#fase").val();
		if (fase == "PLACA") { fase = "FEC"; }

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: fase },
			dataType: "json",
			success: function (json) {
				var options = "";
				var selected = "";
				options += '<option value=""> [ LINHA ] </option>';
				$.each(json, function (key, Linhas) {
					if (Linhas.Setor == 'IAC') {
						if (Linhas.CodLinhaT3 == linha) { selected = "selected"; }
						options += '<option value="' + Linhas.CodLinhaT3 + '" ' + selected + '>' + Linhas.DesLinha + '</option>';
					}
					else
					{
						if (Linhas.CodLinhaT1 == linha) { selected = "selected"; }
						options += '<option value="' + Linhas.CodLinhaT1 + '" ' + selected + '>' + Linhas.DesLinha + '</option>';
					}

					selected = "";
				});
				$("#linha").html(options);
			}
		});
	}
	</script>
}