﻿@model SEMP.Model.DTO.ProdParadaDTO

@{
	if (!String.IsNullOrEmpty(Request["Layout"]))
	{
		Layout = "~/Views/Shared/_Layout.cshtml";
	}
}

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/maskedinput")


<style>
	.field-validation-error{ width:90%;font-size:8pt;display:block; position:relative; top:-65px;height:0px; z-index: 999;}
	.field-validation-error span {border-radius:4px; padding:5px 5px 5px 5px;background-color:#FFE6BF;position:relative;border:2px solid red;}
	.field-validation-error span:after { content: ' ';height: 0;position: absolute; width: 0;border: 10px solid transparent;border-top-color: #FFE6BF;top:100%;left: 10px;}
	.field-validation-error span:before {content: ' ';height: 0;position: absolute; width: 0;border: 13px solid transparent;border-top-color: red;top: 100%;left: 7px;}
</style>

@using (Html.BeginForm("Create", "Parada", FormMethod.Post, new { @id = "frmParada", @style="width: 580px;"})) 
{
	@Html.AntiForgeryToken()
	
	<div class="form-inline">
		@Html.ValidationSummary(true)

		<div class="row">
			<div class="col-md-2" style="width: 94px;">
				@Html.LabelFor(model => model.NumParada, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.NumParada, new { @class="form-control input-sm", @style="width: 71px;", @disabled="disabled"})
				@Html.ValidationMessageFor(model => model.NumParada)
			</div>
			
			<div class="col-md-3" style="width: 121px;">
				@Html.LabelFor(model => model.DatParada, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DatParada, new { @class= "form-control input-sm", @style = "width: 85px;", @Value=DateTime.Now.ToShortDateString()})
				@Html.ValidationMessageFor(model => model.DatParada)
			</div>

			<div class="col-md-3" style="width: 145px;">
				<label class="control-label">Período</label>
				<div class="input-group input-group-sm">
					@Html.TextBoxFor(model => model.HorInicio, new { @style="width: 52px;", @class="form-control"})
					@Html.TextBoxFor(model => model.HorFim, new { @style="width: 52px;", @class="form-control"})
				</div>
				@Html.ValidationMessageFor(model => model.HorInicio)
			</div>

			<div class="col-md-4" style="width: 209px;">
				@Html.LabelFor(model => model.CodFab, new { @class = "control-label" })
				<div class="input-group input-group-sm">
					@Html.TextBoxFor(model => model.CodFab, new { @style="width: 40px;", @maxlength = 2, @class="form-control"})
					@Html.TextBoxFor(model => model.DesFabrica, new { @style="width: 130px;", @disabled="disabled", @class="input-group-addon"})
				</div>
				@Html.ValidationMessageFor(model => model.CodFab)
			</div>
		</div>

		<div class="row">
			<div class="col-md-5" style="width:225px;">
				@Html.LabelFor(model => model.CodModelo, new { @class = "control-label" })
				<div class="input-group input-group-sm">
				@Html.TextBoxFor(model => model.CodModelo, new { @style= "width:  55px; padding: 5px;", @maxlength = 6, @class="form-control"})
				@Html.TextBoxFor(model => model.DesModelo, new { @style="width: 139px;", @disabled="disabled", @class="input-group-addon"})
				</div>
				@Html.ValidationMessageFor(model => model.CodModelo)
			</div>
				
			<div class="col-md-4" style="width:230px;">
				@Html.LabelFor(model => model.CodLinha, new { @class = "control-label" })
				<div class="input-group input-group-sm">
				@Html.TextBoxFor(model => model.CodLinha, new { @style="width: 60px;", @maxlength = 8, @class="form-control"})
				@Html.TextBoxFor(model => model.DesLinha, new { @style="width: 130px;", @disabled="disabled", @class="input-group-addon"})
				</div>
				@Html.ValidationMessageFor(model => model.CodLinha)
			</div>
			
			<div class="col-md-3" style="width:130px;">
				@Html.LabelFor(model => model.QtdNaoProduzida, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.QtdNaoProduzida, new { @class="form-control input-sm", @style="width: 60px;"})
				@Html.ValidationMessageFor(model => model.QtdNaoProduzida)
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				@Html.LabelFor(model => model.CodParada, new { @class = "control-label" })
				<div class="input-group input-group-sm">
				@Html.TextBoxFor(model => model.CodParada, new { @style="width: 50px;", @maxlength = 4, @class="form-control"})
				@Html.TextBoxFor(model => model.DesParada, new { @style="width: 465px;", @disabled="disabled", @class="input-group-addon"})
				</div>
				@Html.ValidationMessageFor(model => model.CodParada)
				<input type="hidden" id="TipParada" name="TipParada" value="" />
			</div>
		</div>

		<div class="row">
			<div class="col-md-5">
				@Html.LabelFor(model => model.CodItem, new { @class = "control-label" })
				<div class="input-group input-group-sm">
				@Html.TextBoxFor(model => model.CodItem, new { @style="width: 60px;", @maxlength = 6, @class="form-control"})
				@Html.TextBoxFor(model => model.DesItem, new { @style="width: 145px;", @disabled="disabled", @class="input-group-addon"})
				</div>
				@Html.ValidationMessageFor(model => model.CodItem)
			</div>
			
			<div class="col-md-3">
				@Html.LabelFor(model => model.QtdItem, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.QtdItem, new { @class = "form-control input-sm", @style ="width: 60px;"})
				@Html.ValidationMessageFor(model => model.QtdItem)
			</div>
			
			<div class="col-md-2">
				@Html.LabelFor(model => model.QtdFalta, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.QtdFalta, new { @class = "form-control input-sm", @style ="width: 60px;"})
				@Html.ValidationMessageFor(model => model.QtdFalta)
			</div>
			
			<div class="col-md-2">
				@Html.LabelFor(model => model.HorAlmoco, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.HorAlmoco, new { @class = "form-control input-sm", @style ="width: 40px;"})
				@Html.ValidationMessageFor(model => model.HorAlmoco)
			</div>
			
		</div>

		<div class="row" style="margin-bottom: 5px;">
			<div class="col-md-3">
				@Html.LabelFor(model => model.StatusPerda, new { @class = "control-label" })
				<div class="input-group">
					<input type="radio" name="StatusPerda" value="S" id="StatusPerdaS"/> Sim &nbsp;
					<input type="radio" name="StatusPerda" value="N" id="StatusPerdaN"/> Não
				</div>
				@Html.ValidationMessageFor(model => model.StatusPerda)
				</div>
			
			<div class="col-md-3">
				@Html.LabelFor(model => model.CodTurno, new { @class = "control-label" })
				<div class="input-group">
					<input type="radio" name="CodTurno" value="C" id="CodTurnoC" required data-val-required="Informe o turno" data-val="true" /> Comercial <br/>
					<input type="radio" name="CodTurno" value="N" id="CodTurnoN" required data-val-required="Informe o turno" data-val="true" /> Noturno
				</div>
				@Html.ValidationMessageFor(model => model.CodTurno)
			</div>
			
			<div class="col-md-2">
				@Html.LabelFor(model => model.NumFuncionarios, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.NumFuncionarios, new { @class = "form-control input-sm", @style ="width: 40px;"})
				@Html.ValidationMessageFor(model => model.NumFuncionarios)
			</div>

			<div class="col-md-4" style="padding: 0;">
				<div style="width: 110px; float: left;">
					@Html.LabelFor(model => model.StatusEmail, new { @class = "control-label" })
					<div class="input-group">
						<input type="radio" name="StatusEmail" value="*" id="StatusEmailS" disabled="disabled" /> Sim &nbsp;
						<input type="radio" name="StatusEmail" value="N" id="StatusEmailN" disabled="disabled" checked="checked" /> Não
					</div>
					@Html.ValidationMessageFor(model => model.StatusEmail)
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-5">
				@Html.LabelFor(model => model.DesObs, new { @class = "control-label" }) <br/>
				@Html.TextAreaFor(model => model.DesObs, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.DesObs)
			</div>
			<div class="col-md-7">
				<div id="grdDep"></div>
			</div>
		</div>

		@Html.HiddenFor(model => model.rowguid)
		@Html.HiddenFor(model => model.NumDrt)
		<br />
		<div class="row">
			<div class="col-md-4 col-md-offset-8">
				<div class="btn-group">
					<input type="button" onclick="$('#dialog-edit').dialog('close');" class="btn btn-primary" value="Cancelar" />
					<input type="button" value="Gravar" class="btn btn-danger" onclick="gravar();" />
				</div>
			</div>
		</div>
	</div>
}

<script>
	function gravar() {

		$("#frmParada").validate({
			onfocusout: true
		}).form();

		if ($("#frmParada").valid()) {
			$("#NumParada").removeAttr("disabled");
			//alert("Funciona!");
			//return false;
			$.ajax({
			type: "POST",
			url: "/Outros/Parada/Create/",
			data: $("#frmParada").serialize(),
			dataType: "json",
			success: function (json) {
				if (json != false) {
					$("#NumParada").val(json);
					if ($("#NumParada").val() != "") {
						alert("Registro inserido com sucesso.");
						
						listaDep();

						btnEnviar_Click();

					}
				} else {
					alert("Erro ao cadastrar");
				}
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr);
			}
		});
		}

		return false;
	}

	function listaDep() {
		$.ajax({
			type: "GET",
			url: "/Outros/ParadaDep/",
			data: { codFab: $("#CodFab").val(), numParada: $("#NumParada").val()},
			dataType: "html",
			success: function (json) {
				$("#grdDep").html(json);
			},
			error: function (xhr, description) {
				alert("Não foi possível adicionar: " + description);
			}
		});
	}

	$(function () {
		jQuery.validator.methods["date"] = function(value, element) { return true; };

		$("#DatParada").datepicker({
			maxDate: 0
		});
		$("#DatParada").mask("99/99/9999");

		$("#HorInicio").mask("99:99");
		$("#HorInicio").blur(function () {
			var todo = $(this).val();
			var hora = todo.substr(0, 2);
			var minuto = todo.substr(3, 2);

			if (hora > 23 || minuto > 59) {
				alert("Hora inválida");
				$(this).val("");
			}
		});
		$("#HorFim").mask("99:99");
		$("#HorFim").blur(function () {
			var todo = $(this).val();
			var hora = todo.substr(0, 2);
			var minuto = todo.substr(3, 2);

			if (hora > 23 || minuto > 59) {
				alert("Hora inválida");
				$(this).val("");
			}
		});

		$("#HorAlmoco").mask("99:99");
		$("#HorAlmoco").blur(function () {
			var todo = $(this).val();
			var hora = todo.substr(0, 2);
			var minuto = todo.substr(3, 2);

			if (hora > 23 || minuto > 59) {
				alert("Hora inválida");
				$(this).val("");
			}
		});

		$("#CodLinha").mask("999.99-9");
		$("#CodLinha").blur(function () {
			$("#DesLinha").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoLinha/",
				data: { CodLinha: $("#CodLinha").val() },
				success: function (data) {
					$("#DesLinha").val(data);
				}
			});
		});

		$("#CodModelo").blur(function () {
			$("#DesModelo").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: $("#CodModelo").val() },
				success: function (data) {
					$("#DesModelo").val(data);
				}
			});
		});

		$("#CodItem").blur(function () {
			$("#DesItem").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: $("#CodItem").val() },
				success: function (data) {
					$("#DesItem").val(data);
				}
			});
		});

		$("#CodFab").blur(function () {
			if ($(this).val() == "") return;

			$(this).val(padLeft($(this).val(), 2));

			$("#DesFabrica").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoFabrica/",
				data: { CodFab: $("#CodFab").val() },
				success: function (data) {
					$("#DesFabrica").val(data);
				}
			});
		});

		$("#CodParada").blur(function () {
			if ($(this).val() == "") return;

			if ($("#CodFab").val() == "") {
				alert("Informe a fábrica");
				$("#CodParada").val("");
				$("#CodFab").focus();
				return;
			}

			$(this).val(padLeft($(this).val(), 4));

			$("#DesParada").val("");
			$.ajax({
				type: "GET",
				url: "/Outros/Parada/ObterMotivo/",
				data: { CodFab: $("#CodFab").val(), CodParada: $("#CodParada").val() },
				dataType: "json",
				success: function (data) {
					$("#DesParada").val(data.DesParada);
					$("#TipParada").val(data.TipParada);

					if (data.TipParada != "G") {
						$("#CodModelo").attr("required", "required");
						$("#CodLinha").attr("required", "required");
					} else {
						$("#CodModelo").removeAttr("required");
						$("#CodLinha").removeAttr("required");
					}
				}
			});
		});
	});


</script>