﻿@model SEMP.Model.DTO.ProdParadaDTO

<h3>Quer mesmo excluir essa parada de linha?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.NumParada)</dt>
		<dd>@Html.DisplayFor(model => model.NumParada)</dd>
		<dt>@Html.DisplayNameFor(model => model.CodModelo)</dt>
		<dd>@Html.DisplayFor(model => model.CodModelo)-@Html.DisplayFor(model => model.DesModelo)</dd>
		<dt>@Html.DisplayNameFor(model => model.DatParada)</dt>
		<dd>@Html.DisplayFor(model => model.DatParada)</dd>
	</dl>

	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()

		<div class="form-actions no-color" style="margin-top: 10px;">
			<div style="margin-top: 10px; display: inline-block;">
				<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="submit" value="Apagar" class="bttn bttn-sm bttn-red" />
			</div>
		</div>
	}
</div>
<script>
	$("#dialog-edit").css("height", 180);
</script>