﻿@{
	ViewBag.Title = "Paradas de Linha";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Paradas de Linha";

	var datInicio = Request["DatInicio"];
	var datFim = Request["DatFim"];

	if (String.IsNullOrEmpty(datInicio)) { datInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(datFim)) { datFim = DateTime.Now.ToString("dd/MM/yyyy"); }

	var acessoCadParada = SEMP.Helpers.Extensions.Permissao("CadParada", (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"]);
}
@Scripts.Render("~/bundles/maskedinput")
@Scripts.Render("~/bundles/excelexport")

<h3>@ViewBag.Title</h3>

<div class="form-inline">
	<div class="row">
		<div class="col-md-2">
			<label>Período&#58;</label>
			<div class="input-group input-group-sm">
				<input type="text" name="DatInicio" id="DatInicio" value="@datInicio" class="form-control input-sm" style="width: 85px;" />
				<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			</div>
		</div>
		<div class="col-md-2">
			<label>&nbsp;a&#58;</label>
			<div class="input-group input-group-sm">
				<input type="text" name="DatFim" id="DatFim" value="@datFim" class="form-control input-sm" style="width: 85px;" />
				<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			</div>
		</div>

		<div class="col-md-2">
			<div class="input-group input-group-sm">
				<label class="form-control">Status</label>
				<div class="input-group-addon">
					<input type="radio" id="statusTodos" name="status" value="" checked="checked" /> Todas &nbsp;
					<input type="radio" id="statusPendentes" name="status" value="P" /> Pendentes
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="input-group input-group-sm">
				<label class="form-control" style="width: 114px;">Tipo de Parada</label>
				<div class="input-group-addon">
					<input type="radio" id="tipEspecifica" name="TipParada" value="" checked="checked" /> Todas &nbsp;
					<input type="radio" id="tipGenerica" name="TipParada" value="I" /> Informativa &nbsp;
					<input type="radio" id="tipBarcode" name="TipParada" value="O" /> Obrigatória
				</div>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top: 5px;">
		<div class="col-md-3">
			<label>Fáb.: &nbsp; </label>
			<div class="input-group input-group-sm">
				<input type="text" class="form-control" name="pCodFab" id="pCodFab" value="@SEMP.Model.Constantes.CodFab02" style="width: 40px;" />
				<input type="text" class="input-group-addon" name="pDesFab" id="pDesFab" value="STA" style="width: 120px;" disabled="disabled" />
			</div>
		</div>

		<div class="col-md-3">
			<label>Depto: &nbsp;</label>
			<div class="input-group input-group-sm">
				<input type="text" name="pCodDepto" id="pCodDepto" class="form-control text-uppercase" style="width: 60px;" />
				<input type="text" name="pDesDepto" id="pDesDepto" disabled="disabled" class="form-control" style="width: 180px;" />
			</div>
		</div>

		<div class="col-md-3">
			<label>Linha: &nbsp;</label>
			<div class="input-group input-group-sm">
				<input type="text" name="pCodLinha" id="pCodLinha" class="form-control text-uppercase" style="width: 60px;" />
				<input type="text" name="pDesLinha" id="pDesLinha" disabled="disabled" class="form-control" style="width: 150px;" />
			</div>
		</div>

		<div class="col-md-4"> &nbsp;<!-- placeholder --> </div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<label>Modelo: &nbsp;</label>
			<div class="input-group input-group-sm">
				<input type="text" name="pCodModelo" id="pCodModelo" class="form-control text-uppercase" style="width: 70px;" />
				<input type="text" name="pDesModelo" id="pDesModelo" disabled="disabled" class="form-control" style="width: 250px;" />
			</div>
		</div>

		<div class="col-md-3 col-md-offset-1">
			<div class="btn-group btn-group-sm">
				<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="btn btn-success" />
				<input type="button" name="btnNovo" id="btnNovo" value="Novo" class="btn btn-danger @if (!acessoCadParada) { Write("hidden"); } " />
				<input type="button" name="btnEnviar" value="Consultar" class="btn btn-danger" onclick="btnEnviar_Click();" />
			</div>
		</div>
	</div>
</div>
<hr />

<div id="dialog-edit" style="display: none; top: 10px;"></div>
<div id="conteudo"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<script type="text/javascript">


	var url = "";
	$(function () {
		$("#DatFim").datepicker({
							showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatInicio").datepicker("option", "maxDate", selectedDate);
							}
						});
		$("#DatInicio").datepicker({
							showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatFim").datepicker("option", "minDate", selectedDate);
							}
						});

		$("#pCodFab").blur(function () {
							if ($(this).val() == "") return;

			$(this).val(padLeft($(this).val(), 2));

			$("#pDesFab").val("");
			$.ajax({
								type: "GET",
				url: "/Util/ObterDescricaoFabrica/",
				data: { CodFab: $("#pCodFab").val() },
				success: function (data) {
					$("#pDesFab").val(data);
								}
							});
						});

		$("#pCodLinha").mask("999.99-9");
		$("#pCodLinha").blur(function () {
			$("#pDesLinha").val("");
			$.ajax({
								type: "GET",
				url: "/Util/ObterDescricaoLinha/",
				data: { CodLinha: $("#pCodLinha").val() },
				success: function (data) {
					$("#pDesLinha").val(data);
								}
							});
						});

		$("#pCodModelo").blur(function () {
			$("#pDesModelo").val("");
			$.ajax({
								type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: $("#pCodModelo").val() },
				success: function (data) {
					$("#pDesModelo").val(data);
								}
							});
						});

		$("#pCodDepto").blur(function () {
							var valor = $(this).val();
							if (valor == "") {
				$("#pDesDepto").val("");
								return;
							}

							if ($("#pCodFab").val() == "") {
								alert("Informe a fábrica");
				$("#pCodDepto").val("");
				$("#pCodFab").focus();
								return;
							}

							valor = valor.toUpperCase();
							if (valor == "DCOM") valor = "SUPM";
			$(this).val(valor);

			$("#pDesDepto").val("");
			$.ajax({
								type: "GET",
				url: "/Util/ObterDesDepto/",
				data: { CodDepto: valor, CodFab: $("#pCodFab").val() },
				success: function (data) {
									if(data != ""){
						$("#pDesDepto").val(data);
									} else {
						$("#pDesDepto").val("Grupo " + valor);
									}
								}
							});
						});

		$("#dialog-edit").dialog({
							title: 'Editar',
			autoOpen: false,
			resizable: false,
			width: 615,
			height: 495,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
					}
					});

		$("#btnNovo").on("click", function (e) {
						// e.preventDefault(); use this or return false
						url = "/Outros/Parada/Create/";
			$(".ui-dialog-title").html("Nova");
			$("#dialog-edit").dialog('open');

						return false;
					});

		$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
							containerid: "tblDados",
				datatype: $datatype.MVC
			});
					});

	});

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

					var tipo = $("input[name=TipParada]:checked").val();
					var status= $("input[name=status]:checked").val();

		$.ajax({
						type: "GET",
			url: "/Outros/Parada/Lista/",
			data: {
							codFab: $("#pCodFab").val(),
				tipoParada: tipo,
				datInicio: $("#DatInicio").val(),
				datFim: $("#DatFim").val(),
				status: status,
				codModelo: $("#pCodModelo").val(),
				codDepto: $("#pCodDepto").val(),
				linha: $("#pCodLinha").val(),
			},
			success: function (data) {
				$("#conteudo").html(data);
				$(".linkEdit").on("click", function (e) {
								url = $(this).attr('href');
								var titulo = $(this).attr('data-original-title');

					$(".ui-dialog-title").html(titulo);
					$("#dialog-edit").dialog('open');

								return false;
							});
				$(".linkResponder").on("click", function (e) {
								url = $(this).attr('href');
								var titulo = $(this).attr('data-original-title');

					$(".ui-dialog-title").html(titulo);
					$("#dialog-edit").dialog('open');

								return false;
							});
				$('a').tooltip();
						},
			error: function (data) {
				$("#conteudo").html(data);
						}
					});
				}

	@{
		if (!String.IsNullOrEmpty(ViewBag.mensagem))
		{
			WriteLiteral("alert('" + ViewBag.mensagem + "');");
			}
	}

</script>
