﻿@model IEnumerable<SEMP.Model.DTO.ProdParadaDTO>
@{
	var acessoCadParada = SEMP.Helpers.Extensions.Permissao("CadParada", (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"]);
}


<table class="table-semp smallrow" id="tblDados">
	<thead>
		<tr>
			<th style="width: 65px;"></th>
			<th>@Html.DisplayNameFor(model => model.NumParada)</th>
			<th>@Html.DisplayNameFor(model => model.CodModelo)</th>
			<th>@Html.DisplayNameFor(model => model.DesModelo)</th>
			<th>@Html.DisplayNameFor(model => model.CodLinha)</th>
			<th>@Html.DisplayNameFor(model => model.DatParada)</th>
			<th style="width: 78px;">Período</th>
			<th style="width: 35px;">@Html.DisplayNameFor(model => model.NumFuncionarios)</th>
			<th>@Html.DisplayNameFor(model => model.CodItem)</th>
			<th>@Html.DisplayNameFor(model => model.DesItem)</th>
			<th style="width: 55px;">@Html.DisplayNameFor(model => model.QtdNaoProduzida)</th>
			<th>@Html.DisplayNameFor(model => model.CodParada)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.QtdItem)</th>
			<th>Deptos</th>
			<th>Resps.</th>
			<th><i class="glyphicon glyphicon-envelope"></i></th>
		</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		<tr>
			<td>
				@if (acessoCadParada)
				{
					@Html.ActionLink(" ", "Edit", new { codFab = item.CodFab, numParada = item.NumParada }, new { @class = "linkEdit glyphicon glyphicon-edit", @title = "Editar registro" }) <span>|</span>
					@Html.ActionLink(" ", "Delete", new { codFab = item.CodFab, numParada = item.NumParada }, new { @class="linkEdit glyphicon glyphicon-remove", @title="Remover"}) <span>|</span>
				}
				@if (item.StatusEmail != null && item.StatusEmail == "*")
				{
				@Html.ActionLink(" ", "Responder", new { codFab = item.CodFab, numParada = item.NumParada, codParada = item.CodParada, desParada = item.DesParada }, new { @class = "linkEdit glyphicon glyphicon-hand-right", @title = "Responder" })
				}
			</td>
			<td>@Html.DisplayFor(modelItem => item.NumParada)</td>
			<td>@Html.DisplayFor(modelItem => item.CodModelo)</td>
			<td>@Html.DisplayFor(modelItem => item.DesModelo)</td>
			<td>@Html.DisplayFor(modelItem => item.CodLinha)</td>
			<td>@Html.DisplayFor(modelItem => item.DatParada)</td>
			<td>@Html.DisplayFor(modelItem => item.HorInicio) - @Html.DisplayFor(modelItem => item.HorFim)</td>
			<td>@Html.DisplayFor(modelItem => item.NumFuncionarios)</td>
			<td>@Html.DisplayFor(modelItem => item.CodItem)</td>
			<td>@Html.DisplayFor(modelItem => item.DesItem)</td>
			<td>@Html.DisplayFor(modelItem => item.QtdNaoProduzida)</td>
			<td>@Html.DisplayFor(modelItem => item.CodParada) - @Html.DisplayFor(modelItem => item.DesParada)</td>
			<td>@Html.DisplayFor(modelItem => item.QtdItem)</td>
			<td>@Html.DisplayFor(modelItem => item.Deptos)</td>
			<td>@Html.DisplayFor(modelItem => item.QtdRespostas)</td>
			<td>@Html.DisplayFor(modelItem => item.StatusEmail)</td>
		</tr>
	}
	</tbody>
</table>

<br/><br/>