﻿@model SEMP.Model.DTO.ProdParadaDepItemDTO

@Scripts.Render("~/bundles/jqueryval")
<style>
	.field-validation-error{ width:90%;font-size:8pt;display:block; position:absolute; top:-65px;height:0px; z-index: 999;}
	.field-validation-error span {border-radius:4px; padding:5px 5px 5px 5px;background-color:#FFE6BF;position:relative;border:2px solid red;}
	.field-validation-error span:after { content: ' ';height: 0;position: absolute; width: 0;border: 10px solid transparent;border-top-color: #FFE6BF;top:100%;left: 10px;}
	.field-validation-error span:before {content: ' ';height: 0;position: absolute; width: 0;border: 13px solid transparent;border-top-color: red;top: 100%;left: 7px;}
</style>
@{
	var codParada = ViewBag.codParada;
	var desParada = ViewBag.desParada;

}

@using (Html.BeginForm("Responder", "Parada", FormMethod.Post, new { @id = "frmParada", @style="width: 580px;"}))
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)

		<div class="row">
			<div class="col-md-3" style="width: 110px;">
				@Html.LabelFor(model => model.NumParada, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.NumParada, new {@style="width: 70px;", @disabled="disabled"})
				@Html.ValidationMessageFor(model => model.NumParada)
			</div>

			<div class="col-md-4" style="width: 200px;">
				@Html.LabelFor(model => model.CodFab, new { @class = "control-label" })
				<div class="input-group">
				@Html.TextBoxFor(model => model.CodFab, new { @style="width: 30px;", @disabled="disabled", @class="form-control"})
				@Html.TextBoxFor(model => model.DesFabrica, new {@style="width: 130px;", @disabled="disabled", @class="input-group-addon"})
				</div>
				@Html.ValidationMessageFor(model => model.CodFab)
			</div>

			<div class="col-md-5">
				@Html.LabelFor(model => model.CodDepto, new { @class = "control-label" })
				<div class="input-group">
				@Html.TextBoxFor(model => model.CodDepto, new { @style="width: 40px;", @disabled="disabled", @class="form-control"})
				@Html.TextBoxFor(model => model.DesDepartamento, new {@style="width: 170px;", @disabled="disabled", @class="input-group-addon"})
				</div>
				@Html.ValidationMessageFor(model => model.CodDepto)
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<label>Motivo da Parada</label>
				<div class="input-group">
					<input type="text" class="form-control" style="width: 50px;" disabled="disabled" value="@codParada" />
					<input type="text" class="input-group-addon" style="width: 475px;" disabled="disabled" value="@desParada" />
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				@Html.LabelFor(model => model.DesCausa, new { @class = "control-label" })
				@Html.TextAreaFor(model => model.DesCausa, new { @style="width: 95%; height: 35px;", @class="text-uppercase"})
				@Html.ValidationMessageFor(model => model.DesCausa)
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				@Html.LabelFor(model => model.DesAcao, new { @class = "control-label" })
				@Html.TextAreaFor(model => model.DesAcao, new { @style="width: 95%; height: 40px;", @class="text-uppercase"})
				@Html.ValidationMessageFor(model => model.DesAcao)
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				@Html.LabelFor(model => model.DesObs, new { @class = "control-label" })
				@Html.TextAreaFor(model => model.DesObs, new { @style="width: 95%; height: 40px;", @class="text-uppercase"})
				@Html.ValidationMessageFor(model => model.DesObs)
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				@Html.LabelFor(model => model.NomResponsavel, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.NomResponsavel, new { @style = "width: 90%", @class="text-uppercase"})
				@Html.ValidationMessageFor(model => model.NomResponsavel)
			</div>
			
			<div class="col-md-3">
				@Html.LabelFor(model => model.DatRetorno, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DatRetorno, new { @class="calendar", @disabled = "disabled", Value=Model.DatRetorno!=null? Model.DatRetorno.Value.ToShortDateString():""})
			</div>
			
			<div class="col-md-3">
				@Html.LabelFor(model => model.DatEnvio, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DatEnvio, new {@class="calendar", @disabled = "disabled", Value=Model.DatEnvio!=null? Model.DatEnvio.Value.ToShortDateString():""})
			</div>
		</div>

		@Html.HiddenFor(model => model.FlgStatus)
		@Html.HiddenFor(model => model.rowguid)
		@Html.HiddenFor(model => model.CodFabDepto)

		<div>
			<div style="margin-top: 5px; display: inline-block;">
				<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="margin-top: 5px; display: inline-block;">
				<input type="button" onclick="email();" class="bttn bttn-sm bttn-red" value="E-mail" />
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" onclick="gravar();" class="bttn bttn-sm bttn-red" />
			</div>
		</div>
	</div>
}


<script>
	function email() {
		if ($("#DesObs").val() == "") {
			alert("Informe os detalhes da parada");
			return;
		}

		$.ajax({
			type: "POST",
			url: "/Outros/Parada/EnviarEmailResposta/",
			data: { CodFab: $("#CodFab").val(), NumParada: $("#NumParada").val(), codDepto: $("#CodDepto").val() },
			success: function (retorno) {
				if (retorno != "True") {
					alert("Falha ao enviar e-mail.");
				} else {
					alert("E-mail enviado com sucesso!");
				}
			},
			error: function (xhr, text) {
				alert("Não foi possível enviar o email: " + text);
			}
		});
	}

	function gravar() {
		$("#NumParada").removeAttr("disabled");
		$("#CodFab").removeAttr("disabled");
		$("#CodDepto").removeAttr("disabled");
		$("#DatRetorno").removeAttr("disabled");
		$("#DatEnvio").removeAttr("disabled");

		$.ajax({
			type: "POST",
			url: "/Outros/Parada/Responder/",
			data: $("#frmParada").serialize(),
			success: function (json) {
				alert(json);

				$("#NumParada").attr("disabled", "disabled");
				$("#CodFab").attr("disabled", "disabled");
				$("#CodDepto").attr("disabled", "disabled");
				$("#DatRetorno").attr("disabled", "disabled");
				$("#DatEnvio").attr("disabled", "disabled");
			},
			error: function (xhr) {
				alert("Não foi possível responder: " + xhr);
			}
		});
	}

</script>