﻿@using System.Activities.Statements
@using SEMP.Model.VO.Rastreabilidade.Relatorios
@model DotNet.Highcharts.Highcharts

@Scripts.Render("~/bundles/highcharts")

@{
	ViewBag.Title = "Indicadores de Produção";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Indicadores - por fábrica";


	var DatIni = Request["DatIni"];
	var DatFim = Request["DatFim"];
	if (String.IsNullOrEmpty(DatIni)) { DatIni = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
}

<h2>Indicadores de Produção - Gráfico</h2>
<form method="post" action="@Url.Action("PostoDetalhe","Indicadores") " name="frmIndicadores" id="frmIndicadores">
		<input type="hidden" name="DatIni" id="DatIni" value="@DatIni" />
		<input type="hidden" name="DatFim" id="DatFim" value="@DatFim" />
		<input type="hidden" name="Fabrica" id="hdFabrica" value="@ViewBag.Fabrica"/>
		<input type="hidden" name="CodLinha" id="CodLinha" value="@ViewBag.CodLinha"/>
		<input type="hidden" name="Posto" id="Posto" value="@ViewBag.Posto"/>
		<input type="hidden" name="Familia" id="Familia" value="@ViewBag.Familia"/>
		<input type="hidden" name="Grafico" id="Grafico" value=""/>
		<input type="hidden" name="Turno" id="Turno" value="@ViewBag.Turno"/>
	</form>
<center>
	@{
		List<IndicadorLegenda> legenda = new List<IndicadorLegenda>();
		if (ViewBag.legenda != null)
		{
			legenda = (List<IndicadorLegenda>)ViewBag.legenda;
		}
		if (legenda != null && legenda.Any())
		{
	
			<div style="float: right">
				<table class="table-semp small">
					<thead>
						<tr>
							<th style="width: 20px;"></th>
							<th>Código</th>
							<th>Descrição</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in legenda)
						{
							<tr style="height: 10px;">
								<td style="background-color: rgba(@item.Cor.R, @item.Cor.G, @item.Cor.B, @item.Cor.A)">&nbsp;</td>
								<td>@item.Codigo</td>
								<td>@item.Descricao</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		}
	}

	<div style="width: 700px; border: solid 0px black; text-align: center;">
		@(Model)
	</div>
</center>
<br />
<div>
<a href="#" class="bttn bttn-sm bttn-red" onclick="Voltar(); return false;">Voltar</a>
</div>
<br />
<br />


<script type="text/javascript">
	
	function Voltar() {
		history.back();
		/*$("#frmIndicadores").attr("action", "/Coleta/Indicadores/PostoTecnico/");
		$("#frmIndicadores").submit();*/
	}
</script>