﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorGlobal>
@{
	ViewBag.Title = "Indicadores de produção";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Indicadores";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var DatIni = Request["DatIni"];
	var DatFim = Request["DatFim"];
	if (String.IsNullOrEmpty(DatIni)) { DatIni = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }

}
<script>
	function AbreLinhas(Fabrica) {
		$("#frmIndicadores").attr("action", "/Coleta/Indicadores/RelFabrica/");
		$("#Fabrica").val(Fabrica);
		$("#frmIndicadores").submit();
	}
</script>

<h3>Indicadores de Produção - Global</h3>

<div class="form-inline" style="width: 100%;">
	<form method="post" action="" name="frmIndicadores" id="frmIndicadores">
		<div class="col-md-2">
			<label>Data inicial:</label><input type="text" name="DatIni" id="DatIni" class="form-control input-sm" style="width:85px;" value="@DatIni" />
		</div>
		<div class="col-md-2">
			<label>Data final:</label><input type="text" name="DatFim" id="DatFim" class="form-control input-sm" style="width:85px;" value="@DatFim" />
		</div>
		<input type="hidden" name="Fabrica" id="Fabrica" value="" />
		<div class="cold-md-1 col-md-offset-8">
			<input type="submit" class="btn btn-sm btn-danger" name="btnConsultar" style="margin-top: -5px;" onclick="$('#frmIndicadores').attr('action', '');" value="  Consultar  " />
		</div>
	</form>
</div>
<div style="color: red;">@ViewBag.Erro</div>
<table class="table-semp">
	<thead>
		<tr>
			<th></th>
			<th colspan="2"><a href="#" onclick="AbreLinhas('IAC')">IAC</a></th>
			<th colspan="2"><a href="#" onclick="AbreLinhas('IMC')">IMC</a></th>
			<th colspan="2"><a href="#" onclick="AbreLinhas('FEC')">MF</a></th>
		</tr>
		<tr>
			<th style="width: 28%"></th>
			<th style="width: 12%">REAL</th>
			<th style="width: 12%">PLAN</th>
			<th style="width: 12%">REAL</th>
			<th style="width: 12%">PLAN</th>
			<th style="width: 12%">REAL</th>
			<th style="width: 12%">PLAN</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null && Model.Count() > 0)
		{
			foreach (var obj in Model)
			{

				if (obj.Indicador == 2 || obj.Indicador == 4)
				{
					var percentualIAC = Math.Round(obj.RealIAC, 0);
					percentualIAC = percentualIAC > 100 ? 100 : percentualIAC;
					var percentualIMC = Math.Round(obj.RealIMC, 0);
					percentualIMC = percentualIMC > 100 ? 100 : percentualIMC;
					var percentualMF = Math.Round(obj.RealMF, 0);
					percentualMF = percentualMF > 100 ? 100 : percentualMF;


					var corIAC = "";
					var corIMC = "";
					var corMF = "";

					if (percentualIAC > obj.PlanIAC)
					{
						corIAC = "background: red;";
					}
					else if (percentualIAC > ((obj.PlanIAC * 80) / 100))
					{
						corIAC = "background: yellow;";
					}
					else
					{
						corIAC = "background: green;";
					}

					if (percentualIMC > obj.PlanIMC)
					{
						corIMC = "background: red;";
					}
					else if (percentualIMC > ((obj.PlanIMC * 80) / 100))
					{
						corIMC = "background: yellow;";
					}
					else
					{
						corIMC = "background: green;";
					}

					if (percentualMF > obj.PlanMF)
					{
						corMF = "background: red;";
					}
					else if (percentualMF > ((obj.PlanMF * 80) / 100))
					{
						corMF = "background: yellow;";
					}
					else
					{
						corMF = "background: green;";
					}

					<tr>
						<td>@obj.Titulo</td>
						<td class="dados">
							<div class="progress">
								@if (obj.Titulo == "Índice Defeitos (%)")
								{
									<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="min-width: 30px; width: @percentualIAC%; @corIAC">
										@obj.RealIAC%
									</div>
								}
								else
								{
									<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="min-width: 30px; width: @percentualIAC%;">
										@obj.RealIAC%
									</div>
								}
							</div>
						</td>
						<td class="dados" style="text-align:center;">@obj.PlanIAC</td>
						<td class="dados">
							<div class="progress">
								@if (obj.Titulo == "Índice Defeitos (%)")
								{
									<div class="progress-bar" role="progressbar" aria-valuenow="60"
										 aria-valuemin="0" aria-valuemax="100" style="min-width: 30px; width: @percentualIMC%; @corIMC">
										@obj.RealIMC%
									</div>
								}
								else
								{
									<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="min-width: 30px; width: @percentualIMC%;">
										@obj.RealIMC%
									</div>
								}
							</div>
						</td>
						<td class="dados" style="text-align:center;">@obj.PlanIMC</td>
						<td class="dados">
							<div class="progress">
								@if (obj.Titulo == "Índice Defeitos (%)")
								{
									<div class="progress-bar" role="progressbar" aria-valuenow="60"
										 aria-valuemin="0" aria-valuemax="100" style="min-width: 30px; width: @percentualMF%; @corMF">
										@obj.RealMF%
									</div>
								}
								else
								{
									<div class="progress-bar" role="progressbar" aria-valuenow="60"
										 aria-valuemin="0" aria-valuemax="100" style="min-width: 30px; width: @percentualMF%;">
										@obj.RealMF%
									</div>
								}
							</div>
						</td>
						<td class="dados" style="text-align:center;">@obj.PlanMF</td>
					</tr>
				}
				else
				{
					<tr>
						<td>@obj.Titulo</td>
						<td class="dados" style="text-align:center;">@obj.RealIAC</td>
						<td class="dados" style="text-align:center;">@obj.PlanIAC</td>
						<td class="dados" style="text-align:center;">@obj.RealIMC</td>
						<td class="dados" style="text-align:center;">@obj.PlanIMC</td>
						<td class="dados" style="text-align:center;">@obj.RealMF</td>
						<td class="dados" style="text-align:center;">@obj.PlanMF</td>
					</tr>
				}
			}
		}
	</tbody>
</table>

<script>
	$(function () {
		$("#DatFim").datepicker();
		$("#DatIni").datepicker();
	});
</script>
