﻿@{
	ViewBag.Title = "Indicadores de Produção";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Indicadores - por fábrica";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var DatIni = Request["DatIni"];
	var DatFim = Request["DatFim"];
	var Turno = Request["Turno"];
	if (String.IsNullOrEmpty(DatIni)) { DatIni = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }

}

<h2>Indicadores de Produção - Por Postos</h2>

<div class="barraOpcoes">
	<form method="post" action="@Url.Action("Postos", "Indicadores") " name="frmIndicadores" id="frmIndicadores">
		<label>Data inicial:</label><input type="text" name="DatIni" id="DatIni" size="10" value="@DatIni" />
		<label>Data final:</label><input type="text" name="DatFim" id="DatFim" size="10" value="@DatFim" />
		<input type="hidden" name="Fabrica" id="hdFabrica" value="@ViewBag.Fabrica"/>
		<input type="hidden" name="CodLinha" id="CodLinha" value="@ViewBag.CodLinha"/>
		<input type="hidden" name="Familia" id="Familia" value="@ViewBag.Familia"/>
		<input type="hidden" name="Posto" id="Posto" value="" />

		<label>Turno&#58;</label>
		<input type="text" name="Turno" id="Turno" value="@ViewBag.Turno" class="turno" />
		&nbsp;&nbsp;
		<input type="submit" name="btnConsultar" value="  Consultar  " class="bttn bttn-sm bttn-red" />
	</form>
</div>

@{
	List<string> titulos = new List<string> { "Qtd. Produzida", "Qtd. Defeitos", "Índice Defeitos (%)" };
}

@{
	var Indicador = (List<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorPostos>)@ViewBag.IndicadorPosto;
}

<table class="table-semp" border="0">
	<thead>
		<tr>
			<th colspan="@ViewBag.CountPostos">
				@if (@ViewBag.Fabrica == "FEC")
				{
					<span>MONTAGEM FINAL - @ViewBag.Familia</span>	 
				}
				else
				{
					<span>@ViewBag.Fabrica</span>	 
				}
			</th>
		</tr>
		<tr>
			<th colspan="@ViewBag.CountPostos" style="height: 30px;">@ViewBag.Linha</th>
		</tr>
		<tr>
			<th></th>
			@if (ViewBag.Postos != null)
			{
				foreach (var item in (List<SEMP.Model.DTO.CBPostoDTO>)ViewBag.Postos)
				{
					<th>
						<a href="#" style="text-decoration: none;" onclick=" AbrePostoDetalhe(@item.NumPosto); " data-toggle="tooltip" title="@item.DesPosto">Pst @item.NumPosto</a>
					</th>
				}
			}
		</tr>
	</thead>
	<tbody>

		@foreach (var t in titulos)
		{
			<tr>
				<td>@t</td>
				@if (Indicador != null)
				{
					foreach (var obj in Indicador.Where(a => a.Titulo == t))
					{
						<td class="dados" style="text-align: center;">@obj.Quantidade @if (t.Equals("Índice Defeitos (%)"))
																					  {
																						  <span>%</span>
																					  }

						</td>
					}
				}
			</tr>
		}

	</tbody>
</table>
<br />
<div style="width: 100%; float: left;">
	<div style="float: left; width: 40%;">
		<table class="table-semp" border="0">
			<caption>@ViewBag.Linha</caption>
			<thead>
				<tr>
					<th></th>
					<th>REAL</th>
					<th>PLAN</th>
					<th>DIF</th>
				</tr>
			</thead>
			<tbody>
				@{
					var titulosResumo = (List<string>) ViewBag.TituloResumoPosto;
					var ResumoPosto = (List<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorMF>) ViewBag.ResumoPosto;

					if (titulosResumo != null)
					{

						foreach (string t in titulosResumo)
						 {
							 <tr>
								 <td>@t</td>
								 @foreach (var obj in ResumoPosto.Where(a => a.Titulo == t.Trim()))
								 {
									 if (t.Equals("Qtd Defeitos"))
									 {
										 decimal difIndice = (obj.Real - obj.Plan);

										 <td class="dados" style="text-align: center;">@obj.Real</td>
										 <td class="dados" style="text-align: center;">@obj.Plan</td>

										 <td class="dados" style="text-align: center; color:@{Write(difIndice < 0 ? "red" : "");}">@difIndice</td>
									 }
									 else
									 {
										 <td class="dados" style="text-align: center;">
											 @obj.Real
											 @if (t.Equals("Índice Defeitos (%)"))
											 {
												 <span>%</span>
											 }
										 </td>
										 <td class="dados" style="text-align: center;">@obj.Plan @if (t.Equals("Índice Defeitos (%)")){<span>%</span>}
										 </td>
										 if (t.Equals("Qtd Produzida"))
										 {
											 <td class="dados" style="text-align: center;">
												 @{
													 decimal dif = (obj.Real - obj.Plan);
												 }
												 <span style="font-weight: bolder; color: @if (dif < 0){Write("red");}else{Write("");};">@dif</span>
											 </td>
										 }
										 else
										 {
											 <td style="text-align: center">-</td>

										 }
									 }
								 }
							 </tr>
						 }
					}
				}
			</tbody>
		</table>
	</div>

	<div style="float: right; width: 40%;">
		<table class="table-semp" border="0" style="margin-top: 15px;">
			<caption></caption>
			<thead>
				<tr>
					<th></th>
					<th>
						<a href="#" onclick="AbrePostoTecnico(); return false;">Posto Tecnico
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				@{
					var tituloPostoTecnico = (List<string>) ViewBag.TitulosPostoTecnico;
					var PostoTecnico = (List<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorMF>) ViewBag.PostoTecnico;

					if (tituloPostoTecnico != null)
					{
						foreach (string t in tituloPostoTecnico)
						{
							<tr>
								<td>@t</td>
								@foreach (var obj in PostoTecnico.Where(a => a.Titulo == t.Trim()))
								{
									<td class="dados" style="text-align: center;">

										<span>@obj.Real</span>

									</td>
								}
							</tr>
						}
					}
				}
			</tbody>
		</table>
	</div>
</div>
<br />
<a href="#" class="bttn bttn-sm bttn-red" onclick="VoltarLinhas();">Voltar</a>

<script type="text/javascript">

	$(function () {
		$("#DatFim").datepicker();
		$("#DatIni").datepicker();
	});

	function AbrePostoDetalhe(Posto) {
		$("#frmIndicadores").attr("action", "/Coleta/Indicadores/PostoDetalhe/");
		$("#Posto").val(Posto);
		$("#frmIndicadores").submit();

	}

	function AbrePostoTecnico() {
		$("#frmIndicadores").attr("action", "/Coleta/Indicadores/PostoTecnico/");
		$("#frmIndicadores").submit();

	}

	function VoltarLinhas() {
		$("#frmIndicadores").attr("action", "/Coleta/Indicadores/RelFabrica/");
		$("#frmIndicadores").submit();
	}
</script>

