﻿@{
    ViewBag.Title = "Indicadores de Produção";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Indicadores - por fábrica";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var DatIni = Request["DatIni"];
	var DatFim = Request["DatFim"];
    var Turno = Request["Turno"];
	if (String.IsNullOrEmpty(DatIni)) { DatIni = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }

}

<h2>Indicadores de Produção - Por Hora</h2>


<div class="barraOpcoes">
	<form method="post" action="@Url.Action("PostoDetalhe","Indicadores") " name="frmIndicadores" id="frmIndicadores">
        <label>Data inicial:</label><input type="text" name="DatIni" id="DatIni" size="10" value="@DatIni" />
		<label>Data final:</label><input type="text" name="DatFim" id="DatFim" size="10" value="@DatFim" />
        <input type="hidden" name="Fabrica" id="hdFabrica" value="@ViewBag.Fabrica"/>
        <input type="hidden" name="CodLinha" id="CodLinha" value="@ViewBag.CodLinha"/>
        <input type="hidden" name="Posto" id="Posto" value="@ViewBag.Posto"/>
        <input type="hidden" name="Familia" id="Familia" value="@ViewBag.Familia"/>
		
        <label>Turno&#58;</label>
        <input type="text" name="Turno" id="Turno" value="@ViewBag.Turno" class="turno" />
        &nbsp;&nbsp;
		<input type="submit" name="btnConsultar" value="  Consultar  " onclick="$('#frmIndicadores').attr('action', '/Coleta/Indicadores/PostoDetalhe/');" class="bttn bttn-sm bttn-red"/>
	</form>
</div>


<table class="table-semp" border="0">
<thead>
	<tr>
		<th colspan="@ViewBag.CountColunas">
                            @if (@ViewBag.Fabrica == "FEC")
	{
	    <span>MONTAGEM FINAL - @ViewBag.Familia</span>	 
	}
    else
	{
        <span>@ViewBag.Fabrica</span>	 
    }

		</th>
	</tr>
    <tr>
        
		<th colspan="@ViewBag.CountColunas" style="height: 30px;">PST @ViewBag.Posto</th>
	</tr>
    <tr>
        <th></th>
        @foreach (var item in (List<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorPostoHoraHora>)@ViewBag.Horarios)
        {
            <th>@item.Hora</th>    
        }
	</tr>
</thead>
<tbody>
@{
    List<string> titulos = new List<string> { "Qtd. Produzida", "Qtd. Defeitos", "Índice Defeitos (%)" };
}

@{
    var Indicador = (List<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorPostoHoraHora>)@ViewBag.ListaIndicadorPostoHora;
}

@for (int i = 0; i < titulos.Count; i++)
{
    <tr>
		<td>@titulos[i]</td>
        @foreach (var obj in Indicador.Where(a => a.Titulo == @titulos[i]))
        {
		    <td class="dados" style="text-align: center;">@obj.Quantidade @if (titulos[i].Equals("Índice Defeitos (%)"))
	{
		         <span>%</span>
	}

		    </td>
        }
    </tr>
}

</tbody>
</table>

<br />
<div style="width: 100%; float: left;">
    <div style="float: left; width: 40%;">
        <table class="table-semp" border="0">
            <caption></caption>
            <thead>
	            <tr>
		            <th></th>
                    <th>PST @ViewBag.Posto</th>
	            </tr>
            </thead>
            <tbody>
@{
    var titulosResumo = (List<string>)@ViewBag.TituloResumoPosto;
}
@{
    var ResumoPosto = (List<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorMF>)@ViewBag.ResumoPosto;
}

@for (int i = 0; i < titulosResumo.Count; i++)
{
    <tr>
		<td>@titulosResumo[i]</td>
        @foreach (var obj in ResumoPosto.Where(a => a.Titulo == @titulosResumo[i].Trim()))
        {
		    <td class="dados" style="text-align: center;">@obj.Real @if (titulosResumo[i].Equals("Índice Defeitos (%)"))
                { <span>%</span> }
		    </td>
        }
    </tr>
}               
            </tbody>
        </table>
    </div>

    <div style="float: right; width: 40%;">
        <table class="table-semp" border="0">
            <caption></caption>
            <thead>
	            <tr>
		            <th></th>
                    <th>
                        <a href="#" onclick="AbrePostoTecnico(); return false;">
                            Posto Tecnico
                        </a>
                    </th>
	            </tr>
            </thead>
            <tbody>
@{
    var tituloPostoTecnico = (List<string>)@ViewBag.TitulosPostoTecnico;
}
@{
    var PostoTecnico = (List<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorMF>)@ViewBag.PostoTecnico;
}


@for (int i = 0; i < tituloPostoTecnico.Count; i++)
{
    <tr>
		<td>@tituloPostoTecnico[i]</td>
        @foreach (var obj in PostoTecnico.Where(a => a.Titulo == @tituloPostoTecnico[i].Trim()))
        {
		    <td class="dados" style="text-align: center;">
                
                <span>@obj.Real</span>       
                
		    </td>
        }
    </tr>
}
            </tbody>
        </table>
    </div>
</div>
<br />
<a href="#" class="bttn bttn-sm bttn-red" onclick="VoltarPosto();">Voltar</a>

<script type="text/javascript">

    $(function () {

        $("#DatFim").datepicker();
        $("#DatIni").datepicker();

        var familia = "";

    });


    function AbrePostoTecnico() {
        $("#frmIndicadores").attr("action", "/Coleta/Indicadores/PostoTecnico/");
        $("#frmIndicadores").submit();

    }

    function VoltarPosto() {
        $("#frmIndicadores").attr("action", "/Coleta/Indicadores/Postos/");
        $("#frmIndicadores").submit();
    }
</script>