﻿@model IEnumerable<SEMP.Model.DTO.viw_CBDefeitoTurnoDTO>
@{
    ViewBag.Title = "Indicadores de Produção";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Indicadores - por fábrica";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var DatIni = Request["DatIni"];
	var DatFim = Request["DatFim"];
	if (String.IsNullOrEmpty(DatIni)) { DatIni = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
}

<h2>Indicadores de Produção - Posto Técnico <span id="spDescricao"></span></h2>

<div class="barraOpcoes">
	<form method="post" action="@Url.Action("PostoTecnico","Indicadores") " name="frmIndicadores" id="frmIndicadores">
        <label>Data inicial:</label><input type="text" name="DatIni" id="DatIni" size="10" value="@DatIni" />
		<label>Data final:</label><input type="text" name="DatFim" id="DatFim" size="10" value="@DatFim" />
        <input type="hidden" name="Fabrica" id="hdFabrica" value="@ViewBag.Fabrica"/>
        <input type="hidden" name="CodLinha" id="CodLinha" value="@ViewBag.CodLinha"/>
        <input type="hidden" name="Posto" id="Posto" value="@ViewBag.Posto"/>
        <input type="hidden" name="Familia" id="Familia" value="@ViewBag.Familia"/>
        <input type="hidden" name="Grafico" id="Grafico" value=""/>
        <input type="hidden" name="Turno" id="Turno" value="@ViewBag.Turno"/>
		
        @*<label>Turno&#58;</label>
        <input type="text" name="Turno" id="Turno" value="@ViewBag.Turno" class="turno" />*@
        &nbsp;&nbsp;
		<input type="submit" name="btnConsultar" value="  Consultar  " class="bttn bttn-sm bttn-red" />
	</form>
</div>

<table class="table-semp blue" border="0">
<caption style="font-size:14px;">
    @if (@ViewBag.Fabrica == "FEC")
	{
	    <span>MONTAGEM FINAL - @ViewBag.Familia</span>	 
	}
    else
	{
        <span>@ViewBag.Fabrica</span>	 
    }
    - @ViewBag.DesLinha
	@if (@ViewBag.Posto != null)
	{
		<span> - @ViewBag.DesPosto</span>
	}
</caption>
<thead>

<tr>
    <th>
        @Html.DisplayNameFor(model => model.NumECB)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CodLinha)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.NumPosto)
    </th>
    <th>
        <a href="#" onclick="AbrirGrafico('CodDefeito')" style="color: white; text-decoration: underline;">
            @Html.DisplayNameFor(model => model.CodDefeito)
        </a>
    </th>
    <th>
        <a href="#" onclick="AbrirGrafico('CodCausa')" style="color: white; text-decoration: underline;">
            @Html.DisplayNameFor(model => model.CodCausa)
        </a>
    </th>
    <th>
        <a href="#" onclick="AbrirGrafico('Posicao')" style="color: white; text-decoration: underline;">
            @Html.DisplayNameFor(model => model.Posicao)
        </a>
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FlgTipo)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.CodOrigem)
    </th>
    <th>
        <a href="#" onclick="AbrirGrafico('DesAcao')" style="color: white; text-decoration: underline;">
            @Html.DisplayNameFor(model => model.DesAcao)
        </a>
    </th>
    <th>
        @Html.DisplayNameFor(model => model.DatEvento)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.DatRevisado)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.NumPostoRevisado)
    </th>
</tr>
</thead>
<tbody>
    
    @if (Model.Any(a => a.FlgRevisado == 0))
    {
        <tr>
            <td colspan="13" style="font-size: 15px; font-weight: bold;">
                Defeitos Em Análise: @Model.Count(a => a.FlgRevisado == 0)
            </td>
        </tr>
    }
    @foreach (var item in Model.Where(a => a.FlgRevisado == 0).ToList())
    {
        <tr>
            <td>
                @item.NumECB
            </td>
            <td>
                @item.CodLinha
            </td>
            <td>
                @item.NumPosto
            </td>
            <td>
                @item.CodDefeito - @item.DesDefeito
            </td>
            <td>
                @item.CodCausa - @item.DesCausa
            </td>
            <td>
                @item.Posicao
            </td>
            <td>
                @item.FlgTipo
            </td>
            <td>
                @item.CodOrigem - @item.DesOrigem
            </td>
            <td>
                @item.DesAcao
            </td>
            <td>
                @item.DatEvento
            </td>
            <td>
                @item.DatRevisado
            </td>
            <td>
                @item.NumPostoRevisado
            </td>
        </tr>   
    }

    @if (Model.Any(a => a.FlgRevisado == 1))
    {
        <tr>
            <td colspan="13" style="font-size: 15px; font-weight: bold;">
                Defeitos Revisados: @Model.Count(a => a.FlgRevisado == 1)
            </td>
        </tr>
    }
    @foreach (var item in Model.Where(a => a.FlgRevisado == 1).ToList())
    {
        <tr>
            <td>
                @item.NumECB
            </td>
            <td>
                @item.CodLinha
            </td>
            <td>
                @item.NumPosto
            </td>
            <td>
                @item.CodDefeito - @item.DesDefeito
            </td>
            <td>
                @item.CodCausa - @item.DesCausa
            </td>
            <td>
                @item.Posicao
            </td>
            <td>
                @item.FlgTipo
            </td>
            <td>
                @item.CodOrigem - @item.DesOrigem
            </td>
            <td>
                @item.DesAcao
            </td>
            <td>
                @item.DatEvento
            </td>
            <td>
                @item.DatRevisado
            </td>
            <td>
                @item.NumPostoRevisado
            </td>
        </tr>   
    }

</tbody>
</table>

<br />
<div>
<a href="#" class="bttn bttn-sm bttn-red" onclick="Voltar(); return false;">Voltar</a>
</div>

<br />
<script type="text/javascript">
    
    $(function () {
        $("#DatFim").datepicker();
        $("#DatIni").datepicker();
    });

    $(document).ready(function () {
        if ($('#Posto').val() != "") {
            $("#spDescricao").html("Por Posto");
        }
        else if ($('#CodLinha').val() != "") {
            $("#spDescricao").html("Por Linha");
        }
        else {
            $("#spDescricao").html("Por Fábrica");
        }
    });

    function AbrirGrafico(valor) {
        $("#frmIndicadores").attr("action", "/Coleta/Indicadores/Grafico/");
        $("#Grafico").val(valor);
        $("#frmIndicadores").submit();
    }

    function Voltar() {
	    history.back();
	    /*if ($('#Posto').val() != "") {
            $("#frmIndicadores").attr("action", "/Coleta/Indicadores/PostoDetalhe/");
            $("#frmIndicadores").submit();
        }
        else if ($('#CodLinha').val() != "") {
            $("#frmIndicadores").attr("action", "/Coleta/Indicadores/Postos/");
            $("#frmIndicadores").submit();
        }
        else{
            $("#frmIndicadores").attr("action", "/Coleta/Indicadores/RelFabrica/");
            $("#frmIndicadores").submit();
        }*/
    }
</script>