﻿@{
    ViewBag.Title = "Indicadores de Produção";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Indicadores - por fábrica";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var DatIni = Request["DatIni"];
	var DatFim = Request["DatFim"];
	if (String.IsNullOrEmpty(DatIni)) { DatIni = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
}

<h2>Indicadores de Produção - Por fábrica</h2>

<div class="barraOpcoes">
	<form method="post" action="@Url.Action("RelFabrica","Indicadores") " name="frmIndicadores" id="frmIndicadores">
        <label>Data inicial:</label><input type="text" name="DatIni" id="DatIni" size="10" value="@DatIni" />
		<label>Data final:</label><input type="text" name="DatFim" id="DatFim" size="10" value="@DatFim" />
        <input type="hidden" name="hdFabrica" id="hdFabrica" value="@ViewBag.Fabrica"/>
        <input type="hidden" name="CodLinha" id="CodLinha" value=""/>
		&nbsp;          
        @Html.DropDownList("Fabrica", (SelectList)ViewData["ListaFabrica"], new { onchange="VerificaFabrica(this.value)"})
		&nbsp;
        @Html.DropDownList("Familia", (SelectList)ViewData["ListaFamilia"])
        &nbsp;
		<input type="submit" name="btnConsultar" value="  Consultar  " class="bttn bttn-sm bttn-red" onclick="$('#frmIndicadores').attr('action', '/Coleta/Indicadores/RelFabrica/');"/>

	</form>

</div>

<table class="table-semp" border="0">
<caption>
    @if (@ViewBag.Fabrica == "FEC")
	{
	    <span>MONTAGEM FINAL - @ViewBag.Familia</span>	 
	}
    else
	{
        <span>@ViewBag.Fabrica</span>	 
    }
     
</caption>
<thead>
	<tr>
        <th></th>
        @foreach (var item in (List<SEMP.Model.DTO.CBLinhaDTO>)@ViewBag.Linhas)
        {
            <th colspan="2"><a href="#" style="text-decoration:none;" onclick="AbrePostos(@item.CodLinha);">@item.DesLinha</a></th>    
        }
	</tr>
	<tr>
		<th></th>
        @foreach (var item in (List<SEMP.Model.DTO.CBLinhaDTO>)@ViewBag.Linhas)
        {
            <th>REAL</th>
		    <th>PLAN</th>
        }
	</tr>
</thead>
<tbody>

@{
    var titulos = (List<string>)@ViewBag.TitulosIndicadores;
}
@{
    var Indicador = (List<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorMF>)@ViewBag.Indicador;
}

@for (int i = 0; i < titulos.Count; i++)
{
    <tr>
		<td>@titulos[i]</td>
        @foreach (var obj in Indicador.Where(a => a.Titulo == @titulos[i]))
        {
		    <td class="dados" style="text-align: center;">@obj.Real</td>
		    <td class="dados" style="text-align: center;">@obj.Plan</td> 
        }
    </tr>
}

</tbody>
</table>

<br />
<div style="width: 100%; float: left;">
    <div style="float: left; width: 40%;">
        <table class="table-semp" border="0">
            <caption></caption>
            <thead>
	            <tr>
		            <th></th>
                    <th>REAL</th>
		            <th>PLAN</th>
                    <th>DIF</th>
	            </tr>
            </thead>
            <tbody>
@{
    var titulosResumoFabrica = (List<string>)@ViewBag.TitulosResumoFabrica;
}
@{
    var ResumoFabrica = (List<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorMF>)@ViewBag.ResumoFabrica;
}

@for (int i = 0; i < titulosResumoFabrica.Count; i++)
{
    <tr>
		<td>@titulosResumoFabrica[i]</td>
        @foreach (var obj in ResumoFabrica.Where(a => a.Titulo == @titulosResumoFabrica[i].Trim()))
        {
		    <td class="dados" style="text-align: center;">@obj.Real @if (titulosResumoFabrica[i].Equals("Índice Defeitos (%)"))
                                                              { <span>%</span> }</td>
		    <td class="dados" style="text-align: center;">
                @if (titulosResumoFabrica[i].Equals("Total Defeitos"))
                {
                    var indicePlanejado = ResumoFabrica.FirstOrDefault(x => x.Titulo == "Índice Defeitos (%)").Plan;
                    var totalProduzido = ResumoFabrica.FirstOrDefault(x => x.Titulo == "Total Produzido").Plan;
                    var calculo = Math.Round((indicePlanejado / 100) * totalProduzido);
                    ResumoFabrica[i].Plan = calculo;
                    
                   
                    <span>@calculo  @if (titulosResumoFabrica[i].Equals("Índice Defeitos (%)"))
                                    { <span>%</span> } </span>
                    
                }
                else
                {
                    <span>@obj.Plan @if (titulosResumoFabrica[i].Equals("Índice Defeitos (%)"))
                                    { <span>%</span> }</span>
                }
		    </td> 
            <td class="dados" style="text-align: center;">
                @{ 
                if (!titulosResumoFabrica[i].Equals("Índice Defeitos (%)"))
                {
                    decimal dif = (obj.Real - obj.Plan);
                    if (dif < 0)
                    {
                            <span style="font-weight: bolder; color: red;">@dif</span>    
                    }
                    else
                    {
                            <span>@dif</span>
                    }
                }
                else
                {
                    <span>-</span>
                }
                }

            </td> 
        }
    </tr>
}               
            </tbody>
        </table>
    </div>

    <div style="float: right; width: 40%;">
        <table class="table-semp" border="0">
            <caption></caption>
            <thead>
	            <tr>
		            <th></th>
                    <th>
                        <a href="#" onclick="AbrePostoTecnico(); return false;">
                            Posto Tecnico
                        </a>
                    </th>
	            </tr>
            </thead>
            <tbody>
@{
    var tituloPostoTecnico = (List<string>)@ViewBag.TitulosPostoTecnico;
}
@{
    var PostoTecnico = (List<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorMF>)@ViewBag.postoTecnico;
}


@for (int i = 0; i < tituloPostoTecnico.Count; i++)
{
    <tr>
		<td>@tituloPostoTecnico[i]</td>
        @foreach (var obj in PostoTecnico.Where(a => a.Titulo == @tituloPostoTecnico[i].Trim()))
        {
		    <td class="dados" style="text-align: center;">
                
                <span>@obj.Real</span>       
                
		    </td>
        }
    </tr>
}
            </tbody>
        </table>
    </div>
</div>
<br />
<div>
<a href="/Coleta/Indicadores/" class="bttn bttn-sm bttn-red" >Voltar</a>
</div>

<script>
    $(function () {
        $("#DatFim").datepicker();
        $("#DatIni").datepicker();

        var fabrica = "@ViewBag.Fabrica";
        VerificaFabrica(fabrica);
    });


    function AbrePostos(CodLinha) {
        $("#frmIndicadores").attr("action", "/Coleta/Indicadores/Postos/");
        $("#CodLinha").val(CodLinha);
        $("#frmIndicadores").submit();

    }

    function AbrePostoTecnico() {
        $("#frmIndicadores").attr("action", "/Coleta/Indicadores/PostoTecnico/");
        $("#frmIndicadores").submit();

    }

    function VerificaFabrica(fabrica) {
        if (fabrica != "FEC") {
            $("#Familia").css('visibility', 'hidden');
        }
        else {
            $("#Familia").css('visibility', 'visible');
        }
    }
</script>