﻿@model SEMP.Model.DTO.CBTempoModeloDTO

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Quer realmente deletar o registro?</h3>
<fieldset>
    <legend></legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DatVigenciaFim)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DatVigenciaFim)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CodTempoMod)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CodTempoMod)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValTempoPadrao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValTempoPadrao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValTempoMontagem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValTempoMontagem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.flgAtivo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.flgAtivo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValPrepPlaca)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValPrepPlaca)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValWakeUp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValWakeUp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValRunIn)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValRunIn)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValTesteFinal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValTesteFinal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValDownload)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValDownload)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValPrepKits)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValPrepKits)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValEmbalagem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValEmbalagem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValSerigrafiaGab)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValSerigrafiaGab)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValTampografiaFront)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValTampografiaFront)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValTampografiaLCD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValTampografiaLCD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValTampografiaCover)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValTampografiaCover)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValTampografiaBackCover)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValTampografiaBackCover)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValMontagemGabinete)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValMontagemGabinete)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValMontagemFrontal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValMontagemFrontal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValMontagemFonte)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValMontagemFonte)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValMontagemLCD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValMontagemLCD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValPreTeste)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValPreTeste)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValCalibGSensor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValCalibGSensor)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
