﻿@model SEMP.Model.DTO.CBTempoModeloDTO

@{
	ViewBag.Title = "Detalhes";
	Layout = "~/Views/Shared/_Layout.cshtml";
	
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Tempo Modelo";	
}

<script src="@Scripts.Url("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>

<h2>Detalhes</h2>

<fieldset>
    <legend></legend>

    <div style="float:left;">
    
        <div class="display-label" style="font-size:medium">
                @Html.DisplayNameFor(model => model.CodIdentificador)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CodIdentificador)
        </div>
        <br />

        <div class="display-label" style="font-size:medium">
         @Html.DisplayNameFor(model => model.CodTempoMod)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CodTempoMod)
        </div>
        <br />
        
        <div class="display-label" style="font-size:medium">
         @Html.DisplayNameFor(model => model.DatVigenciaFim)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DatVigenciaFim)
        </div>
        <br />
    </div>

    <div style=" margin-left:70px; float:left">
        <div class="display-label" style="font-size:medium">
         @Html.DisplayNameFor(model => model.ValTempoPadrao)
        </div>

        <div class="display-field">
            @Html.DisplayFor(model => model.ValTempoPadrao)
        </div>
        <br />
    
        <div class="display-label" style="font-size:medium">
         @Html.DisplayNameFor(model => model.ValTempoMontagem)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValTempoMontagem)
        </div>
        <br />

        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.flgAtivo)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.flgAtivo)
        </div>
        <br />
        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValPrepPlaca)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValPrepPlaca)
        </div>
        <br />
        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValWakeUp)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValWakeUp)
        </div>
        <br />        
        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValRunIn)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValRunIn)
        </div>
        <br />
    </div>

    <div style=" margin-left:70px; float:left">
       
        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValTesteFinal)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValTesteFinal)
        </div>
        <br />

        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValDownload)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValDownload)
        </div>
        <br />

        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValPrepKits)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValPrepKits)
        </div>
        <br />

        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValEmbalagem)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValEmbalagem)
        </div>
         <br />

        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValSerigrafiaGab)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValSerigrafiaGab)
        </div>
        <br />
        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValTampografiaFront)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValTampografiaFront)
        </div>
     </div>

    <div style=" margin-left:70px; float:left">
        
        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValTampografiaLCD)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValTampografiaLCD)
        </div>
        <br />
        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValTampografiaCover)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValTampografiaCover)
        </div>
        <br />
        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValTampografiaBackCover)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValTampografiaBackCover)
        </div>
        <br />
        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValMontagemGabinete)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValMontagemGabinete)
        </div>
        <br />
        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValMontagemFrontal)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValMontagemFrontal)
        </div>
        <br />
        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValMontagemFonte)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValMontagemFonte)
        </div>
        <br />
        </div>

    <div style=" margin-left:70px; float:left">
        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValMontagemLCD)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValMontagemLCD)
        </div>
        <br />
        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValPreTeste)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValPreTeste)
        </div>
        <br />
        <div class="display-label" style="font-size:medium">
             @Html.DisplayNameFor(model => model.ValCalibGSensor)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.ValCalibGSensor)
        </div>
    </div>   
    
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new {  id=Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
