﻿@model SEMP.Model.DTO.CBTempoModeloDTO

@{
	ViewBag.Title = "Editar Tempo Modelo";
	Layout = "~/Views/Shared/_Layout.cshtml";
	
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Tempo Modelo";	
}

<h2>Editar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        @Html.HiddenFor(model => model.DatVigenciaIni)

        @Html.HiddenFor(model => model.DatVigenciaFim)

         <div style="float:left;">

                <div class="editor-label" style="font-size:medium">
                    @Html.LabelFor(model => model.CodIdentificador)
                    @Html.DisplayFor(model => model.CodIdentificador)   
                </div>                
                <br />
                
                <div class="editor-label">
                    @Html.LabelFor(model => model.ValSerigrafiaGab)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.ValSerigrafiaGab)
                    @Html.ValidationMessageFor(model => model.ValSerigrafiaGab)
                </div>
        
                <div class="editor-label">
                    @Html.LabelFor(model => model.ValTampografiaFront)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.ValTampografiaFront)
                    @Html.ValidationMessageFor(model => model.ValTampografiaFront)
                </div>
        
                <div class="editor-label">
                    @Html.LabelFor(model => model.ValTampografiaLCD)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.ValTampografiaLCD)
                    @Html.ValidationMessageFor(model => model.ValTampografiaLCD)
                </div>
        
                    <div class="editor-label">
                    @Html.LabelFor(model => model.ValTampografiaCover)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.ValTampografiaCover)
                    @Html.ValidationMessageFor(model => model.ValTampografiaCover)
                </div>
        
                <div class="editor-label">
                    @Html.LabelFor(model => model.ValTampografiaBackCover)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ValTampografiaBackCover)
                    @Html.ValidationMessageFor(model => model.ValTampografiaBackCover)
                </div>     
                 <br />
                 <p>
                    <input type="submit" value="Salvar" class="bttn bttn-sm bttn-red"/>
                </p>                          
            </div>
        
         <div style=" margin-left:70px; float:left">

            <div class="editor-label">
                @Html.LabelFor(model => model.CodTempoMod)
            </div>

            <div class="editor-field">
                @Html.EditorFor(model => model.CodTempoMod)
                @Html.ValidationMessageFor(model => model.CodTempoMod)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ValMontagemGabinete)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ValMontagemGabinete)
                @Html.ValidationMessageFor(model => model.ValMontagemGabinete)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ValMontagemFrontal)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ValMontagemFrontal)
                @Html.ValidationMessageFor(model => model.ValMontagemFrontal)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ValMontagemFonte)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ValMontagemFonte)
                @Html.ValidationMessageFor(model => model.ValMontagemFonte)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ValMontagemLCD)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ValMontagemLCD)
                @Html.ValidationMessageFor(model => model.ValMontagemLCD)
            </div>

        </div>

         <div style="margin-left:70px; float:left">
            <div class="editor-label">
                @Html.LabelFor(model => model.DescricaoProduto)
            </div>

            <div class="editor-field">
                @{
                    List<SelectListItem> listProdutos = new List<SelectListItem>();

                    listProdutos.Add(new SelectListItem { Text = "Notebook", Value = "N" });
                    listProdutos.Add(new SelectListItem { Text = "Tablet", Value = "TAB" });
                    }

                @Html.DropDownList("flgTipoProduto", listProdutos, "")
                @Html.ValidationMessageFor(model => model.flgTipoProduto)
               
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ValTempoMontagem)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ValTempoMontagem)
                @Html.ValidationMessageFor(model => model.ValTempoMontagem)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ValPrepPlaca)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ValPrepPlaca)
                @Html.ValidationMessageFor(model => model.ValPrepPlaca)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ValPreTeste)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ValPreTeste)
                @Html.ValidationMessageFor(model => model.ValPreTeste)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ValWakeUp)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ValWakeUp)
                @Html.ValidationMessageFor(model => model.ValWakeUp)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ValRunIn)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ValRunIn)
                @Html.ValidationMessageFor(model => model.ValRunIn)
            </div>

        </div>

         <div style="margin-left:70px; float:left">

            <div class="editor-label">
                @Html.LabelFor(model => model.ValCalibGSensor)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ValCalibGSensor)
                @Html.ValidationMessageFor(model => model.ValCalibGSensor)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ValTesteFinal)
            </div>
        
            <div class="editor-field">
                @Html.EditorFor(model => model.ValTesteFinal)
                @Html.ValidationMessageFor(model => model.ValTesteFinal)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ValDownload)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ValDownload)
                @Html.ValidationMessageFor(model => model.ValDownload)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ValPrepKits)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ValPrepKits)
                @Html.ValidationMessageFor(model => model.ValPrepKits)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ValEmbalagem)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ValEmbalagem)
                @Html.ValidationMessageFor(model => model.ValEmbalagem)
            </div>

        </div>
        
        <div style="float:none">
            
        </div>

    </fieldset>
}

<div>
    @Html.ActionLink("Voltar", "Index")
</div>

@Scripts.Render("~/bundles/jqueryval")
