﻿@model IEnumerable<SEMP.Model.DTO.CBTempoModeloDTO>

@{
    ViewBag.Title = "Tempo Modelo";
    Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Tempo Modelo";
}

<link href="@Scripts.Url("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/ui.multiselect.css")" rel="stylesheet" type="text/css" />
    
<script src="@Scripts.Url("~/Scripts/JQGrid/grid.locale-pt-br.js")" type="text/javascript"></script>
<script src="@Scripts.Url("~/Scripts/JQGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>


<h2>Tempo Modelo</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table-semp" style="margin-bottom:20px">
    <tr>        
        <th style="font-size:14px;">
            @Html.DisplayNameFor(model => model.DescricaoProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodIdentificador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodTempoMod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotalTampografica)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotalGabinete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotalTempoMontagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotalTempoOutros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotalTempoPadrao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorTotalTempoTotal)
        </th>       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodIdentificador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodTempoMod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotalTampografica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotalGabinete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotalTempoMontagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotalTempoOutros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotalTempoPadrao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorTotalTempoTotal)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
        </td>
    </tr>
}

</table>
