﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.Relatorios.ProducaoHoraAHora>

@{
	ViewBag.Title = "Produção Hora a Hora";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Produção Hora a Hora";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var Data = Request["Data"];
	var Fase = Request["Fase"];

	if (String.IsNullOrEmpty(Data)) { Data = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(Fase)) { Fase = "FEC"; }

}
@Scripts.Render("~/bundles/excelexport")

<h3>@ViewBag.Title</h3>
<form name="frmRelatorio" id="frmRelatorio" action="/Coleta/ProducaoHora/" method="post" class="form-inline">
	<div class="input-group">
		<label class="input-group-addon">Data&#58;</label>
		<input type="text" name="Data" id="Data" value="@Data" class="form-control" style="width: 100px;" />
	</div>

	<div class="input-group">
		<label class="input-group-addon">Fase:</label>
		<select name="Fase" id="fase" class="form-control">
			<option value="IAC" @{if (Fase == "IAC") { WriteLiteral("selected"); }}>IAC</option>
			<option value="IMC" @{if (Fase == "IMC") { WriteLiteral("selected"); }}>IMC</option>
			<option value="FEC" @{if (Fase == "FEC") { WriteLiteral("selected"); }}>MF</option>
			<option value="MOB" @{if (Fase == "MOB") { WriteLiteral("selected"); }}>MOB</option>
		</select>
	</div>
	<div class="input-group">
		<div class="btn-toolbar">
			<span class="btn-group">
				<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="btn btn-sm btn-success" />
				<input type="button" name="btnEnviar" value="Produção Hora" class="btn btn-sm btn-danger" onclick="btnEnviar_Click();" />
			</span>
		</div>
	</div>

	<div class="input-group" style="margin-left: 15px;">
		<label class="input-group-addon">Período&#58;</label>
		<select name="minutos" id="minutos" class="form-control">
			<option value="1">1</option>
			<option value="5">5</option>
			<option value="10" selected="selected">10</option>
		</select>
		<span class="input-group-addon">min</span>
	</div>

		<input type="button" name="btnRitmo" value="Ritmo de Produção" class="btn btn-sm btn-danger" onclick="btnRitmo_Click();" />

</form>
<br />
<div id="conteudo"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<br /><br />
<script>
	$(function () {
		$("#Data").datepicker();
	});

	$(document).ready(function () {
		$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados"
				, datatype: $datatype.MVC
			});
		});
	});

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			url: "/Coleta/ProducaoHora/Lista/",
			data: {
				data: $("#Data").val(),
				fase: $("#fase").val()
			},
			success: function (data) {
				$("#conteudo").html(data);
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	function btnRitmo_Click() {
		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			url: "/Coleta/ProducaoHora/ListaHora/",
			data: {
				data: $("#Data").val(),
				minutos: $("#minutos").val(),
				fase: $("#fase").val()
			},
			success: function (data) {
				$("#conteudo").html(data);
				$("div").tooltip();

			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}
</script>
