﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.Relatorios.ProducaoLinhaMinuto>

@{

	var linhas = Model.GroupBy(x => new {x.CodLinha, x.DesLinha, x.MetaMin, x.CodModelo}).Select(x => new {x.Key.CodLinha, x.Key.DesLinha, x.Key.MetaMin, x.Key.CodModelo}).OrderBy(x => x.CodLinha).ToList();
	var maiorHora = Model.OrderByDescending(x => x.Hora).Select(x => x.Hora).FirstOrDefault();
	var menorHora = Model.OrderBy(x => x.Hora).Select(x => x.Hora).FirstOrDefault();

	int minutos = int.Parse(Request["minutos"]);
	int divisoes = (60/minutos);
	int taxa = minutos - 1;

	var tam = "45px;";
	if (Request.QueryString["Fase"] == "MOB"){
		tam = "150px;";
	}
}

<style>
	.linha {
		background-color: cornflowerblue;
		color: white !important;
		font-weight: bold !important;
		padding-left: 3px;
		padding-right: 3px;
	}

	.bloco {
		width: 20px;
		height: 20px;
	}
	.cheio {
		background-color: cadetblue;
		color: white !important;
		text-align: center;
	}
	.cheio2 {
		background-color: red;
		color: white !important;
		text-align: center;
	}
	.cheio3 {
		background-color: yellow;
		color: black !important;
		text-align: center;
	}
	.cheio4 {
		background-color: green;
		color: white !important;
		text-align: center;
	}
	.vazio {
		/*background-color: gray;*/
		border-left: solid 1px lightgray;
		border-bottom: solid 1px lightgray;
		text-align:center;
	}

	a.ritmo {
		color: white; text-decoration: none;
	}

	a.ritmo:active {
		color: white; text-decoration: none;
	}

	a.ritmo:hover {
		color: yellow !important; text-decoration: none;
	}


</style>

<table class="table-ritmo" id="tblDados">
	<thead>
		<tr>
			<th rowspan="2"><div style="display: block; min-width:100px;">Linhas</div></th>
			<th rowspan="2"><div style="display: block; width: @tam;">NE</div></th>
			<th rowspan="2">Meta</th>
			@for (int i = menorHora; i <= maiorHora; i++)
			{
				<th colspan="@divisoes">@i</th>
			}
		</tr>
		<tr>
			@for (int i = menorHora; i <= maiorHora; i++)
			      {
				      for (int j = 0; j < 60; j += minutos)
				      {
					      <th class="bloco">@j</th>
				      }
			      }
		</tr>
	</thead>
	
	<tbody>

	@foreach (var item in linhas) {
		var meta = (int)Math.Ceiling(item.MetaMin * (taxa+1));
   
		<tr>
			<td class="linha">
				<a href="/Coleta/Acompanhamento/?codLinha=@item.CodLinha" target="_blank" class="ritmo">@Html.DisplayFor(modelItem => item.CodLinha) - @Html.DisplayFor(modelItem => item.DesLinha)</a>
			</td>
			<td class="linha">@item.CodModelo</td>
			<td class="bloco vazio">@meta</td>
			@for (int i = menorHora; i <= maiorHora; i++)
			{

				for (int j = 0; j < 60; j += minutos)
				{

					var quantidade = Model.Where(x =>
							x.CodLinha == item.CodLinha &&
							x.CodModelo == item.CodModelo &&
							x.MetaMin == item.MetaMin &&
							x.Hora == i &&
							x.Minuto >= j &&
							x.Minuto <= j + taxa).Sum(x => x.QtdLeitura);

					var metaClasse = meta;
					if (i == 6 && j == 40){ metaClasse = (int)Math.Ceiling((double)meta / 2); }
					var indice = (quantidade / (double)metaClasse);

					var classe = "vazio";
					var valor = "";

					if (quantidade > 0)
					{
						classe = "cheio";
						valor = quantidade.ToString();

						if (indice < 0.7)
						{
							classe = "cheio2";
						}
						else if (indice > 0.7 && indice < 0.99)
						{
							classe = "cheio3";
						}
						else if (indice == 1)
						{
							classe = "cheio4";
						}
					}

					<td class="bloco @classe"><div class="bloco" title="@indice.ToString("P2")">@valor</div></td>
				}
			}
		</tr>
	}
	</tbody>
</table>
<div>
	<span style="width: 20px; height: 14px;" class="cheio2">&nbsp;&nbsp;&nbsp;</span> Abaixo de 70%
	<span style="width: 20px; height: 14px;" class="cheio3">&nbsp;&nbsp;&nbsp;</span> Entre 70% e 99%
	<span style="width: 20px; height: 14px;" class="cheio4">&nbsp;&nbsp;&nbsp;</span> 100%
	<span style="width: 20px; height: 14px;" class="cheio">&nbsp;&nbsp;&nbsp;</span> Acima de 100%
</div>