﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.Relatorios.ProducaoHoraAHora>
<style>td{text-align: center;}</style>
<table class="table-ritmo table-striped" id="tblDados" style="width: 1400px;">
	<thead>
		<tr>
			<th style="width: 250px;">@Html.DisplayNameFor(model => model.CodModelo)</th>
			<th style="width: 120px;">@Html.DisplayNameFor(model => model.CodLinha)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.QtdPlano)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.QtdProducao)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora6)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora7)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora8)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora9)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora10)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora11)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora12)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora13)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora14)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora15)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora16)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora17)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora17_2)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora18)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora19)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora20)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora21)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora22)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora23)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora0)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora1)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora2)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora2_2)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora3)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora4)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.Hora5)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr style="height: 20px;" class="hover">
				<td style="text-align: left;">@Html.DisplayFor(modelItem => item.CodModelo) - @Html.DisplayFor(modelItem => item.DesModelo)</td>
				<td style="text-align: left;">@Html.DisplayFor(modelItem => item.CodLinha) - @Html.DisplayFor(modelItem => item.Linha)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdPlano)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdProducao)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora6)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora7)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora8)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora9)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora10)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora11)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora12)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora13)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora14)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora15)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora16)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora17)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora17_2)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora18)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora19)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora20)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora21)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora22)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora23)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora0)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora1)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora2)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora2_2)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora3)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora4)</td>
				<td>@Html.DisplayFor(modelItem => item.Hora5)</td>
			</tr>
		}
	</tbody>
</table>
