﻿@using SEMP.Model.DTO;

@{
	ViewBag.Title = "Resumo de Produção ONLINE";

	Layout = "~/Views/Shared/_Layout_Simple.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Painel de Produção";
}

@Styles.Render("~/Content/painelProducao")

<div id="conteudo"></div>

<script>
	$(document).ready(function () {
		fn_regarregar();
		setInterval("fn_regarregar();", 30000);
	});

	function fn_regarregar() {
		var urlPagina = "@Url.Action("PainelProducaoIAC", "PainelProducao")";

		$.ajax({
			type: "GET",
			url: urlPagina,
			dataType: "html",
			cache: false,
			async: true,
			success: function (data) {
				$("#conteudo").html(data);
			},
			error: function (xhr, er) {

			}
		});
	};

</script>