﻿@model IEnumerable<SEMP.Model.DTO.BarrasPainelDTO>
@{

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Painel de Produção";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	List<SEMP.Model.DTO.BarrasPainelDTO> painelIMC = ViewBag.painelIMC;

}
@Styles.Render("~/Content/painelProducao")
@Styles.Render("~/Content/bootstrap")
<table class="table-painel">
	<caption>
		<a class="pull-right" href="~/Coleta/PainelProducao/PainelProducaoEntrada"><span class="glyphicon glyphicon-refresh"></span></a>
		RESUMO DE PRODUÇÃO ONLINE
	</caption>
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Linha)</th>
			<th>@Html.DisplayNameFor(model => model.DesModelo)</th>
			<th style="width: 60px;">Plano</th>
			<th style="width: 60px;">Emb.</th>
			<th style="width: 60px;">Dif.</th>
			<th style="width: 60px;">Apont.</th>
			<th style="width: 60px;">Dif.H.</th>
			<th style="width: 60px;">AP</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			var status = ""; var classDiferenca = "";
			if (String.IsNullOrEmpty(item.FlgValida))
			{
				if (item.StatusLinha != "N")
				{
					status = item.StatusLinha;
				}
			}
			else
			{
				status = item.FlgValida;
			}
			classDiferenca = item.Diferenca < 0 ? "negativo" : "positivo";

			<tr style="text-align: right;">
				<td style="text-align: left;">@Html.DisplayFor(modelItem => item.Linha)</td>
				<td style="text-align: left;">@Html.DisplayFor(modelItem => item.CodModelo) - @item.DesModelo.Split().Last()</td>
				<td>@Html.DisplayFor(modelItem => item.Producao)</td>
				<td>@Html.DisplayFor(modelItem => item.Embalados)</td>
				<td>@Html.DisplayFor(modelItem => item.DifModelo)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdApontado)</td>
				<td class="@classDiferenca">@Html.DisplayFor(modelItem => item.Diferenca)</td>
				<td>@Html.DisplayFor(modelItem => item.NumAP)</td>
			</tr>
		}
	</tbody>
	<tbody>
		<tr>
			<td colspan="8" class="caption" style="text-align: center;">IMC</td>
		</tr>
		@foreach (var item in painelIMC)
		{
			var status = ""; var classDiferenca = "";
			if (String.IsNullOrEmpty(item.FlgValida))
			{
				if (item.StatusLinha != "N")
				{
					status = item.StatusLinha;
				}
			}
			else
			{
				status = item.FlgValida;
			}
			classDiferenca = item.Diferenca < 0 ? "negativo" : "positivo";

			<tr style="text-align: right;">
				<td style="text-align: left;">@Html.DisplayFor(modelItem => item.Linha)</td>
				<td style="text-align: left;">@Html.DisplayFor(modelItem => item.CodModelo) - @item.DesModelo</td>
				<td>@Html.DisplayFor(modelItem => item.Producao)</td>
				<td>@Html.DisplayFor(modelItem => item.Embalados)</td>
				<td>@Html.DisplayFor(modelItem => item.DifModelo)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdApontado)</td>
				<td class="@classDiferenca">@Html.DisplayFor(modelItem => item.Diferenca)</td>
				<td>@Html.DisplayFor(modelItem => item.NumAP)</td>
			</tr>
		}
	</tbody>

	<tfoot>
		<tr>
			<td colspan="8" style="text-align: right; font-family: Arial; padding: 3px; font-weight:normal; font-size: 14px;">Hora visualização: @DateTime.Now.ToShortDateString() @DateTime.Now.ToShortTimeString()</td>
		</tr>
	</tfoot>
</table>
