﻿
@{
	ViewBag.Title = "Painel de Produção";

	Layout = "~/Views/Shared/_Layout_Simple.cshtml";

	var codLinha = ViewBag.CodLinha;
	var milhao = 3;

}
@Styles.Render("~/Content/painelProducaoLinha")
@Scripts.Render("~/bundles/knockout")
<link href="~/Content/all-animation.css" type="text/css" rel="stylesheet" />

<div id="conteudo">
	<div class="row">
		<div class="Face">
			<img data-bind="attr:{ src: carinha} " />
		</div>
		<div id="imagemTV" class="imagemTV hidden">
			<img src="~/Images/2MILHOES.png" style="height: 410px; width: 640px;" />
			<div style="background-color: red; color: white; font-weight: bold; font-family: 'Trebuchet MS'; font-size: 36px; width: 100%; height: 50px; text-align: center; ">
				SÉRIE @milhao MILHÕES: <span data-bind="text: ModeloMilhao"></span> - <span data-bind="text: NumSerieMilhao"></span>
			</div>
		</div>
		<div class="Header">
			<div style="margin-left: 10px;">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
					<ul class="dropdown-menu" style="height: 400px; overflow-y: auto;">
						<li><a href="#" onclick="tela.AtualizarLinha('49');">SMD 01</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('51');">SMD 03</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('52');">SMD 04</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('53');">SMD 05</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('54');">SMD 06</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('46');">SMD 07</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('48');">SMD 08</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('34');">SMD 09</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('57');">RHS2B-12</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('58');">RHS2B-15</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('64');">AVK3-10</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('59');">AVK3-12</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#" onclick="tela.AtualizarLinha('1');">IMC 01</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('2');">IMC 02</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('3');">IMC 03</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('4');">IMC 04</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('21');">IMC WIFI</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#" onclick="tela.AtualizarLinha('39');">MF 01</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('37');">MF 02</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('36');">MF 03</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('38');">MF 04</a></li>
						<li><a href="#" onclick="tela.AtualizarLinha('41');">MF 05</a></li>
					</ul>
				</div>
				<span data-bind="text: DesLinha">LINHA DE PRODUÇÃO</span>
			</div>
		</div>
		<span class="HeaderWhite">
			<img class="Sign" data-bind="attr:{ src: imgStatus}">
			<span data-bind="text: Modelo">MODELO</span>
		</span>
	</div>
	<div class="DivPainel">
		<table class="TablePainel" cellspacing="2" border="0" cellpadding="2">
			<tbody>
				<tr>
					<td>PLANO</td>
					<td>EMB.</td>
					<td>DIF.</td>
				</tr>
				<tr>
					<td data-bind="text: Plano">0</td>
					<td data-bind="text: Embalado">0</td>
					<td class="positivo" data-bind="text: Diferenca, css: claStatus">0</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<table class="TableMeta" data-bind="css: tblMeta">
			<tbody>
				<tr>
					<td>Aparelhos Produzidos SEMP TCL:</td>
					<td data-bind="text: QtdTotalAparelhos" style="font-size: 50px;"></td>
				</tr>
				<tr>
					<td>Restantes para @milhao MILHÕES:</td>
					<td data-bind="text: QtdDifTotal" style="font-size: 50px;"></td>
				</tr>
				<tr>
					<td>Target para @milhao:</td>
					<td data-bind="text: QtdApareceMeta" style="font-size: 50px;"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>
		<table class="TableResumo" data-bind="css: tblResumo">
			<thead>
				<tr>
					<th>Modelo</th>
					<th style="text-align: center; width: 150px;">Plano</th>
					<th style="text-align: center; width: 150px;">Embalado</th>
					<th style="text-align: center; width: 150px;">Diferença</th>
					<th style="text-align: center; width: 150px;" data-bind="text: TitDefeitos">Defeitos</th>
					<th style="text-align: center; width: 150px;" data-bind="text: TitFalsaFalha, css: claFFalha">F. Falhas</th>
				</tr>
			</thead>
			<tbody data-bind="foreach: modelos">
				<tr>
					<td data-bind="text: DesModelo">MODELO</td>
					<td style="text-align: center;" data-bind="text: QtdPlano">0</td>
					<td style="text-align: center;" data-bind="text: QtdRealizado">0</td>
					<td style="text-align: center;" data-bind="text: QtdDifProducao">0</td>
					<td style="text-align: center;" data-bind="text: QtdDefeito">0</td>
					<td style="text-align: center;" data-bind="text: QtdFalsaFalha, css: $root.claFFalha">0</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>
<div class="hidden">
	Total aparelhos: <span data-bind="text: QtdTotalAparelhos"></span><br />
	Total diferença: <span data-bind="text: QtdDifTotal"></span><br />
	Total meta: <span data-bind="text: QtdApareceMeta"></span>
</div>

	<script>

		var viewModel = function (codLinha) {
			var self = this;

			self.modelos = ko.mapping.fromJS([]); 

			self.carinha = ko.observable("/Images/carinhapositivo.gif");
			self.imgStatus = ko.observable("/Images/sinalverde.gif");
			self.DesLinha = ko.observable("LINHA DE PRODUÇÃO");
			self.Modelo = ko.observable("MODELO");

			self.Plano = ko.observable(0);
			self.Embalado = ko.observable(0);
			self.Diferenca = ko.observable(0);
			self.claStatus = ko.observable("positivo");

			self.Mensagem = ko.observable("BEM VINDO AO SISAP");

			self.codLinha = ko.observable(codLinha);
			self.Linha = ko.observableArray();

			self.TitDefeitos = ko.observable("Defeitos");
			self.TitFalsaFalha = ko.observable("F. Falhas");
			self.claFFalha = ko.observable("hidden");
			self.tblMeta = ko.observable("hidden");
			self.tblResumo = ko.observable("");

			self.QtdMilhao = ko.observable(@milhao * 1000000);
			//self.QtdMilhao = ko.observable(1998710);

			self.QtdTotalAparelhos = ko.observable(0);
			self.QtdDifTotal = ko.computed(function () {
				if (self.QtdTotalAparelhos() < self.QtdMilhao()) {
					return self.QtdTotalAparelhos() - self.QtdMilhao();
				}
				else {
					return 0;
				}
			});
			self.QtdApareceMeta = ko.computed(function () {
				return self.QtdMilhao() * 0.001;

			});
			self.flgApareceu = ko.observable(false);

			self.ModeloMilhao = ko.observable("");
			self.NumSerieMilhao = ko.observable("");

			self.ObterLinha = function () {
				if (self.codLinha()) {
					$.ajax({
						type: "GET",
						url: "/Util/ObterLinha/",
						data: { codlinha: self.codLinha() },
						dataType: "json",
						cache: false,
						async: true,
						success: function (data) {
							self.DesLinha(data.DesLinha);
							self.Linha(data);

							if (data.Setor == "IAC") {
								self.TitDefeitos("PPM");
								self.TitFalsaFalha("PPM Real");
								self.claFFalha(" ");
							}
							else {
								self.TitDefeitos("Defeitos");
								self.TitFalsaFalha(" ");
								self.claFFalha("hidden");
							}

							if (data.Setor == "FEC") {
								self.tblMeta("");
							}
							else
							{
								self.tblMeta("hidden");
							}

						}
					});
				}
			};

			self.ExibirMensagem = function () {
				if (self.codLinha() != "") {
					var urlPagina = "/Coleta/PainelProducao/mensagensLinha";
					$.ajax({
						type: "GET",
						url: urlPagina,
						data: { codlinha: self.codLinha },
						dataType: "json",
						cache: false,
						async: true,
						success: function (data) {
							if (data[0].Mensagem != "") {
								$("#mensagem").html(data[0].Mensagem);
							} else {
								$("#mensagem").html(data[0].Saudacao);
							}
						},
						error: function (xhr, er) {
							$("#mensagem").html("NÃO EXISTEM INFORMAÇÕES PARA ESTA LINHA");
						}
					});
				} else {
					$("#mensagem").html("NÃO EXISTEM INFORMAÇÕES PARA ESTA LINHA");
				}
			};

			self.ObterPainel = function () {
				if (self.codLinha()) {
					$.ajax({
						type: "GET",
						url: "/PainelProducao/ObterPainel/",
						data: { codlinha: self.codLinha() },
						dataType: "json",
						cache: false,
						async: true,
						success: function (data) {
							self.Plano(data.Producao);
							self.Embalado(data.Embalados);
							self.Diferenca(data.Diferenca);
							self.Modelo(data.DesModelo);
							self.QtdTotalAparelhos(data.QtdTotalAparelhos);

							if (self.QtdTotalAparelhos() >= self.QtdMilhao()) {
								self.ObterModeloMilhao();
								setTimeout(function () {
									self.tblMeta("hidden");
									self.tblResumo("");
								}, 30000);
								AnimaTela();
							}
							else {								
								if (Math.abs(self.QtdDifTotal()) <= self.QtdApareceMeta()) {
									self.tblResumo("hidden");
									self.tblMeta("");
								}
								else {
									self.tblResumo("");
									self.tblMeta("hidden");
								}
							}

							if (data.Diferenca < 0) {
								self.carinha("/Images/carinhanegativo.gif");
								self.claStatus("negativo");
							}
							else {
								self.carinha("/Images/carinhapositivo.gif");
								self.claStatus("positivo");
							}

							if (data.FlgValida == null && (data.StatusLinha == "I" || data.StatusLinha == "A" || data.StatusLinha == "J")) {
								self.imgStatus("/Images/sinalazul.gif");
							}
							else if (data.FlgValida == null) {
								self.imgStatus("/Images/sinalverde.gif");
							} else {
								self.imgStatus("/Images/sinalvermelho.gif");
							}

						},
						error: function (data) {
							self.Plano(0);
							self.Embalado(0);
							self.Diferenca(0);
							self.Modelo("");
						}
					});
				}
			};

			self.ObterResumo = function () {
				if (self.codLinha()) {
					$.ajax({
						type: "GET",
						url: "/PainelProducao/ObterResumoPainel/",
						data: { codlinha: self.codLinha() },
						dataType: "json",
						cache: false,
						async: true,
						success: function (data) {
							ko.mapping.fromJS(data, self.modelos);

						}
					});
				}
			};

			self.ObterModeloMilhao = function () {
				if (self.codLinha()) {
					$.ajax({
						type: "GET",
						url: "/PainelProducao/ObterProdutoMilhao/",
						dataType: "json",
						cache: false,
						async: true,
						success: function (data) {
							self.ModeloMilhao(data.CodModelo);
							self.NumSerieMilhao(data.NumSerieModelo);

						}
					});
				}
			};

			self.AtualizarLinha = function (linha) {
				self.codLinha(linha);
				self.ObterLinha();
				self.ObterPainel();
				self.ObterResumo();
			}

			self.ObterLinha();
			self.ObterPainel();
			self.ObterResumo();
			self.ExibirMensagem();
		};

		tela = new viewModel(@codLinha);
		ko.applyBindings(tela);

		function AnimaTela() {
			if (tela.flgApareceu() == false) {

				$("#imagemTV").removeClass("hidden");
				$("#imagemTV").addClass("enter-left-bounce");
				$(".TablePainel").addClass("meta");

				setTimeout(function () {
					$("#imagemTV").animate({
						left: "+=700px",
						transform: "scale(0.5)"
					}, 1500);
					$("#imagemTV").removeClass("enter-left-bounce");
					$("#imagemTV").addClass("anima");
				}, 20000);
				tela.flgApareceu(true);
			}
		}

		$(document).ready(function () {
			setInterval(function () {
				$('#hora').html(showtime());
				$('#data').html(showdate());

			}, 1000);

			setInterval(function () { tela.ExibirMensagem(); }, 59000);
			setInterval(function () { tela.ObterPainel(); }, 8000);
			setInterval(function () { tela.ObterResumo(); }, 8000);
		});

	</script>
