﻿@using SEMP.Model.DTO
@using SEMP.Models

@{
	ViewBag.Title = "Linha de Produção";
	Layout = "~/Views/Shared/_Layout_Simple.cshtml";

	var linhas = (List<Menu>)ViewBag.linhas;
}
@Scripts.Render("~/bundles/highcharts2")
@Scripts.Render("~/bundles/knockout")
<style>
	html, body { height: 100%; }
	.content-wrapper{height: 100%;width: 100%; margin: 0; padding: 0;margin-top: 55px !important;}
	a{text-decoration: none !important;}
	.navbar{margin:0; min-height: 0; margin-bottom: 2px;}
	.navbar-nav > li > a {padding-bottom: 3px;padding-top: 3px;}
	.navbar-nav > li > a:hover {background-color: cornflowerblue !important; color: white !important;}
	.navbar-brand{padding-bottom: 3px;padding-top: 3px; height: auto !important;}
	.full-height {height: 100%;}

	.tblLateral
	{
		background-color: #cd2626;
		border-right: red solid 3px;
		width: 100%;
		height: 90%;
	}

	.tblLateral td.colTexto
	{
		width: 50%;
		margin: 0;
		color: white;
		vertical-align: middle;
		text-align: center;
		font-weight: bold !important;
		font-size: 20px;
	}

	.tblLateral td.colValor
	{
		width: 50%;
		margin: 0;
		color: black;
		background-color: white;
		border-right: 1px red solid;
		text-align: center;
		font-size: 25px;
		font-weight: bold;
	}

	.conteudo
	{
		height: 100%;
		width: 100%;
	}

	.lateral
	{
		height: 100% !important;
		width: 30%;
		margin-right: 3px;
		float: left;
	}

	.centro
	{
		width: 69%;
		height: 100%;
		float: left;
	}

	.subtitulo
	{
		color: white;
		background-color: #cd2626;
		font-size: 20px;
		font-weight: bold;
		width: 100%;
		display: block;
		text-align: center;
	}

	#tblModelos
	{
		width: 100%;
		border: solid 3px #cd2626;
	}

		#tblModelos caption
		{
			color: white;
			background-color: #cd2626;
			font-size: 20px;
			font-weight: bold;
		}

		#tblModelos thead tr td
		{
			font-weight: bold;
			font-size: 14px;
			color: white;
			background-color: red;
			text-align: center;
		}

		#tblModelos tbody tr td
		{
			font-weight: bold;
			font-size: 14px;
			text-align: center;
		}

		#tblModelos tbody tr:nth-child(odd)
		{
			background-color: #ffffff;
		}

		#tblModelos tbody tr:nth-child(even)
		{
			background-color: #ededed;
		}

	.grafico{ height: 300px !important;padding: 0 !important; border: 1px black solid;}
</style>

<nav class="navbar navbar-default" role="navigation">
	<ul class="nav navbar-nav nav-pills">
		@Html.MontarMenu(linhas)

	</ul>
	<div class="navbar-right"><span class="navbar-brand" id="DesLinha">SELECIONE A LINHA</span></div>
</nav>


<input type="hidden" name="codLinha" id="codLinha" value="" />
<input type="hidden" name="idLinha" id="idLinha" value="" />
<input type="hidden" name="qtdPlano" id="qtdPlano" value="" />
<input type="hidden" name="qtdProduzido" id="qtdProduzido" value="" />

<div class="conteudo">
	<div class="lateral">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">PRODUÇÃO CORRENTE</h3></div>
			<table class="tblLateral">
					<tr>
						<td class="colTexto">MODELO</td>
						<td class="colValor"><span id="dadosModelo" style="font-size: 18px;"></span></td>
					</tr>

					<tr>
						<td class="colTexto">PLANO</td>
						<td class="colValor"><span id="dadosPlano"></span></td>
					</tr>

					<tr>
						<td class="colTexto">PRODUZIDO</td>
						<td class="colValor"><span id="dadosAtual"></span></td>
					</tr>

					<tr>
						<td class="colTexto">ALVO</td>
						<td class="colValor"><span id="dadosAlvo"></span></td>
					</tr>

					<tr>
						<td class="colTexto">Dif. HORA</td>
						<td class="colValor"><span id="dadosDifHora"></span></td>
					</tr>

					<tr>
						<td class="colTexto">Dif. Dia</td>
						<td class="colValor"><span id="dadosDifAcum"></span></td>
					</tr>

					<tr>
						<td class="colTexto">STATUS</td>
						<td class="colValor"><span id="dadosStatus"></span></td>
					</tr>
				</table>
		</div>
	</div>
	<div class="centro">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">MODELOS PROGRAMADOS</h3></div>
			<table id="tblModelos" class="table table-bordered table-striped">
						<thead>
							<tr>
								<td>Modelo</td>
								<td>Descrição</td>
								<td>Plano</td>
								<td>Produzido</td>
								<td>Diferença</td>
								<td>Ritmo</td>
							</tr>
						</thead>
						<tbody data-bind="foreach: programa">
							<tr>
								<td data-bind="text: CodModelo"></td>
								<td data-bind="text: DesModelo"></td>
								<td data-bind="text: QtdPlano"></td>
								<td data-bind="text: QtdRealizado"></td>
								<td data-bind="text: QtdDifProducao"></td>
								<td>&nbsp;</td>
							</tr>
						</tbody>
					</table>
		</div>
		<div class="panel panel-primary">
			<div class="panel-body">
				<div id="graPostos" class="grafico"></div>
			</div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-body">
				<div id="graIndice" class="grafico"></div>
			</div>
		</div>
	</div>
</div>
<div class="hidden" id="carregando">
	<img src="../../../../Images/carregando_small.gif" alt="" /></div>

<script>
	var grafico, grafIndice;
	var drilldowns;
	
	Highcharts.setOptions({
		lang: {
			drillUpText: '<- Voltar'
		}
	});

	function AlteraLinha(codLinha, idLinha) {
		$("#codLinha").val(codLinha);
		$("#idLinha").val(idLinha);

		CarregarResumo();

		Consultar();
	}

	function AtualizarProducao() {
		if ($('#codLinha').val() == "") return;

		$.ajax({
			type: 'GET',
			url: '/common/ObterResumoLinha/',
			data: { codLinha: $('#codLinha').val() },
			cache: false,
			success: function (data) {
				if (data != false) {

					var modelo = data[0];

					$("#DesLinha").html(modelo.Linha);
					$("#dadosModelo").html(modelo.DesModelo);

					$("#dadosPlano").html(modelo.Producao);
					$("#qtdPlano").val(modelo.Producao);

					$("#dadosAtual").html(modelo.Embalados);
					$("#qtdProduzido").val(modelo.Embalados);

					$("#dadosDifHora").html(modelo.Diferenca);
					if (modelo.Diferenca < 0) { $("#dadosDifHora").css("color", "red"); } else if (modelo.Diferenca == 0) { $("#dadosDifHora").css("color", "black"); }
					else { $("#dadosDifHora").css("color", "green"); }

					$("#dadosDifAcum").html(modelo.DifModelo);

					if (modelo.DifModelo < 0) { $("#dadosDifAcum").css("color", "red"); } else if (modelo.Diferenca == 0) { $("#dadosDifAcum").css("color", "black"); }
					else { $("#dadosDifAcum").css("color", "green"); }

					$("#dadosAlvo").html(modelo.ProdEsperada);

					if (modelo.StatusLinha == "I") {
						$("#dadosStatus").html("<b>INTERVALO</b>");
					}
					else if (modelo.StatusLinha == "A") {
						$("#dadosStatus").html("<b>ALMOÇO</b>");
					}

					else {
						$("#dadosStatus").html("<b>PRODUZINDO</b>");
					}

				} else {
					$("#dadosStatus").html("<b>DADOS NÃO ENCONTRADOS</b>");
					$("#dadosPlano").html("");
					$("#dadosAtual").html("");
					$("#dadosAlvo").html("");
					$("#dadosDifHora").html("");
					$("#dadosDifAcum").html("");
					$("#dadosModelo").html("");
					$("#DesLinha").html("&nbsp;");
				}
			}
		});
	}

	function CarregarResumo() {

		if ($('#codLinha').val() == "") return;

		$("#dadosPlano").html($("#carregando").html());
		$("#dadosAtual").html($("#carregando").html());
		$("#dadosAlvo").html($("#carregando").html());
		$("#dadosDifHora").html($("#carregando").html());
		$("#dadosDifAcum").html($("#carregando").html());
		$("#dadosStatus").html($("#carregando").html());
		$("#dadosModelo").html($("#carregando").html());
		//$("#tblModelos tbody").html("<tr><td colspan=6>&nbsp;</td></tr>");
		$("#DesLinha").html("Carregando...");

		AtualizarProducao();

		AtualizarModelos();
	}

	function CriarGrafico() {
		grafico = new Highcharts.Chart({
			chart: {
				type: "column",
				renderTo: 'graPostos',
				zoomType: 'xy'
			},
			title: {
				text: "Produção por Posto"
			},
			xAxis: {
				type: "category"
			},
			yAxis: {
				title: {
					text: 'Quantidade produzida'
				}
			},
			legend: {
				enabled: true
			},
			series: [],
			plotOptions: {
				series: {
					borderWidth: 0,
					dataLabels: {
						enabled: true
					}/*,
					point: {
						events: {
							click: function (e) {
								if (e.point.drilldown != "")
									modelo.obterDrillDown(e.point.drilldown);
								$("#container2").removeClass("hidden");
							}
						}
					}*/
				}
			},

		});
	}

	function CriarGraficoIndice() {
		grafIndice = new Highcharts.Chart({
			chart: {
				type: "line",
				renderTo: 'graIndice',
			},
			title: {
				text: "Índice de Defeito por Hora"
			},
			xAxis: {
				type: "category",
				title: { Text: "Hora" }
			},
			yAxis: {
				title: {
					text: 'Índice'
				}
			},
			legend: {
				enabled: true
			},
			series: [],
			plotOptions: {
				series: {
					borderWidth: 0,
					dataLabels: {
						enabled: true
					}
				}
			},

		});
	}

	function Consultar() {
		var linha = $("#idLinha").val();

		if (grafico.drillUpButton) grafico.drillUp();
		while (grafico.series.length > 0) grafico.series[0].remove(true);
		grafico.redraw();

		grafico.showLoading('<b>Carregando ...</b>');

		$.ajax({
			type: "GET",
			url: "/Coleta/PainelProducao/ObterProducao/",
			data: {
				datIni: "",
				datFim: "",
				codLinha: linha,
				horaIni: 0,
				horaFim: 0
			},
			success: function (data) {
				//grafico.yAxis[0].setExtremes(data.limite.min, data.limite.max);

				if (grafico.series.length == 0) {
					grafico.addSeries({ name: "Quantidade produzida", data: data.dados, color: "Aquamarine" }, true);
					grafico.addSeries({ type: "spline", name: "Capacidade", data: data.metas, color: "Green" }, true);
					grafico.addSeries({ type: "spline", name: "Plano", data: data.plano, color: "Blue" }, true);
				}
				else {
					grafico.series[0].setData(data.dados, true);
					grafico.series[1].setData(data.metas, true);
					grafico.series[2].setData(data.plano, true);
				}

				grafico.redraw();
				grafico.hideLoading();
			},
			error: function (data) {
				alert("ERRO AO CARREGAR DADOS!");
				grafico.hideLoading();
			}
		});

	}

	function ConsultarIndice() {
		var linha = $("#idLinha").val();

		while (grafIndice.series.length > 0) grafIndice.series[0].remove(true);
		grafIndice.redraw();

		grafIndice.showLoading('<b>Carregando ...</b>');

		$.ajax({
			type: "GET",
			url: "/Coleta/PainelProducao/ObterProducao/",
			data: {
				datIni: "",
				datFim: "",
				codLinha: linha,
				horaIni: 0,
				horaFim: 0
			},
			success: function (data) {

				drilldowns = data.drilldown;

				if (grafIndice.series.length == 0) {
					grafIndice.addSeries({ name: "Quantidade produzida", data: data.dados, color: "Aquamarine" }, true);
					grafIndice.addSeries({ type: "spline", name: "Meta", data: data.metas, color: "Green" }, true);
					grafIndice.addSeries({ type: "spline", name: "Menor", data: data.menor, color: "Red" }, true);
				}
				else {
					grafIndice.series[0].setData(data.dados, true);
					grafIndice.series[1].setData(data.metas, true);
					grafIndice.series[2].setData(data.menor, true);
				}

				grafIndice.redraw();
				grafIndice.hideLoading();
			},
			error: function (data) {
				alert("ERRO AO CARREGAR DADOS!");
				grafIndice.hideLoading();
			}
		});

	}

	function AtualizarModelos() {
		modelo.obterDados();
	}

	var ViewModel = function() {

		var self = this;
		self.programa = ko.mapping.fromJS([{ "DatProducao": "", "CodLinha": "", "DesLinha": "", "CodModelo": "", "DesModelo": "", "Cinescopio": "", "QtdPlano": "", "QtdRealizado": "", "QtdApontado": "", "QtdDiferenca": "", "QtdDifProducao": "", "QtdPlanoMes": "", "QtdProduzidoMes": "", "QtdDifMes": "", "Familia": "", "Turno": "", "QtdPlanoVPE": "", "FlagTp": "", "QtdExped": "" }]); // ko.observableArray();

		self.obterDados = function() {
			var linha = $('#codLinha').val();

			if (linha == "") return;

			$.getJSON("/common/ObterModelosLinha/?codLinha=" + linha, function(dados) {
				ko.mapping.fromJS(dados, self.programa);
			});
		};

	};
	modelo = new ViewModel();
	ko.applyBindings(modelo);


	CarregarResumo();

	CriarGrafico();

	setInterval("if($('#codLinha').val() != '') { AtualizarProducao(); AtualizarModelos(); }", 15000);
	
	setInterval("if($('#codLinha').val() != '') { Consultar(); }", 60000);

</script>

