﻿@model SEMP.Model.DTO.BarrasPainelDTO

@{

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Painel de Produção";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var classSinal = "";
	var status = "statusBranco";
	var codlinhaParam = Model == null ? "" : Model.CodLinha;

	if (Model != null)
	{
		classSinal = Model.Diferenca < 0 ? "sinalVermelho" : "sinalVerde";

		if (Model.StatusLinha == "I" || Model.StatusLinha == "A" || Model.StatusLinha == "J")
		{
			status = "statusAzul";
			classSinal = "sinalAzul";
		}
	

	@Styles.Render("~/Content/painelProducao")

	<div>
		<div class="h1" style="margin-top: 3px;">@Html.ValueFor(model => model.Linha)</div>
	</div>
	<div class="controls primary">
		<div class="@status">
			<div class="h4">PLANEJADO</div>
			<div class="h5">@Html.ValueFor(model => model.Producao)</div>
		</div>
		<div class="@status">
			<div class="h4">PRODUZIDO</div>
			<div class="h5">@Html.ValueFor(model => model.Embalados)</div>
		</div>
		<div class="@status">
			<div class="h4">PREVISTO</div>
			<div class="h5">@Html.ValueFor(model => model.ProdEsperada)</div>
		</div>
		<div class="@classSinal">
			<div class="h6">DIFERENÇA</div>
			<div class="h5">@Html.ValueFor(model => model.Diferenca)</div>
		</div>
	</div>

	<div class="controls secondary">
		<div class="parada">
			<div class="h6">PARADA DE LINHA</div>
			<table class="tftable">
				@{
		List<SEMP.Model.DTO.v_paradasDTO> paradas = ViewBag.parada;

		int counter = 0;

		foreach (var item in paradas)
		{
			counter++;
					<tr>
						<td id="center">@counter</td>
						<td>@item.descricao</td>
					</tr>
		}
				}
			</table>
		</div>
		@{
			var ppm = (SEMP.Model.VO.CNQ.Ppm)ViewBag.ppm;
			var ppmReal = (SEMP.Model.VO.CNQ.Ppm)ViewBag.ppmReal;

		}
		<div class="@ppm.Sinalizacao">
			<div class="h6">PPM</div>
			<div class="h5">@ppm.Calculo
				<div class="h7">Todos os defeitos</div>
			</div>
		</div>
		<div class="@ppmReal.Sinalizacao">
			<div class="h6">PPM REAL</div>
			<div class="h5">
				@ppmReal.Calculo
			<div class="h7">Sem falsa falha</div>
		</div>
	</div>
	</div>

	<div>
		<div class="info">
			<div class="h8" style="margin-top: 5px;">
				<b>Modelo: </b>@ppm.CodModelo - @ppm.DesModelo
				<br />
				<b>Pontos:</b> @ppm.QuantidadePontos
				<b>Defeitos:</b> @ppm.QuantidadeDefeito
				<b>Falsas Falhas:</b> @ppmReal.QtdFalsaFalha
			</div>
		</div>
	</div>
	}
}
<br /><br /><br /><br />
<script>

	indice = 0;

	function showtime() {
		var now = new Date();
		var hours = now.getHours();
		var minutes = now.getMinutes();
		var seconds = now.getSeconds();
		var timeValue = "" + (hours);
		timeValue += ((minutes < 10) ? ":0" : ":") + minutes
		timeValue += ((seconds < 10) ? ":0" : ":") + seconds

		return timeValue;
	}

	function showdate() {
		var now = new Date();
		var year = now.getFullYear();
		var month = now.getMonth() + 1;
		var day = now.getDate();
		var dateValue = "";
		dateValue += ((day < 10) ? "0" : "") + day;
		dateValue += ((month < 10) ? "/0" : "/") + month;
		dateValue += '/' + year;

		return dateValue;
	}

	function Relogio() {
		$('#hora').html(showtime());
		$('#data').html(showdate());
	}

	function ExibirMensagem() {
		var codlinhaParam = "@codlinhaParam";
		if (codlinhaParam != "") {
			var urlPagina = "@Url.Action("mensagensLinha", "PainelProducao")";
			$.ajax({
				type: "GET",
				url: urlPagina,
				data: { codlinha: codlinhaParam },
				dataType: "json",
				cache: false,
				async: true,
				success: function (data) {
					if (data[indice].Mensagem != "") {
						$("#mensagem").html(data[indice].Mensagem);
					} else {
						$("#mensagem").html(data[indice].Saudacao);
					}
				},
				//error: function (xhr, er) {
				//	$("#mensagem").html("Semp Toshiba");
				//}
			});
		} else {
			$("#mensagem").html("NÃO EXISTEM INFORMAÇÕES PARA ESTA LINHA");
		}
	}

	$(document).ready(function () {
		ExibirMensagem();
		setInterval("Relogio();", 1000);
		setInterval("ExibirMensagem();", 40000);
	});
</script>
