﻿@model IEnumerable<SEMP.Model.DTO.BarrasPainelDTO>
@using SEMP.Model.DTO;

@{
	ViewBag.Title = "Resumo de Produção ONLINE";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Painel de Produção";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

}

<table class="table-painel">
	<caption>RESUMO DE PRODUÇÃO ONLINE - IAC</caption>
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Linha)</th>
			<th style="width: 10px;">@Html.DisplayNameFor(model => model.StatusLinha)</th>
			<th style="width: 30px;">@Html.DisplayNameFor(model => model.CodModelo)</th>
			<th>@Html.DisplayNameFor(model => model.DesModelo)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.Producao)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.Embalados)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.DifModelo)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.QtdApontado)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.ProdEsperada)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.Diferenca)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.NumAP)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			var status = ""; var classDiferenca = "";
			if (String.IsNullOrEmpty(item.FlgValida))
			{
				if (item.StatusLinha != "N")
				{
					status = item.StatusLinha;
				}
			}
			else
			{
				status = item.FlgValida;
			}
			classDiferenca = item.Diferenca < 0 ? "negativo" : "positivo";

			<tr style="text-align: right;">
				<td style="text-align: left;">@Html.DisplayFor(modelItem => item.Linha)</td>
				<td>@status</td>
				<td>@Html.DisplayFor(modelItem => item.CodModelo)</td>
				<td style="text-align: left;">@Html.DisplayFor(modelItem => item.DesModelo)</td>
				<td>@Html.DisplayFor(modelItem => item.Producao)</td>
				<td>@Html.DisplayFor(modelItem => item.Embalados)</td>
				<td>@Html.DisplayFor(modelItem => item.DifModelo)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdApontado)</td>
				<td>@Html.DisplayFor(modelItem => item.ProdEsperada)</td>
				<td class="@classDiferenca">@Html.DisplayFor(modelItem => item.Diferenca)</td>
				<td>@Html.DisplayFor(modelItem => item.NumAP)</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="11">
				<table class="interna">
					<tr>
						<td>T - &Uacute;ltima leitura > 5 min</td>
						<td>I - Intervalo</td>
						<td>A - Almo&ccedil;o</td>
						<td>J - Jantar</td>
						<td>P - Parada Pend. aprov. VALIDA</td>
						<td>V - Liberado para produzir VALIDA</td>
						<td>R - N&atilde;o liberado VALIDA</td>
					</tr>
				</table>
			</td>
		</tr>
	</tfoot>
</table>

<br />

<script>
	var mensagens = @{WriteLiteral(ViewBag.mensagens);}
	indice = 0;

	function showtime() {
		var now = new Date();
		var hours = now.getHours();
		var minutes = now.getMinutes();
		var seconds = now.getSeconds();
		var timeValue = "" + (hours);
		timeValue += ((minutes < 10) ? ":0" : ":") + minutes
		timeValue += ((seconds < 10) ? ":0" : ":") + seconds

		return timeValue;
	}

	function showdate() {
		var now = new Date();
		var year = now.getFullYear();
		var month = now.getMonth() + 1;
		var day = now.getDate();
		var dateValue = "";
		dateValue += ((day < 10) ? "0" : "") + day;
		dateValue += ((month < 10) ? "/0" : "/") + month;
		dateValue += '/' + year;

		return dateValue;
	}

	function Relogio() {
		$('#hora').html(showtime());
		$('#data').html(showdate());
	}

	function ExibirMensagem() {

		if ($("#mensagem").html() != "") {
			$("#mensagem").fadeOut(3000);
		}

		$("#mensagem").fadeIn(3000);

		$("#mensagem").html(mensagens[indice].Mensagem);

		if (indice >= mensagens.length - 1) {
			indice = 0;
		}
		else {
			indice++;
		}
	}

	$(document).ready(function () {
		//setInterval("document.location.reload();", 30000);
		setInterval("Relogio();", 1000);
		setInterval("ExibirMensagem();", 7000);
	});
</script>