﻿@using Microsoft.Ajax.Utilities
@using SEMP.Model.VO.Rastreabilidade

@{
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Painel de Produção";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var realPrevisto = (RealPrevisto)ViewBag.realPrevisto;
	var desLinha = ViewBag.desLinha;
	var codLinhaT1 = ViewBag.codLinhaT1;
	var intervalo = ViewBag.intervalo;
	var status = "statusBrancoInf";
	var codlinhaMsg = codLinhaT1 == null ? "" : codLinhaT1;
	var diferenca = realPrevisto.QuantidadePrevista - realPrevisto.QuantidadeReal;
	var classSinal = diferenca > 0 ? "sinalVermelhoInf" : "sinalVerdeInf";

	if (intervalo == "I")
	{
		status = "statusAzulInf";
		classSinal = "sinalAzulInf";
	}

	@Styles.Render("~/Content/painelProducao");
	<div>
		<div class="h1">@desLinha</div>
	</div>
	<div class="controls primary">
		<div class="@status">
			<div class="h2">PLANEJADO</div>
			<div class="h3">@realPrevisto.QuantidadePrevista</div>
		</div>
		<div class="@classSinal">
			<div class="h2">PRODUZIDO</div>
			<div class="h3">@realPrevisto.QuantidadeReal</div>
		</div>
	</div>
}

<script>

	indice = 0;

	function showtime() {
		var now = new Date();
		var hours = now.getHours();
		var minutes = now.getMinutes();
		var seconds = now.getSeconds();
		var timeValue = "" + (hours);
		timeValue += ((minutes < 10) ? ":0" : ":") + minutes
		timeValue += ((seconds < 10) ? ":0" : ":") + seconds

		return timeValue;
	}

	function showdate() {
		var now = new Date();
		var year = now.getFullYear();
		var month = now.getMonth() + 1;
		var day = now.getDate();
		var dateValue = "";
		dateValue += ((day < 10) ? "0" : "") + day;
		dateValue += ((month < 10) ? "/0" : "/") + month;
		dateValue += '/' + year;

		return dateValue;
	}

	function Relogio() {
		$('#hora').html(showtime());
		$('#data').html(showdate());
	}

	function ExibirMensagem() {
		var codlinhaParam = "@codlinhaMsg"
		if (codlinhaParam != "") {
			var urlPagina = "@Url.Action("mensagensLinha", "PainelProducao")";
			$.ajax({
				type: "GET",
				url: urlPagina,
				data: { codlinha: codlinhaParam },
				dataType: "json",
				cache: false,
				async: true,
				success: function (data) {
					if (data[indice].Mensagem != "") {
						$("#mensagem").html(data[indice].Mensagem);
					} else {
						$("#mensagem").html(data[indice].Saudacao);
					}
				},
			});
		} else {
			$("#mensagem").html("NÃO EXISTEM INFORMAÇÕES PARA ESTA LINHA");
		}
	}

	$(document).ready(function () {
		ExibirMensagem();
		setInterval("Relogio();", 1000);
		setInterval("ExibirMensagem();", 7000);
	});
</script>
