﻿@model SEMP.Model.DTO.BarrasPainelDTO
@using SEMP.Model.DTO;

@{

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Painel de Produção";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var classDiferenca = "";
	var carinha = "";
	var status = "";
	var codlinhaParam = Model == null ? "" : Model.CodLinha;

	if (Model != null)
	{
		classDiferenca = Model.Diferenca < 0 ? "negativo" : "positivo";

		carinha = Model.Diferenca < 0 ? "/Images/carinhanegativo.gif" : "/Images/carinhapositivo.gif";
		

		if (String.IsNullOrEmpty(Model.FlgValida))
		{
			if (Model.StatusLinha == "I" || Model.StatusLinha == "A" || Model.StatusLinha == "J")
			{
				status = "/Images/sinalazul.gif";
			}
			else
			{
				status = "/Images/sinalverde.gif";
			}
		}
		else
		{
			status = "/Images/sinalvermelho.gif";
		}

	@Styles.Render("~/Content/painelProducao")

	<div>
		<div class="Face">
			<img src="@carinha" />
		</div>
		<div class="Header">
			<div style="margin-left: 10px;">@Html.ValueFor(model => model.Linha)</div>
		</div>
		<span class="HeaderWhite">
			<img class="Sign" src="@status"/>
			@Html.ValueFor(model => model.DesModelo)
		</span>
	</div>

	<div class="DivPainel">
		<table class="TablePainel" cellspacing="2" border="0" cellpadding="2">
			<tr>
				<td>PLANO</td>
				<td>EMB.</td>
				<td>DIF.</td>
			</tr>
			<tr>
				<td>@Html.ValueFor(model => model.Producao)</td>
				<td>@Html.ValueFor(model => model.Embalados)</td>
				<td class="@classDiferenca">@Html.ValueFor(model => model.Diferenca)</td>
			</tr>
		</table>
	</div>

	<div>
		<table class="TableResumo">
			<tr>
				<th>Modelo</th>
				<th style="text-align: center; width: 150px;">Plano</th>
				<th style="text-align: center; width: 150px;">Embalado</th>
				<th style="text-align: center; width: 150px;">Diferen&ccedil;a</th>
			</tr>

			@{
		List<SEMP.Model.VO.Rastreabilidade.Relatorios.ResumoProducao> resumos = ViewBag.resumo;

		foreach (var item in resumos)
		{
			var diferenca = item.QtdPlano - item.QtdRealizado;
				<tr style="font-size: 25px; font-weight: bold;">
					<td>@item.CodModelo - @item.DesModelo</td>
					<td style="text-align: center;">@item.QtdPlano</td>
					<td style="text-align: center;">@item.QtdRealizado</td>
					<td style="text-align: center;">@diferenca</td>
				</tr>
		}
			}
		</table>
	</div>
	}
}

<script>

	indice = 0;

	function showtime() {
		var now = new Date();
		var hours = now.getHours();
		var minutes = now.getMinutes();
		var seconds = now.getSeconds();
		var timeValue = "" + (hours);
		timeValue += ((minutes < 10) ? ":0" : ":") + minutes
		timeValue += ((seconds < 10) ? ":0" : ":") + seconds

		return timeValue;
	}

	function showdate() {
		var now = new Date();
		var year = now.getFullYear();
		var month = now.getMonth() + 1;
		var day = now.getDate();
		var dateValue = "";
		dateValue += ((day < 10) ? "0" : "") + day;
		dateValue += ((month < 10) ? "/0" : "/") + month;
		dateValue += '/' + year;

		return dateValue;
	}

	function Relogio() {
		$('#hora').html(showtime());
		$('#data').html(showdate());
	}

	function ExibirMensagem() {
		var codlinhaParam = "@codlinhaParam";
		if (codlinhaParam != "") {
			var urlPagina = "@Url.Action("mensagensLinha", "PainelProducao")";
			$.ajax({
				type: "GET",
				url: urlPagina,
				data: { codlinha: codlinhaParam },
				dataType: "json",
				cache: false,
				async: true,
				success: function (data) {
					//alert(JSON.stringify(data));
					if (data[indice].Mensagem != "") {
						$("#mensagem").html(data[indice].Mensagem);
					} else {
						$("#mensagem").html(data[indice].Saudacao);
					}
				},
				error: function (xhr, er) {
					$("#mensagem").html("NÃO EXISTEM INFORMAÇÕES PARA ESTA LINHA");
				}
			});
		} else {
			$("#mensagem").html("NÃO EXISTEM INFORMAÇÕES PARA ESTA LINHA");
		}
	}

	$(document).ready(function () {
		ExibirMensagem();
		setInterval("Relogio();", 1000);
		setInterval("ExibirMensagem();", 7000);
	});
</script>
