﻿@model IEnumerable<SEMP.Model.DTO.BarrasPainelDTO>
@using SEMP.Model.DTO;

@{
	Layout = null;
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Painel de Produção";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var QtdTotalAparelhos = 0;
	var QtdDif = 0;

	if (Model != null && Model.Count() > 0){
		QtdTotalAparelhos = Model.FirstOrDefault().QtdTotalAparelhos??0;
	}

	if (QtdTotalAparelhos < 2000000)
	{
		QtdDif = QtdTotalAparelhos - 2000000;
	}
	else
	{
		QtdDif = 0;
	}

}

<table class="table-painel">
	<caption>RESUMO DE PRODUÇÃO ONLINE</caption>
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Linha)</th>
			<th style="width: 10px;">@Html.DisplayNameFor(model => model.StatusLinha)</th>
			<th style="width: 30px;">@Html.DisplayNameFor(model => model.CodModelo)</th>
			<th>@Html.DisplayNameFor(model => model.DesModelo)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.Producao)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.Embalados)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.DifModelo)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.QtdApontado)</th>
			<th style="width: 75px;">@Html.DisplayNameFor(model => model.ProdEsperada)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.Diferenca)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.NumAP)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
 {
		var status = ""; var classDiferenca = "";
		if (String.IsNullOrEmpty(item.FlgValida))
		{
			if (item.StatusLinha != "N") {
				status = item.StatusLinha;
			}
		}
		else 
		{
			status = item.FlgValida;
		}
		classDiferenca = item.Diferenca < 0 ? "negativo" : "positivo";

			<tr style="text-align: right;">
				<td style="text-align: left;">@Html.DisplayFor(modelItem => item.Linha)</td>
				<td>@status</td>
				<td>@Html.DisplayFor(modelItem => item.CodModelo)</td>
				<td style="text-align: left;">@Html.DisplayFor(modelItem => item.DesModelo)</td>
				<td>@Html.DisplayFor(modelItem => item.Producao)</td>
				<td>@Html.DisplayFor(modelItem => item.Embalados)</td>
				<td>@Html.DisplayFor(modelItem => item.DifModelo)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdApontado)</td>
				<td><a href="#" class="" onclick="$('#@item.CodLinha.Replace(".", "").Replace("-", "")').toggle();">@Html.DisplayFor(modelItem => item.ProdEsperada)</a></td>
				<td class="@classDiferenca">@Html.DisplayFor(modelItem => item.Diferenca)</td>
				<td>@Html.DisplayFor(modelItem => item.NumAP)</td>
			</tr>
			<tr id="@item.CodLinha.Replace(".", "").Replace("-", "")" style="display: none;">
				<td colspan="11">
					<span style="font-size: 10px;">Cálculo da previsão</span>
					<code style="font-size: 10px;">
						Prev = <span style="color: red;">Aparelhos Minuto</span> [@item.AparMin] X <span style="color: blue;">Minutos Transcorridos</span> [@item.MinutosDia]<br />
						<span style="color: red;">Aparelhos Minuto</span> = Capacidade [@item.QtdCapacidade] / Qtd Horas Produtivas [8.63] / 60 <br />
						<span style="color: blue;">Minutos Transcorridos</span> = <span style="color: maroon;">Tempo Total Dia</span> [@item.QtdMinReal] - Intervalos [@item.IntervaloTrans] <br />
						<span style="color: maroon;">Tempo Total Dia</span> = Hora Atual [@item.DataHoraCongelada] - Hora Início [@item.HoraInicio] -> em minutos
</code>
				</td>
			</tr>
 }
	</tbody>
	<tfoot>
		<tr>
			<td colspan="11">
				<table class="interna">
					<tr>
						<td>T - &Uacute;ltima leitura > 5 min</td>
						<td>I - Intervalo</td>
						<td>A - Almo&ccedil;o</td>
						<td>J - Jantar</td>
						<td style="color: red">C - Leitura em contingência</td>
					</tr>
				</table>
			</td>
		</tr>
	</tfoot>
</table>

<div class="row" style="padding-left: 15px; padding-right: 15px;">
	<div style="font-size: 24px; font-weight: bold; color: red; text-align: right;float: right; ">
		<span>Total Aparelhos SEMP TCL: </span>
		<span class="bold" id="qtdTotalAparelhos" style="color: black">@QtdTotalAparelhos.ToString("N0")</span><br />
		<span class="hidden">Restantes para 1 Milhão: </span>
		<span class="bold hidden" id="qtdTotalAparelhos" style="color: black">@QtdDif</span><br />
	</div>

	<button class="btn btn-default" onclick="$('#tblCalculo').toggle();">Ver cálculos</button>
</div>
<table class="table-painel" style="display: none;" id="tblCalculo">
	<caption>Dados para previsão</caption>
	<thead>
		<tr>
			<th>Linha</th>
			<th>Prev. = </th>
			<th>(Capacidade / </th>
			<th>Minutos Disp. Dia) </th>
			<th> * Minutos Trab.</th>
			<th style="width: 5px; background-color: yellow !important;"></th>
			<th>Minutos Reais</th>
			<th>Intervalos</th>
			<th>Hora Início</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr style="text-align: right;">
				<td style="text-align: left;">@item.Linha</td>
				<td>@item.ProdEsperada</td>
				<td>@item.QtdCapacidade</td>
				<td>517,8</td>
				<td>@item.MinutosDia</td>
				<td style="width: 5px; background-color: yellow"></td>
				<td>@item.QtdMinReal</td>
				<td>@item.IntervaloTrans</td>
				<td>@item.HoraInicio.Value.ToShortTimeString()</td>
			</tr>
		}
	</tbody>
</table>
	<br />

	@*@{
			List<BarrasPainel_STIDTO> painel = ViewBag.painelsti;
		}*@

	@*<table class="table-painel">
			<caption>PRODUÇÃO PA INFORMÁTICA</caption>
			<thead>
				<tr>
					<th>Linha</th>
					<th style="width: 30px;">Modelo</th>
					<th>Descrição</th>
					<th style="width: 60px;">Programa</th>
					<th style="width: 60px;">Embalado</th>
					<th style="width: 60px;">Aprov. OBA</th>
					<th style="width: 60px;">Apontado</th>
					<th style="width: 60px;">AP</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in painel)
		 {
					<tr style="text-align: right;">
						<td style="text-align: left;">@item.DesLinha</td>
						<td>@item.CodModelo</td>
						<td style="text-align: left;">@item.DesModelo</td>
						<td>@item.QtdPrograma</td>
						<td>@item.QtdEmbalada</td>
						<td>@item.QtdAprovada</td>
						<td>@item.QtdApontada</td>
						<td>@item.NumAP</td>
					</tr>
		 }
			</tbody>

		</table>*@

	<script>
		var mensagens = @{WriteLiteral(ViewBag.mensagens);}
		indice = 0;

		function showtime() {
			var now = new Date();
			var hours = now.getHours();
			var minutes = now.getMinutes();
			var seconds = now.getSeconds();
			var timeValue = "" + (hours);
			timeValue += ((minutes < 10) ? ":0" : ":") + minutes;
			timeValue += ((seconds < 10) ? ":0" : ":") + seconds;

			return timeValue;
		};

		function showdate() {
			var now = new Date();
			var year = now.getFullYear();
			var month = now.getMonth() + 1;
			var day = now.getDate();
			var dateValue = "";
			dateValue += ((day < 10) ? "0" : "") + day;
			dateValue += ((month < 10) ? "/0" : "/") + month;
			dateValue += '/' + year;

			return dateValue;
		};

		function Relogio() {
			$('#hora').html(showtime());
			$('#data').html(showdate());
		};

		function ExibirMensagem() {

			if (mensagens.length == 0) return;

			if ($("#mensagem").html() != "") {
				$("#mensagem").fadeOut(3000);
			}

			$("#mensagem").fadeIn(3000);

			$("#mensagem").html(mensagens[indice].Mensagem);

			if (indice >= mensagens.length - 1) {
				indice = 0;
			}
			else {
				indice++;
			}
		};

		$(document).ready(function () {
			setInterval("Relogio();", 1000);
			setInterval("ExibirMensagem();", 7000);
		});
	</script>
