﻿@using SEMP.Model.DTO;

@{
	ViewBag.Title = "Painel de Produção";

	Layout = "~/Views/Shared/_Layout_Simple.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Painel de Produção";
}

@Styles.Render("~/Content/painelProducaoLinha")

<div id="conteudo"></div>

<script>
	$(document).ready(function () {

		fn_regarregar();

		setInterval("fn_regarregar();", 30000);

	});

	function fn_regarregar() {
		var codlinhaParam = "@ViewBag.CodLinha";
		var fase = "@ViewBag.fase";
		var urlPagina = "";

		if (fase == "INF" || fase == "inf") {
			urlPagina = "@Url.Action("PainelProducaoINFRecarregar", "PainelProducao")";
		} else if (fase == "IAC" || fase == "iac") {
			urlPagina = "@Url.Action("PainelProducaoIACRecarregar", "PainelProducao")";
		} else {
			urlPagina = "@Url.Action("PainelProducaoLinhaRecarregar", "PainelProducao")";
		}

	$.ajax({
		type: "GET",
		url: urlPagina,
		data: { codlinha: codlinhaParam },
		dataType: "html",
		cache: false,
		async: true,
		success: function (data) {
			$("#conteudo").html(data);
		},
		error: function (xhr, er) {

		}
	});
}

</script>
