﻿@model SEMP.Model.DTO.CBLinhaPostoPerfilDTO

<script type="text/javascript">
	(function ($) {
		$.widget("custom.combobox", {
			_create: function () {
				this.wrapper = $("<span style='float:left; width: 280px;height: 26px;'>").insertBefore(this.element);
				this.element.hide();
				this._createAutocomplete();
			},
			_createAutocomplete: function () {
				var selected = this.element.children(":selected"),
					value = selected.val() ? selected.text() : "";
				this.input = $("<input placeholder='Pesquisar...'>")
					.appendTo(this.wrapper)
					.val(value)
					.attr("title", "")
					.autocomplete({
						delay: 0,
						minLength: 0,
						source: $.proxy(this, "_source")
					});
				this._on(this.input, {
					autocompleteselect: function (event, ui) {
						ui.item.option.selected = true;
						this._trigger("select", event, {
							item: ui.item.option
						});
					},
					autocompletechange: "_removeIfInvalid"
				});
			},
			_source: function (request, response) {
				var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
				response(this.element.children("option").map(function () {
					var text = $(this).text();
					if (this.value && (!request.term || matcher.test(text)))
						return {
							label: text,
							value: text,
							option: this
						};
					else {
						return null;
					}
				}));
			},
			_removeIfInvalid: function (event, ui) {
				// Selected an item, nothing to do
				if (ui.item) {
					return;
				}
				// Search for a match (case-insensitive)
				var value = this.input.val(),
					valueLowerCase = value.toLowerCase(),
					valid = false;

				this.element.children("option").each(function () {
					if ($(this).text().toLowerCase() === valueLowerCase) {

						this.selected = valid = true;
						return false;
					}
					else {
						this.value = value;
						this.selected = valid = true;
						return false;
					}
				});

				// Found a match, nothing to do
				if (valid) {
					return;
				}

				// Remove invalid value
				this.input.val();
				this.element.val();
				this.input.autocomplete("instance").term = "";
			},
			_destroy: function () {
				this.wrapper.remove();
				this.element.show();
			}
		});
	})(jQuery);

	$(function () {

		$("#DesModelo").combobox();
		$(".ui-autocomplete-input").css('width', '100%');
		$(".ui-autocomplete-input").css('height', '100%');
		$(".ui-autocomplete-input").css('font-size', '12px');
		$(".ui-autocomplete-input").css('padding-top', '4px');
		$(".ui-autocomplete").css("height", "120px");
		$(".ui-autocomplete").css("overflow", "auto");
		$(".ui-autocomplete-input").addClass("input-group-addon");

		$(".ui-autocomplete-input").change(function () {
			$("#CodModelo").val($("#posicao").val());
			//$("#pDesModelo").val($(".ui-autocomplete-input").val());
		});
	});
</script>

@using (Html.BeginForm("Create", "CadPerfilModelo", FormMethod.Post, new { @class = "form-inline", @role = "form", @name = "frmDados", id = "frmDados" })) 
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)
	
		<div class="row">
			<div class="col-md-2">
				<label>Fase</label>
				<select name="Fase" id="pfase" class="form-control" style="width:60px;">
					<option value="IAC">IAC</option>
					<option value="IMC">IMC</option>
					<option value="FEC" selected="selected">MF</option>
					<option value="PLACA">PLACAS</option>
				</select>
			</div>

			<div class="col-md-5">
				@Html.LabelFor(model => model.CodLinha)
				<select name="CodLinha" id="CodLinha" class="form-control"></select>
				@Html.ValidationMessageFor(model => model.CodLinha)
			</div>

			<div class="col-md-5">
				@Html.LabelFor(model => model.NumPosto)
				<select name="NumPosto" id="NumPosto" class="form-control" style="width: 180px;"></select>
				@Html.ValidationMessageFor(model => model.NumPosto)
			</div>
		</div>

		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.CodModelo)
				<div class="input-group" style="margin-top: 3px; margin-bottom: 7px;">
					@Html.TextBoxFor(model => model.CodModelo, new { @style = "width: 60px", @maxlength = "6", @class="form-control" })
					<select name="DesModelo" id="DesModelo" class="hidden"></select>
				</div>
				@Html.ValidationMessageFor(model => model.CodModelo)
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				@Html.LabelFor(model => model.FlgAtivo)
				<select id="flgAtivo" name="flgAtivo" class="form-control">
					<option value="1" selected="selected">Sim</option>
					<option value="0">Não</option>
				</select>
				@Html.ValidationMessageFor(model => model.FlgAtivo)
			</div>

			<div class="col-md-4">
				@Html.LabelFor(model => model.NumSeq)
				@Html.TextBoxFor(model => model.NumSeq, new {@class="form-control", style="width: 50px;"})
				@Html.ValidationMessageFor(model => model.NumSeq)
			</div>

			<div class="col-md-4">
				@Html.LabelFor(model => model.flgObrigatorio)
				<select id="flgObrigatorio" name="flgObrigatorio" class="form-control">
					<option value="1" selected="selected">Sim</option>
					<option value="0">Não</option>
				</select>
				@Html.ValidationMessageFor(model => model.flgObrigatorio)
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				@Html.LabelFor(model => model.TempoCiclo)
				@Html.TextBoxFor(model => model.TempoCiclo, new {@class="form-control"})
				@Html.ValidationMessageFor(model => model.TempoCiclo)
			</div>
			
			<div class="col-md-6">
				@Html.LabelFor(model => model.QtdJigs)
				@Html.TextBoxFor(model => model.QtdJigs, new {@class="form-control"})
				@Html.ValidationMessageFor(model => model.QtdJigs)
			</div>
		</div>

	<div class="row" style="margin-top: 15px; margin-left: 10px;">
		<div class="form-group">
			<div style=" margin-right: 10px; display: inline-block;">
				<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
			</div>
		</div>
	</div>
	</div>
}

<script>
	$(document).ready(function () {
		
		$("#CodModelo").blur(function () {
			$("#DesModelo").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: $("#CodModelo").val() },
				success: function (data) {
					$("#DesModelo").val(data);
				}
			});
		});

		$("#CodLinha").change(function () {
			$.ajax({
				type: "GET",
				url: "/posto/GetPostos/",
				data: { codLinha: $("#CodLinha").val() },
				dataType: "json",
				success: function (json) {
					var options = "";
					options += '<option> SELECIONE O POSTO </option>';
					$.each(json, function (key, Posto) {
						options += '<option value="' + Posto.NumPosto + '">' + Posto.DesPosto + '</option>';
					});
					$("#NumPosto").html(options);
				}
			});
		});
		$("#pfase").change(CarregarLinhas);
		CarregarLinhas();
	});

	function gravar() {

		$.ajax({
			type: "POST",
			url: "/CadPerfilModelo/Create/",
			data: $("#frmDados").serialize(),
			dataType: "json",
			success: function (json) {
				if (json.retorno == true) {
					alert("Perfil inserido com sucesso!");
					//$("#frmDados")[0].reset();
					$("#NumPosto").val("");
					$("#TempoCiclo").val("");
					$("#NumSeq").val("");
				} else {
					alert(json.message);
				}
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr);
			}
		});

	}

	function CarregarLinhas() {

		CarregarModelos();

		var fase = $("#pfase").val();

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: fase },
			dataType: "json",
			success: function (json) {
				var options = "";
				var selected = "";
				options += '<option value=""> SELECIONE A LINHA </option>';
				$.each(json, function (key, Linhas) {
					options += '<option value="' + Linhas.CodLinha + '" ' + selected + '>' + Linhas.DesLinha + '</option>';
				});
				$("#CodLinha").html(options);
			}
		});
	}

	function CarregarModelos() {

		$.getJSON("/util/ObterModelosAll/?fase=" + $("#pfase").val(), function (dados) {
			var opcoes = "";

			$.each(dados, function (key, val) {
				opcoes += "<option value='" + val.CodItem + "'>" + val.DesItem + "</option>";
			});

			$("#DesModelo").html(opcoes);
		});

	}
</script>
