﻿@model SEMP.Model.DTO.CBLinhaPostoPerfilDTO

<h3>Confirma excluir esse registro?</h3>
<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.CodModelo)</dt>
		<dd>@Html.DisplayFor(model => model.CodModelo) - @Html.DisplayFor(model => model.DesModelo)</dd>

		<dt>@Html.DisplayNameFor(model => model.CodLinha)</dt>
		<dd>@Html.DisplayFor(model => model.CodLinha) - @Html.DisplayFor(model => model.DesLinha)</dd>

		<dt>@Html.DisplayNameFor(model => model.NumPosto)</dt>
		<dd>@Html.DisplayFor(model => model.NumPosto) - @Html.DisplayFor(model => model.DesPosto)</dd>

		<dt>@Html.DisplayNameFor(model => model.TempoCiclo)</dt>
		<dd>@Html.DisplayFor(model => model.TempoCiclo)</dd>
		
		<dt>@Html.DisplayNameFor(model => model.QtdJigs)</dt>
		<dd>@Html.DisplayFor(model => model.QtdJigs)</dd>

	</dl>

	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()

			<div class="form-actions no-color" style="margin-top: 10px;">
				<div style="margin-top: 10px; display: inline-block;">
					<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
				</div>
				<div style="display: inline-block;">
					<input type="submit" value="Apagar" class="bttn bttn-sm bttn-red" />
				</div>
			</div>
	}
</div>
