﻿@model SEMP.Model.DTO.CBLinhaPostoPerfilDTO

@using (Html.BeginForm("Edit", "CadPerfilModelo", FormMethod.Post, new { @class = "form-inline", @role = "form", @id = "frmDados", @name = "frmDados" }))
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)

		<div class="row">
			<div class="col-md-6">
				@Html.LabelFor(model => model.CodLinha)
				<div class="input-group">
					@Html.TextBoxFor(model => model.CodLinha, new { @disabled = "disabled", @style = "width: 30px", @maxlength = "6", @class="form-control" })
					@Html.TextBoxFor(model => model.DesLinha, new { @disabled = "disabled", @style = "width: 150px", @class="input-group-addon" })
				</div>
				@Html.ValidationMessageFor(model => model.CodLinha)
			</div>

			<div class="col-md-6">
				@Html.LabelFor(model => model.NumPosto)
				<div class="input-group">
					@Html.TextBoxFor(model => model.NumPosto, new { @disabled = "disabled", @style = "width: 30px", @maxlength = "6", @class="form-control" })
					@Html.TextBoxFor(model => model.DesPosto, new { @disabled = "disabled", @style = "width: 150px", @class="input-group-addon" })
				</div>
				@Html.ValidationMessageFor(model => model.NumPosto)
			</div>
		</div>

		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.CodModelo)
				<div class="input-group">
					@Html.TextBoxFor(model => model.CodModelo, new { @disabled = "disabled", @style = "width: 60px", @maxlength = "6", @class="form-control" })
					@Html.TextBoxFor(model => model.DesModelo, new { @disabled = "disabled", @style = "width: 280px", @class="input-group-addon" })
				</div>
				@Html.ValidationMessageFor(model => model.CodModelo)
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				@Html.LabelFor(model => model.FlgAtivo)
				<select id="flgAtivo" name="flgAtivo" class="form-control">
					<option value="S">Sim</option>
					<option value="N">Não</option>
				</select>
				@Html.ValidationMessageFor(model => model.FlgAtivo)
			</div>

			<div class="col-md-4">
				@Html.LabelFor(model => model.NumSeq)
				@Html.TextBoxFor(model => model.NumSeq, new {@class="form-control", style="width: 50px;"})
				@Html.ValidationMessageFor(model => model.NumSeq)
			</div>

			<div class="col-md-4">
				@Html.LabelFor(model => model.flgObrigatorio)
				<select id="flgObrigatorio" name="flgObrigatorio" class="form-control">
					<option value="true">Sim</option>
					<option value="false">Não</option>
				</select>
				@Html.ValidationMessageFor(model => model.flgObrigatorio)
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				@Html.LabelFor(model => model.TempoCiclo)
				@Html.TextBoxFor(model => model.TempoCiclo, new {@class="form-control"})
				@Html.ValidationMessageFor(model => model.TempoCiclo)
			</div>
			
			<div class="col-md-6">
				@Html.LabelFor(model => model.QtdJigs)
				@Html.TextBoxFor(model => model.QtdJigs, new {@class="form-control"})
				@Html.ValidationMessageFor(model => model.QtdJigs)
			</div>
		</div>

		<div class="row" style="margin-top: 15px; margin-left: 10px;">
			<div class="form-group">
				<div style="margin-top: 10px; display: inline-block;">
					<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
				</div>
				<div style="display: inline-block;">
					<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
				</div>
			</div>
		</div>
	</div>
}

<script>

	function gravar() {
		$("#NumPosto").removeAttr("disabled");
		$("#CodLinha").removeAttr("disabled");
		$("#CodModelo").removeAttr("disabled");


		$.ajax({
			type: "POST",
			url: "/Coleta/CadPerfilModelo/Edit/",
			data: $("#frmDados").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Perfil Modelo alterado com sucesso.");
					btnEnviar_Click();
					$('#dialog-edit').dialog('close');
				} else {
					alert("Não foi possível gravar.");
				}
			},
			error: function (xhr) {
				alert("Não foi possível alterar: " + xhr);
			}
		});
	}

</script>