﻿
@{
	ViewBag.Title = "Cadastro de Perfil de Modelo";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Cadastro de Perfil de Modelo";


	var DatInicio = DateTime.Now.ToString("dd/MM/yyyy");
	var DatFim = DateTime.Now.ToString("dd/MM/yyyy");
}

<h3>@ViewBag.Title</h3>


<div id="dialog-edit" style="display: none; top: 10px;"></div>
<style>
	.linha {
		width: 180px !important;
	}
	.fabrica {
		width: 80px !important;
	}

	.grupoModelo {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
		background: #f0b7a1; /* Old browsers */
		background: -moz-linear-gradient(top, #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(50%,#8c3310), color-stop(51%,#752201), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* IE10+ */
		background: linear-gradient(to bottom, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
	}

	 .grupoModelo, .grupoModelo a {
		color: white !important;
		font-weight: bold !important;
		font-size: 14px !important;
	}

</style >

<script type="text/javascript">
	(function ($) {
		$.widget("custom.combobox", {
			_create: function () {
				this.wrapper = $("<span style='float:left; width: 150px;height: 26px;'>").insertBefore(this.element);
				this.element.hide();
				this._createAutocomplete();
			},
			_createAutocomplete: function () {
				var selected = this.element.children(":selected"),
					value = selected.val() ? selected.text() : "";
				this.input = $("<input placeholder='Pesquisar...'>")
					.appendTo(this.wrapper)
					.val(value)
					.attr("title", "")
					.autocomplete({
						delay: 0,
						minLength: 0,
						source: $.proxy(this, "_source")
					});
				this._on(this.input, {
					autocompleteselect: function (event, ui) {
						ui.item.option.selected = true;
						this._trigger("select", event, {
							item: ui.item.option
						});
					},
					autocompletechange: "_removeIfInvalid"
				});
			},
			_source: function (request, response) {
				var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
				response(this.element.children("option").map(function () {
					var text = $(this).text();
					if (this.value && (!request.term || matcher.test(text)))
						return {
							label: text,
							value: text,
							option: this
						};
					else {
						return null;
					}
				}));
			},
			_removeIfInvalid: function (event, ui) {
				// Selected an item, nothing to do
				if (ui.item) {
					return;
				}
				// Search for a match (case-insensitive)
				var value = this.input.val(),
					valueLowerCase = value.toLowerCase(),
					valid = false;

				this.element.children("option").each(function () {
					if ($(this).text().toLowerCase() === valueLowerCase) {

						this.selected = valid = true;
						return false;
					}
					else {
						this.value = value;
						this.selected = valid = true;
						return false;
					}
				});

				// Found a match, nothing to do
				if (valid) {
					return;
				}

				// Remove invalid value
				this.input.val();
				this.element.val();
				this.input.autocomplete("instance").term = "";
			},
			_destroy: function () {
				this.wrapper.remove();
				this.element.show();
			}
		});
	})(jQuery);

	$(function () {

		$("#posicao").combobox();
		$(".ui-autocomplete-input").css('width', '100%');
		$(".ui-autocomplete-input").css('height', '100%');
		$(".ui-autocomplete-input").css('font-size', '12px');
		$(".ui-autocomplete-input").css('padding-top', '4px');
		$(".ui-autocomplete").css("height", "120px");
		$(".ui-autocomplete").css("overflow", "auto");
		$(".ui-autocomplete-input").addClass("input-group-addon");

		$(".ui-autocomplete-input").change(function () {
			$("#pCodModelo").val($("#posicao").val());
			//$("#pDesModelo").val($(".ui-autocomplete-input").val());
		});
	});
</script>

<br/>
@using (Html.BeginForm("Index", "CadPerfilModelo", FormMethod.Post, new {@id="frmRelatorio"})) {
	<div class="row">
		<div class="col-md-2" style="width: 160px;">
			<label style="float: left; margin-top: 5px;">Fase:</label>
			<select name="Fase" id="fase" class="form-control input-sm fabrica">
				<option value="IAC">IAC</option>
				<option value="IMC">IMC</option>
				<option value="FEC" selected="selected">MF</option>
			</select>
		</div>
		<div class="col-md-2" style="width: 250px;">
			<label style="float: left; margin-top: 5px;">Linha: </label>
			<select name="CodLinha" id="Linha" class="form-control input-sm linha">
				<option value="">Carregando...</option>
			</select>
		</div>
		<div class="col-md-3">
			<label style="float: left; margin-top: 5px; ">Modelo&nbsp;:</label>
			<div class="input-group">
				<input type="text" name="pCodModelo" id="pCodModelo" class="form-control" style="width: 60px;"/>
				<select name="posicao" id="posicao" class="hidden"></select>
				<!--<input type="text" name="pDesModelo" id="pDesModelo" class="input-group-addon" style="width: 150px;" disabled="disabled" />-->
			</div>
		</div>
		<div class="col-md-4">
			<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
			<input type="button" name="btnNovo" id="btnNovo" value="Novo" class="bttn bttn-sm bttn-red" />
			<input type="button" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" onclick="btnEnviar_Click();"/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2" style="width: 185px;">
			<label>Data inicial&#58;</label>
			<input type="text" name="DatInicio" id="DatIni" value="@DatInicio" class="calendar" />
		</div>
		<div class="col-md-2" style="width: 180px;">
			<label>Data final&#58;</label>
			<input type="text" name="DatFim" id="DatFim" value="@DatFim" class="calendar" />
		</div>
		<div class="col-md-2" style="width: 150px;">
			<label>Hora inicial&#58;</label>
			<input type="text" name="HoraInicio" id="HoraInicio" value="07:00" class="form-control" style="width: 50px;" />
		</div>
		<div class="col-md-2" style="width: 150px;">
			<label>Hora final&#58;</label>
			<input type="text" name="HoraFim" id="HoraFim" value="17:08" class="form-control" style="width: 50px;" />
		</div>
		<div class="col-md-2"><input type="button" name="btnTempos" value="Ver tempos leituras" class="bttn bttn-sm bttn-red" onclick="btnTempos_Click();" /></div>
	</div>

}

<div id="conteudo"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>


<script type="text/javascript">
	var url = "";

	$(document).ready(function() {

		$("#DatFim").datepicker();
		$("#DatIni").datepicker();

		$("#btnExportar").click(function() {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});
		});

		$("#dialog-edit").dialog({
			title: 'Editar Perfil Modelo',
			autoOpen: false,
			resizable: false,
			width: 550,
			height: 300,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function(event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		$("#btnNovo").on("click", function(e) {
			url = "/Coleta/CadPerfilModelo/Create/";
			$(".ui-dialog-title").html("Novo Modelo / Posto");
			$("#dialog-edit").dialog('open');

			return false;
		});

		$("#pCodModelo").blur(function () {
			$("#pDesModelo").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: $("#pCodModelo").val() },
				success: function (data) {
					$("#pDesModelo").val(data);
					$(".ui-autocomplete-input").val(data);
				}
			});
		});

		$("#fase").change(CarregarLinhas);

		//btnEnviar_Click();
		CarregarLinhas();

	});

	function btnEnviar_Click() {
		if ($("#Linha").val() == "") return;

		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			url: "/Coleta/CadPerfilModelo/Lista/",
			data: {
				codModelo: $("#pCodModelo").val(),
				codLinha: $("#Linha").val(),
			},
			success: function (data) {
				$("#conteudo").html(data);
				$(".linkEdit").on("click", function (e) {
					// e.preventDefault(); use this or return false
					url = $(this).attr('href');
					$(".ui-dialog-title").html("Editar Perfil");
					$("#dialog-edit").dialog('open');
					$("#dialog-edit").css("height", 230);

					return false;
				});

				$(".lnkDelete").on("click", function (e) {
					url = $(this).attr('href');
					$(".ui-dialog-title").html("Deletar Perfil");
					$("#dialog-edit").dialog('open');
					$("#dialog-edit").css("height", 250);

					return false;
				});
				$('a').tooltip();
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	function btnTempos_Click() {

		if ($("#Linha").val() == "") return;

		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			url: "/Coleta/CadPerfilModelo/ListaTempos/",
			data: {
				codLinha: $("#Linha").val(),
				datIni: $("#DatIni").val(),
				datFim: $("#DatFim").val(),
				horaInicio: $("#HoraInicio").val(),
				horaFim: $("#HoraFim").val()
			},
			success: function (data) {
				$("#conteudo").html(data);
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	function CarregarLinhas() {

		CarregarModelos();

		var options = "<option value=''> SELECIONE A LINHA </option>";
		$("#Linha").html(options);

		var fase = $("#fase").val();

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: fase },
			dataType: "json",
			success: function (json) {
				//options += '<option value=""> SELECIONE A LINHA </option>';
				$.each(json, function (key, linhas) {
					options += '<option value="' + linhas.CodLinha + '">' + linhas.DesLinha + '</option>';
				});
				$("#Linha").html(options);
			}
		});
	}

	function CarregarModelos() {

		$.getJSON("/util/ObterModelosAll/?fase=" + $("#fase").val(), function (dados) {
			var opcoes = "";

			$.each(dados, function (key, val) {
				opcoes += "<option value='" + val.CodItem + "'>" + val.DesItem + "</option>";
			});

			$("#posicao").html(opcoes);
		});

	}
</script>