﻿@model IEnumerable<SEMP.Model.DTO.CBLinhaPostoPerfilDTO>

<table class="table-semp table-bordered">
	<thead>
		<tr>
			<th style="width: 50px;"></th>
			<th>@Html.DisplayNameFor(model => model.CodLinha)</th>
			<th>@Html.DisplayNameFor(model => model.NumPosto)</th>
			<th>@Html.DisplayNameFor(model => model.FlgAtivo)</th>
			<th>@Html.DisplayNameFor(model => model.NumSeq)</th>
			<th>@Html.DisplayNameFor(model => model.flgObrigatorio)</th>
			<th>@Html.DisplayNameFor(model => model.TempoCiclo)</th>
			<th>@Html.DisplayNameFor(model => model.QtdJigs)</th>
			<th>@Html.DisplayNameFor(model => model.AparelhosMinuto)</th>
			<th>@Html.DisplayNameFor(model => model.FlgGargalo)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var modelo in Model.Select(x => new {x.CodModelo, x.DesModelo}).Distinct()) { 
			<tr>
				<td colspan="12" class="grupoModelo"><a href="#" onclick="$('#pCodModelo').val('@modelo.CodModelo');">@modelo.CodModelo</a> - @modelo.DesModelo</td>
			</tr>

		foreach (var item in Model.Where(x => x.CodModelo == modelo.CodModelo))
		{
			<tr>
				<td style="background-color: white;">
					@Html.ActionLink(" ", "Edit", new { codLinha = item.CodLinha, numPosto = item.NumPosto, codModelo = item.CodModelo }, new { @class = "linkEdit glyphicon glyphicon-edit", @title = "Editar registro" }) |
					@Html.ActionLink(" ", "Delete", new { codLinha = item.CodLinha, numPosto = item.NumPosto, codModelo = item.CodModelo }, new { @class = "lnkDelete linkEdit glyphicon glyphicon-remove", @title = "Remover" })
				</td>
				<td>@Html.DisplayFor(modelItem => item.CodLinha) - @Html.DisplayFor(modelItem => item.DesLinha)</td>
				<td>@Html.DisplayFor(modelItem => item.DesPosto)</td>
				<td>@Html.DisplayFor(modelItem => item.FlgAtivo)</td>
				<td>@Html.DisplayFor(modelItem => item.NumSeq)</td>
				<td>
					@if (item.flgObrigatorio == true)
					{
						<b>Sim</b>
					}
					else
					{
						<b>Não</b>
					}
				</td>
				<td>@Html.DisplayFor(modelItem => item.TempoCiclo)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdJigs)</td>
				<td>@Html.DisplayFor(modelItem => item.AparelhosMinuto)</td>
				<td>
					@if (item.FlgGargalo == "S")
					{
						<b>Sim</b>
					}
					else
					{
						<b>Não</b>
					}
				</td>

			</tr>
		}
}
	</tbody>
</table>
<br /><br />