﻿@model SEMP.Model.DTO.CBOBARegistroDTO
@{
	ViewBag.Title = "Inspeção de Produto Acabado";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Qualidade";
	ViewBag.Rotina = "Posto OBA";

	var series = (List<string>)ViewBag.Series;
	var testesOBA = (List<SEMP.Model.DTO.CBCadDefeitoDTO>)ViewBag.TestesOBA ?? new List<SEMP.Model.DTO.CBCadDefeitoDTO>();
	var testesEspecificos = (List<SEMP.Model.DTO.CBCadSubDefeitoDTO>)ViewBag.TestesEspecificos ?? new List<SEMP.Model.DTO.CBCadSubDefeitoDTO>();
	var registros = (List<SEMP.Model.DTO.CBOBAInspecaoDTO>)ViewBag.Registros ?? new List<SEMP.Model.DTO.CBOBAInspecaoDTO>();

	var desLinha = "";
	var desPosto = "";

	if (Model == null) {
		desLinha = "LINHA OBA";
		desPosto = "POSTO OBA";
	}
	else
	{
		desLinha = Model.DesLinha;
		desPosto = Model.DesPosto;

	}

	var cont = 0;

}
<style>
	.fixed-panel100 {
		min-height: 100px;
		max-height: 100px;
		overflow-y: auto;
	}

	.fixed-panel500 {
		min-height: 300px;
		max-height: 300px;
		overflow-y: auto;
	}

	.list-group-item {
		padding: 2px 10px;
	}

	.panel-heading {
		padding: 4px 15px;
	}

		.panel-heading a {
			text-decoration: none !important;
		}

	.dl-horizontal dt {
		width: 120px;
	}

	.dl-horizontal dd {
		margin-left: 130px;
	}

	label {
		margin-right: 0 !important;
	}

	.btn-group .btn {
		border: none;
	}

	.btn-group {
		border: 1px solid #ccc;
		border-radius: 4px;
	}
</style>

<h3><button class="btn btn-default btn-sm glyphicon glyphicon-arrow-left" style="margin-right: 5px;" onclick="document.location.href='/Outros/PostoOBA/'"></button>@desLinha -  @desPosto</h3>

<div class="container" style="width: 100%;">

	<div class="row" style="width: 100%;">
		<div id="ladoDireito" class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">Produtos</h4>
				</div>
				<div class="panel-body" style="padding: 2px;">
					<div>
						<div style="font-size: 12px;">

							<dl class="dl-horizontal">
								<dt>RPA:</dt>
								<dd id="lblNumRPA">@Model.CodFab/@Model.NumRPA</dd>

								<dt>Produto:</dt>
								<dd id="lblProduto">@Model.CodModelo - @Model.DesModelo</dd>

								<dt>Pallet:</dt>
								<dd id="lblNumLote">@Model.CodPallet</dd>

								<dt>Qtd. Lote:</dt>
								<dd id="lblQtdLote">@Model.QtdPallet</dd>

								<dt>Qtd. Amostras:</dt>
								<dd>@Model.QtdAmostras</dd>

								<dt>Qtd. Inspecionado:</dt>
								<dd>@registros.Count()</dd>

								<dt>Data Produção:</dt>
								<dd id="lblDatProducao">@Model.DatProducao</dd>

								<dt>Linha de Origem:</dt>
								<dd id="lblLinha">@Model.CodLinhaOri - @Model.DesLinhaOri</dd>
							</dl>
						</div>

					</div>

					<div class="list-group">
						@foreach (var serie in series)
						{
							var serieA = serie.ToUpper();
							var existe = registros.FirstOrDefault(x => x.NumECB.EndsWith(serieA));
							var checado = "";
							if (existe != null)
							{
								checado = "checked";
							}

							<label><a class="list-group-item serie"><input type="checkbox" @checado value="@serieA" name="chkProduto@{@serieA}" id="@serieA">@serieA</a></label>
	}
					</div>
				</div>
			</div>
		</div>
		<div id="ladoEsquerdo" class="col-md-7">
			<br /><br />
			<input type="text" name="NumSerie" id="NumSerie" value="" placeholder="LEIA A SÉRIE DO PRODUTO OU INFORME O PALLET"
				   class="form-control" onkeydown="ValidaSerie(event);" />
			<input type="text" name="Validacao" id="Validacao" value="" placeholder="LEIA O CÓDIGO DA VERIFICAÇÃO"
				   class="form-control" onkeydown="ValidaTeste(event);" />
			<br /><br />

			<form name="frmOBA" id="frmOBA" action="/Outros/PostoOBA/ColetaSeries/" method="post" onsubmit="return ConfirmarTestes();">
				<input type="hidden" name="CodLinha" value="@Model.CodLinha" />
				<input type="hidden" name="NumPosto" value="@Model.NumPosto" />
				<input type="hidden" name="CodFab" value="@Model.CodFab" />
				<input type="hidden" name="NumRPA" value="@Model.NumRPA" />
				<input type="hidden" name="CodPallet" value="@Model.CodPallet" />
				<input type="hidden" name="NumSerieColeta" id="NumSerieColeta" value="" />
				<input type="hidden" name="CodModelo" id="CodModelo" value="@Model.CodModelo" />
				<input type="hidden" name="DatProducao" value="@Model.DatProducao" />

				<div class="panel panel-success" id="pnlTestes" style="display: none;">
					<div class="panel-heading">
						<div class="pull-right" style="margin-top: -2px;"><input type="submit" value="Confirmar" name="btnConfirmar" id="btnConfirmar" class="btn btn-default btn-xs" /></div>
						<h4 class="panel-title">Testes</h4>
					</div>
					<div class="panel-body fixed-panel300" style="padding: 4px;">
						@foreach (var defeito in testesOBA)
						{
						<div class="panel panel-primary" style="margin-bottom: 3px;">
							<div class="panel-heading">
								<h4 class="panel-title" style="font-size: 11px !important;"><span class="caret"></span>&nbsp; @defeito.CodDefeito - @defeito.DesDefeito</h4>
							</div>

							@foreach (var teste in testesEspecificos.Where(x => x.CodDefeito == defeito.CodDefeito))
							{
							<div class="row">
								<div class="col-md-3" style="width: 75px; padding: 0;">
									<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-default btn-xs glyphicon glyphicon-ok">
											<input type="radio" class="btnTestes" name="optDefeitos@{@defeito.CodDefeito@teste.CodSubDefeito}" id="optDefeitosS@{@defeito.CodDefeito@teste.CodSubDefeito}" autocomplete="off" value="S" data-toggle="btn-primary">
										</label>
										<label class="btn btn-default btn-xs glyphicon glyphicon-remove">
											<input type="radio" class="btnTestes" name="optDefeitos@{@defeito.CodDefeito@teste.CodSubDefeito}" id="optDefeitosX@{@defeito.CodDefeito@teste.CodSubDefeito}" autocomplete="off" value="X" data-toggle="btn-danger">
										</label>
										<label class="btn btn-default btn-xs glyphicon glyphicon-minus">
											<input type="radio" class="btnTestes" name="optDefeitos@{@defeito.CodDefeito@teste.CodSubDefeito}" id="optDefeitosNA@{@defeito.CodDefeito@teste.CodSubDefeito}" autocomplete="off" value="NA" data-toggle="btn-info">
										</label>
									</div>
								</div>
								<div class="col-md-9" style="padding: 0; font-size: 10px; margin-top: 5px;">@teste.CodSubDefeito - @teste.DesDefeito</div>
								<input type="hidden" class="Defeitos" name="Defeitos@{@defeito.CodDefeito@teste.CodSubDefeito}" id="Defeitos@{@defeito.CodDefeito@teste.CodSubDefeito}" value="" />
								<div class="hidden">
									<textarea rows="2" class="form-control" style="font-size: 10px;" name="ObsDefeito@{@defeito.CodDefeito@teste.CodSubDefeito}" id="ObsDefeito@{@defeito.CodDefeito@teste.CodSubDefeito}"></textarea>
								</div>
							</div>
							}

						</div>
							cont++;

						}

						<div class="row">
							<label>Observação</label>
							<textarea name="Observacao" id="Observacao" class="form-control"></textarea>
						</div>
					</div>
				</div>

			</form>

		</div>
	</div>


</div>

<textarea id="txtDados" rows="5" style="width: 100%; display: none;"></textarea>
<script>

	$(function () {
		$("#NumSerie").focus();
	});

	$("textarea").blur(function () {
		var form = $("#frmOBA").serialize();
		$("#txtDados").val(form);
	});

	$(".btnTestes").change(function () {

		var obj = $(this);
		var valor = obj.attr("value");

		var classe = obj.attr("data-toggle");

		obj.parent().parent().find('.btn-primary, .btn-danger, .btn-info').switchClass("btn-primary", "btn-default").switchClass("btn-danger", "btn-default").switchClass("btn-info", "btn-default");
		obj.parent().switchClass("btn-default", classe);

		var id = obj.attr("id").replace("optDefeitos", "").replace("S", "").replace("NA", "").replace("X", "");

		$("#Defeitos" + id).val(valor);

		if (valor == "X") {
			$("#ObsDefeito" + id).parent().removeClass("hidden");
			$("#ObsDefeito" + id).focus();
		}
		else {
			$("#ObsDefeito" + id).parent().addClass("hidden");
			$("#ObsDefeito" + id).val("");
		}

		var form = $("#frmOBA").serialize();
		$("#txtDados").val(form);

	});

	function ValidaSerie(e) {

		var key = (window.event) ? e.keyCode : e.which;

		if (key != 13) {
			return;
		}

		$("#NumSerie").val($("#NumSerie").val().toUpperCase());
		var texto = $("#NumSerie").val();

		if (texto == "") {
			return;
		}

		$(".serie").removeClass("active");

		if (texto.length > 8) {
			texto = texto.substr(texto.length - 8, 8);
		} else if (texto.length < 8) {
			texto = "AA" + padLeft(texto, 6);
		}

		if (!$("#" + texto).length) {
			alert("Série não encontrada.");
			$("#NumSerie").val("");
			$("#NumSerie").focus();
			$("#pnlTestes").css("display", "none");
			return false;
		}

		var check = $("#" + texto).prop("checked");

		if (check) {
			alert("Série já inspecionada");
			$("#NumSerie").val("");
			$("#NumSerie").focus();
			return;
		}

		$("#" + texto).parent().addClass("active");
		$("#pnlTestes").css("display", "block");
		$(".btnTestes").removeClass("active");


		$("#NumSerieColeta").val(texto);
		$("#NumSerie").val("");

		$("#Validacao").focus();

		return;
	}

	function ValidaTeste(e) {

		var key = (window.event) ? e.keyCode : e.which;

		if (key != 13) {
			return;
		}

		if ($("#pnlTestes").css("display") == "none") return false;

		var texto = $("#Validacao").val();

		var existe = $("#Defeitos" + texto).length;

		if (existe) {
			$("#optDefeitosS" + texto).closest('.btn').button('toggle');
		}

		$("#Validacao").val("");
		$("#Validacao").focus();
		return;
	}

	function ConfirmarTestes(e) {
		try {
			var form = $("#frmOBA").serialize();
			$("#txtDados").val(form);

			var defeitos = $(".Defeitos");
			var cont = 0;

			$(defeitos).each(function (index, value) {

				if (value.value == "") {
					alert("Há testes que não foram confirmados, verifique: " + value.id.replace("Defeitos", "").substr(0, 4) + "." + value.id.replace("Defeitos", "").substr(4));
					cont++;
					return false;
				}

			});

			if (cont == 0) return true;


		} catch (e) {
			$("#txtDados").val("Erro: " + e.message);
			return false;
		}

		return false;
	}
</script>