﻿
@{
	ViewBag.Title = "ColetaSeries";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Qualidade";
	ViewBag.Rotina = "Posto OBA";

}

<h2>Coleta - Series -> @ViewBag.resultado</h2>

@{ 
	var defeitos = (List<SEMP.Model.DTO.CBOBATestesDTO>)ViewBag.defeitos;

	foreach (var defeito in defeitos)
	{
		<b>CodDefeito:</b> @defeito.CodDefeito <br />
		<b>CodSubDefeito:</b> @defeito.CodSubDefeito <br />
		<b>NumECB:</b> @defeito.NumECB <br />
		<b>FlgStatus:</b> @defeito.FlgStatus <br />
		<b>Observacao:</b> @defeito.Observacao<br /><br />
	}

}

