﻿
@model List<SEMP.Model.VO.Rastreabilidade.OBARelatorioInspecao>
@{
	//var datInicio = ViewBag.datInicio; //Request["datInicio"];
	//var datFim = ViewBag.datFim; //Request["datFim"];

	var dIni = (DateTime)ViewBag.datInicio;//DateTime.Parse(datInicio);
	var dFim = (DateTime)ViewBag.datFim; //DateTime.Parse(datFim);
	var qtdDias = dFim.Subtract(dIni).Days + 1;
	if (qtdDias == 0) { qtdDias = 1; }

	var qtdMeta = (qtdDias * 134.00);
	var meta = qtdMeta.ToString("N0").Replace(".", "").Replace(",", ".");

	var total = Model.Count().ToString("N0").Replace(".", "").Replace(",", ".");

	var totalInspetor = Model.GroupBy(x => new { x.NomOperador, x.CodOperador })
							 .Select(x => new {
								 CodOperador = x.Key.CodOperador,
								 NomOperador = x.Key.NomOperador,
								 QtdInspecao = x.Count(),
								 Meta =  x.Key.CodOperador.Trim() == "cilasp" ? 20 :
										 x.Key.CodOperador.Trim() == "edimilsons" ? 35 :
										 x.Key.CodOperador.Trim() == "franciscos" ? 27 :
										 x.Key.CodOperador.Trim() == "itamarb" ? 27 :
										 x.Key.CodOperador.Trim() == "jeovas" ? 25 : 0
							 }).ToList();

	var valores = String.Join(",", totalInspetor.Select(x => x.QtdInspecao.ToString("N0").Replace(".", "").Replace(",", ".")).ToList());
	var metas = String.Join(",", totalInspetor.Select(x => x.Meta.ToString("N0").Replace(".", "").Replace(",", ".")).ToList());

	var series = String.Join(", ", totalInspetor.Select(x => String.Format("'{0}'", x.NomOperador)).ToList());

	var percentuais = String.Join(", ", totalInspetor.Select(x => ((x.QtdInspecao / qtdMeta) * 100).ToString("N0").Replace(".", "").Replace(",", ".")).ToList());
	var percMeta = ((Model.Count() / qtdMeta) * 100).ToString("N0").Replace(".", "").Replace(",", ".");

	var datInicio = dIni.ToShortDateString();
	var datFim = dFim.ToShortDateString();

}

@Scripts.Render("~/bundles/highcharts")


<div id="grafico" style="border: solid 1px; width: 100%; height: 100%;"></div>

@if (Model != null)
{

	<script>

		var grafico = new Highcharts.Chart({
			chart: {
				type: "column",
				renderTo: 'grafico',
				zoomType: 'xy'
			},
			title: {
				text: "Inspeção OBA Produto Acabado"
			},
			subtitle: {
				text: 'Período: @datInicio a @datFim '
			},
			xAxis: {
				categories: ['Meta', @{WriteLiteral(series);}]
			},
			yAxis: [{
				title: {
					text: 'AMOSTRAGEM'
				}
			}, {
				title: {
					text: 'Percentual Participação'
				},
				minPadding: 0,
				maxPadding: 0,
				max: 100,
				min: 0,
				opposite: true,
				labels: {
					format: "{value}%"
				}
			}],
			legend: {
				enabled: true
			},
			plotOptions: {
				column: {
					dataLabels: {
						enabled: true,
						color: 'black',
						style: {
							fontSize: "14px"
						},
						shadow: true
					}
				},
				line: {
					dataLabels: {
						enabled: true,
						borderRadius: 5,
						backgroundColor: 'rgba(252, 255, 197, 0.7)',
						borderWidth: 1,
						borderColor: '#AAA',
						y: -6,
						format: "{y} %"
					}

				}
			},
			series: [
				{
					type: 'line',
					name: 'Percentual',
					zIndex: 10,
					baseSeries: 1,
					yAxis: 1,
					data: [@percMeta, @percentuais]
				},
				{
					type: 'column',
					name: 'Meta',
					data: [{ y: @meta, color: "#FAC090" }, @metas]
				},
				{
					type: 'column',
					name: 'Realizado',
					data: [{ y: @total, color: "#ffc02e"}, @valores]
				}
			]

		});


	</script>
	}
