﻿
@model List<SEMP.Model.VO.Rastreabilidade.OBARelatorioInspecao>
@{
	var datInicio = Request["datInicio"];
	var datFim = Request["datFim"];

	var dIni = DateTime.Parse(datInicio);
	var dFim = DateTime.Parse(datFim);
	var qtdDias = dFim.Subtract(dIni).Days + 1;
	if (qtdDias == 0) { qtdDias = 1; }

	var qtdMeta = (qtdDias * 134.00);
	var meta = qtdMeta.ToString("N0").Replace(".", "").Replace(",", ".");

	var total = Model.Count().ToString("N0").Replace(".", "").Replace(",", ".");

	var totalInspetor = Model.GroupBy(x => x.NomOperador).Select(x => new { NomOperador = x.Key, QtdInspecao = x.Count() }).ToList();

	var valores = String.Join(",", totalInspetor.Select(x => x.QtdInspecao.ToString("N0").Replace(".", "").Replace(",", ".")).ToList());

	var series = String.Join(", ", totalInspetor.Select(x => String.Format("'{0}'", x.NomOperador)).ToList());

	var percentuais = String.Join(", ", totalInspetor.Select(x => ((x.QtdInspecao / qtdMeta) * 100).ToString("N0").Replace(".", "").Replace(",", ".")).ToList());
	var percMeta = ((Model.Count() / qtdMeta) * 100).ToString("N0").Replace(".", "").Replace(",", ".");

}

@Scripts.Render("~/bundles/highcharts")


<div id="grafico" style="border: solid 1px; width: 100%; height: 100%;"></div>

@if (Model != null)
{

	<script>

		var grafico = new Highcharts.Chart({
			chart: {
				type: "column",
				renderTo: 'grafico',
				zoomType: 'xy'
			},
			title: {
				text: "Inspeção OBA Produto Acabado"
			},
			subtitle: {
				text: 'Período: @datInicio a @datFim '
			},
			xAxis: {
				categories: ['Meta', 'Total', @{WriteLiteral(series);}]
			},
			yAxis: [{
				title: {
					text: 'AMOSTRAGEM'
				}
			}, {
				title: {
					text: 'Percentual Participação'
				},
				minPadding: 0,
				maxPadding: 0,
				max: 100,
				min: 0,
				opposite: true,
				labels: {
					format: "{value}%"
				}
			}],
			legend: {
				enabled: true
			},
			plotOptions: {
				column: {
					stacking: 'normal',
					dataLabels: {
						enabled: true,
						color: 'white',
						style: {
							fontSize: "14px"
						},
						verticalAlign: 'middle',
						shadow: true
					}
				},
				line: {
					dataLabels: {
						enabled: true,
						borderRadius: 5,
						backgroundColor: 'rgba(252, 255, 197, 0.7)',
						borderWidth: 1,
						borderColor: '#AAA',
						y: -6,
						format: "{y} %"
					}

				}
			},
			series: [
				{
					type: 'line',
					name: 'Percentual',
					zIndex: 10,
					baseSeries: 1,
					yAxis: 1,
					data: [100, @percMeta, @percentuais]
				},
				{
					type: 'column',
					name: 'Qtde Inspecionada',
					data: [{ y: @meta, color: "#FAC090" }, { y: @total, color: "#ffc02e"}, @valores]
				}
			]

		});


	</script>
	}

