﻿@model List<SEMP.Model.VO.Rastreabilidade.OBAResumoInspecao>
@{

	var resumo = (from m in Model
				  group m by new { m.CodModelo, m.DesModelo, m.QtdP042, m.QtdP067, m.QtdP068, m.QtdP823 } into grupo
				  select new SEMP.Model.VO.Rastreabilidade.OBAResumoInspecao()
				  {
					  CodModelo = grupo.Key.CodModelo,
					  DesModelo = grupo.Key.DesModelo,
					  QtdAprovados = grupo.Sum(x => x.QtdAprovados),
					  QtdInspecionados = grupo.Sum(x => x.QtdInspecionados),
					  QtdLotes = grupo.Sum(x => x.QtdLotes),
					  QtdP042 = grupo.Key.QtdP042,
					  QtdP067 = grupo.Key.QtdP067,
					  QtdP068 = grupo.Key.QtdP068,
					  QtdP823 = grupo.Key.QtdP823,
					  QtdProduzido = grupo.Sum(x => x.QtdProduzido),
					  QtdPrograma = grupo.Sum(x => x.QtdPrograma),
					  QtdReprovados = grupo.Sum(x => x.QtdReprovados)
				  }
			 ).ToList();


	var valores = String.Join(",", resumo.Select(x => x.QtdProduzido.ToString("N0").Replace(".", "").Replace(",", ".")).ToList());
	var inspecionados = String.Join(",", resumo.Select(x => x.QtdInspecionados.ToString("N0").Replace(".", "").Replace(",", ".")).ToList());
	var aprovados = String.Join(",", resumo.Select(x => x.QtdAprovados.ToString("N0").Replace(".", "").Replace(",", ".")).ToList());
	var reprovados = String.Join(",", resumo.Select(x => x.QtdReprovados.ToString("N0").Replace(".", "").Replace(",", ".")).ToList());

	var series = String.Join(", ", resumo.Select(x => String.Format("'{0}'", x.DesModelo)).ToList());

	var datInicio = Request["DatInicio"].ToString();
	var datFim = Request["DatFim"].ToString();

}

@Scripts.Render("~/bundles/highcharts")


<div id="grafico" style="border: solid 1px; width: 100%; height: 100%;"></div>

@if (Model != null)
{

	<script>

		var grafico = new Highcharts.Chart({
			chart: {
				type: "column",
				renderTo: 'grafico',
				zoomType: 'xy'
			},
			title: {
				text: "Produção OBA"
			},
			subtitle: {
				text: 'Produtos inspecionados no período: @datInicio a @datFim '
			},
			xAxis: {
				categories: [@{WriteLiteral(series);}]
			},
			yAxis: {
				title: {
					text: 'Quantidade de produtos'
				}
			},
			legend: {
				enabled: true
			},
			series: [
				{
					name: 'Qtde Produzida',
					data: [@valores],
					dataLabels: {
						enabled: true
					},
					color: 'blue'
				},{
					name: 'Qtde Inspecionada',
					data: [@inspecionados],
					dataLabels: {
						enabled: true
					},
					color: 'brown'
				},{
					name: 'Qtde Aprovados',
					data: [@aprovados],
					dataLabels: {
						enabled: true
					},
					color: 'green'
				},{
					name: 'Qtde Reprovados',
					data: [@reprovados],
					dataLabels: {
						enabled: true
					},
					color: 'red'
				}

			]

		});


	</script>
	}
