﻿
@model List<SEMP.Model.VO.Rastreabilidade.OBARelatorioInspecao>
@{
	var datInicio = ViewBag.dIni;
	var datFim = ViewBag.dFim;

	var dIni = datInicio.ToShortDateString();
	var dFim = datFim.ToShortDateString();

	var totalInspetor = Model.GroupBy(x => new { x.CodOperador, x.NomOperador, x.DatProducao })
							 .Select(x => new { CodOperador = x.Key.CodOperador.Trim(), 
												NomOperador = x.Key.NomOperador, 
												Data = x.Key.DatProducao, 
												QtdInspecao = x.Count() 
									}).ToList();
}

@Scripts.Render("~/bundles/highcharts")

<div id="grafico" style="border: solid 1px; width: 100%; height: 100%;"></div>

@if (Model != null)
{
	<script>

		var grafico = new Highcharts.Chart({
			chart: {
				type: "spline",
				renderTo: 'grafico',
				zoomType: 'xy'
			},
			title: {
				text: "Inspeção OBA Produto Acabado"
			},
			subtitle: {
				text: 'Período: @dIni a @dFim '
			},
			xAxis: {
				type: 'datetime',
				dateTimeLabelFormats: { // don't display the dummy year
					day: '%e %b'
				}
			},
			yAxis: {
				title: {
					text: 'AMOSTRAGEM'
				}
			},
			legend: {
				enabled: true
			},
			series: [
			@foreach (var item in totalInspetor.GroupBy(x => new { x.CodOperador, x.NomOperador }).Select(x => new { NomOperador = x.Key.NomOperador, CodOperador = x.Key.CodOperador } ))
			{
				var conteudo = "name: '{0}', data: [{1}]";

				var dados = totalInspetor.Where(x => x.CodOperador == item.CodOperador).Select(x => new { x.Data, x.QtdInspecao }).OrderBy(x => x.Data).ToList();

				var series = "";
				foreach (var itemDado in dados)
				{
					series += String.Format("[Date.UTC({0}, {1}, {2}), {3}],", itemDado.Data.Year, itemDado.Data.Month-1, itemDado.Data.Day, itemDado.QtdInspecao);
				}

				WriteLiteral("{" + String.Format(conteudo, item.NomOperador, series) + "}, ");

				// ', data: [[Date.UTC(2017, 9, 01), 100],[Date.UTC(2017, 9, 02), 0]]},")
			}
			]

		});
		
		setInterval("document.location.reload();", 60000)
	</script>
	}


