﻿@{
	ViewBag.Title = "OBA";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Qualidade";
	ViewBag.Rotina = "Posto OBA";


	var datInicio = Request["DatInicio"];
	var datFim = Request["DatFim"];

	if (String.IsNullOrEmpty(datInicio)) { datInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(datFim)) { datFim = DateTime.Now.ToString("dd/MM/yyyy"); }


	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin { CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = "" };

	var depto = retornologin.Depto ?? "";

	var acessoCPD = (retornologin.Depto != null && (depto.Trim() == "CPD" || depto.Trim().StartsWith("DTI")));
	var acessoCQ = acessoCPD || (depto.Contains("CQ") || depto.Contains("DCQ"));

	var desabilitar = acessoCQ || retornologin.NomUsuario.ToUpper() == "FRANCISCOS" ? "" : "disabled";

	var grafProdutividade = SEMP.Helpers.Extensions.Permissao("OBAProdutividade", retornologin);
}

<div>
	<h3>Resumo Operação no Dia</h3>

	<div class="row">
		<div class="pull-left">
			<label class="col-md-2" style="width: 50px; margin-top: 8px;">Período</label>
			<div class="col-md-4" style="width: 170px;">
				<div class="input-group input-group-sm" style="width: 100px;">
					<div class="input-group-btn"><button class="btn btn-default menos"><span class="glyphicon glyphicon-minus"></span></button></div>
					<input type="text" name="DatInicio" id="DatInicio" class="form-control calendar-group" style="width: 100px;" value="@datInicio" />
					<div class="input-group-btn"><button class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></button></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="input-group input-group-sm" style="width: 100px;">
					<div class="input-group-btn"><button class="btn btn-default menos"><span class="glyphicon glyphicon-minus"></span></button></div>
					<input type="text" name="DatFim" id="DatFim" class="form-control calendar-group" style="width: 100px;" value="@datFim" />
					<div class="input-group-btn"><button class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></button></div>
				</div>
			</div>
		</div>
		<div class="pull-left margem" style="width: 370px;">
			<input type="button" class="pull-left btn bttn-sm btn-danger margem5px" id="btnConsultar" value="Consultar" onclick="Consultar();" />&nbsp;
			<div class="btn-group pull-left" @desabilitar>
				<button type="button" class="btn btn-danger bttn-sm" onclick="NovaInspecao();" id="btnNovaInspecao">Nova Inspeção</button>
				<button type="button" class="btn btn-danger bttn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="caret"></span>
					<span class="sr-only">Toggle Dropdown</span>
				</button>
				<ul class="dropdown-menu">
					<li><a href="#" onclick="NovaInspecaoRPA();">Com RPA</a></li>
				</ul>
			</div>

			<button class="btn btn-danger bttn-sm" title="Visualizar Relatório" onclick="RelatorioInspecao();"><span class="glyphicon glyphicon-print"></span></button>

			<div class="btn-group pull-left" style="margin-left: 5px;">
				<button class="btn btn-danger bttn-sm" title="Visualizar Gráfico" onclick="GraficoInspecao();"><span class="glyphicon glyphicon-stats"></span></button>
				<button type="button" class="btn btn-danger bttn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span><span class="sr-only">Toggle Dropdown</span></button>
				<ul class="dropdown-menu">
					@if (grafProdutividade)	{<li><a href="#" onclick="GraficoProdutividade()">Produtividade</a></li>}
					@if (grafProdutividade) {<li><a href="#" onclick="GraficoMeta()">Metas</a></li>}
					<li><a href="#" onclick="GraficoMensal()">Produtividade Mensal</a></li>
				</ul>
			</div>
		</div>
	</div>

	<br />


	<div id="resumo"></div>

	<br />
	<div id="conteudo"></div>
</div>

<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>
<br /><br />
<script>

	$(function () {
		$("#DatFim").datepicker();
		$("#DatInicio").datepicker();

		$('.mais').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			var date = $(campo).datepicker('getDate');
			date.setDate(date.getDate() + 1);
			$(campo).datepicker("setDate", date);
		});

		$('.menos').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			var date = $(campo).datepicker('getDate');
			date.setDate(date.getDate() - 1);
			$(campo).datepicker("setDate", date);
		});


		Consultar();

	});

	function Consultar() {
		ConsResumo();
		ConsRPA();

	}

	function ConsRPA() {
		$("#conteudo").html($('#carregando').html());


		$.ajax({
			type: "GET",
			url: "/Outros/PostoOBA/Lista/",
			data: {
				DatInicio: $("#DatInicio").val(),
				DatFim: $("#DatFim").val()
			},
			success: function (data) {
				$("#conteudo").html(data);
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	function ConsResumo() {
		$("#resumo").html($('#carregando').html());
		$.ajax({
			type: "GET",
			url: "/Outros/PostoOBA/ListaResumo/",
			data: {
				DatInicio: $("#DatInicio").val(),
				DatFim: $("#DatFim").val()
			},
			success: function (data) {
				$("#resumo").html(data);
			},
			error: function (data) {
				$("#resumo").html(data);
			}
		});

	}

	function NovaInspecao() {
		document.location.href = "/Outros/PostoOBA/NovaInspecao/";
	}

	function NovaInspecaoRPA() {
		document.location.href = "/Outros/PostoOBA/NovaInspecaoRPA/";
	}

	function RelatorioInspecao() {
		var DatInicio = $("#DatInicio").val();
		var DatFim = $("#DatFim").val();

		var params = "DatInicio=" + DatInicio + "&DatFim=" + DatFim;

		document.location.href = "/Outros/PostoOBA/RelatorioInspecao/?" + params;
	}

	function GraficoInspecao() {
		var DatInicio = $("#DatInicio").val();
		var DatFim = $("#DatFim").val();

		var params = "DatInicio=" + DatInicio + "&DatFim=" + DatFim;

		document.location.href = "/Outros/PostoOBA/GraficoResumo/?" + params;
	}

	function GraficoMeta() {
		var DatInicio = $("#DatInicio").val();
		var DatFim = $("#DatFim").val();

		var params = "DatInicio=" + DatInicio + "&DatFim=" + DatFim;

		document.location.href = "/Outros/PostoOBA/GraficoMeta/?" + params;
	}

	function GraficoProdutividade() {
		var DatInicio = $("#DatInicio").val();
		var DatFim = $("#DatFim").val();

		var params = "DatInicio=" + DatInicio + "&DatFim=" + DatFim;

		document.location.href = "/Outros/PostoOBA/GraficoProdutividade/?" + params;
	}

	function GraficoMensal() {
		var DatInicio = $("#DatInicio").val();
		var DatFim = $("#DatFim").val();

		var params = "DatInicio=" + DatInicio + "&DatFim=" + DatFim;

		document.location.href = "/Outros/PostoOBA/GraficoProdutividadeMensal/?" + params;
	}

</script>