﻿@model List<SEMP.Model.VO.Rastreabilidade.OBAResumoInspecao>

@{ 
	var resumo = (from m in Model
				  group m by new { m.CodModelo, m.DesModelo, m.QtdP042, m.QtdP067, m.QtdP068, m.QtdP823 } into grupo
				  select new SEMP.Model.VO.Rastreabilidade.OBAResumoInspecao()
				  {
					  CodModelo = grupo.Key.CodModelo,
					  DesModelo = grupo.Key.DesModelo,
					  QtdAprovados = grupo.Sum(x => x.QtdAprovados),
					  QtdInspecionados = grupo.Sum(x => x.QtdInspecionados),
					  QtdLotes = grupo.Sum(x => x.QtdLotes),
					  QtdP042 = grupo.Key.QtdP042,
					  QtdP067 = grupo.Key.QtdP067,
					  QtdP068 = grupo.Key.QtdP068,
					  QtdP823 = grupo.Key.QtdP823,
					  QtdProduzido = grupo.Sum(x => x.QtdProduzido),
					  QtdPrograma = grupo.Sum(x => x.QtdPrograma),
					  QtdReprovados = grupo.Sum(x => x.QtdReprovados)
				  }
				 ).ToList();

}

<table class="table-semp blue borderBlue table-bordered table-condensed">
	<caption>Resumo de Inspeção</caption>
	<thead>
		<tr>
			<th>Modelo</th>
			<th style="width: 70px;">Programa</th>
			<th style="width: 70px;">Produzido</th>
			<th style="width: 60px;">Qtd. Pallets</th>
			<th style="width: 60px;">Qtd PA Insp.</th>
			<th style="width: 50px;">Qtd PA Aprov.</th>
			<th style="width: 50px;">Qtd PA Reprov.</th>
			<th style="width: 50px;">% Insp.</th>
			<th style="width: 50px;">Est. 042</th>
			<th style="width: 50px;">Est. 823</th>
			<th style="width: 50px;">Est. 067</th>
			<th style="width: 50px;">Est. 068</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var registro in resumo)
		{
			var percent = Math.Round(registro.QtdProduzido > 0 ? ((decimal)registro.QtdInspecionados / registro.QtdProduzido) * 100m : 0m, 2);

				<tr>
					<td>
						<button class="btn btn-default btn-xs" data-toggle="tooltip" title="Visualizar" onclick="VisualizarInspecaoModelo('@registro.CodModelo');"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
						@registro.CodModelo - @registro.DesModelo
					</td>
					<td style="text-align: center;">@registro.QtdPrograma</td>
					<td style="text-align: center;">@registro.QtdProduzido</td>
					<td style="text-align: center;">@registro.QtdLotes</td>
					<td style="text-align: center;">@registro.QtdInspecionados</td>
					<td style="color: blue;text-align: center;">@registro.QtdAprovados</td>
					<td style="color: red;text-align: center;">@registro.QtdReprovados</td>
					<td>@percent</td>
					<td style="text-align: right;">@registro.QtdP042.ToString("N0")</td>
					<td style="text-align: right;">@registro.QtdP823.ToString("N0")</td>
					<td style="text-align: right;">@registro.QtdP067.ToString("N0")</td>
					<td style="text-align: right;">@registro.QtdP068.ToString("N0")</td>
				</tr>
			}
		<tr style="font-weight: bold;">
			<td style="text-align: right;">Totais:</td>
			<td style="text-align: center;">@resumo.Sum(x => x.QtdPrograma)</td>
			<td style="text-align: center;">@resumo.Sum(x => x.QtdProduzido)</td>
			<td style="text-align: center;">@resumo.Sum(x => x.QtdLotes)</td>
			<td style="text-align: center;">@resumo.Sum(x => x.QtdInspecionados)</td>
			<td style="color: blue;text-align: center;">@resumo.Sum(x => x.QtdAprovados)</td>
			<td style="color: red;text-align: center;">@resumo.Sum(x => x.QtdReprovados)</td>
			<td></td>
			<td style="text-align: right;"></td>
			<td style="text-align: right;"></td>
			<td style="text-align: right;"></td>
			<td style="text-align: right;"></td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="13"><b>Qtd. Registros:</b> @Model.Count()</td>
		</tr>

	</tfoot>
</table>

<script>

	function VisualizarInspecaoModelo(codModelo) {
		$.redirectPost('/Outros/PostoOBA/VisualizarInspecaoModelo/', { datInicio: $("#DatInicio").val(), datFim: $("#DatFim").val(), codModelo: codModelo});
	}

</script>