﻿@{
	ViewBag.Title = "Nova Inspecao - Com RPA";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Qualidade";
	ViewBag.Rotina = "Posto OBA";

	HttpCookie cookie = Request.Cookies["Posto"];

	int codLinha = cookie != null && cookie["codLinha"] != "" ? int.Parse(cookie["codLinha"]) : -1;
	int numPosto = cookie != null && cookie["numPosto"] != "" ? int.Parse(cookie["numPosto"]) : -1;

	RAST.BO.Rastreabilidade.Posto posto = new RAST.BO.Rastreabilidade.Posto(codLinha, numPosto);

	var linhas = (List<SEMP.Model.DTO.CBLinhaDTO>)ViewBag.linhas ?? new List<SEMP.Model.DTO.CBLinhaDTO>();
	var desLinha = posto != null ? RAST.BO.Rastreabilidade.Geral.ObterLinha(posto.posto.CodLinha).DesLinha : "";

	var configLinha = RAST.BO.Rastreabilidade.PostoOBA.ObterConfigLote(codLinha) ?? new SEMP.Model.DTO.CBLoteConfigDTO() { PercAmostras = 10 };

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"]; // dados do operador
}

<h3><button class="btn btn-default btn-sm glyphicon glyphicon-arrow-left" style="margin-right: 5px;" onclick="document.location.href='/Outros/PostoOBA/'"></button>POSTO OBA</h3>

<br />
<form name="frmPallet" method="post" action="/Outros/PostoOBA/NovaInspecaoRPA/" onsubmit="$('#pnlRPA').addClass('hidden');">
	<div class="container" id="pnlRPA" style="width: 500px; border: 1px solid #000000; padding: 15px; border-radius: 10px;">

		<h3>INDIQUE O RPA</h3>

		<select name="CodLinha" id="CodLinha" class="form-control input-sm">
			<option value="-1">SELECIONE A LINHA</option>
			@foreach (var linha in linhas)
			{
			<option value="@linha.CodLinha" @if (linha.CodLinha == ViewBag.codLinha || linha.CodLinha == posto.posto.CodLinha) { Write("selected"); }>@linha.DesLinha</option>
			}
		</select>
		<select name="NumPosto" id="NumPosto" class="form-control input-sm">
			<option value="-1">SELECIONE O POSTO</option>
			@if (codLinha != -1 && posto != null)
			{
			<option value="@posto.posto.NumPosto" selected="selected">@posto.posto.DesPosto</option>
			}
		</select>



		<div class="input-group" style="margin-bottom: 10px;">
			<input type="text" name="CodFab" id="CodFab" maxlength="2" value="" placeholder="Fábrica" class="form-control input-sm" style="width: 78px; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; " onblur="ConsultaFabrica();" />
			<label id="NomFab" class="input-group-addon input-sm" style="width: 390px; border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;" />
		</div>
		<input type="text" name="NumRPA" id="NumRPA" maxlength="6" value="" placeholder="Informe o RPA" class="form-control input-sm" />

		<br />

		<input type="button" class="btn btn-lg btn-primary" name="btnAvancarRPA" id="btnAvancarRPA" value="Avançar" onclick="AvancarRPA();" />
	</div>

	<div class="container" id="pnlPallet" style="width: 500px; border: 1px solid #000000; padding: 15px; border-radius: 10px;">

		<h3>SELEÇÃO DE PALLET</h3>
		<br />

		<div style="font-size: 12px;">

			<dl class="dl-horizontal">
				<dt>RPA:</dt>
				<dd id="lblNumRPA">XX/XXXXXX</dd>

				<dt>Produto:</dt>
				<dd id="lblProduto">999999 - XXXXXXXXXXXXXXXXXXX</dd>

				<dt>Qtd. RPA</dt>
				<dd id="lblQtdRPA">9999</dd>
			</dl>

			<input type="text" name="NumSerie" id="NumSerie" value="" placeholder="LEIA A SÉRIE DO PRODUTO OU INFORME O PALLET"
				   class="form-control" onkeydown="ValidaSerie(event);" />

			<br />

			<dl class="dl-horizontal">
				<dt>Pallet:</dt>
				<dd id="lblNumLote">XXXXXXXXXXXXXXX</dd>

				<dt>Qtd. Lote:</dt>
				<dd id="lblQtdLote">9999</dd>

				<dt>Data Produção:</dt>
				<dd id="lblDatProducao">99/99/9999</dd>

				<dt>Linha de Origem:</dt>
				<dd id="lblLinha"></dd>

				<dt>Qtd. Amostras</dt>
				<dd><input type="text" class="form-control" name="QtdAmostras" id="QtdAmostras" value="" /></dd>
			</dl>
		</div>

		<input type="hidden" name="CodPallet" id="CodPallet" value="" />
		<input type="hidden" name="CodOperador" id="CodOperador" value="@retornologin.NomUsuario" />
		<input type="hidden" name="CodModelo" id="CodModelo" value="" />
		<input type="hidden" name="CodLinhaOri" id="CodLinhaOri" value="" />


		<input type="button" class="btn btn-lg btn-danger" name="btnVoltar" id="btnVoltar" value="Voltar" onclick="Voltar();" />
		<input type="submit" class="btn btn-lg btn-primary" name="btnAvancarPallet" id="btnAvancarPallet" value="Avançar" />

	</div>
</form>
<script>
	var percAmostras = "@configLinha.PercAmostras";


	$(function () {
		$("#pnlPallet").toggle();
		$("#btnAvancarPallet").prop("disabled", true);

		if ($("#CodLinha").val() == -1)
			$("#CodLinha").focus();
		else
			$("#CodFab").focus();

		$("#CodLinha").change(function () {
			$.ajax({
				type: "GET",
				url: "/posto/GetPostos/",
				data: { codLinha: $("#CodLinha").val() },
				dataType: "json",
				success: function (json) {
					var options = "";
					options += '<option> SELECIONE O POSTO </option>';
					$.each(json, function (key, Posto) {
						options += '<option value="' + Posto.NumPosto + '">' + Posto.DesPosto + '</option>';
					});
					$("#NumPosto").html(options);
				}
			});

		});

		$('body').on('keydown', 'input, select, textarea', function (e) {
			var self = $(this)
			  , form = self.parents('form:eq(0)')
			  , focusable
			  , next
			;

			var key = (window.event) ? e.keyCode : e.which;

			//alert(key);

			if (key == 13) {
				focusable = form.find('input,a,select,button,textarea').filter(':visible');
				next = focusable.eq(focusable.index(this) + 1);
				if (next.length) {
					next.focus();
				} else {
					focusable.click();
				}
				return false;
			}
		});
	});


	function AvancarRPA() {

		var linha = $("#CodLinha").val();
		var posto = $("#NumPosto").val();
		var fab = $("#CodFab").val();
		var rpa = $("#NumRPA").val();

		if (linha == "") {
			alert("Informe a linha");
			$("#CodLinha").focus();
			return;
		}

		if (posto == "") {
			alert("Informe o posto");
			$("#NumPosto").focus();
			return;
		}

		if (fab == "") {
			alert("Informe a fábrica");
			$("#CodFab").focus();
			return;
		}

		if (rpa == "") {
			alert("Informe o RPA");
			$("#NumRPA").focus();
			return;
		}

		$("#NumRPA").val(padLeft($("#NumRPA").val(), 6));
		rpa = $("#NumRPA").val();

		/// Validação de RPA para avançar
		$.ajax({
			type: "GET",
			url: "/Outros/PostoOBA/ObterRPA/",
			data: { CodFab: fab, NumRPA: rpa },
			success: function (data) {
				if (data.disponivel) {
					if (data.dado.CodFab != null) {
						if (data.dado.CodMotivo != "27") {

							alert("RPA informado não é válido para essa operação." + data.dado.CodMotivo);
							return false;

						}

						if (data.dado.DatRespSetor == null || data.dado.DatRespSetor == "") {
							alert("RPA informado ainda não foi aprovado.");
							return false;

						}

						$("#lblNumRPA").html(fab + "/" + rpa);
						$("#lblProduto").html(data.dado.CodItem + ' - ' + data.dado.DesItem);
						$("#lblQtdRPA").html(data.dado.QtdRequisitado);
						$("#lblNumLote").html("");
						$("#lblQtdLote").html("");
						$("#lblDatProducao").html("");
						$("#lblLinha").html("");

						$("#CodModelo").val(data.dado.CodItem);
					}
					else {
						alert('RPA Não encontrado.');
						$("#NumRPA").focus();
						$("#NumRPA").select();

						return false;
					}
					$("#pnlPallet").toggle();
					$("#pnlRPA").addClass("hidden");

					$("#NumSerie").focus();
					$("#NumSerie").select();
				}
				else
				{
					alert("RPA já concluído");
					$("#NumRPA").focus();
					$("#NumRPA").select();
					return false;
				}

			},
			error: function (data) {
				alert("Erro ao carregar RPA");

			}
		});

		return;

	}

	function Voltar() {
		$("#pnlRPA").toggle();

		$("#pnlPallet").toggle();

		$("#pnlRPA").removeClass("hidden");
		return;

	}

	function ConsultaFabrica() {

		if ($("#CodFab").val() == "") return;

		$("#CodFab").val(padLeft($("#CodFab").val(), 2));

		$("#NomFab").val("");

		$.ajax({
			type: "GET",
			url: "/Util/ObterDescricaoFabrica/",
			data: { CodFab: $("#CodFab").val() },
			success: function (data) {
				$("#NomFab").html(data);
			}
		});
	}

	function ValidaSerie(e) {

		var key = (window.event) ? e.keyCode : e.which;

		if (key != 13) {
			return;
		}

		var serie = $("#NumSerie").val();
		var numSerie = "";
		var numPallet = "";

		if (serie.substring(0, 1) == "A") {
			numSerie = serie;
		}
		else {
			numPallet = padLeft(serie, 6);
			$("#NumSerie").val(numPallet);
		}

		var codModelo = $("#lblProduto").html().substring(0, 6);

		$.ajax({
			type: "GET",
			url: "/Outros/PostoOBA/ObterPalletGPA/",
			data: { NumPallet: numPallet, CodModelo: codModelo, NumSerie: numSerie },
			success: function (data) {
				$("#lblNumLote").html(numPallet);
				$("#CodPallet").val(numPallet);
				$("#lblQtdLote").html(data.QtdPallet);

				var date = getFormattedDate(new Date(parseInt(data.Data.substr(6))));

				$("#lblDatProducao").html(date);
				$("#lblLinha").html(data.CodLinha + " - " + data.DesLinha);
				$("#CodLinhaOri").val(data.CodLinha);

				var qtdAmostras = Math.round(data.QtdPallet * (percAmostras / 100), 0);

				$("#QtdAmostras").val(qtdAmostras);

				$("#btnAvancarPallet").prop("disabled", false);
			},
			error: function (data) {
				if (data.responseText != "") {
					alert("Erro ao consultar: " + data.responseText);
				}
				else {
					alert("Pallet não encontrado");
					$("#NumSerie").focus();
				}
			}
		});

	}


	@{
		if (ViewBag.erro != null && ViewBag.erro != "")
		{
			WriteLiteral("alert('" + ViewBag.erro + "')");

		}
	}

</script>