﻿@model List<SEMP.Model.VO.Rastreabilidade.OBARelatorioInspecao>

@{
	ViewBag.Title = "Visualizar Inspeção";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Qualidade";
	ViewBag.Rotina = "Posto OBA";

	var umaSerie = Model.FirstOrDefault() ?? new SEMP.Model.VO.Rastreabilidade.OBARelatorioInspecao();

	var registro = RAST.BO.Rastreabilidade.PostoOBA.ObterRegistro(umaSerie.CodFab, umaSerie.NumRPA) ?? new SEMP.Model.DTO.CBOBARegistroDTO();

	var inspetores = Model.Select(x => x.NomOperador).Distinct().ToList();

	var testesOBA = (List<SEMP.Model.DTO.CBCadDefeitoDTO>)ViewBag.testesOBA;
	var testesEspecificos = (List<SEMP.Model.DTO.CBCadSubDefeitoDTO>)ViewBag.testesEspecificos;

	var cont = 0;

	var rpas = Model.Select(x => new { x.CodFab, x.NumRPA }).Distinct().ToList();

	var testes = new List<SEMP.Model.DTO.CBOBATestesDTO>();

	foreach (var rpa in rpas)
	{
		var teste = RAST.BO.Rastreabilidade.PostoOBA.ObterTestes(rpa.CodFab, rpa.NumRPA, "");

		testes.AddRange(teste);
	}

	var dIni = Request["datInicio"];
	var dFim = Request["datFim"];

}

<h3>
	<button class="btn btn-default btn-sm" style="margin-right: 5px;" onclick="document.location.href='/Outros/PostoOBA/'">
		<span class="glyphicon glyphicon-arrow-left"></span>
	</button>@ViewBag.Title
</h3>

<style>
	.colTitulo {
		text-align: right;
		margin: 0;
		padding: 0;
	}

	.colTexto {
		font-weight: normal;
		text-align: left;
		margin: 0;
		padding: 0;
	}

	.tabela-insp {
		padding: 0 !important;
	}

		.tabela-insp tr, .tabela-insp tr td {
			margin: 0 !important;
			padding: 0 !important;

			font-size: 14px;
		}
</style>

<div class="row">
	<div style="min-width: 50%;">
		<div class="panel panel-default">
			<div class="panel-heading">Verificação</div>
			<table class="table-simples table-condensed table-bordered smallrow">
				<thead>
					<tr>
						<th style="text-align: left; vertical-align: middle;">
							<table class="tabela-insp">
								<tr>
									<td class="colTitulo">Produto:</td>
									<td class="colTexto">@registro.CodModelo - @registro.DesModelo</td>
								</tr>
								<tr>
									<td class="colTitulo">Qtd. Inpecionados:</td>
									<td class="colTexto">@Model.Count()</td>
								</tr>
								<tr>
									<td class="colTitulo">Data Produção:</td>
									<td class="colTexto">@dIni @if(dIni != dFim){ WriteLiteral(" - " + dFim); }</td>
								</tr>
							</table>

						</th>
						@foreach (var serie in Model)
						{
							var texto = serie.NumECB.Substring(8);
							<th style="width: 35px;">
								@foreach (var letra in texto)
								{
								@letra <br />
								}
							</th>
						}
						<th></th>
					</tr>
					<tr>
						<th colspan="11">Verificação / Item</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in testesOBA)
					{
						cont++;
						<tr>
							<td colspan="10"><b class="text-uppercase">@cont. @item.DesDefeito</b></td>
						</tr>
						foreach (var teste in testesEspecificos.Where(x => x.CodDefeito == item.CodDefeito))
						{
						<tr>
							<td>&nbsp;&nbsp;&nbsp;&nbsp; @teste.DesDefeito</td>

							@foreach (var serie in Model)
							{
								var dado = testes.FirstOrDefault(x => x.CodDefeito.Trim() == item.CodDefeito && x.CodSubDefeito == teste.CodSubDefeito && x.NumECB == serie.NumECB);
								if (dado != null)
								{
								<td style="text-align:center;">@dado.FlgStatus</td>
								}
								else
								{
								<td>-</td>
								}
							}
							<td></td>
						</tr>

						}
					}

				</tbody>
			</table>
			<table class="table-simples table-condensed table-bordered" style="margin-top: 1px; border-top: solid 1px gray;">
				<thead>
					<tr>
						<th style="width: 80px;">Série:</th>
						<th style="width: 250px;">Teste</th>
						<th>Descrição dos defeitos</th>
					</tr>
				</thead>
				<tbody>
					@{
						var obsTestes = testes.Where(x => !String.IsNullOrEmpty(x.Observacao)).ToList();
						if (obsTestes.Count() > 0)
						{
							foreach (var texto in obsTestes)
							{
							<tr>
								<td>@texto.NumECB.Substring(8)</td>
								<td>@texto.DesSubDefeito</td>
								<td>@texto.Observacao</td>
							</tr>
							}
						}
						else
						{
						<tr>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
						</tr>
						}


						var obs = Model.Where(x => !String.IsNullOrEmpty(x.Observacao)).ToList();
						<tr>
							<th colspan="3">Obs.:</th>
						</tr>
						if (obs.Count() > 0)
						{
							foreach (var texto in obs)
							{
							<tr>
								<td>@texto.NumECB.Substring(8)</td>
								<td colspan="2">@texto.Observacao</td>
							</tr>
							}
						}
						else
						{
						<tr>
							<td colspan="3">&nbsp;</td>
						</tr>
						}
					}
				</tbody>
			</table>
			<table class="table-simples table-condensed table-bordered" style="margin-top: 1px; border-top: solid 1px gray;">
				<thead>
					<tr>
						<th>Data</th>
						<th>Inspetor</th>
						<th>Responsável</th>
						<th>Legenda</th>
					</tr>
				</thead>
				<tbody>
					<tr style="text-align:center;">
						<td>@dIni @if (dIni != dFim) { WriteLiteral(" - " + dFim); }</td>
						<td>@{inspetores.ForEach(x => { WriteLiteral(x + "<br />"); });}</td>
						<td>Hitle Souza</td>
						<td>
							S - Aprovado <br />
							NA - Não Aplicável<br />
							X - Reprovado
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<br /><br />


