﻿@model SEMP.Model.DTO.BarrasLinhaDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar Linha</title>
</head>
<body>

@using (Html.BeginForm("Edit", "BarrasLinha", FormMethod.Post, new { @class = "form-inline", @role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<fieldset>
		<legend>Parâmetros Linha</legend>
		<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.CodLinhaCB)
					@Html.TextBoxFor(model => model.CodLinhaCB, new { @class = "form-control", @size = "1" })
					@Html.ValidationMessageFor(model => model.CodLinhaCB)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.CodLinha)
					@Html.TextBoxFor(model => model.CodLinha, new { @class = "form-control", @size = "1" })
					@Html.ValidationMessageFor(model => model.CodLinha)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.flgFabrica)
					@Html.TextBoxFor(model => model.flgFabrica, new { @class = "form-control", @size = "1" })
					@Html.ValidationMessageFor(model => model.flgFabrica)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.DesLinha)
					@Html.TextBoxFor(model => model.DesLinha, new { @class = "form-control", @size = "15" })
					@Html.ValidationMessageFor(model => model.DesLinha)
				</div>
			</div>
		</div>

		<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.WStation)
					@Html.TextBoxFor(model => model.WStation, new { @class = "form-control", @size = "1" })
					@Html.ValidationMessageFor(model => model.WStation)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.CodLinhaRel)
					@Html.TextBoxFor(model => model.CodLinhaRel, new { @class = "form-control", @size = "1" })
					@Html.ValidationMessageFor(model => model.CodLinhaRel)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.Setor)
					@Html.TextBoxFor(model => model.Setor, new { @class = "form-control", @size = "1" })
					@Html.ValidationMessageFor(model => model.Setor)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.Produto)
					@Html.TextBoxFor(model => model.Produto, new { @class = "form-control", @size = "1" })
					@Html.ValidationMessageFor(model => model.Produto)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.CodFam)
					@Html.TextBoxFor(model => model.CodFam, new { @class = "form-control", @size = "1" })
					@Html.ValidationMessageFor(model => model.CodFam)
				</div>
			</div>
		</div>

		<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.Familia)
					@Html.TextBoxFor(model => model.Familia, new { @class = "form-control", @size = "2" })
					@Html.ValidationMessageFor(model => model.Familia)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.NomeEstacaoExp)
					@Html.TextBoxFor(model => model.NomeEstacaoExp, new { @class = "form-control", @size = "2" })
					@Html.ValidationMessageFor(model => model.NomeEstacaoExp)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.flgAtivo)
					@Html.TextBoxFor(model => model.flgAtivo, new { @class = "form-control", @size = "2" })
					@Html.ValidationMessageFor(model => model.flgAtivo)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.flgStatus)
					@Html.TextBoxFor(model => model.flgStatus, new { @class = "form-control", @size = "2" })
					@Html.ValidationMessageFor(model => model.flgStatus)
				</div>
			</div>
		</div>

		<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.CodLinhaT1)
					@Html.TextBoxFor(model => model.CodLinhaT1, new { @class = "form-control", @size = "2" })
					@Html.ValidationMessageFor(model => model.CodLinhaT1)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.CodLinhaT2)
					@Html.TextBoxFor(model => model.CodLinhaT2, new { @class = "form-control", @size = "2" })
					@Html.ValidationMessageFor(model => model.CodLinhaT2)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.CodLinhaT3)
					@Html.TextBoxFor(model => model.CodLinhaT3, new { @class = "form-control", @size = "2" })
					@Html.ValidationMessageFor(model => model.CodLinhaT3)
				</div>
			</div>
		</div>

		<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.HoraEntrada)
					@Html.TextBoxFor(model => model.HoraEntrada, new { @class = "form-control", @size = "2" })
					@Html.ValidationMessageFor(model => model.HoraEntrada)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.HoraSaida)
					@Html.TextBoxFor(model => model.HoraSaida, new { @class = "form-control", @size = "2" })
					@Html.ValidationMessageFor(model => model.HoraSaida)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.HoraEntradaT2)
					@Html.TextBoxFor(model => model.HoraEntradaT2, new { @class = "form-control", @size = "2" })
					@Html.ValidationMessageFor(model => model.HoraEntradaT2)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.HoraSaidaT2)
					@Html.TextBoxFor(model => model.HoraSaidaT2, new { @class = "form-control", @size = "2" })
					@Html.ValidationMessageFor(model => model.HoraSaidaT2)
				</div>
			</div>
		</div>

		<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.HoraSaiIntervalo1)
					@Html.TextBoxFor(model => model.HoraSaiIntervalo1, new { @class = "form-control", @size = "1" })
					@Html.ValidationMessageFor(model => model.HoraSaiIntervalo1)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.HoraRetIntervalo1)
					@Html.TextBoxFor(model => model.HoraRetIntervalo1, new { @class = "form-control", @size = "1" })
					@Html.ValidationMessageFor(model => model.HoraRetIntervalo1)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.HoraSaiIntervalo2)
					@Html.TextBoxFor(model => model.HoraSaiIntervalo2, new { @class = "form-control", @size = "1" })
					@Html.ValidationMessageFor(model => model.HoraSaiIntervalo2)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.HoraRetIntervalo2)
					@Html.TextBoxFor(model => model.HoraRetIntervalo2, new { @class = "form-control", @size="1" })
					@Html.ValidationMessageFor(model => model.HoraRetIntervalo2)
				</div>
			</div>

		</div>

		<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.HoraSaiAlmoco)
					@Html.TextBoxFor(model => model.HoraSaiAlmoco, new { @class = "form-control", @size = "2" })
					@Html.ValidationMessageFor(model => model.HoraSaiAlmoco)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.HoraRetAlmoco)
					@Html.TextBoxFor(model => model.HoraRetAlmoco, new { @class = "form-control", @size = "2" })
					@Html.ValidationMessageFor(model => model.HoraRetAlmoco)
				</div>
			</div>			
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.HoraSaiJanta)
					@Html.TextBoxFor(model => model.HoraSaiJanta, new { @class = "form-control", @size = "2" })
					@Html.ValidationMessageFor(model => model.HoraSaiJanta)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.HoraRetJanta)
					@Html.TextBoxFor(model => model.HoraRetJanta, new { @class = "form-control", @size = "2" })
					@Html.ValidationMessageFor(model => model.HoraRetJanta)
				</div>
			</div>
		</div>

		@Html.HiddenFor(model => model.flgSeqLeit)

		<br />
		<div style="margin-top: 10px; display:inline-block;">
			@Html.ActionLink("Retornar", "Index", null, new { @class="bttn bttn-sm bttn-red", @style="color: white; text-decoration: none;" })
		</div>
		<div style="display: inline-block;">
			<input type="submit" value="Gravar" class="bttn bttn-sm bttn-red" />
		</div>
	</fieldset>
}

</body>
</html>
