﻿@model IEnumerable<SEMP.Model.DTO.BarrasLinhaDTO>

@{
	ViewBag.Title = "Parâmetros Linha";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Parâmetros Linha";

	var FlgAtivo = Request["FlgAtivo"];
	if (!String.IsNullOrEmpty(FlgAtivo))
	{
		FlgAtivo = "checked";
	}

}
@Scripts.Render("~/bundles/excelexport")
@Scripts.Render("~/bundles/datatable")
@Styles.Render("~/Content/datatable")
@Scripts.Render("~/bundles/floatThead")

<h3>@ViewBag.Title</h3>

<div id="dialog-edit" style="display: none; top: 10px;"></div>

<form name="frmRelatorio" id="frmRelatorio" action="/Coleta/BarrasLinha/" method="post" style="padding-left: 15px;">
	<div class="row">
		<div class="col-xs-25 col-v">
			<div class="col-xs-6">
				<div class="input-group input-group-sm">
					<span class="input-group-addon">
						<input type="checkbox" name="FlgAtivo" @FlgAtivo />
					</span>
					<input type="text" class="form-control" value="Ativos" style="border: none;" />
				</div>
			</div>
			<div class="col-xs-10" style="float: right; text-align: right;">
				<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
				<input type="submit" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" />
			</div>
		</div>
	</div>
</form>


<table class="table-semp smallrow" id="tblDados">
	<thead>
		<tr>
			<th></th>
			<th>@Html.DisplayNameFor(model => model.CodLinhaCB)</th>
			<th>@Html.DisplayNameFor(model => model.CodLinha)</th>
			<th>@Html.DisplayNameFor(model => model.flgFabrica)</th>
			<th>@Html.DisplayNameFor(model => model.DesLinha)</th>
			<th>@Html.DisplayNameFor(model => model.WStation)</th>
			<th style="display: none;">@Html.DisplayNameFor(model => model.CodLinhaRel)</th>
			<th style="display: none;">@Html.DisplayNameFor(model => model.CodLinhaT1)</th>
			<th style="display: none;">@Html.DisplayNameFor(model => model.CodLinhaT2)</th>
			<th style="display: none;">@Html.DisplayNameFor(model => model.CodLinhaT3)</th>
			<th>@Html.DisplayNameFor(model => model.Setor)</th>
			<th>@Html.DisplayNameFor(model => model.Produto)</th>
			<th>@Html.DisplayNameFor(model => model.CodFam)</th>
			<th>@Html.DisplayNameFor(model => model.flgSeqLeit)</th>
			<th>@Html.DisplayNameFor(model => model.HoraSaiIntervalo1)</th>
			<th>@Html.DisplayNameFor(model => model.HoraRetIntervalo1)</th>
			<th>@Html.DisplayNameFor(model => model.HoraSaiIntervalo2)</th>
			<th>@Html.DisplayNameFor(model => model.HoraRetIntervalo2)</th>
			<th>@Html.DisplayNameFor(model => model.HoraSaiAlmoco)</th>
			<th>@Html.DisplayNameFor(model => model.HoraRetAlmoco)</th>
			<th>@Html.DisplayNameFor(model => model.HoraSaiJanta)</th>
			<th>@Html.DisplayNameFor(model => model.HoraRetJanta)</th>
			<th>@Html.DisplayNameFor(model => model.HoraEntrada)</th>
			<th>@Html.DisplayNameFor(model => model.HoraSaida)</th>
			<th>@Html.DisplayNameFor(model => model.flgAtivo)</th>
			<th>@Html.DisplayNameFor(model => model.flgStatus)</th>
			<th>@Html.DisplayNameFor(model => model.Familia)</th>
			<th>@Html.DisplayNameFor(model => model.HoraEntradaT2)</th>
			<th>@Html.DisplayNameFor(model => model.HoraSaidaT2)</th>
			<th>@Html.DisplayNameFor(model => model.NomeEstacaoExp)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
  {
	  <tr>
		  <td>@Html.ActionLink("Editar", "Edit", "BarrasLinha", new { CodLinha = item.CodLinha }, new { @class = "lnkEdit" })</td>
		  <td>@Html.DisplayFor(modelItem => item.CodLinhaCB)</td>
		  <td>@Html.DisplayFor(modelItem => item.CodLinha)</td>
		  <td>@Html.DisplayFor(modelItem => item.flgFabrica)</td>
		  <td>@Html.DisplayFor(modelItem => item.DesLinha)</td>
		  <td>@Html.DisplayFor(modelItem => item.WStation)</td>
		  <td style="display: none;">@Html.DisplayFor(modelItem => item.CodLinhaRel)</td>
		  <td style="display: none;">@Html.DisplayFor(modelItem => item.CodLinhaT1)</td>
		  <td style="display: none;">@Html.DisplayFor(modelItem => item.CodLinhaT2)</td>
		  <td style="display: none;">@Html.DisplayFor(modelItem => item.CodLinhaT3)</td>
		  <td>@Html.DisplayFor(modelItem => item.Setor)</td>
		  <td>@Html.DisplayFor(modelItem => item.Produto)</td>
		  <td>@Html.DisplayFor(modelItem => item.CodFam)</td>
		  <td>@Html.DisplayFor(modelItem => item.flgSeqLeit)</td>
		  <td>@Html.DisplayFor(modelItem => item.HoraSaiIntervalo1)</td>
		  <td>@Html.DisplayFor(modelItem => item.HoraRetIntervalo1)</td>
		  <td>@Html.DisplayFor(modelItem => item.HoraSaiIntervalo2)</td>
		  <td>@Html.DisplayFor(modelItem => item.HoraRetIntervalo2)</td>
		  <td>@Html.DisplayFor(modelItem => item.HoraSaiAlmoco)</td>
		  <td>@Html.DisplayFor(modelItem => item.HoraRetAlmoco)</td>
		  <td>@Html.DisplayFor(modelItem => item.HoraSaiJanta)</td>
		  <td>@Html.DisplayFor(modelItem => item.HoraRetJanta)</td>
		  <td>@Html.DisplayFor(modelItem => item.HoraEntrada)</td>
		  <td>@Html.DisplayFor(modelItem => item.HoraSaida)</td>
		  <td>@Html.DisplayFor(modelItem => item.flgAtivo)</td>
		  <td>@Html.DisplayFor(modelItem => item.flgStatus)</td>
		  <td>@Html.DisplayFor(modelItem => item.Familia)</td>
		  <td>@Html.DisplayFor(modelItem => item.HoraEntradaT2)</td>
		  <td>@Html.DisplayFor(modelItem => item.HoraSaidaT2)</td>
		  <td>@Html.DisplayFor(modelItem => item.NomeEstacaoExp)</td>
	  </tr>
  }
	</tbody>
</table>


<br/><br/><br/>

<script>
	$(document).ready(function () {

		$('#tblDados').floatThead({
			useAbsolutePositioning: false,
			scrollingTop: 75
		});

		var url = "";

		$("#dialog-edit").dialog({
			title: 'Editar Linha',
			autoOpen: false,
			resizable: false,
			width: 630,
			height: 500,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function(event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		$(".lnkEdit").on("click", function (e) {
			// e.preventDefault(); use this or return false
			url = $(this).attr('href');
			$(".ui-dialog-title").html("Editar Linha");
			$("#dialog-edit").dialog('open');

			return false;
		});

		$("#btnclose").on("click", function (e) {
			$("#dialog-edit").dialog("close");
			return false;
		});

		$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados"
			   , datatype: $datatype.MVC
			});
		});

	});
</script>