﻿
@{
    ViewBag.Title = "ListaResumoHorasParadas";
}

@{
    var dataImpressao = DateTime.Now.ToString();
}

<style>
    .highlight{
        cursor: pointer;
    }

    .highlight td{

        background-color: #e6e6fa;
    }
</style>   
@{
    int contador = 0;
    var listaResumo = (List<SEMP.Model.VO.PM.ResumoHorasParadas>)ViewBag.ListaResumo;
    var listaDetalhes = (List<SEMP.Model.VO.PM.ResumoDetalhesHorasParadas>)ViewBag.ListaDetalhes;
    var diaAtual = DateTime.Now.ToShortDateString();
    //var mesAtual = DateTime.Now.Month.ToString("00") + "/" + DateTime.Now.Year;
}


<style type="text/css" media="print">
	.cabecalho_pp {
		display: block;
		margin-bottom: 10px;
        border: solid 1px;
        height: 30px;
        font-weight: bold;
	}

    #tblDados thead tr th{
        border: solid 1px;
        height: 40px;
    }

    #tblDados tbody tr td{
        border: solid 1px;
       
    }

    #tblDados2 thead tr th{
        border: solid 1px;
        height: 40px;
    }


    tblDados2 tbody tr td{
        border: solid 1px;
       
    }

    #divCabecalhoContent {
        margin-top: 5px; margin-left: 5px; margin-right: 5px;
    }
</style>

<div class="cabecalho_pp" id="cabecalho">
    <div id="divCabecalhoContent">
        <span><b>SEMP TOSHIBA AMAZONAS</b></span>
        <span style="float: right" id="Data"><b>RESUMO DE HORAS HOMENS PARADAS LCD/ AUDIO / INFO / DVD / IAC / IMC - MÊS: @ViewBag.Periodo - Emissão: @diaAtual</b></span>   
    </div>
</div>
<div class="row">
<table class="table-semp smallrow" id="tblDados">
    <thead>
        <tr>
            <th style="height: 30px;">Nº</th>
            <th>Departamentos</th>
            <th>Nº Horas TV</th>
            <th>Nº Horas Audio</th>
            <th>Nº Horas Info</th>
            <th>Nº Horas DVD</th>
            <th>Nº Horas IAC</th>
            <th>Nº Horas IMC</th>
            <th>
                Nº Horas Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dep in listaResumo.GroupBy(g => g.CodFabDepto).ToList())
        {
            if (dep.Key != "00")
            {
            <tr style="background-color: #ebebeb;">
                <td></td>
                <td colspan="8">
                    @if (dep.Key == "01")
                    {
                        <span><b>DEPARTAMENTOS - SAO</b></span>
                    }
					else if (dep.Key == SEMP.Model.Constantes.CodFab02)
                    {
                        <span><b>DEPARTAMENTOS - MAO</b></span>
                    }
                    else if (dep.Key == "07")
                    {
                        <span><b>DEPARTAMENTOS - STM</b></span>
                    }
                    else if (dep.Key == "09")
                    { 
                        <span><b>DEPARTAMENTOS - STI</b></span>
                    }
                </td>
            </tr>
            }
            foreach (var item in listaResumo.Where(w => w.CodFabDepto == dep.Key).ToList())
            {
                contador++;
                <tr style="background-color: white;">
                    <td>
                        @if (item.CodDepto != "Total" && item.CodDepto != "Totas" && item.CodDepto != "Totat")
                        {
                            <span>@contador</span>   
                        }
                    </td>
                    <td>
                    
                        @if (item.CodDepto == "Total")
                        {
                            <span>TOTAL HORAS HOMENS PARADAS</span>
                        }
                        else if (item.CodDepto == "Totas")
                        {
                                <span>NÚMERO DE HORAS DISPONÍVEIS</span>
                        }
                        else if (item.CodDepto == "Totat")
                        {
                            <span>% HORAS HOMENS PARADAS</span>
                        }
                        else
                        { 
                            <span>@item.NomDepto</span>
                        }
                    </td>
                    <td>@if (item.CodDepto == "Totat") { <span>@item.QtdTV %</span> }else{ <span>@item.HorTV</span> }</td>
                    <td>@if (item.CodDepto == "Totat") { <span>@item.QtdAudio %</span> }else{ <span>@item.HorAudio</span> }</td>
                    <td>@if (item.CodDepto == "Totat")
                               { <span>@item.QtdVCR %</span> }
                               else
                               { <span>@item.HorVCR</span> }
                    </td>
                    <td>@if (item.CodDepto == "Totat")
                               { <span>@item.QtdDVD %</span> }
                               else
                               { <span>@item.HorDVD</span> }
                    </td>
                    <td>@if (item.CodDepto == "Totat")
                               { <span>@item.QtdIAC %</span> }
                               else
                               { <span>@item.HorIAC</span> }
                    </td>
                    <td>@if (item.CodDepto == "Totat")
                                     { <span>@item.QtdIMC %</span> }
                                     else
                                     { <span>@item.HorIMC</span> }
                    </td>
                    <td>@if (item.CodDepto == "Totat")
                                       { <span>@item.QtdTotal %</span> }
                                       else
                                       { <span>@item.HorTotal</span> }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<br />
<br />

    <table class="table-semp smallrow" id="tblDados2">
        <thead>
            <tr>
                <th>Evolução</th>
                <th>TOTAL HORAS HOMENS PARADAS</th>
                <th>NÚMERO HORAS DISPONÍVEIS</th>
                <th>% HORAS HOMENS PARADAS</th>            
            </tr>
        </thead>
        <tbody>
            @foreach (var item in listaDetalhes)
            {
                <tr>
                    <td>
                        @{
                            var mes = item.MesAno.Split('/');
                            var descricao = RAST.BO.PM.ParadaDeLinha.GetDescricaoMes(mes[0]) + "/" + mes[1];
                        }

                        @descricao
                    </td>
                    <td>
                        @item.HorParada
                    </td>
                    <td>
                        @item.HorTotal
                    </td>
                    <td>
                        @{
                            var calculo = (item.QtdParada.Value / item.QtdTotal.Value) * 100;
                        }

                        @Math.Round(calculo, 2) %
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div style="float: right;">
    <b>Data impressão: @dataImpressao</b>
</div>
</div>

<br />
<br />

<br />
<br />

    
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblDados tbody tr').hover(function () {
            $(this).addClass('highlight');
        }, function () {
            $(this).removeClass('highlight');
        });
    });
</script>

