﻿@model IEnumerable<SEMP.Model.DTO.ProdParadaDTO>
    
    
@{
    var dataImpressao = DateTime.Now.ToString();
}

<style>
    .highlight{
        cursor: pointer;
    }

    .highlight td{

        background-color: #e6e6fa;
    }

    /*#cabecalho {
        margin-bottom: 10px;
        border: solid 2px #000000;
        height: 30px;
        font-weight: bold;
        
    }*/

</style>

<style type="text/css" media="print">
	.cabecalho_pp {
		display: block;
		margin-bottom: 10px;
        border: solid 1px;
        height: 30px;
        font-weight: bold;
	}

    #tblDados thead tr th{
        border: solid 1px;
        height: 40px;
    }

    #tblDados tbody tr td{
        border: solid 1px;
       
    }

    #divCabecalhoContent {
        margin-top: 5px; margin-left: 5px; margin-right: 5px;
    }
</style>

<div class="cabecalho_pp" id="cabecalho">
    <div id="divCabecalhoContent">
        <span><b>SEMP TOSHIBA</b></span>
        <span style="float: right" id="Data"><b>RELATÓRIO DE PARADAS DE LINHA - DIÁRIO - DE @ViewBag.Periodo</b></span>   
    </div>
</div>
<table class="table-semp smallrow" id="tblDados">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.NumParada)</th>
            <th>@Html.DisplayNameFor(model => model.CodModelo)</th>
            <th>@Html.DisplayNameFor(model => model.CodLinha)</th>
            <th>Item</th>
            <th style="width: 78px;">Período</th>
            <th>Deptos</th>
            <th>PCS/APS</th>
            <th>Falta</th>
            <th>Motivo</th>
        </tr>
    </thead>
    <tbody>
        @{
            int contador = 0;
        }
        @foreach (var item1 in Model.GroupBy(a => a.Familia).Select(s => new { Familia = s.Key }).ToList())
        {
            contador++;
            <tr style="background-color: white;">
                <td colspan="10">
                    <b>PRODUÇÃO - @item1.Familia</b>
                </td>
            </tr>
            foreach (var item in Model.Where(w => w.Familia == item1.Familia).OrderBy(o => o.DatParada).ToList())
            {

                <tr style="background-color: white;">
                    <td>@Html.DisplayFor(modelItem => item.NumParada)</td>
                    <td>@Html.DisplayFor(modelItem => item.CodModelo) @Html.DisplayFor(modelItem => item.DesModelo)</td>
                    <td>@Html.DisplayFor(modelItem => item.CodLinha)</td>
                    <td>@Html.DisplayFor(modelItem => item.DesParada)</td>
                    
                    <td>@Html.DisplayFor(modelItem => item.HorInicio) - @Html.DisplayFor(modelItem => item.HorFim)</td>
                    <td>@Html.DisplayFor(modelItem => item.Deptos)</td>
                    <td>@Html.DisplayFor(modelItem => item.QtdItem)</td>
                    <td>@Html.DisplayFor(modelItem => item.QtdFalta)</td>
                    <td>@Html.DisplayFor(modelItem => item.CodParada) - @if (string.IsNullOrWhiteSpace(item.DesCausa))
                                          {
                                              <span>Pendente</span>
                                          }
                                          else
                                          {
                                              <span>@item.DesCausa</span>
                                          }</td>
                </tr>
            }
            <tr style="background-color: white;">
                <td colspan="12" style="height: 0px;"><hr/></td>
            </tr>
        }
    </tbody>
</table>
<div style="float: right;">
    <b>Data impressão: @dataImpressao</b>
</div>

<br/><br/>
    
<script type="text/javascript">
    $(document).ready(function () {
        $('#tblDados tbody tr').hover(function () {
            $(this).addClass('highlight');
        }, function () {
            $(this).removeClass('highlight');
        });
    });
</script>