﻿@model IEnumerable<SEMP.Model.DTO.ProdParadaDTO>
@{
    var dataImpressao = DateTime.Now.ToString();
} 
<style>
    .highlight{
        cursor: pointer;
    }

    .highlight td{

        background-color: #e6e6fa;
    }

</style>

<style type="text/css" media="print">
	.cabecalho_pp {
		display: block;
		margin-bottom: 10px;
        /*border: solid 1px;
        height: 30px;*/
        font-weight: bold;
	}

    #tblDados thead tr th{
        border: solid 1px;
        height: 40px;
    }

    #tblDados tbody tr td{
        border: solid 1px;
       
    }

    #divCabecalhoContent {
        margin-top: 5px; margin-left: 5px; margin-right: 5px;
    }
</style>

<div class="cabecalho_pp" id="cabecalho">
    <div id="divCabecalhoContent">
        <span><b>SEMP TOSHIBA AMAZONAS</b></span>
        <span style="float: right" id="Data"><b>RESUMO MENSAL - MÊS : @ViewBag.Periodo</b></span>   
    </div>
</div>
<table class="table-semp smallrow" id="tblDados">
    <thead>
        <tr>
            <th>Nº</th>
            <th>Modelo</th>
            <th>Linha</th>
            <th>Data</th>
            <th style="width: 80px;">Período</th>
            <th>Func.</th>
            <th>N.E</th>
            <th>Descrição do Motivo</th>
            <th>Depto Resp.</th>
            <th>Aps Perda</th>
            <th>Total Horas</th>
            <th>Motivo da Paradas</th>
        </tr>
    </thead>
    <tbody>
        @{
            int contador = 0;
            double totalHoras = 0;
        }

        @foreach (var item1 in Model.GroupBy(a => a.Familia).Select(s => new { Familia = s.Key }).ToList())
        {
            contador++;
            totalHoras = 0;
            <tr style="background-color: #ffffff;">
                <td style="border-right-color: transparent;"></td>
                <td colspan="11">
                    <b>@contador - PRODUÇÃO - @item1.Familia</b>
                </td>
            </tr>
            foreach (var item in Model.Where(w => w.Familia == item1.Familia).OrderBy(o => o.DatParada).ToList())
            {
                totalHoras += item.TotalHoras;
                <tr style="background-color: #ffffff;">
                    <td>@item.NumParada</td>
                    <td>@item.CodModelo - @item.DesModelo</td>
                    <td>@item.CodLinha</td>
                    <td>@item.DatParada.ToShortDateString()</td>
                    <td>@item.HorInicio - @item.HorFim</td>
                    <td>@item.NumFuncionarios</td>
                    <td>@item.CodItem</td>
                    <td>@item.DesParada</td>
                    <td>@item.Deptos</td>
                    <td>@item.QtdNaoProduzida</td>
                    <td>@Math.Round(item.TotalHoras, 2)</td>
                    <td>@if (string.IsNullOrWhiteSpace(item.DesCausa))
                                          {
                                              <span>Pendente</span>
                                          }
                                          else
                                          {
                                              <span>@item.DesCausa</span>
                                          }</td>
                </tr>
            }
            <tr style="background-color: white;">
                <td colspan="10" style="border-right-width: 0px;">
                    <b>Total de Horas</b>
                </td>
                <td style="border-left-width: 0px;">@Math.Round(totalHoras, 2) </td>
            </tr>
            <tr style="background-color: white;">
                <td colspan="12" style="height: 0px;"><hr/></td>
            </tr>
        }
    </tbody>
</table>
<div style="float: right;">
    <b>Data impressão: @dataImpressao</b>
</div>

<br/><br/>
    
<script type="text/javascript">
    $(document).ready(function() {
        $('#tblDados tbody tr').hover(function () {
            $(this).addClass('highlight');
        }, function () {
            $(this).removeClass('highlight');
        });
    });
</script>