﻿@{
    ViewBag.Title = "Resumo Mensal";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Outros";
    ViewBag.Rotina = "Resumo Mensal";

	var datInicio = Request["DatInicio"];
	var datFim = Request["DatFim"];

    if (String.IsNullOrEmpty(datInicio)) { datInicio = DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).ToString("MM/yyyy"); }
	if (String.IsNullOrEmpty(datFim)) { datFim = DateTime.Now.ToString("dd/MM/yyyy"); }
}

@Scripts.Render("~/bundles/maskedinput")
@Scripts.Render("~/bundles/excelexport")
@Scripts.Render("~/bundles/datatable")
@Styles.Render("~/Content/datatable")

<style type="text/css">
    label {
        width: 40px;
        text-align: right;
    }

    .input-group {
        width: 80%;
    }

    .ui-datepicker-calendar
	{
		display: none;
	}
	.ui-datepicker
	{
		width: 200px !important;
	}
</style>

<style type="text/css" media="print">
	#filtro {
		display: none;
	}

	h3 {
		text-align: center;
		margin-top: -20px;
	}

</style>

<h3>@ViewBag.Title</h3>

<div class="form-group" id="filtro">

	<div class="row">
	    <div class="col-lg-3">
	        <label>Data&#58;</label>
	        <input type="text" name="DatInicio" id="DatInicio" value="@datInicio" class="monthcalendar" style="width: 85px;"/>
	        @*&nbsp;a&#58;
			<input type="text" name="DatFim" id="DatFim" value="@datFim" class="calendar"/>*@
	    </div>
        
        <div class="col-lg-3">
			<label style="float: left; margin-top: 5px;">Fáb.:</label>
			<div class="input-group">
				<input type="text" class="form-control" name="pCodFab" id="pCodFab" value="@SEMP.Model.Constantes.CodFab02" style="width: 60px;" />
				<input type="text" class="input-group-addon" name="pDesFab" id="pDesFab" value="STA" style="width: 70%;" disabled="disabled" />
			</div>
		</div>
		
		<div class="col-lg-3">
			<label style="float: left; margin-top: 5px;">Depto: &nbsp;</label>
			<div class="input-group">
				<input type="text" name="pCodDepto" id="pCodDepto" class="form-control text-uppercase" style="width: 60px;" />
				<input type="text" name="pDesDepto" id="pDesDepto" disabled="disabled" class="form-control" style="width: 70%;" />
			</div>
		</div>
	</div>

	<div class="row">
        <div class="col-lg-3">
			<label style="float: left; margin-top: 5px;">Linha: &nbsp;</label>
			<div class="input-group">
				<input type="text" name="pCodLinha" id="pCodLinha" class="form-control text-uppercase" style="width: 60px;" />
				<input type="text" name="pDesLinha" id="pDesLinha" disabled="disabled" class="form-control" style="width: 70%;" />
			</div>
		</div>

	    <div class="col-lg-3">
	        <label style="float: left; margin-top: 5px;">Modelo: &nbsp;</label>
	        <div class="input-group">
	            <input type="text" name="pCodModelo" id="pCodModelo" class="form-control text-uppercase" style="width: 60px;" />
	            <input type="text" name="pDesModelo" id="pDesModelo" disabled="disabled" class="form-control" style="width: 70%;" />
	        </div>
	    </div>
        
        <div class="col-lg-3">
		    <div style="margin-top: 5px;">
			    <input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
			    <input type="button" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" onclick="btnEnviar_Click();" />
		    </div>
	    </div>
	</div>

</div>

<br />

<div id="dialog-edit" style="display: none; top: 10px;"></div>
<div id="conteudo"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>


<script type="text/javascript">


    var url = "";
    $(document).ready(function () {

        //$("#DatFim").datepicker({
        //    showButtonPanel: true,
        //    numberOfMonths: 2,
        //    onClose: function (selectedDate) {
        //        $("#DatInicio").datepicker("option", "maxDate", selectedDate);
        //    }
        //});

        $("#DatInicio").datepicker({
            autoSize: true,
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'mm/yy',
            onClose: function () {
                var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
            }
        });

        $("#pCodFab").blur(function () {
            if ($(this).val() == "") return;

            $(this).val(padLeft($(this).val(), 2));

            $("#pDesFab").val("");
            $.ajax({
                type: "GET",
                url: "/Util/ObterDescricaoFabrica/",
                data: { CodFab: $("#pCodFab").val() },
                success: function (data) {
                    $("#pDesFab").val(data);
                }
            });
        });

        $("#pCodLinha").mask("999.99-9");
        $("#pCodLinha").blur(function () {
            $("#pDesLinha").val("");
            $.ajax({
                type: "GET",
                url: "/Util/ObterDescricaoLinha/",
                data: { CodLinha: $("#pCodLinha").val() },
                success: function (data) {
                    $("#pDesLinha").val(data);
                }
            });
        });

        $("#pCodModelo").blur(function () {
            $("#pDesModelo").val("");
            $.ajax({
                type: "GET",
                url: "/Util/ObterDescricaoItem/",
                data: { CodItem: $("#pCodModelo").val() },
                success: function (data) {
                    $("#pDesModelo").val(data);
                }
            });
        });

        $("#pCodDepto").blur(function () {
            var valor = $(this).val();
            if (valor == "") {
                $("#pDesDepto").val("");
                return;
            }

            if ($("#pCodFab").val() == "") {
                alert("Informe a fábrica");
                $("#pCodDepto").val("");
                $("#pCodFab").focus();
                return;
            }

            valor = valor.toUpperCase();
            if (valor == "DCOM") valor = "SUPM";
            $(this).val(valor);

            $("#pDesDepto").val("");
            $.ajax({
                type: "GET",
                url: "/Util/ObterDesDepto/",
                data: { CodDepto: valor, CodFab: $("#pCodFab").val() },
                success: function (data) {
                    if (data != "") {
                        $("#pDesDepto").val(data);
                    } else {
                        $("#pDesDepto").val("Grupo " + valor);
                    }
                }
            });
        });

        $("#btnExportar").click(function () {

            $("#tblDados").btechco_excelexport({
                containerid: "tblDados",
                datatype: $datatype.MVC
            });
        });

    });

    function btnEnviar_Click() {

        $("#conteudo").html($('#carregando').html());

        //var tipo = $("input[name=TipParada]:checked").val();
        //var status = $("input[name=status]:checked").val();

        $.ajax({
            type: "GET",
            url: "/Outros/Relatorio/ListaRelatorioOrigemPlano/",
            data: {
                datInicio: $("#DatInicio").val(),
                datFim: $("#DatInicio").val(),
                linha: $("#pCodLinha").val(),
                codFab: $("#pCodFab").val(),
                codModelo: $("#pCodModelo").val(),
                codDepto: $("#pCodDepto").val()
            },
            success: function (data) {

                $("#conteudo").html(data);

                $('a').tooltip();
            },
            error: function (data) {

                $("#conteudo").html(data);
            }
        });
    }

    @{
		if (!String.IsNullOrEmpty(ViewBag.mensagem))
		{
			WriteLiteral("alert('" + ViewBag.mensagem + "');");
		}
	}

</script>

