﻿@Scripts.Render("~/bundles/highcharts")
@Scripts.Render("~/bundles/combogrid")
@Styles.Render("~/Content/combogrid")

@{
	ViewBag.Title = "Principais Defeitos";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Principais defeitos";

	var datInicio = Request["DatInicio"];
	var datFim = Request["DatFim"];

	if (String.IsNullOrEmpty(datInicio)) { datInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(datFim)) { datFim = DateTime.Now.ToString("dd/MM/yyyy"); }

}
<link href="/Content/css/select2.min.css" rel="stylesheet" />

<h3>@ViewBag.Title</h3>

<div class="boxFiltros form-inline">

	<div class="row" style="margin-bottom: 10px;">
			<div class="col-md-2" style="width: 200px;">
				<label>Data inicial&#58;</label>
				<input type="text" name="DatInicio" id="DatInicio" value="@datInicio" class="form-control input-sm" style="width: 85px;" />
			</div>
			<div class="col-md-2" style="width: 180px;">
				<label>Data final&#58;</label>
				<input type="text" name="DatFim" id="DatFim" value="@datFim" class="form-control input-sm" style="width: 85px;" />
			</div>
			<div class="col-md-2">
				<label>Fase: </label>
				<select name="Fase" id="Fase" class="form-control">
					<option value="FEC">MF</option>
					<option value="IMC">IMC</option>
					<option value="IAC">IAC</option>

				</select>
			</div>
			<div class="col-md-4">
				<label>Família: </label>
				<select name="Familia" id="Familia" class="form-control">
					<option value="" selected="selected">SELECIONE A FAMILIA</option>
					<option value="TV LCD">TV LCD</option>
					<option value="AUDIO">AUDIO</option>
					<option value="DVD">DVD</option>
					<option value="PA STI">INFOR</option>
				</select>
			</div>
	</div>
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-3">
			<label>Modelo&nbsp;:</label>

			<input type="hidden" name="pCodModelo" id="pCodModelo" value="" class="form-control hidden" />
			<select id="Descricao" name="Descricao"></select>
		</div>
		<div class="col-md-2">
			<label>Tipo:</label>
			<select name="Tipo" id="Tipo" class="form-control">
				<option value="M">Material</option>
				<option value="O">Mão-de-obra</option>
				<option value="P">Máquina</option>
			</select>
		</div>
		<div class="col-md-1 col-md-offset-2"><input type="submit" name="btnEnviar" value=" Gerar " class="btn btn-danger" onclick="btnEnviar_Click();" /></div>
	</div>
	<br />
</div>

<div id="conteudo">
</div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<script src="~/Scripts/select2.min.js"></script>
<script type="text/javascript">

	$(function () {
		$("#DatFim").datepicker();
		$("#DatInicio").datepicker();

		$('#Descricao').select2({
			ajax: {
				url: function (params) {
					return '/Coleta/Util/ObterModelosSelect/';
				},
				data: function (params) {
					var query = {
						search: params.term,
						page: params.page || 1
					}

					// Query parameters will be ?search=[term]&page=[page]
					return query;
				},
				dataType: 'json'
			},
			placeholder: 'Pesquise o Produto',
			theme: "classic",
			allowClear: true
		});

		$('#Descricao').on("change", function (e) { $("#Modelo").val($("#Descricao").val()); });


	});

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			url: "/Outros/PrincipaisDefeitos/Lista/",
			data: {
				Modelo: $("#Modelo").val(),
				DatInicio: $("#DatInicio").val(),
				DatFim: $("#DatFim").val(),
				Fase: $("#Fase").val(),
				Tipo: $("#Tipo").val(),
				Familia: $("#Familia").val()
			},
			success: function (data) {
				$("#conteudo").html(data);
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	$("#Modelo").blur(function () {
		$.ajax({
			type: "GET",
			url: "/Util/ObterDescricaoItem/",
			data: { CodItem: $("#Modelo").val() },

			success: function (data) {
				$("#Descricao").val(data);
			}
		});
	});

	function alterafundo(id) {
		$("#" + id).css('background-Color', 'rgba(255, 255, 0, 0.5)');
	}

	function voltafundo(id) {
		$("#" + id).css('background-Color', '');
	}

	@{
		if (!String.IsNullOrEmpty(ViewBag.mensagem))
		{
			WriteLiteral("alert('" + ViewBag.mensagem + "');");
		}
	}

</script>
