﻿@using SEMP.Model.VO.Rastreabilidade.Relatorios
@model IEnumerable<SEMP.Model.VO.CNQ.PrincipaisDefeitos>

@{
	var Tipo = "";
	var Familia = "";
	if (Request.QueryString.HasKeys())
	{
		if (Request["Tipo"].Equals("M"))
		{
			Tipo = "MATERIAL";
		}
		else if (Request["Tipo"].Equals("O"))
		{
			Tipo = "MÃO-DE-OBRA";
		}
		else
		{
			Tipo = "MÁQUINA";
		}

		if (Request["Familia"] != "")
		{
			Familia = Request["Familia"];
		}
		else
		{
			Familia = "TODOS OS PRODUTOS";
		}
	}

}

<table class="table-semp blue">
	<caption style="font-size: 14px;">PRINCIPAIS DEFEITOS - @Familia<br/>@Tipo</caption>
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.CodModelo)</th>
			<th>@Html.DisplayNameFor(model => model.DesModelo)</th>
			<th>@Html.DisplayNameFor(model => model.Posicao)</th>
			<th>@Html.DisplayNameFor(model => model.CodCausa)</th>
			<th>@Html.DisplayNameFor(model => model.DesDefeito)</th>
			<th>@Html.DisplayNameFor(model => model.DesCausa)</th>
			<th>@Html.DisplayNameFor(model => model.Qtde)</th>
			<th>@Html.DisplayNameFor(model => model.DesOrigem)</th>
			<th>@Html.DisplayNameFor(model => model.QtdProducao)</th>
			<th>@Html.DisplayNameFor(model => model.Indice)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td style="text-align: center;">@Html.DisplayFor(modelItem => item.CodModelo)</td>
				<td>@Html.DisplayFor(modelItem => item.DesModelo)</td>
				<td style="text-align: center;">@Html.DisplayFor(modelItem => item.Posicao)</td>
				<td style="text-align: center;">@Html.DisplayFor(modelItem => item.CodCausa)</td>
				<td style="text-align: center;">@Html.DisplayFor(modelItem => item.DesDefeito)</td>
				<td style="text-align: center;">@Html.DisplayFor(modelItem => item.DesCausa)</td>
				<td style="text-align: center;">@Html.DisplayFor(modelItem => item.Qtde)</td>
				<td style="text-align: center;">@Html.DisplayFor(modelItem => item.DesOrigem)</td>
				<td style="text-align: center;">@Html.DisplayFor(modelItem => item.QtdProducao)</td>
				<td style="text-align: center;">@Html.DisplayFor(modelItem => item.Indice)</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr style="background-color: gray; color: white; font-weight: bold;">
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style="text-align: right;">Total</td>
			<td style="text-align: center; font-weight: bold; font-size: 12px;">@Model.Sum(x => x.Qtde)</td>
			<td></td>
			<td></td>
			<td style="text-align: center; font-weight: bold; font-size: 12px;">@Model.Sum(x => x.Indice).ToString("0.00")</td>
		</tr>
	</tfoot>
</table>
<br/>
<div id="grafico" style="border: 1px solid black;">
	@ViewBag.grafDefeito
</div>

<br/><br/>
@{
	var resumo = ((List<ResumoDefeito>) ViewBag.resumoCNQ);
	if (resumo != null)
	{

		var producao = ViewBag.producao ?? 0;
		var qtdDefeito = resumo != null ? resumo.Sum(x => x.QtdDefeito) : 0;
		var qtdIndice = producao > 0 ? ((double)qtdDefeito / (double)producao)*100 : 0.0;

		var MO = resumo != null ? resumo.FirstOrDefault(x => x.CodDefeito.Equals("O")) : null;
		var qtdMO = MO != null ? MO.QtdDefeito : 0;
		var indMO = producao > 0 ? (qtdMO/(double)producao) * 100 : 0;

		var MT = resumo.FirstOrDefault(x => x.CodDefeito.Equals("M"));
		var qtdMT = MT != null ? MT.QtdDefeito : 0;
		var indMT = producao > 0 ? (qtdMT / (double)producao) * 100 : 0;

		var MAQ = resumo.FirstOrDefault(x => x.CodDefeito.Equals("P"));
		var qtdMAQ = MAQ != null ? MAQ.QtdDefeito : 0;
		var indMAQ = producao > 0 ? (qtdMAQ / (double)producao) * 100 : 0;

		<div id="resumoDefeitos" style="width: 250px; border: solid 1px black;">
			<table>
				<caption style="text-align: center; font-weight: bold; border-bottom: solid 1px black; padding: 3px;">Quadro Geral</caption>
				<tr>
					<td style="width: 70px;">PROD. =</td>
					<td style="text-align: center; width: 70px;">@ViewBag.producao</td>
					<td style="width: 70px;">MO = </td>
					<td style="text-align: center; width: 70px;">@qtdMO</td>
					<td>@indMO.ToString("0.00")%</td>
				</tr>
				<tr>
					<td>DEFEITO = </td>
					<td style="text-align: center;">@qtdDefeito</td>
					<td>MT = </td>
					<td style="text-align: center; width: 70px;">@qtdMT</td>
					<td>@indMT.ToString("0.00")%</td>
				</tr>
				<tr>
					<td>ÍNDICE = </td>
					<td style="text-align: center;">@qtdIndice.ToString("0.00")%</td>
					<td>MÁQ = </td>
					<td style="text-align: center; width: 70px;">@qtdMAQ</td>
					<td>@indMAQ.ToString("0.00")%</td>
				</tr>
			</table>
		</div>
	}
}

<br/><br/>