﻿@model IEnumerable<SEMP.Model.VO.Materiais.PainelMateriaisDetalhes>

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout_Simple.cshtml";
}

<link href="~/Content/painelMateriais.css" rel="stylesheet" />

<br />
<div class="panel panel-primary">
	<div class="panel-heading" style="text-align:center; font-size: 2.0em;">Itens de Pedido de Materiais</div>
	<div class="panel-body">
		@if (Model.Count() > 0)
		{
		<table class="table table-striped table-hover table-bordered table-estilo" style="font-size: 1.0em;">
			<thead>
				<tr>
					<th>Item</th>
					<th>Descrição</th>
					<th>Qtd Nec.</th>
					<th>Endereço</th>
					<th>GRIM</th>
					<th>Qtd Baixar</th>
					<th>Qtd End</th>
				</tr>
			</thead>
			<tbody>
				@{
					string sHtmlx = string.Empty;
					string sEndAux = string.Empty;
					string codItemOld = string.Empty;

					foreach (var item in Model)
					{
						sHtmlx += "<tr class=\"CorGridDetalhes\">";
						if (codItemOld == item.CodItem)
						{
							sHtmlx += "<td> </td>";
							sHtmlx += "<td> </td>";
							sHtmlx += "<td> </td>";
						}
						else
						{
							sHtmlx += "<td>" + Html.DisplayFor(modelItem => item.CodItem) + "</td>";
							sHtmlx += "<td>" + Html.DisplayFor(modelItem => item.DesItem) + "</td>";
							sHtmlx += "<td>" + String.Format("{0:0}", item.QtdNecessaria) + "</td>";
						}
						sEndAux = item.CodGalpao + "-" + item.CodRua + "-" + item.CodBloco + "-" + item.CodNivel + "-" + item.CodApto;
						sHtmlx += "<td>" + Html.DisplayFor(modelItem => sEndAux) + "</td>";
						sHtmlx += "<td>" + Html.DisplayFor(modelItem => item.Documento) + "</td>";
						sHtmlx += "<td>" + String.Format("{0:0}", item.QtdBaixar) + "</td>";
						sHtmlx += "<td>" + String.Format("{0:0}", item.QtdSaldoEndereco) + "</td>";
						sHtmlx += "</tr>";

						codItemOld = item.CodItem;
					}
				}
				@Html.Raw(@sHtmlx)
			</tbody>
		</table>
					}
	</div>
	<a href="javascript:window.history.go(-1)" class="btn btn-primary btn-sm">Voltar</a>
</div>
