﻿@model IEnumerable<SEMP.Model.VO.Materiais.PainelMateriais>
@{
    ViewBag.Title = "Painel de Pedido de Material";
    Layout = "~/Views/Shared/_Layout_Simple.cshtml";
}

<link href="~/Content/painelMateriais.css" rel="stylesheet" />

<br />
<meta http-equiv="refresh" content="60">
<div class="panel panel-primary">
	<div class="panel-heading" style="text-align:center; font-size: 2.0em;">Pedido de Materiais</div>
	<div class="panel-body">
		@if (Model.Count() > 0)
		{

		<table class="table table-striped table-hover table-bordered table-estilo" style="font-size: 1.2em;">
			<thead>
				<tr>
					<th>Ped.</th>
					<th>AP</th>
					<th>Modelo</th>
					<th>Linha</th>
					<th>Data</th>
					<th>Espera</th>
				</tr>
			</thead>
			<tbody>
				@{
					String sHtmlx = String.Empty;
					foreach (var item in Model)
					{
						var data = DateTime.Now;
						var datSep = item.DatSeparacao;
						var subtracao = data - datSep;

						sHtmlx += "<tr class=" + (item.Situacao.Equals("Em Pagamento") ? "CorEmPagamento" : "CorAguardandoPgt") + " onclick=\"Detalhar('" + item.CodSeparacao + "', '" + item.NumAP + "', '" + item.CodFab + "')\">";
						sHtmlx += "<td>" + Html.DisplayFor(modelItem => item.CodSeparacao) + "</td>";
						sHtmlx += "<td>" + Html.DisplayFor(modelItem => item.NumAP) + "</td>";
						sHtmlx += "<td>" + Html.DisplayFor(modelItem => item.Modelo) + "</td>";
						sHtmlx += "<td>" + Html.DisplayFor(modelItem => item.CodLinha) + "</td>";
						sHtmlx += "<td>" + String.Format("{0:dd/MM/yy}", item.DatSeparacao) + "</td>";
						sHtmlx += "<td>" + (subtracao.TotalMinutes > 30 ? "<FONT COLOR=FF0000>" : "") + (subtracao.TotalDays >= 1 ? Math.Round(subtracao.TotalDays, 0) + " Dia(s)" : String.Format("{0:HH:mm}", DateTime.Parse(subtracao.ToString()))) + "</td>";
					}
				}
				@Html.Raw(@sHtmlx)
			</tbody>
		</table>
					}
		<div class="legend">
			<canvas id="canvasPag" width="30" height="20"></canvas><text class="CorEmPagamentoL">&nbsp Em Pagamento &nbsp</text>
			<canvas id="canvasAgu" width="30" height="20"></canvas><text class="CorAguardandoPgtL">&nbsp Aguardando Pagamento</text>
		</div>
	</div>
</div>
<br />
<br />
<script>
    function Detalhar(numero, AP, Fab) {
        window.location.href = "/Materiais/PainelMateriais/Detalhes/?Pedido=" + numero + "&AP=" + AP + "&Fab=" + Fab;
    }

    window.onload = draw;

    // This function is called on page load.
    function draw() {

        // Get the canvas element.
        var canvas = document.getElementById("canvasPag");
        var canvas2 = document.getElementById("canvasAgu");

        // Specify a 2d drawing context.
        var context = canvas.getContext("2d");
        var context2 = canvas2.getContext("2d");

        // Set the color to the RGB equivalent of gold.
        context.fillStyle = '#3366FF';
        context2.fillStyle = "Black";

        // Draw the rectangle.
        context.fillRect(0, 0, 55, 50);
        context2.fillRect(0, 0, 55, 50);
    }


</script>
