﻿@using RAST.BO.Relatorios
@using SEMP.Model.DTO
@using SEMP.Model.VO.Rastreabilidade.Relatorios
@{
	ViewBag.Title = "Auditor de séries - Produtos sem leituras";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Auditor de série";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var DatInicio = Request["DatInicio"];
	var DatFim = Request["DatFim"];
	var CodLinha = Request["CodLinha"];
	var Fabrica = Request["fabrica"];
	var CodModelo = Request["CodModelo"];
	var NumSerie = Request["NumSerie"];
	var Mostrar = Request["MostrarTudo"];

	Mostrar = !string.IsNullOrEmpty(Mostrar) ? "checked" : "";

	if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(CodLinha)) { CodLinha = "36"; }
	if (String.IsNullOrEmpty(Fabrica)) { Fabrica = "FEC"; }


	List<CBPostoDTO> postos = ViewBag.postos;
	List<PassagemSerie> passagens = ViewBag.passagem;
	var series = ViewBag.nada;
	if (passagens != null)
	{
		series = passagens.GroupBy(x => new { x.CodModelo, x.DesModelo, x.NumSerie }).
			Select(x => new { x.Key.CodModelo, x.Key.DesModelo, x.Key.NumSerie }).
			ToList();
	}

}
@Scripts.Render("~/bundles/excelexport")

<h3>@ViewBag.Title</h3>

<form name="frmRelatorio" action="" method="post">
	<div class="col-xs-20 col-v">
		<div class="col-xs-9">
			<label>Data inicial&#58;</label>
			<input type="text" name="DatInicio" id="DatInicio" value="@DatInicio" class="calendar"/>
		</div>
		<div class="col-xs-9">
			<label>Data final&#58;</label>
			<input type="text" name="DatFim" id="DatFim" value="@DatFim" class="calendar"/>
		</div>
		<div class="col-xs-8">
			<label>F&aacute;brica&#58;</label>
			<select id="cmbFabrica" name="fabrica" class="fabrica">
				<option value="IAC" @{if (Fabrica == "IAC") { WriteLiteral("selected"); }}>IAC</option>
				<option value="IMC" @{if (Fabrica == "IMC") { WriteLiteral("selected"); }}>IMC</option>
				<option value="FEC" @{if (Fabrica == "FEC") { WriteLiteral("selected"); }}>FEC</option>
			</select>

		</div>
		<div class="col-xs-10 right">
			<label>Linha&#58;</label>
			<select id="CodLinha" name="CodLinha" class="linha">
			</select>
		</div>
	</div>
	<div class="col-xs-20 col-v">
		<div class="col-xs-8">
			<label>Modelo&#58;</label>
			<input type="text" name="CodModelo" id="txtCodModelo"  value="@CodModelo" class="modelo"/>
		</div>
		<div class="col-xs-12">
			<label>N&ordm; de S&eacute;rie&#58;</label>
			<input type="text" name="NumSerie" id="txtNumSerie" value="@NumSerie" class="serie"/>
		</div>
		<div class="col-xs-6">
			<label>Mostrar todos&#58;</label>
			<input type="checkbox" name="MostrarTudo" id="chkMostrarTudo" @Mostrar class="serie"/>
		</div>
		<div class="col-xs-10 right">
			<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
			<input type="submit" name="btnEnviar" value="Consultar" onclick="LimpaGrid('#tblDados');" class="bttn bttn-sm bttn-red" />
		</div>
	</div>
</form>

<div style="float: right; color: red; font-size: 10px;">@ViewBag.erro</div>
<div>
	Registros encontrados: @{
		if (passagens != null)
		{
			Write(passagens.GroupBy(g => g.NumSerie).Count());
		}
	}
</div>
<table class="table-semp" id="tblDados">
	<thead>
		<tr>
			<th>Modelo</th>
			<th>Número de Série</th>
			@{	
				if (postos != null)
				{
					foreach (var posto in postos)
					{
						<th>@posto.DesPosto</th>
					}
				}
			}
			<th>Qtd.Desas.</th>
		</tr>
	</thead>
	<tbody>
		@{

			if (postos != null && postos.Count > 0 && passagens != null)
			{
				foreach (var serie in series)
				{
					var qtdDes = AuditorSerie.ObterDefeitosDesassociacao(serie.NumSerie);

					<tr>
						<td>@serie.CodModelo - @serie.DesModelo</td>
						<td>@serie.NumSerie</td>

						@{
							foreach (var posto in postos)
							{
								var passagemposto = passagens.FirstOrDefault(x => x.NumPosto == posto.NumPosto && x.NumSerie == serie.NumSerie);
								if (passagemposto != null)
								{
									<td>@passagemposto.DatLeitura</td>
								}
								else
								{
									<td>&nbsp;</td>
								}
							}
						}
						<td>@qtdDes</td>
					</tr>
				}
			}

		}
	</tbody>
</table>
<br />
<br />
<script>
	$(document).ready(function () {
		$("#cmbFabrica").change(CarregarLinhas);

		$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados"
				, datatype: $datatype.MVC
			});
		});
	});

	$(function () {
		$("#DatFim").datepicker();
		$("#DatInicio").datepicker();

		CarregarLinhas();
	});

	function CarregarLinhas() {
		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: $("#cmbFabrica").val() },
			dataType: "json",
			success: function (json) {
				var options = "";
				var linha = "";
				var selected = "";
				options += '<option> SELECIONE A LINHA </option>';
				$.each(json, function (key, Linhas) {
					linha = @CodLinha;
					if (linha == Linhas.CodLinha) { selected = "selected"; } else { selected = ""; }
					options += '<option value="' + Linhas.CodLinha + '" ' + selected +  '>' + Linhas.DesLinha + '</option>';
				});
				$("#CodLinha").html(options);
			}
		});
	}

</script>
