﻿@using RAST.BO.Relatorios
@using SEMP.Model.DTO
@using SEMP.Model.VO.Rastreabilidade.Relatorios
@{
	ViewBag.Title = "Auditor de séries - Produtos sem leituras";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Auditor de série";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var DatInicio = Request["DatInicio"];
	var DatFim = Request["DatFim"];
	var CodLinha = Request["CodLinha"];
	var Fabrica = Request["fabrica"];
	var CodModelo = Request["CodModelo"];
	var NumSerie = Request["NumSerie"];
	var Mostrar = Request["MostrarTudo"];

	Mostrar = !string.IsNullOrEmpty(Mostrar) ? "checked" : "";

	if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(CodLinha)) { CodLinha = "36"; }
	if (String.IsNullOrEmpty(Fabrica)) { Fabrica = "FEC"; }
}

<h3>@ViewBag.Title</h3>

<form name="frmRelatorio" action="" method="post">
	<div class="col-xs-20 col-v">
		<div class="col-xs-9">
			<label>Data inicial&#58;</label>
			<input type="text" name="DatInicio" id="DatInicio" value="@DatInicio" class="calendar"/>
		</div>
		<div class="col-xs-9">
			<label>Data final&#58;</label>
			<input type="text" name="DatFim" id="DatFim" value="@DatFim" class="calendar"/>
		</div>
		<div class="col-xs-8">
			<label>F&aacute;brica&#58;</label>
			<select id="cmbFabrica" name="fabrica" class="fabrica">
				<option value="IAC" @{if (Fabrica == "IAC") { WriteLiteral("selected"); }}>IAC</option>
				<option value="IMC" @{if (Fabrica == "IMC") { WriteLiteral("selected"); }}>IMC</option>
				<option value="FEC" @{if (Fabrica == "FEC") { WriteLiteral("selected"); }}>FEC</option>
			</select>

		</div>
		<div class="col-xs-10 right">
			<label>Linha&#58;</label>
			<select id="CodLinha" name="CodLinha" class="linha">
			</select>
		</div>
	</div>
	<div class="col-xs-20 col-v">
		<div class="col-xs-8">
			<label>Modelo&#58;</label>
			<input type="text" name="CodModelo" id="txtCodModelo"  value="@CodModelo" class="modelo"/>
		</div>
		<div class="col-xs-12">
			<label>N&ordm; de S&eacute;rie&#58;</label>
			<input type="text" name="NumSerie" id="txtNumSerie" value="@NumSerie" class="serie"/>
		</div>
		<div class="col-xs-6">
			<label>Mostrar todos&#58;</label>
			<input type="checkbox" name="MostrarTudo" id="chkMostrarTudo" @Mostrar class="serie"/>
		</div>
		<div class="col-xs-5 right">
			<input type="submit" name="btnEnviar" value="Consultar" onclick="LimpaGrid('#tblDados');" class="bttn bttn-sm bttn-red" />
		</div>
	</div>
</form>

<div>
	Registros encontrados: @{
		if (ViewBag.passagem != null)
		{
			Write(((List<PassagemSerie>)ViewBag.passagem).GroupBy(g => g.NumSerie).Count());
		}
	}
</div>
<table class="table-semp" id="tblDados">
	<thead>
		<tr>
			<th>Modelo</th>
			<th>Número de Série</th>
			@{	
				if (ViewBag.postos != null)
				{
					foreach (var postos in ViewBag.postos)
					{
				<th>@postos.DesPosto</th>
					}
				}
			}
			<th>Qtd.Desas.</th>
		</tr>
	</thead>
	<tbody>
		@{ 
			if (ViewBag.postos != null && ViewBag.postos.Count > 0 && ViewBag.passagem != null)
			{
				List<CBPostoDTO> postos = ViewBag.postos;

				string numserie = "";
				int QtdLeituras = 0;

				int QtdPostos = ((List<CBPostoDTO>)ViewBag.postos).Count();

				foreach (var passagem in ViewBag.passagem)
				{

					string data = "\n<td>" + passagem.DatLeitura + "</td>";

					if (numserie != passagem.NumSerie)
					{
						string modelo = "\n<tr><td>" + passagem.CodModelo + " - " + passagem.DesModelo + "</td>\n<td>" + passagem.NumSerie + "</td>";


						if (numserie != string.Empty)
						{

							while (QtdLeituras < QtdPostos)
							{
								WriteLiteral("<td>&nbsp;</td>");
								QtdLeituras++;
							}

							string fimmodelo = "\n<td>" + AuditorSerie.ObterDefeitosDesassociacao(String.IsNullOrEmpty(numserie) ? passagem.NumSerie : numserie) + "</td></tr>\n";

							WriteLiteral(fimmodelo);
						}

						WriteLiteral(modelo);
						QtdLeituras = 0;

					}

					var postoatual = postos[QtdLeituras];

					if (passagem.NumPosto == postoatual.NumPosto)
					{
						WriteLiteral(data);
					}
					else
					{
						WriteLiteral("<td>&nbsp;</td>");
					}

					QtdLeituras++;

					numserie = passagem.NumSerie;
				}

				while (QtdLeituras < QtdPostos)
				{
					WriteLiteral("<td>&nbsp;</td>");
					QtdLeituras++;
				}

				WriteLiteral("\n<td>" + AuditorSerie.ObterDefeitosDesassociacao(numserie) + "</td></tr>");

			}

		}
	</tbody>
</table>
<br />
<br />
<script>
	$(document).ready(function () {
		$("#cmbFabrica").change(CarregarLinhas);
	});

	$(function () {
		$("#DatFim").datepicker();
		$("#DatInicio").datepicker();

		CarregarLinhas();
	});

	function CarregarLinhas() {
		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: $("#cmbFabrica").val() },
			dataType: "json",
			success: function (json) {
				var options = "";
				var linha = "";
				var selected = "";
				options += '<option> SELECIONE A LINHA </option>';
				$.each(json, function (key, Linhas) {
					linha = @CodLinha;
					if (linha == Linhas.CodLinha) { selected = "selected"; } else { selected = ""; }
					options += '<option value="' + Linhas.CodLinha + '" ' + selected +  '>' + Linhas.DesLinha + '</option>';
				});
				$("#CodLinha").html(options);
			}
		});
		}
</script>
