﻿@using RAST.BO.Relatorios
@using SEMP.Model.DTO
@using SEMP.Model.VO.Rastreabilidade.Relatorios
@{
	ViewBag.Title = "Auditor de séries - Produtos sem leituras";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Auditor de série";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var DatInicio = Request["DatInicio"];
	var DatFim = Request["DatFim"];
	var CodLinha = Request["CodLinha"];
	var Fabrica = Request["fabrica"];
	var CodModelo = Request["CodModelo"];
	var NumSerie = Request["NumSerie"];
	var Mostrar = Request["MostrarTudo"];

	Mostrar = !string.IsNullOrEmpty(Mostrar) ? "checked" : "";

	if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(CodLinha)) { CodLinha = ""; }
	if (String.IsNullOrEmpty(Fabrica)) { Fabrica = "FEC"; }

}
@Scripts.Render("~/bundles/excelexport")
@Scripts.Render("~/bundles/datatable")
@Styles.Render("~/Content/datatable")

<h3>@ViewBag.Title</h3>

<form name="frmRelatorio" action="" method="post" style="padding-left: 15px; width: 80%;">
	<div class="row">
		<div class="col-md-2">
			<label>Data iníc.&#58;</label>
			<input type="text" name="DatInicio" id="DatInicio" value="@DatInicio" class="form-control input-sm calendar" />
		</div>
		<div class="col-md-2">
			<label>Data final&#58;</label>
			<input type="text" name="DatFim" id="DatFim" value="@DatFim" class="form-control input-sm calendar" />
		</div>
		<div class="col-md-2">
			<label>Ignorar período&#58;</label>
			<input type="checkbox" name="MostrarTudo" id="chkMostrarTudo" @Mostrar class="serie"/>
		</div>
		<div class="col-md-3">
			<label>F&aacute;brica&#58;</label>
			<select id="cmbFabrica" name="fabrica" class="form-control input-sm fabrica">
				<option value="IAC" @{if (Fabrica == "IAC") { WriteLiteral("selected"); }}>IAC</option>
				<option value="IMC" @{if (Fabrica == "IMC") { WriteLiteral("selected"); }}>IMC</option>
				<option value="FEC" @{if (Fabrica == "FEC") { WriteLiteral("selected"); }}>FEC</option>
				<option value="DAT" @{if (Fabrica == "DAT") { WriteLiteral("selected"); }}>DAT</option>
			</select>

		</div>
		<div class="col-md-3">
			<label>Linha&#58;</label>
			<select id="CodLinha" name="CodLinha" class="form-control input-sm linha">
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<label>Modelo&#58;</label>
			<input type="text" name="CodModelo" id="txtCodModelo" value="@CodModelo" class="form-control input-sm modelo" />
		</div>
		<div class="col-md-4">
			<label>N&ordm; de S&eacute;rie&#58;</label>
			<input type="text" name="NumSerie" id="txtNumSerie" value="@NumSerie" class="form-control input-sm serie" />
		</div>
		<div class="col-md-3">
			<label>Mostrar leituras&#58;</label>
			<input type="checkbox" name="Leituras" id="chkLeituras" class="serie" />
		</div>
		<div class="col-md-3">
			<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
			<input type="button" name="btnEnviar" value="Consultar" onclick="Consultar();" class="bttn bttn-sm bttn-red" />
		</div>
	</div>
</form>

<!--<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-bottom: 5px;">

	<div id="areaDetalhes" class="panel panel-default">
		<div class="panel-heading" role="tab" id="titulo1" style="padding: 5px;">
			<h5 class="panel-title"><a href="#detalhes" aria-controls="detalhes" data-parent="#accordion" aria-expanded="false" data-toggle="collapse">Detalhes</a></h5>
		</div>
		<div id="detalhes" class="panel-collapse collapse" role="tabpanel" aria-labelledby="titulo1">
			<div class="panel-body">

				<table class="cell-border hover dataTable" id="tblResumo">
					<thead>
						<tr>
							<th>Modelo</th>
							<th>Projeto</th>
							<th>Menor Série</th>
							<th>Maior Série</th>
							<th>Dif. Série</th>
							<th>Total registros</th>
							<th>Diferença</th>
							<th>Incompletos</th>
						</tr>
					</thead>
					<tbody>
						<tr></tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>

</div>-->

<div id="areaTabela" class="panel panel-default">
	<div class="panel-heading" role="tab" id="titulo2" style="padding: 5px;">
		<div class="panel-title">
			<h5><a style="font-weight: bold;">Dados</a></h5>
		</div>
	</div>
	<div class="panel-body">
		<table class="cell-border hover dataTable" id="tblDados">
			<thead>
				<tr></tr>
			</thead>
			<tbody>
				<tr></tr>
			</tbody>
		</table>
	</div>
</div>

<div id="msgCarregando"></div>
<br />
<br />

<script type="text/javascript">
	var colunas = "";
	var linhas = "";
	var tabela = null;
	var tabelaResumo = null;
	var linha = "@CodLinha";

		$(document).ready(function () {
			$("#cmbFabrica").change(CarregarLinhas);

			$("#btnExportar").click(function () {

				$("#tblDados").btechco_excelexport({
					containerid: "tblDados"
					, datatype: $datatype.MVC
				});
			});

			$("#DatFim").datepicker();
			$("#DatInicio").datepicker();

			CarregarLinhas();

		});

		function IniciaTable() {

			$("#tblDados thead tr").html(colunas);
			$("#tblDados tbody").html(linhas);

			return $("#tblDados").DataTable({
				"paging": false,
				"ordering": false,
				"filter": false,
				"language": {
					"lengthMenu": "Mostrar _MENU_ registros por página",
					"zeroRecords": "Nenhum registro encontrado",
					"info": "_TOTAL_ registros encontrados",
					"infoEmpty": "Nenhum registro encontrado",
					"infoFiltered": "(filtrado de _MAX_ total de registros)",
					"search": "Pesquisar"
				}
			});
		}

		function IniciaTableResumo() {

			if (tabelaResumo != null) {
				tabelaResumo.clear();
				tabelaResumo.destroy();
				tabelaResumo = null;
			}

			return $("#tblResumo").DataTable({
				"paging": false,
				"ordering": false,
				"filter": false,
				"language": {
					"lengthMenu": "Mostrar _MENU_ registros por página",
					"zeroRecords": "Nenhum registro encontrado",
					"info": "_TOTAL_ registros encontrados",
					"infoEmpty": "Nenhum registro encontrado",
					"infoFiltered": "(filtrado de _MAX_ total de registros)",
					"search": "Pesquisar"
				}
			});
		}

		function CarregarLinhas() {
			$.ajax({
				type: "GET",
				url: "/posto/GetLinhas/",
				data: { fabrica: $("#cmbFabrica").val() },
				dataType: "json",
				success: function (json) {
					var options = "";
					var selected = "";
					options += '<option value="" selected="selected"> SELECIONE A LINHA </option>';
					$.each(json, function (key, Linhas) {
						if (linha == Linhas.CodLinha) { selected = "selected"; } else { selected = ""; }
						options += '<option value="' + Linhas.CodLinha + '" ' + selected + '>' + Linhas.DesLinha + '</option>';
					});
					$("#CodLinha").html(options);
				}
			});
		}

		function CarregarColunas(origem) {
			var url = "/Coleta/AuditorSerie/ObterPostos";
			var dados = { codLinha: $("#CodLinha").val() };
			if (origem != null && origem != "") {
				url = "/Coleta/AuditorSerie/ObterPostosSerie";
				dados = { NumSerie: $("#txtNumSerie").val() };
			}

			$.ajax({
				type: "GET",
				url: url,
				data: dados,
				dataType: "json",
				success: function (json) {
					var options = "<th>Modelo</th>\n<th>Número de Série</th>";
					$.each(json, function (key, postos) {
						if (postos.trim() != ""){
							options += '<th>' + postos + '</th>';
						} else {
							options += '<th></th>';
						}
					});
					options += '<th>Qtd.Desas.</th>';

					colunas = options;

					$("#tblDados thead tr").html(options);

				}
			});
		}

		function CarregarDados() {
			linhas = "";
			$("#msgCarregando").html("<div style='position: absolute; left: 45%; top: 50%;'><img src='/Images/carregando.gif' /></div>");

			var mostrarTudo = "";
			if ($('#chkMostrarTudo').is(":checked")) {
				mostrarTudo = "S";
			}

			var mostrarLeitura = "";
			if ($('#chkLeituras').is(":checked")) {
				mostrarLeitura = "S";
			}

			$.ajax({
				type: "GET",
				url: "/Coleta/AuditorSerie/ObterDados",
				data: {
					Datinicio: $("#DatInicio").val(),
					DatFim: $("#DatFim").val(),
					CodLinha: $("#CodLinha").val(),
					CodModelo: $("#txtCodModelo").val(),
					NumSerie: $("#txtNumSerie").val(),
					MostrarTudo: mostrarTudo,
					Leituras: mostrarLeitura
				},
				dataType: "json",
				success: function (json) {
					$("#msgCarregando").html("");

					var options = "";
					var serie = "";
					$.each(json, function (key, dados) {
						if (serie != dados.NumSerie) {
							if (options.trim() == "") {
								options += "<tr>";
							} else {
								options += "</tr><tr>";
							}
							options += "<td>" + dados.CodModelo + " - " + dados.DesModelo + "</td>";
							options += "<td>" + dados.NumSerie + "</td>";
						}

						options += '<td>' + dados.DatLeitura + '</td>';

						serie = dados.NumSerie;
					});
					options += '</tr>';

					$("#tblDados tbody").html(options);
					linhas = options;

					//tabela = IniciaTable();
				},
				error: function (t, e) {
					$("#msgCarregando").html(e);
					alert("Não foi possível concluir a operação.");
				}
			});
		}

		function CarregarResumo(codmodelo) {

			$.ajax({
				type: "GET",
				url: "/Coleta/AuditorSerie/ObterDadosResumo",
				data: {
					Datinicio: $("#DatInicio").val(),
					DatFim: $("#DatFim").val(),
					CodLinha: $("#CodLinha").val(),
					CodModelo: codmodelo,
					NumSerie: ""
				},
				dataType: "json",
				success: function (json) {
					var options = "";
					$.each(json, function (key, dados) {
						options += "<tr>";
						options += "<td>" + dados.CodModelo + " - " + dados.DesModelo + "</td>";
						options += "<td>" + dados.Projeto + "</td>";
						options += '<td>' + dados.MenorSerie + '</td>';
						options += '<td>' + dados.MaiorSerie + '</td>';
						options += '<td>' + dados.DifSerie + '</td>';
						options += '<td>' + dados.TotalRegistros + '</td>';
						options += '<td>' + dados.Diferenca + '</td>';
						options += '<td>' + dados.Incompletos + '</td>';
						options += '</tr>';
					});

					$("#tblResumo tbody").html($("#tblResumo tbody").html() + options);

					tabelaResumo = IniciaTableResumo();
				},
				error: function () {
					$("#msgCarregando").html("");
					alert("Não foi possível concluir a operação.");
				}
			});
		}

		function CarregarModelos() {

			$("#tblResumo tbody").html("");

			$.ajax({
				type: "GET",
				url: "/Coleta/AuditorSerie/ObterModelos",
				data: {
					Datinicio: $("#DatInicio").val(),
					DatFim: $("#DatFim").val(),
					CodLinha: $("#CodLinha").val()
				},
				dataType: "json",
				success: function (json) {
					$.each(json, function (key, dados) {
						CarregarResumo(dados);
					});
				},
				error: function () {
					$("#msgCarregando").html("");
					alert("Não foi possível concluir a operação.");
				}
			});
		}

		function Consultar() {
			if ($("#txtCodModelo").val() == "" && $("#txtNumSerie").val() == "" && $("#CodLinha").val() == "") {
				alert("Selecione uma linha");
				return;
			}

			LimpaGrid2('#tblDados');

			linhas = "";
			colunas = "";

			var dados = $("#txtNumSerie").val();

			if (tabela != null) {
				tabela.clear();
				tabela.destroy();
				tabela = null;
			}

			//CarregarModelos();

			CarregarColunas(dados);
			CarregarDados();

		}

</script>
