﻿@model SEMP.Model.VO.Rastreabilidade.Relatorios.RelatorioInspecaoIACVO

@{
    ViewBag.Title = "Relatório Inspeção IAC";
    
    Layout = null;

    var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
    ViewBag.Sistema = "Rastreabilidade";
    ViewBag.Rotina = "Relatório de Inspeção IAC";
    
    if (retornologin != null)
    {
        ViewBag.NomeUsuario = retornologin.NomFuncionario;
    }

    var listaQtd = new List<string>() { 
        "QTD. INSPECIONADA",
        "QTD. INSPECIONADA ACUMULADA",
        "QTD. DEFEITO",
        "QTD. DEFEITO ACUMULADA",
        "QTD. PPM ACUMULADO"
    };
    
}

@Scripts.Render("~/bundles/excelexport")
@Scripts.Render("~/bundles/datatable")
@Styles.Render("~/Content/datatable")

<div style="margin-top: -55px;">
<table border="0" style="width: 100%;" class="table-semp" id="tblRelatorio">
    
    @foreach (var item in Model.Linhas)
    {
    <tr>
        <td colspan="10">
            <table style="width: 100%;" class="table-semp">
                <thead>
                <tr>
                    <th>
                        Modelo
                    </th>
                    <th>
                        Descrição Modelo
                    </th>
                    <th>
                        NE
                    </th>
                    <th>
                        Descrição NE
                    </th>
                    <th>
                        Qtd Ponto
                    </th>
                    <th>
                        Qtd Inspec.
                    </th>
                    <th>
                        Qtd. Defeitos
                    </th>
                    <th>
                        PPM
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var modelos in item.ModelosLinha)
                {
                <tr>
                    <td style="text-align: center;">
                        @modelos.Modelo
                    </td>
                    <td style="text-align: center;">
                        @modelos.DescModelo
                    </td>
                    <td style="text-align: center;">
                        @modelos.NE
                    </td>
                    <td style="text-align: center;">
                        @modelos.DescNE
                    </td>
                    <td style="text-align: center;">
                        @modelos.QuantidadePonto
                    </td>
                    <td style="text-align: center;">
                        @modelos.QuantidadeInspecionada
                    </td>
                    <td style="text-align: center;">
                        @modelos.QuantidadeDefeito
                    </td>
                    <td style="text-align: center;">
                        @modelos.PPM
                    </td>
                </tr> 
                }
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <h4>@item.Descricao</h4>
        </td>
        <td>
            @if (item.HorasLinha.Count > 0)
            {
                <table border="0" style="width: 100%;" class="table-semp">
                    <tr>
                        <td>
                            Posição
                        </td>
                        <td>
                            Máquina
                        </td>
                        <td>
                            Cod. Defeito
                        </td>
                        @foreach (var h in item.HorasLinha.Select(s => new { Hora = s.Hora }).Distinct())
                        {
                            <td style="text-align: center;">@h.Hora</td>
                        }
                    </tr>
                    @foreach (var obj in item.HorasLinha.Where(s => s.CodLinha == item.CodLinha && !listaQtd.Contains(s.Posicao)).GroupBy(g => new { Posicao = g.Posicao, CodDefeito = g.CodDefeito }).ToList())
                    {
                        var totalHorario = 0;
                        
                        if (!string.IsNullOrWhiteSpace(obj.Key.Posicao))
                        {
                        <tr>
                            <td>
                                @obj.Key.Posicao
                            </td>
                            <td>
                            
                            </td>
                            <td>
                                @obj.Key.CodDefeito
                            </td>
                            @foreach (var h in item.HorasLinha.Select(s => new { Hora = s.Hora }).Distinct())
                            {
                                var outPut = item.HorasLinha.Where(w => w.Posicao == obj.Key.Posicao && w.CodDefeito == obj.Key.CodDefeito && w.Hora == h.Hora).FirstOrDefault();
                                
                                if (outPut != null)
                                {
                                    totalHorario = totalHorario + outPut.Quantidade;
                                    <td style="text-align: center;">
                                        @outPut.Quantidade
                                    </td>
                                }
                                else if (h.Hora == "TOTAL ACUMULADO")
                                {
                                    <td style="text-align: center;">
                                        @totalHorario
                                    </td>
                                }
                                else
                                {
                                    <td>

                                    </td>
                                }
                            }
                        </tr>
                        }
                    }
                    @{
                        //var totalHorarioAUX = 0;
                      }
                    @foreach (var obj in item.HorasLinha.Where(s => s.CodLinha == item.CodLinha && listaQtd.Contains(s.Posicao)).GroupBy(g => new { Posicao = g.Posicao, CodDefeito = g.CodDefeito }).ToList())
                    {
                        
                        <tr>
                            <td colspan="3">
                                @obj.Key.Posicao
                            </td>
                           
                            @foreach (var h in item.HorasLinha.Select(s => new { Hora = s.Hora }).Distinct())
                            {
                                var outPut = item.HorasLinha.Where(w => w.Posicao == obj.Key.Posicao && w.CodDefeito == obj.Key.CodDefeito && w.Hora == h.Hora).FirstOrDefault();

                                if (outPut != null)
                                {
                                    //totalHorarioAUX = totalHorarioAUX = outPut.Quantidade;
                                    
                                    <td style="text-align: center;">
                                        @outPut.Quantidade
                                    </td>    
                                }
                                
                                else
                                {
                                    <td>

                                    </td>
                                }
                            }
                        </tr>
                    }
                </table>
            }
            else
            {
                <span style="font-style: italic; color: red;"> Não foi encontrado registros para está Linha</span>
            }
        </td>
    </tr>    
    }
</table>
</div>

<script>
    $(document).ready(function () {
        $("#btnExportar").click(function () {

            $("#tblRelatorio").btechco_excelexport({
                containerid: "tblRelatorio"
                   , datatype: $datatype.MVC
            });
        });
    });
</script>