﻿@{
	ViewBag.Title = "Relatório de Inspeção IAC";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Relatório de Inspeção IAC";

	var DatInicio = Request["DatInicio"];
	var DatFim = Request["DatFim"];
	var CodLinha = Request["CodLinha"];
	var CodModelo = Request["CodModelo"];
	var Turno = Request["Turno"];
	var consulta = Request["Consultar"];
	var flgGrafico = Request["flgGrafico"];

	if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(CodLinha)) { CodLinha = ""; }
	if (String.IsNullOrEmpty(Turno)) { Turno = "0"; }
}

<h3>@ViewBag.Title</h3>

<div class="boxFiltros">

	<form name="frmRelatorio" id="frmRelatorio" action="Linha" method="post" class="form-inline">
		<div class="row">
			<div class="span span-centered">
				<div class="col-md-1 col-centered" style="width: 200px;">
					<label>Data inicial&#58;</label>
					<input type="text" name="DatInicio" id="DatInicio" value="@DatInicio" class="form-control input-sm" style="width:85px;" />
				</div>

				<div class="col-md-1 col-centered" style="width: 180px;">
					<label>Data final&#58;</label>
					<input type="text" name="DatFim" id="DatFim" value="@DatFim" class="form-control input-sm" style="width:85px;" />
				</div>

				<div class="col-md-1 col-centered" style="width: 130px;">
					<label>Turno&#58;</label>
					<select name="Turno" id="Turno" class="form-control input-sm">
						<option value="1">1º</option>
						<option value="2">2º</option>
						<option value="3">3º</option>
						<option value="4">4º</option>
						<option value="5">5º</option>
					</select>
				</div>

				<div class="col-md-3 col-centered">
					<label>Linha:</label>
					<select name="CodLinha" id="Linhas" class="form-control input-sm">
						<option value="">SELECIONE A LINHA</option>
					</select>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="span span-centered">
				<div class="col-md-3 col-centered">
					<div class="btn-group">
						<input type="button" id="btnExportar" name="btnExportar" value="Gerar Excel" class="btn btn-success" />
						@{ if (String.IsNullOrEmpty(consulta))
			{
				<input type="button" name="btnEnviar" value=" Gerar " class="btn btn-danger" onclick="btnEnviar_Click();" />
}
						}
					</div>
				</div>
			</div>
		</div>
		<br />
	</form>
</div>

<div id="conteudo" style="margin-bottom: 30px;"></div>

<script type="text/javascript">

    var linha = "@CodLinha";

	@if (ViewBag.mensagem != null)
     {
		    <text> $("#conteudo").html('<div style="color:red;"><h4>@ViewBag.mensagem</h4></div>');</text>
     };

    $(function () {

        $("#DatFim").datepicker({
            showButtonPanel: true,
            numberOfMonths: 2,
            onClose: function (selectedDate) {
                $("#DatInicio").datepicker("option", "maxDate", selectedDate);
            }
        });

        $("#DatInicio").datepicker({
            showButtonPanel: true,
            numberOfMonths: 2,
            onClose: function (selectedDate) {
                $("#DatFim").datepicker("option", "minDate", selectedDate);
            }
        });

        //$("#btnExportar").click(function () {

        //    $("#tblRelatorio").btechco_excelexport({
        //        containerid: "tblRelatorio"
        //        , datatype: $datatype.MVC
        //    });
        //});

        //$("#btnExportar").click(function () {
        //    var datInicio = $("#DatInicio").val();
        //    var datFim = $("#DatFim").val();
        //    var modelo = $("#Modelo").val();
        //    var fase = $("#fase").val();
        //    var codLinha = $("#Linhas").val();
        //    var turno = $("#Turno").val();
        //    var codDRT = $("#Tecnico").val();
        //    window.open("/Coleta/RelatorioTecnico/GerarExcel/?datInicio=" + datInicio +
		//		"&datFim=" + datFim +
		//		"&fase=" + fase +
		//		"&codLinha=" + codLinha +
		//		"&turno=" + turno +
		//		"&codDRT=" + codDRT +
		//		"&codModelo=" + modelo);
        //});

        //$("#Linhas").change(CarregarModelo);

        CarregarLinhas();
    });

    function CarregarLinhas() {

        $.ajax({
            type: "GET",
            url: "/posto/GetLinhas/",
            data: { fabrica: "IAC" },
            dataType: "json",
            success: function (json) {
                var options = "";
                var selected = "";
                options += '<option value=""> SELECIONE A LINHA </option>';
                $.each(json, function (key, Linhas) {
                    if (linha == Linhas.CodLinha) { selected = "selected"; } else { selected = ""; }
                    options += '<option value="' + Linhas.CodLinha + '" ' + selected + '>' + Linhas.DesLinha + '</option>';
                });
                $("#Linhas").html(options);
            }
        });

    }

    function CarregarModelo() {

        var linha = $("#Linhas").val();

        $.ajax({
            type: "GET",
            url: "/Coleta/RelatorioInspecaoIAC/GetModelos/",
            data: {
                datinicio: $("#DatInicio").val(),
                datFim: $("#DatFim").val(),
                codlinha: linha,
                turno: $("#Turno").val()
            },
            dataType: "json",
            success: function (json) {

                var options = "";
                var selected = "";
                options += '<option value=""> SELECIONE O MODELO </option>';
                $.each(json, function (key, Modelos) {
                    options += '<option value="' + Modelos.CodModelo + '">'+ Modelos.CodModelo + ' - ' + Modelos.DesModelo + '</option>';
                });

                $("#Modelo").html(options);
            }
        });
    }


    function btnEnviar_Click() {
        //$("#frmRelatorio").attr("action", "/Coleta/RelatorioInspecaoIAC/GerarRelatorio/");
        //$("#frmRelatorio").submit();
        $.ajax({
            type: "POST",
            url: "/Coleta/RelatorioInspecaoIAC/GerarRelatorio/",
            data: $("#frmRelatorio").serialize(),
            dataType: "HTML",
            beforeSend: function () {
                $("#conteudo").html("Carregando...");
            },
            success: function (data) {
                $("#conteudo").html(data);
            }
        });
    }

</script>
