﻿@model SEMP.Model.DTO.ParadaDTO

@using (Html.BeginForm("Create", "MotivoParada", FormMethod.Post, new { @id = "frmMotivoParada" })) 
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.CodParada)
		@Html.HiddenFor(model => model.rowguid)

		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.CodFab, new { @class = "control-label", @style="float: left; margin-right: 5px;" })
				<div class="input-group">
					@Html.TextBoxFor(model => model.CodFab, new { @style = "width: 30px;", @maxlength="2", @class="form-control"})
					@Html.TextBoxFor(model => model.DesFabrica, new { @disabled = "disabled", @style = "width: 200px;", @class="input-group-addon" })
				</div>
				@Html.ValidationMessageFor(model => model.CodFab)
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				@Html.LabelFor(model => model.DesParada, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DesParada, new { @style = "width: 300px; text-transform:uppercase"})
				@Html.ValidationMessageFor(model => model.DesParada)
			</div>
		</div>

		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.TipParada, new { @class = "control-label" })
				<input type="radio" id="tipEspecifica" name="TipParada" value="E" checked="checked" /> Específica &nbsp;
				<input type="radio" id="tipGenerica" name="TipParada" value="G"/> Genérica &nbsp;
				<input type="radio" id="tipBarcode" name="TipParada" value="I"/> Barcode
				@Html.ValidationMessageFor(model => model.TipParada)
			</div>
		</div>
		
		<br/>
		<div class="row">
			<div style="margin-top: 10px; margin-right: 10px; display: inline-block;">
				<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
			</div>
		</div>
	</div>
}
<script>
	function gravar() {
		$.ajax({
			type: "POST",
			url: "/MotivoParada/Create/",
			data: $("#frmMotivoParada").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Registro inserido com sucesso.");
					$("#CodFab").val("");
					$("#DesFabrica").val("");
					$("#TipParada").val("");
				} else {
					alert(json);
				}
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr);
			}
		});
	}

	$(function() {
		$("#CodFab").blur(function() {
			if ($(this).val() == "") return;

			$(this).val(padLeft($(this).val(), 2));

			$("#DesFabrica").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoFabrica/",
				data: { CodFab: $("#CodFab").val() },
				success: function(data) {
					$("#DesFabrica").val(data);
				}
			});
		});
	});
</script>