﻿@model SEMP.Model.DTO.ParadaDTO

<h3>Confirma a exclusão desse registro?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.CodFab)</dt>
		<dd>@Html.DisplayFor(model => model.CodFab)</dd>
		<dt>@Html.DisplayNameFor(model => model.CodParada)</dt>
		<dd>@Html.DisplayFor(model => model.CodParada)</dd>
		<dt>@Html.DisplayNameFor(model => model.DesParada)</dt>
		<dd>@Html.DisplayFor(model => model.DesParada)</dd>

	</dl>

	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()

		<div class="form-actions no-color" style="margin-top: 10px;">
			<div style="margin-top: 10px; display: inline-block;">
				@Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
			</div>
			<div style="display: inline-block;">
				<input type="submit" value="Apagar" class="bttn bttn-sm bttn-red" />
			</div>
		</div>
	}
</div>
