﻿@model SEMP.Model.DTO.ParadaDTO

@using (Html.BeginForm("Edit", "MotivoParada", FormMethod.Post, new { @id = "frmMotivoParada" }))
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.CodParada)
		@Html.HiddenFor(model => model.rowguid)

		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.CodFab, new { @class = "control-label", @style="float: left; margin-right: 5px;" })
				<div class="input-group">
					@Html.TextBoxFor(model => model.CodFab, new { @style = "width: 30px;", @maxlength="2", @class="form-control", @disabled="disabled"})
					@Html.TextBoxFor(model => model.DesFabrica, new { @disabled = "disabled", @style = "width: 200px;", @class="input-group-addon" })
				</div>
				@Html.ValidationMessageFor(model => model.CodFab)
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				@Html.LabelFor(model => model.DesParada, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DesParada, new { @style = "width: 300px;"})
				@Html.ValidationMessageFor(model => model.DesParada)
			</div>
		</div>

		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.TipParada, new { @class = "control-label" })
				<input type="radio" id="tipEspecifica" name="TipParada" value="E" @if(Model.TipParada.Equals("E")){ Write("checked");} /> Específica &nbsp;
				<input type="radio" id="tipGenerica" name="TipParada" value="G" @if(Model.TipParada.Equals("G")){ Write("checked");} /> Genérica &nbsp;
				<input type="radio" id="tipBarcode" name="TipParada" value="I" @if(Model.TipParada.Equals("I")){ Write("checked");} /> Barcode
				@Html.ValidationMessageFor(model => model.TipParada)
			</div>
		</div>
		
		<br/>
		<div class="row">
			<div style="margin-top: 10px; margin-right: 10px; display: inline-block;">
				<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
			</div>
		</div>
	</div>
}
<script>
	function gravar() {
		$("#CodFab").removeAttr("disabled");

		$.ajax({
			type: "POST",
			url: "/MotivoParada/Edit/",
			data: $("#frmMotivoParada").serialize(),
			dataType: "json",
			success: function (json) {
				$("#CodFab").attr("disabled", "disabled");
				if (json == true) {
					alert("Registro alterado com sucesso.");
					document.location.href = "/Outros/MotivoParada/";
				} else {
					alert("Não foi possível gravar.");
				}
			},
			error: function (xhr) {
				alert("Não foi possível alterar: " + xhr);
			}
		});
	}
</script>