﻿
@{
	ViewBag.Title = "Motivos de Parada";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Motivos de Parada";

}
@Scripts.Render("~/bundles/excelexport")

<h3>@ViewBag.Title</h3>

<div class="row">
	<div class="col-md-2" style="width: 190px;">
		<label style="margin-top: 5px;">Fáb.</label>
		<div class="input-group" style="float:right;">
			<input type="text" name="CodFab" id="pCodFab" value="@SEMP.Model.Constantes.CodFab02" style="width: 30px;" class="form-control" />
			<input type="text" name="DesFab" id="pDesFab" value="STA" style="width: 100px;" class="input-group-addon" disabled="disabled" />
		</div>
	</div>
	<div class="col-md-3" style="width: 380px;">
		<div class="input-group input-group-sm">
			<label class="form-control">Tipo de Parada</label>
			<div class="input-group-addon">
				<input type="radio" id="tipEspecifica" name="TipParada" value="E" checked="checked" /> Específica &nbsp;
				<input type="radio" id="tipGenerica" name="TipParada" value="G"/> Genérica &nbsp;
				<input type="radio" id="tipBarcode" name="TipParada" value="I"/> Barcode
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<label for="DesParada">Descrição:</label>
		<input type="text" name="DesParada" id="pDesParada" style="width: 200px;" />
	</div>
	<div class="col-md-1">&nbsp;<!-- Placeholder --></div>
	<div class="col-md-7">
		<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
		<input type="button" name="btnNovo" id="btnNovo" value="Novo" class="bttn bttn-sm bttn-red" />
		<input type="button" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" onclick="btnEnviar_Click();"/>
	</div>
</div>
<br />

<div id="dialog-edit" style="display: none; top: 10px;"></div>
<div id="conteudo"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<script type="text/javascript">


	var url = "";
	$(function () {

		$("#dialog-edit").dialog({
			title: 'Editar',
			autoOpen: false,
			resizable: false,
			width: 500,
			height: 250,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		$("#btnNovo").on("click", function (e) {
			// e.preventDefault(); use this or return false
			url = "/Outros/MotivoParada/Create/";
			$(".ui-dialog-title").html("Nova");
			$("#dialog-edit").dialog('open');

			return false;
		});

		$("#pCodFab").blur(function () {
			if ($(this).val() == "") return;

			$(this).val(padLeft($(this).val(), 2));

			$("#pDesFab").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoFabrica/",
				data: { CodFab: $("#pCodFab").val() },
				success: function (data) {
					$("#pDesFab").val(data);
				}
			});
		});

		$("#pDesParada").blur(function() {
			$("#pDesParada").val($("#pDesParada").val().toUpperCase());
		});

		$("#btnExportar").click(function () {
			var codFab = $("#pCodFab").val();
			var tipoParada = $("input:checked").val();
			var desParada = $("#pDesParada").val();

			window.open("/Outros/MotivoParada/Lista/?codFab=" + codFab +
				"&tipoParada=" + tipoParada + 
				"&desParada=" + desParada);
			/*$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});*/
		});

	});

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

		var tipo = $("input:checked").val();

		$.ajax({
			type: "GET",
			url: "/Outros/MotivoParada/Lista/",
			data: {codFab: $("#pCodFab").val(), tipoParada: tipo, desParada: $("#pDesParada").val()},
			success: function (data) {
				$("#conteudo").html(data);
				$(".linkEdit").on("click", function (e) {
					url = $(this).attr('href');
					$(".ui-dialog-title").html("Alterar");
					$("#dialog-edit").dialog('open');

					return false;
				});
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	@{
		if (!String.IsNullOrEmpty(ViewBag.mensagem))
		{
			WriteLiteral("alert('" + ViewBag.mensagem + "');");
		}
	}

</script>
