﻿@model IEnumerable<SEMP.Model.DTO.ParadaDTO>

<table class="table-semp smallrow" id="tblDados" style="width: 700px;">
	<thead>
		<tr>
			<th style="width: 50px;"></th>
			<th style="width: 100px;">@Html.DisplayNameFor(model => model.CodParada)</th>
			<th>@Html.DisplayNameFor(model => model.DesParada)</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var item in Model)
 {
		<tr>
			<td>
				@Html.ActionLink(" ", "Edit", new { codFab = item.CodFab, codParada = item.CodParada}, new { @class="linkEdit glyphicon glyphicon-edit", @title="Editar registro"}) |
				@Html.ActionLink(" ", "Delete", new { codFab = item.CodFab, codParada = item.CodParada}, new { @class="linkEdit glyphicon glyphicon-remove", @title="Remover"})
			</td>		
			<td>@Html.DisplayFor(modelItem => item.CodParada)</td>
			<td>@Html.DisplayFor(modelItem => item.DesParada)</td>
		</tr>
 }
</tbody>
</table>
<br/><br/>