﻿@using SEMP.Model.DTO;
@using SEMP.Model.VO.Rastreabilidade.Relatorios;
@using RAST.BO.Rastreabilidade;

@Scripts.Render("~/Scripts/jquery-2.1.1.min.js")
@Scripts.Render("~/Scripts/Highcharts-4.0.1/js/highcharts.js")

@{
	ViewBag.Title = "Relatório Técnico - Defeitos";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Relatório Técnico";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}


	List<viw_CBDefeitoTurnoDTO> defeitos = ViewBag.defeitos;

	var tecnico = Request["CodDRT"];
	var DatIni = Request["DatInicio"];
	var DatFim = Request["DatFim"];
	var setor = Request["Fase"];
	var turno = Request["Turno"];
	var codLinha = Request["codLinha"];

	if (turno == "0")
	{
		turno = "Todos";
	}

}

<span style="float: left; margin-right: 10px;"><button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="Voltar();"><img src="~/images/voltar.gif" style="width: 16px; height: 16px;" /></button></span>
<h3>@ViewBag.Title</h3>

<div class="boxFiltros">
	<table style="width: 50%; font-size: 14px;" cellspacing="4">
		<tr>
			<td style="width: 25%"><b>Setor:</b> @setor</td>
			<td style="width: 50%"><b>Período:</b> @DatIni - @DatFim</td>
			<td style="width: 25%"><b>Turno:</b> @turno </td>
		</tr>
		<tr>
			<td><b>Linha:</b> @ViewBag.desLinha</td>
			<td colspan="2"></td>
		</tr>
	</table>
</div>


	<table class="table-semp blue" style="border: solid 1px blue;">
		<caption>Principais Defeitos (Top 10)</caption>
		<tr>
			<td style="vertical-align: top; width: 400px;">
				<table class="table-semp">
					<thead>
						<tr style="height: 30px;">
							<th>Descrição</th>
							<th>Qtd. Período</th>
							<th>Qtd. Acum. Mês</th>
							<th>Qtd. Falsa Falha</th>
						</tr>
					</thead>
					<tbody>
						@{
							List<ResumoDefeito> resumoDefeito = ViewBag.resumoDefeitos;
							if (resumoDefeito != null)
							{
								foreach (var defeito in resumoDefeito)
								{
							<tr style="height: 15px;" id="@defeito.CodDefeito">
								<td>@defeito.CodDefeito - @defeito.DesDefeito</td>
								<td>@defeito.QtdDefeito</td>
								<td>@defeito.QtdAcumulada</td>
								<td>@defeito.QtdFalsaFalha</td>
							</tr>
								}
							}
							else
							{
								<tr style="height: 20px;">
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							}
						}
					</tbody>
				</table>
			</td>
			<td style="vertical-align: top;">@ViewBag.grafDefeito</td>
		</tr>
	</table>


<script>
	function Voltar() {
		history.back();
	}

	function alterafundo(id) {
		$("#" + id).css('background-Color', 'rgba(255, 255, 0, 0.5)');
	}

	function voltafundo(id) {
		$("#" + id).css('background-Color', '');
	}
</script>