﻿@model List<SEMP.Model.DTO.viw_CBDefeitoTurnoDTO>
@{
	if (Model == null || !Model.Any())
	{
		<span class="message-error">Não foram encontrados registros ou aconteceu algum erro</span>
	}

}
@foreach (var defeito in Model)
{
	<div>
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => defeito.NumECB)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.NumECB)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.CodLinha)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.CodLinha)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.NumPosto)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.NumPosto)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.CodDefeito)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.CodDefeito)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.FlgRevisado)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.FlgRevisado)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.CodCausa)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.CodCausa)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.Posicao)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.Posicao)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.FlgTipo)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.FlgTipo)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.CodOrigem)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.CodOrigem)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.DesAcao)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.DesAcao)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.DatEvento)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.DatEvento)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.DatRevisado)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.DatRevisado)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.DatEntRevisao)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.DatEntRevisao)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.NomUsuario)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.NomUsuario)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.NumPostoRevisado)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.NumPostoRevisado)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.CodDRT)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.CodDRT)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.CodDRTRevisor)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.CodDRTRevisor)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.CodDefeitoTest)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.CodDefeitoTest)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.ObsDefeito)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.ObsDefeito)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.DefIncorreto)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.DefIncorreto)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.CodDRTTest)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.CodDRTTest)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.NomUsuarioTest)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.NomUsuarioTest)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.NumSeriePai)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.NumSeriePai)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.CodLinhaRevisado)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.CodLinhaRevisado)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.Romaneio)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.Romaneio)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.CodItem)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.CodItem)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.DatReferencia)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.DatReferencia)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.Turno)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.Turno)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.DesDefeito)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.DesDefeito)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.DesCausa)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.DesCausa)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.DesOrigem)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.DesOrigem)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.DesPosto)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.DesPosto)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.DesModelo)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.DesModelo)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.QtdMes)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.QtdMes)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.TempoReparo)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.TempoReparo)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.CodModelo)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.CodModelo)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.DesLinha)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.DesLinha)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => defeito.DesPosicao)
			</dt>

			<dd>
				@Html.DisplayFor(model => defeito.DesPosicao)
			</dd>

		</dl>
	</div>

}