﻿@using SEMP.Model.DTO;

@{
	ViewBag.Title = "Relatório Técnico - por Linha";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Relatório Técnico";

	var defeitos = (List<viw_CBDefeitoTurnoDTO>)ViewBag.defeitos;

	var dIni = Request["DatInicio"];
	var dFim = Request["DatFim"];
	var fase = Request["fase"];
	var familia = Request["familia"];
		
	var seriespai = new List<viw_CBDefeitoTurnoDTO>();

	if (fase == "PLACA")
	{
		seriespai = ViewBag.seriespai;
	}

}
<table>
	<caption>Relat&oacute;rio T&eacute;cnico de Produ&ccedil;&atilde;o - Fase: @fase - @if(familia != ""){var texto="Família: "; @texto; @familia; texto = " - "; @texto;} Per&iacute;odo: @dIni - @dFim </caption>
	<thead>
		<tr>
			<th>Rev.</th>
			<th>NE</th>
			<th>Modelo</th>
			<th>Linha</th>
            <th>Linha Origem</th>
			<th>Defeito</th>
			<th>Causa</th>
			<th>Posto Origem</th>
			<th>Tipo de N/C</th>
			<th>Posi&ccedil;&atilde;o</th>
			<th>Origem</th>
			<th>Nro. de S&eacute;rie</th>
			<th>A&ccedil;&atilde;o imediata</th>
			<th>Tempo reparo</th>
			<th>Hora Entrada</th>
			<th>Hora Revisado</th>
			<th>Observa&ccedil;&atilde;o</th>
			<th>T&eacute;cnico</th>
			@if (fase == "PLACA")
			{
				<th>NS Produto</th>
				<th>Defeito Prod.</th>
				<th>Causa Prod.</th>
			}
		</tr>
	</thead>
	<tbody>
		@{
			if (!defeitos.Any())
			{
				<tr>
					<td colspan="16">&nbsp;</td>
				</tr>
			}
			else
			{
				foreach (var defeito in defeitos)
				{
					var thora = "";
					string dias = "";

					if (defeito.TempoReparo != null)
					{
						thora = defeito.TempoReparo.Value.Hours.ToString().PadLeft(2, '0') + ":" + defeito.TempoReparo.Value.Minutes.ToString().PadLeft(2, '0') + ":" + defeito.TempoReparo.Value.Seconds.ToString().PadLeft(2, '0');
						if (defeito.TempoReparo.Value.Days > 0)
						{
							dias = defeito.TempoReparo.Value.Days.ToString() + " dias ";
						}
					}
					var flgTipo = defeito.FlgTipo;
					switch (flgTipo)
					{
						case "M":
							flgTipo = "M - Material";
							break;
						case "O":
							flgTipo = "O - Mão-de-obra";
							break;
						case "P":
							flgTipo = "P - Máquina";
							break;
						default:
							flgTipo = "";
							break;
					}
					// Se for placa, verifica os demais dados.
					var defeitopai = "";
					var causapai = "";
					if (fase == "PLACA")
					{
						var pai = seriespai.FirstOrDefault(x => x.NumECB == defeito.NumSeriePai && x.DatEvento == defeito.DatEvento);
						if (pai != null)
						{
							defeitopai = String.Format("{0} - {1}", pai.CodDefeito, pai.DesDefeito);
							causapai = String.Format("{0} - {1}", pai.CodCausa, pai.DesCausa);
						}
					}

					<tr>
						<td>@{Write(defeito.FlgRevisado == 1 ? "Revisado" : "Em análise");}</td>
						<td>@defeito.CodModelo</td>
						<td>@defeito.DesModelo</td>
						<td>@defeito.DesLinha</td>
                        <td>@defeito.DesUltimaLinhaIAC</td>
						<td>@defeito.CodDefeito - @defeito.DesDefeito</td>
						<td>@defeito.CodCausa - @defeito.DesCausa</td>
						<td>@defeito.NumPosto - @defeito.DesPosto</td>
						<td>@flgTipo</td>
						<td>@defeito.Posicao - @defeito.DesPosicao</td>
						<td>@defeito.CodOrigem - @defeito.DesOrigem</td>
						<td>@defeito.NumECB</td>
						<td>@defeito.DesAcao</td>
						<td>@dias @thora</td>
						<td>@defeito.DatEvento</td>
						<td>@defeito.DatRevisado</td>
						<td>@defeito.ObsDefeito</td>
						<td>@defeito.CodDRT</td>
						@if (fase == "PLACA")
						{
							<th>@defeito.NumSeriePai</th>
							<th>@defeitopai</th>
							<th>@causapai</th>
						}
					</tr>
				}
			}
		}
	</tbody>
</table>

@ViewBag.grafico