﻿@{
	ViewBag.Title = "Relatório Técnico de Conserto";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Relatório Técnico";

	var DatInicio = Request["DatInicio"];
	var DatFim = Request["DatFim"];
	var CodLinha = Request["CodLinha"];
	var Fabrica = Request["fase"];
	var Turno = Request["Turno"];
	var Modelo = Request["codModelo"];
	var Tecnico = Request["CodDRT"];
	var consulta = Request["Consultar"];
	var flgGrafico = Request["flgGrafico"];

	if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(CodLinha)) { CodLinha = ""; }
	if (String.IsNullOrEmpty(Fabrica)) { Fabrica = "FEC"; }
	if (String.IsNullOrEmpty(Turno)) { Turno = "0"; }
	if (String.IsNullOrEmpty(Tecnico)) { Tecnico = ""; }

	var resumoDefeitos = new List<SEMP.Model.DTO.viw_CBDefeitoTurnoDTO>();
	if (ViewBag.resumo != null){
		resumoDefeitos = ViewBag.resumo;
	}

}

<h3>@ViewBag.Title</h3>

<div class="boxFiltros">

	<form name="frmRelatorio" id="frmRelatorio" action="Linha" method="post" style="padding: 20px;">
		<div class="row" style="margin-bottom: 10px;">
			<div class="col-xs-10 col-sm-8 col-md-5" style="width: 450px;">
				<label class="pull-left" style="width: 60px;">Período:</label>
				<div class="pull-left">
					<div class="input-group input-group-sm" style="width: 168px;">
						<div class="input-group-btn"><a class="btn btn-default btn-group-xs menos"><span class="glyphicon glyphicon-minus"></span></a></div>
						<input type="text" name="DatInicio" id="DatInicio" class="form-control input-sm calendar-group" value="@DatInicio" />
						<div class="input-group-btn"><a class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></a></div>
					</div>
				</div>
				<div class="pull-left">
					<div class="input-group input-group-sm" style="width: 168px;">
						<div class="input-group-btn"><a class="btn btn-default menos"><span class="glyphicon glyphicon-minus"></span></a></div>
						<input type="text" name="DatFim" id="DatFim" class="form-control calendar-group" value="@DatFim" />
						<div class="input-group-btn"><a class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></a></div>
					</div>
				</div>
			</div>
			<div class="col-xs-10 col-sm-6 col-md-6">
				<label class="pull-left" style="width: 60px;">Opções:</label>
				<div class="col-xs-5 col-md-4" style="min-width: 150px;">
					<div class="input-group input-group-sm">
						<span class="input-group-addon">
							<input type="radio" name="flgGrafico" value="S" checked="checked" />
						</span>
						<input type="text" class="form-control" value="Gerar gráfico" style="border: none;" />
					</div>
				</div>
				<div class="col-xs-5 col-md-4" style="min-width: 150px;">
					<div class="input-group input-group-sm">
						<span class="input-group-addon">
							<input type="radio" name="flgGrafico" value="" />
						</span>
						<input type="text" class="form-control" value="Sem gráfico" style="border: none;" />
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-2 col-md-2">
				<label class="labelFloat">Fase:</label>
				<select name="Fase" id="fase" class="form-control input-sm">
					<option value="IAC" @{if (Fabrica == "IAC") { WriteLiteral("selected"); }}>IAC</option>
					<option value="IMC" @{if (Fabrica == "IMC") { WriteLiteral("selected"); }}>IMC</option>
					<option value="FEC" @{if (Fabrica == "FEC") { WriteLiteral("selected"); }}>MF</option>
					<option value="LCM" @{if (Fabrica == "LCM") { WriteLiteral("selected"); }}>LCM</option>
					<option value="PLACA" @{if (Fabrica == "PLACA") { WriteLiteral("selected"); }}>PLACAS</option>
					<option value="DAT" @{if (Fabrica == "DAT") { WriteLiteral("selected"); }}>DAT</option>
					<option value="TES" @{if (Fabrica == "TES") { WriteLiteral("selected"); }}>JIGS DE TESTE</option>
				</select>
			</div>
			<div class="col-xs-4 col-md-3">
				<label class="labelFloat">Linha</label>
			@{
				if (String.IsNullOrEmpty(consulta)) {
					<select name="CodLinha" id="Linha" class="form-control input-sm">
						<option value="">[SELECIONE]</option>
					</select>
				} else {
					<input type="text" name="CodLinha" id="Linha" class="form-control input-sm" value="@CodLinha" />
				}
			}
			</div>
			<div class="col-xs-2 col-md-1">
				<label class="labelFloat">Turno&#58;</label>
				<input type="text" name="Turno" id="Turno" value="@Turno" class="form-control input-sm" />
			</div>
			<div class="col-xs-4 col-md-2">
				<label class="labelFloat">Família:</label>
				<select name="familia" id="familia" class="form-control input-sm">
					<option value="">[SELECIONE]</option>
					<option value="LCD" @{if (Fabrica == "LCD") { WriteLiteral("selected"); }}>TV LCD</option>
					<option value="AUD" @{if (Fabrica == "AUD") { WriteLiteral("selected"); }}>ÁUDIO</option>
					<option value="DVD" @{if (Fabrica == "DVD") { WriteLiteral("selected"); }}>DVD</option>
					<option value="INF" @{if (Fabrica == "INF") { WriteLiteral("selected"); }}>INFORMÁTICA</option>
				</select>
			</div>
			<div class="col-xs-8 col-md-4"></div>
		</div>
		<div class="row" style="margin-top: 10px;">
			<div class="col-xs-6 col-md-4">
				<label class="labelFloat">Modelo:</label>
				<div class="input-group input-group-sm">
					<input type="text" name="codModelo" id="Modelo" value="@Modelo" class="form-control" style="width: 70px;" />
					<input type="text" name="Descricao" id="Descricao" value="" class="input-group-addon" style="min-width: 120px;" disabled="disabled" />
				</div>
			</div>
			<div class="col-xs-6 col-md-4">
				<label class="labelFloat">Técnico&#58;</label>
				<div class="input-group input-group-sm">
					<input type="text" name="CodDRT" id="Tecnico" value="@Tecnico" class="form-control" style="width: 70px;" />
					<input type="text" name="NomFuncionario" id="NomTecnico" value="" class="input-group-addon" style="min-width: 120px;" disabled="disabled" />
				</div>
			</div>
			<!--Botões-->
			<div class="col-xs-8 col-md-4">
				<span class="btn-group btn-group-sm hidden-print" role="group">
					<button type="button" id="btnExportar" name="btnExportar" class="btn btn-success"><i class="glyphicon glyphicon-export"></i> Exportar Excel</button>
					<button type="button" id="btnResumo" name="btnExportar" class="btn btn-primary" onclick="btnResumo_Click();"><i class="glyphicon glyphicon-list-alt"></i> Atual. Resumo</button>
					<button type="submit" name="btnEnviar" value="Consultar" class="btn btn-danger" onclick="btnEnviar_Click();"><i class="glyphicon glyphicon-ok"></i> Consultar</button>
				</span>
			</div>
		</div>
	</form>
</div>

<div id="conteudo">
</div>

<div id="resumo">
	@Html.Partial("ResumoDefeitos", resumoDefeitos)
</div>

<script type="text/javascript">
	var linha = "@CodLinha";

	@if (ViewBag.mensagem != null)
	{	
		<text> $("#conteudo").html('<div style="color:red;"><h4>@ViewBag.mensagem</h4></div>');</text>
	};
	 
	$(function () {
		$("#DatFim").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatInicio").datepicker("option", "maxDate", selectedDate);
			}
		});
		$("#DatInicio").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatFim").datepicker("option", "minDate", selectedDate);
			}
		});

		$("#fase").change(CarregarLinhas);

		$('.mais').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			var date = $(campo).datepicker('getDate');
			date.setDate(date.getDate() + 1);
			$(campo).datepicker("setDate", date);
		});

		$('.menos').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			var date = $(campo).datepicker('getDate');
			date.setDate(date.getDate() - 1);
			$(campo).datepicker("setDate", date);
		});

		$("#btnExportar").click(function () {
			var datInicio = $("#DatInicio").val();
			var datFim = $("#DatFim").val();
			var modelo = $("#Modelo").val();
			var fase = $("#fase").val();
			var codLinha = $("#Linha").val();
			var turno = $("#Turno").val();
			var codDRT = $("#Tecnico").val();

			window.open("/Coleta/RelatorioTecnico/GerarExcel/?datInicio=" + datInicio +
				"&datFim=" + datFim +
				"&fase=" + fase +
				"&codLinha=" + codLinha +
				"&turno=" + turno +
				"&codDRT=" + codDRT +
				"&codModelo=" + modelo);
		});

		$("#fase").change(CarregarLinhas);
		$("#Linha").change(limparFamilia);
		$("#familia").change(limparLinha);

		CarregarLinhas();
	});

	function limparLinha() {
		//alert("Limpar Linha");
		var sel = document.getElementById('Linha');
		sel.selectedIndex = 0;
	}

	function limparFamilia() {
		//alert("Limpar Família");
		var sel = document.getElementById('familia');
		sel.selectedIndex = 0;
	}

	function CarregarLinhas() {

		var fase = $("#fase").val();
		if (fase == "PLACA") { fase = "FEC"; }

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: fase },
			dataType: "json",
			success: function (json) {
				var options = "";
				var selected = "";
				options += '<option value=""> [SELECIONE] </option>';
				$.each(json, function (key, Linhas) {
					if (linha == Linhas.CodLinha) { selected = "selected"; } else { selected = ""; }
					options += '<option value="' + Linhas.CodLinha + '" ' + selected + '>' + Linhas.DesLinha + '</option>';
				});
				$("#Linha").html(options);
			}
		});
	}

	function btnEnviar_Click() {

		if ($('#Linha').val() != '') {
			$("form").get(0).setAttribute('action', '/Coleta/RelatorioTecnico/Linha');
		}
		else if ($('#familia').val() != "") {
			$("#frmRelatorio").attr('action', '/Coleta/RelatorioTecnico/Linha');
		}
		else if ($('#Tecnico').val() != '') {
			$("form").get(0).setAttribute('action', '/Coleta/RelatorioTecnico/Tecnico');
		}
		else {
			$("form").get(0).setAttribute('action', '/Coleta/RelatorioTecnico/Linha');
		}
	}

	function btnResumo_Click () {
		$.ajax({
			type: "GET",
			url: "/Coleta/RelatorioTecnico/ResumoDefeitos/",
			data: { CodItem: $("#Modelo").val() },
			success: function (data) {
				$("#Descricao").val(data);
			}
		});
	}

	$("#Modelo").blur(function () {
		$.ajax({
			type: "GET",
			url: "/Util/ObterDescricaoItem/",
			data: { CodItem: $("#Modelo").val() },
			success: function (data) {
				$("#Descricao").val(data);
			}
		});
	});

	$("#Tecnico").blur(function () {
		$.ajax({
			type: "GET",
			url: "/Util/ObterNomFuncionario/",
			data: { codDRT: $("#Tecnico").val() },
			success: function (data) {
				$("#NomTecnico").val(data);
			}
		});
	});

</script>
