﻿@using AutoMapper.Internal
@using SEMP.Model.DTO;
@using SEMP.Model.VO.Rastreabilidade.Relatorios;

@Scripts.Render("~/bundles/highcharts")

@{
	ViewBag.Title = "Relatório Técnico ";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Relatório Técnico";

	var defeitos = (List<viw_CBDefeitoTurnoDTO>)ViewBag.defeitos;

	var datIni = Request["DatInicio"];
	var datFim = Request["DatFim"];
	var setor = Request["Fase"];
	var turno = Request["Turno"];
	var codLinha = Request["codLinha"];
	var flgGrafico = Request["flgGrafico"];
	var modelo = Request["codModelo"];
	var codDRT = Request["codDRT"];
	var familia = Request["familia"];

	if (turno == "0")
	{
		turno = "Todos";
	}

	var resumo = (ResumoRelatorioTecnico)ViewBag.resumoRel;

	var classeLinha = "";
	if (!String.IsNullOrEmpty(codLinha))
	{
		classeLinha = "hidden";
	}

    var classeLinhaIAC = "";
    if (@ViewBag.fabrica != "IAC" && !String.IsNullOrEmpty(codLinha))
    {
        classeLinhaIAC = "hidden";
    }

	var placa = "hidden";
	var seriespai = new List<viw_CBDefeitoTurnoDTO>();

	if (setor == "PLACA")
	{
		placa = "";
		seriespai = ViewBag.seriespai;

	}

}
@Scripts.Render("~/bundles/excelexport")

<style type="text/css">
	.cabecalho_tecnico
	{
		border: solid 2px black;
		width: 100%;
	}

	.rodape_tecnico
	{
		border: solid 2px black;
		width: 100%;
	}
</style>

<span style="float: left; margin-right: 10px;"><button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="Voltar();"><img src="~/images/voltar.gif" style="width: 16px; height: 16px;" /></button></span>
<h3>@ViewBag.Title @familia</h3>

<div class="boxFiltros">
	<table style="width: 50%; font-size: 14px;" cellspacing="4">
		<tr>
			<td style="width: 25%"><b>Setor:</b> @setor</td>
			<td style="width: 40%"><b>Período:</b> @datIni - @datFim</td>
			<td style="width: 25%"><b>Turno:</b> @turno </td>
			<td style="width: 10%; text-align: right;"><input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" /></td>
		</tr>
		<tr>
			<td><b>Linha:</b> @ViewBag.desLinha</td>
			<td colspan="3"></td>
		</tr>
	</table>
</div>

	<form class="hidden" name="frmRelatorio" id="frmRelatorio" method="post" action="/Coleta/RelatorioTecnico/Linha/">
		<input type="hidden" name="DatInicio" value="@datIni" />
		<input type="hidden" name="DatFim" value="@datFim" />
		<input type="hidden" name="CodLinha" value="@codLinha" />
		<input type="hidden" name="Fase" value="PLACA" />
		<input type="hidden" name="Consultar" value="S" />
		<input type="hidden" name="flgGrafico" value="S" />
	</form>

	<div id="dlgDetalhes" style="display: none; top: 10px;"></div>

<div style="width: 100%; overflow: scroll">

	<table class="table-semp orange smallrow" id="tblDados">
		<caption>Analítico</caption>
		<thead>
			<tr>
				<th><a title="Defeito revisado">Rev.</a></th>
				<th style="width: 160px;">Modelo</th>
				<th style="width: 80px;" class="@classeLinha">Linha</th>
                <th style="width: 80px;" class="@classeLinhaIAC">Linha Origem</th>
				<th><a href="#Defeito" title="Gráfico por defeito">Defeito <img src="/Images/ico-grafico.png" class="NoExport" /></a></th>
				<th><a href="#Causa" title="Gráfico por causa">Causa <img src="/Images/ico-grafico.png"  class="NoExport" /></a></th>
				<th style="width: 120px;">Posto Origem</th>
				<th style="width: 80px;">Tipo de N/C</th>
				<th><a href="#Posicao" title="Gráfico por posição">Posição <img src="/Images/ico-grafico.png" class="NoExport" /></a></th>
				<th><a href="#Origem" title="Gráfico por origem">Origem <img src="/Images/ico-grafico.png" class="NoExport" /></a></th>
				<th>Nro. de Série</th>
				<th>Ação imediata</th>
				<th style="width: 60px;">Tempo reparo</th>
				<th style="width: 30px;" class="hidden">Qtd. Def. Mês</th>
				<th>Hora Entrada</th>
				<th>Hora Revisado</th>
				<th>Observação</th>
				<th class="@placa">NS Produto</th>
				<th class="@placa">Defeito Prod.</th>
				<th class="@placa">Causa Prod.</th>
			</tr>
		</thead>
		<tbody>
			@{
				if (!defeitos.Any())
				{
					<tr>
						<td colspan="16">&nbsp;</td>
					</tr>
				}
				else
				{
					var coddrt = "";
					var aberto = false;

					foreach (var defeito in defeitos)
					{
						if (defeito.FlgRevisado == 1 && coddrt != defeito.CodDRT)
						{
							coddrt = defeito.CodDRT;
							var nomfuncionario = "";
							if (String.IsNullOrEmpty(coddrt))
							{
								nomfuncionario = "Ténico não encontrado";
							}
							else
							{
								nomfuncionario = coddrt + " - " + SEMP.BO.Login.ObterFuncionarioByDRT(coddrt).NomFuncionario;
							}

							<tr>
								<td colspan="17">
									<b>@nomfuncionario</b>
								</td>
							</tr>

						}
						else if (defeito.FlgRevisado == 0 && !aberto)
						{
							aberto = true;

							<tr>
								<td colspan="17">
									<b>Defeito(s) em Aberto</b>
								</td>
							</tr>	
						}

						var thora = "";
						string dias = "";

						if (defeito.TempoReparo != null)
						{
							thora = defeito.TempoReparo.Value.Hours.ToString().PadLeft(2, '0') + ":" + defeito.TempoReparo.Value.Minutes.ToString().PadLeft(2, '0') + ":" + defeito.TempoReparo.Value.Seconds.ToString().PadLeft(2, '0');
							if (defeito.TempoReparo.Value.Days > 0)
							{
								dias = defeito.TempoReparo.Value.Days.ToString() + " dias ";
							}
						}
						var flgTipo = defeito.FlgTipo;
						switch (flgTipo)
						{
							case "M":
								flgTipo = "M - Material";
								break;
							case "O":
								flgTipo = "O - Mão-de-obra";
								break;
							case "P":
								flgTipo = "P - Máquina";
								break;
							default:
								flgTipo = "";
								break;
						}

						// Se for placa, verifica os demais dados.
						var defeitopai = "";
						var causapai = "";
						if (setor == "PLACA")
						{
							var pai = seriespai.FirstOrDefault(x => x.NumECB == defeito.NumSeriePai && x.DatEvento == defeito.DatEvento);
							if (pai != null)
							{
								defeitopai = String.Format("{0} - {1}", pai.CodDefeito, pai.DesDefeito);
								causapai = String.Format("{0} - {1}", pai.CodCausa, pai.DesCausa);
							}

						}

						<tr ondblclick="//AbrirDetalhe('@defeito.NumECB', '@defeito.CodDefeito.Trim()', @defeito.CodLinha, @defeito.NumPosto, '@defeito.DatEvento');">
							<td><input type="checkbox" readonly="readonly" @if (defeito.FlgRevisado == 1) { Write("checked"); } /></td>
							<td>@defeito.DesModelo</td>
							<td class="@classeLinha">@defeito.DesLinha</td>
                            <td class="@classeLinhaIAC">@defeito.DesUltimaLinhaIAC</td>
							<td>@defeito.CodDefeito - @defeito.DesDefeito</td>
							<td>@defeito.CodCausa - @defeito.DesCausa</td>
							<td>@defeito.NumPosto - @defeito.DesPosto</td>
							<td>@flgTipo</td>
							<td>@defeito.Posicao - @defeito.DesPosicao</td>
							<td>@defeito.CodOrigem - @defeito.DesOrigem</td>
							<td>@defeito.NumECB</td>
							<td>@{ if (defeito.DesAcao != null && (defeito.DesAcao.Trim() == "DESASSOCIAR PLACA" || defeito.DesAcao.Trim() == "DESASSOCIAR ITEM"))
									 { <a onclick="VerPlacas();" href="#" title="Consultar placas">@defeito.DesAcao</a> }
								else { @defeito.DesAcao } }
							</td>
							<td>@dias @thora</td>
							<td class="hidden">@defeito.QtdMes</td>
							<td>@defeito.DatEvento</td>
							<td>@defeito.DatRevisado</td>
							<td>@defeito.ObsDefeito</td>
							<td class="@placa">@defeito.NumSeriePai</td>
							<td class="@placa">@defeitopai</td>
							<td class="@placa">@causapai</td>
						</tr>
					}
				}
			}
		</tbody>
		<tfoot>
			<tr style="border-top: solid 1px #000;">
				<td colspan="20" style="padding: 10px; font-weight: bold;">
					Total de registros: @defeitos.Count() / 
					Defeitos apontados: @defeitos.Count(x => x.FlgRevisado == 1) / 
					Defeitos em aberto: @defeitos.Count(x => x.FlgRevisado == 0)
				</td>
			</tr>
		</tfoot>
	</table>
	@{
		if (flgGrafico != null && flgGrafico.Equals("S"))
		{
			<br />
			<a name="Defeito"></a>
			<table class="table-semp blue" style="border: solid 1px blue;">
				<caption>Resumo por Defeito</caption>
				<tr>
					<td style="vertical-align: top; width: 400px;">
						<table class="table-semp blue">
							<thead>
								<tr>
									<th style="width: 10px;"></th>
									<th>Descrição Defeito</th>
									<th>Qtd. Período</th>
									<th>Qtd. Acum. Mês</th>
								</tr>
							</thead>
							<tbody>
								@{
			List<ResumoDefeito> resumoDefeito = ViewBag.resumoDefeitos;
			if (resumoDefeito != null)
			{
				foreach (var defeito in resumoDefeito)
				{
					var id = defeito.CodDefeito.Trim();

											<tr style="height: 15px;" id="@id">
												<td style="background-color: rgba(@defeito.Cor.R, @defeito.Cor.G, @defeito.Cor.B, @defeito.Cor.A);">&nbsp;</td>
												<td>@defeito.CodDefeito - @defeito.DesDefeito</td>
												<td>@defeito.QtdDefeito</td>
												<td>@defeito.QtdAcumulada</td>
											</tr>
				}
			}
								}
							</tbody>
							<tfoot>
								<tr style="border-top: solid 1px #000; font-weight: bold;">
									<td colspan="2">Total registros: @resumoDefeito.Count()</td>
									<td>@resumoDefeito.Sum(x => x.QtdDefeito)</td>
									<td></td>
								</tr>
							</tfoot>
						</table>
					</td>
					<td style="vertical-align: top;">@ViewBag.grafDefeito</td>
				</tr>
			</table>

			<br />
			<a name="Posicao"></a>
			<table class="table-semp blue" style="border: solid 1px blue;">
				<caption>Resumo por Posição</caption>
				<tr>
					<td style="vertical-align: top; width: 400px;">
						<table class="table-semp blue">
					
							<thead>
								<tr>
									<th style="width: 10px;"></th>
									<th>Descrição Posição</th>
									<th>Qtd. Período</th>
								</tr>
							</thead>
							<tbody>
								@{
			List<ResumoDefeito> resumoPosicao = ViewBag.resumoPosicao;
			if (resumoPosicao != null)
			{
				foreach (var posicao in resumoPosicao)
				{
					var codigo = posicao.CodDefeito;
					if (!String.IsNullOrEmpty(codigo))
					{
						codigo = codigo.Trim();
					}

											<tr style="height: 15px;" id="@codigo">
												<td style="background-color: rgba(@posicao.Cor.R, @posicao.Cor.G, @posicao.Cor.B, @posicao.Cor.A);">&nbsp;</td>
												<td>@posicao.CodDefeito - @posicao.DesDefeito</td>
												<td>@posicao.QtdDefeito</td>
											</tr>
				}
			}
								}
							</tbody>
							<tfoot>
								<tr style="border-top: solid 1px #000; font-weight: bold;">
									<td colspan="2">Total registros: @resumoPosicao.Count()</td>
									<td>@resumoPosicao.Sum(x => x.QtdDefeito)</td>
								</tr>
							</tfoot>
						</table>

					</td>
					<td style="vertical-align: top;">@ViewBag.grafPosicao</td>
				</tr>
			</table>

			<br />
			<a name="Causa"></a>
			<table class="table-semp blue" style="border: solid 1px blue;">
				<caption>Resumo por Causa</caption>
				<tr>
					<td style="vertical-align: top; width: 400px;">
						<table class="table-semp blue">
							<thead>
								<tr>
									<th style="width: 10px;"></th>
									<th>Descrição Causa</th>
									<th>Qtd. Período</th>
								</tr>
							</thead>
							<tbody>
								@{
			List<ResumoDefeito> resumoCausa = ViewBag.resumoCausa;
			if (resumoCausa != null)
			{
				foreach (var causa in resumoCausa)
				{
					var codcausa = causa.CodDefeito;
					if (!String.IsNullOrEmpty(codcausa))
					{
						codcausa = codcausa.Trim();
					}

											<tr style="height: 15px;" id="@codcausa">
												<td style="background-color: rgba(@causa.Cor.R, @causa.Cor.G, @causa.Cor.B, @causa.Cor.A);">&nbsp;</td>
												<td>@causa.CodDefeito - @causa.DesDefeito</td>
												<td>@causa.QtdDefeito</td>
											</tr>
				}
			}
								}
							</tbody>
							<tfoot>
								<tr style="border-top: solid 1px #000; font-weight: bold;">
									<td colspan="2">Total registros: @resumoCausa.Count()</td>
									<td>@resumoCausa.Sum(x => x.QtdDefeito)</td>
								</tr>
							</tfoot>
						</table>

					</td>
					<td style="vertical-align: top;">@ViewBag.grafCausa</td>
				</tr>
			</table>

			<br />
			<a name="Origem"></a>
			<table class="table-semp blue" style="border: solid 1px blue;">
				<caption>Resumo por Origem</caption>
				<tr>
					<td style="vertical-align: top; width: 400px;">
						<table class="table-semp blue">
					
							<thead>
								<tr>
									<th style="width: 10px;"></th>
									<th>Descrição</th>
									<th>Qtd. Período</th>
								</tr>
							</thead>
							<tbody>
								@{
			List<ResumoDefeito> resumoOrigem = ViewBag.resumoOrigem;
			if (resumoOrigem != null)
			{
				foreach (var origem in resumoOrigem)
				{
					var codorigem = origem.CodDefeito;
					if (!String.IsNullOrEmpty(codorigem))
					{
						codorigem = codorigem.Trim();
					}

											<tr style="height: 15px;" id="@codorigem">
												<td style="background-color: rgba(@origem.Cor.R, @origem.Cor.G, @origem.Cor.B, @origem.Cor.A);">&nbsp;</td>
												<td>@origem.CodDefeito - @origem.DesDefeito</td>
												<td>@origem.QtdDefeito</td>
											</tr>
				}
			}
								}
							</tbody>
							<tfoot>
								<tr style="border-top: solid 1px #000; font-weight: bold;">
									<td colspan="2">Total registros: @resumoOrigem.Count()</td>
									<td>@resumoOrigem.Sum(x => x.QtdDefeito)</td>
								</tr>
							</tfoot>
						</table>

					</td>
					<td style="vertical-align: top;">@ViewBag.grafOrigem</td>
				</tr>
			</table>

		}
	}
</div>
<br />

<div class="boxFiltros">
	<table style="width: 100%; font-size: 14px;">
		<tr>
			<td style="vertical-align: top;">
				<table>
					<tr>
						<td><b>Qtd. Produzida:</b></td>
						<td>@resumo.QtdProduzida</td>
					</tr>
					<tr>
						<td><b>Qtd. Defeito:</b></td>
						<td> @resumo.QtdTotalDefeitos (TOTAL) | @resumo.QtdDefeitos (RESOLVIDOS) <a class="ajuda" title="Quantidade Total de Defeitos / Quantidade de Defeitos Resolvidos"></a></td>
					</tr>
					<tr>
						<td><b>Índice total:</b><a class="ajuda" title="(Total de Defeitos Revisados + Falsa Falha) / Quantidade produzida"></a></td>
						<td>@resumo.IndiceTotal.ToString("0.00") %</td>
					</tr>
				</table>
			</td>
			<td style="vertical-align: top;">
				<table>
					<tr>
						<td><b>Qtd. Acumulada:</b><a class="ajuda" title="Quantidade de produtos em análise"></a></td>
						<td>@resumo.QtdPlacasAcumuladas</td>
					</tr>
					<tr>
						<td><b>Tempo médio reparo:</b></td>
						<td>@resumo.TempoMedio</td>
					</tr>
					<tr>
						<td><b>Índice sem falsa falha:</b></td>
						<td>@resumo.Indice.ToString("0.00") % (@{ Write(resumo.QtdDefeitos - resumo.QtdFalsaFalha);})</td>
					</tr>
				</table>
			</td>
			<td style="vertical-align: top;">
				<table>
					<tr>
						<td><b>Menor tempo de reparo:</b></td>
						<td>@resumo.MenorTempo</td>
					</tr>
					<tr>
						<td><b>Maior tempo de reparo:</b></td>
						<td>@resumo.MaiorTempo</td>
					</tr>
					<tr>
						<td><b>Índice falsa falha:</b></td>
						<td>@resumo.IndiceFalsaFalha.ToString("0.00") % (@resumo.QtdFalsaFalha)</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>

<div class="areaVoltar">
	<button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="Imprimir();">Imprimir</button>
	<button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="Voltar();">Voltar</button>

</div>
<br />
<script>
	var url = "";

	$(document).ready(function() {
		$("#btnExportar").click(function () {
			var datInicio = "@datIni";
			var datFim = "@datFim";
			var modelo = "@modelo";
			var fase = "@setor";
			var codLinha = "@codLinha";
			var turno = "@turno";
			var codDRT = "@codDRT";
			var familia = "@familia";

			window.open("/Coleta/RelatorioTecnico/GerarExcel/?datInicio=" + datInicio +
				"&datFim=" + datFim +
				"&fase=" + fase +
				"&codLinha=" + codLinha +
				"&turno=" + turno +
				"&codDRT=" + codDRT +
				"&codModelo=" + modelo +
				"&familia=" + familia);
		});

		$("#dlgDetalhes").dialog({
			title: 'Detalhes',
			autoOpen: false,
			resizable: false,
			width: 615,
			height: 495,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(this).html("");
				$(this).load(url);
			}
		});


	});

	function AbrirDetalhe(numECB, codDefeito, codLinha, numPosto, datEvento) {

		url = "/Coleta/RelatorioTecnico/Detalhe/?numECB=" + numECB +
				"&codDefeito=" + codDefeito +
				"&codLinha=" + codLinha +
				"&numPosto=" + numPosto +
				"&datEvento=" + encodeURI(datEvento);

		$("#dlgDetalhes").dialog('open');
	}

	function Voltar() {
		history.back();
		//document.location.href = "/Coleta/RelatorioTecnico";
	}

	function Imprimir() {
		window.print();
	}

	function alterafundo(id) {
		$("#" + id).css('background-Color', 'rgba(255, 255, 0, 0.5)');
	}

	function voltafundo(id) {
		$("#" + id).css('background-Color', '');
	}

	function VerPlacas() {
		$("#frmRelatorio").submit();

	}

</script>
