﻿@model List<SEMP.Model.DTO.viw_CBDefeitoTurnoDTO>
@{ 
	if (Model == null){
		return;
	}

	var dados = Model;

	var distintos = dados.GroupBy(x => x.NumECB).Count();
	var resumoStatus = dados.GroupBy(x => x.FlgRevisado).Select(x => new { Status = x.Key, Qtde = x.Count() }).ToList();
	var resumoFase = dados.GroupBy(x => x.Setor).Select(x => new { Fase = x.Key, Qtde = x.Count() }).ToList();
	var resumoModelo = dados.GroupBy(x => new { x.CodModelo, x.DesModelo }).Select(x => new {CodModelo = x.Key.CodModelo, Modelo = x.Key.DesModelo, Qtde = x.Count() }).ToList();
	var resumoCausa = dados.GroupBy(x => x.DesCausa).Select(x => new { Causa = x.Key, Qtde = x.Count() }).OrderByDescending(x => x.Qtde).ToList();

}
<style>
	dt, dl {font-size: 14px;}
	td.tipo { width: 200px; overflow: hidden; clear: left; text-align: left; text-overflow: ellipsis; white-space: nowrap; font-weight: bold;}
</style>
<h3 style="border-bottom: solid 1px black">Resumo de Defeitos no mês</h3>


<div class="row" style="margin-left: 0;">

	<div class="pull-left margem">
		<dl class="dl-horizontal">
			<dt>Total de Defeitos:</dt>
			<dd>@dados.Count() / @distintos distintos</dd>
		</dl>

		<table class="table table-condensed" style="width: 300px;">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Quantidade</th>
				</tr>
			</thead>
			<tbody><tr class="warning"><td colspan="3">Por Status</td></tr></tbody>
			@foreach (var item in resumoStatus)
			{
				var status = "";
				if (item.Status == 0)
				{
					status = "Em aberto";
				}
				else if (item.Status == 1)
				{
					status = "Revisado";
				}
				else if (item.Status == 2)
				{
					status = "Cancelado";
				}
				else if (item.Status == 3)
				{
					status = "Scrap";
				}
				else if (item.Status == 4)
				{
					status = "Defeito alterado";
				}
				<tr>
					<td class="tipo">@status</td>
					<td class="text-center">@item.Qtde</td>
				</tr>
			}

			<tbody><tr><td colspan="3" style="background-color: white; height: 15px;"></td></tr><tr class="warning"><td colspan="3">Por Fase</td></tr></tbody>
			@foreach (var item in resumoFase)
			{
			<tr>
				<td class="tipo">@item.Fase</td>
				<td class="text-center">@item.Qtde</td>
			</tr>
			}
		</table>
	</div>
	<div class="pull-left margem">
		<table class="table table-condensed" style="width: 300px;">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Quantidade</th>
				</tr>
			</thead>
			<tbody><tr class="warning"><td colspan="3">Por Modelo</td></tr></tbody>
			@foreach (var item in resumoModelo)
			{
			<tr>
				<td class="tipo">@item.CodModelo @item.Modelo</td>
				<td class="text-center">@item.Qtde</td>
			</tr>
			}

		</table>

	</div>

	<div class="pull-left">
		<table class="table table-condensed" style="width: 300px;">
			<thead>
				<tr>
					<th>Tipo</th>
					<th>Quantidade</th>
				</tr>
			</thead>
			<tbody><tr class="warning"><td colspan="3">Por Causa</td></tr></tbody>
			@foreach (var item in resumoCausa)
			{
				var causa = item.Causa ?? "<NÃO IDENTIFICADO>";

			<tr>
				<td class="tipo">@causa</td>
				<td class="text-center">@item.Qtde</td>
			</tr>
			}

		</table>

	</div>
</div>


