﻿@using SEMP.Model.DTO;
@using SEMP.Model.VO.Rastreabilidade.Relatorios;

@Scripts.Render("~/bundles/highcharts")

@{
	ViewBag.Title = "Relatório Técnico - por Técnico";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Relatório Técnico";

	List<viw_CBDefeitoTurnoDTO> defeitos = ViewBag.defeitos;

	var tecnico = Request["CodDRT"];
	var DatIni = Request["DatInicio"];
	var DatFim = Request["DatFim"];
	var setor = Request["Fase"];
	var turno = Request["Turno"];

	if (turno == "0")
	{
		turno = "Todos";
	}

	var resumo = (ResumoRelatorioTecnico)ViewBag.resumoRel;
}
@Scripts.Render("~/bundles/excelexport")

<style type="text/css">
	.cabecalho_tecnico
	{
		border: solid 2px black;
		width: 100%;
	}

	.rodape_tecnico
	{
		border: solid 2px black;
		width: 100%;
	}
</style>

<span style="float: left; margin-right: 10px;"><button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="Voltar();"><img src="~/images/voltar.gif" style="width: 16px; height: 16px;" /></button></span>
<h3>@ViewBag.Title</h3>

<div class="boxFiltros">
	<table style="width: 50%; font-size: 14px;" cellspacing="4">
		<tr>
			<td style="width:25%"><b>Setor:</b> @setor</td>
			<td style="width:50%"><b>Período: </b>@DatIni - @DatFim</td>
			<td style="width:25%"><b>Turno:</b> @turno </td>
			<td style="width: 10%; text-align: right;"><input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" /></td>
		</tr>
		<tr>
			<td colspan="4"><b>Nome:</b> @ViewBag.nome</td>
		</tr>
	</table>
</div>

<div>

	<table class="table-semp orange" id="tblDados">
		<caption>Analítico</caption>
		<thead>
			<tr>
				<th>Modelo</th>
				<th>Linha</th>
				<th><a href="#Defeito">Defeito</a></th>
				<th><a href="#Causa">Causa</a></th>
				<th>Posto Origem</th>
				<th style="width: 35px;">Tipo de N/C</th>
				<th><a href="#Posicao">Posição</a></th>
				<th><a href="#Origem">Origem</a></th>
				<th>Nro. de Série</th>
				<th>Ação imediata</th>
				<th style="width: 60px;">Tempo reparo</th>
				<th style="width: 30px;">Qtd. Def. Mês</th>
			</tr>
		</thead>
		<tbody>
			@{
				if (!defeitos.Any())
				{
				<tr style="height: 15px;">
					<td>&nbsp;</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				}
				else
				{
					foreach (var defeito in defeitos)
					{
						//var hora = (defeito.DatRevisado - defeito.DatEvento);
						var thora = defeito.TempoReparo.Value.Hours.ToString().PadLeft(2, '0') + ":" + defeito.TempoReparo.Value.Minutes.ToString().PadLeft(2, '0') + ":" + defeito.TempoReparo.Value.Seconds.ToString().PadLeft(2, '0');
						string dias = "";
						if (defeito.TempoReparo.Value.Days > 0)
						{
							dias = defeito.TempoReparo.Value.Days.ToString() + " dias ";
						}

				<tr style="height: 15px;">
					<td>@defeito.DesModelo</td>
					<td>@defeito.DesLinha</td>
					<td>@defeito.CodDefeito - @defeito.DesDefeito</td>
					<td>@defeito.CodCausa - @defeito.DesCausa</td>
					<td>@defeito.NumPosto - @defeito.DesPosto</td>
					<td>@defeito.FlgTipo</td>
					<td>@defeito.Posicao</td>
					<td>@defeito.CodOrigem - @defeito.DesOrigem</td>
					<td>@defeito.NumECB</td>
					<td>@defeito.DesAcao</td>
					<td>@dias @thora</td>
					<td>@defeito.QtdMes</td>
				</tr>
					}
				}
			}
		</tbody>
	</table>

	<br /><a name="Defeito"></a>
	<table class="table-semp blue" style="border: solid 1px blue;">
		<caption>Resumo por Defeito</caption>
		<tr>
			<td style="vertical-align: top; width: 400px;">
				<table class="table-semp blue">
					<thead>
						<tr>
							<th style="width: 10px;"></th>
							<th>Descrição</th>
							<th>Qtd. Período</th>
							<th>Qtd. Acum. Mês</th>
						</tr>
					</thead>
					<tbody>
						@{
							List<ResumoDefeito> resumoDefeito = ViewBag.resumoDefeitos;
							if (resumoDefeito != null)
							{
								foreach (var defeito in resumoDefeito)
								{
							<tr style="height: 15px;" id="@defeito.CodDefeito">
								<td style="background-color: rgba(@defeito.Cor.R, @defeito.Cor.G, @defeito.Cor.B, @defeito.Cor.A); ">&nbsp;</td>
								<td>@defeito.CodDefeito - @defeito.DesDefeito</td>
								<td>@defeito.QtdDefeito</td>
								<td>@defeito.QtdAcumulada</td>
							</tr>
								}
							}
						}
					</tbody>
				</table>
			</td>
			<td style="vertical-align: top;">@ViewBag.grafDefeito</td>
		</tr>
	</table>

	<br /><a name="Causa"></a>
	<table class="table-semp blue" style="border: solid 1px blue;">
		<caption>Resumo por Defeito</caption>
		<tr>
			<td style="vertical-align: top; width: 400px;">
				<table class="table-semp blue">
					<thead>
						<tr>
							<th style="width: 10px;"></th>
							<th>Descrição</th>
							<th>Qtd. Período</th>
						</tr>
					</thead>
					<tbody>
						@{
							List<ResumoDefeito> resumoCausa = ViewBag.resumoCausa;
							if (resumoCausa != null)
							{
								foreach (var causa in resumoCausa)
								{
									var codcausa = causa.CodDefeito;
									if (!String.IsNullOrEmpty(codcausa))
									{
										codcausa = codcausa.Trim();
									}

							<tr style="height: 15px;" id="@codcausa">
								<td style="background-color: rgba(@causa.Cor.R, @causa.Cor.G, @causa.Cor.B, @causa.Cor.A); ">&nbsp;</td>
								<td>@causa.CodDefeito - @causa.DesDefeito</td>
								<td>@causa.QtdDefeito</td>
							</tr>
								}
							}
						}
					</tbody>
				</table>

			</td>
			<td style="vertical-align: top;">@ViewBag.grafCausa</td>
		</tr>
	</table>

	<br /><a name="Posicao"></a>
	<table class="table-semp blue" style="border: solid 1px blue;">
		<caption>Resumo por Defeito</caption>
		<tr>
			<td style="vertical-align: top; width: 400px;">
				<table class="table-semp blue">
					<thead>
						<tr>
							<th style="width: 10px;"></th>
							<th>Descrição</th>
							<th>Qtd. Período</th>
						</tr>
					</thead>
					<tbody>
						@{
							List<ResumoDefeito> resumoPosicao = ViewBag.resumoPosicao;
							if (resumoPosicao != null)
							{
								foreach (var posicao in resumoPosicao)
								{
									var codigo = posicao.CodDefeito;
									if (!String.IsNullOrEmpty(codigo))
									{
										codigo = codigo.Trim();
									}

							<tr style="height: 15px;" id="@codigo">
								<td style="background-color: rgba(@posicao.Cor.R, @posicao.Cor.G, @posicao.Cor.B, @posicao.Cor.A); ">&nbsp;</td>
								<td>@posicao.CodDefeito</td>
								<td>@posicao.QtdDefeito</td>
							</tr>
								}
							}
						}
					</tbody>
				</table>

			</td>
			<td style="vertical-align: top;">@ViewBag.grafPosicao</td>
		</tr>
	</table>

	<br /><a name="Origem" ></a>
	<table class="table-semp blue" style="border: solid 1px blue;">
		<caption>Resumo por Defeito</caption>
		<tr>
			<td style="vertical-align: top; width: 400px;">
				<table class="table-semp blue">
					<thead>
						<tr>
							<th style="width: 10px;"></th>
							<th>Descrição</th>
							<th>Qtd. Período</th>
						</tr>
					</thead>
					<tbody>
						@{
							List<ResumoDefeito> resumoOrigem = ViewBag.resumoOrigem;
							if (resumoOrigem != null)
							{
								foreach (var origem in resumoOrigem)
								{
									var codorigem = origem.CodDefeito;
									if (!String.IsNullOrEmpty(codorigem))
									{
										codorigem = codorigem.Trim();
									}

							<tr style="height: 15px;" id="@codorigem">
								<td style="background-color: rgba(@origem.Cor.R, @origem.Cor.G, @origem.Cor.B, @origem.Cor.A); ">&nbsp;</td>
								<td>@origem.CodDefeito - @origem.DesDefeito</td>
								<td>@origem.QtdDefeito</td>
							</tr>
								}
							}
						}
					</tbody>
				</table>

			</td>
			<td style="vertical-align: top;">@ViewBag.grafOrigem</td>
		</tr>
	</table>

</div>
<br />

<div class="boxFiltros">
<table style="width: 100%; font-size: 14px;">
		<tr>
			<td style="vertical-align: top;">
				<table>
					<tr>
						<td><b>Qtd. Produzida:</b></td>
						<td>@resumo.QtdProduzida</td>
					</tr>
					<tr>
						<td><b>Qtd. Defeito:</b></td>
						<td>@resumo.QtdDefeitos</td>
					</tr>
					<tr>
						<td><b>Índice total:</b></td>
						<td>@resumo.IndiceTotal.ToString("0.00") %</td>
					</tr>
				</table>
			</td>
			<td style="vertical-align: top;">
				<table>
					<tr>
						<td><b>Qtd. Acumulada:</b></td>
						<td>@resumo.QtdPlacasAcumuladas</td>
					</tr>
					<tr>
						<td><b>Tempo médio reparo:</b></td>
						<td>@resumo.TempoMedio</td>
					</tr>
					<tr>
						<td><b>Índice sem falsa falha:</b></td>
						<td>@resumo.Indice.ToString("0.00") %</td>
					</tr>
				</table>
			</td>
			<td style="vertical-align: top;">
				<table>
					<tr>
						<td><b>Menor tempo de reparo:</b></td>
						<td>@resumo.MenorTempo</td>
					</tr>
					<tr>
						<td><b>Maior tempo de reparo:</b></td>
						<td>@resumo.MaiorTempo</td>
					</tr>
					<tr>
						<td><b>Índice falsa falha:</b></td>
						<td>@resumo.IndiceFalsaFalha.ToString("0.00") %</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>

<div class="areaVoltar">
	<a href="#" class="bttn bttn-sm bttn-red" onclick=" return false;">Imprimir</a>
	<a href="#" class="bttn bttn-sm bttn-red" onclick="Voltar(); return false;">Voltar</a>
</div>
<br />
<script>
	$(document).ready(function () {
		$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});
		});
	});

	function Voltar() {
		history.back();
	}

	function alterafundo(id) {
		$("#" + id).css('background-Color', 'rgba(255, 255, 0, 0.5)');
	}

	function voltafundo(id) {
		$("#" + id).css('background-Color', '');
	}

</script>
