﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.Relatorios.ArvoreModelo>

@{
	ViewBag.Title = "Árvore de Produto";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Árvore Modelo";

	var Modelo = Request["codModelo"];
	var Descricao = Request["Descricao"];

	if (String.IsNullOrEmpty(Modelo)) { Modelo = ""; }
	int total = 0;

}
@Scripts.Render("~/bundles/excelexport")
@Scripts.Render("~/bundles/datatable")
@Styles.Render("~/Content/datatable")

<h3>@ViewBag.Title</h3>

<form name="frmRelatorio" id="frmRelatorio" action="/Outros/ArvoreModelo/" method="post" class="form-inline">
	<div class="row">
		<div class="col-md-4">
			<label>Modelo&#58; </label>
			<div class="input-group input-group-sm">
				<input type="text" name="codModelo" id="Modelo" value="@Modelo" class="form-control" style="width: 60px;" />
				<input type="text" name="Descricao" id="Descricao" value="@Descricao" class="input-group-addon" style="width: 200px;" disabled="disabled" />
			</div>
		</div>
		<div class="col-md-4 col-md-offset-4">
			<div class="btn-group">
				<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="btn btn-success" />
				<input type="submit" name="btnEnviar" value="Consultar" class="btn btn-danger" />
			</div>
		</div>
	</div>

</form>


<table id="tblDados" class="display cell-border compact">
	<thead>
		<tr>
			<th>Modelo / AP</th>
			<th style="width: 30px;">@Html.DisplayNameFor(model => model.CodStatus)</th>
			<th style="width: 30px;">@Html.DisplayNameFor(model => model.TipAP)</th>
			<th>@Html.DisplayNameFor(model => model.QtdLoteAP)</th>
			<th>@Html.DisplayNameFor(model => model.QtdProduzida)</th>
			<th>@Html.DisplayNameFor(model => model.QtdSaldo)</th>
			<th>@Html.DisplayNameFor(model => model.QtdEmbalado)</th>
			<th>@Html.DisplayNameFor(model => model.QtdDiferenca)</th>
			<th>@Html.DisplayNameFor(model => model.Observacao)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
			total++;
			var descricao = "";
			var nivel = "";
			if (item.Nivel > 1) 
			{
				for (var i = 0; i < item.Nivel-1; i++){
					nivel += "<div class='nivel_vazio'>&nbsp;</div>";
				}
			}

			if (item.Nivel == 0) 
			{
				descricao = "<div class='nivel_modelo'>" + item.CodModelo + " - " + item.DesModelo + "</div>";
			}
			else if (String.IsNullOrEmpty(item.CodFab)) 
			{
				descricao = "<div class='nivel_arvore'>&nbsp;</div><div class='nivel_item'>" + item.CodModelo + " - " + item.DesModelo + "</div>";
			}
			else
			{
				descricao = "<div class='nivel_arvore'>&nbsp;</div><div class='nivel_ap'>" + item.CodFab + " - " + item.NumAP + "</div>";
			}

			<tr style="text-align: right;">
				<td style="text-align: left;">@{WriteLiteral(nivel + descricao); }</td>
				<td style="text-align: center;">@Html.DisplayFor(modelItem => item.CodStatus)</td>
				<td style="text-align: center;">@Html.DisplayFor(modelItem => item.TipAP)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdLoteAP)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdProduzida)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdSaldo)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdEmbalado)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdDiferenca)</td>
				<td style="text-align: left;">@Html.DisplayFor(modelItem => item.Observacao)</td>
			</tr>
}
	</tbody>
</table>

<br /><br /><br />

<script>
	$(document).ready(function () {

		$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados"
			   , datatype: $datatype.MVC
			});
		});

		$('#tblDados').DataTable({
			"paging": false,
			"ordering": false,
			"filter": false,
			"info": false,
			"language": {
				"lengthMenu": "Mostrar _MENU_ registros por página",
				"zeroRecords": "Nenhum registro encontrado",
				"info": "_TOTAL_ registros encontrados",
				"infoEmpty": "Nenhum registro encontrado",
				"infoFiltered": "(filtrado de _MAX_ total de registros)"
			}
		});

		$("#Modelo").blur(function () {
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: $("#Modelo").val() },
				success: function (data) {
					$("#Descricao").val(data);
				}
			});
		});
	});
</script>
