﻿@{
	ViewBag.Title = "SEMP TCL MOBILIDADE";
	Layout = "~/Views/Shared/_Layout_Simple.cshtml";
}
@Styles.Render("~/Content/painelProducao")
@Scripts.Render("~/bundles/highcharts")
<div class="container-fluid" style="margin-top: 10px;">
	<div class="row">
		<div class="form-inline">
			<div class="input-group">
				<label class="input-group-addon">Linha</label>
				<select name="codLinha" id="codLinha" class="form-control">
					<option>Todas</option>
					<option value="1">Linha 1</option>
					<option value="3">Linha 2</option>
					<option value="5">Linha 3</option>
					<option value="6">Linha 4</option>
					<option value="7">Linha 5</option>
					<option value="9">Linha 6</option>
					<option value="11">Retrabalho 1</option>
					<option value="13">Retrabalho 2</option>
				</select>
			</div>
			<button class="btn btn-default" type="button" title="Consultar leituras da ordem no período" onclick="Consultar();"><i class="glyphicon glyphicon-search"></i></button>

			<div class="input-group">
				<label class="input-group-addon">Quantidade prod.:</label>
				<input type="text" id="txtQtdProd" name="txtQtdProd" class="form-control text-right" readonly />
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 0;">
		<div id="graficoMes"></div>
	</div>
</div>


<script>
	var grafico;
	var url = '@Request.Url.AbsoluteUri';
	if (url.substr(url.length - 1, 1) == "/") {
		url = url.substring(0, url.length - 1);
	}
	url += 'CSV/';

	var endereco = url;

	function IniciaGrafico() {
		grafico = Highcharts.chart('graficoMes', {
			chart: {
				type: 'column',
				options3d: {
					enabled: true,
					alpha: 15,
					beta: 0,
					viewDistance: 100,
					depth: 20
				}
			},
			title: {
				text: 'SEMP TCL - Produção Hora a Hora'
			},
			legend: {
				enabled: true
			},
			data: {
				csvURL: endereco,
				enablePolling: true,
				dataRefreshRate: 10,
				complete: function (options) {
					var soma = 0;
					$(options.series).each(function (index, value) {

						$(value.data).each(function (i, v) {
							soma += v[1];
						});
					});
					$("#txtQtdProd").val(soma);
					// Add another series to the output
					/*options.series.push({
						name: 'Trend',
						data: [{ x: 1880, y: -0.4 }, { x: 2014, y: 0.52 }],
						dashStyle: 'dash'
					});*/
				}
			},
			plotOptions: {
				column: {
					grouping: false,
					shadow: false,
					borderWidth: 0
				},
				series: {
					dataLabels: {
						enabled: true
					}
				}
			},
			tooltip: {
				valueDecimals: 1
			},
			xAxis: {
				type: 'category',
				labels: {
					style: {
						fontSize: '10px'
					}
				}
			},
			yAxis: [
				{
					min: 0,
					title: { text: 'Plano' }
				}, {
					title: { text: 'Produzido' },
					opposite: true
				}]
		});

	}

	function Consultar() {
		var linha = $("#codLinha").val();

		if (linha != "") {
			endereco = url + "?codLinha=" + linha;

			IniciaGrafico();
		}

	}

	$(document).ready(function () {
		IniciaGrafico();

		setTimeout("document.location.reload();", 3600000);

	});


</script>
