﻿
@{
	ViewBag.Title = "SEMP TCL MOBILIDADE";
	Layout = "~/Views/Shared/_Layout_Simple.cshtml";
}
@Styles.Render("~/Content/painelProducao")
@Scripts.Render("~/bundles/highcharts")

<h2>@ViewBag.Title</h2>
<div class="container-fluid">
	<div class="row" style="margin-bottom: 0;">
		<div id="conteudoAgora"></div>
	</div>
	<div class="row" style="margin-top: 0;">
		<h3>No mês</h3>
		<div id="graficoMes" style="height: 300px;"></div>
		<div id="conteudoMes" class="hidden"></div>
	</div>
</div>


<script>
	var grafico, grafico2;
	var endereco = '@Request.Url.AbsoluteUri';
	function IniciaGrafico() {
		grafico = Highcharts.chart('graficoMes', {
			chart: {
				type: 'column'
			},
			title: {
				text: 'Resumo de Produção Mensal'
			},
			legend: {
				enabled: true
			},
			data: {
				table: 'datatable',
				enablePolling: true,
				dataRefreshRate: 10
			},
			plotOptions: {
				column: {
					shadow: false,
					borderWidth: 0
				},
				series: {
					dataLabels: {
						enabled: true
					}
				}
			},
			tooltip: {
				valueDecimals: 1
			},
			xAxis: {
				type: 'category',
				labels: {
					style: {
						fontSize: '10px'
					}
				}
			},
			yAxis: [
				{
					min: 0,
					title: { text: 'Plano' }
				}, {
					title: { text: 'Produzido' },
					opposite: true
				}]
		});

	}

	function fn_regarregar() {
		var urlPagina = "@Url.Action("Agora", "PainelMOB")";

		$.ajax({
			type: "GET",
			url: urlPagina,
			dataType: "html",
			cache: false,
			async: true,
			success: function (data) {
				$("#conteudoAgora").html(data);
			},
			error: function (xhr, er) {

			}
		});
	};

	function fn_carregames() {
		var urlPagina = "@Url.Action("Mes", "PainelMOB")";

		$.ajax({
			type: "GET",
			url: urlPagina,
			dataType: "html",
			cache: false,
			async: true,
			success: function (data) {
				$("#conteudoMes").html(data);
				IniciaGrafico();
			},
			error: function (xhr, er) {
				$("#conteudoMes").html(er);
			}
		});
	}


	$(document).ready(function () {
		fn_regarregar();
		fn_carregames();
		setInterval("fn_regarregar();", 30000);
		setInterval("fn_carregames();", 30000);

		setTimeout("document.location.reload();", 3600000);

	});


</script>
