﻿@model IEnumerable<SEMP.Model.VO.Mobilidade.ResumoProducaoAlcatel>
@{
	Layout = null;
}
<table class="table table-bordered table-sm" id="datatable">
	<thead>
		<tr>
			<th>Modelo</th>
			<th>Planejado</th>
			<th>Produzido</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.SKU</td>
				<td>@item.QTD_PLAN</td>
				<td>@item.QTD_PROD</td>
			</tr>
		}
	</tbody>
</table>