﻿@model IEnumerable<SEMP.Model.DTO.WIPProducaoDTO>

@{
	ViewBag.Title = "Work in Process";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Work in Process";

	var Familia = Request["Familia"];
	var Local = Request["Local"];

	if (String.IsNullOrEmpty(Familia)) { Familia = ""; }
	if (String.IsNullOrEmpty(Local)) { Local = ""; }

	List<string> familias = ViewBag.familias;
	List<SEMP.Model.DTO.WIPProducaoDTO> locais = ViewBag.locais;

	if (familias == null)
	{
		familias = new List<string>() { "TODOS" };
	}

}
@Scripts.Render("~/bundles/excelexport")
@Scripts.Render("~/bundles/datatable")
@Styles.Render("~/Content/datatable")

<h3>@ViewBag.Title</h3>

<div class="notifications top-left"></div>
<div id="msgAtualizando" style="position: absolute; top: 200px; left: 100px; display: none;"><img src="~/Images/carregando.gif" /></div>

<form name="frmRelatorio" id="frmRelatorio" action="/Outros/WIP/" method="post" class="form-inline">
	<div class="row">
		<div class="col-md-3">
			<label>Local&#58;</label>
			<select name="Local" id="Local" class="form-control">
				<option @{ if (Local == "") { Write("selected"); } } value="TODOS">TODOS</option>
				<option @{ if (Local == "801") { Write("selected"); } } value="801">801 - PROD.IAC</option>
				<option @{ if (Local == "802") { Write("selected"); } } value="802">802 - PROD.IMC</option>
				<option @{ if (Local == "803") { Write("selected"); } } value="803">803 - PROD.FEC (STA)</option>
				<option @{ if (Local == "804") { Write("selected"); } } value="804">804 - PROD.FEC (STI)</option>
			</select>
		</div>
		<div class="col-md-2">
			<label>Família&#58;</label>
			<select name="Familia" id="Familia" class="form-control">
				@{
					foreach (var fam in familias)
					{
						var familia = fam.Equals("TODOS") ? "" : fam;

						<option @{ if (Familia == fam) { Write("selected"); } } value="@familia">@fam</option>
					}
				}
			</select>
		</div>
		<div class="col-md-4 col-md-offset-3">
			<div class="btn-group">
				<input type="button" id="btnGerar" name="btnGerar" value="Atualizar dados" class="btn btn-danger" />
				<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="btn btn-success" />
				<input type="submit" name="btnEnviar" value="Consultar" class="btn btn-danger" />
			</div>
		</div>
	</div>

</form>


<table id="tblDados" class="display cell-border compact" style="visibility: hidden;">
	<thead>
		<tr>
			<th style="width: 40px;"></th>
			<th>@Html.DisplayNameFor(model => model.CodItem)</th>
			<th style="width: 100px;">@Html.DisplayNameFor(model => model.QtdEstoque)</th>
			<th style="width: 100px;">@Html.DisplayNameFor(model => model.Valor)</th>
			<th style="width: 70px;">%</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var local in locais)
		{
			const string m = "m";

			<tr onclick="abrefecha('@local.CodLocal@local.Familia');" style="background-color: aliceblue;">
				<td style="text-align: right;">
					<div class="nivel_modelo" id="@m@local.CodLocal@local.Familia">&nbsp;</div>@local.CodLocal</td>
				<td>@local.Familia</td>
				<td></td>
				<td style="text-align: right;">@local.Valor.Value.ToString("C2")</td>
				<td style="text-align: right;">@local.QtdEstoque.Value.ToString("P2")</td>
			</tr>

			foreach (var item in Model.Where(x => x.CodLocal == local.CodLocal && x.Familia == local.Familia).ToList())
			{
				<tr style="text-align: right; display: none;" class="@item.CodLocal@item.Familia">
					<td>
						<div class="nivel_arvore">&nbsp;</div>
					</td>
					<td style="text-align: left;">@Html.DisplayFor(modelItem => item.CodItem) - @Html.DisplayFor(modelItem => item.DesItem)</td>
					<td>@Html.DisplayFor(modelItem => item.QtdEstoque)</td>
					<td>@Html.DisplayFor(modelItem => item.Valor)</td>
					<td></td>
				</tr>
			}
		}
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td style="text-align: right;">@{Write(Model.Sum(x => x.Valor).Value.ToString("C2"));}</td>
			<td></td>
		</tr>
	</tfoot>
</table>
<br />
<br />
<br />

<script>
	function abrefecha(obj) {
		var obj2 = $("." + obj);
		obj2.toggle();

		if (obj2.css("display") == "none") {
			$("#m" + obj).switchClass("nivel_item", "nivel_modelo", 1000);
		}
		else {
			$("#m" + obj).switchClass("nivel_modelo", "nivel_item", 1000);
		}

	}


	$(document).ready(function () {

		$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados"
			   , datatype: $datatype.MVC
			});
		});

		$('#tblDados').DataTable({
			"paging": false,
			"ordering": false,
			"filter": true,
			"info": false,
			"language": {
				"lengthMenu": "Mostrar _MENU_ registros por página",
				"zeroRecords": "Nenhum registro encontrado",
				"info": "_TOTAL_ registros encontrados",
				"infoEmpty": "Nenhum registro encontrado",
				"infoFiltered": "(filtrado de _MAX_ total de registros)",
				"search": "Localizar:"
			}
		});

		$("#Modelo").blur(function () {
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: $("#Modelo").val() },
				success: function (data) {
					$("#Descricao").val(data);
				}
			});
		});

		$("#btnGerar").click(function () {
			$("#msgAtualizando").toggle();
			$.ajax({
				type: "GET",
				url: "/Outros/WIP/GerarDadosWIP/",
				success: function (data) {
					$("#msgAtualizando").toggle();
					if (data == "OK") {
						alert('Dados gerados com sucesso!');
						document.location.reload();
					} else {
						$('.top-left').notify({
							message: { text: data },
							type: "error",
							closable: true
					}).show();
					}
				}
			});
		});
		$('#tblDados').css('visibility', 'visible');
	});
</script>
