﻿@model SEMP.Model.DTO.CBPlanoAcaoDTO

@using (Html.BeginForm("Create", "PlanoAcao", FormMethod.Post, new { @id = "frmPlano" }))
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.CodPlano, new { @class = "form-control" })
		<div class="row">
			<div class="col-md-4">
				@Html.LabelFor(model => model.CodLinha, new { @class = "control-label" })
				<div class="form-group">
					<div class="input-group">
						<select name="CodLinha" id="linha" class="form-control input-sm">
							<option value="">SELECIONE A LINHA</option>
						</select>
					</div>
				</div>
				@Html.ValidationMessageFor(model => model.CodLinha)
			</div>

			<div class="col-md-6">
				@Html.LabelFor(model => model.NumPosto, new { @class = "control-label" })
				<select name="NumPosto" id="postos" class="form-control input-sm" style="width: 200px;">
					<option value="">AGUARDANDO A LINHA...</option>
				</select>
				@Html.ValidationMessageFor(model => model.NumPosto)
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				@Html.LabelFor(model => model.DatPlano, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DatPlano, new {@class = "form-control calendar"})
				@Html.ValidationMessageFor(model => model.DatPlano)
			</div>

			<div class="col-md-7">
				@Html.LabelFor(model => model.CodDRT, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.CodDRT, new { @class="form-control", style="width: 150px;", @maxlength="50"})
				@Html.ValidationMessageFor(model => model.CodDRT)
			</div>
		</div>

		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.DesPlano, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DesPlano, new { @class="form-control", @style=""})
				@Html.ValidationMessageFor(model => model.DesPlano)
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				@Html.LabelFor(model => model.FlgStatus, new { @class = "control-label" })
				<select name="FlgStatus" id="FlgStatus" class="form-control">
					<option value="0" selected="">Aberto</option>
					<option value="1">Em andamento</option>
					<option value="2">Concluído</option>
				</select>
				@Html.ValidationMessageFor(model => model.FlgStatus)
			</div>

			<div class="col-md-4">
				@Html.LabelFor(model => model.DatConclusao, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DatConclusao, new { @class = "form-control calendar" })
				@Html.ValidationMessageFor(model => model.DatConclusao)
			</div>

			<div class="col-md-3">
				@Html.LabelFor(model => model.Hora, new { @class = "control-label" })
				<select name="Hora" id="Hora" class="form-control">
					<option value="" selected="">o Dia</option>
					<option value="7">07:00</option>
					<option value="8">08:00</option>
					<option value="9">09:00</option>
					<option value="10">10:00</option>
					<option value="11">11:00</option>
					<option value="12">12:00</option>
					<option value="13">13:00</option>
					<option value="14">14:00</option>
					<option value="15">15:00</option>
					<option value="16">16:00</option>
					<option value="17">17:00</option>
					<option value="18">18:00</option>
					<option value="19">19:00</option>
					<option value="20">20:00</option>
					<option value="21">21:00</option>
					<option value="22">22:00</option>
					<option value="23">23:00</option>
					<option value="0">00:00</option>
					<option value="1">01:00</option>
					<option value="2">02:00</option>
					<option value="3">03:00</option>
					<option value="4">04:00</option>
					<option value="5">05:00</option>
					<option value="6">06:00</option>
				</select>
				@Html.ValidationMessageFor(model => model.Hora)
			</div>
		</div>

		<div class="row">
			<div style="margin-top: 10px; margin-right: 10px; display: inline-block;">
				<input type="button" onclick="$('#janela').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
			</div>
		</div>
	</div>
}

<br/>

<script>
	function gravar() {
		$.ajax({
			type: "POST",
			url: "/Outros/PlanoAcao/Create/",
			data: $("#frmPlano").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Registro inserido com sucesso.");
					btnEnviar_Click();
					$("#CodPlano").val("");
					$("#DesPlano").val("");
					$("#CodDRT").val("");
					$("#DatPlano").val("");
					$("#DatConclusao").val("");

				} else {
					alert(json);
				}
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr);
			}
		});
	}

	$(function () {


		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: "FEC" },
			dataType: "json",
			success: function(json) {
				var options = "";
				options += '<option value=""> SELECIONE A LINHA </option>';
				$.each(json, function(key, Linhas) {
					options += '<option value="' + Linhas.CodLinha + '">' + Linhas.DesLinha + '</option>';
				});
				$("#linha").html(options);
			}
		});

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: "IMC" },
			dataType: "json",
			success: function (json) {
				var options = $("#linha").html();
				$.each(json, function (key, Linhas) {
					options += '<option value="' + Linhas.CodLinha + '">' + Linhas.DesLinha + '</option>';
				});
				$("#linha").html(options);
			}
		});

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: "IAC" },
			dataType: "json",
			success: function (json) {
				var options = $("#linha").html();
				$.each(json, function (key, Linhas) {
					options += '<option value="' + Linhas.CodLinha + '">' + Linhas.DesLinha + '</option>';
				});
				$("#linha").html(options);
			}
		});


		$("#DatPlano").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2
		});
		$("#DatConclusao").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2
		});

	});

	function CarregarPostos() {
		$.ajax({
			type: "GET",
			url: "/posto/GetPostos/",
			data: { codLinha: $("#linha").val() },
			dataType: "json",
			success: function (json) {
				var options = "";

				options += '<option value=""> SELECIONE O POSTO </option>';

				$.each(json, function (key, dados) {
					options += '<option value="' + dados.NumPosto + '">' + dados.DesPosto + '</option>';
				});
				$("#postos").html(options);
			}
		});
	}

	$("#linha").blur(CarregarPostos);
	$("#linha").change(CarregarPostos);
</script>