﻿@model SEMP.Model.DTO.CBPlanoAcaoDTO

<h3>Confirma a exclusão desse registro?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.CodPlano)</dt>
		<dd>@Html.DisplayFor(model => model.CodPlano)</dd>
		<dt>@Html.DisplayNameFor(model => model.CodLinha)</dt>
		<dd>@Html.DisplayFor(model => model.CodLinha)</dd>
		<dt>@Html.DisplayNameFor(model => model.NumPosto)</dt>
		<dd>@Html.DisplayFor(model => model.NumPosto)</dd>
		<dt>@Html.DisplayNameFor(model => model.DatPlano)</dt>
		<dd>@Html.DisplayFor(model => model.DatPlano)</dd>
		<dt>@Html.DisplayNameFor(model => model.CodDRT)</dt>
		<dd>@Html.DisplayFor(model => model.CodDRT)</dd>
		<dt>@Html.DisplayNameFor(model => model.DesPlano)</dt>
		<dd>@Html.DisplayFor(model => model.DesPlano)</dd>
		<dt>@Html.DisplayNameFor(model => model.FlgStatus)</dt>
		<dd>@Html.DisplayFor(model => model.FlgStatus)</dd>
		<dt>@Html.DisplayNameFor(model => model.DatConclusao)</dt>
		<dd>@Html.DisplayFor(model => model.DatConclusao)</dd>
		<dt>@Html.DisplayNameFor(model => model.Hora)</dt>
		<dd>@Html.DisplayFor(model => model.Hora)</dd>

	</dl>

	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()
		@Html.HiddenFor(model => model.CodPlano)

		<div class="form-actions no-color" style="margin-top: 10px;">
			<div style="margin-top: 10px; display: inline-block;">
				<input type="button" onclick="$('#janela').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="submit" value="Apagar" class="bttn bttn-sm bttn-red" />
			</div>
		</div>
	}
</div>
