﻿@model SEMP.Model.DTO.CBPlanoAcaoDTO

@using (Html.BeginForm("Edit", "PlanoAcao", FormMethod.Post, new { @id = "frmPlanoAcao" }))
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)

		<div class="row">
			<div class="col-md-2">
				@Html.LabelFor(model => model.CodPlano, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.CodPlano, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.CodPlano)
			</div>

			<div class="col-md-4">
				@Html.LabelFor(model => model.CodLinha, new { @class = "control-label" })
				<div class="input-group">
					@Html.TextBoxFor(model => model.CodLinha, new { @class = "form-control", @readonly="readonly", @style="width: 35px;" })
					@Html.TextBoxFor(model => model.DesLinha, new { @class = "input-group-addon", @readonly="readonly", @style="width: 90px;" })
				</div>
				@Html.ValidationMessageFor(model => model.CodLinha)
			</div>

			<div class="col-md-6">
				@Html.LabelFor(model => model.NumPosto, new { @class = "control-label" })
				<div class="input-group">
					@Html.TextBoxFor(model => model.NumPosto, new { @class = "form-control", @readonly="readonly", @style="width: 35px;" })
					@Html.TextBoxFor(model => model.DesPosto, new { @class = "input-group-addon", @readonly="readonly", @style="width: 90px;" })
				</div>
				@Html.ValidationMessageFor(model => model.NumPosto)
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				@Html.LabelFor(model => model.DatPlano, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DatPlano, new {@class = "form-control calendar", @Value = Model.DatPlano.Value.ToString("d")})
				@Html.ValidationMessageFor(model => model.DatPlano)
			</div>

			<div class="col-md-7">
				@Html.LabelFor(model => model.CodDRT, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.CodDRT, new { @class="form-control", style="width: 150px;", @maxlength="50"})
				@Html.ValidationMessageFor(model => model.CodDRT)
			</div>
		</div>

		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.DesPlano, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DesPlano, new { @class="form-control", @style=""})
				@Html.ValidationMessageFor(model => model.DesPlano)
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				@Html.LabelFor(model => model.FlgStatus, new { @class = "control-label" })
				<select name="FlgStatus" id="FlgStatus" class="form-control">
					<option value="0" selected="">Aberto</option>
					<option value="1">Em andamento</option>
					<option value="2">Concluído</option>
				</select>
				@Html.ValidationMessageFor(model => model.FlgStatus)
			</div>

			<div class="col-md-4">
				@Html.LabelFor(model => model.DatConclusao, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DatConclusao, new { @class = "form-control calendar" })
				@Html.ValidationMessageFor(model => model.DatConclusao)
			</div>

			<div class="col-md-3">
				@Html.LabelFor(model => model.Hora, new { @class = "control-label" })
				<select name="Hora" id="Hora" class="form-control">
					<option value="" selected="">o Dia</option>
					<option value="7">07:00</option>
					<option value="8">08:00</option>
					<option value="9">09:00</option>
					<option value="10">10:00</option>
					<option value="11">11:00</option>
					<option value="12">12:00</option>
					<option value="13">13:00</option>
					<option value="14">14:00</option>
					<option value="15">15:00</option>
					<option value="16">16:00</option>
					<option value="17">17:00</option>
					<option value="18">18:00</option>
					<option value="19">19:00</option>
					<option value="20">20:00</option>
					<option value="21">21:00</option>
					<option value="22">22:00</option>
					<option value="23">23:00</option>
					<option value="0">00:00</option>
					<option value="1">01:00</option>
					<option value="2">02:00</option>
					<option value="3">03:00</option>
					<option value="4">04:00</option>
					<option value="5">05:00</option>
					<option value="6">06:00</option>
				</select>
				@Html.ValidationMessageFor(model => model.Hora)
			</div>
		</div>

		<div class="row">
			<div style="margin-top: 10px; margin-right: 10px; display: inline-block;">
				<input type="button" onclick="$('#janela').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
			</div>
		</div>
	</div>
}
<script>
	function gravar() {
		$("#CodPlano").removeAttr("disabled");

		$.ajax({
			type: "POST",
			url: "/Outros/PlanoAcao/Edit/",
			data: $("#frmPlanoAcao").serialize(),
			dataType: "json",
			success: function (json) {
				$("#CodPlano").attr("disabled", "disabled");
				if (json == true) {
					alert("Registro alterado com sucesso.");
					btnEnviar_Click();
					//document.location.href = "/Outros/PlanoAcao/";
				} else {
					alert("Não foi possível gravar.");
				}
			},
			error: function (xhr) {
				alert("Não foi possível alterar: " + xhr);
			}
		});
	}

	$("#DatPlano").datepicker({
		showButtonPanel: true,
		numberOfMonths: 2
	});
	$("#DatConclusao").datepicker({
		showButtonPanel: true,
		numberOfMonths: 2
	});
</script>