﻿
@{
	ViewBag.Title = "Cadastro de Causa e Efeito";
	ViewBag.Sistema = "Plano de Ação";
	ViewBag.Rotina = "Cadastro deCausa e Efeito";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var datInicio = Request["DatInicio"];
	var datFim = Request["DatFim"];

	if (String.IsNullOrEmpty(datInicio)) { datInicio = DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(datFim)) { datFim = DateTime.Now.ToString("dd/MM/yyyy"); }
}

<h3>@ViewBag.Title</h3>

	<div class="row">
		<div class="col-md-6" style="width: 300px;">
			<label>Período de&#58;</label>
			<input type="text" name="DatInicio" id="DatInicio" value="@datInicio" class="calendar"/>
			<label>&nbsp;a&#58;</label>
			<input type="text" name="DatFim" id="DatFim" value="@datFim" class="calendar"/>
		</div>
		
		<div class="col-md-2">
			<label class="control-label" style="float: left; margin-top: 9px;">Status</label>
			<select name="FlgStatus" id="FlgStatus" class="form-control" style="width: 150px;">
				<option selected="selected">TODOS</option>
				<option value="0">Aberto</option>
				<option value="1">Em andamento</option>
				<option value="2">Concluído</option>
			</select>
		</div>

		<div class="col-md-4">
			<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
			<input type="button" name="btnNovo" id="btnNovo" value="Novo" class="bttn bttn-sm bttn-red" />
			<input type="button" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" onclick="btnEnviar_Click();"/>
		</div>
	</div>
<br />

<div id="janela" style="display: none; top: 10px;"></div>
<div id="ishikawa" style="display: none; top: 10px; z-index: 999;"></div>
<div id="conteudo"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<script type="text/javascript">
	var url = "";
	var jan, ish;
	$(function () {
		$("#DatFim").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatInicio").datepicker("option", "maxDate", selectedDate);
			}
		});
		$("#DatInicio").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatFim").datepicker("option", "minDate", selectedDate);
			}
		});

		jan = $("#janela").dialog({
			title: 'Manutenção',
			autoOpen: false,
			resizable: true,
			width: 500,
			height: 350,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		ish = $("#ishikawa").dialog({
			title: 'Ishikawa',
			autoOpen: false,
			resizable: false,
			width: 700,
			height: 500,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(this).html("");
				$(this).load(url);
			}
		});

		$("#btnNovo").on("click", function (e) {
			url = "/Outros/PlanoAcao/Create/";
			$(".ui-dialog-title").html("Nova");
			$("#janela").dialog('open');

			return false;
		});

		$("#btnExportar").click(function () {
			$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});
		});


		btnEnviar_Click();
	});

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			url: "/Outros/PlanoAcao/Lista/",
			data: {
				datInicio: $("#DatInicio").val(),
				datFim: $("#DatFim").val(),
				flgStatus: $("#FlgStatus").val()
			},
			success: function (data) {
				$("#conteudo").html(data);
				$(".linkEdit").on("click", function (e) {
					url = $(this).attr('href');
					$("#janela .ui-dialog-title").html("Alterar");
					jan.dialog('open');

					return false;
				});
				$(".linkIshikawa").on("click", function (e) {
					url = $(this).attr('href');
					
					ish.dialog('open');

					return false;
				});
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	@{
		if (!String.IsNullOrEmpty(ViewBag.mensagem))
		{
			WriteLiteral("alert('" + ViewBag.mensagem + "');");
		}
	}

</script>
