﻿@model IEnumerable<SEMP.Model.DTO.CBPlanoAcaoDTO>

<table class="table-semp smallrow" id="tblDados">
	<thead>
		<tr>
			<th style="width: 70px;"></th>
			<th style="width: 50px;">@Html.DisplayNameFor(model => model.CodPlano)</th>
			<th>@Html.DisplayNameFor(model => model.CodLinha)</th>
			<th>@Html.DisplayNameFor(model => model.NumPosto)</th>
			<th style="width: 70px;">@Html.DisplayNameFor(model => model.DatPlano)</th>
			<th>@Html.DisplayNameFor(model => model.CodDRT)</th>
			<th>@Html.DisplayNameFor(model => model.DesPlano)</th>
			<th>@Html.DisplayNameFor(model => model.FlgStatus)</th>
			<th style="width: 70px;">@Html.DisplayNameFor(model => model.DatConclusao)</th>
			<th style="width: 50px;">@Html.DisplayNameFor(model => model.Hora)</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		<tr>
			<td>
				@if (item.DatConclusao == null)
				{
					@Html.ActionLink(" ", "Edit", new { id = item.CodPlano }, new { @class = "linkEdit glyphicon glyphicon-edit", @title = "Editar registro" })
					Write(" | ");
					@Html.ActionLink(" ", "Delete", new { id = item.CodPlano }, new { @class = "linkEdit glyphicon glyphicon-remove", @title = "Remover" })
					Write(" | ");
					@Html.ActionLink(" ", "", "Ishikawa", new {id = item.CodPlano}, new {@class = "linkIshikawa glyphicon glyphicon-peixe", @title = "Ishikawa"})
				}
				else
				{
					@Html.ActionLink(" ", "Visualizar", "Ishikawa", new {id = item.CodPlano}, new {@class = "linkIshikawa glyphicon glyphicon-peixe", @title = "Ishikawa"})
				}
			</td>
			<td>@Html.DisplayFor(modelItem => item.CodPlano)</td>
			<td>@Html.DisplayFor(modelItem => item.CodLinha) - @Html.DisplayFor(modelItem => item.DesLinha)</td>
			<td>@Html.DisplayFor(modelItem => item.NumPosto) - @Html.DisplayFor(modelItem => item.DesPosto)</td>
			<td>@Html.DisplayFor(modelItem => item.DatPlano)</td>
			<td>@Html.DisplayFor(modelItem => item.CodDRT)</td>
			<td>@Html.DisplayFor(modelItem => item.DesPlano)</td>
			<td>
				@switch (item.FlgStatus)
				{
					case 0:
						<i>Em aberto</i>
						break;
					case 1:
						<i>Em andamento</i>
						break;
					case 2:
						<i>Concluído</i>
						break;
				}
			</td>
			<td>@Html.DisplayFor(modelItem => item.DatConclusao)</td>
			<td>@Html.DisplayFor(modelItem => item.Hora)</td>
		</tr>
	}
	</tbody>
</table>

