﻿@model SEMP.Model.DTO.CBCadDefeitoDTO

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Novo defeito</title>
</head>
<body>
	@using (Html.BeginForm("Create", "Defeitos", FormMethod.Post, new { @class = "form-inline", @role = "form", @name = "frmDefeito", id = "frmDefeito" }))
 {
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
	
		<fieldset>
			<legend>Novo defeito</legend>
			@Html.HiddenFor(model => model.CodDefeito, new { @class = "form-control" })

			<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
				<div class="form-group">
					<div class="input-group" style="width: 40px;">
						@Html.LabelFor(model => model.CodFab)
						@Html.TextBoxFor(model => model.CodFab, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.CodFab)
					</div>
				</div>
				<div class="form-group">
					<div class="input-group" style="width: 313px;">
						@Html.LabelFor(model => model.DesDefeito)
						@Html.TextBoxFor(model => model.DesDefeito, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.DesDefeito)
					</div>
				</div>
			</div>

			<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
				<div class="form-group">
					<div class="input-group" style="width: 370px;">
						@Html.LabelFor(model => model.DesVerificacao)
						@Html.TextBoxFor(model => model.DesVerificacao, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.DesVerificacao)
					</div>
				</div>
			</div>
			<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
				<div class="form-group">
					<div class="input-group">
						@Html.LabelFor(model => model.flgFEC)
						<input type="checkbox" name="flgFEC" id="flgFEC" value="1" />
						&nbsp;&nbsp;
						@Html.ValidationMessageFor(model => model.flgFEC)
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						@Html.LabelFor(model => model.flgIMC)
						<input type="checkbox" name="flgIMC" id="flgIMC" value="1" />
						&nbsp;&nbsp;
						@Html.ValidationMessageFor(model => model.flgIMC)
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						@Html.LabelFor(model => model.flgIAC)
						<input type="checkbox" name="flgIAC" id="flgIAC" value="1" />&nbsp;&nbsp;
						@Html.ValidationMessageFor(model => model.flgIAC)
					</div>
				</div>
                <div class="form-group">
                    <div class="input-group">
                        @Html.LabelFor(model => model.flgLCM)
                        <input type="checkbox" name="flgLCM" id="flgLCM" value="1" />&nbsp;&nbsp;
                        @Html.ValidationMessageFor(model => model.flgLCM)
                    </div>
                </div>
				<div class="form-group">
					<div class="input-group">
						@Html.LabelFor(model => model.flgAtivo)
						<input type="checkbox" name="flgAtivo" id="flgAtivo" value="1" />
						@Html.ValidationMessageFor(model => model.flgAtivo)
					</div>
				</div>
			</div>

			<div style="margin-top: 10px; display: inline-block;">
				@Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravarDefeito()" />
			</div>
		</fieldset>
 }

</body>
</html>

<script>
	function gravarDefeito() {
		$.ajax({
			type: "POST",
			url: "/Defeitos/Create/",
			data: $("#frmDefeito").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Defeito " + $("#CodDefeito").val() + " gravado com sucesso.");
					$("#CodFab").val("");
					$("#DesDefeito").val("");
					$("#DesVerificacao").val("");
					$("#flgIMC").attr("checked", false);
					$("#flgFEC").attr("checked", false);
					$("#flgIAC").attr("checked", false);
					$("#flgLCM").attr("checked", false);
					$("#flgAtivo").attr("checked", false);
				} else {
					alert("Não foi possível gravar. Verifique o código de defeito inserido.");
				}
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr);
			}
		});
	}

</script>
