﻿@model SEMP.Model.DTO.CBCadDefeitoDTO

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Remover Item</title>
</head>
<body>
	<h3>Tem certeza de que deseja remover esse registro?</h3>
	<fieldset class="form-inline">
		<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
			<div class="form-group">
				<div class="input-group">
					<b>@Html.DisplayNameFor(model => model.CodFab)</b> :
					@Html.DisplayFor(model => model.CodFab)
				</div>
			</div>
		</div>
		<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
			<div class="form-group">
				<div class="input-group">
					<b>@Html.DisplayNameFor(model => model.CodDefeito)</b> :
					@Html.DisplayFor(model => model.CodDefeito)
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<b>@Html.DisplayNameFor(model => model.DesDefeito)</b> :
					@Html.DisplayFor(model => model.DesDefeito)
				</div>
			</div>
		</div>
		<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
			<div class="form-group">
				<div class="input-group">
					<b>@Html.DisplayNameFor(model => model.DesVerificacao)</b> :
					@Html.DisplayFor(model => model.DesVerificacao)
				</div>
			</div>
		</div>
		<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
			<div class="form-group">
				<div class="input-group">
					<b>@Html.DisplayNameFor(model => model.flgIAC)</b>  <br/>
					<input type="checkbox" name="flgIAC" readonly="readonly" @{if (Model.flgIAC == 1) { Write("checked"); }} />
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<b>@Html.DisplayNameFor(model => model.flgIMC)</b> 	 <br/>
					<input type="checkbox" name="flgIMC" readonly="readonly" @{if (Model.flgIMC == 1) { Write("checked"); }} />
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<b>@Html.DisplayNameFor(model => model.flgFEC)</b>  <br/>
					<input type="checkbox" name="flgFEC" readonly="readonly" @{if (Model.flgFEC == 1) { Write("checked"); }} />
				</div>
			</div>
            <div class="form-group">
                <div class="input-group">
                    <b>@Html.DisplayNameFor(model => model.flgLCM)</b>  <br />
                    <input type="checkbox" name="flgLCM" readonly="readonly" @{if (Model.flgLCM == 1) { Write("checked"); }} />
                </div>
            </div>
			<div class="form-group">
				<div class="input-group">
					<b>@Html.DisplayNameFor(model => model.flgAtivo)</b>  <br/>
					<input type="checkbox" name="flgAtivo" readonly="readonly" @{if (Model.flgAtivo.Equals("1")) { Write("checked"); }} />
				</div>
			</div>
		</div>
	</fieldset>
	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()
			<br />
			<div style="margin-top: 10px; display: inline-block;">
				@Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
			</div>
			<div style="display: inline-block;">
				<input type="submit" value="Apagar" class="bttn bttn-sm bttn-red" />
			</div>
	}

</body>
</html>
