﻿@model SEMP.Model.DTO.CBCadDefeitoDTO

@{
	Layout = null;
}

	@using (Html.BeginForm("Edit", "Defeitos", FormMethod.Post, new { @class = "form-inline", @role = "form" }))
 {
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
	
		<fieldset>
			<legend>Manutenção de Defeito</legend>

			<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
				<div class="form-group">
					<div class="input-group" style="width: 40px;">
						@Html.LabelFor(model => model.CodFab)
						@Html.TextBoxFor(model => model.CodFab, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.CodFab)
					</div>
				</div>
				<div class="form-group">
					<div class="input-group" style="width: 100px;">
						@Html.LabelFor(model => model.CodDefeito)
						@Html.TextBoxFor(model => model.CodDefeito, new { @class = "form-control", @readonly="readonly" })
						@Html.ValidationMessageFor(model => model.CodDefeito)
					</div>
				</div>
				<div class="form-group">
					<div class="input-group" style="width: 250px;">
						@Html.LabelFor(model => model.DesDefeito)
						@Html.TextBoxFor(model => model.DesDefeito, new { @class = "form-control"})
						@Html.ValidationMessageFor(model => model.DesDefeito)
					</div>
				</div>
			</div>

		<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
			<div class="form-group">
				<div class="input-group" style="width: 412px;">
					@Html.LabelFor(model => model.DesVerificacao)
					@Html.TextBoxFor(model => model.DesVerificacao, new { @class = "form-control" })
					@Html.ValidationMessageFor(model => model.DesVerificacao)
				</div>
			</div>
		</div>
		<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
				<div class="form-group">
					<div class="input-group">
						@Html.LabelFor(model => model.flgIMC)
						<input type="checkbox" name="flgIMC" value="1"  @{if (Model.flgIMC == 1) { Write("checked"); }} /> &nbsp;&nbsp;
						@Html.ValidationMessageFor(model => model.flgIMC)
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						@Html.LabelFor(model => model.flgFEC)
						<input type="checkbox" name="flgFEC" value="1" @{if (Model.flgFEC == 1) { Write("checked"); }} /> &nbsp;&nbsp;
						@Html.ValidationMessageFor(model => model.flgFEC)
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						@Html.LabelFor(model => model.flgIAC)
						<input type="checkbox" name="flgIAC" value="1" @{if (Model.flgIAC == 1) { Write("checked"); }} />&nbsp;&nbsp;
						@Html.ValidationMessageFor(model => model.flgIAC)
					</div>
				</div>
                <div class="form-group">
                    <div class="input-group">
                        @Html.LabelFor(model => model.flgLCM)
                        <input type="checkbox" name="flgLCM" value="1" @{if (Model.flgLCM == 1) { Write("checked"); }} />&nbsp;&nbsp;
                        @Html.ValidationMessageFor(model => model.flgLCM)
                    </div>
                </div>
				<div class="form-group">
					<div class="input-group">
						@Html.LabelFor(model => model.flgAtivo)
						<input type="checkbox" name="flgAtivo" value="1" @{if (Model.flgAtivo.Equals("1")) { Write("checked"); }} />
						@Html.ValidationMessageFor(model => model.flgAtivo)
					</div>
				</div>
			</div>

			<br />
			<div style="margin-top: 10px; display: inline-block;">
				@Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
			</div>
			<div style="display: inline-block;">
				<input type="submit" value="Gravar" class="bttn bttn-sm bttn-red" />
			</div>
		</fieldset>
 }
