﻿@model IEnumerable<SEMP.Model.DTO.CBCadDefeitoDTO>

@{
    ViewBag.Title = "Cadastro de Defeitos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Sistema = "Rastreabilidade";
    ViewBag.Rotina = "Defeitos";

    var flgAtivo = "";
    var flgInativo = "";
    var flgTodos = "";

    if (Request.QueryString.HasKeys() || Request.Form.HasKeys())
    {
        if (!String.IsNullOrEmpty(Request["FlgAtivo"]) && Request["FlgAtivo"].Equals("T"))
        {
            flgTodos = "checked";
        }
        else if (!String.IsNullOrEmpty(Request["FlgAtivo"]) && Request["FlgAtivo"].Equals("I"))
        {
            flgInativo = "checked";
        }
        else
        {
            flgAtivo = "checked";
        }
    }
    else
    {
        flgAtivo = "checked";
    }

}
@Scripts.Render("~/bundles/excelexport")
@Scripts.Render("~/bundles/datatable")
@Styles.Render("~/Content/datatable")

<h3>@ViewBag.Title</h3>

<div id="dialog-edit" style="display: none; top: 10px;"></div>

@if (!String.IsNullOrEmpty(Request["Erro"]))
{
    <div class="message-error">@Request["Erro"]</div>
}

<form name="frmRelatorio" id="frmRelatorio" action="/Coleta/Defeitos/" method="post" style="padding-left: 15px;">
    <div class="row">
        <div class="col-xs-25 col-v">
            <div class="col-xs-6">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">
                        <input type="radio" name="FlgAtivo" value="A" @flgAtivo /> Ativos
                        <input type="radio" name="FlgAtivo" value="I" @flgInativo /> Inativos
                        <input type="radio" name="FlgAtivo" value="T" @flgTodos /> Todos
                    </span>
                    <input type="text" class="form-control" value="Ativos" style="border: none;" />
                </div>
            </div>
            <div class="col-xs-10" style="float: right; text-align: right;">
                <input type="hidden" name="flag" value ="1" />
                <input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
                <input type="button" name="btnNovo" id="btnNovo" value="Novo" class="bttn bttn-sm bttn-red" />
                <input type="submit" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" />
            </div>
        </div>
    </div>
</form>

<table class="table-semp smallrow" id="tblDados">
    <thead>
        <tr>
            <th style="width: 90px;"></th>
            <th style="width: 50px;">@Html.DisplayNameFor(model => model.CodFab)</th>
            <th style="width: 80px;">@Html.DisplayNameFor(model => model.CodDefeito)</th>
            <th>@Html.DisplayNameFor(model => model.DesDefeito)</th>
            <th>@Html.DisplayNameFor(model => model.DesVerificacao)</th>
            <th>@Html.DisplayNameFor(model => model.flgFEC)</th>
            <th>@Html.DisplayNameFor(model => model.flgIMC)</th>
            <th>@Html.DisplayNameFor(model => model.flgIAC)</th>
            <th>@Html.DisplayNameFor(model => model.flgLCM)</th>
            <th>@Html.DisplayNameFor(model => model.flgAtivo)</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.ActionLink("Editar", "Edit", "Defeitos", new { CodDefeito = item.CodDefeito}, new { @class = "lnkEdit" }) |
                @Html.ActionLink("Apagar", "Delete", "Defeitos", new { CodDefeito = item.CodDefeito}, new { @class = "lnkEdit" })
            </td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.CodFab)</td>
            <td style="text-align: center;">@Html.DisplayFor(modelItem => item.CodDefeito)</td>
            <td>@Html.DisplayFor(modelItem => item.DesDefeito)</td>
            <td>@Html.DisplayFor(modelItem => item.DesVerificacao)</td>
            <td style="text-align: center;"><input type="checkbox" name="flgFEC" readonly="readonly" @{if (item.flgFEC == 1) { Write("checked"); }} /> </td>
            <td style="text-align: center;"><input type="checkbox" name="flgIMC" readonly="readonly" @{if (item.flgIMC == 1) { Write("checked"); }} /> </td>
            <td style="text-align: center;"><input type="checkbox" name="flgIAC" readonly="readonly" @{if (item.flgIAC == 1 ) { Write("checked"); }} /></td>
            <td style="text-align: center;"><input type="checkbox" name="flgLCM" readonly="readonly" @{if (item.flgLCM == 1) { Write("checked"); }} /></td>
            <td style="text-align: center;"><input type="checkbox" name="flgAtivo" readonly="readonly" @{if(item.flgAtivo.Equals("1")){Write("checked");}} /></td>
        </tr>
    }
    </tbody>
</table>

<br/><br/>

<script>
    $(document).ready(function() {
        $("#btnExportar").click(function() {

            $("#tblDados").btechco_excelexport({
                containerid: "tblDados",
                datatype: $datatype.MVC
            });
        });

            var url = "";

            $("#dialog-edit").dialog({
                title: 'Editar Defeito',
                autoOpen: false,
                resizable: false,
                width: 500,
                height: 320,
                top: 0,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function(event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).html("");
                    $(this).load(url);
                }
            });

            $(".lnkEdit").on("click", function (e) {
                // e.preventDefault(); use this or return false
                url = $(this).attr('href');
                $(".ui-dialog-title").html("Editar defeito");
                $("#dialog-edit").dialog('open');

                return false;
            });

            $("#btnNovo").on("click", function (e) {
                // e.preventDefault(); use this or return false
                url = "/Coleta/Defeitos/Create/";
                $(".ui-dialog-title").html("Novo defeito");
                $("#dialog-edit").dialog('open');

                return false;
            });

            $("#btnclose").on("click", function (e) {
                $("#dialog-edit").dialog("close");
                return false;
            });

        });

</script>