﻿@using Highsoft.Web.Mvc.Charts
@{
	ViewBag.Title = "HOME";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var linhasIAC = (List<SEMP.Model.DTO.CBLinhaDTO>)ViewBag.linhasIAC;
	var linhasIMC = (List<SEMP.Model.DTO.CBLinhaDTO>)ViewBag.linhasIMC;
	var linhasFEC = (List<SEMP.Model.DTO.CBLinhaDTO>)ViewBag.linhasFEC;

	var resumoLinhas = (List<SEMP.Model.VO.Rastreabilidade.ResumoEmbaladoLinha>)ViewBag.resumoLinhas;
	var velocidades = (List<SEMP.Model.VO.Rastreabilidade.VelocidadeLinha>)ViewBag.velocidades;
}
<style>
	.card-group .card:hover{
		border: solid 1px blue;
	}
	.card.in {
		min-width: 180px;
	}
</style>
<div class="modal" id="modalSelecao">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Iniciar Coleta</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h3>Linha: <span id="desLinha"></span></h3>
				<div class="btn-group-vertical" id="cmbPosto"></div>
			</div>
			<div class="modal-footer">
				<form action="/Home/" method="post" name="frmEntrada" id="frmEntrada">
					<input type="hidden" id="CodLinha" name="CodLinha" value="" />
					<input type="hidden" id="NumPosto" name="NumPosto" value="" />
				</form>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<div id="Fabrica">
	<div class="card border-success">
		<div class="card-header text-success h6">IAC</div>
		<div class="card-body">
			<div class="card-group">
				@foreach (var item in linhasIAC)
				{
					var resumo = resumoLinhas.FirstOrDefault(x => x.CodLinha == item.CodLinha);
					var percentual = resumo.Percentual.ToString("N0");

				<div class="card in">
					<div class="card-body">
						<h6 class="card-title"><a href="#" class="card-link" title="Iniciar Coleta" data-toggle="modal" data-target="#modalSelecao" data-codlinha="@item.CodLinha" data-deslinha="@item.DesLinha"><span class="fa fa-paper-plane"></span></a> @item.DesLinha</h6>
						<p class="card-text small text-muted">@item.QtdPostos postos</p>
						<blockquote class="blockquote mb-0">
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: @percentual%;" aria-valuenow="@percentual" aria-valuemin="0" aria-valuemax="100">@percentual%</div>
							</div>
						</blockquote>
					</div>
				</div>
				}
			</div>
		</div>
	</div>

	<div class="card border-info">
		<div class="card-header text-info h6">IMC</div>
		<div class="card-body">
			<div class="card-group">
				@foreach (var item in linhasIMC)
				{
					var resumo = resumoLinhas.FirstOrDefault(x => x.CodLinha == item.CodLinha);
					var percentual = resumo.Percentual.ToString("N0");
				<div class="card in">
					<div class="card-body">
						<h6 class="card-title"><a href="#" class="card-link" title="Iniciar Coleta" data-toggle="modal" data-target="#modalSelecao" data-codlinha="@item.CodLinha" data-deslinha="@item.DesLinha"><span class="fa fa-paper-plane"></span></a> @item.DesLinha</h6>
						<p class="card-text small text-muted">@item.QtdPostos postos</p>
						<blockquote class="blockquote mb-0">
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: @percentual%;" aria-valuenow="@percentual" aria-valuemin="0" aria-valuemax="100">@percentual%</div>
							</div>
						</blockquote>
					</div>
				</div>
				}
			</div>
		</div>
	</div>

	<div class="card border-primary">
		<div class="card-header text-primary h6">Montagem Final</div>
		<div class="card-body">
			<div class="card-group">
				@foreach (var item in linhasFEC)
				{
					var resumo = resumoLinhas.FirstOrDefault(x => x.CodLinha == item.CodLinha);
					var percentual = resumo.Percentual.ToString("N0");
				<div class="card in">
					<div class="card-body">
						<h6 class="card-title"><a href="#" class="card-link" title="Iniciar Coleta" data-toggle="modal" data-target="#modalSelecao" data-codlinha="@item.CodLinha" data-deslinha="@item.DesLinha"><span class="fa fa-paper-plane"></span></a> @item.DesLinha</h6>
						<p class="card-text small text-muted">@item.QtdPostos postos</p>
						<blockquote class="blockquote mb-0">
							<div class="progress">
								<div class="progress-bar" role="progressbar" style="width: @percentual%;" aria-valuenow="@percentual" aria-valuemin="0" aria-valuemax="100">@percentual%</div>
							</div>
						</blockquote>
						
					</div>
				</div>
				}

			</div>
		</div>
	</div>

</div>
<style>
	.highcharts-yaxis-grid .highcharts-grid-line {
		display: none;
	}
</style>
<div id="chartrpm"></div>

@section scripts{
@Scripts.Render("~/bundles/highcharts")
	<script>
		var grafico = Highcharts.chart("chartrpm",
			{
				chart:
				{
					type: 'solidgauge',
					width: 300,
					height: 200,
					events: { load: function () { loadData(); } }
				},
				title: null,
				pane: {
					center: ["50%", "85%"],
					size: "140%",
					startAngle: -90,
					endAngle: 90,
					background: {
						backgroundColor: "#EEE",
						innerRadius: "60%",
						outerRadius: "100%",
						shape: "arc"
					}
				},
				yAxis:
				{
					stops: [
						[0.1, "#DF5353"],
						[0.5, "#DDDF0D"],
						[0.9, "#55BF3B"]
					],
					min: 0,
					max: 5,
					title: {
						text: "Linha:"
					},
					lineWidth: 1,
					minorTickInterval: null,
					tickPixelInterval: 400,
					tickWidth: 0,
					labels: {
						y: 16
					}

				},
				tooltip: { enabled: false },
				plotOptions: {
					solidgauge: {
						dataLabels: {
							y: 5,
							borderWidth: 0,
							useHTML: true
						}
					}
				},
				series: [{
					name: "RPM",
					data: [0],
					dataLabels:
					{
						format: "<div style='text-align:center'><span style='font-size:25px;color:black'>{y:.1f}</span><br/><span style='font-size:12px;color:silver'>Apar/min</span></div>"
					},
					tooltip:
					{
						valueSuffix: " Aparelhos/minuto"
					}
				}]
			});

		function CarregaPostos(codLinha) {
			$.ajax({
				type: "GET",
				url: "/Util/GetPostos/",
				data: { codLinha: codLinha },
				dataType: "json",
				success: function (json) {
					var options = "";
					$.each(json, function (key, Posto) {
						if (Posto.FlgAtivo == "S")
							options += '<button type=button class="btn btn-primary text-left" onclick="AbrirPosto(' + Posto.CodLinha + ', ' + Posto.NumPosto + ')"><span class="fa fa-arrow-right"></span> ' + Posto.DesPosto + '</button>';
					});
					$("#cmbPosto").html(options);
				}
			});
		}

		$('#modalSelecao').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);

			var codlinha = button.data('codlinha');
			var deslinha = button.data('deslinha');

			var modal = $(this);
			$("#codLinha").val(codlinha);
			$("#desLinha").html(deslinha);
			CarregaPostos(codlinha);
		});

		function AbrirPosto(codLinha, numPosto) {
			$("#CodLinha").val(codLinha);
			$("#NumPosto").val(numPosto);

			$("#frmEntrada").submit();
			//document.location.href = "/Posto/?codLinha=" + codLinha + "&numPosto=" + numPosto;

		}

		function loadData() {
			setInterval(function () {
				// Speed
				var chart = $("#chartrpm").highcharts(),
					point,
					newVal,
					inc;

				if (chart) {
					point = chart.series[0].points[0];
					inc = Math.round((Math.random() - 0.5) * 100);
					newVal = point.y + inc;

					if (newVal < 0 || newVal > 200) {
						newVal = point.y - inc;
					}

					$.ajax({
						type: "GET",
						url: "/Home/ObterVelocidades/",
						dataType: "json",
						success: function (json) {
							if (!(inc > 0 && inc < 5)) {
								inc = 0;
							}
							point.update(json[inc].Velocidade);
							chart.yAxis[0].setTitle({ text: "Linha: " + json[inc].CodLinha });
						}
					});
				}

			}, 2000);
		}
	</script>

}