﻿
@{
	ViewBag.Title = "Tempo de Produção";
	Layout = "~/Views/Shared/_Layout.cshtml";


	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Tempos de Produção";

	var DatInicio = DateTime.Now.ToString("dd/MM/yyyy");
	var DatFim = DateTime.Now.ToString("dd/MM/yyyy");
}
<link href="/Content/css/select2.min.css" rel="stylesheet" />
<style>
	.linha {
		width: 180px !important;
	}

	.fabrica {
		width: 80px !important;
	}

	.grupoModelo {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+50,752201+51,bf6e4e+100;Brown+Gloss */
		background: #f0b7a1; /* Old browsers */
		background: -moz-linear-gradient(top, #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0b7a1), color-stop(50%,#8c3310), color-stop(51%,#752201), color-stop(100%,#bf6e4e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* IE10+ */
		background: linear-gradient(to bottom, #f0b7a1 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
	}

		.grupoModelo, .grupoModelo a {
			color: white !important;
			font-weight: bold !important;
			font-size: 14px !important;
		}
</style>

<h3>@ViewBag.Title</h3>

<div id="dialog-edit" style="display: none; top: 10px;"></div>

<br />
<div class="form-inline">
	<div class="row" style="margin-bottom: 10px;">
		<div class="col-md-12">
			<div class="pull-left" style="margin-right: 10px;">
				<label style="float: left; margin-top: 5px;">Fase:</label>
				<select name="Fase" id="fase" class="form-control input-sm fabrica">
					<option value="IAC">IAC</option>
					<option value="IMC">IMC</option>
					<option value="FEC" selected="selected">MF</option>
				</select>
			</div>
			<div class="pull-left" style="margin-right: 10px;">
				<label style="float: left; margin-top: 5px;">Linha: </label>
				<select name="CodLinha" id="Linha" class="form-control input-sm linha">
					<option value="">Carregando...</option>
				</select>
			</div>
			<div class="pull-left" style="margin-right: 10px;">
				<label>Modelo&nbsp;:</label>

				<input type="hidden" name="pCodModelo" id="pCodModelo" value="" class="form-control hidden" />
				<select id="Descricao" name="Descricao" style="width:100%;"></select>

			</div>
			<div class="pull-left">
				<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
				<input type="button" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" onclick="btnEnviar_Click();" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="pull-left" style="margin-right: 10px;">
				<label>Data inicial&#58;</label>
				<input type="text" name="DatInicio" id="DatIni" value="@DatInicio" class="form-control input-sm" style="width: 85px;" />
			</div>
			<div class="pull-left" style="margin-right: 10px;">
				<label>Data final&#58;</label>
				<input type="text" name="DatFim" id="DatFim" value="@DatFim" class="form-control input-sm" style="width: 85px;" />
			</div>
			<div class="pull-left" style="margin-right: 10px;">
				<label>Hora inicial&#58;</label>
				<input type="text" name="HoraInicio" id="HoraInicio" value="06:45" class="form-control input-sm" style="width: 55px;" />
			</div>
			<div class="pull-left" style="margin-right: 10px;">
				<label>Hora final&#58;</label>
				<input type="text" name="HoraFim" id="HoraFim" value="16:53" class="form-control input-sm" style="width: 55px;" />
			</div>
			<div class="pull-left"><input type="button" name="btnTempos" value="Ver tempos leituras" class="bttn bttn-sm bttn-red" onclick="btnTempos_Click();" /></div>
		</div>
	</div>
</div>

<div id="conteudo"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>


<script src="~/Scripts/select2.min.js"></script>
<script type="text/javascript">
	var url = "";

	$(document).ready(function() {

		$("#DatFim").datepicker();
		$("#DatIni").datepicker();

		$("#btnExportar").click(function() {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});
		});

		$("#dialog-edit").dialog({
			title: 'Editar Perfil Modelo',
			autoOpen: false,
			resizable: false,
			width: 550,
			height: 300,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function(event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		$("#pCodModelo").blur(function () {
			$("#pDesModelo").val("");
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: $("#pCodModelo").val() },
				success: function (data) {
					$("#pDesModelo").val(data);
					$(".ui-autocomplete-input").val(data);
				}
			});
		});

		$("#fase").change(CarregarLinhas);

		$('#Descricao').select2({
			ajax: {
				url: function (params) {
					return '/Coleta/Util/ObterModelosSelect/';
				},
				data: function (params) {
					var query = {
						search: params.term,
						page: params.page || 1
					}

					// Query parameters will be ?search=[term]&page=[page]
					return query;
				},
				dataType: 'json'
			},
			placeholder: 'Pesquise o Produto',
			theme: "classic",
			allowClear: true
		});

		$('#Descricao').on("change", function (e) { $("#Modelo").val($("#Descricao").val()); });

		CarregarLinhas();

	});

	function btnEnviar_Click() {
		if ($("#Linha").val() == "") {
			alert("Selecione uma linha");
			$("#Linha").focus();
			return;
		}

		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			url: "/Outros/TemposModelo/Lista/",
			data: {
				codModelo: $("#pCodModelo").val(),
				codLinha: $("#Linha").val(),
				datIni: $("#DatIni").val(),
				datFim: $("#DatFim").val(),
				horaInicio: $("#HoraInicio").val(),
				horaFim: $("#HoraFim").val()
			},
			success: function (data) {
				$("#conteudo").html(data);
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	function btnTempos_Click() {

		if ($("#Linha").val() == "") return;

		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			url: "/Outros/TemposModelo/Leituras/",
			data: {
				codModelo: $("#pCodModelo").val(),
				codLinha: $("#Linha").val(),
				datIni: $("#DatIni").val(),
				datFim: $("#DatFim").val(),
				horaInicio: $("#HoraInicio").val(),
				horaFim: $("#HoraFim").val()
			},
			success: function (data) {
				$("#conteudo").html(data);
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	function CarregarLinhas() {

		CarregarModelos();

		var options = "<option value=''> SELECIONE A LINHA </option>";
		$("#Linha").html(options);

		var fase = $("#fase").val();

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: fase },
			dataType: "json",
			success: function (json) {
				//options += '<option value=""> SELECIONE A LINHA </option>';
				$.each(json, function (key, linhas) {
					options += '<option value="' + linhas.CodLinha + '">' + linhas.DesLinha + '</option>';
				});
				$("#Linha").html(options);
			}
		});
	}

	function CarregarModelos() {

		$.getJSON("/util/ObterModelosAll/?fase=" + $("#fase").val(), function (dados) {
			var opcoes = "";

			$.each(dados, function (key, val) {
				opcoes += "<option value='" + val.CodItem + "'>" + val.DesItem + "</option>";
			});

			$("#posicao").html(opcoes);
		});

	}
</script>