﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.CBTempoMedioLinha>

<table class="table-semp table-bordered">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.NumPosto)</th>
			<th>@Html.DisplayNameFor(model => model.DesPosto)</th>
			<th>@Html.DisplayNameFor(model => model.CodModelo)</th>
			<th>@Html.DisplayNameFor(model => model.DesModelo)</th>
			<th style="width: 90px;">@Html.DisplayNameFor(model => model.TempoMedio)</th>
			<th>@Html.DisplayNameFor(model => model.Maior)</th>
			<th>@Html.DisplayNameFor(model => model.Menor)</th>
			<th>@Html.DisplayNameFor(model => model.Qtde)</th>
			<th style="width: 80px;">Tempo </th>
		</tr>
	</thead>
	<tbody>
		@foreach (var modelo in Model.Select(x => new { x.CodModelo, x.DesModelo }).Distinct())
		{
			<tr>
				<td colspan="12" class="grupoModelo"><a href="#" onclick="$('#pCodModelo').val('@modelo.CodModelo');">@modelo.CodModelo</a> - @modelo.DesModelo</td>
			</tr>

			foreach (var item in Model.Where(x => x.CodModelo == modelo.CodModelo))
			{
				<tr>
					<td>@Html.DisplayFor(modelItem => item.NumPosto)</td>
					<td>@Html.DisplayFor(modelItem => item.DesPosto)</td>
					<td>@Html.DisplayFor(modelItem => item.CodModelo)</td>
					<td>@Html.DisplayFor(modelItem => item.DesModelo)</td>
					<td style="background-color: yellow; text-align: right;">@Html.DisplayFor(modelItem => item.TempoMedio)</td>
					<td style="text-align: right;">@Html.DisplayFor(modelItem => item.Maior)</td>
					<td style="text-align: right;">@Html.DisplayFor(modelItem => item.Menor)</td>
					<td style="text-align: right;">@Html.DisplayFor(modelItem => item.Qtde)</td>
					<td style="background-color: yellowgreen; text-align: right;">@Html.DisplayFor(modelItem => item.TempoCiclo)</td>
				</tr>
			}
		}
	</tbody>
</table>