﻿<script>
@{
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
}

	var codDRT = "@retornologin.CodDRT";

	const constCancelar = "@SEMP.Model.Constantes.CANCELAR";

	const constTamDefeito4DIG = "@SEMP.Model.Constantes.TAM_DEFEITO";
	const constTamDefeito = "@SEMP.Model.Constantes.TAM_DEFEITO_NOVO";
	const constTamPlaca = "@SEMP.Model.Constantes.TAM_PLACA";
	const constTamPlacaInfo = "@SEMP.Model.Constantes.TAM_PLACA_INFORMATICA";
	const constTamProduto = "@SEMP.Model.Constantes.TAM_PRODUTO";
	const constTamProdutoInfo = "@SEMP.Model.Constantes.TAM_PRODUTO_INFORMATICA";

	const constRastOK = "@SEMP.Model.Constantes.RAST_OK";
	const constItemCancelado = "@SEMP.Model.Constantes.ITEM_CANCELADO";
	const constRastRepetido = "@SEMP.Model.Constantes.RAST_LEITURA_REPETIDA";

	const constPostoTesteLote = "@SEMP.Model.Constantes.POSTO_TESTE_FECHAMENTO_DE_LOTE";
	const constPostoAmarraLoteImpEtq = "@SEMP.Model.Constantes.POSTO_AMARRA_LOTE_TABLET_IMPRESSAO_ETIQUETA";
	const constPostoAmarraLotePeso = "@SEMP.Model.Constantes.POSTO_AMARRA_LOTE_TABLET_IMPRESSAO_ETIQUETA_PESO";
	const constAPFinalizada = "@SEMP.Model.Constantes.RAST_AP_FINALIZADA";
	const constPostoAmarraLote = 15;

	const LOTE_ABERTO = "@SEMP.Model.Constantes.LOTE_ABERTO";
	const LOTE_FECHADO = "@SEMP.Model.Constantes.LOTE_FECHADO";
	const LOTE_TRANSFERIDO = "@SEMP.Model.Constantes.LOTE_TRANSFERIDO";
	const LOTE_RECEBIDO = "@SEMP.Model.Constantes.LOTE_RECEBIDO";
	const LOTE_DEVOLVIDO = "@SEMP.Model.Constantes.LOTE_DEVOLVIDO";
	const LOTE_RECEBIDO_OBA = "@SEMP.Model.Constantes.LOTE_RECEBIDO_OBA";
	const LOTE_REPROVADO_OBA = "@SEMP.Model.Constantes.LOTE_REPROVADO_OBA";
	const LOTE_APROVADO_OBA = "@SEMP.Model.Constantes.LOTE_APROVADO_OBA";
	const LOTE_ACEITE_OBA = "@SEMP.Model.Constantes.LOTE_ACEITE_OBA";

	function fn_ajaxGet(urlPagina, parametros, returnData) {
		$.ajax({
			type: "GET",
			url: urlPagina,
			data: parametros,
			dataType: "json",
			cache: false,
			async: true,
			success: function (data) {
				returnData.call(this, data);
			},
			error: function (xhr, er) {
				if (xhr.status == 500 || xhr.status == 503) // service indisponivel
				{
					var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
					alert("Erro ao consultar: <br/>" + mensagem);
					//document.location.href = "/";
				} else {
					$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
				}
			}
		});
	}

	function fn_error(xhr) {
		if (xhr.status == 500 || xhr.status == 503) // service indisponivel
		{
			var mensagem = xhr.status + " - " + xhr.statusText + "\n";
			alert("Erro ao consultar: \n" + mensagem);
			document.location.href = "/";
		} else {
			$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + " | " + xhr.responseText + "<br>");
		}
	}

	function validate(leitura) {

		var strPattern = "^[A-Za-z]{2}\\d{3}$|^\\d{4}$";

		var oTest1 = leitura;//document.getElementById('txtLeitura');

		var strOptions = "i";

		var oREGEXP = new RegExp(strPattern, strOptions);

		if (oREGEXP.test(oTest1)) {
			return true;
		}
		else {
			return false;
		}
	}

	$(window).click(function () {
		if ($("#txtLeitura").length) {
			$("#txtLeitura").focus();
		}
	});

	$('footer').click(function () {
		if ($("#txtLeitura").length) {
			$("#txtLeitura").focus();
		}
	});

	$(window).bind('keydown', function (e) {
		if (e.keyCode == 49 && e.altKey) {
			e.preventDefault();

			var URL = "ConsultarItem";
			var width = 900;
			var height = 500;
			var left = 99;
			var top = 99;

			window.open(URL, 'janela', 'width=' + width + ', height=' + height + ', top=' + top + ', left=' + left + ', scrollbars=yes, status=no, toolbar=no, location=no, directories=no, menubar=no, resizable=no, fullscreen=no');

		}
	});

</script>
