﻿<script>
	var codDefeito = "";

	var temporizador;
	var iniciouTemporizador = false;
	var ultimoIndiceLido = 0;
	var AP_Atual = "";

	const tipoPosto = "@SEMP.Model.Constantes.POSTO_AMARRA_LOTE_ENTREPOSTO_IAC";

	const constCancelar = "@SEMP.Model.Constantes.CANCELAR";
	const constTamDefeito4DIG = "@SEMP.Model.Constantes.TAM_DEFEITO";
	const constTamDefeito = "@SEMP.Model.Constantes.TAM_DEFEITO_NOVO";
	const constTamPlaca = "@SEMP.Model.Constantes.TAM_PLACA";
	const constTamProduto = "@SEMP.Model.Constantes.TAM_PRODUTO";
	const constRastOK = "@SEMP.Model.Constantes.RAST_OK";
	const constItemCancelado = "@SEMP.Model.Constantes.ITEM_CANCELADO";
	const constPostoAmarraLoteImpEtq = "@SEMP.Model.Constantes.POSTO_AMARRA_LOTE_TABLET_IMPRESSAO_ETIQUETA";
	const constPostoAmarraLotePeso = "@SEMP.Model.Constantes.POSTO_AMARRA_LOTE_TABLET_IMPRESSAO_ETIQUETA_PESO";
	const constAPFinalizada = "@SEMP.Model.Constantes.RAST_AP_FINALIZADA";
	const constPostoAmarraLote = 15;

	var arrayMascaras = new Array();
	var arrayPerfil = new Array();

	var tamanhoLargura = parseInt($(document).width()) - (parseInt($(document).width()) * 10 / 100);

	var arrayAP = new Array();
	var apontaDefeito = false;
	var cancelar = false;
	var loteAberto = false;

	$(window).click(function () {
		$("#txtLeitura").focus();
	});

	$(document).ready(function () {

		if (setor == "IAC") {
			document.getElementById('lbdefeito').style.display = "block";
		}

		var pressedAlt = false;
		document.onkeydown = function (e) {
			if (e.which == 18) {
				pressedAlt = true;
			}
		};

		var blnImprimirTemp = imprimeEtq;
		var blnSetorTemp = setor;
		var blnFamiliaTemp = familia;

		fn_PreencherArrayAP();

		gridListaItem();
		gridLista();
		gridListaLote();

		fn_contadoresPostoPassagem();

		//$('.ui-jqgrid-titlebar-close').remove();

		$('#btnCaixaColetiva').css('display', 'inline');
		$('#btnFecharCC').css('display', 'inline');
		$('#btnAlterarTamanhoCC').css('display', 'inline');
		$('#btnReimprimirCC').css('display', 'none');
		$('#btnAjustarImpTraseira').css('display', 'none');
		$('#btnAtivarReimpressao').css('display', 'none');
		$('#btnImprimir').css('display', 'none');
		$('#btnAjustarImpTraseira').css('display', 'none');

		//todo: deixar off o botão de reimpressão caso não tenha impressão ativa na tela
		if (blnImprimirTemp == "S") {
			//Verifica se O posto imprime Etiqueta!
			//Habilitar os botoes de impressao de caixa coletiva e ajuste
			$('#btnImprimir').css('display', 'inline');
			$('#btnReimprimirCC').css('display', 'inline');

			//etiqueta traseira
			if (blnSetorTemp == "FEC" && blnFamiliaTemp == "INF" && codTipoPosto == constPostoAmarraLoteImpEtq) {
				$('#btnAjustarImpTraseira').css('display', 'inline');
				$('#btnAtivarReimpressao').css('display', 'inline');
				$('#btnCaixaColetiva').css('display', 'none');
				$('#btnReimprimirCC').css('display', 'none');
			}

			//etiqueta traseira ou fechamento etiqueta peso
			if (blnSetorTemp == "FEC" && blnFamiliaTemp == "INF" && (codTipoPosto == constPostoAmarraLotePeso)) {
				$('#btnAtivarReimpressao').css('display', 'inline');
				$('#btnCaixaColetiva').css('display', 'none');
				$('#btnReimprimirCC').css('display', 'none');
			}


		}

		// abrir Painel de Produção
		if (codTipoPosto != constPostoAmarraLoteImpEtq &&
			   codTipoPosto != constPostoAmarraLotePeso &&
			   codTipoPosto != constPostoAmarraLote /*&&
			   setor != "IAC"*/) {
			fn_AbrirPainel();

		}

		fn_AtualizarTextBotaoReImpressao();

		$("#dvDialogHistorico").dialog({
			title: 'Histórico',
			autoOpen: false,
			resizable: false,
			width: tamanhoLargura,
			height: 300,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogHistorico",
			draggable: false,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar' style='margin-top: -3px;'>X</div>");
			}
		});

		$("#dvDialogHoraHora").dialog({
			title: 'Dados Hora Hora',
			autoOpen: false,
			resizable: false,
			width: tamanhoLargura,
			height: 300,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogHoraHora",
			draggable: false,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar' style='margin-top: -3px;'>X</div>");
			}
		});

		$("#dvDialogFecharCC").dialog({
			title: 'Fechar Caixa Coletiva Incompleta',
			autoOpen: false,
			resizable: false,
			width: 400,
			height: 250,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			closeOnEscape: false,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogFecharCC",
			draggable: true,
			open: function (event, ui) {

				$(".ui-dialog-titlebar-close").click(function () {
					fn_cancelarFechamentoLote();
				});
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar2' style='margin-top: -3px;'>X</div>");

				$("#txtJustificativaFecharCC").focus();
			}
		});

		$("#dvDialogReimprimirLogin").dialog({
			title: 'Re-Impressão de Etiquetas',
			autoOpen: false,
			resizable: false,
			width: 250,
			height: 150,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogReimprimirLogin",
			draggable: false,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar3' style='margin-top: -3px;'>X</div>");
			}
		});

		$("#dvDialogAlterarTamanhoCC").dialog({
			title: 'Alterar Tamanho da Caixa Coletiva',
			autoOpen: false,
			resizable: false,
			width: 250,
			height: 150,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogAlterarTamanhoCC",
			draggable: false,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar3' style='margin-top: -3px;'>X</div>");
			}
		});

		$("#dvDialogReimprimirEtqIMCIAC").dialog({
			title: 'Reimprimir Etiqueta',
			autoOpen: false,
			resizable: false,
			width: 250,
			height: 150,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogReimprimirEtqIMCIAC",
			draggable: false,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar3' style='margin-top: -3px;'>X</div>");
			}
		});

		$("#dvDialogAjustarImpressoraTraseira").dialog({
			title: 'Ajustar Impressora',
			autoOpen: false,
			resizable: false,
			width: 250,
			height: 150,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogAjustarImpressoraTraseira",
			draggable: false,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar3' style='margin-top: -3px;'>X</div>");
			}
		});

		$("#dvItensParaReimpressaoNotebook").dialog({
			title: 'Etiquetas para reimpressão',
			autoOpen: false,
			resizable: false,
			width: 250,
			height: 200,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			clickOutside: true,
			clickOutsideTrigger: "#dvItensParaReimpressaoNotebook",
			draggable: false,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar5' style='margin-top: -3px;'>X</div>");
			}
		});

		$('#txtPosicao').keypress(function (evt) {
			if (evt.keyCode == 13) {
				//Verifica se a posicao foi preenchida
				if ($('#txtPosicao').val().trim() != "" && $('#txtPosicao').val().length > 0) {

					$('#txtLeitura').removeAttr("disabled");
					$("#txtLeitura").focus();
				}
			}
		});

		$('#txtLeitura').keypress(function (evt) {
			if (evt.keyCode == 13) {

				var valor = this.value.toUpperCase();
				var constTamProdutoInformatica = 9;

				$("#lblMensagem").html("Enviando Série: " + valor);
				$("#txtLeitura").val('');

				if (valor == "FECHARCC") {
					fn_BotaoFecharCC();
					return;
				}

				if (setor == "IAC") {

					if (valor == constCancelar && cancelar == false) {
						$("#lblMensagem").html(constCancelar);
						$("#lblMensagem").css("background-color", "Silver");
						cancelar = true;

					}
					else if (valor == constCancelar && cancelar == true) {
						$("#lblMensagem").html("LEIA PRÓXIMO PRODUTO");
						$("#lblMensagem").css("background-color", "Silver");
						cancelar = false;
						apontaDefeito = false;
					}
					else if ((parseInt(valor.length) == parseInt(constTamDefeito) || parseInt(valor.length) == parseInt(constTamDefeito4DIG)) && (validateDefeito(valor) == true)) {
						var parametros = { codDefeito: valor };
						codDefeito = valor;
						fn_ajaxGet("/Posto/ObterDesDefeito/", parametros, fn_retornoObter);

					}
					else if (apontaDefeito == true && ((valor.length == constTamPlaca) || (valor.length == constTamProduto))) {

						$.ajax({
							type: "GET",
							url: "/Posto/GetValida/",
							data: { numECB: valor.toUpperCase(), codDRT: codDRT },
							dataType: "json",
							success: function (json) {

								if ((json.CodMensagem == constRastOK) || ((json.CodMensagem == "E0002") && (setor == "IAC"))) {
									$.ajax({
										type: "GET",
										url: "/posto/InserirDefeitoPosicao/",
										data: { posicao: $("#txtPosicao").val().toUpperCase(), codDefeito: codDefeito, numSerie: valor.toUpperCase(), codDRT: codDRT },
										dataType: "json",
										success: function (json2) {
											$("#lblMensagem").html(json2.DesMensagem);
											$("#lblMensagem").css("background-color", json2.DesCor);
											$("#lblMensagem").css("font-color", "WHITE");
											codDefeito = "";
											fn_divMenu(true);
											apontaDefeito = false;
											fn_contadoresPostoPassagem();
										},
										error: function (xhr) {
											codDefeito = "";
											apontaDefeito = false;
											cancelar = false;
										}
									});
								} else {
									fn_divMenu(true);
									$("#lblMensagem").html(json.DesMensagem);
									$("#lblMensagem").css("background-color", json.DesCor);

									apontaDefeito = false;
								}
							},
							error: function (xhr) {
								alert('Error');
							}
						});
					}
					else if (loteAberto == false && valor != "ABRIRLOTE") {
						$("#lblMensagem").html("LOTE FECHADO. PARA INICIAR NOVO LOTE LEIA ETIQUETA ABERTURA");
						$("#lblMensagem").css("background-color", "OrangeRed");

						return;
					}
					else if (loteAberto == false && valor == "ABRIRLOTE") {
						loteAberto = true;
						$("#lblMensagem").html("INICIANDO NOVO LOTE. LEIA PRODUTO");
						$("#lblMensagem").css("background-color", "GREEN");
						return;
					}
					else {

						if (cancelar == true) {
							$.ajax({
								type: "GET",
								url: "/posto/CancelarLeitura/",
								data: { numECB: valor.toUpperCase(), codDRT: codDRT },
								dataType: "json",
								success: function (json) {

									if (json.CodMensagem == constItemCancelado) {
										$("#lblMensagem").html(json.DesMensagem);
										$("#lblMensagem").css("background-color", json.DesCor);
										reload();
										fn_totalProduzido();
										cancelar = false;
										return;
									}
									else {
										$("#lblMensagem").html(json.DesMensagem);
										$("#lblMensagem").css("background-color", json.DesCor);
										cancelar = false;
										return;
									}
								},
								error: function (xhr) {
									fn_error(xhr);
								}
							});
						}

						$("#lblMensagem").html("INICIANDO NOVO LOTE...");

						if (loteAberto == false) {
							$("#lblMensagem").html("LOTE FECHADO. PARA INICIAR NOVO LOTE LEIA ETIQUETA ABERTURA");
							$("#lblMensagem").css("background-color", "OrangeRed");

							return;
						}

						fn_divMenu(true);
						cancelar = false;
						apontaDefeito = false;

						fn_leituraSimples(valor);
					}
				}
				else {
					fn_divMenu(true);
					cancelar = false;
					apontaDefeito = false;
					fn_leituraSimples(valor);
				}
			}
		});

		RecuperaMascaras(RecuperaMascarasAux);

		if (arrayAP.length > 0) { fn_totalProduzido(); }
		else { setTimeout("fn_totalProduzido();", 5000); }

	});

	// ESC
	$(window).keydown(function (evt) {
		if (evt.keyCode == 27) {
			jQuery("#tbListaItem").trigger("reloadGrid");
			$('#txtPosicao').val("");
			$("#txtLeitura").val("");
			fn_divMenu(true);
			$("#lblMensagem").html("LEIA PRÓXIMO PRODUTO");
			$("#lblMensagem").css("background-color", "Silver");
			arrayPerfil = fn_limpaValores(perfil);
			ultimoIndiceLido = 0;
			iniciouTemporizador = false;
			codDefeito = "";

			fn_totalProduzido();
			fn_totalAP();
			reloadListaLote();
			//fn_fecharTemporizador();
		}

		$("#txtLeitura").focus();

	});

	// ALT+1
	$(window).bind('keydown', function (e) {
		if (e.keyCode == 49 && e.altKey) {
			e.preventDefault();

			var URL = "ConsultarItem";
			var width = 900;
			var height = 500;
			var left = 99;
			var top = 99;

			window.open(URL, 'janela', 'width=' + width + ', height=' + height + ', top=' + top + ', left=' + left + ', scrollbars=yes, status=no, toolbar=no, location=no, directories=no, menubar=no, resizable=no, fullscreen=no');

		}
	});

	// ALT+8
	$(window).bind('keydown', function (e) {
		if (e.keyCode == 56 && e.altKey) {
			e.preventDefault();

			fn_AbrirTelaAlterarTamanhoCC()
		}
	});

	// ALT+7 
	$(window).bind('keydown', function (e) {
		if (e.keyCode == 55 && e.altKey) {
			e.preventDefault();
			$('#dvDialogHoraHora').dialog('open');
			gridDadosHoraHora();
		}
	});

	function fn_PreencherArrayAP() {
		$.ajax({
			type: "GET",
			url: "/Home/PreencherArrayAP/",
			dataType: "json",
			cache: false,
			async: true,
			success: function (data) {

				$("#QtdeCCLido").html("");
				var html_teste = "";
				for (var i = 0; i < data.length; i++) {
					arrayAP.push({ AP: data[i].AP, QtdEsp: data[i].QtdEsp, QtdeLido: data[i].QtdeLido });

					if (codTipoPosto != 29) {
						html_teste += "<b>Caixa Coletiva AP: " + data[i].AP + ": </b> <span class='QtdColetiva'><span id='spQtLidoCC_" + data[i].AP + "'>0</span>/<span id='spTotalCC_" + data[i].AP + "'>" + qtdeCC + "</span></span> </br>";
					}
				}

				$("#QtdeCCLido").html(html_teste);
			},
			error: function (xhr, er) {
				alert("ERRO AO PREENCHER ARRAY DE DADOS DA AP");
			}
		});
	}

	function gridListaItem() {

		$("#tbListaItem").jqGrid({
			url: '/Home/CarregaPerfil/?Fabrica=' + codFab,
			datatype: 'json',
			mtype: 'GET',
			colNames: ['Tipo', 'Codigo', 'Item', 'Série', 'AP', 'Mascara'],
			colModel: [
					  { name: 'Tipo', index: 'Tipo', width: 120, align: 'left' },
					  { name: 'Codigo', index: 'Codigo', width: 80, align: 'left' },
					  { name: 'Item', index: 'Item', width: 300, align: 'left' },
					  { name: 'Serie', index: 'Serie', width: 400, align: 'left' },
					  { name: 'AP', index: 'AP', width: 0, align: 'left', hidden: true },
					  { name: 'Mascara', index: 'Mascara', width: 0, align: 'left', hidden: true }
			],
			rowList: [],        // disable page size dropdown
			pgbuttons: false,     // disable page control like next, back button
			pgtext: null,         // disable pager text like 'Page 0 of 10'
			sortname: 'Id',
			sortorder: "desc",
			cmTemplate: { sortable: false },
			viewrecords: true,
			caption: 'Leituras',
			width: null,
			height: null,
			autowidth: true,
			autoheight: true
		});
	}

	function gridLista() {
		var arrayNames = new Array();
		var arrayModels = new Array();

		for (var i = 0; i < colunas.split(",").length; i++) {
			arrayNames.push(colunas.split(",")[i]);
			arrayModels.push({ name: colunas.split(",")[i], index: colunas.split(",")[i], width: 100, align: 'center' });
		}

		var urlPagina = '/Home/HistoricoAmarracaoLote/?Fabrica=' + codFab;

		$("#tbListaItem2").jqGrid({
			url: urlPagina,
			datatype: 'json',
			mtype: 'GET',
			colNames: arrayNames,
			colModel: arrayModels,
			rowList: [],        // disable page size dropdown
			pgbuttons: false,     // disable page control like next, back button
			pgtext: null,         // disable pager text like 'Page 0 of 10'
			sortname: 'Id',
			sortorder: "desc",
			cmTemplate: { sortable: false },
			width: tamanhoLargura - (tamanhoLargura * 5 / 100),
			height: null,
			autoheight: true,
			loadError: function () {
				alert('Erro ao carregar o grid histórico');
			},
			loadComplete: function () {
				fn_exibeUltimoLido();
			}
		}).jqGrid("gridResize");

	}

	function gridListaLote() {

		var urlPagina = '/Home/HistoricoAmarracaoLoteAtual/?Fabrica=' + codFab + '&numAP=' + perfilAP.substring(0, 6);

		if (setor != 'IAC') {
			var colNames = ['Série', 'Data Leitura'];
			var colModel = [{ name: 'Série', index: 'Série', width: 100, align: 'center' },
						{ name: 'Data Leitura', index: 'Data Leitura', width: 100, align: 'center' }
			];
		}
		else {
			var colNames = ['Série', 'Data Leitura', 'Caixa Coletiva', 'Lote'];
			var colModel = [{ name: 'Série', index: 'Série', width: 100, align: 'center' },
						{ name: 'Data Leitura', index: 'Data Leitura', width: 100, align: 'center' },
						{ name: 'Caixa Coletiva', index: 'Caixa Coletiva', width: 100, align: 'center' },
						{ name: 'Lote', index: 'Lote', width: 100, align: 'center' }
			];
		}

		$("#tbListaLote").jqGrid({
			url: urlPagina,
			datatype: 'json',
			mtype: 'GET',
			colNames: colNames,
			colModel: colModel,
			rowList: [],        // disable page size dropdown
			pgbuttons: false,     // disable page control like next, back button
			pgtext: null,         // disable pager text like 'Page 0 of 10'
			sortname: 'Id',
			sortorder: "desc",
			rownumbers: true,
			rowNum: -1,
			cmTemplate: { sortable: false },
			caption: 'Itens do lote',
			width: null, //tamanhoLargura - (tamanhoLargura * 5 / 100),
			height: null,
			autoheight: true,
			autowidth: true,
			loadError: function () {
				if(setor == 'IAC')
					alert('Erro ao carregar o grid lote');
			},
			loadComplete: function (data) {
				fn_totalAP();
			}
		}).jqGrid("gridResize");

	}

	function gridDadosHoraHora() {

		$("#tbListaHoraHora").jqGrid({
			url: '/Embalagem/RecuperarDadosHoraHora/?codLinha=' + codLinhaT1,
			datatype: 'json',
			mtype: 'GET',
			colNames: ['NE', 'Descricao', 'Plano', 'Produzido', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00',
			'16:00', '17:00', '17:00 - 2', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00', '24:00'],

			colModel: [
						{ name: 'CodModelo', index: 'CodModelo', width: 180, align: 'center' },
						{ name: 'DesModelo', index: 'DesModelo', width: 400, align: 'left' },
						{ name: 'QtdProdPM', index: 'QtdProdPM', width: 160, align: 'center' },
						{ name: 'QtdProducao', index: 'QtdProducao', width: 160, align: 'center' },

						{ name: 'Hora6', index: 'Hora6', width: 130, align: 'center' },
						{ name: 'Hora7', index: 'Hora7', width: 130, align: 'center' },
						{ name: 'Hora8', index: 'Hora8', width: 130, align: 'center' },
						{ name: 'Hora9', index: 'Hora9', width: 130, align: 'center' },
						{ name: 'Hora10', index: 'Hora10', width: 130, align: 'center' },
						{ name: 'Hora11', index: 'Hora11', width: 130, align: 'center' },
						{ name: 'Hora12', index: 'Hora12', width: 130, align: 'center' },
						{ name: 'Hora13', index: 'Hora13', width: 130, align: 'center' },
						{ name: 'Hora14', index: 'Hora14', width: 130, align: 'center' },
						{ name: 'Hora15', index: 'Hora15', width: 130, align: 'center' },
						{ name: 'Hora16', index: 'Hora16', width: 130, align: 'center' },
						{ name: 'Hora17', index: 'Hora17', width: 130, align: 'center' },
						{ name: 'Hora17_2', index: 'Hora17_2', width: 130, align: 'center' },
						{ name: 'Hora18', index: 'Hora18', width: 130, align: 'center' },
						{ name: 'Hora19', index: 'Hora19', width: 130, align: 'center' },
						{ name: 'Hora20', index: 'Hora20', width: 130, align: 'center' },
						{ name: 'Hora21', index: 'Hora21', width: 130, align: 'center' },
						{ name: 'Hora22', index: 'Hora22', width: 130, align: 'center' },
						{ name: 'Hora23', index: 'Hora23', width: 130, align: 'center' },
						{ name: 'Hora24', index: 'Hora24', width: 130, align: 'center' },

			],
			sortname: 'Id',
			sortorder: "desc",
			viewrecords: true,
			width: tamanhoLargura
		});

	}

	//Habilita e desabilita menu
	function fn_divMenu(op) {
		if (op) {
			document.getElementById('divMenu').style.display = "block";
			document.getElementById('divPosicao').style.display = "none";
			$("#txtPosicao").val("");
			$('#txtLeitura').removeAttr("disabled");

		} else {
			document.getElementById('divMenu').style.display = "none";
			document.getElementById('divPosicao').style.display = "block";
			$("#txtLeitura").attr("disabled", "true");
			$("#txtPosicao").focus();
		}
	}

	function fn_error(xhr) {
		if (xhr.status == 500 || xhr.status == 503) // service indisponivel
		{
			var mensagem = xhr.status + " - " + xhr.statusText + "\n";
			alert("Erro ao consultar: \n" + mensagem);
			document.location.href = "/";
		} else {
			$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + " | " + xhr.responseText + "<br>");
		}
	}

	function fn_retornoCancelarLeitura(json) {

		if (json.CodMensagem == constRastOK) {
			$("#lblMensagem").html(json.DesMensagem);
			$("#lblMensagem").css("background-color", json.DesCor);
			$("#txtLeitura").val("");
			cancelar = false;
			return;
		}
		else {
			$("#lblMensagem").html(json.DesMensagem);
			$("#lblMensagem").css("background-color", json.DesCor);
			$("#txtLeitura").val("");
			cancelar = false;
			return;
		}
	}

	function fn_retornoObter(json) {

		if ($.isNumeric(json.substring(0, 5))) {
			$("#lblMensagem").html(json);
			$("#lblMensagem").css("background-color", "ORANGE");
			apontaDefeito = true;

			fn_divMenu(false);

			//Verifica se o Setor eh IAC e o tipo do posto é 16 iac
			if (codTipoPosto == tipoPosto) {
				document.getElementById('divPosicao').style.display = "block";
				document.getElementById('txtPosicao').focus();
			}
		}
		else {
			$("#lblMensagem").html(json);
			$("#lblMensagem").css("background-color", "YELLOW");
			apontaDefeito = false;
		}

	}

	function fn_retornoPadrao(data) {
		$("#lbTempo").html("Va:" + data.tempo);

		if (data.error == true) {

			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", data.retorno.DesCor);
			fn_fecharTemporizador();
			arrayPerfil = fn_limpaValores(perfil);

			if (data.retorno.CodMensagem == constAPFinalizada) {
				alert("AP está finalizada e Caixa Coletiva atual foi fechada. Favor entrar com nova AP");
				fn_TrocarAP();
			}
		}
		else {
			AP_Atual = data.numAP;
			ultimoIndiceLido = parseInt(data.indice);
			loteAberto = true;

			var myGrid = $('#tbListaItem');
			var rowId = data.indice + 1;
			var indice = parseInt(data.indice);

			myGrid.jqGrid('setCell', rowId, 'Serie', data.serial);

			arrayPerfil[indice].lido = true;
			arrayPerfil[indice].validado = true;
			arrayPerfil[indice].serie = data.serial;
			arrayPerfil[indice].tipo = data.tipo;
			arrayPerfil[indice].codItem = data.codItem;
			arrayPerfil[indice].numAP = data.numAP;

			if (fn_verificaLeituras(arrayPerfil) == true) {
				fn_fecharTemporizador();
				fn_criaFormularioDinamico(arrayPerfil);

				$("#lblMensagem").css("background-color", "#8181F7");
				$("#lblMensagem").html("DADOS VALIDADOS, CONFIRMANDO PRODUÇÃO...");

				fn_ajaxPost("/Embalagem/InserirEmbalagem", "formDinamico", fn_retornoInserir);
			}
			else {
				fn_iniciarTemporizador();
				var itemdaVez = fn_verificaItemDaVez(arrayPerfil);
				var item = arrayPerfil[itemdaVez].name;
				$("#lblMensagem").css("background-color", "#996600");
				$("#lblMensagem").html("LEIA PRÓXIMO ITEM: " + item);
			}

		}
	}

	function fn_retornoInserir(data) {

		$("#lbTempoInsercao").html("In: " + data.tempo);
		$("#lbTempoBanco").html(data.tempoBanco);

		if (data.error == false) {

			$("#lblMensagem").css("background-color", data.retorno.DesCor);
			$("#lblMensagem").html(data.retorno.DesMensagem);

			//reloadListaItem();
			fn_exibeUltimoLidoPerfil();
			reloadListaLote();
			fn_incremetarTotalProduzido();
			fn_totalProduzidoCaixaColetiva();

			ultimoIndiceLido = 0;

		}
		else {
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", data.retorno.DesCor);
		}

		AP_Atual = "";
		$("#txtLeitura").val("");
		arrayPerfil = fn_limpaValores(perfil);
	}

	function validateDefeito(valor) {

		var strPattern = "^[A-Za-z]{2}\\d{3}$|^\\d{4}$";

		//var oTest1 = document.getElementById('txtLeitura');

		var strOptions = "i";

		var oREGEXP = new RegExp(strPattern, strOptions);

		if (oREGEXP.test(valor)) {//oTest1.value)) {
			return true;
		}
		else {
			return false;
		}
	}

	function fn_leituraSimples(barcode) {

		var leitura = barcode;
		var url = '/Embalagem/ValidarLeituraEmbalagem';

		// Valida a mascara
		var indice = fn_validarMascaraLeitura(leitura);
		// alert("indice " + indice);
		$('#txtLeitura').val("");

		var itemdaVez = fn_verificaItemDaVez(arrayPerfil);

		if (indice == -1) {
			$("#lblMensagem").html("ETIQUETA LIDA É INVÁLIDA OU NÃO FAZ PARTE DESSE PRODUTO");
			$("#lblMensagem").css("background-color", "red");
		}
		else if (indice == -2) {
			var item = arrayPerfil[itemdaVez].name;
			$("#lblMensagem").html("LEIA O PRÓXIMO ITEM: " + item);
			$("#lblMensagem").css("background-color", "red");
		}
		else if (fn_verificaSequenciaLida(arrayPerfil, indice) == false) {
			var item = arrayPerfil[itemdaVez].name;

			$("#lblMensagem").html("LEIA NA SEQUÊNCIA CORRETA. <br />ITEM DA VEZ: " + item);
			$("#lblMensagem").css("background-color", "red");
		}
		else {

			var dadosGrid = { serial: leitura, indice: indice };

			fn_preencherDadosNoGrid(dadosGrid, false);

			var parametros = { Fabrica: codFab, Leitura: leitura, CodDRT: codDRT, UltimoIndiceLido: ultimoIndiceLido, idxPerfil: indice, reimpressaoAtivada: $('#statusReimpressao').val() };
			$('#txtLeitura').val("");

			fn_ajaxGet(url, parametros, fn_retornoPadrao);
		}
	}

	function reloadListaItem() {
		jQuery("#tbListaItem2").trigger("reloadGrid");
	}

	function reloadListaLote() {
		if (setor == "IAC") {
			jQuery("#tbListaLote").trigger("reloadGrid");
		}
		else {
			fn_totalAP();
		}
	}

	function fn_validarMascaraLeitura(leitura) {

		var indice = -1;

		for (var i = 0; i < arrayPerfil.length; i++) {
			if (validaRegex(arrayPerfil[i].Mascara, leitura) == true) {
				if (arrayPerfil[i].lido == true) {
					indice = -2;

					var indiceIguaisNaoLidos = fn_retornaIndiceItemComMascarasIguais(leitura);

					if (indiceIguaisNaoLidos.length > 0 && arrayPerfil[i].serie != leitura) {
						indice = indiceIguaisNaoLidos[0];
					}

				} else {
					indice = i;
					AP_Atual = arrayPerfil[i].numAP;
				}
				break;
			}
		}


		return indice;
	}

	function fn_retornaIndiceItemComMascarasIguais(leitura) {

		var itemIguaisArray = new Array();

		for (var i = 0; i < arrayPerfil.length; i++) {
			if (validaRegex(arrayPerfil[i].Mascara, leitura) == true && arrayPerfil[i].lido == false) {
				itemIguaisArray.push(i);
			}
		}

		return itemIguaisArray;
	}

	function fn_preencherDadosNoGrid(data, retornoValidado) {

		ultmoIndiceLido = parseInt(data.indice);

		var myGrid = $('#tbListaItem');
		var rowId = data.indice + 1;
		var indice = parseInt(data.indice);

		if (retornoValidado == true) {
			myGrid.jqGrid('setCell', rowId, 'Serie', data.serial);

			arrayPerfil[indice].lido = true;
			arrayPerfil[indice].serie = data.serial;
			arrayPerfil[indice].validado = true;
			arrayPerfil[indice].tipo = data.tipo;
			arrayPerfil[indice].codItem = data.codItem;
		} else {
			myGrid.jqGrid('setCell', rowId, 'Serie', data.serial);

			arrayPerfil[indice].lido = true;
			arrayPerfil[indice].serie = data.serial;
			arrayPerfil[indice].validado = false;
		}

	}

	function fn_contadoresPostoPassagem() {
		var url = '/Home/Contador/';

		var parametros = { sidx: "Id", sord: "desc", page: 1, rows: 20 };

		$.ajax({
			type: "GET",
			url: url,
			dataType: "json",
			data: parametros,
			cache: false,
			async: true,
			success: function (data) {
				$("#spTotalDefeito").html(data.rows[0].cell[1]);
			}
		});

	}

	function RecuperaMascarasAux(json) {
		for (var i = 0; i < json.mascara.length; i++) {
			arrayMascaras.push({ Tipo: json.mascara[i].Tipo, Mascara: json.mascara[i].Mascara, AP: json.mascara[i].Ap });
		}

		arrayPerfil = fn_limpaValores(perfil);
	}

	function fn_cancelarFechamentoLote() {
		$('#txtLeitura').removeAttr("disabled");
		$('#dvDialogFecharCC').dialog('close');
	}

	function fn_ajaxGet_SemFraseValidacao(urlPagina, parametros, returnData) {
		$.ajax({
			type: "GET",
			url: urlPagina,
			data: parametros,
			dataType: "json",
			cache: false,
			async: true,
			beforeSend: function () {
			},
			complete: function () {
			},
			success: function (data) {
				returnData.call(this, data);
			},
			error: function (xhr, er) {
				if (xhr.status == 500 || xhr.status == 503) // service indisponivel
				{
					var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
					alert("Erro ao consultar: <br/>" + mensagem);
					document.location.href = "/";
				} else {
					$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
				}
			}
		});
	}

	function fn_ajaxGet(urlPagina, parametros, returnData) {
		$.ajax({
			type: "GET",
			url: urlPagina,
			data: parametros,
			dataType: "json",
			cache: false,
			async: true,
			beforeSend: function () {
				$("#lblMensagem").html("Validando...");
			},
			complete: function () {
			},
			success: function (data) {
				returnData.call(this, data);
			},
			error: function (xhr, er) {
				if (xhr.status == 500 || xhr.status == 503) // service indisponivel
				{
					var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
					alert("Erro ao consultar: <br/>" + mensagem);
					document.location.href = "/";
				} else {
					$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
				}
			}
		});
	}


	//método que fecha uma caixa coltiva que está incompleta
	function fn_FecharCCIncompleta() {
		var justificativa = $("#txtJustificativaFecharCC").val();

		var numAp = $("#txtNumAPFecharCC").val();

		if ($("#statusReimpressao").val().toString() == "true") {
			//caso a reimpressao esteja ativa não fecha a caixa coletiva
			alert('Reimpressão ativada. Não é permitido fechar caixa coletiva');
			return;
		}

		if ($("#txtNumAPFecharCC").val().length <= 0) {
			alert('Favor informar o número da AP');
			return;
		}

		if ($("#txtJustificativaFecharCC").val().length <= 0) {
			alert('Favor informar uma justificativa');
			return;
		}

		$("#lblMensagem").css("background-color", "lime");
		$("#lblMensagem").html("Fechando Caixa Coletiva.");

		var achou = false;
		for (var i = 0; i < arrayAP.length; i++) {
			if (arrayAP[i].AP == numAp) {
				achou = true;
			}
		}

		if (!achou) {
			alert('Favor informar uma AP válida');
			return;
		}

		var url = '/Embalagem/FecharCaixaColetiva';

		var parametros = { codFabrica: codFab, numAp: numAp, codDrt: codDRT, justificativa: justificativa };
		fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoFecharCC);

		fn_cancelarFechamentoLote();
		$("#dvDialogFecharCC").dialog('close');
	}

	function fn_retornoFecharCC(data) {

		if (data.error == false) {
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", data.retorno.DesCor);

			setTimeout("fn_totalProduzidoCaixaColetiva(); ", 1000);
		}
		else {
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", data.retorno.DesCor);

		}
	}

	function fn_limpaValores(perfil) {
		var myGrid = $('#tbListaItem');
		var rowId = 0;

		var arrayPerfil = new Array();

		for (var i = 0; i < perfil.split(",").length; i++) {

			arrayPerfil.push({ name: perfil.split(",")[i], serie: "", lido: false, tipo: "", codItem: "", numAP: perfilAP.split(",")[i], Mascara: arrayMascaras[i].Mascara, validado: false });

			rowId = i + 1;
			myGrid.jqGrid('setCell', rowId, 'Serie', " ");
		}

		ultimoIndiceLido = 0;

		return arrayPerfil;
	}

	function fn_verificaLeituras(array) {

		var contadorTotal = array.length;
		var qtdeEsperada = 0;
		var cont = 0;

		//verifica qual a quantidade de itens que devem ser lidos na AP
		for (var i = 0; i < arrayAP.length; i++) {
			if (arrayAP[i].AP == AP_Atual) {
				qtdeEsperada = arrayAP[i].QtdEsp;
			}
		}

		for (var i = 0; i < contadorTotal; i++) {
			if (array[i].numAP == AP_Atual && array[i].lido == true && array[i].validado == true) {
				cont++;
			}
		}

		if (qtdeEsperada == cont) {
			return true;
		}
		else {
			return false;
		}
	}

	function fn_verificaLeituraRepetida(array, indice) {
		if (array[indice].lido == true) {
			return true;
		}
		else {
			return false;
		}
	}

	function fn_verificaSequenciaLida(array, indice) {
		var contadorTotal = array.length;
		var retorno = true;

		for (var i = 0; i < contadorTotal; i++) {
			if (array[i].numAP == AP_Atual && array[i].lido == false && array[i].validado == false) {
				//if (array[i].lido == false && array[i].validado == false) {

				if (indice > i) {
					retorno = false;
					break;
				}
			}
		}

		return retorno;
	}

	function fn_verificaItemDaVez(array) {

		var contadorTotal = array.length;

		for (var i = 0; i < contadorTotal; i++) {
			if (array[i].numAP == AP_Atual && (array[i].lido == false)) {
				return i;
				break;
			}
		}

		return 0;
	}

	function fn_criaFormularioDinamico(array) {

		$("#dvInputs").html("");

		var contadorTotal = array.length;
		var inputs = "";
		var posicaoInicial = 0;
		var qtdeEsperada = 0;
		var posicaoFinal = 0;

		//verifica qual a quantidade de itens que devem ser lidos na AP
		for (var i = 0; i < arrayAP.length; i++) {
			if (arrayAP[i].AP == AP_Atual) {
				qtdeEsperada = arrayAP[i].QtdEsp;
			}
		}

		for (var i = 0; i < contadorTotal; i++) {
			if (array[i].numAP == AP_Atual) {
				posicaoInicial = i;
				break;
			}
		}
		posicaoFinal = posicaoInicial + qtdeEsperada - 1;
		$("#NumeroAP").val(AP_Atual);

		for (var i = posicaoInicial; i <= posicaoFinal; i++) {
			if (array[i].name == "Produto") {
				inputs += "<input type='hidden' name='NumSerie' id='NumSerie' value='" + array[i].serie + "'>";
			}
			else {
				inputs += "<input type='hidden' name='" + array[i].name + "' value='" + array[i].serie + "'>";
			}
		}

		$("#dvInputs").html(inputs);
	}

	function fn_retornoImprimirEtiquetaCC(data) {

		if (data.error == false) {
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", "lime");
		}
		else {
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", "red");
		}
		$('#dvDialogReimprimirEtqIMCIAC').dialog('close');
		$('#txtReimprimirEtqCaixaColetiva').val("");
	}

	function fn_AbrirTelaAlterarTamanhoCC() {
		$('#dvDialogAlterarTamanhoCC').dialog('open');
	}

	function fn_AbrirTelaLoginReimpressaoEtiqueta() {

		$('#dvDialogReimprimirLogin').dialog('open');

	}

	function fn_AtivarReImpressaoEtiqueta(pstatus) {

		var url = '/Embalagem/ValidarLoginAutorizacao';
		var leituraCracha = $("#txtLoginReimpressao").val();

		var statusReimpressaoEtiqueta = $("#statusReimpressao").val();
		if (pstatus == true || pstatus == false) {
			statusReimpressaoEtiqueta = pstatus;
		}

		var parametros = { cracha: leituraCracha, codDrt: codDRT, statusAtual: statusReimpressaoEtiqueta };
		fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoAtivarReImpressaoEtiqueta);
	}

	function fn_AlterarTamanhoCC() {
		if ($('#txtAlterarTamanhoCC').val().toString().length == 0) {
			alert("Valor não permitido");
			$('#txtAlterarTamanhoCC').val("");
			return;
		}

		if (isNaN($('#txtAlterarTamanhoCC').val())) {
			alert("Valor não permitido");
			$('#txtAlterarTamanhoCC').val("");
			return;
		}

		var novoTamanho = $('#txtAlterarTamanhoCC').val();

		var url = '/Embalagem/AlterarTamanhoCaixaColetiva';
		var parametros = { tamanho: novoTamanho };
		fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoAlterarTamanhoCC);

	}

	function fn_ReimprimirEtqIMCIAC() {
		//se o posto não imprime etiqueta, então não deve imprimir etiqueta da caixa coletiva
		if (imprimeEtq == "N")
			return;

		if ($('#txtReimprimirEtqCaixaColetiva').val().toString().length == 0) {
			alert("Favor entrar com o número da Caixa Coletiva");
			$('#txtReimprimirEtqCaixaColetiva').val("");
			return;
		}

		var url = '/Embalagem/ImprimirEtiquetaCaixaColetiva';
		var numeroCC = $('#txtReimprimirEtqCaixaColetiva').val();

		var parametros = { numeroCC: numeroCC };

		fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoImprimirEtiquetaCC);
	}

	function fn_AjustarImpressoraEtiquetaTraseiraTablet() {
		if ($('#txtQtdeImpressoesAjustarImpressora').val().toString().length == 0) {
			alert("Favor entrar com a quantidade que deve ser impressa");
			$('#txtQtdeImpressoesAjustarImpressora').val("");
			return;
		}

		if (isNaN($('#txtQtdeImpressoesAjustarImpressora').val()) == true) //retorna false se for um número e true se não for um número
		{
			alert("Favor entrar com um número válido");
			return;
		}

		var url = '/Embalagem/AjustarImpressoraEtiquetaTraseiraTablet';
		var quantidade = $('#txtQtdeImpressoesAjustarImpressora').val();
		var parametros = { quantidade: quantidade };

		fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoAjustarImpressoraEtiquetaTraseiraTable);

	}

	function fn_retornoAjustarImpressoraEtiquetaTraseiraTable() {
		if (data.error == true) {
			alert(data.message);
		}
		else {
		}
		$('#txtQtdeImpressoesAjustarImpressora').val("");
		$('#dvDialogAjustarImpressoraTraseira').dialog('close');

	}

	function fn_retornoAlterarTamanhoCC(data) {
		if (data.error == true) {
			alert(data.message);
		}
		else {
			$('#dvDialogAlterarTamanhoCC').dialog('close');
			$('#spTotalCC_' + arrayAP[0].AP).html(data.valor);
		}
		$('#txtAlterarTamanhoCC').val("");
	}

	function fn_retornoAtivarReImpressaoEtiqueta(data) {

		if (data.error == true) {
			$("#txtLoginReimpressao").val("");
			$("#txtLoginReimpressao").focus();
			$("#lblMensagem").html(data.retorno.DesMensagem);
			$("#lblMensagem").css("background-color", data.retorno.DesCor);
		} else {
			$('#dvDialogReimprimirLogin').dialog('close');
			$("#lblMensagem").html(data.retorno.DesMensagem);
			$("#lblMensagem").css("background-color", data.retorno.DesCor);

			$.ajax({
				type: "GET",
				url: '/Embalagem/AtualizarStatusReimpressao',
				dataType: "json",
				data: { codDrt: codDRT },
				cache: false,
				async: true,
				success: function (data2) {
					if (data2.statusAtual == true) {
						$("#statusReimpressao").val(true);
						$("#btnAtivarReimpressao").html('<a href="#" style="padding: 0">Desativar Reimpressão</a>');
						$("#btnAtivarReimpEtq").val("Desativar");
						$("#lblMensagem").html(data2.retorno.DesMensagem);
						$("#lblMensagem").css("background-color", data2.retorno.DesCor);
						$("#txtLoginReimpressao").val("");
					} else {
						$("#txtLoginReimpressao").val("");
						$("#statusReimpressao").val(false);
						$("#btnAtivarReimpressao").html('<a href="#" style="padding: 0">Ativar Reimpressão</a>');
						$("#btnAtivarReimpEtq").val("Ativar");
						$("#lblMensagem").html(data2.retorno.DesMensagem);
						$("#lblMensagem").css("background-color", data2.retorno.DesCor);
						fn_DesativarReimpressaoEtiquetas();
					}
				}
			});


		}
	}

	function fn_BtnItensReImpressaoTablet() {
		//$('#dvItensParaReimpressaoTablet').dialog('close');
	}

	function fn_BtnItensReImpressaoNotebook() {
		$('#dvItensParaReimpressaoNotebook').dialog('close');
	}

	function fn_ajaxPost(urlPagina, nameForm, returnData) {
		$.ajax(
		{
			type: 'POST',
			url: urlPagina,
			dataType: 'json',
			data: $("#" + nameForm).serialize(),
			cache: false,
			async: true,
			beforeSend: function () {

			},
			complete: function () {

			},
			success: function (data) {
				returnData.call(this, data);
			},
			error: function (xhr, er) {
				if (xhr.status == 500 || xhr.status == 503) // service indisponivel
				{
					var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
					alert("Erro ao consultar: <br/>" + mensagem);
					document.location.href = "/";
				} else {
					$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
				}
			}
		});
	}

	function fn_totalProduzido() {

		var url = '/Posto/ObterTotal';
		var numerosAP = "";

		for (var i = 0; i < arrayAP.length; i++) {
			numerosAP += arrayAP[i].AP + ",";
		}

		numerosAP = numerosAP.substring(0, numerosAP.length - 1);

		$.ajax({
			type: "GET",
			url: url,
			data: { ap: numerosAP, codFab: codFab },
			dataType: "json",
			cache: false,
			async: true,
			success: function (data) {
				if (data.error == false) {
					$("#spTotalProduzido").html(data.total);
					$("#spTotalProduzidoModelo").html(data.totalModelo);
				}
			}
		});
	}

	function fn_totalAP() {

		var url = '/Posto/ObterAP';

		$.ajax({
			type: "GET",
			url: url,
			data: { numAP: perfilAP, codFab: codFab },
			dataType: "json",
			cache: false,
			async: true,
			success: function (data) {
				if (data.NumAP != null) {
					$("#qtdLote").html(data.QtdLoteAP);
					$("#qtdEmbalado").html(data.QtdEmbalado);
				}
			}
		});
	}

	function fn_totalProduzidoCaixaColetiva() {

		var url = '/Embalagem/ObterTotalCaixaColetiva';
		var numerosAP = "";

		for (var i = 0; i < arrayAP.length; i++) {
			numerosAP += arrayAP[i].AP + ",";
		}
		numerosAP = numerosAP.substring(0, numerosAP.length - 1);

		$.ajax({
			type: "GET",
			url: url,
			data: { codFabrica: codFab, numAp: numerosAP },
			dataType: "json",
			cache: false,
			async: true,
			success: function (data) {
				if (data.error == false) {

					$.each(arrayAP, function (key, value) {
						$("#spQtLidoCC_" + value.AP).html(data.ArrayAPRetorno[value.AP]);

						if (data.ArrayAPRetorno[value.AP] == 0) {
							$("#lblMensagem").html("LOTE FECHADO. LEIA ETIQUETA PARA INICIAR NOVO LOTE");
							$("#lblMensagem").css("background-color", "Orange");
							loteAberto = false;
							//							reloadListaLote();
						}
						else {
							loteAberto = true;
						}
					});
				}
			}
		});
	}

	function fn_AtualizarTextBotaoReImpressao() {

		if (imprimeEtq == "N")
			return;

		var url = '/Embalagem/RecuperarStatusReimpressao';
		var parametros = {};
		fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoStatusReimpressao);

	}

	function fn_retornoStatusReimpressao(data) {

		if (data.error == true) {
			$("#btnAtivarReimpressao").val("Ativar Reimpressão");
			$("#btnAtivarReimpEtq").val("Ativar");
		} else {
			if (data.statusAtual == true) {
				//fn_AtivarReImpressaoEtiqueta(true); //chamada para desativar a reimpressão
				$("#btnAtivarReimpressao").html('<a href="#" style="padding: 0">Desativar Reimpressão</a>');
				$("#btnAtivarReimpEtq").val("Desativar");
				$("#lblMensagem").html("A REIMPRESSÃO ESTÁ ATIVADA.");
				$("#lblMensagem").css("background-color", "red");
				$("#statusReimpressao").val(true);
			}
			else {
				$("#statusReimpressao").val(false);
				$("#btnAtivarReimpressao").html('<a href="#" style="padding: 0">Ativar Reimpressão</a>');
			}
		}

		fn_DesativarReimpressaoEtiquetas();
	}

	function fn_incremetarTotalProduzido() {

		if ($("#statusReimpressao").val().toString() != "true") {
			var totalAtual = $("#spTotalProduzido").html();
			var soma = parseInt(totalAtual) + 1;
			$("#spTotalProduzido").html(soma);

			var totalMAtual = $("#spTotalProduzidoModelo").html();
			var somaM = parseInt(totalMAtual) + 1;
			$("#spTotalProduzidoModelo").html(somaM);

			var totalEAtual = $("#qtdEmbalado_" + AP_Atual).html();
			var somaE = parseInt(totalEAtual) + 1;
			$("#qtdEmbalado_" + AP_Atual).html(somaE);
		}
	}

	function fn_exibeUltimoLido() {

		var myGrid = $('#tbListaItem2');
		var rowId = 0;
		var valor = "";
		for (var i = 0; i < colunas.split(",").length; i++) {
			rowId = 1;
			valor += "<b>" + colunas.split(",")[i] + " :</b> " + myGrid.jqGrid('getCell', rowId, colunas.split(",")[i]) + "<br>";

		}
		$('#dvUltimoLido').html(valor);

		fn_totalProduzidoCaixaColetiva();
	}

	function fn_exibeUltimoLidoPerfil() {

		var d = new Date();
		var data = getFormattedDate(d) + ' ' + getFormattedTime(d);

		var myGrid = $('#tbListaItem');
		var gridLote = $('#tbListaLote');
		
		var total = myGrid.jqGrid('getGridParam', 'records');

		var valor = "";
		for (var i = 1; i <= total; i++) {
			if (myGrid.jqGrid('getCell', i, "Tipo") != "EAN13") {
				valor += "<b>" + myGrid.jqGrid('getCell', i, "Tipo") + " :</b> " + myGrid.jqGrid('getCell', i, 3) + "<br>";
			}

			if (myGrid.jqGrid('getCell', i, "Tipo") == "Produto") {
				var registro = { "Série": myGrid.jqGrid('getCell', i, 3), "Data Leitura": data };

				gridLote.jqGrid("addRowData", total + 1, registro, 'first');

			}

		}

		valor += "<b>Data Leitura</b>: " + data;

		if (valor != "")
			$('#dvUltimoLido').html(valor);
		else
			$('#dvUltimoLido').html("Erro na leitura!!!");

		//fn_totalProduzidoCaixaColetiva();
	}

	function fn_TrocarAP() {

		location.href = '/Coleta/Home/AmarraLote';
	}

	function fn_BotaoFecharCC() {

		$("#txtLeitura").attr("disabled", "true");

		$('#dvDialogFecharCC').dialog('open');

		if (arrayAP.length == 1)
			$("#txtNumAPFecharCC").val(arrayAP[0].AP);

		$("#txtJustificativaFecharCC").focus();

	}

	function fn_DesativarReimpressaoEtiquetas() {
		$("#check_1").val(true);
		$("#check_2").val(true);
		$("#check_3").val(true);
		$("#check_4").val(true);
		$("#check_5").val(true);
		$("#check_6").val(true);
		$("#check_7").val(true);
	}

	function fn_iniciarTemporizador() {

		if (iniciouTemporizador == false) {
			temporizador = setInterval(function () {
				arrayPerfil = fn_limpaValores(perfil);

				$("#txtLeitura").val("");

				var itemdaVez = fn_verificaItemDaVez(arrayPerfil);
				var item = arrayPerfil[itemdaVez].name;
				$("#lblMensagem").css("background-color", "red");
				$("#lblMensagem").html("LEITURA CANCELADA. INICIE NOVAMENTE COM: " + item);

				fn_fecharTemporizador();

			}, parseInt(segundos));
			iniciouTemporizador = true;
		}
	}

	function fn_fecharTemporizador() {
		iniciouTemporizador = false;
		clearTimeout(temporizador);
	}

	function RecuperaMascaras(RecuperaMascarasAux) {
		$.ajax({
			type: "GET",
			url: "/Embalagem/RecuperarMascaras",
			dataType: "JSON",
			success: function (json) {
				RecuperaMascarasAux.call(this, json);
			},
			error: function (xhr, description) {
				alert("Erro ao consultar lista de Caixas Coletivas: " + description);
			}
		});
	}


	function validaRegex(mascara, valor) {
		//var strPattern = "^[A-Za-z]{2}\\d{3}$";
		var strOptions = "i";

		var oREGEXP = new RegExp(mascara, strOptions);

		if (oREGEXP.test(valor)) {
			return true;
		}
		else {
			return false;
		}
	}

	///// Funções para o Painel de Produção

	// Find Left Boundry of current Window
	function FindLeftWindowBoundry() {
		// In Internet Explorer window.screenLeft is the window's left boundry
		if (window.screenLeft) {
			//return window.screenLeft;
		}

		// In Firefox window.screenX is the window's left boundry
		if (window.screenX)
			return window.screenX;

		return 0;
	}

	window.leftWindowBoundry = FindLeftWindowBoundry;

	// Find Left Boundry of the Screen/Monitor
	function FindLeftScreenBoundry() {
		var left = leftWindowBoundry();

		// Check if the window is off the primary monitor in a positive axis
		// X,Y                  X,Y                    S = Screen, W = Window
		// 0,0  ----------   1280,0  ----------
		//     |          |         |  ---     |
		//     |          |         | | W |    |
		//     |        S |         |  ---   S |
		//      ----------           ----------
		if (left > window.screen.width) {
			return left - (left - window.screen.width);
		}

		// Check if the window is off the primary monitor in a negative axis
		// X,Y                  X,Y                    S = Screen, W = Window
		// 0,0  ----------  -1280,0  ----------
		//     |          |         |  ---     |
		//     |          |         | | W |    |
		//     |        S |         |  ---   S |
		//      ----------           ----------
		// This only works in Firefox at the moment due to a bug in Internet Explorer opening new windows into a negative axis
		// However, you can move opened windows into a negative axis as a workaround
		if (left < 0 && left > (window.screen.width * -1)) {
			return (window.screen.width * -1);
		}

		// If neither of the above, the monitor is on the primary monitor whose's screen X should be 0
		return 0;
	}

	window.leftScreenBoundry = FindLeftScreenBoundry;

	function fn_AbrirPainel() {
		//var URL = "http://semptoshiba.mao/apontaprod/barras/painelonlinelinha.asp?linha=" + codLinhaT1 + "&coleta=true";
		var URL = "/Coleta/PainelProducao/Painel/?codlinha=" + codLinha;
		var width = $(window).width();
		var height = $(window).height();
		var left = window.left;//ScreenBoundry();

		var win = window.open(URL, 'windowName', 'resizable=0, scrollbars=0, fullscreen=1, height=' + height +
		  ', width=' + width + ', screenX=' + left + ' , left=' + left + ', top=0, toolbar=0, menubar=0, status=1');
	}

</script>
