﻿@model SEMP.Model.DTO.CnqCustoRetDTO

@using (Html.BeginForm("Create", "CustoRetrabalho", FormMethod.Post, new { @name = "frmRetrabalho", @id = "frmRetrabalho" }))
{
	var mesRef = DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).ToShortDateString();
	if (!String.IsNullOrEmpty(ViewBag.mesRef))
	{
		mesRef = Request["mesRef"];
	}

	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		<input type="hidden" name="CodFab" id="CodFab" value="@SEMP.Model.Constantes.CodFab02"/>

		<div class="row">
			<div class="col-md-6">
				@Html.LabelFor(model => model.MesRef, new { @class = "col-cust control-label" })
				<div class="col-md-10">
					@Html.TextBoxFor(model => model.MesRef, new { @value = mesRef, @class="form-control input-sm monthcalendar", style="width: 85px;" })
					@Html.ValidationMessageFor(model => model.MesRef)
				</div>
			</div>

			<div class="col-md-6">
				@Html.LabelFor(model => model.CodFam, new { @class = "control-label col-cust" })
				<div class="col-md-10">
					@Html.TextBoxFor(model => model.CodFam, new { @class = "form-control input-sm" })
					@Html.ValidationMessageFor(model => model.CodFam)
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				@Html.LabelFor(model => model.ValReTrabalho, new { @class = "control-label col-cust" })
				<div class="col-md-10">
					@Html.TextBoxFor(model => model.ValReTrabalho, new { @class = "form-control input-sm" })
					@Html.ValidationMessageFor(model => model.ValReTrabalho)
				</div>
			</div>

			<div class="col-md-6">
				@Html.LabelFor(model => model.ProdAmount, new { @class = "control-label col-cust" })
				<div class="col-md-10">
					@Html.TextBoxFor(model => model.ProdAmount, new { @class = "form-control input-sm" })
					@Html.ValidationMessageFor(model => model.ProdAmount)
				</div>
			</div>
		</div>
		<br />
		<div class="row align-center">
			<div class="col-md-5 col-md-offset-7">
				<div class="btn-group">
					<input type="button" onclick="$('#dialog-edit').dialog('close');" class="btn btn-danger" value="Cancelar" />
					<input type="button" value="Gravar" class="btn btn-danger" onclick="gravarDefeito()" />
				</div>
			</div>
		</div>
	</div>
}

<script>
	$(function () {
		$("#MesRef").datepicker(
		{
			changeMonth: true,
			changeYear: true,
			showButtonPanel: true,
			dateFormat: 'mm/yy',

			onClose: function () {
				var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
				var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
				$(this).datepicker('setDate', new Date(iYear, iMonth, 1));
			}

		});
	});

	function gravarDefeito() {
		$("#MesRef").val("01/" + $("#MesRef").val());

		$("#CodFam").val($("#CodFam").val().toUpperCase());

		$.ajax({
			type: "POST",
			url: "/CustoRetrabalho/Create/",
			data: $("#frmRetrabalho").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Registro inserido com sucesso.");
					$("#CodFam").val("");
					$("#ValReTrabalho").val("");
					$("#ProdAmount").val("");
				} else {
					alert("Não foi possível gravar.");
				}
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr);
			}
		});
	}

</script>
