﻿@model SEMP.Model.DTO.CnqCustoRetDTO

<h3>Confirma remover esse registro?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.CodFab)</dt>

		<dd>@Html.DisplayFor(model => model.CodFab)</dd>

		<dt>@Html.DisplayNameFor(model => model.MesRef)</dt>

		<dd>@Html.DisplayFor(model => model.MesRef)</dd>

		<dt>@Html.DisplayNameFor(model => model.NomFam)</dt>
		
		<dd>@Html.DisplayFor(model => model.NomFam)</dd>

		<dt>@Html.DisplayNameFor(model => model.ValReTrabalho)</dt>

		<dd>@Html.DisplayFor(model => model.ValReTrabalho)</dd>

		<dt>@Html.DisplayNameFor(model => model.ProdAmount)</dt>

		<dd>@Html.DisplayFor(model => model.ProdAmount)</dd>

	</dl>

	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			<input type="submit" value="Remover" class="bttn bttn-sm bttn-red" />
		</div>
	}
</div>
