﻿@model SEMP.Model.DTO.CnqCustoRetDTO

@using (Html.BeginForm("Edit", "CustoRetrabalho", FormMethod.Post, new { @name = "frmRetrabalho", @id = "frmRetrabalho" }))
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.CodFab)

		<div class="row">
			<div class="col-md-6">
				@Html.LabelFor(model => model.MesRef, new { @class = "control-label col-cust" })
				<div class="col-md-10">
					<input type="text" class="monthcalendar" name="MesRef" id="MesRef" value="@Model.MesRef.ToString("MM/yyyy")" readonly="readonly" />
					@Html.ValidationMessageFor(model => model.MesRef)
				</div>
			</div>

			<div class="col-md-6">
				@Html.LabelFor(model => model.CodFam, new { @class = "control-label col-cust" })
				<div class="col-md-10">
					@Html.TextBoxFor(model => model.CodFam, new { @readonly = "readonly" })
					@Html.ValidationMessageFor(model => model.CodFam)
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				@Html.LabelFor(model => model.ValReTrabalho, new { @class = "control-label col-cust" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.ValReTrabalho)
					@Html.ValidationMessageFor(model => model.ValReTrabalho)
				</div>
			</div>

			<div class="col-md-6">
				@Html.LabelFor(model => model.ProdAmount, new { @class = "control-label col-cust" })
				<div class="col-md-10">
					@Html.EditorFor(model => model.ProdAmount)
					@Html.ValidationMessageFor(model => model.ProdAmount)
				</div>
			</div>
		</div>
		<div class="row">
			<div style="margin-top: 10px; display: inline-block;">
				<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravarDefeito()" />
			</div>
		</div>
	</div>
}

<script>
	function gravarDefeito() {
		$.ajax({
			type: "POST",
			url: "/CustoRetrabalho/Edit/",
			data: $("#frmRetrabalho").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Registro alterado com sucesso.");
					document.location.href = "/Outros/CustoRetrabalho/";
				} else {
					alert("Não foi possível gravar.");
				}
			},
			error: function (xhr) {
				alert("Não foi possível alterar: " + xhr);
			}
		});
	}

</script>

