﻿@{
	ViewBag.Title = "Custo do Retrabalho";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Custo do Retrabalho";

	var mesRef = DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).ToString("MM/yyyy");

}
@Scripts.Render("~/bundles/excelexport")
<style>
	.ui-datepicker-calendar
	{
		display: none;
	}
	.ui-datepicker
	{
		width: 200px !important;
	}
</style>

<h3>@ViewBag.Title</h3>

<div id="dialog-edit" style="display: none; top: 10px;"></div>

<div class="form-inline">
	<div class="row">
		<div class="col-md-2" style="width: 155px;">
			<label>Mês&#58;</label>
			<input type="text" name="mesRef" id="mesRef" value="@mesRef" class="form-control input-sm monthcalendar" style="width: 85px;"/>
		</div>

		<div class="col-md-6" style="width: 380px;">
			<label class="labelFloat">Família&#58;</label>
			<div class="input-group input-group-sm">
				<input type="text" name="CodFam" id="CodFam" class="form-control" style="width: 60px;" />
				<input type="text" name="DesFamilia" id="DesFamilia" class="input-group-addon" style="width: 200px;" disabled="disabled" />
			</div>
		</div>
		<div class="col-md-4" style="float: left;">
			<div class="btn-group">
				<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="btn btn-success" />
				<input type="button" name="btnNovo" id="btnNovo" value="Novo" class="btn btn-danger" />
				<input type="button" name="btnEnviar" value="Consultar" class="btn btn-danger" onclick="btnEnviar_Click();" />
			</div>
		</div>
	</div>
</div>
<br />
<div id="conteudo">
</div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<script>
	var url = "";

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			url: "/Outros/CustoRetrabalho/Lista/",
			data: {
				MesRef: $("#mesRef").val(),
				CodFam: $("#CodFam").val()
			},
			success: function (data) {
				$("#conteudo").html(data);

				$(".linkEdit").on("click", function (e) {
					url = $(this).attr('href');
					$(".ui-dialog-title").html("Alterar");
					$("#dialog-edit").dialog('open');

					return false;
				});
				$('a').tooltip();
			}
		});

	}

	$(document).ready(function () {
		$("#mesRef").datepicker(
		{
			autoSize: true,
			changeMonth: true,
			changeYear: true,
			showButtonPanel: true,
			dateFormat: 'mm/yy',

			onClose: function () {
				var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
				var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
				$(this).datepicker('setDate', new Date(iYear, iMonth, 1));
			}

		});

		$("#dialog-edit").dialog({
			title: 'Alterar dados',
			autoOpen: false,
			resizable: false,
			width: 500,
			height: 320,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});
		});

		$("#btnNovo").on("click", function (e) {
			url = "/Outros/CustoRetrabalho/Create/?mesRef=" + $("#mesRef").val();
			$(".ui-dialog-title").html("Incluir dados");
			$("#dialog-edit").dialog('open');

			return false;
		});

		btnEnviar_Click();
	});
</script>

<br />
<br />
