﻿@model IEnumerable<SEMP.Model.DTO.CnqCustoRetDTO>


<table class="table-semp" id="tblDados" style="width: 500px;">
	<thead>
		<tr>
			<th style="width: 50px; text-align: center;"></th>
			<th>@Html.DisplayNameFor(model => model.MesRef)</th>
			<th>@Html.DisplayNameFor(model => model.NomFam)</th>
			<th>@Html.DisplayNameFor(model => model.ValReTrabalho)</th>
			<th>@Html.DisplayNameFor(model => model.ProdAmount)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model) {
			<tr>
				<td>
					@Html.ActionLink(" ", "Edit", new { codFab = item.CodFab, mesRef = item.MesRef.ToShortDateString(), codFam = item.CodFam }, new { @class="linkEdit glyphicon glyphicon-edit", @title="Editar registro"}) |
					@Html.ActionLink(" ", "Delete", new { codFab = item.CodFab, mesRef = item.MesRef.ToShortDateString(), codFam = item.CodFam }, new { @class="linkEdit glyphicon glyphicon-remove", @title="Remover"})
				</td>
				<td>@Html.DisplayFor(modelItem => item.MesRef)</td>
				<td>@Html.DisplayFor(modelItem => item.NomFam)</td>
				<td style="text-align: right;">@Html.DisplayFor(modelItem => item.ValReTrabalho)</td>
				<td style="text-align: right;">@Html.DisplayFor(modelItem => item.ProdAmount)</td>
			</tr>
		}
	</tbody>
	<tfoot style="background-color: gray; color: white; font-weight: bold;">
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td style="text-align: right;">@Model.Sum(x => x.ValReTrabalho).Value.ToString("C2")</td>
			<td style="text-align: right;">@Model.Sum(x => x.ProdAmount).Value.ToString("C2")</td>
		</tr>
	</tfoot>
</table>
