﻿@model IEnumerable<SEMP.Model.DTO.viw_BarrasSAPContingenciaDTO>
<style>
	.num {
	  mso-number-format:General;
	}
	td, .text {
	  mso-number-format:"\@{WriteLiteral("@");}";
	}
</style>
<table class="table">
@foreach (var item in Model)
{
<tr>
<td></td>
<td>@Html.DisplayFor(modelItem => item.Werks)</td><td>@Html.DisplayFor(modelItem => item.AUART)</td>
<td>@Html.DisplayFor(modelItem => item.AUFNR)</td><td>@Html.DisplayFor(modelItem => item.MATNR1)</td>
<td>@Html.DisplayFor(modelItem => item.EAN13)</td><td>@Html.DisplayFor(modelItem => item.SERIAL1)</td>
<td>@Html.DisplayFor(modelItem => item.CREDATE1)</td><td>@Html.DisplayFor(modelItem => item.MATNR2)</td>
<td>@Html.DisplayFor(modelItem => item.SERIAL2)</td><td>@Html.DisplayFor(modelItem => item.CREDATE2)</td>
<td>@Html.DisplayFor(modelItem => item.PRUEFLOS)</td><td>@Html.DisplayFor(modelItem => item.CRETIME2)</td>
<td>@Html.DisplayFor(modelItem => item.CRETIME1)</td><td>@Html.DisplayFor(modelItem => item.ARBPL)</td>
<td>@Html.DisplayFor(modelItem => item.CODLINHA)</td><td>@Html.DisplayFor(modelItem => item.CODPOSTO)</td>
<td>@Html.DisplayFor(modelItem => item.DRT)</td><td>@Html.DisplayFor(modelItem => item.TPAMAR)</td>
<td>@Html.DisplayFor(modelItem => item.GESME)</td><td>@Html.DisplayFor(modelItem => item.STATCONF)</td>
<td>@Html.DisplayFor(modelItem => item.DTCONF)</td><td>@Html.DisplayFor(modelItem => item.MBLNR)</td>
<td>@Html.DisplayFor(modelItem => item.STATVD)</td><td>@Html.DisplayFor(modelItem => item.STBCKFLUSH)</td>
<td>@Html.DisplayFor(modelItem => item.DTBCKFLUSH)</td><td>@Html.DisplayFor(modelItem => item.USERNAME)</td>
<td>@Html.DisplayFor(modelItem => item.SISAP)</td><td>@Html.DisplayFor(modelItem => item.PACKNO)</td>
<td>@Html.DisplayFor(modelItem => item.VCODE)</td><td>@Html.DisplayFor(modelItem => item.OBA)</td>
</tr>
}
</table>
