﻿@{
	ViewBag.Title = "Acompanhamento de Leitura";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Resumo de Produção";

	var datInicio = Request["DatInicio"];
	var datFim = Request["DatFim"];
	var linha = Request["CodLinha"];
	var familia = Request["Familia"];
	var codigo = Request["Codigo"];
	var NumSerie = Request["NumSerie"];
	var Descricao = Request["Descricao"];
	var Tipo = Request["Tipo"];
	var Fase = Request["fase"];

	if (String.IsNullOrEmpty(datInicio)) { datInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(datFim)) { datFim = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(linha)) { linha = ""; }
	if (String.IsNullOrEmpty(familia)) { familia = ""; }
	if (String.IsNullOrEmpty(Tipo)) { Tipo = "modelo"; }
	if (String.IsNullOrEmpty(Fase)) { Fase = "FEC"; }

}
@Scripts.Render("~/bundles/excelexport")
@Scripts.Render("~/bundles/datatable")
@Styles.Render("~/Content/datatable")

<div id="dialog-edit" style="display: none; top: 10px;"></div>

<h3>@ViewBag.Title</h3>
<form name="frmRelatorio" id="frmRelatorio" class="form-inline">
	<div class="row" style="margin-bottom: 10px;">
		<div>&nbsp;</div>
		<div class="pull-left" style="margin-right: 10px;">
			<label>Data inicial&#58;</label>
			<input type="text" name="DatInicio" id="DatInicio" value="@datInicio" class="form-control input-sm" style="width: 85px;" />
		</div>
		<div class="pull-left" style="margin-right: 10px;">
			<label>Data final&#58;</label>
			<input type="text" name="DatFim" id="DatFim" value="@datFim" class="form-control input-sm" style="width: 85px;" />
		</div>
		<div class="pull-left" style="margin-right: 10px;">
			<label class="pull-left">Linha&#58;</label>
			<select id="CodLinha" name="CodLinha" class="form-control input-sm" style="width: 165px;"></select>
		</div>
		<div class="pull-left" style="margin-right: 10px;">
			<label class="pull-left">Fam&iacute;lia&#58;</label>
			<select name="Familia" id="Familia" class="form-control input-sm fabrica">
				<option value="" @{if (familia == "") { WriteLiteral("selected"); }}>TODOS</option>
				<option value="TV LCD" @{if (familia == "TV LCD") { WriteLiteral("selected"); }}>TV LCD</option>
				<option value="AUDIO" @{if (familia == "AUDIO") { WriteLiteral("selected"); }}>AUDIO</option>
				<option value="DVD" @{if (familia == "DVD") { WriteLiteral("selected"); }}>DVD</option>
				<option value="PA STI" @{if (familia == "PA STI") { WriteLiteral("selected"); }}>PA STI</option>
			</select>
		</div>
		<div class="pull-left" style="margin-left: 5px;">
			<label class="pull-left">AP: </label>
			<div class="input-group input-group-sm pull-left" style="margin-right: 15px;">
				<input type="text" class="form-control input-group-addon" name="CodFab" id="CodFab" value="" style="width: 45px;" placeholder="Fáb." maxlength="2" onblur="this.value = padLeft(this.value, 2);" />
				<input type="text" class="form-control" name="NumAP" id="NumAP" value="" style="width: 70px;" placeholder="AP" maxlength="6" onblur="this.value = padLeft(this.value, 6);" />
			</div>
			<div class="pull-left">
				<label title="Filtrar apenas a AP. Se desmarcado, inclui no filtro o período e a linha" data-toggle="tooltip" data-placement="bottom">
					<input type="checkbox" id="ChkAP" name="ChkAP" checked /> Apenas AP
				</label>
			</div>
		</div>
		<div class="pull-left" style="margin-left: 5px;">
			<div class="pull-left">
				<label title="Filtrar apenas leitura em Contingência" data-toggle="tooltip" data-placement="bottom">
					<input type="checkbox" id="flgContingencia" name="flgContingencia"  /> Contingência
				</label>
			</div>
		</div>

	</div>
	<div class="row" style="margin-left: 0;">
		<div class="pull-left" style="margin-right: 10px;">
			<label class="labelFloat">Código&#58;</label>
			<div class="input-group input-group-sm">
				<input type="text" name="Codigo" id="Codigo" value="@codigo" class="form-control" style="width: 60px; z-index:0;" />
				<input type="text" name="Descricao" id="Descricao" value="@Descricao" class="input-group-addon" style="width: 200px;" disabled="disabled" />
			</div>
		</div>
		<div class="pull-left" style="margin-right: 10px;">
			<label>Série&#58;</label>
			<input type="text" name="NumSerie" id="NumSerie" value="@NumSerie" class="form-control" size="15" />
		</div>
		<div class="pull-left" style="margin-right: 10px;">
			<label class="pull-left">Tipo:</label>
			<select name="Tipo" id="Tipo" class="form-control input-sm fabrica">
				<option value="modelo" @{if (Tipo == "modelo") { WriteLiteral("selected"); }}>Modelo</option>
				<option value="acessorio" @{if (Tipo == "acessorio") { WriteLiteral("selected"); }}>Acessório</option>
				<option value="painel" @{if (Tipo == "painel") { WriteLiteral("selected"); }}>Painel</option>
				<option value="outro" @{if (Tipo == "outro") { WriteLiteral("selected"); }}>Outro</option>
			</select>
		</div>
		<div class="pull-left" style="margin-right: 10px;">
			<label class="pull-left">Fase:</label>
			<select name="fase" id="fase" class="form-control input-sm fabrica">
				<option value="IAC" @{if (Fase == "IAC") { WriteLiteral("selected"); }}>IAC</option>
				<option value="IMC" @{if (Fase == "IMC") { WriteLiteral("selected"); }}>IMC</option>
				<option value="FEC" @{if (Fase == "FEC") { WriteLiteral("selected"); }}>MF</option>
				<option value="LCM" @{if (Fase == "LCM") { WriteLiteral("selected"); }}>LCM</option>
				<option value="DAT" @{if (Fase == "DAT") { WriteLiteral("selected"); }}>DAT</option>
			</select>
		</div>
		<div class="pull-left">
			<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" onclick="btnExportar_Click();" class="bttn bttn-sm bttn-green" />
			<input type="button" id="btnExportarSAP" name="btnExportarSAP" value="Exportar SAP" onclick="btnExportarSAP_Click();" class="bttn bttn-sm bttn-green" />
			<input type="button" name="btnEnviar" id="btnEnviar" value="Consultar" onclick="btnEnviar_Click();" class="bttn bttn-sm bttn-red" />
		</div>
	</div>
</form>

<div id="conteudo"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>
<br />
<br />
<script>
	var url = "";
	var linha = '@linha';

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

		var localUrl = "/Coleta/Acompanhamento/Lista/";

		var codFab = $("#CodFab").val();
		var numAP = $("#NumAP").val();
		var parametros = $("#frmRelatorio").serialize();

		if (codFab != "" && numAP != "" && numAP != "000000") {
			localUrl = "/Coleta/Acompanhamento/ListaAP/";

			if ($("#ChkAP").prop("checked") == true) {
				parametros = { codFab: codFab, numAP: numAP };
			}

		}

		$.ajax({
			type: "GET",
			url: localUrl,
			data: parametros,
			success: function (data) {
				$("#conteudo").html(data);
				initDialog();
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});

	}

	function initDialog() {
		$(".lnkEdit").on("click", function (e) {
			url = $(this).attr('href');
			$("#dialog-edit").html($('#carregando').html());
			$("#dialog-edit").dialog('open');

			return false;
		});
		$("#btnclose").on("click", function (e) {
			$("#dialog-edit").dialog("close");
			return false;
		});
	}

	$(document).ready(function () {
		$('[data-toggle="tooltip"]').tooltip();

		$("#dialog-edit").dialog({
			title: 'Detalhes produto',
			autoOpen: false,
			resizable: false,
			width: 630,
			height: 500,
			top: 10,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("X");
				$(this).html("");
				$(this).load(url);
			}
		});

		$("#DatFim").datepicker();
		$("#DatInicio").datepicker();

		/*$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados"
				, datatype: $datatype.MVC
			});
		});*/

		$("#fase").change(AtualizaLinhas);

		$("#Codigo").blur(function () {
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: $("#Codigo").val() },
				success: function (data) {
					$("#Descricao").val(data);
				}
			});
		});

		$("#NumSerie").blur(function () {
			var campo = $("#NumSerie");
			if (campo.val().length() < 8) {
				campo.val("AA" + campo.val().format())

			}
		});

		$("tr").click(function () {
			$(this).addClass("selected").siblings().removeClass("selected");
		});
		 
		AtualizaLinhas();

	});

	function AtualizaLinhas() {
		var fase = $("#fase").val();
		if (fase == "IMC") {
			$("#Tipo").prop("disabled", true);
		} else {
			$("#Tipo").prop("disabled", false);
		}

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: $("#fase").val() },
			dataType: "json",
			success: function (json) {
				var options = "";
				options += '<option> SELECIONE A LINHA </option>';
				$.each(json, function (key, Linhas) {
					var selecionado = "";
					if (Linhas.CodLinhaT1 == linha) selecionado = "selected";
					options += '<option value="' + Linhas.CodLinhaT1 + '" ' + selecionado + '>' + Linhas.DesLinha + '</option>';
				});
				$("#CodLinha").html(options);
			}
		});
	}

	function btnExportar_Click() {
		//$("#conteudo").html($('#carregando').html());

		var localUrl = "/Coleta/Acompanhamento/Lista/?";

		var codFab = $("#CodFab").val();
		var numAP = $("#NumAP").val();
		var parametros = $("#frmRelatorio").serialize();

		/*if (codFab != "" && numAP != "" && numAP != "000000") {
			localUrl = "/Coleta/Acompanhamento/ListaAP/";

			if ($("#ChkAP").prop("checked") == true) {
				parametros = { codFab: codFab, numAP: numAP };
			}

		}*/

		window.open(localUrl + parametros);

		/*$.ajax({
			type: "GET",
			url: localUrl,
			data: parametros,
			success: function (data) {
				$("#conteudo").html(data);
				initDialog();
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		})*/;

	}

	function btnExportarSAP_Click() {
		var localUrl = "/Coleta/Acompanhamento/GerarExcelSAP/?";

		var parametros = "datInicio=" + $("#DatInicio").val() + "&datFim = " + $("#DatFim").val();

		window.open(localUrl + parametros);

	}

</script>
