﻿@using RAST.BO.Relatorios
@model IEnumerable<SEMP.Model.VO.Rastreabilidade.Relatorios.LeiturasMF>

@{
	var Registros = 0;
	if (Model.Any())
	{
		Registros = Model.Count();
	}

	var fase = Request["fase"];
}

<div>Registros encontrados: @Registros</div>
<table class="table-semp" style="width: 1300px;" id="tblDados">
	<thead>
		<tr>
			<th></th>
			<th style="width: 120px;">@Html.DisplayNameFor(model => model.Data)</th>
			<th>@Html.DisplayNameFor(model => model.CodModelo)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.NumSerieModelo)</th>
			@if (fase == "FEC")
			{
				<th class="visible-print">@Html.DisplayNameFor(model => model.CodPainel)</th>
				<th class="visible-print" style="width: 60px;">@Html.DisplayNameFor(model => model.NumSeriePainel)</th>
				<th>@Html.DisplayNameFor(model => model.CodAcessorio)</th>
				<th style="width: 60px;">@Html.DisplayNameFor(model => model.NumSerieAcessorio)</th>
				<th style="width: 50px;">Qtd. Desas.</th>
			}
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.CodOperador)</th>
			<th style="width: 60px;">
				@{ if (fase != "DAT")
					{ @Html.DisplayNameFor(model => model.CodTestador);
				}
				else { Write("Amostra"); } }
			</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.CodLinha)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.NumTurno)</th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.DatReferencia)</th>
			<th style="width: 80px;">@Html.DisplayNameFor(model => model.NumLote)</th>
			<th style="width: 30px;">@Html.DisplayNameFor(model => model.CodFab)</th>
			<th style="width: 40px;">@Html.DisplayNameFor(model => model.NumAP)</th>
			@if (fase != "FEC")
			{
				<th style="width: 120px;">@Html.DisplayNameFor(model => model.DatProcessadoSAP)</th>}
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			var data = item.Data.ToString("dd/MM/yyyy HH:mm:ss");

			<tr class="hover" style="height: 15px;">
				@if (fase != "FEC")
				{
					<td style="width: 40px;">@Html.ActionLink("Rastreia", "Ficha", "Rastreia", new { Codigo = item.NumSerieModelo }, new { @class = "lnkEdit" })</td>
				}
				else
				{
					<td>@Html.ActionLink("Detalhes", "Index", "DetalhesProduto", new { Codigo = item.CodModelo, NumSerie = item.NumSerieModelo }, new { @class = "lnkEdit" })</td>
				}
				<td>@data</td>
				<td>@Html.DisplayFor(modelItem => item.CodModelo) - @Html.DisplayFor(modelItem => item.DesModelo)</td>
				<td>@Html.DisplayFor(modelItem => item.NumSerieModelo)</td>
				@if (fase == "FEC")
				{
					<td class="visible-print">@Html.DisplayFor(modelItem => item.CodPainel) - @Html.DisplayFor(modelItem => item.DesPainel)</td>
					<td class="visible-print">@Html.DisplayFor(modelItem => item.NumSeriePainel)</td>
					<td>@Html.DisplayFor(modelItem => item.CodAcessorio) - @Html.DisplayFor(modelItem => item.DesAcessorio)</td>
					<td>@Html.DisplayFor(modelItem => item.NumSerieAcessorio)</td>
					<td style="text-align: center;">@RAST.BO.Relatorios.AuditorSerie.ObterDefeitosDesassociacao(item.CodModelo + item.DigVerificador + item.NumSerieModelo)</td>
				}
				<td>@Html.DisplayFor(modelItem => item.CodOperador)</td>
				<td>@Html.DisplayFor(modelItem => item.CodTestador)</td>
				<td>@Html.DisplayFor(modelItem => item.CodLinha)</td>
				<td>@Html.DisplayFor(modelItem => item.NumTurno)</td>
				<td>@Html.DisplayFor(modelItem => item.DatReferencia)</td>
				<td>@Html.DisplayFor(modelItem => item.NumLote)</td>
				<td>@Html.DisplayFor(modelItem => item.CodFab)</td>
				<td>@Html.DisplayFor(modelItem => item.NumAP)</td>
				@if (fase != "FEC")
				{
					<td>@Html.DisplayFor(modelItem => item.DatProcessadoSAP)</td>}
			</tr>
		}

	</tbody>
</table>

<br />
<br />