﻿@model SEMP.Model.DTO.CBModeloDTO

<h3>Tem certeza de que deseja remover esse registro?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.CodModelo)</dt>
		<dd>@Html.DisplayFor(model => model.CodModelo)</dd>

		<dt>@Html.DisplayNameFor(model => model.DesItem)</dt>
		<dd>@Html.DisplayFor(model => model.DesItem)</dd>

		<dt>@Html.DisplayNameFor(model => model.Setor)</dt>
		<dd>@Html.DisplayFor(model => model.Setor)</dd>

		<dt>@Html.DisplayNameFor(model => model.Fase)</dt>
		<dd>@Html.DisplayFor(model => model.Fase)</dd>

	</dl>

	@using (Html.BeginForm())
	{
	@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<div style="margin-top: 10px; display: inline-block;">
					<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
				</div>
				<div style="display: inline-block;">
					<input type="submit" value="Apagar" class="bttn bttn-sm bttn-red" />
				</div>
		</div>
	}
</div>
