﻿@model SEMP.Model.DTO.CBModeloDTO

@{
	if (Request["layout"] == "true")
	{
		Layout = "~/Views/Shared/_Layout.cshtml";
	}
	var statusFifo = "";
	if (Model != null && Model.FlgControlaFifo != null && Model.FlgControlaFifo == false)
	{
		statusFifo = "off";
	}
}

@using (Html.BeginForm("Edit", "CadModelo", FormMethod.Post, new { @class = "form-inline", @role = "form", @id = "frmDados", @name = "frmDados" }))
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		<div class="row">
			<div class="pull-left">
				<label class="control-label" for="CodItem">Código</label><br />
                <div class="input-group">
                    @Html.TextBoxFor(model => model.CodModelo, new { @style = "width: 60px", @maxlength = "6", @class = "form-control" })
                    @Html.TextBoxFor(model => model.DesItem, new { @disabled = "disabled", @style = "width: 290px", @class = "input-group-addon" })
                </div>
				@Html.ValidationMessageFor(model => model.CodModelo, "", new { @class = "text-danger" })
			</div>
		</div>
		<div class="row">
			<div class="pull-left margem">
				<label class="control-label" for="Setor">Setor</label><br />
				@Html.TextBoxFor(model => model.Setor, new { @class = "form-control" } )
				@Html.ValidationMessageFor(model => model.Setor, "", new { @class = "text-danger" })
			</div>
			<div class="pull-left margem">
				<label class="control-label" for="Fase">Fase</label><br />
				@Html.TextBoxFor(model => model.Fase, new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.Fase, "", new { @class = "text-danger" })
			</div>
            <div class="pull-left margem">
                <label class="control-label" for="QtdCaixa">Qtd. Caixa</label><br />
                @Html.TextBoxFor(model => model.QtdCaixa, new { @class = "form-control", @style = "width: 60px;" })
                @Html.ValidationMessageFor(model => model.QtdCaixa, "", new { @class = "text-danger" })
            </div>
            <div class="pull-left">
                <label class="control-label" for="QtdLote">Qtd. Lote</label><br />
                @Html.TextBoxFor(model => model.QtdLote, new { @class = "form-control", @style = "width: 60px;" })
                @Html.ValidationMessageFor(model => model.QtdLote, "", new { @class = "text-danger" })
            </div>

		</div>
		<div class="row">
			<div class="pull-left margem">
				<label class="control-label" for="QtdAmostrasOBA">Qtd. Amostras OBA</label><br />
				@Html.TextBoxFor(model => model.QtdAmostrasOBA, new { @class = "form-control" } )
				@Html.ValidationMessageFor(model => model.QtdAmostrasOBA, "", new { @class = "text-danger" })
			</div>
			<div class="pull-left margem">
				<label class="control-label" for="FlgControlaFifo">Controlar FIFO</label><br />
				<div class="pull-right" style="margin-top: 2px; margin-right: 2px;">
					<a href="#" id="tglFlgControlaFifo" class="toggler @statusFifo">&nbsp;</a>
					@Html.HiddenFor(model => model.FlgControlaFifo, new { id = "FlgControlaFifo" } )
				</div>
				@Html.ValidationMessageFor(model => model.FlgControlaFifo, "", new { @class = "text-danger" })
			</div>
			<div class="pull-left">
				<label class="control-label" for="TempoCiclo">Tempo de Ciclo</label><br />
				@Html.TextBoxFor(model => model.TempoCiclo, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.TempoCiclo, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="row">
			<div class="pull-left margem">
				<label class="control-label" for="Mascara">Máscara</label><br />
				@Html.TextBoxFor(model => model.Mascara, new { htmlAttributes = new { @class = "form-control", @style = "width: 200px;" } })
				@Html.ValidationMessageFor(model => model.Mascara, "", new { @class = "text-danger" })
			</div>
            <div class="pull-left">
                <label class="control-label" for="PostoEntrada">Posto de Entrada</label><br />
                <select name="PostoEntrada" id="PostoEntrada">
                    <option value="" @if (Model != null && Model.PostoEntrada == null) { Write("selected"); }>Não configurado</option>
                    <option value="0" @if (Model != null && Model.PostoEntrada == false) { Write("selected"); }>Primeiro Posto</option>
                    <option value="1" @if (Model != null && Model.PostoEntrada == true) { Write("selected"); }>Último Posto</option>
                </select>

            </div>
		</div>
		<div class="row" style="margin-top: 15px; margin-left: 10px;">
			<div class="form-group">
				<div style="margin-top: 10px; display: inline-block;">
					<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
				</div>
				<div style="display: inline-block;">
					<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
				</div>
			</div>
		</div>
	</div>
}

<script>

	function gravar() {

		$.ajax({
			type: "POST",
			url: "/Coleta/CadModelo/Edit/",
			data: $("#frmDados").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Modelo cadastrado com sucesso.");
					btnEnviar_Click();
					$('#dialog-edit').dialog('close');
				} else {
					alert("Não foi possível gravar.");
				}
			},
			error: function (xhr) {
				alert("Não foi possível alterar: " + xhr.responseText);
			}
		});
	}

	$('a.toggler').click(function () {

		var eu = $(this);
		var estado = eu.hasClass('off');

		if (estado) {
			$("#FlgControlaFifo").val("1");
		}
		else {
			$("#FlgControlaFifo").val("0");
		}

		eu.toggleClass('off');

	});
</script>