﻿
@{
	ViewBag.Title = "Cadastro de Modelo";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Cadastro de Modelo";
}

<h3>@ViewBag.Title</h3>

<style>.container{margin-left: 0 !important; margin-top: 10px;} .margem {margin-right: 10px;}</style>

<div id="dialog-edit" style="display: none; top: 10px;"></div>

<div class="container">
	<div class="row">
		<div class="pull-left margem">
			<label class="labelFloat">Código&#58;</label>
			<div class="input-group">
				<input type="text" name="Codigo" id="Codigo" value="" class="form-control" style="width: 60px;" />
				<input type="text" name="Descricao" id="Descricao" value="" class="input-group-addon text-uppercase" style="width: 200px;" placeholder="Pesquisar Descrição" />
			</div>
		</div>

		<div class="pull-left">
			<button class="bttn bttn-sm bttn-red" id="btnNovo">Novo</button>
			<button class="bttn bttn-sm bttn-red" id="btnConsultar">Consultar</button>
		</div>
	</div>
</div>

<div id="grdDados"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>


<script>

	$("#btnNovo").click(function () {
		url = "/Coleta/CadModelo/Edit/";
		$(".ui-dialog-title").html("Cadastro de Modelo");
		$("#dialog-edit").dialog('open');

		return false;
	});

	function CarregarDados () {
		$("#grdDados").html($('#carregando').html());

		var parametros = { codItem: $("#Codigo").val(), desItem: $("#Descricao").val() };

		$.ajax({
			type: "GET",
			url: "/Coleta/CadModelo/Lista/",
			data: parametros,
			success: function (data) {
				$("#grdDados").html(data);

				$(".linkEdit").on("click", function (e) {
					url = $(this).attr('href');
					$(".ui-dialog-title").html("Editar Modelo");
					$("#dialog-edit").dialog('open');
					$("#dialog-edit").css("height", 400);

					return false;
				});

				$(".lnkDelete").on("click", function (e) {
					url = $(this).attr('href');
					$(".ui-dialog-title").html("Deletar Perfil");
					$("#dialog-edit").dialog('open');
					$("#dialog-edit").css("height", 250);

					return false;
				});

			},
			error: function (data) {
				alert("Erro ao consultar os modelos: " + data);
			}
		});
	}

	$("#btnConsultar").click(CarregarDados);

	$("#dialog-edit").dialog({
		title: 'Editar Modelo',
		autoOpen: false,
		resizable: false,
		width: 550,
		height: 350,
		top: 0,
		show: { effect: 'drop', direction: "up" },
		modal: true,
		draggable: true,
		open: function (event, ui) {
			$(".ui-dialog-titlebar-close").hide();
			$(this).html("");
			$(this).load(url);
		}
	});


	setTimeout("CarregarDados();", 2000);
</script>