﻿@model IEnumerable<SEMP.Model.DTO.CBModeloDTO>

<table class="table-semp smallrow">
	<thead>
		<tr>
			<th style="width: 50px;"></th>
			<th style="width: 50px;">Código</th>
			<th>Descrição</th>
			<th style="width: 50px;">Setor</th>
			<th style="width: 50px;">Fase</th>
			<th style="width: 50px;">Qtd. Caixa</th>
			<th style="width: 50px;">Qtd. Lote</th>
			<th style="width: 70px;">Qtd. Amostras OBA</th>
			<th style="width: 60px;">Controla Fifo</th>
			<th style="width: 50px;">Tempo Ciclo</th>
            <th style="width: 50px;">Posto Entrada</th>
			<th>Máscara</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
        {
            var controlaFifo = (item.FlgControlaFifo??false) ? "SIM" : "NÃO";
            var postoentrada = (item.PostoEntrada != null && item.PostoEntrada == false) ? "Primeiro" : (item.PostoEntrada == null) ? "Não Configurado" : "Último";


		<tr>
			<td>
				@Html.ActionLink(" ", "Edit", new { codItem = item.CodModelo }, new { @class = "linkEdit glyphicon glyphicon-edit", @title = "Editar registro" }) |
				@Html.ActionLink(" ", "Delete", new { codItem = item.CodModelo }, new { @class = "lnkDelete linkEdit glyphicon glyphicon-remove", @title = "Remover" })
			</td>
			<td>@item.CodModelo</td>
			<td>@item.DesItem</td>
			<td>@item.Setor</td>
			<td>@item.Fase</td>
			<td>@item.QtdCaixa</td>
			<td>@item.QtdLote</td>
			<td>@item.QtdAmostrasOBA</td>
			<td style="text-align: center">@controlaFifo</td>
			<td>@item.TempoCiclo</td>
			<td>@item.Mascara</td>
            <td>@postoentrada</td>
		</tr>
		}
	</tbody>
</table>
<br /><br /><br />