﻿@using System.Web.UI.WebControls
@model SEMP.Model.DTO.ProducaoHoraPostoDTO
@Styles.Render("~/Content/itensFormulario")
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var Fabrica = Request["fabrica"];
	var Posto = Request["posto"];
	var CodLinha = Request["CodLinha"];
	 var dataAtual = Request["dataini"];


	 ViewBag.Sistema = "Outros";
	 ViewBag.Rotina = "Produção Hora Posto";

	 if (String.IsNullOrEmpty(dataAtual)) { dataAtual = DateTime.Now.ToString("dd/MM/yyyy"); }


	 if (String.IsNullOrEmpty(Posto)) { Posto = ""; }
	 if (String.IsNullOrEmpty(Fabrica)) { Fabrica = "FEC"; }
	 if (String.IsNullOrEmpty(CodLinha)) { CodLinha = ""; }
}

@*<style>
	label {
		width: 70px;

	}

</style>*@

<h3 class="alinhamento">Produção Hora Posto</h3>
<fieldset class="alinhamento">
	<div id="filtro" class="row">
		<form action="/Outros/ProducaoHoraPosto/Lista/" method="POST" id="formLista">

			<div class="col-md-1">
				<label class="label-formulario">Data Inicio</label>
				<input type="text" name="dataini" id="dataini" value="@dataAtual" class="form-control calendar" />
			</div>
			<div class="col-md-1">
				<label class="label-formulario">Data fim</label>
				<input type="text" name="datafim" id="datafim"  value="@dataAtual" class="form-control calendar" />

			</div>
			<div class="col-md-1">
				<label class="label-formulario">Hora Inicial</label>
				
					<select name="horainicio" class="dropdown">
						<option value="">Select…</option>
						<option value="1">0</option>
						<option value="2">1</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
					</select>
			   
			</div>
			<div class="col-md-1">
				<label class="label-formulario">Hora Final</label>
				
					<select name="horafim" class="dropdown">
						<option value="">Select…</option>
						<option value="1">0</option>
						<option value="2">1</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
					</select>
				
			</div>
			<div class="col-md-1">
				<label class="label-formulario">Fabrica</label>
				<select id="cmbFabrica" name="fabrica" class="dropdown">
					<option></option>
					<option value="IAC" @{if (Fabrica == "IAC") { WriteLiteral("selected"); }}>IAC</option>
					<option value="IMC" @{if (Fabrica == "IMC") { WriteLiteral("selected"); }}>IMC</option>
					<option value="FEC" @{if (Fabrica == "FEC") { WriteLiteral("selected"); }}>FEC</option>
				</select>

			</div>

			@*           <div class="col-md-1">
				<label class="label-formulario">Linha</label>
				@Html.DropDownList("linha", new SelectList(ViewBag.ListaLinhas, "CodLinha" ,"DesLinha" ), new {@class="dropdown"})
			</div >*@
			
			<div id="divLinhas" class="col-md-1">
				<label class="label-formulario">Linha</label>
				<select id="CodLinha" name="CodLinha" class="dropdown">
				</select>
			</div>
			
			
			 <div id="comboPosto" class="col-md-1">
				<label class="label-formulario">Posto</label>
				<select id="cmbPosto" name="cmbPosto" class="dropdown">
				</select>
			</div>

		 @*   <div id="comboPosto" class="col-md-1">
				<label id="labelPosto"class="label-formulario">Posto</label>
				@Html.DropDownList("posto", new SelectList(ViewBag.Postos, "NumPosto" ,"DesPosto" ), new {@class="dropdown"})
			</div>*@


			<div class="col-md-1">
				<div> &nbsp;</div>
				<input type="button" value="Exibir" id="btBuscar" class="bttn bttn-sm bttn-red" />
			</div>

		   

		</form>

	</div>

</fieldset>
<hr />
<div id="conteudo" style="text-align:center;margin-left: 0%;margin-right: 0%"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>
<div> &nbsp;</div>
<div> &nbsp;</div>
<div> &nbsp;</div>


<script type="text/javascript">
	var colunas = "";
	var linhas = "";
	var linha = "@CodLinha";
	var postos = "";
	var posto = "@Posto";

	$("#cmbFabrica").change(function() {
		CarregarLinhas();
		$("#divLinhas").show();
	});



		
	$("#CodLinha").change(CarregarPostos);
		
	

	$(document).ready(function () {
		$("#dataini").datepicker();
		$("#datafim").datepicker();
		$("#comboPosto").hide();
		$("#divLinhas").hide();
		//$('#posto').attr('disabled', 'true');
	});

	function Buscar() {
		$("#conteudo").html($('#carregando').html());
		$.ajax({
			type: "post",
			url: "/Outros/ProducaoHoraPosto/Lista/",
			data: $("#formLista").serialize(),
			dataType: "html",
			success: function (data) {
				$("#conteudo").html(data);
				
			 
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	$("#btBuscar").click(Buscar);



	CarregarLinhas();
	CarregarPostos();



	function CarregarLinhas() {
		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: $("#cmbFabrica").val() },
			dataType: "json",
			success: function (json) {
				var options = "";
				var selected = "";
				options += '<option value="" selected="selected"> SELECIONE A LINHA </option>';
				$.each(json, function (key, Linhas) {
					if (linha == Linhas.CodLinha) { selected = "selected"; } else { selected = ""; }
					options += '<option value="' + Linhas.CodLinha + '" ' + selected + '>' + Linhas.DesLinha + '</option>';
				});
				$("#CodLinha").html(options);
			}
		});
	}


	function CarregarPostos() {
		
		$.ajax({
			type: "GET",
			url: "/posto/GetPostos/",
			data: { CodLinha: $("#CodLinha").val() },
			dataType: "json",
			success: function (json) {
				var options = "";
				var selected = "";
				options += '<option value="" selected="selected"> SELECIONE O POSTO </option>';
				$.each(json, function (key, Postos) {
					if (posto == Postos.posto) { selected = "selected"; } else { selected = ""; }
					options += '<option value="' + Postos.NumPosto + '" ' + selected + '>' + Postos.DesPosto + '</option>';
				});
				$("#cmbPosto").html(options);
			}
		});
		$("#comboPosto").show();
	}



</script>