﻿@model IEnumerable<SEMP.Model.DTO.ProducaoHoraPostoDTO>

@*<table class="Tabela">*@
<table class="table-semp" style="text-align: center;">
	<thead>
		<tr>
			<th>
				@Html.Label("Dia")
				@*@Html.DisplayNameFor(model => model.dia)*@
			</th>
			<th>
				@Html.Label("Mes")
				@*@Html.DisplayNameFor(model => model.mes)*@
			</th>
			<th>
				@Html.Label("Ano")
				@*@Html.DisplayNameFor(model => model.ano)*@
			</th>
			<th>
				@Html.Label("Hora")
				@*@Html.DisplayNameFor(model => model.hora)*@
			</th>
			<th>
				@Html.Label("Posto")         
				@*@Html.DisplayNameFor(model => model.posto)*@
			</th>
			<th>
				@Html.Label("Total")
				@*@Html.DisplayNameFor(model => model.qtdProd)*@
			</th>
		</tr>
	</thead>
	@foreach (var grupo in Model.GroupBy(x => x.dia).Select(y => new
	{
		dia = y.Key,
		total = y.Sum(s => s.qtdProd)
	
	} ))
	{
		<tbody id="trPrincipal">
			<tr style="cursor: pointer; background: #a9a9a9;" onclick="fn_exibirTr('@grupo.dia')">
				<td><span id="sinalizador" class="glyphicon-plus"></span> &nbsp;<b>@grupo.dia</b></td>
				<td colspan="5">
					<div style="margin-right: 5%;float:right; ">Total: @grupo.total </div>
				</td>
			</tr>
		</tbody>
		<tbody id="@grupo.dia" style="display: none;">
			@foreach (var item in Model.Where(z => z.dia == grupo.dia).ToList())
			{
				<tr>
					<td>@Html.DisplayFor(modelItem => item.dia)</td>
					<td>@Html.DisplayFor(modelItem => item.mes)</td>
					<td>@Html.DisplayFor(modelItem => item.ano)</td>
					<td>@Html.DisplayFor(modelItem => item.hora)</td>
					<td>@Html.DisplayFor(modelItem => item.desPosto)</td>
					<td>@Html.DisplayFor(modelItem => item.qtdProd)</td>
				</tr>
			}
			<tr>
			
				<td colspan="6" >
					<div style="margin-right: 5%;float:right; ">Total: @grupo.total </div>
				</td>

			</tr>
		</tbody>
	
	}
</table>
	
	
<script type="text/javascript">
	
	function fn_exibirTr(div) {
		if ($("#"+div).css("display") == 'none') {
			//$("#" + div).css("display", "inline");
			$("#sinalizador").switchClass("glyphicon-plus", "glyphicon-minus");
			$("#"+div).fadeIn();
		} else {
			//$("#" + div).css("display", "none");
			$("#" + div).fadeOut();
			$("#sinalizador").switchClass("glyphicon-minus", "glyphicon-plus");
		}
	}
</script>