﻿
@{
	ViewBag.Title = "Entrada de Material IAC";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Estoque";
	ViewBag.Rotina = "Entrada de Materiais da IAC";

	var datIni = DateTime.Now.ToShortDateString();

}

@section Styles{
	<style>
		.mensagem {
			border: solid 1px gray;
			font-size: 12px;
			font-weight: bold;
			padding: 5px;
			text-align: left;
			width: 100% !important;
		}

		.wait {
			background-color: goldenrod;
		}

		.success {
			background-color: darkseagreen;
		}

		.error {
			background-color: indianred;
		}
	</style>
}
<h3>@ViewBag.Title</h3>


<div class="form-inline">
	<div class="input-group">
		<label class="input-group-addon">Ord. de Prod.</label>
		<input type="text" class="form-control" name="NumOrdem" id="NumOrdem" value="004000001865" />
		<div class="input-group-btn">
			<button class="btn btn-default" type="button" title="Consultar leituras da ordem no período" onclick="Consultar();"><i class="glyphicon glyphicon-search"></i></button>
			<button class="btn btn-primary" type="button" title="Consultar UDs pagas para a Ordem" onclick="ConsultarUDs();"><i class="glyphicon glyphicon-ok"></i></button>
			<button class="btn btn-primary" type="button" title="Realizar leituras" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-barcode"></i></button>
		</div>
	</div>
	<div class="input-group">
		<label class="input-group-addon">Período de</label>
		<input type="text" name="txtDatIni" id="txtDatIni" value="@datIni" class="form-control" style="width: 100px;" />
	</div>
	<div class="input-group">
		<label class="input-group-addon">até</label>
		<input type="text" name="txtDatFim" id="txtDatFim" value="@datIni" class="form-control" style="width: 100px;" />
	</div>
</div>
<hr />

<div class="container" id="grdDados">
	<table class="table table-condensed table-striped table-bordered table-hover" id="tblDados">
		<thead>
			<tr>
				<th>Material</th>
				<th>UD</th>
				<th>Barras</th>
				<th>Fornecedor</th>
				<th>Qtde.</th>
				<th>Data</th>
				<th>Usuário</th>
			</tr>
		</thead>
		<tbody>
			<tr style="background-color: white;">
				<td colspan="7"><strong>Qtd. registros: <span id="QtdRegistros">0</span></strong></td>
			</tr>
		</tbody>
		<tbody id="conteudo">
			<tr>
				<td colspan="7"></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="container hidden" id="grdDadosSAP">
	<table class="table table-condensed table-striped table-bordered" id="tblDadosSAP">
		<thead>
			<tr>
				<th>Material</th>
				<th>Unid.dep.origem</th>
				<th>Data confirm.</th>
				<th>Hora confirm.</th>
				<th>Centro</th>
				<th>Data EM</th>
				<th>Qtd. real origem</th>
				<th>Tp.dep. origem</th>
				<th>Usuário</th>
				<th>Receb?</th>
				<th>Data Rec.</th>
			</tr>
		</thead>
		<tbody>
			<tr style="background-color: white;">
				<td colspan="12">
					<strong>Qtd. registros: <span id="QtdRegistrosSAP">0</span></strong> |
					<strong>Qtd. recebidos: <span id="QtdRecebidos">0</span></strong>
				</td>
			</tr>
		</tbody>
		<tbody id="conteudoSAP">
			<tr>
				<td colspan="12"></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal" data-backdrop="static" data-keyboard="false" style="margin-top: 10%;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Leitura de Etiqueta</h4>
			</div>
			<div class="modal-body">
				<form name="frmEnviarEtiqueta" method="post" onsubmit="return false;" class="container-fluid">
					<input type="hidden" name="NumOP" id="NumOP" />
					<input type="hidden" name="NomUsuario" id="NomUsuario" value="@retornologin.NomUsuario" />
					<p class="row"><input type="text" class="form-control" name="BarrasUD" id="BarrasUD" placeholder="Leia etiqueta SEMP" tabindex="0" autofocus /></p>
					<p class="row">
						<div class="input-group">
							<input type="text" class="form-control" name="BarrasFornecedor" id="BarrasFornecedor" placeholder="Leia etiqueta FORNECEDOR" tabindex="1" />
							<div class="input-group-btn">
								<button class="btn btn-primary" type="button" title="SEM IDENTIFICAÇÃO" onclick="$('#BarrasFornecedor').val('SEMIDENTIFICACAO');"><i class="glyphicon glyphicon-remove"></i></button>
								<button class="btn btn-primary" type="button" title="ETIQUETA ILEGÍVEL" onclick="$('#BarrasFornecedor').val('ILEGIVEL');"><i class="glyphicon glyphicon-eye-close"></i></button>
							</div>
						</div>
					</p>
					<p class="row">
						<div class="col-md-11"><div class="mensagem wait" id="lblMensagem">LEIA ETIQUETA</div></div>
						<div class="col-md-1">
							<button type="button" class="btn btn-success" id="btnSubmit" tabindex="2" onclick="ValidaEtiquetaFornecedor();" onfocus="if ($('#BarrasUD').val() === '') { $('#BarrasUD').focus(); }"><i class="glyphicon glyphicon-save"></i></button>
						</div>
					</p>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section Scripts{
	<script>
		function Consultar() {
			var numOP = $("#NumOrdem").val();
			var datIni = $("#txtDatIni").val();
			var datFim = $("#txtDatFim").val();

			if (numOP === "") return;

			$("#conteudo").html("");

			$.ajax({
				type: "GET",
				url: "/Materiais/EntradaIAC/ObterEntradas/",
				data: { numOP: numOP, datInicio: datIni, datFim: datFim },
				success: function (data) {

					var tabela = "";
					$.each(data, function (index, value) {
						tabela += "<tr>";
						tabela += "<td>" + value.CodItem + "</td>";
						tabela += "<td>" + value.NumUD + "</td>";
						tabela += "<td>" + value.BarrasUD + "</td>";
						tabela += "<td>" + value.BarrasFornecedor + "</td>";
						tabela += "<td>" + value.QtdItem + "</td>";
						tabela += "<td>" + formatJSONDate(value.DatLeitura) + "</td>";
						tabela += "<td>" + value.NomUsuario + "</td>";
						tabela += "</tr>";
					});

					$("#conteudo").html(tabela);
					$("#QtdRegistros").html(data.length);

				},
				error: function (data) {
					alert(data.responseText);
				}
			});
		}

		function ConsultarUDs() {

			var numOP = $("#NumOrdem").val();
			var datIni = $("#txtDatIni").val();
			var datFim = $("#txtDatFim").val();

			$("#grdDadosSAP").removeClass("hidden");

			if (numOP === "") return;

			$("#conteudoSAP").html("<tr><td colspan='12'>Carregando...</td></tr>");

			$.ajax({
				type: "GET",
				url: "/Materiais/EntradaIAC/ObterDadosSAP/",
				data: { numOP: numOP, datInicio: datIni, datFim: datFim },
				success: function (data) {

					var tabela = "";
					var recebidos = 0;
					$.each(data, function (index, value) {
						tabela += "<tr>";
						tabela += "<td>" + value.MATNR + " - " + value.MAKTX + "</td>";
						tabela += "<td>" + value.VLENR + "</td>";
						tabela += "<td>" + formatJSONDate(value.QDATU) + "</td>";
						tabela += "<td>" + value.QZEIT + "</td>";
						tabela += "<td>" + value.WERKS + "</td>";
						tabela += "<td>" + formatJSONDate(value.WDATU) + "</td>";
						tabela += "<td>" + value.VISTM + "</td>";
						tabela += "<td>" + value.VLTYP + "</td>";
						tabela += "<td>" + value.QNAME + "</td>";
						if (value.Lido) {
							recebidos++;
							tabela += "<td><i class='glyphicon glyphicon-ok'></i></td>";
							tabela += "<td>" + formatJSONDate(value.DatLido) + "</td>";
						}
						else
							tabela += "<td>&nbsp;</td><td>&nbsp;</td>";

						tabela += "</tr>";
					});

					$("#conteudoSAP").html(tabela);
					$("#QtdRegistrosSAP").html(data.length);
					$("#QtdRecebidos").html(recebidos);

				},
				error: function (data) {
					alert(data.responseText);
				}
			});
		}

		function ChangeStatus(status, mensagem) {
			$("#lblMensagem").removeClass("wait").removeClass("success").removeClass("error").addClass(status);
			if (mensagem)
				$("#lblMensagem").html(mensagem.toUpperCase());
		}

		function ValidaEtiqueta(conteudo) {
			var numOP = $("#NumOrdem").val();

			if (conteudo.length != 35) {
				ChangeStatus("error", "Etiqueta inválida ou erro de leitura");
				LimparTela();
				return;
			}

			$.ajax({
				type: "GET",
				url: "/Materiais/EntradaIAC/ValidarLeituraUD/",
				data: {
					numUD: conteudo, numOP: numOP
				},
				success: function (data) {
					if (!data.status) {
						ChangeStatus("error", data.mensagem);
						LimparTela();
					} else {
						ChangeStatus("wait", "Leia etiqueta Fornecedor");
					}
				},
				error: function (data) {
					//alert(data.responseText);
					ChangeStatus("error", data.responseText);
					LimparTela();
				}
			});
		}

		function ValidaEtiquetaFornecedor() {
			var numOP = $("#NumOrdem").val();
			var conteudo = $("#BarrasFornecedor").val();

			if (conteudo != "SEMIDENTIFICACAO" && conteudo != "ILEGIVEL") {

				$.ajax({
					type: "GET",
					url: "/Materiais/EntradaIAC/ObterLeituraBarrasFornecedor/",
					data: {
						BarrasFornecedor: conteudo, numOP: numOP
					},
					success: function (data) {
						if (data.NumOP != null) {
							ChangeStatus("error", "Etiqueta do fornecedor já lida");
							LimparTela();
						} else {
							Salvar();
						}
					},
					error: function (data) {
						ChangeStatus("error", "Erro: " + data.responseText);
						LimparTela();
					}
				});
			}
			else {
				Salvar();
			}
		}

		function Salvar() {

			try {
				var etqSEMP = $("#BarrasUD").val();
				var etqFORN = $("#BarrasFornecedor").val();

				if (etqSEMP === "" || etqFORN === "") {
					ChangeStatus("error", "Leia as etiquetas");
					$("#BarrasUD").focus();
					$("#BarrasUD").select();
					return;
				}

				if (etqSEMP === etqFORN) {
					ChangeStatus("error", "Leitura repetida, leia ETIQUETA FORNECEDOR");
					$("#BarrasFornecedor").focus();
					$("#BarrasFornecedor").select();
					return;
				}

				if (etqSEMP.substring(0, 6) != etqFORN.substring(0, 6) && etqFORN != "SEMIDENTIFICACAO" && etqFORN != "ILEGIVEL") {
					ChangeStatus("error", "Etiquetas divergentes");
					$("#BarrasUD").focus();
					$("#BarrasUD").select();
					return;
				}

				ChangeStatus("success", "Etiquetas conferidas");

				var frm = $('form');
				var formData = new FormData(frm[0]);

				$.ajax({
					type: "POST",
					url: "/Materiais/EntradaIAC/GravarEntrada/",
					data: formData,
					cache: false,
					contentType: false,
					processData: false,
					success: function (data) {
						LimparTela();
						Consultar();
						if (data == true) {
							ChangeStatus("wait", "Leia Etiqueta");
						}
						else {
							ChangeStatus("error", "Erro ao gravar. Leia Etiqueta");
						}
					},
					error: function (data) {
						ChangeStatus("error", "Erro: " + data.responseText);
					}
				});
			} catch (e) {
				ChangeStatus("error", "Erro: " + e.message);
			}

		}

		function LimparTela() {
			$("#BarrasUD").val("");
			$("#BarrasFornecedor").val("");
			$("#BarrasUD").focus();
		}

		$(document).ready(function () {
			$('body').on('keydown', 'input, select, textarea, button', function (e) {
				var self = $(this)
					, form = self.parents('form:eq(0)')
					, focusable
					, next
					;

				var key = (window.event) ? e.keyCode : e.which;

				//alert(key);

				if (key == 13) {
					focusable = form.find('input,select,textarea, button').filter(':visible');
					next = focusable.eq(focusable.index(this) + 1);
					if (next.length) {
						next.focus();
					} else {
						focusable.click();
					}
					return false;
				}
			});

			$('#myModal').on('show.bs.modal', function (event) {
				var numOP = $("#NumOrdem").val();
				if (numOP === "") { alert("Informe a Ordem de Produção"); return e.preventDefault(); }

				$("#NumOP").val(numOP);
				LimparTela();
			});

			$("#txtDatIni").datepicker();
			$("#txtDatFim").datepicker();

		});

		$("#BarrasUD").blur(function () {
			if (this.value != "") {
				ValidaEtiqueta(this.value);

				$('#BarrasFornecedor').focus();
			}
		});

		$("#BarrasFornecedor").focus(function () {
			if ($('#BarrasUD').val() === '') {
				$('#BarrasUD').focus();
			}
		});

		$("#BarrasFornecedor").blur(function () {
			$('#btnSubmit').focus();
		});

		$("#BarrasFornecedor").keydown(function (e) {
			var key = (window.event) ? e.keyCode : e.which;
			valor = $(this).val();

			if (valor != "" && key == 13) {
				ValidaEtiquetaFornecedor(valor);
			}
		});
	</script>

}