﻿@using System.Web.UI.WebControls
@{
	ViewBag.Title = "Leitura Posto-a-posto";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Resumo de Produção";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var datInicio = Request["DatInicio"];
	var datFim = Request["DatFim"];
	var turno = Request["Turno"];
	var tipo = Request["Tipo"];
	var desTipo = "";
	var codLinha = Request["codLinha"];

	if (String.IsNullOrEmpty(datInicio)) { datInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(datFim)) { datFim = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(turno)) { turno = "0"; }
	if (String.IsNullOrEmpty(tipo))
	{
		desTipo = "Sintetico";
	}
	else
	{
		switch (tipo)
		{
			case "0":
				desTipo = "Sintético"; break;
			case "1":
				desTipo = "Analítico"; break;
			case "2":
				desTipo = "Analítico por placa"; break;
			case "3":
				desTipo = "Produção Diária"; break;
		}
	}

	List<SEMP.Model.DTO.CBLinhaDTO> linhas = ViewBag.linhas;
	List<SEMP.Model.VO.Rastreabilidade.Relatorios.LeiturasPostos> leituras = ViewBag.leitura;
	List<SEMP.Model.VO.Rastreabilidade.Relatorios.ProducaoDiariaDAT> dat = ViewBag.producaodiaria;
}
@Scripts.Render("~/bundles/excelexport")
@Scripts.Render("~/bundles/datatable")
@Styles.Render("~/Content/datatable")

<h3>@ViewBag.Title</h3>

<style>
	a {text-decoration: none;}
</style>

<form name="frmRelatorio" id="frmRelatorio" action="/Coleta/LeituraPostos/" method="post" style="" class="form-inline">
	<div class="row">
		<div class="col-md-12">
			<div class="pull-left" style="width: 165px;">
				<label>Data inicial&#58;</label>
				<input type="text" name="datInicio" id="DatInicio" value="@datInicio" class="form-control input-sm" style="width: 85px;" />
			</div>
			<div class="pull-left" style="width: 165px;">
				<label>Data final&#58;</label>
				<input type="text" name="datFim" id="DatFim" value="@datFim" class="form-control input-sm" style="width: 85px;" />
			</div>
			<div class="pull-left" style="width: 100px;">
				<label>Turno&#58;</label>
				<input type="text" name="turno" id="Turno" value="@turno" class="form-control input-sm" style="width: 30px;" size="6" />
			</div>
			<div class="pull-left" style="width: 165px; margin-right: 15px;">
				<select class="form-control input-sm" name="tipo" id="Tipo">
					<option @{if (tipo == "0") { WriteLiteral("selected"); }} value="0">Sintético</option>
					<option @{if (tipo == "1") { WriteLiteral("selected"); }} value="1">Analítico</option>
					<option @{if (tipo == "2") { WriteLiteral("selected"); }} value="2">Analítico por placa</option>
					<option @{if (tipo == "3") { WriteLiteral("selected"); }} value="3">Produção Diária</option>
				</select>
			</div>
			<div class="pull-left">
				<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
				<input type="submit" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" />
			</div>
		</div>
	</div>
	<input type="hidden" name="codLinha" id="codLinha" value="@codLinha" />
</form>

<br />

@{
	var fabricas = linhas.Select(x => x.Setor).Distinct().ToList();

}

<div class="row">
	<div class="col-md-1" style="width: 200px; margin-right: 15px;">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			@{
				foreach (var fabrica in fabricas)
				{
					var aberto = "";
					var titulo = "panel-default";
					if (codLinha != null && fabrica == linhas.FirstOrDefault(x => x.CodLinha == int.Parse(codLinha)).Setor)
					{
						aberto = "in";
						titulo = "panel-info";
					}

					<div class="panel @titulo">
						<div class="panel-heading" role="tab" id="tab@{@fabrica}">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#painel@{@fabrica}" aria-expanded="true" aria-controls="painel@{@fabrica}">@fabrica</a>
							</h4>
						</div>
						<div class="panel-collapse collapse @aberto" id="painel@{@fabrica}" role="tabpanel" aria-labelledby="tab@{@fabrica}">
							
								<div class="list-group">
									@foreach (var linha in linhas.Where(x => x.Setor == fabrica))
									{
										var linhaSel = "";

										if (codLinha != null && linha.CodLinha == int.Parse(codLinha))
										{
											linhaSel = "active";
										}

										<a href="#" class="list-group-item @linhaSel" onclick="selLinha('@linha.CodLinha')">@linha.CodLinha - @linha.DesLinha</a>
				}
								</div>

						</div>
					</div>
	}
			}
		</div>

	</div>
	<div class="col-md-9">
		<div style="width: 100%;">
			<div class="panel panel-info">
				<div class="panel-heading"><h4 class="panel-title">Tipo: <b>@desTipo</b></h4></div>
						@{
			if (tipo != "3")
			{
			<table class="table table-bordered table-condensed smallrow" id="tblDados">
				<thead>
					<tr>
						<th style="width: 40px;">Posto</th>
						<th>Descrição</th>
						@{ if (tipo == "1")
		{
					<th>Modelo</th> } }
						<th style="width: 70px;">Total</th>
						<th style="width: 70px;">Defeitos</th>
						<th style="width: 90px;">Leit. Repetida</th>
						<th style="width: 90px;">Falta de Leit.</th>
						<th style="width: 40px;">Obrig.</th>
						<th style="width: 40px;">Séries</th>
					</tr>
				</thead>
				<tbody>
					@{
						if (leituras != null && leituras.Any())
						{
							var linhaatual = 0;
							var modeloatual = "";

							if (tipo == "2")
							{
								leituras = leituras.OrderBy(x => x.CodLinha).ThenBy(x => x.CodModelo).ThenBy(x => x.Ordem).ToList();
							}

							foreach (var leitura in leituras)
							{
								if (linhaatual != leitura.CodLinha)
								{
									linhaatual = leitura.CodLinha;
					<tr>
						<td colspan="8" class="grupo">@leitura.CodLinha - @leitura.DesLinha</td>
					</tr>
								}
								if (tipo == "2" && modeloatual != leitura.CodModelo)
								{
									modeloatual = leitura.CodModelo;

					<tr>
						<td colspan="8" style="font-weight: bolder; padding-left: 25px;">@leitura.CodModelo - @leitura.DesModelo</td>
					</tr>
								}

					<tr>
						<td>@leitura.NumPosto</td>
						<td>@leitura.DesPosto</td>
						@{ if (tipo == "1")
										{
						<td>@leitura.CodModelo - @leitura.DesModelo</td> } }
						<td class="text-center">@leitura.Total</td>
						<td class="text-center">@leitura.QtdDefeito</td>
						<td class="text-center">@leitura.QtdRepetido</td>
						<td class="text-center">@leitura.QtdFalta</td>
						<td class="text-center">@leitura.FlgObrigatorio</td>
						<td class="text-center"><a href="/Coleta/LeituraPostos/Series/?codLinha=@leitura.CodLinha&numPosto=@leitura.NumPosto&datInicio=@datInicio&datFim=@datFim"><i class="glyphicon glyphicon-arrow-up"></i></a></td>
					</tr>
											}
										}
										else
										{

					<tr>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
						<td>&nbsp;</td>
					</tr>
										}
					}
				</tbody>
			</table>
							}
							else
							{
							<table class="table-semp smallrow blue">
								<caption>Tipo: Produção Diária</caption>
								<thead>
									<tr>
										<th>Linha</th>
										<th>Cód. Item</th>
										<th>Descrição</th>
										<th>Programado</th>
										<th>Embalado</th>
										<th>Inspeção - CQ</th>
										<th>OBA</th>
										<th>Aprovado</th>
										<th>Diferença</th>
									</tr>
								</thead>
								<tbody>
									@{				if (linhas != null && linhas.Any())
										{
											foreach (var datitem in dat)
											{
									<tr>
										<td>@datitem.DescricaoLinha</td>
										<td>@datitem.CodigoItem</td>
										<td>@datitem.DescricaoItem</td>
										<td>@datitem.Programado</td>
										<td>@datitem.Embalado</td>
										<td>@datitem.InspecaoCQ</td>
										<td>@datitem.InspecaoOBA</td>
										<td>@datitem.Aprovado</td>
										<td>@datitem.Diferenca</td>
									</tr>				}
										}
										else
										{

									<tr>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
										<td>&nbsp;</td>
									</tr>			}
									}
								</tbody>
							</table>				}
					}
				</div>
		</div>

	</div>
</div>

<br />
<br />

<script>
	$(function () {
		$("#DatFim").datepicker();
		$("#DatInicio").datepicker();

		$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});
		});
	});

	$("tr").click(function () {
		$(this).addClass("selected").siblings().removeClass("selected");
	});

	function selLinha(codlinha) {
		$("#codLinha").val(codlinha);
		$("#frmRelatorio").submit();
	}

</script>
