﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.ResumoContingencia>

@{
	ViewBag.Title = "Resumo Contingência";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Resumo de Contingência";

	var datInicio = Request["DatInicio"];
	var datFim = Request["DatFim"];

	if (String.IsNullOrEmpty(datInicio)) { datInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(datFim)) { datFim = DateTime.Now.ToString("dd/MM/yyyy"); }
}

<h2>Resumo de Contingência</h2>

<form name="frmRelatorio" id="frmRelatorio" action="/Coleta/LeituraPostos/ResumoContingencia/" method="post" style="" class="form-inline">
	<div class="row">
		<div class="col-md-2">
			<div class="input-group input-group-sm" style="width: 168px;">
				<div class="input-group-btn"><a class="btn btn-default btn-group-xs menos"><span class="glyphicon glyphicon-minus"></span></a></div>
				<input type="text" name="DatInicio" id="DatInicio" class="form-control input-sm calendar-group" value="@datInicio" />
				<div class="input-group-btn"><a class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></a></div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="input-group input-group-sm" style="width: 168px;">
				<div class="input-group-btn"><a class="btn btn-default menos"><span class="glyphicon glyphicon-minus"></span></a></div>
				<input type="text" name="DatFim" id="DatFim" class="form-control calendar-group" value="@datFim" />
				<div class="input-group-btn"><a class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></a></div>
			</div>
		</div>
		<div class="col-md-2 col-md-offset-1"><input type="submit" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" /></div>
	</div>

</form>
<div class="row" style="margin-top:10px;">
	<div class="col-md-6">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(model => model.CodLinha)</th>
					<th style="width: 70px;">@Html.DisplayNameFor(model => model.Data)</th>
					<th>@Html.DisplayNameFor(model => model.QtdEmbalado)</th>
					<th>@Html.DisplayNameFor(model => model.QtdSAP)</th>
					<th>@Html.DisplayNameFor(model => model.QtdSISAP)</th>
					<th>@Html.DisplayNameFor(model => model.QtdExpedido)</th>
				</tr>
			</thead>
			<tbody>
				@if (Model != null && Model.Count() > 0)
				{
					foreach (var item in Model)
					{
						<tr>
							<td>@Html.DisplayFor(modelItem => item.CodLinha) - @Html.DisplayFor(modelItem => item.DesLinha)</td>
							<td>@Html.DisplayFor(modelItem => item.Data)</td>
							<td class="text-center">@Html.DisplayFor(modelItem => item.QtdEmbalado)</td>
							<td class="text-center">@Html.DisplayFor(modelItem => item.QtdSAP)</td>
							<td class="text-center">@Html.DisplayFor(modelItem => item.QtdSISAP)</td>
							<td class="text-center">@Html.DisplayFor(modelItem => item.QtdExpedido)</td>
						</tr>
					}
				}

			</tbody>
		</table>
	</div>
</div>
@section Scripts{

	<script>
		$(function () {
			$("#DatFim").datepicker();
			$("#DatInicio").datepicker();

		});


	</script>

}