﻿@model IEnumerable<SEMP.Model.DTO.CBPassagemDTO>
@{

	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Visualizar Séries por Posto";

	var desLinha = Model.FirstOrDefault().DescricaoLinha;
	var desPosto = Model.FirstOrDefault().DescricaoPosto;

}
<div class="row">
	<div class="col-md-10">
		<div class="col-md-4"><h3><strong>Total de Leituras: </strong>@Model.Count()</h3></div>
		<div class="col-md-3"><h3><strong>Linha: </strong>@desLinha</h3></div>
		<div class="col-md-5"><h3><strong>Posto: </strong>@desPosto</h3></div>
	</div>
</div>

<div class="row">

	<div class="col-md-6">
		<table class="table table-hover table-bordered table-striped">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(model => model.NumECB)</th>
					<th>@Html.DisplayNameFor(model => model.DatEvento)</th>
					<th>@Html.DisplayNameFor(model => model.CodFab)</th>
					<th>@Html.DisplayNameFor(model => model.NumAP)</th>
					<th>@Html.DisplayNameFor(model => model.CodDRT)</th>
					<th>@Html.DisplayNameFor(model => model.NomeOperador)</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@Html.DisplayFor(modelItem => item.NumECB)</td>
						<td>@Html.DisplayFor(modelItem => item.DatEvento)</td>
						<td>@Html.DisplayFor(modelItem => item.CodFab)</td>
						<td>@Html.DisplayFor(modelItem => item.NumAP)</td>
						<td>@Html.DisplayFor(modelItem => item.CodDRT)</td>
						<td>@Html.DisplayFor(modelItem => item.NomeOperador)</td>
					</tr>

				}
			</tbody>

		</table>

	</div>

</div>
<br /><br /><br /><br /><br />