﻿
@{
	ViewBag.Title = "Programa x Realizado";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Programa de Produção";

	var mesAtual = DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).ToString("MM/yyyy");

}
@Scripts.Render("~/bundles/excelexport")
@Scripts.Render("~/bundles/floatThead")

<div class="cabecalho_pp">
	<span>SEMP TOSHIBA AM</span><br/>
	<span id="desFase">FECHAMENTO</span>
</div>
<h3>PROGRAMA DE PRODUÇÃO MENSAL x PRODUÇÃO REALIZADA</h3>

<style>
	.ui-datepicker-calendar
	{
		display: none;
	}
	.ui-datepicker
	{
		width: 200px !important;
	}
	#conteudo .ui-widget-header {
		background: transparent !important;
		border-color: #ddd !important;
	}
	.cabecalho_pp {
		display: none;
	}
</style>
<style type="text/css" media="print">
	.cabecalho_pp {
		display: block;
	}
	#filtro {
		display: none;
	}

	h3 {
		text-align: center;
		margin-top: -20px;
	}

</style>
<div class="form-inline">
	<div class="row" id="filtro">
		<div class="col-md-2">
			<label>Mês&#58;</label>
			<input type="text" name="datInicio" id="datInicio" value="@mesAtual" class="form-control" style="width: 77px;" />
		</div>
		<div class="col-md-2">
			<label>Fam&iacute;lia&#58;</label>
			<select name="Familia" id="Familia" class="form-control">
				<option value="">TODOS</option>
				<option value="TV LCD">TV LCD</option>
				<option value="AUDIO">AUDIO</option>
				<option value="DVD">DVD</option>
				<option value="PA STI">INFOR</option>
				<option value="PCI STI">PCI STI</option>
				<option value="TV CRT">TV CRT</option>
			</select>
		</div>
		<div class="col-md-4">
			<label>Fase:</label>
			<select name="Fase" id="fase" class="form-control">
				<option value="F">MF</option>
				<option value="M">IMC</option>
				<option value="I">IAC</option>
			</select>
		</div>
		<div class="col-md-3">
			<div class="btn-group">
				<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="btn btn-sm btn-success" />
				<input type="button" name="btnEnviar" value="Consultar" class="btn btn-sm btn-danger" onclick="btnEnviar_Click();" />
			</div>
		</div>
	</div>
</div>
<br />

<div id="conteudo">
</div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<script type="text/javascript">

	$(function() {
		$("#datInicio").datepicker({
			changeMonth: true,
			changeYear: true,
			showButtonPanel: true,
			dateFormat: 'mm/yy',

			onClose: function() {
				var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
				var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
				$(this).datepicker('setDate', new Date(iYear, iMonth, 1));
			}
		});

		btnEnviar_Click();

	});

	$("#btnExportar").click(function () {
		var mesRef = $("#datInicio").val();
		var fase = $("#fase").val();
		var codLinha = "";
		var familia = $("#Familia").val();

		window.open("/Outros/DiferencaProgramaDia/ListaXLS/?mesRef=" + mesRef +
			"&fase=" + fase +
			"&codLinha=" + codLinha +
			"&familia=" + familia);

		/*$("#tblDados").btechco_excelexport({
			containerid: "tblDados",
			datatype: $datatype.MVC
		});*/
	});

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			url: "/Outros/DiferencaProgramaDia/Meses/",
			data: {
				mesRef: $("#datInicio").val(),
				Fase: $("#fase").val(),
				Familia: $("#Familia").val()
			},
			success: function (data) {
				$("#conteudo").html(data);
				$('td').tooltip();
				$("#tabs").tabs({
					beforeLoad: function (event, ui) {
						ui.jqXHR.fail(function () {
							ui.panel.html("Não foi possível carregar essa aba, tente novamente. ");
						});
					},
					activate: function (event, ui) {
						$("#datInicio").val($(ui.newTab).text());
					},
					load: function(event, ui) {
						$('table.table-semp').floatThead({
							useAbsolutePositioning: false,
							scrollingTop: 75
					});
					}
				});

				if ($("#fase").val() == "F") {
					$("#desFase").html("FECHAMENTO");
				} else if ($("#fase").val() == "M") {
					$("#desFase").html("IMC");
				} else if ($("#fase").val() == "I") {
					$("#desFase").html("IAC");
				}

			},
			error: function (data) {
				$("#conteudo").html(data.responseText);
			}
		});
	}

	@{
		if (!String.IsNullOrEmpty(ViewBag.mensagem))
		{
			WriteLiteral("alert('" + ViewBag.mensagem + "');");
		}
	}

</script>
