﻿@using SEMP.Model.DTO
@model IEnumerable<SEMP.Model.VO.PM.ProgModelos>

@{
	var data = (DateTime)ViewBag.Data;
	var exibe29 = "29";
	var exibe30 = "30";
	var exibe31 = "31";
	var maxMes = 31;

	switch (data.Month)
	{
		case 2:
			exibe29 = "";
			exibe30 = "";
			exibe31 = "";
			maxMes = 28;
			break;
		case 11:
		case 9:
		case 6:
		case 4:
			exibe31 = "";
			maxMes = 30;
			break;
	}
}

@helper MontaMes(int dia)
{
	var classe = "";
	try
	{
		var diasemana = DateTime.Parse(String.Format("{0}/{1}", dia.ToString().PadLeft(2, '0'), ((DateTime)ViewBag.Data).ToString("MM/yyyy"))); ;

		if (diasemana.DayOfWeek == DayOfWeek.Saturday || diasemana.DayOfWeek == DayOfWeek.Sunday)
		{
			classe = "fds";
		}
		
		<th class="colDia @classe">@diasemana.ToString("ddd") <br />@dia.ToString().PadLeft(2, '0')</th>
	}
	catch (Exception)
	{
		<th class="colDia">@dia.ToString().PadLeft(2, '0')</th>
	}
}


@helper ObterValorDia(IEnumerable<ProgDiaJitDTO> programa, int dia, string codFab, string codModelo, string codLinha, int numTurno, int flgTipo)
{
var progdia = programa.FirstOrDefault(x =>
	x.DatProducao.Day == dia &&
	x.CodFab.Equals(codFab) &&
	x.CodModelo.Equals(codModelo) &&
	x.CodLinha.Equals(codLinha) &&
	x.NumTurno == numTurno);

var classe = "";
try
{
	var diasemana = DateTime.Parse(String.Format("{0}/{1}", dia.ToString().PadLeft(2, '0'), ((DateTime)ViewBag.Data).ToString("MM/yyyy"))); ;

	if (diasemana.DayOfWeek == DayOfWeek.Saturday || diasemana.DayOfWeek == DayOfWeek.Sunday)
	{
		classe = "fds";
	}
}
catch (Exception)
{
}

if (progdia != null)
{
	decimal? qtd;
	if (flgTipo == 0)
	{
		qtd = progdia.QtdProdPm;
	}
	else if (flgTipo == 1)
	{
		qtd = progdia.QtdProducao;
	}
	else if (flgTipo == 3)
	{
		qtd = progdia.QtdProducao / progdia.QtdProdPm;
		if (qtd != null) {
			qtd = Math.Round(qtd.Value, 2) * 100;
		}
	}
	else
	{
		qtd = progdia.QtdProducao - progdia.QtdProdPm;
		classe += " bold";
	}

	if (qtd < 0)
	{
		classe += " diferente";
	}

		<td class="colDia @classe" title="@progdia.Observacao">@qtd</td>
	}
	else
	{
		<td class="colDia @classe"></td>
	}
}


@helper ObterTotalDia(IEnumerable<ProgDiaJitDTO> programa, int dia, string codFab, string codLinha, int numTurno, int flgTipo)
{
	List<ProgDiaJitDTO> total;

	if (!String.IsNullOrEmpty(codLinha))
	{
		total = programa.Where(x =>
			x.DatProducao.Day == dia &&
			x.CodFab.Equals(codFab) &&
			x.CodLinha.Equals(codLinha) &&
			x.NumTurno == numTurno).ToList();
	}
	else
	{
		total = programa.Where(x => x.DatProducao.Day == dia).ToList();
	}

	var classe = "";
	try
	{
		var diasemana = DateTime.Parse(String.Format("{0}/{1}", dia.ToString().PadLeft(2, '0'), ((DateTime)ViewBag.Data).ToString("MM/yyyy"))); ;

		if (diasemana.DayOfWeek == DayOfWeek.Saturday || diasemana.DayOfWeek == DayOfWeek.Sunday)
		{
			classe = "fds";
		}
	}
	catch (Exception ex)
	{
		<script>console.log("@ex.Message")</script>
}

decimal? qtd;
if (flgTipo == 0)
{
	qtd = total.Sum(x => x.QtdProdPm);
}
else if (flgTipo == 1)
{
	qtd = total.Sum(x => x.QtdProducao);
}
else if (flgTipo == 3) // percentual
{
	qtd = total.Sum(x => x.QtdProducao / x.QtdProdPm);
	if (qtd != null) {
		qtd = Math.Round(qtd.Value, 2) * 100;
	}
}
else
{
	qtd = total.Sum(x => x.QtdProducao - x.QtdProdPm);
}

if (qtd < 0)
{
	classe += " diferente";
}

if (qtd != null)
{
		<td class="colDia @classe">@qtd</td>
	}
	else
	{
		<td class="colDia @classe"></td>
	}
}

<style>
	.table-semp tr.programalinha td
	{
		background-color: #7AB317;
		color: #000;
		font-weight: bold;
	}
	.familia td
	{
		border-top: solid 1px #000000 !important;
		border-bottom: solid 1px #000000 !important;
		font-weight: bold !important;
		font-size: 14px !important;
		padding-left: 5px;
		background-color: #fff
	}

	.table-semp caption
	{
		font-size: 12px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: bold;
	}

	.table-semp tr.programaproduto td a
	{
		text-decoration: none;
		color: black;
	}

	.table-semp tr.programadiferenca td
	{
		text-decoration: none;
		color: black;
		background-color: lightblue;
	}

	.table-semp tr.programatotaldia
	{
		background-color: white !important;
		color: black;
		border-bottom: 1px solid #000;
		border-top: 1px solid #000;
	}
	.table-semp tr.programatotaldia td
	{
		font-weight: bold !important;
	}

	table.table-semp tbody tr td
	{
		padding: 3px !important;
	}

	.bold
	{
		font-weight: bold;
	}

	.table-semp
	{
		width: auto !important;
	}

	.colDia
	{
		width: 38px !important;
		text-align: center !important;
	}

	.fds
	{
		background-color: #ccc !important;
		display: none;
	}

	.colFab
	{
		width: 40px !important;
		text-align: center !important;
	}

	.colModelo
	{
		width: auto !important;
	}

	.colTurno
	{
		width: 15px !important;
	}

	.colCapac
	{
		width: 60px !important;
		text-align: center !important;
	}

	.colTotalMes
	{
		width: 70px !important;
		text-align: center !important;
		border-right: solid 1px black !important;
	}

	.colDiferenca
	{
		width: 55px !important;
		text-align: center !important;
	}

	.colTotais
	{
		text-align: right !important;
		border-right: solid 1px black !important;
	}

	.diferente
	{
		color: red !important;
	}
</style>

	<table id="tblDados" class="table-semp gray smallrow">
		<caption style="color: blue;">@data.ToString("Y").ToUpper() </caption>
		<thead>
			<tr>
				<th class="colFab">Fáb.</th>
				<th class="colModelo">Modelo</th>
				<th class="colTurno">T</th>
				<th class="colCapac">Capac.</th>
				<th class="colTotalMes">PP Mês</th>
				@for (var dia = 1; dia <= maxMes; dia++)
				{
					@MontaMes(dia)
				}
				<th class="colTotalMes">Total</th>
			</tr>
		</thead>
		<tbody>
			@if (Model.Any())
			{
				var programa = (List<ProgDiaJitDTO>)ViewBag.Programa;
				try
				{
					var linha = "";
					var fab = "";
					var turno = 0;

					foreach (var item in Model)
					{

						var capac = item.QtdCapacidade ?? 0;
						var totalmes = item.QtdPlanoMes ?? 0;
						var classDiferente = "";
						if (item.QtdDiferenca < 0)
						{
							classDiferente = "diferente";
						}

						if (linha != item.CodLinha)
						{
							if (!linha.Equals(String.Empty))
							{
								<tr class="programatotaldia">
									<td colspan="5"><b>Total programado</b></td>
									@for (var dia = 1; dia <= maxMes; dia++)
									{
										@ObterTotalDia(programa, dia, item.CodFab, linha, item.NumTurno, 0)
									}
									<td class="colTotalMes">@programa.Where(l => l.CodLinha == linha).Sum(x => x.QtdProdPm)</td>
								</tr>
								<tr class="programatotaldia">
									<td colspan="5"><b>Total produzido</b></td>
									@for (var dia = 1; dia <= maxMes; dia++)
									{
										@ObterTotalDia(programa, dia, fab, linha, turno, 1)
									}
									<td class="colTotalMes">@programa.Where(l => l.CodLinha == linha).Sum(x => x.QtdProducao)</td>
								</tr>
								<tr class="programatotaldia">
									<td colspan="5"><b>Total diferença</b></td>
									@for (var dia = 1; dia <= maxMes; dia++)
									{
										@ObterTotalDia(programa, dia, fab, linha, turno, 2)
									}
									<td class="colTotalMes">@programa.Where(l => l.CodLinha == linha).Sum(x => x.QtdProducao - x.QtdProdPm)</td>
								</tr>
							}

							linha = item.CodLinha;
							fab = item.CodFab;
							turno = item.NumTurno;
							<tr class="familia">
								<td colspan="38">@item.CodLinha @item.DesLinha</td>
							</tr>
						}
						<tr class="programaproduto hover">
							<td class="colFab">@Html.DisplayFor(modelItem => item.CodFab)</td>
							<td class="colModelo">@Html.DisplayFor(modelItem => item.CodModelo)-@Html.DisplayFor(modelItem => item.DesModelo)</td>
							<td class="colTurno">@Html.DisplayFor(modelItem => item.NumTurno)</td>
							<td class="colCapac">@capac.ToString("N0")</td>
							<td class="colTotalMes">@totalmes.ToString("N0")</td>
							@for (var dia = 1; dia <= maxMes; dia++)
							{
								@ObterValorDia(programa, dia, item.CodFab, item.CodModelo, item.CodLinha, item.NumTurno, 0)
							}
							<td class="colTotalMes">@item.QtdPrograma</td>
						</tr>
						<tr class="programaproduto hover">
							<td colspan="5" class="colTotais">Produzido -></td>
							@for (var dia = 1; dia <= maxMes; dia++)
	   {
								@ObterValorDia(programa, dia, item.CodFab, item.CodModelo, item.CodLinha, item.NumTurno, 1)
	   }
							<td class="colTotalMes">@item.QtdProduzido</td>
						</tr>
						<tr class="programadiferenca hover">
							<td colspan="5" class="colTotais">Diferença -></td>

							@for (var dia = 1; dia <= maxMes; dia++)
	   {
								@ObterValorDia(programa, dia, item.CodFab, item.CodModelo, item.CodLinha, item.NumTurno, 2)
	   }
							<td class="colTotalMes @classDiferente">@item.QtdDiferenca</td>
						</tr>
						<tr class="programadiferenca hover">
							<td colspan="5" class="colTotais">Percentual -></td>

							@for (var dia = 1; dia <= maxMes; dia++)
							{
							@ObterValorDia(programa, dia, item.CodFab, item.CodModelo, item.CodLinha, item.NumTurno, 3)
							}
							<td class="colTotalMes @classDiferente">@item.QtdDiferenca</td>
						</tr>
					}
					<tr class="programatotaldia">
						<td colspan="5"><b>Total programado</b></td>
						@for (var dia = 1; dia <= maxMes; dia++)
	  {
							@ObterTotalDia(programa, dia, fab, linha, turno, 0)
	  }
						<td class="colTotalMes">@programa.Where(l => l.CodLinha == linha).Sum(x => x.QtdProdPm)</td>
					</tr>
					<tr class="programatotaldia">
						<td colspan="5"><b>Total produzido</b></td>
						@for (var dia = 1; dia <= maxMes; dia++)
	  {
							@ObterTotalDia(programa, dia, fab, linha, turno, 1)
	  }
						<td class="colTotalMes">@programa.Where(l => l.CodLinha == linha).Sum(x => x.QtdProducao)</td>
					</tr>
					<tr class="programatotaldia">
						<td colspan="5"><b>Total diferença</b></td>
						@for (var dia = 1; dia <= maxMes; dia++)
	  {
							@ObterTotalDia(programa, dia, fab, linha, turno, 2)
	  }
						<td class="colTotalMes">@programa.Where(l => l.CodLinha == linha).Sum(x => x.QtdProducao - x.QtdProdPm)</td>
					</tr>
				}
				catch (Exception ex)
				{
					<tr>
						<td>Erro ao processar solicitação.</td>
						<td colspan="40">Descrição do erro: @ex.Message</td>
					</tr>
				}
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="40">&nbsp;</td>
			</tr>
			@if (Model.Any())
			{
				var programa = (List<ProgDiaJitDTO>) ViewBag.Programa;
				<tr class="programatotaldia">
					<td colspan="5"><b>Total programado geral</b></td>
					@for (var dia = 1; dia <= maxMes; dia++)
					{
						@ObterTotalDia(programa, dia, "", "", 0, 0)
					}
					<td class="colTotalMes">@programa.Sum(x => x.QtdProdPm)</td>
				</tr>
				<tr class="programatotaldia">
					<td colspan="5"><b>Total produzido geral</b></td>
					@for (var dia = 1; dia <= maxMes; dia++)
					{
						@ObterTotalDia(programa, dia, "", "", 0, 1)
					}
					<td class="colTotalMes">@programa.Sum(x => x.QtdProducao)</td>
				</tr>
				<tr class="programatotaldia">
					<td colspan="5"><b>Total diferença geral</b></td>
					@for (var dia = 1; dia <= maxMes; dia++)
					{
						@ObterTotalDia(programa, dia, "", "", 0, 2)
					 }
					<td class="colTotalMes">@programa.Sum(x => x.QtdProducao - x.QtdProdPm)</td>
				</tr>
			}
		</tfoot>
	</table>

<br/><br/>