﻿@model IEnumerable<String>

<style>
	#tabs {
		width: auto;
	}

	.ui-tabs .ui-tabs-panel {
		padding: 2px !important;
	}

</style>
<div id="tabs">
	@{
		string mesRef = ViewBag.mesRef;
		string fase = ViewBag.fase;
		string codlinha = ViewBag.codlinha;
		string familia = ViewBag.familia;

		if (Model != null)
		{
			<ul>
				@foreach (var mes in Model)
				{
					<li><a href="/Outros/DiferencaProgramaDia/Lista/?mesRef=@mes&fase=@fase&codlinha=@codlinha&familia=@familia">@mes</a></li>
				}
			</ul>

		}
	}
</div>
<br/><br/>