﻿@{
	ViewBag.Title = "Consulta de Lotes";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Rotina = "Consulta de Lotes";
	ViewBag.Sistema = "Produção";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin { CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = "" };
	var datInicio = DateTime.Now.AddDays(-DateTime.Now.Day+1).ToShortDateString();
}
@Scripts.Render("~/bundles/combogrid")
@Styles.Render("~/Content/combogrid")

<h2>@ViewBag.Title</h2>

<div class="container-fluid">
	<div class="row">
		<div class="pull-left">
			<select name="Setor" id="Setor" class="form-control input-sm"><option>[SETOR]</option><option value="IAC">IAC</option><option value="IMC">IMC</option><option value="FEC">FEC</option></select>
		</div>
		<div class="pull-left" style="margin-right: 15px;">
			<select name="Linha" id="Linha" class="form-control input-sm"><option> [ LINHA ] </option></select>
		</div>
		<div class="pull-left">
			<select name="status" id="status" class="form-control input-sm"><option value="-1">[STATUS]</option><option value="0">ABERTO</option><option value="1">FECHADO</option><option value="3">TRANSFERIDO</option></select>
		</div>
		<div class="pull-left">
			<label class="col-md-2" style="width: 50px; margin-top: 8px;">Período:</label>
			<div class="col-md-4" style="width: 170px;">
				<div class="input-group input-group-sm" style="width: 100px;">
					<div class="input-group-btn"><button class="btn btn-default btn-group-xs menos"><span class="glyphicon glyphicon-minus"></span></button></div>
					<input type="text" name="DatInicio" id="DatInicio" class="form-control input-sm calendar-group" style="width: 100px;" value="@datInicio" />
					<div class="input-group-btn"><button class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></button></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="input-group input-group-sm" style="width: 100px;">
					<div class="input-group-btn"><button class="btn btn-default menos"><span class="glyphicon glyphicon-minus"></span></button></div>
					<input type="text" name="DatFim" id="DatFim" class="form-control calendar-group" style="width: 100px;" value="" />
					<div class="input-group-btn"><button class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></button></div>
				</div>
			</div>
		</div>
		<div class="pull-left">
			<input type="button" class="bttn bttn-sm bttn-red" value="Consultar" id="btnEnviar" onclick="btnEnviar_Click();" />
			<input type="button" class="bttn bttn-sm bttn-red" value="Lotes da Vez" id="btnConsultarPendentes" onclick="ConsultarLotesPendentes();" />
		</div>
	</div>
	<div class="row">
		<div class="pull-left margem">
			<div class="col-md-2" style="padding-top: 5px;"><label>Modelo: </label></div>
			<div class="col-md-10">
				<div class="input-group" style="width: 100%;">
					<input type="text" name="CodModelo" id="CodModelo" value="" class="form-control input-sm" style="width: 70px; padding-right: 0;" />
					<input type="text" name="Descricao" id="Descricao" value="" class="input-group-addon input-sm text-grid" style="width: 70%;" placeholder="Pesquise a descrição" />
				</div>
			</div>
		</div>
		<div class="pull-left">
			<div class="col-md-4" style="padding-top: 5px;"><label>Número do Lote: </label></div>
			<div class="col-md-8">
				<div class="input-group" style="width: 100%;">
					<input type="text" name="NumLote" id="NumLote" value="" class="form-control input-sm" style="width: 250px; padding-right: 0;" />
				</div>
			</div>
		</div>
	</div>
</div>
<hr />
<table class="table-semp table-bordered table-condensed smallrow" id="tblPendentes">
	<thead>
		<tr>
			<th>Modelo</th>
			<th>Linha</th>
			<th>Lote</th>
			<th style="width: 40px;">Ações</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>

</table>
<br />
<table class="table-semp table-bordered table-condensed smallrow" id="tblDados">
	<thead>
		<tr>
			<th style="width: 40px;"></th>
			<th style="width: 120px;">Data Abertura</th>
			<th>Lote</th>
			<th>Modelo</th>
			<th>Linha</th>
			<th>Qtde Lote</th>
			<th>Qtde. Rec.</th>
			<th>Status</th>
			<th>Data Fechamento</th>
			<th>Data Recebimento</th>
		</tr>
	</thead>
	<tbody>
		<tr id="testeTR">
			<td id="testeTD"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<br /><br />

<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<script>
	var codDRT = "@retornologin.CodDRT";

	if (codDRT === "") {
		codDRT = "SISTEMA";
	}

	function btnEnviar_Click() {

		var setor = $("#Setor").val();
		var codLinha = $("#Linha").val();
		var datIni = $("#DatInicio").val();
		var datFim = $("#DatFim").val();
		var codModelo = $("#CodModelo").val();
		var status = $("#status").val();
		var numLote = $("#NumLote").val();

		if (setor == "") {
			return;
		}


		$("#tblDados>tbody").html($('#carregando').html());

		var parametros = { codModelo: codModelo, datInicio: datIni, datFim: datFim, setor: setor, codLinha: codLinha, status: status, numLote: numLote };

		$.ajax({
			type: "GET",
			url: "/Outros/ConsultaLotes/ObterLotes/",
			data: parametros,
			success: function (data) {
				$("#tblDados>tbody").html(data);
			},
			error: function (data) {
				$("#tblDados>tbody").html(data.responseText);
			}
		});
	}

	function ConsultarLotesPendentes() {

		var setor = $("#Setor").val();
		var codLinha = $("#Linha").val();
		var codModelo = $("#CodModelo").val();

		if (setor == "") {
			return;
		}

		$("#tblPendentes>tbody").html($('#carregando').html());

		var parametros = { setor: setor, codModelo: codModelo, codLinha: codLinha };

		$.ajax({
			type: "GET",
			url: "/Outros/ConsultaLotes/VerLotes/",
			data: parametros,
			success: function (data) {
				$("#tblPendentes>tbody").html(data);
			},
			error: function (data) {
				$("#tblPendentes>tbody").html(data.responseText);
			}
		});
	}

	function btnCaixasColetivas_Click(e, numLote) {

		var existe = $("#linha_" + numLote);
		if (existe) {
			$("#linha_" + numLote).remove();
			
		}

		var parametros = { numLote: numLote };

		$.ajax({
			type: "GET",
			url: "/Outros/ConsultaLotes/ObterCaixasColetivas/",
			data: parametros,
			success: function (data) {
				$(e).parent().parent().after(data);

				//$(e).attr("disabled", "disabled");
			},
			error: function (data) {
				alert(data.responseText);
			}
		});
	}

	function btnFecharLote_Click(e, numLote) {

		var parametros = { numLote: numLote, codDRT: codDRT, justificativa: "FECHAMENTO FORÇADO NA TELA DE CONSULTA DE LOTES " };

		$.ajax({
			type: "GET",
			url: "/Coleta/Posto/FecharLote/",
			data: parametros,
			success: function (data) {
				alert("Lote fechado com sucesso!");
				$("#NumLote").val(numLote);
				btnEnviar_Click();
			},
			error: function (data) {
				alert(data.responseText);
			}
		});
	}

	function btnReceberLote_Click(e, numLote) {

		var setor = $("#Setor").val();
		var linha = 101;
		if (setor === "IMC") {
			linha = 102;
		}

		var parametros = { NumLote: numLote, CodDRT: codDRT, CodLinhaDest: linha};

		$.ajax({
			type: "GET",
			url: "/posto/ReceberLoteAlt/",
			data: parametros,
			success: function (data) {
				
				if (data.substring(0, 6) != "Erro: " && data.indexOf("FIFO:") == 0) {
					alert("Lote recebido com sucesso!");
					btnEnviar_Click();
				}
				else
				{
					alert(data);
				}
			},
			error: function (data) {
				alert(data.responseText);
			}
		});
	}

	function btnEmbalados_Click(e, numLote) {

		var existe = $("#placa_" + numLote);
		if (existe) {
			$("#placa_" + numLote).remove();

		}

		$(e).parent().parent().after("<tr id='placa_" + numLote + "'><td id='conteudo" + numLote + "' colspan='10'></td></tr>");

		var parametros = { numCC: numLote };

		$.ajax({
			type: "GET",
			url: "/Outros/ConsultaLotes/ObterPlacasEmbaladas/",
			data: parametros,
			success: function (data) {
				//$(e).parent().parent().after(data);
				$("#conteudo" + numLote).html(data);

			},
			error: function (data) {
				alert(data.responseText);
			}
		});
	}

	function CarregarLinhas() {

		var fase = $("#Setor").val();
		if (fase == "PLACA") { fase = "FEC"; }

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: fase },
			dataType: "json",
			success: function (json) {
				var options = "";
				var selected = "";
				options += '<option value=""> [ LINHA ] </option>';
				$.each(json, function (key, Linhas) {
					options += '<option value="' + Linhas.CodLinha + '" ' + selected + '>' + Linhas.DesLinha + '</option>';
				});
				$("#Linha").html(options);
			}
		});
	}

	$(function () {
		$("#Setor").change(CarregarLinhas);

		$("#DatInicio").datepicker();
		$("#DatFim").datepicker();

		$('.mais').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			var date = $(campo).datepicker('getDate');
			date.setDate(date.getDate() + 1);
			$(campo).datepicker("setDate", date);
		});

		$('.menos').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			var date = $(campo).datepicker('getDate');
			date.setDate(date.getDate() - 1);
			$(campo).datepicker("setDate", date);
		});

		$("#CodModelo").blur(function () {
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: $("#CodModelo").val() },
				success: function (data) {
					$("#Descricao").val(data);
				}
			});
		});

		CarregarLinhas();

		$("#Setor").focus();
	});


</script>