﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.ItensLote>
@{
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin { CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = "" };
	var acessoFecharLote = SEMP.Helpers.Extensions.Permissao("FecharLote", retornologin);

	if (Model != null)
	{
	<span class='glyphicon glyphicon-remove' onClick='$(this).parent().parent().remove();'></span>
	<table class="table-semp" style="width: 700px;">
		<thead>
			<tr>
				<th>Série</th>
				<th>Data Leitura</th>
				<th>Fáb.</th>
				<th>AP</th>
				<th>Operador</th>
				<th>Linha</th>
				<th>Posto</th>
				<th>Data Amarração</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
			<tr>
				<td><a href="/Coleta/Rastreia/Ficha/?codigo=@item.NumECB&layout=true" target="_blank">@Html.DisplayFor(modelItem => item.NumECB)</a></td>
				<td>@Html.DisplayFor(modelItem => item.DatLeitura)</td>
				<td>@Html.DisplayFor(modelItem => item.CodFab)</td>
				<td>@Html.DisplayFor(modelItem => item.NumAP)</td>
				<td>@Html.DisplayFor(modelItem => item.CodOperador)</td>
				<td>@Html.DisplayFor(modelItem => item.DesLinha)</td>
				<td>@Html.DisplayFor(modelItem => item.DesPosto)</td>
				<td>@Html.DisplayFor(modelItem => item.DatAmarraFinal)</td>
			</tr>
			}
		</tbody>
	</table>
	}
}