﻿@model List<SEMP.Model.DTO.CBLoteDTO>

@{
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin { CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = "" };
	var acessoFecharLote = SEMP.Helpers.Extensions.Permissao("FecharLote", retornologin);
	var acessoReceberLote = SEMP.Helpers.Extensions.Permissao("ReceberLote", retornologin);

	if (Model != null)
	{
		foreach (var item in Model)
		{
			var status = "";
			if (item.Status == 0) {
				status = "Aberto";
			}
			else if (item.Status == 1)
			{
				status = "Fechado";
			}
			else if(item.Status == 2) {
				status = "Transferido";
			}
			else if (item.Status == 3)
			{
				status = "Recebido";
			}

			<tr>
				<td style="width: 100px;">
					<a class="btn btn-xs btn-info" id="btnCaixasColetivas" onclick="btnCaixasColetivas_Click(this, '@item.NumLote');">
						<span class="glyphicon glyphicon-eye-open"></span>
					</a>
					@if (acessoFecharLote && item.Status == SEMP.Model.Constantes.LOTE_ABERTO)
					{
					<a class='btn btn-xs btn-info' id='btnFecharLote' onclick="btnFecharLote_Click(this, '@item.NumLote');">
						<span class="glyphicon glyphicon-check"></span>
					</a>
					}
					@if (acessoReceberLote && item.Status == SEMP.Model.Constantes.LOTE_FECHADO)
					{
					<a class='btn btn-xs btn-info' id='btnFecharLote' onclick="btnReceberLote_Click(this, '@item.NumLote');">
						<span class="glyphicon glyphicon-download"></span>
					</a>
					}
				</td>
				<td>@item.DatAbertura</td>
				<td>@item.NumLote</td>
				<td>@item.CodModelo - @item.DesModelo</td>
				<td>@item.CodLinha - @item.DesLinha</td>
				<td>@item.Qtde</td>
				<td>@item.QtdRec</td>
				<td>@status</td>
				<td>@item.DatFechamento</td>
				<td>@item.DatRecebimento</td>
			</tr>

		}
	}

}
