﻿@model List<SEMP.Model.DTO.CBLoteDTO>

@{
				var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin { CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = "" };
				var acessoFecharLote = SEMP.Helpers.Extensions.Permissao("FecharLote", retornologin);
				var numCC = Request["NumLote"].ToString();

				if (Model != null)
				{

	<tr id="linha_@numCC">
		<td colspan='10' style='background-Color: gray; padding-left: 5px;'>
			<span class='glyphicon glyphicon-remove' onClick='$("#linha_@numCC").remove();'></span>
			<table class='table-semp smallrow' style='width: 500px;'>
				<thead>
					<tr>
						<th>Data Abertura</th>
						<th>Caixa Coletiva</th>
						<th>Qtde</th>
						<th>Status</th>
						<th>Data Recebimento</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
			{
				var status = "";
				if (item.Status == 0)
				{
					status = "Aberto";
				}
				else if (item.Status == 1)
				{
					status = "Fechado";
				}
				else if (item.Status == 2)
				{
					status = "Transferido";
				}
				else if (item.Status == 3)
				{
					status = "Recebido";
				}

					<tr>
						<td>@item.DatAbertura</td>
						<td>@item.NumLote</td>
						<td>@item.Qtde</td>
						<td>@status</td>
						<td>@item.DatRecebimento</td>
						<td>
							<a class="btn btn-xs btn-info" id="btnCaixasColetivas" onclick="btnEmbalados_Click(this, '@item.NumLote');">
								<span class="glyphicon glyphicon-eye-open"></span>
							</a>
							@if (acessoFecharLote && item.Status == 0)
			{
							<a class='btn btn-xs btn-info' id='btnFecharLote' onclick="btnFecharLote_Click(this, '@item.NumLote');">
								<span class="glyphicon glyphicon-check"></span>
							</a>
							}
						</td>
					</tr>
					}
				</tbody>
			</table>
		</td>
	</tr>
	}
}