﻿@model List<SEMP.Model.VO.Rastreabilidade.LotesDaVez>

@{

	if (Model != null)
	{
		foreach (var item in Model)
		{

		<tr>
			<td>@item.CodModelo - @item.DesModelo</td>
			<td>@item.CodLinha - @item.DesLinha</td>
			<td>@item.NumLote.Substring(0, item.NumLote.Length - 5) - <strong>@item.NumLote.Substring(item.NumLote.Length - 5)</strong></td>
			<td>
				<a class="btn btn-xs btn-primary" onclick="btnCaixasColetivas_Click(this, '@item.NumLote');"><span class="glyphicon glyphicon-eye-open"></span></a>
			</td>
		</tr>

		}


	}


}
