﻿@model SEMP.Model.DTO.CBTipoAmarraDTO

@using (Html.BeginForm("Create", "TipoAmarra", FormMethod.Post, new { @id = "frmTipoAmarra" })) 
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.CodTipoAmarra)
		
		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.DesTipoAmarra, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DesTipoAmarra, new {@class="form-control"})
				@Html.ValidationMessageFor(model => model.DesTipoAmarra)
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-5">
				@Html.LabelFor(model => model.CodFam, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.CodFam, new {@class="form-control"})
				@Html.ValidationMessageFor(model => model.CodFam)
			</div>

			<div class="col-md-5">
				@Html.LabelFor(model => model.FlgMascaraPadrao, new { @class = "control-label" })
				<select name="FlgMascaraPadrao" id="FlgMascaraPadrao" class="form-control">
					<option value="S">Sim</option>
					<option value="N">Não</option>
				</select>
				@Html.ValidationMessageFor(model => model.FlgMascaraPadrao)
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.MascaraPadrao, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.MascaraPadrao, new {@class="form-control"})
				@Html.ValidationMessageFor(model => model.MascaraPadrao)
			</div>
		</div>

		<div class="row">
			<div style="margin-top: 10px; margin-right: 10px; display: inline-block;">
				<input type="button" onclick="$('#janela').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
			</div>
		</div>
	</div>
}

<script>
	function gravar() {
		$.ajax({
			type: "POST",
			url: "/Coleta/TipoAmarra/Create/",
			data: $("#frmTipoAmarra").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Registro inserido com sucesso.");
					$("#CodTipoAmarra").val("");
					$("#DesTipoAmarra").val("");
					$("#CodFam").val("");
					$("#MascaraPadrao").val("");
					btnEnviar_Click();
				} else {
					alert(json);
				}
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr);
			}
		});
	}
</script>