﻿@model SEMP.Model.DTO.CBTipoAmarraDTO

<h3>Confirma a exclusão desse registro?</h3><div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.CodTipoAmarra)</dt>
		<dd>@Html.DisplayFor(model => model.CodTipoAmarra)</dd>
		<dt>@Html.DisplayNameFor(model => model.DesTipoAmarra)</dt>
		<dd>@Html.DisplayFor(model => model.DesTipoAmarra)</dd>
		<dt>@Html.DisplayNameFor(model => model.CodFam)</dt>
		<dd>@Html.DisplayFor(model => model.CodFam)</dd>
		<dt>@Html.DisplayNameFor(model => model.FlgMascaraPadrao)</dt>
		<dd>@Html.DisplayFor(model => model.FlgMascaraPadrao)</dd>
		<dt>@Html.DisplayNameFor(model => model.MascaraPadrao)</dt>
		<dd>@Html.DisplayFor(model => model.MascaraPadrao)</dd>
	</dl>

	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()
		@Html.HiddenFor(model => model.CodTipoAmarra)

		<div class="form-actions no-color" style="margin-top: 10px;">
			<div style="margin-top: 10px; display: inline-block;">
				<input type="button" onclick="$('#janela').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="submit" value="Apagar" class="bttn bttn-sm bttn-red" />
			</div>
		</div>
	}
</div>
