﻿@model SEMP.Model.DTO.CBTipoAmarraDTO

@using (Html.BeginForm("Edit", "TipoAmarra", FormMethod.Post, new { @id = "frmTipoAmarra" }))
{
	<div class="form-horizontal">
	@Html.AntiForgeryToken()
		@Html.HiddenFor(model => model.CodTipoAmarra)
		
		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.DesTipoAmarra, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DesTipoAmarra, new {@class="form-control"})
				@Html.ValidationMessageFor(model => model.DesTipoAmarra)
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-5">
				@Html.LabelFor(model => model.CodFam, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.CodFam, new {@class="form-control"})
				@Html.ValidationMessageFor(model => model.CodFam)
			</div>

			<div class="col-md-5">
				@Html.LabelFor(model => model.FlgMascaraPadrao, new { @class = "control-label" })
				<select name="FlgMascaraPadrao" id="FlgMascaraPadrao" class="form-control">
					<option value="S" @if(Model.FlgMascaraPadrao.Equals("S")){WriteLiteral("selected");}>Sim</option>
					<option value="N" @if(Model.FlgMascaraPadrao.Equals("N")){WriteLiteral("selected");}>Não</option>
				</select>
				@Html.ValidationMessageFor(model => model.FlgMascaraPadrao)
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.MascaraPadrao, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.MascaraPadrao, new {@class="form-control"})
				@Html.ValidationMessageFor(model => model.MascaraPadrao)
			</div>
		</div>

		<div class="row">
			<div style="margin-top: 10px; margin-right: 10px; display: inline-block;">
				<input type="button" onclick="$('#janela').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
			</div>
		</div>
	</div>
}

<script>
	function gravar() {
		$("#CodTipoCausa").removeAttr("disabled");

		$.ajax({
			type: "POST",
			url: "/Coleta/TipoAmarra/Edit/",
			data: $("#frmTipoAmarra").serialize(),
			dataType: "json",
			success: function (json) {
				$("#CodTipoCausa").attr("disabled", "disabled");
				if (json == true) {
					alert("Registro alterado com sucesso.");
					btnEnviar_Click();
				} else {
					alert("Não foi possível gravar.");
				}
			},
			error: function (xhr) {
				alert("Não foi possível alterar: " + xhr);
			}
		});
	}
</script>