﻿
@{
	ViewBag.Title = "Cadastro de Tipo de Amarração";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Tipo Amarração";

}

<h3>@ViewBag.Title</h3>

<div class="row">
	<div class="col-md-7">
		<input type="button" name="btnNovo" id="btnNovo" value="Novo" class="bttn bttn-sm bttn-red" />
		<input type="button" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" onclick="btnEnviar_Click();"/>
	</div>
</div>
<br />

<div id="janela" style="display: none; top: 10px;"></div>
<div id="conteudo"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<script type="text/javascript">
	var url = "";
	$(function () {

		$("#janela").dialog({
			title: 'Manutenção',
			autoOpen: false,
			resizable: false,
			width: 500,
			height: 300,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		$("#btnNovo").on("click", function (e) {
			url = "/Coleta/TipoAmarra/Create/";
			$(".ui-dialog-title").html("Nova");
			$("#janela").dialog('open');

			return false;
		});

		btnEnviar_Click();

	});

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			url: "/Coleta/TipoAmarra/Lista/",
			success: function (data) {
				$("#conteudo").html(data);
				$(".linkEdit").on("click", function (e) {
					url = $(this).attr('href');
					$(".ui-dialog-title").html("Alterar");
					$("#janela").dialog('open');

					return false;
				});
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	@{
		if (!String.IsNullOrEmpty(ViewBag.mensagem))
		{
			WriteLiteral("alert('" + ViewBag.mensagem + "');");
		}
	}

</script>


