﻿@model IEnumerable<SEMP.Model.DTO.CBTipoAmarraDTO>

<table class="table-semp" id="tblDados">
	<thead>
	<tr>
		<th style="width: 50px;"></th>
		<th>@Html.DisplayNameFor(model => model.CodTipoAmarra)</th>
		<th>@Html.DisplayNameFor(model => model.DesTipoAmarra)</th>
		<th>@Html.DisplayNameFor(model => model.CodFam)</th>
		<th>@Html.DisplayNameFor(model => model.FlgMascaraPadrao)</th>
		<th>@Html.DisplayNameFor(model => model.MascaraPadrao)</th>

	</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.ActionLink(" ", "Edit", new { id = item.CodTipoAmarra}, new { @class="linkEdit glyphicon glyphicon-edit", @title="Editar registro"}) |
				@Html.ActionLink(" ", "Delete", new { id= item.CodTipoAmarra}, new { @class="linkEdit glyphicon glyphicon-remove", @title="Remover"})
			</td>
			<td>@Html.DisplayFor(modelItem => item.CodTipoAmarra)</td>
			<td>@Html.DisplayFor(modelItem => item.DesTipoAmarra)</td>
			<td>@Html.DisplayFor(modelItem => item.CodFam)</td>
			<td>@Html.DisplayFor(modelItem => item.FlgMascaraPadrao)</td>
			<td>@Html.DisplayFor(modelItem => item.MascaraPadrao)</td>
		</tr>
	}
	</tbody>
</table>
<br /><br />