﻿@{
    ViewBag.Title = "Relatório de Inspeção IAC";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Sistema = "Rastreabilidade";
    ViewBag.Rotina = "Relatório de Inspeção IAC";

    var DatInicio = Request["DatInicio"];
    var DatFim = Request["DatFim"];
    var CodLinha = Request["CodLinha"];
    var CodModelo = Request["CodModelo"];
    var Turno = Request["Turno"];
    var consulta = Request["Consultar"];
    var flgGrafico = Request["flgGrafico"];

    if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
    if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
    if (String.IsNullOrEmpty(CodLinha)) { CodLinha = ""; }
    if (String.IsNullOrEmpty(Turno)) { Turno = "0"; }
}

<h3>@ViewBag.Title</h3>

<div class="boxFiltros">

    <form name="frmRelatorio" id="frmRelatorio" action="Linha" method="post" style="padding: 20px;">
        <div class="row">
            <div class="span span-centered">
                <div class="col-md-2 col-centered">
                    <label>Data inicial&#58;</label>
                    <input type="text" name="DatInicio" id="DatInicio" value="@DatInicio" class="calendar"/>
                </div>
                <div class="col-md-2 col-centered">
                    <label>Data final&#58;</label>
                    <input type="text" name="DatFim" id="DatFim" value="@DatFim" class="calendar"/>
                </div>
                <div class="col-md-2 col-centered">
                    <label>Turno&#58;</label>
                    <input type="text" name="Turno" id="Turno" value="@Turno" class="turno" />
                </div>
                <div class="col-md-3 col-centered">
                    <label>Linha:</label>
                    <select name="CodLinha" id="Linhas" class="linhas">
                        <option value="">SELECIONE A LINHA</option>
                    </select>
                </div>
                <div class="col-md-3 col-centered">
                    <label>Modelo:</label>
                    <select name="CodModelo" id="Modelo" class="modelo">
                        <option value="">SELECIONE O MODELO</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="span span-centered">
                <div class="col-xs-6 col-centered">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <input type="radio" name="flgGrafico" value="S" checked="checked" />
                        </span>
                        <input type="text" class="form-control" value="Gerar gráfico" style="border: none;" />
                    </div>
                </div>
                <div class="col-xs-6 col-centered">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <input type="radio" name="flgGrafico" value="" />
                        </span>
                        <input type="text" class="form-control" value="Sem gráfico" style="border: none;" />
                    </div>
                </div>
                <div class="col-xs-6 col-centered">
                    <input type="button" id="btnExportar" name="btnExportar" value="Gerar Excel" class="bttn bttn-sm bttn-green" />
                    @{ if (String.IsNullOrEmpty(consulta))
                       {		
                        <input type="submit" name="btnEnviar" value=" Gerar " class="bttn bttn-sm bttn-red"
                            onclick="btnEnviar_Click();" />
                       }
                    }
                </div>
            </div>
        </div>
    </form>
</div>

<div id="conteudo">
</div>

<script type="text/javascript">
    var linha = "@CodLinha";

	@if (ViewBag.mensagem != null)
 {	
		<text> $("#conteudo").html('<div style="color:red;"><h4>@ViewBag.mensagem</h4></div>');</text>
 };

    $(function () {
        $("#DatFim").datepicker({
            showButtonPanel: true,
            numberOfMonths: 2,
            onClose: function (selectedDate) {
                $("#DatInicio").datepicker("option", "maxDate", selectedDate);
            }
        });
        $("#DatInicio").datepicker({
            showButtonPanel: true,
            numberOfMonths: 2,
            onClose: function (selectedDate) {
                $("#DatFim").datepicker("option", "minDate", selectedDate);
            }
        });

        $("#btnExportar").click(function () {
            var datInicio = $("#DatInicio").val();
            var datFim = $("#DatFim").val();
            var modelo = $("#Modelo").val();
            var fase = $("#fase").val();
            var codLinha = $("#Linhas").val();
            var turno = $("#Turno").val();
            var codDRT = $("#Tecnico").val();

            window.open("/Coleta/RelatorioTecnico/GerarExcel/?datInicio=" + datInicio +
				"&datFim=" + datFim +
				"&fase=" + fase +
				"&codLinha=" + codLinha +
				"&turno=" + turno +
				"&codDRT=" + codDRT +
				"&codModelo=" + modelo);
        });

        $("#Linhas").change(CarregarModelo);
        //$("#Linha").change(limparFamilia);
        //$("#familia").change(limparLinha);

        CarregarLinhas();
    });

    function CarregarLinhas() {

        $.ajax({
            type: "GET",
            url: "/posto/GetLinhas/",
            data: { fabrica: "IAC" },
            dataType: "json",
            success: function (json) {
                var options = "";
                var selected = "";
                options += '<option value=""> SELECIONE A LINHA </option>';
                $.each(json, function (key, Linhas) {
                    if (linha == Linhas.CodLinha) { selected = "selected"; } else { selected = ""; }
                    options += '<option value="' + Linhas.CodLinha + '" ' + selected + '>' + Linhas.DesLinha + '</option>';
                });
                $("#Linhas").html(options);
            }
        });

    }

    function CarregarModelo() {

        var linha = $("#Linhas").val();

        $.ajax({
            type: "GET",
            url: "/Coleta/RelatorioIAC/GetModelos/",
            data: {
                datinicio: $("#DatInicio").val(),
                datFim: $("#DatFim").val(),
                codlinha: linha,
                turno: $("#Turno").val()
            },
            dataType: "json",
            success: function (json) {
                
                var options = "";
                var selected = "";
                options += '<option value=""> SELECIONE O MODELO </option>';
                $.each(json, function (key, Modelos) {
                    options += '<option value="' + Modelos.CodModelo + '">'+ Modelos.CodModelo + ' - ' + Modelos.DesModelo + '</option>';
                });

                $("#Modelo").html(options);
            }
        });
    }


    function btnEnviar_Click() {
        //if ($('#Linha').val() != '') {
        //    $("form").get(0).setAttribute('action', '/Coleta/RelatorioTecnico/Linha');
        //}
        //else if ($('#familia').val() != "") {
        //    $("#frmRelatorio").attr('action', '/Coleta/RelatorioTecnico/Linha');
        //}
        //else if ($('#Tecnico').val() != '') {
        //    $("form").get(0).setAttribute('action', '/Coleta/RelatorioTecnico/Tecnico');
        //}
        //else {
        //    $("form").get(0).setAttribute('action', '/Coleta/RelatorioTecnico/Linha');
        //}

        $("#frmRelatorio").attr("action", "/Coleta/RelatorioIAC/Postos/");
        //$("#CodLinha").val(CodLinha);
        $("#frmRelatorio").submit();

    }

    //Temp
    function AbrePostos(CodLinha) {
        $("#frmIndicadores").attr("action", "/Coleta/Indicadores/Postos/");
        $("#CodLinha").val(CodLinha);
        $("#frmIndicadores").submit();
    }

</script>
