﻿@{
    ViewBag.Title = "Indicadores de Produção";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Indicadores - por fábrica";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var DatIni = Request["DatIni"];
	var DatFim = Request["DatFim"];
    var Turno = Request["Turno"];
	if (String.IsNullOrEmpty(DatIni)) { DatIni = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }

    int contadorColunas = ViewBag.CountColunas + 3;

}

<h2>Relatório de Inspeção - Por Hora</h2>


<div class="barraOpcoes">
	<form method="post" action="@Url.Action("PostoDetalhe","Indicadores") " name="frmIndicadores" id="frmIndicadores">
        <label>Data inicial:</label><input type="text" name="DatIni" id="DatIni" size="10" value="@DatIni" />
		<label>Data final:</label><input type="text" name="DatFim" id="DatFim" size="10" value="@DatFim" />
        <input type="hidden" name="Fabrica" id="hdFabrica" value="@ViewBag.Fabrica"/>
        <input type="hidden" name="CodLinha" id="CodLinha" value="@ViewBag.CodLinha"/>
        <input type="hidden" name="Posto" id="Posto" value="@ViewBag.Posto"/>
        <input type="hidden" name="Familia" id="Familia" value="@ViewBag.Familia"/>
		
        <label>Turno&#58;</label>
        <input type="text" name="Turno" id="Turno" value="@ViewBag.Turno" class="turno" />
        &nbsp;&nbsp;
		<input type="submit" name="btnConsultar" value="  Consultar  " onclick="$('#frmIndicadores').attr('action', '/Coleta/Indicadores/PostoDetalhe/');" class="bttn bttn-sm bttn-red"/>
	</form>
</div>


<table class="table-semp" border="0">
<thead>
	<tr>
		<th colspan="@contadorColunas">
            <span>IAC</span>	 
		</th>
	</tr>
    <tr>
        
		<th colspan="@contadorColunas" style="height: 30px;">PST @ViewBag.Posto</th>
	</tr>
    <tr>
        <th>Posição</th>
        <th>Máquina</th>
        <th>Cod Defeito</th>
        @foreach (var item in (List<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorPostoHoraHora>)@ViewBag.Horarios)
        {
            <th>@string.Format("{0:D2}:{1:D2}",item.HoraInicio.Hours, item.HoraInicio.Minutes)</th>    
        }
	</tr>
</thead>
<tbody>
@{
    List<string> titulos = new List<string> { "Qtd Inspecionada", "Qtd Inspecionada Acumulada", "Qtd Defeitos", "Qtd Defeitos Acumulado", "PPM Acumulado" };
    var listaPosicoesHoraHora = (List<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorPostoHoraHora>)@ViewBag.ListaPosiceosIndicadoresHora;
}

@{
    var Indicador = (List<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorPostoHoraHora>)@ViewBag.ListaIndicadorPostoHora;
}

@for (int i = 0; i < listaPosicoesHoraHora.Count(); i++)
{
    <tr>
        <td style="text-align: center;">@listaPosicoesHoraHora[i].Titulo</td>
        <td></td>
        <td style="text-align: center;">@listaPosicoesHoraHora[i].CodDefeito</td>
        @foreach (var item in (List<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorPostoHoraHora>)@ViewBag.Horarios)
        {
            <td class="dados" style="text-align: center;">
                @if (listaPosicoesHoraHora[i].Hora == item.Hora)
	{
		 <span>@listaPosicoesHoraHora[i].Quantidade</span>
	}
                else
	{
                        <span>0</span>
	}
            </td>    
        }
    </tr>
}
    <tr>
        <td></td>
    </tr>

@for (int i = 0; i < titulos.Count; i++)
{
    <tr>
		<td colspan="3">@titulos[i]</td>
        @foreach (var obj in Indicador.Where(a => a.Titulo == @titulos[i]))
        {
		    <td class="dados" style="text-align: center;">@obj.Quantidade @if (titulos[i].Equals("Índice Defeitos (%)"))
	{
		         <span>%</span>
	}

		    </td>
        }
    </tr>
}

</tbody>
</table>

<br />
<a href="#" class="bttn bttn-sm bttn-red" onclick="VoltarPosto();">Voltar</a>

<script type="text/javascript">

    $(function () {

        $("#DatFim").datepicker();
        $("#DatIni").datepicker();

        var familia = "";

    });


    function AbrePostoTecnico() {
        $("#frmIndicadores").attr("action", "/Coleta/Indicadores/PostoTecnico/");
        $("#frmIndicadores").submit();

    }

    function VoltarPosto() {
        $("#frmIndicadores").attr("action", "/Coleta/RelatorioIAC/Postos/");
        $("#frmIndicadores").submit();
    }
</script>