﻿@{
    ViewBag.Title = "Relatório de Inspeção IAC";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
    ViewBag.Rotina = "Relatório de Inspeção IAC";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var DatIni = Request["DatIni"];
	var DatFim = Request["DatFim"];
	var Turno = Request["Turno"];
	if (String.IsNullOrEmpty(DatIni)) { DatIni = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }

}

<h2>Relatório de Inspeção IAC - Por Postos</h2>

<div class="barraOpcoes">
	<form method="post" action="@Url.Action("Postos", "Indicadores") " name="frmIndicadores" id="frmIndicadores">
		<label>Data inicial:</label><input type="text" name="DatIni" id="DatIni" size="10" value="@DatIni" />
		<label>Data final:</label><input type="text" name="DatFim" id="DatFim" size="10" value="@DatFim" />
		<input type="hidden" name="Fabrica" id="hdFabrica" value="@ViewBag.Fabrica"/>
		<input type="hidden" name="CodLinha" id="CodLinha" value="@ViewBag.CodLinha"/>
		<input type="hidden" name="Familia" id="Familia" value="@ViewBag.Familia"/>
        <input type="hidden" name="CodModelo" id="CodModelo" value="@ViewBag.Modelo" />
		<input type="hidden" name="Posto" id="Posto" value="" />

		<label>Turno&#58;</label>
		<input type="text" name="Turno" id="Turno" value="@ViewBag.Turno" class="turno" />
		&nbsp;&nbsp;
		<input type="submit" name="btnConsultar" value="  Consultar  " class="bttn bttn-sm bttn-red" />
	</form>
</div>

@{
    List<string> titulos = new List<string> { "Qtd. Produzida", "Qtd. Defeitos", "PPM Acumulado" };
}

@{
	var Indicador = (List<SEMP.Model.VO.Rastreabilidade.Relatorios.IndicadorPostos>)@ViewBag.IndicadorPosto;
}

<table class="table-semp" border="0">
	<thead>
		<tr>
			<th colspan="@ViewBag.CountPostos">
				IAC
			</th>
		</tr>
		<tr>
			<th colspan="@ViewBag.CountPostos" style="height: 30px;">@ViewBag.Linha</th>
		</tr>
		<tr>
			<th></th>
			@if (ViewBag.Postos != null)
			{
				foreach (var item in (List<SEMP.Model.DTO.CBPostoDTO>)ViewBag.Postos)
				{
					<th>
						<a href="#" style="text-decoration: none;" onclick=" AbrePostoDetalhe(@item.NumPosto); " data-toggle="tooltip" title="@item.DesPosto">Pst @item.NumPosto</a>
					</th>
				}
			}
		</tr>
	</thead>
	<tbody>

		@foreach (var t in titulos)
		{
			<tr>
				<td>@t</td>
				@if (Indicador != null)
				{
					foreach (var obj in Indicador.Where(a => a.Titulo == t))
					{
						<td class="dados" style="text-align: center;">@obj.Quantidade @if (t.Equals("Índice Defeitos (%)"))
																					  {
																						  <span>%</span>
																					  }

						</td>
					}
				}
			</tr>
		}

	</tbody>
</table>

<br />
<a href="#" class="bttn bttn-sm bttn-red" onclick="VoltarLinhas();">Voltar</a>

<script type="text/javascript">

	$(function () {
		$("#DatFim").datepicker();
		$("#DatIni").datepicker();
	});

	function AbrePostoDetalhe(Posto) {
		$("#frmIndicadores").attr("action", "/Coleta/RelatorioIAC/PostoDetalhe/");
		$("#Posto").val(Posto);
		$("#frmIndicadores").submit();
	}

	function abrepostotecnico() {
		//$("#frmindicadores").attr("action", "/coleta/indicadores/postotecnico/");
		//$("#frmindicadores").submit();
	}

	function VoltarLinhas() {
		$("#frmIndicadores").attr("action", "/Coleta/Indicadores/RelFabrica/");
		$("#frmIndicadores").submit();
	}
</script>


