﻿@model SEMP.Model.DTO.MensagemPainelDTO

@{
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin {CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = ""};

	var NomUsuario = retornologin.NomUsuario ?? "naoidentificado";

}

@using (Html.BeginForm("Create", "MensagemPainel", FormMethod.Post, new { @class = "form-inline", @role = "form", @name = "frmMensagem", id = "frmMensagem" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.CodMensagem)

        <div class="row">
			<div class="col-md-12">
				@Html.LabelFor(model => model.Destino, htmlAttributes: new { @class = "control-label" })
				@Html.TextBoxFor(model => model.Destino, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Destino, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				@Html.LabelFor(model => model.Mensagem, htmlAttributes: new { @class = "control-label" })
				@Html.TextBoxFor(model => model.Mensagem, new { @class = "form-control", @style = "width: 300px;" })
				@Html.ValidationMessageFor(model => model.Mensagem, "", new { @class = "text-danger" })
			</div>
		</div>

        <div class="row">

			<div class="col-md-6">
			@Html.LabelFor(model => model.Data, htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Data, new { @class = "calendar" })
                @Html.ValidationMessageFor(model => model.Data, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-6">
				<div class="input-group input-group-sm">
					@Html.LabelFor(model => model.flgAtivo, new { @class = "form-control" })
					<div class="input-group-addon">
						<input type="radio" name="flgAtivo" value="S" />Ativo
						<input type="radio" name="flgAtivo" value="N" />Inativo
					</div>
				</div>
				@Html.ValidationMessageFor(model => model.flgAtivo, "", new { @class = "text-danger" })
				</div>
        </div>

        @Html.HiddenFor(model => model.nomusuario, new { Value = NomUsuario})

		<br />
		<div class="row">
			<div style="margin-top: 10px; margin-right: 10px; display: inline-block;">
				<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
			</div>
		</div>
    </div>
}

<script>
	function gravar() {

		$.ajax({
			type: "POST",
			url: "/MensagemPainel/Create/",
			data: $("#frmMensagem").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Registro inserido com sucesso.");
					$("#Destino").val("");
					$("#Mensagem").val("");
					$("#Data").val("");
					$("#flgAtivo").val("");
				} else {
					alert("Erro ao gravar");
				}
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr);
			}
		});
		
	}

	$("#Data").datepicker();
</script>