﻿@model SEMP.Model.DTO.MensagemPainelDTO

<h3>Confirma excluir esse registro?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.CodMensagem)</dt>
		<dd>@Html.DisplayFor(model => model.CodMensagem)</dd>

		<dt>@Html.DisplayNameFor(model => model.Destino)</dt>
		<dd>@Html.DisplayFor(model => model.Destino)</dd>

		<dt>@Html.DisplayNameFor(model => model.Mensagem)</dt>
		<dd>@Html.DisplayFor(model => model.Mensagem)</dd>

		<dt>@Html.DisplayNameFor(model => model.Data)</dt>
		<dd>@Html.DisplayFor(model => model.Data)</dd>

		<dt>@Html.DisplayNameFor(model => model.flgAtivo)</dt>
		<dd>@Html.DisplayFor(model => model.flgAtivo)</dd>

		<dt>@Html.DisplayNameFor(model => model.nomusuario)</dt>
		<dd>@Html.DisplayFor(model => model.nomusuario)</dd>
</dl>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-actions no-color" style="margin-top: 10px;">
		<div style="margin-top: 10px; display: inline-block;">
			@Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
		</div>
		<div style="display: inline-block;">
			<input type="submit" value="Apagar" class="bttn bttn-sm bttn-red" />
		</div>
	</div>
}
</div>
