﻿@{
	ViewBag.Title = "Manutenção de Mensagens do Painel";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Mensagem Painel";
}
@Scripts.Render("~/bundles/excelexport")
	<h3>@ViewBag.Title</h3>
	<div>
		<div class="row">
			<div class="col-md-6">
				<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
				<input type="button" name="btnNovo" id="btnNovo" value="Novo" class="bttn bttn-sm bttn-red" />
				<input type="button" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" onclick="btnEnviar_Click();" />
			</div>
		</div>
	</div>
	<br />
	
	<div id="dialog-edit" style="display: none; top: 10px;"></div>
	<div id="conteudo"></div>

	<div id="carregando" style="display: none;">
		<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
			<img id="imgCarregando" src="/Images/carregando.gif" />
		</div>
	</div>
	<br /><br />

	<script type="text/javascript">

		function btnEnviar_Click() {
			$("#conteudo").html($('#carregando').html());

			$.ajax({
				type: "GET",
				url: "/Outros/MensagemPainel/Lista/",
				success: function (data) {
					$("#conteudo").html(data);
					$(".linkEdit").on("click", function (e) {
						url = $(this).attr('href');
						$(".ui-dialog-title").html("Alterar");
						$("#dialog-edit").dialog('open');

						return false;
					});
				},
				error: function (data) {
					$("#conteudo").html(data.responseText);
				}
			});
		}

		var url = "";
		$(document).ready(function () {

			$("#dialog-edit").dialog({
				title: 'Alterar dados',
				autoOpen: false,
				resizable: false,
				width: 500,
				height: 300,
				top: 0,
				show: { effect: 'drop', direction: "up" },
				modal: true,
				draggable: true,
				open: function (event, ui) {
					$(".ui-dialog-titlebar-close").hide();
					$(this).html("");
					$(this).load(url);
				}
			});

			$("#btnExportar").click(function () {

				$("#tblDados").btechco_excelexport({
					containerid: "tblDados",
					datatype: $datatype.MVC
				});
			});

			$("#btnNovo").on("click", function (e) {
				url = "/Outros/MensagemPainel/Create/";
				$(".ui-dialog-title").html("Incluir dados");
				$("#dialog-edit").dialog('open');

				return false;
			});

			btnEnviar_Click();
		});

		@{
		if (!String.IsNullOrEmpty(ViewBag.mensagem))
		{
			WriteLiteral("alert('" + ViewBag.mensagem + "');");
		}
	}

	</script>
