﻿@model IEnumerable<SEMP.Model.DTO.MensagemPainelDTO>

	<table class="table-semp smallrow" id="tblDados" style="width: 50%; margin-top: 10px;">
		<thead>
			<tr>
				<th style="width: 50px; text-align: center;"></th>
				<th>@Html.DisplayNameFor(model => model.CodMensagem)</th>
				<th>@Html.DisplayNameFor(model => model.Destino)</th>
				<th>@Html.DisplayNameFor(model => model.Mensagem)</th>
				<th>@Html.DisplayNameFor(model => model.Data)</th>
				<th>@Html.DisplayNameFor(model => model.flgAtivo)</th>
				<th>@Html.DisplayNameFor(model => model.nomusuario)</th>
			</tr>
		</thead>
		<tbody>
			@if (Model != null && Model.Count() > 0)
			{
				foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.ActionLink(" ", "Edit", new { codMensagem = item.CodMensagem }, new { @class = "linkEdit glyphicon glyphicon-edit", @title = "Editar registro" }) |
							@Html.ActionLink(" ", "Delete", new { codMensagem = item.CodMensagem }, new { @class = "linkEdit glyphicon glyphicon-remove", @title = "Remover" })
						</td>
						<td>@Html.DisplayFor(modelItem => item.CodMensagem)</td>
						<td>@Html.DisplayFor(modelItem => item.Destino)</td>
						<td>@Html.DisplayFor(modelItem => item.Mensagem)</td>
						<td>@Html.DisplayFor(modelItem => item.Data)</td>
						<td>@Html.DisplayFor(modelItem => item.flgAtivo)</td>
						<td>@Html.DisplayFor(modelItem => item.nomusuario)</td>
					</tr>
				}
			}
		</tbody>
	</table>
	<br /><br />
