﻿@model SEMP.Model.DTO.CBHorarioDTO

@{
    ViewBag.Title = "Adicionar Horário";
    Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Configuração";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

}

<script src="@Scripts.Url("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>

<!--<body>
	<h1>Por favor, insira as informações de horário do turno:</h1>

	<div style="margin-left:15px">
		<label style="font-size: 20px;">Turno</label>		
	</div>
	<div style="margin-left:15px">
		<input type="text" name="txtTurno" id="txtTurno" maxlength="1" autofocus="autofocus" placeholder="Ex: 1" class="configurcao" style="text-align: center; width: 80px; height: 30px; align-content: center; margin-top: 2px; font-size: 20px;" />		
	</div>

	<div style="margin-left:15px">
		<label style="font-size: 20px;">Horário Início</label>
	</div>
	<div style="margin-left:15px">
		<input type="text" name="txtHorarioInicio" id="txtHorarioInicio" maxlength="5" autofocus="autofocus" placeholder="Ex: 07:00" class="configurcao" style="text-align: center; width: 140px; height: 30px; align-content: center; margin-top: 2px; font-size: 20px;" />
	</div>

	<div style="margin-left:15px">
		<label style="font-size: 20px;">Horário Fim</label>
	</div>
	<div style="margin-left:15px">
		<input type="text" name="txtHorarioFim" id="txtHorarioFim" maxlength="5" autofocus="autofocus" placeholder="Ex: 17:08" class="configurcao" style="text-align: center; width: 140px; height: 30px; align-content: center; margin-top: 2px; font-size: 20px;" />
	</div>

	<input class="bttn bttn-sm bttn-red" type="submit" value="Voltar" id="btnVoltar" style="margin-top:20px; margin-left:15px" onclick="location.href = '/Coleta/Configuracao/Linha/'"/>
	<input class="bttn bttn-sm bttn-red" type="submit" value="Adicionar Horario" id="btnAdcionar" style="margin-top:20px; margin-left:15px" onclick="adicionarHora()"/>	

</body>

<script>

	function adicionarHora() {	
		if ($("#txtTurno").val().length > 0 && $("#txtHorarioInicio").val().length == 5 && $("#txtHorarioFim").val().length == 5) {
			$.ajax({
				type: "GET",
				url: "/Coleta/Configuracao/InsereHorario/",
				data: { Turno: $("#txtTurno").val(), HorarioInicio: $("#txtHorarioInicio").val(), HorarioFim: $("#txtHorarioFim").val() },
				dataType: "json",
				success: function (json) {
					alert("Horário Cadastrado com Sucesso");
					window.location = "/Coleta/Configuracao/Linha/";
				},
				error: function (xhr) {
					fn_error(xhr);
				}
			});
		}
		else {
			alert("Todos os campos precisam ser preenchidos");
		}
	}


	function fn_error(xhr) {
		if (xhr.status == 500 || xhr.status == 503) // service indisponivel
		{
			var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
			alert("Erro ao consultar: <br/>" + mensagem);
			document.location.href = "/";
		} else {
			$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + " | " + xhr.responseText + "<br>");
		}
	}

	jQuery(function ($) {
		$("#txtHorarioFim").mask("99:99", { placeholder: " " });
	});

	jQuery(function ($) {
		$("#txtHorarioInicio").mask("99:99", { placeholder: " " });
	});

</script>-->

<h2>Criar Horário</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="editor-label" style="font-size:14px">
            Turno
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Turno, new { htmlAttributes = new { @placeholder = "Ex: 1", id = "Turno" } })
            @Html.ValidationMessageFor(model => model.Turno)
        </div>

        <div class="editor-label" style="font-size:14px">
            Horário de Início
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoraInicio, new { htmlAttributes = new { @placeholder = "Ex: 07:00", id = "HorarioInicio" } })
            @Html.ValidationMessageFor(model => model.HoraInicio)
        </div>

        <div class="editor-label" style="font-size:14px">
            Horário de Fim
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoraFim, new { htmlAttributes = new { @placeholder = "Ex: 17:08", id = "HorarioFim" } })
            @Html.ValidationMessageFor(model => model.HoraFim)
        </div>

        <p>
            <input class="bttn bttn-sm bttn-red" type="submit" value="Criar Horário" />
        </p>
    </fieldset>
}

<script>

	jQuery(function ($) {
		$("#Turno").mask("9", { placeholder: " " });
	});

	jQuery(function ($) {
		$("#HorarioInicio").mask("99:99", { placeholder: " " });
	});

	jQuery(function ($) {
		$("#HorarioFim").mask("99:99", { placeholder: " " });
	});

		@{WriteLiteral(ViewBag.JS);}

</script>