﻿@model SEMP.Model.DTO.CBPerfilMascaraDTO

@{
    ViewBag.Title = "Adicionar Máscara";
    Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Configuração";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}
}

<script src="@Scripts.Url("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>

<h2>Adicionar Máscara</h2>

<!--<div style="float: left;">
	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)

		<fieldset>
			<legend>Página para criação de máscara.</legend>

			<div class="editor-label" style="font-size:14px">
				NE
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.CodItem)
				@Html.ValidationMessageFor(model => model.CodItem)
			</div>

			<div class="editor-label" style="font-size:14px">
				Máscara
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.Mascara)
				@Html.ValidationMessageFor(model => model.Mascara)
			</div>

			<p>
				<input type="submit" value="Create" />
			</p>
		</fieldset>
	}

</div>

<div style="margin-left:450px; margin-top:20px;">
	
</div>
-->

<div style="float: left;">
	<div style="margin-left:5px; font-size:14px">
		NE
	</div>
	<div>
		<input type="text" style="margin-left:5px; margin-top:5px; font-size:14px" id="NE"/>
		<input class="bttn bttn-sm bttn-red" type="button" value="Validar NE" onclick="validaNE()"/>
	</div>
	<div style="margin-left:5px; font-size:14px">
		Máscara
	</div>
	<div>
		<input type="text" style="margin-left:5px; margin-top:5px; width:300px; font-size:14px" id="Mascara"/>		
	</div>
	<div style="margin-left:5px; font-size:14px">
		Amostra
	</div>
	<div>
		<input type="text" style="margin-left:5px; margin-top:5px; width:300px; font-size:14px" id="Amostra"/>
		<input class="bttn bttn-sm bttn-red" type="button" value="Adicionar" onclick="adicionarAmostra()"/>		
	</div>

	<div id="comboBox_Amostras" style="font-size:14px">
					 
		<form name="combo_box">
			<table><tr><td>
				<select multiple size="10" name="Amostras" id="Amostras" style="width:300px">									
				</select>
			</td>
			</table>
		</form>
	</div>

	<div>
		<input class="bttn bttn-sm bttn-red" type="button" value="Gerar Máscara Padrão" onclick="gerarMascaraPadrao()"/>
		<input class="bttn bttn-sm bttn-red" type="button" value="Gerar Máscara Específica" onclick="gerarMascara()"/>
		<input class="bttn bttn-sm bttn-red" type="button" value="Validar" onclick="validar()"/>
		<input class="bttn bttn-sm bttn-red" type="button" value="Salvar" onclick="salvar()"/>
	</div>

</div>

<div style="margin-left:320px; margin-top:0px;">
	<div style="margin-left:5px; font-size:14px">
		Modelo
	</div>
	<div>
		<input type="text" style="margin-left:5px; width:300px; margin-top:5px; font-size:14px" readonly="true" id="DesItem"/>
	</div>

</div>

<div style="margin-bottom:20px">
    
</div>

<script>

	@{WriteLiteral(ViewBag.JS);}

	jQuery(function ($) {
		$("#NE").mask("999999", { placeholder: " " });
	});

	function validaNE(){
		$.ajax({
			type: "GET",
			url: "/Configuracao/ObterDesItem/",
			data: { CodItem: $("#NE").val() },
			dataType: "json",
			success: function (json) {
				$("#DesItem").val(json);
				$.ajax({
					type: "GET",
					url: "/Configuracao/ValidarMascaraNE/",
					data: { CodItem: $("#NE").val() },
					dataType: "json",
					success: function (json) {
						$("#Mascara").val(json);
					},
					error: function (xhr) {
						fn_error(xhr);
					}
				});					
			}
		});
	}

	//Remover do listbox
	$("#Amostras").keydown(function (event) {
		if (event.which != 46) // not delete key
			return;
		var sel = $(this);
		var val = sel.val();
		if (val != "")
			sel.find("option[value=" + val + "]").remove();
	});

	//Adicionar no listbox
	var i = 0;
	function adicionarAmostra() {
		var item = $("#Amostra").val();						
		$('#Amostras').append('<option value="' + i + '">' + item + '</option>'); // adds item 5 at the end
		i++;		
		return true;		
	}

	function gerarMascaraPadrao() {

		var items;
		$("#Amostras option").each(function () {			
			items = items + "|" + $(this).text();				
		});		

		$.ajax({
			type: "GET",
			url: "/Configuracao/GerarMascaraPadrao/",
			data: { amostras: items },
			dataType: "json",
			success: function (json) {
				$("#Mascara").val(json);
			},
			error: function (xhr) {
				fn_error(xhr);
			}
		});
	}

	function gerarMascara() {

		var items;
		$("#Amostras option").each(function () {
			items = items + "|" + $(this).text();
		});

		$.ajax({
			type: "GET",
			url: "/Configuracao/GerarMascara/",
			data: { amostras: items },
			dataType: "json",
			success: function (json) {
				$("#Mascara").val(json);
			},
			error: function (xhr) {
				fn_error(xhr);
			}
		});
	}

	function validar() {
		var items;
		$("#Amostras option").each(function () {
			items = items + "|" + $(this).text();
		});

		$.ajax({
			type: "GET",
			url: "/Configuracao/ValidarMascara/",
			data: { amostras: items, mascara: $("#Mascara").val() },
			dataType: "json",
			success: function (json) {
				alert(json);
			},
			error: function (xhr) {				
			fn_error(xhr);			
			}
		});
	}

	function salvar() {

		if (($("#NE").val() == "") || ($("#Mascara").val() == "")) {
			alert("Os campos NE e Máscara devem ser preenchidos.");
			return;
		}

		$.ajax({
			type: "GET",
			url: "/Configuracao/SalvarMascara/",
			data: { CodItem: $("#NE").val(), Mascara: $("#Mascara").val() },
			dataType: "json",
			success: function (json) {
				alert(json);
				location.href = '/Coleta/Configuracao/Mascara/';
			},
			error: function (xhr) {				
				fn_error(xhr);			
			}
		});
	}

	function fn_error(xhr) {
		if (xhr.status == 500 || xhr.status == 503) // service indisponivel
		{
			var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
			alert("Erro ao consultar: <br/>" + mensagem);
			document.location.href = "/";
		} else {
			alert("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + " | " + xhr.responseText + "<br>");
		}
	}

</script>