﻿@model SEMP.Model.DTO.CBPostoDTO
@{
	ViewBag.Title = "Adicionar Posto";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Configuração";

	var codLinha = ViewBag.CodLinha;

	var ultPosto = ViewBag.ultPosto;
	if (ultPosto != null)
	{
		ultPosto++;
	}

	Model.CodLinha = codLinha;
	Model.NumPosto = ultPosto;

	List<SelectListItem> listItems = new List<SelectListItem>();
	listItems.Add(new SelectListItem
	{
		Text = "Sim",
		Value = "S"
	});
	listItems.Add(new SelectListItem
	{
		Text = "Não",
		Value = "N",
	});

	List<SelectListItem> listBool = new List<SelectListItem>();
	listBool.Add(new SelectListItem
	{
		Text = "Sim",
		Value = "True"
	});
	listBool.Add(new SelectListItem
	{
		Text = "Não",
		Value = "False",
	});

	List<SelectListItem> listTipoTerminal = new List<SelectListItem>();
	listTipoTerminal.Add(new SelectListItem
	{
		Text = "Entrada",
		Value = "E"
	});
	listTipoTerminal.Add(new SelectListItem
	{
		Text = "Saída",
		Value = "S",
	});

	var statusAtivo = "";
	if (Model.FlgAtivo == null || Model.FlgAtivo == "N")
	{
		statusAtivo = "off";
	}
}
<style>
	.row {
		margin-top: 5px;
	}
</style>
<h2>
	<span class="float-left">
		<button class="btn btn-primary" type="button" name="btnMenu" onclick="history.back();"><img src="~/images/voltar.gif" style="width: 16px; height: 16px;" /></button>
	</span>
	Criar Posto
</h2>

@using (Html.BeginForm("AddPosto", "Configuracao", FormMethod.Post, new { id = "FormEditarPosto", @class = "container-fluid" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 style="margin: 0;">
						<span class="pull-right">
							<label>Ativo:</label>
							<span class="pull-right" style="margin-top: 2px; margin-right: 2px;">
								<a href="#" id="tglFlgAtivo" class="toggler @statusAtivo">&nbsp;</a>
								<input type="hidden" value="@Model.FlgAtivo" id="FlgAtivo" name="FlgAtivo" />
							</span>
						</span>
						Posto
					</h4>
				</div>
				<div class="panel-body" id="pnlPosto">

					<div class="row">
						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Código da Linha</div>
							<div class="editor-field" style="font-size:14px; font-weight: bold;">
								@Html.EditorFor(model => model.CodLinha, new { htmlAttributes = new { @class = "form-control input-sm" } })
								@Html.ValidationMessageFor(model => model.CodLinha)
							</div>
						</div>
						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Número do Posto</div>
							<div class="editor-field" style="font-size:14px; font-weight: bold;">
								@Html.EditorFor(model => model.NumPosto, new { htmlAttributes = new { @class = "form-control input-sm" } })
								@Html.ValidationMessageFor(model => model.NumPosto)
							</div>
						</div>
						<div class="col-md-4">
							<div class="editor-label" style="font-size:14px">Tipo do Posto</div>
							<div class="editor-field">
								@Html.DropDownList("CodTipoPosto", null, new { @id = "CodTipoPosto", onchange = "CodTipoPostoChange()", @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.CodTipoPosto)
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-10">
							<div class="editor-label" style="font-size:14px">Descrição do Posto</div>
							<div class="editor-field">
								@Html.EditorFor(model => model.DesPosto, new { htmlAttributes = new { @class = "form-control input-sm" } })
								@Html.ValidationMessageFor(model => model.DesPosto)
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-2">
							<div class="editor-label" style="font-size:14px">Sequência</div>
							<div class="editor-field">
								@Html.EditorFor(model => model.NumSeq, new { htmlAttributes = new { @class = "form-control input-sm" } })
								@Html.ValidationMessageFor(model => model.NumSeq)
							</div>
						</div>

						<div class="col-md-2">
							<div class="editor-label" style="font-size:14px">Obrigatório</div>
							<div class="editor-field">
								@Html.DropDownList("flgObrigatorio", listBool, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.flgObrigatorio)
							</div>
						</div>
						<div class="col-md-2">
							<div class="editor-label" style="font-size:14px">Pede AP</div>
							<div class="editor-field">
								@Html.DropDownList("flgPedeAP", listItems, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.flgPedeAP)
							</div>
						</div>
						<div class="col-md-4">
							<div class="editor-label" style="font-size:14px">Impressão de Etiqueta</div>
							<div class="editor-field">
								@Html.DropDownList("flgImprimeEtq", listItems, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.flgImprimeEtq)
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Tipo de Etiqueta</div>
							<div class="editor-field">
								@Html.EditorFor(model => model.TipoEtiqueta, new { htmlAttributes = new { @class = "form-control input-sm" } })
								@Html.ValidationMessageFor(model => model.TipoEtiqueta)
							</div>
						</div>
						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Tempo de Ciclo</div>
							<div class="editor-field">
								@Html.EditorFor(model => model.TempoCiclo, new { htmlAttributes = new { @class = "form-control input-sm" } })
								@Html.ValidationMessageFor(model => model.TempoCiclo)
							</div>
						</div>
						<div class="col-md-2">
							<div class="editor-label" style="font-size:14px">Posto gargalo</div>
							<div class="editor-field">
								@Html.DropDownList("FlgGargalo", listItems, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.FlgGargalo)
							</div>
						</div>

						<div class="col-md-2">
							<div class="editor-label" style="font-size:14px">Montar Lote</div>
							<div class="editor-field">
								@Html.DropDownList("MontarLote", listBool, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.MontarLote)
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Tempo de Leitura</div>
							<div class="editor-field">
								@Html.EditorFor(model => model.TempoLeitura, new { htmlAttributes = new { @class = "form-control input-sm" } })
								@Html.ValidationMessageFor(model => model.TempoLeitura)
							</div>
						</div>
						<div class="col-md-4">
							<div class="editor-label" style="font-size:14px">Validar Linha Origem</div>
							<div class="editor-field">
								@Html.DropDownList("flgValidaOrigem", listBool, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.flgValidaOrigem)
							</div>
						</div>

						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Tipo Terminal</div>
							<div class="editor-field">
								@Html.DropDownList("flgTipoTerminal", listTipoTerminal, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.FlgTipoTerminal)
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-2 col-md-offset-8">
							<input class="btn btn-sm btn-danger" style="width: 100%;" type="submit" value="Gravar" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

<script>
	@{WriteLiteral(ViewBag.JS);}


	$('a.toggler').click(function () {

		var eu = $(this);
		var estado = eu.hasClass('off');

		if (estado) {
			$("#FlgAtivo").val("S");
		}
		else {
			$("#FlgAtivo").val("N");
		}

		eu.toggleClass('off');

	});
</script>
