﻿@model SEMP.Model.DTO.CBLinhaDTO

@{
	ViewBag.Title = "Editar Linha";
	if (String.IsNullOrEmpty(Request["janela"]))
	{
		Layout = "~/Views/Shared/_Layout.cshtml";
	}

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Configuração";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var fases = (List<string>)ViewBag.fases;

	List<SelectListItem> listSetorOrigem = new List<SelectListItem>();

	if (fases != null)
	{
		fases.ForEach(x => listSetorOrigem.Add(new SelectListItem() { Text = x, Value = x }));
	}
	else
	{

		listSetorOrigem.Add(new SelectListItem { Text = "IAC", Value = "IAC" });
		listSetorOrigem.Add(new SelectListItem { Text = "IMC", Value = "IMC" });
		listSetorOrigem.Add(new SelectListItem { Text = "FEC", Value = "FEC" });
		listSetorOrigem.Add(new SelectListItem { Text = "TEC", Value = "TEC" });
		listSetorOrigem.Add(new SelectListItem { Text = "LCM", Value = "LCM" });
		listSetorOrigem.Add(new SelectListItem { Text = "DAT", Value = "DAT" });
		listSetorOrigem.Add(new SelectListItem { Text = "RMA", Value = "RMA" });
		listSetorOrigem.Add(new SelectListItem { Text = "MOB", Value = "MOB" });
	}

	List<SelectListItem> listSetor = new List<SelectListItem>();

	if (fases != null)
	{
		fases.ForEach(x => listSetor.Add(new SelectListItem() { Text = x, Value = x }));
	}
	else
	{

		listSetor.Add(new SelectListItem { Text = "IAC", Value = "IAC" });
		listSetor.Add(new SelectListItem { Text = "IMC", Value = "IMC" });
		listSetor.Add(new SelectListItem { Text = "FEC", Value = "FEC" });
		listSetor.Add(new SelectListItem { Text = "TEC", Value = "TEC" });
		listSetor.Add(new SelectListItem { Text = "LCM", Value = "LCM" });
		listSetor.Add(new SelectListItem { Text = "DAT", Value = "DAT" });
		listSetor.Add(new SelectListItem { Text = "RMA", Value = "RMA" });
		listSetor.Add(new SelectListItem { Text = "MOB", Value = "MOB" });
	}

	List<SelectListItem> listFamilia = new List<SelectListItem>();
	listFamilia.Add(new SelectListItem { Text = "AUD", Value = "AUD" });
	listFamilia.Add(new SelectListItem { Text = "DVD", Value = "DVD" });
	listFamilia.Add(new SelectListItem { Text = "LCD", Value = "LCD" });
	listFamilia.Add(new SelectListItem { Text = "INF", Value = "INF" });
	listFamilia.Add(new SelectListItem { Text = "TAB", Value = "TAB" });
	listFamilia.Add(new SelectListItem { Text = "TV", Value = "TV" });
	listFamilia.Add(new SelectListItem { Text = "LCM", Value = "LCM" });
	listFamilia.Add(new SelectListItem { Text = "DAT", Value = "DAT" });
	listFamilia.Add(new SelectListItem { Text = "RMA", Value = "RMA" });
	listFamilia.Add(new SelectListItem { Text = "TEC", Value = "TEC" });
	listFamilia.Add(new SelectListItem { Text = "CEL", Value = "CEL" });

	var statusAtivo = "";
	if (Model.FlgAtivo == "0")
	{
		statusAtivo = "off";
	}

}

<script src="@Scripts.Url("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>

<h2>Editar Linha</h2>

@using (Html.BeginForm("EditLinhas", "Configuracao", FormMethod.Post, new { id = "FormEditLinha", @onsubmit = "return false;", @class = "container-fluid" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="pull-right">
						<label>Ativo:</label>
						<div class="pull-right" style="margin-top: 2px; margin-right: 2px;">
							<a href="#" id="tglFlgAtivo" class="toggler @statusAtivo">&nbsp;</a>
							<input type="hidden" value="@Model.FlgAtivo" id="FlgAtivo" name="FlgAtivo" />
						</div>
					</div>
					<h4 style="margin: 0;">Dados da Linha</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<div class="editor-label" style="font-size:14px">Descrição da Linha</div>
							<div class="input-group input-grou-sm">
								<span class="input-group-addon">@Model.CodLinha</span>
								@Html.EditorFor(model => model.DesLinha, new { htmlAttributes = new { @class = "form-control", maxlength = 50, @placeholder = "Ex: Linha 01 LCD" } })
								@Html.ValidationMessageFor(model => model.CodLinha)
								@Html.ValidationMessageFor(model => model.DesLinha)
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="editor-label" style="font-size:14px">Observação</div>
							<div class="editor-field">
								@Html.EditorFor(model => model.DesObs, new { htmlAttributes = new { @class = "form-control input-sm", maxlength = 50, @placeholder = "Ex: Linha LCD"} })
								@Html.ValidationMessageFor(model => model.DesObs)
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Setor</div>
							<div class="editor-field">
								@Html.DropDownList("Setor", listSetor, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.Setor)
							</div>
						</div>
						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Família</div>
							<div class="editor-field">
								@Html.DropDownList("Familia", listFamilia, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.Familia)
							</div>
						</div>

						<div class="col-md-6">
							<div class="editor-label" style="font-size:14px">Código SEMP</div>
							<div class="editor-field">
								@Html.EditorFor(model => model.CodLinhaT1, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Ex: 101.28-0", id = "CodLinhaT1" } })
								@Html.ValidationMessageFor(model => model.CodLinhaT1)
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="editor-label" style="font-size:14px">Setor Origem</div>
							<div class="editor-field">
								@Html.DropDownList("SetorOrigem", listSetorOrigem, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.SetorOrigem)
							</div>
						</div>
						<div class="col-md-4">
							<div class="editor-label" style="font-size:14px">Linha Origem</div>
							<div class="editor-field">
								<select name="CodLinhaOrigem" id="CodLinhaOrigem" class="form-control input-sm"></select>
							</div>
						</div>
					</div>
					<hr />
					<div class="row">
						<div class="col-md-6">
							<div class="editor-label" style="font-size:14px">Tam. do Magazine</div>
							<div><input type="text" name="tamMagazine" id="tamMagazine" class="form-control input-sm" placeholder="Ex: 25" style="font-size:14px"></div>
						</div>
						<div class="col-md-6">
							<div class="editor-label" style="font-size:14px">Tamanho do Lote</div>
							<div><input type="text" name="tamLote" id="tamLote" class="form-control input-sm" placeholder="Ex: 25" style="font-size:14px"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="panel panel-info">
				<div class="panel-heading"><h4 style="margin: 0;">Horário de Funcionamento</h4></div>
				<div class="panel-body" id="pnlHorarios">
					<div id="comboBox_HorarioLinha" style="font-size:14px">
						<form name="combo_box">
							<table>
								<tr>
									<td><select multiple size="10" class="form-control" name="FromLB" id="FromLB" style="width:140px"></select></td>
									<td>
										<button type="button" onClick="move(this.form.FromLB, this.form.ToLB)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-chevron-right"></i></button><br />
										<button type="button" onClick="move(this.form.ToLB, this.form.FromLB)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-chevron-left"></i></button>
									</td>
									<td>
										<select multiple size="10" class="form-control" name="ToLB" id="ToLB" style="width:140px"></select>
									</td>
								</tr>
							</table>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading"><h4 style="margin: 0;">Intervalos</h4></div>
				<div class="panel-body" id="pnlIntervalos">&nbsp;</div>
			</div>
		</div>
	</div>
}


<div style="margin-bottom:20px" class="btn-group">
	<input class="btn btn-sm btn-danger" type="button" value="Voltar" id="btnVoltar" style="margin-bottom:20px" onclick="location.href = '/Coleta/Configuracao/Linha/'" />
	<input class="btn btn-sm btn-primary" type="button" value="Gravar Alterações" onclick="editarLinha()" />
</div>

<script>

	@{WriteLiteral(ViewBag.JS);}
	var codLinha = @{Write(Model.CodLinha + ";");};
	var codDRT = '@retornologin.CodDRT';
	var linha = @Model.CodLinhaOrigem;

	jQuery(function ($) {
		$("#tamLote").mask("99", { placeholder: " " });
	});

	$(document).ready(function () {
		$.ajax({
			type: "GET",
			url: "/Configuracao/ObterHorariosDisponiveisLinha/",
			data: { CodLinha: codLinha },
			dataType: "json",
			success: function (json) {
				var options = "";
				options += '<optgroup label = "Horários">';
				$.each(json, function (key, horario) {
					options += '<option value="' + horario.idHorario + '">' + horario.HoraInicio + ' - ' + horario.HoraFim + '</option>';
				});
				$("#FromLB").html(options);
			}
		});

		$.ajax({
			type: "GET",
			url: "/Configuracao/ObterLoteConfig/",
			data: { CodLinha: codLinha },
				dataType: "json",
				success: function (json, loteConfig) {
				    $("#tamLote").val(json.Qtde);
				    $("#tamMagazine").val(json.QtdeCC);
				}
		});

		$.ajax({
			type: "GET",
			url: "/Configuracao/ObterHorariosLinha/",
			data: { CodLinha: codLinha },
			dataType: "json",
			success: function (json) {
				var options = "";
				options += '<optgroup label = "Horários da Linha">';
				$.each(json, function (key, Horario) {
					options += '<option value="' + Horario.idHorario + '">' + Horario.HoraInicio + ' - ' + Horario.HoraFim + '</option>';
				});
				$("#ToLB").html(options);
			}
		});

		CarregarIntervalos();

		CarregarLinhas();
	});

	function CarregarIntervalos() {
		$.ajax({
			type: "GET",
			url: "/Coleta/Configuracao/ListaHorarios/",
			data: { CodLinha: codLinha },
			success: function (json) {
				$("#pnlIntervalos").html(json);
			}
		});
	}

	function move(tbFrom, tbTo) {
		var arrFrom = new Array(); var arrTo = new Array();
		var arrLU = new Array();
		var i;
		for (i = 0; i < tbTo.options.length; i++) {
			arrLU[tbTo.options[i].text] = tbTo.options[i].value;
			arrTo[i] = tbTo.options[i].text;
		}
		var fLength = 0;
		var tLength = arrTo.length;
		for (i = 0; i < tbFrom.options.length; i++) {
			arrLU[tbFrom.options[i].text] = tbFrom.options[i].value;
			if (tbFrom.options[i].selected && tbFrom.options[i].value != "") {
				arrTo[tLength] = tbFrom.options[i].text;
				tLength++;
			}
			else {
				arrFrom[fLength] = tbFrom.options[i].text;
				fLength++;
			}
		}

		tbFrom.length = 0;
		tbTo.length = 0;
		var ii;

		for (ii = 0; ii < arrFrom.length; ii++) {
			var no = new Option();
			no.value = arrLU[arrFrom[ii]];
			no.text = arrFrom[ii];
			tbFrom[ii] = no;
		}

		for (ii = 0; ii < arrTo.length; ii++) {
			var no = new Option();
			no.value = arrLU[arrTo[ii]];
			no.text = arrTo[ii];
			tbTo[ii] = no;
		}
	}

	function editarLinha()
	{
	    if ($("#tamMagazine").val() == null || $("#tamMagazine").val() == "") {
	        alert("O Campo Tamanho do Magazine está vazio");
	        return;
	    }
		if ($("#tamLote").val() == null || $("#tamLote").val() == "") {
			alert("O Campo Tamanho do Lote está vazio");
			return;
		} else if ($("#ToLB").length <= 0) {
			alert("O horário de linha deve estar preenchido");
			return;
		}


		$.ajax({
			type: "GET",
			url: "/Configuracao/InserirLoteLinha/",
			data: { CodLinha: $("#CodLinha").val(), TamLote: $("#tamLote").val(), TamMagazine: $("#tamMagazine").val(), CodDRT: codDRT },
            dataType: "json",
			success: function (json) {

			},
			error: function (xhr) {
				fn_error(xhr);
			}
		});

		var x = document.getElementById('ToLB');

		var txt = "";
		var val = "";
		var valores = "";

		for (var i = 0; i < x.length; i++) {

			txt = x[i].text;
			val = x[i].value;

			valores +=val+"|";
		}

		$.ajax({
			type: "GET",
			url: "/Configuracao/InserirHorarioLinha/",
			data: { CodLinha: $("#CodLinha").val(), IdHorario: valores.substring(0, (valores.trim().length - 1)), Setor: $("#Setor").val(), CodLinhaT1: $("#CodLinhaT1").val() },
			dataType: "json",
			success: function (json) {
				document.forms["FormEditLinha"].submit();
			},
			error: function (xhr) {
				fn_error(xhr);
			}
		});

	}

	function fn_error(xhr) {
		if (xhr.status == 500 || xhr.status == 503) // service indisponivel
		{
			var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
			alert("Erro ao consultar: <br/>" + mensagem);
			document.location.href = "/";
		} else {
			alert("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + " | " + xhr.responseText + "<br>");
		}
	}

	$('a.toggler').click(function () {

		var eu = $(this);
		var estado = eu.hasClass('off');

		if (estado) {
			$("#FlgAtivo").val("1");
		}
		else {
			$("#FlgAtivo").val("0");
		}

		eu.toggleClass('off');

	});

	$('#SetorOrigem').change(CarregarLinhas);

	function CarregarLinhas() {

		$("#CodLinhaOrigem").html("<option>Carregando...</option>");

		var fase = $("#SetorOrigem").val();

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: fase },
			dataType: "json",
			success: function (json) {
				var options = "";
				var selected = "";
				options += '<option value=""> [ LINHA ] </option>';

				$.each(json, function (key, Linhas) {
					if (Linhas.CodLinha == linha) { selected = "selected"; }
					options += '<option value="' + Linhas.CodLinha + '" ' + selected + '>' + Linhas.DesLinha + '</option>';

					selected = "";
				});
				if (linha == 0)
					selected = "selected";

				options += '<option value="0" ' + selected + '> [ TODAS ] </option>';

				$("#CodLinhaOrigem").html(options);
			}
		});
	}

</script>

