﻿@model SEMP.Model.DTO.CBMaquinaDTO

@{
	ViewBag.Title = "Editar Maquina";
	if (String.IsNullOrEmpty(Request["janela"]))
	{
		Layout = "~/Views/Shared/_Layout.cshtml";
	}

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Configuração";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}
}

<script src="@Scripts.Url("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>

<h2>Editar Maquina</h2>

<div style="float: left;">
	@using (Html.BeginForm("EditMaquinas", "Configuracao", FormMethod.Post, new { id = "FormEditMaquina", @onsubmit = "return false;" }))
 {
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)

		<fieldset>
			<legend></legend>

			<div class="editor-field">
				@Html.HiddenFor(model => model.CodLinha, new { htmlAttributes = new { @placeholder = "Ex: 36", id = "CodLinha" } })
				@Html.ValidationMessageFor(model => model.CodLinha)
			</div>

            <div class="editor-field">
				@Html.HiddenFor(model => model.CodMaquina, new { htmlAttributes = new { maxlength = 10, @placeholder = "Ex: NTW" , codMaquina = "CodMaquina" } })
				@Html.ValidationMessageFor(model => model.CodMaquina)
			</div>

            <div class="editor-label" style="font-size:14px">
				Descrição da Máquina
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.DesMaquina, new { htmlAttributes = new { maxlength = 50, @placeholder = "Ex: Máquina da IAC", style = "width: 220px;" }})
				@Html.ValidationMessageFor(model => model.DesMaquina)
			</div>
	
			<div style="margin-bottom:20px">	
				<input class="bttn bttn-sm bttn-red" type="submit" value="Voltar" id="btnVoltar" style="margin-bottom:20px" onclick="location.href = '/Coleta/Configuracao/Maquina'"/>
				<input class="bttn bttn-sm bttn-red" type="button" value="Editar Linha" onclick="editarLinha()"/>
			</div>
		</fieldset>
	}
</div>

<!-- Modal -->
<div class="modal fade" id="ModalMessage" role="dialog" style="margin-top: 3%">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="" style="padding: 10px 10px; background: crimson; color: floralwhite">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 style="color: white !important; text-align: center; font-size: 20px;">Mensagem</h4>
            </div>
            <div class="modal-body" style="padding: 40px 50px;">
                <div class="row">
                    <div class="col-md-12">
                        <label id="Msg" style="font-size: 15px;"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="buttonPass" class="btn btn-danger btn-default pull-right" data-dismiss="modal" style="width: 100px; height: 40px;" onclick="">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
	
	@{WriteLiteral(ViewBag.JS);}
    var codLinha = @{Write(Model.CodLinha + ";");}
        
	function editarLinha() {
	    if ($("#DesMaquina").val() == null || $("#DesMaquina").val() == "") {
	        alert("O Campo Descrição da Máquina está vazio");
	        return;
	    }

	    $.ajax({
	        type: "GET",
	        url: "/Configuracao/EditarMaquina/",
	        data: { CodLinha: $("#CodLinha").val(), CodMaquina: $("#CodMaquina").val(), DesMaquina: $("#DesMaquina").val() },
	        dataType: "json",
	        success: OnSuccess,
	        error: OnErrorCall
	    });

	    function OnSuccess(response) {
	        fn_Message(response.DesMensagem);
	    }

	    function OnErrorCall(response) {
	        console.log(error);
	    }

	    function fn_Message(msg) {
	        $("#Msg").html(msg);
	        if (msg.match(/LEITURA OK/)) {
	            document.getElementById("buttonPass").onclick = function () {
	                window.location = "/Coleta/Configuracao/Maquina";
	            };
	            $("#ModalMessage").modal();
	        } else {
	            $("#ModalMessage").modal();
	        }
	    }
	}
</script>


