﻿@model SEMP.Model.DTO.CBHorarioDTO

@{
    ViewBag.Title = "EditHorario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Horário</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="editor-label" style="font-size:14px">
            ID
        </div>
        <div class="editor-field">
			@Html.HiddenFor(model => model.idHorario)
            @Html.DisplayFor(model => model.idHorario)
            @Html.ValidationMessageFor(model => model.idHorario)
        </div>

        <div class="editor-label" style="font-size:14px">
            Turno
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Turno, new { htmlAttributes = new { @placeholder = "Ex: 1", id = "Turno", maxlength = 1 } })
            @Html.ValidationMessageFor(model => model.Turno)
        </div>

        <div class="editor-label" style="font-size:14px">
            Horário Início
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoraInicio, new { htmlAttributes = new { @placeholder = "Ex: 07:00", id = "HorarioInicio", maxlength = 5 } })
            @Html.ValidationMessageFor(model => model.HoraInicio)
        </div>

        <div class="editor-label" style="font-size:14px">
            Horário Fim
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoraFim, new { htmlAttributes = new { @placeholder = "Ex: 17:08", id = "HorarioFim", maxlength = 5 } })
            @Html.ValidationMessageFor(model => model.HoraFim)
        </div>

        <p>
            <input class="bttn bttn-sm bttn-red" type="submit" value="Save" />
        </p>
    </fieldset>
}

<script>
	@{WriteLiteral(ViewBag.JS);}

	jQuery(function ($) {
		$("#Turno").mask("9", { placeholder: " " });
	});

	jQuery(function ($) {
		$("#HorarioInicio").mask("99:99", { placeholder: " " });
	});

	jQuery(function ($) {
		$("#HorarioFim").mask("99:99", { placeholder: " " });
	});

</script>