﻿@model SEMP.Model.DTO.CBPostoDTO

@{
	ViewBag.Title = "Editar Posto";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Configuração";

	List<SelectListItem> listItems = new List<SelectListItem>();
	listItems.Add(new SelectListItem
	{
		Text = "Sim",
		Value = "S"
	});
	listItems.Add(new SelectListItem
	{
		Text = "Não",
		Value = "N",
	});

	List<SelectListItem> listBool = new List<SelectListItem>();
	listBool.Add(new SelectListItem
	{
		Text = "Sim",
		Value = "True"
	});
	listBool.Add(new SelectListItem
	{
		Text = "Não",
		Value = "False",
	});

	List<SelectListItem> listTipoTerminal = new List<SelectListItem>();
	listTipoTerminal.Add(new SelectListItem
	{
		Text = "Entrada",
		Value = "E"
	});
	listTipoTerminal.Add(new SelectListItem
	{
		Text = "Saída",
		Value = "S",
	});
}
<style>
	.row {
		margin-top: 5px;
	}
</style>
<h2>
	<span class="float-left">
		<button class="btn btn-primary" type="button" name="btnMenu" onclick="history.back();"><img src="~/images/voltar.gif" style="width: 16px; height: 16px;" /></button>
	</span>
	Editar Posto
</h2>

@using (Html.BeginForm("EditPosto", "Configuracao", FormMethod.Post, new { id = "FormEditarPosto", @onsubmit = "return false;", @class = "container-fluid" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4 style="margin: 0;">
						<span class="pull-right">
							<label>Ativo:</label>
							@{
								var statusAtivo = "";
								if (Model.FlgAtivo == null || Model.FlgAtivo == "N")
								{
									statusAtivo = "off";
								}
							}
							<span class="pull-right" style="margin-top: 2px; margin-right: 2px;">
								<a href="#" id="tglFlgAtivo" class="toggler @statusAtivo">&nbsp;</a>
								<input type="hidden" value="@Model.FlgAtivo" id="FlgAtivo" name="FlgAtivo" />
							</span>
						</span>
						Posto
					</h4>
				</div>
				<div class="panel-body" id="pnlPosto">

					<div class="row">
						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Código da Linha</div>
							<div class="editor-field" style="font-size:14px; font-weight: bold;">
								@Html.DisplayFor(model => model.CodLinha)
								@Html.HiddenFor(model => model.CodLinha)
								@Html.ValidationMessageFor(model => model.CodLinha)
							</div>
						</div>
						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Número do Posto</div>
							<div class="editor-field" style="font-size:14px; font-weight: bold;">
								@Html.DisplayFor(model => model.NumPosto)
								@Html.HiddenFor(model => model.NumPosto)
								@Html.ValidationMessageFor(model => model.NumPosto)
							</div>
						</div>
						<div class="col-md-4">
							<div class="editor-label" style="font-size:14px">Tipo do Posto</div>
							<div class="editor-field">
								@Html.DropDownList("CodTipoPosto", null, new { @id = "CodTipoPosto", onchange = "CodTipoPostoChange()", @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.CodTipoPosto)
							</div>
						</div>

					</div>

					<div class="row">
						<div class="col-md-10">
							<div class="editor-label" style="font-size:14px">Descrição do Posto</div>
							<div class="editor-field">
								@Html.EditorFor(model => model.DesPosto, new { htmlAttributes = new { @class = "form-control input-sm" } })
								@Html.ValidationMessageFor(model => model.DesPosto)
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-2">
							<div class="editor-label" style="font-size:14px">Sequência</div>
							<div class="editor-field">
								@Html.EditorFor(model => model.NumSeq, new { htmlAttributes = new { @class = "form-control input-sm" } })
								@Html.ValidationMessageFor(model => model.NumSeq)
							</div>
						</div>

						<div class="col-md-2">
							<div class="editor-label" style="font-size:14px">Obrigatório</div>
							<div class="editor-field">
								@Html.DropDownList("flgObrigatorio", listBool, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.flgObrigatorio)
							</div>
						</div>
						<div class="col-md-2">
							<div class="editor-label" style="font-size:14px">Pede AP</div>
							<div class="editor-field">
								@Html.DropDownList("flgPedeAP", listItems, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.flgPedeAP)
							</div>
						</div>
						<div class="col-md-4">
							<div class="editor-label" style="font-size:14px">Impressão de Etiqueta</div>
							<div class="editor-field">
								@Html.DropDownList("flgImprimeEtq", listItems, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.flgImprimeEtq)
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Tipo de Etiqueta</div>
							<div class="editor-field">
								@Html.EditorFor(model => model.TipoEtiqueta, new { htmlAttributes = new { @class = "form-control input-sm" } })
								@Html.ValidationMessageFor(model => model.TipoEtiqueta)
							</div>
						</div>
						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Tempo de Ciclo</div>
							<div class="editor-field">
								@Html.EditorFor(model => model.TempoCiclo, new { htmlAttributes = new { @class = "form-control input-sm" } })
								@Html.ValidationMessageFor(model => model.TempoCiclo)
							</div>
						</div>
						<div class="col-md-2">
							<div class="editor-label" style="font-size:14px">Posto gargalo</div>
							<div class="editor-field">
								@Html.DropDownList("FlgGargalo", listItems, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.FlgGargalo)
							</div>
						</div>

						<div class="col-md-2">
							<div class="editor-label" style="font-size:14px">Montar Lote</div>
							<div class="editor-field">
								@Html.DropDownList("MontarLote", listBool, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.MontarLote)
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Tempo de Leitura</div>
							<div class="editor-field">
								@Html.EditorFor(model => model.TempoLeitura, new { htmlAttributes = new { @class = "form-control input-sm" } })
								@Html.ValidationMessageFor(model => model.TempoLeitura)
							</div>
						</div>
						<div class="col-md-4">
							<div class="editor-label" style="font-size:14px">Validar Linha Origem</div>
							<div class="editor-field">
								@Html.DropDownList("flgValidaOrigem", listBool, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.flgValidaOrigem)
							</div>
						</div>

						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Tipo Terminal</div>
							<div class="editor-field">
								@Html.DropDownList("flgTipoTerminal", listTipoTerminal, "", new { @class = "form-control input-sm" })
								@Html.ValidationMessageFor(model => model.FlgTipoTerminal)
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-2 col-md-offset-8">
							<input class="btn btn-sm btn-danger" style="width: 100%;" type="button" value="Gravar" onclick="salvar()" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4" style="width:440px;">

			@{if (Model.CodTipoPosto == 6 || Model.CodTipoPosto == 9 || Model.CodTipoPosto == 20 || Model.CodTipoPosto == 21 ||
																													Model.CodTipoPosto == 22 || Model.CodTipoPosto == 23)
				{
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4 style="margin: 0;">Tipo de Amarração</h4>
						</div>
						<div class="panel-body" id="pnlAmarracao">


							<div id="comboBox_tipoAmarra" style="font-size:14px">
								<div name="combo_box">
									<table>
										<tr>
											<td>
												<select multiple size="16" class="form-control" name="FromLB" id="FromLB" style="width:170px"></select>
											</td>
											<td align="center" valign="middle">
												<button type="button" onClick="move(this.form.FromLB, this.form.ToLB)" class="btn btn-default btn-sm">
													<i class="glyphicon glyphicon-chevron-right"></i>
												</button><br />
												<button type="button" onClick="move(this.form.ToLB, this.form.FromLB)" class="btn btn-default btn-sm">
													<i class="glyphicon glyphicon-chevron-left"></i>
												</button>
											</td>
											<td>
												<select multiple size="16" class="form-control" name="ToLB" id="ToLB" style="width:170px"></select>
											</td>
										</tr>
									</table>
								</div>
							</div>

						</div>
					</div> }}
		</div>
	</div>
}

<div style="margin-bottom:20px">

</div>

<script type="text/javascript">

	@{WriteLiteral(ViewBag.JS);}
	var codLinha = $("#CodLinha").val();
	var numPosto = $("#NumPosto").val();

	$(document).ready(function () {
		$.ajax({
			type: "GET",
			url: "/Configuracao/ObterTiposAmarra/",
			data: { CodLinha: codLinha, NumPosto: numPosto },
			dataType: "json",
			success: function (json) {
				var options = "";
				options += '<optgroup label = "Tipos de Amarração">';
				$.each(json, function (key, TipoAmarra) {
					options += '<option value="' + TipoAmarra.CodTipoAmarra + '">' + TipoAmarra.DesTipoAmarra + '</option>';
				});
				$("#FromLB").html(options);
			}
		});


		$.ajax({
			type: "GET",
			url: "/Configuracao/ObterTipoAmarra/",
			data: { CodLinha: codLinha, NumPosto: numPosto },
			dataType: "json",
			success: function (json) {
				var options = "";
				options += '<optgroup label = "Amarração do Posto">';
				$.each(json, function (key, TipoAmarra) {
					options += '<option value="' + TipoAmarra.CodTipoAmarra + '">' + TipoAmarra.DesTipoAmarra + '</option>';
				});
				$("#ToLB").html(options);
			}
		});

	});



	function move(tbFrom, tbTo) {
		var arrFrom = new Array(); var arrTo = new Array();
		var arrLU = new Array();
		var i;
		for (i = 0; i < tbTo.options.length; i++) {
			arrLU[tbTo.options[i].text] = tbTo.options[i].value;
			arrTo[i] = tbTo.options[i].text;
		}
		var fLength = 0;
		var tLength = arrTo.length;
		for (i = 0; i < tbFrom.options.length; i++) {
			arrLU[tbFrom.options[i].text] = tbFrom.options[i].value;
			if (tbFrom.options[i].selected && tbFrom.options[i].value != "") {
				arrTo[tLength] = tbFrom.options[i].text;
				tLength++;
			}
			else {
				arrFrom[fLength] = tbFrom.options[i].text;
				fLength++;
			}
		}

		tbFrom.length = 0;
		tbTo.length = 0;
		var ii;

		for (ii = 0; ii < arrFrom.length; ii++) {
			var no = new Option();
			no.value = arrLU[arrFrom[ii]];
			no.text = arrFrom[ii];
			tbFrom[ii] = no;
		}

		for (ii = 0; ii < arrTo.length; ii++) {
			var no = new Option();
			no.value = arrLU[arrTo[ii]];
			no.text = arrTo[ii];
			tbTo[ii] = no;
		}
	}

	function CodTipoPostoChange() {
		var e = document.getElementById("CodTipoPosto");
		var strUser = e.options[e.selectedIndex].index;
		if (strUser == 5 || strUser == 8 || strUser == 17 || strUser == 18 || strUser == 19 || strUser == 20) {
			$("#comboBox_tipoAmarra").css("display", "block");
		}
		else {
			$("#comboBox_tipoAmarra").css("display", "none");
		}

	}

	function salvar(){

		var x = document.getElementById('ToLB');

		if(x == null){
			document.forms["FormEditarPosto"].submit();
			return;
		}

		var txt = "";
		var val = "";
		var valores = "";

		for (var i = 0; i < x.length; i++) {

			txt = x[i].text;
			val = x[i].value;

			valores +=val+"|";
		}

		$.ajax({
			type: "GET",
			url: "/Configuracao/InserirTipoAmarra/",
			data: { CodLinha: codLinha, NumPosto: numPosto, CodTipoPosto: valores.substring(0,(valores.trim().length - 1)) },
				dataType: "json",
				success: function (json) {
					document.forms["FormEditarPosto"].submit();
				},
				error: function (xhr) {
					fn_error(xhr);
				}
		});

	}

	function fn_error(xhr) {
		if (xhr.status == 500 || xhr.status == 503) // service indisponivel
		{
			var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
			alert("Erro ao consultar: <br/>" + mensagem);
			document.location.href = "/";
		} else {
			alert("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + " | " + xhr.responseText + "<br>");
		}
	}

	$('a.toggler').click(function () {

		var eu = $(this);
		var estado = eu.hasClass('off');

		if (estado) {
			$("#FlgAtivo").val("S");
		}
		else {
			$("#FlgAtivo").val("N");
		}

		eu.toggleClass('off');

	});

</script>
