﻿@model IEnumerable<SEMP.Model.DTO.CBEtiquetaDTO>

@foreach (var item in Model)
{
	<tr>
		<td>@Html.DisplayFor(modelItem => item.CodLinha)</td>
		<td>@Html.DisplayFor(modelItem => item.NumPosto)</td>
		<td>@Html.DisplayFor(modelItem => item.NomeEtiqueta)</td>
		<td>@Html.DisplayFor(modelItem => item.DescricaoEtiqueta)</td>
		<td>@Html.DisplayFor(modelItem => item.CaminhoEtiqueta)</td>
		<td>@Html.DisplayFor(modelItem => item.NomeImpressora)</td>
		<td>@Html.DisplayFor(modelItem => item.NumIP_Impressora)</td>
		<td>@Html.DisplayFor(modelItem => item.Porta_Impressora)</td>
		<td>@Html.DisplayFor(modelItem => item.flgAtivo)</td>

	</tr>
}