﻿@model IEnumerable<SEMP.Model.DTO.CBEtiquetaDTO>

@{
	ViewBag.Title = "Configurações de Etiquetas";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Configurações de Etiquetas";
}

<script type="text/javascript">



	function reload() {
		$.ajax(
			{
				type: "GET",
				url: "EtiquetasPartial",
				dataType: "html",
				data: { codLinha: $('#codLinha').val() },
				beforeSend: function () {
					$("#conteudoEtiquetas").html($("#carregando").html());
					//$("#carregando").css("display", "inline");
				},
				complete: function () {
					//$("#carregando").css("display", "none");
				},
				success: function (data) {
					$("#conteudoEtiquetas").html(data);
				},
				error: function (er) {
					alert("Erro ao carregar");
				}
			}
		);
	}

</script>

<h3>@ViewBag.Title</h3>
<div style="">
	<b>Localizar Linha:  </b>
	<input type="text" id="codLinha" />
	<input type="button" value="Buscar" onclick="reload();" />
</div>
<fieldset>



	<table class="table-semp smallrow">
		<thead>
			<tr>
				<th>Linha</th>
				<th>Posto</th>
				<th>Nome Etiqueta)</th>
				<th>Descricao Etiqueta</th>
				<th>Diretorio Etiqueta</th>
				<th>Nome Impressora</th>
				<th>Ip Impressora</th>
				<th>Porta</th>
				<th>Ativo?</th>
			</tr>
		</thead>
		<tbody id="conteudoEtiquetas">


			@foreach (var item in Model)
   {
				<tr>
					<td>@Html.DisplayFor(modelItem => item.CodLinha)</td>
					<td>@Html.DisplayFor(modelItem => item.NumPosto)</td>
					<td>@Html.DisplayFor(modelItem => item.NomeEtiqueta)</td>
					<td>@Html.DisplayFor(modelItem => item.DescricaoEtiqueta)</td>
					<td>@Html.DisplayFor(modelItem => item.CaminhoEtiqueta)</td>
					<td>@Html.DisplayFor(modelItem => item.NomeImpressora)</td>
					<td>@Html.DisplayFor(modelItem => item.NumIP_Impressora)</td>
					<td>@Html.DisplayFor(modelItem => item.Porta_Impressora)</td>
					<td>@Html.DisplayFor(modelItem => item.flgAtivo)</td>

				</tr>
   }

		</tbody>
	</table>



</fieldset>

<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>
