﻿@model IEnumerable<SEMP.Model.DTO.CBHorarioDTO>

@{
    ViewBag.Title = "Horario";
    Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Configuração";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}
}

<h2>Horários</h2>

<p>
	<input class="bttn bttn-sm bttn-red" type="submit" value="Voltar" id="btnVoltar" style="margin-bottom:20px" onclick="location.href = '/Coleta/Configuracao/Linha/'"/>
    <input class="bttn bttn-sm bttn-red" type="submit" value="Adicionar Horário" id="btnConfigurarHorario" style="margin-bottom:20px" onclick="location.href = '/Coleta/Configuracao/AddHorario'"/>
</p>
<table class="table-semp" style="margin-bottom:20px">
<thead>
    <tr>
        <th style="font-size:14px">
            ID
        </th>
        <th style="font-size:14px">
            Turno
        </th>
        <th style="font-size:14px">
            Horário Início
        </th>
        <th style="font-size:14px">
            Horário Fim
        </th>
        <th style="font-size:14px">
            Vira Dia
        </th>
        <th style="font-size:14px">
			Ação
        </th>
    </tr>
</thead>
<tbody style="font-size:26px">

@foreach (var item in Model) {
    <tr>
        <td style="font-size:14px">
            @Html.DisplayFor(modelItem => item.idHorario)
        </td>
        <td style="font-size:14px">
            @Html.DisplayFor(modelItem => item.Turno)
        </td>
        <td style="font-size:14px">
            @Html.DisplayFor(modelItem => item.HoraInicio)
        </td>
        <td style="font-size:14px">
            @Html.DisplayFor(modelItem => item.HoraFim)
        </td>
        <td style="font-size:14px">
            @Html.DisplayFor(modelItem => item.flgViraDia)
        </td>
        <td style="font-size:14px">
            @Html.ActionLink("Editar", "EditHorario", new { id = item.idHorario })
        </td>
    </tr>
}
</tbody>
</table>
