﻿@{
	ViewBag.Title = "Configurações";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Configuração";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin { CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = "" };
	var acessoDesenv = (retornologin.NomUsuario.ToUpper().Equals("THIAGORR"));

	var esconder = "";

	if (!acessoDesenv)
	{
		esconder = "hidden";
	}

}

	@Scripts.Render("~/bundles/freewall")
	@Styles.Render("~/Content/freewall")
	<style type="text/css">

		h2 {
			-ms-text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
			text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
			font-family: 'Lato', Georgia, Helvetica, Tahoma !important;
			margin: 10px 0;
			font-weight: normal;

			font-size: 1.6em;
			line-height: 1em;
		}

		a
		{
			text-decoration: none;
			color: white;
			display: block;
			width: 100%;
			height: 100%;
		}

			a:hover
			{
				color: yellow !important;
				opacity: 0.9;
			}

		.size32
		{
			width: 480px;
			height: 320px;
		}


		.brick
		{
			font-size: 1em;
			background-color: white;
			float: left;
			cursor: default;
			overflow: hidden;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}

			.brick .cover
			{
				overflow: hidden;
				margin: 20px;
				width: 100%;
				height: 100%;
			}

		.brick:hover
		{
			-webkit-box-shadow: 2px 2px 0 rgba(0,0,0,1);
			-ms-box-shadow: 2px 2px 0 rgba(0,0,0,1);
			-moz-box-shadow: 2px 2px 0 rgba(0,0,0,1);
			box-shadow: 2px 2px 0 rgba(0,0,0,1);
		}

		.free-wall
		{
			margin: 15px;
		}

		.add-more
		{
			margin: 15px;
		}
	</style>

	<div id="freewall" class="free-wall">
		<div class="brick size21">
			<div class='cover'>
				<a href="/Coleta/Configuracao/Linha/"><h2>Configurar Linha de Produção</h2></a>
			</div>
		</div>
		<div class="brick size21">
			<div class='cover'>
				<a href="/Coleta/Configuracao/Mascara/"><h2>Configurar Máscara</h2></a>
			</div>
		</div>
		<div class="brick size21">
			<div class='cover'>
				<a href="/Coleta/TipoAmarra/"><h2>Cadastrar Tipo Amarração</h2></a>
			</div>
		</div>
		
		<div class="brick size21 @esconder">
			<div class='cover'>
				<a href="/Coleta/GerirSisap/"><h2>Gestão de Linhas / Modelos</h2></a>
			</div>
		</div>
	</div>

	<script type="text/javascript">

		var colour = [
			"rgb(192, 57, 43)"
		];

		$(".brick").each(function () {
			this.style.backgroundColor = colour[colour.length * Math.random() << 0];
		});

		$(function () {
			var wall = new freewall("#freewall");
			wall.reset({
				selector: '.brick',
				animate: true,
				cellW: 160,
				cellH: 160,
				delay: 50,
				onResize: function () {
					wall.fitWidth();
				}
			});
			wall.fitWidth();
			/*
			var temp = '<div class="brick {size}" style="background-color: {color}"><div class="cover"></div></div>';
			var size = "size33 size32 size31 size23 size22 size21 size13 size12 size11".split(" ");
			$(".add-more").click(function() {
				var html = "";
				for (var i = 0; i < 1; ++i) {
					html += temp.replace('{size}', size[size.length * Math.random() << 0])
								.replace('{color}', colour[colour.length * Math.random() << 0]);
				}
				wall.appendBlock(html);
			});*/
		});
	</script>