﻿@model IEnumerable<SEMP.Model.DTO.CBLinhaDTO>

@{
	ViewBag.Title = "Linhas";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Configuração";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var selectFase = Request["Fase"];
	var selectStatus = Request["flgStatus"];


	var acessoCadastro = SEMP.Helpers.Extensions.Permissao("CadLinhas", retornologin);
	var acessoSetor = SEMP.Helpers.Extensions.Permissao("CadLinhasSetor", retornologin);

	var acessoDTI = SEMP.Helpers.Extensions.Permissao("DTI", retornologin);

	var Linhas = (IEnumerable<SEMP.Model.DTO.CBLinhaDTO>)ViewBag.Linhas;

	var linhas = Linhas.Select(x => new {x.Setor, x.CodLinha, x.DesLinha }).OrderBy(x => x.Setor).ThenBy(x => x.DesLinha).ToList();
	var setores = Linhas.Select(x => x.Setor).Distinct().OrderBy(x => x).ToList();

}

<script type="text/javascript">
	function Voltar() {
		history.back();
	}
</script>

<h3>Configurar Linha de Produção</h3>

<form class="form-inline" style="margin-bottom: 10px;">

	<label>Fase: </label>
	<select name="Fase" id="Fase" class="form-control input-sm">
		<option @if (selectFase == "") { Write("selected"); } value="">Todos</option>
		<option value="FEC" @if (selectFase == "FEC") { Write("selected"); }>FEC</option>
		<option value="IMC" @if (selectFase == "IMC") { Write("selected"); }>IMC</option>
		<option value="IAC" @if (selectFase == "IAC") { Write("selected"); }>IAC</option>
		<option value="DAT" @if (selectFase == "DAT") { Write("selected"); }>DAT</option>
		<option value="TEC" @if (selectFase == "TEC") { Write("selected"); }>TEC</option>
		<option value="LCM" @if (selectFase == "LCM") { Write("selected"); }>LCM</option>
		<option value="MOB" @if (selectFase == "MOB") { Write("selected"); }>MOB</option>
	</select>

	<label>Status</label>
	<select name="flgStatus" class="form-control input-sm">
		<option value="1" @if (selectStatus == "1" || selectStatus == "") { Write("selected"); }>Ativos</option>
		<option value="0" @if (selectStatus == "0") { Write("selected"); }>Inativos</option>
		<option value="-1" @if (selectStatus == "-1") { Write("selected"); }>Todos</option>
	</select>

	<div class="btn-group">
		<input type="submit" value="Consultar" class="btn btn-default" />
	@if (acessoCadastro)
	{
		<input class="btn btn-danger" type="button" value="Adicionar Linha" id="btnAdicionarLinha" onclick="location.href = '/Coleta/Configuracao/AddLinha'" />
		<input class="btn btn-primary" type="button" value="Configurar Horário" id="btnConfigurarHorario" onclick="location.href = '/Coleta/Configuracao/Horario'" />
	}
	@if (acessoDTI)
	{
		<input class="btn btn-info" type="button" value="Ver mapa" id="btnMapaLinhas" onclick="location.href = '/Coleta/Configuracao/MapaLinhas/'" />
	}
	</div>
</form>

<table class="table table-bordered table-condensed table-striped table-hover" style="margin-bottom: 20px; width: 850px;">
	<thead>
		<tr>
			<th style="width: 55px;">Ação</th>
			<th>Cód.</th>
			<th>Descrição</th>
			<th>Observação</th>
			<th>Setor</th>
			<th>Família</th>
			<th>Código da Linha</th>
			<th>Ativo</th>
			<th>Postos</th>
			<th>Setor Origem</th>
			<th>Linha Origem</th>
		</tr>
	</thead>
	<tbody>
		@{
			var setor = "";
		}

		@foreach (var item in Model)
		{
			if (setor != item.Setor)
			{
				<tr>
					<td colspan="11" class="info">@item.Setor</td>
				</tr>
				setor = item.Setor;
			}
			var statusAtivo = "";
			if (item.FlgAtivo == "0")
			{
				statusAtivo = "off";
			}
			<tr id="@item.Setor-@item.CodLinha">
				<td>
				@if (acessoCadastro) { 
					@Html.ActionLink(" ", "Postos", new { id = item.CodLinha }, new { @class = "linkEdit glyphicon glyphicon-wrench", @title = "Ver postos" })  <span class="width: 2px;"></span>
					@Html.ActionLink(" ", "EditLinhas", new { id = item.CodLinha }, new { @class = "lnkDelete linkEdit glyphicon glyphicon-edit", @title = "Editar" })
				} 
					@Html.ActionLink(" ", "ViewLinha", new { id = item.CodLinha }, new { @class = "lnkEdit linkEdit glyphicon glyphicon-eye-open", @title = "Visualizar" })
				</td>
				<td>@Html.DisplayFor(modelItem => item.CodLinha)</td>
				<td>@Html.DisplayFor(modelItem => item.DesLinha)</td>
				<td>@Html.DisplayFor(modelItem => item.DesObs)</td>
				<td>@Html.DisplayFor(modelItem => item.Setor)</td>
				<td>@Html.DisplayFor(modelItem => item.Familia)</td>
				<td>@Html.DisplayFor(modelItem => item.CodLinhaT1)</td>
				<td><div class="pull-right" style="margin-top: 2px; margin-right: 2px;"><a href="#" id="tglFlgAtivo" class="toggler @statusAtivo">&nbsp;</a></div></td>
				<td style="text-align: right;">@item.QtdPostos</td>
				<td class="text-center">
				@if (acessoSetor && (acessoDTI || item.Setor == "IAC"))
				{
					<select id="cmbS-@item.CodLinha" class="form-control input-xs" onchange="CarregarLinhasSetor(this.value, this);">
						<option value="" @if (item.SetorOrigem == null || item.SetorOrigem == "") { Write("selected"); }></option>
					@foreach (var l in setores)
					{
						<option value="@l" @if (l == item.SetorOrigem) { Write("selected"); }>@l</option>
					}
					</select>
				}
				else
				{
					<span>@item.SetorOrigem</span>
				}

				</td>
				<td>
				@if (acessoSetor && (acessoDTI || item.Setor == "IAC"))
				{
					<div class="input-group input-group-sm">
						<select id="cmbL-@item.CodLinha" class="form-control">
							<option value="0" @if (item.CodLinhaOrigem == 0) { Write("selected"); }>Todas as Linhas</option>
						@foreach (var l in linhas.Where(x => x.Setor == item.SetorOrigem))
						{
							<option value="@l.CodLinha" @if (l.CodLinha == item.CodLinhaOrigem) { Write("selected"); }>@l.CodLinha - @l.DesLinha</option>
						}
						</select>
						<span class="input-group-btn">
							<button type="button" id="btnGravar" class="btn btn-default" onclick="AlterarLinhaOrigem('@item.CodLinha');"><i class="glyphicon glyphicon-save"></i></button>
						</span>
					</div>
				}
				else
				{
					var desLinha = Linhas.FirstOrDefault(x => x.CodLinha == item.CodLinhaOrigem);
					if (desLinha != null){
						<span>@desLinha.DesLinha</span>
					}
					else
					{
						<span>Todas as linhas</span>
					}
				}
				</td>
			</tr>
		}
	</tbody>
</table>

<script>

	$("#Fase").change(filtrar);

	function filtrar() {

		var fase = $("#Fase").val();

		if (fase != "") {
			$("tbody tr:not([id^='"+fase+"'])").css("display", "none");

			$("tbody tr[id^='" + fase + "']").css("display", "");
		} else {
			$("tbody tr").css("display", "");
		}
	}

	var linhas = @Html.Raw(Json.Encode(Linhas));

	function CarregarLinhasSetor(setor, obj)
	{
		var cmbLinha = "#" + obj.id;

		cmbLinha = cmbLinha.replace('cmbS', 'cmbL');

		$(cmbLinha).html("");

		$(cmbLinha).append(new Option("Todas as Linhas", 0));

		$(linhas).each(function (key, value) {
			if (value.Setor == setor && value.FlgAtivo == "1") {
				$(cmbLinha).append(new Option(value.DesLinha, value.CodLinha));
			}

		});
	}

	function AlterarLinhaOrigem(codLinha) {

		var setor = $("#cmbS-" + codLinha).val();
		var linhaOrigem = $("#cmbL-" + codLinha).val();

		//if (setor == "") return;

		//console.log(setor);
		//console.log(linhaOrigem);

		$.ajax({
			type: "GET",
			url: "/Coleta/Configuracao/AlterarLinhaOrigem/",
			data: { codLinha: codLinha, setor: setor, codLinhaOrigem: linhaOrigem },
			success: function (json) {
				if (json) {
					alert('Gravado com sucesso!');
					CarregarIntervalos();
				}
				else {
					alert('Erro ao tentar alterar a linha de origem.');
				}
			},
			error: function () {
				alert('Erro ao processar comando.');
			}
		});

	}

</script>