﻿@model IEnumerable<SEMP.Model.DTO.CBHorarioIntervaloDTO>
@{ 
	var codLinha = "";

	if (Request["CodLinha"] != null){
		codLinha = Request["CodLinha"].ToString();
	}
}

<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th colspan="6" style="text-align:left;">Cadastrar/Alterar</th>
		</tr>
		<tr>
			<th>
				<input type="hidden" name="CodLinha" id="CodLinha" value="@codLinha" />
				<select name="Turno" id="Turno" class="form-control input-sm">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
				</select>
			</th>
			<th>
				<select name="TipoIntervalo" id="TipoIntervalo" class="form-control input-sm">
					<option>[Tipo]</option>
					<option value="Manhã">Manhã</option>
					<option value="Almoço">Almoço</option>
					<option value="Tarde">Tarde</option>
					<option value="Jantar">Jantar</option>
					<option value="Madrugada">Madrugada</option>
				</select>
			</th>
			<th><input type="text" id="HoraInicio" name="HoraInicio" placeholder="Início" value="" class="form-control input-sm" style="width: 60px;" /></th>
			<th><input type="text" id="HoraFim" name="HoraFim" placeholder="Fim" value="" class="form-control input-sm" style="width: 60px;" /></th>
			<th><input type="text" id="TempoIntervalo" name="TempoIntervalo" placeholder="Tempo" value="" class="form-control input-sm" style="width: 60px;" /></th>
			<th><a href="#" onclick="GravaAlterar()" class="bttn bttn-sm bttn-green" style="margin-top: -7px;"><span class="glyphicon glyphicon-floppy-save"></span></a></th>
		</tr>
	</thead>
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Turno)</th>
			<th>@Html.DisplayNameFor(model => model.TipoIntervalo)</th>
			<th>@Html.DisplayNameFor(model => model.HoraInicio)</th>
			<th>@Html.DisplayNameFor(model => model.HoraFim)</th>
			<th>@Html.DisplayNameFor(model => model.TempoIntervalo)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>@Html.DisplayFor(modelItem => item.Turno)</td>
			<td>@Html.DisplayFor(modelItem => item.TipoIntervalo)</td>
			<td>@Html.DisplayFor(modelItem => item.HoraInicio)</td>
			<td>@Html.DisplayFor(modelItem => item.HoraFim)</td>
			<td>@Html.DisplayFor(modelItem => item.TempoIntervalo)</td>
			<td>
				<a href="#" onclick="Alterar(@item.Turno, '@item.TipoIntervalo', '@item.HoraInicio', '@item.HoraFim', @item.TempoIntervalo);"><span class="glyphicon glyphicon-edit"></span></a>
				|
				<a href="#" data-toggle="modal" data-target="#modConfirma" data-tipointervalo="@item.TipoIntervalo"><span class="glyphicon glyphicon-trash"></span></a>
			</td>
		</tr>
		}
	</tbody>
</table>

<div class="modal in" id="modConfirma" style="top: 50px;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Confirmação?</h4>
			</div>
			<div class="modal-body">
				<p>Você tem certeza de que deseja remover esse horário <b><span id="lblTipoIntervalo"></span></b>???</p>
				<input type="hidden" name="TipoIntervaloModal" id="TipoIntervaloModal" value="" />
				<div class="row">
					<div class="col-12-xs text-center">
						<button class="btn btn-success btn-md" onclick="Apagar();">Sim</button>
						<button class="btn btn-danger btn-md" data-dismiss="modal">Não</button>
					</div>
				</div>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
	function Alterar(turno, tipoIntervalo, horaInicio, horaFim, tempoIntervalo) {

		$("#Turno").val(turno);
		$("#TipoIntervalo").val(tipoIntervalo);
		$("#HoraInicio").val(horaInicio);
		$("#HoraFim").val(horaFim);
		$("#TempoIntervalo").val(tempoIntervalo);

	}

	function GravaAlterar() {

		var codLinha = $("#CodLinha").val();
		var turno = $("#Turno").val();
		var tipoIntervalo = $("#TipoIntervalo").val();
		var horaInicio = $("#HoraInicio").val();
		var horaFim = $("#HoraFim").val();
		var tempoIntervalo = $("#TempoIntervalo").val();

		$.ajax({
			type: "GET",
			url: "/Coleta/Configuracao/AlterarIntervalo/",
			data: { codLinha: codLinha, turno: turno, tipoIntervalo: tipoIntervalo, horaInicio: horaInicio, horaFim: horaFim, tempoIntervalo: tempoIntervalo },
			success: function (json) {
				if (json) {
					alert('Gravado com sucesso!');
					CarregarIntervalos();
				}
				else {
					alert('Erro ao tentar alterar o horário.');
				}
			},
			error: function () {
				alert('Erro ao processar comando.');
			}
		});

	}

	$('#modConfirma').on('show.bs.modal', function (event) {
		var button = $(event.relatedTarget); // Button that triggered the modal
		var linha = button.data('codlinha'); // Extract info from data-* attributes
		var tipointervalo = button.data('tipointervalo');
		// If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		// Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		var modal = $(this)
		modal.find('.modal-body #TipoIntervaloModal').val(tipointervalo);
	});

	function Apagar() {
		var codLinha = $("#CodLinha").val();
		var tipoIntervalo = $("#TipoIntervaloModal").val();

		$.ajax({
			type: "GET",
			url: "/Coleta/Configuracao/ApagarIntervalo/",
			data: { CodLinha: codLinha, TipoIntervalo: tipoIntervalo },
			success: function (json) {
				if (json) {
					alert('Intervalo excluído com sucesso.');
					CarregarIntervalos();
					$('#modConfirma').modal('toggle');
				}
				else {
					alert('Erro ao tentar excluir o horário.');
				}
			},
			error: function () {
				alert('Erro ao processar comando.');
			}
		});

	}

</script>