﻿@model IEnumerable<SEMP.Model.DTO.CBLinhaDTO>

@{
	ViewBag.Title = "Mapa Linhas";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Mapa de Linhas";
}

<h2>MapaLinhas</h2>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodLinha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesLinha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesObs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Setor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Familia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodLinhaT1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodLinhaT2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodLinhaT3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodPlaca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodModelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodAuxiliar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodFam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodLinhaOrigem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetorOrigem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlgAtivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamiliaOrigem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdPostos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodLinha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesLinha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesObs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Setor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Familia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodLinhaT1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodLinhaT2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodLinhaT3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodPlaca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodModelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodAuxiliar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodFam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodLinhaOrigem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SetorOrigem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlgAtivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamiliaOrigem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdPostos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
