﻿@model IEnumerable<SEMP.Model.DTO.CBMaquinaDTO>

@{
    ViewBag.Title = "Maquinas";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
    ViewBag.Sistema = "Rastreabilidade";
    ViewBag.Rotina = "Configuração";
    if (retornologin != null)
    {
        ViewBag.NomeUsuario = retornologin.NomFuncionario;
    }
}

<script type="text/javascript">
    function Voltar() {
        history.back();
    }
</script>

<span style="float: left; margin-right: 10px;">
    <button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="Voltar();">
        <img src="~/images/voltar.gif" style="width: 16px; height: 16px;" /></button></span>
<h3>Configurar Máquina da IAC</h3>

<input class="bttn bttn-sm bttn-red" type="submit" value="Adicionar Máquina" id="btnAdicionarMaquina" style="margin-bottom: 20px; margin-right: 10px;" onclick="location.href = '/Coleta/Configuracao/AddMaquina'" />

<link href="@Scripts.Url("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/ui.multiselect.css")" rel="stylesheet" type="text/css" />

<script src="@Scripts.Url("~/Scripts/JQGrid/grid.locale-pt-br.js")" type="text/javascript"></script>
<script src="@Scripts.Url("~/Scripts/JQGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>

<table class="table-semp" style="margin-bottom: 20px">
    <thead>
        <tr>
            <th style="font-size: 14px;">Código da Linha
            </th>
            <th style="font-size: 14px">Código da Máquina
            </th>
            <th style="font-size: 14px">Descrição da Máquina
            </th>
			<th style="font-size: 14px">Ação
            </th>
        </tr>
    </thead>
    <tbody style="font-size: 26px">
        @foreach (var item in Model)
        {
            <tr id="@item.CodLinha">
                <td style="font-size: 14px">
                    @Html.DisplayFor(modelItem => item.CodLinha)
                </td>
                <td style="font-size: 14px">
                    @Html.DisplayFor(modelItem => item.CodMaquina)
                </td>
                <td style="font-size: 14px">
                    @Html.DisplayFor(modelItem => item.DesMaquina)
                </td>
                <td style="font-size: 14px">
                    @Html.ActionLink("Editar", "EditMaquinas", new { id = item.CodLinha , codMaquina = item.CodMaquina})
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

</script>
