﻿@model IEnumerable<SEMP.Model.DTO.CBPerfilMascaraDTO>

	@{
		ViewBag.Title = "Mascara";
		Layout = "~/Views/Shared/_Layout.cshtml";

		var itens = Model.GroupBy(x => new { x.CodItem, x.DesItem }).Select(x => new { CodItem = x.Key.CodItem, DesItem = x.Key.DesItem }).ToList();

	}
	@section styles{
		<link href="/Content/css/select2.min.css" rel="stylesheet" />
	}
	<h2>Configuração de Máscara</h2>

	<p>
		<input class="bttn bttn-sm bttn-red" type="submit" value="Adicionar/Editar Máscara" id="btnAdicionarLinha" style="margin-bottom:20px" onclick="location.href = '/Coleta/Configuracao/AddMascara'" />
	</p>
	<table class="table table-bordered table-hover table-striped tablesorter" id="tblDados" style="margin-bottom:20px">
		<thead style="font-size: 12px;">
			<tr>
				<th style="width: 120px;">NE</th>
				<th>Descrição</th>
				<th>Máscara</th>
			</tr>
			<tr>
				<td>
					<select id="cmbModelos" class="form-control input-sm" multiple="multiple">
						<optgroup label="Itens">
							@foreach (var x in itens)
							{
								<option value="@x.CodItem">@x.CodItem</option>
							}
						</optgroup>
					</select>
				</td>
				<td><input class="form-control input-sm" id="txtDescricao" onkeydown="FiltraTabela('tblDados', 1, $(this).val());" /></td>
				<td>&nbsp;</td>
			</tr>

		</thead>
		<tbody style="font-size: 12px;">

			@foreach (var item in Model)
			{
				<tr>
					<td>@Html.DisplayFor(modelItem => item.CodItem)</td>
					<td>@Html.DisplayFor(modelItem => item.DesItem)</td>
					<td>@Html.DisplayFor(modelItem => item.Mascara)</td>
				</tr>
			}
		</tbody>
	</table>

	@section Scripts{
		<script src="~/Scripts/jquery.tablesorter.js"></script>
		<script src="~/Scripts/select2.min.js"></script>
		<script>

			//$("#tblDados").addClass('tablesorter');
			$("#tblDados").tablesorter();


			$("#cmbModelos").select2({
				theme: "classic",
				allowClear: true
			});

			$('#cmbModelos').on('change', function (e) {
				var dados = $("#cmbModelos").select2("data");
				FiltraTabelaMulti("tblDados", 0, dados);
			});
		</script>
	}
