﻿
@{
	ViewBag.Title = "Parâmetros";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Parâmetros SISAP";
	ViewBag.Rotina = "Configuração";


	var statusAtivo = "";
	if (ViewBag.EnviaApontamento != null && ViewBag.EnviaApontamento == false)
	{
		statusAtivo = "off";
	}
}

<h2>Parâmetros</h2>
<br /><br />
<div class="" style="padding-left: 30px;">
	<div class="pull-left" style="margin-right: 10px;"><blockquote>Envio de apontamento para o SAP:</blockquote></div>
	<div class="puft-left">
		<div style="margin-top: 2px; margin-right: 2px;">
			<a href="#" id="tglFlgEnviaApontamento" class="toggler @statusAtivo">&nbsp;</a>
			<input type="hidden" value="@ViewBag.EnviaApontamento" id="FlgEnviaApontamento" name="FlgEnviaApontamento" />
		</div>
	</div>

</div>

@section Scripts{
	<script>

		$('a.toggler').click(function () {

			var eu = $(this);
			var estado = eu.hasClass('off');
			var url = "";

			if (estado) {
				$("#FlgEnviaApontamento").val("1");
				url = "/Coleta/Configuracao/AtivarEnvioSAP";
			}
			else {
				$("#FlgEnviaApontamento").val("0");
				url = "/Coleta/Configuracao/DesativarEnvioSAP";
			}

			$.ajax({
				type: "POST",
				url: url,
				data: {},
				dataType: "json",
				cache: false,
				async: true,
				success: function (data) {
					eu.toggleClass('off');
				},
				error: function (xhr, er) {
					if (xhr.status == 500 || xhr.status == 503)
					{
						alert("Erro ao consultar: " + xhr.responseText);
					}
				}
			});

		});

	</script>

}