﻿@model SEMP.Model.DTO.CBPostoDTO

@{
    ViewBag.Title = "PostoResumo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes de @ViewBag.DesPosto da linha @ViewBag.DesLinha </h2>

<span style="float: left; margin-top: 30px; margin-bottom: 30px; "><button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="Voltar();"><img src="~/images/voltar.gif" style="width: 16px; height: 16px;" /></button></span>

<table class="table-semp" style="margin-bottom: 20px">
    <thead>
        <tr>

            <th style="font-size: 14px;">Número do Posto
            </th>
            <th style="font-size: 14px;">Tipo do Posto
            </th>
            <th style="font-size: 14px;">Descrição do Posto
            </th>
            <th style="font-size: 14px;">Ativo
            </th>
            <th style="font-size: 14px;">Sequência
            </th>
            <th style="font-size: 14px;">Obrigatório
            </th>
            <th style="font-size: 14px;">Pede AP
            </th>
            <th style="font-size: 14px;">Imprimir
            </th>
            <th style="font-size: 14px;">Tempo de Leitura
            </th>
            <th style="font-size: 14px;">Drt Obrigatória
            </th>
            <th style="font-size: 14px;">Gargalo
            </th>
          
        </tr>
    </thead>
    <tbody style="font-size: 26px">

            <tr>
                <td style="font-size: 14px">
                    @Html.DisplayFor(modelItem => Model.NumPosto)
                </td>
                <td style="font-size: 14px">
                   @ViewBag.DesPosto 
                </td>
                <td style="font-size: 14px">
                    @Html.DisplayFor(modelItem => Model.DesPosto)
                </td>
                <td style="font-size: 14px">
                    @{
                        if (Model.FlgAtivo == "S")
            {
                Model.FlgAtivo = "Sim";
            }
            else
            {
                Model.FlgAtivo = "Não";
            }				
                        @Html.DisplayFor(modelItem => Model.FlgAtivo)
                    }

                </td>
                <td style="font-size: 14px">
                    @Html.DisplayFor(modelItem => Model.NumSeq)
                </td>
                <td style="font-size: 14px">
                    @{
                       String retorno = "";
                       if (Model.flgObrigatorio == true)
            {
                retorno = "Sim";
                Model.flgObrigatorio = true;
            }
            else

            {
                retorno = "Não";
                Model.flgObrigatorio = false;
            }				
                    @Html.DisplayFor(modelItem => retorno)

                    }
                </td>
                <td style="font-size: 14px">
                    @Html.DisplayFor(modelItem => Model.flgPedeAP)
                </td>
                <td style="font-size: 14px">
                    @Html.DisplayFor(modelItem => Model.flgImprimeEtq)
                </td>
                <td style="font-size: 14px">

                    @{
                        
                        String tempoLeitura="";
                        String final = "";

                        if (Model.TempoLeitura == null)
                        {
                            final = "INDEFINIDO";
                            
                        }
                        else
                        {
                            tempoLeitura = Model.TempoLeitura.ToString();
                            final = tempoLeitura + " " + "Segundos";

                        }
                    @Html.DisplayFor(modelItem => final);
                    }
                </td>
            </tr>
        

    </tbody>
</table>

<script>

    function Voltar() {
        history.back();
    }

</script>

