﻿@model IEnumerable<SEMP.Model.DTO.CBPostoDTO>

	@{
		ViewBag.Title = "Postos";
		Layout = "~/Views/Shared/_Layout.cshtml";

		var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
		ViewBag.Sistema = "Rastreabilidade";
		ViewBag.Rotina = "Configuração";
		if (retornologin != null)
		{
			ViewBag.NomeUsuario = retornologin.NomFuncionario;
		}

	}

	@{
		String codPosto = "";
		String desLinha = "";

		int id = 0;

		id = ViewBag.CodLinha;
		codPosto = "" + id;

		desLinha = ViewBag.DesLinha;

	}

	<div style="font-size:40px">
		<div id="postos" style="margin-left: 250px">Postos Cadastrados da Linha @codPosto - @desLinha </div>
	</div>
	<input class="btn btn-sm btn-danger" type="submit" value="Voltar" id="btnVoltar" style="margin-bottom: 10px;" onclick="location.href = '/Coleta/Configuracao/Linha/'" />
	<input class="btn btn-sm btn-danger" type="submit" value="Adicionar Posto" id="btnAdcionar" style="margin-bottom: 10px;" onclick="location.href = '/Coleta/Configuracao/AddPosto/@id'" />


	<table id="tblPostos" class="table table-bordered table-hover" style="margin-bottom: 20px">
		<thead>
			<tr>
				<th style="width: 50px;">Ação</th>
				<th>Número do Posto</th>
				<th>Tipo do Posto</th>
				<th>Descrição do Posto</th>
				<th>Ativo</th>
				<th>Sequência</th>
				<th>Obrigatório</th>
				<th>Pede AP</th>
				<th>Imprimir</th>
				<th>Tempo de Leitura</th>
				<th>Validar Origem</th>
			</tr>
		</thead>
		<tbody>

			@foreach (var item in Model.OrderByDescending(x => x.FlgAtivo).ThenBy(x => x.NumSeq))
			{
				item.FlgAtivo = (item.FlgAtivo == "S") ? "SIM" : "NÃO";

				String retorno = (item.flgObrigatorio == true) ? "Sim" : "Não";

				var validaOrigem = (item.flgValidaOrigem == true) ? "Sim" : "Não";

				String final = (item.TempoLeitura == null) ? "INDEFINIDO": item.TempoLeitura.ToString() + " " + "Segundos";
			<tr>
				<td>
					@Html.ActionLink(" ", "EditPosto", new { CodLinha = item.CodLinha, NumPosto = item.NumPosto }, new { @class = "glyphicon glyphicon-pencil" })
					@Html.ActionLink(" ", "PostoResumo", new { CodLinha = item.CodLinha, NumPosto = item.NumPosto }, new { @class = "glyphicon glyphicon-list-alt" })
				</td>
				<td>@Html.DisplayFor(modelItem => item.NumPosto)</td>
				<td>@Html.DisplayFor(modelItem => item.CodTipoPosto)</td>
				<td>@Html.DisplayFor(modelItem => item.DesPosto)</td>
				<td>@Html.DisplayFor(modelItem => item.FlgAtivo)</td>
				<td>@Html.DisplayFor(modelItem => item.NumSeq)</td>
				<td>@Html.DisplayFor(modelItem => retorno)</td>
				<td>@Html.DisplayFor(modelItem => item.flgPedeAP)</td>
				<td>@Html.DisplayFor(modelItem => item.flgImprimeEtq)</td>
				<td>@Html.DisplayFor(modelItem => final)</td>
				<td>@Html.DisplayFor(modelItem => validaOrigem)</td>
			</tr>
			}

		</tbody>
	</table>

	@section Scripts{

		<script src="~/Scripts/jquery.tablesorter.js"></script>
		<script>
			$("#btnResumo").on("click", function (e) {
				url = "/Coleta/Configuracao/PostoResumo/";
				$(".ui-dialog-title").html("Novo defeito");
				$("#dialog-edit").dialog('open');

				return false;
			});

			$("#tblPostos").addClass('tablesorter');
			$("#tblPostos").tablesorter({
				headers: {
					0: {
						sorter: false
					}
				}
			});
		</script>

	}

