﻿@model SEMP.Model.DTO.CBLinhaDTO

@{
	ViewBag.Title = "Visualizar Linha";
	if (String.IsNullOrEmpty(Request["janela"]))
	{
		Layout = "~/Views/Shared/_Layout.cshtml";
	}

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Exibir dados da Linha";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}


	var statusAtivo = "";
	if (Model.FlgAtivo == "0")
	{
		statusAtivo = "off";
	}

	var acessoSetor = SEMP.Helpers.Extensions.Permissao("CadLinhasSetor", retornologin);

	var acessoDTI = SEMP.Helpers.Extensions.Permissao("DTI", retornologin);

	var podeAlterar = acessoSetor && (acessoDTI || Model.Setor == "IAC");

}

<script src="@Scripts.Url("~/Scripts/jquery.maskedinput.js")" type="text/javascript"></script>

<h2>Visualizar Linha</h2>

@using (Html.BeginForm("EditLinhas", "Configuracao", FormMethod.Post, new { id = "FormEditLinha", @onsubmit = "return false;", @class = "container-fluid" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<div class="row">
		<div class="col-md-5">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<div class="pull-right">
						<label>Ativo:</label>
						<div class="pull-right" style="margin-top: 2px; margin-right: 2px;">
							<a href="#" id="tglFlgAtivo" class="toggler @statusAtivo">&nbsp;</a>
							<input type="hidden" value="@Model.FlgAtivo" id="FlgAtivo" name="FlgAtivo" />
						</div>
					</div>
					<h4 style="margin: 0;">Dados da Linha</h4>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<div class="editor-label" style="font-size:14px">Descrição da Linha</div>
							<div class="input-group input-grou-sm">
								<span class="input-group-addon">@Model.CodLinha</span>
								<div class="form-control">@Model.DesLinha</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="editor-label" style="font-size:14px">Observação</div>
							<div class="editor-field">
								<div class="form-control input-sm">@Model.DesObs</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Setor</div>
							<div class="editor-field">
								<div class="form-control input-sm">@Model.Setor</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="editor-label" style="font-size:14px">Família</div>
							<div class="editor-field">
								<div class="form-control input-sm">@Model.Familia</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="editor-label" style="font-size:14px">Código SEMP</div>
							<div class="editor-field">
								<div class="form-control input-sm">@Model.CodLinhaT1</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="editor-label" style="font-size:14px">Setor Origem</div>
							<div class="editor-field">
								<div class="form-control input-sm">@Model.SetorOrigem</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="editor-label" style="font-size:14px">Linha Origem</div>
							<div class="editor-field">
								<div class="form-control input-sm">@Model.CodLinhaOrigem</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="editor-label" style="font-size:14px">Tam. do Magazine</div>
							<div type="text" name="tamMagazine" id="tamMagazine" class="form-control input-sm" placeholder="Ex: 25" style="font-size:14px"></div>
						</div>
						<div class="col-md-6">
							<div class="editor-label" style="font-size:14px">Tamanho do Lote</div>
							<div type="text" name="tamLote" id="tamLote" class="form-control input-sm" placeholder="Ex: 25" style="font-size:14px"></div>
						</div>
					</div>
					<div class="row" style="margin-top: 5px;">
						<div class="col-md-4">
							<select multiple size="4" class="form-control" name="ToLB" id="ToLB"></select>
						</div>

						<div class="col-md-8">
							@{
								var Horarios = (IEnumerable<SEMP.Model.DTO.CBHorarioIntervaloDTO>)ViewBag.Horarios;
							}
							<table class="table table-bordered table-condensed">
								<thead>
									<tr>
										<th colspan="5">Intervalos</th>
									</tr>
								</thead>
								<thead>
									<tr>
										<th>Turno</th>
										<th>Tipo de Intervalo</th>
										<th>Início</th>
										<th>Fim</th>
										<th>Tempo</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in Horarios)
									{
										<tr>
											<td>@Html.DisplayFor(modelItem => item.Turno)</td>
											<td>@Html.DisplayFor(modelItem => item.TipoIntervalo)</td>
											<td>@Html.DisplayFor(modelItem => item.HoraInicio)</td>
											<td>@Html.DisplayFor(modelItem => item.HoraFim)</td>
											<td>@Html.DisplayFor(modelItem => item.TempoIntervalo)</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading"><h4 style="margin: 0;">Postos</h4></div>
				<div class="panel-body" id="pnlPostos">
					@{
						var Postos = (IEnumerable<SEMP.Model.DTO.CBPostoDTO>)ViewBag.Postos;
					}
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Núm.</th>
								<th>Tipo do Posto</th>
								<th>Descrição do Posto</th>
								<th>Ativo</th>
								<th>Seq.</th>
								<th>Obrig.</th>
								<th>Tempo de Leitura</th>
								<th style="width: 60px;">Validar Origem</th>
							</tr>
						</thead>
						<tbody>

							@foreach (var item in Postos.OrderByDescending(x => x.FlgAtivo).ThenBy(x => x.NumSeq))
							{
								item.FlgAtivo = (item.FlgAtivo == "S") ? "SIM" : "NÃO";

								String retorno = (item.flgObrigatorio == true) ? "Sim" : "Não";

								var validaOrigem = (item.flgValidaOrigem == true) ? "Sim" : "Não";

								String final = (item.TempoLeitura == null) ? "INDEFINIDO" : item.TempoLeitura.ToString() + " " + "Segundos";

								var statusAtivoOrigem = "";
								if (item.flgValidaOrigem == false)
								{
									statusAtivoOrigem = "off";
								}

							<tr>
								<td>@Html.DisplayFor(modelItem => item.NumPosto)</td>
								<td>@Html.DisplayFor(modelItem => item.CodTipoPosto)</td>
								<td>@Html.DisplayFor(modelItem => item.DesPosto)</td>
								<td>@Html.DisplayFor(modelItem => item.FlgAtivo)</td>
								<td>@Html.DisplayFor(modelItem => item.NumSeq)</td>
								<td>@Html.DisplayFor(modelItem => retorno)</td>
								<td>@Html.DisplayFor(modelItem => final)</td>
								<td>
									<div style="margin-top: 2px; margin-right: 2px;"><a href="#" id="tglFlgAtivo" class="toggler @statusAtivoOrigem" @if (podeAlterar) { WriteLiteral("onclick = 'AtivaValidarOrigem(\"" + item.NumPosto + "\", this);'"); }>&nbsp;</a></div>
								</td>
							</tr>
							}

						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

}

<div style="margin-bottom:20px" class="btn-group">
	<input class="btn btn-sm btn-danger" type="button" value="Voltar" id="btnVoltar" style="margin-bottom:20px" onclick="location.href = '/Coleta/Configuracao/Linha/'" />
</div>

<script>

	@{WriteLiteral(ViewBag.JS);}
	var codLinha = @{Write(Model.CodLinha + ";");};
	var codDRT = '@retornologin.CodDRT';
	var linha = @Model.CodLinhaOrigem;

	jQuery(function ($) {
		$("#tamLote").mask("99", { placeholder: " " });
	});

	$(document).ready(function () {
		$.ajax({
			type: "GET",
			url: "/Configuracao/ObterLoteConfig/",
			data: { CodLinha: codLinha },
				dataType: "json",
				success: function (json, loteConfig) {
				    $("#tamLote").val(json.Qtde);
				    $("#tamMagazine").val(json.QtdeCC);
				}
		});

		$.ajax({
			type: "GET",
			url: "/Configuracao/ObterHorariosLinha/",
			data: { CodLinha: codLinha },
			dataType: "json",
			success: function (json) {
				var options = "";
				options += '<optgroup label = "Horários">';
				$.each(json, function (key, Horario) {
					options += '<option value="' + Horario.idHorario + '">' + Horario.HoraInicio + ' - ' + Horario.HoraFim + '</option>';
				});
				$("#ToLB").html(options);
			}
		});

	});

	function fn_error(xhr) {
		if (xhr.status == 500 || xhr.status == 503) // service indisponivel
		{
			var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
			alert("Erro ao consultar: <br/>" + mensagem);
			document.location.href = "/";
		} else {
			alert("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + " | " + xhr.responseText + "<br>");
		}
	}

	function AtivaValidarOrigem (numPosto, flgStatus) {

		var eu = $(flgStatus);
		var estado = eu.hasClass('off');

		var url = "/Coleta/Configuracao/AlterarValidarOrigem/"

		var parametros = { codLinha: codLinha, numPosto: numPosto, flgValidarOrigem: estado };

		$.ajax({
			type: "GET",
			url: url,
			data: parametros,
			dataType: "json",
			cache: false,
			async: true,
			success: function (data) {
			
				eu.toggleClass('off');

			},
			error: function (xhr, er) {
				if (xhr.status == 500 || xhr.status == 503) // service indisponivel
				{
					alert("Erro ao gravar: " + xhr.responseText);
					//document.location.href = "/";
				}
			}
		});

	}

</script>

