﻿@{
	ViewBag.Title = "Entrada no sistema";
	Layout = null;

}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	<script>
		function Entrar() {
			$("#username").val($("#usuario").val());

			if ($("#username").val() == "") {
				alert("Informe o usuário ou leia o crachá");
				return false;
			} else {
				//$("#usuario").prop("disabled", true);
				$("#carregando").css("display", "block");
				$("#usuario").val("");

				document.forms[0].submit();
			}

		}

	</script>
	<style>
		.card {
			margin-right: 25%;
			margin-left: 25%;
		}

		@{WriteLiteral("@media(max-width:500px) {");}
			.card {
				margin-right: 15%;
				margin-left: 15%;
			}
		}
	</style>
</head>
<body>
	<div id="carregando" style="position: absolute; z-index: 1; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.14); display: none; ">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
	<div class="page-container">
		<div class="card border-danger">
			<div class="card-header bg-danger h5 text-center text-light">Login do Sistema</div>

			<div style="padding-top:30px" class="card-body">
				<form action="/Login/" method="post" name="frmLogin">
					<div style="margin-bottom: 25px" class="form-group form-group-lg input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span>
						<input type="text" name="usuario" id="usuario" class="form-control input-lg" placeholder="Crachá ou login" autofocus="autofocus">
						<input type="hidden" name="username" id="username">
					</div>
					<div style="margin-bottom: 25px" class="form-group form-group-lg input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span>
						<input type="password" name="password" placeholder="Senha" class="form-control input-lg"
							   onfocus="$(this).parent().addClass('has-warning');" onblur="$(this).parent().removeClass('has-warning');">
					</div>

					<input type="hidden" name="returnUrl" value="@Request["ReturnUrl"]" />

					<hr />

					<select name="fabrica" id="fabrica" class="form-control input-lg" style="color: red; font-weight:bold;">
						<option style="color: red; font-weight:bold;" value="SEMP" selected>SEMP TCL</option>
						<option style="color: red; font-weight:bold;" value="SEMPTOSHIBA">SEMP AMAZONAS</option>
					</select>
					<br />
					<button type="button" class="btn btn-danger form-control" onclick="Entrar();">Entrar</button>
					<div class="error"><span>&nbsp;</span></div>

					<div id="Mensagem erro" class="message-error">@ViewBag.Erro</div>
				</form>
			</div>
		</div>
	</div>
	<script>
		jQuery(document).ready(function () {

			$('.page-container form').submit(function () {
				var username = $(this).find('.username').val();
				var password = $(this).find('.password').val();
				if (username == '') {
					$(this).find('.error').fadeOut('fast', function () {
						$(this).css('top', '27px');
					});
					$(this).find('.error').fadeIn('fast', function () {
						$(this).parent().find('.username').focus();
					});

					return false;
				}

			});

			$('.page-container form .username, .page-container form .password').keyup(function () {
				$(this).parent().find('.error').fadeOut('fast');
			});

			$("#usuario").focus(function () {
				$(this).parent().addClass('has-warning');
			});
			$("#usuario").blur(function () {
				$(this).parent().removeClass('has-warning');
			});

			$("#usuario").focus();
		});
	</script>
</body>
</html>