﻿@model SEMP.Model.DTO.CBEmbaladaDTO
@{
	ViewBag.Title = "Amarra Lote";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Amarração";
	if (retornologin == null)
	{
		retornologin = new SEMP.Model.VO.RetornoLogin();
		retornologin.CodDRT = "";
	}
	else
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

 
}

<link href="@Scripts.Url("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/ui.multiselect.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/postoEmbalagem.css")" rel="stylesheet" type="text/css" />

<script src="@Scripts.Url("~/Scripts/JQGrid/grid.locale-ptbr.js")" type="text/javascript"></script>
<script src="@Scripts.Url("~/Scripts/JQGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
 
<style type="text/css">
	.control-label {
		font-size: 18px;
	}
</style>

<h3 style="margin-left: 8px;">Estação: @ViewBag.Linha | @ViewBag.Posto</h3>

<div class="content-wrapper">

	<form action="@Url.Action("AmarraLote", "Home")" method="POST" id="frmInsereAP">

		<div class="validation-summary-errors2" style="display: none; margin-left: -40px; font-size: 16px; color: rgb(255, 0, 0); font-weight: bold;">
			<ul style="list-style-type: none;">
				<li>Posto bloqueado por leitura repetida. Favor Solicitar ao supervisor a liberação</li>
			</ul>
		</div>

		@Html.ValidationSummary(true)

		<div class="panel panel-default" style="width: 400px;">
			<div class="panel-heading"><h4>AP</h4></div>
			<div class="panel-body">
				<div class="row">
					@Html.LabelFor(Model => Model.CodFab, new { @class = "control-label" })<br />
					<div class="input-group input-group-lg">
						<input type="text" name="CodFab" id="CodFab" maxlength="2" value="" placeholder="Fábrica" class="form-control input-lg" style="width: 100px; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; " />
						<label id="NomFab" class="input-group-addon input-lg" style="width: 390px; border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;">Informe o código da fábrica.</label>
					</div>
				</div>
				<br />

				<div class="row">
					@Html.LabelFor(Model => Model.NumAP, new { @class = "control-label" })
					<br />
					<div class="input-group input-group-lg">
						@Html.TextBoxFor(Model => Model.NumAP, new { @class = "form-control input-lg text-uppercase", placeholder = "Informe o número da AP.", style = "border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;" })
						<div class="input-group-btn">
							<a class="btn btn-default" name="btnConsAP" id="btnConsAP" title="Ver itens" data-loading-text="Carregando..." onclick="AbreItens();"><span class="glyphicon glyphicon-th-list"></span></a>
						</div>
					</div>
					@if (ViewBag.Setor == "IAC")
					{
					<a style="padding-left: 10px; text-decoration: none; margin-top: 3px;" onclick="fn_AbrirTelaListaAP(); " href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Consultar AP</a>
					}
					
					@if (ViewBag.Setor == "IMC")
					{
					<input type="button" id="AdicionarAP" value="Adicionar AP" onclick="teste()" class="btn bttn-red" />
					}

					<input type="hidden" id="contAP" name="contAP" value="0" />

					<div id="divNovaAP"></div>
				</div>
				<br />

				<div class="row">
					@Html.LabelFor(Model => Model.DatReferencia, new { @class = "control-label" })<br />
					@Html.TextBoxFor(Model => Model.DatReferencia, new { @class = "form-control input-lg calendar-lg" })
				</div>

				<div class="row">
					<div id="dvSupervisor" style="display: none;">
						@Html.LabelFor(Model => Model.CrachaSupervisor, new { @class = "control-label" })<br />
						@Html.PasswordFor(Model => Model.CrachaSupervisor, new { @class = "form-control", placeholder = "Informe o crachá do supervisor." })
					</div>
				</div>
			</div>

		</div>
		<input class="bttn bttn-sm bttn-red" type="submit" value="Enviar" id="btnEnviar" />
	</form>

	<div class="panel panel-info hidden" id="pnlItens" style="position: absolute; top:130px; left: 430px; width: 500px;">
		<div class="panel-heading"><button type="button" class="close" onclick="$('#pnlItens').addClass('hidden');"><span aria-hidden="true">&times;</span></button><h4>Itens Rastreáveis na AP</h4></div>
		<div class="panel-body" style="width: 100%; height: 100%;">
			<div id="grdDados" class="table-responsive" style="width: 100%; height: 100%;">&nbsp;</div>
		</div>
	</div>
</div>

<div id="dvDialogListarAP" style="display: none; width: 100%;">
	<div>
		<table id="tbListaAP" style="width: 100%">
			<tr>
				<td>
					<input type="text" placeholder="Informe Modelo ou NE" /></td>
				<td class="btn bttn-red"><a href="#"></a>Buscar</td>
			</tr>


		</table>
	</div>

</div>

<!-- Modal -->
<div class="modal fade" id="ModalConsultaAP" role="dialog" style="margin-top: 3%">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="" style="padding: 10px 10px; background: crimson; color: floralwhite">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 style="color: white !important; text-align: center; font-size: 20px;"><span class="glyphicon glyphicon-search"></span>  Localizar AP</h4>
			</div>
			<div class="modal-body" style="padding: 40px 50px;">
				<div class="row">
					<div class="col-md-6">
						<label class="label-formulario">Processo:</label>
						<select id="cmbProcesso" name="processo" class="form-control input-sm">
							<option value="">Selecione o Processo</option>
							<option value="01-03">01-03	AXIAL </option>
							<option value="01-04">01-04	RADIAL </option>
							<option value="01-05">01-05	SMD BOTTOM  </option>
							<option value="01-06">01-06	SMD TOP  </option>
						</select>
					</div>
					<div class="col-md-6">
						<label for="ModalCodModelo">Digite NE:</label>
						<div class="input-group">
							<input type="text" class="form-control input-sm" id="ModalCodModelo">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default" style="height: 30px; padding-top: 3px;" onclick="getJson();"><span class="glyphicon glyphicon-zoom-in"></span>Buscar</button>
							</span>
						</div>
					</div>
					<div class="row">
						<div id="conteudoModalAP" class="col-md-12" style="margin-top: 10px;">
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>Cancel</button>
				</div>
			</div>

		</div>

	</div>
</div>

<script type="text/javascript">
 

	function getJson() {

		if ($('#cmbProcesso').val() == '') {
			alert("Por favor Selecione o Processo");
		} else if ($('#ModalCodModelo').val() == '') {
			alert("Digite o Codido do Modelo");
		} else {


			$.ajax({
				url:"/Home/GetApsModelo?codProcesso=" + $("#cmbProcesso").val() + "&codModelo=" + $("#ModalCodModelo").val(),
				dataType: "json",
				beforeSend: function () {
					$("#conteudoModalAP").html("<b style='color: red !important; text-align: center; font-size: 15px'>Carregando...</b>");
				},
				success: function (data) {
					var html = '<div class="row"  style="background-color:lavender; padding-top: 3px;">' +
					 '<div class="col-md-2">AP</div>' +
					 "<div class='col-md-4'>Descricao</div>" +
					 "<div class='col-md-2'>Modelo</div>" +
					 "<div class='col-md-2'>Lote</div>" +
					 "<div class='col-md-2'>Qtd.</div>" +
					 '</div>';
					$.each(data, function (indice, valor) {

						//alert(JSON.stringify(valor));

						html += '' +
							 '<div class="row" style="cursor: pointer; padding-top: 3px;" onclick="selecionar(\'' + valor.numAP + '\',\'' + valor.codFab + '\');">' +
							 '<div class="col-md-2">' + valor.numAP + "</div>" +
							 '<div class="col-md-4">' + valor.desitem + "</div>" +
							 "<div class='col-md-2'>" + valor.CodModelo + "</div>" +
							 "<div class='col-md-2'>" + valor.QtdLoteAP + "</div>" +
							 "<div class='col-md-2'>" + valor.QtdProduzida + "</div>" +
							 '</div>';

					});


					$("#conteudoModalAP").html(html);
				},
				complete: function () {
					
				}
			});

		}
	}

	function selecionar(ap, fab) {
		$("#NumAP").val(ap);
		$("#CodFab").val(fab);
		$('#ModalConsultaAP').modal('toggle');

	}

	function fn_AbrirTelaListaAP() {
		$("#ModalCodModelo").val("");
		$("#cmbProcesso").val("");
	
		$("#ModalConsultaAP").modal();
	}

	function teste() {

		var contador = parseInt($('#contAP').val()) + 1;

		inputs = "<div class='input-group input-group-lg' id='dvNovoCampo_" + contador + "'>" +
				 "<input type='text' class='form-control input-lg numAP' onblur='FormataAP(this);' style='border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;' name='numAP_" + contador + "' id='numAP_" + contador + "' value=''>" +
				 "<div class='input-group-btn'>" + 
				 "	<a id='removerAP_" + contador + "' value='Remover AP' onclick='ExcluirAP(" + contador + ");' class='btn btn-danger'><span class='glyphicon glyphicon-trash'></span></a></br> " +
				 "</div>"
				 "</div>";

		$("#divNovaAP").append(inputs);

		$('#contAP').val(contador);
	}

	function ExcluirAP(id) {

		var contador = parseInt($('#contAP').val()) - 1;

		$("#dvNovoCampo_" + id).remove();

		$('#contAP').val(contador);

		ReordenarID();
	}

	function ReordenarID() {
		$("#divNovaAP div").each(function (index, value) {

			//Altera o id da div
			$("#" + value.id).attr("id", "dvNovoCampo_" + (index + 1));

			//altera o id dos inputs
			$("#" + value.id + " input[type=text]").each(function (id, val) {

				$("#" + val.id).attr("name", "numAP_" + (index + 1));
				$("#" + val.id).attr("id", "numAP_" + (index + 1));
			});


			//altera o id dos button
			$("#" + value.id + " input[type=button]").each(function (id, val) {

				$("#" + val.id).attr("onclick", "ExcluirAP(" + (index + 1) + ")");
				$("#" + val.id).attr("id", "removerAP_" + (index + 1));
			});
		});
	}


	var setor = "@ViewBag.Setor";
	var postoBloqueado = "@ViewBag.PostoBloqueado";

	$(document).ready(function () {
	   
		$('#CodFab').focus();

		$("#DatReferencia").datepicker();

		if (postoBloqueado == "S") {
			$("#dvSupervisor").css('display', 'inline');
			$(".validation-summary-errors2").css('display', 'inline');
		} else {
			$("#dvSupervisor").css('display', 'none');
			$(".validation-summary-errors2").css('display', 'none');
			
		}

		if (setor != "IMC") {
			$('#divAP2').css('display', 'none');
		}

		$("#CodFab").blur(function () {

			if ($("#CodFab").val() == "") return;

			$("#CodFab").val(padLeft($("#CodFab").val(), 2));

			$("#NomFab").val("");

			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoFabrica/",
				data: { CodFab: $("#CodFab").val() },
				success: function (data) {
					$("#NomFab").html(data);
				}
			});
		});
		$("#NumAP").focus(function () { $(this).val(''); });
		$("#NumAP").blur(function () { FormataAP(this); });

		$('body').on('keydown', 'input, select, textarea', function (e) {
			var self = $(this)
			  , form = self.parents('form:eq(0)')
			  , focusable
			  , next
			;

			var key = (window.event) ? e.keyCode : e.which;

			//alert(key);

			if (key == 13) {
				focusable = form.find('input,select,textarea').filter(':visible');
				next = focusable.eq(focusable.index(this) + 1);
				if (next.length) {
					next.focus();
				} else {
					focusable.click();
				}
				return false;
			}
		});
	});

	function FormataAP (campo) {
		if ($(campo).val() == "") return;

		$(campo).val(padLeft($(campo).val().toUpperCase(), 6));
	}

	function AbreItens() {

		var codFab = $("#CodFab").val();
		var numAP = $("#NumAP").val();

		if (codFab == "" || numAP == "") {
			alert("Informe a fábrica e a AP para consultar");
			return false;
		}

		$("#grdDados").html("<div class='jumbotron'><h1>Carregando...</h1></div>");
		var $btn = $("#btnConsAP").button('loading');

		$.ajax({
			type: "GET",
			url: "/Coleta/Home/ObterItensRastreaveisAP",
			data: { CodFab: codFab, NumAP: numAP },
			success: function (data) {
				$("#grdDados").html(data);
				$btn.button('reset');
			}
		});

		$("#pnlItens").removeClass("hidden");

		return false;

	}

	$(".validation-summary-errors").css("margin-left", "0px");
	$(".validation-summary-errors").css("font-size", "16px");
	$(".validation-summary-errors").css("color", "red");
	$(".validation-summary-errors").css("font-weight", "bold");
	$(".validation-summary-errors ul").css("list-style-type", "none");

</script>
