﻿@model SEMP.Model.DTO.CBAmarraDTO

@{
    ViewBag.Title = "Amarração";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
    ViewBag.Sistema = "Rastreabilidade";
    ViewBag.Rotina = "Amarração";
	if (retornologin == null)
	{
		retornologin = new SEMP.Model.VO.RetornoLogin();
		retornologin.CodDRT = "";
	}
    else
    {
        ViewBag.NomeUsuario = retornologin.NomFuncionario;
    }
}

<link href="@Styles.Url("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Styles.Url("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Styles.Url("~/Content/ui.multiselect.css")" rel="stylesheet" type="text/css" />

<style type="text/css">

    .control-label {
        font-size: 18px;
    }

</style>

<h3 style="margin-left: 8px;">Estação: @ViewBag.Linha | @ViewBag.Posto</h3>
<div class="content-wrapper">
	
	<form action="@Url.Action("Amarracao","Home")" method="POST" id="frmInsereAP">
		@Html.ValidationSummary(true)

		<div class="panel panel-default" style="width: 400px;">
			<div class="panel-heading"><h4>AP</h4></div>
			<div class="panel-body">
				<div class="row">
					@Html.LabelFor(Model => Model.CodFab, new { @class="control-label"})<br />
					<div class="input-group input-group-lg">
						<input type="text" name="CodFab" id="CodFab" maxlength="2" value="" placeholder="Fábrica" class="form-control input-lg" style="width: 100px; border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; " />
						<label id="NomFab" class="input-group-addon input-lg" style="width: 390px; border-top-left-radius: 0 !important; border-bottom-left-radius: 0 !important;">Informe o código da fábrica.</label>
					</div>
				</div>
				<br />

				<div class="row">
					@Html.LabelFor(Model => Model.NumAP, new { @class = "control-label" })<br />
					<div class="input-group input-group-lg">
						@Html.TextBoxFor(Model => Model.NumAP, new { @class = "form-control input-lg", placeholder = "Informe o número da AP.", style = "border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;" })
						<div class="input-group-btn">
							<a class="btn btn-default" name="btnConsAP" id="btnConsAP" title="Ver itens" data-loading-text="Carregando..." onclick="AbreItens();"><span class="glyphicon glyphicon-th-list"></span></a>
						</div>
					</div>
				</div>
				<br />

				<div class="row">
					@Html.LabelFor(Model => Model.DataReferencia, new { @class = "control-label" })<br />
					@Html.TextBoxFor(Model => Model.DataReferencia, new { @class = "form-control input-lg calendar-lg" })
				</div>

				<div class="row">
					<div id="dvSupervisor" style="display: none;">
						@Html.LabelFor(Model => Model.CrachaSupervisor, new { @class = "control-label" })<br />
						@Html.PasswordFor(Model => Model.CrachaSupervisor, new { @class="form-control", placeholder = "Informe o crachá do supervisor." })
					</div>
				</div>
			</div>

		</div>

		<input class="bttn bttn-sm bttn-red" type="submit" value="Enviar" id="btnEnviar" />
	</form>

	<div class="panel panel-info hidden" id="pnlItens" style="position: absolute; top:130px; left: 430px; width: 500px;">
		<div class="panel-heading"><button type="button" class="close" onclick="$('#pnlItens').addClass('hidden');"><span aria-hidden="true">&times;</span></button><h4>Itens Rastreáveis na AP</h4></div>
		<div class="panel-body" style="width: 100%; height: 100%;">
			<div id="grdDados" class="table-responsive" style="width: 100%; height: 100%;">&nbsp;</div>
		</div>
	</div>
</div>

@section Scripts{
<script src="@Scripts.Url("~/Scripts/JQGrid/grid.locale-ptbr.js")" type="text/javascript"></script>
<script src="@Scripts.Url("~/Scripts/JQGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>

<script type="text/javascript">
	function grid() {
		var lastSel = 0;

		$("#list").jqGrid({
			url: '/Home/PagingAndSorting/',
			datatype: 'json',
			mtype: 'GET',
			colNames: ['Codigo', 'DesLinha', 'DesObs'],
			colModel: [
					  { name: 'Codigo', index: 'CodLinha', width: 50, align: 'center' },
					  { name: 'DesLinha', index: 'DesLinha', width: 240, align: 'left' },
					  { name: 'DesObs', index: 'DesObs', width: 200, align: 'left' }
			],
			pager: jQuery('#pager'),
			rowNum: 10,
			rowList: [5, 10, 20, 50, 100],
			sortname: 'Id',
			sortorder: "desc",
			viewrecords: true,
			caption: 'Usuarios',
			width: 800//,
			//onSelectRow: function (id) {
			//    var mydata = $("#list").jqGrid('getRowData');
			//    alert(mydata[id]['DesLinha']);
			//},
		});
	}

	function reload() {
		jQuery("#list").trigger("reloadGrid")
	}

	$(document).ready(function () {
		grid();
		$('#CodFab').focus();

		$("#DataReferencia").datepicker();

		$("#DataReferencia").change(function () {
			$("#dvSupervisor").css('display', 'inline');
		});

		$("#CodFab").blur(function () {

			if ($("#CodFab").val() == "") return;

			$("#CodFab").val(padLeft($("#CodFab").val(), 2));

			$("#NomFab").val("");

			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoFabrica/",
				data: { CodFab: $("#CodFab").val() },
				success: function (data) {
					$("#NomFab").html(data);
				}
			});
		});
		$("#NumAP").blur(function () {
			if ($("#NumAP").val() == "") return;

			$("#NumAP").val(padLeft($("#NumAP").val().toUpperCase(), 6));
		});

		$('body').on('keydown', 'input, select, textarea', function (e) {
			var self = $(this)
			  , form = self.parents('form:eq(0)')
			  , focusable
			  , next
			;

			var key = (window.event) ? e.keyCode : e.which;

			//alert(key);

			if (key == 13) {
				focusable = form.find('input,select,textarea').filter(':visible');
				next = focusable.eq(focusable.index(this) + 1);
				if (next.length) {
					next.focus();
				} else {
					focusable.click();
				}
				return false;
			}
		});
	});

	function AbreItens() {

		var codFab = $("#CodFab").val();
		var numAP = $("#NumAP").val();

		if (codFab == "" || numAP == "") {
			alert("Informe a fábrica e a AP para consultar");
			return false;
		}

		$("#grdDados").html("<div class='jumbotron'><h1>Carregando...</h1></div>");
		var $btn = $("#btnConsAP").button('loading');

		$.ajax({
			type: "GET",
			url: "/Coleta/Home/ObterItensRastreaveisAP",
			data: { CodFab: codFab, NumAP: numAP },
			success: function (data) {
				$("#grdDados").html(data);
				$btn.button('reset');
			}
		});

		$("#pnlItens").removeClass("hidden");

		return false;

	}


    $(".validation-summary-errors").css("margin-left", "-40px");
    $(".validation-summary-errors").css("font-size", "16px");
    $(".validation-summary-errors").css("color", "red");
    $(".validation-summary-errors").css("font-weight", "bold");
    $(".validation-summary-errors ul").css("list-style-type", "none");

</script>
}