﻿@model IEnumerable<SEMP.Model.DTO.CBCadDefeitoDTO>

@{
    ViewBag.Title = "Lista de Defeitos";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Styles.Render("~/Content/jqueryui")
@Styles.Render("~/Content/csssite")
@Styles.Render("~/Content/bootstrap")

<script>
    function bt_codDefeito(codigo)
    {
        top.opener.document.getElementById("txtLeitura").value = codigo;
        top.opener.document.getElementById("txtLeitura").focus();
        window.close();
    }
</script>

<div>
	<div class="grid-defeito">
		<table id="tbListaDefeito" style="width: 100%;" class="table-semp">
			<thead>
				<tr>
					<th>@Html.DisplayNameFor(model => model.CodDefeito)</th>
					<th>@Html.DisplayNameFor(model => model.DesDefeito)</th>
				</tr>
			</thead>
            <tbody>
                   @foreach (var item in Model) {
                       <tr>
                           <td style="text-align: center;" onclick="bt_codDefeito(@Html.DisplayFor(modelItem => item.CodDefeito));">@Html.DisplayFor(modelItem => item.CodDefeito)</td>
                           <td>@Html.DisplayFor(modelItem => item.DesDefeito)</td>
                       </tr>
                   }
			</tbody>
		</table>
	 </div>
</div>





