﻿
@{
	ViewBag.Title = "SISAP - Posto Passagem";
	//Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@*@Scripts.Render("~/bundles/bootstrap")*@
@*@Scripts.Render("~/bundles/scripts")*@

@Styles.Render("~/Content/jqueryui")
@Styles.Render("~/Content/csssite")
@Styles.Render("~/Content/bootstrap")

<script type="text/javascript">

	$(document).ready(function () {

		$("#txtLeitura").focus();

		$('#txtLeitura').keypress(function (evt) {
			if (evt.keyCode == 13) {
				fn_rastrear();
			}
		});
	});

	function fn_rastrear() {

		var leitura = $('#txtLeitura').val();

		//Passagem
		$.ajax({
			type: "GET",
			url: "../Posto/RastrearPassagem?NumSerie="+leitura,
			dataType: "json",
			cache: false,
			async: true,
			beforeSend: function () {
				$("#tbListaPassagem tbody").html("<tr><td>Carregando...</td></tr>");
			},
			success: function (data) {
				
				var html = "";

				$("#tbListaPassagem tbody").html(html);

				if (data.length > 0) {
					$.each(data, function (i, item) {
						html = "<tr>" +
									"<td>" + item.Linha + "</td>" +
									"<td>" + item.Posto + "</td>" +
									"<td>" + item.Data + "</td>" +
							   "</tr>";

						$("#tbListaPassagem tbody").append(html);
					});
				}
				else {
					$("#tbListaPassagem tbody").html("<tr><td>Nenhum registro encontrado.</td></tr>");
				}
			}
		});

		//Amarracao
		$.ajax({
			type: "GET",
			url: "../Posto/RastrearAmarracao?NumSerie=" + leitura,
			dataType: "json",
			cache: false,
			async: true,
			beforeSend: function () {
				$("#tbListaAmarracao tbody").html("<tr><td>Carregando...</td></tr>");
			},
			success: function (data) {

				var html = "";

				$("#tbListaAmarracao tbody").html(html);

				if (data.length > 0) {

					$.each(data, function (i, item) {

						html = "<tr>" +
									"<td>" + item.NumSerie + "</td>" +
									"<td>" + item.Item + "</td>" +
									"<td>" + item.Tipo + "</td>" +
									"<td>" + item.Linha + "</td>" +
									"<td>" + item.Posto + "</td>" +
									"<td>" + item.Data + "</td>" +
							   "</tr>";

						$("#tbListaAmarracao tbody").append(html);
					});
				}
				else {
					$("#tbListaAmarracao tbody").html("<tr><td>Nenhum registro encontrado.</td></tr>");
				}
			}
		});

		//Defeito
		$.ajax({
			type: "GET",
			url: "../Posto/RastrearDefeito?NumSerie=" + leitura,
			dataType: "json",
			cache: false,
			async: true,
			beforeSend: function () {
				$("#tbListaDefeito tbody").html("<tr><td>Carregando...</td></tr>");
			},
			success: function (data) {

				var html = "";

				$("#tbListaDefeito tbody").html(html);

				if (data.length > 0) {

				    var descStatus = "";

				    $.each(data, function (i, item) {

                        
				        if (item.FlgRevisado == 0) {
				            descStatus = "Defeito em aberto";
				        }
				        else if (item.FlgRevisado == 1) {
				            descStatus = "Revisado";
				        }
				        else if (item.FlgRevisado == 2) {
				            descStatus = "Defeito cancelado";
				        }
				        else if (item.FlgRevisado == 3) {
				            descStatus = "Scrap";
				        }
				        else if (item.FlgRevisado == 4) {
				            descStatus = "Alterado";
				        }

						html = "<tr>" +
									"<td>" + item.Linha + "</td>" +
									"<td>" + item.Posto + "</td>" +
									"<td>" + item.DataDefeito + "</td>" +
									"<td>" + item.CodDefeito + "</td>" +
									"<td>" + descStatus + "</td>" +
									"<td>" + item.Acao + "</td>" +
									"<td>" + item.DataReparo + "</td>" +
							   "</tr>";
						$("#tbListaDefeito tbody").append(html);
					});
				}
				else {
					$("#tbListaDefeito tbody").html("<tr><td>Nenhum registro encontrado.</td></tr>");
				}
			}
		});
	}


</script>
<style type="text/css">

.grid-passagem {
	width: 45%; 
	float: left; 
	border: solid 0px;
}

.grid-amarracao {
	width: 50%; 
	float: right; 
	/*border: solid 1px #808080;*/
}

.grid-defeito {
	margin-top: 20px;
	width: 100%; 
	float: left; 
	/*border: solid 1px #808080;*/
}

@@media only screen and (max-width: 800px) {
	.grid-passagem 
	{
		width: 100%;
	}

	.grid-amarracao
	{
		margin-top: 20px;
		float: left; 
		width: 100%;
	}

	.grid-defeito 
	{
		width: 100%;
	}
}

</style>

<div style="margin: 20px;">

	<div>
		Entre com o número de série que deseja rastrear:
		<input type="text" id="txtLeitura" name="txtLeitura" style="width: 90%;"/> 
		<input type="button" value="Rastrear" onclick="fn_rastrear();" class="bttn bttn-sm bttn-red"/>
	</div>

	<div style="margin-top: 10px;">
		<div class="grid-passagem">
			<h4>Passagem</h4>
			<table id="tbListaPassagem" style="width: 100%;" class="table-semp">
				<thead>
					<tr>
						<th>Linha</th>
						<th>Posto</th>
						<th>Data/Hora</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
		<div class="grid-amarracao">
			<h4>Amarração</h4>
			<table id="tbListaAmarracao" style="width: 100%;" class="table-semp">
				<thead>
					<tr>
						<th>Número de Série</th>
						<th>Item</th>
						<th>Tipo</th>
						<th>Linha</th>
						<th>Posto</th>
						<th>Data/Hora</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>
	<div>
		<div class="grid-defeito">
			<h4>Defeito</h4>
			<table id="tbListaDefeito" style="width: 100%;" class="table-semp">
				<thead>
					<tr>
						<th>Linha</th>
						<th>Posto</th>
						<th>Data/Hora Defeito</th>
						<th>Código do Defeito</th>
						<th>Status</th>
						<th>Ação</th>
						<th>Data/Hora Reparo</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>
</div>
