﻿@using System.Collections.Generic
@{
    ViewBag.Title = "SISAP - " + Model.DesPosto;
	Layout = "~/Views/Shared/_Layout.cshtml";
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = Model.DesPosto;
	ViewBag.NomeUsuario = retornologin.NomFuncionario;
}


<style type="text/css">

#tbListaItem tr.jqgrow td {
	white-space: normal !important;
	font-size:14px !important;
}

.ui-jqgrid-view {
	font-size:14px !important;
}

.grid-6-12 {width: 50%; float: left; border: solid 0px;}
.grid-7-12 {width: 48%; float: right; border: solid 1px #808080;}

@@media only screen and (max-width: 800px) {
	.grid-6-12 
	{
		width: 100%;
	}

	.grid-7-12
	{
		float: left; 
		width: 100%;
	}
}

.inputLeitura {
	padding: 3%;
	border-radius: 3px;
	background-color: lightgrey;      
	font-size: 28px !important;
}

    .classTabela table {
        width:100%;
    }

    .classTabela thead tr td{
        background: #808080;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        font-size: 18px;
    }

    .classTabela tbody tr td{
        background: #ebebeb;
        font-size: 16px;
        text-align: center;
    }

</style>

<div style="margin-left: 8px; float: left;">
	<h5>Estação: <b>@ViewBag.Linha | @ViewBag.Posto</b></h5>
</div>
<div style="float: right;">
	<h2>Total Recebido: <span id="spTotalProduzido">0</span></h2>
</div>
<div class="principal">
	<input type="text" name="txtLeitura" id="txtLeitura" autofocus="autofocus" placeholder="Leia o código de barras" class="passagem" style="text-align: center; width: 100%; height: 30px; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;" />
	<label id="lblMensagem" class="inputLeitura" style="width: 100%; align-content: center; text-align: center; font-size: 18px;">
		<span id="tempo"></span>
		AGUARDANDO ENVIO
	</label>
</div>
<br />

<div style="position: static; width: 100%;" id="dvExibeGrids">
    <div class="grid-6-12 ">
        <table id="list" class="classTabela" style="width: 100%;"></table>
    </div>
    <div class="grid-7-12" style="font-size: 15px; border: solid 2px #d7d7d7; background:  #e6e6e6; border-radius: 40px 10px">
        <table style="width: 100%; margin-top: 8px;  margin-left: 10px; padding-right: 10px;">
            <tr>
                <td>
                    <b>Último Lido:</b>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="dvUltimoLido" style="font-family: Arial; font-size: 20px;"></div>
                </td>
            </tr>
        </table>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        getTotalRecebido();
        getUltimosLidos();

        $("#txtLeitura").keypress(function (evt) {

            if (evt.keyCode == 13) {

                var txtLeitura = $("#txtLeitura").val();

                $.ajax({
                    type: "GET",
                    url: "/Posto/ValidarCaixaColetiva/",
                    data: { codigoBar: txtLeitura.toUpperCase(), codDRT: "@retornologin.CodDRT" },
                    dataType: "json",
                    beforeSend: function () {
                        $("#txtLeitura").val("");
                        $("#lblMensagem").html("VALIDANDO E SALVANDO...");
                    },
                    success: function (json) {
                        if (json.erro == true) {
                            $("#txtLeitura").val("");
                            $("#lblMensagem").html(json.msg);
                            $("#lblMensagem").css("background-color", json.cor);
                        }
                        else {
                            $("#txtLeitura").val("");
                            $("#lblMensagem").html(json.msg);
                            $("#lblMensagem").css("background-color", json.cor);
                            //$("#lblMensagem").css("background-color", "lightgrey");

                            getTotalRecebido();
                            getUltimosLidos();
                        }
                    },
                    error: function (xhr) {
                        alert("Erro ao ler o códgio de barras");
                    }
                });
            }
        });
    });

    function getTotalRecebido() {
        $.ajax({
            type: "GET",
            url: "/Posto/GetTotalRecebidoLote/",
            dataType: "json",
            success: function (json) {
                $('#spTotalProduzido').html(json.total);
            },
            error: function (xhr) {
                alert("Erro ao obter o total recebido.");
            }
        });
    }

    function getUltimosLidos() {
        $.ajax({
            type: "GET",
            url: "/Posto/GetUltimosRegistroLidosLote/",
            dataType: "json",
            success: function (json) {
                var html = "<thead><tr><td>Lote</td><td>Caixa Coletiva</td><td>Data Leitura</td></tr></thead><tbody>";

                $.each(json, function (key, data) {
                    html += "<tr><td>" + data.NumLotePai + "</td><td>" + data.NumLote + "</td><td>" + data.DatRecebimentoString + "</td></tr>";
                });

                html += "</tbody>";

                $("#list").html(html);

                var ultimoLido = "<b>Lote: </b>" + json[0].NumLotePai + " <br><b>Quanditade Caixas do Lote: </b>" + json[0].QuantidadeCaixaLote + " <br><b>Quantidade Caixas Pendentes do Lote: </b>" + json[0].QuantidadeCaixaPendente + " <br><b>Caixa Coletiva: </b>" + json[0].NumLote + "<br><b>Data Leitura: </b>" + json[0].DatRecebimentoString;

                $("#dvUltimoLido").html(ultimoLido);
            },
            error: function (xhr) {
                alert("Erro ao obter as ultimas leituras.");
            }
        });
    }

    $(window).click(function () {
        $("#txtLeitura").focus();
    });

</script>