﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.ItensRastreaveisAP>

@{ 
		var familias = ViewBag.familias != null ? (List<string>)ViewBag.familias : new List<string>() { };

		var join = (from m in Model
					from f in familias.Where(x => x == m.CodFam).DefaultIfEmpty()
					select new {
						m.CodItemAlt,
						m.DesItemAlt,
						m.Origem,
						m.CodFam,
						m.NomFam,
						Amarra = f != null && f.Count() > 0 ? "SIM" : "NÃO"
					})
					.OrderByDescending(x => x.Amarra)
					.ToList();
}

<table class="table-semp table-condensed table-hover">
	<thead>
		<tr>
			<th>Item</th>
			<th>Orig.</th>
			<th>Família</th>
			<th>Amarra</th>
		</tr>
	</thead>
	@if (Model != null && Model.Count() > 0)
	{
	<tbody>
		@foreach (var item in join)
		{
		<tr @if (item.Amarra == "SIM") { WriteLiteral("style='background-Color: #d9edf7;'"); }>
			<td>@Html.DisplayFor(modelItem => item.CodItemAlt) - @Html.DisplayFor(modelItem => item.DesItemAlt)</td>
			<td>@Html.DisplayFor(modelItem => item.Origem)</td>
			<td>@Html.DisplayFor(modelItem => item.CodFam) - @Html.DisplayFor(modelItem => item.NomFam)</td>
			<td>@item.Amarra</td>
		</tr>
		}
	</tbody>
	}
</table>
