﻿@using System.Collections.Generic
@{
	ViewBag.Title = "SISAP - Posto Passagem";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = Model.DesPosto;
	ViewBag.NomeUsuario = retornologin.NomFuncionario;
}

<link href="@Scripts.Url("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/ui.multiselect.css")" rel="stylesheet" type="text/css" />
	
<script src="@Scripts.Url("~/Scripts/JQGrid/grid.locale-pt-br.js")" type="text/javascript"></script>
<script src="@Scripts.Url("~/Scripts/JQGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>

<script type="text/javascript">
	function grid() {
		var lastSel = 0;

		$("#list").jqGrid({
			url: '/Home/HistoricoPassagem/',
			datatype: 'json',
			mtype: 'GET',
			colNames: ['Leitura', 'Hora', 'Modelo'],
			colModel: [
						{ name: 'Leitura', index: 'Leitura', width: 180, align: 'center' },
						{ name: 'Hora', index: 'Hora', width: 120, align: 'center' },
						{ name: 'Modelo', index: 'Modelo', width: 250, align: 'center'}
			],
			pager: jQuery('#pager'),
			//rowNum: 10,
			//rowList: [5, 10, 20, 50, 100],
			rowList: [],        // disable page size dropdown
			pgbuttons: false,     // disable page control like next, back button
			pgtext: null,         // disable pager text like 'Page 0 of 10'
			viewrecords: false,    // disable current view record text like 'View 1-10 of 100'
			sortname: 'Id',
			sortorder: "desc",
			cmTemplate: { sortable: false },
			//viewrecords: true,
			caption: 'Histórico',
			scrollOffset: 0,
			width: null,
			height: null,
			autowidth: true,
			autoheight: true,
			loadComplete: function () {
				//fn_contadoresPostoPassagem();
			}
		});
	}

	function gridContator() {
		var lastSel = 0;

		$("#tblContador").jqGrid({
			url: '/Home/Contador/',
			datatype: 'json',
			mtype: 'GET',
			colNames: ['Aprovados', 'Reprovados', 'Total'],
			colModel: [
						{ name: 'Aprovados', index: 'Aprovados', width: 150, align: 'center' },
						{ name: 'Reprovados', index: 'Reprovados', width: 150, align: 'center' },
						{ name: 'Total', index: 'Total', width: 150, align: 'center' }
			],
			pager: jQuery('#pagerContador'),
			//rowNum: 10,
			//rowList: [5, 10, 20, 50, 100],
			rowList: [],        // disable page size dropdown
			pgbuttons: false,     // disable page control like next, back button
			pgtext: null,         // disable pager text like 'Page 0 of 10'
			viewrecords: false,    // disable current view record text like 'View 1-10 of 100'
			sortname: 'Id',
			sortorder: "desc",
			cmTemplate: { sortable: false },
			//viewrecords: true,
			caption: 'Contador',
			scrollOffset: 0,
			width: null,
			height: null,
			autowidth: true,
			autoheight: true
		});
	}
		
	$(document).ready(function () {
		grid();
		//gridContator();
		$('.ui-jqgrid-titlebar-close').remove();
	});

	function reload() {
		jQuery("#list").trigger("reloadGrid");
	}

	function reloadContador() {
		//jQuery("#tblContador").trigger("reloadGrid");
	}

</script>


<style type="text/css">

#tbListaItem tr.jqgrow td {
	white-space: normal !important;
	font-size:14px !important;
}

.ui-jqgrid-view {
	font-size:14px !important;
}

.grid-6-12 {width: 50%; float: left; border: solid 0px;}
.grid-7-12 {width: 48%; float: right; border: solid 1px #808080;}

@@media only screen and (max-width: 800px) {
	.grid-6-12 
	{
		width: 100%;
	}

	.grid-7-12
	{
		float: left; 
		width: 100%;
	}
}

.inputLeitura {
	padding: 3%;
	border-radius: 3px;
	background-color: lightgrey;      
	font-size: 28px !important;
}

</style>
<div style="margin-left: 8px; float: left;">
	<h5>Estação: <b>@ViewBag.Linha | @ViewBag.Posto</b></h5>
</div>
<div style="position:absolute; margin-left: 46%;" id="divPosicao" name="divPosicao" hidden="hidden">
	<input type="text" name="txtPosicao" id="txtPosicao" maxlength="20" placeholder="Posição" class="passagem" style="text-align: center; width: 70%; height: 30px; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;" />

</div>
<div style="float: right;">
	<h2>Total Produzido: <span id="spTotalProduzido">0</span></h2>
</div>
<div class="principal">
	<input type="text" name="txtLeitura" id="txtLeitura" autofocus="autofocus" placeholder="Leia o código de barras" class="passagem" style="text-align: center; width: 100%; height: 30px; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;" />
	<label id="lblMensagem" class="inputLeitura" style="width: 100%; align-content: center; text-align: center; font-size: 18px;">
		<span id="tempo"></span>
		AGUARDANDO ENVIO
	</label>
</div>
<br />
<div style="position: static; width: 100%;" id="dvExibeGrids">
	<div class="grid-6-12">
		<table id="list"></table>
		<div id="pager" style="text-align:center;"></div>
	</div>
	<div class="grid-7-12" style="font-size: 15px; border: solid 2px #d7d7d7; background:  #e6e6e6; border-radius: 40px 10px">
	@*<table id="tblContador"></table>
	<div id="pagerContador" style="text-align:center;"></div>*@
		<table style="width: 100%; margin-top: 8px;  margin-left: 10px; padding-right: 10px;">
			<tr>
				<td colspan="2">
					<div id="dvExibePostoPassagem" style="font-family: Arial; font-size: 18px; display: none;">
						<table class="table-semp" style="text-align: center;" >
							<thead>
							<tr>
								<th>
									<span style="font-size: 20px; color: black; /*text-shadow: 1px 1px 0px #ff0;*/">
										Aprovados
									</span>
								</th>
								<th>
									<span style="font-size: 20px; color: black;">
										Reprovados
									</span>
								</th>
							</tr>
							</thead>
							<tbody>
							<tr style="background: #d7d7d7;">
								<td style="text-align: center; font-size: 22px; font-weight: bold;">
									<span id="spAprovados">
									0
									</span>
								</td>
								<td style="text-align: center; font-size: 22px; font-weight: bold;">
									<span id="spReprovados">
									0
									</span>
								</td>
							</tr>
							</tbody>
						</table>
						<br />
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div id="dvErros" style="font-family: Arial; font-size: 18px;">
						<table class="table-semp" style="text-align: center;">
							<thead>
								<tr>
									<th style="width: 33%;">
										<span style="font-size: 20px; color: black; /*text-shadow: 1px 1px 0px #ff0;*/">
											Repetidos
										</span>
									</th>
									<th>
										<span style="font-size: 20px; color: black;">
											Falta de Leitura
										</span>
									</th>
									<th>
										<span style="font-size: 20px; color: black;">
											Erro Leitura
										</span>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr style="background: #d7d7d7;">
									<td style="text-align: center; font-size: 20px; font-weight: bold;">
										<span id="spRepetidos">
											0
										</span>
									</td>
									<td style="text-align: center; font-size: 20px; font-weight: bold;">
										<span id="spFaltaLeitura">
											0
										</span>
									</td>
									<td style="text-align: center; font-size: 20px; font-weight: bold;">
										<span id="spErroLeitura">
											0
										</span>
									</td>
								</tr>
							</tbody>
						</table>
						<br />
					</div>
				</td>
			</tr>
		</table>
        
		<table style="width: 100%; margin-top: 5px;  margin-left: 10px; padding-right: 10px;">
			<tr>
				<td colspan="2">
					<div id="dvExibeRealPrevisto" style="font-family: Arial; font-size: 18px; display: none;">
						<table class="table-semp" style="text-align: center;">
							<thead>
								<tr>
									<th style="width: 50%;">
										<span style="font-size: 20px; color: black; /*text-shadow: 1px 1px 0px #ff0;*/">
											Previsto
										</span>
									</th>
									<th>
										<span style="font-size: 20px; color: black;">
											Real
										</span>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr style="background: #d7d7d7;">
									<td style="text-align: center; font-size: 40px; font-weight: bold;">
										<span id="spPrevisto">
											0
										</span>
									</td>
									<td style="text-align: center; font-size: 40px; font-weight: bold;">
										<span id="spReal">
											0
										</span>
									</td>
								</tr>
							</tbody>
						</table>
						<br />
					</div>
				</td>
			</tr>

		</table>
	</div>

</div>

<script>
	var apontaDefeito = false;
	var cancelar = false;
	var qtdErroLeitura = 0;
	var qtdRepetidos = 0;
	var qtdFaltaLeitura = 0;

	$(document).ready(function () {

		fn_PostoPassagemTablet();
		fn_totalProduzido();
		fn_contadoresPostoPassagem();

		$("#txtLeitura").keypress(function (evt) {


			var txtLeitura = $("#txtLeitura").val();

			if (evt.keyCode == 13) {

				$("#txtLeitura").val("");

				if (txtLeitura.toUpperCase() == "@SEMP.Model.Constantes.CANCELAR" && cancelar == false) {

					$("#txtLeitura").val("");
					$("#lblMensagem").html("@SEMP.Model.Constantes.CANCELAR");
					$("#lblMensagem").css("background-color", "Silver");
					cancelar = true;
					apontaDefeito = false;

				}
				else if (txtLeitura.toUpperCase() == "@SEMP.Model.Constantes.CANCELAR" && cancelar == true)
				{
					$("#txtLeitura").val("");
					$("#lblMensagem").html("AGUARDANDO ENVIO");
					$("#lblMensagem").css("background-color", "Silver");
					cancelar = false;
					apontaDefeito = false;
				}
				else if ((txtLeitura.length == "@SEMP.Model.Constantes.TAM_DEFEITO" || txtLeitura.length == "@SEMP.Model.Constantes.TAM_DEFEITO_NOVO") && validate(txtLeitura) == true) {

					$("#lblMensagem").html("VERIFICANDO DEFEITO...");

					//validatePostoDefeito();
					if(@ViewBag.CodTipoPosto == 16)
					{
						document.getElementById('divPosicao').style.display = "block";
						document.getElementById('txtPosicao').focus();
					}

					fn_ajaxGet("/posto/ObterDesDefeito/", "?codDefeito=" + txtLeitura.toUpperCase(), fn_retornoObter);


				}
				else if ((apontaDefeito == true) && (txtLeitura.length == "@SEMP.Model.Constantes.TAM_PLACA") ||
                        ((apontaDefeito == true) && txtLeitura.length == "@SEMP.Model.Constantes.TAM_PRODUTO") ||
                        (apontaDefeito == true) && (txtLeitura.length == "@SEMP.Model.Constantes.TAM_PLACA_INFORMATICA" || txtLeitura.length == "@SEMP.Model.Constantes.TAM_PRODUTO_INFORMATICA"))
				{
					//fn_ajaxGet("/posto/GetValida/", "?numECB=" + txtLeitura.toUpperCase() + "&codDRT=@retornologin.CodDRT", fn_retornoValida);
					$.ajax({
						type: "GET",
						url: "/posto/GetValida/",
						data: { numECB: txtLeitura.toUpperCase(), codDRT: "@retornologin.CodDRT" },
						dataType: "json",
						success: function (json) {
							var defeito = $("#lblMensagem").html().substring(0, 5);
							if (defeito == "LEIT" || defeito == "DEFEI"){
								$("#lblMensagem").html("DEFEITO INVÁLIDO");
								$("#lblMensagem").css("background-color", "red");
								return;
							}

							if (json.CodMensagem == "@SEMP.Model.Constantes.RAST_OK") {
								$.ajax({
									type: "GET",
									url: "/posto/InserirDefeito/",
									data: { codDefeito: defeito, numSerie: txtLeitura.toUpperCase(), codDRT: "@retornologin.CodDRT" },
									dataType: "json",
									success: function (json2) {
										if(@ViewBag.CodTipoPosto == 16)
										{
											document.getElementById('divPosicao').style.display = "none";
											$.ajax({
												type: "GET",
												url: "/posto/InserirPosicao/",
												data: { NumSerie: txtLeitura.toUpperCase(), Posicao: $("#txtPosicao").val().toUpperCase() },
												dataType: "json",
												success: function (json3) {
													if(json3.CodMensagem != "@SEMP.Model.Constantes.RAST_OK"){
														$("#txtPosicao").val("");
														$("#lblMensagem").html("Erro ao inserir Posicao: " + json3.DesMensagem);
														$("#lblMensagem").css("background-color", json3.DesCor);
														//$("#txtLeitura").val("");
													} else {
														$("#txtPosicao").val("");
														$("#lblMensagem").html(json3.DesMensagem);
														$("#lblMensagem").css("background-color", json3.DesCor);
														//$("#txtLeitura").val("");
													}
												},
												error: function (xhr) {
													fn_error(xhr);
												}
											});
										}

										$("#lblMensagem").html(json2.DesMensagem);
										$("#lblMensagem").css("background-color", json2.DesCor);
										$("#lblMensagem").css("font-color", "WHITE");
										//$("#txtLeitura").val("");
										apontaDefeito = false;
										reloadContador();
										fn_totalProduzido();
										fn_PostoPassagemTablet();
										fn_contadoresPostoPassagem();
									},
									error: function (xhr) {
										fn_error(xhr);
									}

								});
							}
							else
							{
								$("#lblMensagem").html(json.DesMensagem);
								$("#lblMensagem").css("background-color", json.DesCor);
								//$("#txtLeitura").val("");
								apontaDefeito = false;
							}
						},
						error: function (xhr) {
							fn_error(xhr);
						}
					});

				}
				else if ((txtLeitura.length == "@SEMP.Model.Constantes.TAM_PLACA") ||
                         (txtLeitura.length == "@SEMP.Model.Constantes.TAM_PRODUTO") ||
                         (txtLeitura.length == "@SEMP.Model.Constantes.TAM_PRODUTO_INFORMATICA") ||
                         (txtLeitura.length == "@SEMP.Model.Constantes.TAM_PLACA_INFORMATICA")) {
					if (cancelar == true) {
						$.ajax({
							type: "GET",
							url: "/posto/CancelarLeitura/",
							data: { numECB: txtLeitura.toUpperCase(), codDRT: "@retornologin.CodDRT" },
							dataType: "json",
							success: function (json) {

								if (json.CodMensagem == "@SEMP.Model.Constantes.ITEM_CANCELADO") {
									$("#lblMensagem").html(json.DesMensagem);
									$("#lblMensagem").css("background-color", json.DesCor);
									//$("#txtLeitura").val("");
									reload();
									reloadContador();
									fn_totalProduzido();
									fn_PostoPassagemTablet();
									fn_contadoresPostoPassagem();
									cancelar = false;
									return;
								}
								else
								{
									$("#lblMensagem").html(json.DesMensagem);
									$("#lblMensagem").css("background-color", json.DesCor);
									//$("#txtLeitura").val("");
									cancelar = false;
									return;
								}
							},
							error: function (xhr) {
								fn_error(xhr);
							}
						});
					}
					else
					{

						$("#lblMensagem").html("Enviando serial...");
						$.ajax({
							type: "GET",
							url: "/posto/GetValida/",
							data: { numECB: txtLeitura.toUpperCase(), codDRT: "@retornologin.CodDRT" },
							dataType: "json",
							success: function (json) {

								if (json.CodMensagem == "@SEMP.Model.Constantes.RAST_OK") {
									$.ajax({
										type: "GET",
										url: "/posto/RegistrarPassagem/",
										data: { numECB: txtLeitura, codDRT: "@retornologin.CodDRT" },
										dataType: "json",
										success: function (json2) {

											$("#lblMensagem").html(json2.DesMensagem);
											$("#lblMensagem").css("background-color", json2.DesCor);
											//$("#txtLeitura").val("");
											reload();
											reloadContador();
											fn_totalProduzido();
											fn_PostoPassagemTablet();
											fn_contadoresPostoPassagem();
										}
									});
								}
								else {
									$("#lblMensagem").html(json.DesMensagem);
									$("#lblMensagem").css("background-color", json.DesCor);
									//$("#txtLeitura").val("");
									
									if (json.CodMensagem == "@SEMP.Model.Constantes.RAST_LEITURA_REPETIDA") {
										qtdRepetidos++;
										$("#spRepetidos").html(qtdRepetidos);
									}
									else if (json.CodMensagem == "@SEMP.Model.Constantes.RAST_FORA_SEQUENCIA"){
										qtdFaltaLeitura++;
										$("#spFaltaLeitura").html(qtdFaltaLeitura);
									}
								}
							},
							error: function (xhr) {
								fn_error(xhr);
							}
						});
					}
				}
				else
				{
					$("#lblMensagem").html("Código de Barras Inválido");
					$("#lblMensagem").css("background-color", "Yellow");
					console.log("Erro de leitura: " + txtLeitura + " - Contador: " + qtdErroLeitura);
					//$("#txtLeitura").val("");
					qtdErroLeitura++;
					$("#spErroLeitura").html(qtdErroLeitura);
				}
			}
		});

	});

	$(window).click(function () {
		$("#txtLeitura").focus();
	});

	$('footer').click(function () {
		$("#txtLeitura").focus();
	});

	function fn_retornoDefeito(json) {
		$("#lblMensagem").html(json.DesMensagem);
		$("#lblMensagem").css("background-color", json.DesCor);
		$("#txtLeitura").val("");
		apontaDefeito = 0;
	}

	function fn_retornoObter(json) {

		if (json == "" || json == "DEFEITO INEXISTENTE") {
			$("#lblMensagem").html("Defeito não encontrado");
			apontaDefeito = false;
		} else {
			$("#lblMensagem").html(json);
			apontaDefeito = true;
		}

		$("#txtLeitura").val("");
		$("#lblMensagem").css("background-color", "ORANGE");

	}

	function fn_retornoValida(json) {
		if (json.CodMensagem == "@SEMP.Model.Constantes.RAST_OK") {
			fn_ajaxGet("/posto/RegistrarPassagem/", "?numECB=" + txtLeitura + "&codDRT=@retornologin.CodDRT", fn_retornoRegistar);
		}
		else {
			$("#lblMensagem").html(json.DesMensagem);
			$("#lblMensagem").css("background-color", json.DesCor);
			$("#txtLeitura").val("");
		}
	}

	function fn_retornoValidaDefeito(json) {
		if (json.CodMensagem == "@SEMP.Model.Constantes.RAST_OK") {
			fn_ajaxGet("/posto/InserirDefeito/", "?numECB=" + txtLeitura + "&codDRT=@retornologin.CodDRT", fn_retornoRegistar);
		}
		else {
			$("#lblMensagem").html(json.DesMensagem);
			$("#lblMensagem").css("background-color", json.DesCor);
			$("#txtLeitura").val("");
		}
	}


	function fn_retornoRegistar(json) {
		$("#lblMensagem").html(json.DesMensagem);
		$("#lblMensagem").css("background-color", json.DesCor);
		$("#txtLeitura").val("");
	}

	function fn_ajaxGet(urlPagina, parametros, returnData) {
		$.ajax({
			type: "GET",
			url: urlPagina + parametros,
			dataType: "json",
			cache: false,
			async: true,
			success: function (data) {
				returnData.call(this, data);
			},
			error: function (xhr, er) {
				if (xhr.status == 500 || xhr.status == 503) // service indisponivel
				{
					var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
					alert("Erro ao consultar: <br/>" + mensagem);
					document.location.href = "/";
				} else {
					$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
				}
			}
		});
	}

	function fn_error(xhr) {
		if (xhr.status == 500 || xhr.status == 503) // service indisponivel
		{
			var mensagem = xhr.status + " - " + xhr.statusText + "\n";
			alert("Erro ao consultar: \n" + mensagem);
			document.location.href = "/";
		} else {
			$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + " | " + xhr.responseText + "<br>");
		}
	}

	function fn_totalProduzido() {

		var url = '/Posto/ObterTotal';
		var codDRT = "@retornologin.CodDRT";

		$.ajax({
			type: "GET",
			url: url,
			dataType: "json",
			cache: false,
			async: true,
			success: function (data) {
				if (data.error == false) {
					$("#spTotalProduzido").html(data.total);
				}
			}
		});
	}

	function fn_contadoresPostoPassagem() {
		var url = '/Home/Contador/';

		var parametros = { sidx: "Id", sord: "desc", page: 1, rows: 20 };

		$.ajax({
			type: "GET",
			url: url,
			dataType: "json",
			data: parametros,
			cache: false,
			async: true,
			success: function (data) {
				$("#dvExibePostoPassagem").css('display', 'inline');
				$("#spAprovados").html(data.rows[0].cell[0]);
				$("#spReprovados").html(data.rows[0].cell[1]);
			}
		});

	}

	function fn_PostoPassagemTablet() {

		var codTipoPosto = "@ViewBag.CodTipoPosto";

		if (codTipoPosto == '27') {

			$("#dvExibeRealPrevisto").css('display', 'inline');

			var url = '/Posto/ObeterRealPrevisto/';

			$.ajax({
				type: "GET",
				url: url,
				dataType: "json",
				cache: false,
				async: true,
				success: function (data) {
					$('#spPrevisto').html(data.Previsto);
					$('#spReal').html(data.Real);
				}
			});
		}
		else {
			$("#dvExibeRealPrevisto").css('display', 'none');
		}
	}

	function validate(leitura) {

		var strPattern = "^[A-Za-z]{2}\\d{3}$|^\\d{4}$";

		var oTest1 = leitura;//document.getElementById('txtLeitura');

		var strOptions = "i";

		var oREGEXP = new RegExp(strPattern, strOptions);

		if (oREGEXP.test(oTest1)) {
			return true;
		}
		else {
			return false;
		}
	}

	function validatePostoDefeito() {
		var url = '/Posto/VerificaPostoDefeito/';
		var label = document.getElementById('lblMensagem');

		var parametros = { CodDefeito: txtLeitura };

		$.ajax({
			type: "GET",
			url: url,
			data: parametros,
			dataType: "json",
			success: function (data) {
				if (data == true) {
					fn_ajaxGet("/posto/ObterDesDefeito/", "?codDefeito=" + txtLeitura.toUpperCase(), fn_retornoObter);
				} else {
					$("#lblMensagem").html("DEFEITO NÃO CADASTRADO PARA ESSE POSTO");
					$("#lblMensagem").css("background-color", "Red");
					$("#txtLeitura").val("");
					apontaDefeito = false;
				}
			},
			error: function (xhr) {
				fn_error(xhr);
			}
		});
	}


	$(window).bind('keydown', function (e) {
		if (e.keyCode == 49 && e.altKey) {
			e.preventDefault();

			var URL = "ConsultarItem";
			var width = 900;
			var height = 500;
			var left = 99;
			var top = 99;

			window.open(URL, 'janela', 'width=' + width + ', height=' + height + ', top=' + top + ', left=' + left + ', scrollbars=yes, status=no, toolbar=no, location=no, directories=no, menubar=no, resizable=no, fullscreen=no');

		}
	});

</script>