﻿@{
	ViewBag.Title = "Embalagem";
	Layout = "~/Views/Shared/_Layout_Coleta.cshtml";

	var linhaAtual = ViewBag.Linha;
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Embalagem";

	if (retornologin == null)
	{
		retornologin = new SEMP.Model.VO.RetornoLogin();
		retornologin.CodDRT = "";
	}
	else
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}
}
@Scripts.Render("~/bundles/knockout")

<link href="@Styles.Url("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Styles.Url("~/Content/ui.multiselect.css")" rel="stylesheet" type="text/css" />
<link href="@Styles.Url("~/Content/postoEmbalagem.css")" rel="stylesheet" type="text/css" />

<div class="row">
	<div class="col-md-4" style="font-size: 16px;">
		<div style='width: 380px; height: 20px; overflow: hidden;'>
			<b> Estação: </b>
			<span>@ViewBag.DesLinha</span> |
			<span>@ViewBag.DesPosto</span>
		</div>
		<div><b>Setor: </b><span>@ViewBag.Fabrica</span></div>

		<ul data-bind="foreach: APs">
			<li>
				<div>
					<b> AP:			</b> <span data-bind="text: numAP"></span> &nbsp;&nbsp; |
					<b> Qtd. AP:	</b> <span data-bind="text: qtdLoteAP"></span> &nbsp;&nbsp; /
					<b> Embalado:	</b> <span data-bind="text: qtdEmbalado"></span>
				</div>
				<div>
					<b> Modelo:		</b> <span data-bind="text: desModelo"></span>
				</div>
			</li>
		</ul>
	</div>

	<div class="col-md-4 text-center">
		<div id="divPosicao" name="divPosicao" hidden="hidden">
			<input type="text" name="txtPosicao" id="txtPosicao" maxlength="20" placeholder="Posição" class="passagem"
				   style="text-align: center; width: 70%; height: 30px; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;"
				   data-bind="value: posicao" />
		</div>
		<div id="divMenu">
			<ul id="menuEmb">
				<li class="menuitem" style="border: 0px" onclick="fn_TrocarAP()">
					<img src="~/Content/images/btn_troca.png" class="botaoMenu" />
					<p style="color: red; font-weight:bold;  margin-top: 3%; border-color: black">Trocar AP</p>
				</li>
				<li class="menuitem" id="btnCaixaColetiva" style="border: 0px">
					<img src="~/Content/images/Magazine.png" class="botaoMenu" />
					<p style="color: red; font-weight:bold;  margin-top: 3%">Caixa Coletiva</p>
					<ul>
						<li id="btnAlterarTamanhoCC" onclick="fn_AbrirTelaAlterarTamanhoCC();"><a href="#">Tamanho</a></li>
						<li id="btnFecharCC" onclick="fn_BotaoFecharCC()"><a href="#">Fechar</a></li>

					</ul>
				</li>

				<li class="menuitem" id="btnLote" style="border: 0px">
					<img src="~/Content/images/Magazine.png" class="botaoMenu" />
					<p style="color: red; font-weight:bold;  margin-top: 3%">Lote (Pallet)</p>
					<ul>
						<li id="btnAlterarTamanhoLote" onclick="fn_AbrirTelaAlterarTamanhoLote();"><a href="#">Tamanho</a></li>
						<li id="btnFecharLote" onclick="fn_BotaoFecharLote()"><a href="#">Fechar</a></li>

					</ul>
				</li>

				<li class="menuitem" id="btnImprimir" style="border: 0px">
					<img src="~/Content/images/ImpEmb.png" class="botaoMenu" />
					<p style="color: red; font-weight:bold ; margin-top: 3% ">Imprimir</p>
					<ul>
						<li id="btnAtivarReimpressao" onclick="fn_AbrirTelaLoginReimpressaoEtiqueta();"><a href="#" style="padding: 0">Ativar Reimpressão</a></li>
						<li id="btnAjustarImpTraseira" onclick="$('#dvDialogAjustarImpressoraTraseira').dialog('open');" style="width: 100%"><a href="#" style="padding: 0">Ajustar Impressão</a></li>

						<li id="btnReimprimirCC" onclick="$('#dvDialogReimprimirEtqIMCIAC').dialog('open');"><a href="#">Caixa Coletiva</a></li>
					</ul>
				</li>
			</ul>


		</div>
	</div>
	<div class="col-md-4" style="text-align: right;">
		<h3>Produção Dia: <span data-bind="text: producaoDia"></span></h3>
		<h3>Embalado Modelo Atual: <span data-bind="text: producaoModelo"></span></h3>
		<h3 id="lbdefeito" data-bind='visible: VerificaIAC'>
			Total Defeito:
			<span data-bind="text: qtdDefeito"></span>
		</h3>
	</div>
</div>
<div class="principal" style="border: solid 0px;">
	<input type="text" name="txtLeitura" id="txtLeitura" autofocus="autofocus"
		   placeholder="Leia o código de barras" class="passagem"
		   style="text-align: center; width: 100%; height: 30px; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;"
		   data-bind="value: leitura, enable: leituraHabilitado" />
	<label id="lblMensagem" class="inputLeitura"
		   style="width: 100%; align-content: center; text-align: center; font-size: 18px;"
		   data-bind="text: mensagem, style: {backgroundColor: corMensagem, color: corTextoMensagem}"></label>
	<label style="float: right; font-size: 9px; margin-top: -5px; margin-bottom: -1px;" id="lbTempo" data-bind="text: tempo"></label>
	<label style="float: right; font-size: 9px; margin-top: -5px; margin-bottom: -1px;" id="lbTempoInsercao" data-bind="text: tempoInsercao"></label>
</div>
<br />

<div style="position: static; width: 100%;">
	<div class="grid-6-12">

		<table id="tbListaItem"></table>
		<div id="dvListaItem"></div>
		<br />

		<table id="tbListaLote"></table>
		<div id="dvListaLote"></div>

	</div>

	<div id="dvExibeUltimoLido" class="grid-7-12" style="font-size: 15px; border: solid 2px #d7d7d7; background:  #e6e6e6; border-radius: 40px 10px;">
		<table style="width: 100%; margin-top: 8px;  margin-left: 10px; padding-right: 10px;">
			<tr>
				<td>
					<b>Última Leitura:</b>
					<span data-bind="text: ultSerieLida, attr: {title: loteAberto}"></span>
				</td>
				<td style="text-align: right;">
					<a href="#" style="text-decoration: none;" onclick="jQuery('#tbListaItem2').trigger('reloadGrid'); $('#dvDialogHistorico').dialog('open');">Visualizar histórico</a>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div id="dvUltimoLido" style="font-family: Arial; font-size: 18px;">
						<b>Produto :</b> <span data-bind="text: ultLeitura"></span><br>
						<b>Data Leitura :</b> <span data-bind="text: datUltLeitura"></span><br>
						<b>Caixa Coletiva :</b> <span data-bind="text: numCC"></span><br>
						<b>Lote :</b> <span data-bind="text: numLote"></span> [<span data-bind="text: qtdLote"></span>/<span data-bind="text: qtdLoteMax"></span>]<br>
					</div>

					<div style="font-family: Arial; font-size: 18px;">
						<b>AP Atual: </b><span data-bind="text: apAtual"></span>
					</div>

					<div id="QtdeCCLido" style="font-family: Arial; font-size: 18px;"
						 data-bind="foreach: APs">
						<div>
							<b>Caixa Coletiva AP: <span data-bind="text: numAP"></span>: </b>
							<span class="QtdColetiva">
								<span data-bind="text: qtdCC"></span> /
								<span data-bind="text: qtdCCMax"></span>
							</span>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</div>

</div>

<div class="principal" style="border: solid 0px;">

	<label style="float: right; font-size: 9px; margin-top: 0px; margin-bottom: -1px;" data-bind="text: tempoBanco"> </label>

</div>

<div id="dvDialogHistorico" style="display: none; width: 100%;">
	<div style="width: 100%;">
		<table id="tbListaItem2"></table>
		<div id="dvListaItem2"></div>
	</div>
</div>

<div id="dvDialogHoraHora" style="display: none; width: 100%;">
	<div style="width: 100%;">
		<table id="tbListaHoraHora"></table>
		<div id="dvListaHoraHora"></div>
	</div>
</div>

<div id="dvDialogFecharCC" style="display: none; width: 50%;">
	<div>
		<table id="tbFecharCC" style="width: 100%">
			<tr>
				<td><b>Número AP</b></td>
			</tr>
			<tr>
				<td><input type="text" required="required" title="Preencha uma AP válida" name="txtNumAPFecharCC" id="txtNumAPFecharCC" style="text-align:right; width: 20%; height: 20px" maxlength="6" /></td>
			</tr>
			<tr>
				<td><b>Justificativa</b></td>
			</tr>
			<tr>
				<td><textarea name="txtJustificativaFecharCC" required="required" title="Informe a justificativa para fechar esta Caixa Coletiva" id="txtJustificativaFecharCC" style=" width: 100%; height: 50px" maxlength="200"></textarea></td>
			</tr>
			<tr>
				<td>
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarFecharCC" onclick="fn_cancelarFechamentoCC();" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Salvar" style="float: right; margin-right: 5px" id="btnSalvarFecharCC" onclick="fn_FecharCCIncompleta()" />
				</td>
			</tr>
		</table>
	</div>
</div>

<div id="dvDialogFecharLote" style="display: none; width: 50%;">
	<div>
		<table id="tbFecharLote" style="width: 100%">
			<tr>
				<td><b>Número AP</b></td>
			</tr>
			<tr>
				<td><input type="text" required="required" title="Preencha uma AP válida" name="txtNumAPFecharLote" id="txtNumAPFecharLote" style="text-align:right; width: 20%; height: 20px" maxlength="6" /></td>
			</tr>
			<tr>
				<td><b>Justificativa</b></td>
			</tr>
			<tr>
				<td><textarea name="txtJustificativaFecharLote" required="required" title="Informe a justificativa para fechar este Lote" id="txtJustificativaFecharLote" style="width: 100%; height: 50px;" maxlength="200"></textarea></td>
			</tr>
			<tr>
				<td>
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarFecharLote" onclick="fn_cancelarFechamentoLote();" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Salvar" style="float: right; margin-right: 5px" id="btnSalvarFecharLote" onclick="fn_FecharLoteIncompleta()" />
				</td>
			</tr>
		</table>
	</div>
</div>

<div id="dvDialogReimprimirLogin" style="display: none; width: 100%;">
	<div>
		<table id="tbLoginReimprimir" style="width: 100%">
			<tr>
				<td style="width: 15%">Crachá: </td>
				<td>
					<input type="text" name="txtLoginReimpressao" id="txtLoginReimpressao" maxlength="50" style="margin-top: 8px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarReimpEtq" onclick="$('#dvDialogReimprimirLogin').dialog('close');" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Ativar" style="float: right; margin-right: 5px" id="btnAtivarReimpEtq" onclick="fn_AtivarReImpressaoEtiqueta();" />
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvDialogAlterarTamanhoCC" style="display: none; width: 100%;">
	<div>
		<table id="tbAlterarTamanhoCC" style="width: 100%">
			<tr>
				<td style="width: 15%">Tamanho: </td>
				<td>
					<input type="text" name="txtAlterarTamanhoCC" id="txtAlterarTamanhoCC" maxlength="50" style="margin-top: 8px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarAlteracaoCC" onclick="$('#dvDialogAlterarTamanhoCC').dialog('close')" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Alterar" style="float: right; margin-right: 5px" id="btnConfirmaTamanhoCC" onclick="fn_AlterarTamanhoCC()" />
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvDialogAlterarTamanhoLote" style="display: none; width: 100%;">
	<div>
		<table id="tbAlterarTamanhoLote" style="width: 100%">
			<tr>
				<td style="width: 15%">Tamanho: </td>
				<td>
					<input type="text" name="txtAlterarTamanhoLote" id="txtAlterarTamanhoLote" maxlength="50" style="margin-top: 8px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarAlteracaoLote" onclick="$('#dvDialogAlterarTamanhoLote').dialog('close')" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Alterar" style="float: right; margin-right: 5px" id="btnConfirmaTamanhoLote" onclick="fn_AlterarTamanhoLote()" />
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvDialogReimprimirEtqIMCIAC" style="display: none; width: 100%;">
	<div>
		<table id="tbReimprimirEtqIMCIAC" style="width: 100%">
			<tr>
				<td style="width: 100px;">Caixa Coletiva: </td>
				<td>
					<input type="text" name="txtReimprimirEtqCaixaColetiva" id="txtReimprimirEtqCaixaColetiva" maxlength="50" style="margin-top: 8px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarReimprimirEtqIMCIAC" onclick="$('#dvDialogReimprimirEtqIMCIAC').dialog('close');" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Imprimir" style="float: right; margin-right: 5px" id="btnConfirmaReimprimirEtqIMCIAC" onclick="fn_ReimprimirEtq();" />
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvDialogAjustarImpressoraTraseira" style="display: none; width: 100%;">
	<div>
		<table id="tbAjustarImpressoraTraseira" style="width: 100%">
			<tr>
				<td style="width: 15%">Quantidade: </td>
				<td>
					<input type="text" name="txtQtdeImpressoesAjustarImpressora" id="txtQtdeImpressoesAjustarImpressora" maxlength="50" style="margin-top: 8px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" onclick="$('#dvDialogAjustarImpressoraTraseira').dialog('close');" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Imprimir" style="float: right; margin-right: 5px" id="btnAjustarImpressoraTraseira" onclick="fn_AjustarImpressoraEtiquetaTraseiraTablet()" />
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvFormDinamico" style="display: inline;">
	<form action="" method="post" id="formDinamico" name="formDinamico">

		<input type="hidden" name="Fabrica" value="@ViewBag.CodigoFabrica" />
		<input type="hidden" name="NumeroAP" id="NumeroAP" value="" />
		<input type="hidden" name="Modelo" id="Modelo" value="" />
		<input type="hidden" name="CodDRT" value="@retornologin.CodDRT" />
		<input type="hidden" name="statusReimpressao" id="statusReimpressao" data-bind="value: statusReimpressao" />

		<input type="hidden" name="chkEtqReImpTablet_Coletiva" id="check_1" value="true" />
		<input type="hidden" name="chkEtqReImpTablet_Coletiva_Fina" id="check_2" value="true" />
		<input type="hidden" name="chkEtqReImpTablet_IndvTraseira" id="check_3" value="true" />
		<input type="hidden" name="chkEtqReImpTablet_IndvCaixaSimples" id="check_4" value="true" />
		<input type="hidden" name="chkEtqReImpTablet_IndvCaixaCompleta" id="check_5" value="true" />

		<input type="hidden" name="chkEtqReImpNotebook_IndvTraseira" id="check_6" value="true" />
		<input type="hidden" name="chkEtqReImpNotebook_IndvCaixaSimples" id="check_7" value="true" />
		<input type="hidden" name="chkEtqReImpNotebook_IndvaCaixaCompleta" id="check_8" value="true" />

		<div id="dvInputs">

		</div>

	</form>
</div>

@section Scripts {
	<script src="@Scripts.Url("~/Scripts/JQGrid/grid.locale-pt-br.js")" type="text/javascript"></script>
	<script src="@Scripts.Url("~/Scripts/JQGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
	<script src="@Scripts.Url("/JavaScript/TelaAmarraLoteJS")" type="text/javascript"></script>

	<script>
		var DadosAPs = @Html.Raw(Json.Encode(ViewBag.DadosAPs));
		var perfil = "@Html.Raw(ViewBag.Perfil)";
		var perfilAP = "@Html.Raw(ViewBag.PerfilAP)";
		var colunas = "@Html.Raw(ViewBag.ColunasHistorico)";


		modelo = new ViewModel("@ViewBag.QtdeLote", "@ViewBag.qtdeCC", "@ViewBag.CodLinha", "@ViewBag.CodLinhaT1",
			"@ViewBag.Setor", "@ViewBag.CodTipoPosto", "@ViewBag.CodigoFabrica", "@ViewBag.CodPosto",
			"@ViewBag.Familia", "@retornologin.CodDRT", "@ViewBag.ImprimeEtq", perfil, perfilAP, colunas,
			"@ViewBag.TempoLeitura", DadosAPs);

		ko.applyBindings(modelo);

	</script>



}