﻿@{
	ViewBag.Title = "Amarracao";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Amarração";
	if (retornologin == null)
	{
		retornologin = new SEMP.Model.VO.RetornoLogin();
		retornologin.CodDRT = "";
	}
	else
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}
}

<link href="@Scripts.Url("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/ui.multiselect.css")" rel="stylesheet" type="text/css" />

<script src="@Scripts.Url("~/Scripts/JQGrid/grid.locale-pt-br.js")" type="text/javascript"></script>
<script src="@Scripts.Url("~/Scripts/JQGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>

<script type="text/javascript">

	var postoPassagem = "@ViewBag.PostoPassagem";
	var tamanhoLargura = parseInt($(document).width()) - (parseInt($(document).width()) * 10 / 100);
	var apontaDefeito = false;
	var cancelar = false;
	
	function gridListaItem() {
		
		$("#tbListaItem").jqGrid({
			url: '/Home/CarregaPerfil/?Fabrica=@ViewBag.CodigoFabrica&NumAP=@ViewBag.NumeroAP&Modelo=@ViewBag.Modelo',
			datatype: 'json',
			mtype: 'GET',
			colNames: ['Tipo','Codigo', 'Item', 'Série'],
			colModel: [
					  { name: 'Tipo', index: 'Tipo', width: 100, align: 'left' },
					  { name: 'Codigo', index: 'Codigo', width: 100, align: 'left' },
					  { name: 'Item', index: 'Item', width: 300, align: 'left' },
					  { name: 'Serie', index: 'Serie', width: 400, align: 'left' }
			],
			rowList: [],        // disable page size dropdown
			pgbuttons: false,     // disable page control like next, back button
			pgtext: null,         // disable pager text like 'Page 0 of 10'
			sortname: 'Id',
			sortorder: "desc",
			cmTemplate: {sortable: false},
			viewrecords: true,
			caption: 'Leituras',
			//scrollOffset: 0,
			width: null,
			height: null,
			autowidth: true,
			autoheight: true,
			loadComplete: function () {
				//var myGrid = $('#tbListaItem');
				//var rowId = 1;
				//var teste = myGrid.jqGrid('setRowData', rowId, "", "", { 'background-color': '#CCCCC' });
				//alert(JSON.stringify(teste));
				fn_GetLblMensagem();
			}
			//onSelectRow: function (id) {
			//    var mydata = $("#list").jqGrid('getRowData');
			//    //alert(mydata[id]['DesLinha']);
			//    alert(id);
			//},
		});
	}

	function gridLista() {

		var colunas = "@Html.Raw(ViewBag.ColunasHistorico)";
		var arrayNames = new Array();
		var arrayModels = new Array();

		for (var i = 0; i < colunas.split(",").length; i++) {
			arrayNames.push(colunas.split(",")[i]);
			arrayModels.push({ name: colunas.split(",")[i], index: colunas.split(",")[i], width: 100, align: 'center' });
		}

		var urlPagina = "";
		var codTipoPosto = "@ViewBag.CodTipoPosto";

		if (postoPassagem == "True") {
			urlPagina = '/Home/HistoricoPostoPassagem/?Fabrica=@ViewBag.CodigoFabrica&NumAP=@ViewBag.NumeroAP&Modelo=@ViewBag.Modelo';
		}
		else if (codTipoPosto == "9") {
			urlPagina = '/Home/HistoricoAmarracaoLote/?Fabrica=@ViewBag.CodigoFabrica&NumAP=@ViewBag.NumeroAP&Modelo=@ViewBag.Modelo';
		}
		else {
			urlPagina = '/Home/HistoricoAmarracaoSimples/?Fabrica=@ViewBag.CodigoFabrica&NumAP=@ViewBag.NumeroAP&Modelo=@ViewBag.Modelo';
		}

		$("#tbListaItem2").jqGrid({
			url: urlPagina,
			datatype: 'json',
			mtype: 'GET',
			colNames: arrayNames,
			colModel: arrayModels,
			//pager: jQuery('#tbListaItem2'), //disable pagination
			rowList: [],        // disable page size dropdown
			pgbuttons: false,     // disable page control like next, back button
			pgtext: null,         // disable pager text like 'Page 0 of 10'
			sortname: 'Id',
			sortorder: "desc",
			cmTemplate: { sortable: false },
			//caption: 'Histórico',
			//scrollOffset: 0,
			width: tamanhoLargura - (tamanhoLargura * 5 / 100),
			height: null,
			//autowidth: true,
			autoheight: true,
			loadError: function () {
			alert('Erro ao carregar o grid');
			},
			loadComplete: function () {
				fn_exibeUltimoLido();
				if (postoPassagem == "True") {
					fn_contadoresPostoPassagem();
				}
			}
		}).jqGrid("gridResize");
	}


	$(document).ready(function () {
		
		var itensLeitura = "@Html.Raw(ViewBag.Perfil)";
		
		if (itensLeitura.split(',').length < 2 && postoPassagem == "False") {
			$("#lblMensagem").html("POSTO NÃO CONFIGURADO CORRETAMENTE. VERIFIQUE SE HÁ ITENS A SEREM AMARRADOS NA AP E CONFIGURADOS PARA O POSTO");
			$("#lblMensagem").css("background-color", "red");
			$("#txtLeitura").attr('disabled', 'true');
			$('#dvExibeGrids').css('display', 'none');
		}
		else {
			gridListaItem();
			gridLista();
		}

		$('.ui-jqgrid-titlebar-close').remove();
	});

	$(document).ready(function () {

		fn_totalProduzido();

		$("#dvDialogHistorico").dialog({
			title: 'Histórico',
			autoOpen: false,
			resizable: false,
			width: tamanhoLargura,
			height: 300,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogHistorico",
			draggable: false,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar' style='margin-top: -3px;'>X</div>");
			}
		});

		$('#txtLeitura').keypress(function (evt) {
			if (evt.keyCode == 13) {

				var valor = this.value.toUpperCase();
				var constCancelar = "@SEMP.Model.Constantes.CANCELAR";
				var constTamDefeito = "@SEMP.Model.Constantes.TAM_DEFEITO";
				var constTamPlaca = "@SEMP.Model.Constantes.TAM_PLACA";
				var constTamProduto = "@SEMP.Model.Constantes.TAM_PRODUTO";

				var constTamProdutoInformatica = 9;

				if (postoPassagem == "True") {

					if (valor == constCancelar && cancelar == false) {

						$("#txtLeitura").val("");
						$("#lblMensagem").html(constCancelar);
						$("#lblMensagem").css("background-color", "Silver");
						cancelar = true;
					} else if (valor == constCancelar && cancelar == true) {

						$("#txtLeitura").val("");
						$("#lblMensagem").html("AGUARDANDO ENVIO");
						$("#lblMensagem").css("background-color", "Silver");
						cancelar = false;
					} else if (parseInt(valor.length) == parseInt(constTamDefeito) && validate() == true) {

						var parametros = { codDefeito: valor };
						fn_ajaxGet("/Posto/ObterDesDefeito/", parametros, fn_retornoObter);

					}
					else if(apontaDefeito == true && ((valor.length == constTamPlaca) || (valor.length == constTamProduto))) {

						$.ajax({
							type: "GET",
							url: "/Posto/GetValida/",
							data: { numECB: $("#txtLeitura").val().toUpperCase(), codDRT: "@retornologin.CodDRT", codModelo: "@ViewBag.Modelo" },
							dataType: "json",
							success: function (json) {
								if (json.CodMensagem == "@SEMP.Model.Constantes.RAST_OK") {
									$.ajax({
										type: "GET",
										url: "/posto/InserirDefeito/",
										data: { codDefeito: $("#lblMensagem").html().substring(0, 5), numSerie: $("#txtLeitura").val().toUpperCase(), codDRT: "@retornologin.CodDRT" },
										dataType: "json",
										success: function (json2) {

											$("#lblMensagem").html(json2.DesMensagem);
											$("#lblMensagem").css("background-color", json2.DesCor);
											$("#lblMensagem").css("font-color", "WHITE");
											$("#txtLeitura").val("");
											apontaDefeito = false;
											reloadListaItem();
										},
										error: function (xhr) {
											alert("Error");
										}


									});
								}
								else {
									$("#lblMensagem").html(json.DesMensagem);
									$("#lblMensagem").css("background-color", json.DesCor);
									$("#txtLeitura").val("");
									apontaDefeito = false;
								}
							},
							error: function (xhr) {
								alert('Error');
							}
						});
					}
					else if ((valor.length == constTamPlaca) || (valor.length == constTamProduto) || (valor.length == constTamProdutoInformatica)) {

						var param = { numECB: valor, codDRT: "@retornologin.CodDRT" };

						if (cancelar == true) {
							
							fn_ajaxGet("/Posto/CancelarLeitura/", param, fn_retornoCancelarLeitura);
						}
						else {
							fn_leituraSimples(valor);
						}
					}
					else {
						$("#lblMensagem").html("Código de Barras Inválido");
						$("#lblMensagem").css("background-color", "Yellow");
						$("#txtLeitura").val("");
					}

				}
				else {

					//$('#txtLeitura').keydown(function () {
					//    $("#lblMensagem").html("AGUARDANDO ENVIO");
					//    $("#lblMensagem").css("background-color", "lightgrey");
					//});

					fn_leituraSimples(valor);
				}
			}
		});


		$(window).bind('keydown', function (e) {
			if (e.keyCode == 49 && e.altKey) {
				e.preventDefault();
				
				var URL = "ConsultarItem";
				var width = 900;
				var height = 500;
				var left = 99;
				var top = 99;

				window.open(URL, 'janela', 'width=' + width + ', height=' + height + ', top=' + top + ', left=' + left + ', scrollbars=yes, status=no, toolbar=no, location=no, directories=no, menubar=no, resizable=no, fullscreen=no');

			}
		});

	});

	function fn_retornoCancelarLeitura(json) {

		if (json.CodMensagem == "@SEMP.Model.Constantes.RAST_OK") {
			$("#lblMensagem").html(json.DesMensagem);
			$("#lblMensagem").css("background-color", json.DesCor);
			$("#txtLeitura").val("");
			reloadListaItem();
			cancelar = false;
			return;
		}
		else {
			$("#lblMensagem").html(json.DesMensagem);
			$("#lblMensagem").css("background-color", json.DesCor);
			$("#txtLeitura").val("");
			cancelar = false;
			return;
		}
	}

	function fn_retornoObter(json) {
		$("#lblMensagem").html(json);
		$("#txtLeitura").val("");
		$("#lblMensagem").css("background-color", "ORANGE");
		apontaDefeito = true;
	}

	function reloadListaItem() {
		jQuery("#tbListaItem2").trigger("reloadGrid")
	}

</script>

<style type="text/css">

#tbListaItem tr.jqgrow td {
	white-space: normal !important;
	font-size:18px !important;
}

.ui-jqgrid-view {
	font-size:14px !important;
}

.grid-6-12 {width: 50%; float: left; border: solid 0px;}
.grid-7-12 {width: 48%; float: right; border: solid 1px #808080;}

@@media only screen and (max-width: 800px) {
	.grid-6-12 
	{
		width: 100%;
	}

	.grid-7-12
	{
		float: left; 
		width: 100%;
	}
}

.inputLeitura {
	padding: 3%;
	border-radius: 3px;
	background-color: lightgrey;      
	font-size: 28px !important;
}

</style>

<div style="margin-left: 8px; float: left;">
	<h5>Estação: <b>@ViewBag.Linha | @ViewBag.Posto</b></h5>
	<h5>AP: <b>@ViewBag.CodigoFabrica - @ViewBag.NumeroAP</b></h5>
	<h5>Modelo: <b>@ViewBag.Modelo - @ViewBag.DescItem</b></h5>
</div>
<div style="float: right;">
	<h2>Total Produzido Dia: <span id="spTotalProduzido">0</span></h2>
    <h2>Total Amarrado da AP: <span id="soTotalProduzidoAP">0</span></h2>
</div>
<div style="position:absolute; margin-left: 46%;">
	<input class="bttn bttn-sm bttn-red" type="button" value="Trocar AP" onclick="location.href='/Coleta/Home/Amarracao'"/>
</div>
<div class="principal">
	<input type="text" name="txtLeitura" id="txtLeitura" autofocus="autofocus" placeholder="Leia o código de barras" class="passagem" style="text-align: center; width: 100%; height: 30px; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;" />
    <label id="lblMensagem" class="inputLeitura" style="width: 100%; align-content: center; text-align: center; font-size: 18px;">
        <span id="tempo"></span>
        AGUARDANDO ENVIO
    </label>
    <label style="float: right; font-size: 9px; margin-top: -5px; margin-bottom: -1px;" id="lbTempo"></label>   
    <label style="float: right; font-size: 9px; margin-top: -5px; margin-bottom: -1px;" id="lbTempoInsercao"></label>
</div>
<br />
<div style="position: static; width: 100%;" id="dvExibeGrids">
    <div class="grid-6-12">
        <table id="tbListaItem"></table>
        <div id="dvListaItem"></div>
    </div>
    <div class="grid-7-12" style="font-size: 15px; border: solid 2px #d7d7d7; background:  #e6e6e6; border-radius: 40px 10px">
        <table style="width: 100%; margin-top: 8px;  margin-left: 10px; padding-right: 10px;">
            <tr>
                <td>
                    <b>Último Lido:</b>
                </td>
                <td style="text-align: right;">
                    <a href="#" style="text-decoration: none;" onclick="$('#dvDialogHistorico').dialog('open');">Visualizar histórico</a>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="dvUltimoLido" style="font-family: Arial; font-size: 20px;"></div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="dvExibePostoPassagem" style="font-family: Arial; font-size: 18px; display: none;">
                        <table class="table-semp" style="text-align: center;" >
                            <thead>
                                <tr>
                                    <th>
                                        <span style="font-size: 20px; color: black; /*text-shadow: 1px 1px 0px #ff0;*/">
                                            Aprovados
                                        </span>
                                    </th>
                                    <th>
                                        <span style="font-size: 20px; color: black;">
                                            Reprovados
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="background: #d7d7d7;">
                                    <td style="text-align: center; font-size: 22px; font-weight: bold;">
                                        <span id="spAprovados">
                                            0
                                        </span>
                                    </td>
                                    <td style="text-align: center; font-size: 22px; font-weight: bold;">
                                        <span id="spReprovados">
                                            0
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="dvDialogF11" style="display: none;">
	<form action="@Url.Action("Amarracao","Home")" method="POST">
		<div style="float: left; width: 100%;">
			<div style="float: left;">
				<span>Fáb</span><br />
				<input type="text" id="fab" name="fab">
			</div>
			<div style="float: right;">
				<span>AP</span><br />
				<input type="text" id="ap" name="ap">
			</div>
		</div>
		<div style="float: left; width: 100%;">
		<span>Modelo</span><br />
		<input type="text" id="modelo" name="modelo" style="width: 100%;">
		<br />

		<span>Qtd. Lote</span><br />
		<input type="text" id="qtdlote" name="qtdlote" style="width: 100%;">
		<br />

		<span>Qtd.Produzida</span><br />
		<input type="text" id="qtdProduzida" name="qtdProduzida" style="width: 100%;">
		<br />
		
		<span>Qtd. Embalado</span><br />
		<input type="text" id="qtdEmbalado" name="qtdEmbalado" style="width: 100%;">
		<br />

		<input class="bttn bttn-sm bttn-red" type="button" value="Salvar" id="btnEnviarOpcao1" />
		<input class="bttn bttn-sm bttn-red" style="" type="button" value="Cancelar" id="btnCancelarOpcao1" onclick="$('#dvDialogF11').dialog('close'); return false;" />

		</div>
	</form>
</div>

<div id="dvDialogF12" style="display: none;">
	<form action="@Url.Action("Amarracao","Home")" method="POST">
		<span>Número da linha</span><br />
		<input type="text" id="numeroLinha" name="numeroLinha" style="width: 100%;">
		<br />

		<span>Número do posto</span><br />
		<input type="text" id="numeroPosto" name="numeroPosto" style="width: 100%;">
		<br />

		<span>Setor</span><br />
		<input type="text" id="setor" name="setor" style="width: 100%;">
		<br />

		<span>Serviço</span><br />
		<input type="text" id="servico" name="servico" style="width: 100%;">
		<br />
		<input type="checkbox" id="leitoraAutomatica" name="leitoraAutomatica" /> <span>Leitora automática</span>
		<br /><br />
		<input class="bttn bttn-sm bttn-red" type="button" value="Salvar" id="btnEnviar" />
		<input class="bttn bttn-sm bttn-red" style="" type="button" value="Cancelar" id="btnCancelar" onclick="$('#dvDialogF12').dialog('close'); return false;" />
	</form>
</div>

<div id="dvDialogHistorico" style="display: none; width: 100%;">
	<div style="width: 100%;">
		<table id="tbListaItem2"></table>
		<div id="dvListaItem2"></div>
	</div>
</div>

<div id="dvFormDinamico" style="display: inline;">
    <form action="/Posto/InserirAmarracao" method="post" id="formDinamico" name="formDinamico">
        <input type="hidden" name="Fabrica" value="@ViewBag.CodigoFabrica"/>
        <input type="hidden" name="NumeroAP" value="@ViewBag.NumeroAP"/>
        <input type="hidden" name="Modelo" value="@ViewBag.Modelo"/>
        <input type="hidden" name="CodDRT" value="@retornologin.CodDRT"/>
        <div id="dvInputs">
			
        </div>
    </form>
</div>

<div id="dvSong">
   @* <audio id="erro">
	    <source src="~/Images/song/erro.mp3" type="audio/mpeg">
    </audio>
    <audio id="sucesso">
	    <source src="~/Images/song/sucesso.mp3" type="audio/mpeg">
    </audio>*@
    </div>

<script type="text/javascript">
	var indiceLeitura = 5;
    var perfil = "@Html.Raw(ViewBag.Perfil)";
    var perfilTipoAmarra = "@Html.Raw(ViewBag.PerfilTipo)";
    var arrayMascaras = new Array();
    var arrayPerfil = new Array();
    var filaCache = new Array();

    function RecuperaMascarasAux(json) {
        for (var i = 0; i < json.mascara.length; i++) {
            arrayMascaras.push({ Tipo: json.mascara[i].Tipo, Mascara: json.mascara[i].Mascara, AP: json.mascara[i].Ap });
        }
        arrayPerfil = fn_limpaValores(perfil);

        //alert(JSON.stringify(arrayPerfil));
    }

    RecuperaMascaras(RecuperaMascarasAux);

    var iniciouTemporizador = false;
    var ultmoIndiceLido = 0;

    $(window).click(function() {
        $("#txtLeitura").focus();
    });

    $(window).keypress(function(evt) {
        if (evt.keyCode == 27) {
            jQuery("#tbListaItem").trigger("reloadGrid");
            reloadListaItem();

            arrayPerfil = fn_limpaValores(perfil);
            ultmoIndiceLido = 0;
            iniciouTemporizador = false;
            $("#txtLeitura").val("");
            fn_totalProduzido();
        }
    });

    function fn_ajaxGet(urlPagina, parametros, returnData) {
        $.ajax({
            type: "GET",
            url: urlPagina,
            data: parametros,
            dataType: "json",
            cache: false,
            async: true,
            beforeSend: function() {
                $("#lblMensagem").html("ENVIANDO...");
            },
            complete: function() {
            },
            success: function(data) {
                returnData.call(this, data);
            },
            error: function(xhr, er) {
                if (xhr.status == 500 || xhr.status == 503) // service indisponivel
                {
                    var mensagem = xhr.status + " - " + xhr.statusText + "\n";
                    alert("Erro ao consultar: \n" + mensagem);
                    document.location.href = "/";
                } else {
                    $("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
                }
            }
        });
    }

    function fn_retornoPadrao(data) {

        ultmoIndiceLido = parseInt(data.indice);

        var myGrid = $('#tbListaItem');
        var rowId = data.indice + 1;
        var indice = parseInt(data.indice); // - 1;

        $("#lbTempo").html("Va:"+data.tempo);

        if (data.error == true) {

            $("#lblMensagem").css("background-color", data.retorno.DesCor);

            fn_playErro();
            fn_fecharTemporizador();
            arrayPerfil = fn_limpaValores(perfil);

            $("#lblMensagem").html(data.message + " " + data.serial);
            
        }
        else
        {
            if (fn_verificaSeLeituraEstaEmAndamento() == true){// && filaCache.length == 1) {
                myGrid.jqGrid('setCell', rowId, 'Serie', data.serial);

                arrayPerfil[indice].lido = true;
                arrayPerfil[indice].validado = true;
                arrayPerfil[indice].serie = data.serial;
                arrayPerfil[indice].tipo = data.tipo;
                arrayPerfil[indice].codItem = data.codItem;

                if (data.reLeitura == true) {
                    fn_preencherItensAmarrados(arrayPerfil, data.itensAmarrados);
                }

                if (fn_verificaLeituras(arrayPerfil) == true) {

                    fn_fecharTemporizador();

                    fn_criaFormularioDinamico(arrayPerfil);

                    fn_ajaxPost("/Posto/InserirAmarracao", "formDinamico", fn_retornoInserir);

                } else {

                    fn_iniciarTemporizador();

                    var lblMensagem = "LEIA UM(A) " + fn_GetProximoItemParaLer();
                    $("#lblMensagem").html(lblMensagem.toUpperCase());
                    $("#lblMensagem").css("background-color", "");
                }
            } else {

                //for (var i = 0; i < filaCache.length; i++) {

                //    var arrayFilaCache = filaCache[i];

                //    arrayFilaCache[indice].lido = true;
                //    arrayFilaCache[indice].validado = true;
                //    arrayFilaCache[indice].serie = data.serial;
                //    arrayFilaCache[indice].tipo = data.tipo;
                //    arrayFilaCache[indice].codItem = data.codItem;

                //    if (fn_verificaLeituras(arrayFilaCache) == true) {

                //        fn_fecharTemporizador();

                //        fn_criaFormularioDinamico(arrayFilaCache);

                //        fn_ajaxPost("/Posto/InserirAmarracao", "formDinamico", fn_retornoInserir);
                //    }

                //    filaCache.shift();
                //}

                //fn_writeFila();

                fn_playErro();
                $("#lblMensagem").html("TEMPO DE LEITURA ESGOTADO. LEIA NOVAMENTE UM(A) " + fn_GetProximoItemParaLer().toString().toUpperCase());
                $("#lblMensagem").css("background-color", "RED");
            }
        }
    }

    function fn_verificaSeLeituraEstaEmAndamento() {

        var retorno = false;
        for (var i = 0; i < arrayPerfil.length; i++) {
            if (arrayPerfil[i].lido == true) {
                retorno = true;
            }
        }

        return retorno;
    }

    function fn_preencherDadosNoGrid(data, retornoValidado) {

        ultmoIndiceLido = parseInt(data.indice);

        var myGrid = $('#tbListaItem');
        var rowId = data.indice + 1;
        var indice = parseInt(data.indice);

        if (retornoValidado == true) {
            myGrid.jqGrid('setCell', rowId, 'Serie', data.serial);

            arrayPerfil[indice].lido = true;
            arrayPerfil[indice].serie = data.serial;
            arrayPerfil[indice].validado = true;
            arrayPerfil[indice].tipo = data.tipo;
            arrayPerfil[indice].codItem = data.codItem;
        } else {
            myGrid.jqGrid('setCell', rowId, 'Serie', data.serial);

            arrayPerfil[indice].lido = true;
            arrayPerfil[indice].serie = data.serial;
            arrayPerfil[indice].validado = false;
            //arrayPerfil[indice].tipo = data.tipo;
            //arrayPerfil[indice].codItem = data.codItem;
        }

    }

    function fn_leituraSimples(valor) {
        var fabrica = "@ViewBag.CodigoFabrica";
        var numAP = "@ViewBag.NumeroAP";
        var modelo = "@ViewBag.Modelo";
        var leitura = valor; //$("#txtLeitura").val();
        var url = '/Posto/ValidarLeituraAmarracao';
        var codDRT = "@retornologin.CodDRT";
		var padrao = false;

		$("#txtLeitura").val("");

		if (leitura == "12345" && arrayPerfil[0].serie != "") {
			//alert(indiceLeitura);
			leitura = arrayPerfil[0].serie + leitura.substring(0, 4) + indiceLeitura;
			indiceLeitura++;
			padrao = true;
		}

		//var parametros = { Fabrica: fabrica, NumAP: numAP, Modelo: modelo, Leitura: leitura, CodDRT: codDRT, UltimoIndiceLido: ultmoIndiceLido, Padrao: padrao };
	    //fn_ajaxGet(url, parametros, fn_retornoPadrao);

	    // Valida a mascara
		var indice = fn_validarMascaraLeitura(leitura, padrao);

		if (indice == -1) {
		    $("#lblMensagem").html("REGISTRO NÃO ENCONTRADO. ETIQUETA INVÁLIDA PARA O MODELO");
		    $("#lblMensagem").css("background-color", "red");
		    fn_playErro();
		}
		else if(indice == -2){
		    $("#lblMensagem").html("LEIA O PRÓXIMO ITEM");
		    $("#lblMensagem").css("background-color", "red");
		    fn_playErro();
		}
		else if (fn_verificaSequenciaLida(arrayPerfil, indice) == false) {
		    $("#lblMensagem").html("LEIA NA SEQUÊNCIA CORRETA.");
		    $("#lblMensagem").css("background-color", "red");
		    fn_playErro();
		}
		else {

		    var dadosGrid = { serial: leitura, indice: indice };

		    fn_preencherDadosNoGrid(dadosGrid, false);

		    //if (filaCache.length == 0) {
		    //    filaCache.push(arrayPerfil);
		    //} else {
		    //    for (var i = 0; i < filaCache.length; i++) {
		    //        if (filaCache[i][0].serie != arrayPerfil[0].serie && arrayPerfil[indice].tipo == 6) {
		    //            filaCache.push(arrayPerfil);
		    //        }
		    //    }
		    //}

		    var parametros = { Fabrica: fabrica, NumAP: numAP, Modelo: modelo, Leitura: leitura, CodDRT: codDRT, UltimoIndiceLido: ultmoIndiceLido, Padrao: padrao, idxPerfil: indice };
		    fn_ajaxGet(url, parametros, fn_retornoPadrao);

		    //indiceLeitura = 5;
		}
    }

    function fn_writeFila() {
        var html = "";
        for (var j = 0; j < filaCache.length; j++) {
            html += "<p>" + JSON.stringify(filaCache[j]) + "</p><br>====================================================<br>";
        }

        $("#dvDialogF11").html(html);//"<p>" + JSON.stringify(filaCache) + "</p>");
        $("#dvDialogF11").dialog();
        $("#txtLeitura").focus();
    }

    function fn_preencherItensAmarrados(arrayPerfil, amarrados) {

        var myGrid = $('#tbListaItem');

        for (var i = 0; i < arrayPerfil.length; i++) {

            for (var j = 0; j < amarrados.length; j++) {

                if (amarrados[j].FlgTipo == arrayPerfil[i].tipo) {
                    arrayPerfil[i].lido = true;
                    arrayPerfil[i].validado = true;
                    arrayPerfil[i].serie = amarrados[j].NumECB;
                    arrayPerfil[i].codItem = amarrados[j].CodItem;

                    myGrid.jqGrid('setCell', (i+1), 'Serie', amarrados[j].NumECB);
                }
            }
        }
    }

	function fn_limpaValores(perfil) {
		var myGrid = $('#tbListaItem');
		var rowId = 0;

		var arrayPerfil = new Array();

		for (var i = 0; i < perfil.split(",").length; i++) {

		    arrayPerfil.push({ name: perfil.split(",")[i], serie: "", lido: false, tipo: perfilTipoAmarra.split(",")[i], codItem: "", Mascara: arrayMascaras[i].Mascara, validado: false });

			rowId = i + 1;
			myGrid.jqGrid('setCell', rowId, 'Serie', " ");
		}

		ultmoIndiceLido = 0;
		indiceLeitura = 5;

		fn_GetLblMensagem();

		return arrayPerfil;
	}
	
	function fn_verificaLeituras(array) {

		var contadorTotal = array.length;
		var cont = 0;

		for (var i = 0; i < contadorTotal; i++) {
		    if (array[i].lido == true && array[i].validado == true) {
				cont++;
			}
		}

		if (contadorTotal == cont) {
			return true;
		}
		else {
			return false;
		}
	}

	function fn_verificaLeituraRepetida(array, indice, serial) {

		if (array[indice].lido == true) {
			return true;
		}
		else {
		    var erro = false;
		    for (var i = 0; i < array.length; i++) {
		        if (serial == array[i].serie) {
		            erro = true;
		        }
		    }
		    return erro;
		}
	}

	function fn_verificaSequenciaLida(array, indice) {
		var contadorTotal = array.length;
		var retorno = true;

		for (var i = 0; i < contadorTotal; i++) {
			if (array[i].lido == false) {
				if (indice > i) {
					retorno = false;
					break;
				}
			}
		}
		return retorno;
	}

	function fn_criaFormularioDinamico(array) {

		$("#dvInputs").html("");

		var contadorTotal = array.length;
		var cont = 0;
		var inputs = "";

		inputs = "<input type='hidden' name='NumSerie' value='" + array[0].serie + "'>";
		for (var i = 1; i < contadorTotal; i++) {
			inputs += "<input type='hidden' name='" + array[i].name + "' value='" + array[i].serie +"'>";
		}

		$("#dvInputs").html(inputs);
	}

	function fn_retornoInserir(data) {

	    $("#lbTempoInsercao").html("In: "+data.tempo);
		$("#dvInputs").html("");

		if (data.error == false) {
			reloadListaItem();
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", "lime");

		    //fn_incremetarTotalProduzido(); retirado em favor de fn_totalProduzido(), afim de atualizar a quantidade produzida em relação a AP
			fn_totalProduzido()

			ultmoIndiceLido = 0;
			//fn_playSucesso();
		}
		else {
		    fn_playErro();
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", "red");
		}

		arrayPerfil = fn_limpaValores(perfil);
		//$("#txtLeitura").val("");

	}

	function fn_ajaxPost(urlPagina, nameForm, returnData) {
		$.ajax(
		{
			type: 'POST',
			url: urlPagina,
			dataType: 'json',
			data: $("#" + nameForm).serialize(),
			cache: false,
			async: true,
			beforeSend: function () {
				
			},
			complete: function () {
				
			},
			success: function (data) {
				returnData.call(this, data);
			},
			error: function (xhr, er) {
				if (xhr.status == 500 || xhr.status == 503) // service indisponivel
				{
					var mensagem = xhr.status + " - " + xhr.statusText + "\n";
					alert("Erro ao consultar: \n" + mensagem);
					document.location.href = "/";
				} else {
					$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
				}
			}
		});
	}

	function fn_totalProduzido() {

		var url = '/Posto/ObterTotal';
		var codDRT = "@retornologin.CodDRT";
	    var apPosto = "@ViewBag.NumeroAP";
	    var codigoFab = "@ViewBag.CodigoFabrica";

		$.ajax({
			type: "GET",
			url: url,
			data: { ap: apPosto, codFab: codigoFab },
			dataType: "json",
			cache: false,
			async: true,
			success: function (data) {
				if (data.error == false) {
				    $("#spTotalProduzido").html(data.total);
				    $("#soTotalProduzidoAP").html("<span id='sptotalAPProduzido'>" + data.totalAP + "</span> / " + data.totalLoteAP);

				    if ((data.totalLoteAP - data.totalAP) <= 5) {
				        $("#sptotalAPProduzido").css("color", "red");
				    }
				    
				}
			}
		});
	}

	function fn_incremetarTotalProduzido() {
		var totalAtual = $("#spTotalProduzido").html();
		var soma = parseInt(totalAtual) + 1;
		$("#spTotalProduzido").html(soma);
	}

	function fn_exibeUltimoLido() {
		var myGrid = $('#tbListaItem2');
		var rowId = 0;
		var colunas = "@Html.Raw(ViewBag.ColunasHistorico)";
		var valor = "";
		for (var i = 0; i < colunas.split(",").length; i++) {
			rowId = 1;
			valor += "<b>" + colunas.split(",")[i] + " :</b> " + myGrid.jqGrid('getCell', rowId, colunas.split(",")[i]) + "<br>";

		}
		$('#dvUltimoLido').html(valor);
	}

	function fn_iniciarTemporizador() {

		var segundos = "@ViewBag.TempoLeitura" + "000";

		if (iniciouTemporizador == false) {
			temporizador = setInterval(function () {

				arrayPerfil = fn_limpaValores(perfil);

				$("#txtLeitura").val("");

				fn_fecharTemporizador();

			}, parseInt(segundos));
			iniciouTemporizador = true;
		}
	}

	function fn_fecharTemporizador() {

		iniciouTemporizador = false;

		if (typeof (temporizador) != 'undefined') {
			clearTimeout(temporizador);
		}

	}

	function fn_contadoresPostoPassagem() {
		var url = '/Home/Contador/';

		var parametros = { sidx: "Id", sord: "desc", page: 1, rows: 20};
		
		if (postoPassagem == "True") {
			
			$.ajax({
				type: "GET",
				url: url,
				dataType: "json",
				data: parametros,
				cache: false,
				async: true,
				success: function (data) {
					$("#dvExibePostoPassagem").css('display', 'inline');
					$("#spAprovados").html(data.rows[0].cell[0]);
					$("#spReprovados").html(data.rows[0].cell[1]);
				}
			});
		}
	}

	function fn_GetLblMensagem() {
		var lblMensagem = "LEIA UM(A) " + fn_GetProximoItemParaLer();
		$("#lblMensagem").html(lblMensagem.toUpperCase());
	}

	function fn_GetProximoItemParaLer() {

		var rowId = ultmoIndiceLido + 1;
		var dataFromTheRow = jQuery('#tbListaItem').jqGrid('getRowData', rowId);
		//var dataFromCellByColumnIndex = jQuery('#tbListaItem').jqGrid('getCell', rowId, 7);
		//var dataFromCellByColumnName = jQuery('#tbListaItem').jqGrid('getCell', rowId, 'Item');
	    //alert(JSON.stringify(dataFromTheRow));

		var name = dataFromTheRow.Tipo;

		if (typeof arrayPerfil != 'undefined') {
		    for (var i = 0; i < arrayPerfil.length; i++) {
		        if (arrayPerfil[i].lido == false) {
		            name = arrayPerfil[i].name;
		            break;
		        }
		    }
		}
		else {
		    name = dataFromTheRow.Tipo;
		}

		return name;
	}

	function validate() {

		var strPattern = "^[A-Za-z]{2}\\d{3}$";

		var oTest1 = document.getElementById('txtLeitura');

		var strOptions = "i";

		var oREGEXP = new RegExp(strPattern, strOptions);

		if (oREGEXP.test(oTest1.value)) {
			return true;
		}
		else {
			return false;
		}
	}

	function RecuperaMascaras(RecuperaMascarasAux) {
	    $.ajax({
	        type: "GET",
	        url: "/Posto/RecuperarMascaras",
	        dataType: "JSON",
	        success: function (json) {
	            RecuperaMascarasAux.call(this, json);
	        },
	        error: function (xhr, description) {
	            alert("Erro ao consultar lista de Caixas Coletivas: " + description);
	        }
	    });
	}

	function validaRegex(mascara, valor) {
	    var strOptions = "i";

	    var oREGEXP = new RegExp(mascara, strOptions);

	    if (oREGEXP.test(valor)) {
	        return true;
	    }
	    else {
	        return false;
	    }
	}

	function fn_validarMascaraLeitura(leitura, painelPadrao) {

	    var indice = -1;
	    var achou = false;
	    var texto = "";

	    for (var i = 0; i < arrayPerfil.length; i++) {

	        if (validaRegex(arrayPerfil[i].Mascara, leitura) == true) {

	        	if (arrayPerfil[i].lido == true) {
	        		indice = -2;

	        		var indiceIguaisNaoLidos = fn_retornaIndiceItemComMascarasIguais(leitura);

	        		if (indiceIguaisNaoLidos.length > 0 && arrayPerfil[i].serie != leitura) {
	        			indice = indiceIguaisNaoLidos[0];
	        		}
	            } else {
	                indice = i;
	            }

	            break;
	        }

	        if (painelPadrao == true && (arrayPerfil[i].tipo == 3 || arrayPerfil[i].tipo == 9)) {
	            indice = i;
	            break;
	        }
	    }

	    return indice;
	}

	function fn_retornaIndiceItemComMascarasIguais(leitura) {

	    var itemIguaisArray = new Array();

        for (var i = 0; i < arrayPerfil.length; i++) {
            if (validaRegex(arrayPerfil[i].Mascara, leitura) == true && arrayPerfil[i].lido == false) {
                itemIguaisArray.push(i);
            }
        }

	    return itemIguaisArray;
	}

    function fn_playSucesso() {
        //var song = $("#sucesso").get(0);

        //if (song.paused)
        //    song.play();
        //else
        //    song.pause();
    }

    function fn_playErro() {
        //var song = $("#erro").get(0);

        //if (song.paused)
        //    song.play();
        //else
        //    song.pause();
    }

</script>
