﻿@{
	ViewBag.Title = "Embalagem";
	Layout = "~/Views/Shared/_Layout_Coleta.cshtml";
}

@{
	var linhaAtual = ViewBag.Linha;
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Embalagem";

	if (retornologin == null)
	{
		retornologin = new SEMP.Model.VO.RetornoLogin();
		retornologin.CodDRT = "";
	}
	else
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

}

<link href="@Styles.Url("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Styles.Url("~/Content/ui.multiselect.css")" rel="stylesheet" type="text/css" />
<link href="@Styles.Url("~/Content/postoEmbalagem.css")" rel="stylesheet" type="text/css" />

<style>

 .QtdColetiva{
	font-size: 24px;
 }

</style>

<div class="row">
	<div class="col-md-4">
		<h4>@Html.Raw(@ViewBag.ResumoDadosAps)</h4>
	</div>

	<div class="col-md-4 text-center">
		<div id="divPosicao" name="divPosicao" hidden="hidden">
			<input type="text" name="txtPosicao" id="txtPosicao" maxlength="20" placeholder="Posição" class="passagem" style="text-align: center; width: 70%; height: 30px; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;" />

		</div>
		<div id="divMenu">
			<ul id="menuEmb">
				<li class="menuitem" style="border: 0px" onclick="fn_TrocarAP()">
					<img src="~/Content/images/btn_troca.png" class="botaoMenu" />
					<p style="color: red; font-weight:bold;  margin-top: 3%; border-color: black">Trocar AP</p>
				</li>
				<li class="menuitem" id="btnCaixaColetiva" style="border: 0px">
					<img src="~/Content/images/Magazine.png" class="botaoMenu" />
					<p style="color: red; font-weight:bold;  margin-top: 3%">Caixa Coletiva</p>
					<ul>
						<li id="btnAlterarTamanhoCC" onclick="fn_AbrirTelaAlterarTamanhoCC();"><a href="#">Tamanho</a></li>
						<li id="btnFecharCC" onclick="fn_BotaoFecharCC()"><a href="#">Fechar</a></li>

					</ul>
				</li>

				<li class="menuitem" id="btnImprimir" style="border: 0px">
					<img src="~/Content/images/ImpEmb.png" class="botaoMenu" />
					<p style="color: red; font-weight:bold ; margin-top: 3% ">Imprimir</p>
					<ul>
						<li id="btnAtivarReimpressao" onclick="fn_AbrirTelaLoginReimpressaoEtiqueta();"><a href="#" style="padding: 0">Ativar Reimpressão</a></li>
						<li id="btnAjustarImpTraseira" onclick="$('#dvDialogAjustarImpressoraTraseira').dialog('open');" style="width: 100%"><a href="#" style="padding: 0">Ajustar Impressão</a></li>

						<li id="btnReimprimirCC" onclick="$('#dvDialogReimprimirEtqIMCIAC').dialog('open');"><a href="#">Caixa Coletiva</a></li>
					</ul>
				</li>
			</ul>


		</div>
	</div>
	<div class="col-md-4" style="text-align: right;">
		<h3>Produção Dia: <span id="spTotalProduzido">0</span></h3>
		<h3>Embalado Modelo Atual: <span id="spTotalProduzidoModelo">0</span></h3>
		<h3 id="lbdefeito" hidden="hidden">Total Defeito: <span id="spTotalDefeito">0</span></h3>
	</div>
</div>
<div class="principal" style="border: solid 0px;">
	<input type="text" name="txtLeitura" id="txtLeitura" autofocus="autofocus" placeholder="Leia o código de barras" class="passagem" style="text-align: center; width: 100%; height: 30px; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;" />
	<label id="lblMensagem" class="inputLeitura" style="width: 100%; align-content: center; text-align: center; font-size: 18px;">
		LEIA PRÓXIMO PRODUTO
	</label>
	<label style="float: right; font-size: 9px; margin-top: -5px; margin-bottom: -1px;" id="lbTempo"></label>
	<label style="float: right; font-size: 9px; margin-top: -5px; margin-bottom: -1px;" id="lbTempoInsercao"></label>
</div>
<br />

<div style="position: static; width: 100%;">
	<div class="grid-6-12" >

		<table id="tbListaItem"></table>
		<div id="dvListaItem"></div>
		<br />
	
		<table id="tbListaLote"></table>
		<div id="dvListaLote"></div>
	
	</div>

	<div id="dvExibeUltimoLido" class="grid-7-12" style="font-size: 15px; border: solid 2px #d7d7d7; background:  #e6e6e6; border-radius: 40px 10px;">
		<table style="width: 100%; margin-top: 8px;  margin-left: 10px; padding-right: 10px;">
			<tr>
				<td>
					<b>Último Lido:</b>
				</td>
				<td style="text-align: right;">
					<a href="#" style="text-decoration: none;" onclick="reloadListaItem(); $('#dvDialogHistorico').dialog('open');">Visualizar histórico</a>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div id="dvUltimoLido" style="font-family: Arial; font-size: 18px;"></div>
					<div id="QtdeCCLido" style="font-family: Arial; font-size: 18px;">
					</div>
				</td>
			</tr>
		</table>
	</div>

</div>

<div class="principal" style="border: solid 0px;">

	<label style="float: right; font-size: 9px; margin-top: 0px; margin-bottom: -1px;" id="lbTempoBanco"> </label>

</div>

<div id="dvDialogHistorico" style="display: none; width: 100%;">
	<div style="width: 100%;">
		<table id="tbListaItem2"></table>
		<div id="dvListaItem2"></div>
	</div>
</div>

<div id="dvDialogHoraHora" style="display: none; width: 100%;">
	<div style="width: 100%;">
		<table id="tbListaHoraHora"></table>
		<div id="dvListaHoraHora"></div>
	</div>
</div>

<div id="dvDialogFecharCC" style="display: none; width: 50%;">
	<div>
		<table id="tbFecharCC" style="width: 100%">
			<tr>
				<td><b>Número AP</b></td>
			</tr>
			<tr>
				<td><input type="text" required="required" title="Preencha uma AP válida" name="txtNumAPFecharCC" id="txtNumAPFecharCC" style="text-align:right; width: 20%; height: 20px" maxlength="6" /></td>
			</tr>
			<tr>
				<td><b>Justificativa</b></td>
			</tr>
			<tr>
				<td><textarea name="txtJustificativaFecharCC" required="required" title="Informe a justificativa para fechar esta Caixa Coletiva" id="txtJustificativaFecharCC" style=" width: 100%; height: 50px" maxlength="200"></textarea></td>
			</tr>
			<tr>
				<td>
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarFecharCC" onclick="fn_cancelarFechamentoLote();" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Salvar" style="float: right; margin-right: 5px" id="btnSalvarFecharCC" onclick="fn_FecharCCIncompleta()" />
				</td>
			</tr>
		</table>
	</div>
</div>

<div id="dvDialogReimprimirLogin" style="display: none; width: 100%;">
	<div>
		<table id="tbLoginReimprimir" style="width: 100%">
			<tr>
				<td style="width: 15%">Crachá: </td>
				<td>
					<input type="text" name="txtLoginReimpressao" id="txtLoginReimpressao" maxlength="50" style="margin-top: 8px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarReimpEtq" onclick="$('#dvDialogReimprimirLogin').dialog('close');" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Ativar" style="float: right; margin-right: 5px" id="btnAtivarReimpEtq" onclick="fn_AtivarReImpressaoEtiqueta();" />
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvDialogAlterarTamanhoCC" style="display: none; width: 100%;">
	<div>
		<table id="tbAlterarTamanhoCC" style="width: 100%">
			<tr>
				<td style="width: 15%">Tamanho: </td>
				<td>
					<input type="text" name="txtAlterarTamanhoCC" id="txtAlterarTamanhoCC" maxlength="50" style="margin-top: 8px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarAlteracaoCC" onclick="$('#dvDialogAlterarTamanhoCC').dialog('close')" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Alterar" style="float: right; margin-right: 5px" id="btnConfirmaTamanhoCC" onclick="fn_AlterarTamanhoCC()" />
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvDialogReimprimirEtqIMCIAC" style="display: none; width: 100%;">
	<div>
		<table id="tbReimprimirEtqIMCIAC" style="width: 100%">
			<tr>
				<td style="width: 15%">Caixa Coletiva: </td>
				<td>
					<input type="text" name="txtReimprimirEtqCaixaColetiva" id="txtReimprimirEtqCaixaColetiva" maxlength="50" style="margin-top: 8px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarReimprimirEtqIMCIAC" onclick="$('#dvDialogReimprimirEtqIMCIAC').dialog('close');" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Imprimir" style="float: right; margin-right: 5px" id="btnConfirmaReimprimirEtqIMCIAC" onclick="fn_ReimprimirEtqIMCIAC();" />
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvDialogAjustarImpressoraTraseira" style="display: none; width: 100%;">
	<div>
		<table id="tbAjustarImpressoraTraseira" style="width: 100%">
			<tr>
				<td style="width: 15%">Quantidade: </td>
				<td>
					<input type="text" name="txtQtdeImpressoesAjustarImpressora" id="txtQtdeImpressoesAjustarImpressora" maxlength="50" style="margin-top: 8px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" onclick="$('#dvDialogAjustarImpressoraTraseira').dialog('close');" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Imprimir" style="float: right; margin-right: 5px" id="btnAjustarImpressoraTraseira" onclick="fn_AjustarImpressoraEtiquetaTraseiraTablet()" />
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvFormDinamico" style="display: inline;">
	<form action="" method="post" id="formDinamico" name="formDinamico">

		<input type="hidden" name="Fabrica" value="@ViewBag.CodigoFabrica" />
		<input type="hidden" name="NumeroAP" id="NumeroAP" value="" />
		<input type="hidden" name="Modelo" id="Modelo" value="" />
		<input type="hidden" name="CodDRT" value="@retornologin.CodDRT" />
		<input type="hidden" name="statusReimpressao" id="statusReimpressao" value="false" />

		<input type="hidden" name="chkEtqReImpTablet_Coletiva" id="check_1" value="true" />
		<input type="hidden" name="chkEtqReImpTablet_Coletiva_Fina" id="check_2" value="true" />
		<input type="hidden" name="chkEtqReImpTablet_IndvTraseira" id="check_3" value="true" />
		<input type="hidden" name="chkEtqReImpTablet_IndvCaixaSimples" id="check_4" value="true" />
		<input type="hidden" name="chkEtqReImpTablet_IndvCaixaCompleta" id="check_5" value="true" />

		<input type="hidden" name="chkEtqReImpNotebook_IndvTraseira" id="check_6" value="true" />
		<input type="hidden" name="chkEtqReImpNotebook_IndvCaixaSimples" id="check_7" value="true" />
		<input type="hidden" name="chkEtqReImpNotebook_IndvaCaixaCompleta" id="check_8" value="true" />

		<div id="dvInputs">

		</div>

	</form>
</div>

@section Scripts {
	<script>

	var setor = "@ViewBag.Setor";
	var codTipoPosto = "@ViewBag.CodTipoPosto";
	var codFab = "@ViewBag.CodigoFabrica";
	var qtdeCC = "@ViewBag.qtdeCC";
	var codLinhaT1 = "@ViewBag.CodLinhaT1";
	var codLinha = "@ViewBag.CodLinha";
	var codPosto = "@ViewBag.CodPosto";
	var familia = "@ViewBag.Familia";
	var imprimeEtq = "@ViewBag.ImprimeEtq";
	var codDRT = "@retornologin.CodDRT";

	var perfil = "@Html.Raw(ViewBag.Perfil)";
	var perfilAP = "@Html.Raw(ViewBag.PerfilAP)";

	var colunas = "@Html.Raw(ViewBag.ColunasHistorico)";

	var segundos = "@ViewBag.TempoLeitura" + "000";
	</script>

	<script src="@Scripts.Url("~/Scripts/JQGrid/grid.locale-pt-br.js")" type="text/javascript"></script>
	<script src="@Scripts.Url("~/Scripts/JQGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
	<script src="@Scripts.Url("/JavaScript/TelaAmarraLote")" type="text/javascript"></script>

}