﻿@{
	ViewBag.Title = "Recebimento";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Recebimento";

	var Setor = "";

	if (ViewBag.Fabrica == "IMC") {
		Setor = "IAC";
	}
	else if (ViewBag.Fabrica == "FEC")
	{
		Setor = "IMC";
	}

}
<style type="text/css">
	#tbListaItem tr.jqgrow td {
		white-space: normal !important;
		font-size: 14px !important;
	}

	.ui-jqgrid-view {
		font-size: 14px !important;
	}

	.grid-6-12 {
		width: 50%;
		float: left;
		border: solid 0px;
	}

	.grid-7-12 {
		width: 48%;
		float: right;
		border: solid 1px #808080;
	}

	@@media only screen and (max-width: 800px) {
		.grid-6-12 {
			width: 100%;
		}

		.grid-7-12 {
			float: left;
			width: 100%;
		}
	}

	.inputLeitura {
		padding: 3%;
		border-radius: 3px;
		background-color: lightgrey;
		font-size: 28px !important;
	}

	.numeros {
		font-weight: bold;
	}
</style>

<div style="margin-left: 8px; float: left; width: 50%;">
	<h5>Estação: <b>@ViewBag.Linha | @ViewBag.Posto</b></h5>
	<hr />
	<table style="width: 100%;">
		<tr>
			<td style="width: 90px;"><label>Linha Destino:</label></td>
			<td>
				<select name="CodLinhaDest" id="CodLinhaDest" class="form-control input-sm" disabled="disabled">
					<option value="">Selecione a linha destino</option>
				</select>
			</td>
		</tr>
	</table>
</div>

<div style="float: right;">
	<h2>Total Lote Recebido: <span id="spTotalProduzido">0</span></h2>
	<h2>Total Caixa Coletiva: <span id="spTotalProduzidoCC">0</span></h2>
</div>

<div class="principal">
	<input type="text" name="txtLeitura" id="txtLeitura" autofocus="autofocus" placeholder="Leia o código de barras" class="passagem" style="text-align: center; width: 100%; height: 30px; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;" />
	<label id="lblMensagem" class="inputLeitura" style="width: 100%; align-content: center; text-align: center; font-size: 18px;">
		<span id="tempo"></span>
		LEIA O NÚMERO DO LOTE
	</label>
</div>
<br />

<div class="container-fluid">
	<div class="col-md-6">
		<div style="background-color:whitesmoke; margin:3px; border:1px; border-radius:10px;">
			<h2 style="margin-left:5px;"><b>Último Lote Recebido</b></h2>
			<h4 style="margin-left:5px;">Número do Lote:  <span id="spNumeroLote" class="numeros"></span></h4>
			<h4 style="margin-left:5px;">Total de Placas: <span id="spTotalPlacas" class="numeros"></span></h4>
		</div>
	</div>
	<div class="col-md-6">
		<div style="background-color:whitesmoke; margin:3px; border:1px; border-radius:10px">
			<h2 style="margin-left:5px;"><b>Última Caixa Coletiva Recebida</b></h2>
			<h4 style="margin-left:5px;">Número da Caixa Coletiva:  <span id="spNumeroLoteCC" class="numeros"></span></h4>
			<h4 style="margin-left:5px;">Total de Placas: <span id="spTotalPlacasCC" class="numeros"></span></h4>
			<h4 style="margin-left:5px;">Lote:  <span id="spNumeroLotePaiCC" class="numeros"></span></h4>
			<h4 style="margin-left:5px;">Caixas Coletivas do lote: <span id="spTotalCCLoteRecebidas" class="numeros"></span> / <span id="spTotalCCLote" class="numeros"></span></h4>
		</div>

		<div style="background-color: whitesmoke; margin: 3px; border: 1px; border-radius: 10px">
			<table class="table-semp smallrow" id="tblPendentes">
				<thead>
					<tr>
						<th>Modelo</th>
						<th>Linha</th>
						<th>Lote</th>
						<th style="width: 40px;">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	var codFab = "@ViewBag.CodigoFabrica";
	var codDRT = "@retornologin.CodDRT";
	var numAP = "@ViewBag.NumeroAP";
	var fase = "@ViewBag.Fabrica";
	var codLinha = "@ViewBag.CodLinha";
	var setor = '@Setor';

	$(document).ready(function () {
		fn_atualizarValores();
		CarregaLinhas();
		ConsultarLotesPendentes();

		//setInterval("fn_atualizarValores();", 5000);
	});

	$("#txtLeitura").keypress(function (evt) {

		if (evt.keyCode == 13) {
			var leitura = $("#txtLeitura").val().toUpperCase();
			var linha = $("#CodLinhaDest").val();

			if (linha == "") {
				linha = codLinha;
			}

			$("#txtLeitura").val("");

			$("#lblMensagem").html("Enviando série: " + leitura);
			$("#lblMensagem").css("background-color", "gray");

			$.ajax({
				type: "GET",
				url: "/posto/ReceberLote/",
				data: { NumLote: leitura, CodDRT: codDRT, CodLinhaDest: linha },
				dataType: "json",
				success: function (json) {
					//$("#spNumeroLote").html(leitura);
					$("#lblMensagem").html(json.DesMensagem);
					$("#lblMensagem").css("background-color", json.DesCor);
					$("#txtLeitura").val("");
					fn_atualizarValores();
					ConsultarLotesPendentes();
				},
				error: function (xhr) {
					fn_error(xhr);
				}
			});
		}
	});

	$(window).click(function () {
		$("#txtLeitura").focus();
	});

	function fn_error(xhr) {
		if (xhr.status == 500 || xhr.status == 503) // service indisponivel
		{
			var mensagem = xhr.status + " - " + xhr.statusText + "\n";
			alert("Erro ao consultar: \n" + mensagem);
			//document.location.href = "/";
		} else {
			$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + " | " + xhr.responseText + "<br>");
		}
	}

	function CarregaLinhas() {
		$.ajax({
			type: "GET",
			url: "/posto/GetLinhasRecebimento/",
			data: { fabrica: fase },
			dataType: "json",
			success: function (json) {
				var options = ""; var indice = 0;
				options += '<option value=""> SELECIONE A LINHA </option>';
				$.each(json, function (key, Linhas) {
					if (indice == 0) {
						options += '<option selected value="' + Linhas.CodLinha + '">' + Linhas.DesLinha + '</option>';
					}
					else {
						options += '<option value="' + Linhas.CodLinha + '">' + Linhas.DesLinha + '</option>';
					}
					indice++;
				});
				$("#CodLinhaDest").html(options);
			}
		});

	}

	function fn_atualizarValores() {

		var url = '/Posto/AtualizarValoresRecebimento/';
		var linha = $("#CodLinhaDest").val();
		if (linha == "") {
			linha = codLinha;
		}

		$.ajax({
			type: "GET",
			url: url,
			dataType: "json",
			data: { codLinha: linha },
			cache: false,
			async: true,
			success: function (json) {
				$("#spTotalProduzido").html(json.totalRecebido);
				$("#spTotalProduzidoCC").html(json.totalRecebidoCC);

				//$("#spTotalPlacas").html($("#txtLeitura").val());
				$("#spNumeroLote").html(json.ultimoLote);
				$("#spTotalPlacas").html(json.totalPlacas);

				$("#spNumeroLoteCC").html(json.ultimoCC);
				$("#spTotalPlacasCC").html(json.totalPlacasCC);

				$("#spNumeroLotePaiCC").html(json.lotePai);
				$("#spTotalCCLoteRecebidas").html(json.totalCCLoteRecebidos);
				$("#spTotalCCLote").html(json.totalCCLote);


			}
		});
	}

	function ConsultarLotesPendentes() {

		var codLinha = '';
		var codModelo = '';

		if (setor == "") {
			return;
		}

		$("#tblPendentes>tbody").html($('#carregando').html());

		var parametros = { setor: setor, codModelo: codModelo, codLinha: codLinha };

		$.ajax({
			type: "GET",
			url: "/Outros/ConsultaLotes/VerLotes/",
			data: parametros,
			success: function (data) {
				$("#tblPendentes>tbody").html(data);
			},
			error: function (data) {
				$("#tblPendentes>tbody").html(data.responseText);
			}
		});
	}

	function btnCaixasColetivas_Click(e, numLote) {

		var parametros = { numLote: numLote };

		$.ajax({
			type: "GET",
			url: "/Outros/ConsultaLotes/ObterCaixasColetivas/",
			data: parametros,
			success: function (data) {
				$(e).parent().parent().after(data);

				//$(e).attr("disabled", "disabled");
			},
			error: function (data) {
				alert(data.responseText);
			}
		});
	}

</script>