﻿@{
	ViewBag.Title = "Técnico";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Tecnico";
	if (retornologin == null)
	{
		retornologin = new SEMP.Model.VO.RetornoLogin();
		retornologin.CodDRT = "";
	}
	else
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}
}

<style type="text/css">

#tbListaItem tr.jqgrow td {
	white-space: normal !important;
	font-size:14px !important;
}

.ui-jqgrid-view {
	font-size:14px !important;
}

.grid-6-12 {width: 100%; float: left; border: solid 0px;}

.divExibe {width: 40%; float: left; font-size: 16px; }
.divExibe2 {width: 40%; float: left; font-size: 16px; }

@@media only screen and (max-width: 800px) {
	.grid-6-12 
	{
		width: 100%;
	}

	.divExibe
	{
		float: left; 
		width: 100%;
	}

	.divExibe2
	{
		float: left; 
		width: 100%;
	}
}

.inputLeitura {
	padding: 3%;
	border-radius: 3px;
	background-color: lightgrey;      
	font-size: 28px !important;
}

label {
	width: 35%;
}

.linhaDiv {
	float: left; 
	width: 100%; 
	height: 0px; 
	/*border: solid 1px #808080;*/ 
	opacity:0.65; 
	-moz-opacity: 0.65; 
	filter: alpha(opacity=65);
	padding: 2px;
}

.linhaVisivelDiv {
	float: left; 
	width: 100%; 
	height: 0px; 
	border: solid 1px #808080; 
	opacity:0.65; 
	-moz-opacity: 0.65; 
	filter: alpha(opacity=65);
}

div input {
	text-transform: uppercase;
}

div textarea {
	text-transform: uppercase;
}

</style>

<script>
	(function ($) {
		$.widget("custom.combobox", {
			_create: function () {
				this.wrapper = $("<span>")
					//.addClass("custom-combobox")
					.insertAfter(this.element);
				this.element.hide();
				this._createAutocomplete();
				//this._createShowAllButton();
				this._teste();
			},
			_createAutocomplete: function () {
				var selected = this.element.children(":selected"),
					value = selected.val() ? selected.text() : "";
				this.input = $("<input>")
					.appendTo(this.wrapper)
					.val(value)
					.attr("title", "")
					//.addClass("custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left")
					.autocomplete({
						delay: 0,
						minLength: 0,
						source: $.proxy(this, "_source")
					})
				//.tooltip({
				//    tooltipClass: "ui-state-highlight"
				//});
				this._on(this.input, {
					autocompleteselect: function (event, ui) {
						ui.item.option.selected = true;
						this._trigger("select", event, {
							item: ui.item.option
						});
					},
					autocompletechange: "_removeIfInvalid"
				});
			},
			_teste: function () {

				var input = this.input, wasOpen = false;

				$("#buttonTodos").click(function () {
					input.focus();
					// Close if already visible
					if (wasOpen) {
						return;
					}

					// Pass empty string as value to search for, displaying all results
					input.autocomplete("search", "");
				});

			},
			_source: function (request, response) {
				var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
				response(this.element.children("option").map(function () {
					var text = $(this).text();
					if (this.value && (!request.term || matcher.test(text)))
						return {
							label: text,
							value: text,
							option: this
						};
				}));
			},
			_removeIfInvalid: function (event, ui) {
				// Selected an item, nothing to do
				if (ui.item) {
					return;
				}
				// Search for a match (case-insensitive)
				var value = this.input.val(),
					valueLowerCase = value.toLowerCase(),
					valid = false;

				this.element.children("option").each(function () {
					if ($(this).text().toLowerCase() === valueLowerCase) {

						this.selected = valid = true;
						return false;
					}
					else {
						this.value = value;
						this.selected = valid = true;
						return false;
					}
				});

				// Found a match, nothing to do
				if (valid) {
					return;
				}

				// Remove invalid value
				this.input.val();
				//.attr("title", value + " não existe.")
				//.tooltip("open");
				this.element.val();
				//this._delay(function () {
				//    this.input.tooltip("close").attr("title", "");
				//}, 2500);
				this.input.autocomplete("instance").term = "";
			},
			_destroy: function () {
				this.wrapper.remove();
				this.element.show();
			}
		});
	})(jQuery);

	$(function () {
		$("#posicao").combobox();
		$(".ui-autocomplete-input").attr('disabled','true');
		$(".ui-autocomplete-input").css('width', '50%');
		$(".ui-autocomplete").css("height", "120px");
		$(".ui-autocomplete").css("overflow", "auto");
	});
</script>

<div style="margin-left: 8px; float: left;">
	<h5>Estação: <b>@ViewBag.Linha | @ViewBag.Posto</b></h5>
</div>
<div style="float: right;">
	<h2>Quantidade consertada: <span id="spQuantidadeResolvida">0</span></h2>
</div>

<div style="position:absolute; margin-left: 30%;">
    <div style="margin-left: 8px; float: left;">
        <a class="bttn bttn-sm bttn-red" style="text-decoration: none;" onclick="url_consultarItem();" data-placement="bottom" data-toggle="tooltip" title="Alt+1">Consultar Item</a>
    </div>
    <div style="margin-left: 8px; float: left;">
	    <a class="bttn bttn-sm bttn-red" style="text-decoration: none;" onclick="url_consultarCodDefeito();" data-placement="bottom" data-toggle="tooltip" title="Alt+2">Consultar Código Defeito</a>
    </div>
    <div style="margin-left: 8px; float: left;">
        <a class="bttn bttn-sm bttn-red" style="text-decoration: none;" onclick="url_visualizarRelatorio();" data-placement="bottom" data-toggle="tooltip" title="Alt+3">Visualizar Relatório</a>
    </div>
</div>

<div class="principal">
	<label id="lblMensagem" class="inputLeitura" style="float: right; width: 49%; align-content: center; text-align: center; font-size: 18px;">
		<span id="tempo"></span>
		AGUARDANDO ENVIO
	</label>
	<div style="float: left; width: 49%;">
		<input type="text" name="txtLeitura" id="txtLeitura" autofocus="autofocus" placeholder="Leia o código de barras do produto" class="passagem" style="text-align: center; width: 100%; height: 30px; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;" />
		
		<input type="text" name="txLeituraItem" id="txtLeituraItem" placeholder="Ler o item a ser desassociado"
		       style="text-align: center; width: 100%; height: 30px; -ms-align-content: center; -webkit-align-content: center; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;" />
		
		<div class="divExibe" style="width: 100%;">
			<label><b>Número de série item a desassociar:</b></label>
			<span id="lblNumSerieItem">&nbsp;</span>
		</div>
	</div>
	

</div>
<br />
<div style="position: static; width: 100%; font-size: 14px;">
	<div class="grid-6-12" style="border: solid 2px #d7d7d7; background:  #e6e6e6;  padding: 10px;">
		<form action="" method="post" name="formDefeito" id="formDefeito">

		<input type="hidden" name="NumSerie" id="NumSerie" value=""/>
		<input type="hidden" name="hdAlterarDefeito" id="hdAlterarDefeito" value=""/>
		<input type="hidden" name="hdCodDRTSupervisor" id="hdCodDRTSupervisor" value=""/>
		<input type="hidden" name="hdJustificativa" id="hdJustificativa" value=""/>
		<input type="hidden" name="CodDRTRevisor" id="CodDRTRevisor" value="@retornologin.CodDRT"/>

		<div style="float: left; width: 15%;">
			<input type="checkbox" name="registrarDefeito" id="registrarDefeito" title="Quando marcado 'Registrar Defeito' ao ler um código de barra será inserido defeito automaticamente."/>
			<span style="margin-left: 2px;">
				Registrar Defeito
			</span>
		</div>

		<div style="float: left; width: 30%;">
			<input type="checkbox" name="alterarDefeito" id="alterarDefeito" title="Quando marcado 'Alterar Defeito' ao ler um código de barra é preciso informar o crachá de um supervisor."/>
			<span style="margin-left: 2px;">
				Alterar Defeito
			</span>
		</div>

		<div style="float: right;" id="dvPostoApontouDefeito">
			
		</div>
		<div class="linhaVisivelDiv" style="margin-top: 5px; margin-bottom: 3px;"></div>
		
		<div style="float: right;">
			 <input type="checkbox" name="defeitoIncorreto" id="defeitoIncorreto" data-placement="bottom" data-toggle="tooltip" title="Quando marcado 'Defeito incorreto' você precisa ler um código de defeito. Pois não é possivel salvar o registro com o defeito padrão 'SF882'." /><span style="margin-left: 2px;">Defeito incorreto</span>
		</div>
		<div class="divExibe">
			<label><b>Número de série:</b></label>
			<span id="spNumeroSerire">&nbsp;</span>
		</div>
		<div class="divExibe2">
			<label><b>Modelo:</b></label>
			<span id="spModelo">&nbsp;</span>
		</div>

		<div class="linhaDiv"></div>

		<div class="divExibe">
			<label><b>Defeito:</b></label>
			<span id="spDefeito">&nbsp;</span>
		</div>

		<div class="divExibe2" id="dvDefeitoEncontrado" style="color: #808080;">
			<label><b>Defeito encontrado:</b></label>
			<span id="spDefeitoEncontrado">&nbsp;</span>
			<input type="hidden" id="defeitoEncontrado" name="defeitoEncontrado" value=""/>
		</div>

		<div class="linhaDiv"></div>

		<div class="divExibe">
			<label><b>Defeito Específico:</b></label>			
			<select id="cmbSubDefeito" name="subDefeito" style="width: 50%; height: 30px; font-size: 20px;">
			</select>
			<br />
		</div>

		<div class="linhaDiv"></div>		

		<div class="divExibe">
			<label><b>Causa:</b></label>
			<select style="width: 50%; height: 30px; font-size: 20px;" name="causa" id="causa">
				<option value="">Selecione</option>
				@{
					List<SEMP.Model.DTO.CnqCausaDTO> listCausa = (List<SEMP.Model.DTO.CnqCausaDTO>)ViewBag.ListaCausa;

					foreach (var item in listCausa)
					{
					<option value="@item.CodCausa.Trim()">@item.CodCausa.Trim() - @item.DesCausa</option>        
					}
				}
			</select>
		</div>

		<div class="divExibe">
			<label><b>Nº Romaneio:</b></label>
			<input style="width: 50%; font-size: 20px;" name="romaneio" id="romaneio" type="text"/>
		</div>

		<div class="linhaDiv"></div>

		<div class="divExibe">
			<label><b>Posição:</b></label>
			@*<input style="width: 50%; font-size: 20px;" name="posicao" id="posicao" type="text"/>*@
			<select style="width: 50%; height: 30px; font-size: 20px;" name="posicao" id="posicao">
				<option value="">Selecione</option>
			</select>
			<input type="button" id="buttonTodos" value="Ver" class="bttn bttn-sm bttn-red"/>
		</div>
		<div class="divExibe2">
			<label><b>Tipo:</b></label>
			
			<input type="radio" name="tipo" id="tipoMaterial" value="M"/> Material
			<input type="radio" name="tipo" id="tipoMaoDeObra" value="O"/> Mão-de-obra
			<input type="radio" name="tipo" id="tipoMaquina" value="P"/> Máquina
			
		</div>
		
		<div class="linhaDiv"></div>

		<div class="divExibe">
			<label><b>Ação:</b></label>
			
			<select style="width: 50%; height: 30px; font-size: 20px;" name="acao" id="acao">
				<option value="">Selecione</option>
				@{
					var listacao = (List<SEMP.Model.DTO.CBAcaoDTO>)ViewBag.ListaAcao;

					foreach (var item in listacao)
					{
					<option value="@item.CodAcao">@item.Descricao</option>        
					}
				}
			</select>
		
		</div>
		<div class="divExibe2">
			<label><b>Origem:</b></label>
			<select style="width: 50%;height: 30px; font-size: 20px;" name="origem" id="origem">
				<option value="">Selecione</option>
				@{
					List<SEMP.Model.DTO.CnqOrigemDTO> listOrigem = (List<SEMP.Model.DTO.CnqOrigemDTO>)ViewBag.ListaOrigem;

					foreach (var item in listOrigem)
					{
					<option value="@item.CodOrigem">@item.DesOrigem</option>        
					}
				}
			</select>
		</div>
		
		<div class="linhaDiv"></div>

		<div style="float: left; width:100%;">
			<label><b>Observação:</b></label>
			<br />
			<table style="width: 100%;" border="0">
				<tr>
					<td>
						<textarea style="resize: none; width: 99%; font-size: 13px;" name="obs" id="obs"></textarea>
					</td>
					<td style="width: 2%;">
						<input class="bttn bttn-sm bttn-red" type="button" value="Salvar" id="btnEnviar" style="margin-top: -8px;" />
					</td>
				</tr>
			</table>
		</div>

		<div id="dvAlterarDefeito" style="display: none; width: 100%;">
		<div style="width: 100%;">
			<div style="float: left; width: 100%;">
			<span>Informe o crachá do supervisor:</span><br />
			<input type="password" id="crachaSupervisor" name="crachaSupervisor" style="width: 100%;" maxlength="12">
			<br />

			<span>Justifique a alteração do defeito:</span><br />
			<textarea style="width: 100%; height: 120px; resize:none;" name="justificativa" id="justificativa"></textarea>
			<br />

			<input class="bttn bttn-sm bttn-red" type="button" value="Enviar" id="btnEnviarOpcao1" />
			<input class="bttn bttn-sm bttn-red" style="" type="button" value="Cancelar" id="btnCancelarOpcao1" onclick="$('#dvAlterarDefeito').dialog('close'); return false;" />

			</div>
		</div>
		</div>

		</form>
	</div>
</div>

<script type="text/javascript">
	var codDRT = "@retornologin.CodDRT";

	$(window).click(function () {
		if ($("#registrarDefeito").is(":checked")) {
			$("#txtLeitura").focus();
		}
	});

	$(document).ready(function () {

		fn_obterTotalDefeitoResolvido();
		fn_desabilitaCampos();
		fn_limparCampos();
		$("#txtLeitura").val("");
		$("#txtLeituraItem").val("");
		$("#registrarDefeito").prop("checked", false);
		$("#registrarDefeito").prop("disabled", false);
		$("#registrarDefeito").tooltip();
		$("#alterarDefeito").tooltip();
		
		$("#defeitoIncorreto").prop('checked', false);
		$("#txtLeitura").focus();
		$('#txtLeitura').keypress(function (evt) {

			if (evt.keyCode == 13) {

				var valor = this.value.toUpperCase();

				if (valor.length > 0) {
					fn_leitura();
				}
			}
		});

		$('#txtLeituraItem').keypress(function (evt) {

			if (evt.keyCode == 13) {

				var valor = this.value.toUpperCase();

				if (valor.length > 0) {
					fn_leituraItem();
				}
			}
		});

		$("#registrarDefeito").change(function () {
			if ($("#registrarDefeito").is(":checked")) {
				$("#registrarDefeito").tooltip("show");
				fn_desabilitaCampos();
				$("#txtLeitura").focus();
				$("#alterarDefeito").prop("disabled", true);
			}
			else {
				$("#alterarDefeito").prop("disabled", false);
			}
		});

		$("#alterarDefeito").change(function () {
			if ($("#alterarDefeito").is(":checked")) {
				$("#registrarDefeito").prop("disabled", true);
				$("#txtLeitura").focus();
			}
			else {
				$("#registrarDefeito").prop("disabled", false);
			}
		});

		$("#acao").change(function () {
			var acao = this.value;
			var leitura = $("#NumSerie").val().toUpperCase().trim();
			var url = '/Posto/RetornaPosicoes';
			var parametros = { Leitura: leitura, acao: acao };

			$.ajax({
				type: "GET",
				url: url,
				data: parametros,
				dataType: "json",
				cache: false,
				async: true,
				success: function (data) {
					fn_retornoAcao(data);
				},
				error: function (xhr, er) {
					alert("Erro ao consultar as posições.");
				}
			});
		});
		/*$("#acao").click(function () {
			var acao = this.value;
			var leitura = $("#NumSerie").val().toUpperCase().trim();
			var url = '/Posto/RetornaPosicoes';
			var parametros = { Leitura: leitura, acao: acao };

			$.ajax({
				type: "GET",
				url: url,
				data: parametros,
				dataType: "json",
				cache: false,
				async: true,
				success: function (data) {
					fn_retornoAcao(data);
				},
				error: function (xhr, er) {
					alert("Erro ao consultar as posições.");
				}
			});
		});*/

		$("#defeitoIncorreto").change(function () {
			if ($("#defeitoIncorreto").is(":checked") && $("#spDefeitoEncontrado").html().trim().length == 0) {
			    fn_habilitaCamposDefeito();
			}
			else {
			    fn_desabilitaCamposDefeito();
			}
		});

		$('#btnEnviar').click(function () {
			var acao = $('#acao').val();
			if (acao.length > 0 && acao == "@SEMP.Model.Constantes.ACAO_SCRAP") {
				if (confirm("Tem certeza que deseja realizar a operação de SCRAP?")) {
				    fn_salvarDefeito();
				}
			}
			else {
			    fn_salvarDefeito();
			}
			
		});
	
		$("#dvAlterarDefeito").dialog({
			title: 'Autenticação',
			autoOpen: false,
			resizable: false,
			width: 300,
			height: 300,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			clickOutside: true,
			clickOutsideTrigger: "#dvAlterarDefeito",
			draggable: false,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar' style='margin-top: -3px;'>X</div>");
			}
		});

		$("#btnEnviarOpcao1").click(function () {
			if ($('#crachaSupervisor').val() == "") {
				alert("Informe o crachá do supervisor.");
			}
			else if ($('#crachaSupervisor').val().length != 12) {
				alert("Informe um crachá válido.");
			}
			else if ($('#justificativa').val() == "") {
				alert("Informe uma justificativa.");
			}
			else {
				$.ajax({
					type: "GET",
					url: "@Url.Action("ValidarCracharSupervisor","Posto")",
					data: { cracha: $('#crachaSupervisor').val() },
					dataType: "json",
					cache: false,
					async: true,
					success: function (data) {
						if (data.retorno == true) {
							$('#dvAlterarDefeito').dialog('close');

							$('#hdCodDRTSupervisor').val(data.codDRT);
							$('#hdJustificativa').val($('#justificativa').val());

							fn_validarRepararDefeito();
						}
						else {
							alert("Crachá inválido. Informe um crachá de supervisor");
						}
					},
					error: function (xhr, er) {
						if (xhr.status == 500 || xhr.status == 503) // service indisponivel
						{
							var mensagem = xhr.status + " - " + xhr.statusText + "\n";
							alert("Erro ao consultar: \n" + mensagem);
							document.location.href = "/";
						} else {
							$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
						}
					}
				});
			}
		});

	});

	function fn_retornoAcao(data) {

		var posicao = $('#posicao').val();

		var optionsPosicao = "<option value='" + posicao + "'>Selecione</option>";

		for (var i = 0; i < data.listaPosicao.length; i++) {

			optionsPosicao += "<option value='" + data.listaPosicao[i].Posicao.trim() + "|" + data.listaPosicao[i].CodItem + "'>" + data.listaPosicao[i].Posicao.trim() + " - " + data.listaPosicao[i].Descricao.trim() + "</option> ";
		}

		$("#posicao").html(optionsPosicao);
	}
    	
	function fn_desabilitaCampos() {
	    $("#registrarDefeito").prop('disabled', false);
	    $("#alterarDefeito").prop('disabled', false);
		$("#origem").prop('disabled', true);
		$("#acao").prop('disabled', true);
		$("#causa").prop('disabled', true);
		$("#cmbSubDefeito").prop('disabled', true);
		$("#obs").prop('disabled', true);
		$("#posicao").prop('disabled', true);
		$("#romaneio").prop('disabled', true);
		$("#tipoMaterial").prop('disabled', true);
		$("#tipoMaoDeObra").prop('disabled', true);
		$("#tipoMaquina").prop('disabled', true);
		$("#btnEnviar").prop('disabled', true);
		$("#defeitoIncorreto").prop('disabled', true);
		$(".ui-autocomplete-input").attr('disabled', true);
		$("#buttonTodos").attr('disabled', true);
		//$("#alterarDefeito").prop("disabled", true);

		$("#txtLeitura").attr("placeholder", "Leia o código de barras do produto");
		$("#defeitoIncorreto").tooltip({
			show: false
		});
	}

	function fn_habilitaCampos() {
		$("#origem").prop('disabled', false);
		$("#acao").prop('disabled', false);
		$("#causa").prop('disabled', false);
		$("#cmbSubDefeito").prop('disabled', false);
		$("#obs").prop('disabled', false);
		$("#posicao").prop('disabled', false);
		$("#romaneio").prop('disabled', false);
		$("#tipoMaterial").prop('disabled', false);
		$("#tipoMaoDeObra").prop('disabled', false);
		$("#tipoMaquina").prop('disabled', false);
		$("#btnEnviar").prop('disabled', false);
		$("#defeitoIncorreto").prop('disabled', false);
		$(".ui-autocomplete-input").attr('disabled', false);
		$("#buttonTodos").attr('disabled', false);
		//$("#alterarDefeito").prop('checked', false);
	}

	function fn_desabilitaCamposDefeito() {
	    $("#registrarDefeito").prop('disabled', true);
	    $("#alterarDefeito").prop('disabled', false);
	    $("#origem").prop('disabled', false);
	    $("#acao").prop('disabled', false);
	    $("#causa").prop('disabled', false);
	    $("#cmbSubDefeito").prop('disabled', false);
	    $("#obs").prop('disabled', false);
	    $("#posicao").prop('disabled', false);
	    $("#romaneio").prop('disabled', false);
	    $("#tipoMaterial").prop('disabled', false);
	    $("#tipoMaoDeObra").prop('disabled', false);
	    $("#tipoMaquina").prop('disabled', false);
	    $(".ui-autocomplete-input").attr('disabled', false);
	    $("#buttonTodos").attr('disabled', false);

	    $("#txtLeitura").attr("placeholder", "Leia o código de barras do produto");
	    $("#dvDefeitoEncontrado").css("color", "#808080");
	    $("#txtLeitura").focus();

	    $("#defeitoIncorreto").tooltip({
	        show: false
	    });
	}

	function fn_habilitaCamposDefeito() {
	    $("#registrarDefeito").prop('disabled', true);
	    $("#alterarDefeito").prop('disabled', true);
	    $("#alterarDefeito").prop('checked', false);
	    $("#origem").prop('disabled', true);
	    $("#acao").prop('disabled', true);
	    $("#causa").prop('disabled', true);
	    $("#cmbSubDefeito").prop('disabled', true);
	    $("#obs").prop('disabled', true);
	    $("#posicao").prop('disabled', true);
	    $("#romaneio").prop('disabled', true);
	    $("#tipoMaterial").prop('disabled', true);
	    $("#tipoMaoDeObra").prop('disabled', true);
	    $("#tipoMaquina").prop('disabled', true);
	    $(".ui-autocomplete-input").attr('disabled', true);
	    $("#buttonTodos").attr('disabled', true);

	    $("#txtLeitura").attr("placeholder", "Leia o código de barras do defeito");
	    $("#defeitoIncorreto").prop('checked', true);
	    $("#defeitoIncorreto").tooltip("show");
	    $("#dvDefeitoEncontrado").css("color", "#333");
	    $("#txtLeitura").focus();
	}

	function fn_leitura() {
		
		if ($("#registrarDefeito").is(":checked") && $("#registrarDefeito").prop('disabled') == false) {
			fn_validarInserirDefeito();        	
		}
		else if ($("#alterarDefeito").is(":checked") && $("#alterarDefeito").prop('disabled') == false && $("#defeitoIncorreto").is(":checked") == false) {
			$("#crachaSupervisor").val("");
			$("#justificativa").val("");
			$('#dvAlterarDefeito').dialog('open');
		}
		else if ($("#defeitoIncorreto").is(":checked") && $("#registrarDefeito").prop('disabled') == true) {
			if (($("#txtLeitura").val().length == "@SEMP.Model.Constantes.TAM_DEFEITO" || $("#txtLeitura").val().length == "@SEMP.Model.Constantes.TAM_DEFEITO_NOVO") && validate() == true) {
			    //fn_validarInserirCodigoDefeito();
				fn_obterDesDefeito();
			}
			else {
				fn_validarRepararDefeito();
			}
		}
		else {
			fn_validarRepararDefeito();
		}
		
		$("#txtLeituraItem").focus();

	}

	function fn_leituraItem() {
		var url = '/Posto/ObterItemAmarrado';

		var leitura = $("#txtLeituraItem").val().toUpperCase().trim();

		var parametros = { NumSerie: leitura };
		fn_ajaxGet(url, parametros, fn_retornoValidarItem);

		$("#txtLeitura").focus();
		$("#txtLeituraItem").val("");

	}

	function fn_retornoValidarItem(data) {

		if (data.error == true) {
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", data.retorno.DesCor);
			$("#txtLeitura").val("");
			fn_limparCampos();
			fn_desabilitaCampos();
		}
		else {
			if (data.NumSerie == $("#NumSerie").val()) {

				$("#lblNumSerieItem").html(data.NumECB + " -> " + data.DesItem);

				if (data.tipo == 1) {
				   //Linhas do DVD e AUD desassociar só um item.
					if (data.Familia == "DVD" || data.Familia == "AUD") {
						$("#acao>option:eq(19)").prop('selected', true);
					} else {
						$("#acao>option:eq(14)").prop('selected', true);
					}
				}
				else if (data.tipo == 2) {
					$("#acao>option:eq(15)").prop('selected', true);
				} else {
					$("#acao>option:eq(19)").prop('selected', true);
				}

				AchaPosicao(data.CodItem);

				$("#lblMensagem").html("<span style='font-size: 18px;'>MANUTENÇÃO EM ANDAMENTO. PREENCHA OS CAMPOS OBRIGATÓRIOS.</span>");
				$("#lblMensagem").css("background-color", "");

			} else {
				$("#lblMensagem").html("<span style='font-size: 18px;'>ITEM LIDO NÃO PERTENCE AO PRODUTO.</span>");
				$("#lblMensagem").css("background-color", "red");
				$("#lblNumSerieItem").html("");
			}
		}
	}

	function AchaPosicao(codigo) {

		var posicao = $("#posicao").find("option");
		for (var i = 0; i < posicao.length; i++) {
			if (posicao[i].value.search(codigo)>0) {
				///posicao[i].selected = true;
				$("#posicao").val(posicao[i].value);
				$(".ui-autocomplete-input").val(posicao[i].text);
				return;
			}

		}

	}

	function fn_validarInserirCodigoDefeito() {
		var leitura = $("#NumSerie").val().toUpperCase().trim();
		var url = '/Posto/ValidarSerialPostoTecnico';
		//var codDRT = "retornologin.CodDRT";
		var codDefeito = $("#txtLeitura").val().toUpperCase();

		var parametros = { Leitura: leitura, CodDRT: codDRT, codDefeito: codDefeito };
		fn_ajaxGet(url, parametros, fn_retornoPadrao);
	}

	function fn_validarRepararDefeito() {

		var leitura = $("#txtLeitura").val().toUpperCase().trim();
		var url = '/Posto/ValidarSerialPostoTecnico';
		//var codDRT = "retornologin.CodDRT";

		var alterarDefeito = $("#alterarDefeito").is(":checked");
		
		var parametros = { Leitura: leitura, CodDRT: codDRT, alterarDefeito: alterarDefeito };
		fn_ajaxGet(url, parametros, fn_retornoPadrao);

	}

	function fn_retornoPadrao(data) {

		if (data.error == true) {
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", data.retorno.DesCor);
			$("#txtLeitura").val("");
			fn_limparCampos();
			fn_desabilitaCampos();
		}
		else {
			//$("#alterarDefeito").prop("disabled", true);
			$("#hdAlterarDefeito").val(data.alterarDefeito);
			fn_preencherCampos(data);
		}
	}

	function fn_preencherCampos(data) {
		fn_limparCampos();
		fn_habilitaCampos();

		$("#registrarDefeito").prop('disabled', true);

		$("#lblMensagem").html("<span style='font-size: 18px;'>MANUTENÇÃO EM ANDAMENTO. PREENCHA OS CAMPOS OBRIGATÓRIOS.</span>");
		$("#lblMensagem").css("background-color", "");
		$("#txtLeitura").val("");

		$("#spNumeroSerire").html(data.defeito.NumECB);        
		$("#spModelo").html(data.defeito.DescricaoModelo);

		$("#origem").val(data.defeito.CodOrigem);
		$("#acao").val(data.defeito.DesAcao);
		$("#obs").val(data.defeito.ObsDefeito);
		$("#NumSerie").val(data.defeito.NumECB);
		
		$("#cmbSubDefeito").val('');

		var opcoes = "";
		opcoes += '<option></option>';
		$.each(data.subDefeito, function (key, valor) {
			opcoes += "<option  value='" + valor.CodSubDefeito + "' >" + valor.CodDefeito + "." + valor.CodSubDefeito + " - " + valor.DesDefeito + "</option>";
		});
		$("#cmbSubDefeito").html(opcoes);
		//$("#cmbSubDefeito").html("<option  value='" + data.subDefeito[0].SubDefeito + "' >" + data.subDefeito[0].CodDefeito + "." + data.subDefeito[0].CodSubDefeito + " - " + data.subDefeito[0].DesDefeito + "</option>");

		if (data.defeito.CodSubDefeito != null)
			$("#cmbSubDefeito").val(data.defeito.CodSubDefeito)

		if (data.exibeDefeitoAnterior == true) {
			$("#spDefeito").html(data.defeitoAnterior);
			$("#spDefeitoEncontrado").html(data.defeitoEncontrado);
			$("#dvDefeitoEncontrado").css("color", "#333");
		}
		else {
			$("#spDefeito").html(data.defeito.CodDefeito + '-' + data.defeito.DescricaoDefeito);
			$("#spDefeitoEncontrado").html("");
		}
		
		$("#dvPostoApontouDefeito").html("<b>POSTO QUE APONTOU DEFEITO: " + data.defeito.DescricaoPostoApontouDefeito.toUpperCase() + "</b>");

		if (data.defeito.CodDefeito == "SF882") {
		    $("#defeitoIncorreto").prop('disabled', true);
		    fn_habilitaCamposDefeito()
		}
		else {
			$("#defeitoIncorreto").prop('checked', false);
			$("#defeitoIncorreto").tooltip("destroy");
		}

		$("#defeitoIncorreto").tooltip();

		//$("#origem").val(data.defeito.CodOrigem);
		//$("#acao").val(data.defeito.DesAcao);
		//$("#obs").val(data.defeito.ObsDefeito);
		//$("#NumSerie").val(data.defeito.NumECB);

		var codigoDacausa = data.defeito.CodCausa;

		if (codigoDacausa != null) {
			$("#causa").val(codigoDacausa.trim());
		}

		var optionsPosicao = optionsPosicao = "<option value=''>Selecione</option>";

		if (data.defeito.DescricaoItemPosicao.trim() != "") {
			$("#posicao").val(data.defeito.Posicao + "|" + data.defeito.CodItem);
			optionsPosicao = "<option value='" + data.defeito.Posicao + "|" + data.defeito.CodItem + "' selected>" + data.defeito.Posicao.trim() + " - " + data.defeito.DescricaoItemPosicao.trim() + "</option>";
			$(".ui-autocomplete-input").val(data.defeito.Posicao.trim() + " - " + data.defeito.DescricaoItemPosicao.trim());
		}
		else {
			if (data.defeito.Posicao != null) {
				$("#posicao").val(data.defeito.Posicao);
				optionsPosicao = "<option value='" + data.defeito.Posicao + "'>" + data.defeito.Posicao + "</option>";
				$(".ui-autocomplete-input").val(data.defeito.Posicao.trim());
			}
		}
		
		for (var i = 0; i < data.listaPosicao.length; i++) {

			optionsPosicao += "<option value='" + data.listaPosicao[i].Posicao.trim() + "|" + data.listaPosicao[i].CodItem + "'>" + data.listaPosicao[i].Posicao.trim() + " - " + data.listaPosicao[i].Descricao.trim() + "</option> ";
		}
		$("#posicao").html(optionsPosicao);

		var flgTipo = data.defeito.FlgTipo;
		if (flgTipo == null) flgTipo = "";

		if (flgTipo.trim() == "M") {
			$("#tipoMaterial").prop('checked', true);
		}
		else if (flgTipo.trim() == "O") {
			$("#tipoMaoDeObra").prop('checked', true);

		}
		else if (flgTipo.trim() == "P") {
			$("#tipoMaquina").prop('checked', true);
		}

	}

	function fn_limparCampos() {
		$("#spNumeroSerire").html("");
		$("#spModelo").html("");
		$("#spDefeito").html("");
		$("#spDefeitoEncontrado").html("");
		$("#dvPostoApontouDefeito").html("");
		$("#NumSerie").val("");
		$("#acao").val("");
		$("#posicao").val("");
		$("#romaneio").val("");
		$("#obs").val("");
		$("#origem").val("");
		$("#causa").val("");
		$("#cmbSubDefeito").val("");
		$(".ui-autocomplete-input").val( "");

		$("#tipoMaoDeObra").prop('checked', false);
		$("#tipoMaterial").prop('checked', false);
		$("#tipoMaquina").prop('checked', false);

		$("#defeitoIncorreto").prop('checked', false);
		$("#defeitoIncorreto").tooltip("destroy");
		$("#registrarDefeito").prop('disabled', false);

		$("#txtLeituraItem").val("");
		$("#lblNumSerieItem").html("");

		$("#dvDefeitoEncontrado").css("color", "#808080");
	}

	function fn_validarInserirDefeito() {
		var leitura = $("#txtLeitura").val().toUpperCase();
		var url = '/Posto/ValidarInseriDefeitoPostoTecnico';
		//var codDRT = "retornologin.CodDRT";

		var parametros = { numECB: leitura, codDRT: codDRT };
		fn_ajaxGet(url, parametros, fn_retornoValidarInserirDefeito);
	}

	function fn_obterDesDefeito() {

		if (validate == false) {
			$("#lblMensagem").html("<span style='font-size: 18px;'>CÓDIGO DE DEFEITO INVÁLIDO</span>");
			$("#lblMensagem").css("background-color", "Yellow");
			$("#txtLeitura").val("");
			return;
		}

		var urlPagina = '/Posto/ObterDesDefeito';
		var parametros = { codDefeito: $("#txtLeitura").val() }

		$.ajax({
			type: "GET",
			url: urlPagina,
			data: parametros,
			dataType: "json",			
			success: function (data) {
				$("#spDefeitoEncontrado").html(data);
				$("#defeitoEncontrado").val($("#txtLeitura").val());
				$("#txtLeitura").val("");				
			}
		});
	}

	function fn_retornoValidarInserirDefeito(data) {
		if (data.CodMensagem == "@SEMP.Model.Constantes.RAST_OK") {
			fn_inserirDefeito();
		}
		else {
			$("#lblMensagem").html(data.DesMensagem);
			$("#lblMensagem").css("background-color", data.DesCor);
			$("#txtLeitura").val("");
		}
	}

	function fn_inserirDefeito() {

		var url = "/Posto/InserirDefeito/";
		var leitura = $("#txtLeitura").val().toUpperCase();
		//var codDRT = "retornologin.CodDRT";
		var codDefeito = "SF882";

		var parametros = { codDefeito: codDefeito, numSerie: leitura, codDRT: codDRT };
		fn_ajaxGet(url, parametros, fn_retornoInserirDefeito);
	}

	function fn_retornoInserirDefeito(data) {
		if (data.error == true) {
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", data.retorno.DesCor);
			$("#txtLeitura").val("");
		}
		else {
			$("#lblMensagem").html("DEFEITO INSERIDO COM SUCESSO. LEIA O PRÓXIMO.");
			$("#lblMensagem").css("background-color", data.DesCor);
			$("#lblMensagem").css("font-color", "WHITE");
			$("#txtLeitura").val("");
		}
	}

	function fn_salvarDefeito() {
		
		//alert($('#posicao').val());
		var url = '/Posto/SalvarDefeitoPostoTecnico';

		$("#lblMensagem").html("ENVIANDO...");
		$("#lblMensagem").css("background-color", "");

		fn_ajaxPost(url, "formDefeito", fn_retornoSalvarDefeito);
		$("#defeitoEncontrado").val("");
	}

	function fn_retornoSalvarDefeito(data) {
		
		if (data.error == true) {
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", data.retorno.DesCor);
			$("#txtLeitura").val("");
		}
		else {
			$("#spQuantidadeResolvida").html(data.totalDefeitoResolvidos);
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", data.retorno.DesCor);
			$("#txtLeitura").val("");
			$("#txtLeitura").focus();
			fn_limparCampos();
			fn_desabilitaCampos();
		}
	}

	function fn_obterTotalDefeitoResolvido() {

		var urlPagina = '/Posto/GetTotalDefeitosResolvidos';

		$.ajax({
			type: "GET",
			url: urlPagina,
			dataType: "json",
			cache: false,
			async: true,
			success: function (data) {
				$("#spQuantidadeResolvida").html(data.totalDefeitoResolvidos);
			}
		});

	}

	//METODO AJAX GET E POST
	function fn_ajaxGet(urlPagina, parametros, returnData) {
		$.ajax({
			type: "GET",
			url: urlPagina,
			data: parametros,
			dataType: "json",
			cache: false,
			async: true,
			beforeSend: function () {
				$("#lblMensagem").html("ENVIANDO...");
			},
			complete: function () {
			},
			success: function (data) {
				returnData.call(this, data);
			},
			error: function (xhr, er) {
				if (xhr.status == 500 || xhr.status == 503) // service indisponivel
				{
					var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
					alert("Erro ao consultar: <br/>" + mensagem);
					document.location.href = "/";
				} else {
					$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
				}
			}
		});
	}

	function fn_ajaxPost(urlPagina, nameForm, returnData) {
		$.ajax(
		{
			type: 'POST',
			url: urlPagina,
			dataType: 'json',
			data: $("#" + nameForm).serialize(),
			cache: false,
			async: true,
			beforeSend: function () {

			},
			complete: function () {

			},
			success: function (data) {
				returnData.call(this, data);
			},
			error: function (xhr, er) {
				if (xhr.status == 500 || xhr.status == 503) // service indisponivel
				{
					var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
					alert("Erro ao consultar: <br/>" + mensagem);
					document.location.href = "/";
				} else {
					$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
				}
			}
		});
	}

	function validate() {

		var strPattern = "^[A-Za-z]{2}\\d{3}$|^\\d{4}$";

		var oTest1 = document.getElementById('txtLeitura');

		var strOptions = "i";

		var oREGEXP = new RegExp(strPattern, strOptions);

		if (oREGEXP.test(oTest1.value)) {
			return true;
		}
		else {
			return false;
		}
	}

    //Teclas de atalhos
	$(window).bind('keydown', function (e) {

	    if (e.keyCode == 49 && e.altKey) {
	        e.preventDefault();
	        url_consultarItem();
	    }

	    if (e.keyCode == 50 && e.altKey) {
	        e.preventDefault();
	        url_consultarCodDefeito();
	    }

	    if (e.keyCode == 51 && e.altKey) {
	        e.preventDefault();
	        url_visualizarRelatorio();
	    }
	});

	function url_consultarCodDefeito() {
	    var url = "ConsultarCodDefeito";
	    var width = 900;
	    var height = 500;
	    var left = 99;
	    var top = 99;
	    window.open(url, 'janela', 'width=' + width + ', height=' + height + ', top=' + top + ', left=' + left + ', scrollbars=yes, status=no, toolbar=no, location=no, directories=no, menubar=no, resizable=no, fullscreen=no');
	}

	function url_consultarItem() {
	    var url = "ConsultarItem";
	    var width = 900;
	    var height = 500;
	    var left = 99;
	    var top = 99;
	    window.open(url, 'janela', 'width=' + width + ', height=' + height + ', top=' + top + ', left=' + left + ', scrollbars=yes, status=no, toolbar=no, location=no, directories=no, menubar=no, resizable=no, fullscreen=no');
	}

	function url_visualizarRelatorio() {
	    var url = "/Coleta/RelatorioTecnico";
	    window.open(url);
	}

</script>