﻿@using System.Collections.Generic
@{
	ViewBag.Title = "SISAP - Posto Passagem";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = Model.DesPosto;
	ViewBag.NomeUsuario = retornologin.NomFuncionario;
}

<link href="@Scripts.Url("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/ui.multiselect.css")" rel="stylesheet" type="text/css" />

<script src="@Scripts.Url("~/Scripts/JQGrid/grid.locale-pt-br.js")" type="text/javascript"></script>
<script src="@Scripts.Url("~/Scripts/JQGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>

<script type="text/javascript">

	var codTipoPosto = "@ViewBag.CodTipoPosto";

</script>

<style type="text/css">
	#tbListaItem tr.jqgrow td {
		white-space: normal !important;
		font-size: 14px !important;
	}

	.ui-jqgrid-view {
		font-size: 14px !important;
	}

	.grid-6-12 {
		width: 50%;
		float: left;
		border: solid 0px;
	}

	.grid-7-12 {
		width: 48%;
		float: right;
		border: solid 1px #808080;
	}

	@@media only screen and (max-width: 800px) {
		.grid-6-12 {
			width: 100%;
		}

		.grid-7-12 {
			float: left;
			width: 100%;
		}
	}

	.inputLeitura {
		padding: 3%;
		border-radius: 3px;
		background-color: lightgrey;
		font-size: 28px !important;
	}

	.textoLote{
		font-size: 14px !important;
		text-align: center;
	}

	.textoDescricao{
		font-size: 14px !important;
		font-weight: bold !important;
	}
</style>

<div style="margin-left: 8px; float: left;">
	<h5>Estação: <b>@ViewBag.Linha | @ViewBag.Posto</b></h5>
</div>

<div style="position:absolute; margin-left: 46%;" id="divPosicao" name="divPosicao" hidden="hidden">
	<input type="text" name="txtPosicao" id="txtPosicao" maxlength="20" placeholder="Posição" class="passagem" style="text-align: center; width: 70%; height: 30px; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;" />
</div>

<div style="float: right;">
	<h2>Total Produzido: <span id="spTotalProduzido">0</span></h2>
</div>

<div class="principal">
	<input type="text" name="txtLeitura" id="txtLeitura" autofocus="autofocus" placeholder="Leia o código de barras" class="passagem" style="text-align: center; width: 100%; height: 30px; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;" />
	<label id="lblMensagem" class="inputLeitura" style="width: 100%; align-content: center; text-align: center; font-size: 18px;">
		<span id="tempo"></span>
		AGUARDANDO ENVIO
	</label>
</div>
<br />

<div style="position: static; width: 100%;" id="dvExibeGrids">
	<div class="grid-6-12">
		<table id="list"></table>
		<div id="pager" style="text-align:center;"></div>
	</div>
	<div class="grid-7-12" style="font-size: 15px; border: solid 2px #d7d7d7; background:  #e6e6e6; border-radius: 40px 10px">
		<table style="width: 100%; margin-top: 8px;  margin-left: 10px; padding-right: 10px;">
			<tr>
				<td>
					<div id="dvExibePostoPassagem" style="font-family: Arial; font-size: 18px; display: none;">
						<table class="table-semp" style="text-align: center;">
							<thead>
								<tr>
									<th><span style="font-size: 20px; color: black;">Aprovados</span></th>
									<th><span style="font-size: 20px; color: black;">Reprovados</span></th>
								</tr>
							</thead>
							<tbody>
								<tr style="background: #d7d7d7;">
									<td style="text-align: center; font-size: 22px; font-weight: bold;">
										<span id="spAprovados">0</span>
									</td>
									<td style="text-align: center; font-size: 22px; font-weight: bold;">
										<span id="spReprovados">0</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<table class="table-ritmo table-hover" style="width: 98%">
						<thead>
							<tr>
								<th style="width: 90px;"></th>
								<th class="textoDescricao" style="min-width: 160px;">Lote</th>
								<th class="textoDescricao" style="min-width: 160px;">Caixa Coletiva</th>
							</tr>
						</thead>
						<tbody>
							<tr style="background-color: white;">
								<td class="textoDescricao">Nro.</td>
								<td class="textoLote"><div id="lblNumLote"></div></td>
								<td class="textoLote"><div id="lblNumCC"></div></td>
							</tr>
							<tr>
								<td class="textoDescricao">Qtd. Padrão</td>
								<td class="textoLote"><div id="lblQtdLote">0</div></td>
								<td class="textoLote"><div id="lblQtdCC">0</div></td>
							</tr>
							<tr style="background-color: white;">
								<td class="textoDescricao">Qtd. Lido</td>
								<td class="textoLote"><div id="lblQtdLidoLote">0</div></td>
								<td class="textoLote"><div id="lblQtdLidoCC">0</div></td>
							</tr>
							<tr>
								<td></td>
								<td class="text-center">
									<input type="button" class="bttn bttn-sm bttn-red" value="Fechar Lote" id="btnFecharLote">
								</td>
								<td class="text-center">
									<input type="button" class="bttn bttn-sm bttn-red" value="Fechar Caixa Coletiva" id="btnFecharCC">
									<input type="button" class="bttn bttn-sm bttn-red" value="Alterar tamanho" id="btnAlterarTamanho" onclick="fn_AbrirTelaAlterarTamanhoCC();">
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</table>

		<table style="width: 100%; margin-top: 5px;  margin-left: 10px; padding-right: 10px;">
			<tr>
				<td colspan="2">
					<div id="dvExibeRealPrevisto" style="font-family: Arial; font-size: 18px; display: none;">
						<table class="table-semp" style="text-align: center;">
							<thead>
								<tr>
									<th style="width: 50%;">
										<span style="font-size: 20px; color: black; /*text-shadow: 1px 1px 0px #ff0;*/">
											Previsto
										</span>
									</th>
									<th>
										<span style="font-size: 20px; color: black;">
											Real
										</span>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr style="background: #d7d7d7;">
									<td style="text-align: center; font-size: 40px; font-weight: bold;">
										<span id="spPrevisto">
											0
										</span>
									</td>
									<td style="text-align: center; font-size: 40px; font-weight: bold;">
										<span id="spReal">
											0
										</span>
									</td>
								</tr>
							</tbody>
						</table>
						<br />
					</div>
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvDialogFecharCC" style="display: none; width: 50%;">
	<div>
		<table id="tbFecharCC" style="width: 100%">
			<tr>
				<td><b>Número Lote</b></td>
			</tr>
			<tr>
				<td><input type="text" required="required" disabled readonly name="txtNumLote" id="txtNumLote" style="text-align:left; width: 50%; height: 20px" /></td>
			</tr>
			<tr>
				<td><b>Justificativa</b></td>
			</tr>
			<tr>
				<td><textarea name="txtJustificativaFecharCC" required="required" title="Informe a justificativa para fechar esta lote" id="txtJustificativaFecharCC" style=" width: 100%; height: 50px" maxlength="200"></textarea></td>
			</tr>
			<tr>
				<td>
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarFecharCC" onclick="fn_cancelarFechamentoLote();" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Salvar" style="float: right; margin-right: 5px" id="btnSalvarFecharCC" onclick="fn_FecharLote();" />
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvDialogAlterarTamanhoCC" style="display: none; width: 100%;">
	<div>
		<table id="tbAlterarTamanhoCC" style="width: 100%">
			<tr>
				<td style="width: 15%">Tamanho: </td>
				<td>
					<input type="text" name="txtAlterarTamanhoCC" id="txtAlterarTamanhoCC" maxlength="50" style="margin-top: 8px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarAlteracaoCC" onclick="$('#dvDialogAlterarTamanhoCC').dialog('close')" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Alterar" style="float: right; margin-right: 5px" id="btnConfirmaTamanhoCC" onclick="fn_AlterarTamanhoCC()" />
				</td>
			</tr>
		</table>
	</div>

</div>

<script src="@Scripts.Url("/JavaScript/Common")" type="text/javascript"></script>
<script src="@Scripts.Url("/JavaScript/TelaColeta")" type="text/javascript"></script>