﻿@{
	ViewBag.Title = "Transferencia";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Transferência";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

}

<link href="@Scripts.Url("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/ui.multiselect.css")" rel="stylesheet" type="text/css" />

<script src="@Scripts.Url("~/Scripts/JQGrid/grid.locale-pt-br.js")" type="text/javascript"></script>
<script src="@Scripts.Url("~/Scripts/JQGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>

<style type="text/css">

#tbListaItem tr.jqgrow td {
	white-space: normal !important;
	font-size:14px !important;
}

.ui-jqgrid-view {
	font-size:14px !important;
}

.grid-6-12 {width: 50%; float: left; border: solid 0px;}
.grid-7-12 {width: 48%; float: right; border: solid 1px #808080;}

@@media only screen and (max-width: 800px) {
	.grid-6-12 
	{
		width: 100%;
	}

	.grid-7-12
	{
		float: left; 
		width: 100%;
	}
}

.inputLeitura {
	padding: 3%;
	border-radius: 3px;
	background-color: lightgrey;      
	font-size: 28px !important;
}

</style>
<div style="margin-left: 8px; float: left;">
	<h5>Estação: <b>@ViewBag.Linha | @ViewBag.Posto</b></h5>
</div>

<div style="float: right;">
	<h2>Total a ser Transferido: <span id="spTotalProduzido">0 | 0</span></h2>
</div>
<div style="position:absolute; margin-left: 46%;">
	<button href="" class="bttn bttn-sm bttn-red" type="button" disabled name="btnTransferir" id="btnTransferir" style="text-decoration: none;" onclick="transferir()">Transferir</button>
</div>
<div class="principal">
	<input type="text" name="txtLeitura" id="txtLeitura" autofocus="autofocus" placeholder="Leia o código de barras" class="passagem" style="text-align: center; width: 100%; height: 30px; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;" />
	<label id="lblMensagem" class="inputLeitura" style="width: 100%; align-content: center; text-align: center; font-size: 18px;">
		<span id="tempo"></span>
		LEIA O NÚMERO DO LOTE
	</label>
</div>
<br />

<div style="float:left; width:30%; background-color:whitesmoke; margin:3px; border:1px; border-radius:10px">
	<h2><b>Destino</b></h2>
	<div style="float: left;">		
		<select id="cmbDestino" name="destino">
			<option>SELECIONE O DESTINO</option>
		</select>
		<br />			
	</div>
	<div style="float: left; margin-left:10px;">
		<button type="button" class="bttn bttn-sm bttn-red" style="text-decoration: none;" id="btnSalvarDestino" name="btnSalvarDestino" onclick="salvarDestino()">Salvar</button>
		<button type="button" class="bttn bttn-sm bttn-red" hidden="hidden" style="text-decoration: none;" id="btnReiniciar" name="btnReiniciar" onclick="reiniciarTransferencia()">Reiniciar Transferência</button>
	</div>
</div>

<div style="float: left; width: 30%; background-color: whitesmoke; margin: 3px; border: 1px; border-radius: 10px">
	<h2><b>Disponível</b></h2>
	<h5>Lista com os lotes disponíveis para transferência.</h5>	
	<div>
		<table id="listDisponivel"></table>
		<div id="pager"></div>
	</div>
</div>

<div style="float: right; width: 38%; background-color: whitesmoke; margin: 3px; border: 1px; border-radius: 10px">
	<h2><b>Transferência</b></h2>
	<div>
		<h3>Modelo: <span id="Modelo"></span></h3>
	</div>
	
	<div>
		<table id="list"></table>
		<div id="pager"></div>
	</div>
</div>

<script>

	var destino;
	var linhaDestino;
	var CodItem = null;
	var fabrica;

	@{WriteLiteral(ViewBag.JS);}

	function gridTransferencia() {
		var lastSel = 0;

		$("#list").jqGrid({
			url: '/Home/TransferenciaEmAberto/',
			datatype: 'json',
			mtype: 'GET',
			colNames: ['Lote'],
			colModel: [
						{ name: 'NumLote', index: 'NumLote', width: 180, align: 'center' }						
			],
			pager: jQuery('#pager'),
			rowList: [],        // disable page size dropdown
			pgbuttons: false,     // disable page control like next, back button
			pgtext: null,         // disable pager text like 'Page 0 of 10'
			viewrecords: false,    // disable current view record text like 'View 1-10 of 100'
			sortname: 'Id',
			sortorder: "desc",
			cmTemplate: { sortable: false },
			//viewrecords: true,
			caption: 'Transferência',
			scrollOffset: 0,
			width: null,
			height: null,
			autowidth: true,
			autoheight: true,
			loadComplete: function () {
				verificaTransfAberta();
			}
		});
	}

	function gridDisponivel() {
		var lastSel = 0;

		$("#listDisponivel").jqGrid({
			url: '/Home/TransferenciaDisponivel/',
			datatype: 'json',
			mtype: 'GET',
			colNames: ['Lote'],
			colModel: [
						{ name: 'Número do Lote', index: 'NumLote', width: 180, align: 'center' }
			],
			pager: jQuery('#pager'),
			rowList: [],        // disable page size dropdown
			pgbuttons: false,     // disable page control like next, back button
			pgtext: null,         // disable pager text like 'Page 0 of 10'
			viewrecords: false,    // disable current view record text like 'View 1-10 of 100'
			sortname: 'Id',
			sortorder: "desc",
			cmTemplate: { sortable: false },
			caption: 'Transferência',
			scrollOffset: 0,
			width: null,
			height: null,
			autowidth: true,
			autoheight: true,
		});
	}

	$(document).ready(function () {

		$("#txtLeitura").prop('disabled', true);
		$("#cmbDestino").prop('disabled', false);
		$("#btnSalvarDestino").prop('disabled', false);
		$("#btnReiniciar").hide();		
		ObterTotalTransf();
		ObterFabrica();
				
		$("#txtLeitura").keypress(function (evt) {

			if (evt.keyCode == 13) {
				
				$("#txtLeitura").val($("#txtLeitura").val().toUpperCase());
				if (validaCodigoBarras() == true && $("#txtLeitura").val() && validaModelo(document.getElementById('txtLeitura').value) == true){
					
					if (document.getElementById('txtLeitura').value.substring(0, 1) == "C") {
						
						$.ajax({
							type: "GET",
							url: "/posto/ObterNumeroLoteCC/",
							data: { NumSerie: $("#txtLeitura").val().toUpperCase() },
							dataType: "json",
							success: function (json) {
								if (json.substring(0, 1) != fabrica) {
									$("#lblMensagem").html("LOTE INVÁLIDO PARA ESSA FASE");
									$("#lblMensagem").css("background-color", "RED");
									$("#txtLeitura").val("");
									return;
								}
							}
						});
					} else if (document.getElementById('txtLeitura').value.substring(0, 1) != fabrica) {
						$("#lblMensagem").html("LOTE INVÁLIDO PARA ESSA FASE");
						$("#lblMensagem").css("background-color", "RED");
						$("#txtLeitura").val("");
						return;
					}

					$.ajax({
						type: "GET",
						url: "/posto/ValidarLote/",
						data: { NumSerie: $("#txtLeitura").val().toUpperCase(), CodDRT: "@retornologin.CodDRT", CodLinhaDestino: $("#cmbDestino").find('option:selected').val() },
							dataType: "json",
							success: function (json) {
								if (json.CodMensagem == "@SEMP.Model.Constantes.RAST_TRANSF_OK") {
									ObterDesModelo(document.getElementById('txtLeitura').value);
									setModelo(document.getElementById('txtLeitura').value);

									reload();
									reloadDisponivel();
									ObterTotalTransf();
								}
								reload();
								reloadDisponivel();
								ObterTotalTransf();
								$("#lblMensagem").html(json.DesMensagem);
								$("#lblMensagem").css("background-color", json.DesCor);
								$("#txtLeitura").val("");
							},
							error: function (xhr) {
								fn_error(xhr);
							}
					});
				} else {
					$("#lblMensagem").html("Código de Barras Inválido");
					$("#lblMensagem").css("background-color", "Yellow");
					$("#txtLeitura").val("");
				}
			}
		});


		$('.ui-jqgrid-titlebar-close').remove();

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhasPorSetor/",			
			dataType: "json",
			success: function (json) {
				var options = "";
				options += '<option> SELECIONE O DESTINO </option>';
				$.each(json, function (key, Linhas) {
					options += '<option value="' + Linhas.CodLinha + '">' + Linhas.DesLinha + '</option>';
				});
				$("#cmbDestino").html(options);				
			}
		});

		gridTransferencia();
		gridDisponivel();
		

	});

	function salvarDestino() {
		var element = document.getElementById("cmbDestino");
		destino = element.options[element.selectedIndex].value;
		$("#txtLeitura").prop('disabled', false);
		$("#txtLeitura").focus();
		$("#cmbDestino").prop('disabled', true);
		$("#btnSalvarDestino").prop('disabled', true);
		$("#btnReiniciar").show();
		$("#lblMensagem").html('LEIA O NÚMERO DO LOTE');
		$("#btnTransferir").prop('disabled', false);
	}

	function reiniciarTransferencia() {

		$.ajax({
			type: "GET",
			url: "/posto/DesfazTransferencia/",
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Transferência Cancelada");
					$("#txtLeitura").prop('disabled', true);
					$("#cmbDestino").prop('disabled', false);
					$("#btnSalvarDestino").prop('disabled', false);
					$("#btnReiniciar").hide();
					$("#lblMensagem").html('SELECIONE O DESTINO');
					$("#lblMensagem").css("background-color", "lightgrey");
					$("#Modelo").html("");
					reload();
					reloadDisponivel();
					ObterTotalTransf();
					$("#btnTransferir").prop('disabled', true);
				} else {
					alert("Não foi possível realizar a Transferência.");
				}
			}
		});

	}
	


	function reload() {
		jQuery("#list").trigger("reloadGrid");
	}

	function reloadDisponivel() {
		jQuery("#listDisponivel").trigger("reloadGrid");
	}

	function setModelo(lote) {
		var codModelo = lote.substring(7, 13);
		CodItem = codModelo;		
	}

	function validaModelo(leitura) {
		var codModelo = leitura.substring(7, 13);		

		if (CodItem == '')
			return true;

		if (CodItem != codModelo)
			return false;
		else
			return true;
	}

	function ObterDesModelo(lote) {
		//var lote = document.getElementById('txtLeitura').value;
		var codModelo = lote.substring(7, 13);


		$.ajax({
			type: "GET",
			url: "/posto/ObterDesModelo/",
			dataType: "json",
			data: { codItem: codModelo },
			success: function (json) {				
				$("#Modelo").html(codModelo + " - " + json);
			}
		});
	}

	function ObterFabrica() {
		$.ajax({
			type: "GET",
			url: "/posto/ValidarFabrica/",
			dataType: "json",			
			success: function (json) {
				fabrica = json;
			}
		});
	}

	function ObterDesModeloInicial(lote) {
		//var lote = document.getElementById('txtLeitura').value;
		var codModelo = lote.substring(8, 14);		
		CodItem = codModelo;
		$("#btnTransferir").prop('disabled', false);

		$.ajax({
			type: "GET",
			url: "/posto/ObterDesModelo/",
			dataType: "json",
			data: { codItem: codModelo },
			success: function (json) {				
				$("#Modelo").html(codModelo + " - " + json);				
			}
		});
	}

	function ObterTotalTransf() {
		var lote = document.getElementById('txtLeitura').value;
		var codModelo = lote.substring(7, 13);
		CodItem = codModelo;

		$.ajax({
			type: "GET",
			url: "/posto/ObterTotalTransferencia/",
			dataType: "json",			
			success: function (json) {
				$("#spTotalProduzido").html(json.totalLote + " | " + json.totalCC);
			}
		});
	}

	function setDestino() {
		var reportID;

		$.ajax({
			type: "GET",
			url: "/posto/ObterLinhaDestino/",
			dataType: "json",
			success: function (json) {
				reportID = json;
				var options = document.getElementById('cmbDestino').options;
				for (var i = 0, n = options.length; i < n ; i++) {
					//alert(options[i].value + ' - ' + reportID);
					if (options[i].value == reportID) {
						document.getElementById("cmbDestino").selectedIndex = i;
						$("#txtLeitura").prop('disabled', false);
						$("#txtLeitura").focus();
						$("#cmbDestino").prop('disabled', true);
						$("#btnSalvarDestino").prop('disabled', true);
						$("#btnReiniciar").show();
						break;
					}
				}
			}
		});				
	}

	function verificaTransfAberta() {
		
		var rowData = jQuery('#list').jqGrid('getRowData', 1);
		//Não existe transferência em aberto
		if (rowData.NumLote == undefined) {			
			$("#lblMensagem").html('SELECIONE O DESTINO');
		} else {
			//Transferência em aberto
			setDestino();			
			ObterDesModeloInicial(JSON.stringify(rowData.NumLote));
		}
	}

	function transferir() {
		$.ajax({
			type: "GET",
			url: "/posto/Transferir/",
			dataType: "json",
			success: function (json) {
				if (json.CodMensagem == "@SEMP.Model.Constantes.RAST_TRANSF_OK") {
					$("#lblMensagem").html(json.DesMensagem);
					$("#lblMensagem").css("background-color", json.DesCor);
					$("#txtLeitura").val("");

					$("#txtLeitura").prop('disabled', true);
					$("#cmbDestino").prop('disabled', false);
					$("#btnSalvarDestino").prop('disabled', false);
					$("#btnReiniciar").hide();
					$("#lblMensagem").html('SELECIONE O DESTINO');
					$("#lblMensagem").css("background-color", "lightgrey");
					$("#Modelo").html("");
					reload();
					reloadDisponivel();
					ObterTotalTransf();
					$("#btnTransferir").prop('disabled', true);
					alert(json.DesMensagem);
				} else {
					$("#lblMensagem").html(json.DesMensagem);
					$("#lblMensagem").css("background-color", json.DesCor);
					$("#txtLeitura").val("");
				}
				
			}
		});
	}
	

	//Verifica se o código de barras 
	function validaCodigoBarras() {
		//Padrão de Placa, Produto, Produto (INFORMATICA), Placa (Informatica), Lote e Caixa Coletiva
		//var strPattern = "^\\d{12}$|^\\d{6}[A-Za-z]{1}\\d{1}[A-Za-z]{2}\\d{6}$|^\\d{9}$|^\\d{13}$|^\\d{18}$|^\\C\\d{17}$";
		var strPattern = "^\\d{18}$|^\\C\\d{17}$";

		var oTest1 = document.getElementById('txtLeitura');

		var strOptions = "i";

		var oREGEXP = new RegExp(strPattern, strOptions);

		if (oREGEXP.test(oTest1.value)) {
			return true;
		}
		else {
			return false;
		}
	}

	function fn_error(xhr) {
		if (xhr.status == 500 || xhr.status == 503) // service indisponivel
		{
			var mensagem = xhr.status + " - " + xhr.statusText + "\n";
			alert("Erro ao consultar: \n" + mensagem);
			document.location.href = "/";
		} else {
			$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + " | " + xhr.responseText + "<br>");
		}
	}

	/*$(window).click(function () {
			$("#txtLeitura").focus();
	});*/
</script>