﻿@model SEMP.Model.DTO.CBPlanoAcaoAcompanhamentoDTO

@{
	ViewBag.Title = "Acompanhamento";
	Layout = "~/Views/Shared/_Layout_Janela.cshtml";

	ViewBag.altura = 600;
	ViewBag.largura = 650;

}
<style>
	.highlight{
		cursor: pointer;
	}

	.highlight td{

		background-color: #808080;
	}

</style>

<form action="" method="post" name="frmPlanoAcaoCausa" id="frmPlanoAcaoCausa">
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	@Html.HiddenFor(model => model.CodAcompanha)
	<input type="Hidden" id="CodPlano" name = "CodPlano" value="@ViewBag.CodPlano" />
	<input type="Hidden" id="CodPlanoCausa" name = "CodPlanoCausa" value="@ViewBag.CodPlanoCausa" />
<div class="row">
	<table border="0" style="width: 100%; border: solid 0px;" >
		<tr>
			<td style="width: 150px;">
				<b>Causa:</b>
			</td>
			<td>
				<span id="spCausa">@ViewBag.DesCausa</span>
			</td>
		</tr>
		<tr>
			<td>
				<b>Descriçao Acompanhamento:</b>
			</td>
			<td>
				<input name="DesAcompanha" id="DesAcompanha"  class="form-control"/>
			</td>
		</tr>
		<tr>
			<td>
				<b>Data Inicio:</b>
			</td>
			<td>
				<input name="DatInicio" id="DatInicio" class="form-control calendar"/>
			</td>
			<td>
				<b>Data Fim:</b>
			</td>
			<td>
				<input name="DatFim" id="DatFim"  class="form-control calendar"/>
			</td>
		</tr>
		<tr>
			<td>
				<b>Nome Acompanhante:</b>
			</td>
			<td>
				<input name="NomAcompanhante" id="NomAcompanhante" class="form-control"/>
			</td>
			<td>
				<b>Status:</b>
			</td>
			<td>
				<select style="width: 100px;" name="FlgStatus" id="FlgStatus" data-val-number="" data-val="true" class="form-control">
					<option value="0" selected="selected">Iniciado</option>
					<option value="1">Fechado</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><b>Observação: </b></td>
			<td style="height: 50px;">
				<input type="text" name="Observacao" id="Observacao" style="width: 100%; height: 100%;" />
			</td>
			<td colspan="2">&nbsp;</td>
		</tr>
	</table>
	<div class="row">
		<div style="margin-top: 10px; margin-right: 10px; display: inline-block;">
			<input type="button" onclick="window.close();" class="bttn bttn-sm bttn-red" value="Cancelar" />
		</div>
		<div style="display: inline-block;">
			<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" id="btnGravar" onclick="gravar()" />
		</div>
	</div>
</div>
</form>
	<br />
	<div id="dvGridCausa">
		<table class="table-semp smallrow" id="tableGrid">
			<thead>
			<tr>
				<th>
					Plano
				</th>
				<th>
					Causa
				</th>
				<th>
					Descrição
				</th>
				<th>
					Acompanhante
				</th>
				<th>
					Status
				</th>
				<th>
					Data Inicio
				</th>
				<th>
					Data Fim
				</th>
			</tr>
			</thead>
			<tbody>
				@foreach (var item in (List<SEMP.Model.DTO.CBPlanoAcaoAcompanhamentoDTO>)@ViewBag.Lista)
				{
			<tr onclick="Editar(@item.CodAcompanha)">
				<td>
					@item.CodPlano
				</td>
				<td>
					 @item.CodPlanoCausa
				</td>
				<td>
					@item.DesAcompanha
				</td>
				<td>
					@item.NomAcompanhante
				</td>
				<td>
					@if (item.FlgStatus == "0")
					{
						<span>Iniciado</span>
					}
					else
					{
						<span>Fechado</span>    
					}
				</td>
				<td>
					@string.Format("{0:d/MM/yyyy}", item.DatInicio)
				</td>
				<td>
					@string.Format("{0:d/MM/yyyy}", item.DatFim)
				</td>
			</tr>   
				}
			</tbody>
		</table>
	</div>

<script>
	$(function () {

		//add class "highlight" when hover over the row  
		$('#tableGrid tbody tr').hover(function () {
			$(this).addClass('highlight');
		}, function () {
			$(this).removeClass('highlight');
		});
		
		$("#DatFim").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatInicio").datepicker("option", "maxDate", selectedDate);
			}
		});
		$("#DatInicio").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatFim").datepicker("option", "minDate", selectedDate);
			}
		});

	});

	function Editar(id) {
		
		$.ajax({
			type: "GET",
			url: "/Outros/Ishikawa/EditAcompanhamento/",
			data: { codPlano: "@ViewBag.CodPlano", codPlanoCausa: "@ViewBag.CodPlanoCausa", codAcompanha: id},
			dataType: "json",
			success: function (dado) {
				$("#CodAcompanha").val(dado.dados.CodAcompanha);
				$("#DesAcompanha").val(dado.dados.DesAcompanha);
				$("#NomAcompanhante").val(dado.dados.NomAcompanhante);
				$("#FlgStatus").val(dado.dados.FlgStatus);
				$("#DatInicio").val(dado.dataIni);
				$("#DatFim").val(dado.dataFim);
				$("#Observacao").val(dado.dados.Observacao);

				$("#btnGravar").val("Editar");
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr.statusText);
			}
		});
	}

	function gravar() {
		
		$.ajax({
			type: "POST",
			url: "/Outros/Ishikawa/CadAcompanhamento/",
			data: $("#frmPlanoAcaoCausa").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
					if ($("#CodAcompanha").val() == "0" || $("#CodAcompanha").val() == "") {
						alert("Registro inserido com sucesso.");
					}
					else {
						alert("Registro editado com sucesso.");
					}
					
					location.reload();
					document.getElementById("frmPlanoAcaoCausa").reset();
					//window.close();
					//window.opener.Recarregar();
				} else {
					alert(json);
				}
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr.statusText);
			}
		});
	}
</script>