﻿@model IEnumerable<SEMP.Model.DTO.CBPlanoAcaoAcompanhamentoDTO>

<table class="table-semp smallrow">
	<thead>
		<tr>
			<th>Causa</th>
			<th>Descrição</th>
			<th>Acompanhante</th>
			<th>Status</th>
			<th>Data Inicio</th>
			<th>Data Fim</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		<tr>
			<td>@item.DesCausa</td>
			<td>@item.DesAcompanha</td>
			<td>@item.NomAcompanhante</td>
			<td>
				@if (item.FlgStatus == "0")
				{
					<span>Iniciado</span>
				}
				else
				{
					<span>Fechado</span>    
				}
			</td>
			<td>@string.Format("{0:d/MM/yyyy}", item.DatInicio)</td>
			<td>@string.Format("{0:d/MM/yyyy}", item.DatFim)</td>
		</tr>
	}
	</tbody>
</table>