﻿@model SEMP.Model.DTO.CBPlanoAcaoCausaDTO

@{
	ViewBag.Title = "Cadastro de Causa";
	Layout = "~/Views/Shared/_Layout_Janela.cshtml";

	ViewBag.altura = 400;
	ViewBag.largura = 400;

}

@using (Html.BeginForm("CadCausa", "Ishikawa", FormMethod.Post, new { @id = "frmPlanoAcaoCausa" })) 
{
	@Html.AntiForgeryToken()
	
	<div class="">
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.CodPlanoCausa)
		<input type="Hidden" id="CodPlano" name = "CodPlano" value="@ViewBag.codPlano" />

		<div class="row">
			<div style="width: 100%">
				@Html.LabelFor(model => model.DesCausa, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DesCausa, new {style="width: 70%;"})
				@Html.ValidationMessageFor(model => model.DesCausa)
			</div>
		</div>

		<div class="row">
			<div style="width: 50%; float: left;">
				@Html.LabelFor(model => model.CodTipoCausa, new { @class = "control-label", style="float: left; padding-top: 8px;" })
				@Html.DropDownListFor(model => model.CodTipoCausa, Enumerable.Empty<SelectListItem>(), "-- Carregando --", new {id="CodTipoCausa", @class="form-control", style="width: 100px;"})
				@Html.ValidationMessageFor(model => model.CodTipoCausa)
			</div>
		
			<div style="width: 50%; float: right;">
				@Html.LabelFor(model => model.FlgStatus, new { @class = "control-label", style="float: left; padding-top: 8px;" })
				@Html.DropDownListFor(model => model.FlgStatus, new List<SelectListItem>() { new SelectListItem() { Value = "0", Text = "Iniciado"}, new SelectListItem() {Value = "1", Text = "Fechado"} }, new {@class="form-control", style="width: 100px;"})
				@Html.ValidationMessageFor(model => model.FlgStatus)
			</div>
		</div>

		<div class="row">
			<div style="width: 50%; float: left;">
				@Html.LabelFor(model => model.DatInicio, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DatInicio, new {@class="form-control calendar"})
				@Html.ValidationMessageFor(model => model.DatInicio)
			</div>
		
			<div style="width: 50%; float: right;">
				@Html.LabelFor(model => model.DatFim, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DatFim, new {@class="form-control calendar"})
				@Html.ValidationMessageFor(model => model.DatFim)
			</div>
		</div>

		<div class="row">
			<div style="width: 100%;">
				@Html.LabelFor(model => model.NomResponsavel, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.NomResponsavel, new {style="width: 70%;"})
				@Html.ValidationMessageFor(model => model.NomResponsavel)
			</div>
		</div>

		<div class="row">
			<div style="width: 100%;">
				@Html.LabelFor(model => model.DesTipoCausa, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.DesTipoCausa, new {style="width: 70%;"})
				@Html.ValidationMessageFor(model => model.DesTipoCausa)
			</div>
		</div>

		<div class="row">
			<div style="margin-top: 10px; margin-right: 10px; display: inline-block;">
				<input type="button" onclick="window.close();" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
			</div>
		</div>
	</div>
}

<script>
	$(function() {
		$.getJSON('/Outros/TipoCausa/ObterLista', function(result) {
			var ddl = $('#CodTipoCausa');
			ddl.empty();
			$(result).each(function() {
				$(document.createElement('option'))
					.attr('value', this.Id)
					.text(this.Value)
					.appendTo(ddl);
			});
		});


		$("#DatFim").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatInicio").datepicker("option", "maxDate", selectedDate);
			}
		});
		$("#DatInicio").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatFim").datepicker("option", "minDate", selectedDate);
			}
		});

	});

	function gravar() {
	    
		$.ajax({
			type: "POST",
			url: "/Outros/Ishikawa/CadCausa/",
			data: $("#frmPlanoAcaoCausa").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
				    alert("Registro inserido com sucesso.");
				    window.close();
				    window.opener.Recarregar();
				} else {
					alert(json);
				}
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr.statusText);
			}
		});
	}
</script>