﻿@using RAST.BO.Rastreabilidade
@using SEMP.Model.DTO
@using System.Linq;
@model List<CBPlanoAcaoCausaDTO>

@{
	var planoDeAcao = (CBPlanoAcaoDTO)ViewBag.Plano;
	if (planoDeAcao == null) { planoDeAcao = new CBPlanoAcaoDTO(); }

	var tipoCausa = (List<CBPlanoAcaoTipoCausaDTO>)ViewBag.TipoCausa;

	var tam = tipoCausa != null ? Math.Round((tipoCausa.Count() / 2.0), 0) : 0;
}

<style type="text/css">
	.line-sec
	{
		color: red;
		background-color: red;
		width: 25px;
		border: solid 1px #000000;
		position: static;
		margin-top: -1px;
		margin-left: -1px;
		margin-right: -1px;
		margin-bottom: 0px;
		-moz-transform: rotate(50deg);
		-o-transform: rotate(50deg);
		-webkit-transform: rotate(50deg);
		-ms-transform: rotate(50deg);
		transform: rotate(64deg);
		zoom: 2;
	}

	.line-pri
	{
		color: red;
		background-color: red;
		width: 25px;
		border: solid 1px #000000;
		position: static;
		margin-top: -1px;
		margin-left: -1px;
		margin-right: 2px;
		margin-bottom: -1px;
		-moz-transform: rotate(-50deg);
		-o-transform: rotate(-50deg);
		-webkit-transform: rotate(-50deg);
		-ms-transform: rotate(-50deg);
		transform: rotate(-62.7deg);
		zoom: 1;
	}

	.problema
	{
		border: solid 1px black;
		-ms-border-bottom-right-radius: 30px;
		-webkit-border-bottom-right-radius: 30px;
		border-bottom-right-radius: 30px;
		-webkit-border-top-right-radius: 30px;
		-ms-border-top-right-radius: 30px;
		border-top-right-radius: 30px;
	}

	#txtDesPlanoAcao
	{
		width: 100%;
		height: 100%;
		font-size: 13px;
		border: solid 1px white;
		-webkit-box-shadow: none;
		-ms-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		-webkit-border-top-right-radius: 30px;
		-ms-border-top-right-radius: 30px;
		border-top-right-radius: 30px;
		-ms-border-bottom-right-radius: 30px;
		-webkit-border-bottom-right-radius: 30px;
		border-bottom-right-radius: 30px;
		margin: 0;
		padding: 5px;
	}

		#txtDesPlanoAcao:hover
		{
			border: solid 1px gray;
		}

	.table thead tr td
	{
		text-align: center;
		background-color: #e6e6fa;
		font-weight: bold;
	}

	.table-plano
	{
		width: 100%;
	}

		.table-plano tr td
		{
			font-size: 12px;
		}

			.table-plano tr td.titulo
			{
				width: 45px;
				font-weight: bold;
			}

			.table-plano tr td.valor
			{
				width: 80px;
			}
</style>

<h3>Plano de ação</h3>
@if (Model.Any())
{
	var datConclusao = planoDeAcao.DatConclusao != null ? planoDeAcao.DatConclusao.Value.ToShortDateString() : "";

	<table class="table-plano">
		<tr>
			<td class="titulo">Linha:</td>
			<td class="valor">@planoDeAcao.DesLinha</td>
			@if (planoDeAcao.NumPosto != null)
   {
				<td class="titulo">Posto: </td>
				<td class="valor">@planoDeAcao.DesPosto</td>
   }
			<td class="titulo">Status</td>
			<td class="valor">
				@switch (planoDeAcao.FlgStatus)
				{
					case 0:
						<i>Em aberto</i>
						break;
					case 1:
						<i>Em andamento</i>
						break;
					case 2:
						<i>Concluído</i>
						break;
				}
			</td>
			<td class="titulo">Conclusão:</td>
			<td class="valor">@datConclusao</td>
			<td></td>
		</tr>
	</table>
	<table class="table" border="0" style="width: 100%;">
		<thead>
			<tr>
				<td colspan="3">Causas</td>
				<td>Problema</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				@foreach (var item in tipoCausa.Take((int)tam))
	{
		var contadoCima = 0;
		var listaCausas = Model.Where(x => x.CodTipoCausa == item.CodTipoCausa).ToList();

					<td style="height: 25px;">
						<ul style="list-style-type: none; margin-bottom: 0px; margin-left: -25px; position: static;">
							<li style="width: 100px; margin-left: -15px; border: solid 1px; margin-bottom: 5px; text-align: center;">
								@Html.DisplayFor(modelItem => item.DesTipoCausa)
							</li>
							@for (int i = (listaCausas.Count - 1); i >= 0; i--)
	   {
		   contadoCima += 15;
								<li style="margin-left: @contadoCima.ToString()px; margin-bottom: 2px;">
									<a href="#" onclick=" Acompanhamento(@listaCausas[i].CodPlanoCausa) ">@listaCausas[i].DesCausa</a>
								</li>
	   }
						</ul>
					</td>
	}
				<td rowspan="3" class="problema">@planoDeAcao.DesPlano</td>
			</tr>
			<tr>
				<td style="background-color: black; height: 1px; align-content: space-between;" colspan="@{ Write(tam); }"></td>
			</tr>
			<tr>
				@foreach (var item in tipoCausa.Skip((int)tam))
	{
		var contadorBaixo = 0;
					<td style="height: 25px;">
						<ul style="list-style-type: none; position: relative;">
							@foreach (var causa in Model.Where(x => x.CodTipoCausa == item.CodTipoCausa))
	   {
		   contadorBaixo += 15;
								<li style="margin-left: -@contadorBaixo.ToString()px; align-content: flex-end; margin-top: 2px;">
									<a href="#" onclick=" Acompanhamento(@causa.CodPlanoCausa) ">@causa.DesCausa</a>
								</li>
	   }
							@{ contadorBaixo += 15; }
							<li style="width: 100px; margin-left: - @contadorBaixo.ToString()px; border: solid 1px; margin-top: 5px; text-align: center;">@Html.DisplayFor(modelItem => item.DesTipoCausa)</li>
						</ul>
					</td>
	}
			</tr>
		</tbody>

	</table>

	<br/><br/>
	<div id="acompanhamento"></div>
}
else
{
	var data = Request["datEvento"] ?? DateTime.Now.ToShortDateString();

	if (planoDeAcao.DesPlano != null)
	{
		<div style="margin-bottom: 10px; border-bottom: 1px solid #000000;">
			<span style="font-weight: bold;">Código:</span>
			<span>@planoDeAcao.CodPlano</span>&nbsp;&nbsp;
			<span style="font-weight: bold;">Descrição:</span>
			<span>@planoDeAcao.DesPlano</span>
		</div>

		<br /><br />
		<h2>Plano de ação sem causas cadastradas</h2>
	}
	else
	{
		<br /><br />
		<h2>Não foi encontrado plano de ação para o dia @data na linha selecionada</h2>
	}
}
<script type="text/javascript">
	var codPlano = "@planoDeAcao.CodPlano";

	function NovaCausa() {

		var janela = window.open("/Outros/Ishikawa/CadCausa/" + codPlano, "janela", "width=400,height=400");

		return false;
	}

	function Acompanhamento(codPlanoCausa) {
		$("#acompanhamento").html("");

		$.ajax({
			type: "GET",
			url: "/Outros/Ishikawa/AcompanhamentoLista/?codPlano=" + codPlano + "&codPlanoCausa=" + codPlanoCausa,
			success: function (data) {
				$("#acompanhamento").html(data);
			},
			error: function (data) {
				$("#acompanhamento").html(data);
			}
		});

		return false;
	}

	function Recarregar() {

		$.ajax({
			type: "GET",
			url: "/Outros/Ishikawa/Index/" + codPlano,
			success: function (data) {
				$("#ishikawa").html(data);
			},
			error: function (data) {
				$("#ishikawa").html(data);
			}
		});
	}

	function GravarDesPlano() {
		$.ajax({
			type: "POST",
			url: "/Outros/PlanoAcao/EditPlano/",
			data: { codPlano: codPlano, desPlano: $("#txtDesPlanoAcao").val(), flgStatus: $("#FlgStatus").val(), datConclusao: $("#DatConclusao").val() },
			success: function (data) {
				alert('Dados salvos com sucesso!');
			},
			error: function (data) {
				alert('Erro ao processar: ' + data.responseText);
			}
		});

	}

	$("#DatConclusao").datepicker();
</script>