﻿
@Scripts.Render("~/bundles/highcharts")

@{
    ViewBag.Title = "GetFases";
}

<br />

<table style="width: 100%; margin-bottom: 20px; padding: 3px; background-color: #f6f6f6;">
    <tr>
        <td style="width: 700px; height: 200px; /*border-top-color: #cccccc; border-top-style: solid;*/">
            @ViewBag.chartIndiceGeralIAC
        </td>
        <td style="width: 700px; height: 200px; /*border-top-color: #cccccc; border-top-style: solid;*/">
            @ViewBag.chartsIMCINFOR
        </td>
    </tr>
    <tr>
        <td style="width: 700px; height: 200px; border-top-color: #cccccc; border-top-style: solid;">
            @ViewBag.chartsIMCLCD
        </td>
        <td style="width: 700px; height: 200px; border-top-color: #cccccc; border-top-style: solid;">
            @ViewBag.chartsIMCAUDIO
        </td>
    </tr>
    <tr>
        <td style="width: 700px; height: 200px; border-top-color: #cccccc; border-top-style: solid;">
            @ViewBag.chartsIMCDVD
        </td>
        <td style="width: 700px; height: 200px; border-top-color: #cccccc; border-top-style: solid;">
            @ViewBag.chartsMFLCD
        </td>
    </tr>

    <tr>
        <td style="width: 700px; height: 200px; border-top-color: #cccccc; border-top-style: solid;">
            @ViewBag.chartsMFAUDIO
        </td>
        <td style="width: 700px; height: 200px; border-top-color: #cccccc; border-top-style: solid;">
            @ViewBag.chartsMFDVD
        </td>
    </tr>
</table>
