﻿@Scripts.Render("~/bundles/highcharts")

@{
    List<SEMP.Models.GraficoLinhaIAC> listaCharts = (List<SEMP.Models.GraficoLinhaIAC>)ViewBag.ListaCharts;
    int totalSoma = 0, totalGeral = 0, somaTotalFinal = 0;
}

<input type="button" onclick="Teste();" value="Testar" class="bttn bttn-sm bttn-red" /><br />

<br />
<table style="padding: 5px; margin-bottom: 20px; width: 99%; background-color: #f6f6f6;">
    @foreach (var item in listaCharts)
    {
        somaTotalFinal = 0;
    <tr>
        <td style="width: 50%;">
            @item.Grafico
        </td>
        <td style="width: 50%; margin-top: 0px;">
            <div style="margin-top: 0px;">
            <table border="1" style="width: 100%; padding: 5px; " class="table-semp smallrow">
                <tr>
                    <th colspan="@(item.TabelaDefeito.GroupBy(a => new { Posicao = a.Posicao }).Select(s => new { s.Key.Posicao }).Count()+2)">
                        <h3>DEFEITO</h3>
                    </th>
                </tr>
                <tr>
                    <th></th>
                        @{
                            var colunas = item.TabelaDefeito.GroupBy(a => new { Posicao = a.Posicao }).Select(s => new { s.Key.Posicao }).ToList();
                        }
                        @foreach (var item2 in colunas)
                        {
                            <th>
                            @item2.Posicao
                            </th>
                        }
                    <th>TOTAL GERAL</th>
                </tr>
                @{
                    List<SEMP.Model.VO.CNQ.MaioresDefeitos> listaValores = null;
                    
                    var listaCausas = item.TabelaDefeito.GroupBy(a => new { CodCausa = a.CodCausa, DesCausa = a.DesCausa }).Select(s => new { s.Key.CodCausa, s.Key.DesCausa }).ToList();

                    }

                @foreach (var item2 in listaCausas)
                {
                    totalSoma = 0;
                    
                    var listaPosicao = item.TabelaDefeito.Where(w => w.CodCausa == item2.CodCausa).GroupBy(g => new { Posicao = g.Posicao }).Select(s => new { Posicao = s.Key.Posicao, Count = s.Sum(f => f.QuantidadeDefeito) }).ToList();
                    var listaPosicaoTotal = item.TabelaDefeito.GroupBy(a => new { Posicao = a.Posicao }).Select(s => new { s.Key.Posicao }).ToList();

                    listaValores = new List<SEMP.Model.VO.CNQ.MaioresDefeitos>();
                    
                    if (listaPosicao.Count != colunas.Count)
                    {
                        for (int i = 0; i < colunas.Count; i++)
                        {
                            if (listaPosicao.Any(s=> s.Posicao.Contains(colunas[i].Posicao)) == false)
                            {
                                listaValores.Add(new SEMP.Model.VO.CNQ.MaioresDefeitos { Posicao = colunas[i].Posicao, QuantidadeDefeito = 0 });
                            }
                            else
                            {
                                listaValores.Add(new SEMP.Model.VO.CNQ.MaioresDefeitos { Posicao = colunas[i].Posicao, QuantidadeDefeito = listaPosicao.FirstOrDefault(s => s.Posicao.Contains(colunas[i].Posicao)).Count });
                            }
                        }
                    }
                    else
                    {
                        foreach (var posices1 in listaPosicao)
                        {
                            listaValores.Add(new SEMP.Model.VO.CNQ.MaioresDefeitos { Posicao = posices1.Posicao, QuantidadeDefeito = posices1.Count});
                        }
                    }
                    
                <tr>
                    <td>
                        @item2.DesCausa
                    </td>
                    
                        @foreach (var item3 in listaValores)
                        {
                            totalSoma += item3.QuantidadeDefeito;
                                <td>
                                <b>@item3.QuantidadeDefeito</b>
                                </td>
                        }

                        @*@for (int i = 0; i < (listaPosicaoTotal.Count() - listaPosicao.Count()); i++)
                        {
                            <td>&nbsp;</td>
                        }*@
                    <td style="text-align: center;">
                        <b>@totalSoma</b>
                    </td>
                </tr>    
                }
                <tr>
                    <td>
                        TOTAL GERAL
                    </td>
                    
                    @foreach (var item2 in item.TabelaDefeito.GroupBy(a => new { Posicao = a.Posicao }).Select(s => new { Posicao = s.Key.Posicao, Count = s.Sum(d => d.QuantidadeDefeito) }).ToList())
                    {
                        totalGeral = 0;
                        
                    <td>
                        @{
                            
                        var teste = item.TabelaDefeito.Where(a => a.Posicao == item2.Posicao).Select(s => new { DesCausa = s.DesCausa, Count = s.QuantidadeDefeito }).ToList();
                            
                        item.TabelaDefeito.Where(a => a.Posicao == item2.Posicao).Select(s => new { DesCausa = s.DesCausa, Count = s.QuantidadeDefeito }).ToList().ForEach(f => { totalGeral += f.Count; somaTotalFinal += f.Count; });
                        }
                        @totalGeral
                    </td>        
                    }
                    <td style="text-align: center;">
                         <b>@somaTotalFinal</b>
                    </td>
                    
                </tr>
            </table>
            </div>
        </td>
    </tr>    
    }
</table>

<script type="text/javascript">
    function Teste() {

        $.ajax({
            type: "GET",
            url: "/Outros/Qualidade/GetValoresPPMLINHA9/",
            data: {
                Meta: $("#meta").val()
            },
            success: function (data) {

                var banco = [
                        {
                            data: data.calculos,
                            name: 'PPM LINHA: LINHA 09 IAC', color: '#6A95C7'
                        },
                        {
                            data: data.meta,
                            name: 'META', color: '#9BBB59'
                        }];

                chartLinha09IAC.yAxis[0].setExtremes(0, data.max);
                chartLinha09IAC.xAxis[0].setCategories(data.categoria);

                for (var i = 0; i < banco.length; i++) {
                    chartLinha09IAC.series[i].setData(banco[i].data, true);
                    chartLinha09IAC.series[i].setData(banco[i].data, true);
                }

                chartLinha09IAC.redraw();

            },
            error: function (data) {
                alert("ERRO AO TESTAR!");
            }
        });

    }
</script>