﻿@Scripts.Render("~/bundles/highcharts")
@Scripts.Render("~/bundles/excelexport")
@using SEMP.Model.VO.CNQ


@{
    int totalPosicoes = 0;
    double totalMaioresDefeitos = 0;
    double totalMF = 0;
    double totalDefeitoGeral = 0;
    List<MaioresDefeitos> tableDefeitoGeral = (List<MaioresDefeitos>)ViewBag.TableDefeitoGeral;
    List<MaioresDefeitos> tableMF = (List<MaioresDefeitos>)ViewBag.TableMF;
    List<MaioresDefeitos> tablePosicoes = (List<MaioresDefeitos>)ViewBag.TablePosicoes;
    List<MaioresDefeitos> tableMaioresDefeitos = (List<MaioresDefeitos>)ViewBag.TableMaioresDefeitos;

}

@*<div id="divTeste">
    <table style="width: 100%;" id="tblDados">
        <tr>
            <td id="tdImg"></td>
        </tr>
    </table>
</div>

<input type="button" value="Gerar Imagem" onclick="gerarImagem();" />
<input type="button" value="Exportar" onclick="excel();" />*@

<br />
<table style="padding: 5px; margin-bottom: 20px; width: 99%; background-color: #f6f6f6;">
    <tr>
        <td>
            @(Model)
            <a href="#" onclick="fnVisibleTable('dvTabelaDefeitoGeral'); return false;">Visualizar tabela</a>
            <div id="dvTabelaDefeitoGeral" style="display: none;">
                <table border="1" style="width: 100%; padding: 5px; " class="table-semp smallrow">
                    <tr>
                        <th colspan="@(tableDefeitoGeral.GroupBy(a => new { Data = a.Data }).Select(s => new { s.Key.Data }).Count()+2)">
                            <h3>TABELA DEFEITO GERAL MF</h3>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                            @foreach (var item in tableDefeitoGeral.GroupBy(a => new { Data = a.Data }).Select(s => new { s.Key.Data }).ToList())
                            {
                                <th>
                                @item.Data
                                </th>
                            }
                        <th>TOTAL</th>
                    </tr>
                    @foreach (var item in tableDefeitoGeral.GroupBy(a => new { DesCausa = a.DesCausa }).Select(s => new { s.Key.DesCausa }).ToList())
                    {
                        totalDefeitoGeral = 0;
                    <tr>
                        <td>
                            @item.DesCausa
                        </td>
                        @foreach (var item2 in tableDefeitoGeral.Where(w => w.DesCausa == item.DesCausa).GroupBy(g => new { Data = g.Data }).Select(s => new { Data = s.Key.Data, Count = s.Sum(f => f.Calculo) }).ToList())
                        {
                            totalDefeitoGeral += item2.Count;
                                <td>
                                <b>@item2.Count %</b>
                                </td>
                        }
                        <td style="text-align: center;">
                            <b>@totalDefeitoGeral %</b>
                        </td>
                    </tr>    
                    }
                </table>
            </div>
        </td>
        <td style="width: 50%;">
            @ViewBag.chartsMF
            <a href="#" onclick="fnVisibleTable('dvTabela'); return false;">Visualizar tabela</a>
            <div id="dvTabela" style="display: none;">
                <table border="1" style="width: 100%; padding: 5px; " class="table-semp smallrow">
                    <tr>
                        <th colspan="@(tableMF.GroupBy(a => new { Data = a.Data }).Select(s => new { s.Key.Data }).Count()+2)">
                            <h3>TABELA DEFEITO DE ORIGEM IAC</h3>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                            @foreach (var item in tableMF.GroupBy(a => new { Data = a.Data }).Select(s => new { s.Key.Data }).ToList())
                            {
                                <th>
                                @item.Data
                                </th>
                            }
                        <th>TOTAL</th>
                    </tr>
                    @foreach (var item in tableMF.GroupBy(a => new { DesCausa = a.DesCausa }).Select(s => new { s.Key.DesCausa }).ToList())
                    {
                        totalMF = 0;
                    <tr>
                        <td>
                            @item.DesCausa
                        </td>
                        @foreach (var item2 in tableMF.Where(w => w.DesCausa == item.DesCausa).GroupBy(g => new { Data = g.Data }).Select(s => new { Data = s.Key.Data, Count = s.Sum(f => f.Calculo) }).ToList())
                        {
                            totalMF += item2.Count;
                                <td>
                                <b>@item2.Count %</b>
                                </td>
                        }
                        <td style="text-align: center;">
                            <b>@totalMF %</b>
                        </td>
                    </tr>    
                    }
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td style="width: 50%;">
            @ViewBag.chartMaioresDefeitos
            <a href="#" onclick="fnVisibleTable('dvTabelMaioresDefeitos'); return false;">Visualizar tabela</a>
            <div id="dvTabelMaioresDefeitos" style="display: none;">
                <table border="1" style="width: 100%; padding: 5px; " class="table-semp smallrow">
                    <tr>
                        <th colspan="@(tableMaioresDefeitos.GroupBy(a => new { Data = a.Data }).Select(s => new { s.Key.Data }).Count()+2)">
                            <h3>TABELA IAC MAIORES DEFEITOS</h3>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                         @foreach (var item in tableMaioresDefeitos.GroupBy(a => new { Data = a.Data }).Select(s => new { s.Key.Data }).ToList())
                         {
                             <th>
                                @item.Data
                             </th>
                         }
                        <th>TOTAL</th>
                    </tr>
                    @foreach (var item in tableMaioresDefeitos.GroupBy(a => new { DesCausa = a.DesCausa}).Select(s => new { s.Key.DesCausa}).ToList())
                    {
                        totalMaioresDefeitos = 0;
                    <tr>
                        <td>
                            @item.DesCausa
                        </td>
                        @foreach (var item2 in tableMaioresDefeitos.Where(w => w.DesCausa == item.DesCausa).GroupBy(g => new { Data = g.Data }).Select(s => new { Data = s.Key.Data, Count = s.Sum(f => f.Calculo) }).ToList())
                        {
                            totalMaioresDefeitos += item2.Count;
                             <td>
                                <b>@item2.Count %</b>
                             </td>
                        }
                        <td style="text-align: center;">
                            <b>@totalMaioresDefeitos %</b>
                        </td>
                    </tr>    
                    }
                </table>
            </div>
        </td>
        <td style="width: 50%;">
            @ViewBag.Posicoes
            <a href="#" onclick="fnVisibleTable('dvTabelPosicoes'); return false;">Visualizar tabela</a>
            <div id="dvTabelPosicoes" style="display: none;">
                <table border="1" style="width: 100%; padding: 5px; " class="table-semp smallrow">
                    <tr>
                        <th colspan="@(tablePosicoes.GroupBy(a => new { Data = a.Data }).Select(s => new { s.Key.Data }).Count()+3)">
                            <h3>TABELA IAC MAIORES DEFEITOS POSIÇÕES</h3>
                        </th>
                    </tr>
                    <tr>
                        <th>CAUSA</th>
                        <th>POSIÇÃO</th>
                         @foreach (var item in tablePosicoes.GroupBy(a => new { Data = a.Data }).Select(s => new { s.Key.Data}).ToList())
                         {
                             <th>
                                @item.Data
                             </th>
                         }
                        <th>TOTAL</th>
                    </tr>
                    @foreach (var item in tablePosicoes.GroupBy(a => new { DesCausa = a.DesCausa, Posicao = a.Posicao }).Select(s => new { s.Key.DesCausa, s.Key.Posicao}).ToList())
                    {
                        totalPosicoes = 0;
                    <tr>
                        <td>
                            @item.DesCausa
                        </td>
                        <td>
                            @item.Posicao
                        </td>
                        @foreach (var item2 in tablePosicoes.Where(w => w.DesCausa == item.DesCausa && w.Posicao == item.Posicao).GroupBy(g => new { Data = g.Data }).Select(s => new { Data = s.Key.Data, Count = s.Sum(f => f.QuantidadeDefeito)}).ToList())
                        {
                            totalPosicoes += item2.Count;
                             <td>
                                <b>@item2.Count</b>
                             </td>
                        }
                        <td style="text-align: center;">
                            <b>@totalPosicoes</b>
                        </td>
                    </tr>    
                    }
                </table>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">

    function excel() {
        $("#tblDados").btechco_excelexport({
            containerid: "tblDados",
            datatype: $datatype.MVC
        });
    }

    function gerarImagem() {

        var canvas = document.createElement('canvas');

        var dataSVG = chartMF.getSVG({ chart: { width: chartMF.chartWidth, height: chartMF.chartHeight } });

        canvas.width = 600;//svgSize.width;
        canvas.height = 400;//svgSize.height;

        var ctx = canvas.getContext('2d');

        var img = document.createElement('img');

        img.setAttribute('src', 'data:image/svg+xml;base64,' + btoa(unescape(encodeURIComponent(dataSVG))));

        img.onload = function () {
            ctx.drawImage(img, 0, 0);
            canvas.toDataURL('image/png');
            $("#tdImg").html(img);
        };
    }

    function fnVisibleTable(idDiv) {
        if ($("#" + idDiv).css("display") == "none") {
            $("#" + idDiv).css("display", "inline")
        }
        else {
            $("#" + idDiv).css("display", "none")
        }
    }
    
    //$(document).ready(function () {
    //    //chartMF.setSize(800, 400);
    //    //chartMF.renderer.arc(500, 150, 100, 50, -Math.PI, 0).attr({ fill: '#FCFFC5', stroke: 'black', 'stroke-width': 1 }).add();
    //});
    
</script>
