﻿@Scripts.Render("~/bundles/highcharts")

@using SEMP.Model.VO.CNQ

@{
    int totalPosicoes = 0;
    List<MaioresDefeitos> tablePosicoes = (List<MaioresDefeitos>)ViewBag.TablePosicoes;

}

<br />
<table style="padding: 5px; margin-bottom: 20px; width: 99%; background-color: #f6f6f6;">
    <tr>
        <td>
            @ViewBag.Posicoes
            <a href="#" onclick="fnVisibleTable('dvTabelPosicoes'); return false;">Visualizar tabela</a>
            <div id="dvTabelPosicoes" style="display: none;">
                <table border="1" style="width: 100%; padding: 5px; " class="table-semp smallrow">
                    <tr>
                        <th colspan="@(tablePosicoes.GroupBy(a => new { Data = a.Data }).Select(s => new { s.Key.Data }).Count()+3)">
                            <h3>MAIORES DEFEITOS POSIÇÕES</h3>
                        </th>
                    </tr>
                    <tr>
                        <th>CAUSA</th>
                        <th>POSIÇÃO</th>
                         @foreach (var item in tablePosicoes.GroupBy(a => new { Data = a.Data }).Select(s => new { s.Key.Data}).ToList())
                         {
                             <th>
                                @item.Data
                             </th>
                         }
                        <th>TOTAL</th>
                    </tr>
                    @foreach (var item in tablePosicoes.GroupBy(a => new { DesCausa = a.DesCausa, Posicao = a.Posicao }).Select(s => new { s.Key.DesCausa, s.Key.Posicao}).ToList())
                    {
                        totalPosicoes = 0;
                    <tr>
                        <td>
                            @item.DesCausa
                        </td>
                        <td>
                            @item.Posicao
                        </td>
                        @foreach (var item2 in tablePosicoes.Where(w => w.DesCausa == item.DesCausa && w.Posicao == item.Posicao).GroupBy(g => new { Data = g.Data }).Select(s => new { Data = s.Key.Data, Count = s.Sum(f => f.QuantidadeDefeito)}).ToList())
                        {
                            totalPosicoes += item2.Count;
                             <td>
                                <b>@item2.Count</b>
                             </td>
                        }
                        <td style="text-align: center;">
                            <b>@totalPosicoes</b>
                        </td>
                    </tr>    
                    }
                </table>
            </div>
        </td>
    </tr>
</table>

<script type="text/javascript">

    function fnVisibleTable(idDiv)
    {
        if ($("#" + idDiv).css("display") == "none") {
            $("#" + idDiv).css("display","inline")
        }
        else {
            $("#" + idDiv).css("display", "none")
        }
    }

</script>