﻿@model DotNet.Highcharts.Highcharts

@Scripts.Render("~/bundles/highcharts")

@using SEMP.Model.VO.CNQ

@{
    
    ViewBag.Title = "Geral";

                //double total = 0;
                //List<MaioresDefeitos> table = (List<MaioresDefeitos>)ViewBag.TableGeral;

}

<input type="button" onclick="Teste();" value="Testar" class="bttn bttn-sm bttn-red" /><br />

<br />
<table style="padding: 5px; margin-bottom: 20px; width: 99%; background-color: #f6f6f6;">
    <tr>
        <td>
            @(Model)
            @*<a href="#" onclick="fnVisibleTable('dvTabela'); return false;">Visualizar tabela</a>
            <div id="dvTabela" style="display: none;">
                <table border="1" style="width: 100%; padding: 5px; " class="table-semp smallrow">
                    <tr>
                        <th colspan="@(table.GroupBy(a => new { Data = a.Data }).Select(s => new { s.Key.Data }).Count()+2)">
                            <h3>TABELA DEFEITO GERAL IAC</h3>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                            @foreach (var item in table.GroupBy(a => new { Data = a.Data }).Select(s => new { s.Key.Data }).ToList())
                            {
                                <th>
                                @item.Data
                                </th>
                            }
                        <th>TOTAL</th>
                    </tr>
                    @foreach (var item in table.GroupBy(a => new { DesCausa = a.DesCausa }).Select(s => new { s.Key.DesCausa }).ToList())
                    {
                        total = 0;
                    <tr>
                        <td>
                            @item.DesCausa
                        </td>
                        @foreach (var item2 in table.Where(w => w.DesCausa == item.DesCausa).GroupBy(g => new { Data = g.Data }).Select(s => new { Data = s.Key.Data, Count = s.Sum(f => f.Calculo) }).ToList())
                        {
                            total += item2.Count;
                                <td>
                                <b>@item2.Count %</b>
                                </td>
                        }
                        <td style="text-align: center;">
                            <b>@total %</b>
                        </td>
                    </tr>    
                    }
                </table>
            </div>*@
        </td>
    </tr>
</table>


<script type="text/javascript">

    function fnVisibleTable(idDiv) {
        if ($("#" + idDiv).css("display") == "none") {
            $("#" + idDiv).css("display", "inline")
        }
        else {
            $("#" + idDiv).css("display", "none")
        }
    }

    function Teste() {

        $.ajax({
            type: "GET",
            url: "/Outros/Qualidade/GetValoresPPMIACGERAL/",
            data: {
                Meta: $("#meta").val()
            },
            success: function (data) {

                var banco = [
                        {
                            data: data.calculos,
                            name: 'PPM', color: '#6A95C7'
                        },
                        {
                            data: data.meta,
                            name: 'META', color: '#9BBB59'
                        }];

                chartIndice.yAxis[0].setExtremes(0, data.max);
                chartIndice.xAxis[0].setCategories(data.categoria);

                for (var i = 0; i < banco.length; i++) {
                    chartIndice.series[i].setData(banco[i].data, true);
                    chartIndice.series[i].setData(banco[i].data, true);
                }

                chartIndice.redraw();

            },
            error: function (data) {
                alert("ERRO AO TESTAR!");
            }
        });

    }

</script>
