﻿@{
    ViewBag.Title = "Gráfico Qualidade IMC";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Outros";
    ViewBag.Rotina = "Gráfico Qualidade IMC";

    var datInicio = Request["DatInicio"];
    var datFim = Request["DatFim"];

    if (String.IsNullOrEmpty(datInicio)) { datInicio = DateTime.Now.ToString("MM/yyyy"); }
    if (String.IsNullOrEmpty(datFim)) { datFim = DateTime.Now.ToString("MM/yyyy"); }

}

@Scripts.Render("~/bundles/excelexport")

<h3>@ViewBag.Title</h3>

<div class="boxFiltros">
	<div class="row" style="margin-left: 10px;">
		<div class="col-xs-25 col-v">
			<div class="col-xs-7 col-top-4">
				<label>Data inicial&#58;</label>
				<input type="text" name="DatInicio" id="DatInicio" value="@datInicio" class="calendar"/>
			</div>
			<div class="col-xs-7 col-top-4">
				<label>Data final&#58;</label>
				<input type="text" name="DatFim" id="DatFim" value="@datFim" class="calendar"/>
			</div>

            <div class="col-xs-15 col-top-4" style="float: left;">
					<label>Família:</label>
					<select name="familia" id="familia" class="familia">
						<option value="">SELECIONE A FAMÍLIA</option>
						<option value="LCD">TV LCD</option>
						<option value="AUD">ÁUDIO</option>
						<option value="DVD">DVD</option>						
						<option value="TAB">INFORMÁTICA</option>
					</select>
                <input type="submit" name="btnEnviar" value=" Gerar " class="bttn bttn-sm bttn-red" onclick="btnEnviar_Click();" />
			</div>
		</div>
	</div>
</div>

<div id="conteudo">
</div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<script type="text/javascript">

    $(function () {
        $("#DatFim").datepicker(
            {
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'mm/yy',
                onClose: function (dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1));
                }
            }
            );
        $("#DatInicio").datepicker(
            {
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'mm/yy',
                onClose: function (dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1));
                }
            }
            );
    });

    function btnEnviar_Click() {

        if ($("#familia").val() == "") {
            alert("Selecione uma fámilia");
        }
        else {

            $("#conteudo").html($('#carregando').html());

            $.ajax({
                type: "GET",
                url: "/Outros/Qualidade/GetIMC/",
                data: {
                    DatInicio: $("#DatInicio").val(),
                    DatFim: $("#DatFim").val(),
                    Familia: $("#familia").val()
                },
                success: function (data) {
                    $("#conteudo").html(data);
                },
                error: function (data) {


                    $("#conteudo").html(data);
                }
            });
        }
    }

    function alterafundo(id) {
        $("#" + id).css('background-Color', 'rgba(255, 255, 0, 0.5)');
    }

    function voltafundo(id) {
        $("#" + id).css('background-Color', '');
    }

</script>

<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>
