﻿@{
    ViewBag.Title = "Gráfico Qualidade IAC Geral";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Outros";
    ViewBag.Rotina = "Gráfico Qualidade IAC Geral";

    var datInicio = Request["DatInicio"];
    var datFim = Request["DatFim"];

    if (String.IsNullOrEmpty(datInicio)) { datInicio = DateTime.Now.ToString("MM/yyyy"); }
    if (String.IsNullOrEmpty(datFim)) { datFim = DateTime.Now.ToString("MM/yyyy"); }

}

@Scripts.Render("~/bundles/excelexport")

<h3>@ViewBag.Title</h3>

<div class="boxFiltros">
	<div class="row" style="margin-left: 10px;">
		<div class="col-xs-25 col-v">
			<div class="col-xs-7 col-top-4">
				<label>Data inicial&#58;</label>
				<input type="text" name="DatInicio" id="DatInicio" value="@datInicio" class="calendar"/>
			</div>
			<div class="col-xs-7 col-top-4">
				<label>Data final&#58;</label>
				<input type="text" name="DatFim" id="DatFim" value="@datFim" class="calendar"/>
			</div>
            <div class="col-xs-6 col-top-4" style="">
			    <input type="submit" name="btnEnviar" value=" Gerar " class="bttn bttn-sm bttn-red" onclick="btnEnviar_Click();" />
		    </div>
		</div>
        
	</div>
</div>

<div id="conteudo">
</div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<script type="text/javascript">

    $(function () {
        $("#DatFim").datepicker(
            {
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'mm/yy',
                onClose: function (dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1));
                }
            }
            );
        $("#DatInicio").datepicker(
            {
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'mm/yy',
                onClose: function (dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1));
                }
            }
            );
    });

    function btnEnviar_Click() {

        $("#conteudo").html($('#carregando').html());

        $.ajax({
            type: "GET",
            url: "/Outros/Qualidade/Geral/",
            data: {
                DatInicio: $("#DatInicio").val(),
                DatFim: $("#DatFim").val()
            },
            success: function (data) {
                $("#conteudo").html(data);
            },
            error: function (data) {
                $("#conteudo").html(data);
            }
        });
    }

    function alterafundo(id) {
        $("#" + id).css('background-Color', 'rgba(255, 255, 0, 0.5)');
    }

    function voltafundo(id) {
        $("#" + id).css('background-Color', '');
    }

</script>

<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>
