﻿@model SEMP.Model.DTO.CBPostoDefeitoDTO

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Novo defeito</title>
</head>
<body>
	@using (Html.BeginForm("Create", "PostoDefeito", FormMethod.Post, new { @class = "form-inline", @role = "form" })) {
		@Html.AntiForgeryToken()
		@Html.ValidationSummary(true)
	
		<fieldset>
			<legend>Defeito por Posto</legend>
			<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
				<div class="form-group">
					<div class="input-group">
						@Html.LabelFor(model => model.CodLinha)
						@Html.DropDownList("CodLinha", null, new{ @id = "CodLinha"})
						@Html.ValidationMessageFor(model => model.CodLinha)
					</div>
				</div>
			</div>

			<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
				<div class="form-group">
					<div class="input-group">
						@Html.LabelFor(model => model.NumPosto, new { htmlAttributes = new { @id = "NumPosto" } })
						<select name="NumPosto" id="NumPosto"></select>
						@Html.ValidationMessageFor(model => model.NumPosto)
					</div>
				</div>
			</div>
	
			<div class="row" style="margin-left: 15px; margin-bottom: 5px;">
				<div class="form-group">
					<div class="input-group">
						@Html.LabelFor(model => model.CodDefeito, new { htmlAttributes = new { @id = "CodDefeito" } })
						<select name="CodDefeito" id="CodDefeito"></select>
						@Html.ValidationMessageFor(model => model.CodDefeito)
					</div>
				</div>
			</div>  		 
			<div style="margin-top: 10px; display: inline-block;">
				<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravarPostoDefeito()"/>
			</div>
			
			<div align="center" style="top: 10px; color: green; margin-top: 10px;">
				<span id="text"></span>
			</div>
		</fieldset>
 }			
</body>
</html>

<script>
	$("#CodLinha").change(function () {
		$.ajax({
			type: "GET",
			url: "/posto/GetPostos/",
			data: { codLinha: $("#CodLinha").val() },
			dataType: "json",
			success: function (json) {
				var options = "";
				options += '<option> SELECIONE O POSTO </option>';
				$.each(json, function (key, Posto) {
					options += '<option value="' + Posto.NumPosto + '">' + Posto.DesPosto + '</option>';
				});
				$("#NumPosto").html(options);
			}
		});
	});

	$("#NumPosto").change(function () {
		$.ajax({
			type: "GET",
			url: "/defeitos/ObterDesDefeitoAtivos/",
			dataType: "json",
			success: function (json) {
				var options = "";
				options += '<option> SELECIONE O DEFEITO </option>';
				$.each(json, function (key, Defeito) {
					options += '<option value="' + Defeito.CodDefeito + '">' + Defeito.CodDefeito + ' - ' + Defeito.DesDefeito + '</option>';
				});
				$("#CodDefeito").html(options);
			}
		});
	});

	//$("#CodDefeito").blur(function () {
	//	$.ajax({
	//		type: "GET",
	//		url: "/Defeitos/ObterDesDefeito/",
	//		data: { codDefeito: $("#CodDefeito").val() },
	//		success: function (data) {
	//			$("#DesDefeito").val(data);
	//		}
	//	});
	//});

	function validarCampos() {
		if ($("#CodLinha").val() == null || $("#CodLinha").val() == 0 || $("#CodLinha").val() == "SELECIONE UMA LINHA") {
			alert("Selecione uma linha");
			return false;
		}
		if ($("#NumPosto").val() == null || $("#NumPosto").val() == "" || $("#NumPosto").val() == "SELECIONE O POSTO") {
			alert("Selecione o Posto");
			return false;
		}
		if ($("#CodDefeito").val() == null || $("#CodDefeito").val() == "" || $("#CodDefeito").val() == "SELECIONE O DEFEITO") {
			alert("Selecione o Defeito");
			return false;
		}
		return true;
	}

	function gravarPostoDefeito() {
		if (validarCampos()) {
			$.ajax({
				type: "GET",
				url: "/PostoDefeito/GravarPostoDefeito/",
				data: { CodLinha: $("#CodLinha").val(), NumPosto: $("#NumPosto").val(), CodDefeito: $("#CodDefeito").val() },
				dataType: "json",
				success: function(json) {
					if (json == true) {
						$("#text").text("Defeito " + $("#CodDefeito").val() + " gravado com sucesso.");
						$("#CodDefeito").val("SELECIONE O DEFEITO");
					} else {
						alert("Não foi possível gravar. Verifique o código de defeito inserido.");
					}
					btnEnviar_Click();
				},
				error: function(xhr) {
					alert("Não foi possível adicionar: " + xhr);
				}
			});
		}
	}

	function alert($params) {
		$('body').append('<div class="dialog"></div>');
		$(".dialog").dialog({
			dialogClass: 'no-close',
			title: "Atenção",
			modal: true,
			show: { effect: 'shake', times: 3 },
			open: function () {
				$(this)
					.append($params)
					.parent()                          // obter o elemento widget element
					.find(".ui-dialog-titlebar-close") // encontrar o botão fechar para este dialog
					.hide();                           // escondê-lo
			},
			buttons: [
				{
					text: "Ok",
					click: function () {
						$(this).remove();
					}
				}
			]
		}).css("color", "red");
	}
</script>