﻿@model SEMP.Model.DTO.CBPostoDefeitoDTO

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Apagar</title>
</head>
<body>
	<h3>Confirma excluir o registro?</h3>
	<fieldset>
		<div class="display-label">
			@Html.DisplayNameFor(model => model.CodLinha)
		</div>
		<div class="display-field">
			@Html.DisplayFor(model => model.CodLinha) - 
			@Html.DisplayFor(model => model.DesLinha)
		</div>
		<br />
		<div class="display-label">
			@Html.DisplayNameFor(model => model.NumPosto)
		</div>
		<div class="display-field">
			@Html.DisplayFor(model => model.NumPosto) - 
			@Html.DisplayFor(model => model.DesPosto)
		</div>
		<br />
		<div class="display-label">
			@Html.DisplayNameFor(model => model.CodDefeito)
		</div>
		<div class="display-field">
			@Html.DisplayFor(model => model.CodDefeito) - 
			@Html.DisplayFor(model => model.DesDefeito)
		</div>
	</fieldset>
	@using (Html.BeginForm())
 {
		@Html.AntiForgeryToken()
		<br />
		<div style="margin-top: 10px; display: inline-block;">
			<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
		</div>
		<div style="display: inline-block;">
			<input type="submit" value="Excluir" class="bttn bttn-sm bttn-red" />
		</div>
 }
 <br/>
</body>
</html>
