﻿@using System.CodeDom
@model IEnumerable<SEMP.Model.DTO.CBPostoDefeitoDTO>

@{
	ViewBag.Title = "Cadastro de Defeito por Posto";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Posto Defeito";

	var linha = Request["linha"];
	var posto = Request["posto"];


}

@*Exporta o conteúdo da tabela para o excel*@
@Scripts.Render("~/bundles/excelexport")
@Scripts.Render("~/bundles/datatable")
@Styles.Render("~/Content/datatable")

<span style="float: left; margin-right: 10px;">
	<button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="Voltar();">
		<img src="/images/voltar.gif" style="width: 16px; height: 16px;" />
	</button>
</span>

<h3>@ViewBag.Title</h3>

<form name="frmRelatorio" id="frmRelatorio" action="/Coleta/PostoDefeito/" method="post">
	<div class="row">
		<div class="col-md-8">
			<div class="col-md-6" style="width: 300px;">
				Linha:
				<select name="CodLinha" id="linha" class="form-control input-sm">
					<option value="">SELECIONE A LINHA</option>
				</select>
			</div>
			<div class="col-md-6">
				Posto:
				<select name="NumPosto" id="postos" class="form-control input-sm" style="width: 200px;">
					<option value="">AGUARDANDO A LINHA...</option>
				</select>
			</div>
		</div>
		<div class="col-md-4">
			<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
			<input type="button" name="btnNovo" id="btnNovo" value="Novo" class="bttn bttn-sm bttn-red" />
			<input type="button" name="btnImprimir" id="btnImprimir" value="Imprimir" class="bttn bttn-sm bttn-red" />
			<input type="button" name="btnEnviar" value="Consultar" onclick="btnEnviar_Click()" class="bttn bttn-sm bttn-red" />
		</div>
	</div>
</form>

<div id="dialog-edit" style="display: none; top: 10px;"></div>
<div id="conteudo"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>

<script>
	var url = "";
	var linha = "@linha";
	var posto = "@posto";

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			url: "/Coleta/PostoDefeito/Lista/",
			data: {
				linha: $("#linha").val(),
				posto: $("#postos").val()
			},
			success: function (data) {
				$("#conteudo").html(data);
				$('a').tooltip();

				$(".linkEdit").on("click", function (e) {
					url = $(this).attr('href');
					var titulo = $(this).attr('data-original-title');

					$(".ui-dialog-title").html(titulo);
					$("#dialog-edit").dialog('open');

					return false;
				});

			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	function CarregarPostos() {
		var selecionado = "";
		$.ajax({
			type: "GET",
			url: "/posto/GetPostos/",
			data: { codLinha: $("#linha").val() },
			dataType: "json",
			success: function (json) {
				var options = "";
				options += '<option value=""> SELECIONE O POSTO </option>';

				$.each(json, function (key, dados) {
					if (dados.NumPosto == posto) selecionado = " selected='selected'"; else selecionado = "";
					options += '<option value="' + dados.NumPosto + '"' + selecionado + '>' + dados.DesPosto + '</option>';
				});
				$("#postos").html(options);

				if (posto != "") {
					btnEnviar_Click();
				}
			}
		});
	}

	function CarregarLinhas() {
		var selecionado = "";

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: "FEC" },
			dataType: "json",
			success: function (json) {
				var options = "";
				options += '<option value=""> SELECIONE A LINHA </option>';
				$.each(json, function (key, Linhas) {
					if (Linhas.CodLinha == linha) selecionado = " selected='selected'"; else selecionado = "";
					options += '<option value="' + Linhas.CodLinha + '"' + selecionado + '>' + Linhas.Setor + ' | ' + Linhas.CodLinha + ' | ' + Linhas.DesLinha + '</option>';
				});
				$("#linha").html(options);
				if (posto != "") CarregarPostos();
			}
		});

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: "IMC" },
			dataType: "json",
			success: function (json) {
				var options = $("#linha").html();
				$.each(json, function (key, Linhas) {
					if (Linhas.CodLinha == linha) selecionado = " selected='selected'"; else selecionado = "";
					options += '<option value="' + Linhas.CodLinha + '"' + selecionado + '>' + Linhas.Setor + ' | ' + Linhas.CodLinha + ' | ' + Linhas.DesLinha + '</option>';
				});
				$("#linha").html(options);
				if (posto != "") CarregarPostos();
			}
		});

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: "IAC" },
			dataType: "json",
			success: function (json) {
				var options = $("#linha").html();
				$.each(json, function (key, Linhas) {
					if (Linhas.CodLinha == linha) selecionado = " selected='selected'"; else selecionado = "";
					options += '<option value="' + Linhas.CodLinha + '"' + selecionado + '>' + Linhas.Setor + ' | ' + Linhas.CodLinha + ' | ' + Linhas.DesLinha + '</option>';
				});
				$("#linha").html(options);
				if (posto != "") CarregarPostos();
			}
		});

		$.ajax({
		    type: "GET",
		    url: "/posto/GetLinhas/",
		    data: { fabrica: "LCM" },
		    dataType: "json",
		    success: function (json) {
		        var options = $("#linha").html();
		        $.each(json, function (key, Linhas) {
		            if (Linhas.CodLinha == linha) selecionado = " selected='selected'"; else selecionado = "";
		            options += '<option value="' + Linhas.CodLinha + '"' + selecionado + '>' + Linhas.Setor + ' | ' + Linhas.CodLinha + ' | ' + Linhas.DesLinha + '</option>';
		        });
		        $("#linha").html(options);
		        if (posto != "") CarregarPostos();
		    }
		});

	}

	$(document).ready(function () {
		$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});
		});

		$("#dialog-edit").dialog({
			title: 'Editar Posto Defeito',
			autoOpen: false,
			resizable: false,
			width: 500,
			height: 320,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		}).css('overflow', 'hidden');
		
		$("#btnNovo").on("click", function (e) {
			// e.preventDefault(); use this or return false
			url = "/Coleta/PostoDefeito/Create/";
			$(".ui-dialog-title").html("Novo defeito");
			$("#dialog-edit").dialog('open');

			return false;
		});

		$("#btnclose").on("click", function (e) {
			$("#dialog-edit").dialog("close");
			return false;
		});

		CarregarLinhas();

		$("#btnImprimir").on("click", function (e) {
			var linha = "", posto = "";
			if ($("#linha").val() != "") linha = $("#linha").val();
			if ($("#postos").val() != "") posto = $("#postos").val();
			window.open("/Coleta/PostoDefeito/print/?codLinha=" + linha + "&numPosto=" + posto);
			return false;
		});

		$("#linha").blur(CarregarPostos);
		$("#linha").change(CarregarPostos);

	});

	function Voltar() {
		history.back();
	}
</script>

<br />
<br />
