﻿@model IEnumerable<SEMP.Model.DTO.CBPostoDefeitoDTO>

<table class="table-semp smallrow" id="tblDados">
	<thead>
		<tr>
			<th style="width: 30px;"></th>
			<th>@Html.DisplayNameFor(model => model.CodLinha)</th>
			<th>@Html.DisplayNameFor(model => model.NumPosto)</th>
			<th>@Html.DisplayNameFor(model => model.CodDefeito)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
  {
			<tr>
				<td>
					@Html.ActionLink(" ", "Delete", new { codLinha = item.CodLinha, numPosto = item.NumPosto, codDefeito = item.CodDefeito}, new { @class="linkEdit glyphicon glyphicon-remove", @title="Remover"})
				</td>
				<td>@Html.DisplayFor(modelItem => item.CodLinha) - @Html.DisplayFor(modelItem => item.DesLinha)</td>
				<td>@Html.DisplayFor(modelItem => item.NumPosto) - @Html.DisplayFor(modelItem => item.DesPosto)</td>
				<td>@Html.DisplayFor(modelItem => item.CodDefeito) - @Html.DisplayFor(modelItem => item.DesDefeito)</td>

			</tr>
  }
	</tbody>
</table>

<br />
<br />
