﻿@model IEnumerable<SEMP.Model.DTO.CBPostoDefeitoDTO>

@{
	Layout = null;

	var desLinha = "";
	var desPosto = "";

	if (Request.QueryString.HasKeys() && !String.IsNullOrEmpty(Request["CodLinha"]))
	{
		if (Model != null && Model.Any())
		{
			desLinha = Model.FirstOrDefault().DesLinha;
		}
		else
		{
			desLinha = "LINHA INDEFINIDA";
		}
	}
	else
	{
		desLinha = "TODAS AS LINHAS";
	}

	if (Request.QueryString.HasKeys() && !String.IsNullOrEmpty(Request["NumPosto"]))
	{
		if (Model != null && Model.Any())
		{
			desPosto = Model.FirstOrDefault().DesPosto;
		}
		else
		{
			desPosto = "POSTO INDEFINIDO";
		}
	}
	else
	{
		desPosto = "TODAS OS POSTOS";
	}

	

}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Defeitos por Posto</title>

	<style type="text/css" media="print">
		.barracod
		{
			font-size: 28px !important;
		}
	</style>
	<style type="text/css">
		html
		{
			font-family: sans-serif;
			-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
			font-size: 10px;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		}

		body
		{
			margin: 0;
			font-family: Helvetica, "Segoe UI", Verdana, Sans-Serif;
			padding: 0;
			display: block;
			font-size: 11px;
			line-height: 1.42857143;
			color: #333;
			background-color: #fff;
		}

		.barracod
		{
			font-family: 'c39hrp36dlttnormal', 'c39hrp36dltt';
			font-size: 28px;
			text-align: center;
		}

		.printHeader
		{
			width: 700px;
			height: 15px;
			font-weight: bold;
			font-size: 18px;
			text-align: center;
			margin: 5px;
		}

		div.wrapper
		{
			width: 780px;
		}

		.cancelar
		{
			bottom: 0;
			clear: both;
			height: 20px;
		}

		#container
		{
			margin: auto;
		}

		.item
		{
			width: 200px !important;
			height: 100px !important;
		}
	</style>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/freewall")
</head>
<body>

	<div class="printHeader">TABELA DE CÓDIGO DE NÃO CONFORMIDADE </div>

	<div class="printHeader">@desLinha - @desPosto </div>
	<br />
	<div class="wrapper" style="margin: 10px;">
		<div id="container">
			@foreach (var item in Model)
   {

				<div class="item" style="margin: 5px;">
					<div class="barracod">
						*@item.CodDefeito.Trim()*
					</div>
					<div style="text-align: center; font-size: small;">
						@item.CodDefeito - @item.DesDefeito
					</div>
				</div>
   }
		</div>
		<hr />
		<div class="cancelar">
			<div class="barracod" style="text-align: right;">
				*CANCELAR*
			</div>
			<div id="imprimir" style="text-align: right; margin-top: 20px;">
				<a href="#" onclick="$('#imprimir').css('visibility', 'hidden'); window.print(); $('#imprimir').css('visibility', 'visible');">Imprimir</a> &nbsp;&nbsp;&nbsp;
						<a href="#" onclick="window.close();">Fechar</a>
			</div>
		</div>
	</div>
</body>
</html>
<script>
	var wall = new freewall("#container");

	$(function () {
		wall.reset({
			selector: '.item',
			draggable: true,
			cellW: 250,
			cellH: 120,
			fixSize: 0,
			gutterX: 100,
			gutterY: 50,
			onResize: function () {
				//wall.fitZone();
				wall.fitWidth();
			}
		});
		wall.fitWidth();
	});

	$(window).resize(function () {
		wall.fitWidth();
	});
</script>
