﻿@model SEMP.Model.DTO.CBCadOrigemDTO

@using (Html.BeginForm("Create", "Origem", FormMethod.Post, new { @class = "form-inline", @role = "form", @name = "frmOrigem", id = "frmOrigem" }))
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		@Html.HiddenFor(model => model.CodOrigem)
		<div class="row">
			<div class="form-group">
				@Html.LabelFor(model => model.DesOrigem, new { @class = "control-label col-md-2" })
				<div class="col-md-10">
					@Html.TextBoxFor(model => model.DesOrigem)
					@Html.ValidationMessageFor(model => model.DesOrigem)
				</div>
			</div>
		</div>
        <div class="row" style="margin-left: 15px;">
			<div class="form-group">
				<div class="input-group">
					 @Html.LabelFor(model => model.FlgAtivo)
                    @Html.CheckBoxFor(model => model.FlgAtivo.Value)
                    @Html.ValidationMessageFor(model => model.FlgAtivo)
				</div>
			</div>
		</div>
        <div class="row" style="margin-left: 15px;">
            <div class="form-group">
				<div style="margin-top: 10px; display: inline-block;">
					@Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
				</div>
				<div style="display: inline-block;">
					<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
				</div>
			</div>
        </div>
	</div>
}

<script>
	function gravar() {
		$.ajax({
			type: "POST",
			url: "/Origem/Create/",
			data: $("#frmOrigem").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Origem inserida com sucesso.");
					$("#DesOrigem").val("");
				} else {
					alert("Não foi possível gravar.");
				}
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr);
			}
		});
	}

</script>
