﻿@model SEMP.Model.DTO.CBCadOrigemDTO

<h4>Tem certeza de que deseja remover esse registro?</h4>
<div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.CodOrigem)</dt>
		<dd>@Html.DisplayFor(model => model.CodOrigem)</dd>
		<dt>@Html.DisplayNameFor(model => model.DesOrigem)</dt>
		<dd>@Html.DisplayFor(model => model.DesOrigem)</dd>
	</dl>

	@using (Html.BeginForm())
 {
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<div style="margin-top: 10px; display: inline-block;">
				@Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
			</div>
			<div style="display: inline-block;">
				<input type="submit" value="Apagar" class="bttn bttn-sm bttn-red" />
			</div>
		</div>
 }
</div>
