﻿@model SEMP.Model.DTO.CBCadOrigemDTO

@using (Html.BeginForm("Edit", "Origem", FormMethod.Post, new { @class = "form-inline", @role = "form", @id = "frmOrigem", @name = "frmOrigem" }))
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)
		<div class="row" style="margin-left: 15px;">
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.CodOrigem)
					@Html.TextBoxFor(model => model.CodOrigem, new { @readonly = "readonly", @style="width: 30px"})
					@Html.ValidationMessageFor(model => model.CodOrigem)
				</div>
			</div>
		</div>
		<div class="row" style="margin-left: 15px;">
			<div class="form-group">
				<div class="input-group">
					@Html.LabelFor(model => model.DesOrigem)
					@Html.TextBoxFor(model => model.DesOrigem)
					@Html.ValidationMessageFor(model => model.DesOrigem)
				</div>
			</div>
		</div>
        <div class="row" style="margin-left: 15px;">
			<div class="form-group">
				<div class="input-group">
					 @Html.LabelFor(model => model.FlgAtivo)
                    <input type="checkbox" name="FlgAtivo" id="FlgAtivo" @(Model.FlgAtivo.Value == true ? "checked='checked'" : "") />
                    @Html.ValidationMessageFor(model => model.FlgAtivo)
				</div>
			</div>
		</div>
		<div class="row" style="margin-left: 15px;">
			<div class="form-group">
				<div style="margin-top: 10px; display: inline-block;">
					@Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
				</div>
				<div style="display: inline-block;">
					<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
				</div>
			</div>
		</div>
	</div>
}
<script>
	function gravar() {
		$.ajax({
			type: "POST",
			url: "/Origem/Edit/",
			data: $("#frmOrigem").serialize(),
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Origem alterada com sucesso.");
					document.location.href = "/Coleta/Origem/";
				} else {
					alert("Não foi possível gravar.");
				}
			},
			error: function (xhr) {
				alert("Não foi possível alterar: " + xhr);
			}
		});
	}

</script>

