﻿@model IEnumerable<SEMP.Model.DTO.CBCadOrigemDTO>

@{
	ViewBag.Title = "Listagem de Origem";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Relatório Técnico";
}
@Scripts.Render("~/bundles/excelexport")

<h3>@ViewBag.Title</h3>

<div id="dialog-edit" style="display: none; top: 10px;"></div>

<p>
	<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" />
	<input type="button" name="btnNovo" id="btnNovo" value="Novo" class="bttn bttn-sm bttn-red" />
	<input type="button" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" onclick="document.location.reload();" />
</p>
<table class="table-semp" id="tblDados">
	<thead>
		<tr>
			<th style="width: 100px;"></th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.CodOrigem)</th>
			<th>@Html.DisplayNameFor(model => model.DesOrigem)</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.ActionLink("Alterar", "Edit", new { codOrigem =item.CodOrigem }, new { @class = "lnkEdit" }) |
				@Html.ActionLink("Apagar", "Delete", new { codOrigem =item.CodOrigem }, new { @class = "lnkEdit" })
			</td>
			<td>@Html.DisplayFor(modelItem => item.CodOrigem)</td>
			<td>@Html.DisplayFor(modelItem => item.DesOrigem)</td>
		</tr>
	}
	</tbody>
</table>
<br /><br/>

<script>
	$(document).ready(function () {
		$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados",
				datatype: $datatype.MVC
			});
		});

		var url = "";

		$("#dialog-edit").dialog({
			title: 'Editar Origem',
			autoOpen: false,
			resizable: false,
			width: 400,
			height: 200,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		$(".lnkEdit").on("click", function (e) {
			// e.preventDefault(); use this or return false
			url = $(this).attr('href');
			$(".ui-dialog-title").html("Editar origem");
			$("#dialog-edit").dialog('open');
			$("#dialog-edit").css("height", 220);

			return false;
		});

		$("#btnNovo").on("click", function (e) {
			// e.preventDefault(); use this or return false
			url = "/Coleta/Origem/Create/";
			$(".ui-dialog-title").html("Nova origem");
			$("#dialog-edit").dialog('open');

			return false;
		});

		$("#btnclose").on("click", function (e) {
			$("#dialog-edit").dialog("close");
			return false;
		});

	});

</script>