﻿@using SEMP.Model.DTO
@model IEnumerable<SEMP.Model.DTO.LSAAPDTO>
@{

var ats = (List<LSAATDTO>)ViewBag.ats;

}

<table class="table-semp blue" id="tblAP">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.CodFab)</th>
			<th>@Html.DisplayNameFor(model => model.NumAP)</th>
			<th>@Html.DisplayNameFor(model => model.QtdLoteAP)</th>
			<th>@Html.DisplayNameFor(model => model.QtdProduzida)</th>
			<th>@Html.DisplayNameFor(model => model.Diferenca)</th>
			<th>@Html.DisplayNameFor(model => model.CodStatus)</th>
			<th>@Html.DisplayNameFor(model => model.Observacao)</th>
		</tr>
	</thead>
@if (Model != null && Model.Any())
{
	<tbody>
		<tr><th colspan="7" class="caption">AP</th></tr>
		@foreach (var item in Model)
  {
			<tr style="text-align: right;">
				<td>@Html.DisplayFor(modelItem => item.CodFab)</td>
				<td>@Html.DisplayFor(modelItem => item.NumAP)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdLoteAP)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdProduzida)</td>
				<td>@Html.DisplayFor(modelItem => item.Diferenca)</td>
				<td>@Html.DisplayFor(modelItem => item.CodStatus)</td>
				<td style="text-align: left;">@Html.DisplayFor(modelItem => item.Observacao)</td>
			</tr>
  }
	</tbody>
}
@if (ats != null && ats.Any()) { 
	<tbody>
		<tr><th colspan="7" class="caption">AT</th></tr>
		@foreach (var item in ats)
		{
			<tr style="text-align: right;">
				<td>@Html.DisplayFor(modelItem => item.CodFab)</td>
				<td>@Html.DisplayFor(modelItem => item.NumAT)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdLoteAT)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdProduzida)</td>
				<td>@Html.DisplayFor(modelItem => item.Diferenca)</td>
				<td>@Html.DisplayFor(modelItem => item.CodStatus)</td>
				<td style="text-align: left;">@Html.DisplayFor(modelItem => item.Observacao)</td>
			</tr>
		}
	</tbody>
}
</table>

<br />
<button name="btnclose" id="btnclose" class="bttn bttn-sm bttn-red">Fechar</button>

<script>
	$("#btnclose").on("click", function (e) {
		$("#listaAPs").dialog("close");
		return false;
	});


</script>