﻿@model IEnumerable<SEMP.Model.VO.Materiais.SaldoPlacasResumo>

@{
	ViewBag.Title = "Saldo de Placas";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Saldo de Placas";

	var Agrupa = Request["Agrupa"];
	var Modelo = Request["Modelo"];
	var Placa = Request["Placa"];

	if (String.IsNullOrEmpty(Modelo)) { Modelo = ""; }
	if (String.IsNullOrEmpty(Agrupa)) { Agrupa = ""; }

	//var modelos = Model?.GroupBy(x => new { x.CodFab, x.CodItem, x.DesItem, x.DatAtualizacao }).Select(x => new { x.Key.CodFab, x.Key.CodItem, x.Key.DesItem, x.Key.DatAtualizacao, Total = x.Sum(y => y.QtdEstoque) }).Distinct().ToList();
	var saldo = (IEnumerable<SEMP.Model.DTO.EstoquePCIDTO>)ViewBag.saldoPlacas;
	var depositos = saldo?.GroupBy(x => x.CodLocal).Select(x => x.Key).OrderBy(x => x).ToList();

}
@Scripts.Render("~/bundles/excelexport")

<style type="text/css" media="print">
	.cabecalho_pp {
		/*display: block;*/
		margin-bottom: 10px;
	}

	#filtro {
		display: none;
	}

	h3 {
		text-align: center;
		margin-top: -20px;
	}

	.no_print {
		display: none;
	}
</style>

<div id="listaAPs" style="display: none; top: 10px;"></div>

<h3>@ViewBag.Title</h3>

<form name="frmRelatorio" id="frmRelatorio" action="/Outros/SaldoPlaca/" method="post" class="form-inline">
	<div class="input-group">
		<label class="input-group-addon">Modelo&#58;</label>
		<div class="input-group input-group-sm">
			<input type="text" name="Modelo" id="Modelo" value="@Modelo" class="form-control" style="width: 70px;" />
			<input type="text" name="Descricao" id="Descricao" value="" class="input-group-addon" disabled="disabled" />
		</div>
	</div>
	<div class="input-group">
		<label class="input-group-addon">Placa&#58;</label>
		<div class="input-group input-group-sm">
			<input type="text" name="Placa" id="Placa" value="@Placa" class="form-control" style="width:70px;" />
			<input type="text" name="DesPlaca" id="DesPlaca" value="" class="input-group-addon" disabled="disabled" />
		</div>
	</div>
	<div class="input-group">
		<label class="input-group-addon">Agrupamento</label>
		<select name="Agrupa" id="Agrupa" class="form-control input-sm">
			<option value="PA" @{if (Agrupa == "PA") { WriteLiteral("selected"); }}>PCI + PA</option>
			<option value="PCI" @{if (Agrupa == "PCI") { WriteLiteral("selected"); }}>PCI</option>
		</select>
	</div>
	<div class="input-group">
		<div class="btn-group btn-group-sm">
			<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="btn btn-success" />
			<input type="button" id="btnImportarSaldo" name="btnImportarSaldo" value="Importar Saldo SAP" class="btn btn-primary" />
			<input type="submit" name="btnEnviar" value="Consultar" class="btn btn-danger" />
		</div>
	</div>
</form>
<br />

<table id="tblDados" class="table table-bordered table-striped table-condensed table-hover">
	<thead>
		<tr>
			<th class="no_print" style="width: 10px;">&nbsp;</th>
			<th>Descrição</th>
			<th style="width: 50px;">Total Prog.</th>
			<th style="width: 40px;">Total OP</th>
			<th style="width: 40px;">Total Apont.</th>
			@{
				if (depositos != null && depositos.Count > 0)
				{
					foreach (var item in depositos)
					{
						<th style="width: 30px;">@item</th>
					}
				}
			}
			<th style="width: 40px;">Total</th>
			<th style="width: 120px;">Ult. Atual.</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			var espaco = 10;
			var imagem = "forward_disabled.png";
			if (item.Ordem == 0) { espaco = 10; imagem = "forward_enabled_hover.png"; }
			else if (item.Ordem % 2 == 0) { espaco = item.Ordem * 5 + 10; imagem = "forward_enabled.png"; }
			else { espaco = item.Ordem * 5 + 10; imagem = "forward_enabled_hover.png"; }

			<tr style="text-align: right;">
				@*<td class="no_print">Html.ActionLink("APs", "APsMes", "SaldoPlaca", new { codModelo = item.Modelo.Substring(0, 6), datReferencia = DatInicio }, new { @class = "lnkEdit" })</td>*@
				<td class="no_print">APs</td>
				<td style="text-align: left;">
					<div style="width: @(espaco)px; float: left; text-align: right;"><img src="~/Images/@imagem" height="10" width="10" /></div>
					@item.CodModelo - @item.DesModelo
				</td>
				<td>@item.QtdPrograma</td>
				<td>@item.QtdLoteAP</td>
				<td>@item.QtdApontado</td>
				@{
					if (depositos != null && depositos.Count > 0)
					{
						foreach (var dep in depositos)
						{
							var estoque = saldo.FirstOrDefault(x => x.CodItem == item.CodModelo && x.CodLocal == dep);
							if (estoque != null && estoque.QtdEstoque != null)
							{
								<td>@estoque.QtdEstoque.Value.ToString("N2")</td>
							}
							else
							{
								<td>&nbsp;</td>
							}
						}

					}
				}
				<td>@item.QtdEstoque</td>
				<td>@item.DatAtualizacao</td>
			</tr>
		}
	</tbody>
</table>
<div>@Model.Count() registros encontrados</div>
@{ 
	if (ViewBag.erro != null){
		<span class="alert alert-danger">@ViewBag.erro</span>

	}
}

<br />
<br />
<script>
	$(document).ready(function () {
		$("#DatInicio").datepicker();

		$("#btnExportar").click(function () {

			$("#tblDados").btechco_excelexport({
				containerid: "tblDados"
				, datatype: $datatype.MVC
			});
		});

		var url = "";

		$("#listaAPs").dialog({
			title: 'APs emitidas',
			autoOpen: false,
			resizable: false,
			width: 500,
			height: 300,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).html("");
				$(this).load(url);
			}
		});

		$(".lnkEdit").on("click", function (e) {
			// e.preventDefault(); use this or return false
			url = $(this).attr('href');
			$(".ui-dialog-title").html("APs emitidas");
			$("#listaAPs").dialog('open');

			return false;
		});

		$("#btnclose").on("click", function (e) {
			$("#listaAPs").dialog("close");
			return false;
		});

	});

	$("#btnImportarSaldo").click(function () {
		$.ajax({
			type: "GET",
			url: "/Outros/SaldoPlaca/ImportarSaldoSAP/",
			success: function (data) {
				alert("Importação realizada");
			}
		});
	});

	$("#Modelo").blur(function () {
		$.ajax({
			type: "GET",
			url: "/Util/ObterDescricaoItem/",
			data: { CodItem: $("#Modelo").val() },
			success: function (data) {
				$("#Descricao").val(data);
			}
		});
	});

	$("#Placa").blur(function () {
		$.ajax({
			type: "GET",
			url: "/Util/ObterDescricaoItem/",
			data: { CodItem: $("#Placa").val() },
			success: function (data) {
				$("#DesPlaca").val(data);
			}
		});
	});

	$("tr").click(function () {
		$(this).addClass("selected").siblings().removeClass("selected");
	});

</script>
