﻿@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	var linhaAtual = ((SEMP.Model.DTO.CBLinhaDTO)Session["Linha"]);
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Embalagem LOTE IAC";

	if (retornologin == null)
	{
		retornologin = new SEMP.Model.VO.RetornoLogin();
		retornologin.CodDRT = "";
	}
	else
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}
           
}

<link href="@Scripts.Url("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/postoEmbalagem.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/ui.multiselect.css")" rel="stylesheet" type="text/css" />

<script src="@Scripts.Url("~/Scripts/JQGrid/grid.locale-pt-br.js")" type="text/javascript"></script>
<script src="@Scripts.Url("~/Scripts/JQGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>


<div class="row">
	<div class="col-md-4">
		<h5>@Html.Raw(@ViewBag.ResumoDadosAps)</h5>
	</div>
	<div id="divPosicao" name="divPosicao" hidden="hidden">
		<input type="text" name="txtPosicao" id="txtPosicao" maxlength="20" placeholder="Posição" class="passagem" style="text-align: center; width: 70%; height: 30px; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;" />

	</div>

	<div class="col-md-4">
		<div id="divMenu">

			<ul id="menuEmb">
				<li class="menuitem" style="border: 0px" onclick="fn_TrocarModelo()">
					<img src="~/Content/images/btn_troca.png" class="botaoMenu" />
					<p style="color: red; font-weight: bold; margin-top: 3%; border-color: black">Trocar Modelo</p>
				</li>
				<li class="menuitem" style="border: 0px">
					<img src="~/Content/images/Magazine.png" class="botaoMenu" />
					<p style="color: red; font-weight: bold; margin-top: 3%">Magazine</p>
					<ul>
						<li id="btnAlterarTamanhoMagazine" onclick="$('#dvDialogAlterarTamanhoMagazine').dialog('open');"><a href="#">Tamanho</a></li>
						<li id="btnFecharMagazine" onclick="fn_BotaoFecharMagazine()"><a href="#">Fechar</a></li>
						@*<li><a href="#">Consultar Itens</a></li>*@
					</ul>
				</li>
				<li class="menuitem" style="border: 0px">
					<img src="~/Content/images/Lote.png" class="botaoMenu" />
					<p style="color: red; font-weight: bold; margin-top: 3%">Lote</p>
					<ul>
						<li id="btnAlterarTamanhoLote" onclick="$('#dvDialogAlterarTamanhoLote').dialog('open');"><a href="#">Tamanho</a></li>
						<li id="btnFecharLote" onclick="fn_BotaoFecharLote()"><a href="#">Fechar</a></li>
						@*<li><a href="#">Consultar Itens</a></li>*@
					</ul>
				</li>
				<li class="menuitem" style="border: 0px">
					<img src="~/Content/images/ImpEmb.png" class="botaoMenu" />
					<p style="color: red; font-weight: bold; margin-top: 3%">Imprimir</p>
					<ul>
						<li id="btnReimprimirLote" onclick="$('#dvDialogReimprimirLogin').dialog('open');"><a href="#">Lote</a></li>
						<li id="btnReimprimirMagazine" onclick="$('#dvDialogReimprimirEtqIMCIAC').dialog('open');"><a href="#">Magazine</a></li>
						@*<li id="btnReimprimirMagazine" onclick="$('#dvDialogReimprimirLogin').dialog('open');"><a href="#">Magazine</a></li>*@
					</ul>
				</li>
			</ul>

		</div>
	</div>
	<div class="col-md-4" style="text-align: right;">
		<h2>Total Embalado: <span id="spTotalProduzido">0</span></h2>
	</div>
</div>

<div class="principal" style="border: solid 0px; margin-top: 1%">
	<input type="text" name="txtLeitura" id="txtLeitura" autofocus="autofocus" placeholder="Leia o código de barras" class="passagem" style="text-align: center; width: 100%; height: 30px; align-content: center; margin-top: 2px; font-size: 20px; text-transform: uppercase;" />
	<label id="lblMensagem" class="inputLeitura" style="width: 100%; align-content: center; text-align: center; font-size: 18px;">
		AGUARDANDO ENVIO
	</label>
</div>


<div style="position: static; width: 100%;">
	<div class="grid-6-12" style="">
		<table id="tbListaItem"></table>
		<div id="dvListaItem"></div>

	</div>
	<div id="dvExibeUltimoLido" class="grid-7-12" style="font-size: 15px; border: solid 2px #d7d7d7; background: #e6e6e6; border-radius: 40px 10px;">
		<table style="width: 100%; margin-top: 8px; margin-left: 10px; padding-right: 10px;">
			<tr>
				<td>
					<b>Último Lido:</b>
				</td>
				<td style="text-align: right;">
					<a href="#" style="text-decoration: none;" onclick="$('#dvDialogHistorico').dialog('open');">Visualizar histórico</a>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div id="dvUltimoLido" style="font-family: Arial; font-size: 18px;"></div>
					<div id="QtdeCCLido" style="font-family: Arial; font-size: 18px;"></div>
					<div id="QtdeLoteLido" style="font-family: Arial; font-size: 18px;"></div>
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvDialogHistorico" style="display: none; width: 100%;">
	<div style="width: 100%;">
		<table id="tbListaItem2"></table>
		<div id="dvListaItem2"></div>
	</div>
</div>

<div id="dvDialogHoraHora" style="display: none; width: 100%;">
	<div style="width: 100%;">
		<table id="tbListaHoraHora"></table>
		<div id="dvListaHoraHora"></div>
	</div>
</div>

<div id="dvDialogFecharMagazine" style="display: none; width: 50%;">
	<div>
		<table id="tbFecharCC" style="width: 100%">
			<tr>
				<td><b>Justificativa</b></td>
			</tr>
			<tr>
				<td>
					<textarea name="txtJustificativaFecharMagazine" required="required" title="Informe a justificativa para fechar o Magazine" id="txtJustificativaFecharMagazine" style="width: 100%; height: 50px" maxlength="200"></textarea></td>
			</tr>
			<tr>
				<td>
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarFecharMagazine" onclick="fn_cancelarFechamentoMagazine();" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Salvar" style="float: right; margin-right: 5px" id="btnSalvarFecharMagazine" onclick="fn_FecharMagazineIncompleta()" />
				</td>
			</tr>
		</table>
	</div>

	@*	<div class="col-md-7">
		<div id="grdAPCC"></div>
	</div>*@

</div>

<div id="dvDialogFecharLote" style="display: none; width: 50%; height: 30%">
	<div>
		<table id="tbFecharLote" style="width: 100%">
			<tr>
				<td><b>Justificativa</b></td>
			</tr>
			<tr>
				<td>
					<textarea name="txtJustificativaFecharLote" required="required" title="Informe a justificativa para fechar este Lote" id="txtJustificativaFecharLote" style="width: 100%; height: 50px" maxlength="200"></textarea></td>
			</tr>
			<tr>
				<td>
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarFecharLote" onclick="fn_cancelarFechamentoLote();" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Salvar" style="float: right; margin-right: 5px" id="btnSalvarFecharLote" onclick="fn_FecharLoteIncompleta()" />
				</td>
			</tr>
		</table>
	</div>
</div>


<div id="dvDialogReimprimirLogin" style="display: none; width: 100%;">
	@*  Dialogo ReImpressao Solicitar LOgin *@
	<div>
		<table id="tbLoginReimprimir" style="width: 100%">
			<tr>
				<td style="width: 15%">Crachá: </td>
				<td>
					<input type="text" name="txtLoginReimpressao" id="txtLoginReimpressao" maxlength="50" style="margin-top: 8px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarReimpEtq" onclick="$('#dvDialogReimprimirLogin').dialog('close')" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Ativar" style="float: right; margin-right: 5px" id="btnAtivarReimpEtq" onclick="fn_AtivarReImpressaoEtiqueta()" />
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvDialogAlterarTamanhoMagazine" style="display: none; width: 100%;">

	<div>
		<table id="tbAlterarTamanhoCC" style="width: 100%">
			<tr>
				<td style="width: 15%">Tamanho: </td>
				<td>
					<input type="text" name="txtAlterarTamanhoMagazine" id="txtAlterarTamanhoMagazine" maxlength="50" style="margin-top: 8px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarAlteracaoMagazine" onclick="$('#dvDialogAlterarTamanhoMagazine').dialog('close')" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Alterar" style="float: right; margin-right: 5px" id="btnConfirmaTamanhoMagazineCC" onclick="fn_AlterarTamanhoMagazine()" />
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvDialogAlterarTamanhoLote" style="display: none; width: 100%;">

	<div>
		<table id="tbAlterarTamanhoLote" style="width: 100%">
			<tr>
				<td style="width: 15%">Tamanho: </td>
				<td>
					<input type="text" name="txtAlterarTamanhoLote" id="txtAlterarTamanhoLote" maxlength="50" style="margin-top: 8px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarAlteracaoLote" onclick="$('#dvDialogAlterarTamanhoLote').dialog('close')" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Alterar" style="float: right; margin-right: 5px" id="btnConfirmaTamanhoLote" onclick="fn_AlterarTamanhoLote()" />
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvDialogReimprimirEtqIMCIAC" style="display: none; width: 100%;">
	<div>
		<table id="tbReimprimirEtqIMCIAC" style="width: 100%">
			<tr>
				<td style="width: 15%">Magazine: </td>
				<td>
					<input type="text" name="txtReimprimirEtqCaixaColetiva" id="txtReimprimirEtqCaixaColetiva" maxlength="50" style="margin-top: 8px;" />
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input class="bttn bttn-sm bttn-red" type="button" value="Cancelar" style="float: right" id="btnCancelarReimprimirEtqIMCIAC" onclick="$('#dvDialogReimprimirEtqIMCIAC').dialog('close')" />
					<input class="bttn bttn-sm bttn-red" type="button" value="Imprimir" style="float: right; margin-right: 5px" id="btnConfirmaReimprimirEtqIMCIAC" onclick="fn_ReimprimirEtqIMCIAC()" />
				</td>
			</tr>
		</table>
	</div>

</div>

<div id="dvFormDinamico" style="display: inline;">
	<form action="" method="post" id="formDinamico" name="formDinamico">

		<input type="hidden" name="Fabrica" value="@ViewBag.CodigoFabrica"/>
		<input type="hidden" name="Modelo" id="Modelo" value="" />
		<input type="hidden" name="CodDRT" value="@retornologin.CodDRT"/>

		<div id="dvInputs">
		</div>

	</form>
</div>


<script type="text/javascript">

 
	var perfil = "@Html.Raw(ViewBag.Perfil)";
	var arrayPerfil = new Array();
     
	var codModelo = "@ViewBag.Modelo";

	var qtdeCC = "@ViewBag.qtdeCC";
	var temporizador;
	var iniciouTemporizador = false;
	var codLinha = "@ViewBag.CodLinha";
	var codPosto = "@ViewBag.CodPosto";
	var ultimoIndiceLido = 0;
	var apontaDefeito = false;
	var cancelar = false;
   
	arrayPerfil = fn_limpaValores(perfil);

	$(window).click(function () {
		$("#txtLeitura").focus();
	});
	document.getElementById('divMenu').style.display = "block";

	//$("#dvMenuOpcoes").html($('#divMenu').html());

	var arrayAP = new Array();

	function fn_PreencherArrayAP() {
		$.ajax({
			type: "GET",
			url: "/CriarLoteIac/PreencherArrayAP/",
			dataType: "json",
			cache: false,
			async: true,
			success: function (data) {

				$("#QtdeCCLido").html("");
				var html_teste = "";
				for (var i = 0; i < data.length; i++) {
					arrayAP.push({ Modelo: data[i].Modelo, QtdEsp: data[i].QtdEsp, QtdeLido: data[i].QtdeLido });

					if ("@ViewBag.CodTipoPosto" != 29) {
						html_teste += "<b>Tamanho Magazine: " + "</b> <span id='spQtLidoCC_" + data[i].Modelo + "'>0</span>/<span id='spTotalCC_" + data[i].Modelo + "'>" + "@ViewBag.qtdeCC" + "</span> </br> " +
					            "<b>Tamanho Pallet: </b> <span id='spQtLidoLL_" + data[i].Modelo + "'>0</span>/<span id='spTotalLL_" + data[i].Modelo + "'>" + "@ViewBag.QtdeLote" + "</br> ";
						//"<b>Tamanho Pallet: </b>" + "@ViewBag.QtdeLote" + "</br> ";
					}

				}

				$("#QtdeCCLido").html(html_teste);


			},
			error: function (xhr, er) {
				alert("ERRO AO PREENCHER ARRAY DE DADOS DA AP");
			}
		});

    	@*var html_teste = "<b>Tamanho Magazine: @ViewBag.qtdeCC </span> </br>";
    	$("#QtdeCCLido").html(html_teste);*@
	}


	function gridListaItem() {

		$("#tbListaItem").jqGrid({
			url: '/Home/CarregaPerfil/?Fabrica=@ViewBag.CodigoFabrica',
			datatype: 'json',
			mtype: 'GET',
			colNames: ['Tipo', 'Codigo', 'Item', 'Série', 'AP', 'Mascara'],
			colModel: [
                      { name: 'Tipo', index: 'Tipo', width: 100, align: 'left' },
                      { name: 'Codigo', index: 'Codigo', width: 100, align: 'left' },
                      { name: 'Item', index: 'Item', width: 200, align: 'left' },
                      { name: 'Serie', index: 'Serie', width: 400, align: 'left' },
                      { name: 'AP', index: 'AP', width: 0, align: 'left', hidden: true },
                      { name: 'Mascara', index: 'Mascara', width: 0, align: 'left', hidden: true }
			],
			rowList: [],        // disable page size dropdown
			pgbuttons: false,     // disable page control like next, back button
			pgtext: null,         // disable pager text like 'Page 0 of 10'
			sortname: 'Id',
			sortorder: "desc",
			cmTemplate: { sortable: false },
			viewrecords: true,
			caption: 'Leituras',
			//scrollOffset: 0,
			width: null,
			height: null,
			autowidth: true,
			autoheight: true
		});
	}


	$(window).keypress(function (evt) {
		if (evt.keyCode == 27) {
			jQuery("#tbListaItem").trigger("reloadGrid");
          
			arrayPerfil = fn_limpaValores(perfil);
			ultimoIndiceLido = 0;
			iniciouTemporizador = false;
			$("#txtLeitura").val("");
			fn_totalProduzido();

		}
		else {
			$("#txtLeitura").focus();
		}
	});

	var tamanhoLargura = 700;

	$(document).ready(function () {


		fn_PreencherArrayAP();

		gridListaItem();
		gridLista();


		$("#dvDialogHistorico").dialog({
			title: 'Histórico',
			autoOpen: false,
			resizable: false,
			width: tamanhoLargura,
			height: 400,
			//top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogHistorico",
			draggable: false,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar' style='margin-top: -3px;'>X</div>");
			}
		});

   
		$("#dvDialogHoraHora").dialog({
			title: 'Dados Hora Hora',
			autoOpen: false,
			resizable: false,
			width: tamanhoLargura,
			height: 300,
			//top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogHoraHora",
			draggable: false,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar' style='margin-top: -3px;'>X</div>");
			}
		});

		$("#dvDialogFecharMagazine").dialog({
			title: 'Fechar Magazine Incompleta',
			autoOpen: false,
			resizable: false,
			width: 400,
			height: 180,
			//top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			//closeOnEscape: false,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogFecharMagazine",
			draggable: true,
			open: function (event, ui) {

				$(".ui-dialog-titlebar-close").click(function () {
					fn_cancelarFechamentoLote();
				});
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar2' style='margin-top: -3px;'>X</div>");

				//jQuery('.ui-widget-overlay').bind('click', function() {
				//	jQuery('#dvDialogFecharMagazine').dialog('close');
				//});
			}
		});


		$("#dvDialogFecharLote").dialog({
			title: 'Fechar Lote Incompleta',
			autoOpen: false,
			resizable: false,
			width: 400,
			height: 180,
			//top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			//closeOnEscape: false,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogFecharLote",
			draggable: true,
			open: function (event, ui) {

				$(".ui-dialog-titlebar-close").click(function () {
					fn_cancelarFechamentoLote();
				});
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar2' style='margin-top: -3px;'>X</div>");
			}
		});


		$("#dvDialogReimprimirLogin").dialog({
			title: 'Re-Impressão de Etiquetas',
			autoOpen: false,
			resizable: false,
			width: 250,
			height: 150,
			//top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogReimprimirLogin",
			draggable: false,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar3' style='margin-top: -3px;'>X</div>");
			}
		});

		$("#dvDialogAlterarTamanhoMagazine").dialog({
			title: 'Alterar Tamanho do Magazine',
			autoOpen: false,
			resizable: false,
			width: 250,
			height: 150,
			//top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogAlterarTamanhoMagazine",
			draggable: false,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar3' style='margin-top: -3px;'>X</div>");
			}
		});

		$("#dvDialogAlterarTamanhoLote").dialog({
			title: 'Alterar Tamanho do lote',
			autoOpen: false,
			resizable: false,
			width: 250,
			height: 150,
			//top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogAlterarTamanhoLote",
			draggable: false,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar3' style='margin-top: -3px;'>X</div>");
			}
		});

		$("#dvDialogReimprimirEtqIMCIAC").dialog({
			title: 'Reimprimir Etiqueta',
			autoOpen: false,
			resizable: false,
			width: 250,
			height: 150,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			clickOutside: true,
			clickOutsideTrigger: "#dvDialogReimprimirEtqIMCIAC",
			draggable: false,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("<div id='dvFechar3' style='margin-top: -3px;'>X</div>");
			}
		});



		$('#txtLeitura').keypress(function (evt) {
			if (evt.keyCode == 13) {
				
				$('#txtLeitura').keydown(function () {
					$("#lblMensagem").html("AGUARDANDO ENVIO");
					$("#lblMensagem").css("background-color", "lightgrey");
				});

				fn_leituraSimples(this.value.toUpperCase());
			
  
			}
		});
 
	});




	function fn_retornoCancelarLeitura(json) {

		if (json.CodMensagem == "@SEMP.Model.Constantes.RAST_OK") {
		$("#lblMensagem").html(json.DesMensagem);
		$("#lblMensagem").css("background-color", json.DesCor);
		$("#txtLeitura").val("");
		reloadListaItem();
		cancelar = false;
		return;
	}
	else {
		$("#lblMensagem").html(json.DesMensagem);
		$("#lblMensagem").css("background-color", json.DesCor);
		$("#txtLeitura").val("");
		cancelar = false;
		return;
	}
}


function fn_TrocarModelo() {

	location.href = '/Coleta/CriarLoteIAC/AmarraLoteConfigIAC';
}

//Habilita e desabilita menu
function fn_divMenu(op)
{
	if(op) {
		document.getElementById('divMenu').style.display = "block";
		document.getElementById('divPosicao').style.display = "none";

	} else {
		document.getElementById('divMenu').style.display = "none";
		document.getElementById('divPosicao').style.display = "block";
	}
		
}
function fn_retornoObter(json) {
	$("#lblMensagem").html(json);
	$("#txtLeitura").val("");
	$("#lblMensagem").css("background-color", "ORANGE");
	apontaDefeito = true;
	//Verifica se o Setor eh IAC e o tipo do posto é 16 iac
	if(@ViewBag.CodTipoPosto == "@SEMP.Model.Constantes.POSTO_AMARRA_LOTE_ENTREPOSTO_IAC")
	{
		
		document.getElementById('divMenu').style.display = "none";
		document.getElementById('divPosicao').style.display = "block";
		document.getElementById('txtPosicao').focus();
	}

}

function fn_leituraSimples(barcode) {

	var fabrica = "@ViewBag.CodigoFabrica";
		var leitura = barcode;
		var url = '/CriarLoteIAC/ValidarLeituraEmbalagem';
		var codDrt = "@retornologin.CodDRT";

     
		var parametros = { Fabrica: fabrica, Leitura: leitura, CodDRT: codDrt, UltimoIndiceLido: ultimoIndiceLido, idxPerfil: 0 };
		fn_ajaxGet(url, parametros, fn_retornoPadrao);
		$('#txtLeitura').val("");
	}

	function fn_totalProduzido() {

		var url = '/Posto/ObterTotal';
		var codDRT = "@retornologin.CodDRT";

		$.ajax({
			type: "GET",
			url: url,
			dataType: "json",
			cache: false,
			async: true,
			success: function (data) {
				if (data.error == false) {
					$("#spTotalProduzido").html(data.total);
				}
			}
		});
	}


	function fn_retornoPadrao(data) {
		if (data.error == true) {

			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", data.retorno.DesCor);      
		}
		else {

			ultimoIndiceLido = parseInt(data.indice);

			var myGrid = $('#tbListaItem');
			var rowId = data.indice;
			var indice = ultimoIndiceLido - 1;
            
			if (fn_verificaLeituraRepetida(arrayPerfil, indice) == true) {

				$("#lblMensagem").html("ITEM JÁ LIDO, FAVOR LER O PRÓXIMO.");
				$("#lblMensagem").css("background-color", "yellow");
			}
			else {

                
				myGrid.jqGrid('setCell', rowId, 'Serie', data.serial);

				arrayPerfil[indice].lido = true;
				arrayPerfil[indice].serie = data.serial;
				arrayPerfil[indice].tipo = data.tipo;
				arrayPerfil[indice].codItem = data.codItem;

				if (fn_verificaLeituras(arrayPerfil) == true) {
                   
					fn_fecharTemporizador();
                   
					fn_criaFormularioDinamico(arrayPerfil);
					fn_ajaxPost("/CriarLoteIAC/InserirEmbalagem", "formDinamico", fn_retornoInserir);
				}
				else {
					alert("else");
					fn_iniciarTemporizador();

					$("#lblMensagem").html("AGUARDANDO ENVIO");
				}
               
			}
		}
	}

	function fn_verificaLeituraRepetida(array, indice) {
		if (array[indice].lido == true) {
			return true;
		}
		else {
			return false;
		}
	}



	function fn_ajaxGet(urlPagina, parametros, returnData) {
		$.ajax({
			type: "GET",
			url: urlPagina,
			data: parametros,
			dataType: "json",
			cache: false,
			async: true,
			beforeSend: function () {
				$("#lblMensagem").html("Validando...");
			},
			complete: function () {
			},
			success: function (data) {
				returnData.call(this, data);
			},
			error: function (xhr, er) {
				if (xhr.status == 500 || xhr.status == 503) // service indisponivel
				{
					var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
					alert("Erro ao consultar: <br/>" + mensagem);
					document.location.href = "/";
				} else {
					$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
				}
			}
		});
	}

	function fn_ajaxGet_SemFraseValidacao(urlPagina, parametros, returnData) {
		$.ajax({
			type: "GET",
			url: urlPagina,
			data: parametros,
			dataType: "json",
			cache: false,
			async: true,
			beforeSend: function () {
			},
			complete: function () {
			},
			success: function (data) {
				returnData.call(this, data);
			},
			error: function (xhr, er) {
				if (xhr.status == 500 || xhr.status == 503) // service indisponivel
				{
					var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
					alert("Erro ao consultar: <br/>" + mensagem);
					document.location.href = "/";
				} else {
					$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
				}
			}
		});
	}

	function fn_limpaValores(perfil) {
		var myGrid = $('#tbListaItem');
		var rowId = 0;

		var arrayPerfil = new Array();

		for (var i = 0; i < perfil.split(",").length; i++) {

			arrayPerfil.push({ name: perfil.split(",")[i], serie: "", lido: false, tipo: "", codItem: "" });

			rowId = i + 1;
			myGrid.jqGrid('setCell', rowId, 'Serie', " ");
		}

		ultimoIndiceLido = 0;



		return arrayPerfil;
	}

	function fn_verificaLeituras(array) {

		var contadorTotal = array.length;
		var qtdeEsperada = 1;
		var cont = 0;
		for (var i = 0; i < contadorTotal; i++) {

			if ( array[i].lido == true) {
				cont++;
			}
		}

		if (qtdeEsperada == cont) {
			return true;
		}
		else {
			return false;
		}
	}


	function fn_iniciarTemporizador() {

		var segundos = "@ViewBag.TempoLeitura" + "000";

		if (iniciouTemporizador == false) {
			temporizador = setInterval(function () {
				arrayPerfil = fn_limpaValores(perfil);

				$("#txtLeitura").val("");

				fn_fecharTemporizador();

			}, parseInt(segundos));
			iniciouTemporizador = true;
		}
	}

	function fn_fecharTemporizador() {
		iniciouTemporizador = false;
		clearTimeout(temporizador);
	}



	function fn_criaFormularioDinamico(array) {

		$("#dvInputs").html("");

		var contadorTotal = array.length -1;
		var inputs = "";
        
		inputs = "<input type='hidden' name='NumSerie' id='NumSerie' value='" + array[0].serie + "'>";
		for (var i = 0 + 1; i <= contadorTotal; i++) {
         
			inputs += "<input type='hidden' name='" + array[i].name + "' value='" + array[i].serie + "'>";
		}

     
		$("#dvInputs").html(inputs);
	}



	function fn_ajaxPost(urlPagina, nameForm, returnData) {
		$.ajax(
        {
        	type: 'POST',
        	url: urlPagina,
        	dataType: 'json',
        	data: $("#" + nameForm).serialize(),
        	cache: false,
        	async: true,
        	beforeSend: function () {

        	},
        	complete: function () {

        	},
        	success: function (data) {
        		returnData.call(this, data);
        	},
        	error: function (xhr, er) {
        		if (xhr.status == 500 || xhr.status == 503) // service indisponivel
        		{
        			var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
        			alert("Erro ao consultar: <br/>" + mensagem);
        			document.location.href = "/";
        		} else {
        			$("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
        		}
        	}
        });
	}


	function fn_retornoInserir(data) {

		if (data.error == false) {
			reloadListaItem();
			fn_incremetarTotalProduzido();

			ultimoIndiceLido = 0;

			$("#lblMensagem").css("background-color", data.retorno.DesCor);
			$("#lblMensagem").html(data.retorno.DesMensagem);
		}
		else {
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", data.retorno.DesCor);
		}
     
		$("#txtLeitura").val("");
		arrayPerfil = fn_limpaValores(perfil);
	}

	function reloadListaItem() {
		jQuery("#tbListaItem2").trigger("reloadGrid");
	}

	function fn_incremetarTotalProduzido() {

		var totalAtual = $("#spTotalProduzido").html();
		var soma = parseInt(totalAtual) + 1;
		$("#spTotalProduzido").html(soma);
        
	}


	function fn_exibeUltimoLido() {
		var myGrid = $('#tbListaItem2');
		var rowId = 0;
		var colunas = "@Html.Raw(ViewBag.ColunasHistorico)";
		var valor = "";
		for (var i = 0; i < colunas.split(",").length; i++) {
			rowId = 1;
			valor += "<b>" + colunas.split(",")[i] + " :</b> " + myGrid.jqGrid('getCell', rowId, colunas.split(",")[i]) + "<br>";

		}
		$('#dvUltimoLido').html(valor);
		 
		fn_totalProduzidoCaixaColetiva();
		fn_totalProduzidoLote();
      
	}


	function fn_totalProduzidoCaixaColetiva() {
		var url = '/CriarLoteIAC/ObterTotalCaixaColetiva';
		var codFabrica = "@ViewBag.CodigoFabrica";
		var codModelo = "@ViewBag.Modelo";
		$.ajax({
			type: "GET",
			url: url,
			data: { codFabrica: codFabrica, codModelo: codModelo },
			dataType: "json",
			cache: false,
			async: true,
			success: function(data) {

				if (data.error == false) {

					$.each(arrayAP, function(key, value) {
						//$("#spQtLidoCC_" + value.Modelo).html(data.ArrayAPRetorno[value.Modelo]);
						$("#spQtLidoCC_" + value.Modelo).html(data.ArrayAPRetorno);
					});
				}
			},
			error: function(a,b) {
				alert("Erro");
			}
		});
	}

	function fn_totalProduzidoLote() {
		var url = '/CriarLoteIAC/ObterTotalLote';
		var codFabrica = "@ViewBag.CodigoFabrica";
		var codModelo = "@ViewBag.Modelo";

		$.ajax({
			type: "GET",
			url: url,
			data: { codFabrica: codFabrica, codModelo: codModelo },
			dataType: "json",
			cache: false,
			async: true,
			success: function (data) {

				if (data.error == false) {

					$.each(arrayAP, function (key, value) {
						//$("#spQtLidoCC_" + value.Modelo).html(data.ArrayAPRetorno[value.Modelo]);
						$("#spQtLidoLL_" + value.Modelo).html(data.ArrayAPRetorno);
					});
				}
			},
			error: function (a, b) {
				alert("Erro");
			}
		});
	}




 @*   function fn_totalProduzidoCaixaColetiva() {

        var url = '/Embalagem/ObterTotalCaixaColetiva';
        var codFabrica = "@ViewBag.CodigoFabrica";       

        $.ajax({
            type: "GET",
            url: url,
            data: { codFabrica: codFabrica },
            dataType: "json",
            cache: false,
            async: true,
            success: function (data) {
                if (data.error == false) {

                }
            }
        });
    }*@


	//Alterar tamanho Magazine
	function fn_AlterarTamanhoMagazine() {
		if ($('#txtAlterarTamanhoMagazine').val().toString().length == 0) {
			alert("Valor não permitido");
			$('#txtAlterarTamanhoMagazine').val("");
			return;
		}

		if (isNaN($('#txtAlterarTamanhoMagazine').val())) {
			alert("Valor não permitido");
			$('#txtAlterarTamanhoMagazine').val("");
			return;
		}

		var novoTamanho = $('#txtAlterarTamanhoMagazine').val();

		var url = '/CriarLoteIAC/AlterarTamanhoMagazine';
		var parametros = { tamanho: novoTamanho };
		fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoAlterarTamanhoMagazine);
		

	}

	function fn_AlterarTamanhoLote() {
		if ($('#txtAlterarTamanhoLote').val().toString().length == 0) {
			alert("Valor não permitido");
			$('#txtAlterarTamanhoLote').val("");
			return;
		}

		if (isNaN($('#txtAlterarTamanhoLote').val())) {
			alert("Valor não permitido");
			$('#txtAlterarTamanhoLote').val("");
			return;
		}

		var novoTamanho = $('#txtAlterarTamanhoLote').val();

		var url = '/CriarLoteIAC/AlterarTamanhoLote';
		var parametros = { tamanho: novoTamanho };
		fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoAlterarTamanhoLote);

	}


	function fn_retornoAlterarTamanhoLote(data) {
		if (data.error == true) {
			alert(data.message);
		}
		else {

			var codModelo = "@ViewBag.Modelo";

			$('#spTotalLL_'+codModelo).html(data.valor);
			$('#dvDialogAlterarTamanhoLote').dialog('close');
			fn_totalProduzidoLote();
			
			
		}
		$('#txtAlterarTamanhoLote').val("");
	}



	function fn_retornoAlterarTamanhoMagazine(data) {
		if (data.error == true) {
			alert(data.message);
		}
		else {

			var codModelo = "@ViewBag.Modelo";

			$('#spTotalCC_'+codModelo).html(data.valor);
			$('#dvDialogAlterarTamanhoMagazine').dialog('close');
			fn_totalProduzidoCaixaColetiva();
			
			//location.href = '/Coleta/CriarLoteIAC/AmarraLoteEntrepostoIAC';
			//reloadListaItem();
		}
		$('#txtAlterarTamanhoMagazine').val("");
	}


	//método que fecha uma caixa coltiva que está incompleta
	function fn_FecharMagazineIncompleta() {

		var justificativa = $("#txtJustificativaFecharMagazine").val();
		var codFabrica = "@ViewBag.CodigoFabrica";

		if ($("#txtJustificativaFecharMagazine").val().length <= 0) {
			alert('Favor informar uma justificativa');
			return;
		}

		$("#lblMensagem").css("background-color", "lime");
		$("#lblMensagem").html("Fechando Caixa Coletiva.");

		var url = '/CriarLoteIAC/FecharMagazine';
		var codDrt = "@retornologin.CodDRT";

		var parametros = { codFabrica: codFabrica, codDrt: codDrt, justificativa: justificativa };
		fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoFecharLoteMagazine);

		fn_cancelarFechamentoLote();
		$("#dvDialogFecharMagazine").dialog('close');
	}


	function fn_FecharLoteIncompleta() {
		alert("Fechar Lote Incompleto");
		var justificativa = $("#txtJustificativaFecharLote").val();
		var codFabrica = "@ViewBag.CodigoFabrica";
		var codModelo = "@ViewBag.Modelo";

		if ($("#txtJustificativaFecharLote").val().length <= 0) {
			alert('Favor informar uma justificativa');
			return;
		}

		$("#lblMensagem").css("background-color", "lime");
		$("#lblMensagem").html("Fechando Lote.");

		var url = '/CriarLoteIAC/FecharLote';
		var codDrt = "@retornologin.CodDRT";

		var parametros = { codFabrica: codFabrica, codModelo: codModelo, codDrt: codDrt, justificativa: justificativa };
		fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoFecharLoteMagazine);

		fn_cancelarFechamentoLote();
		$("#dvDialogFecharFechaLote").dialog('close');
	}

    
	function fn_retornoFecharLoteMagazine(data) {

		if (data.error == false) {
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", data.retorno.DesCor);


		}
		else {
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", data.retorno.DesCor);
		}
	}

	function fn_cancelarFechamentoLote() {
		$('#txtLeitura').removeAttr("disabled");
		$('#dvDialogFecharLote').dialog('close');
	}
    

	function fn_AtivarReImpressaoEtiqueta(pstatus) {

		var url = '/CriarLoteIAC/ValidarCrachaReimpressaoEtiqueta';
		var leituraCracha = $("#txtLoginReimpressao").val();
		var codDrt = "@retornologin.CodDRT";
		var fabrica = "@ViewBag.CodigoFabrica";

		var modelo = "@ViewBag.Modelo";

		var statusReimpressaoEtiqueta = $("#statusReimpressao").val();
		if (pstatus == true || pstatus == false) {
			statusReimpressaoEtiqueta = pstatus;
		}

		var parametros = { cracha: leituraCracha, codDrt: codDrt, statusAtual: statusReimpressaoEtiqueta };
		fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoAtivarReImpressaoEtiqueta);
	}


	function fn_retornoAtivarReImpressaoEtiqueta(data) {
         
		if (data.error == true) {
			$("#txtLoginReimpressao").val("");
			alert(data.message);
			$("#txtLoginReimpressao").focus();
		} else {
			$('#dvDialogReimprimirLogin').dialog('close');
			$("#lblMensagem").html("");
			$("#lblMensagem").css("background-color", "lightgrey");

			$('#dvDialogReimprimirEtqIMCIAC').dialog('open');          
		}
	}

	function fn_ReimprimirEtqIMCIAC() {
		//se o posto não imprime etiqueta, então não deve imprimir etiqueta da caixa coletiva
		if ("@ViewBag.ImprimeEtq" == "N")
			return;

		if ($('#txtReimprimirEtqCaixaColetiva').val().toString().length == 0) {
			alert("Favor entrar com o número da Caixa Coletiva");
			$('#txtReimprimirEtqCaixaColetiva').val("");
			return;
		}

		var codFabrica = "@ViewBag.CodigoFabrica";
    	var url = '/Embalagem/ImprimirEtiquetaCaixaColetiva';
    	var numeroCc = $('#txtReimprimirEtqCaixaColetiva').val();

    	//if (isNaN($('#txtReimprimirEtqCaixaColetiva').val().substring(0, 1)) == false) //retorna false se for um número e true se não for um número
    	//{
    	//	alert("Favor entrar com o número da Caixa Coletiva válido");
    	//	return;
    	//}

    	var parametros = { numeroCC: numeroCc };

    	fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoImprimirEtiquetaCC);
	}

	function fn_retornoImprimirEtiquetaCC(data) {

		if (data.error == false) {
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", "lime");
		}
		else {
			$("#lblMensagem").html(data.message);
			$("#lblMensagem").css("background-color", "red");
		}
		$('#dvDialogReimprimirEtqIMCIAC').dialog('close');
		$('#txtReimprimirEtqCaixaColetiva').val("");
	}

	function fn_BotaoFecharMagazine() {

		$("#txtLeitura").attr("disabled", "true");

		$('#dvDialogFecharMagazine').dialog('open');

	}

	function fn_BotaoFecharLote() {

		$("#txtLeitura").attr("disabled", "true");

		$('#dvDialogFecharLote').dialog('open');

	}


	function gridLista() {

		var colunas = "@Html.Raw(ViewBag.ColunasHistorico)";
		var arrayNames = new Array();
		var arrayModels = new Array();

		for (var i = 0; i < colunas.split(",").length; i++) {
			arrayNames.push(colunas.split(",")[i]);
			arrayModels.push({ name: colunas.split(",")[i], index: colunas.split(",")[i], width: 100, align: 'center' });
		}

		var urlPagina = '/Home/HistoricoAmarracaoLote/?Fabrica=@ViewBag.CodigoFabrica';

		$("#tbListaItem2").jqGrid({
			url: urlPagina,
			datatype: 'json',
			mtype: 'GET',
			colNames: arrayNames,
			colModel: arrayModels,
			//pager: jQuery('#tbListaItem2'), //disable pagination
			rowList: [],        // disable page size dropdown
			pgbuttons: false,     // disable page control like next, back button
			pgtext: null,         // disable pager text like 'Page 0 of 10'
			sortname: 'Id',
			sortorder: "desc",
			cmTemplate: { sortable: false },
			//caption: 'Histórico',
			//scrollOffset: 0,
			width: tamanhoLargura - (tamanhoLargura * 5 / 100),
			height: null,
			//autowidth: true,
			autoheight: true,
			loadError: function () {
				alert('Erro ao carregar o grid');
			},
			loadComplete: function () {
				fn_exibeUltimoLido();
			}
		}).jqGrid("gridResize");

	}

	function validateDefeito() {

		var strPattern = "\\d{4}$";

		var oTest1 = document.getElementById('txtLeitura');

		var strOptions = "i";

		var oREGEXP = new RegExp(strPattern, strOptions);

		if (oREGEXP.test(oTest1.value)) {
			return true;
		}
		else {
			return false;
		}
	}

</script>



@*<script type="text/javascript">

    var perfil = "@Html.Raw(ViewBag.Perfil)";
    var perfilAP = "@Html.Raw(ViewBag.PerfilAP)";
    var arrayMascaras = new Array();
    var arrayPerfil = new Array();

    function RecuperaMascarasAux(json) {
        for (var i = 0; i < json.mascara.length; i++) {
            arrayMascaras.push({ Tipo: json.mascara[i].Tipo, Mascara: json.mascara[i].Mascara, AP: json.mascara[i].Ap });
        }

        arrayPerfil = fn_limpaValores(perfil);
    }

    RecuperaMascaras(RecuperaMascarasAux);

    var qtdeCC = "@ViewBag.qtdeCC";
    var temporizador;
    var iniciouTemporizador = false;
    var codLinha = "@ViewBag.CodLinha";
    var codPosto = "@ViewBag.CodPosto";
    var ultimoIndiceLido = 0;
    var AP_Atual = "";

    $(window).keypress(function (evt) {
        if (evt.keyCode == 27) {
            jQuery("#tbListaItem").trigger("reloadGrid");
            reloadListaItem();

            arrayPerfil = fn_limpaValores(perfil);
            ultimoIndiceLido = 0;
            iniciouTemporizador = false;
            $("#txtLeitura").val("");
            fn_totalProduzido();

        }
        else {
            $("#txtLeitura").focus();
        }
    });

    function fn_cancelarFechamentoLote() {
        $('#txtLeitura').removeAttr("disabled");
        $('#dvDialogFecharCC').dialog('close');
    }

    function fn_ajaxGet_SemFraseValidacao(urlPagina, parametros, returnData) {
        $.ajax({
            type: "GET",
            url: urlPagina,
            data: parametros,
            dataType: "json",
            cache: false,
            async: true,
            beforeSend: function () {
            },
            complete: function () {
            },
            success: function (data) {
                returnData.call(this, data);
            },
            error: function (xhr, er) {
                if (xhr.status == 500 || xhr.status == 503) // service indisponivel
                {
                    var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
                    alert("Erro ao consultar: <br/>" + mensagem);
                    document.location.href = "/";
                } else {
                    $("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
                }
            }
        });
    }

    function fn_ajaxGet(urlPagina, parametros, returnData) {
        $.ajax({
            type: "GET",
            url: urlPagina,
            data: parametros,
            dataType: "json",
            cache: false,
            async: true,
            beforeSend: function () {
                $("#lblMensagem").html("Validando...");
            },
            complete: function () {
            },
            success: function (data) {
                returnData.call(this, data);
            },
            error: function (xhr, er) {
                if (xhr.status == 500 || xhr.status == 503) // service indisponivel
                {
                    var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
                    alert("Erro ao consultar: <br/>" + mensagem);
                    document.location.href = "/";
                } else {
                    $("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
                }
            }
        });
    }

    function fn_AlterarValorCheck(numero, id) {

        if ($("#" + id).is(":checked")) {
            $("#check_" + numero).val("true");
        }
        else
            $("#check_" + numero).val("false");

        $.ajax({
            type: "GET",
            url: "/Embalagem/AtivarImpressaoDeEtiqueta/",
            dataType: "json",
            data: { nomeEtiqueta: id },
            cache: false,
            async: true,
            success: function (data) {
                if (data.error == true) {
                    alert(data.message);
                }
                else {
                    $('#dvItensParaReimpressaoTablet').dialog('close');
                }
            },
            error: function (xhr, er) {
                alert("ERRO AO ATUALIZAR ETIQUETAS PARA IMPRESSAO");
            }
        });
    }

    function fn_retornoPadrao(data) {
        if (data.error == true) {

            $("#lblMensagem").html(data.message);
            $("#lblMensagem").css("background-color", data.retorno.DesCor);

            if (data.retorno.CodMensagem == "@SEMP.Model.Constantes.RAST_AP_FINALIZADA") {
                alert("AP está finalizada e Caixa Coletiva atual foi fechada. Favor entrar com nova AP");
                fn_TrocarAP();
            }
        }
        else {
            AP_Atual = data.numAP;
            ultimoIndiceLido = parseInt(data.indice);

            var myGrid = $('#tbListaItem');
            var rowId = data.indice;
            var indice = ultimoIndiceLido - 1;

            if (fn_verificaLeituraRepetida(arrayPerfil, indice) == true) {

                $("#lblMensagem").html("ITEM JÁ LIDO, FAVOR LER O PRÓXIMO.");
                $("#lblMensagem").css("background-color", "yellow");
            }
            else {
                //if (fn_verificaSequenciaLida(arrayPerfil, indice) == false ) {

                //    $("#lblMensagem").html("LEIA NA SEQUÊNCIA CORRETA.");
                //    $("#lblMensagem").css("background-color", "red");
                //}
                //else
                //{
                myGrid.jqGrid('setCell', rowId, 'Serie', data.serial);

                arrayPerfil[indice].lido = true;
                arrayPerfil[indice].serie = data.serial;
                arrayPerfil[indice].tipo = data.tipo;
                arrayPerfil[indice].codItem = data.codItem;
                arrayPerfil[indice].numAP = data.numAP;

                if (fn_verificaLeituras(arrayPerfil) == true) {
                    fn_fecharTemporizador();
                    fn_criaFormularioDinamico(arrayPerfil);

                    fn_ajaxPost("/Embalagem/InserirEmbalagem", "formDinamico", fn_retornoInserir);
                }
                else {
                    fn_iniciarTemporizador();

                    $("#lblMensagem").html("AGUARDANDO ENVIO");
                }
                //}
            }
        }
    }

    //método que fecha uma caixa coltiva que está incompleta
    function fn_FecharCCIncompleta() {
        var justificativa = $("#txtJustificativaFecharCC").val();
        var codFabrica = "@ViewBag.CodigoFabrica";
        var numAp = $("#txtNumAPFecharCC").val();

        if ($("#statusReimpressao").val().toString() == "true") {
            //caso a reimpressao esteja ativa não fecha a caixa coletiva
            alert('Reimpressão ativada. Não é permitido fechar caixa coletiva');
            return;
        }

        if ($("#txtNumAPFecharCC").val().length <= 0) {
            alert('Favor informar o número da AP');
            return;
        }

        if ($("#txtJustificativaFecharCC").val().length <= 0) {
            alert('Favor informar uma justificativa');
            return;
        }

        $("#lblMensagem").css("background-color", "lime");
        $("#lblMensagem").html("Fechando Caixa Coletiva.");

        var url = '/Embalagem/FecharCaixaColetivaAtual';
        var codDrt = "@retornologin.CodDRT";

        var parametros = { codFabrica: codFabrica, numAp: numAp, codDrt: codDrt, justificativa: justificativa };
        fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoFecharCC);

        fn_cancelarFechamentoLote();
        $("#dvDialogFecharCC").dialog('close');
    }

    function fn_retornoFecharCC(data) {

        if (data.error == false) {
            $("#lblMensagem").html(data.message);
            $("#lblMensagem").css("background-color", data.retorno.DesCor);

        }
        else {
            $("#lblMensagem").html(data.message);
            $("#lblMensagem").css("background-color", data.retorno.DesCor);
        }
    }

    function fn_limpaValores(perfil) {
        var myGrid = $('#tbListaItem');
        var rowId = 0;

        var arrayPerfil = new Array();

        for (var i = 0; i < perfil.split(",").length; i++) {

            arrayPerfil.push({ name: perfil.split(",")[i], serie: "", lido: false, tipo: "", codItem: "", numAP: perfilAP.split(",")[i], Mascara: arrayMascaras[i].Mascara });

            rowId = i + 1;
            myGrid.jqGrid('setCell', rowId, 'Serie', " ");
        }

        ultimoIndiceLido = 0;



        return arrayPerfil;
    }

    function fn_verificaLeituras(array) {

        var contadorTotal = array.length;
        var qtdeEsperada = 0;
        var cont = 0;

        //verifica qual a quantidade de itens que devem ser lidos na AP
        for (var i = 0; i < arrayAP.length; i++) {
            if (arrayAP[i].AP == AP_Atual) {
                qtdeEsperada = arrayAP[i].QtdEsp;
            }
        }

        for (var i = 0; i < contadorTotal; i++) {
            if (array[i].numAP == AP_Atual && array[i].lido == true) {
                cont++;
            }
        }

        //if (contadorTotal == cont) {
        if (qtdeEsperada == cont) {
            return true;
        }
        else {
            return false;
        }
    }

    function fn_verificaLeituraRepetida(array, indice) {
        if (array[indice].lido == true) {
            return true;
        }
        else {
            return false;
        }
    }

    function fn_verificaSequenciaLida(array, indice) {
        var contadorTotal = array.length;
        var retorno = true;

        for (var i = 0; i < contadorTotal; i++) {

            if (array[i].numAP == AP_Atual && array[i].lido == false) {
                if (indice > i) {
                    retorno = false;
                    break;
                }
            }
        }

        return retorno;
    }

    function fn_criaFormularioDinamico(array) {

        $("#dvInputs").html("");

        var contadorTotal = array.length;
        var inputs = "";
        var posicaoInicial = 0;
        var qtdeEsperada = 0;
        var posicaoFinal = 0;

        //verifica qual a quantidade de itens que devem ser lidos na AP
        //alert('tamanho array ' + arrayAP.length);
        for (var i = 0; i < arrayAP.length; i++) {
            if (arrayAP[i].AP == AP_Atual) {
                qtdeEsperada = arrayAP[i].QtdEsp;
            }
        }

        for (var i = 0; i < contadorTotal; i++) {
            if (array[i].numAP == AP_Atual) {
                posicaoInicial = i;
                break;
            }
        }
        posicaoFinal = posicaoInicial + qtdeEsperada - 1;

        //alert('posicao final ' + posicaoFinal);

        $("#NumeroAP").val(AP_Atual);
        //alert('numero ap atual ' + AP_Atual);
        //alert('numero ap atual 2 ' + $("#NumeroAP").val());

        inputs = "<input type='hidden' name='NumSerie' id='NumSerie' value='" + array[posicaoInicial].serie + "'>";
        for (var i = posicaoInicial + 1; i <= posicaoFinal; i++) {
            inputs += "<input type='hidden' name='" + array[i].name + "' value='" + array[i].serie + "'>";
        }

        //inputs = "<input type='hidden' name='NumSerie' id='NumSerie' value='" + array[0].serie + "'>";
        //for (var i = 1; i < contadorTotal; i++)
        //{
        //    inputs += "<input type='hidden' name='" + array[i].name + "' value='" + array[i].serie + "'>";
        //}

        $("#dvInputs").html(inputs);
    }

    function fn_retornoInserir(data) {

        if (data.error == false) {
            reloadListaItem();
            fn_incremetarTotalProduzido();

            ultimoIndiceLido = 0;

            $("#lblMensagem").css("background-color", data.retorno.DesCor);
            $("#lblMensagem").html(data.retorno.DesMensagem);
        }
        else {
            $("#lblMensagem").html(data.message);
            $("#lblMensagem").css("background-color", data.retorno.DesCor);
        }

        AP_Atual = "";
        $("#txtLeitura").val("");
        arrayPerfil = fn_limpaValores(perfil);
    }

    function fn_retornoImprimirEtiquetaCC(data) {

        if (data.error == false) {
            $("#lblMensagem").html(data.message);
            $("#lblMensagem").css("background-color", "lime");
        }
        else {
            $("#lblMensagem").html(data.message);
            $("#lblMensagem").css("background-color", "red");
        }
        $('#dvDialogReimprimirEtqIMCIAC').dialog('close');
        $('#txtReimprimirEtqCaixaColetiva').val("");
    }

    function fn_AbrirTelaAlterarTamanhoCC() {
        $('#dvDialogAlterarTamanhoCC').dialog('open');
    }

    function fn_AbrirTelaLoginReimpressaoEtiqueta() {


        if ($("#statusReimpressao").val().toString() == "true") {    //reimpressão está ativada. tem que desativar
            fn_AtivarReImpressaoEtiqueta();
        }
        else {
            $('#dvDialogReimprimirLogin').dialog('open');
        }
    }

    function fn_AtivarReImpressaoEtiqueta(pstatus) {

        var url = '/Embalagem/ValidarCrachaReimpressaoEtiqueta';
        var leituraCracha = $("#txtLoginReimpressao").val();
        var codDrt = "@retornologin.CodDRT";
        var fabrica = "@ViewBag.CodigoFabrica";

        var modelo = "@ViewBag.Modelo";

        var statusReimpressaoEtiqueta = $("#statusReimpressao").val();
        if (pstatus == true || pstatus == false) {
            statusReimpressaoEtiqueta = pstatus;
        }

        var parametros = { cracha: leituraCracha, codDrt: codDrt, statusAtual: statusReimpressaoEtiqueta };
        fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoAtivarReImpressaoEtiqueta);
    }

    function fn_AlterarTamanhoCC() {
        if ($('#txtAlterarTamanhoCC').val().toString().length == 0) {
            alert("Valor não permitido");
            $('#txtAlterarTamanhoCC').val("");
            return;
        }

        if (isNaN($('#txtAlterarTamanhoCC').val())) {
            alert("Valor não permitido");
            $('#txtAlterarTamanhoCC').val("");
            return;
        }

        var novoTamanho = $('#txtAlterarTamanhoCC').val();

        var url = '/Embalagem/AlterarTamanhoCaixaColetiva';
        var parametros = { tamanho: novoTamanho };
        fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoAlterarTamanhoCC);

    }

    function fn_ReimprimirEtqIMCIAC() {
        //se o posto não imprime etiqueta, então não deve imprimir etiqueta da caixa coletiva
        if ("@ViewBag.ImprimeEtq" == "N")
            return;

        if ($('#txtReimprimirEtqCaixaColetiva').val().toString().length == 0) {
            alert("Favor entrar com o número da Caixa Coletiva");
            $('#txtReimprimirEtqCaixaColetiva').val("");
            return;
        }

        var codFabrica = "@ViewBag.CodigoFabrica";
        var url = '/Embalagem/ImprimirEtiquetaCaixaColetiva';
        var numeroCC = $('#txtReimprimirEtqCaixaColetiva').val();

        if (isNaN($('#txtReimprimirEtqCaixaColetiva').val().substring(0, 1)) == false) //retorna false se for um número e true se não for um número
        {
            alert("Favor entrar com o número da Caixa Coletiva válido");
            return;
        }

        var parametros = { numeroCC: numeroCC };

        fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoImprimirEtiquetaCC);
    }

    function fn_AjustarImpressoraEtiquetaTraseiraTablet() {
        if ($('#txtQtdeImpressoesAjustarImpressora').val().toString().length == 0) {
            alert("Favor entrar com a quantidade que deve ser impressa");
            $('#txtQtdeImpressoesAjustarImpressora').val("");
            return;
        }

        if (isNaN($('#txtQtdeImpressoesAjustarImpressora').val()) == true) //retorna false se for um número e true se não for um número
        {
            alert("Favor entrar com um número válido");
            return;
        }

        var url = '/Embalagem/AjustarImpressoraEtiquetaTraseiraTablet';
        var quantidade = $('#txtQtdeImpressoesAjustarImpressora').val();
        var parametros = { quantidade: quantidade };

        fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoAjustarImpressoraEtiquetaTraseiraTable);

    }

    function fn_retornoAjustarImpressoraEtiquetaTraseiraTable() {
        if (data.error == true) {
            alert(data.message);
        }
        else {
        }
        $('#txtQtdeImpressoesAjustarImpressora').val("");
        $('#dvDialogAjustarImpressoraTraseira').dialog('close');

    }

    function fn_retornoAlterarTamanhoCC(data) {
        if (data.error == true) {
            alert(data.message);
        }
        else {
            $('#dvDialogAlterarTamanhoCC').dialog('close');
            $('#spTotalCC').html(data.valor);
        }
        $('#txtAlterarTamanhoCC').val("");
    }

    function fn_retornoAtivarReImpressaoEtiqueta(data) {

        if (data.error == true) {
            $("#txtLoginReimpressao").val("");
            alert(data.message);
            $("#txtLoginReimpressao").focus();
        } else {
            $('#dvDialogReimprimirLogin').dialog('close');
            $("#lblMensagem").html("");
            $("#lblMensagem").css("background-color", "lightgrey");

            if (data.statusAtual == true) {
                $("#statusReimpressao").val(true);
                $("#btnAtivarReimpressao").val("Desativar Reimpressão");
                $("#btnAtivarReimpEtq").val("Desativar");
                alert("Reimpressão Ativada");

                if (codLinha == 42) {
                    $('#dvItensParaReimpressaoNotebook').dialog('open');
                }
                else if (codLinha == 43 || codLinha == 44) {
                    $('#dvItensParaReimpressaoTablet').dialog('open');
                }
            } else {
                $("#statusReimpressao").val(false);
                $("#btnAtivarReimpressao").val("Ativar Reimpressão");
                $("#btnAtivarReimpEtq").val("Ativar");
                alert("Reimpressão desativada");
                fn_DesativarReimpressaoEtiquetas();
            }
        }
    }

    function fn_BtnItensReImpressaoTablet() {

        $('#dvItensParaReimpressaoTablet').dialog('close');
    }

    function fn_BtnItensReImpressaoNotebook() {
        $('#dvItensParaReimpressaoNotebook').dialog('close');
    }

    function fn_ajaxPost(urlPagina, nameForm, returnData) {
        $.ajax(
        {
            type: 'POST',
            url: urlPagina,
            dataType: 'json',
            data: $("#" + nameForm).serialize(),
            cache: false,
            async: true,
            beforeSend: function () {

            },
            complete: function () {

            },
            success: function (data) {
                returnData.call(this, data);
            },
            error: function (xhr, er) {
                if (xhr.status == 500 || xhr.status == 503) // service indisponivel
                {
                    var mensagem = xhr.status + " - " + xhr.statusText + "<br>";
                    alert("Erro ao consultar: <br/>" + mensagem);
                    document.location.href = "/";
                } else {
                    $("#lblMensagem").html("Erro ao consultar: " + xhr.status + " - " + xhr.statusText + "<br>" + er);
                }
            }
        });
    }

    function fn_totalProduzido() {

        var url = '/Posto/ObterTotal';
        var codDRT = "@retornologin.CodDRT";

        $.ajax({
            type: "GET",
            url: url,
            dataType: "json",
            cache: false,
            async: true,
            success: function (data) {
                if (data.error == false) {
                    $("#spTotalProduzido").html(data.total);
                }
            }
        });
    }

    function fn_totalProduzidoCaixaColetiva() {

        var url = '/Embalagem/ObterTotalCaixaColetiva';
        var codFabrica = "@ViewBag.CodigoFabrica";
        var numerosAP = "";

        for (var i = 0; i < arrayAP.length; i++) {
            numerosAP += arrayAP[i].AP + ",";
        }
        numerosAP = numerosAP.substring(0, numerosAP.length - 1);

        $.ajax({
            type: "GET",
            url: url,
            data: { codFabrica: codFabrica, numAp: numerosAP },
            dataType: "json",
            cache: false,
            async: true,
            success: function (data) {
                if (data.error == false) {

                    $.each(arrayAP, function (key, value) {
                        $("#spQtLidoCC_" + value.AP).html(data.ArrayAPRetorno[value.AP]);
                    });
                }
            }
        });
    }

    function fn_AtualizarTextBotaoReImpressao() {

        if ("@ViewBag.ImprimeEtq" == "N")
            return;

        var url = '/Embalagem/RecuperarStatusReimpressao';
        var parametros = {};
        fn_ajaxGet_SemFraseValidacao(url, parametros, fn_retornoStatusReimpressao);

    }

    function fn_retornoStatusReimpressao(data) {

        if (data.error == true) {
            $("#btnAtivarReimpressao").val("Ativar Reimpressão");
            $("#btnAtivarReimpEtq").val("Ativar");
        } else {
            if (data.statusAtual == true) {
                fn_AtivarReImpressaoEtiqueta(true); //chamada para desativar a reimpressão                
            }

            $("#btnAtivarReimpressao").val("Ativar Reimpressão");
        }
        $("#statusReimpressao").val(false);
        fn_DesativarReimpressaoEtiquetas();
    }

    function fn_incremetarTotalProduzido() {

        if ($("#statusReimpressao").val().toString() != "true") {
            var totalAtual = $("#spTotalProduzido").html();
            var soma = parseInt(totalAtual) + 1;
            $("#spTotalProduzido").html(soma);

        }
    }

    function fn_exibeUltimoLido() {

        var myGrid = $('#tbListaItem2');
        var rowId = 0;
        var colunas = "@Html.Raw(ViewBag.ColunasHistorico)";
        var valor = "";
        for (var i = 0; i < colunas.split(",").length; i++) {
            rowId = 1;
            valor += "<b>" + colunas.split(",")[i] + " :</b> " + myGrid.jqGrid('getCell', rowId, colunas.split(",")[i]) + "<br>";

        }
        $('#dvUltimoLido').html(valor);

        fn_totalProduzidoCaixaColetiva();
    }

    function fn_TrocarAP() {

        location.href = '/Coleta/Home/AmarraLote';
    }

    function fn_BotaoFecharCC() {

        $("#txtLeitura").attr("disabled", "true");

        $('#dvDialogFecharCC').dialog('open');

        if (arrayAP.length == 0)
            $("#txtNumAPFecharCC").val(arrayAP[0].AP);
    }

    function fn_DesativarReimpressaoEtiquetas() {
        $("#check_1").val(true);
        $("#check_2").val(true);
        $("#check_3").val(true);
        $("#check_4").val(true);
        $("#check_5").val(true);
        $("#check_6").val(true);
        $("#check_7").val(true);
    }

    function fn_iniciarTemporizador() {

        var segundos = "@ViewBag.TempoLeitura" + "000";

        if (iniciouTemporizador == false) {
            temporizador = setInterval(function () {
                arrayPerfil = fn_limpaValores(perfil);

                $("#txtLeitura").val("");

                fn_fecharTemporizador();

            }, parseInt(segundos));
            iniciouTemporizador = true;
        }
    }

    function fn_fecharTemporizador() {
        iniciouTemporizador = false;
        clearTimeout(temporizador);
    }

    $(window).bind('keydown', function (e) {
        if (e.keyCode == 49 && e.altKey) {
            e.preventDefault();

            var URL = "ConsultarItem";
            var width = 900;
            var height = 500;
            var left = 99;
            var top = 99;

            window.open(URL, 'janela', 'width=' + width + ', height=' + height + ', top=' + top + ', left=' + left + ', scrollbars=yes, status=no, toolbar=no, location=no, directories=no, menubar=no, resizable=no, fullscreen=no');

        }
    });

    $(window).bind('keydown', function (e) {
        if (e.keyCode == 56 && e.altKey) {
            e.preventDefault();

            fn_AbrirTelaAlterarTamanhoCC()
        }
    });

    $(window).bind('keydown', function (e) {
        if (e.keyCode == 55 && e.altKey) {
            e.preventDefault();
            $('#dvDialogHoraHora').dialog('open');
            gridDadosHoraHora();
            reloadListaItem();
        }
    });

    // Find Left Boundry of current Window
    function FindLeftWindowBoundry() {
        // In Internet Explorer window.screenLeft is the window's left boundry
        if (window.screenLeft) {
            //return window.screenLeft;
        }

        // In Firefox window.screenX is the window's left boundry
        if (window.screenX)
            return window.screenX;

        return 0;
    }

    window.leftWindowBoundry = FindLeftWindowBoundry;

    // Find Left Boundry of the Screen/Monitor
    function FindLeftScreenBoundry() {
        var left = leftWindowBoundry();

        // Check if the window is off the primary monitor in a positive axis
        // X,Y                  X,Y                    S = Screen, W = Window
        // 0,0  ----------   1280,0  ----------
        //     |          |         |  ---     |
        //     |          |         | | W |    |
        //     |        S |         |  ---   S |
        //      ----------           ----------
        if (left > window.screen.width) {
            return left - (left - window.screen.width);
        }

        // Check if the window is off the primary monitor in a negative axis
        // X,Y                  X,Y                    S = Screen, W = Window
        // 0,0  ----------  -1280,0  ----------
        //     |          |         |  ---     |
        //     |          |         | | W |    |
        //     |        S |         |  ---   S |
        //      ----------           ----------
        // This only works in Firefox at the moment due to a bug in Internet Explorer opening new windows into a negative axis
        // However, you can move opened windows into a negative axis as a workaround
        if (left < 0 && left > (window.screen.width * -1)) {
            return (window.screen.width * -1);
        }

        // If neither of the above, the monitor is on the primary monitor whose's screen X should be 0
        return 0;
    }

    window.leftScreenBoundry = FindLeftScreenBoundry;

    function fn_AbrirPainel() {
        var URL = "@Html.Raw(String.Format("http://semptoshiba.mao/apontaprod/barras/painelonlinelinha.asp?linha={0}&coleta=true", ViewBag.CodLinhaT1))";
        var width = $(window).width();
        var height = $(window).height();
        var left = window.leftScreenBoundry();

        var win = window.open(URL, 'windowName', 'resizable=0, scrollbars=0, fullscreen=1, height=' + height +
            ', width=' + width + ', screenX=' + left + ' , left=' + left + ', top=0, toolbar=0, menubar=0, status=1');
    }

    function listaAPs_CaixaColetiva() {
        $.ajax({
            type: "GET",
            url: "/Embalagem/GridFecCCIncompleta",
            data: { codlinha: "@linhaAtual.CodLinha" },
            dataType: "html",
            success: function (json) {
                $("#grdAPCC").html(json);
            },
            error: function (xhr, description) {
                alert("Erro ao consultar lista de Caixas Coletivas: " + description);
            }
        });
    }

    function RecuperaMascaras(RecuperaMascarasAux) {
        $.ajax({
            type: "GET",
            url: "/Embalagem/RecuperarMascaras",
            dataType: "JSON",
            success: function (json) {
                RecuperaMascarasAux.call(this, json);
            },
            error: function (xhr, description) {
                alert("Erro ao consultar lista de Caixas Coletivas: " + description);
            }
        });
    }



    function validaRegex(mascara, valor) {
        //var strPattern = "^[A-Za-z]{2}\\d{3}$";
        var strOptions = "i";

        var oREGEXP = new RegExp(mascara, strOptions);

        if (oREGEXP.test(valor)) {
            return true;
        }
        else {
            return false;
        }
    }

</script>

<script type="text/javascript">

    $(window).click(function () {
        $("#txtLeitura").focus();
    });

    var tamanhoLargura = parseInt($(document).width()) - (parseInt($(document).width()) * 10 / 100);

    var arrayAP = new Array();

    function fn_PreencherArrayAP() {
        $.ajax({
            type: "GET",
            url: "/Home/PreencherArrayAP/",
            dataType: "json",
            cache: false,
            async: true,
            success: function (data) {

                $("#QtdeCCLido").html("");
                var html_teste = "";
                for (var i = 0; i < data.length; i++) {
                    arrayAP.push({ AP: data[i].AP, QtdEsp: data[i].QtdEsp, QtdeLido: data[i].QtdeLido });

                    if ("@ViewBag.CodTipoPosto" != 29) {
                        html_teste += "<b>Caixa Coletiva AP: " + data[i].AP + ": </b> <span id='spQtLidoCC_" + data[i].AP + "'>0</span>/<span id='spTotalCC_" + data[i].AP + "'>" + "@ViewBag.qtdeCC" + "</span> </br>";
                    }

                }

                $("#QtdeCCLido").html(html_teste);


            },
            error: function (xhr, er) {
                alert("ERRO AO PREENCHER ARRAY DE DADOS DA AP");
            }
        });
    }

    function gridListaItem() {



        $("#tbListaItem").jqGrid({
            url: '/Home/CarregaPerfil/?Fabrica=@ViewBag.CodigoFabrica',
            datatype: 'json',
            mtype: 'GET',
            colNames: ['Tipo', 'Codigo', 'Item', 'Série', 'AP', 'Mascara'],
            colModel: [
                      { name: 'Tipo', index: 'Tipo', width: 100, align: 'left' },
                      { name: 'Codigo', index: 'Codigo', width: 100, align: 'left' },
                      { name: 'Item', index: 'Item', width: 200, align: 'left' },
                      { name: 'Serie', index: 'Serie', width: 400, align: 'left' },
                      { name: 'AP', index: 'AP', width: 0, align: 'left', hidden: true },
                      { name: 'Mascara', index: 'Mascara', width: 0, align: 'left', hidden: false }
            ],
            rowList: [],        // disable page size dropdown
            pgbuttons: false,     // disable page control like next, back button
            pgtext: null,         // disable pager text like 'Page 0 of 10'
            sortname: 'Id',
            sortorder: "desc",
            cmTemplate: { sortable: false },
            viewrecords: true,
            caption: 'Leituras',
            //scrollOffset: 0,
            width: null,
            height: null,
            autowidth: true,
            autoheight: true
        });
    }

    function gridLista() {

        var colunas = "@Html.Raw(ViewBag.ColunasHistorico)";
        var arrayNames = new Array();
        var arrayModels = new Array();

        for (var i = 0; i < colunas.split(",").length; i++) {
            arrayNames.push(colunas.split(",")[i]);
            arrayModels.push({ name: colunas.split(",")[i], index: colunas.split(",")[i], width: 100, align: 'center' });
        }

        var urlPagina = '/Home/HistoricoAmarracaoLote/?Fabrica=@ViewBag.CodigoFabrica';

        $("#tbListaItem2").jqGrid({
            url: urlPagina,
            datatype: 'json',
            mtype: 'GET',
            colNames: arrayNames,
            colModel: arrayModels,
            //pager: jQuery('#tbListaItem2'), //disable pagination
            rowList: [],        // disable page size dropdown
            pgbuttons: false,     // disable page control like next, back button
            pgtext: null,         // disable pager text like 'Page 0 of 10'
            sortname: 'Id',
            sortorder: "desc",
            cmTemplate: { sortable: false },
            //caption: 'Histórico',
            //scrollOffset: 0,
            width: tamanhoLargura - (tamanhoLargura * 5 / 100),
            height: null,
            //autowidth: true,
            autoheight: true,
            loadError: function () {
                alert('Erro ao carregar o grid');
            },
            loadComplete: function () {
                fn_exibeUltimoLido();
            }
        }).jqGrid("gridResize");

    }

    function gridDadosHoraHora() {

        $("#tbListaHoraHora").jqGrid({
            url: '/Embalagem/RecuperarDadosHoraHora/?codLinha=@ViewBag.CodLinhaT1',
            datatype: 'json',
            mtype: 'GET',
            colNames: ['NE', 'Descricao', 'Plano', 'Produzido', '6:00', '7:00', '8:00', '9:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00',
            '16:00', '17:00', '17:00 - 2', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00', '24:00'],

            colModel: [
                        { name: 'CodModelo', index: 'CodModelo', width: 180, align: 'center' },
                        { name: 'DesModelo', index: 'DesModelo', width: 400, align: 'left' },
                        { name: 'QtdProdPM', index: 'QtdProdPM', width: 160, align: 'center' },
                        { name: 'QtdProducao', index: 'QtdProducao', width: 160, align: 'center' },

                        { name: 'Hora6', index: 'Hora6', width: 130, align: 'center' },
                        { name: 'Hora7', index: 'Hora7', width: 130, align: 'center' },
                        { name: 'Hora8', index: 'Hora8', width: 130, align: 'center' },
                        { name: 'Hora9', index: 'Hora9', width: 130, align: 'center' },
                        { name: 'Hora10', index: 'Hora10', width: 130, align: 'center' },
                        { name: 'Hora11', index: 'Hora11', width: 130, align: 'center' },
                        { name: 'Hora12', index: 'Hora12', width: 130, align: 'center' },
                        { name: 'Hora13', index: 'Hora13', width: 130, align: 'center' },
                        { name: 'Hora14', index: 'Hora14', width: 130, align: 'center' },
                        { name: 'Hora15', index: 'Hora15', width: 130, align: 'center' },
                        { name: 'Hora16', index: 'Hora16', width: 130, align: 'center' },
                        { name: 'Hora17', index: 'Hora17', width: 130, align: 'center' },
                        { name: 'Hora17_2', index: 'Hora17_2', width: 130, align: 'center' },
                        { name: 'Hora18', index: 'Hora18', width: 130, align: 'center' },
                        { name: 'Hora19', index: 'Hora19', width: 130, align: 'center' },
                        { name: 'Hora20', index: 'Hora20', width: 130, align: 'center' },
                        { name: 'Hora21', index: 'Hora21', width: 130, align: 'center' },
                        { name: 'Hora22', index: 'Hora22', width: 130, align: 'center' },
                        { name: 'Hora23', index: 'Hora23', width: 130, align: 'center' },
                        { name: 'Hora24', index: 'Hora24', width: 130, align: 'center' },

            ],
            //pager: jQuery('#pager'),
            //rowNum: 10,
            //rowList: [5, 10, 20, 50, 100],
            sortname: 'Id',
            sortorder: "desc",
            viewrecords: true,
            //caption: 'Dados Hora/Hora',
            width: tamanhoLargura//,
            //onSelectRow: function (id) {
            //    var mydata = $("#list").jqGrid('getRowData');
            //    alert(mydata[id]['DesLinha']);
            //},
        });

    }

    $(document).ready(function () {

        var pressedAlt = false;
        document.onkeydown = function (e) {
            if (e.which == 18) {
                pressedAlt = true;
            }
        };
    });

    $(document).ready(function () {
        var blnImprimirTemp = "@ViewBag.ImprimeEtq";
        var blnSetorTemp = "@linhaAtual.Setor";
        var blnFamiliaTemp = "@linhaAtual.Familia";

        fn_PreencherArrayAP();

        gridListaItem();
        gridLista();

        $('.ui-jqgrid-titlebar-close').remove();


        if (blnSetorTemp == "FEC" && blnFamiliaTemp == "INF") {
            $('#btnAlterarTamanhoCC').css('display', 'none');
        }

        //todo: deixar off o botão de reimpressão caso não tenha impressão ativa na tela
        if (blnImprimirTemp == "S") {
            if (blnSetorTemp == "FEC" && blnFamiliaTemp == "INF" && "@ViewBag.CodTipoPosto" == "@SEMP.Model.Constantes.POSTO_AMARRA_LOTE_TABLET_IMPRESSAO_ETIQUETA") {
                $('#btnAjustarImpTraseira').css('display', 'inline');
            }
            else {
                $('#btnAjustarImpTraseira').css('display', 'none');
            }

            if (blnSetorTemp == "FEC" && blnFamiliaTemp == "INF" && ("@ViewBag.CodTipoPosto" == "@SEMP.Model.Constantes.POSTO_AMARRA_LOTE_TABLET_IMPRESSAO_ETIQUETA_PESO" || "@ViewBag.CodTipoPosto" == "@SEMP.Model.Constantes.POSTO_AMARRA_LOTE_TABLET_IMPRESSAO_ETIQUETA")) {
                $('#btnAtivarReimpressao').css('display', 'inline');
                $('#btnReimprimirCC').css('display', 'none');
            }
            else {
                $('#btnAjustarImpTraseira').css('display', 'none');
                $('#btnAtivarReimpressao').css('display', 'none');
            }

            if (blnSetorTemp == "IMC" || blnSetorTemp == "IAC") {
                $('#btnReimprimirCC').css('display', 'inline');
            }
        }
        else {
            $('#btnAjustarImpTraseira').css('display', 'none');
            $('#btnAtivarReimpressao').css('display', 'none');
            $('#btnReimprimirCC').css('display', 'none');
        }


        if ("@ViewBag.CodTipoPosto" == "@SEMP.Model.Constantes.POSTO_AMARRA_LOTE_TABLET_IMPRESSAO_ETIQUETA" ||
            "@ViewBag.CodTipoPosto" == "@SEMP.Model.Constantes.POSTO_AMARRA_LOTE_TABLET_IMPRESSAO_ETIQUETA_PESO") {
            $('#btnFecharCC').css('display', 'none');
        }

        if ("@ViewBag.CodTipoPosto" != "@SEMP.Model.Constantes.POSTO_AMARRA_LOTE_TABLET_IMPRESSAO_ETIQUETA" &&
            "@ViewBag.CodTipoPosto" != "@SEMP.Model.Constantes.POSTO_AMARRA_LOTE_TABLET_IMPRESSAO_ETIQUETA_PESO") {
            fn_AbrirPainel();
        }

        fn_AtualizarTextBotaoReImpressao();

        fn_totalProduzido();

        $("#dvDialogHistorico").dialog({
            title: 'Histórico',
            autoOpen: false,
            resizable: false,
            width: tamanhoLargura,
            height: 300,
            top: 0,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            clickOutside: true,
            clickOutsideTrigger: "#dvDialogHistorico",
            draggable: false,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").html("<div id='dvFechar' style='margin-top: -3px;'>X</div>");
            }
        });


        $("#dvDialogHoraHora").dialog({
            title: 'Dados Hora Hora',
            autoOpen: false,
            resizable: false,
            width: tamanhoLargura,
            height: 300,
            top: 0,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            clickOutside: true,
            clickOutsideTrigger: "#dvDialogHoraHora",
            draggable: false,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").html("<div id='dvFechar' style='margin-top: -3px;'>X</div>");
            }
        });

        $("#dvDialogFecharCC").dialog({
            title: 'Fechar Caixa Coletiva Incompleta',
            autoOpen: false,
            resizable: false,
            width: 400,
            height: 250,
            top: 0,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            closeOnEscape: false,
            clickOutside: true,
            clickOutsideTrigger: "#dvDialogFecharCC",
            draggable: true,
            open: function (event, ui) {

                $(".ui-dialog-titlebar-close").click(function () {
                    fn_cancelarFechamentoLote();
                });
                $(".ui-dialog-titlebar-close").html("<div id='dvFechar2' style='margin-top: -3px;'>X</div>");
            }
        });

        $("#dvDialogReimprimirLogin").dialog({
            title: 'Re-Impressão de Etiquetas',
            autoOpen: false,
            resizable: false,
            width: 250,
            height: 150,
            top: 0,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            clickOutside: true,
            clickOutsideTrigger: "#dvDialogReimprimirLogin",
            draggable: false,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").html("<div id='dvFechar3' style='margin-top: -3px;'>X</div>");
            }
        });

        $("#dvDialogAlterarTamanhoCC").dialog({
            title: 'Alterar Tamanho da Caixa Coletiva',
            autoOpen: false,
            resizable: false,
            width: 250,
            height: 150,
            top: 0,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            clickOutside: true,
            clickOutsideTrigger: "#dvDialogAlterarTamanhoCC",
            draggable: false,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").html("<div id='dvFechar3' style='margin-top: -3px;'>X</div>");
            }
        });

        $("#dvDialogReimprimirEtqIMCIAC").dialog({
            title: 'Reimprimir Etiqueta',
            autoOpen: false,
            resizable: false,
            width: 250,
            height: 150,
            top: 0,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            clickOutside: true,
            clickOutsideTrigger: "#dvDialogReimprimirEtqIMCIAC",
            draggable: false,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").html("<div id='dvFechar3' style='margin-top: -3px;'>X</div>");
            }
        });

        $("#dvDialogAjustarImpressoraTraseira").dialog({
            title: 'Ajustar Impressora',
            autoOpen: false,
            resizable: false,
            width: 250,
            height: 150,
            top: 0,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            clickOutside: true,
            clickOutsideTrigger: "#dvDialogAjustarImpressoraTraseira",
            draggable: false,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").html("<div id='dvFechar3' style='margin-top: -3px;'>X</div>");
            }
        });

        $("#dvItensParaReimpressaoTablet").dialog({
            title: 'Etiquetas para reimpressão',
            autoOpen: false,
            resizable: false,
            width: 250,
            height: 200,
            top: 0,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            clickOutside: true,
            clickOutsideTrigger: "#dvItensParaReimpressaoTablet",
            draggable: false,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").html("<div id='dvFechar4' style='margin-top: -3px;'>X</div>");
            }
        });

        $("#dvItensParaReimpressaoNotebook").dialog({
            title: 'Etiquetas para reimpressão',
            autoOpen: false,
            resizable: false,
            width: 250,
            height: 200,
            top: 0,
            show: { effect: 'drop', direction: "up" },
            modal: true,
            clickOutside: true,
            clickOutsideTrigger: "#dvItensParaReimpressaoNotebook",
            draggable: false,
            open: function (event, ui) {
                $(".ui-dialog-titlebar-close").html("<div id='dvFechar5' style='margin-top: -3px;'>X</div>");
            }
        });

        $('#txtLeitura').keypress(function (evt) {
            if (evt.keyCode == 13) {

                $('#txtLeitura').keydown(function () {
                    $("#lblMensagem").html("AGUARDANDO ENVIO");
                    $("#lblMensagem").css("background-color", "lightgrey");
                });

                fn_leituraSimples(this.value.toUpperCase());
            }
        });
    });

    function fn_leituraSimples(barcode) {

        var fabrica = "@ViewBag.CodigoFabrica";
        var leitura = barcode;
        var url = '/Embalagem/ValidarLeituraEmbalagem';
        var codDrt = "@retornologin.CodDRT";

        // Valida a mascara
        var indice = fn_validarMascaraLeitura(leitura);

        if (indice != -1) {

            var parametros = { Fabrica: fabrica, Leitura: leitura, CodDRT: codDrt, UltimoIndiceLido: ultimoIndiceLido, AP_Atual: AP_Atual, idxPerfil: indice };

            $('#txtLeitura').val("");

            fn_ajaxGet(url, parametros, fn_retornoPadrao);
        }
        else {
            $("#lblMensagem").html("Registro não encontrado");
            $("#lblMensagem").css("background-color", "red");
            $('#txtLeitura').val("");
        }
    }

    function reloadListaItem() {
        jQuery("#tbListaItem2").trigger("reloadGrid");
    }

    function fn_validarMascaraLeitura(leitura) {

        var indice = -1;
        var achou = false;
        var texto = "";

        for (var i = 0; i < arrayPerfil.length; i++) {
            if (validaRegex(arrayPerfil[i].Mascara, leitura) == true) {
                indice = i;
            }
        }
        return indice;
    }

</script>*@