﻿@model SEMP.Model.DTO.CBEmbaladaDTO
@{
	ViewBag.Title = "Amarra Lote";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Montagem Lote IAC";
	if (retornologin == null)
	{
		retornologin = new SEMP.Model.VO.RetornoLogin();
		retornologin.CodDRT = "";
	}
	else
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

 
}

<link href="@Scripts.Url("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<link href="@Scripts.Url("~/Content/ui.multiselect.css")" rel="stylesheet" type="text/css" />
	
<script src="@Scripts.Url("~/Scripts/JQGrid/grid.locale-ptbr.js")" type="text/javascript"></script>
<script src="@Scripts.Url("~/Scripts/JQGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>

<script type="text/javascript">

	$(document).ready(function () {
		$('#codFabrica').focus();
	});
</script>  

<style type="text/css">

	#frmInsereAP span {
		font-size: 18px;
	}

</style>

<h3 style="margin-left: 8px;">Estação: @ViewBag.Linha | @ViewBag.Posto</h3>
<h4 style="margin-left: 8px;">Informe Modelo</h4>
<div class="content-wrapper">
		
	<form action="@Url.Action("AmarraLoteConfigIac","CriarLoteIAC")" method="POST" id="frmInsereAP"> 
		
		@Html.ValidationSummary(true)
		
		<span>
			@Html.LabelFor(model => model.CodFab)
		</span><br />
		@Html.TextBoxFor(model => model.CodFab, new { placeholder = "Informe o código da fábrica.", style = "width: 300px; font-size: 15px;" })
		@*@Html.ValidationMessageFor(model => model.CodFab, "Informe o código da fábrica.")*@
		<br />

		<span>
			@Html.Label("Código do Modelo")
		</span><br />
		@Html.TextBoxFor(model => model.CodModelo, new { placeholder = "Informe o código do Modelo.", style = "width: 300px; font-size: 15px;" })
		@*@Html.ValidationMessageFor(model => model.CodModelo, "Informe o código do Modelo.")*@
        

		<br />
		<span>
			@Html.LabelFor(model => model.DatReferencia)
		</span><br />
		@Html.TextBoxFor(model => model.DatReferencia, new { style = "width: 200px; font-size: 20px;", @class = "calendar" })
	  		    
        
        

	    @Html.HiddenFor(model => model.NumAP, new { style = "width: 200px; font-size: 20px", @Value = "9999" })
        		

	    <br /><br />
        
        
	    <input class="bttn bttn-sm bttn-red" type="submit" value="Enviar" id="btnEnviar" />
	</form>
</div>

<script type="text/javascript">


	$(document).ready(function () {

		$("#DatReferencia").datepicker();

		


	});

	$(".validation-summary-errors").css("margin-left", "-40px");
	$(".validation-summary-errors").css("font-size", "16px");
	$(".validation-summary-errors").css("color", "red");
	$(".validation-summary-errors").css("font-weight", "bold");
	$(".validation-summary-errors ul").css("list-style-type", "none");



	

</script>
