﻿@model SEMP.Model.DTO.CBResumoIACDTO

@Scripts.Render("~/bundles/jqueryval")
@{
    Html.EnableClientValidation(false);
}
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<fieldset>
		<div style="display: block; margin-bottom: 5px; background-color: #efefef;">
			<span class="editor-label" style="display: inline-block; width: 120px;">
				@Html.LabelFor(model => model.Data) @Html.DisplayFor(model => model.Data)
				<input type="hidden" name="Data" value ="@Model.Data" />
			</span>
			&nbsp;&nbsp;
			<span class="editor-label" style="display: inline-block; width: 80px;">
				@Html.LabelFor(model => model.Turno) @Html.DisplayFor(model => model.Turno)
				@Html.HiddenFor(model => model.Turno)
			</span>
			&nbsp;&nbsp;
			<span class="editor-label">
				@Html.LabelFor(model => model.Linha) @Html.DisplayFor(model => model.Linha)
				@Html.HiddenFor(model => model.Linha)
			</span>
			<br />
			<span class="editor-label" style="display: inline-block; width: 120px;">
				@Html.LabelFor(model => model.CodModelo) @Html.DisplayFor(model => model.CodModelo)
				@Html.HiddenFor(model => model.CodModelo)
			</span>
			&nbsp;&nbsp;
			<span class="editor-label">
				@Html.LabelFor(model => model.DesModelo) @Html.DisplayFor(model => model.DesModelo)
				@Html.HiddenFor(model => model.DesModelo)
			</span>
			<br />
			<span class="editor-label" style="display: inline-block; width: 120px;">
				@Html.LabelFor(model => model.QtdPlano) @Html.DisplayFor(model => model.QtdPlano)
				@Html.HiddenFor(model => model.QtdPlano)
			</span>
			&nbsp;&nbsp;
			<span class="editor-label" style="display: inline-block; width: 80px;">
				@Html.LabelFor(model => model.QtdReal) @Html.DisplayFor(model => model.QtdReal)
				@Html.HiddenFor(model => model.QtdReal)
			</span>
			&nbsp;&nbsp;
			<span class="editor-label" style="display: inline-block; width: 80px;">
				@Html.LabelFor(model => model.Dif) @Html.DisplayFor(model => model.Dif)
			</span>
			&nbsp;&nbsp;
			<span class="editor-label">
				@Html.LabelFor(model => model.Eficiencia) @Html.DisplayFor(model => model.Eficiencia)
			</span>
		</div>
		<div style="float: left; width: 100%;">
			<div class="editor-label">
				@Html.LabelFor(model => model.OcorrenciaParada)
			</div>
			<div class="editor-field">
				@Html.TextAreaFor(model => model.OcorrenciaParada)
				@Html.ValidationMessageFor(model => model.OcorrenciaParada)
			</div>
		</div>
	</fieldset>


	<div style="margin-top: 10px; display:inline-block;">
		@Html.ActionLink("Retornar", "Index", null, new { @class="bttn bttn-sm bttn-red", @style="color: white; text-decoration: none;" })
	</div>
	<div style="display: inline-block;">
		<input type="submit" value="Salvar" class="bttn bttn-sm bttn-red" />
	</div>
}


<br />
