﻿@model IEnumerable<SEMP.Model.DTO.CBResumoIACDTO>

<div id="dialog-edit" style="display: none; top: 10px;">
</div>

<h3>@ViewBag.Title</h3>

Registros encontrados: @Model.Count()

<table class="table table-striped table-bordered table-condensed table-hover" style="width: 1500px !important;">
	<thead>
		<tr>
			<th style="width: 70px;">Data</th>
			<th style="width: 35px;">Turno</th>
			<th style="width: 45px;">Linha</th>
			<th style="width: 50px;">Modelo</th>
			<th style="width: 200px;">Descrição</th>
			<th style="width: 40px;">Tipo</th>
			<th style="width: 40px;">Plano</th>
			<th style="width: 40px;">Produzido</th>
			<th style="width: 40px;">Dif</th>
			<th style="width: 40px;">Efic. %</th>
			<th style="width: 55px;">Defeitos</th>
			<th style="width: 45px;">PPM</th>
			<th style="width: 55px;">Defeitos Real</th>
			<th style="width: 55px;">PPM Real</th>
			<th style="width: 400px;">Ocorrência de Produtividade</th>
			<th style="width: 50px;">Nº de Pontos</th>
			<th style="width: 50px;">Qtd. Pontos</th>
			<th style="width: 50px;">Rel. Técnico</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
  {

			<tr>
				<td>@Html.DisplayFor(modelItem => item.Data)</td>
				<td>@Html.DisplayFor(modelItem => item.Turno)</td>
				<td>@Html.DisplayFor(modelItem => item.Linha)</td>
				<td>@Html.DisplayFor(modelItem => item.CodModelo)</td>
				<td>@Html.DisplayFor(modelItem => item.DesModelo)</td>
				<td>@Html.DisplayFor(modelItem => item.FlagTP)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdPlano)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdReal)</td>
				<td>@Html.DisplayFor(modelItem => item.Dif)</td>
				<td>@Html.DisplayFor(modelItem => item.Eficiencia)%</td>
				<td>@Html.DisplayFor(modelItem => item.QtdDefeitos)</td>
				<td>@Html.DisplayFor(modelItem => item.PPM)</td>
                <td>@Html.DisplayFor(modelItem => item.QtdDefeitosReal)</td>
                <td>@Html.DisplayFor(modelItem => item.PPMReal)</td>
				<td>@Html.DisplayFor(modelItem => item.OcorrenciaParada)</td>
				<td>@Html.DisplayFor(modelItem => item.QtdPontos)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalPontos)</td>
                <td>
                    <form style="display:none;" name="frmQualidade@{Write(item.Linha);}" id="frmQualidade@{Write(item.Linha);}" method="post" action="/Coleta/RelatorioTecnico/Linha/">
                        <input type="hidden" name="DatInicio" value="@item.Data" />
                        <input type="hidden" name="DatFim" value="@item.Data" />
                        <input type="hidden" name="CodLinha" value="@item.Linha" />
                        <input type="hidden" name="Fase" value="IAC" />
                        <input type="hidden" name="Consultar" value="S" />
                        <input type="hidden" name="flgGrafico" value="S" />
                    </form>

                    <a href="#" onclick="IrQualidade('@item.Linha');" style="color: green;">Ir</a>

                </td>
               
			</tr>

  }
	</tbody>
</table>
<br /><br/>
<script>
	$(function () {
		$("#DatFim").datepicker();
		$("#DatInicio").datepicker();
	});


	function IrQualidade(codLinha) {
	    //alert(codlinha);

	    $('#frmQualidade' + codLinha).submit();

	}


	function fn_buscarCodLinha() {
	    $.ajax({
	        type: "GET",
	        url: "/Home/PreencherArrayAP/",
	        dataType: "json",
	        cache: false,
	        async: true,
	        success: function (data) {

	            $("#QtdeCCLido").html("");
	            var html_teste = "";
	            for (var i = 0; i < data.length; i++) {
	                arrayAP.push({ AP: data[i].AP, QtdEsp: data[i].QtdEsp, QtdeLido: data[i].QtdeLido });

	                if ("@ViewBag.CodTipoPosto" != 29) {
	                    html_teste += "<b>Caixa Coletiva AP: " + data[i].AP + ": </b> <span id='spQtLidoCC_" + data[i].AP + "'>0</span>/<span id='spTotalCC_" + data[i].AP + "'>" + "@ViewBag.qtdeCC" + "</span> </br>";
	                }
	            }

	            $("#QtdeCCLido").html(html_teste);
	        },
	        error: function (xhr, er) {
	            alert("ERRO AO PREENCHER ARRAY DE DADOS DA AP");
	        }
	    });
	}

	$(document).ready(function () {
		var url = "";

		$("#dialog-edit").dialog({
			title: 'Atualizar Resumo',
			autoOpen: false,
			resizable: true,
			width: 600,
			height: 400,
			top: 0,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").hide();
				$(this).load(url);
			}
		});

		$(".lnkEdit").on("click", function (e) {
			// e.preventDefault(); use this or return false
			url = $(this).attr('href');
			$(".ui-dialog-title").html("Atualizar Resumo");
			$("#dialog-edit").dialog('open');

			return false;
		});

		$("#btncancel").on("click", function (e) {
			$("#dialog-edit").dialog("close");
			return false;
		});
	});
</script>