﻿@model IEnumerable<SEMP.Model.DTO.CBResumoIACDTO>

<h3>@ViewBag.Title</h3>

Registros encontrados: @Model.Count()

<table class="table-semp small" style="width: 1500px !important;">
	<thead>
		<tr>
			<th style="width: 70px;">Data</th>
			<th style="width: 35px;">Turno</th>
			<th style="width: 45px;">Linha</th>
			<th style="width: 50px;">Modelo</th>
			<th style="width: 200px;">Descrição</th>
			<th style="width: 40px;">Plano</th>
			<th style="width: 40px;">Produzido</th>
			<th style="width: 40px;">Dif</th>
			<th style="width: 40px;">Efic. %</th>
			<th style="width: 55px;">Defeitos</th>
			<th style="width: 45px;">PPM</th>
			<th style="width: 55px;">Defeitos Real</th>
			<th style="width: 55px;">PPM Real</th>
			<th style="width: 400px;">Ocorrência de Produtividade</th>
			<th style="width: 50px;">Nº de Pontos</th>
			<th style="width: 50px;">Qtd. Pontos</th>

		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{

		<tr>
			<td>@Html.DisplayFor(modelItem => item.Data)</td>
			<td>@Html.DisplayFor(modelItem => item.Turno)</td>
			<td>@Html.DisplayFor(modelItem => item.Linha)</td>
			<td>@Html.DisplayFor(modelItem => item.CodModelo)</td>
			<td>@Html.DisplayFor(modelItem => item.DesModelo)</td>
			<td>@Html.DisplayFor(modelItem => item.QtdPlano)</td>
			<td>@Html.DisplayFor(modelItem => item.QtdReal)</td>
			<td>@Html.DisplayFor(modelItem => item.Dif)</td>
			<td>@Html.DisplayFor(modelItem => item.Eficiencia)%</td>
			<td>@Html.DisplayFor(modelItem => item.QtdDefeitos)</td>
			<td>@Html.DisplayFor(modelItem => item.PPM)</td>
			<td>@Html.DisplayFor(modelItem => item.QtdDefeitosReal)</td>
			<td>@Html.DisplayFor(modelItem => item.PPMReal)</td>
			<td>@Html.DisplayFor(modelItem => item.OcorrenciaParada)</td>
			<td>@Html.DisplayFor(modelItem => item.QtdPontos)</td>
			<td>@Html.DisplayFor(modelItem => item.TotalPontos)</td>
		</tr>

	}
	</tbody>
</table>
