﻿@using SEMP.Model.DTO
@{
    ViewBag.Title = "Relatório de produção IMC";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
    ViewBag.Sistema = "Rastreabilidade";
    ViewBag.Rotina = "RElatório de Produção";
    if (retornologin != null)
    {
        ViewBag.NomeUsuario = retornologin.NomFuncionario;
    }

    var DatInicio = Request["DatInicio"];
    var DatFim = Request["DatFim"];
    var Turno = Request["Turno"];
    if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
    if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
    if (String.IsNullOrEmpty(Turno)) { Turno = "1"; }
}

<script>
	function AlteraFase() {
		var fase = $("#fase").val();
		if (fase == "IAC") {
			$("#frmRelatorio").attr('action', "/Coleta/RelatorioProducao/IAC");
		}
		else if (fase == "IMC") {
			$("#frmRelatorio").attr('action', "/Coleta/RelatorioProducao/IMC");
		}
		else {
			$("#frmRelatorio").attr('action', "/Coleta/RelatorioProducao/");
		}

	}

</script>
<h3>@ViewBag.Title</h3>
<div class="col-xs-22 col-v">
	<form name="frmRelatorio" id="frmRelatorio" action="/Coleta/RelatorioProducao/IMC" method="post">
		<div class="col-xs-9 col-top-4">
			<label>Data inicial:</label>
			<input type="text" name="DatInicio" id="DatInicio" value="@DatInicio" class="calendar"/>
		</div>
		<div class="col-xs-9 col-top-4">
			<label>Data final:</label>
			<input type="text" name="DatFim" id="DatFim" value="@DatFim" class="calendar"/>
		</div>
		<div class="col-xs-4 col-top-4">
			<label>Turno:</label>
			<input type="text" name="Turno" id="Turno" value="@Turno" class="turno" />
		</div>
		<div class="col-xs-6 col-top-4">
			<label>Fase:</label>
			<select name="fase" id="fase" class="fabrica" onchange="AlteraFase();">
				<option value="IAC">IAC</option>
				<option value="IMC" selected>IMC</option>
				<option value="FEC">MF</option>
			</select>
		</div>
		<div class="col-xs-3">
			<input type="submit" name="btnEnviar" value="Consultar" class="bttn bttn-sm bttn-red" />
		</div>
	</form>
</div>

@{
	if (ViewBag.linhas != null)
	{

		//foreach (var linha in ViewBag.linhas)
        foreach (var linha in ((List<CBLinhaDTO>)ViewBag.linhas).Where( a => a.FlgAtivo.Equals("1")))
		{

	<table class="table-relatorio-out">
		<caption>@linha.CodLinhaT1 - @linha.DesLinha</caption>
		<tr>
			<td class="producao">

				<table class="table-semp orange">
					<caption>Produção x Diferença</caption>
					<thead>
						<tr>
							<th>Modelo</th>
							<th>Cap.</th>
							<th>Plan.</th>
							<th>Real.</th>
							<th>Dif.</th>
							<th>% Dif</th>
						</tr>
					</thead>
					<tbody>
						@if (ViewBag.resumo != null)
	  {
		  foreach (var obj in ((List<SEMP.Model.VO.Rastreabilidade.Relatorios.RelatorioProducao>)ViewBag.resumo).Where(x => x.CodLinha == linha.CodLinhaT1))
		  {
							<tr>
								<td>@obj.CodModelo - @obj.DesModelo</td>
								<td>@obj.QtdCapacidade</td>
								<td>@obj.QtdPlano</td>
								<td>@obj.QtdRealizado</td>
								<td>@obj.QtdDiferenca</td>
								<td>@obj.PercDiferenca</td>
							</tr>
		  }
	  }
					</tbody>
				</table>

			</td>
			<td class="defeito">
				<table class="table-semp green">
					<caption>Parada e/ou Perda(Detalhe)</caption>
					<thead>
						<tr>
							<th style="width: 430px;">Descrição</th>
							<th>(PDL) S/N</th>
							<th>Início</th>
							<th>Fim</th>
							<th>Total</th>
							<th>Aps. Não Prod.</th>
							<th>Setor Resp.</th>
						</tr>
					</thead>
					<tbody>
						@if (ViewBag.paradas != null)
	  {
		  foreach (var obj in ((List<SEMP.Model.VO.Rastreabilidade.Relatorios.ParadasLinha>)ViewBag.paradas).Where(x => x.CodLinha == linha.CodLinhaT1))
		  {
							<tr>
								<td>@obj.DesParada</td>
								<td>@obj.FlgPDL</td>
								<td>@obj.HoraInicio</td>
								<td>@obj.HoraFim</td>
								<td>@obj.TotalHoras</td>
								<td>@obj.QtdAparelhos</td>
								<td>@obj.SetorResp</td>
							</tr>
		  }
	  }
					</tbody>
				</table>

			</td>
		</tr>
		<tr>
			<td colspan="2" valign="top">

				<table class="table-semp blue">
					<caption>Qualidade</caption>
					<thead>
						<tr>
							<th>Modelo</th>
							<th>Origem</th>
							<th>Taxa %</th>
							<th>Qtd.</th>
							<th>Defeito</th>
							<th>Causa / posição</th>
							<th>Disposição</th>
							<th>Responsável</th>
							<th>Ação ou contramedida</th>
							<th>Plano de Ação</th>
							<th>Prazo</th>
							<th>Verificação</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						@if (ViewBag.defeitos != null)
	  {
		  foreach (var obj in ((List<SEMP.Model.VO.Rastreabilidade.Relatorios.DefeitosLinha>)ViewBag.defeitos).Where(x => x.CodLinha == linha.CodLinha))
		  {
							<tr>
								<td>@obj.CodModelo - @obj.DesModelo</td>
								<td>@obj.Origem</td>
								<td>@obj.Taxa</td>
								<td>@obj.Quantidade</td>
								<td>@obj.DesDefeito</td>
								<td>@obj.DesCausa</td>
								<td>@obj.Disposicao</td>
								<td>@obj.Responsavel</td>
								<td>@obj.Acao</td>
								<td>@obj.PlanoDeAcao</td>
								<td>@obj.Prazo</td>
								<td>@obj.Verificacao</td>
								<td>@obj.Status</td>
							</tr>
		  }
	  }
					</tbody>
				</table>

			</td>
		</tr>

	</table>
		}
	}
}
<br />
<script>
	$(function () {
		$("#DatFim").datepicker();
		$("#DatInicio").datepicker();
	});
</script>
