﻿@using SEMP.Model.VO.Rastreabilidade.Relatorios
@{
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Title = "Relatório de produção";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Relatório de Produção";

	bool autorizado = false;

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	var usuario = "";
	if (retornologin != null)
	{
		usuario = retornologin.NomUsuario.ToUpper();
		autorizado = (retornologin.Depto == "SUPERVISOR" || retornologin.Cargo == "079" || retornologin.Depto == "DTI");
	}
	else
	{
		Response.Redirect("/");
	}

	var datInicio = Request["DatInicio"];
	var datFim = Request["DatFim"];
	var turno = Request["Turno"];
	var grupoLinha = Request["Familia"];
	var todos = Request["EsconderDef"];
	var codLinha = Request["codLinha"];
	var fase = Request["Fase"];

	if (String.IsNullOrEmpty(datInicio))
	{
		datInicio = DateTime.Now.ToString("dd/MM/yyyy");
	}
	if (String.IsNullOrEmpty(datFim))
	{
		datFim = DateTime.Now.ToString("dd/MM/yyyy");
	}
	if (String.IsNullOrEmpty(turno))
	{
		turno = "1";
	}
	if (String.IsNullOrEmpty(grupoLinha))
	{
		grupoLinha = "";
	}

	List<IndiceDefeitoLinha> indices = ViewBag.indiceDefeito ?? new List<IndiceDefeitoLinha>();
}
<div class="notifications top-left"></div>

<h3>@ViewBag.Title</h3>
<div class="form-inline">
	<div class="row">
		<div class="col-md-12">
			<input type="hidden" name="usuario" value="@usuario" />
			<input type="hidden" name="codLinha" id="codLinha" value="@codLinha" />
			<div class="pull-left margem5px">
				<label>Data inicial&#58;</label>
				<input type="text" name="DatInicio" id="DatInicio" value="@datInicio" class="form-control input-sm" style="width: 85px;" onchange="$('#DatFim').val(this.value)" />
			</div>
			<div class="pull-left margem5px" id="grpDataFim">
				<label>Data final&#58;</label>
				<input type="text" name="DatFim" id="DatFim" value="@datFim" class="form-control input-sm" style="width: 85px;" />
			</div>
			<div class="pull-left margem5px">
				<label>Turno&#58;</label>
				<input type="text" name="Turno" id="Turno" value="@turno" class="form-control input-sm" style="width: 35px;" />
			</div>
			<div class="pull-left margem5px">
				<label>Fam&iacute;lia&#58;</label>
				<select name="Familia" id="GrupoLinha" class="form-control fabrica">
					<option value="" @{if (grupoLinha == "") { WriteLiteral("selected"); }}>Todas</option>
					<option value="LCD" @{if (grupoLinha == "LCD") { WriteLiteral("selected"); }}>LCD</option>
					<option value="DVD" @{if (grupoLinha == "DVD") { WriteLiteral("selected"); }}>DVD</option>
					<option value="AUD" @{if (grupoLinha == "AUD") { WriteLiteral("selected"); }}>AUDIO</option>
					<option value="INF" @{if (grupoLinha == "INF") { WriteLiteral("selected"); }}>INF</option>
				</select>
			</div>
			<div class="pull-left margem5px">
				<label>Fase:</label>
				<select name="fase" id="fase" class="form-control fabrica" onchange="AlteraFase();">
					<option value="IAC" @{if (fase == "IAC") { WriteLiteral("selected"); }}>IAC</option>
					<option value="IMC" @{if (fase == "IMC") { WriteLiteral("selected"); }}>IMC</option>
					<option value="FEC" @{if (fase == "FEC") { WriteLiteral("selected"); }}>MF</option>
					<option value="LCM" @{if (fase == "LCM") { WriteLiteral("selected"); }}>LCM</option>
					<option value="DAT" @{if (fase == "DAT") { WriteLiteral("selected"); }}>DAT</option>
				</select>
			</div>
			<div class="pull-left margem5px">
				@{
					if (autorizado)
					{
						<b>Mostrar todos: </b>
						<input type="checkbox" id="EsconderDef" name="EsconderDef" @{if (todos == "S") { WriteLiteral("checked"); }} value="S" />
					}
				}
			</div>
			<div class="pull-left">
				<div class="btn-group">
					<input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" onclick="btnExportar_Click();" class="btn btn-success" />
					<input type="button" name="btnEnviar" value="Consultar" onclick="btnEnviar_Click();" class="btn btn-danger" />
				</div>
			</div>
		</div>
	</div>
</div>
<br /><br />

<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>
<div id="conteudo">
	
</div>


<script>
	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

		var fase = $("#fase").val();

		if (fase == "IAC") {
			fase = "/Coleta/RelatorioProducao/IAC";
		}
		else {
			fase = "/Coleta/RelatorioProducao/Relatorio";
		}

		var esconder = "N";
		if ($("#EsconderDef").prop("checked") == true) {
			esconder = "S";
		}

		$.ajax({
			type: "GET",
			url: fase,
			data: {
				datInicio: $("#DatInicio").val(),
				datFim: $("#DatFim").val(),
				turno: $("#Turno").val(),
				Familia: $("#GrupoLinha").val(),
				EsconderDef: esconder,
				fase: $("#fase").val(),
				codLinha: $("#codLinha").val()
			},
			success: function (data) {
				$("#conteudo").html(data);

				$("a").tooltip();

			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	function btnExportar_Click() {
		var esconder = "N";
		if ($("#EsconderDef").prop("checked") == true) {
			esconder = "S";
		}

		var data = {
			datInicio: $("#DatInicio").val(),
			datFim: $("#DatFim").val(),
			turno: $("#Turno").val(),
			Familia: $("#GrupoLinha").val(),
			EsconderDef: esconder,
			fase: $("#fase").val(),
			codLinha: $("#codLinha").val()
		}

		var localUrl = "/Coleta/RelatorioProducao/IACXLS/?";

		var parametros = $.param(data);
		
		window.open(localUrl + parametros);

	}

	function AlteraFase() {

		if ($("#fase").val() == "IAC") {
			$("#grpDataFim").css("display", "");
		}
		else {
			$("#grpDataFim").css("display", "none");
		}

	}

	$(function () {
		$("#DatFim").datepicker();
		$("#DatInicio").datepicker();

		if ($("#codLinha").val() != ""){
			btnEnviar_Click();
		}

	});
</script>
