﻿@using SEMP.Model.DTO
@using SEMP.Model.VO.Rastreabilidade.Relatorios
@{
	bool autorizado = false;

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	var usuario = "";
	if (retornologin != null)
	{
		usuario = retornologin.NomUsuario.ToUpper();
		autorizado = (usuario == "THIAGORR" || retornologin.Depto == "SUPERVISOR" || retornologin.Cargo == "079" || retornologin.Depto.Trim() == "DTI" || retornologin.Depto.Trim() == "CPD");
	}
	else
	{
		Response.Redirect("/");
	}

	var datInicio = Request["DatInicio"];
	var datFim = Request["DatFim"];
	var todos = Request["EsconderDef"];

	if (String.IsNullOrEmpty(datInicio))
	{
		datInicio = DateTime.Now.ToString("dd/MM/yyyy");
	}
	if (String.IsNullOrEmpty(datFim))
	{
		datFim = DateTime.Now.ToString("dd/MM/yyyy");
	}

	List<IndiceDefeitoLinha> indices = ViewBag.indiceDefeito ?? new List<IndiceDefeitoLinha>();
    
    
}
<style>
	.headerLinha {
		cursor: pointer;
		font-size: 18px;
		font-family: Arial;
		font-weight: bold;
		background-color: steelblue;
		color: white;
		width: 100%;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 25px;
		background-image: url(/Images/Arvore/folder_page.png);
		-moz-background-position-x: 5px;
		-o-background-position-x: 5px;
		background-position-x: 5px;
		-moz-background-position-y: 7px;
		-o-background-position-y: 7px;
		background-position-y: 7px;
		background-repeat: no-repeat;
	}
	.headerLinhaClosed {
		background-image: url(/Images/Arvore/folder.png) !important;
	}

	.grupoLinha
	{
		margin: 0;
		margin-bottom: 10px;
		padding: 3px;
		border: solid 2px steelblue;
		-ms-border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
	}

	.observacao {
		margin: 0; 
		width: 100%; 
		height: 25px; 
		font-size: 12px; 
		padding-top: 3px;	
	}
	.observacaoEdit {
		height: 100px;
		width: 100%;
	}

</style>

@{
	if (ViewBag.linhas != null)
	{


        foreach (CBLinhaDTO linha in ((List<CBLinhaDTO>)ViewBag.linhas).Where( a => a.FlgAtivo.Equals("1")))
		{
			<div class="grupoLinha">
				<div class="headerLinha" id="@linha.CodLinha">@linha.DesLinha</div>

				<table class="table-relatorio-out">
					<tr>
						<td class="producao">

							<table class="table-semp blue">
								<caption>Produção x Diferença</caption>
								<thead>
									<tr class="cabecalho">
										<th>Modelo</th>
										<th>Cap.</th>
										<th>Plan.</th>
										<th>Real.</th>
										<th>Dif.</th>
										<th>% Dif</th>
									</tr>
								</thead>
								<tbody>
									@if (ViewBag.resumo != null && ((List<RelatorioProducao>)ViewBag.resumo).Any())
									{
										foreach (var obj in ((List<RelatorioProducao>)ViewBag.resumo).Where(x => x.CodLinha == linha.CodLinhaT1))
										{
											<tr class="corpo">
												<td>@obj.CodModelo - @obj.DesModelo</td>
												<td>@obj.QtdCapacidade</td>
												<td>@obj.QtdPlano</td>
												<td>@obj.QtdRealizado</td>
												<td>@obj.QtdDiferenca</td>
												<td>@obj.PercDiferenca</td>
											</tr>
										}
									}
									else
									{
										<tr class="corpo">
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>

									}
								</tbody>
							</table>

						</td>
						<td class="defeito">
							<table class="table-semp orange" style="height: 25px; border-top: solid 1px orange;">
								<tbody>
									<tr style="height: 27px;">
										<td style="width: 80px; padding: 0 0 0 3px; font-size: 12px; border: none; font-weight: bold;">Observação:</td>
										<td style="padding: 0;">
											@{
												if (autorizado)
												{
													<textarea class="observacao" 
																name="txtObservacao@{ WriteLiteral(linha.CodLinha); }"
																onblur=" GravarObservacao(event, @{ WriteLiteral(linha.CodLinha); }, this.value)">@linha.Observacao</textarea>
												}
												else
												{
													<b>@linha.Observacao</b>
												}
											}
										</td>
									</tr>
								</tbody>
							</table>
							<table class="table-semp orange">
								<thead>
									<tr class="cabecalho">
										<th style="width: 430px;">Parada e/ou Perda - Descrição</th>
										<th>(PDL) S/N</th>
										<th>Início</th>
										<th>Fim</th>
										<th>Total</th>
										<th>Aps. Não Prod.</th>
										<th>Setor Resp.</th>
									</tr>
								</thead>
								<tbody>
									@if (ViewBag.paradas != null && ((List<ParadasLinha>)ViewBag.paradas).Any())
									{
										foreach (var obj in ((List<ParadasLinha>)ViewBag.paradas).Where(x => x.CodLinha == linha.CodLinhaT1))
										{
											<tr class="corpo">
												<td>@obj.DesParada</td>
												<td>@obj.FlgPDL</td>
												<td>@obj.HoraInicio</td>
												<td>@obj.HoraFim</td>
												<td>@obj.TotalHoras</td>
												<td>@obj.QtdAparelhos</td>
												<td>@obj.SetorResp</td>
											</tr>
										}
									}
									else
									{
										<tr class="corpo">
											<td>&nbsp;</td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
									}
								</tbody>
							</table>

						</td>
					</tr>
					<tr>
						<td colspan="2" style="vertical-align: top;">
							<form style="display:none;" name="frmQualidade@{Write(linha.CodLinha);}" id="frmQualidade@{Write(linha.CodLinha);}" method="post" action="/Coleta/RelatorioTecnico/Linha/">
								<input type="hidden" name="DatInicio" value="@datInicio" />
								<input type="hidden" name="DatFim" value="@datFim" />
								<input type="hidden" name="CodLinha" value="@linha.CodLinha" />
								<input type="hidden" name="Fase" value="@linha.Setor" />
								<input type="hidden" name="Consultar" value="S" />
								<input type="hidden" name="flgGrafico" value="S" />
							</form>
							<table class="table-semp green">
								<caption>
									<a href="#" onclick="IrQualidade(@linha.CodLinha);" style="color: green;">Qualidade</a>
								</caption>

								<thead>
									<tr class="cabecalho">
										@{if (autorizado){<th>Exibir</th>}}
										<th>Modelo</th>
										<th>Origem</th>
										<th>Taxa %</th>
										<th>Qtd.</th>
										<th>Defeito</th>
										<th>Causa</th>
										<th>Posição</th>
										<th class="hidden">Disposição</th>
										<th class="hidden">Responsável</th>
										<th>Ação ou contramedida</th>
										<th class="hidden">Plano de Ação</th>
										<th class="hidden">Prazo</th>
										<th class="hidden">Verificação</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									@if (ViewBag.defeitos != null && ((List<DefeitosLinha>)ViewBag.defeitos).Any())
									{
										var defeitos = ((List<DefeitosLinha>)ViewBag.defeitos).Where(x => x.CodLinha == linha.CodLinha && (x.FlgExibir == "S" || todos == "S")).ToList();
										foreach (var obj in defeitos)
										{
											<tr class="corpo smallrow">
												@{if (autorizado && obj.Origem != "Total")
												{
													<td>
														<input type="checkbox" name="chkDef@{ WriteLiteral(obj.CodDefeito); }" 
														       onchange=" Defeito(this, @linha.CodLinha, '@obj.CodDefeito'); " @{
															                                                                       if (@obj.FlgExibir == "S")
															                                                                       {
																                                                                       WriteLiteral("checked");
															                                                                       }
														                                                                       } /></td>
												}
												else if (autorizado && obj.Origem == "Total")
												{
													<td></td>
												}}
												<td>@obj.DesModelo</td>
												<td>@obj.Origem</td>
												<td>@obj.Taxa</td>
												<td>@obj.Quantidade</td>
												<td>@obj.CodDefeito - @obj.DesDefeito</td>
												<td>@obj.DesCausa</td>
												<td>@obj.Posicao</td>
												<td class="hidden">@obj.Disposicao</td>
												<td class="hidden">@obj.Responsavel</td>
												<td>@obj.Acao</td>
												<td class="hidden">@obj.PlanoDeAcao</td>
												<td class="hidden">@obj.Prazo</td>
												<td class="hidden">@obj.Verificacao</td>
												<td>
													@switch (obj.Status)
													{
														case "1":
															Write("Analisado");
															break;
														case "3":
															Write("Scrap");
															break;
														case "0":
															Write("Em análise");
															break;
														default:
															Write("");
															break;
													}
												</td>
											</tr>
										}
									}
									else
									{
										<tr class="corpo">
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td class="hidden"></td>
											<td class="hidden"></td>
											<td></td>
											<td class="hidden"></td>
											<td class="hidden"></td>
											<td class="hidden"></td>
											<td></td>
										</tr>

									}
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top;" colspan="2">
							<table class="table-semp orange">
								<caption>Índice de defeitos</caption>
								<thead>
									<tr class="cabecalho">
										<th><a title="Primeiro posto de leitura">Total Primeiro Posto</a></th>
										<th>Total Embalado</th>
										<th>Total Defeitos</th>
										<th><a title="Índice total = (Total Defeitos) / (Total Embalado)">Índice total</a></th>
										<th><a title="Índice defeitos = (Índice Total) - (Falsa Falha) - RAC">Índice defeitos</a></th>
										<th>Índice falsa falha</th>
										<th>Índice RAC</th>
									</tr>
								</thead>
								<tbody>
									@{
										if (indices.Any())
										{
											foreach (var indice in indices.Where(x => x.CodLinha == linha.CodLinha)) {
												<tr class="corpo_centro">
													<td>@indice.QtdProducao</td>
													<td>@indice.QtdEmbalado</td>
													<td>@indice.QtdDefeito</td>
													<td>@indice.IndTotal(IndiceDefeitoLinha.Origem.Embalado)%</td>
													<td>@indice.IndReal(IndiceDefeitoLinha.Origem.Embalado)%</td>
													<td>@indice.IndFalsaFalha(IndiceDefeitoLinha.Origem.Embalado)%</td>
													<td>@indice.IndRAC(IndiceDefeitoLinha.Origem.Embalado)%</td>
												</tr>
											}
										}
										else
										{
											<tr>
												<td></td>
												<td></td>
												<td></td>
												<td></td>
											</tr>
										}
					
									}


								</tbody>

							</table>

						</td>
					</tr>
				</table>
	
			</div>
	}
	}
}
<br />
<script>
	$(function () {
		$("#DatFim").datepicker();
		$("#DatInicio").datepicker();

		$(".headerLinha").click(function() {
			$(this).toggleClass("headerLinhaClosed");
			$(this).next().toggle();
		});

		$(".observacao").focus(function() {
			$(this).switchClass("observacao", "observacaoEdit");
		});

		$(".observacao").blur(function () {
			$(this).switchClass("observacaoEdit", "observacao");
		});
	});

	function GravarObservacao(evt, codlinha, observacao) {
			$.ajax({
				type: "POST",
				url: "/Coleta/RelatorioProducao/EditObservacao/",
				data: { CodLinha: codlinha, Observacao: observacao, DatProducao: $("#DatInicio").val() },
				success: function (data) {
					//alert("Observação salva com sucesso!");
					$('.top-left').notify({
						message: { text: 'Observação salva com sucesso!' },
						type: "success",
						closable: false
					}).show();
				},
				error: function (data) {
					//alert("Erro ao processar: " + data.responseText);
					$('.top-left').notify({
						message: { text: 'Erro ao processar: ' + data.responseText },
						type: "danger",
						closable: false
					}).show();
				}
			});

			$(this).switchClass("observacaoEdit", "observacao");
	}

	function Defeito(obj, codlinha, coddefeito) {
		var endereco = "IncluirDefeito/";

		if (obj.checked != true) {
			endereco = "RemoveDefeito/";
		}

		$.ajax({
			type: "POST",
			url: "/Coleta/RelatorioProducao/" + endereco,
			data: { CodLinha: codlinha, CodDefeito: coddefeito, DatProducao: $("#DatInicio").val() },
			success: function (data) {
				//alert(data);
				$('.top-left').notify({
					message: { text: 'Feito!' },
					type: "success",
					closable: false
				}).show();
			},
			error: function (data) {
				alert("Erro ao processar: " + data.responseText);
			}
		});
	}

	function IrQualidade(codLinha) {

		$('#frmQualidade' + codLinha).submit();

	}

</script>

