﻿@using System.Web.UI.WebControls
@using RAST.BO.Rastreabilidade
@model SEMP.Model.DTO.MonitorOperadorDTO

@Styles.Render("~/Content/itensFormulario")
@{
	ViewBag.Title = "Monitor Operador";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Monitor Operador";

	var dataAtual = Request["dataini"];

	if (String.IsNullOrEmpty(dataAtual)) { dataAtual = DateTime.Now.ToString("dd/MM/yyyy"); }

	var Fabrica = Request["fabrica"];
	var Posto = Request["posto"];
	var CodLinha = Request["CodLinha"];
   
		
}


<h3 class="alinhamento">Monitor Operador</h3>
<fieldset class="alinhamento">
	<div id="filtro" class="row">
		<form action="/Outros/MonitorOperador/Lista/" method="POST" id="formLista">

			<div class="col-md-1">
				<label class="label-formulario">Data Inicio</label>
				<input type="text" name="dataini" id="dataini" value="@dataAtual" class="form-control calendar" />
			</div>
			<div class="col-md-1">
				<label class="label-formulario">Data fim</label>
				<input type="text" name="datafim" id="datafim"  value="@dataAtual" class="form-control calendar" />

			</div>

			<div class="col-md-1">
				<label class="label-formulario">Fabrica</label>
				<select id="cmbFabrica" name="fabrica" class="dropdown">
					<option></option>
					<option value="IAC" @{if (Fabrica == "IAC") { WriteLiteral("selected"); }}>IAC</option>
					<option value="IMC" @{if (Fabrica == "IMC") { WriteLiteral("selected"); }}>IMC</option>
					<option value="FEC" @{if (Fabrica == "FEC") { WriteLiteral("selected"); }}>FEC</option>
				</select>

			</div>

			<div id="divLinhas" class="col-md-1">
				<label class="label-formulario">Linha</label>
				<select id="CodLinha" name="CodLinha" class="dropdown">
				</select>
			</div>


			<div id="comboPosto" class="col-md-1">
				<label class="label-formulario">Posto</label>
				<select id="cmbPosto" name="cmbPosto" class="dropdown">
				</select>
			</div>

			@*   <div class="col-md-1">
				<label class="label-formulario">Linha</label>
				@Html.DropDownList("linha", new SelectList(ViewBag.ListaLinhas, "CodLinha", "DesLinha"), new { @class = "dropdown" })
			</div>

			<div class="col-md-1">
				<label class="label-formulario">Tipo Posto</label>
				@Html.DropDownList("TipoPosto", new SelectList(ViewBag.TipoPostos, "CodTipoPosto", "DesTipoPosto"), new { @class = "dropdown" })
			</div>*@

			<div class="col-md-1">
				<div>&nbsp;</div>
				<input type="button" value="Exibir" id="btBuscar" class="bttn bttn-sm bttn-red" />
			</div>



		</form>

	</div>

</fieldset>
<hr />
<div id="conteudo" style="text-align: center; margin-left: 1%; margin-right: 1%"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>

</div>




<script type="text/javascript">
	var colunas = "";
	var linhas = "";
	var linha = "@CodLinha";
	var postos = "";
	var posto = "@Posto";


	$("#cmbFabrica").change(function () {
		CarregarLinhas();
		$("#divLinhas").show();
	});


	$("#CodLinha").change(CarregarPostos);

	$(document).ready(function () {
		$("#dataini").datepicker();
		$("#datafim").datepicker();
		$('#TipoPosto').attr('disabled', 'true');
	});

	function Buscar() {
		$("#conteudo").html($('#carregando').html());
		$.ajax({
			type: "post",
			url: "/Outros/MonitorOperador/Lista/",
			data: $("#formLista").serialize(),
			dataType: "html",
			success: function (data) {
				$("#conteudo").html(data);
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}


	$('#linha').change(function () {
		//alert(this.value);
		$('#TipoPosto').removeAttr('disabled', 'true');
	});

	$("#btBuscar").click(Buscar);


	function CarregarLinhas() {
		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: $("#cmbFabrica").val() },
			dataType: "json",
			success: function (json) {
				var options = "";
				var selected = "";
				options += '<option value="" selected="selected"> SELECIONE A LINHA </option>';
				$.each(json, function (key, Linhas) {
					if (linha == Linhas.CodLinha) { selected = "selected"; } else { selected = ""; }
					options += '<option value="' + Linhas.CodLinha + '" ' + selected + '>' + Linhas.DesLinha + '</option>';
				});
				$("#CodLinha").html(options);
			}
		});
	}


	function CarregarPostos() {

		$.ajax({
			type: "GET",
			url: "/posto/GetPostos/",
			data: { CodLinha: $("#CodLinha").val() },
			dataType: "json",
			success: function (json) {
				var options = "";
				var selected = "";
				options += '<option value="" selected="selected"> SELECIONE O POSTO </option>';
				$.each(json, function (key, Postos) {
					if (posto == Postos.posto) { selected = "selected"; } else { selected = ""; }
					options += '<option value="' + Postos.NumPosto + '" ' + selected + '>' + Postos.DesPosto + '</option>';
				});
				$("#cmbPosto").html(options);
			}
		});
		$("#comboPosto").show();
	}
//	CarregarLinhas();
</script>
