﻿@model IEnumerable<SEMP.Model.DTO.MonitorOperadorDTO>


<table class="table-semp">
	<thead>
		<tr>
			<th>@Html.Label("DRT")</th>
			<th>@Html.Label("Funcionario")</th>
			<th>@Html.Label("Tipo Posto")</th>
			<th>@Html.Label("Linha")</th>
			<th>@Html.Label("Numero do Posto")</th>
			<th>@Html.Label("Quantidade")</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var item in Model)
 {
		<tr>
			<td>@Html.DisplayFor(modelItem => item.DRT)</td>
			<td>@Html.DisplayFor(modelItem => item.Nome)</td>
			<td>@Html.DisplayFor(modelItem => item.DesPosto)</td>
			<td>@Html.DisplayFor(modelItem => item.DesLinha)</td>
			<td>@Html.DisplayFor(modelItem => item.NumPosto)</td> 
			<td>@Html.DisplayFor(modelItem => item.QtdLiberada)</td>
		</tr>
 }
	</tbody>
</table>

<br/><br/>