﻿@model SEMP.Model.DTO.ProdParadaDepDTO

@{
	Layout = "~/Views/Shared/_Layout_Janela.cshtml";
	ViewBag.Title = "Incluir Departamento";
}
<script src="/Scripts/sisap.js"></script>
@Scripts.Render("~/bundles/jqueryval")

<style>
	.field-validation-error{ width:90%;font-size:8pt;display:block; position:relative; top:-65px;height:0px; z-index: 999;}
	.field-validation-error span {border-radius:4px; padding:5px 5px 5px 5px;background-color:#FFE6BF;position:relative;border:2px solid red;}
	.field-validation-error span:after { content: ' ';height: 0;position: absolute; width: 0;border: 10px solid transparent;border-top-color: #FFE6BF;top:100%;left: 10px;}
	.field-validation-error span:before {content: ' ';height: 0;position: absolute; width: 0;border: 13px solid transparent;border-top-color: red;top: 100%;left: 7px;}
</style>

@using (Html.BeginForm("Create", "ParadaDep", FormMethod.Post, new { @id = "frmParada" }))
{
	@Html.AntiForgeryToken()
	
	<div class="form-inline">
		@Html.ValidationSummary(true)

		<div class="row">
			<div style="width: 70%; float: left;">
				@Html.LabelFor(model => model.CodFab, new { @class = "control-label" })
				<div class="input-group">
					@Html.TextBoxFor(model => model.CodFab, new { @style = "width: 35px;", @disabled = "disabled", @Value = Request["codFab"], @class="form-control" })
					@Html.TextBoxFor(model => model.DesFabrica, new { @style = "width: 130px;", @disabled = "disabled", @class="input-group-addon"})
				</div>
				@Html.ValidationMessageFor(model => model.CodFab)
			</div>

			<div style="width: 30%; float: left;">
				@Html.LabelFor(model => model.NumParada, new { @class = "control-label" }) <br/>
				@Html.TextBoxFor(model => model.NumParada, new { @style = "width: 70px;", @disabled = "disabled", @Value = Request["numParada"], @class="form-control" })
				@Html.ValidationMessageFor(model => model.NumParada)
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				@Html.LabelFor(model => model.CodFabDepto, new { @class = "control-label" })
				<div class="input-group">
					@Html.TextBoxFor(model => model.CodFabDepto, new { @style = "width: 35px;", @class="form-control" })
					@Html.TextBoxFor(model => model.DesFabDep, new { @style = "width: 160px;", @disabled = "disabled", @class="input-group-addon"} )
				</div>
				@Html.ValidationMessageFor(model => model.CodFabDepto)
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				@Html.LabelFor(model => model.CodDepto, new { @class = "control-label" })
				<div class="input-group">
					@Html.TextBoxFor(model => model.CodDepto, new { @style = "width: 50px;", @class="form-control text-uppercase" })
					@Html.TextBoxFor(model => model.DesDepartamento, new { @style = "width: 160px;", @disabled = "disabled", @class="input-group-addon" })
				</div>
				@Html.ValidationMessageFor(model => model.CodDepto)
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				@Html.LabelFor(model => model.CodGrupo, new { @class = "control-label" })
				<div class="input-group">
					@Html.TextBoxFor(model => model.CodGrupo, new { @style = "width: 50px;", @class="form-control text-uppercase" })
					@Html.TextBoxFor(model => model.DesGrupoEmail, new { @style = "width: 160px;", @disabled = "disabled", @class="input-group-addon" })
				</div>
				@Html.ValidationMessageFor(model => model.CodGrupo)
			</div>
		</div>

		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.TipItem, new { @class = "control-label" })
				<div class="input-group-addon">
					<input type="radio" name="TipItem" id="TipItemI" value="I" required="required" />
					Informativo &nbsp;
					<input type="radio" name="TipItem" id="TipItemO" value="O" required="required" />
					Obrigatório
				</div>
				@Html.ValidationMessageFor(model => model.TipItem)
			</div>
		</div>

		@Html.HiddenFor(model => model.DatEnvio)
		@Html.HiddenFor(model => model.rowguid)

		<div class="row" style="margin-top: 5px;">
			<div style="width: 30%; float: left;">
				<input type="button" onclick="window.close();" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="width: 30%; float: left;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
			</div>
		</div>
	</div>
}
<script>
	function gravar() {

		$("#frmParada").validate({
			onfocusout: true
		}).form();

		if ($("#frmParada").valid()) {

			$("#CodFab").removeAttr("disabled");
			$("#NumParada").removeAttr("disabled");

			$.ajax({
				type: "POST",
				url: "/Outros/ParadaDep/Create/",
				data: $("#frmParada").serialize(),
				success: function (json) {
					if (json == "") {
						window.opener.listaDep();
						alert("Registro inserido com sucesso.");
						window.close();
					} else {
						alert(json);
					}
				},
				error: function (xhr, textStatus) {
					alert("Não foi possível adicionar: " + textStatus);
				}
			});
		}
	}

	$("#CodFabDepto").blur(function () {
		if ($(this).val() == "") return;

		$(this).val(padLeft($(this).val(), 2));

		$("#DesFabDep").val("");
		$.ajax({
			type: "GET",
			url: "/Util/ObterDescricaoFabrica/",
			data: { CodFab: $("#CodFabDepto").val() },
			success: function (data) {
				$("#DesFabDep").val(data);
			}
		});
	});

	$("#CodDepto").blur(function () {
		var valor = $(this).val();
		if (valor == "") {
			$("#DesDepartamento").val("");
			return;
		}

		if ($("#CodFabDepto").val() == "") {
			alert("Informe a fábrica");
			$("#CodDepto").val("");
			$("#CodFabDepto").focus();
			return;
		}

		valor = valor.toUpperCase();
		if (valor == "DCOM") valor = "SUPM";
		$(this).val(valor);
		
		$("#DesDepartamento").val("");
		$.ajax({
			type: "GET",
			url: "/Util/ObterDesDepto/",
			data: { CodDepto: valor, CodFab: $("#CodFabDepto").val() },
			success: function (data) {
				$("#DesDepartamento").val(data);
			}
		});
	});

	$("#CodGrupo").blur(function () {
		var valor = $(this).val();

		if (valor == "") {
			$("#DesGrupoEmail").val("");
			return;
		}

		if ($("#CodFabDepto").val() == "") {
			alert("Informe a fábrica");
			$(this).val("");
			$("#CodFabDepto").focus();
			return;
		}

		valor = valor.toUpperCase();
		if (valor == "DCOM") valor = "SUPM";
		$(this).val(valor);

		$("#DesGrupoEmail").val("");
		$.ajax({
			type: "GET",
			url: "/Outros/Parada/ObterDesGrupo/",
			data: { CodGrupo: valor, CodFab: $("#CodFabDepto").val() },
			success: function (data) {
				if (data != "") {
					$("#DesGrupoEmail").val(data);
				} else {
					$("#DesGrupoEmail").val("Grupo " + valor);
				}
				
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr);
			}
		});
	});

	$(document).ready(function () {
		$.ajax({
			type: "GET",
			url: "/Util/ObterDescricaoFabrica/",
			data: { CodFab: $("#CodFab").val() },
			success: function (data) {
				$("#DesFabrica").val(data);
			}
		});
	});
</script>
