﻿@model SEMP.Model.DTO.ProdParadaDepDTO

@{
	ViewBag.Title = "Apagar departamento";
	Layout = "~/Views/Shared/_Layout_Janela.cshtml";
}

<h3>Confirma excluir departamento?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.CodFab)</dt>

		<dd>@Html.DisplayFor(model => model.CodFab) - @Html.DisplayFor(model => model.DesFabrica)</dd>

		<dt>@Html.DisplayNameFor(model => model.NumParada)</dt>

		<dd>@Html.DisplayFor(model => model.NumParada)</dd>

		<dt>@Html.DisplayNameFor(model => model.CodDepto)</dt>

		<dd>@Html.DisplayFor(model => model.CodDepto) - @Html.DisplayFor(model => model.DesDepartamento)</dd>

	</dl>
	<div class="row" style="margin-top: 5px;">
		<div style="width: 30%; float: left;">
			<input type="button" onclick="window.close();" class="bttn bttn-sm bttn-red" value="Cancelar" />
		</div>
		<div style="width: 30%; float: left;">
			<input type="button" value="Remover" class="bttn bttn-sm bttn-red" onclick="gravar()" />
		</div>
	</div>
</div>

<script>
	function gravar() {

		$.ajax({
			type: "POST",
			url: "/Outros/ParadaDep/Apagar/",
			data: { codFab: "@Model.CodFab", codDepto: "@Model.CodDepto", numParada: "@Model.NumParada"},
			success: function (json) {
				if (json == "") {
					alert("Registro removido com sucesso.");
					window.opener.listaDep();
					window.close();
				} else {
					alert(json);
				}
			},
			error: function (xhr, textStatus) {
				alert("Não foi possível remover: " + textStatus);
			}
		});

	}
</script>
