﻿@model IEnumerable<SEMP.Model.DTO.ProdParadaDepDTO>

<input type="hidden" id="pcodFab" value="@Request["codFab"]" />
<input type="hidden" id="pnumParada" value="@Request["numParada"]" />

<div id="dlgDep" style="display: none; top: 10px;"></div>

<table class="table-semp smallrow" style="border: solid 1px black;">
	<thead>
		<tr>
			<th style="width: 40px;"></th>
			<th style="width: 27px;">Fab.</th>
			<th>Depto</th>
			<th style="width: 35px;">Tipo</th>
			<th style="width: 20px;">*</th>
		</tr>
	</thead>
	<tbody>
		@if (Model.Any())
		{
			foreach (var item in Model)
			 {
				 <tr style="height: 15px;">
					 <td>
						 @Html.ActionLink(" ", "Edit", new { codFab = item.CodFab, numParada = item.NumParada, codDepto = item.CodDepto}, new { @class="linkEdit wEdit glyphicon glyphicon-edit", @title="Editar registro"}) 
						 @Html.ActionLink(" ", "Delete", new { codFab = item.CodFab, numParada = item.NumParada, codDepto = item.CodDepto}, new { @class="linkEdit wEdit glyphicon glyphicon-remove", @title="Remover"})
					 </td>
					 <td>@Html.DisplayFor(modelItem => item.CodFab)</td>
					 <td>@Html.DisplayFor(modelItem => item.CodDepto)</td>
					 <td>@Html.DisplayFor(modelItem => item.TipItem)</td>
					 <td></td>
				 </tr>
			 }
		}
	</tbody>
</table>
<div class="row" style="margin-top: 10px;">
	<div class="col-md-10">
		<input type="button" id="btnIncluir" value="Incluir" class="btn btn-sm btn-info" onclick="incluir()" style="padding: 0; font-size: 10px; height: 25px; width: 41px;" />
	</div>
</div>

<script>
	function incluir() {
		var janela = window.open("/Outros/ParadaDep/Create/?codFab=" + $("#pcodFab").val() + "&numParada=" + $("#pnumParada").val(), "Incluir",
								"toolbar=no,fullscreen=no,location=no,menubar=no,resizable=no,status=no,titlebar=no,width=300,height=400");
	}
	$(".wEdit").on("click", function (e) {
		var url = $(this).attr('href');
		var janela = window.open(url, "Alterar", "toolbar=no,fullscreen=no,location=no,menubar=no,resizable=no,status=no,titlebar=no,width=300,height=400");

		return false;
	});
</script>