﻿@{
    ViewBag.Title = "Entrada no sistema";
    Layout = null;

}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
	@Styles.Render("~/Content/csssite")
	@Styles.Render("~/Content/login")
	@Styles.Render("~/Content/bootstrap2")
	<script>
		function Entrar() {
			$("#username").val($("#usuario").val());

			if ($("#username").val() == "") {
				alert("Informe o usuário ou leia o crachá");
				return false;
			} else {
				//$("#usuario").prop("disabled", true);
				$("#carregando").css("display", "block");
				$("#usuario").val("");

				document.forms[0].submit();
			}

		}
	</script>
	<style>
		.panel {
			margin-right: 25%;
			margin-left: 25%;
		}

		@{WriteLiteral("@media(max-width:500px) {");}
			.panel {
				margin-right: 15%;
				margin-left: 15%;
			}
		}
	</style>
</head>
	<body>
		<div id="carregando" style="position: absolute; z-index: 1; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.14); display: none; ">
			<img id="imgCarregando" src="/Images/carregando.gif" />
		</div>
		<div class="page-container">
			<div class="panel panel-semp">
				<div class="panel-heading"><div class="panel-title">Login do Sistema</div></div>

				<div style="padding-top:30px" class="panel-body">
					<form action="/login/" method="post" name="frmLogin">
						<div style="margin-bottom: 25px" class="form-group form-group-lg input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
							<input type="text" name="usuario" id="usuario" class="form-control input-lg" placeholder="Crachá ou login" autofocus>
							<input type="hidden" name="username" id="username">
						</div>
						<div style="margin-bottom: 25px" class="form-group form-group-lg input-group">
							<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
							<input type="password" name="password" placeholder="Senha" class="form-control input-lg"
								onfocus="$(this).parent().addClass('has-warning');" onblur="$(this).parent().removeClass('has-warning');">
						</div>

						<input type="hidden" name="returnUrl" value="@Request["ReturnUrl"]" />

						<hr />

						<select name="fabrica" id="fabrica" class="form-control input-lg" style="color: red; font-weight:bold;">
							<option style="color: red; font-weight:bold;" value="SEMP" selected>SEMP TCL</option>
							<option style="color: red; font-weight:bold;" value="SEMPTOSHIBA">SEMP AMAZONAS</option>
						</select>
						<br />
						<button type="submit" onclick="Entrar();">Entrar</button>
						<div class="error"><span>+</span></div>

						<div id="Mensagem erro" class="message-error">@ViewBag.Erro</div>
						<div>Hora de acesso: @ViewBag.data</div>
					</form>
				</div>
			</div>
		</div>
		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/login")
		<script>
			$(document).ready(function(){
				$("#usuario").focus(function () {
					$(this).parent().addClass('has-warning');
				});
				$("#usuario").blur(function () {
					$(this).parent().removeClass('has-warning');
				});

				$("#usuario").focus();
			});
		</script>
</body>
</html>