﻿@using SEMP.Model.DTO;
@using SEMP.Model.VO.Rastreabilidade.Relatorios;
@using RAST.BO.Rastreabilidade;

@Scripts.Render("~/bundles/highcharts")

@{
	ViewBag.Title = "Relatório de Índice de Defeito";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Relatório de Índice de Defeito";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var defeitos = (List<viw_CBDefeitoTurnoDTO>)ViewBag.defeitos;

	var datIni = Request["DatInicio"];
	var datFim = Request["DatFim"];
	var setor = Request["Fase"];
	var turno = Request["Turno"];
	var codLinha = Request["codLinha"];
	var flgGrafico = Request["flgGrafico"];
	var modelo = Request["codModelo"];
	var codDRT = Request["codDRT"];

	if (turno == "0")
	{
		turno = "Todos";
	}

	var resumo = (ResumoRelatorioTecnico)ViewBag.resumoRel;
	var indices = (List<IndiceDefeito>)ViewBag.indiceDefeitos;
}
@Scripts.Render("~/bundles/excelexport")

<span style="float: left; margin-right: 10px;"><button class="bttn bttn-menu bttn-red" type="button" name="btnMenu" onclick="Voltar();"><img src="~/images/voltar.gif" style="width: 16px; height: 16px;" /></button></span>
<h3>@ViewBag.Title</h3>

<div class="boxFiltros">
	<table style="width: 50%; font-size: 14px;" cellspacing="4">
		<tr>
			<td style="width: 25%"><b>Setor:</b> @setor</td>
			<td style="width: 40%"><b>Período:</b> @datIni - @datFim</td>
			<td style="width: 25%"><b>Turno:</b> @turno </td>
			<td style="width: 10%; text-align: right;"><input type="button" id="btnExportar" name="btnExportar" value="Exportar Excel" class="bttn bttn-sm bttn-green" /></td>
		</tr>
		<tr>
			<td><b>Linha:</b> @ViewBag.desLinha</td>
			<td colspan="1"></td>
			<td><b>Familia:</b> @ViewBag.Familia</td>
			<td colspan="1"></td>
		</tr>							
	</table>
</div>

<div>

	<table class="table-semp orange smallrow" id="tblDados">
		<caption>Índices de Defeitos</caption>
		<thead>
			<tr>
				<th><a title="Defeito revisado">Dia</a></th>
				<th>Produzido</th>
				<th>Quantidade de Defeitos</th>
				<th>Índice de Defeitos</th>
				<th>Quantidade de Defeitos de Falsa Falha</th>
				<th>Índice de Falsa Falha</th>
				<th>Índice sem Falsa Falha</th>
			</tr>
		</thead>

		<tbody>
			@{	
				if (indices != null && indices.Count() > 0)
				{ 				
					foreach (var item in indices)
					{ 
							
						<tr>
							<td>@item.Dia.ToShortDateString()</td>
							<td>@item.QtdProduzida</td>
							<td>@item.QtdDefeitos</td>
							<td>@item.IndiceGeral</td>
							<td>@item.QtdFalsaFalha</td>
							<td>@item.IndiceFalsaFalha</td>
							<td>@item.IndiceSemFalsaFalha</td>
						</tr>
					}
				}
			}
			
		</tbody>
		
	</table>
</div>

<div class="boxFiltros">
	<table style="width: 100%; font-size: 14px;" id="tblResumo">
		<tr>
			<td style="vertical-align: top;" colspan ="7">
				<table style="width: 100%">
					<tr>
						
						<td style="width: 10%"><b>Qtd. Produzida:</b></td>
						<td style="width: 10%">@ViewBag.produzido</td>						
						
						<td style="width: 10%"><b>Qtd. Defeito:</b></td>
						<td style="width: 10%"> @ViewBag.qtdDefeitos</td>						

						<td style="width: 8%"><b>Índice Geral:</b></td>
						<td style="width: 10%">@ViewBag.indiceGeral</td>

						<td style="width: 10%"><b>Qtd. Falsa Falha:</b></td>
						<td style="width: 10%">@ViewBag.qtdFalsaFalha</td>

						<td style="width: 12%"><b>Índice Falsa Falha:</b></td>
						<td style="width: 10%">@ViewBag.indiceFalsaFalha</td>
					</tr>					
				</table>
			</td>
		</tr>
	</table>
</div>

<div id="novo" style="display:none">
	<table id="novaTable">

	</table>
</div>

@ViewBag.Charts

<script>

	$(document).ready(function () {
		$("#btnExportar").click(function () {

			$("#novaTable").html($("#tblDados").html());
			$("#novaTable").append("<tr></tr>");
			$("#novaTable").append($("#tblResumo").html());

			$("#novaTable").btechco_excelexport({
				containerid: "novaTable",
				datatype: $datatype.MVC
			});

		});
	});

	function Voltar() {
		history.back();		
	}
</script>