﻿@{
	ViewBag.Title = "Índice de Defeito";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Índice de Defeito";
	if (retornologin != null)
	{
		ViewBag.NomeUsuario = retornologin.NomFuncionario;
	}

	var DatInicio = Request["DatInicio"];
	var DatFim = Request["DatFim"];
	var CodLinha = Request["CodLinha"];
	var Fabrica = Request["fase"];
	var Turno = Request["Turno"];
	var Modelo = Request["codModelo"];
	var Tecnico = Request["CodDRT"];
	var consulta = Request["Consultar"];
	var flgGrafico = Request["flgGrafico"];

	if (String.IsNullOrEmpty(DatInicio)) { DatInicio = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(DatFim)) { DatFim = DateTime.Now.ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(CodLinha)) { CodLinha = ""; }
	if (String.IsNullOrEmpty(Fabrica)) { Fabrica = "FEC"; }
	if (String.IsNullOrEmpty(Turno)) { Turno = "0"; }
	if (String.IsNullOrEmpty(Tecnico)) { Tecnico = ""; }

}

<h3>@ViewBag.Title</h3>

<div class="boxFiltros">

	<form name="frmRelatorio" id="frmRelatorio" action="Linha" method="post" style="padding: 15px;">
		<div class="row">
			<div class="col-xs-25 col-v">
				<div class="col-xs-6 col-top-4" style="width:18% !important;">
					<label>Data inicial&#58;</label>
					<input type="text" name="DatInicio" id="DatInicio" value="@DatInicio" class="form-control input-sm" style="width: 85px;"/>
				</div>
				<div class="col-xs-6 col-top-4">
					<label>Data final&#58;</label>
					<input type="text" name="DatFim" id="DatFim" value="@DatFim" class="form-control input-sm" style="width: 85px;"/>
				</div>
				<div class="col-xs-5 col-top-4">
					<label>Fase:</label>
					<select name="Fase" id="fase" class="form-control">
						<option value="IAC" @{if (Fabrica == "IAC") { WriteLiteral("selected"); }}>IAC</option>
						<option value="IMC" @{if (Fabrica == "IMC") { WriteLiteral("selected"); }}>IMC</option>
						<option value="FEC" @{if (Fabrica == "FEC") { WriteLiteral("selected"); }}>MF</option>						
					</select>
				</div>
								
			</div>
		</div>
		<div class="row">
			<div class="col-xs-25 col-v">

			<div class="col-xs-8 col-top-4">
					<label>Linha</label>
					@{ if (String.IsNullOrEmpty(consulta))
		{
					
						<select name="CodLinha" id="Linha" class="form-control">
							<option value="">SELECIONE A LINHA</option>
						</select>
		}
		else
		{
						<input type="text" name="CodLinha" id="Linha" value="@CodLinha" />
		}
		
					}
				</div>

			<div class="col-xs-15 col-top-4" style="float: left;">
					<label>Família:</label>
					<select name="familia" id="familia" class="form-control">
						<option value="">SELECIONE A FAMÍLIA</option>
						<option value="LCD" @{if (Fabrica == "LCD") { WriteLiteral("selected"); }}>TV LCD</option>
						<option value="AUD" @{if (Fabrica == "AUD") { WriteLiteral("selected"); }}>ÁUDIO</option>
						<option value="DVD" @{if (Fabrica == "DVD") { WriteLiteral("selected"); }}>DVD</option>						
						<option value="INF" @{if (Fabrica == "INF") { WriteLiteral("selected"); }}>INFORMÁTICA</option>
					</select>
			</div>
		</div>
		</div>
		
		<div class="row" style="margin-top: 6px;">
			<div class="col-xs-25 col-v">
				<div class="col-xs-7">
					<div class="input-group input-group-sm">
						<span class="input-group-addon">
							<input type="radio" name="flgGrafico" value="S" checked="checked" />
						</span>
						<input type="text" class="form-control" value="Com gráfico" style="border: none;" />
					</div>
				</div>
				<div class="col-xs-7">
					<div class="input-group input-group-sm">
						<span class="input-group-addon">
							<input type="radio" name="flgGrafico" value="" />
						</span>
						<input type="text" class="form-control" value="Sem gráfico" style="border: none;" />
					</div>
				</div>
				
				<div class="col-xs-7">
					<div class="col-xs-6" style="float: right; margin-right: -129px;">
					@{ if (String.IsNullOrEmpty(consulta))
		{
					
						<input type="submit" name="btnEnviar" value=" Gerar " class="bttn bttn-sm bttn-red"
							onclick="btnEnviar_Click();" />
		}
					}
				</div>
				</div>

			</div>
		</div>
	</form>

</div>

<div id="conteudo">
</div>

<script type="text/javascript">
	var linha = "@CodLinha";

	$(function () {
		$("#DatFim").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatInicio").datepicker("option", "maxDate", selectedDate);
			}
		});
		$("#DatInicio").datepicker({
			showButtonPanel: true,
			numberOfMonths: 2,
			onClose: function (selectedDate) {
				$("#DatFim").datepicker("option", "minDate", selectedDate);
			}
		});

		$("#fase").change(CarregarLinhas);
		$("#Linha").change(limparFamilia);
		$("#familia").change(limparLinha);

		CarregarLinhas();
	});

	function limparLinha() {
		//alert("Limpar Linha");
		var sel = document.getElementById('Linha');
		sel.selectedIndex = 0;
	}

	function limparFamilia() {
		//alert("Limpar Família");
		var sel = document.getElementById('familia');
		sel.selectedIndex = 0;
	}

	function CarregarLinhas() {

		var fase = $("#fase").val();
		if (fase == "PLACA") { fase = "FEC"; }

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: fase },
			dataType: "json",
			success: function (json) {
				var options = "";
				var selected = "";
				options += '<option value=""> SELECIONE A LINHA </option>';
				$.each(json, function (key, Linhas) {
					if (linha == Linhas.CodLinha) { selected = "selected"; } else { selected = ""; }
					options += '<option value="' + Linhas.CodLinha + '" ' + selected + '>' + Linhas.DesLinha + '</option>';
				});
				$("#Linha").html(options);
			}
		});
	}

	function btnEnviar_Click() {			
		
		if ($('#Linha').val() != '') {			
			$("#frmRelatorio").attr('action', '/Coleta/IndiceDefeitos/Linha');
		}
		else if ($('#familia').val() != "") {			
			$("#frmRelatorio").attr('action', '/Coleta/IndiceDefeitos/Familia');
		}
		else {			
			$("#frmRelatorio").attr('action', '/Coleta/IndiceDefeitos/Linha');
		}
	}

	$("#Modelo").blur(function () {
		$.ajax({
			type: "GET",
			url: "/Util/ObterDescricaoItem/",
			data: { CodItem: $("#Modelo").val() },
			success: function (data) {
				$("#Descricao").val(data);
			}
		});
	});

		@{
		if (!String.IsNullOrEmpty(ViewBag.mensagem))
		{
			WriteLiteral("alert('" + ViewBag.mensagem + "');");
		}

		if (!String.IsNullOrEmpty(consulta))
		{
			WriteLiteral("$('#frmRelatorio').submit();");
		}
	
	}

</script>