﻿@model SEMP.Model.DTO.CBPlanoAcaoTipoCausaDTO

<h3>Confirma a exclusão desse registro?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.CodTipoCausa)</dt>
		<dd>@Html.DisplayFor(model => model.CodTipoCausa)</dd>
		<dt>@Html.DisplayNameFor(model => model.DesTipoCausa)</dt>
		<dd>@Html.DisplayFor(model => model.DesTipoCausa)</dd>
	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()
		@Html.HiddenFor(model => model.CodTipoCausa)
		@Html.HiddenFor(model => model.DesTipoCausa)

		<div class="form-actions no-color" style="margin-top: 10px;">
			<div style="margin-top: 10px; display: inline-block;">
				<input type="button" onclick="$('#janela').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="submit" value="Apagar" class="bttn bttn-sm bttn-red" />
			</div>
		</div>
	}
</div>
