﻿@model SEMP.Model.DTO.CBPlanoAcaoTipoCausaDTO

@using (Html.BeginForm("Edit", "TipoCausa", FormMethod.Post, new { @id = "frmTipoCausa" }))
{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)

		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.CodTipoCausa, new { @class = "control-label", @style="float: left; margin-right: 5px;" })
				@Html.TextBoxFor(model => model.CodTipoCausa, new { @style = "width: 30px;", @class="form-control", @disabled="disabled"})
				@Html.ValidationMessageFor(model => model.CodTipoCausa)
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.DesTipoCausa, new { @class = "control-label" })
				@Html.EditorFor(model => model.DesTipoCausa, new { @style = "width: 300px; text-transform:uppercase"})
				@Html.ValidationMessageFor(model => model.DesTipoCausa)
			</div>
		</div>

		<div class="row">
			<div style="margin-top: 10px; margin-right: 10px; display: inline-block;">
				<input type="button" onclick="$('#janela').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
			</div>
			<div style="display: inline-block;">
				<input type="button" value="Gravar" class="bttn bttn-sm bttn-red" onclick="gravar()" />
			</div>
		</div>
	</div>
}

<script>
	function gravar() {
		$("#CodTipoCausa").removeAttr("disabled");

		$.ajax({
			type: "POST",
			url: "/Outros/TipoCausa/Edit/",
			data: $("#frmTipoCausa").serialize(),
			dataType: "json",
			success: function (json) {
				$("#CodTipoCausa").attr("disabled", "disabled");
				if (json == true) {
					alert("Registro alterado com sucesso.");
					document.location.href = "/Outros/TipoCausa/";
				} else {
					alert("Não foi possível gravar.");
				}
			},
			error: function (xhr) {
				alert("Não foi possível alterar: " + xhr);
			}
		});
	}
</script>