﻿@model IEnumerable<SEMP.Model.DTO.CBPlanoAcaoTipoCausaDTO>

<table class="table-semp smallrow" id="tblDados" style="width: 600px;">
	<thead>
		<tr>
			<th style="width: 50px;"></th>
			<th style="width: 50px;">@Html.DisplayNameFor(model => model.CodTipoCausa)</th>
			<th>@Html.DisplayNameFor(model => model.DesTipoCausa)</th>
		</tr>
	</thead>
	<tbody>
	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.ActionLink(" ", "Edit", new { id = item.CodTipoCausa}, new { @class="linkEdit glyphicon glyphicon-edit", @title="Editar registro"}) |
				@Html.ActionLink(" ", "Delete", new { id= item.CodTipoCausa}, new { @class="linkEdit glyphicon glyphicon-remove", @title="Remover"})
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.CodTipoCausa)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DesTipoCausa)
			</td>
		</tr>
	}
	</tbody>
</table>
<br/><br/>