﻿@model SEMP.Model.DTO.CBCadRetrabalhoDTO

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Novo Retrabalho</title>

    <style>
        .overridelocalstyle {
            font-size: small;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("Create", "Retrabalho", FormMethod.Post, new { @class = "form-inline", @role = "form", @name = "frmRetrabalho", id = "frmRetrabalho" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Criar Retrabalho</legend>
            @Html.HiddenFor(model => model.CodRetrab, new { @class = "form-control" })

            <div class="row" style="margin-left: 15px; margin-bottom: 5px;">
                <div class="form-group" style="width: 100%">
                    <div class="input-group" style="width: 150px;">
                        @Html.LabelFor(model => model.CodRetrab)
                        @Html.TextBoxFor(model => model.CodRetrab, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CodRetrab)
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group" style="width: 150px;">
                        @Html.LabelFor(model => model.DataRetrab)
                        @Html.TextBoxFor(model => model.DataRetrab, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DataRetrab)
                    </div>
                </div>
            </div>

            <div class="row" style="width: 100%; padding: 10px;">
                <div class="form-group">
                    <div class="input-group" style="width: 100%;">
                        @Html.LabelFor(model => model.MotRetrab)
                        @Html.TextAreaFor(model => model.MotRetrab, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MotRetrab)
                    </div>
                </div>
            </div>

            <div id="comboBox_RetrabalhoSubstituicao" style="font-size: 14px">
                Item para Substituição
            <form name="combo_box">
                <table>
                    <tr>
                        <td>
                            <select multiple size="10" name="FromLB" id="FromLB" style="width: 150px">
                            </select>
                        </td>
                        <td>
                            <input type="button" onclick="move(this.form.FromLB, this.form.ToLB)"
                                value="->"><br />
                            <input type="button" onclick="move(this.form.ToLB, this.form.FromLB)"
                                value="<-">
                        </td>
                        <td>
                            <select multiple size="10" name="ToLB" id="ToLB" style="width: 150px">
                                <optgroup label="Item"></optgroup>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
            </div>

            <div style="width: 100%; padding: 10px; text-align: center;">
                <div style="display: inline-block; padding: 10px;">
                    @Html.ActionLink("Retornar", "Index", null, new { @class = "bttn bttn-sm bttn-red", @style = "color: white; text-decoration: none;" })
                </div>
                <div style="display: inline-block; padding: 10px;">
                    <input type="button" value="Gravar Retrabalho" class="bttn bttn-sm bttn-red" onclick="gravarRetrabalho()" />
                </div>
            </div>
        </fieldset>
    }
</body>
</html>

<script>
    function gravarRetrabalho() {
        $.ajax({
            type: "POST",
            url: "/Defeitos/Create/",
            data: $("#frmDefeito").serialize(),
            dataType: "json",
            success: function (json) {
                if (json == true) {
                    alert("Defeito " + $("#CodDefeito").val() + " gravado com sucesso.");
                    $("#CodFab").val("");
                    $("#DesDefeito").val("");
                    $("#DesVerificacao").val("");
                    $("#flgIMC").attr("checked", false);
                    $("#flgFEC").attr("checked", false);
                    $("#flgIAC").attr("checked", false);
                    $("#flgAtivo").attr("checked", false);
                } else {
                    alert("Não foi possível gravar. Verifique o código de defeito inserido.");
                }
            },
            error: function (xhr) {
                alert("Não foi possível adicionar: " + xhr);
            }
        });
    }
</script>