﻿@model IEnumerable<SEMP.Model.DTO.CBCadRetrabalhoDTO>

@{
    ViewBag.Title = "Configuração de Retrabalhos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Sistema = "Rastreabilidade";
    ViewBag.Rotina = "Retrabalho";
}
@Scripts.Render("~/bundles/datatable")
@Styles.Render("~/Content/datatable")

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <h3>@ViewBag.Title</h3>

    <div id="dialog-div" style="display: none; top: 10px;"></div>

    <form name="frmRelatorio" id="frmRelatorio" action="/CRUDRetrabalho/Retrabalho/" method="post" style="padding-left: 15px; padding-bottom: 25px;">
        <div class="row">
            <div class="col-xs-25 col-v">
                <div class="col-xs-10" style="float: right; text-align: right;">
                    <input type="hidden" name="flag" value="1" />
                    <input type="button" name="btnNovoRetrabalho" id="btnNovoRetrabalho" value="Cadastrar Novo Retrabalho" class="bttn bttn-sm bttn-red" />
                </div>
            </div>
        </div>
    </form>

    <table class="table-semp smallrow" id="tblDados">
        <thead>
            <tr>
                <th style="width: 60px;"></th>
                <th style="width: 100px;">@Html.DisplayNameFor(model => model.CodRetrab)</th>
                <th style="width: 100px;">@Html.DisplayNameFor(model => model.DataRetrab)</th>
                <th style="width: 100px;">@Html.DisplayNameFor(model => model.CodModelo)</th>
                <th style="width: 100px;">@Html.DisplayNameFor(model => model.CodSolicitante)</th>

                @*The name of who is making the request for the rework wont show up for now, so no need for headers*@
                @*<th style="width: 140px;">@Html.DisplayNameFor(model => model.SolicRetrab)</th>*@

                <th style="width: 100px;">@Html.DisplayNameFor(model => model.StatusRetrab)</th>
                <th style="width: 100px;">@Html.DisplayNameFor(model => model.ProgRetrab)</th>
                <th>@Html.DisplayNameFor(model => model.MotRetrab)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 60px;"></td>
                    <td style="text-align: center; width: 100px;">@Html.DisplayFor(modelItem => item.CodRetrab)</td>
                    <td style="text-align: center; width: 100px;">@Html.DisplayFor(modelItem => item.DataRetrab)</td>
                    <td style="text-align: center; width: 100px;">@Html.DisplayFor(modelItem => item.CodModelo)</td>
                    <td style="text-align: center; width: 100px;">@Html.DisplayFor(modelItem => item.CodSolicitante)</td>

                    @*The name of who is making the request for the rework wont show up for now*@
                    @*<td style="text-align: center; width: 90px;">@Html.DisplayFor(modelItem => item.SolicRetrab)</td>*@

                    <td style="text-align: center; width: 100px;">@Html.DisplayFor(modelItem => item.StatusRetrab)</td>
                    <td style="text-align: center; width: 100px;">@Html.DisplayFor(modelItem => item.ProgRetrab)</td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.MotRetrab)</td>
                </tr>
            }
        </tbody>
    </table>

    <br />
    <br />

    <script>
        $(document).ready(function () {

            var url = "";

            $("#dialog-div").dialog({
                title: 'Novo Retrabalho',
                autoOpen: false,
                resizable: false,
                width: 600,
                height: 384,
                top: 0,
                show: { effect: 'drop', direction: "up" },
                modal: true,
                draggable: true,
                open: function (event, ui) {
                    $(".ui-dialog-titlebar-close").hide();
                    $(this).html("");
                    $(this).load(url);
                }
            });

            $("#btnNovoRetrabalho").on("click", function (e) {
                // e.preventDefault(); use this or return false
                url = "/Coleta/CRUDRetrabalho/Create/";
                $(".ui-dialog-title").html("Novo Retrabalho");
                $("#dialog-div").dialog('open');

                return false;
            });

            $("#btnclose").on("click", function (e) {
                $("#dialog-div").dialog("close");
                return false;
            });

        });
    </script>
</body>
</html>