﻿@using RAST.BO.Relatorios
@using SEMP.Model.VO.Rastreabilidade.Relatorios
@{
	ViewBag.Title = "Detalhes de um produto";

	LeiturasMF produto = ViewBag.produto;
	List<LeiturasItem> itens = ViewBag.itens;

}
<style>
	.legenda
	{
		width: 130px;
		font-weight: bold;
		margin-bottom: 2px;
	}

	.legenda2
	{
		float: left;
		width: 130px;
		font-weight: bold;
		margin-bottom: 2px;
		margin-left: 150px;
	}

	.conteudo
	{
		height: 20px;
		width: 250px;
	}

	.linha
	{
		height: 30px;
	}

	.linha2
	{
		height: 30px;
		background: azure;
	}

	input.noborder
	{
		border: none !important;
		background-color: transparent !important;
		box-shadow: none !important;
		width: 75%;
	}
</style>

<h3>@ViewBag.Title</h3>

<div>
	<div>
		<div style="padding: 5px; width: 60%">
			<div class="linha"><span class="legenda">Data Produção: </span><span class="conteudo">@produto.DatReferencia.Value.ToShortDateString()</span></div>
			<div class="linha2"><span class="legenda">Data de Leitura: </span><span class="conteudo">@produto.Data.ToShortDateString()</span></div>
			<div class="linha"><span class="legenda">Modelo: </span>
				<input type="text" class="noborder" value="@produto.CodModelo @produto.DesModelo" /></div>
			<div class="linha2"><span class="legenda">Painel/Cin.: </span>
				<input type="text" class="noborder" value="@produto.CodPainel @produto.DesPainel" /></div>
			<div class="linha"><span class="legenda">Kit Acess.: </span>
				<input type="text" class="noborder" value="@produto.CodAcessorio @produto.DesAcessorio"/></div>
			<div class="linha2"><span class="legenda">Outros: </span>
				<input type="text" class="noborder" value="@produto.CodOutro @produto.DesOutro" /></div>
			<div class="linha"><span class="legenda">Operador: </span><span>@produto.CodOperador</span></div>
			<div class="linha2"><span class="legenda">Linha: </span><span class="conteudo">@produto.CodLinha - @produto.DesLinha</span></div>
			<div class="linha"><span class="legenda">Expedição: </span>
				@{
					var gpa1 = AuditorSerie.ObterLeituraGPA(produto.CodModelo, produto.NumSerieModelo);
					Write( gpa1.CodItem == null ? "" : gpa1.DataLeitura.ToString());
				}
			</div>
			
		</div>
		<div style="position: absolute; left: 60%; top: 50px; width: 40%">
			<div class="linha"><span class="legenda">Fab / AP: </span><span class="conteudo">@produto.CodFab - @produto.NumAP</span></div>
			<div class="linha2"><span class="legenda">Hora de Leitura: </span><span>@produto.Data.ToShortTimeString()</span></div>
			<div class="linha"><span class="legenda">Núm. Série: </span><span>@produto.NumSerieModelo</span></div>
			<div class="linha2"><span class="legenda">Núm. Série: </span><span>@produto.NumSeriePainel</span></div>
			<div class="linha"><span class="legenda">Núm. Série: </span><span>@produto.NumSerieAcessorio</span></div>
			<div class="linha2"><span class="legenda">Núm. Série: </span><span>@produto.NumSerieOutro</span></div>
			<div class="linha"><span class="legenda">Testador 1: </span><span>@produto.CodTestador</span></div>
			<div class="linha2"><span class="legenda">Lote: </span><span>@produto.NumLote</span></div>
		</div>
	</div>

	<div>
		<table class="table-semp blue">
			<caption>Itens do Produto</caption>
			<thead>
				<tr>
					<th style="width: 300px; font-weight: bold;">Item</th>
					<th style="width: 130px; font-weight: bold;">Núm. Série</th>
					<th style="width: 130px; font-weight: bold;">Hora Leitura</th>
					<br />
				</tr>
			</thead>
			<tbody>
				@foreach (var item in itens)
	{
					<tr>
						<td style="width: 300px;">@item.CodItem - @item.DesItem</td>
						<td style="width: 130px;">@item.NumSerie</td>
						<td style="width: 130px;">@item.DataLeitura.Value</td>
					</tr>
	}
			</tbody>
		</table>
	</div>

</div>
<br />
<button name="btnclose" id="btnclose" class="bttn bttn-sm bttn-red">Fechar</button>
<br />
<br />
<script>

	$("#btnclose").on("click", function (e) {
		$("#dialog-edit").dialog("close");
		return false;
	});
</script>
