﻿@model SEMP.Model.DTO.CBQueimaRegistroDTO
@{
	ViewBag.Title = "Confiabilidade de Produto Acabado";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Qualidade";
	ViewBag.Rotina = "Posto Confiabilidade";

	var series = (List<string>)ViewBag.Series;
	var testesQueima = (List<SEMP.Model.DTO.CBCadDefeitoDTO>)ViewBag.TestesQueima ?? new List<SEMP.Model.DTO.CBCadDefeitoDTO>();
	var testesEspecificos = (List<SEMP.Model.DTO.CBCadSubDefeitoDTO>)ViewBag.TestesEspecificos ?? new List<SEMP.Model.DTO.CBCadSubDefeitoDTO>();
	var registros = (List<SEMP.Model.DTO.CBQueimaInspecaoDTO>)ViewBag.Registros ?? new List<SEMP.Model.DTO.CBQueimaInspecaoDTO>();
	var registrosTestes = (List<SEMP.Model.DTO.CBQueimaTestesDTO>)ViewBag.RegistrosTestes ?? new List<SEMP.Model.DTO.CBQueimaTestesDTO>();

	var desLinha = "";
	var desPosto = "";

	if (Model == null)
	{
		desLinha = "LINHA Queima";
		desPosto = "POSTO Queima";
	}
	else
	{
		desLinha = Model.DesLinha;
		desPosto = Model.DesPosto;

	}

	var cont = 0;

	var qtdEspecificos = testesEspecificos.Count();

}
<style>
	.fixed-panel100 {
		min-height: 100px;
		max-height: 100px;
		overflow-y: auto;
	}

	.fixed-panel500 {
		min-height: 300px;
		max-height: 300px;
		overflow-y: auto;
	}

	.list-group-item {
		padding: 2px 10px;
	}

	.panel-heading {
		padding: 4px 15px;
	}

		.panel-heading a {
			text-decoration: none !important;
		}

	.dl-horizontal dt {
		width: 120px;
	}

	.dl-horizontal dd {
		margin-left: 130px;
	}

	.dl-coleta {
		margin-bottom: 0;
		border-bottom: solid 1px #efefef;
	}

	.dl-coleta dt {
		float: left;
		width: 70px;
		height: 25px;
		overflow: hidden;
		clear: left;
		text-align: right;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

		.dl-coleta dd {
			margin-left: 75px;
			height: 25px;
		}

	label {
		margin-right: 0 !important;
	}

	.btn-group .btn {
		border: none;
	}

	.btn-group {
		border: 1px solid #ccc;
		border-radius: 4px;
	}

	.texto-def {
		padding: 0;
		font-size: 10px;
	}

	a {
		text-decoration: none;
		color: black;
		padding: 5px 10px !important;
	}
	a:hover, a:visited {color: black !important;}
</style>

<h3><button class="btn btn-default btn-sm glyphicon glyphicon-arrow-left" style="margin-right: 5px;" onclick="document.location.href='/Outros/PostoQueima/'"></button>@desLinha -  @desPosto</h3>

<div class="container" style="width: 100%;">

	<div class="row" style="width: 100%;">
		<div id="ladoEsquerdo" class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h4 class="panel-title">Produtos</h4>
				</div>
				<div class="panel-body" style="padding: 2px;">
					<div>
						<div style="font-size: 12px;">

							<dl class="dl-horizontal">
								<dt>RPA:</dt>
								<dd id="lblNumRPA">@Model.CodFab/@Model.NumRPA</dd>

								<dt>Produto:</dt>
								<dd id="lblProduto">@Model.CodModelo - @Model.DesModelo</dd>

								<dt>Pallet:</dt>
								<dd id="lblNumLote">@Model.CodPallet</dd>

								<dt>Qtd. Lote:</dt>
								<dd id="lblQtdLote">@Model.QtdPallet</dd>

								<dt>Qtd. Inspecionado:</dt>
								<dd>@registros.Count()</dd>

								<dt>Data Produção:</dt>
								<dd id="lblDatProducao">@Model.DatProducao</dd>

								<dt>Linha de Origem:</dt>
								<dd id="lblLinha">@Model.CodLinhaOri - @Model.DesLinhaOri</dd>
							</dl>
						</div>

					</div>

					<ul class="nav nav-pills" role="tablist" id="myTabs">
						@foreach (var serie in series)
						{
							var serieA = serie.ToUpper();
							var existe = registros.FirstOrDefault(x => x.NumECB.EndsWith(serieA));
							var checado = "";
							if (existe != null)
							{
								checado = "checked";
							}
							var testes = registrosTestes.Where(x => x.NumECB.EndsWith(serie)).ToList();
							var qtdTestes = testes.Select(x => x.CodSubDefeito).Distinct().Count();
							var total = (qtdTestes == qtdEspecificos);

							<li role="presentation">
								<a href="#@String.Format("P{0}", serie)" aria-controls="@serie" role="tab" data-toggle="pill" onclick="SelecionaProduto('@serieA', @total.ToString().ToLower())">
									<input type="checkbox" @checado value="@serieA" disabled="disabled" name="chkProduto@{@serieA}" id="@serieA">@serieA
								</a>
							</li>
						}
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" role="tabpanel" id="home">&nbsp;</div>
					@foreach (var serie in series)
					{
						var testes = registrosTestes.Where(x => x.NumECB.EndsWith(serie)).ToList();

						<div class="tab-pane" role="tabpanel" id="@String.Format("P{0}", serie)">
							<table class="table table-condensed table-hover">
								<thead>
									<tr>
										<th>Teste</th>
										<th style="width: 120px;">Data</th>
										<th style="width: 50px;">Status</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="3">
											Total @testes.Select(x => x.CodSubDefeito).Distinct().Count() de @qtdEspecificos
										</td>
									</tr>

									@if (testes.Any())
									{
										foreach (var teste in testes)
										{
											var glyph = teste.FlgStatus == "S" ? "ok" : teste.FlgStatus == "X" ? "remove" : "minus";
											var label = teste.FlgStatus == "S" ? "primary" : teste.FlgStatus == "X" ? "danger" : "info";

											<tr class="texto-def">
												<td>@teste.CodDefeito . @teste.CodSubDefeito</td>
												<td class="text-center">@teste.DatTeste</td>
												<td class="text-center"><span class="label label-@label"><span class="glyphicon glyphicon-@glyph"></span></span></td>
											</tr>
										}
									}
									else
									{
										<tr>
											<td>&nbsp;</td>
											<td>&nbsp;</td>
											<td>&nbsp;</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					}
					</div>
						
				</div>
			</div>
		</div>
		<div id="ladoDireito" class="col-md-7">
			<br /><br />
			<input type="text" name="NumSerie" id="NumSerie" value="" placeholder="LEIA A SÉRIE DO PRODUTO OU INFORME O PALLET"
				   class="form-control" onkeydown="ValidaSerie(event);" />
			<input type="text" name="Validacao" id="Validacao" value="" placeholder="LEIA O CÓDIGO DA VERIFICAÇÃO"
				   class="form-control" onkeydown="ValidaTeste(event);" />
			<br /><br />

			<form name="frmQueima" id="frmQueima" action="/Outros/PostoQueima/ColetaSeries/" method="post" onsubmit="">
				<input type="hidden" name="CodLinha" value="@Model.CodLinha" />
				<input type="hidden" name="NumPosto" value="@Model.NumPosto" />
				<input type="hidden" name="CodFab" value="@Model.CodFab" />
				<input type="hidden" name="NumRPA" value="@Model.NumRPA" />
				<input type="hidden" name="CodPallet" value="@Model.CodPallet" />
				<input type="hidden" name="NumSerieColeta" id="NumSerieColeta" value="" />
				<input type="hidden" name="CodModelo" id="CodModelo" value="@Model.CodModelo" />
				<input type="hidden" name="DatProducao" value="@Model.DatProducao" />

				<div class="panel panel-success" id="pnlTestes" style="display: none;">
					<div class="panel-heading">
						<div class="pull-right" style="margin-top: -2px;">
							<input type="button" value="Fechar Produto" name="btnFechar" id="btnFechar" class="btn btn-danger btn-xs" disabled onclick="FecharTestes();" />
							<input type="button" value="Confirmar Testes" name="btnConfirmar" id="btnConfirmar" class="btn btn-default btn-xs" onclick="ConfirmarTestes();" />
						</div>
						<h4 class="panel-title">Testes</h4>
					</div>
					<div class="panel-body fixed-panel300" style="padding: 4px;">
						@foreach (var defeito in testesQueima)
						{
						<div class="panel panel-primary" style="margin-bottom: 3px;">
							<div class="panel-heading">
								<h4 class="panel-title" style="font-size: 11px !important;"><span class="caret"></span>&nbsp; @defeito.CodDefeito - @defeito.DesDefeito</h4>
							</div>

							@foreach (var teste in testesEspecificos.Where(x => x.CodDefeito == defeito.CodDefeito))
							{
							<div class="row">
								<dl class="dl-coleta">
									<dt>
										<span class="btn-group" data-toggle="buttons">
											<label class="btn btn-default btn-xs glyphicon glyphicon-ok">
												<input type="radio" class="btnTestes" name="optDefeitos@{@defeito.CodDefeito@teste.CodSubDefeito}" id="optDefeitosS@{@defeito.CodDefeito@teste.CodSubDefeito}" autocomplete="off" value="S" data-toggle="btn-primary">
											</label>
											<label class="btn btn-default btn-xs glyphicon glyphicon-remove">
												<input type="radio" class="btnTestes" name="optDefeitos@{@defeito.CodDefeito@teste.CodSubDefeito}" id="optDefeitosX@{@defeito.CodDefeito@teste.CodSubDefeito}" autocomplete="off" value="X" data-toggle="btn-danger">
											</label>
											<label class="btn btn-default btn-xs glyphicon glyphicon-minus">
												<input type="radio" class="btnTestes" name="optDefeitos@{@defeito.CodDefeito@teste.CodSubDefeito}" id="optDefeitosNA@{@defeito.CodDefeito@teste.CodSubDefeito}" autocomplete="off" value="NA" data-toggle="btn-info">
											</label>
										</span>
									</dt>
									<dd>
										<div class="texto-def">@teste.CodSubDefeito - @teste.DesDefeito</div>
										<input type="hidden" class="Defeitos" name="Defeitos@{@defeito.CodDefeito@teste.CodSubDefeito}" id="Defeitos@{@defeito.CodDefeito@teste.CodSubDefeito}" value="" />
										<div class="hidden">
											<textarea rows="2" class="form-control" style="font-size: 10px;" name="ObsDefeito@{@defeito.CodDefeito@teste.CodSubDefeito}" id="ObsDefeito@{@defeito.CodDefeito@teste.CodSubDefeito}"></textarea>
										</div>
									</dd>
								</dl>
								
							</div>
	}

						</div>
		cont++;

	}

						<div class="row">
							<label>Observação</label>
							<textarea name="Observacao" id="Observacao" class="form-control"></textarea>
						</div>
					</div>
				</div>

			</form>

		</div>
	</div>


</div>

<textarea id="txtDados" rows="5" style="width: 100%; display: none;"></textarea>
<script>
	$(function () {
		$("#NumSerie").focus();
		
	});

	$("textarea").blur(function () {
		var form = $("#frmQueima").serialize();
		$("#txtDados").val(form);
	});

	$(".btnTestes").change(function () {

		var obj = $(this);
		var valor = obj.attr("value");

		var classe = obj.attr("data-toggle");

		obj.parent().parent().find('.btn-primary, .btn-danger, .btn-info').switchClass("btn-primary", "btn-default").switchClass("btn-danger", "btn-default").switchClass("btn-info", "btn-default");
		obj.parent().switchClass("btn-default", classe);

		var id = obj.attr("id").replace("optDefeitos", "").replace("S", "").replace("N", "").replace("X", "");

		$("#Defeitos" + id).val(valor);

		if (valor == "X") {
			$("#ObsDefeito" + id).parent().removeClass("hidden");
			$("#ObsDefeito" + id).focus();
		}
		else {
			$("#ObsDefeito" + id).parent().addClass("hidden");
			$("#ObsDefeito" + id).val("");
		}

		var form = $("#frmQueima").serialize();
		$("#txtDados").val(form);

	});

	function ValidaSerie(e) {

		var key = (window.event) ? e.keyCode : e.which;

		if (key != 13) {
			return;
		}

		SelecionaProduto($("#NumSerie").val());
	}

	function SelecionaProduto(serie, fechado) {

		$("#NumSerie").val(serie);
		
		$("#NumSerie").val($("#NumSerie").val().toUpperCase());
		var texto = $("#NumSerie").val();

		if (texto == "") {
			return;
		}

		$(".serie").removeClass("active");

		if (texto.length > 8) {
			texto = texto.substr(texto.length - 8, 8);
		} else if (texto.length < 8) {
			texto = "AA" + padLeft(texto, 6);
		}

		if (!$("#" + texto).length) {
			alert("Série não encontrada.");
			$("#NumSerie").val("");
			$("#NumSerie").focus();
			$("#pnlTestes").css("display", "none");
			return false;
		}

		var check = $("#" + texto).prop("checked");

		if (check) {
			alert("Série já inspecionada");
			$("#NumSerie").val("");
			$("#NumSerie").focus();
			return;
		}

		$("#" + texto).parent().addClass("active");
		$("#pnlTestes").css("display", "block");
		$(".btnTestes").removeClass("active");

		$("#btnFechar").prop('disabled', !fechado);

		$("#NumSerieColeta").val(texto);
		$("#NumSerie").val("");

		$("#Validacao").focus();

		return;
	}

	function ValidaTeste(e) {

		var key = (window.event) ? e.keyCode : e.which;

		if (key != 13) {
			return;
		}

		if ($("#pnlTestes").css("display") == "none") return false;

		var texto = $("#Validacao").val();

		var existe = $("#Defeitos" + texto).length;

		if (existe) {
			$("#optDefeitosS" + texto).closest('.btn').button('toggle');
		}

		$("#Validacao").val("");
		$("#Validacao").focus();
		return;
	}

	function ConfirmarTestes(e) {
		try {
			//var form = $("#frmQueima").serialize();
			//$("#txtDados").val(form);
			$("#frmQueima").prop("action", '/Outros/PostoQueima/ColetaSeries/');

			var defeitos = $(".Defeitos");
			var cont = 0;

			$(defeitos).each(function (index, value) {

				if (value.value != "") {
					cont++;
				}
			});

			if (cont > 0) {
				$("#frmQueima").submit();
				return true;
			}

			alert('É necessário informar pelo menos um Teste para continuar');
			return false;


		} catch (e) {
			$("#txtDados").val("Erro: " + e.message);
			return false;
		}
		
	}

	function FecharTestes() {
		try {
			$("#frmQueima").prop("action", '/Outros/PostoQueima/FecharQueima/');
			$("#frmQueima").submit();
			return true;


		} catch (e) {
			$("#txtDados").val("Erro: " + e.message);
			return false;
		}
	}
</script>