﻿@{
	ViewBag.Title = "Confiabilidade";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Qualidade";
	ViewBag.Rotina = "Posto Confiabilidade";


	var datInicio = Request["DatInicio"];
	var datFim = Request["DatFim"];

	if (String.IsNullOrEmpty(datInicio)) { datInicio = DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).ToString("dd/MM/yyyy"); }
	if (String.IsNullOrEmpty(datFim)) { datFim = DateTime.Now.ToString("dd/MM/yyyy"); }

}

<div>
	<h3>Resumo Aparelhos na Confiabilidade</h3>

	<div class="row">
		<div class="pull-left">
			<label class="col-md-2" style="width: 50px; margin-top: 8px;">Período</label>
			<div class="col-md-4" style="width: 170px;">
				<div class="input-group input-group-sm" style="width: 100px;">
					<div class="input-group-btn"><button class="btn btn-default menos"><span class="glyphicon glyphicon-minus"></span></button></div>
					<input type="text" name="DatInicio" id="DatInicio" class="form-control calendar-group" style="width: 100px;" value="@datInicio" />
					<div class="input-group-btn"><button class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></button></div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="input-group input-group-sm" style="width: 100px;">
					<div class="input-group-btn"><button class="btn btn-default menos"><span class="glyphicon glyphicon-minus"></span></button></div>
					<input type="text" name="DatFim" id="DatFim" class="form-control calendar-group" style="width: 100px;" value="@datFim" />
					<div class="input-group-btn"><button class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></button></div>
				</div>
			</div>
		</div>
		<div class="pull-left margem">
			<input type="text" id="NumSerie" name="NumSerie" class="form-control input-sm" placeholder="NE + Série " value="" />
		</div>
		<div class="pull-left" style="width: 330px;">
			<input type="button" class="pull-left btn bttn-sm btn-danger margem5px" id="btnConsultar" value="Consultar" onclick="Consultar();" />&nbsp;
			
			<button type="button" class="btn btn-danger bttn-sm" onclick="NovaInspecaoRPA();" id="btnNovaInspecao">Nova Inspeção</button>
			<button class="btn btn-danger bttn-sm" data-toggle="tooltip" title="Visualizar Relatório" onclick="RelatorioInspecao();"><span class="glyphicon glyphicon-print"></span></button>
			<button class="btn btn-danger bttn-sm" data-toggle="tooltip" title="Visualizar Gráfico" onclick="GraficoInspecao();"><span class="glyphicon glyphicon-stats"></span></button>
		</div>
	</div>

	<br />

	<div id="conteudo"></div>
</div>

<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>
<br /><br />
<script>

	$(function () {
		$("#DatFim").datepicker();
		$("#DatInicio").datepicker();

		$('.mais').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			var date = $(campo).datepicker('getDate');
			date.setDate(date.getDate() + 1);
			$(campo).datepicker("setDate", date);
		});

		$('.menos').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			var date = $(campo).datepicker('getDate');
			date.setDate(date.getDate() - 1);
			$(campo).datepicker("setDate", date);
		});


		Consultar();

	});

	function Consultar() {
		ConsRPA();

	}

	function ConsRPA() {
		$("#conteudo").html($('#carregando').html());

		var serie = $("#NumSerie").val();

		$.ajax({
			type: "GET",
			url: "/Outros/PostoQueima/Lista/",
			data: {
				DatInicio: $("#DatInicio").val(),
				DatFim: $("#DatFim").val(),
				NumSerie: serie
			},
			success: function (data) {
				$("#conteudo").html(data);
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	function NovaInspecao() {
		document.location.href = "/Outros/PostoQueima/NovaInspecao/";
	}

	function NovaInspecaoRPA() {
		document.location.href = "/Outros/PostoQueima/NovaInspecaoRPA/";
	}

	function RelatorioInspecao() {
		var DatInicio = $("#DatInicio").val();
		var DatFim = $("#DatFim").val();

		var params = "DatInicio=" + DatInicio + "&DatFim=" + DatFim;

		document.location.href = "/Outros/PostoQueima/Relatorio/?" + params;
	}

	function GraficoInspecao() {
		var DatInicio = $("#DatInicio").val();
		var DatFim = $("#DatFim").val();

		var params = "DatInicio=" + DatInicio + "&DatFim=" + DatFim;

		document.location.href = "/Outros/PostoQueima/GraficoResumo/?" + params;
	}

</script>