﻿@model List<SEMP.Model.DTO.CBQueimaRegistroDTO>

@{

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin { CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = "" };

	var depto = retornologin.Depto ?? "";

	var acessoCPD = (retornologin.Depto != null && (depto.Trim() == "CPD" || depto.Trim().StartsWith("DTI")));
	var acessoCQ = acessoCPD || (depto.Contains("CQ") || depto.Contains("DCQ"));

	var desabilitar = acessoCQ || retornologin.NomUsuario.ToUpper() == "FRANCISCOS" ? "" : "disabled";

	var acessoConfiabilidade = acessoCPD || SEMP.Helpers.Extensions.Permissao("MenuConfiabilidade", retornologin);
}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin-top: 120px;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form action="/Outros/PostoQueima/GravarRPE" method="post" name="frmRPE">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3 class="modal-title" id="myModalLabel">Informar RPE</h3>
				</div>
				<div class="modal-body">

					<input type="hidden" name="CodFab" id="CodFab" value="" />
					<input type="hidden" name="NumRPA" id="NumRPA" value="" />
					<input type="text" class="form-control input-lg" name="NumRPE" id="NumRPE" onblur="$(this).val(padLeft($(this).val(), 6));" value="" placeholder="Informe o número da RPE" />

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
					<input type="submit" class="btn btn-primary" value="Avançar" />
				</div>
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="myModalLiberar" tabindex="-1" role="dialog" aria-labelledby="myModalLabelLiberar" style="margin-top: 120px;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form action="/Outros/PostoQueima/GravarLiberarReprov" method="post" name="frmLiberar">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h3 class="modal-title" id="myModalLabelLiberar">Liberar Pallet</h3>
				</div>
				<div class="modal-body">

					<input type="hidden" name="CodFab" id="CodFab1" value="" />
					<input type="hidden" name="NumRPA" id="NumRPA1" value="" />
					<input type="text" class="form-control input-lg" name="NumRPE" id="NumRPE1" onblur="$(this).val(padLeft($(this).val(), 6));" value="" placeholder="Informe o número da RPE" />
					<textarea class="form-control input-lg" name="obsLiberado" id="obsLiberado" placeholder="Observação"></textarea>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
					<input type="submit" class="btn btn-primary" value="Liberar" />
				</div>
			</form>
		</div>
	</div>
</div>

<table class="table-semp blue table-bordered table-condensed">
	<caption>Coletas</caption>
	<thead>
		<tr>
			<th style="width: 100px;"></th>
			<th>Modelo</th>
			<th style="width: 75px;">NE</th>
			<th style="width: 75px;">RPA</th>
			<th style="width: 50px;">RPE</th>
			<th style="width: 60px;">Data RPA</th>
			<th style="width: 60px;">Data Entrada</th>
			<th style="width: 70px;">Data Saída</th>
			<th style="width: 50px;">Dias</th>
			<th style="width: 90px;">Status</th>
			<th style="width: 70px;">Pallet</th>
			<th style="width: 45px;">Qtd. Pallet</th>
			<th style="width: 50px;">Qtd Aprov.</th>
			<th style="width: 50px;">Qtd Reprov.</th>
			<th>Linha Prod.</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null && Model.Count() > 0)
		{
			foreach (var registro in Model)
			{
				var qtdAprov = RAST.BO.Rastreabilidade.PostoQueima.ObterQtdAprovPallet(registro.CodFab, registro.NumRPA, "S");
				var qtdReprov = RAST.BO.Rastreabilidade.PostoQueima.ObterQtdAprovPallet(registro.CodFab, registro.NumRPA, "X");
				var datFechamento = registro.DatFechamento != null ? registro.DatFechamento.Value.ToShortDateString() : "";
				var datLiberado = registro.DatLiberado != null ? registro.DatLiberado.Value.ToShortDateString() : "";


				var qtdDias = registro.DatFechamento != null ?
					registro.DatFechamento.Value.Subtract(registro.DatAbertura.Value).ToString("dd") :
					registro.DatAbertura.Value.Subtract(DateTime.Now).ToString("dd");

				<tr>
					<td>
						<div class="btn-group btn-group-xs" role="group" aria-label="...">
							<button class="btn btn-default btn-xs" data-toggle="tooltip" title="Visualizar" onclick="VisualizarInspecao('@registro.CodFab', '@registro.NumRPA');"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
							<button class="btn btn-default btn-xs" data-toggle="tooltip" title="Visualizar Testes" onclick="VisualizarTestes('@registro.CodFab', '@registro.NumRPA');"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></button>
							@if ((qtdAprov + qtdReprov) == registro.QtdPallet && registro.NumRPE == null)
							{ <button class="btn btn-default btn-xs" @desabilitar data-toggle="modal" title="Devolver Expedição" data-target="#myModal" onclick="MovimentarExped('@registro.CodFab', '@registro.NumRPA');"><span class="glyphicon glyphicon-send" aria-hidden="true"></span></button>}
							@if (registro.DatFechamento == null)
							{ <button class="btn btn-default btn-xs" data-toggle="tooltip" @desabilitar title="Continuar Coleta" onclick="ContinuarColeta('@registro.CodFab', '@registro.NumRPA', '@registro.CodLinha', '@registro.NumPosto', '@registro.CodPallet', '@registro.CodModelo', '@registro.CodOperador', '@registro.QtdAmostras', '@registro.CodLinhaOri');"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button> }
							else if (registro.DatFechamento != null && registro.FlgStatus == "X")
							{ <button class="btn btn-default btn-xs" @desabilitar data-toggle="modal" title="Aprovar Inspeção" data-target="#myModalLiberar" onclick="AprovarInspecao('@registro.CodFab', '@registro.NumRPA');"><span class="glyphicon glyphicon-saved" aria-hidden="true"></span></button> }
						</div>
					</td>
					<td>@registro.DesModelo</td>
					<td>@registro.CodModelo</td>
					<td>@registro.CodFab / @registro.NumRPA</td>
					<td>@registro.NumRPE</td>
					<td>@datLiberado</td>
					<td>@registro.DatAbertura.Value.ToShortDateString()</td>
					<td>@datFechamento</td>
					<td>@qtdDias</td>
					<td><i style="color: @registro.DesCorStatus;">@registro.DesStatus</i></td>
					<td>@registro.CodPallet</td>
					<td style="text-align: center;">@registro.QtdPallet</td>
					<td style="color: blue;text-align: center;">@qtdAprov</td>
					<td style="color: red;text-align: center;">@qtdReprov</td>
					<td>@registro.CodLinhaOri - @registro.DesLinhaOri</td>
				</tr>
			}
		}
		else if (ViewBag.Erro != null && ViewBag.Erro != ""){
			<tr><td colspan="18">@ViewBag.Erro</td></tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="16"><b>Qtd. Registros:</b> @Model.Count()</td>
		</tr>

	</tfoot>
</table>

<script>

	function ContinuarColeta(codFab, numRPA, codLinha, numPosto, codPallet, codModelo, codOperador, qtdAmostras, codLinhaOri) {

		$.redirectPost('/Outros/PostoQueima/NovaInspecao/', { codFab: codFab, numRPA: numRPA, codLinha: codLinha, numPosto: numPosto, codPallet: codPallet, codModelo: codModelo, codOperador: codOperador, qtdAmostras: qtdAmostras, codLinhaOri: codLinhaOri });
	}

	function VisualizarInspecao(codFab, numRPA) {
		$.redirectPost('/Outros/PostoQueima/VisualizarInspecao/', { codFab: codFab, numRPA: numRPA });
	}

	function VisualizarTestes(codFab, numRPA) {
		$.redirectPost('/Outros/PostoQueima/VisualizarTestes/', { codFab: codFab, numRPA: numRPA });
	}

	function AprovarInspecao(codFab, numRPA) {
		$("#CodFab1").val(codFab);
		$("#NumRPA1").val(numRPA);
	}

	function MovimentarExped(codFab, numRPA) {
		$("#CodFab").val(codFab);
		$("#NumRPA").val(numRPA);

	}

	$(function () {
		$('[data-toggle="tooltip"]').tooltip();


		$('#myModal').on('show.bs.modal', function (event) {
			$("#NumRPE").focus();
		})

		$('#myModalLiberar').on('show.bs.modal', function (event) {
			$("#NumRPE1").focus();
		})
	});

</script>