﻿@{
	ViewBag.Title = "Nova Inspecao - Com RPA";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Qualidade";
	ViewBag.Rotina = "Posto Confiabilidade";

	HttpCookie cookie = Request.Cookies["Posto"];

	int codLinha = cookie != null && cookie["codLinha"] != "" ? int.Parse(cookie["codLinha"]) : -1;
	int numPosto = cookie != null && cookie["numPosto"] != "" ? int.Parse(cookie["numPosto"]) : -1;

	RAST.BO.Rastreabilidade.Posto posto = codLinha > 0 ? new RAST.BO.Rastreabilidade.Posto(codLinha, numPosto) : null;

	var linhas = (List<SEMP.Model.DTO.CBLinhaDTO>)ViewBag.linhas ?? new List<SEMP.Model.DTO.CBLinhaDTO>();
	var desLinha = posto != null ? RAST.BO.Rastreabilidade.Geral.ObterLinha(posto.posto.CodLinha).DesLinha : "";

	var configLinha = RAST.BO.Rastreabilidade.PostoQueima.ObterConfigLote(codLinha) ?? new SEMP.Model.DTO.CBLoteConfigDTO() { PercAmostras = 10 };

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"]; // dados do operador
}

<h3><button class="btn btn-default btn-sm glyphicon glyphicon-arrow-left" style="margin-right: 5px;" onclick="document.location.href='/Outros/PostoQueima/'"></button>POSTO Confiabilidade</h3>

<br />
<form name="frmPallet" method="post" action="/Outros/PostoQueima/NovaInspecao/" onsubmit="$('#pnlRPA').addClass('hidden');">
	<input type="hidden" name="CodFab" id="CodFab" maxlength="2" value="" />
	<input type="hidden" name="NumRPA" id="NumRPA" maxlength="6" value="" />

	<div class="container" id="pnlPallet" style="width: 500px; border: 1px solid #000000; padding: 15px; border-radius: 10px;">

		<h3>SELEÇÃO DE PALLET</h3>
		<br />

		<select name="CodLinha" id="CodLinha" class="form-control input-sm">
			<option value="-1">SELECIONE A LINHA</option>
			@foreach (var linha in linhas)
			{
			<option value="@linha.CodLinha" @if (linha.CodLinha == ViewBag.codLinha || linha.CodLinha == codLinha) { Write("selected"); }>@linha.DesLinha</option>
			}
		</select>
		<select name="NumPosto" id="NumPosto" class="form-control input-sm">
			<option value="-1">SELECIONE O POSTO</option>
			@if (codLinha != -1 && posto != null)
			{
			<option value="@posto.posto.NumPosto" selected="selected">@posto.posto.DesPosto</option>
			}
		</select>

		<br />
		<div style="font-size: 12px;">
			

			<input type="text" name="NumSerie" id="NumSerie" value="" placeholder="LEIA A SÉRIE DO PRODUTO OU INFORME O PALLET"
				   class="form-control" onkeydown="ValidaSerie(event);" />

			<br />

			<dl class="dl-horizontal">
				<dt>Produto:</dt>
				<dd id="lblProduto"></dd>

				<dt>Pallet:</dt>
				<dd id="lblNumLote"></dd>

				<dt>Qtd. Lote:</dt>
				<dd id="lblQtdLote"></dd>

				<dt>Data Produção:</dt>
				<dd id="lblDatProducao"></dd>

				<dt>Linha de Origem:</dt>
				<dd id="lblLinha"></dd>

				<dt>Qtd. Amostras</dt>
				<dd><input type="text" class="form-control" name="QtdAmostras" id="QtdAmostras" value="1" disabled="disabled" /></dd>
			</dl>
		</div>

		<input type="hidden" name="CodPallet" id="CodPallet" value="" />
		<input type="hidden" name="CodOperador" id="CodOperador" value="@retornologin.NomUsuario" />
		<input type="hidden" name="CodModelo" id="CodModelo" value="" />
		<input type="hidden" name="CodLinhaOri" id="CodLinhaOri" value="" />


		<input type="submit" class="btn btn-lg btn-primary" name="btnAvancarPallet" id="btnAvancarPallet" onclick="$('#QtdAmostras').prop('disabled',false);" value="Avançar" />

	</div>
</form>
<script>
	var percAmostras = "@configLinha.PercAmostras";


	$(function () {
		$("#btnAvancarPallet").prop("disabled", true);

		if ($("#CodLinha").val() == -1)
			$("#CodLinha").focus();
		else
			$("#CodFab").focus();

		$("#CodLinha").change(function () {
			$.ajax({
				type: "GET",
				url: "/posto/GetPostos/",
				data: { codLinha: $("#CodLinha").val() },
				dataType: "json",
				success: function (json) {
					var options = "";
					options += '<option> SELECIONE O POSTO </option>';
					$.each(json, function (key, Posto) {
						options += '<option value="' + Posto.NumPosto + '">' + Posto.DesPosto + '</option>';
					});
					$("#NumPosto").html(options);
				}
			});

		});

		$('body').on('keydown', 'input, select, textarea', function (e) {
			var self = $(this)
			  , form = self.parents('form:eq(0)')
			  , focusable
			  , next
			;

			var key = (window.event) ? e.keyCode : e.which;

			//alert(key);

			if (key == 13) {
				focusable = form.find('input,a,select,button,textarea').filter(':visible');
				next = focusable.eq(focusable.index(this) + 1);
				if (next.length) {
					next.focus();
				} else {
					focusable.click();
				}
				return false;
			}
		});
	});


	function ValidaSerie(e) {

		var key = (window.event) ? e.keyCode : e.which;

		if (key != 13) {
			return;
		}

		var linha = $("#CodLinha").val();
		var posto = $("#NumPosto").val();

		if (linha == "" || linha == -1) {
			alert("Informe a linha");
			$("#CodLinha").focus();
			return;
		}
		
		if (posto == "" || posto == "SELECIONE O POSTO") {
			alert("Informe o posto");
			$("#NumPosto").focus();
			return;
		}

		var serie = $("#NumSerie").val();
		var numSerie = "";
		var numPallet = "";
		var codModelo = "";

		if (serie.substring(0, 1) == "A" || serie.length == 16) {
			numSerie = serie;
			codModelo = serie.substr(0, 6);
		}
		else {
			numPallet = padLeft(serie, 6);
			$("#NumSerie").val(numPallet);
		}


		$.ajax({
			type: "GET",
			url: "/Outros/PostoQueima/ObterPalletGPA/",
			data: { NumPallet: numPallet, CodModelo: codModelo, NumSerie: numSerie },
			success: function (data) {
				numPallet = data.CodPallet.trim();
				$("#lblNumLote").html(numPallet);
				$("#CodPallet").val(numPallet);
				$("#lblQtdLote").html(data.QtdPallet);

				$("#lblProduto").html(data.CodModelo + ' - ' + data.DesModelo);
				$("#CodModelo").val(data.CodModelo);

				var date = getFormattedDate(new Date(parseInt(data.Data.substr(6))));

				$("#lblDatProducao").html(date);
				$("#lblLinha").html(data.CodLinha + " - " + data.DesLinha);
				$("#CodLinhaOri").val(data.CodLinha);

				$("#CodFab").val("60");
				$("#NumRPA").val("P" + numPallet.substr(1));

				$("#btnAvancarPallet").prop("disabled", false);
				$("#NumSerie").prop("disabled", false);
			},
			error: function (data) {
				if (data.responseText != "") {
					alert("Erro ao consultar: " + data.responseText);
				}
				else {
					alert("Pallet não encontrado");
					$("#NumSerie").focus();
				}
			}
		});

	}


	@{
		if (ViewBag.erro != null && ViewBag.erro != "")
		{
			WriteLiteral("alert('" + ViewBag.erro + "')");

		}
	}

</script>