﻿@model IEnumerable<SEMP.Model.VO.Rastreabilidade.QueimaRelatorioInspecao>

@{
	ViewBag.Title = "Relatório de Inspeção";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Qualidade";
	ViewBag.Rotina = "Relatório de Inspeção";

}
<style>
	.tabelinha tbody tr td, .tabelinha thead tr th {
		font-size: 9px !important;
		font-family: Arial;
		margin: 0 !important;
		padding: 1px !important; 
	}

	.resumoInspecao th {text-align: right;}
	.resumoInspecao td {padding-left: 5px;}
	.boxFiltros table tr td { vertical-align: top;}
</style>

<h3 class="pull-right">Período: @Request["DatInicio"] a @Request["DatFim"]</h3>
<h2>
	<button class="btn btn-default btn-sm glyphicon glyphicon-arrow-left hidden-print" style="margin-right: 5px;" onclick="document.location.href='/Outros/PostoOBA/'"></button>
	@ViewBag.Title
</h2>
<br />
	<table class="table-semp">
		<thead>
			<tr>
				<th style="width: 110px;">Série</th>
				<th style="width: 75px;">RPA</th>
				<th style="width: 250px;">Modelo</th>
				<th style="width: 60px;">Pallet</th>
				<th style="width: 120px;">Data Insp.</th>
				<th style="width: 70px;">Status</th>
				<th style="width: 150px;">Inspetor</th>
				<th style="width: 150px;">Linha Prod.</th>
				<th style="width: 75px;">RPE</th>

				<th>Obs.</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
			<tr>
				<td>@item.NumECB</td>
				<td>@Html.DisplayFor(modelItem => item.CodFab) / @Html.DisplayFor(modelItem => item.NumRPA)</td>
				<td>@item.CodModelo - @item.DesModelo</td>
				<td>@Html.DisplayFor(modelItem => item.CodPallet)</td>
				<td>@item.DatLeitura</td>
				<td>@{
					if (item.FlgStatus == "S") { <i>Aprovado</i> }
					else if (item.FlgStatus == "X") { <i>Reprovado</i> }
				}</td>
				<td>@item.NomOperador</td>
				<td>@item.CodLinhaOri - @item.DesLinhaOri</td>
				<td>@item.NumRPE</td>

				<td>@item.Observacao</td>
			</tr>
			<tr>
				<td colspan="10" style="margin: 0; padding: 0 0 0 15px;">
					<table class="table-semp smallrow tabelinha">
						<thead> 
							<tr>
								<th style="width: 200px;"></th>
								<th style="width: 50px;">Status</th>
								<th>Observacao</th>
							</tr>
						</thead>
						<tbody>
							@{
								var testes = RAST.BO.Rastreabilidade.PostoOBA.ObterTestes(item.CodFab, item.NumRPA, item.NumECB);

								foreach (var teste in testes)
								{
									<tr>
										<td>@teste.DesDefeito</td>
										<td>@{
											if (teste.FlgStatus == "S") { <i style="color: green;">Aprovado</i> }
											else if (teste.FlgStatus == "X") { <i style="color: red;">Reprovado</i> }
											else if (teste.FlgStatus == "NA") { <i>Não Aplicável</i> }
											}
										</td>
										<td>@teste.Observacao</td>
									</tr>
								}

							}
						</tbody>
					</table>
				</td>
			</tr>
			}
		</tbody>
	</table>

	<br />

	<div class="boxFiltros" style="border: solid 1px black;">
		<table style="width: 100%; font-size: 14px;">
			<tr>
				<td>
					<table class="resumoInspecao">
						<tr>
							<th>Qtd. Inspeções:</th>
							<td>@Model.Count()</td>
						</tr>
						<tr>
							<th>Qtd. Lotes Transf.:</th>
							<td>@Model.Select(x => x.CodPallet).Distinct().Count()</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<th>Qtd. Aprovados:</th>
							<td>@Model.Count(x => x.FlgStatus == "S")</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<th>Qtd. Reprovados:</th>
							<td>@Model.Count(x => x.FlgStatus == "X")</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		&nbsp;

	</div>

	<br /><br />