﻿@model SEMP.Model.DTO.CBQueimaRegistroDTO
@{
	ViewBag.Title = "Visualizar Inspeção";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Qualidade";
	ViewBag.Rotina = "Posto Confiabilidade";

	var series = (List<string>)ViewBag.series;
	var testes = (List<SEMP.Model.DTO.CBQueimaTestesDTO>)ViewBag.testes;
	var testesQueima = (List<SEMP.Model.DTO.CBCadDefeitoDTO>)ViewBag.testesQueima;
	var testesEspecificos = (List<SEMP.Model.DTO.CBCadSubDefeitoDTO>)ViewBag.testesEspecificos;

	var inspetor = "";
	inspetor = SEMP.BO.Login.ObterFuncionarioByDRT(Model.CodOperador).NomFuncionario;

	if (inspetor == null || inspetor.Trim() == "")
	{
		inspetor = SEMP.BO.Login.ObterFuncionarioByLogin(Model.CodOperador).NomFuncionario;
	}

	var cont = 0;

}

<h3><button class="btn btn-default btn-sm glyphicon glyphicon-arrow-left" style="margin-right: 5px;" onclick="document.location.href='/Outros/PostoQueima/'"></button>@ViewBag.Title</h3>

<style>
	.colTitulo {
		text-align: right;
		margin: 0;
		padding: 0;
	}

	.colTexto {
		font-weight: normal;
		text-align: left;
		margin: 0;
		padding: 0;
	}

	.tabela-insp {
		padding: 0 !important;
	}

		.tabela-insp tr, .tabela-insp tr td {
			margin: 0 !important;
			padding: 0 !important;
		}
</style>

<div class="row">
	<div style="min-width: 50%;">
		<div class="panel panel-default">
			<div class="panel-heading">Verificação</div>
			<table class="table-simples table-condensed table-bordered smallrow">
				<thead>
					<tr>
						<th style="text-align: left;">
							<table class="tabela-insp">
								<tr>
									<td class="colTitulo">RPA:</td>
									<td class="colTexto">@Model.CodFab/@Model.NumRPA</td>
								</tr>
								<tr>
									<td class="colTitulo">Produto:</td>
									<td class="colTexto">@Model.CodModelo - @Model.DesModelo</td>
								</tr>
								<tr>
									<td class="colTitulo">Pallet:</td>
									<td class="colTexto">@Model.CodPallet</td>
								</tr>
								<tr>
									<td class="colTitulo">Qtd. Lote:</td>
									<td class="colTexto">@Model.QtdPallet</td>
								</tr>
								<tr>
									<td class="colTitulo">Qtd. Amostras / Inpecionados:</td>
									<td class="colTexto">@Model.QtdAmostras / @series.Count()</td>
								</tr>
								<tr>
									<td class="colTitulo">Data Produção:</td>
									<td class="colTexto">@Model.DatProducao.Value.ToShortDateString()</td>
								</tr>
								<tr>
									<td class="colTitulo">Linha de Origem:</td>
									<td class="colTexto">@Model.CodLinhaOri - @Model.DesLinhaOri</td>
								</tr>
								<tr>
									<td class="colTitulo">Observação:</td>
									<td class="colTexto">@Model.ObsRevisao</td>
								</tr>
							</table>

						</th>
						@foreach (var serie in series)
						{
							var texto = serie.Substring(8);
							<th style="width: 35px;">
								@foreach (var letra in texto)
								{
									@letra <br />
								}
							</th>
						}
						<th></th>
					</tr>
					<tr>
						<th colspan="11">Verificação / Item</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in testesQueima)
					{
						cont++;
						<tr>
							<td colspan="10"><b class="text-uppercase">@cont. @item.DesDefeito</b></td>
						</tr>
						foreach (var teste in testesEspecificos.Where(x => x.CodDefeito == item.CodDefeito))
						{
							<tr>
								<td>&nbsp;&nbsp;&nbsp;&nbsp; @teste.DesDefeito</td>

								@foreach (var serie in series)
								{
									var dado = testes.FirstOrDefault(x => x.CodDefeito.Trim() == item.CodDefeito && x.CodSubDefeito == teste.CodSubDefeito && x.NumECB == serie);
									if (dado != null)
									{
										<td style="text-align:center;">@dado.FlgStatus</td>
									}
									else
									{
										<td>-</td>
									}
								}
								<td></td>
							</tr>

						}
					}

				</tbody>
			</table>
			<table class="table-simples table-condensed table-bordered" style="margin-top: 1px; border-top: solid 1px gray;">
				<thead>
					<tr>
						<th style="width: 80px;">Série:</th>
						<th style="width: 250px;">Teste</th>
						<th>Descrição dos defeitos</th>
					</tr>
				</thead>
				<tbody>
					@{
						var obsTestes = testes.Where(x => !String.IsNullOrEmpty(x.Observacao)).ToList();
						if (obsTestes.Count() > 0)
						{
							foreach (var texto in obsTestes)
							{
								<tr>
									<td>@texto.NumECB.Substring(8)</td>
									<td>@texto.DesSubDefeito</td>
									<td>@texto.Observacao</td>
								</tr>
							}
						}
						else
						{
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
						}

					}
				</tbody>
			</table>
			<table class="table-simples table-condensed table-bordered" style="margin-top: 1px; border-top: solid 1px gray;">
				<thead>
					<tr>
						<th>Resultado</th>
						<th>Data</th>
						<th>Inspetor</th>
						<th>Responsável</th>
						<th>Legenda</th>
					</tr>
				</thead>
				<tbody>
					<tr style="text-align:center;">
						<td>@{if (Model.FlgStatus == "F") { Write("Aprovado"); } else if (Model.FlgStatus == "A") { Write("Em andamento"); } else { Write("Reprovado"); } }</td>
						<td>@Model.DatAbertura.Value.ToShortDateString()</td>
						<td>@inspetor</td>
						<td>Hitle Souza</td>
						<td>
							S - Aprovado <br />
							NA - Não Aplicável<br />
							X - Reprovado
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<br /><br />



