﻿@font-face {
	font-family: 'square721_btbold';
	src: url('font/sqr721b-webfont.eot');
	src: url('font/sqr721b-webfont.eot?#iefix') format('embedded-opentype'), url('font/sqr721b-webfont.woff') format('woff'), url('font/sqr721b-webfont.ttf') format('truetype'), url('font/sqr721b-webfont.svg#square721_btbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	padding-top: 41px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.logomarca {
	font-family: square721_btbold, Arial !important;
	color: red !important;
}

.logo {
	text-align: center;
	font-size: 15px;
	margin: auto;
	font-family: square721_btbold, Arial;
}

a .logo {
	text-align: center;
	text-decoration: none;
	overflow: hidden;
	background-size: contain;
	color: #fff;
	text-shadow: 1px 1px 2px #999;
	font-family: square721_btbold, Arial;
	font-size: 1em;
	font-weight: bold;
}

a:hover .logo,
a:active .logo,
a:focus .logo {
	text-shadow: 1px 1px 2px #000;
	color: #fff !important;
	text-decoration: none !important;
	background: none !important;
}

.sair a{
	color: white !important;
}

.sair a:hover{
	color: aqua !important;
}

footer {
	clear: both;
	font-size: .8em;
	height: 20px;
	border-top: solid 1px #999;
	color: #333;
	margin-top: 10px;
	text-align: center;
	bottom: 0;
}

.textoLeitura {
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
}

.divMensagem {
	width: 100%;
	/*min-height: 80px;*/
	border: solid 1px #cccccc;
	color: #000000;
	padding: 1px;
	margin-top: 10px;
	display: table;

}
.labelTexto {
	min-height: 76px;
	float: left;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.labelStatus {
	background-color: orange;
	width: 20%;
	display: table-cell;
	vertical-align: middle;
}
.labelMensagem {
	background-color: #cccccc;
	width: 80%;
	display: table-cell;
	vertical-align: middle;
}


@media(max-width: 1200px) {

	.esconderPequeno {
		display: none !important;
	}
}