﻿@model SEMP.Model.DTO.TempoPadraoDTO

@using (Html.BeginForm("Create", "TempoPadrao", FormMethod.Post, new { @id="frmTempoPadrao", @name="frmTempoPadrao"}))
{
	@Html.AntiForgeryToken()
	
	<div class="form-inline">
		
		<div class="row" style="margin-bottom: 10px;">
			<div class="col-md-12">
				@Html.LabelFor(model => model.CodModelo, new { @class = "control-label", @style="float: left;" })
				<div class="input-group input-group-sm">
					@Html.TextBoxFor(model => model.CodModelo, new { @style = "width: 80px;", @class="form-control"})
					@Html.TextBoxFor(model => model.DesModelo, new { @style = "width: 258px;", @disabled = "disabled", @class="input-group-addon"})
				</div>
				@Html.ValidationMessageFor(model => model.CodModelo)
			</div>
		</div>
		
		<div class="row" style="margin-bottom: 10px;">
			<div class="col-md-6">
				@Html.LabelFor(model => model.TempoPadrao, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.TempoPadrao, new { @style = "width: 80px;", @class = "form-control input-sm text-right" })
				@Html.ValidationMessageFor(model => model.TempoPadrao)
			</div>
			
			<div class="col-md-6">
				@Html.LabelFor(model => model.TempoLp, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.TempoLp, new { @style = "width: 70px;", @class = "form-control input-sm text-right" })
				@Html.ValidationMessageFor(model => model.TempoLp)
			</div>
		</div>
		<div class="row">
			<div class="col-md-10">
				@Html.LabelFor(model => model.CodPai, new { @class = "control-label" })
				@Html.TextBoxFor(model => model.CodPai, new { @style = "width: 80px;", @class = "form-control input-sm text-right" })
				@Html.ValidationMessageFor(model => model.CodPai)
			</div>
		</div>
		@Html.HiddenFor(model => model.Usuario)
		@Html.HiddenFor(model => model.rowguid)

		<br/>
		<div class="row">
			<div class="col-sm-6 col-sm-offset-6">
				<div class="btn-group">
					<input type="button" onclick="$('#dialog-edit').dialog('close');" class="btn btn-danger" value="Cancelar" />
					<input type="button" value="Gravar" class="btn btn-danger" onclick="gravar()" />
				</div>
			</div>
		</div>
	</div>
}
<script>
	function gravar() {
		$("#DesModelo").removeAttr("disabled");

		var dados = $("#frmTempoPadrao").serialize();

		$.ajax({
			type: "POST",
			url: "/Outros/TempoPadrao/Create/",
			data: dados,
			dataType: "json",
			success: function (json) {
				if (json == true) {
					alert("Registro inserido com sucesso.");
					$("#CodModelo").val("");
					$("#DesModelo").val("");
					$("#TempoLp").val("");
					$("#TempoPadrao").val("");
					$("#CodPai").val("");
				} else {
					alert("Erro ao inserir");
				}
			},
			error: function (xhr) {
				alert("Não foi possível adicionar: " + xhr);
			}
		});
	}

	$("#CodModelo").blur(function () {
		$.ajax({
			type: "GET",
			url: "/Util/ObterDescricaoItem/",
			data: { CodItem: $("#CodModelo").val() },
			success: function (data) {
				$("#DesModelo").val(data);
			}
		});
	});
</script>