﻿@model SEMP.Model.DTO.TempoPadraoDTO

<h3>Confirma a exclusão desse registro?</h3>
<div>
	<dl class="dl-horizontal">
		<dt>@Html.DisplayNameFor(model => model.CodModelo)</dt>

		<dd>@Html.DisplayFor(model => model.CodModelo) - @Html.DisplayFor(model => model.DesModelo)</dd>

		<dt>@Html.DisplayNameFor(model => model.TempoPadrao)</dt>

		<dd>@Html.DisplayFor(model => model.TempoPadrao)</dd>

		<dt>@Html.DisplayNameFor(model => model.TempoLp)</dt>

		<dd>@Html.DisplayFor(model => model.TempoLp)</dd>

	</dl>

	@using (Html.BeginForm()) {
		@Html.AntiForgeryToken()

			<div class="form-actions no-color" style="margin-top: 10px;">
				<div style="margin-top: 10px; display: inline-block;">
					<input type="button" onclick="$('#dialog-edit').dialog('close');" class="bttn bttn-sm bttn-red" value="Cancelar" />
				</div>
				<div style="display: inline-block;">
					<input type="submit" value="Apagar" class="bttn bttn-sm bttn-red" />
				</div>
			</div>
	}
</div>
