﻿@model IEnumerable<SEMP.Model.DTO.TempoPadraoDTO>

<table class="table-semp smallrow" id="tblDados" style="width: 600px;">
	<thead>
		<tr>
			<th style="width: 65px; text-align: center;"></th>
			<th style="width: 60px;">@Html.DisplayNameFor(model => model.CodModelo)</th>
			<th>@Html.DisplayNameFor(model => model.DesModelo)</th>
			<th>@Html.DisplayNameFor(model => model.TempoPadrao)</th>
			<th>@Html.DisplayNameFor(model => model.TempoLp)</th>
			<th>@Html.DisplayNameFor(model => model.CodPai)</th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model)
{
	<tr>
		<td>
			<div class="btn-group btn-group-xs">
				<a class="linkEdit btn btn-default" href="/Outros/TempoPadrao/Edit?codModelo=@item.CodModelo" title="Editar registro">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="linkEdit btn btn-default" href="/Outros/TempoPadrao/Delete?codModelo=@item.CodModelo" title="Remover">
					<i class="glyphicon glyphicon-remove"></i>
				</a>
			</div>
		</td>
		<td>@Html.DisplayFor(modelItem => item.CodModelo)</td>
		<td>@Html.DisplayFor(modelItem => item.DesModelo)</td>
		<td style="text-align: right;">@Html.DisplayFor(modelItem => item.TempoPadrao)</td>
		<td style="text-align: right;">@Html.DisplayFor(modelItem => item.TempoLp)</td>
		<td>@Html.DisplayFor(modelItem => item.CodPai)</td>
	</tr>
}
@if (Request["Modelo"] != null && Request["Modelo"] != "")
{
	
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td style="text-align: right;">@Model.Sum(x => x.TempoPadrao)</td>
		<td style="text-align: right;">@Model.Sum(x => x.TempoLp)</td>
		<td></td>
	</tr>

}
</tbody>
</table>

<br/><br/>