﻿
@{
	ViewBag.Title = "Relatório de Produtos";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var DatInicio = DateTime.Now.ToString("01/MM/yyyy");
}
<link href="/Content/css/select2.min.css" rel="stylesheet" />
<h2>@ViewBag.Title</h2>

<div class="row">
	<div class="pull-left" style="width: 170px; margin-right: 10px;">
		<div class="input-group input-group-sm" style="width: 100px;">
			<div class="input-group-btn"><a class="btn btn-default btn-group-xs menos"><span class="glyphicon glyphicon-minus"></span></a></div>
			<input type="text" name="DatInicio" id="DatInicio" class="form-control input-sm calendar-group" style="width: 100px;" value="@DatInicio" />
			<div class="input-group-btn"><a class="btn btn-default mais"><span class="glyphicon glyphicon-plus"></span></a></div>
		</div>
	</div>
	<div class="pull-left margem">
		<div class="pull-left margem">
			<select class="form-control input-sm" id="Setor" name="Setor">
				<option value="">[FASE]</option>
				<option value="IAC">IAC</option>
				<option value="IMC" selected>IMC</option>
				<option value="FEC">MF</option>
			</select>
		</div>
		<div class="pull-left">
			<select class="form-control input-sm" id="CodLinha" name="CodLinha"></select>
		</div>
	</div>
	<div class="pull-left margem">
		<input type="text" name="Modelo" id="Modelo" value="" class="form-control hidden" style="width: 60px;" />
		<select id="Descricao" name="Descricao" style="width:300px;"></select>
	</div>
	<div class="pull-left margem">
		<select class="form-control input-sm" id="TipoCons" name="TipoCons">
			<option value="1">PCIs não amarradas</option>
			<option value="2">Produtos Não Embalados</option>
			<option value="3">Emb. IAC sem IMC</option>
		</select>
	</div>

	<input type="button" id="btnConsultar" class="bttn bttn-sm bttn-red" onclick="Consultar();" value="Consultar" />
</div>

<div id="conteudo"></div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>
<div id="dialog-edit" style="display: none;"></div>

<script src="~/Scripts/select2.min.js"></script>
<script>
	function Consultar() {


		var data = $("#DatInicio").val();
		var linha = $("#CodLinha").val();
		var modelo = $("#Modelo").val();
		var tipo = $("#TipoCons").val();

		if (linha == "") {
			alert("Selecione uma linha");
			$("#CodLinha").focus();
			return;
		}

		var url = "/Outros/RelatorioProdutos/Lista/";

		if (tipo == 2) {
			url = "/Outros/RelatorioProdutos/ListaNaoEmbalados/";
		} else if (tipo == 3) {
			url = "/Outros/RelatorioProdutos/ListaEmbaladosIACIMC/";
		}

		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			data: { startDate: data, CodLinha: linha, CodModelo: modelo },
			url: url,
			success: function (data) {
				$("#conteudo").html(data);
				initDialog();
			},
			error: function (data) {
				$("#conteudo").html(data);
			}
		});
	}

	function CarregarLinhas() {

		$("#CodLinha").html("<option>Carregando...</option>");

		var setor = $("#Setor").val();

		if (setor != "IMC") {
			$("#TipoCons option[value*='1']").prop('disabled', true);
		} else {
			$("#TipoCons option[value*='1']").prop('disabled', false);
		}

		$.ajax({
			type: "GET",
			url: "/posto/GetLinhas/",
			data: { fabrica: setor },
			dataType: "json",
			success: function (json) {
				var options = "";
				var selected = "";
				options += '<option value=""> [ LINHA ] </option>';
				$.each(json, function (key, Linhas) {
					options += '<option value="' + Linhas.CodLinha + '">' + Linhas.DesLinha + '</option>';
				});
				$("#CodLinha").html(options);
			}
		});
	}
	function initDialog() {
		$(".lnkEdit").on("click", function (e) {
			url = $(this).attr('href');
			$("#dialog-edit").html($('#carregando').html());
			$("#dialog-edit").dialog('open');

			return false;
		});
		$("#btnclose").on("click", function (e) {
			$("#dialog-edit").dialog("close");
			return false;
		});
	}

	$(document).ready(function () {
		$('#Descricao').select2({
			ajax: {
				url: function (params) {
					return '/Coleta/Util/ObterModelosData/?datPrograma=' + $("#DatInicio").val();
				},
				dataType: 'json'
			},
			placeholder: 'Pesquise o Produto',
			theme: "classic",
			allowClear: true
		});

		$('#Descricao').on("change", function (e) { $("#Modelo").val($("#Descricao").val()); });

		$("#DatInicio").datepicker();

		$('.mais').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			var date = $(campo).datepicker('getDate');
			date.setDate(date.getDate() + 1);
			$(campo).datepicker("setDate", date);
		});

		$('.menos').on("click", function () {
			var campo = $(this).parent().parent().find('.calendar-group');

			var date = $(campo).datepicker('getDate');
			date.setDate(date.getDate() - 1);
			$(campo).datepicker("setDate", date);
		});

		$("#Setor").change(CarregarLinhas);

		$("#dialog-edit").dialog({
			title: 'Detalhes produto',
			autoOpen: false,
			resizable: false,
			width: 630,
			height: 500,
			show: { effect: 'drop', direction: "up" },
			modal: true,
			draggable: true,
			open: function (event, ui) {
				$(".ui-dialog-titlebar-close").html("X");
				$(this).html("");
				$(this).load(url);
			}
		});

		initDialog();

		CarregarLinhas();
	});

</script>