﻿@model IEnumerable<SEMP.Model.DTO.CBPassagemDTO>

@{
	ViewBag.Title = "Lista";
	Layout = null;
}

<h2>Lista</h2>

<table class="table-semp">
	<thead>
		<tr>
			<th>Série</th>
			<th>Últ. Leitura</th>
			<th>Linha</th>
			<th>Tempo Parado</th>
			<th>Qtd. Defeitos</th>
			<th>Amarrado?</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			var tempoParado = DateTime.Now.Subtract(item.DatEvento);
			var amarrado = item.QtdAmarra == 1 ? "SIM" : "NÃO";

			<tr>
				<td class="bold"><a class="lnkEdit" href="/Coleta/Rastreia/Ficha?Codigo=@item.NumECB" >@item.NumECB</a></td>
				<td>@Html.DisplayFor(modelItem => item.DatEvento)</td>
				<td>@Html.DisplayFor(modelItem => item.CodLinha) - @Html.DisplayFor(modelItem => item.DescricaoLinha)</td>
				<td>@tempoParado.Days dia(s) @tempoParado.Hours horas</td>
				<td>@Html.DisplayFor(modelItem => item.QtdDefeitos)</td>
				<td>@amarrado</td>
			</tr>
		}
	</tbody>
</table>
<br /><br />
