﻿@model IEnumerable<SEMP.Model.DTO.CBEmbaladaDTO>

@{
	ViewBag.Title = "Lista";
	Layout = null;
}

<h2>Lista</h2>

<table class="table-semp">
	<thead>
		<tr>
			<th>Série</th>
			<th>Leitura</th>
			<th>Linha</th>
			<th>Lote</th>
			<th>Caixa</th>
			<th>Modelo</th>
			<th>AP</th>
			<th>Embalador</th>
			<th>Tempo Parado</th>
			<th>Qtd. Defeitos</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			var tempoParado = DateTime.Now.Subtract(item.DatLeitura);

			<tr>
				<td class="bold"><a class="lnkEdit" href="/Coleta/Rastreia/Ficha?Codigo=@item.NumECB">@item.NumECB</a></td>
				<td>@Html.DisplayFor(modelItem => item.DatLeitura)</td>
				<td>@Html.DisplayFor(modelItem => item.CodLinha) - @Html.DisplayFor(modelItem => item.DescricaoLinha)</td>
				<td>@Html.DisplayFor(modelItem => item.NumLote)</td>
				<td>@Html.DisplayFor(modelItem => item.NumCC)</td>
				<td>@Html.DisplayFor(modelItem => item.CodModelo) - @Html.DisplayFor(modelItem => item.DescricaoModelo)</td>
				<td>@Html.DisplayFor(modelItem => item.CodFab) - @Html.DisplayFor(modelItem => item.NumAP)</td>
				<td>@Html.DisplayFor(modelItem => item.CodOperador) - @Html.DisplayFor(modelItem => item.Operador)</td>
				<td>@tempoParado.Days dia(s) @tempoParado.Hours horas</td>
				<td>@Html.DisplayFor(modelItem => item.QtdDefeitos)</td>
			</tr>
		}
	</tbody>
</table>
<br /><br />