﻿@model IEnumerable<SEMP.Model.DTO.LSAAPItemPosicaoDTO>

@{
	ViewBag.Title = "Comparação de Ordem de Produção e Alimentação";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Compara Ordem de Produção x Alimentação";

	var codFab = "";
	var numAP = "";

	codFab = Request["CodFab"] != null ? Request["CodFab"].ToString() : "";
	numAP = Request["NumAP"] != null ? Request["NumAP"].ToString() : "";

}
@section styles{
	<link href="/Content/css/select2.min.css" rel="stylesheet" />
	<style>
		.tituloModelo {
			font-size: 14px;
			width: 100%;
			background-color: #d9edf7;
			padding: 3px;
		}

		.verde {
			background-color: green !important;
			color: green !important;
		}

		.vermelho {
			background-color: red !important;
			color: red !important;
		}
	</style>
}
<h3><button name="btnVoltar" id="btnVoltar" class="btn btn-sm btn-primary" onclick="window.history.back();"><i class="glyphicon glyphicon-backward"></i></button> Comparação Ordem de Produção x Ordem de Alimentação</h3>
<h3>Fáb.: <span id="CodFab">@codFab</span> | Num. AP: <span id="NumAP">@numAP</span></h3>

@{
	if (Model != null && Model.Count() > 0)
	{
		var modelos = Model.GroupBy(x => new { x.CodModelo, x.DesModelo }).Select(x => new { CodModelo = x.Key.CodModelo, DesModelo = x.Key.DesModelo }).ToList();

		var alimenta = (List<SEMP.Model.DTO.PlanoIACItemDTO>)ViewBag.alimenta;
		var excessao = (from a in alimenta
						from m in Model.Where(x => x.CodModelo == a.CodModelo && x.CodItem == a.CodItem && x.NumPosicao.Trim() == a.NumPosicao.Trim()).DefaultIfEmpty()
						where m == null
						select a).ToList();

		var itens = Model.GroupBy(x => new { x.CodItem, x.DesItem }).Select(x => new { CodItem = x.Key.CodItem, DesItem = x.Key.DesItem }).ToList();


		foreach (var modelo in modelos)
		{
			<div class="tituloModelo">&nbsp;<span class="glyphicon glyphicon-adjust"></span>&nbsp; @modelo.CodModelo - @modelo.DesModelo</div>
			<table id="tblDados" class="table table-condensed table-bordered table-hover" data-bind="sortTable: true">
				<thead>
					<tr>
						<th style="width: 80px;">Item</th>
						<th style="min-width: 180px;">Descrição</th>
						<th style="width: 100px;">Posição </th>
						<th style="width: 130px;">Ordem de Prod.</th>
						<th style="width: 130px;">Ordem de Alimen.</th>
					</tr>
					<tr>
						<td>
							<select id="cmbModelos" class="form-control input-sm" multiple="multiple">
								<option></option>
								@foreach (var x in itens)
								{
									<option value="@x.CodItem">@x.CodItem</option>}
							</select>
						</td>
						<td><input class="form-control input-sm" id="txtDescricao" onkeydown="FiltraTabela('tblDados', 1, $(this).val());" /></td>
						<td>
							<select id="cmbPosicoes" class="form-control input-xs" multiple="multiple">
								@foreach (var posicoes in Model.Select(x => x.NumPosicao.Trim()).Distinct().ToList())
								{
									<option value="@posicoes">@posicoes</option>}
							</select>
						</td>
						<td style="text-align:center;">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default active"><input type="radio" name="options" id="option1" autocomplete="off" checked onchange="FiltraTabela('tblDados', 3, '');">&nbsp;</label>
								<label class="btn btn-success"><input type="radio" name="options" id="option2" autocomplete="off" onchange="FiltraTabela('tblDados', 3, '1');">&nbsp;</label>
								<label class="btn btn-danger"><input type="radio" name="options" id="option3" autocomplete="off" onchange="FiltraTabela('tblDados', 3, '0');">&nbsp;</label>
							</div>
						</td>
						<td style="text-align:center;">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default active"><input type="radio" name="options" id="option1" autocomplete="off" checked onchange="FiltraTabela('tblDados', 4, '');">&nbsp;</label>
								<label class="btn btn-success"><input type="radio" name="options" id="option2" autocomplete="off" onchange="FiltraTabela('tblDados', 4, '1');">&nbsp;</label>
								<label class="btn btn-danger"><input type="radio" name="options" id="option3" autocomplete="off" onchange="FiltraTabela('tblDados', 4, '0');">&nbsp;</label>
							</div>
						</td>
					</tr>
				</thead>
				<tbody style="height: 500px; overflow-y: auto;">

					@foreach (var item in Model.Where(x => x.CodModelo == modelo.CodModelo).OrderBy(x => x.DesItem))
					{
						var classZero = "";

						if (item.QtdItem == 0)
						{
							classZero = "info";
						}

						<tr class="@classZero">
							<td>@Html.DisplayFor(modelItem => item.CodItem)</td>
							<td>@Html.DisplayFor(modelItem => item.DesItem)</td>
							<td>@item.NumPosicao</td>
							<td class="verde">1</td>

							@if (alimenta != null && alimenta.Count() > 0)
							{
								var qtd = alimenta.FirstOrDefault(x => x.CodModelo == item.CodModelo && x.CodItem == item.CodItem && x.NumPosicao.Trim() == item.NumPosicao.Trim());
								if (qtd != null)
								{
									<td class="verde">1</td>
								}
								else
								{
									<td class="vermelho">0</td>
								}
							}
							else
							{
								<td class="vermelho">0</td>
							}
						</tr>
					}
					@{
						if (excessao != null && excessao.Count() > 0)
						{

							foreach (var item in excessao)
							{
								<tr>
									<td>@item.CodItem</td>
									<td>@item.DesItem</td>
									<td>@item.NumPosicao</td>
									<td class="vermelho">0</td>
									<td class="verde">1</td>
								</tr>
							}

						}
					}

				</tbody>
			</table>
		}
	}
}

@section Scripts{
	<script src="~/Scripts/jquery.tablesorter.js"></script>
	<script src="~/Scripts/select2.min.js"></script>

	<script>
		$("#tblDados").addClass('tablesorter');
		$("#tblDados").tablesorter({
			sortList: [[1, 0], [2, 0]]
		});

		$("#cmbPosicoes").select2({
			theme: "classic",
			allowClear: true
		});

		$('#cmbPosicoes').on('change', function (e) {
			var dados = $("#cmbPosicoes").select2("data");
			FiltraTabelaMulti("tblDados", 2, dados);
		});


		$("#cmbModelos").select2({
			theme: "classic",
			allowClear: true
		});

		$('#cmbModelos').on('change', function (e) {
			var dados = $("#cmbModelos").select2("data");
			FiltraTabelaMulti("tblDados", 0, dados);
		});
	</script>
}
