﻿@model IEnumerable<SEMP.Model.DTO.LSAAPItemPosicaoDTO>

@{
	ViewBag.Title = "Ordem de Alimentação";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Estoque";
	ViewBag.Rotina = "Ordem de Alimentação";

	var lsaap = (SEMP.Model.DTO.LSAAPDTO)ViewBag.lsaap;
	var planoIAC = (SEMP.Model.DTO.PlanoIACDTO)ViewBag.planoIAC;
	var planoEtapa = (List<SEMP.Model.DTO.PlanoEtapaDTO>)ViewBag.planoEtapa;
	var alimenta = (List<SEMP.Model.DTO.PlanoIACItemDTO>)ViewBag.alimenta;
	var excessao = (from m in Model
					from a in alimenta.Where(x => x.CodModelo == m.CodModelo && x.CodItem == m.CodItem && x.NumPosicao.Trim() == m.NumPosicao.Trim()).DefaultIfEmpty()
					where a == null
					select m).ToList();
}
@section styles{
	<link href="~/Content/OrdemAlimentacao.css" rel="stylesheet" />
	<link href="~/Content/OrdemAlimentacao_Print.css" rel="stylesheet" media="print" />
}

<div class="conteudodatabela">
	@{
		if (Model != null && Model.Count() > 0)
		{
			foreach (var etapa in planoEtapa)
			{
				var z = alimenta.Where(x => x.NumEtapa == etapa.NumEtapa).Select(x => new { x.NumEstacaoZ, x.DesLeftRight }).Distinct().OrderBy(x => x.NumEstacaoZ).ThenBy(x => x.DesLeftRight).ToList();

				<table class="table table-condensed table-bordered table-hover">
					<thead>
						<tr>
							<td colspan="6" class="tituloModelo">
								<div class="row">
									<div class="col-xs-2 col-md-2">
										<span class="logoST">SEMP TCL</span>
									</div>
									<div class="col-xs-6 col-md-6">
										Ordem de Produção: <span id="CodFab">@lsaap.CodFab</span> | <span id="NumAP">@lsaap.NumOP (@lsaap.NumAP) | Lote: @lsaap.QtdLoteAP</span><br />
										<span class="glyphicon glyphicon-adjust"></span>&nbsp; @lsaap.CodModelo - @lsaap.DesModelo<br />
										Programa: @etapa.NomPrograma
									</div>
									<div class="col-xs-4 col-md-4 ">
										<span>Revisão: @planoIAC.NumRevisao</span><br />
										<span class="glyphicon glyphicon-th-large"></span>&nbsp; Etapa: @etapa.NumEtapa<br />
										Código: @planoIAC.NomDocLDC
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<th style="width: 30px;">Z</th>
							<th style="width: 80px;">Item</th>
							<th style="width: 400px;">Descrição</th>
							<th style="width: 30px;">Polar.</th>
							<th style="width: 30px;">L/R</th>
							<th style="width: 430px;">Posições</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="3" style="border-right: none;">
								<div class="text-left">
									Comentários: @etapa.Comentario<br />
									@SEMP.Helpers.Extensions.GenerateQrCode(Html, Request.Url.OriginalString, "URL Ordem de alimentação", 100, 100, 0)
								</div>
							</td>
							<td colspan="3" style="border-left: none;">
								<div class="text-right">
									Emitido por: @planoIAC.NomEmissor<br />
									Aprovador por: @planoIAC.NomAprovacao<br />
									<span class="codebar">
										@{ Write($"*{etapa.CodModelo}{etapa.CodProcesso}{etapa.NumRevisao}{etapa.NumEtapa.Trim().PadLeft(2, '0')}1*"); }
									</span>
								</div>
							</td>
						</tr>
					</tfoot>
					<tbody>
						@foreach (var posZ in z)
						{
							var item = alimenta.FirstOrDefault(x => x.NumEstacaoZ == posZ.NumEstacaoZ && x.DesLeftRight == posZ.DesLeftRight && x.NumEtapa == etapa.NumEtapa);
							var posicoes = alimenta.Where(x => x.NumEstacaoZ == posZ.NumEstacaoZ && x.DesLeftRight == posZ.DesLeftRight && x.NumEtapa == etapa.NumEtapa).Select(x => x.NumPosicao.Trim()).Distinct().OrderBy(x => x).ToList();
							var Posicoes = String.Join(" / ", posicoes);

							var existeOP = Model.FirstOrDefault(x => x.NumPosicao.Trim() == item.NumPosicao.Trim() && x.CodModelo == item.CodModelo && x.CodItem == item.CodItem);
							var claExiste = "";
							if (existeOP == null)
							{
								claExiste = "vermelho";
							}

							<tr class="@claExiste">
								<td>@posZ.NumEstacaoZ</td>
								<td>@item.CodItem</td>
								<td>@item.DesItem</td>
								<td>@item.Polaridade</td>
								<td>@posZ.DesLeftRight</td>
								<td>@Posicoes</td>
							</tr>

							if (excessao != null && posicoes != null)
							{
								var itensExcessao = excessao.Where(x => posicoes.Contains(x.NumPosicao.Trim())).Select(x => new { x.CodItem, x.DesItem, x.QtdItem }).Distinct().ToList();

								if (itensExcessao != null)
								{
									foreach (var itemExcessao in itensExcessao)
									{
										var posicoesExcessao = excessao.Where(x => x.CodItem == itemExcessao.CodItem && posicoes.Contains(x.NumPosicao.Trim())).Select(x => x.NumPosicao).OrderBy(x => x).ToList();
										var PosicoesExcessao = String.Join(" / ", posicoesExcessao);

										<tr class="bg-primary" style="font-weight: bold;">
											<td>@posZ.NumEstacaoZ</td>
											<td>@itemExcessao.CodItem</td>
											<td>@itemExcessao.DesItem</td>
											<td>@item.Polaridade</td>
											<td>@posZ.DesLeftRight</td>
											<td>@PosicoesExcessao (QtdItem = @itemExcessao.QtdItem)</td>
										</tr>
									}
								}
							}
						}
					</tbody>
				</table>
			}
		}
	}
</div>
@section Scripts{
	<script>

	</script>
}
