﻿
@{
    ViewBag.Title = "Estoque";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Estoque</h2>

<p>
	<a type="button" class="btn btn-primary btn-lg" href="/Materiais/Estoque/LSAAP/">Ordens de Produção (AP)</a>
</p>