﻿@{
	ViewBag.Title = "Ordem de Produção";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Estoque";
	ViewBag.Rotina = "Ordem de Produção - AP";

	var DatInicio = DateTime.Now.ToString("MM/yyyy");

}
<style>
	.ui-datepicker-calendar {
		display: none;
	}

	.ui-datepicker {
		width: 200px !important;
	}

		.ui-datepicker select {
			color: black !important;
		}
</style>
<link href="/Content/css/select2.min.css" rel="stylesheet" />

@Scripts.Render("~/bundles/knockout")

<h2>Ordem de Produção</h2>

<div class="form-inline" style="margin-bottom: 10px;">
	<div class="form-group">
		<input type="text" name="datReferencia" style="width: 100px;" data-bind="value: datReferencia" id="datReferencia" class="form-control input-sm calendar-group" />
	</div>
	<div class="form-group">
		<select name="codProcesso" id="codProcesso" class="form-control input-sm"
				data-bind="options: opcoesProcesso,
                       optionsText: 'desProcesso',
                       value: processo,
                       optionsCaption: '[FASE]'"></select>
	</div>
	<div class="form-group">
		<!--Opções-->
		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Opções <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#"><label class="checkbox-inline"><input type="radio" data-bind="checked: flgStatus" id="FlgTodas" name="FlgStatus" value="" checked /> Todas</label></a></li>
				<li><a href="#"><label class="checkbox-inline"><input type="radio" data-bind="checked: flgStatus" id="FlgPendentes" name="FlgStatus" value="P" /> Pendentes</label></a></li>
				<li><a href="#"><label class="checkbox-inline"><input type="radio" data-bind="checked: flgStatus" id="FlgFinalizadas" name="FlgStatus" value="F" /> Finalizadas</label></a></li>
				<li><a href="#"><label class="checkbox-inline"><input type="radio" data-bind="checked: flgStatus" id="FlgEmbalados" name="FlgStatus" value="E" /> Pend. Embalado</label></a></li>
			</ul>
		</div>
	</div>
	<div class="form-group">
		<input type="text" name="CodFab" id="CodFab" data-bind="value: codFab" class="form-control input-sm" style="width: 50px;" placeholder="Fáb." maxlength="2" />
		<input type="text" name="NumAP" id="NumAP" data-bind="value: numAP" class="form-control input-sm" style="width: 70px;" placeholder="Núm. AP" maxlength="6" />
	</div>
	<div class="form-group">
		<select id="Descricao" name="Descricao" style="width:100%;"></select>
	</div>
	<div class="form-group">
		<input type="text" name="NumOP" id="NumOP" data-bind="value: numOP" class="form-control input-sm" style="width: 105px;" placeholder="Núm. OP" maxlength="12" />
	</div>
	<button type="button" id="btnConsultar" class="btn btn-primary" onclick="tela.ObterAPs();">Consultar</button>
	<button type="button" id="btnExportar" class="btn btn-success" onclick="Exportar();">Exportar</button>
</div>

<div id="grdDados">
	<table class="table table-bordered table-striped table-condensed table-hover" id="tblDados" data-bind="sortTable: true">
		<thead>
			<tr>
				<th style="width: 70px;"></th>
				<th>Fab</th>
				<th>Número</th>
				<th>Ordem de Produção</th>
				<th>Data Alimentação</th>
				<th>Status</th>
				<th>Processo</th>
				<th>Modelo</th>
				<th>Descrição</th>
				<th>Qtde. Necessidade</th>
				<th>Qtde. Embalada</th>
				<th>Diferença</th>
				<th>Mod. IMC</th>
				<th>Linha</th>
			</tr>
		</thead>
		<tbody data-bind="foreach: APs">
			<tr>
				<td>
					<a href="#" data-bind="click: $root.AbrirAP"><i class="glyphicon glyphicon-edit"></i></a>&nbsp;
					<a href="#" data-bind="click: $root.AbrirItens"><i class="glyphicon glyphicon-th-list"></i></a>
					<a href="#" data-bind="click: $root.AbrirCompara, css: { hidden: CodProcesso() != '01-00' }"><i class="glyphicon glyphicon-duplicate"></i></a>
					<a href="#" data-bind="click: $root.ImprimeAlimenta, css: { hidden: CodProcesso() != '01-00' }" title="Ordem de Alimentação"><i class="glyphicon glyphicon-print"></i></a>
				</td>
				<td data-bind="text: CodFab"></td>
				<td data-bind="text: NumAP"></td>
				<td data-bind="text: NumOP"></td>
				<td data-bind="text: DatAP"></td>
				<td data-bind="text: CodStatus"></td>
				<td data-bind="text: CodProcesso"></td>
				<td data-bind="text: CodModelo"></td>
				<td data-bind="text: DesModelo"></td>
				<td data-bind="text: QtdLoteAP" class="text-right"></td>
				<td data-bind="text: QtdEmbalado" class="text-right"></td>
				<td data-bind="text: Diferenca" class="text-right"></td>
				<td data-bind="text: CodRadial"></td>
				<td data-bind="text: CodLinha"></td>
			</tr>
		</tbody>
	</table>
</div>

<br /><br /><br />
@section Scripts {
	<script src="~/Scripts/jquery.tablesorter.js"></script>
	<script src="~/Scripts/select2.min.js"></script>
	<script>
		var datInicio = '@DatInicio';

	var Processos = function (codProcesso, desProcesso) {
		this.codProcesso = codProcesso;
		this.desProcesso = desProcesso;
	};

	var viewModel = function () {
		var self = this;

		self.APs = ko.mapping.fromJS([]);
		self.datReferencia = ko.observable(datInicio);
		self.codFab = ko.observable("");
		self.processo = ko.observable("");
		self.numAP = ko.observable("");
		self.numOP = ko.observable("");
		self.flgStatus = ko.observable("");

		self.opcoesProcesso = ko.observableArray([
			new Processos("01-00", "01-00 - IAC"),
			new Processos("02-00", "02-00 - IMC"),
			new Processos("03-00", "03-00 - FECHAMENTO"),
			new Processos("11-00", "11-00 - MSC"),
			new Processos("13-00", "13-00 - ETIQUETAS"),
			new Processos("14-00", "14-00 - KIT ACESSÓRIO"),
			new Processos("22-00", "22-00 - KIT PCI MERCOSUL"),
			new Processos("25-00", "25-00 - CJ CRT IMC")
		]);

		self.ObterAPs = function () {
			var codprocesso = self.processo() ? self.processo().codProcesso : "";

			ko.mapping.fromJS([], self.APs);

			$.ajax({
				type: "GET",
				url: "/Materiais/Estoque/LSAAPLista/",
				data: { datReferencia: self.datReferencia(), codFab: self.codFab(), codProcesso: codprocesso, numAP: self.numAP(), flgStatus: self.flgStatus(), numOP: self.numOP() },
				dataType: "json",
				cache: false,
				async: true,
				success: function (data) {
					ko.mapping.fromJS(data, self.APs);
					$("table#tblDados").trigger("update");
				},
				error: function () {
					ko.mapping.fromJS([], self.APs);
				}
			});
		};

		self.AbrirAP = function (ap) {

			document.location.href = "/Materiais/Estoque/LSAAPCapa/?codFab=" + ap.CodFab() + "&numAP=" + ap.NumAP();

		}

		self.AbrirItens = function (ap) {

			document.location.href = "/Materiais/Estoque/LSAAPItem/?codFab=" + ap.CodFab() + "&numAP=" + ap.NumAP();

		}
		self.AbrirCompara = function (ap) {

			document.location.href = "/Materiais/Estoque/ComparaAlimenta/?codFab=" + ap.CodFab() + "&numAP=" + ap.NumAP() + "&codModelo=" + ap.CodModelo();

		}
		self.ImprimeAlimenta = function (ap) {

			document.location.href = "/Materiais/Estoque/OrdemAlimenta/?numOP=" + ap.NumOP();

		}
	}

	ko.bindingHandlers.sortTable = {
		init: function (element, valueAccessor) {
			//setTimeout(function () {
				$(element).addClass('tablesorter');
				$(element).tablesorter({
					headers: {
						// assign the secound column (we start counting zero)
						0: {
							// disable it by setting the property sorter to false
							sorter: false
						}
					}
				});
			//}, 500);
		}
	};

	tela = new viewModel();
	ko.applyBindings(tela);


	$(document).ready(function () {
		setTimeout(function () {
			tela.ObterAPs();
		}, 1000);

		$("#datReferencia").datepicker({
			changeMonth: true,
			changeYear: true,
			showButtonPanel: true,
			dateFormat: 'mm/yy',

			onClose: function () {
				var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
				var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
				$(this).datepicker('setDate', new Date(iYear, iMonth, 1));
				//tela.datReferencia(new Date(iYear, iMonth, 1));
				$(this).change();
			}
		});

		$('#Descricao').select2({
			ajax: {
				url: function (params) {
					return '/Coleta/Util/ObterModelosData/?datPrograma=' + $("#datReferencia").val();
				},
				dataType: 'json'
			},
			placeholder: '[ Pesquise o Produto ]  ',
			theme: "classic",
			allowClear: true
		});

		$('#Descricao').on("change", function (e) { FiltraTabela("tblDados", 7, $("#Descricao").val()) });

		$('#NumOP').on("change", function (e) { FiltraTabela("tblDados", 3, $("#NumOP").val()) });

	});

		function Exportar() {

			var codprocesso = tela.processo() ? tela.processo().codProcesso : "";
			var parametros = "?datReferencia=" + tela.datReferencia() + "&codFab=" + tela.codFab() + "&codProcesso=" + codprocesso + "&numAP=" + tela.numAP() +
				"&flgStatus=" + tela.flgStatus() + "&numOP=" + tela.numOP();

			var url = "/Materiais/Estoque/LSAAPListaXLS/" + parametros;

			var janela = window.open(url);
			setTimeout("console.log('Exportando... : " + url + "');", 1000);
			
			//janela.close();

		}

	</script>
}