﻿@model IEnumerable<SEMP.Model.DTO.LSAAPDTO>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodFab)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatEmissao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatReferencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodProcesso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodModelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodCinescopio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdLoteAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdProduzida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sequencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodRevisao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodRadial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodRevRadial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodAxial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodRevAxial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodLocal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodLinha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodLocalAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatLiberacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatAceite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatFechamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatProgInicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatProgFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomAceite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatInicioProd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlgDivida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QtdEmbalado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumSerieINI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumSerieFIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodSO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlgToshiba)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlgTipoVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumAPDestino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diferenca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesModelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesLinha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesProcesso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesLocal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DesModIMC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CodFab)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatEmissao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatReferencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodProcesso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodModelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodCinescopio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdLoteAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdProduzida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sequencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodRevisao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodRadial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodRevRadial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodAxial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodRevAxial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodLocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodLinha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodLocalAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatLiberacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatAceite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatFechamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatProgInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatProgFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomAceite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatInicioProd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlgDivida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QtdEmbalado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumSerieINI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumSerieFIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodSO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlgToshiba)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlgTipoVenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumAPDestino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumOP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diferenca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesModelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesLinha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesProcesso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesLocal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DesModIMC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
