﻿@model SEMP.Model.DTO.LSAAPDTO

@{
	ViewBag.Title = "Ordem de Produção";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Estoque";
	ViewBag.Rotina = "Dados da Ordem de Produção";

	var desFabrica = RAST.BO.Rastreabilidade.Geral.ObterFabrica(Model.CodFab).NomFab;
	var mesRef = Model.DatReferencia.ToString("MM/yyyy");

	var tipoAP = Model.TipAP == "N" ?
										"N - Normal" :
										Model.TipAP == "D" ?
																"D - DAT":
																			Model.TipAP == "" ? "T - TP":
																			"";
	var modelos = ViewBag.Modelos != null ? (List<SEMP.Model.DTO.LSAAPModeloDTO>)ViewBag.Modelos : new List<SEMP.Model.DTO.LSAAPModeloDTO>();

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin { CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = "" };

	var bAlteraModeloIMC = SEMP.Helpers.Extensions.Permissao("CadAlteraModIMC", retornologin);

}
<link href="/Content/css/select2.min.css" rel="stylesheet" />
<style>
	.CapaAP {
		width: 800px;
		border: solid 1px gray;
		font-size: 14px;
		padding: 8px;
		border-radius: 5px;
	}
	h4{
		border-bottom: 1px double black;
	}
</style>
<h2><button name="btnVoltar" id="btnVoltar" class="btn btn-sm btn-primary" onclick="window.history.back();"><i class="glyphicon glyphicon-backward"></i></button> Ordem de Produção</h2>

<div class="CapaAP">
	<input type="hidden" name="CodFab" id="CodFab" value="@Model.CodFab" />
	<input type="hidden" name="NumAP" id="NumAP" value="@Model.NumAP" />
	<div class="row">
		<div class="col-md-4">
			<label>Fábrica</label>
			@Model.CodFab - @desFabrica
		</div>
		<div class="col-md-3" style="width: 165px;">
			<label>Mês Ref.:</label>
			@mesRef
		</div>
		<div class="col-md-3" style="width: 170px;">
			<label>No. AP:</label>
			@Model.NumAP
		</div>
		<div class="col-md-3">
			<label>OP:</label>
			@Model.NumOP
		</div>
	</div>
	<h4>Dados da LSA</h4>
	<div class="row">
		<div class="col-md-4"><label>Cód. Fase:</label>@Model.CodProcesso - @Model.DesProcesso</div>
		<div class="col-md-3 col-md-offset-5"><label>Emissão: </label>@Model.DatEmissao.ToShortDateString()</div>
	</div>
	<div class="row">
		<div class="col-md-6"><label>Modelo:</label>@Model.CodModelo - @Model.DesModelo</div>
		<div class="col-md-3 col-md-offset-3"><label>Emissão: </label>@Model.DatAP.ToShortDateString()</div>
	</div>
	<div class="row">
		<div class="col-md-6" id="lblCodLinha">
			<label>Linha Prod.:</label>@Model.CodLinha - @Model.DesLinha
			<a href="#" onclick="$('#lblCodLinha').addClass('hidden'); $('#lblSelectLinha').removeClass('hidden');"><i class="glyphicon glyphicon-pencil"></i></a>
		</div>
		<div class="col-md-6 hidden" id="lblSelectLinha">
			<label>Linha Prod.:</label>
			<select id="CodLinha" name="CodLinha" style="width:230px;"></select>
			<a href="#" onclick="$('#lblCodLinha').removeClass('hidden'); $('#lblSelectLinha').addClass('hidden');"><i class="glyphicon glyphicon-remove"></i></a>
			<a href="#" onclick="AlterarLinha();"><i class="glyphicon glyphicon-ok"></i></a>
		</div>
		<div class="col-md-3 col-md-offset-3"><label>Qtde. Lote: </label>@Model.QtdLoteAP</div>
	</div>
	<div class="row">
		<div class="col-md-5"><label>Loc. Crédito:</label>@Model.CodLocal - @Model.DesLocal</div>
		<div class="col-md-3"><label>Tipo AP:</label>@tipoAP</div>
		<div class="col-md-3 col-md-offset-1"><label>Qtde. Emitida: </label> [0]</div>
	</div>

	<div class="row">
		<div class="col-md-6"><label>Observações:</label>@Model.Observacao</div>
		<div class="col-md-3 col-md-offset-3"><label>Qtde. Programa: </label> [0]</div>
	</div>

	<div class="row">
		<div class="col-md-6" id="lblCodRadial">
			<label>Mod. IMC:</label>@Model.CodRadial - @Model.DesModIMC
			@if (bAlteraModeloIMC){<a href="#" onclick="$('#lblCodRadial').addClass('hidden'); $('#lblSelectRadial').removeClass('hidden');"><i class="glyphicon glyphicon-pencil"></i></a>}
		</div>
		<div class="col-md-6 hidden" id="lblSelectRadial">
			<label>Mod. IMC:</label>
			<input type="text" name="Modelo" id="Modelo" value="" class="form-control hidden" />
			<select id="Descricao" name="Descricao" style="width:230px;"></select>
			<a href="#" onclick="$('#lblCodRadial').removeClass('hidden'); $('#lblSelectRadial').addClass('hidden');"><i class="glyphicon glyphicon-remove"></i></a>
			<a href="#" onclick="AlterarModeloIMC();"><i class="glyphicon glyphicon-ok"></i></a>
		</div>
		<div class="col-md-3"><label>Qtde. Produzida:</label>@Model.QtdProduzida</div>
		<div class="col-md-3"><label>Qtde. Embalada:</label>@Model.QtdEmbalado</div>
	</div>
	<hr />

	<div class="panel panel-default table-responsive" style="width: 100%;">
		<table class="table table-condensed table-bordered table-hover">
			<thead>
				<tr>
					<th style="width: 25px;"></th>
					<th style="width: 60px;">Modelo</th>
					<th>Descrição</th>
					<th style="width: 80px;">Linha</th>
					<th>Tipo</th>
					<th>Apont.</th>
					<th>Emb.</th>
					<th>Apont.</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in modelos)
				{
					<tr>
						<td>
							<a href="/Materiais/Estoque/LSAAPItem/?codfab=@item.CodFab&numAP=@item.NumAP"><i class="glyphicon glyphicon-th-list"></i></a>
						</td>
						<td>@item.CodModelo</td>
						<td>@item.DesModelo</td>
						<td>@item.CodLinha</td>
						<td>@item.DesProcesso</td>
						<td>@item.FlgApontar</td>
						<td>@item.QtdEmbalado</td>
						<td>@item.QtdApontado</td>
					</tr>
				}
				<tr>
					<td colspan="13"></td>
				</tr>
			</tbody>
		</table>

	</div>
</div>

@section scripts{
	<script src="~/Scripts/select2.min.js"></script>
	
	<script>

		$('#Descricao').select2({
			ajax: {
				url: function (params) {
					return '/Coleta/Util/ObterModelosPCISelect/';
				},
				data: function (params) {
					var query = {
						search: params.term,
						page: params.page || 1
					}

					// Query parameters will be ?search=[term]&page=[page]
					return query;
				},
				dataType: 'json'
			},
			placeholder: 'Pesquise o Produto',
			theme: "classic",
			allowClear: true
		});

		$('#CodLinha').select2({
			ajax: {
				url: function (params) {
					return '/Coleta/Util/ObterLinhasSelect/';
				},
				data: function (params) {
					var query = {
						search: params.term,
						page: params.page || 1
					}

					// Query parameters will be ?search=[term]&page=[page]
					return query;
				},
				dataType: 'json'
			},
			placeholder: 'Pesquise a Linha',
			theme: "classic",
			allowClear: true
		});

		$('#Descricao').on("change", function (e) { $("#Modelo").val($("#Descricao").val()); });

		function AlterarModeloIMC()
		{
			$.ajax({
				type: "GET",
				url: "/Materiais/Estoque/AlterarModeloIMC_AP/",
				data: {
					codFab: $("#CodFab").val(),
					numAP: $("#NumAP").val(),
					codModelo: $("#Descricao").val()
				},
				success: function (data) {
					$('#lblCodRadial').removeClass('hidden'); $('#lblSelectRadial').addClass('hidden');
					document.location.reload();

				},
				error: function (data) {
					alert('Erro ao processar: ' + data);
				}
			});

		}
		
		function AlterarLinha() {
			$.ajax({
				type: "GET",
				url: "/Materiais/Estoque/AlterarLinha_AP/",
				data: {
					codFab: $("#CodFab").val(),
					numAP: $("#NumAP").val(),
					codLinha: $("#CodLinha").val()
				},
				success: function (data) {
					$('#lblCodLinha').removeClass('hidden'); $('#lblSelectLinha').addClass('hidden');
					document.location.reload();

				},
				error: function (data) {
					alert('Erro ao processar: ' + data.responseText);
				}
			});

		}
	</script>

}