﻿@model IEnumerable<SEMP.Model.DTO.LSAAPDTO>

<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.CodFab)</th>
			<th>@Html.DisplayNameFor(model => model.NumAP)</th>
			<th>@Html.DisplayNameFor(model => model.DatAP)</th>
			<th>@Html.DisplayNameFor(model => model.CodProcesso)</th>
			<th>@Html.DisplayNameFor(model => model.CodModelo)</th>
			<th>@Html.DisplayNameFor(model => model.DesModelo)</th>
			<th>@Html.DisplayNameFor(model => model.QtdLoteAP)</th>
			<th>@Html.DisplayNameFor(model => model.QtdEmbalado)</th>
			<th>@Html.DisplayNameFor(model => model.Diferenca)</th>
			<th>@Html.DisplayNameFor(model => model.CodRadial)</th>
			<th>@Html.DisplayNameFor(model => model.CodStatus)</th>
			<th>@Html.DisplayNameFor(model => model.CodLinha)</th>
			<th>@Html.DisplayNameFor(model => model.TipAP)</th>
			<th>@Html.DisplayNameFor(model => model.NumOP)</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var item in Model)
	{
		<tr>
			<td>@Html.DisplayFor(modelItem => item.CodFab)</td>
			<td>@Html.DisplayFor(modelItem => item.NumAP)</td>
			<td>@Html.DisplayFor(modelItem => item.DatAP)</td>
			<td>@Html.DisplayFor(modelItem => item.CodProcesso)</td>
			<td>@Html.DisplayFor(modelItem => item.CodModelo)</td>
			<td>@Html.DisplayFor(modelItem => item.DesModelo)</td>
			<td>@Html.DisplayFor(modelItem => item.QtdLoteAP)</td>
			<td>@Html.DisplayFor(modelItem => item.QtdEmbalado)</td>
			<td>@Html.DisplayFor(modelItem => item.Diferenca)</td>
			<td>@Html.DisplayFor(modelItem => item.CodRadial)</td>
			<td>@Html.DisplayFor(modelItem => item.CodStatus)</td>
			<td>@Html.DisplayFor(modelItem => item.CodLinha)</td>
			<td>@Html.DisplayFor(modelItem => item.TipAP)</td>
			<td>@Html.DisplayFor(modelItem => item.NumOP)</td>
		</tr>
}
	</tbody>
</table>
