﻿@model IEnumerable<SEMP.Model.DTO.LSAAPItemDTO>

@{
	ViewBag.Title = "Itens da AP";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var dadoAP = Model.FirstOrDefault();

	List<SEMP.Model.DTO.LSAAPItemPosicaoDTO> posicoes = ViewBag.Posicoes;
	var modelos = Model.GroupBy(x => new { x.CodModelo, x.DesModelo }).Select(x => new { CodModelo = x.Key.CodModelo, DesModelo = x.Key.DesModelo }).ToList();

}
@section Styles {
	<style>
		#tblDados tbody tr td {
			font-size: 11px !important;
			padding: 2px !important;
		}
	</style>
}
<h2><button name="btnVoltar" id="btnVoltar" class="btn btn-sm btn-primary" onclick="window.history.back();"><i class="glyphicon glyphicon-backward"></i></button> Itens da AP</h2>
<div class="h4">
	<span>Fáb: @dadoAP.CodFab</span>
	<span>AP: @dadoAP.NumAP</span>
</div>

<table id="tblDados" class="table table-condensed table-bordered table-hover">
	<thead>
		<tr>
			<th></th>
			<th style="width: 50px;">Item Ori.</th>
			<th style="min-width: 180px;">Descrição</th>
			<th style="width: 50px;">Item</th>
			<th style="min-width: 180px;">Descrição</th>
			<th style="width: 20px;">I</th>
			<th style="width: 50px;">Freq.</th>
			<th style="width: 70px;">Necessidade</th>
			<th style="width: 70px;">Produzida</th>
			<th style="width: 25px;">ID.</th>
			<th style="width: 25px;">Item OK?</th>
			<th style="width: 30px;">Pos.</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var modelo in modelos)
		{
			<tr>
				<td colspan="12" class="info">@modelo.CodModelo - @modelo.DesModelo</td>
			</tr>
			foreach (var item in Model.Where(x => x.CodModelo == modelo.CodModelo))
			{
				var posicoesItem = posicoes.Where(x => x.CodModelo == item.CodModelo && x.CodItem == item.CodItem).ToList();
				var identificaItem = item.CodIdentificaItem;
				if (identificaItem == null || String.IsNullOrEmpty(identificaItem.Trim()))
				{
					identificaItem = "<i class='glyphicon glyphicon-edit'></i>";
				}
				identificaItem = identificaItem.Trim();
				<tr>
					<td></td>
					<td>@Html.DisplayFor(modelItem => item.CodItem)</td>
					<td>@Html.DisplayFor(modelItem => item.DesItem)</td>
					<td>@Html.DisplayFor(modelItem => item.CodItemAlt)</td>
					<td>@Html.DisplayFor(modelItem => item.DesAlt)</td>
					<td>@Html.DisplayFor(modelItem => item.CodAplAlt)</td>
					<td class="text-right">@Html.DisplayFor(modelItem => item.QtdFrequencia)</td>
					<td class="text-right">@Html.DisplayFor(modelItem => item.QtdNecessaria)</td>
					<td class="text-right">@Html.DisplayFor(modelItem => item.QtdProduzida)</td>
					<td class="text-center">
						<a href='#' data-toggle='modal' data-target='#exampleModal' data-codfab='@item.CodFab' data-numap='@item.NumAP'
									data-coditem='@item.CodItemAlt' data-desitem='@item.DesAlt' data-codmodelo='@item.CodModelo' 
									data-desmodelo='@item.DesModelo' data-codidentifica="@item.CodIdentificaItem"
									title="Alterar Identificação">@{WriteLiteral(identificaItem);}</a>
					</td>
					<td class="text-center">@Html.DisplayFor(modelItem => item.FlgItemOK)</td>
					<td style="text-align:center;"><a href="#" onclick="$('#pos-@item.CodItem').toggle();" title="Posições"><i class="glyphicon glyphicon-th-list"></i></a></td>
				</tr>
				if (posicoesItem.Count() > 0)
				{

					<tr id="pos-@item.CodItem" style=" display: none;">
						<td colspan="13">
							<div style="width: 300px; margin-left: 15px;">
								<div class="row" style="font-weight: bold;">
									<div class="col-md-4">Posição</div><div class="col-md-2">Frequência</div>
								</div>
								@foreach (var posicao in posicoesItem)
								{
									<div class="row">
										<div class="col-md-4">@posicao.NumPosicao</div><div class="col-md-2 text-right">@posicao.QtdItem</div>
									</div>
								}
							</div>
						</td>
					</tr>

				}
			}
		}
	</tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="top: 150px;">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="exampleModalLabel">Alterar ID</h4>
			</div>
			<div class="modal-body">
				<form class="">
					<div class="form-group">
						<label for="recipient-name" class="control-label">AP:</label>
						<div class="input-group">
							<span class="input-group-addon" id="CodFab" name="CodFab"></span>
							<span class="form-control" id="NumAP" name="NumAP"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">Modelo:</label>
						<div class="input-group">
							<span class="input-group-addon" id="CodModelo" name="CodModelo"></span>
							<span class="form-control" id="DesModelo" name="DesModelo"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="recipient-name" class="control-label">Item:</label>
						<div class="input-group">
							<span class="input-group-addon" id="CodItem" name="CodItem"></span>
							<span class="form-control" id="DesItem" name="DesItem"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="message-text" class="control-label">Identificação:</label>
						<select id="CodIdentifica" name="CodIdentifica" class="form-control">
							<option value="">[SELECIONE]</option>
							<option value="01">01 - BARRA 7</option>
							<option value="02">02 - MAT. NA RECEPCAO</option>
							<option value="03">03 - LIB. A MAIOR</option>
							<option value="04">04 - ALTERNATIVOS</option>
							<option value="05">05 - NOTA ALTERAÇÃO</option>
							<option value="06">06 - ESTOQUE</option>
							<option value="07">07 - SALDO PRODUÇÃO</option>
							<option value="08">08 - MATERIAL DE CONSUMO</option>
							<option value="09">09 - MATERIAL JIT</option>
							<option value="10">10 - PREP. CONJUNTO</option>
							<option value="11">11 - LICENCAS</option>
							<option value="12">12 - 483821</option>
							<option value="13">13 - REJEITO PAGO</option>
							<option value="14">14 - ITEM DE REPOSIÇÃO</option>
							<option value="15">15 - ESTOQUE FORNECEDOR</option>
							<option value="16">16 - MATERIAL SEMANAL</option>
						</select>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
				<button type="button" class="btn btn-primary" onclick="AlterarID();">Alterar</button>
			</div>
		</div>
	</div>
</div>
@section Scripts{
	<script>

		$('#exampleModal').on('show.bs.modal', function (event) {
			var button = $(event.relatedTarget);

			var codFab = button.data('codfab');
			var numAP = button.data('numap');

			$('#CodFab').html(codFab);
			$('#NumAP').html(numAP);

			var codItem = button.data('coditem');
			var desItem = button.data('desitem');

			$('#CodItem').html(codItem);
			$('#DesItem').html(desItem);

			var codModelo = button.data('codmodelo');
			var desModelo = button.data('desmodelo');

			$('#CodModelo').html(codModelo);
			$('#DesModelo').html(desModelo);


			var codIdentifica = button.data('codidentifica');
			$('#CodIdentifica').val(codIdentifica);

		});

		function AlterarID() {
			var codFab = $('#CodFab').html();
			var numAP = $('#NumAP').html();
			var codItem = $('#CodItem').html();
			var codModelo = $('#CodModelo').html();
			var codIdentifica = $('#CodIdentifica').val();

			//string codfab, string numap, string codmodelo, string coditem, string codIdentifica
			$.ajax({
				type: "GET",
				url: "/Materiais/Estoque/AlterarIdentificacao/",
				data: {
					codFab: codFab,
					numAP: numAP,
					codModelo: codModelo,
					codItem: codItem,
					codIdentifica: codIdentifica
				},
				success: function (data) {
					document.location.reload();
				},
				error: function (data) {
					alert('Erro ao processar: ' + data);
				}
			});

		}

	</script>

}