﻿
@{
	ViewBag.Title = "OrdemAlimenta";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Sistema = "Estoque";
	ViewBag.Rotina = "Ordem de Alimentação";

	var numOP = Request["numOP"];
	var numRevisao = Request["numRevisao"];
	var numEtapa = Request["numEtapa"];

}

<h2>Ordem de Alimentação</h2>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2" style="border: solid 1px #cccccc; padding-bottom: 10px; border-radius: 10px;">

		<form class="form-inline" method="get" name="frmOrdemAlimenta" id="frmOrdemAlimenta" action="/Materiais/Estoque/ImprimeAlimenta/" onsubmit="Submit();return ($('#NumRevisao').val() != '');">
			<div style="margin-bottom: 10px;">
				<h3>Informe os parâmetros</h3><br />

				<div class="row">
					<div class="col-sm-6 col-md-5">
						<div class="input-group">
							<label class="input-group-addon">Ord. de Prod.</label>
							<input type="text" class="form-control" name="NumOP" id="NumOP" onblur="CarregarOP();" value="@numOP" />
							<div class="input-group-btn">
								<button class="btn btn-default" type="button" onclick="document.location.href = '/Materiais/Estoque/LSAAP/';"><i class="glyphicon glyphicon-search"></i></button>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3">
						<div class="input-group">
							<label class="input-group-addon">Revisão</label>
							<input type="text" class="form-control" name="NumRevisao" id="NumRevisao" style="width: 50px;" onblur="AlteraRevisao(this.value);" value="@numRevisao" />
							<div class="input-group-btn">
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="ulRevisao">
									<li><a href="#">Informe uma Ordem de Produção</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<div class="input-group">
							<label class="input-group-addon">Etapa</label>
							<input type="text" class="form-control" name="NumEtapa" id="NumEtapa" style="width: 50px;" value="@numEtapa" />
							<div class="input-group-btn">
								<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="ulEtapa">
									<li><a href="#">Informe uma Ordem de Produção</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="margin-top: 15px; font-size: 14px;">
					<div class="col-md-8">
						<input type="hidden" id="CodModelo" name="CodModelo" value="" />
						Modelo: <strong id="modelo"></strong><br />
						Código: <span id="programa"></span>&nbsp;
					</div>
				</div>

			</div>

			<div style="margin-top: 10px;"><button type="submit" class="btn btn-primary" id="btnConsultar" name="btnConsultar"><i class="glyphicon glyphicon-ok"></i> Consultar</button></div>
		</form>
	</div>
</div>

@section Scripts{
	<script>
		var ap;

		function CarregarOP() {
			if ($("#NumOP").val() == "") return;

			$("#NumOP").val(padLeft($("#NumOP").val(), 12, "0"));

			$("#modelo").html("");

			$.ajax({
				type: "GET",
				url: "/Materiais/Estoque/ObterAP/",
				data: { numOP: $("#NumOP").val() },
				dataType: 'json',
				cache: false,
				async: true,
				success: function (data) {
					if (data != null) {
						ap = data;
						$("#modelo").html(data.CodModelo + " - " + data.DesModelo);
						$("#CodModelo").val(data.CodModelo);
						CarregarRevisao();
					}
					else {
						$("#modelo").html("<span class='alert alert-danger'>Ordem não encontrada ou inválida</span>");
					}
				},
				error: function (data) {
					$("#modelo").html('Erro ao consultar.<br />' + data.responseText);
				}
			});

		}

		function CarregarPlano(codModelo, numRevisao) {
			$.ajax({
				type: "GET",
				url: "/Materiais/Estoque/ObterPlanoIAC/",
				data: { codModelo: codModelo, numRevisao: numRevisao },
				dataType: 'json',
				cache: false,
				async: true,
				success: function (data) {
					if (data != null) {
						$("#programa").html(data.NomDocLDC);
					}
					else {
						$("#programa").html("<span class='alert alert-danger'>Ordem não encontrada ou inválida</span>");
					}
				},
				error: function (data) {
					$("#programa").html('Erro ao consultar.<br />' + data.responseText);
				}
			});
		}

		function CarregarRevisao() {
			if ($("#NumOP").val() == "") return;

			$.ajax({
				type: "GET",
				url: "/Materiais/Estoque/ObterRevisoes/",
				data: { codModelo: ap.CodModelo },
				dataType: 'json',
				cache: false,
				async: true,
				success: function (data) {
					if (data != null) {
						$("#ulRevisao").html("");
						$(data).each(function (index, element) {
							$("#ulRevisao").append("<li><a href='#' onclick='AlteraRevisao(" + element.NumRevisao + ")'>" + element.NumRevisao + "</a></li>");
						});
					}
					else {
						$("#programa").html("Erro ao carregar revisões.");
					}

				},
				error: function (data) {
					$("#programa").html('Erro ao consultar.<br />' + data.responseText);
				}
			});

		}

		function AlteraRevisao(numRevisao) {
			$("#NumRevisao").val(padLeft(numRevisao, 2, "0"));
			CarregarPlano($("#CodModelo").val(), $("#NumRevisao").val());
			CarregarEtapas();
		}

		function CarregarEtapas() {
			if ($("#NumRevisao").val() == "") return;

			$.ajax({
				type: "GET",
				url: "/Materiais/Estoque/ObterEtapas/",
				data: { codModelo: ap.CodModelo, numRevisao: $("#NumRevisao").val() },
				dataType: 'json',
				cache: false,
				async: true,
				success: function (data) {
					if (data != null) {
						$("#ulEtapa").html("");
						$(data).each(function (index, element) {
							$("#ulEtapa").append("<li><a href='#' onclick='AlteraEtapa(" + element.NumEtapa + ")'>" + element.NumEtapa + "</a></li>");
						});
					}
					else {
						$("#programa").html("Erro ao carregar revisões.");
					}

				},
				error: function (data) {
					$("#programa").html('Erro ao consultar.<br />' + data.responseText);
				}
			});

		}

		function AlteraEtapa(numEtapa) {
			$("#NumEtapa").val(numEtapa);
		}

		function Submit() {

			if ($('#NumRevisao').val() == '') {
				alert("Informe a revisão");
				$('#NumRevisao').focus();
			}

			return ($('#NumRevisao').val() != '');
		}

		$(document).ready(function () {
			CarregarOP();
		});

	</script>
}