﻿@model SEMP.SAPConnector.VO.BAPI_PRODORD_GET_DETAIL
@{
	Layout = null;
	var retorno = (SEMP.SAPConnector.RetornoPadrao)ViewBag.retorno;
	var component = Model.COMPONENT;
	var header = Model.HEADER;

	var AP = (SEMP.Model.DTO.LSAAPDTO)ViewBag.AP ?? new SEMP.Model.DTO.LSAAPDTO();
	var APItem = (List<SEMP.Model.DTO.LSAAPItemDTO>)ViewBag.APItem;
	var RESB = (List<SEMP.SAPConnector.VO.RESB>)ViewBag.resb;
	var posicoes = (List<SEMP.Model.DTO.LSAAPItemPosicaoDTO>)ViewBag.posicoes;

	var juncao = (from c in component
				  join r in RESB on c.RESERVATION_ITEM equals r.rspos
				  select new
				  {
					  c.RESERVATION_ITEM,
					  c.MATERIAL,
					  c.MATERIAL_DESCRIPTION,
					  c.PROD_PLANT,
					  c.STORAGE_LOCATION,
					  c.REQ_QUAN,
					  c.BASE_UOM,
					  c.WITHDRAWN_QUANTITY,
					  c.MOVEMENT_TYPE,
					  c.ITEM_CATEGORY,
					  c.BACKFLUSH,
					  c.COMMITED_QUANTITY,
					  c.SHORTAGE,
					  r.sortf,
					  r.dumps,
					  r.matkl
				  }).ToList();
}

@if (!retorno.Status)
{
	<span class="text-danger">Erro: @retorno.Mensagem</span>
}
<div class="panel-body table-responsive">
	<table class="table table-bordered table-sm table-striped">
		<thead>
			<tr>
				<th>PLANT</th>
				<th>ORDER_NUMBER</th>
				<th>MATERIAL</th>
				<th>MATERIAL_TEXT</th>
				<th>START_DATE</th>
				<th>FINISH_DATE</th>
				<th>SCRAP</th>
				<th>QUANTITY</th>
				<th>UNIT</th>
				<th>TYPE</th>
				<th>ENTERED_BY</th>
				<th>DELETION_FLAG</th>
				<th>SYSTEM_STATUS</th>
				<th>CONFIRMED</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in header)
			{
				<tr>
					<td>@item.PLAN_PLANT</td>
					<td>@double.Parse(item.ORDER_NUMBER)</td>
					<td>@int.Parse(item.MATERIAL)</td>
					<td>@item.MATERIAL_TEXT</td>
					<td>@item.ACTUAL_START_DATE.ToShortDateString()</td>
					<td>@item.ACTUAL_FINISH_DATE.ToShortDateString()</td>
					<td>@item.SCRAP</td>
					<td class="bg-info">@item.TARGET_QUANTITY</td>
					<td>@item.UNIT</td>
					<td>@item.ORDER_TYPE</td>
					<td>@item.ENTERED_BY</td>
					<td>@item.DELETION_FLAG</td>
					<td class="bg-info">@item.SYSTEM_STATUS</td>
					<td>@item.CONFIRMED_QUANTITY</td>
				</tr>
			}
		</tbody>
	</table>
</div>
<div class="panel-body table-responsive">
	<table class="table table-bordered table-sm table-striped">
		<thead>
			<tr>
				<th>CodFab</th>
				<th>NumAP</th>
				<th>DatEmissao</th>
				<th>DatAP</th>
				<th>DatReferencia</th>
				<th>CodProcesso</th>
				<th>CodModelo</th>
				<th>DesModelo</th>
				<th>QtdLoteAP</th>
				<th>QtdProduzida</th>
				<th>QtdEmbalado</th>
				<th>CodRadial</th>
				<th>CodLocal</th>
				<th>CodStatus</th>
				<th>CodLinha</th>
				<th>Observacao</th>
				<th>TipAP</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@AP.CodFab</td>
				<td>@AP.NumAP</td>
				<td>@AP.DatEmissao</td>
				<td>@AP.DatAP</td>
				<td>@AP.DatReferencia.ToShortDateString()</td>
				<td>@AP.CodProcesso</td>
				<td>@AP.CodModelo</td>
				<td>@AP.DesModelo</td>
				<td class="bg-info">@AP.QtdLoteAP</td>
				<td>@AP.QtdProduzida</td>
				<td>@AP.QtdEmbalado</td>
				<td>@AP.CodRadial</td>
				<td>@AP.CodLocal</td>
				<td class="bg-info">@AP.CodStatus</td>
				<td>@AP.CodLinha</td>
				<td>@AP.Observacao</td>
				<td>@AP.TipAP</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel-body table-responsive">
			<table class="table table-bordered table-sm table-striped">
				<thead>
					<tr>
						<th>ITEM</th>
						<th>MATERIAL</th>
						<th>DESCRIPTION</th>
						<th>PLANT</th>
						<th>LOCATION</th>
						<th>REQ_QUAN</th>
						<th>BASE</th>
						<th>RETIRADA</th>
						<th>TYPE</th>
						<th>CAT.</th>
						<th>BACKF.</th>
						<th>COMMITED</th>
						<th>SHORTAGE</th>
						<th>SORTF</th>
						<th>DUMPS</th>
						<th>MATKL</th>
						<th>Qtd. Item</th>
						<th>Posição</th>
					</tr>
				</thead>
				<tbody>
					@if (juncao != null)
					{
						foreach (var item in juncao)
						{
							var posicaoItem = posicoes.FirstOrDefault(x => x.CodItem == int.Parse(item.MATERIAL).ToString() && x.NumPosicao.Trim() == item.sortf.Trim());
							var QtdItem = posicaoItem?.QtdItem;
							var NumPosicao = posicaoItem?.NumPosicao;
							var classe = QtdItem != null ? "" : "danger";

							<tr class="@classe">
								<td>@item.RESERVATION_ITEM</td>
								<td>@int.Parse(item.MATERIAL).ToString()</td>
								<td>@item.MATERIAL_DESCRIPTION</td>
								<td>@item.PROD_PLANT</td>
								<td>@item.STORAGE_LOCATION</td>
								<td>@item.REQ_QUAN</td>
								<td>@item.BASE_UOM</td>
								<td>@item.WITHDRAWN_QUANTITY</td>
								<td>@item.MOVEMENT_TYPE</td>
								<td>@item.ITEM_CATEGORY</td>
								<td>@item.BACKFLUSH</td>
								<td>@item.COMMITED_QUANTITY</td>
								<td>@item.SHORTAGE</td>
								<td>@item.sortf</td>
								<td>@item.dumps</td>
								<td>@item.matkl</td>
								<td>@QtdItem</td>
								<td>@NumPosicao</td>
							</tr>
						}
					}
					@{
						foreach (var item in posicoes)
						{
							var juncaoItem = juncao.FirstOrDefault(x => item.CodItem == int.Parse(x.MATERIAL).ToString() && item.NumPosicao.Trim() == x.sortf.Trim());
							if (juncaoItem == null)
							{

							<tr class="red">
								<td></td>
								<td>@item.CodItem</td>
								<td>@item.DesItem</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>@item.QtdItem</td>
								<td>@item.NumPosicao</td>
							</tr>
								}
							}
						}
				</tbody>
			</table>
		</div>
	</div>

	<!--<div class="">
		<div class="panel-body table-responsive">
			<table class="table table-bordered table-sm table-striped">
				<thead>
					<tr>
						<th>CodItem</th>
						<th>DesItem</th>
						<th>QtdItem</th>
						<th>NumPosicao</th>
					</tr>
				</thead>
				<tbody>
					@if (component != null)
					{
						foreach (var item in posicoes)
						{
							<tr>
								<td>@item.CodItem</td>
								<td>@item.DesItem</td>
								<td>@item.QtdItem</td>
								<td>@item.NumPosicao</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>-->
</div>