﻿@model IEnumerable<SEMP.SAPConnector.VO.BAPI_ORDER_HEADER1>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ORDER_NUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTION_PLANT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MRP_CONTROLLER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTION_SCHEDULER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATERIAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXPL_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ROUTING_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RESERVATION_NUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCHED_RELEASE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTUAL_RELEASE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FINISH_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.START_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTION_FINISH_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTION_START_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTUAL_START_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTUAL_FINISH_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCRAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TARGET_QUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNIT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UNIT_ISO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRIORITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDER_TYPE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENTERED_BY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENTER_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DELETION_FLAG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WBS_ELEMENT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONF_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONF_CNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INT_OBJ_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCHED_FIN_TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SCHED_START_TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COLLECTIVE_ORDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ORDER_SEQ_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FINISH_TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.START_TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACTUAL_START_TIME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LEADING_ORDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALES_ORDER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALES_ORDER_ITEM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROD_SCHED_PROFILE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATERIAL_TEXT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SYSTEM_STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONFIRMED_QUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PLAN_PLANT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BATCH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATERIAL_EXTERNAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATERIAL_GUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATERIAL_VERSION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_OF_EXPIRY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DATE_OF_MANUFACTURE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MATERIAL_LONG)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ORDER_NUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCTION_PLANT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MRP_CONTROLLER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCTION_SCHEDULER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATERIAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXPL_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ROUTING_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RESERVATION_NUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCHED_RELEASE_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTUAL_RELEASE_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FINISH_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.START_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCTION_FINISH_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCTION_START_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTUAL_START_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTUAL_FINISH_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCRAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TARGET_QUANTITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNIT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UNIT_ISO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRIORITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORDER_TYPE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENTERED_BY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENTER_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DELETION_FLAG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WBS_ELEMENT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONF_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONF_CNT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INT_OBJ_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCHED_FIN_TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SCHED_START_TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COLLECTIVE_ORDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ORDER_SEQ_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FINISH_TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.START_TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACTUAL_START_TIME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LEADING_ORDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALES_ORDER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SALES_ORDER_ITEM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROD_SCHED_PROFILE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATERIAL_TEXT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SYSTEM_STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONFIRMED_QUANTITY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLAN_PLANT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BATCH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATERIAL_EXTERNAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATERIAL_GUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATERIAL_VERSION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_OF_EXPIRY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DATE_OF_MANUFACTURE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATERIAL_LONG)
        </td>
    </tr>
}

</table>
