﻿@model IEnumerable<SEMP.Model.VO.SAP.ZTPP_OPMAO>
@{
	Layout = null;

}
<style>
	.bg-danger {
		background-color: lightcoral !important;
	}
	.esconder {
		height: 18px;
		width: 150px;
		overflow: hidden;
		overflow-wrap: normal;
	}
</style>
<table class="table table-sm table-bordered table-hover">
	<caption>Qtde registros: @Model.Count()</caption>
	<thead>
		<tr>
			<th></th>
			<th>@Html.DisplayNameFor(model => model.WERKS)</th>
			<th>@Html.DisplayNameFor(model => model.AUFNR)</th>
			<th>@Html.DisplayNameFor(model => model.TYPE)</th>
			<th>@Html.DisplayNameFor(model => model.MATNR)</th>
			<th>@Html.DisplayNameFor(model => model.ARBPL)</th>
			<th>@Html.DisplayNameFor(model => model.OQTY)</th>
			<th>@Html.DisplayNameFor(model => model.WEMNG)</th>
			<th>@Html.DisplayNameFor(model => model.DTREF)</th>
			<th>@Html.DisplayNameFor(model => model.SYSTEM_STATUS)</th>
			<th>@Html.DisplayNameFor(model => model.PACKNO)</th>
			<th>Modelo</th>
			<th>Dat.Ref.</th>
			<th>Necessidade AP</th>
			<th>Status AP</th>

		</tr>
	</thead>
	<tbody>
		@if (Model != null)
		{
			foreach (var item in Model)
			{
				var codmodelo = item.AP != null ? item.AP.CodModelo : "";
				var modelo = item.AP != null ? item.AP.CodModelo + "-" + item.AP.DesModelo : "";
				var qtdNecessidade = item.AP != null ? item.AP.QtdLoteAP : 0;
				var status = item.AP != null ? item.AP.CodStatus : "";
				var datReferencia = item.AP != null ? item.AP.DatReferencia.ToShortDateString() : "";

				var matnr = item.MATNR;
				var result = 0;
				if (int.TryParse(matnr, out result)){
					matnr = result.ToString();
				}

				var classeQtde = "bg-warning";
				var classeStatus = "bg-info";
				var classeModelo = "bg-primary";
				var classeDatRef = "bg-active";
				var classeOrdem = "";

				if (item.AP == null)
				{
					classeOrdem = "bg-danger";
				}
				else
				{

					if (!item.MATNR.Contains(codmodelo))
					{
						classeModelo = "bg-danger";
					}

					if (item.OQTY != qtdNecessidade)
					{
						classeQtde = "bg-danger";
					}

					if (item.SYSTEM_STATUS.StartsWith("EN") && status != "04")
					{
						classeStatus = "bg-danger";
					}
					if (!item.SYSTEM_STATUS.StartsWith("EN") && status != "03")
					{
						classeStatus = "bg-danger";
					}
					if (item.DTREF != item.AP.DatReferencia)
					{
						classeDatRef = "bg-danger";
					}
				}
		<tr class="@classeOrdem">
			<td>
				@if (item.AP == null)
				{<button type="button" class="btn btn-xs btn-success" onclick="ImportarOrdem('@item.AUFNR');" title="Importar ordem"><i class="glyphicon glyphicon-download-alt"></i></button>}
				@if (item.AP != null && item.bDivergencia)
				{<button type="button" class="btn btn-xs btn-success" onclick="AtualizaOrdem('@item.AUFNR');" title="Atualizar ordem"><i class="glyphicon glyphicon-check"></i></button>}
			</td>
			<td>@Html.DisplayFor(modelItem => item.WERKS)</td>
			<td><a href="#" onclick="$('#txtOrdem').val('@item.AUFNR');">@Html.DisplayFor(modelItem => item.AUFNR)</a></td>
			<td>@Html.DisplayFor(modelItem => item.TYPE)</td>
			<td class="@classeModelo">@matnr</td>
			<td>@Html.DisplayFor(modelItem => item.ARBPL)</td>
			<td class="@classeQtde">@Html.DisplayFor(modelItem => item.OQTY)</td>
			<td>@Html.DisplayFor(modelItem => item.WEMNG)</td>
			<td class="@classeDatRef">@item.DTREF.ToShortDateString()</td>
			<td class="@classeStatus"><div class="esconder">@Html.DisplayFor(modelItem => item.SYSTEM_STATUS)</div></td>
			<td>@Html.DisplayFor(modelItem => item.PACKNO)</td>
			<td class="@classeModelo"><div class="esconder">@modelo</div></td>
			<td class="@classeDatRef">@datReferencia</td>
			<td class="@classeQtde">@qtdNecessidade</td>
			<td class="@classeStatus">@status</td>
		</tr>
			}
		}
	</tbody>
</table>
