﻿
@{
	ViewBag.Title = "SAP_OP";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Estoque";
	ViewBag.Rotina = "Ordens de Produção";

	var datIni = DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).ToShortDateString();
	var datFim = DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).AddMonths(1).AddDays(-1).ToShortDateString();

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"] ?? new SEMP.Model.VO.RetornoLogin { CodDRT = "", UsuarioCracha = false, NomFuncionario = "", NomUsuario = "", Depto = "", Cargo = "" };
	var bPermissao = SEMP.Helpers.Extensions.Permissao("SAP_OP", retornologin);
}
@section Styles{
<style>
	#pnlProcessando {
		z-index: 11999;
		position: absolute;
		background-color: rosybrown;
		color: white !important;
		text-align: center;
		font-weight: bold;
		display: none;
		width: 60%;
		height: 50%;
		left: 20%;
		top: 20%;
		padding-top: 10%;
	}

</style>
}

<h2>SAP - Ordens de Produção</h2>

<div class="form-inline">
	<div class="form-group">
		<div class="input-group">
			<label class="input-group-addon">Período de</label>
			<input type="text" name="txtDatIni" id="txtDatIni" value="@datIni" class="form-control" style="width: 100px;" />
		</div>
	</div>
	<div class="form-group">
        <div class="input-group">
            <label class="input-group-addon">até</label>
            <input type="text" name="txtDatFim" id="txtDatFim" value="@datFim" class="form-control" style="width: 100px;" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-danger" onclick="Consultar(1);" title="Consultar divergentes"><i class="glyphicon glyphicon-unchecked"></i></button>
				@if (bPermissao){
				<button type="button" class="btn btn-success" onclick="AtualizaOrdens();" title="Atualizar ordens"><i class="glyphicon glyphicon-check"></i></button>
				<button type="button" class="btn btn-success" onclick="ImportarOrdens();" title="Importar ordens"><i class="glyphicon glyphicon-download-alt"></i></button>
				}
				<button type="button" class="btn btn-primary" onclick="Consultar();" title="Consultar ordens">Consultar</button>
			</span>
        </div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<input type="text" name="txtOrdem" id="txtOrdem" value="" class="form-control" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-primary" onclick="ConsultarOrdem();">Consultar Ordem</button>
			</span>
		</div>
	</div>
</div>
<br />
<div class="panel panel-default">
	<div id="conteudo">

	</div>
</div>
<div id="pnlProcessando"><h1>Processando...</h1></div>
@section Scripts{
<script>

	function Consultar(divergentes) {

		$("#conteudo").html("Carregando...");

		$.ajax({
			type: "GET",
			url: "/Materiais/Estoque/SAP_OPLista/",
			data: { datInicio: $("#txtDatIni").val(), datFim: $("#txtDatFim").val(), divergentes: divergentes },
			cache: false,
			async: true,
			success: function (data) {
				$("#conteudo").html(data);
			},
			error: function (data) {
				$("#conteudo").html('Erro ao consultar.<br />' + data.responseText);
				//alert('Erro ao consultar');
			}
		});

	}
	
	function ConsultarOrdem() {
		var ordem = $("#txtOrdem").val();

		$("#conteudo").html("Carregando...");

		$.ajax({
			type: "GET",
			url: "/Materiais/Estoque/SAP_OPOrdem/",
			data: { ordem: ordem },
			cache: false,
			async: true,
			success: function (data) {
				$("#conteudo").html(data);
			},
			error: function (data) {
				$("#conteudo").html('Erro ao consultar.<br />' + data.responseText);
			}
		});

    }

    function AtualizaOrdens() {

        $.ajax({
            type: "POST",
            url: "/Materiais/Estoque/SAP_AtualizaOrdens/",
            data: { datInicio: $("#txtDatIni").val(), datFim: $("#txtDatFim").val() },
            cache: false,
            async: true,
            success: function (data) {
                if (data) {
                    alert("Sucesso!");
                    Consultar(1);
                }
                else {
                    alert("Falha!!");
                }
            },
            error: function (data) {
                $("#conteudo").html('Erro ao consultar.<br />' + data.responseText);
            }
        });

	}

	function AtualizaOrdem(numOP) {

		$("#pnlProcessando").toggle();

		$.ajax({
			type: "POST",
			url: "/Materiais/Estoque/SAP_AtualizaOrdem/",
			data: { numOP: numOP },
			cache: false,
			async: true,
			success: function (data) {
				if (data) {
					$("#pnlProcessando").toggle();
					alert("Sucesso!");
					Consultar(1);
				}
				else {
					alert("Falha!!");
					$("#pnlProcessando").toggle();
				}
			},
			error: function (data) {
				$("#conteudo").html('Erro ao consultar.<br />' + data.responseText);
				$("#pnlProcessando").toggle();
			}
		});

	}

	function ImportarOrdens() {

		$.ajax({
			type: "POST",
			url: "/Materiais/Estoque/SAP_ImportarOrdens/",
			data: { datInicio: $("#txtDatIni").val(), datFim: $("#txtDatFim").val() },
			cache: false,
			async: true,
			success: function (data) {
				if (data) {
					alert("Sucesso!");
					Consultar(1);
				}
				else {
					alert("Falha!!");
				}
			},
			error: function (data) {
				$("#conteudo").html('Erro ao consultar.<br />' + data.responseText);
			}
		});

	}

	function ImportarOrdem(numOP) {

		$("#pnlProcessando").toggle();

		$.ajax({
			type: "POST",
			url: "/Materiais/Estoque/SAP_ImportarOrdem/",
			data: { numOP: numOP },
			cache: false,
			async: true,
			success: function (data) {
				if (data) {
					$("#pnlProcessando").toggle();
					alert("Sucesso!");
					Consultar(1);
				}
				else {
					alert("Falha!!");
					$("#pnlProcessando").toggle();
				}
			},
			error: function (data) {
				$("#conteudo").html('Erro ao consultar.<br />' + data.responseText);
				$("#pnlProcessando").toggle();
			}
		});

	}

	$(document).ready(function () {
		Consultar();

		$("#txtDatIni").datepicker();
		$("#txtDatFim").datepicker();

	});

</script>

}