﻿
@{
	ViewBag.Title = "Contingência";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Contingência";

	var Linhas = RAST.BO.Rastreabilidade.Geral.ObterLinhaPorFabrica("FEC").Where(x => x.FlgAtivo == "1" && x.CodLinha != 102).ToList();

	var Postos = new List<SEMP.Model.DTO.CBPostoDTO>();
	foreach (var item in Linhas)
	{
		Postos.AddRange(
			RAST.BO.Rastreabilidade.Geral.ObterPostoPorLinha(item.CodLinha)
			.Where(x => x.CodTipoPosto == SEMP.Model.Constantes.POSTO_AMARRAFINAL || x.CodTipoPosto == SEMP.Model.Constantes.POSTO_LEITURA_EXPED)
		);
	}

}

<h2>Contingência</h2>

<div class="form-horizontal" style="margin-top: 15px;">
	<div class="row">
		@foreach (var linha in Linhas)
		{
			<div class="col-md-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">@linha.DesLinha</h3>
					</div>
					<div class="panel-body">
						<div class="list-group">
							@foreach (var posto in Postos.Where(x => x.CodLinha == linha.CodLinha))
							{
								<button class="list-group-item list-group-item-@if (posto.CodTipoPosto == SEMP.Model.Constantes.POSTO_LEITURA_EXPED) { Write("info"); } else { Write("success"); } "
								type="button" name="btnPosto" id="btnPosto_@posto.NumPosto" onclick="Entrar('@posto.CodLinha', '@posto.NumPosto')">@posto.DesPosto</button>
							}
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>
<form action="/coleta/setup/setarposto" method="post" id="frmEntrar">
	<input type="hidden" id="cmbFabrica" name="fabrica" value="FEC" />
	<input type="hidden" id="codLinha" name="codLinha" value="" />
	<input type="hidden" id="numPosto" name="numPosto" value="" />
</form>
<script>

	function Entrar(idLinha, numPosto) {

		$("#codLinha").val(idLinha);
		$("#numPosto").val(numPosto);

		$("#frmEntrar").submit();

	}

</script>