﻿@{
	ViewBag.Title = "Módulo de Coleta - Configurar estação";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var retornologin = (SEMP.Model.VO.RetornoLogin)Session["RetornoLogin"];
	ViewBag.Sistema = "Rastreabilidade";
	ViewBag.Rotina = "Configuração";

	
}
<div class="content-wrapper">
	<form action="/coleta/setup/setarposto" method="post">
		<div class="panel panel-default" style="width: 400px;">
			<div class="panel-heading">
				<h4>Configuração de Posto</h4>
			</div>
			<div class="panel-body">

				<h4>Indique a fábrica</h4><br />
				<select id="cmbFabrica" name="fabrica" class="form-control input-sm">
					<option>SELECIONE A FASE</option>
					<option value="IAC">IAC</option>
					<option value="IMC">IMC</option>
					<option value="FEC">FEC</option>
					<option value="TEC">TEC</option>
					<option value="LCM">LCM</option>
					<option value="TRA">TRANSF</option>
					<option value="DAT">DAT</option>
					<option value="OBA">OBA</option>
					<option value="TES">TESTES</option>
				</select>
				<br />

				<h4>Indique a linha de produção</h4><br />
				<select id="cmbLinha" name="codLinha" class="form-control input-sm"></select>
				<br />

				<h4>Escolha o posto</h4><br />
				<select id="cmbPosto" name="numPosto" class="form-control input-sm"></select>
				<br /><br />
				<div class="pull-right">
					<input class="bttn bttn-sm bttn-red" type="submit" value="Salvar" id="btnSalvar" />
				</div>
			</div>
			<div class="panel-footer">
				<span>Nome da estação: @Environment.MachineName;</span>
			</div>
		</div>
	</form>
</div>

@section Scripts {
<script>
	
	$(document).ready(function () {
		$("#cmbFabrica").change(function () {
			$.ajax({
				type: "GET",
				url: "/posto/GetLinhas/",
				data: { fabrica: $("#cmbFabrica").val() },
				dataType: "json",
				success: function (json) {
					var options = "";
					options += '<option> SELECIONE A LINHA </option>';
					$.each(json, function (key, Linhas) {
						options += '<option value="' + Linhas.CodLinha + '">' + Linhas.DesLinha + '</option>';
					});
					$("#cmbLinha").html(options);
				}
			});
		});

		$("#cmbLinha").change(function () {
			$.ajax({
				type: "GET",
				url: "/posto/GetPostos/",
				data: { codLinha: $("#cmbLinha").val() },
				dataType: "json",
				success: function (json) {
					var options = "";
					options += '<option> SELECIONE O POSTO </option>';					
					$.each(json, function (key, Posto) {
						options += '<option value="' + Posto.NumPosto + '">' + Posto.DesPosto + '</option>';
					});
					$("#cmbPosto").html(options);
				}
			});
		});

		$('body').on('keydown', 'input, select, textarea', function (e) {
			var self = $(this)
			  , form = self.parents('form:eq(0)')
			  , focusable
			  , next
			;

			var key = (window.event) ? e.keyCode : e.which;

			//alert(key);

			if (key == 13) {
				focusable = form.find('input,select,textarea').filter(':visible');
				next = focusable.eq(focusable.index(this) + 1);
				if (next.length) {
					next.focus();
				} else {
					focusable.click();
				}
				return false;
			}
		});
	});


</script>
}