﻿
@{
	ViewBag.Title = "Programa Diário";
	Layout = "~/Views/Shared/_Layout.cshtml";

	ViewBag.Sistema = "Outros";
	ViewBag.Rotina = "Programa de Produção";

	var mesAtual = DateTime.Now.AddDays(-DateTime.Now.Day).AddDays(1).ToString("MM/yyyy");


}
@Scripts.Render("~/bundles/excelexport")
@Scripts.Render("~/bundles/floatThead")
<link href="/Content/css/select2.min.css" rel="stylesheet" />

<div class="cabecalho_pp">
	<span>SEMP TOSHIBA AM</span><br />
	<span id="desFase">FECHAMENTO</span>
</div>
<h3>PROGRAMA DE PRODUÇÃO MENSAL</h3>

<style>
	.ui-datepicker-calendar {
		display: none;
	}

	.ui-datepicker {
		width: 200px !important;
	}

	#conteudo .ui-widget-header {
		background: transparent !important;
		border-color: #ddd !important;
	}

	.cabecalho_pp {
		display: none;
	}
	.legendaTexto{
		height: 20px;
		float:left;
		font-size:12px;
		margin-left: 5px;
	}
	.legenda{
		width: 16px;
		min-width: 16PX;
		height: 16px;
		margin-right: 5px;
	}
	.verde {background-color: green;}
	.vermelho {background-color: red;}
	.azul {background-color: blue;}
</style>
<style type="text/css" media="print">
	.cabecalho_pp {
		display: block;
	}

	#filtro {
		display: none;
	}

	h3 {
		text-align: center;
		margin-top: -20px;
	}
</style>

<div class="row" style="margin-left: 5px;" id="filtro">
	<div class="pull-left" style="width: 95px;">
		<label>Mês&#58;</label><br />
		<input type="text" name="datInicio" id="datInicio" value="@mesAtual" class="form-control input-sm monthcalendar" style="width: 83px;" />
	</div>
	<div class="pull-left" style="width: 115px;">
		<label>Fam&iacute;lia&#58;</label>
		<select name="Familia" id="Familia" class="form-control input-sm fabrica" style="width: 100px;">
			<option value="">TODOS</option>
			<option value="TV LCD">TV LCD</option>
			<option value="AUDIO">AUDIO</option>
			<option value="DVD">DVD</option>
			<option value="PA STI">INFOR</option>
			<option value="PCI STI">PCI STI</option>
			<option value="TV CRT">TV CRT</option>
		</select>
	</div>
	<div class="pull-left" style="width: 115px;">
		<label>Fase:</label>
		<select name="Fase" id="fase" class="form-control input-sm fabrica">
			<option value="F">MF</option>
			<option value="M">IMC</option>
			<option value="I">IAC</option>
		</select>
	</div>
	<div class="pull-left" style="width: 275px;">
		<label>Modelo&#58;</label><br />
		<div class="input-group">
			<input type="text" name="CodModelo" id="CodModelo" value="" class="form-control hidden" style="width: 60px;" />
			<select id="Descricao" name="Descricao" style="width:260px;"></select>
		</div>
	</div>
	<div class="pull-left" style="margin-top: 15px;">
		<span class="btn-group hidden-print" role="group">
			<a id="btnExportar" name="btnExportar" class="btn btn-success"><i class="glyphicon glyphicon-list-alt"></i> Exportar Excel</a>
			<a name="btnExcel" id="btnExcel" class="btn btn-success" onclick="GerarExcel();"><i class="glyphicon glyphicon-export"></i> Excel SAP</a>
			<a href="#" name="btnEnviar" id="btnEnviar" class="btn btn-primary" onclick="btnEnviar_Click();"><i class="glyphicon glyphicon-ok"></i> Consultar</a>
		</span>
	</div>
	<div class="pull-right">
		<span class="legendaTexto"><span class="legenda verde">&nbsp;&nbsp;&nbsp;</span>AP Lib.</span>
		<span class="legendaTexto"><span class="legenda azul">&nbsp;&nbsp;&nbsp;</span>AP Não Lib.</span>
		<span class="legendaTexto"><span class="legenda vermelho">&nbsp;&nbsp;&nbsp;</span>Sem AP</span>
	</div>
</div>

<div id="conteudo">
</div>
<div id="carregando" style="display: none;">
	<div style="position: relative; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; text-align: center; background-color: #000000; background-color: rgba(0, 0, 0, 0.14);">
		<img id="imgCarregando" src="/Images/carregando.gif" />
	</div>
</div>
<script src="~/Scripts/select2.min.js"></script>
<script type="text/javascript">
	var url = "";
	var urlPesquisa = '/Util/ObterModelosProgramaMes/?datPrograma=01/' + $("#datInicio").val();

	$(function () {
		$("#datInicio").datepicker({
			changeMonth: true,
			changeYear: true,
			showButtonPanel: true,
			dateFormat: 'mm/yy',

			onClose: function () {
				var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
				var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
				$(this).datepicker('setDate', new Date(iYear, iMonth, 1));
			}
		});


		$('#Descricao').select2({
			ajax: {
				url: function (params) {
					var data = $("#datInicio").val();
					data = "01/" + data;
					return '/Coleta/Util/ObterModelosData/?datPrograma=' + data;
				},
				dataType: 'json'
			},
			placeholder: 'Pesquise o Produto',
			theme: "classic",
			allowClear: true
		});

		$('#Descricao').on("change", function (e) { $("#CodModelo").val($("#Descricao").val()); });
		/*$("#CodModelo").blur(function () {
			$.ajax({
				type: "GET",
				url: "/Util/ObterDescricaoItem/",
				data: { CodItem: $("#CodModelo").val() },
				success: function (data) {
					$("#Descricao").val(data);
				}
			});
		});

		$("#Descricao").combogrid({
			debug: true,
			autoChoose: true,
			searchButton: true,
			colModel: [{ 'columnName': 'CodItem', 'width': '10', 'label': 'NE' }, { 'columnName': 'DesItem', 'width': '45', 'label': 'Descrição' }],
			url: urlPesquisa,
			//"select item" event handler to set input fields
			select: function (event, ui) {
				$("#Descricao").val(ui.item.DesItem);
				$("#CodModelo").val(ui.item.CodItem);
				return false;
			}
		});*/

		btnEnviar_Click();

	});

	$("#btnExportar").click(function () {
		var mesRef = $("#datInicio").val();
		var fase = $("#fase").val();
		var codLinha = "";
		var familia = $("#Familia").val();

		window.open("/Outros/ProgramaDia/ListaXLS/?mesRef=" + mesRef +
			"&fase=" + fase +
			"&codLinha=" + codLinha +
			"&familia=" + familia);

		/*$("#tblDados").btechco_excelexport({
			containerid: "tblDados",
			datatype: $datatype.MVC
		});*/
	});

	function btnEnviar_Click() {
		$("#conteudo").html($('#carregando').html());

		$.ajax({
			type: "GET",
			url: "/Outros/ProgramaDia/Meses/",
			data: {
				mesRef: $("#datInicio").val(),
				Fase: $("#fase").val(),
				Familia: $("#Familia").val(),
				codModelo: $("#CodModelo").val()
			},
			success: function (data) {
				$("#conteudo").html(data);
				$('td').tooltip();
				$("#tabs").tabs({
					beforeLoad: function (event, ui) {
						ui.jqXHR.fail(function () {
							ui.panel.html("Não foi possível carregar essa aba, tente novamente. ");
						});
					},
					activate: function (event, ui) {
						$("#datInicio").val($(ui.newTab).text());
					},
					load: function (event, ui) {
						$('table.table-semp').floatThead({
							useAbsolutePositioning: false,
							scrollingTop: 75
						});
					}
				});

				if ($("#fase").val() == "F") {
					$("#desFase").html("FECHAMENTO");
				} else if ($("#fase").val() == "M") {
					$("#desFase").html("IMC");
				} else if ($("#fase").val() == "I") {
					$("#desFase").html("IAC");
				}

			},
			error: function (data) {
				$("#conteudo").html(data.responseText);
			}
		});
	}


	function GerarExcel(codModelo) {

		document.location.href = "/Outros/ProgramaDia/ListaSAP/?mesRef=" + $("#datInicio").val();

	}
	@{
		if (!String.IsNullOrEmpty(ViewBag.mensagem))
		{
			WriteLiteral("alert('" + ViewBag.mensagem + "');");
		}
	}

</script>
