﻿@using SEMP.Model.DTO
@model IEnumerable<SEMP.Model.VO.PM.ProgModelos>

@{
	var data = (DateTime)ViewBag.Data;

	var maxMes = 31;

	switch (data.Month)
	{
		case 2:
			maxMes = 28;
			break;
		case 11:
		case 9:
		case 6:
		case 4:
			maxMes = 30;
			break;
	}

	var programa = (List<ProgDiaJitDTO>)ViewBag.Programa;

}

@helper MontaMes(int dia)
{
	var classe = "";
	try
	{
		var diasemana = DateTime.Parse(String.Format("{0}/{1}", dia.ToString().PadLeft(2, '0'), ((DateTime)ViewBag.Data).ToString("MM/yyyy")));
		var qtdProg = ((List<ProgDiaJitDTO>)ViewBag.Programa).Where(x => x.DatProducao.Day == dia).Count();

		if (diasemana.DayOfWeek == DayOfWeek.Saturday || diasemana.DayOfWeek == DayOfWeek.Sunday)
		{
			classe = "fds";
		}
		if (qtdProg > 0)
		{
			classe = "";

		}
		
		<th class="colDia @classe">@diasemana.ToString("ddd") <br />@dia.ToString().PadLeft(2, '0')</th>
	}
	catch (Exception)
	{
		<th class="colDia">@dia.ToString().PadLeft(2, '0')</th>
	}
}


@helper ObterValorDia(IEnumerable<ProgDiaJitDTO> programa, int dia, string codFab, string codModelo, string codLinha, int numTurno, string flagTP)
{
	var progdia = programa.FirstOrDefault(x =>
		x.DatProducao.Day == dia &&
		x.CodFab.Equals(codFab) &&
		x.CodModelo.Equals(codModelo) &&
		x.CodLinha.Equals(codLinha) &&
		x.NumTurno == numTurno &&
		x.FlagTP == flagTP);

	var classe = "";
	try
	{
		var diasemana = DateTime.Parse(String.Format("{0}/{1}", dia.ToString().PadLeft(2, '0'), ((DateTime)ViewBag.Data).ToString("MM/yyyy")));
		var qtdProg = programa.Where(x => x.DatProducao.Day == dia).Count();

		if (diasemana.DayOfWeek == DayOfWeek.Saturday || diasemana.DayOfWeek == DayOfWeek.Sunday)
		{
			classe = "fds";
		}
		if (qtdProg > 0)
		{
			classe = "";
		}
	}
	catch
	{
	}

	if (progdia != null)
	{
		var qtd = progdia.QtdProducao ?? progdia.QtdProdPm;
		var cor = !String.IsNullOrEmpty(progdia.CorPrograma) ? progdia.CorPrograma : "";

		<td class="colDia @classe" title="@progdia.Observacao" style="color: @cor; text-align: center;">@qtd</td>
	}
	else
	{
		<td class="colDia @classe"></td>
	}
}

@helper ObterTotalDia(IEnumerable<ProgDiaJitDTO> programa, int dia, string codFab, string codLinha, int numTurno)
{
	var total = programa.Where(x =>
		x.DatProducao.Day == dia &&
		x.CodFab.Equals(codFab) &&
		x.CodLinha.Equals(codLinha) &&
		x.NumTurno == numTurno).Sum(x => x.QtdProducao ?? x.QtdProdPm);
	var classe = "";
	try
	{
		var diasemana = DateTime.Parse(String.Format("{0}/{1}", dia.ToString().PadLeft(2, '0'), ((DateTime)ViewBag.Data).ToString("MM/yyyy")));
		var qtdProg = programa.Where(x => x.DatProducao.Day == dia).Count();

		if (diasemana.DayOfWeek == DayOfWeek.Saturday || diasemana.DayOfWeek == DayOfWeek.Sunday)
		{
			classe = "fds";
		}
		if (qtdProg > 0)
		{
			classe = "";
		}
	}
	catch (Exception)
	{
	}
	if (total != null && total > 0)
	{
		
		<td class="colDia @classe">@total</td>
	}
	else
	{
		<td class="colDia @classe"></td>
	}
}

@helper ObterTotalDiaGeral(IEnumerable<ProgDiaJitDTO> programa, int dia)
{
	var total = programa.Where(x =>
		x.DatProducao.Day == dia).Sum(x => x.QtdProducao ?? x.QtdProdPm);
	var classe = "";
	try
	{
		var diasemana = DateTime.Parse(String.Format("{0}/{1}", dia.ToString().PadLeft(2, '0'), ((DateTime)ViewBag.Data).ToString("MM/yyyy")));
		var qtdProg = programa.Where(x => x.DatProducao.Day == dia).Count();

		if (diasemana.DayOfWeek == DayOfWeek.Saturday || diasemana.DayOfWeek == DayOfWeek.Sunday)
		{
			classe = "fds";
		}
		if (qtdProg > 0)
		{
			classe = "";
		}
	}
	catch (Exception)
	{
	}
	if (total != null && total > 0)
	{

		<td class="colDia @classe">@total</td>
	}
	else
	{
		<td class="colDia @classe"></td>
	}
}
<style>
	.table-semp tr.programalinha td
	{
		background-color: #7AB317;
		color: #000;
		font-weight: bold;
	}
	.familia td
	{
		border-top: solid 1px #000000 !important;
		border-bottom: solid 1px #000000 !important;
		font-weight: bold !important;
		font-size: 14px !important;
		padding-left: 5px;
		background-color: #fff
	}

	.table-semp caption
	{
		font-size: 12px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-weight: bold;
	}

	.table-semp tr.programaproduto td a
	{
		text-decoration: none;
		color: black;
	}


	.table-semp tr.programatotaldia
	{
		background-color: white !important;
		color: white;
		border-bottom: 1px solid #000;
		border-top: 1px solid #000;
	}
	.table-semp tr.programatotaldia td
	{
		font-weight: bold !important;
	}

	table.table-semp tbody tr td
	{
		padding: 3px !important;
	}

	.bold
	{
		font-weight: bold;
	}

	.table-semp
	{
		width: auto !important;
	}

	.colDia
	{
		width: 38px !important;
		text-align: center !important;
	}

	.fds
	{
		background-color: #ccc !important;
		display: none;
	}

	.colFab
	{
		width: 40px !important;
		text-align: center !important;
	}

	.colModelo
	{
		width: auto !important;
	}

	.colTurno
	{
		width: 15px !important;
	}

	.colCapac
	{
		width: 60px !important;
		text-align: center !important;
	}

	.colTotalMes
	{
		width: 70px !important;
		text-align: center !important;
	}

	.colDiferenca
	{
		width: 55px !important;
		text-align: center !important;
	}

	.diferente
	{
		color: red !important;
	}
</style>

	<table id="tblDados" class="table-semp gray smallrow">
		<caption style="color: blue;">@data.ToString("Y").ToUpper()</caption>
		<thead>
			<tr>
				<th class="colFab">Fáb.</th>                
				<th class="colModelo">Modelo</th>
                <th class="colTipo">Tipo</th>
				<th class="colTurno">T</th>
				<th class="colCapac">Capac.</th>
				<th class="colTotalMes">PP Mês</th>
				<th class="colDiferenca">Difer.</th>
				@for (var dia = 1; dia <= maxMes; dia++)
				{
					@MontaMes(dia)
				}

				<th class="colTotalMes">Total</th>
			</tr>
		</thead>
		<tbody>
			@if (Model.Any())
			{
				try
				{
					var linha = "";
					var fab = "";
					var turno = 0;

					foreach (var item in Model)
					{

						var ppModelo = programa.Where(x => x.CodModelo == item.CodModelo).Sum(x => x.QtdProducao ?? x.QtdProdPm);
						var capac = item.QtdCapacidade ?? 0;
						var totalmes = item.QtdPlanoMes ?? 0;
						var diferenca = (ppModelo ?? 0) - (item.QtdPlanoMes ?? 0);
						var classDiferente = "";
						if (diferenca != 0)
						{
							classDiferente = "diferente";
						}

						if (linha != item.CodLinha)
						{
							if (!linha.Equals(String.Empty))
							{
								<tr class="programatotaldia">
									<td colspan="7"><b>Total</b></td>
									@for (var dia = 1; dia <= maxMes; dia++)
									{
										@ObterTotalDia(programa, dia, item.CodFab, linha, item.NumTurno)
									}
									<td class="colTotalMes">@programa.Where(x => x.CodLinha == linha).Sum(x => x.QtdProducao ?? x.QtdProdPm)</td>
								</tr>
							}

							linha = item.CodLinha;
							fab = item.CodFab;
							turno = item.NumTurno;
							<tr class="familia">
								<td colspan="39">@item.CodLinha @item.DesLinha</td>
							</tr>
						}
						<tr class="programaproduto hover">
							<td class="colFab">@Html.DisplayFor(modelItem => item.CodFab)</td>
							<td class="colModelo">@Html.DisplayFor(modelItem => item.CodModelo)-@Html.DisplayFor(modelItem => item.DesModelo)</td>
                            <td class="colTurno">@Html.DisplayFor(modelItem => item.FlagTP)</td>
                            <td class="colTurno">@Html.DisplayFor(modelItem => item.NumTurno)</td>
							<td class="colCapac">@capac.ToString("N0")</td>
							<td class="colTotalMes">@totalmes.ToString("N0")</td>
							<td class="colDiferenca @classDiferente">@diferenca.ToString("N0")</td>
							@for (var dia = 1; dia <= maxMes; dia++)
							{
								@ObterValorDia(programa, dia, item.CodFab, item.CodModelo, item.CodLinha, item.NumTurno, item.FlagTP)
							}
							<td class="colTotalMes">@item.QtdPrograma</td>
						</tr>
					}
					<tr class="programatotaldia">
						<td colspan="7"><b>Total</b></td>
						@for (var dia = 1; dia <= maxMes; dia++)
						{
							@ObterTotalDia(programa, dia, fab, linha, turno)
						}
						<td class="colTotalMes">@programa.Where(x => x.CodLinha == linha).Sum(x => x.QtdProducao ?? x.QtdProdPm)</td>
					</tr>
				}
				catch (Exception ex)
				{
					<tr>
						<td>Erro ao processar solicitação.</td>
						<td colspan="40">Descrição do erro: @ex.Message</td>
					</tr>
				}
			}
		</tbody>
		<tfoot>
			<tr class="programatotaldia" style="color: black; font-size: 10px;">
				<th colspan="7" style="text-align: left;"><b>Total Geral</b></th>
				@for (var dia = 1; dia <= maxMes; dia++)
				{
					@ObterTotalDiaGeral(programa, dia)
				}
				<th class="colTotalMes">@programa.Sum(x => x.QtdProducao ?? x.QtdProdPm)</th>
			</tr>

		</tfoot>

	</table>

<br/><br/>