﻿@model IEnumerable<SEMP.Model.DTO.ProgDiaJitDTO>
<html xmlns:v="urn:schemas-microsoft-com:vml"
	  xmlns:o="urn:schemas-microsoft-com:office:office"
	  xmlns:x="urn:schemas-microsoft-com:office:excel"
	  xmlns="http://www.w3.org/TR/REC-html40">
<head>
	<meta http-equiv=Content-Type content="text/html; charset=us-ascii">
	<meta name=ProgId content=Excel.Sheet>
	<meta name=Generator content="Microsoft Excel 14">
	<style>
		.xl67
			{mso-style-parent:style0;
			mso-number-format:"\@{WriteLiteral("@");}";
			white-space:normal;}
	</style>
</head>
<body link=blue vlink=purple>
	<table>
		<thead>
			<tr>
				<th>MATERIAL</th>
				<th>MRP_AREA</th>
				<th>PLANT</th>
				<th>REQU_TYPE</th>
				<th>VERSION</th>
				<th>VERSION_ACTIV</th>
				<th>REQ_NUMBER</th>
				<th>DATE_TYPE</th>
				<th>REQ_DATE</th>
				<th>REQ_QTY</th>
				<th>UNIT</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				var centro = item.CodFab == "60" ? "1011" : "1031";
				var data = item.DatProducao.ToShortDateString().Replace('/', '.');
				var tipo = "1011PA0001";
				if (!item.CodModelo.StartsWith("9"))
				{
					tipo = "ZSEMDAT001";
				}

				<tr>
					<td>@Html.DisplayFor(modelItem => item.CodModelo)</td>
					<td>@centro</td>
					<td>@centro</td>
					<td>LSF</td>
					<td class=xl67>00</td>
					<td>X</td>
					<td>@tipo</td>
					<td>1</td>
					<td>@data</td>
					<td>@item.QtdProdPm.Value.ToString("N0").Replace(".", "")</td>
					<td>PC</td>
				</tr>
			}
		</tbody>
	</table>
</body>
</html>
